﻿@using IEMQSImplementation
@model QMS030

@{
    ViewBag.Title = "View Header";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/app.min.js"></script>

<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>*@

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
@Styles.Render("~/Content/Datatable/css")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .ui-autocomplete {
        overflow: auto;
        height: auto;
    }
</style>
<script>
    $(document).ready(function () {

        $("#txtProject").val('@ViewBag.Project');
        $("#txtLocation").val('@ViewBag.Location');
        $("#txtBU").val('@ViewBag.BU');

        GetHeaderGridDataPartial('Pending');
        $('a[name="tabStatus"]').click(function () {
            GetHeaderGridDataPartial($(this).attr('spara'));
        });
        $("#txtQualityProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/MaintainSeamICL/GetQualityProjectDetails",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectCode + "(" + item.Text + ")", value: item.projectCode, id: item.Value + "#" + item.Text };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    $(this).val(ui.item.id);
                    var qproject = ui.item.id.split("#")[0];
                    var location = ui.item.id.split("#")[1];
                    $("#QualityProject").val(qproject);
                    FetchQualityProjectwiseDetails(qproject, location)
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $("#QualityProject").val('');
                    $(this).val('');
                    $(this).focus();
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });
    });
    function FetchQualityProjectwiseDetails(qualityProject, location) {
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamICL/FetchQualityProjectwiseDetails",
            dataType: "json",
            type: "POST",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { qualityProject: qualityProject, location: location },
            success: function (data) {
                $("#Project").val(data.ProjectCode);
                $("#BU").val(data.BUCode);
                $("#Location").val(data.LocationCode);
                $("#txtProject").val(data.Project);
                $("#txtLocation").val(data.Location);
                $("#txtBU").val(data.BU);
                $("#tabPending").trigger("click");
            }
        });
    }

    function GetHeaderGridDataPartial(status) {
        $("#dvTestPlanLineDetails").hide();
        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/ApproveICLSeam/LoadHeaderPartial",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { status: status, qualityProject: $("#QualityProject").val() , },
            success: function (result) {
                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                }
                else {
                    $("#portlet_comments_2").html(result);
                }
            },
            error: function () {
            }
        });
    }

    var PTCApplicable = "@Model.PTCApplicable";
    if (PTCApplicable.toString() == "True") {
        $("#PTCApplicable").text('Yes');
    } else {
        $("#PTCApplicable").text('No');
    }


</script>
<div class="page-content">
    <div class="portlet light ">

        <div class="form-body">
            <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                    <span class="page-title">Approve ICL Seam</span>
                </div>
                @*@{
                    if (!string.IsNullOrWhiteSpace(Model.Status))
                    {
                        <div class="ribbon ribbon-right ribbon-color-warning">
                            <span style="font-weight:bolder">
                                Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span>
                            </span>
                        </div>
                    }
                }*@
            </div>
            <div id="dvHeader">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
                {
                    @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
                    @Html.HiddenFor(m => m.Status)

                    <div class="form-group">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>Project Detail</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">Quality Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.QualityProject, new { @id = "txtQualityProject", @class = "form-control col-md-3" })
                                                @Html.HiddenFor(m => m.QualityProject)
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.Project, new { @id = "txtProject", @class = "form-control col-md-3", @readonly = "readonly" })
                                                @Html.HiddenFor(m => m.Project)
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">BU</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BU, new { @id = "txtBU", @class = "form-control col-md-3", @readonly = "readonly" })
                                                @Html.HiddenFor(m => m.BU, new { @id = "hdBU" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">Location</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Location, new { @id = "txtLocation", @class = "form-control col-md-3", @readonly = "readonly" })
                                                @Html.HiddenFor(m => m.Location)
                                            </div>
                                        </div>
                                        @*<div class="col-md-4">
                                                <label class="control-label">Seam No.</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.SeamNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">Quality Id<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.QualityId, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <div class="col-md-12" style="text-align:right;">
                                        <div class="col-md-12">
                                            <a href="/IPI/ApproveICLSeam/Index" class="btn red">Close</a>
                                        </div>
                                    </div>
                                </div>*@

                                @*<div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="control-label">Quality Id Rev</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.QualityIdRev, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="control-label">PTC Applicable<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.PTCApplicable, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">PTC Number<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.PTCNumber, new { @class = "form-control col-md-3", @maxLength = "12", @readonly = "readonly" })
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="control-label">Test Plan Revision No.</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                
                                <div class="portlet light">
                                    <div class="portlet-title tabbable-line">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                                            </li>
                                            <li>
                                                <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="portlet_comments_1">

                                            </div>
                                            <div class="tab-pane" id="portlet_comments_2">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                @*<div class="col-md-12">
                                    <div id="dvTestPlanLineDetails">

                                    </div>
                                </div>*@

                                @*<div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-6"></div>
                                            <div class="col-md-6" style="text-align:right;margin-top:30px;">
                                                @{
                                                    if (Model.Status == clsImplementationEnum.TestPlanStatus.SendForApproval.GetStringValue())
                                                    {
                                                        <button class="btn green-dark" type="button" id="btnApprove">Approve</button>
                                                        @*<button class="btn red" type="button" id="btnReturn">Return</button>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>*@
                            </fieldset>
                        </div>
                    </div>


                    @*<div class="form-group">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>Project Detail</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">Quality Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.QualityProject, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">BU</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">Location</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Seam No.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.SeamNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">PTC Applicable<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.PTCApplicable, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">PTC Number<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.PTCNumber, new { @class = "form-control col-md-3", @maxLength = "12", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Test Plan Revision No.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">ICL Revision No.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-6"></div>
                                        <div class="col-md-6" style="text-align:right;margin-top:30px;">
                                            @{
                                            if (Model.Status == clsImplementationEnum.TestPlanStatus.SendForApproval.GetStringValue())
                                                {
                                                    <button class="btn green-dark" type="button" id="btnApprove">Approve</button>
                                                    @*<button class="btn red" type="button" id="btnReturn">Return</button>*@
                    @*}
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>*@
                }
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div id="dvTestPlanLineDetails" >
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    Stages
                                </div>
                                <div class="tools" id="dvExportLines">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/ApproveICLSeam/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLines" })
                                </div>
                            </div>
                            <div class="portlet-body">

                                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblICLSeam" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="none" style="display: none">Sr. No.</th>
                                            <th class="min-phone-l">Stage Code</th>
                                            <th class="min-phone-l">Stage Seq.</th>
                                            <th class="min-phone-l">Acceptance Standard</th>
                                            <th class="min-phone-l">Applicable Specification</th>
                                            <th class="min-phone-l">InspectionExtent</th>
                                            <th class="none" style="display: none">Parallel</th>
                                            <th class="min-phone-l">Status</th>
                                            <th class="min-phone-l">Remarks</th>
                                            <th class="min-phone-l">Protocol</th>
                                            <th class="min-phone-1">Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-12" style="text-align:right;">
                    <a href="/IPI/ApproveICLSeam/Index" class="btn red">Cancel</a>
                </div>*@
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btnApprove").click(function () {
            ApproveICL();
        });
    });
    function GetTestPlanLinePartial(headerID) {
        
        //$("#dvTestPlanLineDetails").empty();
        
        var table = $('#tblICLSeam');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/ApproveICLSeam/LoadICLSeamLineGridData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": headerID }
                            //{ "name": "UserTypeId", "value": $('#ddlUserTypeList').val()}
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        if (data.iTotalRecords > 0) {
                            if ('@Model.Status' == 'Sent for Approval') {
                                $("#btnSendForApproval").hide();
                            }
                            else {
                                $("#btnSendForApproval").show();
                            }
                        }
                        else {
                            $("#btnSendForApproval").hide();
                        }
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [

                {
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                 {
                     "bSortable": false,
                     "sClass": "center"
                 },

                  {
                      "bSortable": false,
                      "sClass": "center"
                  },

                   {
                       "bSortable": false,
                       "sClass": "center"
                   },

                    {
                        "bSortable": false,
                        "sClass": "center"
                    },
                    {
                        "bSortable": false,
                        "sClass": "center"
                    },
                    {

                        "bSortable": false,
                        "sClass": "center"
                    },
            ]
        });

        
    }

    function ShowProtocol(protocolURL) {
        window.open(protocolURL, "_target");
    }

    function CheckTPIDetails(headerId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/ApproveICLSeam/LoadTPIData",
            datatype: 'html',
            async: false,
            data: { headerId: headerId },
            success: function (result) {
                bootbox.dialog({
                    title: 'TPI Agency And Intervention',
                    message: result,
                    size: 'large',
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn green',
                            callback: function () {
                                if ($("#frmTPIData").valid()) {
                                    var formData = new FormData();
                                    var frmValues = $('#frmTPIData').serializeArray();
                                    $.each(frmValues, function (key, input) {
                                        formData.append(input.name, input.value);
                                    });
                                    $.ajax({
                                        url: WebsiteURL + '/IPI/ApproveICLSeam/SaveTPI',
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        type: 'POST',
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                        }
                                    });
                                }
                                else {
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn green'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function ApproveICL() {
        bootbox.confirm({
            message: "Do you want to approve this Doucment?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        type: "POST",
                        url: WebsiteURL + "/IPI/ApproveICLSeam/ApproveICLSeam",
                        datatype: 'json',
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        data: { strHeaderId: parseInt('@Model.HeaderId') },
                        success: function (data) {
                            if (data.Key) {
                                DisplayNotiMessage("success", data.Value, "Success");
                                window.location.href = WebsiteURL + '/IPI/ApproveICLSeam/Index';
                            }
                            else {
                                if (data.tpi == "AddTPI") {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                    CheckTPIDetails(parseInt('@Model.HeaderId'));
                                }
                                else { DisplayNotiMessage("error", data.Value, "Error"); }
                            }
                        },
                        error: function () {
                        }
                    });
                }
            }
        });
    }
    
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>