﻿
@{
    ViewBag.Title = "Maintain Config";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Datatable/css")
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script>
    $(document).ready(function () {
        parameterList = [];
        var Columns = [
               { "sClass": "hide", "bSortable": false },
               { "sClass": "center", "name": "Description" },
               { "sClass": "center fieldValue", "name": "Value" },
               { "sClass": "center", "name": "Responsible" },
               { "sClass": "center", "name": "EditedBy" },
               { "sClass": "center", "name": "EditedOn" },
               { "sClass": "center text-nowrap", "bSortable": false }
        ];
        LoadGridTables("tblConfig", Columns, "/Authorization/MaintainConfig/loadConfigDataTable", []);
    });

    function EditRecord(Id) {
       
        if ($('#Edit' + Id).html() == '<i class="fa fa-save"></i> Save') {
            var formdata = new FormData();
            formdata.append("Id", Id);
            SaveLineData(formdata, "/Authorization/MaintainConfig/SaveConfig", "tblConfig", "btnNew");
        }
        else { 
            ResetRecord();
            $('#Edit' + Id).html('<i class="fa fa-save"></i> Save');
            var field = $('#Edit' + Id).parent().parent().find(".fieldValue");
            $('#Edit' + Id).parent().append("<a title='Cancel' class='btn btn-outline btn-circle btn-sm blue' onclick='ResetRecord()' ><i class='fa fa-times'></i> Cancel</a>")
            field.html('<input id="Value' + Id + '" value="' + field.html() + '" oldvalue="' + field.html() + '" colname="Value" name="Value' + Id + '" class="form-control">')
        }
    }
    function ShowNewLineRecord(btnNew) {
        // no action
    }

    function ResetRecord() {
        $('#tblConfig').find("input[colname=Value]").each(function (index) {
            $(this).parent().html($(this).attr("oldvalue"));
        });
        $('#tblConfig').find("a[title='Edit Record']").html('<i class="fa fa-edit"></i> Edit');
        $('#tblConfig').find("a[title='Cancel']").remove();
    }
</script>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="page-title">
                                Maintain Configration
                                <small></small>
                            </h1>
                        </div>
                        @*<div class="col-md-6" style="text-align:right">
                                <a id="btnAddNew" href="~/TCP/MaintainTCP/GenerateQuery" style="float: right;" class="btn green">Add New</a>
                            </div>*@
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="load_grid_data">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Configration List
                                    </div>
                                    <div class="tools" id="dvExportHeader">
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblConfig" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="hide">ID</th>
                                                <th class="all">Description</th>
                                                <th class="all">Value</th>
                                                <th class="all">Responsible</th>
                                                <th class="all">Edited By</th>
                                                <th class="all">Edited On</th>
                                                <th class="all">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>