﻿@using IEMQSImplementation

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @{
                        string strTBSTitle = "Projects";
                    }
                    @strTBSTitle
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/TBS/Approve/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblTBSHeader" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th class="min-phone-l">Project</th>
                            <th class="all">Document</th>
                            <th class="all">Customer</th>
                            @*
                                <th class="all">CDD</th>*@
                            <th class="all">Product</th>
                            <th class="all">Process Licensor</th>
                            <th class="all">Rev.</th>
                            <th class="all">Status</th>
                            <th class="none">Submitted By</th>
                            <th class="none">Submitted On</th>
                            <th class="none">Approved By</th>
                            <th class="none">Approved On</th>
                            <th class="all">Action</th>

                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-12" style="text-align:right;">
        <button id="btnApprove" type="button" class="btn green">Approve</button>
    </div>
</div>

<script>

    $(document).ready(function () {
        var isVisible = false;
        $("#btnApprove").click(function () {
            var arrayHeaderIds = new Array();
            // Iterate over all checkboxes in the table
            $('input[class="clsCheckbox"]', $('#tblTBSHeader')).each(function () {
                if (this.checked) {
                    arrayHeaderIds.push(this.value);
                }
            });
            if (arrayHeaderIds.length > 0) {
                var strHeaderIds = arrayHeaderIds.join(",");
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/TBS/Approve/ApproveSelectedTBS",
                    datatype: 'json',
                    async: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    data: { strHeaderIds: strHeaderIds },
                    success: function (data) {
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                            $(".example-select-all").prop('checked', false);
                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                        $('#tblTBSHeader').DataTable().ajax.reload();

                    },
                    error: function () {
                    }
                });
            }
            else {
                DisplayNotiMessage("error", "Please select header first", "Error");
            }
        });

        var table = $('#tblTBSHeader');
        var oTableHeaderLines = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/TBS/Approve/LoadTBSHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        if (data.iTotalRecords > 0) {
                            $("#btnApprove").show();
                            isVisible = true;
                        }
                        else {
                            $("#btnApprove").hide();
                            isVisible = false;
                        }
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    'targets': 0,
                    //"bSortable": false,
                    "sClass": "center",
                    'render': function (data, type, full, meta) {
                        return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                    }
                },
                {
                    "name": "Project",
                    "sClass": "center",
                },
                {
                    "name": "Document",
                    "sClass": "center"
                },
     {
                    "name": "Customer",
                    "sClass": "center"
                },
                 {
                     "name": "Product",
                     "sClass": "center"
                 },
                {
                    "name": "ProcessLicensor",
                    "sClass": "center"
                },
                {
                    "name": "RevNo",
                    "sClass": "center",
                    "attr": "numeric",
                },
                {
                    "name": "Status",
                    "sClass": "center",
                    "attr": "string",
                },

                {
                    "name": "SubmittedBy",
                    "sClass": "center"
                },
                {
                    "name": "SubmittedOn",
                    "sClass": "center"
                },
                {
                    "name": "ApprovedBy",
                    "sClass": "center"
                },
                {
                    "name": "ApprovedOn",
                    "sClass": "center"
                },
                {
                    "sClass": "center",
                },

            ]
        });
        table.dtSearchFilter();

        if ('@ViewBag.Status' == "Pending" && isVisible == true) {
            oTableHeaderLines.api().column(0).visible(true);
            $("#btnApprove").show();
        }
        else {
            oTableHeaderLines.api().column(0).visible(false);
                setTimeout(function () {
                    $('#tblTBSHeader_wrapper thead tr:first th:eq(0)').hide();
            }, 100);

            $("#btnApprove").hide();
        }

        $('#example-select-all').on('click', function () {
            var rows = oTableHeaderLines.api().rows({ 'search': 'applied' }).nodes();
            $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
        });

        // Handle click on checkbox to set state of "Select all" control
        $('#tblTBSHeader tbody').on('change', 'input[type="checkbox"]', function () {
            // If checkbox is not checked
            if (!this.checked) {
                var el = $('#example-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if (el && el.checked && ('indeterminate' in el)) {
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });
    });

</script>
