body,
html {
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    color: #007db8;
    margin-bottom: 0;
    font-weight: 600;
}
h1 span {
    font-size: 25px;
}
h2 {
    color: #fff;
    font-size: 41px;
    font-weight: 400;
}

.header {
    padding:10px 20px;
    background: #ffffff;
    position: absolute;
    left: 0;
    z-index: 99;
    width: 100%;
    top: 0;
}
.logo{
    width: 200px;
}
.slider {
    position: relative;
    height: 100vh;
    padding-top: 83px;
}

.slider .carousel :after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(24, 88, 125, 0.34);
    left: 0;
    top: 0;
}

.slider-text {
    position: absolute;
    top: 53%;
    -webkit-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}

.card-body h3 {
    margin-bottom: 30px;
    font-size: 30px;
}

.card {
    border-radius: 0;
    padding: 70px 37px;
}

.btn {
    background: #18587d;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 1em;
    padding: 11px 23px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.btn:hover {
    color: #fff;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-transition: 0.5s;
    transition: 0.5s;

}

.carousel,
.carousel-inner,
.carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #18587d;
    padding: 10px 0;
}

.footer p {
    font-size: 14px;
    margin-bottom: 0;
    color: #fff;
}

.form-control {
    padding: 8px 10px;
    background-color: #fbfbfb;
    font-size: 15px;
}

input.username {
    /*background-image: url(../img/user.png);*/
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 97% 50%;
}

input.password {
    /*background-image: url(../img/password.png);*/
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: 97% 50%;
}

.carousel-fade .carousel-item {
    display: block;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity .75s ease-in-out;
    transition: opacity .75s ease-in-out;
}

.carousel-fade .carousel-item.active {
    opacity: 1;
}
h2 span {
    font-size: 50px;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;
    top: 50%;
    text-align: center;
    color: #fff;
    font-size: 30px;
    display:none;
}

.loader-overlay:before {
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0,0,0,0.5);
    z-index: 999;
    height: 100%;
    position: absolute;
}

.loader-overlay .overlay {
    display: block;
}