﻿@model IEMQSImplementation.WPS010
@using IEMQSImplementation

<script>

    $('input[type="text"],textarea').attr("readonly", "readonly");
    if ('@Model.PositionofGrooveTTSJointWeldingProcess1' != '' && '@Model.PositionofGrooveTTSJointWeldingProcess1' != "null" && '@Model.PositionofGrooveTTSJointWeldingProcess1' != null) { $("#txtPositionofGrooveTTSJointWeldingProcess1").val('@ViewBag.PositionofGrooveTTSJointWeldingProcess1') }
    if ('@Model.PositionofGrooveTTSJointWeldingProcess2' != '' && '@Model.PositionofGrooveTTSJointWeldingProcess2' != "null" && '@Model.PositionofGrooveTTSJointWeldingProcess2' != null) { $("#txtPositionofGrooveTTSJointWeldingProcess2").val('@ViewBag.PositionofGrooveTTSJointWeldingProcess2') }
    if ('@Model.PositionofGrooveTTSJointWeldingProcess3' != '' && '@Model.PositionofGrooveTTSJointWeldingProcess3' != "null" && '@Model.PositionofGrooveTTSJointWeldingProcess3' != null) { $("#txtPositionofGrooveTTSJointWeldingProcess3").val('@ViewBag.PositionofGrooveTTSJointWeldingProcess3') }
    if ('@Model.PositionofGrooveTTSJointWeldingProcess4' != '' && '@Model.PositionofGrooveTTSJointWeldingProcess4' != "null" && '@Model.PositionofGrooveTTSJointWeldingProcess4' != null) { $("#txtPositionofGrooveTTSJointWeldingProcess4").val('@ViewBag.PositionofGrooveTTSJointWeldingProcess4') }
    if ('@Model.WeldingProgressionWeldingProcess1' != '' && '@Model.WeldingProgressionWeldingProcess1' != "null" && '@Model.WeldingProgressionWeldingProcess1' != null) { $("#txtWeldingProgressionWeldingProcess1").val('@ViewBag.WeldingProgressionWeldingProcess1') }
    if ('@Model.WeldingProgressionWeldingProcess2' != '' && '@Model.WeldingProgressionWeldingProcess2' != "null" && '@Model.WeldingProgressionWeldingProcess2' != null) { $("#txtWeldingProgressionWeldingProcess2").val('@ViewBag.WeldingProgressionWeldingProcess2') }
    if ('@Model.WeldingProgressionWeldingProcess3' != '' && '@Model.WeldingProgressionWeldingProcess3' != "null" && '@Model.WeldingProgressionWeldingProcess3' != null) { $("#txtWeldingProgressionWeldingProcess3").val('@ViewBag.WeldingProgressionWeldingProcess3') }
    if ('@Model.WeldingProgressionWeldingProcess4' != '' && '@Model.WeldingProgressionWeldingProcess4' != "null" && '@Model.WeldingProgressionWeldingProcess4' != null) { $("#txtWeldingProgressionWeldingProcess4").val('@ViewBag.WeldingProgressionWeldingProcess4') }
    if ('@Model.PositionoffilletWeldingProcess1' != '' && '@Model.PositionoffilletWeldingProcess1' != "null" && '@Model.PositionoffilletWeldingProcess1' != null) { $("#txtPositionoffilletWeldingProcess1").val('@ViewBag.PositionoffilletWeldingProcess1') }
    if ('@Model.PositionoffilletWeldingProcess2' != '' && '@Model.PositionoffilletWeldingProcess2' != "null" && '@Model.PositionoffilletWeldingProcess2' != null) { $("#txtPositionoffilletWeldingProcess2").val('@ViewBag.PositionoffilletWeldingProcess2') }
    if ('@Model.PositionoffilletWeldingProcess3' != '' && '@Model.PositionoffilletWeldingProcess3' != "null" && '@Model.PositionoffilletWeldingProcess3' != null) { $("#txtPositionoffilletWeldingProcess3").val('@ViewBag.PositionoffilletWeldingProcess3') }
    if ('@Model.PositionoffilletWeldingProcess4' != '' && '@Model.PositionoffilletWeldingProcess4' != "null" && '@Model.PositionoffilletWeldingProcess4' != null) { $("#txtPositionoffilletWeldingProcess4").val('@ViewBag.PositionoffilletWeldingProcess4') }

    if (WP1 == false) {
        $("#txtPositionofGrooveTTSJointWeldingProcess1,#txtWeldingProgressionWeldingProcess1,#txtPositionoffilletWeldingProcess1,#MaxDepositedWeldMetalThkWeldingProcess1,#GrooveWeldingProcess1").prop("disabled", "disabled");
    }
    if (WP2 == false) {
        $("#txtPositionofGrooveTTSJointWeldingProcess2,#txtWeldingProgressionWeldingProcess2,#txtPositionoffilletWeldingProcess2,#MaxDepositedWeldMetalThkWeldingProcess2,#GrooveWeldingProcess2").prop("disabled", "disabled");
    }
    if (WP3 == false) {
        $("#txtPositionofGrooveTTSJointWeldingProcess3,#txtWeldingProgressionWeldingProcess3,#txtPositionoffilletWeldingProcess3,#MaxDepositedWeldMetalThkWeldingProcess3,#GrooveWeldingProcess3").prop("disabled", "disabled");
    }
    if (WP4 == false) {
        $("#txtPositionofGrooveTTSJointWeldingProcess4,#txtWeldingProgressionWeldingProcess4,#txtPositionoffilletWeldingProcess4,#MaxDepositedWeldMetalThkWeldingProcess4,#GrooveWeldingProcess4").prop("disabled", "disabled");
    }

</script>

<div class="row" style="width:100%">
    <div class="col-md-12">
        <form id="frmGrooveF1" class="form-horizontal">
            <div class="form-group">
                <fieldset>
                    <legend>Base Metal(QW-403) </legend>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">Parent/T#TS Material 1<span class="required"> * </span></label>
                            @Html.TextBoxFor(m => m.ParentMaterial1, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Group No 1</label>
                            @Html.TextBoxFor(m => m.GroupNo1, new { @class = "form-control col-md-3", @maxlength = "7" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Specification/Grade 1</label>
                            @Html.TextBoxFor(m => m.Specification1Grade1, new { @class = "form-control col-md-3", @maxlength = "30" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">Parent/T#TS Material 2<span class="required"> * </span></label>
                            @Html.TextBoxFor(m => m.ParentMaterial2, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>

                        <div class="col-md-3">
                            <label class="control-label">Group No 2</label>
                            @Html.TextBoxFor(m => m.GroupNo2, new { @class = "form-control col-md-3", @maxlength = "7" })
                        </div>

                        <div class="col-md-3">
                            <label class="control-label">Specification/Grade 2</label>
                            @Html.TextBoxFor(m => m.Specification2Grade2, new { @class = "form-control col-md-3", @maxlength = "30" })
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Max.Deposited Weld Metal Thk (mm) </legend>
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <label class="control-label">Process1<span class="required"> * </span></label>
                            <input type="text" id="txtWeldingProcess1" name="txtWeldingProcess1" class="form-control col-md-3" value="@Model.WeldingProcess1" disabled />
                            @*@Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3", @readonly = "readonly", @id = "GrooveWeldingProcess1" })*@
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Thk 1</label>
                            @Html.TextBoxFor(m => m.MaxDepositedWeldMetalThkWeldingProcess1, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Process2<span class="required"> * </span></label>
                            <input type="text" id="txtWeldingProcess2" name="txtWeldingProcess1" class="form-control col-md-3" value="@Model.WeldingProcess2" disabled />
                            @*@Html.TextBoxFor(m => m.WeldingProcess2, new { @class = "form-control col-md-3", @readonly = "readonly", @id = "GrooveWeldingProcess2" })*@
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Thk 2</label>
                            @Html.TextBoxFor(m => m.MaxDepositedWeldMetalThkWeldingProcess2, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>

                        <div class="col-md-2">
                            <label class="control-label">Process3<span class="required"> * </span></label>
                            <input type="text" id="txtWeldingProcess3" name="txtWeldingProcess1" class="form-control col-md-3" value="@Model.WeldingProcess3" disabled />
                            @*@Html.TextBoxFor(m => m.WeldingProcess3, new { @class = "form-control col-md-3", @readonly = "readonly", @id = "GrooveWeldingProcess3" })*@
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Thk 3</label>
                            @Html.TextBoxFor(m => m.MaxDepositedWeldMetalThkWeldingProcess3, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Process4<span class="required"> * </span></label>
                            <input type="text" id="txtWeldingProcess4" name="txtWeldingProcess1" class="form-control col-md-3" value="@Model.WeldingProcess4" disabled />
                            @*@Html.TextBoxFor(m => m.WeldingProcess4, new { @class = "form-control col-md-3", @readonly = "readonly", @id = "GrooveWeldingProcess4" })*@
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Thk 4</label>
                            @Html.TextBoxFor(m => m.MaxDepositedWeldMetalThkWeldingProcess4, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Groove/Fillet/Stud/Liner/Plug</legend>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">Base  Material groove thk range (mm)</label>
                            @Html.TextBoxFor(m => m.BaseMaterialgrooveThkRange, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Base metal Fillet range(mm)</label>
                            @Html.TextBoxFor(m => m.BasemetalFilletrange, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Max Pass Thk (mm)</label>
                            @Html.TextBoxFor(m => m.MaxPassThk, new { @class = "numeric form-control col-md-3" })
                        </div>
                        
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="control-label">Other</label>
                            @Html.TextBoxFor(m => m.Other2, new { @class = "form-control col-md-3" })
                        </div>
                    </div>
            </fieldset>

            <fieldset>
                <legend>Position (QW 405) </legend>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label class="control-label">Position of Groove Joint : Welding Process1<span class="required"> * </span></label>
                        <input type="text" class="DistPositionOfJoint form-control col-md-3" id="txtPositionofGrooveTTSJointWeldingProcess1" name="txtPositionofGrooveTTSJointWeldingProcess1" />
                        @Html.HiddenFor(m => m.PositionofGrooveTTSJointWeldingProcess1)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Position of Groove Joint : Welding Process2<span class="required"> * </span></label>
                        <input type="text" class="DistPositionOfJoint form-control col-md-3" id="txtPositionofGrooveTTSJointWeldingProcess2" name="txtPositionofGrooveTTSJointWeldingProcess2" />
                        @Html.HiddenFor(m => m.PositionofGrooveTTSJointWeldingProcess2)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Position of Groove Joint : Welding Process3<span class="required"> * </span></label>
                        <input type="text" class="DistPositionOfJoint form-control col-md-3" id="txtPositionofGrooveTTSJointWeldingProcess3" name="txtPositionofGrooveTTSJointWeldingProcess3" />
                        @Html.HiddenFor(m => m.PositionofGrooveTTSJointWeldingProcess3)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Position of Groove Joint : Welding Process4<span class="required"> * </span></label>
                        <input type="text" class="DistPositionOfJoint form-control col-md-3" id="txtPositionofGrooveTTSJointWeldingProcess4" name="txtPositionofGrooveTTSJointWeldingProcess4" />
                        @Html.HiddenFor(m => m.PositionofGrooveTTSJointWeldingProcess4)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label class="control-label">Welding Progression : Welding Process1<span class="required"> * </span></label>
                        <input type="text" class="DistWeldingProgression form-control col-md-3" id="txtWeldingProgressionWeldingProcess1" name="txtWeldingProgressionWeldingProcess1" />
                        @Html.HiddenFor(m => m.WeldingProgressionWeldingProcess1)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Welding Progression : Welding Process2<span class="required"> * </span></label>
                        <input type="text" class="DistWeldingProgression form-control col-md-3" id="txtWeldingProgressionWeldingProcess2" name="txtWeldingProgressionWeldingProcess2" />
                        @Html.HiddenFor(m => m.WeldingProgressionWeldingProcess2)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Welding Progression : Welding Process3<span class="required"> * </span></label>
                        <input type="text" class="DistWeldingProgression form-control col-md-3" id="txtWeldingProgressionWeldingProcess3" name="txtWeldingProgressionWeldingProcess3" />
                        @Html.HiddenFor(m => m.WeldingProgressionWeldingProcess3)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Welding Progression : Welding Process4<span class="required"> * </span></label>
                        <input type="text" class="DistWeldingProgression form-control col-md-3" id="txtWeldingProgressionWeldingProcess4" name="txtWeldingProgressionWeldingProcess4" />
                        @Html.HiddenFor(m => m.WeldingProgressionWeldingProcess4)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label class="control-label">Position of fillet: Welding Process1<span class="required"> * </span></label>
                        <input type="text" class="DistPositionoffillet form-control col-md-3" id="txtPositionoffilletWeldingProcess1" name="txtPositionoffilletWeldingProcess1" />
                        @Html.HiddenFor(m => m.PositionoffilletWeldingProcess1)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Position of fillet: Welding Process2<span class="required"> * </span></label>
                        <input type="text" class="DistPositionoffillet form-control col-md-3" id="txtPositionoffilletWeldingProcess2" name="txtPositionoffilletWeldingProcess2" />
                        @Html.HiddenFor(m => m.PositionoffilletWeldingProcess2)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Position of fillet: Welding Process3<span class="required"> * </span></label>
                        <input type="text" class="DistPositionoffillet form-control col-md-3" id="txtPositionoffilletWeldingProcess3" name="txtPositionoffilletWeldingProcess3" />
                        @Html.HiddenFor(m => m.PositionoffilletWeldingProcess3)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Position of fillet: Welding Process4<span class="required"> * </span></label>
                        <input type="text" class="DistPositionoffillet form-control col-md-3" id="txtPositionoffilletWeldingProcess4" name="txtPositionoffilletWeldingProcess4" />
                        @Html.HiddenFor(m => m.PositionoffilletWeldingProcess4)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label class="control-label">Other</label>
                        @Html.TextBoxFor(m => m.Other8, new { @class = "form-control col-md-3", @maxlength = "100" })
                    </div>
                </div>
            </fieldset>
</div>
        </form>
    </div>
</div>