﻿@using IEMQSImplementation
@model IEMQSImplementation.CTQ003
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script>

    $(document).ready(function () {
        $("#txtBU").val("");
        $("#txtDep").val("");
        $("#txtLocation").val("");
        $("#txtBU").removeAttr("readonly", true);

        LoadPreValueSelect2("/CTQ/DepartmentMaster/GetBu", $('#txtBU'), "--Select BU--", '')
        //LoadSelectDropDown("/CTQ/DepartmentMaster/GetLocation", $('#txtLocation'), "--Select Location--", '')
        LoadSelectDropDown("", $('#txtDep'), "--Select Department--");

        $("#txtloc").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/CTQ/DepartmentMaster/GetLocation",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Text, value: item.Text, id: item.Value };
                        }));
                        if (data.length > 0) {
                            isSelected = true;

                            
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strRole = ui.item.label;

                    $("#txtloc").val(strRole);
                    $("#ddlLocation").val(ui.item.id);
                    LoadPreValueSelect2("/CTQ/DepartmentMaster/GetDepartments", $('#txtDep'), "--Select Department--", { search: "", location: ui.item.id });

                }
            },

        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        //$("#txtLocation").change(function () {
        //    LoadPreValueSelect2("/CTQ/DepartmentMaster/GetDepartments", $('#txtDep'), "--Select Department--", { search: "", location: this.value });
        //});

        $('#frmDep').validate({
            rules: {
                "txtBU": {
                    required: true
                },
                "txtDep": {
                    required: true
                },
                "txtloc": {
                    required: true
                }
            },
            messages: {
                "txtBU": {
                    required: "BU is required"
                },
                "txtDep": {
                    required: "Department is required"
                },
                "txtloc": {
                    required: "Location is required"
                }
            }
        });

        $("#btnAddNew").click(function () {
            if ($("#frmDep").valid()) {
                var formData = new FormData();

                var sellocation = $("#ddlLocation").val();
                $("#Location").val(sellocation);

                var selbu = $("#txtBU").val();
                $("#BU").val(selbu);

                var seldepartment = $("#txtDep").val();
                $("#Department").val(seldepartment);


                var frmValues = $('#frmDep').serializeArray();
                $.each(frmValues, function (key, input) {
                    formData.append(input.name, input.value);
                });
                $.ajax({
                    url: WebsiteURL + '/CTQ/DepartmentMaster/SaveDepartment',
                    data: formData,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    async: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    success: function (data) {
                        ClearAll();
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                        $('#tblDepartment').DataTable().ajax.reload();
                    }
                });
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });

        $("#btnmainupdate").click(function () {
            debugger;
            if ($("#frmDep").valid()) {
                var formData = new FormData();

                var id = $("#hfId").val();
                $("#Id").val(id);

                var sellocation = $("#ddlLocation").val();
                $("#Location").val(sellocation);

                var selbu = $("#txtBU").val();
                $("#BU").val(selbu);

                var seldepartment = $("#txtDep").val();
                $("#Department").val(seldepartment);

                var frmValues = $('#frmDep').serializeArray();
                $.each(frmValues, function (key, input) {
                    formData.append(input.name, input.value);

                });

                $.ajax({
                    url: WebsiteURL + '/CTQ/DepartmentMaster/SaveDepartment',
                    data: formData,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    async: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    success: function (data) {
                        Cancelbtn();
                        $("#Id").val('');
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                        $('#tblDepartment').DataTable().ajax.reload();
                    }
                });
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });
    });

    function Cancelbtn() {
        ClearAll();
        editclearall();
        $("#btnmainupdate").hide();
        $("#btnCancel").hide();
        $("#btnAddNew").show();
    }

    function editclearall() {
        $("#txtDep").attr("readonly", false);
        $("#txtDep").attr("disabled", false);

        $("#txtBU").attr("readonly", false);
        $("#txtBU").attr("disabled", false);

        $("#txtloc").attr("readonly", false);
        $("#txtloc").attr("autocomplete", "on");
        $("#txtloc").attr("disabled", false);
    }

    function ClearAll() {
        $("#txtBU").val("");
        $("#txtDep").val("");
        $("#txtloc").val("");
        LoadSelectDropDown("", $('#txtBU'), "--Select BU--");
        LoadSelectDropDown("", $('#txtDep'), "--Select Department--");
        LoadPreValueSelect2("/CTQ/DepartmentMaster/GetBu", $('#txtBU'), "--Select BU--", '')

        if ($("#IsMandatory").prop('checked') === true) {
            $('#IsMandatory').removeAttr('checked');
        } 
    }

    function LoadSelectDropDown(url, objControl, placeHolder, condParam) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            allowClear: true,
            minimumInputLength: 0,
            ajax: {
                url: WebsiteURL + url,
                type: "POST",
                dataType: 'json',
                data: function (params) {

                    var query = {
                        search: params.term,
                        page: params.page,
                        location: $('#Location').val(),
                    }

                    // Query paramters will be ?search=[term]&page=[page]
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#tblDepartment');
        var oTable = table.dataTable({

            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,

            buttons: [
            ],

            responsive: true,

            "order": [
                [0, 'asc']
            ],

            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            // set the initial value
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/CTQ/DepartmentMaster/getData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                });
            },

            "columns": [
                {
                    "bSortable": true,
                    "name": "BU"
                    , "ColName": "a.BU",
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "Department", "ColName": "a.Department",
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "Location", "ColName": "a.Location",
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "IsMandatory",
                    "sClass": "center"
                },
                 {
                     "bSortable": false,
                     "sClass": "center",
                     "sWidth": "10%",
                     "render": function (data, type, row, meta) {
                         var buttons = "";
                         buttons = '<center><i  data-modal="" id="btnUpdate" name="btnUpdate" style="cursor:pointer;" Title="Update Record" class="fa fa-edit" onClick="UpdateRecord(' + row[4] + ')" ></i>';
                         //buttons += '&nbsp;<i  data-modal="" id="btnDelete" name="btnAction" style="cursor:pointer;" Title="Delete Record" class="fa fa-trash-o" onClick="DeleteRecord(' + row[4] + ')"></i></center>';
                         return buttons;
                     }
                 },
                 {
                     "sClass": "hide",
                     "name": "Id",
                     "bSortable": false,
                 }
            ]

        });
        table.dtSearchFilter();
        //$('#tblDepartment input', this.Attr).keyup(function () {
        //    setTimeout(function () {
        //        $('#tblDepartment').DataTable().ajax.reload();
        //    }, 500);
        //});
    });

    function DeleteRecord(Id) {
        bootbox.confirm({
            message: "Are you sure you want to delete this record?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: WebsiteURL + '/Authorization/CategoryMaster/DeleteGDMatrix',
                        data: { Id: Id },
                        type: 'POST',
                        async: false,
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        success: function (data) {
                            if (data.Key) {
                                DisplayNotiMessage("success", data.Value, "Success");
                            }
                            else {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                            $('#tblDepartment').DataTable().ajax.reload();
                        }
                    });
                }
            }
        });
    }

    function LoadSelect2OnEdit(strPosition) {
        var arrPositions;
        if (strPosition.length > 0) {
            arrPositions = strPosition.split(',');
        }
        return arrPositions;
    }

    function UpdateRecord(Id) {
        
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/CTQ/DepartmentMaster/GetDataHtml",
            data: { Id: Id },
            datatype: 'html',
            async: false,
            success: function (data) {
                if (data.Value) {
                    debugger;
                    var splitval1 = data.Value.split('|')[0];
                    var splitval2 = data.Value.split('|')[1];
                    var splitval3 = data.Value.split('|')[2];
                    var splitval4 = data.Value.split('|')[3];
                    var splitval5 = data.Value.split('|')[4];

                    if (splitval4 != "True") {
                        $('#IsMandatory').prop('checked', false);
                    } else {
                        $('#IsMandatory').prop('checked', true);
                    }
                    debugger;

                    LoadPreValueSelect2("/CTQ/DepartmentMaster/GetBu", $('#txtBU'), "--Select BU--", '')
                    var pccBU = JSON.parse(JSON.stringify(splitval1));
                    if (pccBU != null) {
                        debugger;
                        $('#txtBU').val(LoadSelect2OnEdit(splitval1)).trigger('change');
                        $("#txtBU").attr("readonly", "readonly");
                        $("#txtBU").attr("disabled", true);
                    }

                    LoadPreValueSelect2("/CTQ/DepartmentMaster/GetDepartments", $('#txtDep'), "--Select Department--", { search: "", location: splitval2 });
                    var pccDept = JSON.parse(JSON.stringify(splitval3));
                    if (pccDept != null) {
                        debugger;
                        $('#txtDep').val(LoadSelect2OnEdit(splitval3)).trigger('change');
                        $("#txtDep").attr("readonly", "readonly");
                        $("#txtDep").attr("disabled", true);
                    }

                    $("#hfId").val(Id);
                    $("#BU").val(splitval1);
                    $("#txtloc").val(splitval5);
                    $("#Department").val(splitval3);

                    $("#ddlLocation").val(splitval2);
                    $("#txtBU").attr("disable", "disable");
                    $("#txtloc").attr("readonly", "readonly");
                    $("#txtloc").attr("autocomplete", "off");
                    $("#txtloc").attr("disabled", true);
                    $("#txtDep").attr("disable", "disable");
                   // $("#hfId").val(id);
                    $("#btnmainupdate").show();
                    $("#btnCancel").show();
                    $("#btnAddNew").hide();
                }
                else {
                }
                $('#tblCategory').DataTable().ajax.reload();

            },
            error: function () {
            }
        });
    }
</script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Maintain CTQ Department
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmDep", @class = "form-horizontal" }))
                    {
                        @Html.Hidden("hfId");
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.BU)
                        @Html.HiddenFor(m => m.Department)
                        @*@Html.HiddenFor(m => m.Location)*@
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">BU<span class="required">*</span></label>
                                    <select name="txtBU" id="txtBU" multiple="multiple" style="width:100%" class="form-control" colname="BU"></select>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Location<span class="required">*</span></label>
                                    <input type="text" id="txtloc" name="txtloc" class="form-control col-md-3" placeholder="--Select Location--" colname= "Location" />
                                    @Html.HiddenFor(m => m.Location, new { @id = "ddlLocation" })
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Department<span class="required">*</span></label>
                                    <select name="txtDep" id="txtDep" multiple="multiple" style="width:100%" class="form-control" colname="Department"></select>
                                </div>
                                <div class="col-md-1">
                                    <label class="control-label mleft0">Is&nbsp;Mandatory</label>
                                    <div class="">
                                        @*<label class="mt-checkbox mt-checkbox-outline" for="IsMandatory">
                                            @Html.CheckBox("IsMandatory", false, new { @class = "clsReadOnly" })
                                            <span></span>
                                        </label>*@
                                        <label class="mt-checkbox mt-checkbox-outline" for="IsMandatory">
                                            <input class="clsReadOnly" id="IsMandatory" name="IsMandatory" type="checkbox" value="true"><input name="IsMandatory" type="hidden" value="false" colname= "IsMandatory">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-2" style="margin-top:5px;">
                                    <br />
                                    <button class="btn save" type="button" id="btnAddNew">Save</button>
                                    <button class="btn green" type="button" id="btnmainupdate" style="display:none">Update</button>
                                    <button class="btn cancel" type="button" id="btnCancel" onclick="Cancelbtn()" style="display:none">Cancel</button>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                    </div>
                                    <div class="tools" id="dvExportHeader">
                                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/CTQ/DepartmentMaster/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblDepartment" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="min-phone-l">BU</th>
                                                <th class="min-phone-l">Department</th>
                                                <th class="min-phone-l">Location</th>
                                                <th class="min-phone-l">Is Mandatory</th>
                                                <th class="min-phone-l">Action</th>
                                                <th class="" style="display:none;">ID</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>