﻿@using IEMQSImplementation

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Kit List
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblFixtureAllocatedInKit" cellspacing="0">
            <thead>
                <tr>
                    <th class="all">Project</th>
                    <th class="all">Kit Number</th>
                    <th class="all">Kit Name</th>
                    <th class="all">Fixture No</th>
                    <th class="all">Status</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        var table = $('#tblFixtureAllocatedInKit');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/FKMS/MaintainFKMS/LoadFixtureAllocationInKitDataTable",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "RefLineId", "value": '@ViewBag.RefLineId' });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                    },
                });
            },
            "columns": [
                {
                    "name": "Project",
                    "sClass": "center",
                    "bSortable": true,
                },
                {                   
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "name": "NodeName",
                    "sClass": "center",
                    "bSortable": true,
                },
                {
                    "name": "FixtureNo",
                    "sClass": "center",
                    "bSortable": true,
                },
                {
                    "name": "Status",
                    "sClass": "center",
                    "bSortable": true,
                }
            ]
        });
    });
</script>
