﻿@using IEMQSImplementation
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Projects
            @*@{
                    string strCTQTitle = ViewBag.Status + " CTQ Documents";
                }
                @strCTQTitle*@
        </div>
        @*<div class="tools" id="dvExportHeader">
                @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/FKM/MaintainFKMS/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
            </div>*@
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblFKMSHeader" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="" style="display:none;">HeaderId</th>
                    <th class="all">Project</th>
                    <th class="all">Customer</th>
                    <th class="all">Zero Date</th>
                    <th class="all">CDD</th>
                    <th class="all">RevNo</th>
                    <th class="all">Status</th>
                    <th class="all">Created By</th>
                    <th class="all">Created On</th>
                    <th class="all">Action</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()' == "true" ? true : false;
    $(document).ready(function () {
        var table = $('#tblFKMSHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/FKM/MaintainFKMS/LoadFKMSHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Status", "value": '@ViewBag.Status' },
                            { "name": "Department", "value": '@ViewBag.IndexDataFor' },
                            { "name": "IsDisplayOnly", "value": IsDisplayOnly }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    //'async': false
                });
            },
            "columns": [
                {
                    "name": "HeaderId",
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "name" : "Project",
                    "sClass": "center",
                    "bSortable": true,
                },
                {
                    "name": "Customer",
                    "sClass": "center",
                    "bSortable": true,
                },
                {
                    "name": "Zero Date",
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "name": "CDD",
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "name": "RevNo",
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "name": "Status",
                    "sClass": "center",
                    "bSortable": true,
                },
                {
                    "name": "CreatedBy",
                    "sClass": "center",
                    "bSortable": true,
                },
                {
                    "name": "CreatedOn",
                    "sClass": "center"
                },
                {
                    "sClass": "center"

                },
            ]
        });
    });
    function HistoryCTQ(HeaderId, fromController) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/CTQ/Maintain/GetCTQHistoryDetails",
            datatype: 'html',
            //async: false,
            data: { HeaderId: HeaderId, _FromController: fromController },
            success: function (result) {
                bootbox.dialog({
                    title: 'Critical to Quality History Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn red'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }
</script>
