﻿@using IEMQSImplementation
@model IEMQSImplementation.FKM101
<style>
    .rmvbold {
        font-weight: normal;
    }

    .control-label {
        margin-left: 10px;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        /*font-size: 1.2em !important;*/
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 14px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .colWidth200 {
        width: 200px !important;
    }

    .colWidth300 {
        width: 300px !important;
    }

    .nopad {
        padding: 0px;
    }

    .select2-selection__rendered {
        min-width: 70%;
        overflow-y: auto !important;
    }

    .select2-selection--multiple {
        max-height: 50px;
        max-width: 99%;
        overflow: auto !important;
    }

    .clsBootbox {
        padding: 0px !important;
    }

        .clsBootbox .modal-lg {
            width: 79% !important;
        }

        .clsfullscreen .modal-lg {
            width: 98% !important;
        }
    /*#tblKitLinesDetails th {
        background-color: #f3f3f3;
    }
        #dvKitDtl{
            height:576px;
        }*/
</style>

<div class="row">
    <div class="col-md-12" id="dvKitDtl">
        <div id="kitdetails">
            <div class="col-md-12 nopad">
                <div class="col-md-12 nopad">
                    <label class="control-label">
                        <strong>Kit Name : <span class="rmvbold" id="kit_name"></span></strong>
                    </label>
                </div>
                <div class="col-md-6">
                    @*<button class="btn icons" id="btnSeamList" type="button" title="Seam details">
                            <i class="fa fa-th"></i>
                        </button>*@
                </div>
                @*<div class="col-md-6">
                        <label class="control-label">
                            <strong> Total No of items kit : <span class="rmvbold" id="total_item_kit"></span></strong>
                        </label>

                    </div>*@
            </div>
            <div class="col-md-12 nopad">
                <div class="col-md-12 nopad">
                    <label class="control-label"><strong> Kit Number : <span class="rmvbold" id="kit_num"></span></strong></label>

                </div>
                @*<div class="col-md-6">
                        <label class="control-label"><strong> Total No of items ready : <span class="rmvbold" id="total_item_ready_kit"></span></strong></label>

                    </div>*@
            </div>
            <div class="col-md-12 nopad">
                @if (ViewBag.UserRole != null)
                {
                    if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.SHOP.ToString() && ViewBag.IsDisplayOnly.ToString().ToLower() != "true")
                    {
                        if (ViewBag.buttonname == "maintain" && (Model.Status == clsImplementationEnum.CTQStatus.DRAFT.GetStringValue() || Model.Status == clsImplementationEnum.CTQStatus.Returned.GetStringValue() || Model.Status == clsImplementationEnum.CTQStatus.Approved.GetStringValue()))
                        {
                            <label class="control-label">
                                <strong>
                                    Material request status :
                                    <input type="button" class="btn save hidden" id="material_status" onclick="materialstatus()" value="Request">
                                    @*<input type="button" class="btn save hidden" id="btnReadyForParent" onclick="btnReadyForParent_Click()" value="Ready For Parent">*@
                                    <input type="button" class="btn save hidden" id="btnSendToNextKit" onclick="btnSendToNextKit_Click()" value="Send To Next Kit">
                                    <label id="text_material_status"></label>
                                </strong>
                            </label>
                        }
                        else
                        {
                            <label class="control-label">
                                <strong>
                                    Material request status : <label id="text_material_status"></label>
                                </strong>
                            </label>
                        }
                    }
                    else
                    {
                        <label class="control-label">
                            <strong>
                                Material request status : <label id="text_material_status"></label>
                            </strong>
                        </label>
                    }
                }

                @*<label class="control-label">
                        <strong>
                            Material request status :
                            @if (ViewBag.UserRole != null)
                            {
                                if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.SHOP.ToString())
                                {
                                    <input type="button" class="btn save hidden" id="material_status" onclick="materialstatus()" value="Request" />
                                }
                            }
                            <label class="hidden" id="text_material_status"></label>
                        </strong>
                    </label>
                    @if (ViewBag.UserRole != null)
                        {
                            if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.SHOP.ToString())
                            {
                                <label class="control-label">
                                    <strong>
                                        Material request status : <input type="button" class="btn save hidden" id="material_status" onclick="materialstatus()" value="Request"> <label class="hidden" id="text_material_status"></label>
                                    </strong>
                                </label>
                            }
                            else
                            {
                                <label class="control-label">
                                    <strong>
                                        Material request status : <label class="hidden" id="text_material_status"></label>
                                    </strong>
                                </label>
                            }
                        }*@
            </div>

            <div class="col-md-6 nopad">


                <div class="col-md-12 nopad">

                    @*<label class="control-label">
                            <strong>
                                Delivery status :
                                @if (ViewBag.UserRole != null)
                                {
                                    if (ViewBag.UserRole != clsImplementationEnum.UserRoleName.SHOP.ToString())
                                    {
                                        <input type="button" class="btn save hidden" id="kit_status" onclick="kitstatus()" value="Release" />
                                    }
                                }
                                <label class="hidden" id="text_delivery_status"></label>
                            </strong>
                        </label>

                        @if (ViewBag.UserRole != null)
                            {
                                if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.SHOP.ToString())
                                {
                                    <label class="control-label">
                                        <strong>
                                            Delivery status : <label class="hidden" id="text_delivery_status"></label>
                                        </strong>
                                    </label>
                                }
                                else
                                {
                                    <label class="control-label">
                                        <strong>
                                            Delivery status :
                                            <input type="button" class="btn save hidden" id="kit_status" onclick="kitstatus()" value="Release" />
                                            <label class="hidden" id="text_delivery_status"></label>
                                        </strong>
                                    </label>
                                }
                            }*@

                    @if (ViewBag.UserRole != null)
                    {
                        if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.SHOP.ToString() && ViewBag.IsDisplayOnly.ToString().ToLower() == "true")
                        {
                            <label class="control-label">
                                <strong>
                                    Delivery status : <label id="text_delivery_status"></label>
                                </strong>
                            </label>
                        }
                        else
                        {
                            if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.FKM3.ToString() && ViewBag.buttonname == "maintain" && (Model.Status == clsImplementationEnum.CTQStatus.DRAFT.GetStringValue() || Model.Status == clsImplementationEnum.CTQStatus.Returned.GetStringValue() || Model.Status == clsImplementationEnum.CTQStatus.Approved.GetStringValue()))
                            {
                                <label class="control-label">
                                    <strong>
                                        Delivery status : <input type="button" class="btn save hidden" id="kit_status" onclick="kitstatus()" value="Release"><label id="text_delivery_status"></label>
                                        <br /><input type="button" class="btn save hidden" id="btnSendToNextKitByFKM3" onclick="btnSendToNextKit_Click()" value="Send To Next Kit">
                                    </strong>
                                </label>
                            }
                            else
                            {
                                <label class="control-label">
                                    <strong>
                                        Delivery status : <label id="text_delivery_status"></label>
                                    </strong>
                                </label>
                            }
                        }
                    }
                    <input type="hidden" id="release_nodeid" />
                </div>

                <div class="col-md-12 nopad">
                    <label class="control-label" style="display:inline-flex;">
                        <strong style="margin-top:5px;">Deliver&nbsp;to&nbsp;:&nbsp;</strong>

                        @if (ViewBag.IsDisplayOnly.ToString().ToLower() == "true")
                        {
                            <input type="text" id="txtdept" value="" name="txtdept" class="form-control col-md-3 ui-autocomplete-input valid" disabled placeholder="Select" autocomplete="off" aria-invalid="false">
                        }
                        else
                        {
                            if (ViewBag.UserRole != clsImplementationEnum.UserRoleName.FKM3.ToString() && ViewBag.buttonname == "maintain" && (Model.Status == clsImplementationEnum.CTQStatus.DRAFT.GetStringValue() || Model.Status == clsImplementationEnum.CTQStatus.Returned.GetStringValue() || Model.Status == clsImplementationEnum.CTQStatus.Approved.GetStringValue()))
                            {
                                <input type="text" id="txtdept" value="" name="txtdept" class="form-control col-md-3 ui-autocomplete-input valid" placeholder="Select" autocomplete="off" aria-invalid="false">
                            }
                            else
                            {
                                <input type="text" id="txtdept" value="" name="txtdept" class="form-control col-md-3 ui-autocomplete-input valid" disabled placeholder="Select" autocomplete="off" aria-invalid="false">
                            }
                        }
                    </label>
                    <input type="hidden" id="ddldept" />
                </div>
            </div>
            <div class="col-md-6 nopad">

                <strong style="margin-top:5px;">Task&nbsp;to&nbsp;:&nbsp;</strong>

                @if (ViewBag.IsDisplayOnly.ToString().ToLower() == "true")
                {
                    <select name="txttask" id="txttask" disabled multiple="multiple" style="min-width:100%; height:50px" class="form-control"></select>
                }
                else
                {
                    if (ViewBag.UserRole != clsImplementationEnum.UserRoleName.FKM3.ToString() && ViewBag.buttonname == "maintain" && (Model.Status == clsImplementationEnum.CTQStatus.DRAFT.GetStringValue() || Model.Status == clsImplementationEnum.CTQStatus.Returned.GetStringValue() || Model.Status == clsImplementationEnum.CTQStatus.Approved.GetStringValue()))
                    {
                        <select name="txttask" id="txttask" multiple="multiple" style="min-width:100%; height:50px" class="form-control"></select>
                    }
                    else
                    {
                        <select name="txttask" id="txttask" disabled multiple="multiple" style="min-width:100%; height:50px" class="form-control"></select>
                    }
                }

                @*<input type="text" id="txttask" value="" name="txttask" class="form-control col-md-3 ui-autocomplete-input valid" placeholder="Select" autocomplete="off" aria-invalid="false">*@
                <input type="hidden" id="ddltask" value="">
            </div>
        </div>
        <br style="clear:both" />
        <div id="kitlist">
            <fieldset>
                <legend>Kit List</legend>
                <div class="portlet box green" style="border-top:1px solid #5cd1db;">
                    @*<div class="portlet-title">
                            <div class="caption">
                            </div>
                        </div>*@
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblKitLinesDetails" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="all" style="display:none">NodeId</th>
                                    <th class="all" style="display:none">HeaderId</th>
                                    <th class="all" style="display:none">ColorFlag</th>
                                    <th class="all">POS <br />NO</th>
                                    <th class="all">Type</th>
                                    <th class="all">Drawing<br />BOM Qty</th>
                                    <th class="all">Req<br />Qty</th>
                                    <th class="all">Loca<br />tion</th>
                                    <th class="all">View</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<script type="text/javascript">
    var DeliverTo = "";
    var DeliverId = "";
    var FullkitAreaDiv = "<div id=\"dvFullkitArea\">" +
                       "     <div class=\"row\">" +
                       "         <div class=\"col-md-12\">" +
                       "             <label class=\"control-label\">Current Fullkit Area : </label>" +
                       "             <label id=\"lblCurrentFullkitArea\" class=\"bold\"></label>" +
                       "         </div>" +
                       "         <div class=\"col-md-12\">" +
                       "             <label class=\"control-label\">Fullkit Area<span class=\"required\"> * </span></label>" +
                       "             <div class=\"\">" +
                       "                 <input type=\"text\" id=\"txtFullkitArea\" name=\"txtFullkitArea\" class=\"form-control\" />" +
                       "             </div>" +
                       "         </div>" +
                       "     </div>" +
                       " </div>";

    $(document).ready(function () {
        //var DrawingParameterList = [];
        //DrawingParameterList.push({ id: "Project", value: $('#Project') });
        //FillAutoCompleteUsingAjax($("#txttask"), "/Utility/General/Get_Task_Unique_Id", $("#ddltask"), false, DrawingParameterList);
        var isSelectedProject = false;
        $("#txtdept").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/FKMS/MaintainFKMS/GetDepartments",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        search: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.id };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    event.preventDefault();
                    isSelected = true;
                    var strProjectDesc = ui.item.label;
                    var spltProjectDesc = strProjectDesc.split("-");
                    var projectcode = spltProjectDesc[0].trim();
                    var nodeid = $("#hdnmaterial").val();
                    $("#ddldept").val(projectcode);
                    $("#txtdept").val(strProjectDesc);
                    SelctDeliver(nodeid, projectcode);
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        var isSelectedProject = false;
        $("#txttask").change(function () {
            var valueTask = $(this).val();
            if (valueTask)
                $("#ddltask").val(valueTask.join(","));
            else
                $("#ddltask").val("");
        })

        /*$('#txttask').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/Get_Task_Unique_Id",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term, Project: $("#Project").val()
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.id };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    event.preventDefault();
                    isSelected = true;
                    var strProjectid = ui.item.value;
                    var strProjectDesc = ui.item.label;
                    var nodeid = $("#hdnmaterial").val();
                    $("#ddltask").val(strProjectid);
                    $("#txttask").val(strProjectDesc);

                }

            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });*/

        $("#txtdept").blur(function () {
            if (!isSelected) {
                deptClearAll();
            }
        });

        $("#btnSeamList").click(function () {
            FetchSeamData();
        });

        $("#btnPartList").click(function () {
            FetchPartStageData();
        });
        //$("#txttask").blur(function () {
        //    //if (!isSelected) {
        //        SelctTask($("#hdnmaterial").val(),  $("#ddltask").val());
        //        //taskClearAll();
        //    //}
        //});

        function deptClearAll() {
            $("#ddldept").val('');
            $("#txtdept").val('');
            $("#txtdept").removeAttr('disabled', 'disabled');
        }

        function taskClearAll() {
            $("#ddltask").val('');
            $("#txttask").val('');
            $("#txttask").removeAttr('disabled', 'disabled');
        }
    });

    function SelctDeliver(nodeid, projectcode) {
        $.ajax({
            url: WebsiteURL + '/FKMS/MaintainFKMS/SetDeliverDep',
            data: { NodeId: nodeid, ProjectCode: projectcode },
            type: 'POST',
            //async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#ddldept").val(data.KitDept);
                    fillTaskToDropdown();

                    //if deallocation done, then only update tree.
                    if (data.UniqueId == "1") {
                        var headerid = $("#HeaderId").val();
                        GenerateTreeView(headerid);
                    }
                }
                else {
                    //if error, then reset to old value.
                    $("#kitdetails input#txtdept").val(DeliverTo);
                    $("#kitdetails input#ddldept").val(DeliverId);

                    bootbox.dialog({
                        title: 'Error',
                        message: data.Value,
                        size: 'large',
                        buttons: {
                            'cancel': {
                                label: 'Close',
                                className: 'btnclose'
                            }
                        }
                    });
                }
            }
        });
    }

    function SelctTask(nodeid, projectcode) {
        $.ajax({
            url: WebsiteURL + '/FKMS/MaintainFKMS/SetTask',
            data: { NodeId: nodeid, ProjectCode: projectcode },
            type: 'POST',
            //async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#ddltask").val(data.UniqueId);
                }
            }
        });

    }

    function materialstatus() {
        var Nodeid = $("#release_nodeid").val();
        $.ajax({
            url: WebsiteURL + '/FKMS/MaintainFKMS/SetMaterialStatus',
            type: 'POST',
            data: { NodeId: Nodeid },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            //async: false,
            success: function (data) {
                if (data.Key) {
                    ScrollNodeID = Nodeid;
                    $('#material_status').prop('disabled', true);
                    DisplayNotiMessage("success", data.Value, "Success");
                    window.setTimeout(function () { window.location.reload(); }, 500);
                    //var headerid = $("#HeaderId").val();
                    //GenerateTreeView(headerid);
                    //$("#text_material_status").removeClass("hidden");
                    //$("#text_material_status").text(data.DeliverStatus);
                    //$('#material_status').addClass("hidden");
                    //$('#material_status').prop('disabled', true);
                } else {
                    $('#material_status').prop('disabled', false);
                    $('#material_status').removeClass("hidden");
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

    function kitstatus() {
        var validate = true;

        if ($("#ddldept").val() == "") {
            $("#txtdept").addClass('error');
            validate = false;
        } else {
            $("#txtdept").removeClass('error');
        }

        // Observation 18130 --Task to (Concerto Task) to be non mandatory--

        //if ($("#ddltask").val() == "") {
        //    $("#txttaskk").addClass('error');
        //    validate = false;
        //} else {
        //    $("#txttaskk").removeClass('error');
        //}

        if (validate) {
            var Nodeid = $("#release_nodeid").val();
            $.ajax({
                url: WebsiteURL + '/FKMS/MaintainFKMS/SetKitStatus',
                type: 'POST',
                data: { NodeId: Nodeid },
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                //async: false,
                success: function (data) {
                    //debugger;
                    if (data.Key) {
                        ScrollNodeID = Nodeid;
                        DisplayNotiMessage("success", data.Value, "Success");
                        var headerid = $("#HeaderId").val();
                        GenerateTreeView(headerid);
                        $("#text_delivery_status").removeClass("hidden");
                        $("#text_delivery_status").text(data.DeliverStatus);
                        $('#kit_status').addClass("hidden");
                        $('#kit_status').prop('disabled', true);
                    } else {
                        if (data.releaseKey == 0) {
                            DisplayNotiMessage("error", data.Value, "Error");
                            return;
                        }
                        $('#kit_status').prop('disabled', true);
                        $('#kit_status').addClass("hidden");
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
    }

    function fillTaskToDropdown() {
        //LoadTreeView();
        $.ajax({
            url: WebsiteURL + "/Utility/General/Get_Task_Unique_Id",
            type: "POST",
            data: {
                Project: $("#Project").val(), DeleverTo: $("#ddldept").val()
            },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                var option = "";
                $.each(data, function (index, object) {
                    option += "<option value='" + object.id + "'>" + object.text + "</option>";
                });
                $('#txttask').html(option);
                if (!option) {
                    if ($('#kit_num').html().indexOf('fa-voilet') < 0) {
                        //$('#kit_num').html('<i class="fa fa-circle  fa-voilet"></i>' + $('#kit_num').html());
                        $('#kit_num').html($('#kit_num').html());
                        //GenerateTreeView($("#HeaderId").val())
                    }
                } else {
                    if ($('#kit_num').html().indexOf('fa-voilet') > 0) {
                        $('#kit_num').html($('#kit_num').html().replace('<i class="fa fa-circle  fa-voilet"></i>', ''));
                        //GenerateTreeView($("#HeaderId").val())
                    }
                }
                $('#txttask').select2({
                    placeholder: "--Select Task--",
                    //width: 'resolve'
                });
                $('#txttask').off('select2:close');
                $('#txttask').on('select2:close', function (e) {
                    var data = e.params.data;
                    //console.log(data);
                    SelctTask($("#hdnmaterial").val(), $("#ddltask").val());
                });
                $('.select2-search__field').css("width", "unset")
                $('.select2-search__field').attr("id", "txttaskk");
                //$("#txttask").val($("#ddltask").val()).trigger('change');
                $("#txttask").val($("#ddltask").val() ? $("#ddltask").val().split(',') : []).trigger('change');
            }
        })
    }

    function FetchSeamData() {
        var NodeId = $("#release_nodeid").val();
        if (NodeId == undefined || NodeId == null || NodeId == "") {
            bootbox.alert("Please select any kit for view seam details!");
            return;
        }
        $.ajax({
            type: "POST",
            //url: WebsiteURL + '/FKMS/MaintainFKMS/FetchSeamData',
            url: WebsiteURL + '/FKMS/MaintainFKMS/GetSeamAndStageDataGridPartial',
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { NodeId: parseInt(NodeId), Project: $("#Project").val() },
            success: function (result) {
                bootbox.dialog({
                    title: 'Seam Details ',
                    message: result,
                    size: 'large',
                    className: "higherzindex clsfullscreen",
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function FetchPartStageData() {
        var NodeId = $("#release_nodeid").val();
        if (NodeId == undefined || NodeId == null || NodeId == "") {
            bootbox.alert("Please select any kit for view part details!");
            return;
        }
        $.ajax({
            type: "POST",
            url: WebsiteURL + '/FKMS/MaintainFKMS/GetPartAndStageDataGridPartial',
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { NodeId: parseInt(NodeId) },
            success: function (result) {
                bootbox.dialog({
                    title: 'Part Details ',
                    message: result,
                    size: 'large',
                    className: "higherzindex clsfullscreen",
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }
    //function btnReadyForParent_Click() {
    //    var NodeId = $("#release_nodeid").val();
    //    $.ajax({
    //        type: "POST",
    //        url: WebsiteURL + '/FKMS/MaintainFKMS/ReadyForParent',
    //        datatype: 'html',
    //        async: false,
    //        data: { NodeId: parseInt(NodeId)},
    //        success: function (data) {
    //            if (data.Key) {
    //                DisplayNotiMessage("success", data.Value, "Success");
    //                var headerid = $("#HeaderId").val();
    //                GenerateTreeView(headerid);
    //                $("#btnReadyForParent").addClass('hidden');
    //            }
    //            else {
    //                DisplayNotiMessage("error", data.Value, "Error");
    //            }
    //        },
    //        error: function () {
    //        }
    //    });
    //}

    function btnSendToNextKit_Click() {
        var NodeId = $("#release_nodeid").val();
        $.ajax({
            type: "POST",
            url: WebsiteURL + '/FKMS/MaintainFKMS/SendToNextKit',
            datatype: 'html',
            //async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { NodeId: parseInt(NodeId) },
            success: function (data) {
                if (data.Key) {
                    DisplayNotiMessage("success", data.Value, "Success");
                    var headerid = $("#HeaderId").val();
                    GenerateTreeView(headerid);
                    $("#btnReadyForParent").addClass('hidden');
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            },
            error: function () {
            }
        });
    }

    function AcceptKitByParentKit(NodeId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + '/FKMS/MaintainFKMS/AcceptKitByParentKit',
            datatype: 'html',
            //async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { NodeId: parseInt(NodeId) },
            success: function (data) {
                if (data.Key) {
                    DisplayNotiMessage("success", data.Value, "Success");
                    var headerid = $("#HeaderId").val();
                    GenerateTreeView(headerid);
                    $("#btnReadyForParent").addClass('hidden');
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            },
            error: function () {
            }
        });
    }

    function LoadFullkitArea(NodeId) {
        var dialogfullkitarea = bootbox.dialog({
            title: 'Fullkit Area',
            message: FullkitAreaDiv,
            size: 'medium',
            buttons: {
                'Save': {
                    label: 'Save',
                    className: 'btn green',
                    callback: function () {
                        if ($("#txtFullkitArea").val().trim() == "") {
                            $("#txtFullkitArea").addClass("error");
                            return false;
                        }
                        else {
                            $("#txtFullkitArea").removeClass("error");
                        }
                        SaveFullkitArea($("#txtFullkitArea").val(), NodeId);
                    }
                },
                'Cancel': {
                    label: 'Close',
                    className: 'btn btnclose'
                }
            },
            show: false
        });

        dialogfullkitarea.on("shown.bs.modal", function () {
            FillAutoCompleteUsingAjax($("#txtFullkitArea"), "/FKMS/MaintainFKMS/GetFullkitAreaList", $("#txtFullkitArea"), false, []);
            $("#lblCurrentFullkitArea").html(CurrentFullkitArea);
        });
        dialogfullkitarea.modal('show');
    }

    function SaveFullkitArea(FullkitArea, NodeId) {
        $.ajax({
            url: WebsiteURL + '/FKMS/MaintainFKMS/SaveFullkitArea',
            data: {
                NodeId: parseInt(NodeId),
                FullkitArea: FullkitArea
            },
            type: 'POST',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key == true) {
                    DisplayNotiMessage("success", data.Value, "Success");
                    var headerid = $("#HeaderId").val();
                    GenerateTreeView(headerid);
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>