﻿@using IEMQSImplementation
@using IEMQS.Areas.FKMS.Controllers
@{
    List<ParentList>
    objParents = ViewBag.objParents;
    List<PageParentList>
    objpageParents = ViewBag.objPageParent;
    List<InitParentList>
    objinitParents = ViewBag.objInitParent;
    int totalCount = 0;
    int sectionNo = 0;
    int pwhtsectionNo = 0;
    if (objParents != null)
    {
        totalCount = objParents.Count();
    }
    List<ChildList>
        objChilds = ViewBag.objChilds;

}

<style>
    .mleft0 {
        margin-left: 0px;
    }

    .scrollmenu {
        height: 560px;
        overflow: auto;
    }

    .borderright {
        border-left: 1px solid #000000;
    }

    .textright {
        text-align: right;
    }

    .textleft {
        text-align: left;
    }

    body.modal-open {
        overflow: hidden;
    }
</style>

<div class="col-md-6" id="firsttab">
    <div class="row clsform">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="form-group clsHeaderDet" id="Form" style="max-height:560px;overflow:auto;">
                @{ int i = 1; }
                @foreach (var parentlist in objParents)
                {
                    sectionNo = parentlist.SecQty;
                    <div class="col-md-12 dvstaticmain display-none mainassembly" style="display: block;" data-name="@parentlist.AssName">
                        <div class="col-md-7">
                            <label class="control-label">&nbsp;</label>
                            <div>
                                @if (i > 1)
                                {
                                    <input type="text" id="Assembly_@i" value="@parentlist.AssName" name="Assembly" class="form-control col-md-3 ui-autocomplete-input checkcls clsname" readonly placeholder="Assembly" maxlength="30">
                                }
                                else
                                {
                                    <input type="text" id="Assembly" value="@parentlist.AssName" name="Assembly" class="form-control col-md-3 ui-autocomplete-input checkcls clsname" readonly placeholder="Assembly" maxlength="30">
                                }
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">&nbsp;</label>
                            <div>
                                @if (i > 1)
                                {
                                    <input type="text" id="AssemblyQty_@i" value="@parentlist.AssQty" name="AssemblyQty" class="form-control col-md-3 ui-autocomplete-input checkcls clsqty" placeholder="Qty" onkeypress="return isNumber(event)" maxlength="2">
                                }
                                else
                                {
                                    <input type="text" id="AssemblyQty" value="@parentlist.AssQty" name="AssemblyQty" class="form-control col-md-3 ui-autocomplete-input checkcls clsqty" placeholder="Qty" onkeypress="return isNumber(event)" maxlength="2">
                                }
                            </div>
                        </div>
                        <input type="hidden" class="clsrevertsection" />
                        <div class="col-md-2">
                            <label class="control-label">&nbsp;</label>
                            <div>
                                @if (i == totalCount)
                                {
                                    <button class="btn green btn-outline btn-circle addClass addbutton addcls" id="minus"><i class="fa fa-plus" id="plus"></i></button>
                                }
                                else
                                {
                                    <button class="btn red btn-outline btn-circle addbutton removeClass removecls" id="add"><i class="fa fa-minus" id="minus"></i></button>
                                }
                            </div>
                        </div>
                    </div>

                    i++;
                }
            </div>
        </div>
    </div>
</div>

<div class="borderright col-md-6" id="secondtab">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <form name="form_name" id="form_id" class="form_class ">
                <div>
                    <div id="viewbag_option" class="hidden">
                        @if (ViewBag.IsInitList != null)
                        {
                            foreach (var item in ViewBag.IsInitList)
                            {
                                <option value="@item.nodeId">@item.nodeName</option>
                            }
                        }
                    </div>
                    <div id="revertpwhtlist">
                        <fieldset data-mainassembly="PWHT-Sections">
                            <legend>PWHT-Sections Pages </legend>
                            @{ foreach (var item in objinitParents)
                                {
                                    <div class="form-group clsHeaderDet clsrevertinitsection" data-assembly="@item.Initparentlabel" data-section="@item.Initpages">
                                        <div class="col-md-12 nopad">
                                            <div class="col-md-3">
                                                <label class="control-label">&nbsp;</label>
                                                <div class="">
                                                    <label class="control-label">@item.Initlabel</label>
                                                    <input name="InitLabel" type="hidden" value="@item.Initlabel">
                                                    <input name="InitparentLabel" type="hidden" value="@item.Initparentlabel">
                                                    <input name="Initsection" type="hidden" value="@item.Initsection">
                                                </div>
                                            </div>
                                            <div class="name col-md-8" id="secInitInputsWrapper_0">
                                                <label class="control-label">&nbsp;</label><div class="">
                                                    <select name="initpages" class="initpages textbox form-control col-md-3 ui-autocomplete-input" id="PWHT-Sections_mySelect_1" onchange="UpdateInitSectionData(this);">
                                                        <option value="0">---Select---</option>
                                                        @if (ViewBag.IsInitList != null)
                                                        {
                                                            foreach (var inititem in ViewBag.IsInitList)
                                                            {
                                                                if (item.Initpages == inititem.nodeId)
                                                                {
                                                                    <option value="@inititem.nodeId" selected="selected">@inititem.nodeName</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@inititem.nodeId">@inititem.nodeName</option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </fieldset>
                    </div>
                    <div id="revertpagelist">
                        <fieldset data-mainassembly="Fab.Sec">
                            <legend>Fab.Sec Pages </legend>
                            @{ foreach (var pagelist in objpageParents)
                                {
                                    pwhtsectionNo = pagelist.PWHTQty;
                                    <div class="form-group clsHeaderDet clsrevertpwhtsection" data-assembly="@pagelist.Sectionparentlabel" data-section="@pagelist.PWHTpages">
                                        <div class="col-md-12 nopad">
                                            <div class="col-md-3">
                                                <label class="control-label">&nbsp;</label>
                                                <div class="">
                                                    <label class="control-label">@pagelist.Sectionlabel</label>
                                                    <input name="PWHTLabel" type="hidden" value="@pagelist.Sectionlabel">
                                                    <input name="PWHTparentLabel" type="hidden" value="@pagelist.Sectionparentlabel">
                                                    <input name="PWHTsection" type="hidden" value="@pagelist.PWHTsec">
                                                </div>
                                            </div>
                                            <div class="name col-md-8" id="secInputsWrapper_0">
                                                <label class="control-label">&nbsp;</label>
                                                <div class="">
                                                    <select name="pwhtpages" class="pwhtpages textbox form-control col-md-3 ui-autocomplete-input" id="Section_mySelect_1" onchange="UpdateSectionData(this);">
                                                        <option value="0">---Select---</option>
                                                        @{
                                                            for (int kk = 0; kk <= pagelist.PWHTQty; kk++)
                                                            {
                                                                var sename = "PHWT-" + kk.ToString();
                                                                if (kk == pagelist.PWHTpages)
                                                                {
                                                                    <option value="@kk" selected="selected">@sename</option>
                                                                }
                                                                else if (kk == 0)
                                                                {
                                                                    if (ViewBag.IsInitList != null)
                                                                    {
                                                                        foreach (var inititem in ViewBag.IsInitList)
                                                                        {
                                                                            if (pagelist.PWHTpages == inititem.nodeId)
                                                                            {
                                                                                <option value="@inititem.nodeId" selected="selected">@inititem.nodeName</option>
                                                                            }
                                                                            else
                                                                            {
                                                                                <option value="@inititem.nodeId">@inititem.nodeName</option>
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <option value="@kk">@sename</option>
                                                                }
                                                            }

                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                                            }
                            }
                        </fieldset>
                    </div>
                    <div id="revertformlist" style="max-height:560px;overflow:auto;">

                        @foreach (var parlist in objParents)
                        {
                            int c = 1;
                            string sid = string.Empty;
                            <fieldset data-mainassembly="@parlist.AssName" data-qty="@parlist.AssQty">
                                <legend>@parlist.AssName Assembly </legend>
                                @{
                                    foreach (var childlist in objChilds)
                                    {
                                        if (parlist.AssName == childlist.ParentName)
                                        {
                                            <div class="form-group clsHeaderDet" data-assembly="@parlist.AssName" data-internal="@childlist.Internals" data-external="@childlist.Externals" data-nozzle="@childlist.Nozzles" data-section="@childlist.SectionNo">
                                                <div class="col-md-12 nopad">
                                                    <div class="col-md-3">
                                                        <label class="control-label">&nbsp;</label>
                                                        <div class="">
                                                            <label class="control-label ">@childlist.Name</label>
                                                            <input name="Label" type="hidden" value="@childlist.Name">
                                                            <input name="parentLabel" type="hidden" value="@childlist.ParentName">
                                                        </div>
                                                    </div>
                                                    <div class="name col-md-5" id="InputsWrapper_01">
                                                        <label class="control-label">
                                                            @(c == 1 ? "Fab.Sec" : "")
                                                        </label>
                                                        <div class="">
                                                            <select name="section" class="textbox form-control col-md-3 ui-autocomplete-input sectionbox" onchange="UpdateSectionData(this);">
                                                                <option value="0">---Select---</option>
                                                                @{
                                                                    for (int k = 1; k <= parlist.SecQty; k++)
                                                                    {
                                                                        var sename = "Fab.Section-" + k.ToString();
                                                                        if (k == childlist.SectionNo)
                                                                        {
                                                                            <option value="@k" selected="selected">@sename</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@k">@sename</option>
                                                                        }
                                                                    }

                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="control-label">
                                                            @(c == 1 ? "Int" : "")
                                                        </label>
                                                        <div class="">
                                                            @{
                                                                sid = childlist.ParentName + "_Int_" + c;
                                                                <label class="mt-checkbox mt-checkbox-outline" for="@sid">
                                                                    @Html.CheckBox("Internal", childlist.Internals != "false" ? true : false, new { @id = sid })
                                                                    <span></span>
                                                                </label>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="control-label">
                                                            @(c == 1 ? "Ext" : "")
                                                        </label>
                                                        <div class="">
                                                            @{
                                                                sid = childlist.ParentName + "_Ext_" + c;
                                                                <label class="mt-checkbox mt-checkbox-outline" for="@sid">
                                                                    @Html.CheckBox("External", childlist.Externals != "false" ? true : false, new { @id = sid })
                                                                    <span></span>
                                                                </label>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="control-label">
                                                            @(c == 1 ? "Nozzle" : "")
                                                        </label>
                                                        <div class="">
                                                            @{
                                                                sid = childlist.ParentName + "_Nozzle_" + c;
                                                                <label class="mt-checkbox mt-checkbox-outline" for="@sid">
                                                                    @Html.CheckBox("Nozzle", childlist.Nozzles != "false" ? true : false, new { @id = sid })
                                                                    <span></span>
                                                                </label>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                                        c++;
                                                                    }
                                                                }
                                }
                            </fieldset>
                                                                }
                    </div>
                    <div>
                        <input type="hidden" name="hidsection" id="hidsection" value="" />
                        <input type="hidden" name="hidpwht" id="hidpwht" value="" />
                        <input type="hidden" name="hidheaderid" id="hidheaderid" value="" />
                        <input type="hidden" name="hidequipment" id="hidequipment" value="@ViewBag.NodeId" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var nameFieldCount = 0;
    var newObjName = null;
    var newObjQty = null;
    var nos = 0;
    var headerid = 0;
    var Name = [];
    var Numeric = [];
    var validateform = true;
    var DefaultOptionName = "@ViewBag.Nodename";

    var array = @Html.Raw(Json.Encode(@ViewBag.IsInitList));
    var jScriptArray = new Array();
    for (var i = 0; i < array.length; i++) {
        jScriptArray[i] = array[i];
    }

    $(document).ready(function () {
        $("#hidheaderid").val($("#HeaderId").val());

        $("#RevertSection").val(@sectionNo);
        $("#hidsection").val('@sectionNo');

        $("#RevertPWHT").val(@pwhtsectionNo);
        $("#hidpwht").val('@pwhtsectionNo');

        $("body").on("click", ".removeClass", function () {
            var mainassembly = $(this).closest(".mainassembly");
            var $subassembly = $("#revertformlist").find("[data-mainassembly=\"" + $(mainassembly).attr("data-name") + "\"]");
            $subassembly.remove(); // To Remove Name Field
            $(mainassembly).remove(); // To Remove Name Field
            return false;
        });

        $("body").on("click", ".addClass", function () {
            debugger;
            validateform = validate(true);
            if (validateform) {
                //$(".clsname").attr("readonly", "readonly");

                var nameFieldCount = $(".addbutton").length;
                $(this).closest(".dvstaticmain").addClass("display-none");
                nameFieldCount++; // To Add More Name Fields
                $("#Form").append('<div class="col-md-12 dvstaticmain mainassembly" id="divAssem_' + nameFieldCount + '" data-name=' + $(this).val() + ' >' +
                    '<div class="col-md-7"> <label class="control-label">&nbsp;</label><div class="">' +
                    '<input type="text" id="Assembly_' + nameFieldCount + '" name="Assembly" class="form-control col-md-3 ui-autocomplete-input checkcls clsname" placeholder="Assembly" maxlength="30" onblur="UpdateNameData(this)"></div></div>' +
                    '<div class="col-md-3"><label class="control-label">&nbsp;</label><div class="">' +
                    '<input type="text" id="AssemblyQty_' + nameFieldCount + '" name="AssemblyQty" class="form-control col-md-3 ui-autocomplete-input checkcls clsqty" placeholder="Qty" onkeypress="return isNumber(event)" maxlength="2"></div></div>' +
                    '<div class="col-md-2"><label class="control-label">&nbsp;</label><div class="">' +
                    '<button class="btn green btn-outline btn-circle addClass addbutton addcls" id="minus"><i class="fa fa-plus" id="plus"></i></button></div></div>' +
                '</div>');
                $(this).removeClass("btn green btn-outline btn-circle addbutton");
                $(this).removeClass("addClass addcls");
                $(this).html("<i class='fa fa-minus' id='minus'></i>")
                $(this).addClass("btn red btn-outline btn-circle addbutton");
                $(this).addClass("removeClass removecls");
                $(this).closest(".dvstaticmain").fadeIn(1000);
                window.setTimeout(function () {
                    $("#Assembly_" + nameFieldCount).focus();
                }, 500)

                var formheight = $(".dvstaticmain").height();

                var height_pct = Math.round($('.dvstaticmain').height() / $('.dvstaticmain').parent().parent().height() * 100);

                if (height_pct < 7) {
                    //alert("max");
                    $("#firsttab").addClass("scrollmenu");
                }
                else {
                    //alert('min');
                }

                return true;// you can submit form or send ajax or whatever you want here
            } else {
                //alert("please fill all the details")
                return false;
            }
        });

        /*---- Form Method ---*/

        var form = document.getElementById("form_id");
        $("#btnRevertSavemodal").unbind('click');

        $("#btnRevertSavemodal").click(function () {
            validateform = validate(true, 'sectionNo', 'psectionNO', 'sections', 'psections');

            if (validateform) {
                debugger;

                var noofSections = $("#RevertSection").val();
                var noofPages = $("#RevertPWHT").val();

                Name = [];
                Numeric = [];
                var Internal = [];
                var External = [];
                var Nozzle = [];

                $(".clsname").each(function () {
                    Name.push($(this).val());
                });

                $(".clsqty").each(function () {
                    Numeric.push($(this).val());
                });

                $("[name='Internal']").not("[type='hidden']").each(function () {
                    Internal.push($(this).prop("checked"));
                });
                $("[name='External']").not("[type='hidden']").each(function () {
                    External.push($(this).prop("checked"));
                });
                $("[name='Nozzle']").not("[type='hidden']").each(function () {
                    Nozzle.push($(this).prop("checked"));
                });

                var frmSaveHeaderValue = $("#" + form.id).serializeArray();
                var formData = new FormData();
                $.each(frmSaveHeaderValue, function (key, input) {
                    if (input.name != "Internal" && input.name != "External" && input.name != "Nozzle") {
                        formData.append(input.name, input.value);
                    }
                });

                formData.append("Numeric", Numeric);
                formData.append("Name", Name);
                formData.append("Internal", Internal);
                formData.append("External", External);
                formData.append("Nozzle", Nozzle);
                formData.append("noofSections", noofSections);
                formData.append("noofPages", noofPages);
                $('#modalDynamic').modal('hide');
                $.ajax({
                    url: WebsiteURL + "/FKMS/MaintainFKMS/DynamicForm",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    success: function (data) {
                        window.location.href = WebsiteURL + "/FKMS/MaintainFKMS/FKMSDetails/" + $("#hidheaderid").val() + "?urlForm=" + '@clsImplementationEnum.WPPIndexType.maintain.GetStringValue()';
                    },
                    error: function () {
                        $('#modalRevertDynamic').modal('show');
                    }
                });
            } else {
                $("#btnRevertSavemodal").addClass("hidden");
                return false;
            }
        });

        $("#btnRevertGenerate").bind("click", function () {
            debugger;
            validateform = validate(true, 'sectionNo', 'psectionNO');

            if (validateform) {
                $(".mainassembly").each(function () {
                    //console.log("name : " + $(this).attr("data-name"));
                    var qty = $($(this).find('.clsqty')[0]).val();
                    //console.log("qty : " + qty);
                    var $subassembly = $("#revertformlist").find("[data-mainassembly=\"" + $(this).attr("data-name") + "\"]");

                    var existQty = $subassembly.find("[data-assembly=\"" + $(this).attr("data-name") + "\"]").length;
                    //console.log("existQty : " + existQty);
                    //console.log($subassembly)
                    if ($subassembly.length > 0) {
                        if (qty > existQty) {
                            //Add new
                            debugger;
                            for (var i = existQty; i < qty; i++) {
                                AddNewSubAssembly($(this).attr("data-name"), i + 1);
                            }
                        }
                        else if (qty < existQty) {
                            //remove last

                                RemoveLastElement: do {
                                    var lastrecord = $subassembly.find("[data-assembly=\"" + $(this).attr("data-name") + "\"]").last();
                                    $(lastrecord).remove();
                                    existQty = $subassembly.find("[data-assembly=\"" + $(this).attr("data-name") + "\"]").length;

                                    if (qty == existQty) break RemoveLastElement;
                                    if (qty < existQty) continue RemoveLastElement;
                                } while (existQty);

                        }
                    }
                    else if ($subassembly.length == 0) {
                        for (var i = 1; i <= qty; i++) {
                            AddNewSubAssembly($(this).attr("data-name"), i);
                        }
                    }
                });

                var Rsec = $("#RevertPWHT").val();

                $(".clsrevertinitsection").each(function () {
                    //console.log("name : " + $(this).attr("data-name"));
                    var $subassembly = $("#revertpwhtlist").find("[data-mainassembly=\"" + $(this).attr("data-assembly") + "\"]");
                    var existpwhtqty = $subassembly.find("[data-assembly=\"" + $(this).attr("data-assembly") + "\"]").length;
                    //console.log("existQty : " + existpwhtqty);
                    debugger;
                    if (existpwhtqty > 0) {
                        if (Rsec > existpwhtqty) {
                            //Add new
                            debugger;
                            for (var i = existpwhtqty; i < Rsec; i++) {
                                AddNewInitPWHT("PWHT-Sections", i + 1);
                            }
                        }
                        else if (Rsec < existpwhtqty) {
                                RemoveLastElement: do {
                                    var lastrecord = $(".clsrevertinitsection").last();
                                    $(lastrecord).remove();
                                    existpwhtqty = $(".clsrevertinitsection").length;

                                    if (Rsec == existpwhtqty) break RemoveLastElement;
                                    if (Rsec < existpwhtqty) continue RemoveLastElement;
                                } while (existpwhtqty);
                        }
                    }
                    else if (existpwhtqty == 0) {
                        for (var i = 1; i <= Rsec; i++) {
                            AddNewInitPWHT($(this).attr("data-name"), i);
                        }
                    }
                });


                var sec = $("#RevertSection").val();

                $(".clsrevertpwhtsection").each(function () {
                    //console.log("name : " + $(this).attr("data-name"));
                    var $subassembly = $("#revertpagelist").find("[data-mainassembly=\"" + $(this).attr("data-assembly") + "\"]");
                    var existpwhtqty = $subassembly.find("[data-assembly=\"" + $(this).attr("data-assembly") + "\"]").length;
                    //console.log("existQty : " + existpwhtqty);

                    if (existpwhtqty > 0) {
                        if (sec > existpwhtqty) {
                            //Add new
                            debugger;
                            for (var i = existpwhtqty; i < sec; i++) {
                                AddNewPWHT("Fab.Sec", i + 1);
                            }
                        }
                        else if (sec < existpwhtqty) {
                                RemoveLastElement: do {
                                    var lastrecord = $(".clsrevertpwhtsection").last();
                                    $(lastrecord).remove();
                                    existpwhtqty = $(".clsrevertpwhtsection").length;

                                    if (sec == existpwhtqty) break RemoveLastElement;
                                    if (sec < existpwhtqty) continue RemoveLastElement;
                                } while (existpwhtqty);
                        }
                    }
                    else if (existpwhtqty == 0) {
                        for (var i = 1; i <= sec; i++) {
                            AddNewPWHT($(this).attr("data-name"), i);
                        }
                    }
                });

                $(".initpages").each(function () {
                    //console.log("sections : " + $(this).val());
                    var parentdiv = $(this).closest('.clsHeaderDet');
                    var SelectedSection = $(parentdiv).attr("data-section");
                    $(this).find("option").each(function () {
                        $(this).remove();
                    });
                    var options = GetInitSectionOptions(SelectedSection);
                    $(this).append(options);
                });

                $(".sectionbox").each(function () {
                    //console.log("sections : " + $(this).val());
                    var parentdiv = $(this).closest('.clsHeaderDet');
                    var SelectedSection = $(parentdiv).attr("data-section");
                    $(this).find("option").each(function () {
                        $(this).remove();
                    });
                    var options = GetSectionOptions(SelectedSection);
                    $(this).append(options);
                });

                var psec = $("#RevertPWHT").val();
                $(".pwhtpages").each(function () {
                    // console.log("PHWT : " + $(this).val());
                    var parentdiv = $(this).closest('.clsHeaderDet');
                    var SelectedSection = $(parentdiv).attr("data-section");
                    $(this).find("option").each(function () {
                        $(this).remove();
                    });
                    var options = GetPSectionOptions(SelectedSection);
                    $(this).append(options);
                });

                $(".clsname").attr("readonly", "readonly");
                $("#btnRevertSavemodal").removeClass('hidden');

            } else {
                $("#btnRevertSavemodal").addClass("hidden");
                return false;
            }
        });

        $(document).on('change', 'input[name=Int]', function () {
            var val = this.checked ? true : false;
            $(this).val(val);
            var cls = this.id;
            $("." + cls).val(val);
        });

        $(document).on('change', 'input[name=Noz]', function () {
            var val = this.checked ? true : false;
            $(this).val(val);
            var cls = this.id;
            $("." + cls).val(val);
        });

        $(document).on('change', 'input[name=Ext]', function () {
            var val = this.checked ? true : false;
            $(this).val(val);
            var cls = this.id;
            $("." + cls).val(val);
        });
    });

    function AddNewInitPWHT(name, i) {
        debugger
        var $subassembly = $("#revertpwhtlist").find("[data-mainassembly=\"" + name + "\"]");
        var existQty = $subassembly.find("[data-assembly=\"" + name + "\"]").length;
        var newelem = "";
        if (existQty == 0) {
            newelem = "<fieldset data-mainassembly=\"" + name + "\">" +
                             '<legend>' + name + ' Pages </legend>';
        }
        newelem +=
         "<div class=\"form-group clsHeaderDet clsrevertinitsection\" data-assembly=\"" + name + "\" data-section=\"0\">" +
                  '<div class="col-md-12 nopad">' +
                  '<div class="col-md-3">' +
                  '<label class="control-label">&nbsp;</label>' +
                  '<div class="">' +
                  '<label class="control-label">' + name + '-' + i + '</label>' +
                  '<input name="InitLabel" type="hidden" value="' + name + '-' + i + '">' +
                  '<input name="InitparentLabel" type="hidden" value="' + name + '">' +
                  '<input name="Initsection" type="hidden" value="' + i + '">' +
                  '</div>' +
                  '</div>' +
                  '<div class="name col-md-8" id="secInputsWrapper_0' + i + '">' +
                  '<label class="control-label">&nbsp;</label>' +
                  '<div class="">' +
                  //'<select type="text"  id="sectionPWHT' + i + '" name="sectionPWHT" data-PWHT="PWHT" class="form-control autocomplete col-md-3 ui-autocomplete-input valid" autocomplete="off" aria-required="true" aria-invalid="false" onblur="Updateswp(this);">' +
                  //'<input id="NO_PWHT_sectionPWHT' + i + '" name="NO_PWHT_sectionPWHT' + i + '" type="hidden" value="">' +
                  '<select name="initpages" class="initpages textbox form-control col-md-3 ui-autocomplete-input" id="' + name.replace(/ /gi, "_") + '_mySelect_' + i + '" onchange="UpdateInitSectionData(this);">' + GetInitSectionOptions() + '</select>' +
                  //'<select id="sectionPWHT' + i + '" name="sectionPWHT" multiple="multiple" data-PWHT="PWHT" class=" select2-search__field form-control autocomplete clsdynamicform col-md-3" onchange="sectionPWHT_change(this)"></select>' +
                  '</div>' +
                  '</div>' +
                  '</div>' +
                  '</div>';
        if (existQty == 0) {
            newelem += "</fieldset>";
        }
        if ($subassembly.length == 0) {
            $("#revertpagelist").append(newelem);
        }
        else {
            $subassembly.append(newelem);
        }
    }

    function AddNewPWHT(name, i) {
        debugger
        var $subassembly = $("#revertpagelist").find("[data-mainassembly=\"" + name + "\"]");
        var existQty = $subassembly.find("[data-assembly=\"" + name + "\"]").length;
        var newelem = "";
        if (existQty == 0) {
            newelem = "<fieldset data-mainassembly=\"" + name + "\">" +
                             '<legend>' + name + ' Pages </legend>';
        }
        newelem +=
         "<div class=\"form-group clsHeaderDet clsrevertpwhtsection\" data-assembly=\"" + name + "\" data-section=\"0\">" +
                  '<div class="col-md-12 nopad">' +
                  '<div class="col-md-3">' +
                  '<label class="control-label">&nbsp;</label>' +
                  '<div class="">' +
                  '<label class="control-label">' + name + '-' + i + '</label>' +
                  '<input name="PWHTLabel" type="hidden" value="' + name + '-' + i + '">' +
                  '<input name="PWHTparentLabel" type="hidden" value="' + name + '">' +
                  '<input name="PWHTsection" type="hidden" value="' + i + '">' +
                  '</div>' +
                  '</div>' +
                  '<div class="name col-md-8" id="secInputsWrapper_0' + i + '">' +
                  '<label class="control-label">&nbsp;</label>' +
                  '<div class="">' +
                  //'<select type="text"  id="sectionPWHT' + i + '" name="sectionPWHT" data-PWHT="PWHT" class="form-control autocomplete col-md-3 ui-autocomplete-input valid" autocomplete="off" aria-required="true" aria-invalid="false" onblur="Updateswp(this);">' +
                  //'<input id="NO_PWHT_sectionPWHT' + i + '" name="NO_PWHT_sectionPWHT' + i + '" type="hidden" value="">' +
                  '<select name="pwhtpages" class="pwhtpages textbox form-control col-md-3 ui-autocomplete-input" id="' + name.replace(/ /gi, "_") + '_mySelect_' + i + '" onchange="UpdateSectionData(this);">' + GetSectionOptions() + '</select>' +
                  //'<select id="sectionPWHT' + i + '" name="sectionPWHT" multiple="multiple" data-PWHT="PWHT" class=" select2-search__field form-control autocomplete clsdynamicform col-md-3" onchange="sectionPWHT_change(this)"></select>' +
                  '</div>' +
                  '</div>' +
                  '</div>' +
                  '</div>';
        if (existQty == 0) {
            newelem += "</fieldset>";
        }
        if ($subassembly.length == 0) {
            $("#revertpagelist").append(newelem);
        }
        else {
            $subassembly.append(newelem);
        }
    }

    function AddNewSubAssembly(name, i) {
        debugger
        var $subassembly = $("#revertformlist").find("[data-mainassembly=\"" + name + "\"]");
        var existQty = $subassembly.find("[data-assembly=\"" + name + "\"]").length;
        var newelem = "";
        if (existQty == 0) {
            $name = $(".clsHeaderDet").find("[data-name=\"" + name + "\"]");
            var qty = $name.find('.clsqty').val();
            newelem = "<fieldset data-mainassembly=\"" + name + "\" data-qty=\"" + qty + "\">"+
                             '<legend>' + name + ' Assembly </legend>';
        }
        var sections = $("#RevertSection").val();
        newelem +=
         "<div class=\"form-group clsHeaderDet\" data-assembly=\"" + name + "\" data-section=\"0\">" +
                  '<div class="col-md-12 nopad">' +
                  '<div class="col-md-3">' +
                  '<label class="control-label">&nbsp;</label>' +
                  '<div class="">' +
                  '<label class="control-label">' + name + '-' + i + '</label>' +
                  '<input name="Label" type="hidden" value="' + name + '-' + i + '">' +
                  '<input name="parentLabel" type="hidden" value="' + name + '">' +
                  '</div>' +
                  '</div>' +
                  '<div class="name col-md-5" id="InputsWrapper_0' + i + '">' +
                  '<label class="control-label">&nbsp;</label>' +
                  '<div class="">' +
                  '<select name="section" class="textbox form-control col-md-3 ui-autocomplete-input sectionbox" id="' + name.replace(/ /gi, "_") + '_mySelect_' + i + '" onchange="UpdateSectionData(this);">' + GetSectionOptions() + '</select>' +
                  '</div>' +
                  '</div>' +
                  '<div class="col-md-1">' +
                  '<label class="control-label">&nbsp;</label>' +
                  '<div class="">' +
                  '<label class="mt-checkbox mt-checkbox-outline" >' +
                  '<input class="clsReadOnly" id="' + name.replace(/ /gi, "_") + '_Int_' + i + '" name="Internal" type="checkbox" value="false" ><span></span>' +
                  '<input type="hidden" class="' + name.replace(/ /gi, "_") + '_Int_' + i + '" name="Internal" value="false"/>' +
                  ' </label>' +
                  '</div>' +
                  '</div>' +
                   '<div class="col-md-1">' +
                  '<label class="control-label">&nbsp;</label>' +
                  '<div class="">' +
                  '<label class="mt-checkbox mt-checkbox-outline">' +
                  '<input class="clsReadOnly" id="' + name.replace(/ /gi, "_") + '_Ext_' + i + '" name="External" type="checkbox" value="false" ><span></span>' +
                  '<input type="hidden" class="' + name.replace(/ /gi, "_") + '_Ext_' + i + '" name="External" value="false"/>' +
                  ' </label>' +
                  '</div>' +
                  '</div>' +
                  '<div class="col-md-1">' +
                  '<label class="control-label">&nbsp;</label>' +
                  '<div class="">' +
                  '<label class="mt-checkbox mt-checkbox-outline">' +
                  '<input class="clsReadOnly" id="' + name.replace(/ /gi, "_") + '_Nozzle_' + i + '" name="Nozzle" type="checkbox" value="false" ><span></span>' +
                  '<input type="hidden" class="' + name.replace(/ /gi, "_") + '_Nozzle_' + i + '" name="Nozzle" value="false"/>' +
                  ' </label>' +
                  '</div>' +
                  '</div>' +
                  '</div>' +
                  '</div>';
        //console.log("newelem : " + newelem);
        if (existQty == 0) {
            newelem += "</fieldset>";
        }
        if ($subassembly.length == 0) {
            $("#revertformlist").append(newelem);
        }
        else {
            $subassembly.append(newelem);
        }
    }

    function validate(validateform, obj, pobj, obj2, pobj2) {
        debugger;

        if (obj == "sectionNo") {
            if ($("#RevertSection").val() == "" || $("#RevertSection").val() == "0") {
                $("#RevertSection").addClass('error');
                validateform = false;
            } else {
                $("#RevertSection").removeClass('error');
            }

            if (obj2 == "sections") {
                $(".sectionbox").each(function () {
                    if ($(this).val() == "0") {
                        $(this).addClass('error');
                        validateform = false;
                    } else {
                        $(this).removeClass('error');
                    }
                });

                $(".pwhtpages").each(function () {
                    if ($(this).val() == "0") {
                        $(this).addClass('error');
                        validateform = false;
                    } else {
                        $(this).removeClass('error');
                    }
                });

                $(".initpages").each(function () {
                    if ($(this).val() == "0") {
                        $(this).addClass('error');
                        validateform = false;
                    } else {
                        $(this).removeClass('error');
                    }
                });
            }


        }
        if (pobj == "psectionNO") {
            if ($("#RevertPWHT").val() == "" || $("#RevertPWHT").val() == "0") {
                $("#RevertPWHT").addClass('error');
                validateform = false;
            } else {
                $("#RevertPWHT").removeClass('error');
            }
        }

        $(".clsname").each(function () {
            if ($(this).val() == "") {
                $(this).addClass('error');
                validateform = false;
            } else {
                $(this).removeClass('error');
            }
        });

        $(".clsqty").each(function () {
            if ($(this).val() == "") {
                $(this).addClass('error');
                validateform = false;
            } else {
                $(this).removeClass('error');
            }
        });
        return validateform;
    }

    function UpdateNameData(txt) {
        $this = $(txt);
        var isExist = false;
        $('.clsname').each(function () {
            if ($(this).attr("id") != $this.attr("id")) {
                if ($(this).val().toLowerCase() == $this.val().toLowerCase()) {
                    DisplayNotiMessage("error", $this.val() + " is already exist in assembly!", "Error");
                    isExist = true;
                    return false;
                }
            }
        });
        if ($this.val().toLowerCase().indexOf(',') > -1) {
            DisplayNotiMessage("error", " Special character [,] is not allowed!", "Error");
            isExist = true;
        }
        if (!isExist) {
            $this.closest(".mainassembly").attr("data-name", $this.val());
        }
        else {
            $this.val("");
            $this.focus();
        }
    }

    function UpdateSectionData(ddl) {
        $this = $(ddl);
        $this.closest(".clsHeaderDet").attr("data-section", $this.val());
    }

    function UpdateRevertSectionData(txt) {
        $this = $(txt);
        $("#hidsection").val($this.val());
    }

    function getConfirmation() {
        bootbox.confirm("<Label>By ReDefine the Given Number Of Quentity For Assemblys Will be No Longer Exist.</Label><br><Label>Do you want to Continue?</Label>",
        function (result) {
            if (result == true) {
                ReDefine();
                return true;
            }
        })
    }

    function selectsection() {
        nof = 0;
        $(".sectionbox").empty();
        nos = $("#RevertSection").val();
        if (nos > 0) {
            $('.sectionbox').append($('<option>',
                {
                    value: 0,
                    text: "---Select---"
                }));
            for (i = 1; i <= nos; i++) {
                $('.sectionbox').append($('<option>',
                {
                    value: i,
                    text: "Fab.Section-" + i
                }));
            }
        }
        $("#hidsection").val(nos);
    }

    function GetSectionOptions(val) {
        var nos = $("#RevertSection").val();
        var opt = "<option value=\"0\">---Select---</option>";
        for (i = 1; i <= nos; i++) {
            opt += "<option value=\"" + i + "\" " + (val == i ? " selected " : "") + ">Fab.Section-" + i + "</option>";
        }
        $("#hidsection").val(nos);
        return opt;
    }

    function GetInitSectionOptions(val) {
        var opt = "<option value=\"0\">---Select---</option>";
        for (i = 0; i < jScriptArray.length; i++) {
            opt += "<option value=\"" + jScriptArray[i].nodeId + "\" " + (val == jScriptArray[i].nodeId ? " selected " : "") + ">" + jScriptArray[i].nodeName + "</option>";
        }
        return opt;
    }

    function GetPSectionOptions(val) {
        var nos = $("#RevertPWHT").val();
        var opt = "<option value=\"0\">---Select---</option>";
        for (kk = 0; kk <= nos; kk++)
        {
            var name = 'PHWT-' + kk;
            if (kk == 0)
            {
                for (var i = 0; i < jScriptArray.length; i++) {
                    if (val == jScriptArray[i].nodeId)
                    {
                        opt += "<option value=\"" + jScriptArray[i].nodeId + "\" selected>" + jScriptArray[i].nodeName + "</option>";
                    }
                    else
                    {
                        opt += "<option value=\"" + jScriptArray[i].nodeId + "\">" + jScriptArray[i].nodeName + "</option>";
                    }
                }
            }
            else if (kk == val)
            {
                if(val != "0")
                {
                    opt += "<option value=\"" + kk + "\" selected>" + name + "</option>";
                }
            }
            else {
                opt += "<option value=\"" + kk + "\">" + name + "</option>";
            }
           // opt += "<option value=\"" + i + "\" " + (val == i ? " selected " : "") + ">PHWT-" + i + "</option>";
        }
        $("#hidpwht").val(nos);
        return opt;
    }

    function dynamicinput(nof, name, path) {

        $("#" + path).append(
               '<fieldset>' +
               '<legend>' + name + ' Assembly </legend>' +
               '</fieldset>');

        for (i = 1; i <= nof; i++) {

            if (i > 1) {
                $("#" + path).append(
             '<div class="form-group clsHeaderDet" >' +
             '<div class="col-md-12 nopad">' +
             '<div class="col-md-3">' +
             '<label class="control-label">&nbsp;</label>' +
             '<div class="">' +
             '<label class="control-label">' + name + '-' + i + '</label>' +
             '<input name="Label" type="hidden" value="' + name + '-' + i + '">' +
             '<input name="parentLabel" type="hidden" value="' + name + '">' +
             '</div>' +
             '</div>' +
             '<div class="name col-md-5" id="InputsWrapper_0' + i + '">' +
             '<label class="control-label">&nbsp;</label>' +
             '<div class="">' +
             '<select name="section" class="textbox form-control col-md-3 ui-autocomplete-input sectionbox" id="' + name.replace(/ /gi, "_") + '_mySelect_' + i + '"></select>' +
             '</div>' +
             '</div>' +
             '<div class="col-md-1">' +
             '<label class="control-label">&nbsp;</label>' +
             '<div class="">' +
             '<label class="mt-checkbox mt-checkbox-outline" >' +
             '<input class="clsReadOnly" id="' + name.replace(/ /gi, "_") + '_Int_' + i + '" name="Int" type="checkbox" value="false" ><span></span>' +
             '<input type="hidden" class="' + name.replace(/ /gi, "_") + '_Int_' + i + '" name="Internal" value="false"/>' +
             ' </label>' +
             '</div>' +
             '</div>' +
              '<div class="col-md-1">' +
             '<label class="control-label">&nbsp;</label>' +
             '<div class="">' +
             '<label class="mt-checkbox mt-checkbox-outline">' +
             '<input class="clsReadOnly" id="' + name.replace(/ /gi, "_") + '_Ext_' + i + '" name="Ext" type="checkbox" value="false" ><span></span>' +
             '<input type="hidden" class="' + name.replace(/ /gi, "_") + '_Ext_' + i + '" name="External" value="false"/>' +
             ' </label>' +
             '</div>' +
             '</div>' +
             '<div class="col-md-1">' +
             '<label class="control-label">&nbsp;</label>' +
             '<div class="">' +
             '<label class="mt-checkbox mt-checkbox-outline">' +
             '<input class="clsReadOnly" id="' + name.replace(/ /gi, "_") + '_Nozzle_' + i + '" name="Noz" type="checkbox" value="false" ><span></span>' +
             '<input type="hidden" class="' + name.replace(/ /gi, "_") + '_Nozzle_' + i + '" name="Nozzle" value="false"/>' +
             ' </label>' +
             '</div>' +
             '</div>' +
             '</div>' +
             '</div>');
            }
            else {
                $("#" + path).append(
             '<div class="form-group clsHeaderDet" >' +
             '<div class="col-md-12 nopad">' +
             '<div class="col-md-3">' +
             '<label class="control-label">&nbsp;</label>' +
             '<div class="">' +
             '<label class="control-label ">' + name + '-' + i + '</label>' +
             '<input name="Label" type="hidden" value="' + name + '-' + i + '">' +
             '<input name="parentLabel" type="hidden" value="' + name + '">' +
             '</div>' +
             '</div>' +
             '<div class="name col-md-5" id="InputsWrapper_0' + i + '">' +
             '<label class="control-label">Fab.Sec</label>' +
             '<div class="">' +
             '<select name="section" class="textbox form-control col-md-3 ui-autocomplete-input sectionbox" id="' + name.replace(/ /gi, "_") + '_mySelect_' + i + '"></select>' +
             '</div>' +
             '</div>' +
             '<div class="col-md-1">' +
             '<label class="control-label mleft0">Int</label>' +
             '<div class="">' +
             '<label class="mt-checkbox mt-checkbox-outline">' +
             '<input class="clsReadOnly" id="' + name.replace(/ /gi, "_") + '_Int_' + i + '" name="Int" type="checkbox" value="false"><span></span>' +
             '<input type="hidden" class="' + name.replace(/ /gi, "_") + '_Int_' + i + '" name="Internal" value="false"/>' +
             ' </label>' +
             '</div>' +
             '</div>' +
              '<div class="col-md-1">' +
             '<label class="control-label mleft0">Ext</label>' +
             '<div class="">' +
            '<label class="mt-checkbox mt-checkbox-outline">' +
             '<input class="clsReadOnly" id="' + name.replace(/ /gi, "_") + '_Ext_' + i + '" name="Ext" type="checkbox" value="false"><span></span>' +
             '<input type="hidden" class="' + name.replace(/ /gi, "_") + '_Ext_' + i + '" name="External" value="false"/>' +
             ' </label>' +
             '</div>' +
             '</div>' +
             '<div class="col-md-1">' +
             '<label class="control-label mleft0">Nozzle</label>' +
             '<div class="">' +
              '<label class="mt-checkbox mt-checkbox-outline">' +
             '<input class="clsReadOnly" id="' + name.replace(/ /gi, "_") + '_Nozzle_' + i + '" name="Noz" type="checkbox" value="false"><span></span>' +
             '<input type="hidden" class="' + name.replace(/ /gi, "_") + '_Nozzle_' + i + '" name="Nozzle" value="false"/>' +
             ' </label>' +
             '</div>' +
             '</div>' +
             '</div>' +
             '</div>');
            }
        }
    }

</script>
