﻿@using IEMQSImplementation
@{
    ViewBag.Title = "Tracking Fullkit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Datatable/css")
<style>
    .table-scrollable {
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 10px 0 !important;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }
     .bordernone {
        border-top: none !important;
        background-color: white !important;
    }

    .bgcolor {
        background-color: white !important;
    }
</style>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<div class="page-content">
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">
                            Tracking Fullkit
                        </span>
                    </div>
                </div>
                <div>
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmSummary" }))
                    {
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Search Filter</legend>
                                    <div>
                                        <div class="col-md-3">
                                            <label class="control-label">Task Manager</label>
                                            <div class="">
                                                @Html.TextBox("txtTaskManager", "", new { @class = "form-control", @placeholder = "Select" })
                                                @Html.Hidden("TaskManager", "", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            <div class="">
                                                @Html.TextBox("txtProject", "", new { @class = "form-control", @placeholder = "Select" })
                                                @Html.Hidden("Project", "", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-3 hidden">
                                            <label class="control-label">Deliver to</label>
                                            <div class="">
                                                @Html.TextBox("txtDeliverTo", "", new { @class = "form-control", @placeholder = "Select" })
                                                @Html.Hidden("DeliverTo", "", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Kit Status</label>
                                            <div class="">
                                                @Html.TextBox("txtKitStatus", "", new { @class = "form-control", @placeholder = "Select" })
                                                @Html.Hidden("KitStatus", "", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-3" style="margin-top:5px;">
                                            <label class="control-label"> </label>
                                            <div class="">
                                                <input type="button" class="btn save " id="btnSearch" value="Search" />
                                            </div>
                                        </div>
                                    </div>
                                    @*<div>
                                        <div class="col-md-6"></div>
                                        <div class="col-md-6" style="margin-top: 27px; text-align:right;">
                                            <div class="">
                                                <input type="button" class="btn save " id="btnSearch" value="Search" />
                                            </div>
                                        </div>
                                    </div>*@
                                </fieldset>
                            </div>
                        </div>
                    }
                </div>
                <div class="row" id="divLines">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var lstKitStatus = @Html.Raw(Json.Encode(ViewBag.KitStatusList));
        FillAutoComplete($("#txtKitStatus"), lstKitStatus, $("#KitStatus"));

        @*var lstDeliverTo = @Html.Raw(Json.Encode(ViewBag.DeliverToList));
        FillAutoComplete($("#txtDeliverTo"), lstDeliverTo, $("#DeliverTo"));

        var ProjectList = [];
        ProjectList.push({ id: "Project", value: $('#Project') });
        FillAutoCompleteUsingAjax($("#txtDeliverTo"), "/MaintainFKMS/GetDeliverToSearchFilter", $("#DeliverTo"), false, ProjectList);*@        

        $('#btnSearch').click(function () {
            var Project = $("#Project").val();
            var TaskManager = $("#TaskManager").val();
            if (Project || TaskManager) {
                GetSummaryGridDataPartial();
            }
            else {
                bootbox.alert("<Label>Please Select Project Or Task Manager</Label>");
                return false;
            }
        });

        //$("#frmSummary").validate({
        //    rules: {
        //        txtProject: {
        //            required: true
        //        },
        //    },
        //    messages: {
        //        txtProject: {
        //            required: "Project is required"
        //        },
        //    }
        //});

        $("#txtProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/MaintainFKMS/GetProjectsResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async:false,
                    data: { term: request.term, Task: $("#TaskManager").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectCode };
                        }));
                    }
                });
            },
            minLength: 0,
            autoFocus: false,
            select: function (event, ui) {
                event.preventDefault();
                $("#txtProject").val(ui.item.label);
                $("#Project").val(ui.item.value);
                if (ui.item) {
                    $("#txtProject").val(ui.item.label);
                    $("#Project").val(ui.item.value);
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $("#txtProject").val("");
                    $("#Project").val("");
                    HighlightInValidControls();
                }
            }
        }).focus(function () {
            $(this).autocomplete("search");
        });

        $("#txtTaskManager").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/MaintainFKMS/GetTaskManagerSearchFilter",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async:false,
                    data: { term: request.term, Project : $("#Project").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Text, value: item.Value };
                        }));
                    }
                });
            },
            minLength: 0,
            autoFocus: false,
            select: function (event, ui) {
                event.preventDefault();
                $("#txtTaskManager").val(ui.item.label);
                $("#TaskManager").val(ui.item.value);
                if (ui.item) {
                    $("#txtTaskManager").val(ui.item.label);
                    $("#TaskManager").val(ui.item.value);
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $("#txtTaskManager").val("");
                    $("#TaskManager").val("");
                    HighlightInValidControls();
                }
            }
        }).focus(function () {
            $(this).autocomplete("search");
        });
    });

    function GetSummaryGridDataPartial() {
        $("#divLines").empty();

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/FKMS/MaintainFKMS/LoadFKMSSummaryGridDataPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { Project: $("#Project").val() },
            success: function (result) {
                $("#divLines").html(result);
            },
            error: function () {
            }
        });
    }
</script>
@Scripts.Render("~/bundles/datatable/js")