﻿@model IEMQSImplementation.JPP007

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />
<script>
    $(document).ready(function () {
        var Lineid = parseInt("@Model.LineId");
        if (Lineid > 0) {
            $("#hfLineid").val(Lineid);             
            $("#txtSCP").val("@Model.SubcontractingPlan");
        }
        else {
            $("#hfLineid").val("0");
            $("#txtSCP").val("");
        }
    });
</script>
<div class="row" style="width:100%">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmSCPLines", @class = "form-horizontal" }))
                {
                    @Html.Hidden("hfHeaderId", (int)@ViewBag.Headerid);
                    @*@Html.Hidden("hfProject", (string)@ViewBag.Project);
                        @Html.Hidden("hfIssueNo", (string)@ViewBag.IssueNo);
                        @Html.Hidden("hfSrNo", (string)@ViewBag.SrNo);
                        @Html.Hidden("hfDocNum", (int)@ViewBag.DocNum);
                        @Html.Hidden("hfDocRev", (string)@ViewBag.DocRev);*@
                    @Html.Hidden("hfLineid", (int)@ViewBag.Lineid);

                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-4">Project <span class="required"> * </span></label>
                            <div class="col-md-6">
                                @Html.TextBox("txtProject", (string)@ViewBag.Project, new { @class = "form-control", @ReadOnly = "ReadOnly" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="control-label  col-md-4">Issue No</label>
                            <div class="col-md-6">
                                @Html.TextBox("txtIssueNo", (string)@ViewBag.IssueNo, new { @class = "form-control", @ReadOnly = "ReadOnly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label  col-md-4">Sr No</label>
                            <div class="col-md-6">
                                @Html.TextBox("txtSrNo", (string)@ViewBag.SrNo, new { @class = "form-control", @ReadOnly = "ReadOnly" })
                            </div>
                        </div>*@

                        <div class="form-group">
                            <label class="control-label  col-md-4">Document Number</label>
                            <div class="col-md-6">
                                @Html.TextBox("txtDocNum", (string)@ViewBag.DocNum, new { @class = "form-control", @ReadOnly = "ReadOnly" })
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label  col-md-4">Document Revision</label>
                            <div class="col-md-6">
                                @Html.TextBox("txtDocRev", (string)@ViewBag.DocRev, new { @class = "form-control", @ReadOnly = "ReadOnly" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label  col-md-4">Subcontracting Plan</label>
                            <div class="col-md-6">
                                @Html.TextBox("txtSCP", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>



