﻿
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>

@*<link href="~/Content/ThemeCss/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/ThemeScripts/Plugins/select2/components-select2.min.js"></script>
    <script src="~/Scripts/select2/js/select2.full.min.js"></script>*@
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>

@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    <span id="spanLabel">@Html.Raw((String)ViewBag.Title)</span>
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portlet-light" id="divData">
                    <div class="portlet-title tabbable-line">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#PQR_Pending" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                            </li>
                            <li>
                                <a href="#PQR_All" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="PQR_Pending">

                            </div>
                            <div class="tab-pane" id="PQR_All">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        
        LoadIndexGridDataPartial("Pending");
        $('a[name="tabStatus"]').click(function () {
            LoadIndexGridDataPartial($(this).attr('spara'));
        });
    });

    function LoadIndexGridDataPartial(status) {
        
        $("#PQR_Pending").empty();
        $("#PQR_All").empty();

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PQR/MaintainPQR/LoadIndexGridDataPartial",
            data: { Status: status , PQRRole : '@ViewBag.PQRRole'},
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                if (status == "Pending") {
                    $("#PQR_Pending").html(result);
                }
                else {
                    $("#PQR_All").html(result);
                }
            },
            error: function () {
            }
        });
    }

    function DownloadTemplate(url, dvId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + url,
            datatype: 'json',
            async: false,
            data: { whereCondition: $(".txtStrWhere", $(dvId)).val(), strSortOrder: $(".txtStrSort", $(dvId)).val() },
            beforeSend: function () { showLoading(true); },
            complete: function () { showLoading(false); },
            success: function (result) {
                if (result.Key) {
                    window.location = WebsiteURL + '/Utility/General/Download?file=' + result.Value;
                    DisplayNotiMessage("success", "Excel Generated Successfully", "Success");
                }
                else {
                    DisplayNotiMessage("error", result.Value, "Error");
                }
            },
            error: function () {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            }
        });
    }
</script>

