﻿@model IEMQSImplementation.WPS010
@using IEMQSImplementation

<style>
    .project-name {
        display: flex;
    }
</style>
<script>
    if (isFromWPSKeyNo == true) {

        $("#txtWPSNumber").val(WPSNoFromWPSKeyNo);
        $("#WPSNumber").val(WPSNoFromWPSKeyNo);
        WPSNoExist($("#Location").val().split('-')[0], WPSNoFromWPSKeyNo, $("#HeaderId").val(), true);
    }
    var lstWeldingType = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.WeldingType))));
    var lstBacking = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.Backing))));
    var lstJointtype = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.JointType))));

    FillAutoComplete($("#txtWeldingType1"), lstWeldingType, $("#WeldingType1"), $("#WeldingProcess1"));
    FillAutoComplete($("#txtWeldingType2"), lstWeldingType, $("#WeldingType2"), $("#WeldingProcess2"));
    FillAutoComplete($("#txtWeldingType3"), lstWeldingType, $("#WeldingType3"), $("#WeldingProcess3"));
    FillAutoComplete($("#txtWeldingType4"), lstWeldingType, $("#WeldingType4"), $("#WeldingProcess4"));



    if ('@Model.HeaderId' > 0) {
        WPSNoExist('@Model.Location', '@Model.WPSNumber', '@Model.HeaderId', false);
        headerId = '@Model.HeaderId';
    }
    $("#txtBacking").autocomplete({
        source: function (request, response) {
            var array = $.map(lstBacking, function (item) {
                return {
                    label: item.CategoryDescription,
                    value: item.CategoryDescription,
                    id: item.Code
                }
            });
            response($.ui.autocomplete.filter(array, request.term));
        },
        minLength: 0,
        autoFocus: true,
        select: function (event, ui) {
            if (ui.item) {
                isSelected = true;
                var strBacking = ui.item.value;
                $("#txtBacking").val(strBacking);
                $("#Backing").val(ui.item.id);
            }
        },
        change: function (event, ui) {
            if (ui.item == null) {
                isSelected = false;
                $(this).val('');
                $(this).focus();
                $("#Backing").val('');
            }

        }
    }).focus(function () {
        $(this).data("uiAutocomplete").search($(this).val());
        $(this).autocomplete("search");
    });

    if (headerId != null && headerId != undefined && headerId != "0" && headerId != 0) {
        //console.log('@Model.WPSNumber');
        $("#txtWPSNumber").val('@Model.WPSNumber');
        //$("#txtWPSNumber").prop("readonly", "readonly");

        if ('@Model.Jointtype' != '' && '@Model.Jointtype' != "null" && '@Model.Jointtype' != null) {
            //$("#txtJointtype").val('@Model.Jointtype');
            $("#Jointtype").val('@Model.Jointtype');
            //$("#txtJointtype").prop("readonly", "readonly");
            TabsForJointType('@Model.Jointtype');
        }
    }

    if ('@Model.WeldingProcess1' != '' && '@Model.WeldingProcess1' != "null" && '@Model.WeldingProcess1' != null) { $("#WeldingProcess1").val('@ViewBag.WeldingProcess1') }
    if ('@Model.WeldingProcess2' != '' && '@Model.WeldingProcess2' != "null" && '@Model.WeldingProcess2' != null) { $("#WeldingProcess2").val('@ViewBag.WeldingProcess2') }
    if ('@Model.WeldingProcess3' != '' && '@Model.WeldingProcess3' != "null" && '@Model.WeldingProcess3' != null) { $("#WeldingProcess3").val('@ViewBag.WeldingProcess3') }
    if ('@Model.WeldingProcess4' != '' && '@Model.WeldingProcess4' != "null" && '@Model.WeldingProcess4' != null) { $("#WeldingProcess4").val('@ViewBag.WeldingProcess4') }
    if ('@Model.WeldingType1' != '' && '@Model.WeldingType1' != "null" && '@Model.WeldingType1' != null) { $("#txtWeldingType1").val('@ViewBag.WeldingType1') }
    if ('@Model.WeldingType2' != '' && '@Model.WeldingType2' != "null" && '@Model.WeldingType2' != null) { $("#txtWeldingType2").val('@ViewBag.WeldingType2') }
    if ('@Model.WeldingType3' != '' && '@Model.WeldingType3' != "null" && '@Model.WeldingType3' != null) { $("#txtWeldingType3").val('@ViewBag.WeldingType3') }
    if ('@Model.WeldingType4' != '' && '@Model.WeldingType4' != "null" && '@Model.WeldingType4' != null) { $("#txtWeldingType4").val('@ViewBag.WeldingType4') }

    if ('@Model.Backing' != '' && '@Model.Backing' != "null" && '@Model.Backing' != null) { $("#txtBacking").val('@Model.Backing') }
    $("#txtBacking").val('@ViewBag.BackingDefault')
    $("#Backing").val('@ViewBag.BackingDefault')

    jQuery.validator.addClassRules('numeric', {
        number: true
    });

    if ($("#Status").val() == '@clsImplementationEnum.WPSHeaderStatus.Approved.GetStringValue()' ||
        $("#Status").val() == '@clsImplementationEnum.WPSHeaderStatus.SentForApproval.GetStringValue()') {
        $('#frmWPSHeader input[type="text"],textarea').prop("disabled", "disabled");
    }
    $('#txtWPSNumber').removeAttr("disabled", "false");
    if ('@Model.HeaderId' > 0) {

        $("#txtWPSNumber").autocomplete({
            source: function (request, response) {

                $.ajax({
                    url: WebsiteURL + "/WPS/MaintainWPSHeader/GetMaintainWPSNo?term=" + request.term,
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,

                    //data: {
                    //    term: request.term,
                    //    Project: $("#hdnchkProject").val()
                    //},
                    success: function (res) {
                        response($.map(res, function (item) {

                            //return { label: item.WPSNumber, value: item.WPSNumber };
                            return { label: item.WPSNumber, value: item.WPSNumber, selectedValue: item.HeaderId };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            select: function (e, i) {
                var status = $("#hdnstatus").val();
                BindRequestDetail(i.item.selectedValue, status)
            },
            minLength: 0
        }).focus(function () {
            $(this).autocomplete("search");
        });
    }
    else {

        $("#txtWPSNumber").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/WPS/MaintainWPSHeader/GetWPSNo",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        WPSNo: request.term,
                        location: $("#Location").val().split('-')[0]
                    },
                    success: function (data) {
                        response($.map(data.CategoryData, function (item) {
                            return { label: item.CategoryDescription, value: item.CategoryDescription, id: item.Value };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strWPSNo = ui.item.value;
                    $("#txtWPSNumber").val(strWPSNo);
                    $("#WPSNumber").val(ui.item.id);

                    WPSNoExist($("#Location").val().split('-')[0], strWPSNo, $("#HeaderId").val(), true);
                    $("#Key1").val(ui.item.id.split('-')[0]);
                    $("#Key2").val(ui.item.id.split('-')[1]);
                    //$('.nav li.active').next('li').removeClass('disabled');
                    //$('.nav li.active').next('li').find('a').attr("data-toggle", "tab");

                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(this).focus();
                }
            }
        });
    }


    function BindRequestDetail(id,status) {
        if ($("#HeaderId").val() != 0) {
            //var roleId = $("#hdnroleid").val();

            window.location = WebsiteURL + '/WPS/MaintainWPSHeader/AddWPSHeader?&headerId=' + id + '&Status=' + status;
        }
      //  window.location = WebsiteURL + "/WPS/MaintainWPSHeader/AddWPSHeader?headerId=" + id;
    }

    //prev button
    $("#prevproj").click(function () {
                var roleId = $("#hdnroleid").val();
        var HeaderId = $("#HeaderId").val();
       // $("#hdnstatus").val("@ViewBag.Status");
        var status = $("#hdnstatus").val();
        $.ajax({
            type: "POST",
            url: WebsiteURL + '/WPS/MaintainWPSHeader/PrevWPSRequest?roleId=' + roleId + '&headerId=' + parseInt(parseInt(HeaderId)) + '&status=' + status,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                if (data != null && data != "") {
                    window.location.href = '/WPS/MaintainWPSHeader/AddWPSHeader?headerId=' + parseInt(data.HeaderId) + '&status=' + status;
                }
            },
            error: function () {

                DisplayNotiMessage("Error", "Data not found", "Error");

            }
        });
      //  window.location.href = '/WPS/MaintainWPSHeader/AddWPSHeader?headerId=' + parseInt(parseInt(HeaderId) - 1);
    });

    //next button
    $("#nextproj").click(function () {
        var HeaderId = $("#HeaderId").val();
        var roleId = $("#hdnroleid").val();
        var status = $("#hdnstatus").val();

        $.ajax({
            type: "POST",
            url: WebsiteURL + '/WPS/MaintainWPSHeader/NextWPSRequest?roleId=' + roleId + '&headerId=' + parseInt(parseInt(HeaderId)) + '&status=' + status,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                if (data != null && data != "") {
                    window.location.href = '/WPS/MaintainWPSHeader/AddWPSHeader?headerId=' + parseInt(data.HeaderId) + '&status=' + status;
                }
            },
            error: function () {
                DisplayNotiMessage("Error", "Data not found", "Error");
            }
        });
        //window.location.href = '/WPS/MaintainWPSHeader/AddWPSHeader?headerId=' + parseInt(parseInt(HeaderId) + 1);
    });



    //next/prev button show/hide
    if ($("#HeaderId").val() == 0) {

        $("#nextproj").hide();
        $("#prevproj").hide();
        $("#txtWPSNumber").css("width", "100%");

    }
    else {
        $("#nextproj").show();
        $("#prevproj").show();
    }
        //end
</script>

<form id="frmWPSHeader" class="form-horizontal">
    <div class="form-group">
        <fieldset>
            <legend>WPS & PQR Details</legend>
            <div class="col-md-12">
                <div class="col-md-3 project-name">
                    <label class="control-label">WPS No.<span class="required"> * </span></label>
                    <div>
                            <div class="" style="display:flex;">
                                <button type="button" class="btn blue" id="prevproj"><i class="fa fa-chevron-left"></i></button>
                                <input type="text" id="txtWPSNumber" name="txtWPSNumber" class="form-control col-md-3" style="width: 70%; display:inline-block;" />
                                <button type="button" class="btn blue" id="nextproj"><i class="fa fa-chevron-right"></i></button>
                                @Html.HiddenFor(m => m.WPSNumber)
                            </div>
                    </div>
                </div>
                <div class="col-md-2" style="display:none">
                    <label class="control-label">Location<span class="required"> * </span></label>
                    @Html.TextBox("Location", (string)ViewBag.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                </div>
                <div class="col-md-1">
                    <label class="control-label">RevNo.</label>
                    @Html.TextBoxFor(m => m.WPSRevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                </div>
                <div class="col-md-1">
                    <label class="control-label">PQR1</label>
                    @Html.TextBoxFor(m => m.PQR1, new { @class = "form-control col-md-3", @maxlength = "50" })
                </div>
                <div class="col-md-1">
                    <label class="control-label">PQR2</label>
                    @Html.TextBoxFor(m => m.PQR2, new { @class = "form-control col-md-3", @maxlength = "50" })
                </div>
                <div class="col-md-1">
                    <label class="control-label">PQR3</label>
                    @Html.TextBoxFor(m => m.PQR3, new { @class = "form-control col-md-3", @maxlength = "50" })
                </div>
                <div class="col-md-1">
                    <label class="control-label">PQR4</label>
                    @Html.TextBoxFor(m => m.PQR4, new { @class = "form-control col-md-3", @maxlength = "50" })
                </div>
                <div class="col-md-1">
                    <label class="control-label">PQR5</label>
                    @Html.TextBoxFor(m => m.PQR5, new { @class = "form-control col-md-3", @maxlength = "50" })
                </div>
                <div class="col-md-1">
                    <label class="control-label">PQR6</label>
                    @Html.TextBoxFor(m => m.PQR6, new { @class = "form-control col-md-3", @maxlength = "50" })
                </div>
                <div class="col-md-1">
                    <label class="control-label">PQR7</label>
                    @Html.TextBoxFor(m => m.PQR7, new { @class = "form-control col-md-3", @maxlength = "50" })
                </div>
            </div>
            @*</fieldset>
                <fieldset>
                    <legend>WPS & PQR Details</legend>
                    <div class="col-md-12">*@

            @*</div>*@
        </fieldset>
        <div id="dvDetails">

            <fieldset>
                <legend>Welding Process & Type</legend>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label class="control-label">Welding Process1<span class="required"> * </span></label>
                        @*<input type="text" id="txtWeldingProcess1" name="txtWeldingProcess1" class="form-control col-md-3" />*@
                        @Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3", @readonly = "readonly" })
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Welding Process2<span class="required"> * </span></label>
                        @*<input type="text" id="txtWeldingProcess2" name="txtWeldingProcess2" class="form-control col-md-3" />*@
                        @Html.TextBoxFor(m => m.WeldingProcess2, new { @class = "form-control col-md-3", @readonly = "readonly" })
                    </div>

                    <div class="col-md-3">
                        <label class="control-label">Welding Process3<span class="required"> * </span></label>
                        @*<input type="text" id="txtWeldingProcess3" name="txtWeldingProcess3" class="form-control col-md-3" />*@
                        @Html.TextBoxFor(m => m.WeldingProcess3, new { @class = "form-control col-md-3", @readonly = "readonly" })
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Welding Process4<span class="required"> * </span></label>
                        @*<input type="text" id="txtWeldingProcess4" name="txtWeldingProcess4" class="form-control col-md-3" />*@
                        @Html.TextBoxFor(m => m.WeldingProcess4, new { @class = "form-control col-md-3", @readonly = "readonly" })
                    </div>
                </div>
                @*</fieldset>
                    <fieldset>
                        <legend>Welding Type</legend>*@
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label class="control-label">Welding Type1<span class="required"> * </span></label>
                        <input type="text" id="txtWeldingType1" name="txtWeldingType1" class="DistWeldingType form-control col-md-3" placeholder="Select" />
                        @Html.HiddenFor(m => m.WeldingType1)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Welding Type2<span class="required"> * </span></label>
                        <input type="text" id="txtWeldingType2" name="txtWeldingType2" class="DistWeldingType form-control col-md-3" placeholder="Select" />
                        @Html.HiddenFor(m => m.WeldingType2)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Welding Type3<span class="required"> * </span></label>
                        <input type="text" id="txtWeldingType3" name="txtWeldingType3" class="DistWeldingType form-control col-md-3" placeholder="Select" />
                        @Html.HiddenFor(m => m.WeldingType3)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Welding Type4<span class="required"> * </span></label>
                        <input type="text" id="txtWeldingType4" name="txtWeldingType4" class="DistWeldingType form-control col-md-3" placeholder="Select" />
                        @Html.HiddenFor(m => m.WeldingType4)
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Joints(QW-402) & Other Details</legend>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label class="control-label">Joint Type<span class="required"> * </span></label>
                        @*<input type="text" id="txtJointtype" name="txtJointtype" class="form-control col-md-3" />*@
                        @Html.TextBoxFor(m => m.Jointtype, new { @class = "form-control col-md-3", @readonly = "readonly" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Groove design</label>
                        @Html.TextBoxFor(m => m.Groovedesign, new { @class = "form-control col-md-3", @maxlength = "50" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Backing<span class="required"> * </span></label>
                        <input type="text" class="form-control col-md-3" id="txtBacking" name="txtBacking" />
                        @Html.HiddenFor(m => m.Backing)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Backing Material(Type)<span class="required"> * </span></label>
                        @Html.TextBoxFor(m => m.BackingMaterial, new { @class = "form-control col-md-3", @maxlength = "50" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label class="control-label">Other</label>
                        @Html.TextAreaFor(m => m.Other1, new { @class = "form-control col-md-3", @maxlength = "300" })
                    </div>
                    <div class="col-md-9"></div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label class="control-label">Return Remark</label>
                        @Html.TextAreaFor(m => m.ReturnRemarks, new { @class = "form-control col-md-3", @readonly = true })
                    </div>
                    <div class="col-md-9"></div>
                </div>
            </fieldset>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $.extend($.fn.autoNumeric.defaults, {
            aSep: '',
            aDec: '.'
        });
    });

    jQuery(function ($) {
        $('.numeric').autoNumeric('init', { aPad: "false", vMax: "999999999", aForm: "false" });
    });
</script>