﻿@using IEMQSImplementation

<div class="row">
    <div class="col-lg-12" style="text-align:right;margin-bottom:2px;">
        <form id="uploadForm" enctype="multipart/form-data" style="display:none;">
            <input type="file" class="btn green" id="upload" name="upload" />
            <input type="button" id="btnUpload" name="btnUpload" class="btn blue" value="Upload" />
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Seam Rate List
                </div>
                <div class="tools" id="dvExportHeader">
                    <div class="btn-group">
                        <a href="#" class="btn btn-circle white btn-outline btn-sm" id="btnImportExcel" style="margin-left:5px;margin-right:10px;">
                            <i class="fa fa-file-excel-o"></i> Import
                        </a>
                    </div>
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/CJC/MaintainSeamRate/GenerateExcel", GridType = "", dvId = "#dvExportHeader" })
                    <div class="btn-group">
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmDetail" }))
                {
                    <table class="table table-striped table-bordered table-hover" id="tblSeamRate" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="all" style="width:5%;">#</th>
                                <th class="sorting" style="display:none;">Id</th>
                                <th>Seam Category<span class="required" style="color:red;"> * </span></th>
                                <th>Seam Type<span class="required" style="color:red;"> * </span></th>
                                <th>Weld Type<span class="required" style="color:red;"> * </span></th>
                                <th>Setup<span class="required" style="color:red;"> * </span></th>
                                <th>Non Overlay Thickness<span class="required" style="color:red;"> * </span></th>
                                <th>Nozzle Size <span class="required" style="color:red;"> * </span></th>
                                <th>Welding Process<span class="required" style="color:red;"> * </span></th>
                                <th>Sub Category of Seam<span class="required" style="color:red;"> * </span></th>
                                <th>Rate in Rs.<span class="required" style="color:red;"> * </span></th>
                                <th>Product Type<span class="required" style="color:red;"> * </span></th>
                                <th style="display:none;">Created By</th>
                                <th style="display:none;">Created On</th>
                                <th class="all">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var UtilityParams = undefined;
    var SeamTypeNC1 = ['@clsImplementationEnum.AutoCJCSeamType.NW.GetStringValue()']
    var SeamTypeNC2 = ['@clsImplementationEnum.AutoCJCSeamType.AW.GetStringValue()' ,'@clsImplementationEnum.AutoCJCSeamType.PW.GetStringValue()' , '@clsImplementationEnum.AutoCJCSeamType.NP.GetStringValue()'];
    var SeamTypeWp = ['@clsImplementationEnum.AutoCJCSeamType.NW.GetStringValue()' ,'@clsImplementationEnum.AutoCJCSeamType.CW.GetStringValue()' , '@clsImplementationEnum.AutoCJCSeamType.LW.GetStringValue()','@clsImplementationEnum.AutoCJCSeamType.OW.GetStringValue()','@clsImplementationEnum.AutoCJCSeamType.CR.GetStringValue()',
                      '@clsImplementationEnum.AutoCJCSeamType.HX.GetStringValue()' ,'@clsImplementationEnum.AutoCJCSeamType.PTCLW.GetStringValue()' ,'@clsImplementationEnum.AutoCJCSeamType.PTCCW.GetStringValue()' ,'@clsImplementationEnum.AutoCJCSeamType.PTCOW.GetStringValue()','@clsImplementationEnum.AutoCJCSeamType.PTCBW.GetStringValue()'];

    $(document).ready(function () {
        $.extend($.fn.autoNumeric.defaults, {
            aSep: '',
            aDec: '.'
        });

        $('#frmDetail').validate({
            rules: {
                txtSeamCategory0: {
                    required: true,
                },
                txtWeldType0: {
                    required: true,
                },
                txtSetup0: {
                    required: true,
                },
                txtNonOverlayThickness0: {
                    required: true,
                },
                txtNozzleSize0: {
                    required: true,
                },
                txtRate0: {
                    required:true,
                },
                txtDia0: {
                    required:true,
                },
            },
            messages: {
                txtSeamCategory0: {
                    required: "Seam Category is required",
                },
                txtWeldType0: {
                    required: "Weld Type is required",
                },
                txtSetup0: {
                    required: "Setup is required",
                },
                txtNonOverlayThickness0: {
                    required: "Non Overlay Thickness is required",
                },
                txtNozzleSize0: {
                    required: "Nozzle Size is required",
                },
                txtWeldingProcess0: {
                    required: "Welding Process is required"
                },
                txtNozzleCategory0: {
                    required: "Nozzle Category is required",
                },
                txtRate0: {
                    required: "Rate is required",
                },
                txtDia0: {
                    required: "Product Type is required",
                },
            }
        });

        UtilityParams = {
            sUrl: "/CJC/MaintainSeamRate/GetIndexGridData",
            iScrollY: 480,
            iResponsiveOnWindowWidth: 800,
            bIsResponsive: false,
            bIsSearchFilter: true,
            bBtnMaximize: true,
            bIsWrapHeader: false,
            iFCLeft: 1,
            iFCRight: 1,
            sBtnDivSelector: "#dvExportHeader",
            aoColumns: [
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "SeamCategoryDesc",
                },
                {
                    "sClass": "center",
                    "name": "SeamType",
                },
                {
                    "sClass": "center",
                    "name": "WeldType",
                },
                {
                    "sClass": "center",
                    "name": "Setup",
                },
                {
                    "sClass": "center",
                    "name": "NonOverlayThicknessDesc",
                },
                {
                    "sClass": "center",
                    "name": "NozzleSizeDesc",
                },
                {
                    "sClass": "center",
                    "name": "WeldingProcessDesc",
                },
                {
                    "sClass": "center",
                    "name": "NozzleCategoryDesc",
                },
                {
                    "sClass": "center",
                    "name": "Rate",
                },
                {
                    "sClass": "center",
                    "name": "DiaDesc",
                },
                {
                    "sClass": "hide",
                    "name": "CreatedBy",
                },
                {
                    "sClass": "hide",
                    "name": "CreatedOn",
                    "attr": "date"
                },
                {
                    "sClass": "clsnowrap",
                    "name": "Action",
                    "attr": "none",
                    "bSortable": false,
                },
            ]
        };

        UtilityParams.oSRE = { sUrl: "/CJC/MaintainSeamRate/GetInlineEditableRow", iRowIDAt: 1, sCallback: 'CallAfterLoadSRE', iSelectedHeight: 68, sEditTriggerClass: 'fa-pencil-square-o', bIsUpdateFromServer: true };

        $('#tblSeamRate').dtUtility(UtilityParams);

        var lstSeamCategory = @Html.Raw(Json.Encode(ViewBag.SeamCategoryList));
        var lstWeldingProcess = @Html.Raw(Json.Encode(ViewBag.WeldingProcessList));
        var lstNozzleCategory = @Html.Raw(Json.Encode(ViewBag.NozzleCategoryList));
        var lstNozzleCategoryNW = @Html.Raw(Json.Encode(ViewBag.NozzleCategoryNWList));
        var lstNozzleCategoryAWPWNP = @Html.Raw(Json.Encode(ViewBag.NozzleCategoryAWPWNPList));
        var lstSeamType = @Html.Raw(Json.Encode(ViewBag.SeamTypeList));

        var lstNonOverlayThickness = @Html.Raw(Json.Encode(ViewBag.NonOverlayThicknessList));
        var lstNozzleSize = @Html.Raw(Json.Encode(ViewBag.NozzleSizeList));
        var lstDia = @Html.Raw(Json.Encode(ViewBag.DiaList));

        var lstWeldType = @Html.Raw(Json.Encode(ViewBag.WeldTypeList));
        var lstYesNo = @Html.Raw(Json.Encode(ViewBag.YesNoList));

        $('#tblSeamRate_wrapper').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(this).attr("hdElement");
            var Lineid = $(this).attr("spara");

            if ($(this).attr("colname") == "txtSeamCategory"){
                FillAutoComplete(element, lstSeamCategory, $("#" + hdElement));
            }
            else if ($(this).attr("colname") == "txtSeamType"){
                FillAutoComplete(element, lstSeamType, $("#" + hdElement));
            }
            else if ($(this).attr("colname") == "txtWeldingProcess") {
                FillAutoComplete(element, lstWeldingProcess, $("#" + hdElement));
            }
            else if ($(this).attr("colname") == "txtNozzleCategory") {
                if(SeamTypeNC1.indexOf($("#txtSeamType"+Lineid).val()) > -1 ){
                    FillAutoComplete(element, lstNozzleCategoryNW, $("#" + hdElement));
                }
                else if(SeamTypeNC2.indexOf($("#txtSeamType"+Lineid).val()) > -1){
                    FillAutoComplete(element, lstNozzleCategoryAWPWNP, $("#" + hdElement));
                }
            }
            else if ($(this).attr("colname") == "txtNonOverlayThickness") {
                FillAutoComplete(element, lstNonOverlayThickness, $("#" + hdElement));
            }
            else if ($(this).attr("colname") == "txtNozzleSize") {
                FillAutoComplete(element, lstNozzleSize, $("#" + hdElement));
            }
            else if ($(this).attr("colname") == "txtDia") {
                FillAutoComplete(element, lstDia, $("#" + hdElement));
            }
            else if ($(this).attr("colname") == "txtWeldType") {
                FillAutoComplete(element, lstWeldType, $("#" + hdElement));
            }
            else if ($(this).attr("colname") == "txtSetup") {
                FillAutoComplete(element, lstYesNo, $("#" + hdElement));
            }
        });

        $('#tblSeamRate_wrapper').delegate("input[colname=txtSeamType]","focusout", function () {
            var element = $(this);
            var hdElement = $(this).attr("hdElement");
            var LineId = $(this).attr("spara");
            if(SeamTypeNC1.indexOf(element.val()) > -1){
                $("#txtNozzleCategory"+LineId).prop("disabled",false);
            }
            else if(SeamTypeNC2.indexOf(element.val()) > -1){
                $("#txtNozzleCategory"+LineId).prop("disabled",false);
            }
            else{
                var nc = $("#txtNozzleCategory"+LineId).attr("hdElement");
                $("#" + nc).val('');
                $("#txtNozzleCategory"+LineId).val('').prop("disabled",true);
            }
            if(SeamTypeWp.indexOf(element.val()) > -1){
                $("#txtWeldingProcess"+LineId).prop("disabled",false);
            }
            else{
                var wp = $("#txtWeldingProcess"+LineId).attr("hdElement");
                $("#" + wp).val('');
                $("#txtWeldingProcess"+LineId).val('').prop("disabled",true);
            }

        });

        $("#btnImportExcel").click(function () {
            $("#btnImportExcel").attr("disabled", "disabled");
            $("#uploadForm").css("display", "inline-flex");
        });



        $('#btnUpload').click(function () {
            var fileUpload = $("#upload").get(0);
            var files = fileUpload.files;

            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            $.ajax({
                url: WebsiteURL + '/CJC/MaintainSeamRate/ReadExcelFile',
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                type: 'POST',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data != null) {
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                            $("#upload").val('');
                            UtilityParams.dtReload();
                        }
                        else {
                            $("#upload").val('');
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                    }
                    $("#uploadForm").css("display", "none");
                    $("#btnImportExcel").removeAttr("disabled");

                }
            });
        });


    });

    function CallAfterLoadSRE(id) {
        $('input[maxlength]').maxlength({ alwaysShow: true });
        $('#Edit' + id).click();
        $('*[colname=txtRate]').autoNumeric('init', {  aPad: "fase", vMin: "0",vMax:"999999999", aForm: "false" });
    }

    function SaveNewRecord() {
        if (LineValidation(0)) {
            $('#Add0').css('color','unset');
            $('#tblSeamRate_wrapper').find("thead:eq(1) .dataTables_sizing").html('') // remove copy of new record textbox
            SaveData(0);
        }
        else {
            HighlightInValidControls();
            $('#Add0').css('color','red');
            return false;
        }
    }

    function EnabledEditLine(lineId) {
        $("#Edit"+lineId).css('display', 'none');
        $("#Delete"+lineId).css('display', 'none');
        $("#Update"+lineId).css('display', 'inline-block');
        $("#Cancel"+lineId).css('display', 'inline-block');
    }

    function CancelEditLine(lineId) {
        SREresetRowAll('tblSeamRate');
    }

    function EditLine(lineId) {
        if (LineValidation(lineId)) {
            if ($("#frmDetail").valid()) {
                $('#tblSeamRate_wrapper').find("thead:eq(1) .dataTables_sizing").html('') // remove copy of new record textbox
                SaveData(lineId);
            }
            else {
                HighlightInValidControls();
                return false;
            }
        }
    }

    function LineValidation(lineid) {
        var errorMsg = "";
        var SeamCategory = $("#txtSeamCategory"+lineid).val();
        var NonOverlayThickness = $("#txtNonOverlayThickness"+lineid).val();
        var NozzleSize = $("#txtNozzleSize"+lineid).val();
        var WeldingProcess = $("#txtWeldingProcess"+lineid).val();
        var NozzleCategory = $("#txtNozzleCategory"+lineid).val();
        var Rate = $("#txtRate"+lineid).val();
        var Dia = $("#txtDia"+lineid).val();
        var WeldType = $("#txtWeldType"+lineid).val();
        var Setup = $("#txtSetup"+lineid).val();
        var SeamType = $("#txtSeamType"+lineid).val();

        if (SeamCategory == "" || SeamCategory == null) {
            $("#txtSeamCategory"+lineid).attr("required", "required");
        }
        if (NonOverlayThickness == "" || NonOverlayThickness == null) {
            $("#txtNonOverlayThickness"+lineid).attr("required", "required");
        }
        if (NozzleSize == "" || NozzleSize == null) {
            $("#txtNozzleSize"+lineid).attr("required", "required");
        }
        if ((WeldingProcess == "" || WeldingProcess == null) && SeamTypeWp.indexOf(SeamType) > -1) {
            $("#txtWeldingProcess"+lineid).attr("required", "required");
        }
        if ( (SeamTypeNC1.indexOf(SeamType) > -1 || SeamTypeNC2.indexOf(SeamType) > -1 ) && (NozzleCategory == "" || NozzleCategory == null)) {
            $("#txtNozzleCategory"+lineid).attr("required", "required");
        }
        if (Rate == "" || Rate == null) {
            $("#txtRate"+lineid).attr("required", "required");
        }
        if (Dia == "" || Dia == null) {
            $("#txtDia"+lineid).attr("required", "required");
        }
        if (WeldType == "" || WeldType == null) {
            $("#txtWeldType"+lineid).attr("required", "required");
        }
        if (Setup == "" || Setup == null) {
            $("#txtSetup"+lineid).attr("required", "required");
        }
        if (SeamType== "" || SeamType == null) {
            $("#txtSeamType"+lineid).attr("required", "required");
        }

        if (!$("#frmDetail").valid()) {
            HighlightInValidControls();
            $('#Update'+lineid).css('color','red');
            return false;
        }
        else{
            $('#Update'+lineid).css('color','unset');
            return true;
        }
    }

    function SaveData(id) {

        var formData = new FormData();
        var frmValues = $('#frmDetail').serializeArray();

        $.each(frmValues, function (key, input) {
            formData.append(input.name, input.value);
        });
        $.ajax({
            url: WebsiteURL +'/CJC/MaintainSeamRate/SaveData?id='+id,
            data: formData,
            contentType: false,
            processData: false,
            type: 'POST',
            //async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key == true) {
                    UtilityParams.dtReload();
                    DisplayNotiMessage("success", data.Value, "Success");
                    if ($('#btnNew_tblSeamRate').html() == '<i class="fa fa-times"></i> Cancel')
                        $('#btnNew_tblSeamRate').click();
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                    $('#tblSeamRate').DataTable().columns.adjust();
                }
            }
        });
    }

    function DeleteLine(Id) {
        bootbox.dialog({
            message: "Do you want to delete ? ",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success',
                    callback: function () {
                        $.ajax({
                            url: WebsiteURL +"/CJC/MaintainSeamRate/DeleteData",
                            type: "POST",
                            data: { Id: Id },
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key == true) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                                UtilityParams.dtReload();
                            },
                            error: function (data) {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                        });
                        bootbox.hideAll();
                        $(".modal-backdrop").remove()
                    }
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger',
                    callback: function () { }
                }
            },
        });
    }

</script>
