﻿<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Factor List
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/CJC/MaintainFactor/GenerateExcel", GridType = "", dvId = "#dvExportHeader" })
                    <div class="btn-group">
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmDetail" }))
                {
                    <table class="table table-striped table-bordered table-hover" id="tblFactor" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="all" style="width:5%;">#</th>
                                <th class="sorting" style="display:none;">Id</th>
                                <th>Critical Seam<span class="required" style="color:red;"> * </span></th>
                                <th>Factor<span class="required" style="color:red;"> * </span></th>
                                <th  style="display:none;">Created By</th>
                                <th  style="display:none;">Created On</th>
                                <th class="all">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var UtilityParams = undefined;
    $(document).ready(function () {
        $.extend($.fn.autoNumeric.defaults, {
            aSep: '',
            aDec: '.'
        });

        $('#frmDetail').validate({
            rules: {
                txtCriticalSeam0: {
                    required: true,
                },
                txtFactor0: {
                    required:true,
                },
            },
            messages: {
                txtCriticalSeam0: {
                    required: "Critical Seam is required",
                },
                txtFactor0: {
                    required: "Factor is required",
                },
            }
        });

        UtilityParams = {
            sUrl: "/CJC/MaintainFactor/GetIndexGridData",
            iScrollY: 480,
            iResponsiveOnWindowWidth: 800,
            bIsResponsive: false,
            bIsSearchFilter: true,
            bBtnMaximize: true,
            bIsWrapHeader: false,
            iFCLeft: 1,
            iFCRight: 1,
            sBtnDivSelector: "#dvExportHeader",
            aoColumns: [
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "CriticalSeamDesc",
                },
                {
                    "sClass": "center",
                    "name": "Factor",
                },
                {
                    "sClass": "hide",
                    "name": "CreatedBy",
                },
                {
                    "sClass": "hide",
                    "name": "CreatedOn",
                    "attr": "date"
                },
                {
                    "sClass": "clsnowrap",
                    "name": "Action",
                    "attr": "none",
                    "bSortable": false,
                },
            ]
        };

        UtilityParams.oSRE = { sUrl: "/CJC/MaintainFactor/GetInlineEditableRow", iRowIDAt: 1, sCallback: 'CallAfterLoadSRE', iSelectedHeight: 68, sEditTriggerClass: 'fa-pencil-square-o', bIsUpdateFromServer: true };

        $('#tblFactor').dtUtility(UtilityParams);

        var lstCriticalSeam = @Html.Raw(Json.Encode(ViewBag.CriticalSeamList));

        $('#tblFactor_wrapper').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(this).attr("hdElement");
            var Lineid = $(this).attr("data-lineid");

            if ($(this).attr("colname") == "txtCriticalSeam"){
                FillAutoComplete(element, lstCriticalSeam, $("#" + hdElement));
            }
        });
    });

    function CallAfterLoadSRE(id) {
        $('input[maxlength]').maxlength({ alwaysShow: true });
        $('#Edit' + id).click();
        $('*[colname=txtFactor]').autoNumeric('init', {  aPad: "fase", vMin: "0",vMax:"999999999.99", aForm: "false" });
    }

    function SaveNewRecord() {
        if ($("#frmDetail").valid()) {
            $('#Add0').css('color','unset');
            $('#tblFactor_wrapper').find("thead:eq(1) .dataTables_sizing").html('') // remove copy of new record textbox
            SaveData(0);
        }
        else {
            HighlightInValidControls();
            $('#Add0').css('color','red');
            return false;
        }
    }

    function EnabledEditLine(lineId) {
        $("#Edit"+lineId).css('display', 'none');
        $("#Delete"+lineId).css('display', 'none');
        $("#Update"+lineId).css('display', 'inline-block');
        $("#Cancel"+lineId).css('display', 'inline-block');
    }

    function CancelEditLine(lineId) {
        SREresetRowAll('tblFactor');
    }

    function EditLine(lineId) {
        if (LineValidation(lineId)) {
            if ($("#frmDetail").valid()) {
                $('#tblFactor_wrapper').find("thead:eq(1) .dataTables_sizing").html('') // remove copy of new record textbox                
                SaveData(lineId);
            }
            else {
                HighlightInValidControls();
                return false;
            }
        }
    }

    function LineValidation(lineid) {
        var errorMsg = "";
        var CriticalSeam = $("#CriticalSeam"+lineid).val();
        var Factor = $("#Factor"+lineid).val();

        if (CriticalSeam == "" || CriticalSeam == null) {
            $("#txtCriticalSeam"+lineid).attr("required", "required");
        }
        if (Factor == "" || Factor == null) {
            $("#txtFactor"+lineid).attr("required", "required");
        }

        if (!$("#frmDetail").valid()) {
            HighlightInValidControls();
            $('#Update'+lineid).css('color','red');
            return false;
        }
        else{
            $('#Update'+lineid).css('color','unset');
            return true;
        }
    }

    function SaveData(id) {

        var formData = new FormData();
        var frmValues = $('#frmDetail').serializeArray();
        $.each(frmValues, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL +'/CJC/MaintainFactor/SaveData?id='+id,
            data: formData,
            contentType: false,
            processData: false,
            type: 'POST',
            //async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key == true) {
                    UtilityParams.dtReload();
                    DisplayNotiMessage("success", data.Value, "Success");
                    if ($('#btnNew_tblFactor').html() == '<i class="fa fa-times"></i> Cancel')
                        $('#btnNew_tblFactor').click();
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                    $('#tblFactor').DataTable().columns.adjust();
                }
            }
        });
    }

    function DeleteLine(Id) {
        bootbox.dialog({
            message: "Do you want to delete ? ",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success',
                    callback: function () {
                        $.ajax({
                            url: WebsiteURL + "/CJC/MaintainFactor/DeleteData",
                            type: "POST",
                            data: { Id: Id },
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key == true) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                                UtilityParams.dtReload();
                            },
                            error: function (data) {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                        });
                        bootbox.hideAll();
                        $(".modal-backdrop").remove()
                    }
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger',
                    callback: function () { }
                }
            },
        });
    }

</script>
