﻿

<div class="portlet light ">
    <!-- BEGIN FORM-->
    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmRefDocCopy" }))
    {

        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label">Source Project<span class="required"> * </span></label>
                <div class="">
                    <input type="text" id="txtProjectNo" value="" name="txtProjectNo" class="form-control col-md-12" maxlength="12" />
                    <input type="hidden" id="ProjectNo" />
                </div>
            </div>
            <div class="col-md-12">
                <label class="control-label">Destination Projects<span class="required"> * </span></label>
                <div class="">
                    <select name="txtDesitinationProjectNo" id="txtDesitinationProjectNo" multiple="multiple" style="width:100%" class="form-control col-md-12"></select>
                </div>
            </div>
            @*<div class="col-md-12" style="margin-top: 10px;">
                <input type="checkbox" checked="checked" />&nbsp;including all old revisions
            </div>*@
        </div>

    }
    <!-- END PAGE BASE CONTENT -->
</div>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        FillProjectNos();

        LoadPreValueSelect2("/TVL/MaintainRefDoc/GetAllProjects", $('#txtDesitinationProjectNo'), "--Select Projects--", "");
        $("#txtDesitinationProjectNo").change(function () {
            HighlightInValidateSelect2();
        });

        $('#frmRefDocCopy').validate({
            rules: {
                txtProjectNo: {
                    required: true
                },
                txtDesitinationProjectNo: {
                    required: true
                }
            },
            messages: {
                txtProjectNo: {
                    required: "Source project is required"
                },
                txtDesitinationProjectNo: {
                    required: "Destination project is required"
                }
            }
        });

    });

    function FillProjectNos() {
        $("#txtProjectNo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetTravelerProjects",
                    dataType: "json",
                    type: "POST",
                    delay: 250,                 
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Value, value: item.Value, id: item.Value };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    $("#txtProjectNo").val(ui.item.value);
                    $("#ProjectNo").val(ui.item.value);
                    $("#txtDesitinationProjectNo").val("").trigger('change');
                    LoadPreValueSelect2("/TVL/MaintainRefDoc/GetAllProjects?sProj=" + ui.item.value, $('#txtDesitinationProjectNo'), "--Select Projects--", "");
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(this).focus();
                    $("#txtDesitinationProjectNo").val("").trigger('change');
                    LoadPreValueSelect2("/TVL/MaintainRefDoc/GetAllProjects?sProj=", $('#txtDesitinationProjectNo'), "--Select Projects--", "");
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });
    }

</script>

