﻿@using IEMQSImplementation
@model RCC001
@{
    ViewBag.Title = "RCCP Breakup For Equipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string FileUpload1ID = "fuupload1";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<script>
    var IsDisplayMode = '@ViewBag.IsDisplayMode.ToString().ToLower()';
    $(document).ready(function () {
        GetPDNIdenticalprojectPartial('@Model.Project');

        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });

        $('#frmMaintainDeatils').validate({
            rules: {
                ReviseRemark: {
                    required: true
                },
                ddlApprover: {
                    required: true
                }
            },
            messages: {
                ReviseRemark: {
                    required: "Revise remarks is required"
                },
                ddlApprover: {
                    required: "Approver is required"
                }
            }
        });
        var headerid = parseInt("@Model.HeaderId");
        $('#txtRevNo').val("R" + '@Model.RevNo');

        if (headerid > 0) {

            $("#hfHeaderId").val(headerid);
            var status = "@Model.Status";
            $("#lblStatus").text(status);

            var strProject = '@ViewBag.Project';
            var strApproverName = '@ViewBag.ApproverName';
            $("#txtProject").val(strProject);
            $("#ddlApprover").val(strApproverName);
            if (status.toLowerCase() != '@clsImplementationEnum.CommonStatus.SendForApprovel.GetStringValue().ToLower()') {
                $("div.disableConntrol :input").attr('disabled', true);
                //setAttachmentsInHeader("RCC001/" + @Model.HeaderId + "/R" + @Model.RevNo,true)
            }
            else
            {
                //setAttachmentsInHeader("RCC001/" + @Model.HeaderId + "/R" + @Model.RevNo,false);
            }
        }

        $("#btnSave").click(function () {
            if ($("#frmMaintainDeatils").valid()) {
                var frmSaveHeaderValue = $("#frmMaintainDeatils").serializeArray();
                var status = "@Model.Status";
                var headerid = parseInt("@Model.HeaderId");
                var table = 'RCC001';
                var action = '@clsImplementationEnum.ButtonStatus.CRUD.GetStringValue()';
                var isapprover = true;
                if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                    return false;
                }
                submit(true);
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });

        $("#btnApprove").click(function () {
            var strHeaderIds = parseInt("@Model.HeaderId");
            var table = 'RCC001';
            var action = '@clsImplementationEnum.ButtonStatus.Approve.GetStringValue()';
            var isapprover = true;
            if (!CheckIsPostValidation(table, action, strHeaderIds, isapprover)) {
                return false;
            }

            submit(false);
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/RCC/Approve/ApproveSelectedRCC",
                datatype: 'json',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: { strHeaderIds: strHeaderIds },
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        window.location.href = WebsiteURL + "/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID";
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                },
                error: function () {
                }
            });
        });

        $('#btnRevoke').click(function () {

            var headerid = parseInt('@Model.HeaderId');
            var table = 'RCC001';
            var action = '@clsImplementationEnum.ButtonStatus.Revoke.GetStringValue()';
            var isapprover = true;
            if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                return false;
            }

            RevokeDoument("/RCC/Approve/RevokeDocument", parseInt('@Model.HeaderId'), parseInt(@ViewBag.PlanningDinID), "/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID")
        });

        $("#btnReturn").click(function () {
            var strHeaderIds = parseInt("@Model.HeaderId");
            var remarks = $("#ReturnRemark").val();
            if (remarks == "") {
                DisplayNotiMessage("error", "Remark is Mandatory..!!", "Error");
            }
            else {
                var table = 'RCC001';
                var action = '@clsImplementationEnum.ButtonStatus.Return.GetStringValue()';
                var isapprover = true;
                if (!CheckIsPostValidation(table, action, strHeaderIds, isapprover)) {
                    return false;
                }

                submit(false);
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/RCC/Approve/ReturnSelectedRCC",
                    datatype: 'json',
                    async: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    data: { strHeaderIds: strHeaderIds, remarks: remarks },
                    success: function (data) {
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                            window.location.href = WebsiteURL + "/RCC/Approve/Index";
                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                        $('#tblRCCAHeader').DataTable().ajax.reload();

                    },
                    error: function () {
                    }
                });
            }
        });
        if (IsDisplayMode == "true") {
            $('.form-body :input').attr('disabled', true);
        }
    });


    function submit(IsVisible) {
        $.ajax({
            url: WebsiteURL + '/RCC/Approve/SaveHeader',
            data: {
                HeaderId: $("#hfHeaderId").val(),
                Project: $("#Project").val(),
                Customer: $("#Customer").val(),
                Document: $("#Document").val(),
                RevNo: $("#RevNo").val(),
                ProcessLicensor: $("#ProcessLicensor").val(),
                Product: $("#Product").val(),
                ApprovedBy: $("#ApprovedBy").val(),
                //hasAttachments: getHasAttachmentsForSubmit(),
                //Attach: getAttachmentsFromTable(),
            },
            type: 'POST',
            async: false,
            success: function (data) {
                if (data.Key) {
                    if (data.status != "" && data.Revision != "") {
                        $("#lblStatus").text(data.status);
                        $("#RevNo").val(data.Revision);
                        $("#txtRevNo").val("R" + data.Revision);
                    }
                    if (IsVisible) {
                        DisplayNotiMessage("success", data.Value, "Success");
                    }
                    //UpdateFolderPathAndSave@(FileUpload1ID)(FolderPath);
                    UploadFileToServerFromDropzone('@(FileUpload1ID)', '@Model.HeaderId', 'RCC001//' + '@Model.HeaderId' + '//R' + '@Model.RevNo');
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                    return false;
                }
            }
        });
    }
</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                        {
                            <div class="mt-element-ribbon bg-grey-steel" style="height:55px;">
                                <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                    <span class="page-title">Approve RCCP Breakup For Equipment</span>
                                </div>
                                <div class="ribbon ribbon-right ribbon-color-warning" id="status">
                                    <b>Status : <label id="lblStatus" style="font-weight:bolder"></label></b>
                                </div>
                                <p class="ribbon-content"></p>
                            </div>
                            <div class="disableConntrol">
                                <fieldset>
                                    <legend>Project Detail</legend>
                                    <div class="form-group">
                                        @Html.Hidden("hfApp")
                                        @Html.Hidden("hfHeaderId")
                                        @Html.Hidden("hfProject")
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Project
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="">
                                                    <input type="text" readonly name="txtProject" id="txtProject" class="class = form-control col-md-3" />
                                                    @Html.HiddenFor(m => m.Project, new { })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Customer <span class="required"> * </span>
                                                </label>
                                                <div class="">
                                                    @Html.TextBox("txtCust", (string)@ViewBag.Customer, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                                    @Html.HiddenFor(m => m.Customer, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Document No
                                                </label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.Document, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Product
                                                </label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.Product, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Revison
                                                </label>
                                                <div class="">
                                                    <input type="text" name="txtRevNo" id="txtRevNo" class="class = form-control col-md-3" readonly />
                                                    @Html.HiddenFor(m => m.RevNo)
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Process Licensor
                                                </label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.ProcessLicensor, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <label class="control-label">Revision Remark<span class="required">*</span></label>
                                                <div class="">
                                                    @Html.TextAreaFor(m => m.ReviseRemark, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <label class="control-label">Return Remark</label>
                                                <div class="">
                                                    @Html.TextAreaFor(m => m.ReturnRemark, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div id="divPDNIdenticalproject"></div>
                                        <div class="col-md-12">
                                            <div class="col-md-4 right" id="ddlApp" style="display:block">
                                                <label class="control-label">Approver<span class="required"> * </span></label>
                                                <div class="">
                                                    <input type="text" name="ddlApprover" id="ddlApprover" class="class = form-control col-md-3" />
                                                    @Html.HiddenFor(m => m.ApprovedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="fdattachment">
                                    <legend>Attachment Detail</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div style="padding-left:2.2em; padding-right:3.9em">
                                                @*@Html.Partial("_AttachmentPartial")*@
                                                <div id="dv@(FileUpload1ID)"></div>
                                            </div>
                                            <div id="docMessage" class="col-md-12 note note-success" style="display:none;"></div>
                                        </div>
                                        <div class="col-md-12">
                                            <hr />
                                            <div class="col-md-12" style="text-align:right">
                                                <button class="btn save" type="button" id="btnSave">Save</button>
                                                @{
                                                    if (Model.Status == clsImplementationEnum.CommonStatus.SendForApprovel.GetStringValue())
                                                    {
                                                        <button class="btn approve" type="button" id="btnApprove">Approve</button>
                                                        <button class="btn return" id="btnReturn">Return</button>
                                                    }
                                                }
                                                @if (Model.Status.ToLower() == clsImplementationEnum.PlanStatus.Approved.GetStringValue().ToLower() && ViewBag.Revoke)
                                                {
                                                    <button id="btnRevoke" class="btn return">Revoke</button>
                                                }
                                                <a href="~/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID" class="btn back">Back</a>
                                                <a href="~/RCC/Approve/index" class="btn btnclose">Close</a>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                                                    }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var FolderPath=""
    $(document).ready(function(){
        LoadFileUpload1();
    });

    function LoadFileUpload1() {
        var showAttachmentbtn = ('@((Model.Status == clsImplementationEnum.CommonStatus.SendForApprovel.GetStringValue()))'.toLowerCase() == 'true');

        //var objFileUpload1 = new FileUploadEnt('dv@(FileUpload1ID)', '@FileUpload1ID');
        //objFileUpload1.ShowDeleteAction = showAttachmentbtn;
        //objFileUpload1.ShowAttachmentBtn = showAttachmentbtn;

        FolderPath = "RCC001//" + '@Model.HeaderId' + "//R" + '@Model.RevNo'+'//1';
        //if ('@Model.HeaderId' > 0) {
            
            //objFileUpload1.FolderPath=FolderPath;
            //objFileUpload1.ShowUploadBtn=true;
        //}
        //else{
        //    objFileUpload1.FolderPath = FolderPath;
        //    objFileUpload1.ShowUploadBtn=false;
        //}

        //LoadFileUploadPartialView(objFileUpload1);

        var objFile = {
            TableName: 'RCC001//' + '@Model.HeaderId' + '//R' + '@Model.RevNo',
            TableId: '@Model.HeaderId',
            Path: FolderPath,
            ControlID: '@(FileUpload1ID)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: showAttachmentbtn,
            ShowDownloadBtn: false,
            ShowAttachmentBtn: showAttachmentbtn
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(FileUpload1ID)', false);
    }
</script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>