﻿@using IEMQSImplementation
<script>
    var tblAuthMatrixoTable;
    $(document).ready(function () {
        //  LoadAuthMatrixData();
        //});
        //function LoadAuthMatrixData() {
        var table = $('#tblAuthMatrix');
        var url = "/Authentication/UserProfile/LoadAuthMatrixData";
        tblAuthMatrixoTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + url,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                    //{ "name": "bu", "value": SelectedBU },
                    //{ "name": "location", "value": SelectedLocation },
                    //{ "name": "role", "value": SelectedRole }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'async': false,
                    'success': function (result) {
                        fnCallback(result);
                        $(".txtStrWhere", "#dvAuthorization").val(result.whereCondition);
                        $(".txtStrSort", "#dvAuthorization").val(result.strSortOrder);
                    },
                });
            },
            "aoColumns": [
                  {
                      "sClass": "center",
                      "name": "BU",
                  },
                  {
                      "sClass": "center",
                      "name": "Location",
                  },
                  {
                      "sClass": "center",
                      "name": "Contract",
                      'render': function (data, type, row, meta) {
                          var dtl = "";
                          if (row[2].toLowerCase() == "all") {
                              dtl = "<a style=\"font-weight:bold;\" onclick=\"LoadContractDetails('" + row[0] + "')\">ALL</a>";
                          }
                          else {
                              dtl = row[2];
                          }
                          return dtl;
                      }
                  },
                  {
                      "sClass": "center",
                      "name": "Project",
                      'render': function (data, type, row, meta) {
                          var dtl = "";
                          if (row[3].toLowerCase() == "all") {
                              dtl = "<a style=\"font-weight:bold;\" onclick=\"LoadProjectDetails('" + row[0] + "','" + row[2] + "')\">ALL</a>";
                          }
                          else {
                              dtl = row[2];
                          }
                          return dtl;
                      }
                  },
                {
                    "sClass": "center",
                    "name": "Role",
                },
            ]
        });
    //}
    });
    //function LoadAuthMatrixData() {
    //    var table = $('#tblAuthMatrix');
    //    var url = "/Authentication/UserProfile/LoadAuthMatrixData";
    //    tblAuthMatrixoTable = table.dataTable({
    //        "language": {
    //            "aria": {
    //                "sortAscending": ": activate to sort column ascending",
    //                "sortDescending": ": activate to sort column descending"
    //            },
    //            "emptyTable": "No data available in table",
    //            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
    //            "infoEmpty": "No entries found",
    //            "infoFiltered": "(filtered1 from _MAX_ total entries)",
    //            "lengthMenu": "_MENU_ entries",
    //            "search": "Search:",
    //            "zeroRecords": "No matching records found"
    //        },
    //        "bProcessing": true,
    //        "bServerSide": true,
    //        "stateSave": false,
    //        "bDestroy": true,
    //        buttons: [],
    //        responsive: true,
    //        "order": [
    //            [0, 'asc']
    //        ],
    //        "lengthMenu": [
    //            [5, 10, 25, 50, 100],
    //            [5, 10, 25, 50, 100]
    //        ],
    //        "pageLength": 10,
    //        'iDisplayLength': 10,
    //        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
    //        "sAjaxSource": WebsiteURL + url,
    //        "fnServerParams": function (aoData) {
    //            aoData.push({ "name": "type", "value": "sdf" }
    //                //{ "name": "bu", "value": SelectedBU },
    //                //{ "name": "location", "value": SelectedLocation },
    //                //{ "name": "role", "value": SelectedRole }
    //                        );
    //        },
    //        "fnServerData": function (sSource, aoData, fnCallback) {
    //            $.ajax({
    //                'dataType': 'json',
    //                'type': 'POST',
    //                'url': sSource,
    //                'data': aoData,
    //                'async': false,
    //                'success': function (result) {
    //                    fnCallback(result);
    //                    $(".txtStrWhere", "#dvAuthorization").val(result.whereCondition);
    //                    $(".txtStrSort", "#dvAuthorization").val(result.strSortOrder);
    //                },
    //            });
    //        },
    //        "aoColumns": [
    //              {
    //                  "sClass": "center",
    //                  "name": "BU",
    //              },
    //              {
    //                  "sClass": "center",
    //                  "name": "Location",
    //              },
    //              {
    //                  "sClass": "center",
    //                  "name": "Contract",
    //                  'render': function (data, type, row, meta) {
    //                      var dtl = "";
    //                      if (row[2].toLowerCase() == "all") {
    //                          dtl = "<a style=\"font-weight:bold;\" onclick=\"LoadContractDetails('" + row[0] + "')\">ALL</a>";
    //                      }
    //                      else {
    //                          dtl = row[2];
    //                      }
    //                      return dtl;
    //                  }
    //              },
    //              {
    //                  "sClass": "center",
    //                  "name": "Project",
    //                  'render': function (data, type, row, meta) {
    //                      var dtl = "";
    //                      if (row[3].toLowerCase() == "all") {
    //                          dtl = "<a style=\"font-weight:bold;\" onclick=\"LoadProjectDetails('" + row[0] + "','" + row[2] + "')\">ALL</a>";
    //                      }
    //                      else {
    //                          dtl = row[2];
    //                      }
    //                      return dtl;
    //                  }
    //              },
    //            {
    //                "sClass": "center",
    //                "name": "Role",
    //            },
    //        ]
    //    });
    //}
    function LoadContractDetails(bu) {
        $.ajax({
            url: WebsiteURL + "/Authentication/UserProfile/UserContractDetails",
            type: "POST",
            datatype: "html",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { bu: bu },
            success: function (data) {
                bootbox.dialog({
                    title: "Contract Details",
                    message: data,
                    size: "large"
                })
            },
            error: function () {
                response = "";
            }
        });
    }
    function LoadProjectDetails(bu, contract) {
        $.ajax({
            url: WebsiteURL + "/Authentication/UserProfile/UserProjectDetails",
            type: "POST",
            datatype: "html",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { bu: bu, contract: contract },
            success: function (data) {
                bootbox.dialog({
                    title: "Project Details",
                    message: data,
                    size: "large"
                })
            },
            error: function () {
                response = "";
            }
        });
    }
    //function ManualSearch(searchtext) {
    //    tblAuthMatrixoTable.fnFilter(searchtext)
    //}
</script>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Authorization Details
                </div>
                <div class="tools" id="dvAuthorization">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/Authentication/UserProfile/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvAuthorization" })
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" style="width:100%;" id="tblAuthMatrix" cellspacing="0">
                    <thead>
                        <tr>                           
                            <th class="all">BU</th>
                            <th class="min-phone-l">Location</th>
                            <th class="min-phone-l">Contract</th>
                            <th class="min-phone-l">Project</th>
                            <th class="min-phone-l">Role</th>                            
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
