﻿@using IEMQSImplementation

<style>
    .scenter {
        text-align: center;
    }

    table.dataTable tbody td {
        white-space: nowrap;
    }
</style>
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .sNoWrap {
        white-space: normal !important;
    }
        


</style>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Offer for inspection - LTFPS
        </div>
        <div class="tools" id="dvExportHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/LTFPS/OfferInspection/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblLTFPSOfferHeader" cellspacing="0">
            <thead>
              
                <tr>
                    <th class="all">Quality Project</th>
                    <th class="all">BU</th>
                    <th class="all">LTFPS No.</th>
                    <th class="all">RevNo.</th>
                    <th class="all">Operation No.</th>
                    <th class="all" style="white-space: nowrap !important">Operation Description</th>
                    <th class="all">Seam No.</th>
                    <th class="all">Part No.</th>
                    <th class="all">Test Type</th>
                    <th class="all">Stages</th>
                    <th class="all">Status</th>
                    <th class="all">Location</th>
                    <th class="all">Action</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>
   
    $(document).ready(function () {     
        var table_id = "tblLTFPSOfferHeader";
        var table = $('#tblLTFPSOfferHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            //responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/LTFPS/OfferInspection/LoadOfferData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' });
               
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },

            "columns": [
                {
                    "name": "QualityProject",
                    "bSortable": true,
                    "sWidth": "10%"
                    
                },
                {
                    "name": "BU",
                    "bSortable": true,
                    "sClass": "scenter",                   
                    "ColName": "ltf002.BU+'-'+bcom2.t_desc"
                },
                {
                    "name": "LTFPSNo",
                    "bSortable": true,                   
                },
                {
                    "name": "LTFPSRevNo",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "numeric"
                },
                {
                    "name": "OperationNo",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "numeric"
                },
                {
                    "name": "OperationDescription",
                    "bSortable": true,
                    "sClass": "sNoWrap",                   
                },
                {
                    "name": "SeamNo",
                    "bSortable": true,
                    "sClass": "center",                    
                },
                {
                    "name": "PartNo",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "numeric"
                },
                {
                    "name": "TestType",
                    "bSortable": true,
                    "sClass": "scenter",                    
                },
                {
                    "name": "Stage",
                    "bSortable": true,
                    "sClass": "scenter",                   
                },
                {
                    "name": "InspectionStatus",
                    "bSortable": true,
                    "sClass": "scenter",                   
                },
                {
                    "name": "Location",
                    "bSortable": true,
                    "sClass": "scenter",                   
                    "ColName": "ltf002.Location+'-'+lcom2.t_desc"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                    
                },

            ]
        });
        table.dtSearchFilter();

   });

    function RequestOffer(LineId, TestFor) {

        //CopyWelderWeldLengthFromPrevNDEStage(LineId, true);

        $.ajax({
            url: WebsiteURL + "/LTFPS/OfferInspection/CheckSeamPartOffered",
            type: "POST",
            datatype: "json",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { LineID: LineId },
            success: function (data) {
                if (data.Key == true) {
                    $.ajax({
                        type: "POST",
                        url: WebsiteURL + "/LTFPS/OfferInspection/GetOfferPartial",
                        datatype: 'html',
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        data: {
                            LineID: LineId
                        },
                        success: function (result) {
                            bootbox.dialog({
                                title: 'Offer Seam/Part',
                                message: result,
                                size: 'large',
                                buttons: {
                                    'confirm': {
                                        label: 'Offer',
                                        className: 'btn green',
                                        callback: function () {
                                            if ($("#frmPartlistOffer").valid()) {
                                                var hdAttachment = $("#hdAttachment").val();
                                                var folderPath = $("#folderPath").val();
                                                var IsProtocolApplicable = $("#IsProtocolApplicable").val();
                                                if (IsProtocolApplicable == "Yes" && !getHasAttachmentsForSubmit(hdAttachment)) {
                                                    //  DisplayNotiMessage("error", "Attachment is required", "Error");
                                                    return false;
                                                }
                                                else {
                                                    $.ajax({
                                                        url: WebsiteURL + '/LTFPS/OfferInspection/SaveOffer',
                                                        type: "Post",
                                                        async:false,
                                                        dataType: "JSON",
                                                        data: {
                                                            TestFor: TestFor,
                                                            ShopLocation: $("#ShopLocation").val(),
                                                            ShopRemark: $("#ShopRemark").val(),
                                                            Shop: $("#hdShop").val(),
                                                            LineId: LineId,
                                                            OfferedQuantity: $("#OfferedQuantity").val(),
                                                            surfaceCondition: $("#surfaceCondition").val(),
                                                            weldThicknessReinforcement: $("#weldThicknessReinforcement").val(),
                                                        },
                                                        success: function (data) {
                                                            if (data.Key) {
                                                                //UpdateFolderPathAndSavefuAttachmentUpload(folderPath);
                                                                //window.location.href = "/LTFPS/OfferInspection/Index";
                                                                callbackfuntion();
                                                            }
                                                            else {
                                                                DisplayNotiMessage("error", data.Value, "Error");
                                                                return false;
                                                            }
                                                        },
                                                        error: function (ex) {
                                                            DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                                            return false;
                                                        }
                                                    });
                                                    return false;
                                                }
                                            }
                                            else {
                                                return false;
                                            }
                                        }
                                    },
                                    'cancel': {
                                        label: 'Close',
                                        className: 'btn btnclose'
                                    }
                                }
                            });
                        },
                        error: function () {
                        }
                    });
                }
                else {
                    bootbox.alert(data.Value);
                }
            }
        });

    }
    function callbackfuntion() {
        DisplayNotiMessage("success", "Part offered Successfully", "Success");
        $('#tblLTFPSOfferHeader').DataTable().ajax.reload();
        bootbox.hideAll();
    }

    function CopyWelderWeldLengthFromPrevNDEStage(_HeaderId, isLTFPS) {
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/CopyWelderWeldLengthFromPreviousNDEStage",
            type: "POST",
            async: false,
            data: { HeaderId: _HeaderId, IsLTFPS: isLTFPS },
            success: function (data) {
                if (data.Key == true) {
                    //DisplayNotiMessage("success", data.Value, "Success");
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>

