﻿@model IEMQSImplementation.LTF002
@using IEMQSImplementation
@{
    ViewBag.Title = "View Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string AttachmentUploadQC = "fuAttachmentUploadQC";
    string AttachmentUploadProd = "fuAttachmentUploadProd";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<style>
    .clsBootBoxWidth {
        width: 70% !important;
        margin: 30px auto !important;
    }

    .btnhide {
        display: none;
    }
</style>
<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body" id="divOfferInspectionHeader">
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">LTFPS Offer Inspection</span>
                    </div>
                    @{
                        if (!string.IsNullOrWhiteSpace(Model.InspectionStatus))
                        {
                            <div class="ribbon ribbon-right ribbon-color-warning">
                                <span style="font-weight:bolder">
                                    Status : <span id="spnStatus">@Html.DisplayFor(m => m.InspectionStatus)</span>
                                </span>
                            </div>
                        }
                    }
                </div>
                <div id="dvHeader">

                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
                    {
                        @Html.HiddenFor(m => m.LineId, new { @id = "txtLineId" })
                        @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
                        @Html.HiddenFor(m => m.InspectionStatus)
                        @Html.HiddenFor(m => m.TestFor)
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Details</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Quality Project</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.QualityProject, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Project</label>
                                                <div class="">
                                                    <input type="text" id="txtProject" value="" name="txtProject" class="form-control col-md-3" readonly="readonly" />
                                                    @Html.HiddenFor(m => m.Project, new { @id = "ddlProject" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">BU</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Location</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>LTFPS Details</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">LTFPS No.</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.LTFPSNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <label class="control-label">LTFPS Rev No.</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.LTFPSRevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <label class="control-label">Operation No.</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.OperationNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <label class="control-label">Operation Description</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.OperationDescription, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            @{
                                                if (Model.TestFor.ToUpper() == "PART" || Model.TestFor.ToUpper() == "ASSEMBLY")
                                                {
                                                    <div class="col-md-3">
                                                        <label class="control-label">Part No./Assembly No</label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.PartNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-3">
                                                        <label class="control-label">Seam No</label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.SeamNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                }
                                            }

                                            <div class="col-md-3">
                                                <label class="control-label">Request No</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.RequestNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Iteration No</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.IterationNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Test Type</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.TestType, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Other Details</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Stages</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.Stage, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Ref Document</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.RefDocument, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Doc RevNo</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.DocRevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">LNT Status</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.LNTStatus, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Agency</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.Agency, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">TPI</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.TPI, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>QC Protocols</legend>
                                    <div class="form-group">
                                        <div class="col-md-12" style="margin-top: 20px">
                                            <div class="">
                                                <div id="dv@(AttachmentUploadQC)"></div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Shop Protocols</legend>
                                    <div class="form-group">
                                        <div class="col-md-12" style="margin-top: 20px">
                                            <div class="">
                                                <div id="dv@(AttachmentUploadProd)"></div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-group">
                                    <div class="col-md-12" style="text-align:right;padding:0 30px!important;">
                                        @if (ViewBag.IsWeldLengthRequired)
                                        {
                                            <input type="button" class="btn green" id="btnWeld" value="Maintain Weld Length" />
                                        }
                                        <input type="button" class="btn offer" id="btnSaveOffer" value="Offer" />
                                        <input type="button" class="btn btnclose" id="btnCancel" value="Close" />
                                    </div>
                                </div>


                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
        <hr />
    </div>
</div>

<script>
    var flag = false;
    $(document).ready(function () {

        if ('@Model.Project' != '' && '@Model.Project' != 'null' && '@Model.Project' != null) {
            $("#txtProject").attr("disabled", true);
            $("#ddlProject").val('@Model.Project');
            $("#txtProject").val('@ViewBag.Project');
        }
        if ('@Model.InspectionStatus' != '' && '@Model.InspectionStatus' == '@clsImplementationEnum.PartlistOfferInspectionStatus.READY_TO_OFFER.GetStringValue()') {
            EnableBtn("#btnSaveOffer");
            //EnableBtn("#btnWeld");
            flag = true;
        }
        else {
            DisableBtn("#btnSaveOffer");
            //DisableBtn("#btnWeld");
        }
        $("#btnCancel").click(function () {
            window.location.href = WebsiteURL + "/LTFPS/OfferInspection/Index?tab=" + '@ViewBag.fromURL';
        });

        $("#btnWeld").click(function () {
            var strflag = true;
            var strclassname = "btn green";
            if (!flag)
            { strclassname = "btnhide" }
            else {
                strflag = CaptureWeldersBeforeOffer($("#txtLineId").val());
            }
            if (strflag) {

                $.ajax({
                    url: WebsiteURL + "/IPI/SeamListNDEInspection/GetWelderWiseWeldTypePartialForLTFPSBeforeOffer",
                    type: "POST",
                    datatype: "html",
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    data: { ltfpsHeaderId: $("#txtLineId").val(), flag: flag },
                    success: function (data) {
                        //bootbox.hideAll();
                        //setTimeout(function () {
                        bootbox.dialog({
                            title: "Set Welder WeldLengh / Area",
                            size: 'large',
                            message: data,
                            buttons: {
                                'Assign': {
                                    label: 'Assign to All',
                                    className: strclassname,
                                    callback: function () {
                                        var value = '@ViewBag.SeamLength';
                                        @*if ('@ViewBag.IsOverlay' == 'True') {
                                                $("[name=txtWeldarea]").val($("#OverlayArea").val());
                                                value = $("#OverlayArea").val();
                                            }
                                            else {
                                                $("[name=txtWeldlength]").val($("#SeamLength").val());
                                                value = $("#SeamLength").val();
                                            }*@
                                        $.ajax({
                                            url: WebsiteURL + "/IPI/SeamListNDEInspection/UpdateWeldingValueByAportionAssignBeforeOffer",
                                            type: "POST",
                                            data: { headerId: $("#txtLineId").val(), isOverlay: '@ViewBag.IsOverlay', updateType: "Assign", value: value, isLTFPS: 'True' },
                                            success: function (data) {
                                                if (data.Key) {
                                                    if ('@ViewBag.IsOverlay' == 'True') {
                                                        $("[name=txtWeldarea]").val(data.Value);
                                                    }
                                                    else {
                                                        $("[name=txtWeldlength]").val(data.Value);
                                                    }
                                                }
                                            }
                                        });
                                        return false;
                                    },
                                },
                                'Aportion': {
                                    label: 'Aportion to All',
                                    className: strclassname,
                                    callback: function () {
                                        var value = '@ViewBag.SeamLength';
                                        @*if ('@ViewBag.IsOverlay' == 'True') {
                                                value = $("#OverlayArea").val();
                                            }
                                            else {
                                                value = $("#SeamLength").val();
                                            }*@
                                        $.ajax({
                                            url: WebsiteURL + "/IPI/SeamListNDEInspection/UpdateWeldingValueByAportionAssignBeforeOffer",
                                            type: "POST",
                                            data: { headerId: $("#txtLineId").val(), isOverlay: '@ViewBag.IsOverlay', updateType: "Aportion", value: value, isLTFPS: 'True' },
                                            success: function (data) {
                                                if ('@ViewBag.IsOverlay' == 'True') {
                                                    $("[name=txtWeldarea]").val(data.Value);
                                                }
                                                else {
                                                    $("[name=txtWeldlength]").val(data.Value);
                                                }
                                            }
                                        });
                                        return false;
                                    }
                                },
                                'confirm': {
                                    label: 'Close',
                                    className: 'btn red',
                                    callback: function () {
                                        ValidateWeldLength();
                                    }
                                }
                            }
                        });
                        //if (isParallelSeamConfirmed) {
                        //    DisableBtn($("button[data-bb-handler='Assign']"));
                        //    DisableBtn($("button[data-bb-handler='Aportion']"));
                        //    $('input[name="txtWeldlength"],input[name="txtWeldarea"]', '#tblWelder').attr('disabled', true);
                        //}
                        //else {
                        //    EnableBtn($("button[data-bb-handler='Assign']"));
                        //    EnableBtn($("button[data-bb-handler='Aportion']"));
                        //    $('input[name="txtWeldlength"],input[name="txtWeldarea"]', '#tblWelder').removeAttr('disabled');
                        //}
                        //}, 500);
                    },
                    error: function () {
                        DisplayNotiMessage("error", "Error occured please try again", "Error");
                    }
                });
            }

        });

        $("#btnSaveOffer").click(function () {

            //CopyWelderWeldLengthFromPrevNDEStage($("#txtLineId").val(), true);

            $.ajax({
                url: WebsiteURL + "/LTFPS/OfferInspection/CheckSeamPartOffered",
                type: "POST",
                datatype: "json",
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: { LineID: $("#txtLineId").val() },
                success: function (data) {
                    if (data.Key == true) {

                        $.ajax({
                            type: "POST",
                            url: WebsiteURL + "/LTFPS/OfferInspection/GetOfferPartial",
                            datatype: 'html',
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            data: {
                                LineID: $("#txtLineId").val()
                            },
                            success: function (result) {
                                bootbox.dialog({
                                    title: 'Offer Seam/Part',
                                    message: result,
                                    size: 'large',
                                    buttons: {
                                        'confirm': {
                                            label: 'Offer',
                                            className: 'btn green',
                                            callback: function () {
                                                if ($("#frmPartlistOffer").valid()) {

                                                    var hdAttachment = $("#hdAttachment").val();
                                                    var folderPath = $("#folderPath").val();
                                                    var IsProtocolApplicable = $("#IsProtocolApplicable").val();
                                                    if (IsProtocolApplicable == "Yes" && !getHasAttachmentsForSubmit(hdAttachment)) {
                                                        // DisplayNotiMessage("error", "Attachment is required", "Error");
                                                        return false;
                                                    }
                                                    else {
                                                        $.ajax({
                                                            url: WebsiteURL + '/LTFPS/OfferInspection/SaveOffer',
                                                            type: "Post",
                                                            async: false,
                                                            dataType: "JSON",
                                                            data: {
                                                                TestFor: '@Model.TestFor',
                                                                ShopLocation: $("#ShopLocation").val(),
                                                                ShopRemark: $("#ShopRemark").val(),
                                                                Shop: $("#hdShop").val(),
                                                                LineId: $("#txtLineId").val(),
                                                                OfferedQuantity: $("#OfferedQuantity").val(),
                                                                surfaceCondition: $("#surfaceCondition").val(),
                                                                weldThicknessReinforcement: $("#weldThicknessReinforcement").val(),
                                                            },
                                                            success: function (data) {
                                                                
                                                                if (data.Key) {
                                                                    //UpdateFolderPathAndSavefuAttachmentUpload(folderPath);
                                                                    callbackfuntion();
                                                                }
                                                                else {
                                                                    DisplayNotiMessage("error", data.Value, "Error");
                                                                    return false;
                                                                }
                                                            },
                                                            error: function (ex) {
                                                                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                                                return false;
                                                            }
                                                        });
                                                        return false;
                                                    }
                                                }
                                                else {
                                                    return false;
                                                }
                                            }
                                        },
                                        'cancel': {
                                            label: 'Close',
                                            className: 'btn btnclose'
                                        }
                                    }
                                });
                            },
                            error: function () {
                            }
                        });
                    }
                    else {
                        bootbox.alert(data.Value);
                    }
                }
            });


        });

        @*var objAttachmentUploadQC = new FileUploadEnt('dv@(AttachmentUploadQC)', '@AttachmentUploadQC');
        objAttachmentUploadQC.ShowDeleteAction = false;
        objAttachmentUploadQC.ShowAttachmentBtn = false;
        objAttachmentUploadQC.FolderPath = "LTF002/@(Model.LineId)/R@(Model.LTFPSRevNo)";
        objAttachmentUploadQC.ShowUploadBtn = false;
        LoadFileUploadPartialView(objAttachmentUploadQC);*@

        var objFile = {
            TableName: 'LTF002//@(Model.LineId)//R@(Model.LTFPSRevNo)',
            TableId: @(Model.LineId),
            Path: 'LTF002//@(Model.LineId)//R@(Model.LTFPSRevNo)//1',
            ControlID: '@(AttachmentUploadQC)',
            ViewerId: 1,
            IsMultipleUploaded: false,
            ShowDeleteAction: false,
            ShowDownloadBtn: true,
            ShowAttachmentBtn: false
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(AttachmentUploadQC)', false);

        @*var objAttachmentUploadProd = new FileUploadEnt('dv@(AttachmentUploadProd)', '@AttachmentUploadProd');
        objAttachmentUploadProd.ShowDeleteAction = false;
        objAttachmentUploadProd.ShowAttachmentBtn = false;
        objAttachmentUploadProd.FolderPath = "@ViewBag.folderPath";
        objAttachmentUploadProd.ShowUploadBtn = false;
        LoadFileUploadPartialView(objAttachmentUploadProd);*@

        var objFile = {
            TableName: '@ViewBag.folderPath',
            TableId: '@ViewBag.TableId',
            Path: '@ViewBag.folderPath//1',
            ControlID: '@(AttachmentUploadProd)',
            ViewerId: 1,
            IsMultipleUploaded: false,
            ShowDeleteAction: false,
            ShowDownloadBtn: true,
            ShowAttachmentBtn: false
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(AttachmentUploadProd)', false);

    });
    function callbackfuntion() {
        DisplayNotiMessage("success", "Part offered Successfully", "Success");
        flag = false;
        window.location.href = WebsiteURL + "/LTFPS/OfferInspection/Index?tab=" + '@ViewBag.fromURL';
        bootbox.hideAll();
    }

    function CopyWelderWeldLengthFromPrevNDEStage(_HeaderId, isLTFPS) {
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/CopyWelderWeldLengthFromPreviousNDEStage",
            type: "POST",
            async: false,
            data: { HeaderId: _HeaderId, IsLTFPS: isLTFPS },
            success: function (data) {
                if (data.Key == true) {
                    //DisplayNotiMessage("success", data.Value, "Success");
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

    function ValidateWeldLength() {
        if ('@ViewBag.IsWeldLengthRequired' != 'True' || !flag) {
            return true;
        }

        var _returnValue = false;
        var value = 0;

        value = '@ViewBag.SeamLength';

        $.ajax({
            url: WebsiteURL + "/IPI/SeamListNDEInspection/ConfirmValidationBeforeOffer",
            type: "POST",
            async: false,
            data: { headerId: $("#txtLineId").val(), isOverlay: '@ViewBag.IsOverlay', value: value, isLTFPS: 'True' },
            success: function (data) {
                if (!data.Key) {
                    DisplayNotiMessage("error", data.Value, "Error");
                    //bootbox.alert(data.Value);
                    _returnValue = false;
                }
                else {
                    _returnValue = true;
                }
            }
        });
        return _returnValue;
    }

    function CaptureWeldersBeforeOffer(_ltfpsHeaderId) {

        var returnValue = false;
        $.ajax({
            url: WebsiteURL + "/LTFPS/OfferInspection/CaptureWeldersForLTFPSBeforeOffer",
            type: "POST",
            async: false,
            data: { ltfpsHeaderId: _ltfpsHeaderId },
            success: function (data) {
                if (data.Key == true) {
                    returnValue = true;
                    //DisplayNotiMessage("success", data.Value, "Success");
                }
                else {
                    returnValue = false;
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
        return returnValue;
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>