﻿
@using IEMQSImplementation

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Offer for inspection
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/TVL/OfferInspection/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="tblOfferDetail" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="all">Project No.</th>
                            <th class="all">Traveler No.</th>
                            <th class="all">Traveler Rev No.</th>
                            <th class="all">BU</th>
                            <th class="all">Location</th>
                            <th class="all">Identification No.</th>
                            <th class="all">Identification Sr No.</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var readytooffer = '@clsImplementationEnum.TravelerInspectionStatus.ReadyToOffer.GetStringValue()';
        if ('@ViewBag.Status'.toLowerCase() == readytooffer.toLowerCase()) {
            LoadOfferData('@ViewBag.Status');
        }
        else {
            LoadAllOfferData('@ViewBag.Status');
        }
    });

    function LoadOfferData(status) {
        var table = $('#tblOfferDetail');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/TVL/OfferInspection/LoadOfferIndexData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Status", "value": status });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    //'async': false

                });
            },
            "columns": [
                        {
                            "sClass": "center",
                            "name": "Project",
                            "ColName": "ProjectNo"
                           
                        },
                        {
                            "sClass": "center",
                            "name": "TravelerNo"
                        },
                         {
                             "sClass": "center",
                             "name": "TravelerRevNo",
                             "attr":"numeric"
                         },
                        {
                            "bSortable": false,
                            "attr": "none",
                            "sClass": "center",
                            "name": "BU",
                            "ColName": "tvl40.BU+'-'+bcom2.t_desc",
                        },
                        {
                            "sClass": "center",
                            "name": "Location",
                            "ColName": "Location"
                        },
                        {
                            "sClass": "center",
                            "name": "AssemblyNo"
                        },
                         {
                             "sClass": "center",
                             "name": "SubAssemblyNo",
                             "attr": "numeric"
                         },
                        {
                            "bSortable": false,
                            "sClass": "center",
                        }
            ]
        });
        table.dtSearchFilter();
    }

    function LoadAllOfferData(status) {
        var table = $('#tblOfferDetail');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/TVL/OfferInspection/LoadOfferAllTabIndexData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Status", "value": status });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                        {
                            "sClass": "center",
                            "name": "Project",
                            "ColName": "ProjectNo"
                        },
                        {
                            "sClass": "center",
                            "name": "TravelerNo"
                        },
                          {
                              "sClass": "center",
                              "name": "TravelerRevNo",
                              "attr": "numeric"
                          },
                        {
                            "sClass": "center",
                            "name": "BU",
                            "ColName": "tvl40.BU+'-'+bcom2.t_desc",
                        },
                        {
                            "sClass": "center",
                            "name": "Location",
                            "ColName": "tvl40.Location+'-'+lcom2.t_desc",
                        },
                        {
                            "sClass": "center",
                            "name": "AssemblyNo"
                        },
                        {
                            "sClass": "center",
                            "name": "SubAssemblyNo",
                            "attr": "numeric"
                        },
                        {
                            "bSortable": false,
                            "sClass": "center",
                        }
            ]
        });
        table.dtSearchFilter();
    }
</script>
