﻿
@using IEMQSImplementation
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frminitiate" }))
{

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Initiate Traveler
                    </div>

                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover dt-responsive" id="tblInitiate" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="min-phone-l" style="display:none;">HeaderId</th>
                                <th class="all">Project No.</th>
                                <th class="all">Identification</th>
                                <th class="all">Identification No.</th>
                                <th class="all">Traveler No.</th>
                                <th class="all">Rev No.</th>
                                <th class="all">Serial No From</th>
                                <th class="all">Serial No To</th>
                                <th class="all">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}


<script>
    //$('input[maxlength]').maxlength({
    //    alwaysShow: true,
    //    //placement: 'top-center'
    //});
    $('input[maxlength]').maxlength({
        alwaysShow: true,
        //placement: 'top-center'
    });

    $(document).ready(function () {

        var table = $('#tblInitiate');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/TVL/OfferInspection/LoadInitiateData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Status", "value": '@ViewBag.Status' });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                   'async': false
                });
            },
            "columns": [
                           {
                               "sClass": "hide",
                               "attr":"hide"
                           },
                        {
                            "sClass": "center",
                            "name": "ProjectNo",
                            "ColName": "ProjectNo"
                        },
                        {
                            "sClass": "center",
                            "name": "Identification"
                        },
                        {
                            "sClass": "center",
                            "name": "IdentificationNo"
                        },
                        {
                            "sClass": "center",
                            "name": "TravelerNo"
                        },
                        {
                            "sClass": "center",
                            "name": "TravelerRevNo",
                            "attr": "numeric"
                        },
                       {
                           "bSortable": false,
                           "sClass": "center",
                           "attr": "hide"
                       },
                       {
                           "bSortable": false,
                           "sClass": "center",
                           "attr": "hide"
                       },
                        {
                            "bSortable": false,
                            "sClass": "center",
                        }
            ]
        });
       table.dtSearchFilter();
        $("input[colname='SerialNoFrom']").keypress(function (event) {
            event = (event) ? event : window.event;
            var charCode = (event.which) ? event.which : event.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        });
        $("input[colname='SerialNoTo']").keypress(function (event) {
            event = (event) ? event : window.event;
            var charCode = (event.which) ? event.which : event.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        });

        var lstIdentification = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.Identification))));
        $('#tblInitiate').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(this).attr("hdElement");


            if ($(this).attr("colname") == "txtidentification") {
                FillTravelerAutoComplete(element, lstIdentification, $("#" + hdElement), false);
            }

        });

    });

    function InitiateTraveler(headerid) {


        var SerialnoFrom = $("#SerialNoFrom" + headerid).val();
        var SerialNoTo = $("#SerialNoTo" + headerid).val();
        var Identification = $("#txtidentification" + headerid).val();
        var Identificationno = $("#IdentificationNo" + headerid).val();
        $("#SerialNoFrom" + headerid + ",#SerialNoTo" + headerid + ",#txtidentification" + headerid + ",#IdentificationNo" + headerid).removeClass('error');
        var isrequired = "false"
        var isIdentification_StandardTraveler = (Identification == '@clsImplementationEnum.TravelerIdentificationDropdown.StandardTraveler.GetStringValue()');
        if (isIdentification_StandardTraveler)
        {
            if(Identificationno=="")
            {
                isrequired = "true";
            }
        }

        if (SerialnoFrom != null && SerialnoFrom != undefined && SerialnoFrom != "" && SerialNoTo != null && SerialNoTo != undefined && SerialNoTo != "" && isrequired == "false" && !isIdentification_StandardTraveler) {
            bootbox.dialog({
                title: 'Initiate Traveler',
                message: "Do you want to Initiate?",
                size: 'small',
                buttons: {
                    'confirm': {
                        label: 'Yes',
                        className: 'btn green',
                        callback: function () {
                            if (parseInt(SerialNoTo) >= parseInt(SerialnoFrom)) {
                                $.ajax({
                                    type: "POST",
                                    url: WebsiteURL + "/TVL/OfferInspection/Initiatetraveler",
                                    datatype: 'json',
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    data: { headerId: headerid, SFrom: SerialnoFrom, STo: SerialNoTo, IdentificationNo: Identificationno, IdentificationStatus: Identification },
                                    success: function (result) {
                                        if (result.Key) {
                                            DisplayNotiMessage("success", result.Value, "Success");
                                            //$("#SerialNoFrom" + headerid).val('');
                                            //$("#SerialNoTo" + headerid).val('');
                                            //$("#SerialNoFrom" + headerid).removeClass('form-control error');
                                            //$("#SerialNoTo" + headerid).removeClass('form-control error');
                                            //$("#IdentificationNo" + headerid).removeClass('form-control error');
                                            //$("#txtidentification" + headerid).removeClass('form-control error');
                                            //$("#SerialNoFrom" + headerid).addClass('form-control valid');
                                            //$("#SerialNoTo" + headerid).addClass('form-control valid');
                                            //$("#IdentificationNo" + headerid).addClass('form-control valid');
                                            //$("#txtidentification" + headerid).addClass('form-control valid');
                                            if (result.dataKey) {
                                                DisplayNotiMessage("info", result.dataValue, "Info");
                                            }
                                            $('#tblInitiate').DataTable().ajax.reload();
                                        }
                                    },
                                    error: function () {
                                        alert('error...');
                                    }
                                });
                            }
                            else {
                                DisplayNotiMessage("error", "Serial No To Should Be greater then Serial No From", "Error");
                            }

                        }
                    },
                    'cancel': {
                        label: 'No',
                        className: 'btn red'
                    }
                }
            });
        }
        else {
           // DisplayNotiMessage("error", "Please Enter Serial No From And Serial No To", "Error");
            DisplayNotiMessage("error", "Please Enter ALL Required Field", "Error");
            if (!SerialnoFrom)
                $("#SerialNoFrom" + headerid).addClass('form-control error');
            if (!SerialNoTo)
                $("#SerialNoTo" + headerid).addClass('form-control error');
            if (!Identificationno)
                $("#IdentificationNo" + headerid).addClass('form-control error');
            if (Identification == "" || isIdentification_StandardTraveler) {
                $("#txtidentification" + headerid).addClass('form-control error');
            }
        }
    }
    function FillTravelerAutoComplete(element, sourceList, hdElement, isEditable) {

        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(element).val(ui.item.value);
                $(hdElement).val(ui.item.id)
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $(this).focus();
                    $(hdElement).val('')
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }


</script>
