﻿@using IEMQSImplementation
@model TVL040
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Datatable/css")
<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title </span>
                    </div>
                </div>
                <div class="dvHeader">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
                    {
                        @Html.HiddenFor(m => m.HeaderId)
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend> Project Details</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Project No.</label>
                                                <div class="">
                                                    <input type="text" id="txtProjectNo" value="@Html.Raw((string)ViewBag.ProjectNo)" name="txtProjectNo" class="form-control" readonly />
                                                    @Html.HiddenFor(m => m.ProjectNo, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <label class="control-label">Customer</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.Customer, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">BU</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.BU, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Location</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Traveler Details</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Traveler No.</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.TravelerNo, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Traveler Rev No.</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.TravelerRevNo, "R" + Model.TravelerRevNo, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Identification No.</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.AssemblyNo, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Identification Sr No.</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.SubAssemblyNo, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                        </div>
                    }
                </div>
                <div class="portlet light">
                    <div class="portlet-title tabbable-line">
                        <a id="btnReport" class="btn blue" onclick="ViewDin();"> View DIN</a>
                        <ul class="nav nav-tabs">
                            <li >
                                <a href="#portlet_comments_1" name="tabStatus" id="tabOffer" spara="Ready to Offer" data-toggle="tab"> Offer </a>
                            </li>
                            <li>
                                <a href="#portlet_comments_2" name="tabStatus" id="tabReoffer" spara="Reoffer" data-toggle="tab">Re-Offer</a>
                            </li>
                            <li class="active">
                                <a href="#portlet_comments_3" name="tabStatus" id="tabAll" spara="All" data-toggle="tab">All</a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane" id="portlet_comments_1">
                            </div>
                            <div class="tab-pane" id="portlet_comments_2">
                            </div>
                            <div class="tab-pane active" id="portlet_comments_3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-12" style="text-align:right;">
                            <a href='@Url.Action("Index","OfferInspection")' class="btn btnclose" > Close</a>
                            <hr />
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 10px !important">
                        <div class="col-md-1"><b style="font-size: 16px;">Legend:</b></div>
                        <div class="col-md-4">
                            # - Indicate Report / Record Required<br />
                            LPE - Liquid Penetrant Examination<br />
                            VE - Visual Examination<br />
                            WDS - Weld Data Sheet<br />
                            WPS - Welding Procedure Specification<br />
                            MCR - Material Clearance Record<br />
                            CGDR - Commercial Grade Dedication Report
                        </div>
                        <div class="col-md-7">
                            H - Hold Point [Not to Proceed Further Unless Stage is Accepted by the agency] <br />
                            S - Manufacturing Activity [No Check Points of QC]<br />
                            W - Witness [TN to be Notified Prior to Proceeding further]<br />
                            H1 - Hold Point - mandatory for first activity. If first activity is waived, it still remains a hold point. Once activity has been witnessed, then it becomes a witness point (W).<br />
                            W1 - Witness mandatory only for first activity.<br />
                            R - Review of Inspection Documents.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover dt-responsive " id="tblAgenda" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="min-phone-l">Notes :</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="lblNote1">
                                        <td>
                                            <label class="control-label">@Html.Raw((string)ViewBag.Note1)</label>
                                        </td>
                                    </tr>
                                    <tr id="lblNote2">  <td>  <label class="control-label">@Html.Raw((string)ViewBag.Note2)</label></td> </tr>
                                    <tr id="lblNote3">  <td>  <label class="control-label">@Html.Raw((string)ViewBag.Note3)</label></td> </tr>
                                    <tr id="lblNote4">  <td>  <label class="control-label">@Html.Raw((string)ViewBag.Note4)</label></td> </tr>
                                    <tr id="lblNote5">  <td>  <label class="control-label">@Html.Raw((string)ViewBag.Note5)</label></td> </tr>
                                    <tr id="lblNote6">  <td>  <label class="control-label">@Html.Raw((string)ViewBag.Note6)</label></td> </tr>
                                    <tr id="lblNote7">  <td>  <label class="control-label">@Html.Raw((string)ViewBag.Note7)</label></td> </tr>
                                    <tr id="lblNote8">  <td>  <label class="control-label">@Html.Raw((string)ViewBag.Note8)</label></td> </tr>
                                    <tr id="lblNote9">  <td>  <label class="control-label">@Html.Raw((string)ViewBag.Note9)</label></td> </tr>
                                    <tr id="lblNote10">  <td>  <label class="control-label"> @Html.Raw((string)ViewBag.Note10)</label></td> </tr>
                                    <tr id="lblNote11">  <td>  <label class="control-label"> @Html.Raw((string)ViewBag.Note11)</label></td> </tr>
                                    <tr id="lblNote12">  <td>  <label class="control-label"> @Html.Raw((string)ViewBag.Note12)</label></td> </tr>
                                    <tr id="lblNote13">  <td>  <label class="control-label"> @Html.Raw((string)ViewBag.Note13)</label></td> </tr>
                                    <tr id="lblNote14">  <td>  <label class="control-label"> @Html.Raw((string)ViewBag.Note14)</label></td> </tr>
                                    <tr id="lblNote15">
                                        <td>
                                            <label class="control-label"> @Html.Raw((string)ViewBag.Note15)</label>
                                        </td>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12" style="text-align:right;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    @*var readytooffer = '@clsImplementationEnum.TravelerInspectionStatus.ReadyToOffer.GetStringValue()';*@
    var readytooffer = "All";
    $(document).ready(function () {
        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });
        $('#btnCollapse2').click(function (e) {
            e.preventDefault();
            var el = $("#div1");

            if ($(this).hasClass("collapsewhite")) {
                $(this).removeClass("collapsewhite").addClass("expandwhite");
                el.slideUp(200);
            } else {
                $(this).removeClass("expandwhite").addClass("collapsewhite");
                el.slideDown(200);
            }
        });
        $("#TravelerRevNo").val("R" + '@Model.TravelerRevNo');
        $("#OperationRevisionNo").val("R" + '@Model.OperationRevisionNo');
        var status = '@Model.InspectionStatus';
        @*if ("@Html.Raw((string)ViewBag.Note1)" == "") { $("#lblNote1").hide(); }
        if ("@Html.Raw((string)ViewBag.Note2)" == "") { $("#lblNote2").hide(); }
        if ("@Html.Raw((string)ViewBag.Note3)" == "") { $("#lblNote3").hide(); }
        if ("@Html.Raw((string)ViewBag.Note4)" == "") { $("#lblNote4").hide(); }
        if ("@Html.Raw((string)ViewBag.Note5)" == "") { $("#lblNote5").hide(); }
        if ("@Html.Raw((string)ViewBag.Note6)" == "") { $("#lblNote6").hide(); }
        if ("@Html.Raw((string)ViewBag.Note7)" == "") { $("#lblNote7").hide(); }
        if ("@Html.Raw((string)ViewBag.Note8)" == "") { $("#lblNote8").hide(); }
        if ("@Html.Raw((string)ViewBag.Note9)" == "") { $("#lblNote9").hide(); }
        if ("@Html.Raw((string)ViewBag.Note10)" == "") { $("#lblNote10").hide(); }
        if ("@Html.Raw((string)ViewBag.Note11)" == "") { $("#lblNote11").hide(); }
        if ("@Html.Raw((string)ViewBag.Note12)" == "") { $("#lblNote12").hide(); }
        if ("@Html.Raw((string)ViewBag.Note13)" == "") { $("#lblNote13").hide(); }
        if ("@Html.Raw((string)ViewBag.Note14)" == "") { $("#lblNote14").hide(); }
        if ("@Html.Raw((string)ViewBag.Note15)" == "") { $("#lblNote15").hide(); }*@

        if (status.toLowerCase() != readytooffer.toLowerCase())
        { $("#btnOffer").hide(); }

        GetOfferDataPartial(readytooffer);
        $('a[name="tabStatus"]').click(function () {
            GetOfferDataPartial($(this).attr('spara'));
        });
    });

    function GetOfferDataPartial(status) {
        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        $("#portlet_comments_3").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/TVL/OfferInspection/GetOfferDataPartial",
            datatype: 'html',

            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: {
                status: status,
                ProjectNo: '@Html.Raw((String)Model.ProjectNo)',
                Customer: '@Html.Raw((String)Model.Customer)',
                BU: '@Html.Raw((String)Model.BU)',
                Location: '@Html.Raw((String)Model.Location)',
                TravelerNo: '@Html.Raw((String)Model.TravelerNo)',
                AssemblyNo: '@Html.Raw((String)Model.AssemblyNo)',
                SubAssemblyNo: '@Model.SubAssemblyNo',
            },
            success: function (result) {

                if (status == "Ready to Offer") {
                    $("#portlet_comments_1").html(result);
                }
                else if (status == "Reoffer") {
                    $("#portlet_comments_2").html(result);
                }
                else {
                    $("#portlet_comments_3").html(result);
                }
            },
            error: function () {
            }
        });
    }

    function RequestOffer(requestId, isReoffer, colorflag) {

        var strHtml = "<scr" + "ipt>$(document).ready(function(){"
                            + "$('#frmOfferData').validate({"
                            + " rules: {"
                            + "txtShopUsedRefDocRevNo: {"
                            + "required: true,"
                            + "},"
                            + "messages: {"
                            + "txtShopUsedRefDocRevNo: {"
                            + "required: 'Used Ref Doc Rev No is required'"
                            + "}"
                            + "}"
                            + "}"
                            + "});"
                             + "Getrevno(" + requestId + ",'Reoffer')"
                            + "});</scr" + "ipt>"
                            + " <div>"
                            + "<form method='post' id='frmOfferData'  class='form-horizontal' action=''>"
                            + "<div class='form-group'>"
                            + "<div class='col-md-12'>"
                            + "<label class='control-label'>Used Ref Doc Rev No<span class='required'>*</span></label>"
                            + "<div class=''>"
                            + "<input type='text' id='txtShopUsedRefDocRevNo' readonly='readonly' class='form-control' name='txtShopUsedRefDocRevNo'/>"
                            + "</div>"
                            + "</div>"
                            + "</div>"
                            + "</form>"
                            + "</div>";

        if (isReoffer == true) {
            if (colorflag == '@clsImplementationEnum.ColorFlagForTraveler.Orange.GetStringValue()') {
                bootbox.dialog({
                    message: "All stages related to rework traveller is closed",
                    buttons: {
                        'confirm': {
                            label: 'OK',
                            className: 'btn green',
                            callback: function () {
                                reoffer(requestId, strHtml)
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            }
            else {
                reoffer(requestId, strHtml)
            }

        }
        else {

            $.ajax({
                type: "POST",
                url: WebsiteURL + "/TVL/OfferInspection/GetOfferPartial",
                datatype: 'html',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },

                data: {
                    headerID: requestId
                },
                success: function (result) {
                    bootbox.dialog({
                        title: 'Offer',
                        message: result,
                        size: 'small',
                        buttons: {
                            'confirm': {
                                label: 'Offer',
                                className: 'btn green',
                                callback: function () {
                                    if ($("#frmOffer").valid()) {
                                        var usedrefrevno = $("#txtShopUsedRefDocRevNo").val()
                                        generateOffer(requestId, usedrefrevno, false);
                                    }
                                    else {
                                        return false;
                                    }
                                }
                            },
                            'cancel': {
                                label: 'Close',
                                className: 'btn red'
                            }
                        }
                    });
                },
                error: function () {
                }
            });
        }
    }
    function reoffer(requestId, strHtml) {
        bootbox.dialog({
            title: 'Re-Offer',
            message: "Do you want to Re-Offer? " + strHtml,
            size: 'small',
            buttons: {
                'confirm': {
                    label: 'Re-Offer',
                    className: 'btn green',
                    callback: function () {
                        if ($("#frmOfferData").valid()) {
                            var usedrefrevno = $("#txtShopUsedRefDocRevNo").val();
                            generateOffer(requestId, usedrefrevno, true);
                        }
                        else { return false; }
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn red'
                }
            }
        });
    }
    function ViewDin() {
        var location = $("#Location").val().split("-")[0].trim();
        var url = "/TVL/TravelerDIN_Production";
        var dat = [];
        dat.push({ Param: "ProjectNo", Value: '@Html.Raw((String)Model.ProjectNo)'.trim() });
        dat.push({ Param: "Location", Value: location });
        ShowReport(dat, url);
    }
    function RequestClear(headerid) {

        var strHtml = "<scr" + "ipt>$(document).ready(function(){"
                       //+ "$('#frmClearData').validate({"
                       //+ " rules: {"
                       //+ "txtShopUsedRefDocRevNo: {"
                       //+ "required: true,"
                       //+ "},"
                       //+ "messages: {"
                       //+ "txtShopUsedRefDocRevNo: {"
                       //+ "required: 'Used Ref Doc Rev No is required'"
                       //+ "}"
                       //+ "}"
                       //+ "}"
                       //+ "});"
                       + "Getrevno(" + headerid + ",'Offer')"
                       + "});</scr" + "ipt>"
                       + " <div>"
                       + "<form method='post' id='frmClearData'  class='form-horizontal' action=''>"
                       + "<div class='form-group'>"
                       + "<div class='col-md-12'>"
                       + "<label class='control-label'>Used Ref Doc Rev No</label>"
                       + "<div class=''>"
                       + "<input type='text' id='txtShopUsedRefDocRevNo' class='form-control' readonly='readonly' name='txtShopUsedRefDocRevNo'/>"
                       + "</div>"
                       + "</div>"
                       + "</div>"
                       + "</form>"
                       + "</div>";

        bootbox.dialog({
            title: 'Clear',
            message: "Do you want to Clear? " + strHtml,

            size: 'small',

            buttons: {
                'confirm': {
                    label: 'Clear',
                    className: 'btn clear',
                    callback: function () {
                        if ($("#frmClearData").valid()) {

                            var usedrefrevno = $("#txtShopUsedRefDocRevNo").val();
                            $.ajax({
                                url: WebsiteURL + '/TVL/OfferInspection/RequestClear',
                                type: "Post",
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                // async: false,
                                dataType: "JSON",
                                data: {
                                    headerid: headerid,
                                    usedrefrevno: usedrefrevno,
                                    remark: ""
                                },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        $('#tblOfferDetail').DataTable().ajax.reload();
                                    }
                                    else {
                                        DisplayNotiMessage("error", data.Value, "Error");
                                        return false;
                                    }
                                },
                                error: function (ex) {
                                    DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                    return false;
                                }
                            })
                        }
                        else { return false; }
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn red'
                }
            }
        });
    }

    function OfferApplicable(headerid) {

        var strHtml = "<scr" + "ipt>$(document).ready(function(){"
            + "$('input[maxlength],textarea[maxlength]').maxlength({alwaysShow: true,});"
            + "$('#frmApplicable').validate({"
            + " rules: {"
            + "txtNotApplicableRemark: {"
            + "required: true,"
            + "},"
            + "messages: {"
            + "txtNotApplicableRemark: {"
            + "required: 'Not Applicable Remark is required'"
            + "}"
            + "}"
             + "}"
            + "});"
            + "});</scr" + "ipt>"
            + " <div>"
            + "<form method='post' id='frmApplicable' class='form-horizontal' action=''>"
            + "<div class='form-group'>"
            + "<div class='col-md-12'>"
            + "<br /><label class='control-label'><b>Not Applicable Remark</b><span class='required'> * </span></label>"
            + "<div class=''>"
            + "<textarea type='text' value='' style='width:100%' name='txtNotApplicableRemark' id='txtNotApplicableRemark' maxlength='100' class='form-control col-md-3'></textarea>"
            + "</div>"
            + "</div>"
            + "<div class='col-md-12'>"
            + "<br /><label class='mt-checkbox mt-checkbox-outline'>"
            + "<input type='checkbox' id='IsHeaderLine' > Is Header Line ? "
            + "<span></span>"
            + "</label>"
            + " </div>"
            + "</div>"
            + "</form>"
            + "</div>";
        bootbox.dialog({
            title: 'Not Applicable?',
            message: "Do you want to make operation “Not Applicable” ?" + strHtml,
            size: 'small',
            buttons: {
                'confirm': {
                    label: 'Yes',
                    className: 'btn green',
                    callback: function () {
                        if ($('#frmApplicable').valid()) {
                            var IsHeaderLine = false;
                            if ($("#IsHeaderLine").is(':checked')) {
                                IsHeaderLine = true;
                            }
                            $.ajax({
                                url: WebsiteURL + '/TVL/OfferInspection/OperationApplicable',
                                type: "Post",
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                dataType: "JSON",
                                data: {
                                    headerid: headerid, remark: $("#txtNotApplicableRemark").val(), IsHeaderLine: IsHeaderLine
                                },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        $('#tblOfferDetail').DataTable().ajax.reload();
                                    }
                                    else {
                                        DisplayNotiMessage("error", data.Value, "Error");
                                        return false;
                                    }
                                },
                                error: function (ex) {
                                    DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                    return false;
                                }
                            })
                        }
                        else { HighlightInValidControls(); return false; }
                    }
                },
                'cancel': {
                    label: 'No',
                    className: 'btn red'
                }
            }
        });
    }
    function Getrevno(headerid, status) {
        $.ajax({
            url: WebsiteURL + "/tvl/OfferInspection/GetRefrevnodetails",
            type: "GET",
            async: false,
            data: { Headerid: headerid, Status: status },
            success: function (data) {
                $("#txtShopUsedRefDocRevNo").val(data.Refrevno);

            }
        })

    }
    function generateOffer(requestId, usedrefrevno, isReoffer) {
        $.ajax({
            url: WebsiteURL + '/TVL/OfferInspection/RequestOffered',
            type: "Post",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            dataType: "JSON",
            data: {
                OfferLocation: $("#OfferLocation").val(),
                remark: "",
                ShopUsedRefDocRevNo: usedrefrevno,
                requestId: requestId,
                isReoffer: isReoffer
            },
            success: function (data) {
                if (data.Key) {
                    DisplayNotiMessage("success", data.Value, "Success");
                    $('#tblOfferDetail').DataTable().ajax.reload();
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                    return false;
                }
            },
            error: function (ex) {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                return false;
            }
        })
    }
</script>
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>