﻿
@model IEMQSImplementation.TVL040
@using IEMQSImplementation
@{
    ViewBag.Title = "Traveler Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .highlight {
        background-color: #aaed7a !important;
    }

        .highlight:hover {
            background-color: #aaed7a !important;
        }
</style>


<script type="text/javascript">

    var isSelected = false;
    var Projectno;
    var qmspLocation;
    var qmspBU;
    var qmsCustomer;
    var HeaderId = $("#HeaderId").val();

    $(document).ready(function () {
        HeaderId = $("#HeaderId").val();
        if (parseInt(HeaderId) > 0) {
            $("#txtProject").val('@Html.Raw((String)Model.ProjectNo)');
            $("#txtProject").prop("readonly", "readonly");
            $("#DSCSrNo").prop("readonly", "readonly");
          
            $("#dvTravelerHeaderData").show();
            Projectno = '@Html.Raw((String)Model.ProjectNo)';
            qmspLocation = '@Model.Location';
            qmspBU = '@Model.BU';
            qmsCustomer = '@Html.Raw((String)Model.Customer)';
            $("#BU").val('@ViewBag.BU');
            $("#Location").val('@ViewBag.Location');
            BindTravelerHeaderList("Pending");

        }
    });

    function BindTravelerHeaderList(status) {
        $("#close").hide();
        $("#dvOperationDetails").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/TVL/DigitalSignature/GetHeaderDataPartial",
            data: {
                status: status,
                ProjectNo: '@Html.Raw((String)Model.ProjectNo)',
                Customer: '@Html.Raw((String)Model.Customer)',
                BU: '@Html.Raw((String)Model.BU)',
                Location: '@Html.Raw((String)Model.Location)',
                TravelerNo: '@Html.Raw((String)Model.TravelerNo)',
                AssemblyNo: '@Html.Raw((String)Model.AssemblyNo)',
                SubAssemblyNo: '@Model.SubAssemblyNo',
                HeaderId:'@Model.HeaderId'
            },
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                $("#dvOperationDetails").html(result);
            },
            error: function () {
            }
        });
    }
</script>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Traveler Details</span>
                    </div>
                    
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning">
                        <span style="font-weight:bolder">
                            Status : <span id="spnStatus"></span>
                        </span>
                    </div>

                </div>
                <div id="dvHeader" style="padding:1%">
                    <form id="frmTravelerHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Project No.</label>
                                            <div class="">
                                                @Html.HiddenFor(m => m.HeaderId)
                                                @Html.TextBoxFor(m => m.ProjectNo, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Customer</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Customer, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BU, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Traveler Details</legend>
                                    <div class="col-md-12" >
                                        <div class="col-md-3">
                                            <label class="control-label">Traveler No.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TravelerNo, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Traveler Rev No.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TravelerRevNo, "R" + Model.TravelerRevNo, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Identification No.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.AssemblyNo, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Identification Sr No.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.SubAssemblyNo, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" id="divcomplete" style="display:none">
                                        
                                        <div class="col-md-6">
                                            <label class="control-label">DSC Sr. No.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.DSCSrNo, new { @class = "form-control", @maxlength = "50", @readonly = "readonly" })
                                            </div>
                                        
                                          
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Completed By</label>
                                            <div class="">
                                                @Html.TextBox("Completedby", Html.Raw((string)ViewBag.Completedby), new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Completed On</label>
                                            <div class="">
                                                @Html.TextBox("Completedon", Html.Raw((string)ViewBag.Completedon), new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-12" style="text-align:right;margin-top:3%">
                                            <a href='@Url.Action("Index","DigitalSignature")' id="close" class="btn btnclose"> Close</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div>
                            <div class="" id="dvOperationDetails">

                            </div>
                        </div>
                        <div class="form-group">
                            <hr />
                            <div class="col-md-12" style="margin-bottom: 10px !important">
                                <div class="col-md-1"><b style="font-size: 16px;">Legend:</b></div>
                                <div class="col-md-4">
                                    # - Indicate Report / Record Required<br />
                                    LPE - Liquid Penetrant Examination<br />
                                    VE - Visual Examination<br />
                                    WDS - Weld Data Sheet<br />
                                    WPS - Welding Procedure Specification<br />
                                    MCR - Material Clearance Record<br />
                                    CGDR - Commercial Grade Dedication Report
                                </div>
                                <div class="col-md-7">
                                    H - Hold Point [Not to Proceed Further Unless Stage is Accepted by the agency] <br />
                                    S - Manufacturing Activity [No Check Points of QC]<br />
                                    W - Witness [TN to be Notified Prior to Proceeding further]<br />
                                    H1 - Hold Point - mandatory for first activity. If first activity is waived, it still remains a hold point. Once activity has been witnessed, then it becomes a witness point (W).<br />
                                    W1 - Witness mandatory only for first activity.<br />
                                    R - Review of Inspection Documents.
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



