﻿@model IEMQSImplementation.WPS002

<script>
    var Id = $("#Id").val();
    //var lstAWSClass = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.AWSClassList))));

    $(document).ready(function () {
        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });
    });

    //FillAutoComplete($("#AWSClass"), lstAWSClass);
    jQuery.validator.addMethod('validateNumSpecialChar', function (value, element, param) {
        //var regEx = /^[0-9%()*.\+\/\-]+$/;
        var regEx = /[0-9%()*.\+\/\-]+$/;
        if (regEx.test(value)) {
            return true;
        }
        else {
            $.validator.messages["validateNumSpecialChar"] = "Only Numeric and Special characters allowed";
            return false;
        }
    }, '');

    $("#frmFillerMetal").validate({
        rules: {
            AWSClass: { required: true },
            FNumber: { required: true },
            SFANo: { required: true },
            ANumber: { required: true },
            ConsumableSize: {
                required: true,
                validateNumSpecialChar: true
            },
            //CurrentAMP: { number: true },
            //Voltage: { number: true },
            //TravelSpeed: { number: true },
            //BeadLength: { number: true },
            //HeatInput: { number: true },
        },
        messages: {
            AWSClass: { required: "AWS Class Is Required" },
            FNumber: { required: "F Number IS Required" },
            SFANo: { required: "SFA Number Is Required" },
            ANumber: { required: "A Number IS Required" },
            ConsumableSize: { required: "Consumable Size Is Required" },
        }
    });

    $("#btnSave").click(function () {
        if ($("#frmFillerMetal").valid()) {
            var frmFillerMetalValues = $("#frmFillerMetal").serializeArray();
            Save(frmFillerMetalValues);
        }
        else {
            HighlightInValidControls();
            return false;
        }
    });

    $("#btnCancel").click(function () {
        bootbox.hideAll();
    });

    if (Id != null && Id != undefined && Id != " " && Id != 0)
    {
        $("#AWSClass,#FNumber,#ConsumableSize").prop("readonly", "readonly");
    }

    function Save(frmAWSBrandValues)
    {
        var formdata = new FormData();
        if (frmAWSBrandValues != null && frmAWSBrandValues != undefined)
        {
            $.each(frmAWSBrandValues, function (key, input) {
                if (input.name == 'ConsumableSize') {
                    var NewValue = input.value.replace(/ /g, '');
                    input.value = NewValue;
                }
                formdata.append(input.name, input.value);
            });
        }
        $.ajax({
            url: WebsiteURL + "/WPS/FillerMetalMaster/Save",
            type: "POST",
            datatype: "json",
            data: formdata,
            async: false,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.Key) {
                    DisplayNotiMessage("success", res.Value, "Success");
                    bootbox.hideAll();
                    $('#tblFillerMetalList').DataTable().ajax.reload();
                }
                else {
                    DisplayNotiMessage("error", res.Value, "Error");
                    return false;
                }
            },
            error: function () {
                response = "";
                return false;
            }
        });
    }

</script>


<div class="row" style="width:100%">
    <div class="col-md-12">
        <form id="frmFillerMetal" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.HiddenFor(m => m.Id)
                    <div class="col-md-4">
                        <label class="control-label">Location<span class="required">*</span></label>
                        @Html.TextBox("Location", (string)ViewBag.Location, new { @class = "form-control col-md-4", @readonly = "readonly" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">AWS Class<span class="required">*</span></label>
                        @Html.TextBoxFor(m => m.AWSClass, new { @class = "form-control col-md-4", @maxlength = "20" })
                    </div>

                    <div class="col-md-4">
                        <label class="control-label">F Number<span class="required">*</span></label>
                        @Html.TextBoxFor(m => m.FNumber, new { @class = "form-control col-md-4", @maxlength = "3" })
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">SFA No.<span class="required">*</span></label>
                        @Html.TextBoxFor(m => m.SFANo, new { @class = "form-control col-md-4", @maxlength = "5" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">A Number<span class="required">*</span></label>
                        @Html.TextBoxFor(m => m.ANumber, new { @class = "form-control col-md-4", @maxlength = "2" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Consumable Size(mm)<span class="required">*</span></label>
                        @Html.TextBoxFor(m => m.ConsumableSize, new { @class = "form-control col-md-4", @maxlength = "10" })
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">Current (Amps)</label>
                        @Html.TextBoxFor(m => m.CurrentAMP, new { @class = "form-control col-md-4", @maxlength = "10" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Voltage (V)</label>
                        @Html.TextBoxFor(m => m.Voltage, new { @class = "form-control col-md-4", @maxlength = "10" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Travel speed (mm/Min)</label>
                        @Html.TextBoxFor(m => m.TravelSpeed, new { @class = "form-control col-md-4", @maxlength = "10" })
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">Bead Length (mm)</label>
                        @Html.TextBoxFor(m => m.BeadLength, new { @class = "form-control col-md-4", @maxlength = "10" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Heat Input (kJ/mm)</label>
                        @Html.TextBoxFor(m => m.HeatInput, new { @class = "form-control col-md-4", @maxlength = "10" })
                    </div>
                    <div class="col-md-4" style="text-align:right;margin-top:3%">
                        <input type="button" id="btnSave" class="btn save" value="Save" />
                        <input type="button" id="btnCancel" class="btn btnclose" value="Close" />
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</div>
