﻿@using IEMQSImplementation
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
<script>
    var arrHeaderId;
    $(document).ready(function () {
        $('#frmDetail').validate({
            rules: {
                txtQualityProject0: { required: true },
                txtStageCode0: { required: true },
                txtFirstTPIAgency0: { required: true },
                txtFirstTPIIntervention0: { required: true }
            },
            messages: {
                txtQualityProject0: { required: "Quality Project is required" },
                txtStageCode0: { required: "Stage is required" },
                txtFirstTPIAgency0: { required: "First TPI Agency is required" },
                txtFirstTPIIntervention0: { required: "First TPI Intervention is required" }
            },
        });

        UtilityTPIAgency = {
            sUrl: "/IPI/MaintainTPIAgencyIntervention/LoadTPIAgencyData",
            @*aServerParams: [{
                "name": "Status", "value": '@ViewBag.status'
            }],*@
            aServerParams: [{
                "name": "Status", "value": '@ViewBag.status'
            }, {
                "name": "Project", "value": '@ViewBag.Project'
            }],
            bIsFixedHeader: true,
            iScrollY: 480,
            iResponsiveOnWindowWidth: 800,
            bIsResponsive: false,
            bIsSearchFilter: true,
            bBtnMaximize: true,
            bIsWrapHeader: false,
            iFCLeft: 2,
            iFCRight: 1,
            sBtnDivSelector: "#dvExportHeader",
            aoColumns: [
                 {
                     "name": "Id",
                     "sClass": "hide"
                 },
                 {
                     "name": "BU",
                     "sClass": "hide"
                 },
                 {
                     "name": "Loaction",
                     "sClass": "hide"
                 },
                {
                    "name": "QualityProject",
                    "sClass": "center clsQualityProject"
                },
                {
                    "name": "Stage",
                    "sClass": "center clsStageDesc",
                    "ColName": "A.Stage +'-'+B.StageDesc "
                },
                {
                    "name": "FirstTPIAgency",
                    "sClass": "center",
                    "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(FirstTPIAgency, a.Location, a.BU, 'TPI Agency')"
                },
                {
                    "name": "FirstTPIIntervention",
                    "sClass": "center",
                    "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(FirstTPIIntervention, a.Location, a.BU, 'TPI Intervention')"
                },
                {
                    "name": "SecondTPIAgency",
                    "sClass": "center",
                    "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(SecondTPIAgency, a.Location, a.BU, 'TPI Agency')"
                },
                {
                    "name": "SecondTPIIntervention",
                    "sClass": "center",
                    "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(SecondTPIIntervention, a.Location, a.BU, 'TPI Intervention')"
                },
                {
                    "name": "ThirdTPIAgency",
                    "sClass": "center",
                    "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(ThirdTPIAgency, a.Location, a.BU, 'TPI Agency')"
                },
                {
                    "name": "ThirdTPIIntervention",
                    "sClass": "center",
                    "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(ThirdTPIIntervention, a.Location, a.BU, 'TPI Intervention')"
                },
                {
                    "name": "ForthTPIAgency",
                    "sClass": "center",
                    "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(ForthTPIAgency, a.Location, a.BU, 'TPI Agency')"
                },
                {
                    "name": "ForthTPIIntervention",
                    "sClass": "center",
                    "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(ForthTPIIntervention, a.Location, a.BU, 'TPI Intervention')"
                },
                {
                    "name": "FifthTPIAgency",
                    "sClass": "center",
                    "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(FifthTPIAgency, a.Location, a.BU, 'TPI Agency')"
                },
                {
                    "name": "FifthTPIIntervention",
                    "sClass": "center",
                    "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(FifthTPIIntervention, a.Location, a.BU, 'TPI Intervention')"
                },
                {
                    "name": "SixthTPIAgency",
                    "sClass": "center",
                    "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(SixthTPIAgency, a.Location, a.BU, 'TPI Agency')"
                },
                {
                    "name": "SixthTPIIntervention",
                    "sClass": "center",
                    "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(SixthTPIIntervention, a.Location, a.BU, 'TPI Intervention')"
                },
                {
                    "bSortable": false,
                    "sClass": "sCenter",
                    //"sWidth": "10%",

                },
            ]
        };

        UtilityTPIAgency.oSRE = {
            sUrl: "/IPI/MaintainTPIAgencyIntervention/LoadTPIAgencyEditableData?Id=0",
            iRowIDAt: 0,
            sCallback: 'CallAfterLoadSRE', iSelectedHeight: 68, sEditTriggerClass: 'fa-pencil-square-o', bIsUpdateFromServer: true,
            bIsAddBtnNew: true
        };

        $('#tblTPIAgency').dtUtility(UtilityTPIAgency);
    });

    function CallAfterLoadSRE(id) {
        $('input[maxlength]').maxlength({ alwaysShow: true });
        $('#Edit' + id).click();
    }
    function EnabledEditLine(lineId) {
        $("#Edit" + lineId).css('display', 'none');
        //$("#Delete" + lineId).css('display', 'none');
        $("#Update" + lineId).css('display', 'inline-block');
        $("#Cancel" + lineId).css('display', 'inline-block');
    }

    function CancelEditLine(lineId) {
        SREresetRowAll('tblTPIAgency');
    }

    var isSelected;
    function CallAfterLoadSRE(id) {
        $('input[maxlength]').maxlength({ alwaysShow: true });

        $('#tblTPIAgency_wrapper').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var rowid = $(this).attr("spara");
            var hdElement = $(this).attr("hdElement");
            var rowID = $(this).attr("spara");

            var qualityproject = "";
            var bu = $("#tblTPIAgency_wrapper").find("[data-id=" + rowID + "]").find("#BU" + rowID).val();
            var location = $("#tblTPIAgency_wrapper").find("[data-id=" + rowID + "]").find("#Location" + rowID).val();

            if (parseInt(rowID) == 0) {
                qualityproject = $("#tblTPIAgency_wrapper").find("[data-id=" + rowID + "]").find("#QualityProject" + rowID).val();
            }
            else {
                qualityproject = $("#tblTPIAgency_wrapper").find("[data-id=" + rowID + "]").find('.clsQualityProject').text();
            }

            var Paramlist = [];
            Paramlist.push({ id: "qualityproject", value: qualityproject });
            Paramlist.push({ id: "bu", value: bu });
            Paramlist.push({ id: "location", value: location });

            if ($(this).attr("colname") == "txtQualityProject") {
                element.autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: WebsiteURL + "/Utility/General/GetQualityProjectResult",
                            dataType: "json",
                            type: "POST",
                            delay: 250,
                            async: false,
                            data: {
                                term: request.term
                            },
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return { label: item.qualityDescription, value: item.qualityDescription };
                                }));
                                if (data.length > 0) {
                                    isSelected = true;
                                }
                                else {
                                    isSelected = false;
                                }
                            }
                        });
                    },
                    minLength: 0,
                    autoFocus: false,
                    change: function (event, ui) {
                        if (ui.item === null) {
                            $(this).val('');
                        }
                        ClearAll(rowID);
                    },
                    select: function (event, ui) {
                        if (ui.item) {
                            isSelected = true;
                            $("#" + hdElement).val(ui.item.value);
                            GetProjectData(rowID, ui.item.value);
                        }
                    },
                }).focus(function () {
                    if ($(this).data("uiAutocomplete") != null && $(this).data("uiAutocomplete") != undefined) {
                        $(this).data("uiAutocomplete").search($(this).val());
                    }
                });
            }

            if ($(this).attr("colname") == "txtFirstTPIAgency"
                || $(this).attr("colname") == "txtSecondTPIAgency"
                || $(this).attr("colname") == "txtThirdTPIAgency"
                || $(this).attr("colname") == "txtForthTPIAgency"
                || $(this).attr("colname") == "txtFifthTPIAgency"
                || $(this).attr("colname") == "txtSixthTPIAgency") {
                Paramlist.push({ id: "isAgency", value: true });
                FillAutoCompleteUsingAjax(element, "/IPI/MaintainTPIAgencyIntervention/FillAutocompleteForTPI", $("#" + hdElement), false, Paramlist, null, null, true)
            }
            if ($(this).attr("colname") == "txtFirstTPIIntervention"
             || $(this).attr("colname") == "txtSecondTPIIntervention"
             || $(this).attr("colname") == "txtThirdTPIIntervention"
             || $(this).attr("colname") == "txtForthTPIIntervention"
             || $(this).attr("colname") == "txtFifthTPIIntervention"
             || $(this).attr("colname") == "txtSixthTPIIntervention") {
                Paramlist.push({ id: "isAgency", value: false });
                FillAutoCompleteUsingAjax(element, "/IPI/MaintainTPIAgencyIntervention/FillAutocompleteForTPI", $("#" + hdElement), false, Paramlist, null, null, true)
            }
        });
    }

    function ClearAll(RowID) {
        $("#txtStageCode" + RowID).val('');
        $("#StageCode" + RowID).val('');

        $("#txtFirstTPIAgency" + RowID).val('');
        $("#FirstTPIAgency" + RowID).val('');

        $("#txtFirstTPIIntervention" + RowID).val('');
        $("#FirstTPIIntervention" + RowID).val('');

        $("#txtSecondTPIAgency" + RowID).val('');
        $("#SecondTPIAgency" + RowID).val('');

        $("#txtSecondTPIIntervention" + RowID).val('');
        $("#SecondTPIIntervention" + RowID).val('');

        $("#txtThirdTPIAgency" + RowID).val('');
        $("#ThirdTPIAgency" + RowID).val('');

        $("#txtThirdTPIIntervention" + RowID).val('');
        $("#ThirdTPIIntervention" + RowID).val('');

        $("#txtForthTPIAgency" + RowID).val('');
        $("#ForthTPIAgency" + RowID).val('');

        $("#txtForthTPIIntervention" + RowID).val('');
        $("#ForthTPIIntervention" + RowID).val('');

        $("#txtFifthTPIAgency" + RowID).val('');
        $("#FifthTPIAgency" + RowID).val('');

        $("#txtFifthTPIIntervention" + RowID).val('');
        $("#FifthTPIIntervention" + RowID).val('');

        $("#txtSixthTPIAgency" + RowID).val('');
        $("#SixthTPIAgency" + RowID).val('');

        $("#txtSixthTPIIntervention" + RowID).val('');
        $("#SixthTPIIntervention" + RowID).val('');
    }
    function GetProjectData(RowID, QualityProject) {
        $.ajax({
            url: WebsiteURL + '/IPI/MaintainTPIAgencyIntervention/GetProjectBULocation',
            type: "Post",
            async: false,
            dataType: "JSON",
            data: { qms: QualityProject },
            success: function (response) {
                if (response.Project != null && response.Project != "" && response.Project != undefined) {
                    $("#tblTPIAgency_wrapper").find("[data-id=" + RowID + "]").find("#BU" + RowID).val(response.BUDescription);
                    $("#tblTPIAgency_wrapper").find("[data-id=" + RowID + "]").find("#Location" + RowID).val(response.Location);

                    FillAutoComplete1($("#txtStageCode" + RowID), response.Stage, $("#StageCode" + RowID));
                }
                else {
                    $("#tblTPIAgency_wrapper").find("[data-id=" + RowID + "]").find("#BU" + RowID).val("");
                }
            },
            error: function (ex) {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                bootbox.alert('Failed to retrieve status.' + ex);
            }
        });
    }
    function FillAutoComplete1(element, sourceList, hdElement) {
        element.autocomplete({
            source: function (request, response) {
                //var array=response($.map(sourceList, function (item) {
                //    return { label: item.CategoryDescription, value: item.CategoryDescription, id: item.Code };
                //}));
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    element.val('');
                    element.focus();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });

    }
    function SaveEditRecord(rowid) {
        var btnname = "";
        if (rowid == 0) {
            btnname = "Add" + rowid;
        }
        else {
            $(".clsMandatory").attr("required", "required");
            btnname = "Update" + rowid;
        }

        if ($("#frmDetail").valid()) {
            $('#' + btnname).css('color', 'unset');
            $('#' + tablename + '_wrapper').find("thead:eq(1) .dataTables_sizing").html('') // remove copy of new record textbox
            var formData = new FormData();
            var frmValues = $('#frmDetail').serializeArray();
            $.each(frmValues, function (key, input) {
                formData.append(input.name, input.value);
            });
            formData.append("MainId", rowid);
            SaveUtilityGridData(formData, '/IPI/MaintainTPIAgencyIntervention/SaveUtiltiyTPI', tablename, UtilityTPIAgency)
            $('#' + tablename).DataTable().columns.adjust();
        }
        else {
            HighlightInValidControls();
            $('#' + btnname).css('color', 'red');
            return false;
        }
    }

    function DeleteRecord(Id) {
        bootbox.confirm({
            message: "Are you sure you want to delete this record?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: WebsiteURL + '/IPI/MaintainTPIAgencyIntervention/DeleteTPI',
                        data: { Id: Id },
                        type: 'POST',
                        async: false,
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        success: function (data) {
                            if (data.Key) {
                                DisplayNotiMessage("success", "Record deleted successfully", "Success");
                            }
                            else {
                                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                            }
                            $('#tblTPIAgency').DataTable().ajax.reload();
                        }
                    });
                }
            }
        });
    }

    function CopyTPI(Id, project, QualityProject) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/MaintainTPIAgencyIntervention/GetCopyInterventionDetails",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: {
                Projectno: QualityProject

            },
            success: function (result) {
                bootbox.dialog({
                    title: 'Copy to Quality Project',
                    message: result,
                    size: 'large',
                    buttons: {
                        'confirm': {
                            label: 'Copy',
                            className: 'btn green',
                            callback: function () {
                                if ($("#frmCopy").valid()) {
                                    var QualityProjectFrom = $("#txtcopyfromproject").val();
                                    var QualityProjectTo = $("#txtcopytoproject").val();
                                    var StageCode = $("#txtstagecode").val();

                                    CopyQualityProject(Id, project, QualityProject, QualityProjectFrom, QualityProjectTo, StageCode)
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }

                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function CopyTPIAgencyWithinProject(Id) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/MaintainTPIAgencyIntervention/LoadCopyTPIAgencyWithinProject",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { Id: Id },
            success: function (result) {
                bootbox.dialog({
                    title: 'Copy TPI Agency to Stage',
                    message: result,
                    size: 'large',
                    buttons: {
                        'confirm': {
                            label: 'Copy',
                            className: 'btn green',
                            callback: function () {
                                if ($("#frmCopyTPIAgency").valid()) {
                                    bootbox.dialog({
                                        message: "Do you want to copy ? ",
                                        buttons: {
                                            confirm: {
                                                label: 'Yes',
                                                className: 'btn-success',
                                                callback: function () {
                                                    var StageCode = $("#txtStageCode").val();
                                                    var Id = $("#Id").val();
                                                    $.ajax({
                                                        type: "POST",
                                                        url: WebsiteURL + "/IPI/MaintainTPIAgencyIntervention/CopyTPIAgencyWithinProject",
                                                        datatype: 'json',
                                                        data: { Id: Id, StageCode: StageCode },
                                                        beforeSend: function () {
                                                            showLoading(true);
                                                        },
                                                        complete: function () {
                                                            showLoading(false);
                                                        },
                                                        success: function (result) {
                                                            if (result.Key) {
                                                                DisplayNotiMessage("success", result.Value, "Success");
                                                                $('#tblTPIAgency').DataTable().ajax.reload();
                                                            }
                                                            else {
                                                                DisplayNotiMessage("error", result.Value, "Error");
                                                            }
                                                        },
                                                        error: function () {
                                                            alert('error...');
                                                        }
                                                    });
                                                    bootbox.hideAll();
                                                    $(".modal-backdrop").remove();
                                                }
                                            },
                                            cancel: {
                                                label: 'No',
                                                className: 'btn-danger',
                                                callback: function () { }
                                            }
                                        },
                                    });
                                    return false;
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function UpdateTPIPopup(id, project, qualityProject) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/MaintainTPIAgencyIntervention/UpdateTPIFormPartial",
            data: { qualityProject: qualityProject, project: project },
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                bootbox.dialog({
                    title: 'Update TPI',
                    message: result,
                    size: "large",
                    buttons: {
                        'update': {
                            label: 'Update',
                            className: 'btn btn-primary',
                            callback: function () {
                                if ($("#frmUpdateTPI").valid()) {

                                    $.ajax({
                                        url: WebsiteURL + "/IPI/MaintainTPIAgencyIntervention/UpdateTPIinICL",
                                        data: {
                                            id: id,
                                            fromSeam: $("#FromSeam").val(),
                                            toSeam: $("#ToSeam").val(),
                                            StageCode: $("#StageCode").val()
                                        },
                                        type: 'POST',
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (res) {
                                            if (res.Key) {
                                                DisplayNotiMessage("success", res.Value, "Success");
                                                $('#tblTPIAgency').DataTable().ajax.reload();
                                            }
                                            else {
                                                if (res.Value != "" && res.Value != null && res.Value != undefined)
                                                    DisplayNotiMessage("error", res.Value, "Error");
                                            }
                                            if (res.dataKey) {
                                                DisplayNotiMessage("info", res.dataValue, "Info");
                                                bootbox.hideAll();
                                            }
                                        }
                                    })
                                    return false
                                }
                                else
                                    return false
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
                $("#txtQualityProject").val(qualityProject);
                //$("#SourceProject").val(project);
            },
            error: function () {
            }
        });
    }

    function CopyQualityProject(StrId, strproject, strQualityProject, strQualityProjectFrom, strQualityProjectTo, strStageCode) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/MaintainTPIAgencyIntervention/CopyQualityProject",
            datatype: 'json',
            data: { Id: StrId, Project: strproject, QualityProject: strQualityProject, QualityProjectFrom: strQualityProjectFrom, QualityProjectTo: strQualityProjectTo, StageCode: strStageCode, },

            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                if (result.Key) {
                    DisplayNotiMessage("success", result.Value, "Success");
                    $('#tblTPIAgency').DataTable().ajax.reload();
                    if (result.dataValue != undefined && result.dataValue != "" && result.dataValue != null) {
                        DisplayNotiMessage("info", result.dataValue, "Success");
                    }
                }
                else {
                    DisplayNotiMessage("error", result.Value, "Error");
                }
            },
            error: function () {
                alert('error...');
            }
        });
    }

</script>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">

            <div class="portlet-title">
                <div class="caption">
                    TPI Agency and Intervention List
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/MaintainTPIAgencyIntervention/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmDetail" }))
                {
                    <table class="table table-striped table-bordered table-hover" width="100" id="tblTPIAgency" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="hide">Id</th>
                                <th class="hide">bu</th>
                                <th class="hide">location</th>
                                <th class="all">Quality Project<span class="required" style="color:red;"> * </span></th>
                                <th>Stage<span class="required" style="color:red;"> * </span></th>
                                <th>First TPI Agency<span class="required" style="color:red;"> * </span></th>
                                <th>First Intervention<span class="required" style="color:red;"> * </span></th>
                                <th> Second TPI  Agency </th>
                                <th>Second TPI Intervention </th>
                                <th>Third TPI Agency </th>
                                <th>Third TPIIntervention </th>
                                <th>Forth TPI Agency </th>
                                <th>Forth TPI Intervention </th>
                                <th>Fifth TPI Agency </th>
                                <th>Fifth TPI Intervention </th>
                                <th>Sixth TPI Agency </th>
                                <th>Sixth TPI Intervention </th>
                                <th class="all">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                }
            </div>
        </div>

    </div>
</div>
