﻿@using IEMQSImplementation
@model QMS025
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Datatable/css")

<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<style>
    .sCenter {
        text-align: center;
    }
</style>
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    TPI Agency and Interventions
                                    <small></small>
                                </h1>
                            </div>
                            @*<div class="col-md-6" style="text-align:right">
                                    <a id="btnAdd" href="~/IPI/MaintainTPIAgencyIntervention/AddTPIAgency" style="float: right;" class="btn green">Add New</a>
                                </div>*@
                        </div>
                    </div>
                    <div class="portlet-title tabbable-line">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                            </li>
                            <li>
                                <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                            </li>
                        </ul>
                    </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">
                            @*<input type="hidden" id="tbstatus"/>
                            <div class="portlet box green">

                                <div class="portlet-title">
                                    <div class="caption">
                                        TPI Agency and Intervention List
                                    </div>
                                    <div class="tools" id="dvExportHeader">
                                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/MaintainTPIAgencyIntervention/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmDetail" }))
                                    {
                                        <table class="table table-striped table-bordered table-hover" width="100" id="tblTPIAgency" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th class="hide">Id</th>
                                                    <th class="hide">bu</th>
                                                    <th class="hide">location</th>
                                                    <th class="all">Quality Project<span class="required" style="color:red;"> * </span></th>
                                                    <th>Stage<span class="required" style="color:red;"> * </span></th>
                                                    <th>First TPI Agency<span class="required" style="color:red;"> * </span></th>
                                                    <th>First Intervention<span class="required" style="color:red;"> * </span></th>
                                                    <th> Second TPI  Agency </th>
                                                    <th>Second TPI Intervention </th>
                                                    <th>Third TPI Agency </th>
                                                    <th>Third TPIIntervention </th>
                                                    <th>Forth TPI Agency </th>
                                                    <th>Forth TPI Intervention </th>
                                                    <th>Fifth TPI Agency </th>
                                                    <th>Fifth TPI Intervention </th>
                                                    <th>Sixth TPI Agency </th>
                                                    <th>Sixth TPI Intervention </th>
                                                    <th class="all">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    }
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
    <script>
    var tablename = 'tblTPIAgency';
    var UtilityTPIAgency = undefined;
    $(document).ready(function () {
        //GetGridDataPartial('Pending');
        //alert('@ViewBag.Project')
          GetGridDataPartial('Pending','@ViewBag.Project');
        $('a[name="tabStatus"]').click(function () {
            
            if ($(this).attr('spara') == 'Pending') {
                GetGridDataPartial($(this).attr('spara'),'@ViewBag.Project');
            }
            else {
                GetGridDataPartial($(this).attr('spara'));
            }
        });

        //$('#frmDetail').validate({
        //    rules: {
        //        txtQualityProject0: { required: true },
        //        txtStageCode0: { required: true },
        //        txtFirstTPIAgency0: { required: true },
        //        txtFirstTPIIntervention0: { required: true }
        //    },
        //    messages: {
        //        txtQualityProject0: { required: "Quality Project is required" },
        //        txtStageCode0: { required: "Stage is required" },
        //        txtFirstTPIAgency0: { required: "First TPI Agency is required" },
        //        txtFirstTPIIntervention0: { required: "First TPI Intervention is required" }
        //    },
        //});

        //UtilityTPIAgency = {
        //    sUrl: "/IPI/MaintainTPIAgencyIntervention/LoadTPIAgencyData",
        //    aServerParams: [{
        //        "name": "Status", "value": function () {
        //            return $('#tbstatus').val();
        //        }
        //    }],
        //    bIsFixedHeader: true,
        //    iScrollY: 480,
        //    iResponsiveOnWindowWidth: 800,
        //    bIsResponsive: false,
        //    bIsSearchFilter: true,
        //    bBtnMaximize: true,
        //    bIsWrapHeader: false,
        //    iFCLeft: 2,
        //    iFCRight: 1,
        //    sBtnDivSelector: "#dvExportHeader",
        //    aoColumns: [
        //         {
        //             "name": "Id",
        //             "sClass": "hide"
        //         },
        //         {
        //             "name": "BU",
        //             "sClass": "hide"
        //         },
        //         {
        //             "name": "Loaction",
        //             "sClass": "hide"
        //         },
        //        {
        //            "name": "QualityProject",
        //            "sClass": "center clsQualityProject"
        //        },
        //        {
        //            "name": "Stage",
        //            "sClass": "center clsStageDesc",
        //            "ColName": "A.Stage +'-'+B.StageDesc "
        //        },
        //        {
        //            "name": "FirstTPIAgency",
        //            "sClass": "center",
        //            "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(FirstTPIAgency, a.Location, a.BU, 'TPI Agency')"
        //        },
        //        {
        //            "name": "FirstTPIIntervention",
        //            "sClass": "center",
        //            "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(FirstTPIIntervention, a.Location, a.BU, 'TPI Intervention')"
        //        },
        //        {
        //            "name": "SecondTPIAgency",
        //            "sClass": "center",
        //            "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(SecondTPIAgency, a.Location, a.BU, 'TPI Agency')"
        //        },
        //        {
        //            "name": "SecondTPIIntervention",
        //            "sClass": "center",
        //            "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(SecondTPIIntervention, a.Location, a.BU, 'TPI Intervention')"
        //        },
        //        {
        //            "name": "ThirdTPIAgency",
        //            "sClass": "center",
        //            "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(ThirdTPIAgency, a.Location, a.BU, 'TPI Agency')"
        //        },
        //        {
        //            "name": "ThirdTPIIntervention",
        //            "sClass": "center",
        //            "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(ThirdTPIIntervention, a.Location, a.BU, 'TPI Intervention')"
        //        },
        //        {
        //            "name": "ForthTPIAgency",
        //            "sClass": "center",
        //            "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(ForthTPIAgency, a.Location, a.BU, 'TPI Agency')"
        //        },
        //        {
        //            "name": "ForthTPIIntervention",
        //            "sClass": "center",
        //            "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(ForthTPIIntervention, a.Location, a.BU, 'TPI Intervention')"
        //        },
        //        {
        //            "name": "FifthTPIAgency",
        //            "sClass": "center",
        //            "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(FifthTPIAgency, a.Location, a.BU, 'TPI Agency')"
        //        },
        //        {
        //            "name": "FifthTPIIntervention",
        //            "sClass": "center",
        //            "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(FifthTPIIntervention, a.Location, a.BU, 'TPI Intervention')"
        //        },
        //        {
        //            "name": "SixthTPIAgency",
        //            "sClass": "center",
        //            "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(SixthTPIAgency, a.Location, a.BU, 'TPI Agency')"
        //        },
        //        {
        //            "name": "SixthTPIIntervention",
        //            "sClass": "center",
        //            "ColName": "dbo.fun_GETCATEGORYONLYDESCRIPTION(SixthTPIIntervention, a.Location, a.BU, 'TPI Intervention')"
        //        },
        //        {
        //            "bSortable": false,
        //            "sClass": "sCenter",
        //            //"sWidth": "10%",

        //        },
        //    ]
        //};

        //UtilityTPIAgency.oSRE = {
        //    sUrl: "/IPI/MaintainTPIAgencyIntervention/LoadTPIAgencyEditableData?Id=0",
        //    iRowIDAt: 0,
        //    sCallback: 'CallAfterLoadSRE', iSelectedHeight: 68, sEditTriggerClass: 'fa-pencil-square-o', bIsUpdateFromServer: true,
        //    bIsAddBtnNew: true
        //};

        //$('#tblTPIAgency').dtUtility(UtilityTPIAgency);

    });

    function GetGridDataPartial(status, Project) {
        $("#portlet_comments_1").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/MaintainTPIAgencyIntervention/GetGridDataPartial",
            data: { status: status, Project: Project},
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            //data: { status: status },
            success: function (result) {
                $("#portlet_comments_1").html(result);
            },
            error: function () {
            }
        });
    }

    </script>
@Scripts.Render("~/bundles/datatable/js")
