﻿
@{
    ViewBag.Title = "MCR Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .mt-radio > span::after {
        background: #0fabab;
    }

    .form-group {
        margin: 0px 0px 5px 0px !important;
    }

    .select2-search__field {
        width: 100% !important;
    }
</style>

<script>
    $('input[maxlength]').maxlength({
        alwaysShow: true,
        //placement: 'top-center'
    });
</script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line  PrintMCR">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Report Material Clearance Record
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="dvTabs" class="row">
                        <div class="col-md-12">
                            <div class="portlet-title tabbable-line" id="tabs">
                                <form id="frmTaskDeatils" class="form-horizontal">

                                    <div class="col-md-12">
                                        <fieldset>
                                            <div class="col-md-6">
                                                <label class="control-label">From Project <span class="required"> * </span></label>
                                                @*@Html.HiddenFor(m => m.LineId)
                                                    @Html.HiddenFor(m => m.HeaderId)
                                                *@
                                                @Html.Hidden("Project")
                                                <select name="txtFromProject" id="txtFromProject" style="width:100%" class="form-control"></select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">To Project <span class="required"> * </span></label>
                                                @Html.Hidden("Project")
                                                <select name="txtToProject" id="txtToProject" style="width:100%" class="form-control"></select>
                                            </div>
                                            <div class="col-md-12">
                                                Position No <label class="control-label"> <input id="rdoRangePosition" type="radio" name="rdoPositionNo" checked /> Range</label> <label class="control-label"> <input id="rdoRangeMultiple" type="radio" name="rdoPositionNo" /> Multiple</label>
                                            </div>
                                            <div class="col-md-12" hidden>
                                                <label class="control-label">Position No(s) <span class="required"> * </span></label>
                                                <select name="ddlPositionNo" id="ddlPositionNo" multiple="multiple" style="width:100%" class="form-control"></select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">From Position No <span class="required"> * </span></label>
                                                @*@Html.HiddenFor(m => m.LineId)
                                                    @Html.HiddenFor(m => m.HeaderId)
                                                *@
                                                @Html.Hidden("PositionNo")
                                                <select name="txtFromPositionNo" id="txtFromPositionNo" style="width:100%" class="form-control"></select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">To Position No <span class="required"> * </span></label>
                                                @Html.Hidden("PositionNo")
                                                <select name="txtToPositionNo" id="txtToPositionNo" style="width:100%" class="form-control"></select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Part Category <span class="required"> * </span></label>
                                                @Html.Hidden("PartCategory")
                                                <select name="txtPartCategory" id="txtPartCategory" multiple="multiple" style="width:100%" class="form-control"></select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Status <span class="required"> * </span></label>
                                                @Html.Hidden("Status")
                                                <select name="txtStatus" id="txtStatus" multiple="multiple" style="width:100%" class="form-control"></select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Digital Signature <span class="required"> * </span></label>
                                                <div class="mt-radio-inline">
                                                    <label class="mt-radio mt-radio-outline">
                                                        <input type="radio" name="rdDigisign" id="rdDigisign" data-value="Yes" value="Yes"> Yes
                                                        <span></span>
                                                    </label>
                                                    <label class="mt-radio mt-radio-outline">
                                                        <input type="radio" name="rdDigisign" id="rdDigisign" data-value="No" value="No">No
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <br />
                                    <div class="row pull-right margin-right-10">
                                        <div class="col-md-12">
                                            <button type="button" id="btnAppr" class="btn green clsbtn" onclick="PrintReport()">Print Report</button>
                                            <a style="margin-right:5px;" id="btnClose" class="btn btnclose">Close</a>
                                        </div>
                                    </div><br />
                                </form>

                                <form id="frmTaskDeatils1" class="form-horizontal">

                                    <div class="col-md-12">
                                        <fieldset>
                                            @*<legend>Task Details</legend>*@
                                            <legend>TEST CERTIFICATE</legend>
                                            <div class="col-md-6">
                                                <label class="control-label">From Project <span class="required"> * </span></label>
                                                @Html.Hidden("TPProject")
                                                <select name="txtFromTPProject" id="txtFromTPProject" style="width:100%" class="form-control"></select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">To Project <span class="required"> * </span></label>
                                                @Html.Hidden("TPProject")
                                                <select name="txtToTPProject" id="txtToTPProject" style="width:100%" class="form-control"></select>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="control-label">Test Certificate Number</label>
                                                <select name="TestCertificateNo" id="TestCertificateNo" multiple="multiple" style="width:100%" class="form-control"></select>
                                            </div>
                                            <div class="col-md-12" hidden>
                                                <label class="control-label">Position No(s) <span class="required"> * </span></label>
                                                <select name="ddlTPPositionNo" id="ddlTPPositionNo" multiple="multiple" style="width:100%" class="form-control"></select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">From Position No </label>
                                                @*@Html.HiddenFor(m => m.LineId)
                                                    @Html.HiddenFor(m => m.HeaderId)
                                                *@
                                                @Html.Hidden("TPPositionNo")
                                                <select name="txtFromTPPositionNo" id="txtFromTPPositionNo" style="width:100%" class="form-control"></select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">To Position No </label>
                                                @Html.Hidden("TPPositionNo")
                                                <select name="txtToTPPositionNo" id="txtToTPPositionNo" style="width:100%" class="form-control"></select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Part Category</label>
                                                @Html.Hidden("TPPartCategory")
                                                <select name="txtTPPartCategory" id="txtTPPartCategory" multiple="multiple" style="width:100%" class="form-control"></select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Status</label>
                                                @Html.Hidden("TPStatus")
                                                <select name="txtTPStatus" id="txtTPStatus" multiple="multiple" style="width:100%" class="form-control"></select>
                                            </div>
                                            <div class="col-md-6 PrintMCRLocation" style="display:none">
                                                <div class="">
                                                    <label class="control-label">Location <span class="required"> * </span></label>
                                                    <select name="ddlLocation" id="ddlLocation" multiple="multiple" style="width:100%;" class="form-control"></select>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <br />
                                    <div class="row pull-right margin-right-10">
                                        <div class="col-md-12">
                                            <button type="button" id="btnAppr1" class="btn green clsbtn" onclick="PrintTestCertificateReport()">Print Test Certificate Report</button>
                                            <a style="margin-right:5px;" id="btnClose" class="btn btnclose">Close</a>
                                        </div>
                                    </div><br />
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#frmTaskDeatils').validate({
            rules: {
                txtFromProject: { required: true },
                txtToProject: { required: true },
                txtFromPositionNo: { required: true },
                txtToPositionNo: { required: true },
                ddlPositionNo: { required: true },
                txtStatus: { required: true },
                txtPartCategory: { required: true },
            }
        });

        $('#frmTaskDeatils1').validate({
            rules: {
                txtFromTPProject: { required: true },
                txtToTPProject: { required: true },
            }
        });
           
       



        $("#txtFromProject,#txtToProject,#txtFromPositionNo,#txtToPositionNo,#txtStatus,#txtPartCategory").val("");
        LoadSelect2DropDown("/MCR/MaintainMCR/GetProjects", $('#txtFromProject,#txtToProject'), "--Select Projects--", '', 0);
        LoadSelect2DropDown("/MCR/MaintainMCR/GetPositionNo", $('#txtFromPositionNo,#txtToPositionNo,#ddlPositionNo'), "--Select Projects--", '', 0);
        LoadSelect2DropDown("/MCR/MaintainMCR/GetStatus", $('#txtStatus,#txtTPStatus'), "--Select--", '', 0);
        LoadSelect2DropDown("/MCR/MaintainMCR/GetPartCategory", $('#txtPartCategory,#txtTPPartCategory'), "--Select--", '', 0);


        /*test certificate*/
        LoadSelect2DropDown("/MCR/MaintainMCR/GetProjects", $('#txtFromTPProject,#txtToTPProject'), "--Select Projects--", '', 0);
        LoadSelect2DropDown(" ", $('#TestCertificateNo'), "--Test Certificate No--", '', 0);
        $('#txtFromTPProject,#txtToTPProject').change(function () {
            $('#TestCertificateNo').val('');
            if ($('#txtFromTPProject').val() != "" && $('#txtToTPProject').val() != "" && $('#txtFromTPProject').val() != null && $('#txtToTPProject').val() != null) {
                LoadSelect2DropDownTestCerti("/MCR/MaintainMCR/GetTestCertificateNo", $('#TestCertificateNo'), "--Test Certificate No--", $('#txtFromTPProject').val(), $('#txtToTPProject').val());
            }
            else {
                LoadSelect2DropDown("", $('#TestCertificateNo'), "--Test Certificate No--", '', 0);
            }
        })
        LoadSelect2DropDown("", $('#txtFromTPPositionNo,#txtToTPPositionNo'), "--Select Position--", '', 0);

        $('#TestCertificateNo').change(function () {
            $('#txtFromTPPositionNo,#txtToTPPositionNo').val('');
            if ($('#TestCertificateNo').val() != "" && $('#TestCertificateNo').val() != null) {
                var arrayContainsUTType = ($('#TestCertificateNo').val().indexOf("ALL") > -1);
                if (arrayContainsUTType == true) {
                    $('#TestCertificateNo').val('ALL');
                }
                LoadSelect2DropDownposition("/MCR/MaintainMCR/GetPositionNobyTestCertificate", $('#txtFromTPPositionNo,#txtToTPPositionNo'), "--Select Position--", $('#txtFromTPProject').val(), $('#txtToTPProject').val(), $('#TestCertificateNo').val().join(','), 0);
            }
            else {
                LoadSelect2DropDown("", $('#txtFromTPPositionNo,#txtToTPPositionNo'), "--Select Position--", '', 0);
            }
        })


        $('input[name="rdoPositionNo"]').change(function () {
            $('#ddlPositionNo,#txtFromPositionNo,#txtToPositionNo').parent().hide(1000);
            $('#ddlPositionNo,#txtFromPositionNo,#txtToPositionNo').val("").trigger("change").trigger('change');
            if (this.id == "rdoRangePosition") {
                $('#txtFromPositionNo,#txtToPositionNo').parent().show(1000);
            } else {
                $('#ddlPositionNo').parent().show(1000);
            }
        });
        //FillTableDropdown();


        if ('@Convert.ToString(ViewBag.IsPrint)' == "Yes") {
            $('#frmTaskDeatils').hide();
            $('.PrintMCR').hide();
            $("#ddlLocation").val("");
            LoadPreValueSelect2("/MCR/MaintainMCR/GetUserLocation", $('#ddlLocation'), "--Select Location--", {});
            $('.PrintMCRLocation').show();

        }



    });

    $("#btnClose").click(function () {
        RedirectToSpecificIndex();
    });


    function LoadSelect2DropDownTestCerti(url, objControl, placeHolder, fromproject, toproject, minimumInputLength) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            allowClear: true,
            minimumInputLength: 0,
            ajax: {
                url: WebsiteURL + url,
                type: "POST",
                dataType: 'json',
                data: function (params) {

                    var query = {
                        search: params.term,
                        page: params.page,
                        fromproject: fromproject,
                        toproject: toproject
                    }

                    // Query paramters will be ?search=[term]&page=[page]
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    };

    function LoadSelect2DropDownposition(url, objControl, placeHolder, fromproject, toproject, testcertificate, minimumInputLength) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            allowClear: true,
            minimumInputLength: 0,
            ajax: {
                url: WebsiteURL + url,
                type: "POST",
                dataType: 'json',
                data: function (params) {

                    var query = {
                        search: params.term,
                        page: params.page,
                        fromproject: fromproject,
                        toproject: toproject,
                        testCertificate: testcertificate
                    }

                    // Query paramters will be ?search=[term]&page=[page]
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    };

    function RedirectToSpecificIndex() {
        window.location.href = WebsiteURL + '/MCR/MaintainMCR/index';
    }
    function PrintReport() {
        if (!$('#frmTaskDeatils').valid()) {
            DisplayNotiMessage("error", "Please fill mandatory(*) fields", "Required Fields Missing");
            return;
        }
        var dat = [];
        var url = "/MCR/Material Clearance Record";
        dat.push({ Param: "ProjectFrom", Value: $("#txtFromProject").val() });
        dat.push({ Param: "ProjectTo", Value: $("#txtToProject").val() });
        dat.push({ Param: "PositionNoFrom", Value: $("#txtFromPositionNo").val() });
        dat.push({ Param: "PositionNoTo", Value: $("#txtToPositionNo").val() });
        dat.push({ Param: "Status", Value: $("#txtStatus").val().join(',') });
        dat.push({ Param: "PartCategory", Value: $("#txtPartCategory").val().join(',') });
        dat.push({ Param: "PositionNos", Value: $("#ddlPositionNo").val() ? $("#ddlPositionNo").val().join(',') : "" });
        dat.push({ Param: "LineIds", Value: '' });
        dat.push({ Param: "DigitalSignature", Value:$('input[name=rdDigisign]:checked').val()})
        ShowReport(dat, url);
    }

    function PrintTestCertificateReport() {
        if ('@Convert.ToString(ViewBag.IsPrint)' == "Yes")
        {
            $('#ddlLocation').rules('add', { required: true });
        }
        if (!$('#frmTaskDeatils1').valid()) {
            DisplayNotiMessage("error", "Please fill mandatory(*) fields in Test Certificate Details", "Required Fields Missing");
            return;
        }

        debugger
        var dat = [];

        var tcertificate = "";
        if ($("#TestCertificateNo").val() == null)
            tcertificate = "";
        else if ($("#TestCertificateNo").val() == 'ALL')
            tcertificate = "ALL";
        else
            tcertificate = $("#TestCertificateNo").val().join(',');

        var url = "/MCR/TestCert_CoverSheet";
        dat.push({ Param: "ProjectFrom", Value: $("#txtFromTPProject").val() });
        dat.push({ Param: "ProjectTo", Value: $("#txtToTPProject").val() });
        dat.push({ Param: "PositionNoFrom", Value: $("#txtFromTPPositionNo").val() });
        dat.push({ Param: "PositionNoTo", Value: $("#txtToTPPositionNo").val() });
        dat.push({ Param: "Status", Value: ($("#txtTPStatus").val() != null ? $("#txtTPStatus").val().join(',') : "") });
        dat.push({ Param: "PartCategory", Value: ($("#txtTPPartCategory").val() != null ? $("#txtTPPartCategory").val().join(',') : "") });
        dat.push({ Param: "TestCertificate", Value: tcertificate });
        dat.push({ Param: "ManufacturerName", Value: '' });
        dat.push({ Param: "MaterialSpecification", Value: '' });
        dat.push({ Param: "ShowSubReport", Value: false });
        console.log(dat)
        ShowReport(dat, url);
    }
</script>

