﻿
@using IEMQSImplementation
<style>
    #tblGNAttach > tbody > tr > td {
        vertical-align: middle;
    }
</style>

<script>

    function checkGNFileValid(ctrl) {
        var filesize = @(clsUpload.MaxFileSizeInMB*1024*1024);
        var allowedExt = ['@(new HtmlString(string.Join("','", clsUpload.allowedExtensions)))'];
        var fName = $(ctrl).val();
        var filename =  fName.substring(fName.lastIndexOf("\\") + 1);
        var isRepeat = false;
        $('#tblGNAttach').find('tbody').find('input').each(function(){
            if($(this).attr('id').trim() == filename.trim())
                isRepeat = true;
        });
        var fExt = '.'+filename.split('.').pop().toLowerCase();
        if(ctrl.files[0].size > filesize)
            return 1;
        else if(allowedExt.indexOf(fExt) == -1)
            return 2;
        else if(isRepeat)
            return 3;
        else return 0;
    }

    function getGNFile(ctrl){
        var url = $(ctrl).attr('tag');
        $(ctrl).attr('href', url);
        $(ctrl).attr('onclick', '');
        $(ctrl).trigger('click');
        $(ctrl).attr('href', '#');
        $(ctrl).attr('onclick', 'getGNFile(this)');
    }

    function addGNAttch(ctrl) {
        var fName = $(ctrl).val();
        var ch = checkGNFileValid(ctrl);
        if(ch == 1)
            DisplayNotiMessage("error", "File size should be less than @(clsUpload.MaxFileSizeInMB)MB", "File Error");
        else if(ch == 2)
            DisplayNotiMessage("error", "File should be one of the following types:\n@(string.Join(",", clsUpload.allowedExtensions))", "File Error");
        else if(ch == 3)
            DisplayNotiMessage("error", "Cannot upload multiple files with same name", "File Error");
        else{
            $('#tblGNAttach').find("tbody").append('<tr><td>' + fName.substring(fName.lastIndexOf("\\") + 1) + '</td><td id="valTD"><input type="hidden" id="' + fName.substring(fName.lastIndexOf("\\") + 1) + '" class="attach tempgn" value=""/><input type="text"  placeholder="Comments" id="_' + fName.substring(fName.lastIndexOf("\\") + 1) + '" class="form-control comment" onchange="$(this).attr(\'value\', $(this).val())" maxlength="100" /></td><td><span style="cursor:pointer" class="fa fa-trash-o" onclick="$(this).closest(\'tr\').remove()"></span></td></tr>');
            $('.comment[maxlength]').maxlength({
                alwaysShow: true,
                //placement: 'top-center'
            });
            getGNFileData(ctrl);
        }
        $(ctrl).val('');
    }

    function getGNFileData(ctrl) {
        var files = $(ctrl).file;
        fr = new FileReader();
        fr.onload = function () { $(".tempgn").val(fr.result); $(".tempgn").removeClass("tempgn"); };
        fr.readAsDataURL(document.querySelector('#'+$(ctrl).attr("id")).files[0]);
    }

    function setGNAttachmentsFromTDElement(td, disableDelete){
        var attchTD = $(td);
        $(td).children().each(function(){
            var appendData = '';
            if($(this).hasClass('attach')){
                var commnt = '<input type="text" placeholder="Comments" class="comment form-control" id="_'+$(this).attr('id')+'" onchange="$(this).attr(\'value\', $(this).val())" maxlength="100" />';
                var filter = '.comment';
                var name = '_'+$(this).attr('id');
                $(attchTD).find(filter).each(function() {
                    if($(this).attr('id') == name)
                        commnt = this.outerHTML;
                });
                if($(this).val().substring(0,3) == 'URL')
                    appendData='<tr><td><a download="'+$(this).attr("id")+'" href="'+$(this).val().substring(4)+'">' + $(this).attr("id") + '</a></td><td id="valTD">'+this.outerHTML+commnt+'</td><td><span style="cursor:pointer" class="delete fa fa-trash-o" onclick="$(this).closest(\'tr\').remove()"></span></td></tr>';
                else
                    appendData = '<tr><td>' + $(this).attr("id") + '</td><td id="valTD">'+this.outerHTML+commnt+'</td><td><span style="cursor:pointer" class="delete fa fa-trash-o" onclick="$(this).closest(\'tr\').remove()"></span></td></tr>';
            }
            $('#tblGNAttach').find("tbody").append(appendData);
            if(disableDelete == true)
                $('#tblGNAttach').find(".delete").remove();
                $('#btnGNAttach').prop("disabled",true);
        });

    }

    function getGNAttachmentsForTDElement(){
        var atchs = '';
        $('#tblGNAttach').find("tbody").children().each(function(){
            atchs += $(this).find("#valTD").html();
        })
        return atchs;
    }

    function getGNHasAttachmentsForSubmit(tdElement){
        var attch = [];
        if(tdElement != undefined)
            attch = getGNAttachmentsforSubmit(tdElement);
        else
            attch = getGNAttachmentsFromTable();
        var hasAttch=false;
        if(attch.length > 0)
            hasAttch = true;
        return hasAttch;
    }

    function setGNAttachmentsInHeader(folderName, disableDelete){
        $.ajax({
            url : '/Utility/General/getDocuments',
            method: "POST",
            data: { folderPath: folderName},
            success: function(data){
                $('#tblGNAttach').after('<div id="tempGNData"></div>');
                $('#tempGNData').html(data);
                setGNAttachmentsFromTDElement($('#tempGNData'), disableDelete);
                $('#tempGNData').remove();
            }
        });
    }

    //function setGNAttachmentsInHeaderKM(folderName, disableDelete){
    //    $.ajax({
    //        url : '/Utility/General/getDocumentsKM',
    //        method: "POST",
    //        data: { folderPath: folderName},
    //        success: function(data){
    //            $('#tblGNAttach').after('<div id="tempGNData"></div>');
    //            $('#tempGNData').html(data);
    //            setGNAttachmentsFromTDElement($('#tempGNData'), disableDelete);
    //            $('#tempGNData').remove();
    //        }
    //    });
    //}

    function getGNAttachmentsforSubmit(tdElement){
        var attch = [];
        $(tdElement).children().each(function(){
            attch.push({Key: this.id, Value: $(this).val()})
        });
        return attch;
    }

    function getGNAttachmentsFromTable(){

        var attch = [];
        $('#tblGNAttach').find('input').each(function(){
            attch.push({Key: this.id, Value: $(this).val()})
        });
        return attch;
    }

    function clearTable(){
        $('#tblGNAttach').find('tbody').html('');
    }

</script>

<div class="form-group">
    <div class="col-md-12">
        <label class="control-label">Attachments</label>
        <div class="row">
            <div class="col-md-11">
                <table id="tblGNAttach" class="table">
                    <tbody></tbody>
                </table>
            </div>
            <input type="file" id="inpGNAttach" style="display:none" onchange="addGNAttch(this)" />
            @if (ViewBag.Action != "view")
            { <button id="btnGNAttach" type="button" class="btn blue col-md-1" onclick="$('#inpGNAttach').trigger('click')"><span class="fa fa-paperclip"></span></button> }
        </div>
    </div>
</div>