﻿@using IEMQSImplementation
<style>
    .mt-step-col {
        width: 25%;
    }

    .col20Perc {
        width: 20%;
    }
</style>
<div class="form-group">
    <div class="mt-element-step">
        <div class="row step-line" style="overflow-x:scroll;display:-webkit-box">
            @if (Model.Title == "HTR")
            {

                //Test Done
                <div class="mt-step-col first done">
                    <div class="mt-step-content font-grey-cascade" style="font-size:20px">&nbsp;<br /> Created</div>
                    <div class="mt-step-number bg-white"><li class="fa fa-check"></li></div>
                    <div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.CreatedBy</div>
                    <div class="mt-step-content font-grey-cascade">@Model.CreatedOn</div>
                </div>
                <div class="mt-step-col @((Model.SubmittedOn == null) ? "" : "done")">
                    <div class="mt-step-content font-grey-cascade" style="font-size:20px">&nbsp;<br /> Submitted By</div>
                    <div class="mt-step-number bg-white">@(new HtmlString((Model.SubmittedOn == null) ? "2" : "<li class=\"fa fa-check\"></li>"))</div>
                    <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.SubmittedBy == null) ? "SubmittedBy" : Model.SubmittedBy)</div>
                    <div class="mt-step-content font-grey-cascade">@((Model.SubmittedOn == null) ? "SubmittedOn" : Model.SubmittedOn)</div>
                </div>

                if (Model.HTRType == clsImplementationEnum.TypeOfHTR.JobComponent.GetStringValue())
                {
                    <div class="mt-step-col @((Model.ReviewedOn == null) ? "" : "done")">
                        <div class="mt-step-content font-grey-cascade" style="font-size:20px">Reviewed <br />(WE & MET)</div>
                        <div class="mt-step-number bg-white">@(new HtmlString((Model.ReviewedOn == null) ? "3" : "<li class=\"fa fa-check\"></li>"))</div>
                        <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.ReviewedBy == null) ? "ReviwedBy" : Model.ReviewedBy)</div>
                        <div class="mt-step-content font-grey-cascade">@((Model.ReviewedOn == null) ? "ReviwedOn" : Model.ReviewedOn)</div>
                    </div>
                    <div class="mt-step-col last @((Model.FurnaceOn == null) ? "" : "done")">
                        <div class="mt-step-content font-grey-cascade" style="font-size:20px">Reviewed <br />(Furnace Sup)</div>
                        <div class="mt-step-number bg-white">@(new HtmlString((Model.FurnaceOn == null) ? "4" : "<li class=\"fa fa-check\"></li>"))</div>
                        <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.FurnaceBy == null) ? "FurnaceBy" : Model.FurnaceBy)</div>
                        <div class="mt-step-content font-grey-cascade">@((Model.FurnaceOn == null) ? "FurnaceOn" : Model.FurnaceOn)</div>
                    </div>
                    @*<div class="mt-step-col last @((Model.InspectOn == null) ? "" : "done")">
                            <div class="mt-step-content font-grey-cascade" style="font-size:20px"> Approved<br /> (Quality Inspector)</div>
                            <div class="mt-step-number bg-white">@(new HtmlString((Model.InspectOn == null) ? "4" : "<li class=\"fa fa-check\"></li>"))</div>
                            <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.InspectBy == null) ? "InspectBy" : Model.InspectBy)</div>
                            <div class="mt-step-content font-grey-cascade">@((Model.InspectOn == null) ? "InspectOn" : Model.InspectOn)</div>
                        </div>*@
                    @*<div class="mt-step-col last @((Model.InspectOn == null) ? "" : "done")">
                            <div class="mt-step-content font-grey-cascade" style="font-size:20px">Completed</div>
                            <div class="mt-step-number bg-white">@(new HtmlString((Model.InspectOn == null) ? "5" : "<li class=\"fa fa-check\"></li>"))</div>
                            <div class="mt-step-title font-grey-cascade" style="font-size:15px"></div>
                            <div class="mt-step-content font-grey-cascade"></div>
                        </div>*@
                }
                if (Model.HTRType == clsImplementationEnum.TypeOfHTR.JobComponentNuclear.GetStringValue())
                {
                    <div class="mt-step-col @((Model.ReviewedOn == null) ? "" : "done")">
                        <div class="mt-step-content font-grey-cascade" style="font-size:20px">Reviewed <br />(WE & MET)</div>
                        <div class="mt-step-number bg-white">@(new HtmlString((Model.ReviewedOn == null) ? "3" : "<li class=\"fa fa-check\"></li>"))</div>
                        <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.ReviewedBy == null) ? "ReviwedBy" : Model.ReviewedBy)</div>
                        <div class="mt-step-content font-grey-cascade">@((Model.ReviewedOn == null) ? "ReviwedOn" : Model.ReviewedOn)</div>
                    </div>
                    <div class="mt-step-col @((Model.FurnaceOn == null) ? "" : "done")">
                        <div class="mt-step-content font-grey-cascade" style="font-size:20px">Reviewed <br />(Furnace Sup)</div>
                        <div class="mt-step-number bg-white">@(new HtmlString((Model.FurnaceOn == null) ? "4" : "<li class=\"fa fa-check\"></li>"))</div>
                        <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.FurnaceBy == null) ? "FurnaceBy" : Model.FurnaceBy)</div>
                        <div class="mt-step-content font-grey-cascade">@((Model.FurnaceOn == null) ? "FurnaceOn" : Model.FurnaceOn)</div>
                    </div>
                    <div class="mt-step-col last @((Model.InspectOn == null) ? "" : "done")">
                        <div class="mt-step-content font-grey-cascade" style="font-size:20px"> Approved<br /> (Quality Inspector)</div>
                        <div class="mt-step-number bg-white">@(new HtmlString((Model.InspectOn == null) ? "4" : "<li class=\"fa fa-check\"></li>"))</div>
                        <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.InspectBy == null) ? "InspectBy" : Model.InspectBy)</div>
                        <div class="mt-step-content font-grey-cascade">@((Model.InspectOn == null) ? "InspectOn" : Model.InspectOn)</div>
                    </div>
                    @*<div class="mt-step-col last @((Model.InspectOn == null) ? "" : "done")">
                            <div class="mt-step-content font-grey-cascade" style="font-size:20px">Completed</div>
                            <div class="mt-step-number bg-white">@(new HtmlString((Model.InspectOn == null) ? "5" : "<li class=\"fa fa-check\"></li>"))</div>
                            <div class="mt-step-title font-grey-cascade" style="font-size:15px"></div>
                            <div class="mt-step-content font-grey-cascade"></div>
                        </div>*@
                }
                if (Model.HTRType == clsImplementationEnum.TypeOfHTR.PTC.GetStringValue())
                {
                    <div class="mt-step-col @((Model.ReviewedOn == null) ? "" : "done")">
                        <div class="mt-step-content font-grey-cascade" style="font-size:20px">Reviewed <br />(WE & MET)</div>
                        <div class="mt-step-number bg-white">@(new HtmlString((Model.ReviewedOn == null) ? "3" : "<li class=\"fa fa-check\"></li>"))</div>
                        <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.ReviewedBy == null) ? "ReviwedBy" : Model.ReviewedBy)</div>
                        <div class="mt-step-content font-grey-cascade">@((Model.ReviewedOn == null) ? "ReviwedOn" : Model.ReviewedOn)</div>
                    </div>
                    <div class="mt-step-col last @((Model.InspectOn == null) ? "" : "done")">
                        <div class="mt-step-content font-grey-cascade" style="font-size:20px">Approved <br />(Quality Inspector)</div>
                        <div class="mt-step-number bg-white">@(new HtmlString((Model.InspectOn == null) ? "4" : "<li class=\"fa fa-check\"></li>"))</div>
                        <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.InspectBy == null) ? "InspectBy" : Model.InspectBy)</div>
                        <div class="mt-step-content font-grey-cascade">@((Model.InspectOn == null) ? "InspectOn" : Model.InspectOn)</div>
                    </div>
                    @*<div class="mt-step-col last @((Model.InspectOn == null) ? "" : "done")">
                            <div class="mt-step-content font-grey-cascade" style="font-size:20px">Completed</div>
                            <div class="mt-step-number bg-white">@(new HtmlString((Model.InspectOn == null) ? "5" : "<li class=\"fa fa-check\"></li>"))</div>
                            <div class="mt-step-title font-grey-cascade" style="font-size:15px"></div>
                            <div class="mt-step-content font-grey-cascade"></div>
                        </div>*@
                }
                if (Model.HTRType == clsImplementationEnum.TypeOfHTR.PQR.GetStringValue())
                {
                    if (Model.HTRpqrStatus == clsImplementationEnum.CommonStatus.Approved.GetStringValue())
                    {
                        <div class="mt-step-col last done">
                            <div class="mt-step-content font-grey-cascade" style="font-size:20px">&nbsp;<br />Completed</div>
                            <div class="mt-step-number bg-white"><li class="fa fa-check"></li></div>
                            <div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.CreatedBy</div>
                            <div class="mt-step-content font-grey-cascade">@Model.CreatedOn</div>
                        </div>
                    }
                    else
                    {
                        <div class="mt-step-col last ''">
                            <div class="mt-step-content font-grey-cascade" style="font-size:20px">&nbsp;<br />Completed</div>
                            <div class="mt-step-number bg-white">@(new HtmlString((Model.CreatedOn == null) ? "3" : "<li class=\"fa fa-check\"></li>"))</div>
                            <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.CreatedBy == null) ? "ReviwedBy" : Model.CreatedBy)</div>
                            <div class="mt-step-content font-grey-cascade">@((Model.CreatedOn == null) ? "ReviwedOn" : Model.CreatedOn)</div>
                        </div>
                    }
                }

            }

        </div>
    </div>
</div>