﻿@model IEMQSImplementation.MAL005
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0, s2 = 0, s3 = 0;/* for serial number */
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />
<style>
    .width40per {
        width: 60% !important;
    }

    select {
        text-align: center !important;
    }

    option {
        text-align: center !important;
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    @{
                        if (!string.IsNullOrWhiteSpace(ViewBag.Status))
                        {
                            <div id="dvStatus" class="ribbon ribbon-right ribbon-color-warning">
                                <span style="font-weight:bolder">
                                    Status : <span id="spnStatus">@ViewBag.Status</span>
                                </span>
                            </div>
                        }
                    }
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable tblNotes" style="margin-bottom:0px">
                                        <tr>
                                            <td class="subtitle"> PROJECT NO.</td>
                                            <td> @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-12" }) </td>
                                            <td class="subtitle">EQUIPMENT NAME & NUMBER</td>
                                            <td><span id="spnEquipment">@ViewBag.ProjectDesc</span></td>
                                        </tr>
                                        <tr>

                                            <td class="subtitle">DATE</td>
                                            <td>
                                                <div id="datetime1" class="date date-picker" style="        display: inline-block;
        height: 10px !important;" data-date-format="dd/mm/yyyy">
                                                    @Html.TextBoxFor(m => m.Date, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;" })
                                                    <span class="input-group-btn" style="top: -7px;float: right;margin-left: -39px !important">
                                                        <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="subtitle">REPORT NO</td>
                                            <td>@Html.TextBoxFor(m => m.ReportNo, new { @class = "form-control", @maxlength = "30" })</td>

                                        </tr>
                                        <tr>
                                            <td class="subtitle"> DOCUMENT NO</td>
                                            <td>@Html.TextBoxFor(m => m.DocumentNo, new { @class = "form-control col-md-12", @maxlength = "40" }) </td>
                                            <td class="subtitle"> PROCEDURE NO</td>
                                            <td>@Html.TextBoxFor(m => m.ProcedureNo, new { @class = "form-control col-md-12", @maxlength = "40" }) </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle"> NAME OF COATING CONTRACTOR :  </td>
                                            <td>@Html.TextBoxFor(m => m.CoatingContractorName, new { @class = "form-control col-md-12", @maxlength = "40" }) </td>
                                            <td class="subtitle"> Stage :  </td>
                                            <td>@Html.TextBoxFor(m => m.Stage, new { @class = "form-control col-md-12", @maxlength = "40" }) </td>
                                            @*<td colspan="2"></td>*@
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Item Prepared or Coated<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ItemPreparedOrCoated, new { @class = "form-control", @maxlength = "100" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="height: 20px"></div>
                        <div class="col-md-12">
                            <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span style="float:left;">
                                            <strong>CONDITION IN WORK AREA</strong>
                                        </span>
                                    </div>
                                    <div class="tools">
                                        <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                    </div>
                                </div>
                                <div class="portlet-body" id="div1">
                                    <div class="table-responsive">
                                        <table class="table" id="tblProtocolLines1">
                                            <thead>
                                                <tr>
                                                    <th style="display:none;">#</th>
                                                    <th style="display:none;">LineId</th>
                                                    <th>COND. REFS.</th>
                                                    <th style="min-width: 200px !important;">DATE</th>
                                                    <th>TIME(HRS)</th>
                                                    <th>DRY BULB TEMP (°C)</th>
                                                    <th>WET BULB TEMP (°C)</th>
                                                    <th>RELATIVE HUMIDITY(%)</th>
                                                    <th>DEW POINT TEMP(°C)</th>
                                                    <th>STEEL TEMP(°C)</th>
                                                    <th>DIFFERENCE BETWEEN STEEL AND DEW POINT TEMP(°C)</th>
                                                    @if (string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <th class="btnthAction"></th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.lstMAL006 != null)
                                                {
                                                    foreach (var item in ViewBag.lstMAL006 as List<MAL006>)
                                                    {
                                                        <tr>
                                                            <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                            <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                            <td class="CondRefs"> @Html.TextBox("CondRefs_1_" + @s1, @item.CondRefs, new { @class = "form-control", @maxlength = "5" })</td>
                                                            <td class="Date">
                                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                                    @Html.TextBox("Date_1_" + @s1, @item.Date, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;" })
                                                                    <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                                        <button class="btn default btncalender" id="btncal1Date_1_" + @s1 type="button" tabindex="-1">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                            <td class="Time"> @Html.TextBox("Time_1_" + @s1, @item.Time, new { @class = "form-control", @maxlength = "10" })</td>
                                                            <td class="DryBulbTemp"> @Html.TextBox("DryBulbTemp_1_" + @s1, @item.DryBulbTemp, new { @class = "form-control", @maxlength = "10" })</td>
                                                            <td class="WetBulbTemp"> @Html.TextBox("WetBulbTemp_1_" + @s1, @item.WetBulbTemp, new { @class = "form-control", @maxlength = "10" })</td>
                                                            <td class="RelativeHumidity"> @Html.TextBox("RelativeHumidity_1_" + @s1, @item.RelativeHumidity, new { @class = "form-control", @maxlength = "10" })</td>
                                                            <td class="DewPointTemp"> @Html.TextBox("DewPointTemp_1_" + @s1, @item.DewPointTemp, new { @class = "form-control numeric", @maxlength = "10", @lineid = @s1, @onchange = "fnDiffSteelDewPointTemp(this)" })</td>
                                                            <td class="SteelTemp"> @Html.TextBox("SteelTemp_1_" + @s1, @item.SteelTemp, new { @class = "form-control numeric", @maxlength = "10", @lineid = @s1, @onchange = "fnDiffSteelDewPointTemp(this)" })</td>
                                                            <td class="DiffSteelDewPointTemp"> @Html.TextBox("DiffSteelDewPointTemp_1_" + @s1, @item.DiffSteelDewPointTemp, new { @class = "form-control", @maxlength = "10", @readonly = true })</td>
                                                            @if (string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                            }
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                        <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable tblNotes" style="margin-bottom:0px">
                                        <tr>
                                            <td style="width: 40% !important;">Maximum allowable Relative Humidity (%)</td>
                                            <td>
                                                @Html.TextBoxFor(model => model.MaxRelativeHumidity, new { @class = "form-control", @maxlength = "20" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 40% !important;">
                                                Minimum Difference between Steel and Dew point temperature (°C)
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.MinDiffSteelDewPointTemp, new { @class = "form-control", @maxlength = "20" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 40% !important;">
                                                Maximum allowable dry bulb temperature (°C)
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.MaxDryBulbTemp, new { @class = "form-control", @maxlength = "20" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable tblNotes" style="margin-bottom:0px">
                                        <tr>
                                            <td colspan="2" class="subtitle">SURFACE PREPARATION INFORMATION</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 40% !important;">Environmental Condition Referance</td>
                                            <td>
                                                @Html.TextBoxFor(model => model.EnvrCondRef, new { @class = "form-control", @maxlength = "20" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 40% !important;">
                                                Start Time of Activity
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.StartTimeActivity, new { @class = "form-control", @maxlength = "20" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 40% !important;">
                                                End Time of Activity
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.EndTimeActivity, new { @class = "form-control", @maxlength = "20" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 40% !important;">
                                                Abrasive Blasting
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.AbrasiveBlasting, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control", @onclick = "showHideElementsusingClass($(this).val(), \"clsAbrasiveBlasting\")" })
                                            </td>
                                        </tr>
                                        <tr class="clsAbrasiveBlasting">
                                            <td style="width: 40% !important;">
                                                Abrasive Material
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.AbrasiveMaterial, new { @class = "form-control", @maxlength = "20" })
                                            </td>
                                        </tr>
                                        <tr class="clsAbrasiveBlasting">
                                            <td style="width: 40% !important;">
                                                Manufacturer
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Manufacturer, new { @class = "form-control", @maxlength = "20" })
                                            </td>
                                        </tr>
                                        <tr class="clsAbrasiveBlasting">
                                            <td style="width: 40% !important;">
                                                Abrasive Standard
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.AbrasiveStandard, new { @class = "form-control", @maxlength = "20" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="2">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span style="float:left;">
                                            <strong>INSPECTION SUMMARY</strong>
                                        </span>
                                    </div>
                                    <div class="tools">
                                        <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div2', this)" id="btnCollapse2" data-target="#div2" data-original-title="" title=""> </a>
                                    </div>
                                </div>
                                <div class="portlet-body" id="div2">
                                    <div class="table-responsive">
                                        <table class="table" id="tblProtocolLines2">
                                            <thead>
                                                <tr>
                                                    <th style="display:none;">#</th>
                                                    <th style="display:none;">LineId</th>
                                                    <th>Test Done</th>
                                                    <th>Frequency</th>
                                                    <th>Standard</th>
                                                    <th>Requirement</th>
                                                    <th>Observed</th>
                                                    <th>Result</th>
                                                    @if (string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <th class="btnthAction"></th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.lstMAL007 != null)
                                                {
                                                    foreach (var item in ViewBag.lstMAL007 as List<MAL007>)
                                                    {
                                                        <tr>
                                                            <td style="text-align: center;display:none;"># @(s2 = s2 + 1) </td>
                                                            <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                            <td class="TestDone"> @Html.TextBox("TestDone_2_" + @s2, @item.TestDone, new { @class = "form-control", @maxlength = "30" })</td>
                                                            <td class="Frequency"> @Html.TextBox("Frequency_2_" + @s2, @item.Frequency, new { @class = "form-control", @maxlength = "20" })</td>
                                                            <td class="Standard"> @Html.TextBox("Standard_2_" + @s2, @item.Standard, new { @class = "form-control", @maxlength = "20" })</td>
                                                            <td class="Requirement"> @Html.TextBox("Requirement_2_" + @s2, @item.Requirement, new { @class = "form-control", @maxlength = "20" })</td>
                                                            <td class="Observed"> @Html.TextBox("Observed_2_" + @s2, @item.Observed, new { @class = "form-control", @maxlength = "20" })</td>
                                                            <td class="Result">
                                                                @if (@item.Result == "Reject")
                                                                {
                                                                    @Html.DropDownList("Result_2_" + @s2, new[] {
                                                                                        new SelectListItem() {Text = "Accept", Value = "Accept"},
                                                                                        new SelectListItem() {Text = "Reject", Value = "Reject", Selected= true}
                                                                                    }, new { @class = "form-control" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.DropDownList("Result_2_" + @s2, new[] {
                                                                                        new SelectListItem() {Text = "Accept", Value = "Accept", Selected= true},
                                                                                        new SelectListItem() {Text = "Reject", Value = "Reject"}
                                                                                    }, new { @class = "form-control" })
                                                                }
                                                            </td>
                                                            @if (string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <td class="DeleteAction"> <i id="Delete_2_@s2" name="Delete_2_@s2" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                            }
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                        <input id="hdGrid2LastRow" type="hidden" value="@s2" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="portlet box green inlineparentdiv" id="divLine3" data-gridid="3">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span style="float:left;">
                                            <strong>INSTRUMENT INFORMATION</strong>
                                        </span>
                                    </div>
                                    <div class="tools">
                                        <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div3', this)" id="btnCollapse3" data-target="#div3" data-original-title="" title=""> </a>
                                    </div>
                                </div>
                                <div class="portlet-body" id="div3">
                                    <div class="table-responsive">
                                        <table class="table" id="tblProtocolLines3">
                                            <thead>
                                                <tr>
                                                    <th style="display:none;">#</th>
                                                    <th style="display: none;">LineId</th>
                                                    <th> EQUIPMENT</th>
                                                    <th>MACHINE MAKE</th>
                                                    <th>SERIAL NO.</th>
                                                    @if (string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <th class="btnthAction"></th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.lstMAL008 != null)
                                                {
                                                    foreach (var item in ViewBag.lstMAL008 as List<MAL008>)
                                                    {
                                                        <tr>
                                                            <td style="text-align: center;display:none;"># @(s3 = s3 + 1) </td>
                                                            <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                            <td class="Equipment"> @Html.TextBox("Equipment_3_" + @s3, @item.Equipment, new { @class = "form-control", @maxlength = "30", @lineno = @s3, @colname = "Equipment", @onblur = "AutoCompleteEquipment(" + @s3 + ",0)" })</td>
                                                            <td class="MachineMake"> @Html.TextBox("MachineMake_3_" + @s3, @item.MachineMake, new { @class = "form-control", @maxlength = "30", @readonly = true })</td>
                                                            <td class="SerialNo"> @Html.TextBox("SerialNo_3_" + @s3, @item.SerialNo, new { @class = "form-control", @maxlength = "30", @readonly = true })</td>
                                                            @if (string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <td class="DeleteAction"> <i id="Delete_3_@s3" name="Delete_3_@s3" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                            }
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                        <input id="hdGrid3LastRow" type="hidden" value="@s3" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    Remarks @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control", @maxlength = "100" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                    <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    @if (string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                        @*<input type="button" class="btn submit" id="btnSave" value="Approve" />*@
                                    }
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="PrintTPI1" type="hidden" />
<input id="PrintTPI2" type="hidden" />
<input id="PrintTPI3" type="hidden" />
<input id="PrintBy" type="hidden" value="@ViewBag.PrintedBy" />
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js">x</script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>

<script>

var lstResult = [{ Disabled: false, Group: null, Selected: true, Text: "Accept", Value: "Accept" }, { Disabled: false, Group: null, Selected: false, Text: "Reject", Value: "Reject" }];
var userRole = '@ViewBag.UserRole.ToString()';
var ControllerURL = '@ViewBag.ControllerURL.ToString()';
var isEdit = '@ViewBag.isEditable';
var isQCRemarkEditable = '@ViewBag.isQCRemarkEditable';
var lstLeftRight = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.LeftRight))));
var lstOutsideInside = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.OutsideInside))));
    $(document).ready(function () {
        SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({
        orientation: "auto", autoclose: true,
        });
        SetControlNumeric();

        if (isEdit != "true") {
        $('form#frmProtocolHeader :input').attr('disabled', true);
        }
        debugger
        if ('@Model.AbrasiveBlasting' == "") {
        $('#AbrasiveBlasting').val('Yes');
        }
        showHideElementsusingClass($('#AbrasiveBlasting').val(), "clsAbrasiveBlasting");

        if ($("#Project").val() != "") {
            getInspectionagency($("#Project").val());
        }

        if (parseInt($("#HeaderId").val()) > 0) {
            $("#btnPrint").show();
        }
        else {
            $("#btnPrint").hide();
        }
        $("#btnSaveDraft").click(function () {
            SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData?s=0", userRole, false, LoadSaveAndDraft);
            $("#btnPrint").show();
        });

    
        $("#btnSave").click(function () {
            @{
            <text>$('[type="text"]').not('.islastrow,.nonmandate').prop("required", true);</text>
            <text>$('select').not('.islastrow,.nonmandate').prop("required", true);</text>
            }
            SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData?s=1", userRole, true, LoadSaveAndDraft);
            $('form#frmProtocolHeader :input').attr('disabled', true);
            $("#btnPrint").show();
        });

        $("#btnClose").click(function () {
            window.location.href = WebsiteURL + '/MAL/MaintainMAL/Index';
        });

        $("#Project").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectCode, id: item.Text };
                        }));
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    $("#Project").val('');
                    $("#spnEquipment").text('')
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    $("#Project").val(ui.item.value);
                    $("#spnEquipment").text(ui.item.id)
                    getInspectionagency($("#Project").val());
                }
            },
        }).focus(function () {
            if ($(this).data("uiAutocomplete") != null && $(this).data("uiAutocomplete") != undefined) {
                $(this).data("uiAutocomplete").search($(this).val());
                //$(this).autocomplete("search");
            }
        });

        $("#btnPrint").click(function () {
            var dat = [];
            dat.push({ Param: "HeaderId", Value: $('#HeaderId').val() });
            dat.push({ Param: "PrintTPI1", Value: $("#PrintTPI1").val() });
            dat.push({ Param: "PrintTPI2", Value: $("#PrintTPI2").val() });
            dat.push({ Param: "PrintTPI3", Value: $("#PrintTPI3").val() });
            dat.push({ Param: "PrintBy", Value: $("#PrintBy").val() });
            ShowReport(dat, "/MAL/BLASTING", false);

            //PrintReport("/MAL/BLASTING", $('#HeaderId').val());
        });
    });

    function SetTableColumns() {
    if (isEdit == "true") {
        AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'CondRefs', ['CondRefs', 'Date', 'Time', 'DryBulbTemp','WetBulbTemp', 'RelativeHumidity', 'DewPointTemp', 'SteelTemp'], AddTbl1NewTrRow, true);
        AddNextRow(this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'TestDone', ['TestDone', 'Frequency', 'Standard', 'Requirement', 'Observed', 'Result'], AddTbl2NewTrRow, true);
        AddNextRow(this, null, false, 3, 'hdGrid3LastRow', 'tblProtocolLines3', 'Equipment', ['Equipment'], AddTbl3NewTrRow, true)
    }
    $("#ItemPreparedOrCoated").focus();
    }
function AddTbl1NewTrRow(NewTrRowNum) {

$("#hdGrid1LastRow").val(NewTrRowNum);
    var fn = "AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','CondRefs', ['CondRefs','Date','Time','DryBulbTemp','WetBulbTemp','RelativeHumidity','DewPointTemp','SteelTemp'],AddTbl1NewTrRow); Test1213(" + NewTrRowNum + ");";
    var difffn = "AddNextRow(this,'SteelTemp_1_" + NewTrRowNum + "',false,1,'hdGrid1LastRow','tblProtocolLines1','CondRefs', ['CondRefs','Date','Time','DryBulbTemp','WetBulbTemp','RelativeHumidity','DewPointTemp','SteelTemp'],AddTbl1NewTrRow,null, fnDiffSteelDewPointTemp)";
    var difffn1 = "AddNextRow(this,'CondRefs_1_" + parseInt(NewTrRowNum + 1) + "',false,1,'hdGrid1LastRow','tblProtocolLines1','CondRefs', ['CondRefs','Date','Time','DryBulbTemp','WetBulbTemp','RelativeHumidity','DewPointTemp','SteelTemp'],AddTbl1NewTrRow,null, fnDiffSteelDewPointTemp)";
        strhtml = "<tr class=\"islastrow\">" +
                "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
                " <td class=\"LineId\" style=\"display:none;\">0</td>"
                + "<td class=\"CondRefs center\">" + GetColumnTextBoxRender(NewTrRowNum, "CondRefs", "", fn, "5", false, false,"", "", 1, "islastrow", true) + "</td>"
                + "<td class=\"Date center \">" + GetColumnDatePickerRender(NewTrRowNum, "Date", "", fn, "10", false, false, "", "",  1, "islastrow") + "</td>"
                + "<td class=\"Time center \">" + GetColumnTextBoxRender(NewTrRowNum, "Time", "", fn, "10", false, false, "",  "", 1, "islastrow") + "</td>"
            + "<td class=\"DryBulbTemp center \">" + GetColumnTextBoxRender(NewTrRowNum, "DryBulbTemp", "", fn, "10", false, false, "", "", 1, "islastrow") + "</td>"
            + "<td class=\"WetBulbTemp center \">" + GetColumnTextBoxRender(NewTrRowNum, "WetBulbTemp", "", fn, "10", false, false, "", "", 1, "islastrow") + "</td>"
                + "<td class=\"RelativeHumidity center \">" + GetColumnTextBoxRender(NewTrRowNum, "RelativeHumidity", "", fn, "10", false, false,"", "", 1, "islastrow") + "</td>"
            + "<td class=\"DewPointTemp center \">" + GetColumnTextBoxRender(NewTrRowNum, "DewPointTemp", "", difffn, "10", false, false, " ", "", 1, "islastrow numeric",true) + "</td>"
            + "<td class=\"SteelTemp center \">" + GetColumnTextBoxRender(NewTrRowNum, "SteelTemp", "", difffn1, "10", false, false, "", "", 1, "islastrow numeric",true) + "</td>"
                + "<td class=\"DiffSteelDewPointTemp center \">" + GetColumnTextBoxRender(NewTrRowNum, "DiffSteelDewPointTemp","", fn, "",false, true, "", "", 1, "islastrow") + "</td>"
                + "<td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
                + "</tr>";

        return strhtml;

    }

    function fnDiffSteelDewPointTemp($this) {
        var $thisid = $($this).attr("lineid");
        var $thisColname = $($this).attr("colName");
        var DewPointTemp = $("#DewPointTemp_1_" + $thisid).val() == "" ? 0 : parseInt($("#DewPointTemp_1_" + $thisid).val());
        var SteelTemp = $("#SteelTemp_1_" + $thisid).val() == "" ? 0 : parseInt($("#SteelTemp_1_" + $thisid).val());
        if (isNaN(DewPointTemp)) {
             DewPointTemp = 0;
        }
        if (isNaN(SteelTemp)) {
             SteelTemp = 0;
        }
        var sDewPointTemp = parseFloat(DewPointTemp);
        var sSteelTemp = parseFloat(SteelTemp);
        var total = "";
        if (!isNaN(sDewPointTemp) && sDewPointTemp != null && sDewPointTemp != "" && !isNaN(sSteelTemp) && sSteelTemp != null && sSteelTemp != "") {
            //if (sDewPointTemp > sSteelTemp) {
            //    total = sDewPointTemp - sSteelTemp;
            //}
            //else {
                total = sSteelTemp - sDewPointTemp;
            //}
        }

        $("#DiffSteelDewPointTemp_1_" + $thisid).val(total);
        if ($thisColname == "SteelTemp") {
            return true;
        }
    }
    function AddTbl2NewTrRow(NewTrRowNum) {

        $("#hdGrid2LastRow").val(NewTrRowNum);
        var fn = "AddNextRow(this,null,false,2,'hdGrid2LastRow','tblProtocolLines2','TestDone', ['TestDone','Frequency','Standard','Requirement','Observed','Result'],AddTbl2NewTrRow)";
        strhtml = "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            " <td class=\"LineId\" style=\"display:none;\">0</td>"
                + "<td class=\"TestDone center\">" + GetColumnTextBoxRender(NewTrRowNum, "TestDone", "", fn, "30", false, false, "", "", 2, "islastrow", true) + "</td>"
                + "<td class=\"Frequency center \">" + GetColumnTextBoxRender(NewTrRowNum, "Frequency", "", fn, "20", false, false, "", "", 2, "islastrow") + "</td>"
                + "<td class=\"Standard center \">" + GetColumnTextBoxRender(NewTrRowNum, "Standard", "", fn, "20", false, false, "", "", 2, "islastrow") + "</td>"
                + "<td class=\"Requirement center \">" + GetColumnTextBoxRender(NewTrRowNum, "Requirement", "", fn, "20", false, false, "", "", 2, "islastrow") + "</td>"
                 + "<td class=\"Observed center \">" + GetColumnTextBoxRender(NewTrRowNum, "Observed", "", fn, "20", false, false, " ", "", 2, "islastrow") + "</td>"
                + "<td class=\"Result center \">" + GetColumnDropdownRender(lstResult, NewTrRowNum, "Result", "", fn, "20", false, false, "width125px", "", 2, "islastrow") + "</td>"
            + "<td class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
            + "</tr>";

        strhtml = strhtml.replace('<option value=\'\'></option>', '');
        return strhtml;
    }

    function AddTbl3NewTrRow(NewTrRowNum) {
        $("#hdGrid3LastRow").val(NewTrRowNum);
        var fn = "AddNextRow(this,null,false,3,'hdGrid3LastRow','tblProtocolLines3','Equipment', ['Equipment'],AddTbl3NewTrRow)";
        strhtml = "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            " <td class=\"LineId\" style=\"display:none;\">0</td>"
            + "<td class=\"Equipment center\"> <input class=\"form-control  islastrow\" id=\"Equipment_3_" + NewTrRowNum + "\" maxlength=\"30\" name=\"Equipment_3_" + NewTrRowNum + "\" colname=\"Equipment\" type=\"text\" onblur=\"AutoCompleteEquipment(" + NewTrRowNum + ",1)\" > </td>"

            //+ "<td class=\"Equipment center\">" + GetColumnTextBoxRender(NewTrRowNum, "Equipment", "", fn, "5", false, false, "", "", 3, "islastrow", true) + "</td>"
            + "<td class=\"MachineMake center \">" + GetColumnTextBoxRender(NewTrRowNum, "MachineMake", "", fn, "30", false, true, "", "", 3, "islastrow") + "</td>"
            + "<td class=\"SerialNo center \">" + GetColumnTextBoxRender(NewTrRowNum, "SerialNo", "", fn, "30", false, true, "", "", 3, "islastrow") + "</td>"
            + "<td class=\"DeleteAction\"><i id=\"Delete_3_" + NewTrRowNum + "\" name=\"Delete_3_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
            + "</tr>";

        return strhtml;
    }

    function AutoCompleteEquipment(number, NewRow) {
        $("#Equipment_" + 3 + "_" + number).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/MAL/Blasting/GetEquipementDetails",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.TestInstrument, value: item.TestInstrument, id: item.Make };
                        }));
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    $("#MachineMake_" + 3 + "_" + number).val('');
                    $("#SerialNo_" + 3 + "_" + number).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    $("#Equipment_" + 3 + "_" + number).val(ui.item.value);
                    var selectedvalue = ui.item.id;
                    var make = selectedvalue.split('#');
                    setTimeout(function () {
                        $("#MachineMake_" + 3 + "_" + number).val(make[0]);
                        $("#SerialNo_" + 3 + "_" + number).val(make[1]);
                    }, 100);

                    if (NewRow == "1") {
                        AddNextRow(this, null, false, 3, 'hdGrid3LastRow', 'tblProtocolLines3', 'Equipment', ['Equipment'], AddTbl3NewTrRow);
                    }

                }
            },
        }).focus(function () {
            if ($(this).data("uiAutocomplete") != null && $(this).data("uiAutocomplete") != undefined) {
                $(this).data("uiAutocomplete").search($(this).val());
                //$(this).autocomplete("search");
            }
        });
    }


    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
            },
            messages: {
            }
        });
    }
    function LoadSaveAndDraft() {
        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "CondRefs": $('td.CondRefs input', this).val(),
                "Date": $('td.Date input', this).val(),
                "Time": $('td.Time input', this).val(),
                "DryBulbTemp": $('td.DryBulbTemp input', this).val(),
                "WetBulbTemp": $('td.WetBulbTemp input', this).val(),
                "RelativeHumidity": $('td.RelativeHumidity input', this).val(),
                "DewPointTemp": $('td.DewPointTemp input', this).val(),
                "SteelTemp": $('td.SteelTemp input', this).val(),
                "DiffSteelDewPointTemp": $('td.DiffSteelDewPointTemp input', this).val()
            };

            lstProtocolLines1 = JSON.stringify(TableData1);

        });

        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1?HeaderId=" + parseInt($("#HeaderId").val()), 1);

        var TableData2 = []; //initialize array;
        var lstProtocolLines2 = ""; //empty var;
        $("table#tblProtocolLines2 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData2[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "TestDone": $('td.TestDone input', this).val(),
                "Frequency": $('td.Frequency input', this).val(),
                "Standard": $('td.Standard input', this).val(),
                "Requirement": $('td.Requirement input', this).val(),
                "Observed": $('td.Observed input', this).val(),
                "Result": $('td.Result select', this).val(),
            };

            lstProtocolLines2 = JSON.stringify(TableData2);

        });

        SaveAsDraftProtocolLine(lstProtocolLines2, ControllerURL + "SaveProtocolLine2?HeaderId=" + parseInt($("#HeaderId").val()), 2);

        var TableData3 = []; //initialize array;
        var lstProtocolLines3 = ""; //empty var;
    $("table#tblProtocolLines3 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData3[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "Equipment": $('td.Equipment input', this).val(),
                "MachineMake": $('td.MachineMake input', this).val(),
                "SerialNo": $('td.SerialNo input', this).val(),
            };

            lstProtocolLines3 = JSON.stringify(TableData3);
        });

        SaveAsDraftProtocolLine(lstProtocolLines3, ControllerURL + "SaveProtocolLine3?HeaderId=" + parseInt($("#HeaderId").val()), 3);
    }

    function showHideElementsusingClass(selectedVal, dvID) {
        if (selectedVal == "Yes") {
            $("." + dvID).show();
        }
        else {
            $("." + dvID).hide();
        }
    }

    function Test1213(No) {
        $('#Date_1_' + No).datepicker({ format: "dd/mm/yyyy" });
    }
    function getInspectionagency(qproject) {

        $.ajax({
            //url: WebsiteURL + ControllerURL + "/GetInspectionAgency",
            url: WebsiteURL + "/MAL/Heliumleaktest/GetInspectionAgency",
            type: "POST",
            delay: 250,
            async: false,
            data: {
                qproject: qproject
            },
            success: function (data) {

                if (data.Agency != "" && data.Agency != null && data.Agency != undefined) {
                    var dat = data.Agency.split('#');
                    $("#PrintTPI1").val("");
                    $("#PrintTPI2").val("");
                    $("#PrintTPI3").val("");
                    if (dat[0] != undefined && dat[0] != "" && dat[0] != null) {
                        $("#PrintTPI1").val(dat[0]);
                    }
                    if (dat[1] != undefined && dat[1] != "" && dat[1] != null) {
                        $("#PrintTPI2").val(dat[1]);
                    }
                    if (dat[2] != undefined && dat[2] != "" && dat[2] != null) {
                        $("#PrintTPI3").val(dat[2]);
                    }

                    $("#InspectionAgency").val(data.arr);
                }

            }
        });
    }
</script>