﻿@using IEMQSImplementation
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/datetimepicker/css")
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/assets/global/css/plugins.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />



<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*margin: 0px 0px 5px 0px !important;*/
    }

    .mt-radio > span::after {
        background: #0fabab;
    }

    .multiselect {
        /*width: 355px;*/
        text-align: left;
    }

    .multiselect-container {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        width: auto;
    }
</style>

<script>
    $('.date-picker').datepicker({
        orientation: "bottom auto",
        autoclose: true
    });

    $('input[maxlength]').maxlength({
        alwaysShow: true,
        //placement: 'top-center'
    });
    var DefaultYear = '@ViewBag.DefaultYear';
    var DefaultFY = '@ViewBag.DefaultFY';
    var DefaulthdFY = '@ViewBag.DefaulthdFY';

    $(document).ready(function () {


        var lstLocation = @Html.Raw(Json.Encode(@ViewBag.Location))
        FillEnumAutoComplete($("#txtLocation"), lstLocation, $("#hdLocation"), true);

        var lstLastYears = @Html.Raw(Json.Encode(@ViewBag.Years))
        FillEnumAutoComplete($("#txtYear"), lstLastYears, $("#hdYear"), true);

        var lstMonthNames = @Html.Raw(Json.Encode(@ViewBag.MonthNames))
        FillEnumAutoComplete($("#txtMonth"), lstMonthNames, $("#hdMonth"), true);
        var lstLastYears = @Html.Raw(Json.Encode(@ViewBag.Years))
        FillYearAutoComplete($("#txtQuarterYear"), lstLastYears, $("#hdQuarterYear"), true);

        var lstQuarters = @Html.Raw(Json.Encode(@ViewBag.Quarters))
        FillEnumAutoComplete($("#txtQuarter"), lstQuarters, $("#hdQuarter"), true);

        var lstShop = @Html.Raw(Json.Encode(@ViewBag.Shop))
        FillEnumAutoComplete($("#txtShop"), lstShop, $("#hdShop"), true);

        LoadMultiSelectwithCheckbox("/IPI/GPAReports/GetProjectList", $('#ddlProject'), "--Select Location--");
        MultiselectCCss();

        $('div.clsReport :input').attr('disabled', true);
        $('.clsMonthly').hide();
        $('.clsQuarterly').hide();

        $('#frmReport1').validate({
            rules: {
                txtLocation: { required: true },
                txtFromInspectionDate: {
                    required: function () {
                        if ($('input[name=selectionType]:checked').val() == "D")
                        { return true; }
                        else
                        { return false; }
                    }
                },
                txtToInspectionDate: {
                    required: function () {
                        if ($('input[name=selectionType]:checked').val() == "D")
                        { return true; }
                        else
                        { return false; }
                    }
                },
                txtYear: {
                    required: function () {
                        if ($('input[name=reportTypeRadios]:checked').val() == "Monthly" && $('input[name=selectionType]:checked').val() == "M")
                        { return true; }
                        else
                        { return false; }
                    }
                },
                txtMonth: {
                    required: function () {
                        if ($('input[name=reportTypeRadios]:checked').val() == "Monthly" && $('input[name=selectionType]:checked').val() == "M")
                        { return true; }
                        else
                        { return false; }
                    }
                },
                txtQuarterYear: {
                    required: function () {
                        if ($('input[name=reportTypeRadios]:checked').val() == "Quarterly")
                        { return true; }
                        else
                        { return false; }
                    }
                },
                txtQuarter: {
                    required: function () {
                        if ($('input[name=reportTypeRadios]:checked').val() == "Quarterly")
                        { return true; }
                        else
                        { return false; }
                    }
                },
                txtReport: { required: true },
            },
            messages: {
                txtLocation: { required: "Location is required" },
                txtFromInspectionDate: { required: "From Inspection Date is required" },
                txtToInspectionDate: { required: "To Inspection Date is required" },
                txtYear: { required: "Year is required" },
                txtMonth: { required: "Month is required" },
                txtQuarterYear: { required: "Year is required" },
                txtQuarter: { required: "Quarter is required" },
                txtReport: { required: "Report Type is required" },
            }
        });
        $("#rdMonthlyReport").attr("checked", true);
        Radiobutton("Monthly");

        $('#txtMonth,.clsDate').val('');
        $("#rdMonthwise").attr("checked", true);
        selectionType("M");

        $('input[name=reportTypeRadios]').change(function () {
            $(".clsClear").val('');
            var reporttype = $('input[name=reportTypeRadios]:checked').val();
            Radiobutton(reporttype);
        });

        $('input[name=selectionType]').change(function () {
            var reporttype = $('input[name=selectionType]:checked').val();
            $('#txtMonth').val('');
            $('#txtToInspectionDate,#txtFromInspectionDate').datepicker("setDate", new Date()).val('').trigger("click");
            selectionType(reporttype);
        });

        $('#btnClear').click(function () {
            $(".clsClear").val('');
            $("#rdMonthlyReport").attr("checked", true);
            Radiobutton("Monthly");
        });

        $('#btnPrint').click(function () {
            var reporttype = $('input[name=reportTypeRadios]:checked').val();
            var year = $("#hdYear").val();
            var monthString = $("#hdMonth").val();
            var FromDate = "", ToDate = ""; firstDay = ""; lastDay = "";
            var url = "";
            var SelectedReport = $('#hdReport').val();
            var reportname = "";
            if ($('#frmReport1').valid()) {
                var data = [];
                if (reporttype == "Monthly") {
                    var stagetype = "";
                    if (SelectedReport == '@clsImplementationEnum.MonthlyReports.RT.GetStringValue()') {
                        reportname = "SEAM_RT_SHOP_WISE_GPA_DATA"; stagetype = "RT";
                    }
                    else if (SelectedReport == '@clsImplementationEnum.MonthlyReports.UT.GetStringValue()') {
                        reportname = "SEAM_UT_SHOP_WISE_GPA_DATA"; stagetype = "UT";
                    }
                    else if (SelectedReport == '@Html.Raw((String)clsImplementationEnum.MonthlyReports.AScan.GetStringValue())') {
                        reportname = "SEAM_ASCAN_TOFD_PAUT_SHOP_WISE_GPA_DATA"; stagetype = "UT";
                    }
                    else if (SelectedReport == '@Html.Raw((String)@clsImplementationEnum.MonthlyReports.OVERLAY.GetStringValue())') {
                        reportname = "SEAM_RT_UT_OVERLAY_SHOP_WISE_GPA_DATA"; stagetype = "Overlay";
                    }
                    if ($('#isDetailed').is(':checked')) {
                        reportname = "SEAMWISE_DETAILED_GPA_DATA";
                        data.push({ Param: "StageType", Value: stagetype });
                    }
                    //var dat = new Date('1 ' + monthString + $("#hdYear").val());

                    if ($("#txtFromInspectionDate").val() == "") {
                        var month = MonthValue(monthString);

                        var date = new Date(year, month, 1);
                        var y = date.getFullYear();
                        var m = date.getMonth();

                        firstDay = new Date(y, m, 1);
                        lastDay = new Date(y, m + 1, 0);

                        FromDate = firstDay.getFullYear() + '-' + (parseInt(firstDay.getMonth()) + 1) + "-" + firstDay.getDate();
                        ToDate = lastDay.getFullYear() + '-' + (parseInt(lastDay.getMonth()) + 1) + "-" + lastDay.getDate();
                    }
                    else {
                        var fromDt = $("#txtFromInspectionDate").val();
                        var toDt = $("#txtToInspectionDate").val();

                        FromDate = fromDt.split("/")[2] + '-' + fromDt.split("/")[1] + "-" + fromDt.split("/")[0];
                        ToDate = toDt.split("/")[2] + '-' + toDt.split("/")[1] + "-" + toDt.split("/")[0];
                    }
                    var ddlProject = $("#ddlProject").val();
                    if (ddlProject != '' && ddlProject != null && ddlProject != undefined) {
                        var lstProjects = ddlProject.join(",");
                    }
                    else {
                        var lstProjects = ddlProject;
                    }
                    data.push({ Param: "Shopcode", Value: $("#hdShop").val() });
                    data.push({ Param: "ProjectFrom", Value: lstProjects });
                    data.push({ Param: "ProjectTo", Value: null });
                }
                else if (reporttype == "Quarterly") {
                    var strQ = "";
                    var quarter = $("#txtQuarter").val();
                    var fYear = $("#hdQuarterYear").val();

                    var startMonth = 0; startDay = 1; endMonth = 0; endDay = 31;
                    var startYear = fYear.split('-')[0];
                    var endYear = fYear.split('-')[1];

                    switch (quarter) {
                        case "Quarter 1":
                            //April 1 - June 30
                            strQ = "Q1";
                            startMonth = 3;
                            endMonth = 5;
                            endDay = lastday(startYear, endMonth);
                            endYear = startYear;
                            break;

                        case "Quarter 2":
                            //July 1 - September 30
                            strQ = "Q2";
                            startMonth = 6;
                            endMonth = 8;
                            endDay = lastday(startYear, endMonth);
                            endYear = startYear;
                            break;
                        case "Quarter 3":
                            //October 1 - December 31
                            strQ = "Q3";
                            startMonth = 9;
                            endMonth = 11;
                            endDay = lastday(startYear, endMonth);
                            //startYear = parseInt(startYear - 1);
                            endYear = startYear;
                            break;
                        case "Quarter 4":
                            //January 1 - March 31
                            strQ = "Q4";
                            startMonth = 0;
                            endMonth = 2;
                            startYear = endYear;
                            endDay = lastday(endYear, endMonth);
                            break;
                    }
                    firstDay = new Date(startYear, startMonth, startDay);
                    lastDay = new Date(endYear, endMonth, endDay);
                    FromDate = firstDay.getFullYear() + '-' + ("0" + (firstDay.getMonth() + 1)).slice(-2) + '-' + ("0" + firstDay.getDate()).slice(-2);
                    ToDate = lastDay.getFullYear() + '-' + ("0" + (lastDay.getMonth() + 1)).slice(-2) + '-' + ("0" + lastDay.getDate()).slice(-2);

                    if (SelectedReport == '@clsImplementationEnum.QuarterlyReports.RT.GetStringValue()') {
                        reportname = "SEAM_RT_QUARTERLY_GPA_DATA";
                    }
                    else if (SelectedReport == '@clsImplementationEnum.QuarterlyReports.UT.GetStringValue()') {
                        reportname = "SEAM_UT_QUARTERLY_GPA_DATA";
                    }
                    else if (SelectedReport == '@Html.Raw((String)@clsImplementationEnum.QuarterlyReports.OVERLAY.GetStringValue())') {
                        reportname = "SEAM_OVERLAY_QUARTERLY_GPA_DATA";
                    }
                    data.push({ Param: "DisplayYear", Value: $("#txtQuarterYear").val() });
                    data.push({ Param: "Quarter", Value: strQ });
                }

                data.push({ Param: "Location", Value: $("#hdLocation").val() });
                data.push({ Param: "FromDate", Value: FromDate });
                data.push({ Param: "ToDate", Value: ToDate });

                url = "/NDEGPA/" + reportname;
                report = SelectedReport;

                ShowReport(data, url);
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });
    });
    var lastday = function (y, m) {
        return new Date(y, m + 1, 0).getDate();
    }
    function MonthValue(month) {
        if (month == "January")
            return 0;
        else if (month == "February")
            return 1;
        else if (month == "March")
            return 2;
        else if (month == "April")
            return 3;
        else if (month == "May")
            return 4;
        else if (month == "June")
            return 5;
        else if (month == "July")
            return 6;
        else if (month == "August")
            return 7;
        else if (month == "September")
            return 8;
        else if (month == "October")
            return 9;
        else if (month == "November")
            return 10;
        else if (month == "December")
            return 11;
    }

    function selectionType(reporttype) {
        $('.spnDate,.spnMonth').hide();
        if (reporttype == "M") {
            $('.spnMonth').show();
            $('#txtMonth').removeClass("error");
            $('.clsMonth').attr('disabled', false);
            $('.clsDate').attr('disabled', true);
        }

        if (reporttype == "D") {
            $('.spnDate').show();
            $('.clsDate').attr('disabled', false);
            $('.clsMonth').attr('disabled', true);
            $('.clsDate').removeClass("error");
        }
    }
    function Radiobutton(reporttype) {

        $("#txtYear").val(DefaultYear);
        $("#hdYear").val(DefaultYear);
        $("#txtQuarterYear").val(DefaultFY);
        $("#hdQuarterYear").val(DefaulthdFY);

        $('.clsMonthly').hide();
        $('.clsQuarterly').hide();
        if (reporttype == "Monthly") {
            $('div.clsReport :input').attr('disabled', false);
            $('.clsMonthly').show();
            $("#ddlProject").multiselect("clearSelection");
        }

        if (reporttype == "Quarterly") {
            $('div.clsReport :input').attr('disabled', false);
            $('.clsQuarterly').show();
        }

        GetReportType(reporttype);
    }

    function FillEnumAutoComplete(element, sourceList, hdElement, isautofocus, elemnt) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.Text,
                        value: item.Text,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: isautofocus,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(hdElement).val('');
                    $(this).focus();

                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };

    function FillYearAutoComplete(element, sourceList, hdElement, isautofocus, elemnt) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.ID,
                        value: item.ID,
                        id: item.QYear
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: isautofocus,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(hdElement).val('');
                    $(this).focus();

                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };

    function FillGeneralAutoComplete(element, source, hdElement, selectedBU, selectedLoc, callbackfn, extraPara) {
        $(element).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + source,
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term,
                        selectedBU: selectedBU,
                        selectedLoc: selectedLoc
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.text, id: item.id };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    $(hdElement).val('')
                }
                if (callbackfn != null && callbackfn != undefined) {
                    if (extraPara[0] != null && extraPara[0] != undefined && extraPara[1] != null && extraPara[1] != undefined)
                        callbackfn();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    $(hdElement).val(ui.item.id);
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);;
        });
    }

    function GetReportType(reporttype) {
        $.ajax({
            url: WebsiteURL + "/IPI/GPAReports/FetchReportData",
            type: "POST",
            data: { reportType: reporttype },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.count > 0) {
                    FillEnumAutoComplete($("#txtReport"), data.lstReportType, $("#hdReport"));
                }
                else {
                    FillEnumAutoComplete($("#txtReport"), null, $("#hdReport"));
                }
            },
            error: function (data) {
                DisplayNotiMessage("error", data.Value, "Error");
            }
        });
    }

</script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    GPA Reports
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <!-- Start : Production Detail Report -->

                    <div class="row">
                        <div class="col-md-12" style="padding:0px !important">
                            <form id="frmReport1">
                                @*<fieldset style="margin-right: 15px !important">
                                    @*<legend>Report Detail</legend>*@
                                <div class="col-md-12">
                                    <div class="col-md-9">
                                        <div class="mt-radio-inline">
                                            <label class="mt-radio mt-radio-outline">
                                                <input type="radio" name="reportTypeRadios" id="rdMonthlyReport" data-value="GPA Monthly Report" value="Monthly"> GPA Monthly Report
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-outline">
                                                <input type="radio" name="reportTypeRadios" id="rdQuarterlyReport" data-value="GPA Quarterly Report" value="Quarterly">GPA Quarterly Report
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 clsMonthly">
                                    <div class="col-md-12">
                                        <div class="mt-radio-inline">
                                            <label class="mt-radio mt-radio-outline">
                                                <input type="radio" name="selectionType" id="rdMonthwise" data-value="Monthwise Report" value="M"> Month wise
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-outline">
                                                <input type="radio" name="selectionType" id="rdDatewise" data-value="Datewise Report" value="D">Date wise
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 clsReport" style="margin-top: 10px;">

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Location
                                            <span class="required">*</span>
                                        </label>
                                        <div class="">
                                            <input type="text" id="txtLocation" value="" name="txtLocation" class="form-control col-md-3 clsClear" placeholder="Select" />
                                            <input type="hidden" id="hdLocation" class="clsClear" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 clsMonthly">
                                        <label class="control-label">Month <span class="required spnMonth">*</span></label>
                                        <div class="">
                                            <input type="text" id="txtMonth" value="" name="txtMonth" class="form-control col-md-3 clsClear clsMonth" disabled placeholder="Select" />
                                            <input type="hidden" id="hdMonth" class="clsClear" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 clsMonthly">
                                        <label class="control-label">Year <span class="required spnMonth">*</span></label>
                                        <div class="">
                                            <input type="text" id="txtYear" value="" name="txtYear" class="form-control col-md-3 clsClear clsMonth" placeholder="Select" />
                                            <input type="hidden" id="hdYear" class="clsClear" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 clsQuarterly">
                                        <label class="control-label">Year <span class="required">*</span></label>
                                        <div class="">
                                            <input type="text" id="txtQuarterYear" value="" name="txtQuarterYear" class="form-control col-md-3 clsClear" placeholder="Select" />
                                            <input type="hidden" id="hdQuarterYear" class="clsClear" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 clsQuarterly">
                                        <label class="control-label">Quarter <span class="required">*</span></label>
                                        <div class="">
                                            <input type="text" id="txtQuarter" value="" name="txtQuarter" class="form-control col-md-3 clsClear" placeholder="Select" />
                                            <input type="hidden" id="hdQuarter" class="clsClear" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 clsReport clsMonthly" style="margin-top: 10px;">
                                    <div class="col-md-6">
                                        <label class="control-label">
                                            Inspection Date<span class="required spnDate">*</span>
                                        </label>
                                        <div class="">
                                            <div class="input-group date-picker input-daterange" data-date-format="dd/mm/yyyy">
                                                <input type="text" id="txtFromInspectionDate" name="txtFromInspectionDate" placeholder="From date" readonly disabled class="form-control col-md-3  clsClear clsDate" />
                                                <span class="input-group-addon"> to </span>
                                                <input type="text" id="txtToInspectionDate" name="txtToInspectionDate" placeholder="To date" readonly disabled class="form-control col-md-3  clsClear clsDate" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Shop
                                        </label>
                                        <div class="">
                                            <input type="text" id="txtShop" value="" name="txtShop" class="form-control col-md-3 clsClear" placeholder="Select" />
                                            <input type="hidden" id="hdShop" class="clsClear" />
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12 clsReport" style="margin-top: 10px;">
                                    <div class="col-md-3 clsMonthly">
                                        <label class="control-label">
                                            Project
                                        </label>
                                        <div class="">
                                            <select name="ddlProject" id="ddlProject" class="mt-multiselect btn btn-default clsSelectClear" multiple="multiple" style="width:100%!important"></select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">Report Type<span class="required">*</span></label>
                                        <div class="">
                                            <input type="text" id="txtReport" value="" name="txtReport" class="form-control col-md-3 clsClear" placeholder="Select" />
                                            <input type="hidden" id="hdReport" class="clsClear" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">&nbsp;</label>
                                        <div class="clsMonthly" style="margin-top:5px !important">
                                            <label class="mt-checkbox mt-checkbox-outline"><input id="isDetailed" name="isDetailed" type="checkbox" /> <span></span></label>
                                            <label class="control-label" for="isDetailed">Detailed Report</label>
                                        </div>
                                    </div>
                                </div>
                                @*</fieldset>*@
                            </form>
                        </div>

                        <div class="col-md-12">
                            <hr />
                            <div class="col-md-12" style="margin-bottom:10px;margin-top: 10px;text-align:right">
                                <button class="btn green" type="button" id="btnPrint" name="btnPrint">Print</button>
                                <button class="btn dark" type="button" id="btnClear" name="btnClear">Clear</button>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- End : Production Detail Report -->

            </div>
        </div>
    </div>
</div>
<script src="~/Content/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Content/assets/pages/scripts/components-bootstrap-multiselect.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/common.js"></script>