﻿@using IEMQSImplementation
@model QMS011
@{
    ViewBag.Title = "Create Header";

    if (@ViewBag.chkProject != null && @ViewBag.chkProject != "")
    {
        Layout = "~/Views/Shared/_DESLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
@if (ViewBag.Error != null)
{
    <script>
        DisplayNotiMessage("error", "@(new HtmlString(ViewBag.Error))", "Error!")
    </script>
}

@if (ViewBag.Success != null)
{
    <script>
        DisplayNotiMessage("success", "@(new HtmlString(ViewBag.Success))", "Success!")
    </script>
}
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<script>
    var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()'=="true"?true:false;

    $(document).ready(function () {


        $("#txtSeamListRev").val("R"+@Model.SeamListRev);
        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });
        if(IsDisplayOnly){
            $("#spanLabel").html("Display SeamList");
            $("#SeamListDescription").attr("readonly", true);
            $("#ReviseRemark").attr("readonly", true);
            $("#btnSaveHeaderAndAddLines").hide();
            $("#btnSendForAprrove").hide();
            $("#btnRevise").hide();
            $("#btnUpload").hide();
            $("#Upload").hide();
            $("#btnRevise").hide();

        }
        else{
            $("#spanLabel").html("Maintain SeamList");
        }
        var isSelectedProject = false;
        var isSelectedQualityProject = false;

        if ('@Model.Status.ToLower()' == '@clsImplementationEnum.SeamListStatus.Approved.GetStringValue().ToLower()' ||
            '@Model.Status.ToLower()' == '@clsImplementationEnum.SeamListStatus.SentForApproval.GetStringValue().ToLower()' ) {
            $("#btnImport").hide();
            $("#btnSendForAprrove").hide();
        }

        if (('@Model.Status.ToLower()' == '@clsImplementationEnum.SeamListStatus.Draft.GetStringValue().ToLower()' ||
            '@Model.Status.ToLower()' == '@clsImplementationEnum.SeamListStatus.Returned.GetStringValue().ToLower()') &&  IsDisplayOnly==false) {
            $("#ReviseRemark").attr("readonly", false);
        }

        //$("#btnImport").click(function () {
        //    $("#btnImport").attr("disabled", "disabled");
        //    $("#uploadForm").css("display", "inline-flex");
        //});

        $("#btnDownloadExcel").click(function () {
            window.location.href = '@Url.Action("ExportToExcel", "MaintainSeamList")?id=' + parseInt($("#HeaderId").val());
        })

        //$('#uploadForm').submit(function () {
        //    showLoading(true);
        //});

        
        if ("@ViewBag.chkProject" != "") {
           
            getProject($("#hdnchkProject").val());
            GetCustomerProjectWise($("#hdnchkProject").val());
            GetContractProjectWise($("#hdnchkProject").val());
           // $("#txtProject").attr('readonly', 'readonly');
        }   
        
        

        $("#txtProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL +"/Utility/General/GetProjectResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectCode };
                        }));
                        if (data.length > 0) {
                            isSelectedProject = true;
                        }
                        else {
                            isSelectedProject = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    $("#txtProject").val(ui.item.label);
                    $("#Project").val(ui.item.value);
                    $("#txtQualityProject").val('');
                    getProject(ui.item.value);
                    GetCustomerProjectWise(ui.item.value);
                    GetContractProjectWise(ui.item.value);
                    event.preventDefault();
                    isSelectedProject = true;
                }
            },
        });

        if ('@ViewBag.Action'.toLowerCase() == "edit") {
            $("#txtProject").val('@ViewBag.Project');
            $("#txtProject").val('@ViewBag.Project');
            $("#txtProject").val('@ViewBag.Project');

            $("#txtProject").attr('readonly', 'readonly');
            $("#txtQualityProject").val('@ViewBag.QualityProject');
            $("#txtQualityProject").attr('readonly', 'readonly');
            ShowLines(parseInt($("#HeaderId").val()));


        }
        $('#frmCreateHeader').validate({
            rules: {
                txtProject: {
                    required: true
                },
                txtQualityProject: {
                    required: true,
                    maxlength: 100
                },
                txtCustomer: {
                    required: true,
                },
                SeamListNo: {
                    required: true,
                },
                txtContractNo: {
                    required: true,
                },
                ReviseRemark: {
                    required: true,
                },
            },
            messages: {
                txtProject: {
                    required: "Project is required"
                },
                txtQualityProject: {
                    required: "Quality Project is required"
                },
                txtCustomer: {
                    required: "Customer is required"
                },
                SeamListNo: {
                    required: "SeamListNo is required"
                },
                txtContractNo: {
                    required: "ContractNo is required"
                },
                ReviseRemark: {
                    required: "Revision remarks is required",
                },
            }
        });
        $('#btnAddLines').click(function () {
            bootbox.hideAll();
            if ($('#HeaderId').val() != undefined && $('#HeaderId').val() != '' && parseInt($('#HeaderId').val()) > 0) {
                if ($("#Status").val() == '@clsImplementationEnum.SeamListStatus.SentForApproval.GetStringValue()') {
                    bootbox.alert("This document is sent for approval, You can't add Seam now");
                }
                else if ($("#Status").val() == '@clsImplementationEnum.SeamListStatus.Approved.GetStringValue()') {
                    bootbox.confirm("This document is approved, Do you want to revise ?", function (result) {
                        if (result) {
                            bootbox.hideAll();
                            AddLines($('#HeaderId').val());
                        }
                    });
                }
                else {
                    AddLines($('#HeaderId').val());
                }
            }
            else {
                bootbox.alert("Please add header or select project and Quality from dropdown");
            }
        });
        $('#btnCancel').click(function () {
            
            if (IsDisplayOnly) {
                if ('@ViewBag.chkProject' != null && '@ViewBag.chkProject' != "") {
                    window.location.href = WebsiteURL + '/IPI/MaintainSeamList/DisplaySeamList'+ "?Project=" + '@ViewBag.chkProject';
                }
                else {
                    window.location.href = WebsiteURL + '/IPI/MaintainSeamList/DisplaySeamList';
                }
                
            }
            else
            {
                if ('@ViewBag.chkProject' != null && '@ViewBag.chkProject' !="") {

                    window.location.href = WebsiteURL + '/IPI/MaintainSeamList/Index' + "?Project=" + '@ViewBag.chkProject';
                }
                else {
                    window.location.href = WebsiteURL + '/IPI/MaintainSeamList/Index';
                }

            }
        });

        function AddLines(headerId) {
            bootbox.hideAll();

            $.ajax({
                url: WebsiteURL +"/IPI/MaintainSeamList/AddLinesPartial",
                type: "POST",
                datatype: "html",
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: { headerId: headerId, lineId: 0, project: $("#Project").val(), qualityProject: $("#QualityProject").val() },
                success: function (data) {
                    bootbox.dialog({
                        title: "Add Seam for " + $('#SeamListNo').val(),
                        size: 'large',
                        message: data,
                        buttons: {
                            'confirm': {
                                label: 'Save',
                                className: 'btn green',
                                callback: function () {
                                    if ($("#frmLines").valid()) {
                                        var formdata = new FormData();
                                        var frmlinesValues = $("#frmLines").serializeArray();
                                        $.each(frmlinesValues, function (key, input) {
                                            formdata.append(input.name, input.value);
                                        });

                                        $.ajax({
                                            url: WebsiteURL +"/IPI/MaintainSeamList/SaveLines",
                                            type: "POST",
                                            contentType: false,
                                            processData: false,
                                            datatype: "json",
                                            data: formdata,
                                            async: false,
                                            beforeSend: function () {
                                                showLoading(true);
                                            },
                                            complete: function () {
                                                showLoading(false);
                                            },
                                            success: function (data) {
                                                if (data.Key == true && data.Value > 0) {
                                                    $("#tblLines").DataTable().ajax.reload();
                                                    DisplayNotiMessage("success", "Seam saved successfully", "Success");
                                                    $("#btnSendForAprrove").show();
                                                    $("#Status").val(data.Status);
                                                    $("#spanStatus").html("Status : " + data.Status);
                                                    $("#txtSeamListRev").val("R"+data.SeamListRev);
                                                    AddLines(data.Value);
                                                }
                                                else {
                                                    DisplayNotiMessage("error", data.Value, "Error");
                                                }
                                            }
                                        });
                                    }
                                    else {
                                        return false;
                                    }
                                }
                            },
                            'cancel': {
                                label: 'Cancel',
                                className: 'btn green'
                            }
                        }

                    })
                },
                error: function () {
                    DisplayNotiMessage("error", "Error occured please try again", "Error");
                }
            });
        };

        $("#btnSaveHeaderAndAddLines").click(function () {

            if ($("#frmCreateHeader").valid()) {
                var formData = new FormData();
                var frmSaveHeaderValue = $("#frmCreateHeader").serializeArray();
                $.each(frmSaveHeaderValue, function (key, input) {
                    formData.append(input.name, input.value);
                });
                var status = $("#Status").val();
                if (status != undefined && status != null && status.toLowerCase() == "approved") {
                    bootbox.confirm("Are you sure you want to revise this record?",
                    function (result) {
                        if (result) {
                            $.ajax({
                                url: WebsiteURL +"/IPI/MaintainSeamList/SaveHeader",
                                type: "POST",
                                data: formData,
                                contentType: false,
                                processData: false,
                                async: false,
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                success: function (data) {
                                    if (data.Key == true && data.Value > 0) {
                                        DisplayNotiMessage("success", "Header Successfully Updated", "Success");
                                        //ShowLines(data.Value);
                                        window.location.href = WebsiteURL + "/IPI/MaintainSeamList/AddHeader?headerId=" + data.Value;
                                        //$("#btnSendForAprrove").show();
                                        //$("#Status").val(data.Status);
                                        //$("#spanStatus").html("Status : " + data.Status);
                                        //$("#txtSeamListRev").val("R"+data.SeamListRev);
                                    }
                                    else {
                                        bootbox.alert(data.Value);
                                    }
                                }
                            })
                        }
                        else {
                            window.location.href = WebsiteURL +"/IPI/MaintainSeamList/Index";
                        }
                    });
                }
                else {
                    $.ajax({
                        url: WebsiteURL + "/IPI/MaintainSeamList/SaveHeader?" + "Project=" + $("#hdnchkProject").val(),
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data.Key == true && data.Value > 0) {
                                {                                    
                                    if ($("#hdnchkProject").val() != null && $("#hdnchkProject").val()!="") {
                                        if (data.Key) {
                                            DisplayNotiMessage("success", "Header saved successfully", "Success");
                                            window.location.href = WebsiteURL + "/IPI/MaintainSeamList/AddHeader?headerId=" + data.Value + "&Project=" + $("#hdnchkProject").val();
                                        }
                                        else {
                                            DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                        }
                                    }
                                    else {
                                        if (data.Key) {
                                            DisplayNotiMessage("success", "Header saved successfully", "Success");
                                            window.location.href = WebsiteURL + "/IPI/MaintainSeamList/AddHeader?headerId=" + data.Value;
                                        }
                                        else {
                                            DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                        }
                                    }

                                    //if (data.Key) {
                                    //    DisplayNotiMessage("success", "Header saved successfully", "Success");
                                    //    window.location.href = WebsiteURL + "/IPI/MaintainSeamList/AddHeader?headerId=" + data.Value;
                                    //}
                                    //else{
                                    //    DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                    //}

                                    //$("#HeaderId").val(data.Value);
                                }
                                //$("#btnSendForAprrove").show();
                                //$("#Status").val(data.Status);
                                //$("#spanStatus").html("Status : " + data.Status);
                                //$("#txtSeamListRev").val("R"+data.SeamListRev);
                                //ShowLines(data.Value);

                            } else {
                                bootbox.alert(data.Value);
                            }

                        }
                    })
                }
            }
        });


        $("#btnHistoryData").click(function () {
            $.ajax({
                type: "POST",
                url: WebsiteURL +"/IPI/MaintainSeamList/GetHistoryDetails",
                datatype: 'html',
                async: false,
                data: { headerId: '@Model.HeaderId', forAction: 'maintain' },
                success: function (result) {
                    bootbox.dialog({
                        title: 'History Details',
                        message: result,
                        size: 'large',
                        buttons: {
                            'cancel': {
                                label: 'Close',
                                className: 'btn red'
                            }
                        }
                    });
                },
                error: function () {
                }
            });
        });

        $("#btnRevise").on('click', function () {
            ReviseHeader('@Model.HeaderId', "/IPI/MaintainSeamList/CreateRevision", $('#txtSeamListRev'), $('#SeamListRev'), $('#spanStatus'),ReviseHeaderCallBack);
            @*var reasonofnextissue = $('#ReasonOfIssue').val();
            if (reasonofnextissue != "") {
            bootbox.confirm({
                message: "Do you want to revise this seamlist?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success',
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: "/IPI/MaintainSeamList/CreateRevision",
                            type: "POST",
                            data: { HeaderId :@Model.HeaderId },
                            dataType: "json",
                            async: false,
                            success: function (data) {
                                if (data.Key) {
                                    //$('#spanStatus').text(data.Status);
                                    //$("#SeamListRev").val(data.RevNo);
                                    //DisplayNotiMessage("success", data.Value, "Success");
                                    window.location.reload();
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                            }
                        })
                    }
                }

            });
            }
            else
            {
                DisplayNotiMessage("error", "Reason of issue is mandatory", "Error");
            }*@
        });

        $("#btnSendForAprrove").click(function () {

            $('#tblSeamLines tbody tr td input[type="text"]').each(function () {
                $this = $(this);
                if ($this.attr('colname') != null && $this.attr('colname') == ("AssemblyNo")) {
                    $this.attr("required", "required");
                }
            })
            if ($("#frmLinesDetails").valid()) {
                if ($("#HeaderId").val() != undefined && $("#HeaderId").val() != '' && $("#HeaderId").val() > 0) {
                    bootbox.confirm({
                        message: "Do you want to send this seamlist for approval?",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-success',
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                $.ajax({
                                    url: WebsiteURL + "/IPI/MaintainSeamList/SendForApprove?"+ "Project=" + $("#hdnchkProject").val(),
                                    type: "POST",
                                    data: { headerId: $("#HeaderId").val() },
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    success: function (data) {
                                        if (data.Key == true) {
                                            
                                            if ('@ViewBag.chkProject' != null && '@ViewBag.chkProject' != "") {

                                                window.location.href = WebsiteURL + "/IPI/MaintainSeamList/Index" + "?Project=" + '@ViewBag.chkProject';
                                            }
                                            else {
                                                window.location.href = WebsiteURL + "/IPI/MaintainSeamList/Index";
                                            }
                                            //window.location.href = WebsiteURL +"/IPI/MaintainSeamList/Index";
                                            DisplayNotiMessage("success", data.Value, "Success");
                                        }
                                        else {
                                            bootbox.alert(data.Value)
                                        }
                                    }
                                });
                            }
                        }

                    });
                }
                else {
                    bootbox.alert("Please add Header and Lines before send");
                }
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });
        $('.key-numeric').keypress(function (e) {
            var verified = (e.which == 8 || e.which == undefined || e.which == 0) ? null : String.fromCharCode(e.which).match(/[^0-9]/);
            if (verified) { e.preventDefault(); }
        });

    });

    function ClearControls() {
        $("#txtProject").val('');
        $("#Project").val('');
        $("#txtQualityProject").val('');
        $("#QualityProject").val('');
        $("#txtCustomer").val('');
        $("#txtContractNo").val('');
        $("#SeamListNo").val('');
        $("#spanStatus").html("Status : Draft");
        $("#Status").val("Draft");
        $("#HeaderId").val(0);
        $("#divLines").hide();
        $("#btnSendForAprrove").hide();
    }
    function ShowLines(headerId) {

        if ($("#HeaderId").val() != undefined && $("#HeaderId").val() != '' && $("#HeaderId").val() > 0) {
            $.ajax({
                type: "POST",
                url: WebsiteURL +"/IPI/MaintainSeamList/FetchLinesData",
                datatype: 'html',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: { HeaderId: headerId,IsDisplayOnly:IsDisplayOnly },
                success: function (result) {                    
                    $("#divLines").show();
                    $("#divLinesGridRender").html(result);
                },
                error: function () {
                }
            });
            $("#divLines").show();
            //var oTable = $("#tblLines").dataTable({
            //    "language": {
            //        "aria": {
            //            "sortAscending": ": activate to sort column ascending",
            //            "sortDescending": ": activate to sort column descending"
            //        },
            //        "emptyTable": "No data available in table",
            //        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            //        "infoEmpty": "No entries found",
            //        "infoFiltered": "(filtered1 from _MAX_ total entries)",
            //        "lengthMenu": "_MENU_ entries",
            //        "search": "Search:",
            //        "zeroRecords": "No matching records found"
            //    },
            //    "bProcessing": true,
            //    "bServerSide": true,
            //    "stateSave": false,
            //    "bDestroy": true,
            //    buttons: [],
            //    responsive: true,
            //    "order": [
            //        [0, 'asc']
            //    ],
            //    "lengthMenu": [
            //        [5, 10, 15, 20],
            //        [5, 10, 15, 20]
            //    ],
            //    "pageLength": 10,
            //    'iDisplayLength': 10,
            //    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            //    "sAjaxSource": "/IPI/MaintainSeamList/loadLinesDataTable?headerId=" + headerId,
            //    "fnServerParams": function (aoData) {
            //        aoData.push({ "name": "type", "value": "sdf" }
            //                    //{ "name": "CompanyId", "value": $('#ddlCompanyList').val() },
            //                    //{ "name": "UserTypeId", "value": $('#ddlUserTypeList').val()}
            //                    );
            //    },
            //    "fnServerData": function (sSource, aoData, fnCallback) {
            //        $.ajax({
            //            'dataType': 'json',
            //            'type': 'POST',
            //            'url': sSource,
            //            'data': aoData,
            //            'success': fnCallback
            //        });
            //    },
            //    "aoColumns": [
            //        {
            //            "sClass": "center",
            //            "sWidth": "5%",
            //        },
            //        {
            //            "sClass": "hide",// "details-control",
            //            "bSortable": false,
            //            "sWidth": "5%",
            //        },
            //        {
            //            "sClass": "hide",
            //            "sWidth": "5%",
            //            "bSortable": false,
            //        },
            //           {
            //               "sClass": "center",
            //           },
            //            {
            //                "sClass": "center",
            //            },
            //            {
            //                "sClass": "center",
            //            },
            //            {
            //                "sClass": "center",
            //            },
            //           {
            //               "sClass": "center",
            //           },
            //            {
            //                "sClass": "center",
            //            },
            //            {
            //                "sClass": "center",
            //            },
            //            {
            //                "sClass": "center",
            //            },
            //            {
            //                "sClass": "center",
            //            },
            //            {
            //                "sClass": "center",
            //            },
            //           {
            //               "sClass": "center",
            //           },
            //          {
            //              "sClass": "center",
            //          },
            //         {
            //             "sClass": "center",
            //         },
            //        {
            //            "bSortable": false,
            //            "sClass": "center",
            //            "sWidth": "5%",
            //            "render": function (data, type, row, meta) {
            //                var buttons = ""; //addSubLines(' + row[1] + ', ' + row[2] + ', ' + row[3] + ')
            //                var functionCallEdit = "EditLine( " + row[1] + "," + row[2] + ")";
            //                var functionCallDelete = "DeleteLine( " + row[1] + "," + row[2] + ")";
            //                //buttons = '<center><i id="btnEditLine" name="btnAction" style="cursor:pointer;"  Title="Edit Line" class="fa fa-pencil-square-o"  onClick="' + functionCallEdit + '" ></i>&nbsp;&nbsp<i id="btnDelete" name="btnAction" style="cursor:pointer;" Title="Delete Line" class="fa fa-trash-o" onClick="' + functionCallDelete + '"></i></center>';
            //                buttons = '<center><i id="btnEditLine" name="btnAction" style="cursor:pointer;"  Title="Edit Line" class="fa fa-pencil-square-o"  onClick="' + functionCallEdit + '" ></i></center>';
            //                return buttons;
            //            }
            //        },
            //    ]
            //})


        }
    }


    function IfQualityProjectExist(qualityProjectCode) {
        var returnResponse = false;
        $.ajax({
            url: WebsiteURL +"/IPI/MaintainSeamList/CheckQualityProjectExist",
            type: 'POST',
            async: false,
            data: { qualityProjectCode: qualityProjectCode, projectCode: $("#Project").val() },
            success: function (response) {
                if (response.toUpperCase() == "FALSE") {
                    returnResponse = false;
                }
                else {
                    returnResponse = true;
                }
            }
        });
        return returnResponse;
    }
    function GetCustomerProjectWise(projectCode) {
        $.ajax({
            url: WebsiteURL +"/Utility/General/GetCustomerProjectWise",
            data: { projectCode: projectCode },
            type: 'POST',
            async: false,
            success: function (data) {
                if (data != null) {
                    $("#txtCustomer").val(data.Code + " - " + data.Name);
                    $("#Customer").val(data.Code);
                }
                else {
                    $("#txtCustomer").val('');

                }
            }
        });
    }

    function GetContractProjectWise(projectCode) {
        $.ajax({
            url: WebsiteURL +"/Utility/General/GetContractProjectWise",
            data: { projectCode: projectCode },
            type: 'POST',
            async: false,
            success: function (data) {
                if (data != null) {
                    $("#txtContractNo").val(data.Code + " - " + data.Name);
                    $("#ContractNo").val(data.Code);
                }
                else {
                    $("#txtContractNo").val('');
                }
            }
        });
    }
    function GetMaxSeamListNo(qualityProjectCode) {
        $.ajax({
            url: WebsiteURL +"/IPI/MaintainSeamList/GetMaxSeamListNo",
            data: { qualityProjectCode: qualityProjectCode },
            type: 'GET',
            async: false,
            success: function (response) {
                var arr = response.split("@@");
                $("#SeamListNo").val(arr[0]);
                $("#DocNo").val(arr[1]);

            }
        });
    }


    function DeleteLine(headerId, lineId) {

        if ($("#Status").val() == "@clsImplementationEnum.SeamListStatus.SentForApproval.GetStringValue()") {
            bootbox.alert("This document is sent for approval, You can't edit improvements now");
        }
        else {
            var confirmMsg = "";
            if ($("#Status").val() == "@clsImplementationEnum.SeamListStatus.Approved.GetStringValue()") {
                confirmMsg = "Do you want to revise approved document.?"
            }
            else {
                confirmMsg = "Do you want to delete Improvement?"
            }

            bootbox.confirm(confirmMsg,
            function (result) {
                if (result) {

                    $.ajax({
                        url: WebsiteURL +"/IPI/MaintainSeamList/DeleteLines",
                        type: "POST",
                        data: { headerId: headerId, lineId: lineId },
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        success: function (data) {
                            if (data.Key == true) {
                                DisplayNotiMessage("success", "Improvement Deleted Successfully", "Success");
                                $("#btnSendForAprrove").show();
                                $("#Status").val(data.Status);
                                $("#spanStatus").html("Status : " + data.Status);
                                $("#txtSeamListRev").val("R" + data.SeamListRev);
                            }
                            else {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                            $("#tblLines").DataTable().ajax.reload();
                        },
                        error: function (data) {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                    });
                }
                bootbox.hideAll();
                $(".modal-backdrop").remove()

            })
        }
    }
    function EditLine(headerId, lineId) {

        if ($("#Status").val() == "@clsImplementationEnum.SeamListStatus.SentForApproval.GetStringValue()") {
            bootbox.alert("This document is sent for approval, You can't edit improvements now");
        }
        else {
            var confirmMsg = "";
            if ($("#Status").val() == "@clsImplementationEnum.SeamListStatus.Approved.GetStringValue()") {
                confirmMsg = "Do you want to revise approved document.?"
            }

            else {
                confirmMsg = "Do you want to edit document?"
            }
            bootbox.confirm(confirmMsg,
            function (result) {
                if (result) {
                    bootbox.hideAll();
                    $(this).remove();
                    $.ajax({
                        url: WebsiteURL +"/IPI/MaintainSeamList/AddLinesPartial",
                        type: "POST",
                        datatype: "html",
                        async: false,
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        data: { headerId: headerId, lineId: lineId, project: '@Model.Project', qualityProject: '@Model.QualityProject' },
                        success: function (data) {
                            bootbox.dialog({
                                title: "Add Seam for " + $('#SeamListNo').val(),
                                message: data,
                                size: 'large',
                                buttons: {
                                    'confirm': {
                                        label: 'Save',
                                        className: 'btn green',
                                        callback: function () {
                                            if ($("#frmLines").valid()) {
                                                var formdata = new FormData();
                                                var frmlinesValues = $("#frmLines").serializeArray();
                                                $.each(frmlinesValues, function (key, input) {
                                                    formdata.append(input.name, input.value);
                                                });

                                                $.ajax({
                                                    url: WebsiteURL +"/IPI/MaintainSeamList/SaveLines",
                                                    type: "POST",
                                                    contentType: false,
                                                    processData: false,
                                                    datatype: "json",
                                                    data: formdata,
                                                    success: function (data) {
                                                        if (data.Key == true && data.Value > 0) {
                                                            $("#tblLines").DataTable().ajax.reload();
                                                            DisplayNotiMessage("success", "Improvements saved successfully", "Success");
                                                            ClearLineControl();
                                                            $("#btnSendForAprrove").show();
                                                            $("#Status").val(data.Status);
                                                            $("#spanStatus").html("Status : " + data.Status);
                                                            $("#txtSeamListRev").val("R" + data.SeamListRev);
                                                        }
                                                        else {
                                                            DisplayNotiMessage("error", data.Value, "Error");
                                                        }


                                                    }
                                                });
                                            }
                                            else {
                                                return false;
                                            }

                                            bootbox.hideAll();
                                            $(".modal-backdrop").remove()
                                        }
                                    },
                                    'cancel': {
                                        label: 'Cancel',
                                        className: 'btn green',
                                        callback: function () {
                                            bootbox.hideAll();
                                            $(".modal-backdrop").remove()
                                        },
                                    }
                                }
                            })
                        },
                        error: function () {
                            DisplayNotiMessage("error", "Error occured please try again", "Error");
                        }
                    });
                }
            })
        }
    }

    function getProject(id) {
        $.ajax({
            url: WebsiteURL +'/IPI/MaintainSeamList/GetProject',
            type: "Post",
            async: false,
            dataType: "JSON",
            data: { qms: id },
            success: function (response) {
                if (response.Project != null && response.Project != "" && response.Project != undefined) {

                    FillAutoComplete1($("#txtQualityProject"), response.Qualityproject, $("#QualityProject"));


                }
                else {
                    ///  $("#Stage").prop('disabled', true);

                    bootbox.alert('Failed to retrieve Quality Project');
                }

            },
            error: function (ex) {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                bootbox.alert('Failed to retrieve status.' + ex);
            }
        });
        return false;
    }

    function FillAutoComplete1(element, sourceList, hdElement) {

        element.autocomplete({
            source: function (request, response) {
                //var array=response($.map(sourceList, function (item) {
                //    return { label: item.CategoryDescription, value: item.CategoryDescription, id: item.Code };
                //}));
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                        //label: item.CategoryDescription,
                        //value: item.CategoryDescription,
                        //id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                var qprj =  ui.item.id.split("#");
                $(this).val(qprj[0]);
                $(hdElement).val(qprj[0]);

                $("#Location").val(qprj[1]);

                var proj = $("#txtProject").val();
                var qualityproject = $("#txtQualityProject").val();
                //alert(qualityproject);
                if (qualityproject != '') {

                    //return false;



                    var prjarr = proj.split('-');
                    var proj1 = prjarr[0];

                    // ui.item.value = proj;
                    $.ajax({
                        url: WebsiteURL +"/IPI/MaintainSeamList/GetQualityProjectDetail",
                        type: 'POST',
                        // data: { project: ui.item.value },
                        // data: { project: "' + filter + '" },
                        //data: proj,
                        //data: '{"project":"' + proj1 + '"}',
                        data: { project: qualityproject },
                        success: function (res) {
                            if (res.Condition === "edit") {
                                bootbox.dialog({
                                    //title: "Confirmation Of " + $("#QualityProject").val(),
                                    //message: "SeamList For " + $("#QualityProject").val() + " is already created, Do you want edit existing Seamlist or create new ?",
                                    title: "Confirmation Of " + $("#txtQualityProject").val(),
                                    message: "SeamList For " + $("#txtQualityProject").val() + " is already created, Do you want edit existing Seamlist or create new ?",


                                    buttons: {
                                        'Edit': {
                                            label: 'Edit Existing',
                                            className: 'btn green',
                                            callback: function () {                                                
                                                $("#SeamListNo").val(res.SeamListNo);
                                                $("#spanStatus").html("Status : " + res.Status + "");
                                                $("#Status").val(res.Status);
                                                $("#HeaderId").val(res.HeaderId);
                                                $("#DocNo").val(res.DocNo);
                                                $("#SeamListDescription").val(res.SeamListDescription);
                                                $("#ReviseRemark").val(res.ReviseRemark);
                                                ShowLines(res.HeaderId);
                                            }
                                        },
                                        'Add': {
                                            label: 'Add',
                                            className: 'btn blue',
                                            callback: function () {
                                                // GetMaxSeamListNo(ui.item.value);
                                                GetMaxSeamListNo(qualityproject);
                                                $("#spanStatus").html("Status : Draft");
                                                $("#Status").val("Draft");
                                                $("#HeaderId").val(0);
                                                $("#divLines").hide();
                                                //$("#DocNo").val(res.DocNo);
                                                $("#btnSendForAprrove").hide();
                                            }
                                        },
                                        'cancel': {
                                            label: 'Cancel',
                                            className: 'btn red'
                                        }
                                    }

                                });
                            }
                            else if (res.Condition === "approved") {
                                bootbox.confirm("This document is approved, Do you want to revise.?", function (result) {
                                    if (result) {
                                        $("#SeamListNo").val(res.SeamListNo);
                                        $("#spanStatus").html("Status : " + res.Status + "");
                                        $("#Status").val(res.Status);
                                        $("#HeaderId").val(res.HeaderId);
                                        $("#DocNo").val(res.DocNo);
                                        ShowLines(res.HeaderId);
                                    }
                                    else {
                                        ClearControls();
                                    }
                                });
                            }
                            else if (res.Condition === "sentforapproval") {
                                bootbox.alert("This Document is sent for approval, You can't edit now.");
                                ClearControls();
                            }
                            else {
                                $("#SeamListNo").val(res.SeamListNo);
                                $("#spanStatus").html("Status : " + res.Status + "");
                                $("#Status").val(res.Status);
                                $("#HeaderId").val(0);
                                $("#DocNo").val(res.DocNo);

                            }
                        }
                    });
                }

            },
            change: function (event, ui) {
                if (ui.item == null) {
                    element.val('');
                    element.focus();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });

    }
</script>
<input type="hidden" id="hdnchkProject" value="@ViewBag.chkProject" />
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title" id="spanLabel"></span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning">
                        <span style="font-weight:bolder" id="spanStatus">Status : @Html.DisplayFor(m => m.Status) </span>
                        @Html.HiddenFor(m => m.Status)
                    </div>
                </div>
                <div id="dvHeader">
                    <form id="frmCreateHeader" class="form-horizontal">
                        @Html.HiddenFor(m => m.HeaderId)
                        @Html.HiddenFor(m => m.DocNo)
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Contract & Project Detail</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">Contract<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtContractNo" name="txtContractNo" value="@ViewBag.ContractNo" readonly="readonly" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.ContractNo)
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Customer<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtCustomer" name="txtCustomer" value="@ViewBag.Customer" readonly="readonly" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.Customer)
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Project<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtProject" name="txtProject" value="@ViewBag.Project" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.Project)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="col-md-12" style="padding:0px !important">
                                                <div class="col-md-6" style="padding-left:0px !important;padding-right:1% !important">
                                                    <label class="control-label">Quality Project<span class="required"> * </span></label>
                                                    <div class="">
                                                        <input type="text" id="txtQualityProject" name="txtQualityProject" value="@ViewBag.QualityProject" class="form-control col-md-3" />
                                                        @Html.HiddenFor(m => m.QualityProject)
                                                        @Html.HiddenFor(m => m.Location)
                                                    </div>
                                                </div>
                                                <div class="col-md-6" style="padding-left:1% !important;padding-right:0px !important">
                                                    <label class="control-label">Seam List No<span class="required"> * </span></label>
                                                    <div class="">
                                                        @Html.TextBoxFor(m => m.SeamListNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <label class="control-label">Seam List Description</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.SeamListDescription, new { @class = "form-control col-md-3", @maxlength = "100" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Revision Detail</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label class="control-label">Revision Remarks<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextAreaFor(m => m.ReviseRemark, new { @class = "form-control", @maxlength=100, @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Rev No</label>
                                            <div class="">
                                                <input type="text" id="txtSeamListRev" name="txtSeamListRev" readonly="readonly" class="form-control col-md-3" />
                                                @Html.HiddenFor(model => model.SeamListRev)
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            @if (Model.SeamListRev > 0)
                                            {
                                                <button type="button" id="btnShowRevisionHistory" class="btn blue" style="width:50px;margin-top:27px; text-align:center" onclick="javascript:return ShowHideRevisionHistory(this)">
                                                    <span id="spansign" class="fa fa-plus"></span>
                                                </button>
                                            }
                                        </div>
                                        <div class="col-md-6">
                                            @if (Model.Status.ToLower() == clsImplementationEnum.PAMStatus.Returned.GetStringValue().ToLower())
                                            {
                                                <label class="control-label">Return Remarks<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(model => model.Comments, new { @class = "form-control col-md-3", @maxlength = "200", @readonly = "readonly" })
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div id="divRevisionHistory" style="max-height:250px;overflow:auto;margin-top:10px;">

                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                    <hr>
                </div>
                <div class="row" id="divLines" style="display:none">
                    @*<div class="col-md-2" style="text-align:left">
                            <input type="button" class="btn green" id="btnDownloadExcel" value="Export to Excel" />
                        </div>*@
                    <div class="col-md-12" style="text-align:right">
                        @*@using (Html.BeginForm("AddHeader", "MaintainSeamList", FormMethod.Post, new { enctype = "multipart/form-data", style = "display:none", id = "uploadForm" }))
                            {
                                @Html.HiddenFor(m => m.HeaderId)

                                <input type="file" class="btn green" id="dataFile" name="upload" />
                                <input type="submit" name="btnUpload" class="btn blue" value="Upload" />

                            }*@
                        <form id="uploadForm" enctype="multipart/form-data" style="display:none;">
                            <input type="file" class="btn green" id="upload" name="upload" />
                            <input type="button" id="btnUpload" name="btnUpload" class="btn blue" value="Upload" />
                        </form>
                        @*<button class="btn green" style="margin-right:5px;" type="button" id="btnImport">Import Excel</button>*@
                    </div>

                    <br />
                    <br />
                    <div class="col-md-12" id="divLinesGridRender">
                    </div>
                </div>
                <hr />
                <div class="row" style="text-align:right;">
                    <div class="col-md-12" style="text-align:right;">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-8">
                            @if ((Model.Status.ToLower() == clsImplementationEnum.PAMStatus.Draft.GetStringValue().ToLower() || Model.Status.ToLower() == clsImplementationEnum.PAMStatus.Returned.GetStringValue().ToLower()) && ViewBag.IsDisplayOnly.ToString().ToLower() != "true")
                            {
                                <input type="button" class="btn save" id="btnSaveHeaderAndAddLines" value="Save" />
                                <input type="button" class="btn submit" id="btnSendForAprrove" value="Submit" />
                            }
                            @if (Model.Status.ToLower() == clsImplementationEnum.PAMStatus.Approved.GetStringValue().ToLower() && ViewBag.IsDisplayOnly.ToString().ToLower() != "true")
                            {
                                <input type="button" class="btn revise" id="btnRevise" value="Revise" />
                            }
                            <input type="button" id="btnCancel" class="btn btnclose" value="Close" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {

        $("#uploadForm").css("display", "none");

        $("#btnImport").click(function () {
            $("#btnImport").attr("disabled", "disabled");
            $("#uploadForm").css("display", "inline-flex");
        });

        $('#btnUpload').click(function () {
            console.log("called");
            var fileUpload = $("#upload").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            fileData.append("HeaderId", '@Model.HeaderId');
            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            $.ajax({
                url: WebsiteURL +'/IPI/MaintainSeamList/ReadExcel1',
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                type: 'POST',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data != null) {
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                            $("#upload").val('');
                            $("#tblSeamLines").DataTable().ajax.reload();
                        }
                        else {
                            if (data.FileName != null) {
                                $("#upload").val('');
                                window.location = WebsiteURL +'/Utility/General/Download?file=' + data.FileName;
                            }
                            else {
                                $("#upload").val('');
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                        }
                    }
                    $("#uploadForm").css("display", "none");
                    $("#btnImport").attr("disabled", false);
                }
            });
        });
    });
    function BindRevisionHistory(HeaderId) {
        $('#divDINLines').load(
            $.ajax({
                url: WebsiteURL +"/IPI/MaintainSeamList/GetSeamListHistory",
                type: "POST",
                data: { HeaderId: HeaderId },
                dataType: "html",
                success: function (data) {
                    $('#divRevisionHistory').html(data);
                },
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                }
            })
      );
    }
    function ShowHideRevisionHistory(btn) {
        $btn = $(btn);
        spansign = $btn.find('#spansign');
        if (spansign.hasClass("fa-plus")) {
            spansign.removeClass("fa-plus");
            spansign.addClass("fa-minus");
            //if ($('#tblSeamListRevisionHistory tr').length==0) {
            BindRevisionHistory('@Model.HeaderId');
            //}
            //else {
            //    $('#tblSeamListRevisionHistory').show();
            //}
        }
        else {
            spansign.removeClass("fa-minus");
            spansign.addClass("fa-plus");
            $('#tblSeamListRevisionHistory').hide();
        }
    }

    function ReviseHeaderCallBack() {
        window.location.reload();
    }
</script>