﻿
@{
    ViewBag.Title = "Maintain Seam List Preparation";

    if (@ViewBag.chkProject != null && @ViewBag.chkProject != "")
    {
        Layout = "~/Views/Shared/_DESLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

<script>
    
    var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()' == "true" ? true : false;
   
    $(document).ready(function () {
        if (IsDisplayOnly) {
            GetHeaderGridDataPartial('All', IsDisplayOnly);
            $("#liPending").remove();
           $("#liAll").remove();
            $("#spanLabel").html("Display");
            $("#btnaddseamlist").hide();
        }
        else {
            GetHeaderGridDataPartial('Pending', IsDisplayOnly);
            $("#spanLabel").html("Maintain");
            $("#btnaddseamlist").show()
        }
       // GetHeaderGridDataPartial('Pending');
        $('a[name="tabStatus"]').click(function () {
            GetHeaderGridDataPartial($(this).attr('spara'), IsDisplayOnly);
        });

        //$("#btnHistoryData").click(function () {

        //    $.ajax({
        //        type: "POST",
        //        url: "/IPI/MaintainSeamList/GetHistoryDetails",
        //        datatype: 'html',
        //        async: false,
        //        data: {  },
        //        success: function (result) {
        //            bootbox.dialog({
        //                title: 'History Details',
        //                message: result,
        //                size: 'large',
        //                buttons: {
        //                    'cancel': {
        //                        label: 'Close',
        //                        className: 'btn green'
        //                    }
        //                }
        //            });
        //        },
        //        error: function () {
        //        }
        //    });
        //});


    });
    function GetHeaderGridDataPartial(status, IsDisplayOnly) {
        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/MaintainSeamList/GetHeaderGridDataPartial",
            data: { status: status },
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { status: status, IsDisplayOnly: IsDisplayOnly},
            success: function (result) {
              
                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                }
                else {
                    $("#portlet_comments_2").html(result);
                    //if (IsDisplayOnly != "true") {
                    //   // $("liAll").addClass("active");
                    //    $("#portlet_comments_2").html(result);
                    //}
                    //else
                    //{
                    //    $("#portlet_comments_1").removeClass('active');
                    //    $("#portlet_comments_2").addClass('active');
                    //    $("#portlet_comments_2").html(result);
                    //}
                   
                }
            },
            error: function () {
            }
        });
    }


</script>

<input type="hidden" id="hdnchkProject" value="@ViewBag.chkProject" />
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="page-title">
                                @*Maintain Seam List*@
                                <span id="spanLabel"></span> Seam List
                                <small></small>
                            </h1>
                        </div>
                        <div class="col-md-6" style="text-align:right">
                            @*<button class="btn green" style="margin-right:5px;"  type="button" id="btnHistoryData">History</button>*@

                            @if (@ViewBag.chkProject != null && @ViewBag.chkProject != "")
                            {                                
                                <a href="~/IPI/MaintainSeamList/AddHeader?Project=@ViewBag.chkProject" class="btn green" id="btnaddseamlist">Add New</a>
                            }
                            else
                            {
                                <a href="~/IPI/MaintainSeamList/AddHeader" class="btn green" id="btnaddseamlist">Add New</a>
                            }

                            @*<a href="~/IPI/MaintainSeamList/AddHeader" class="btn green" id="btnaddseamlist">New</a>*@
                        </div>
                    </div>
                </div>

                <div class="portlet-title tabbable-line">
                    <ul class="nav nav-tabs">
                        <li class="active" id="liPending">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                        </li>
                        <li id="liAll">
                            <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">
                        </div>
                        <div class="tab-pane active" id="portlet_comments_2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





