﻿@model IEMQSImplementation.ATH020
<div class="page-content dvDisabled">
    <div class="portlet light ">
        <div class="form-body">
            @*<div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                     <span class="page-title">Access Request</span>
                    </div>
                </div>*@
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmAccessRequest" }))
            {
                @Html.HiddenFor(model => model.RequestId)
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Request No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.RequestNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <label class="control-label">User</label>
                                    <div class="">
                                        <input id="UserPS" value="@ViewBag.UserPS" type="text" class="form-control col-md-3" readonly="readonly" name="txtPSNo" colname= "PSNo" />
                                        @Html.HiddenFor(m => m.PSNo, new { @class = "form-control col-md-3" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">
                                        BU
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="">
                                        <input type="text" id="txtBU" name="txtBU" class="form-control col-md-3" placeholder="Select" colname= "BU" />
                                        @Html.HiddenFor(m => m.BU)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">
                                        Location
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="">
                                        <input type="text" id="txtLocation" name="txtLocation" class="form-control col-md-3" placeholder="Select" colname= "Location" />
                                        @Html.HiddenFor(m => m.Location)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">
                                        Role
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="">
                                        <input type="text" id="txtRole" name="txtRole" class="form-control col-md-3" placeholder="Select" colname= "RoleId" />
                                        @Html.HiddenFor(m => m.RoleId)
                                        @Html.HiddenFor(m => m.PSNo)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Status</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Status, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Remarks<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control col-md-3" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Reference Id</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.RefId, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        Autocomplete($('#txtBU'), "/MyDashboard/Dashboard/GetAllBU", $('#BU'))
        Autocomplete($('#txtLocation'), "/MyDashboard/Dashboard/GetAllLocation", $('#Location'))
        Autocomplete($("#txtRole"), "/MyDashboard/Dashboard/GetRole", $("#RoleId"));

        if ('@ViewBag.IsEditApplicable'.toLowerCase() == "false") {
            //$('.approve').attr('disabled', true);
            //$('.reject').attr('disabled', true);
            $('.approve').remove();
            $('.reject').remove();
            $('.dvDisabled input').attr('disabled', true);
        }
        $('#frmAccessRequest').validate({
            rules: {
                BU: {
                    required: true
                },
                Location: {
                    required: true
                },
                RoleId: {
                    required: true
                },
                Remarks: {
                    required: true
                }
            },
            messages: {
                BU: {
                    required: "BU is required"
                },
                Location: {
                    required: "Location is required"
                },
                RoleId: {
                    required: "Role is required"
                },
                Remarks: {
                    required: "Remarks is required"
                }
            }
        });
        $("#btnClose").click(function () {
            window.location.href = WebsiteURL + "/Authorization/AccessRequest";
        });

        $("#btnDelete").click(function () {
            Delete($("#RequestId").val());
        });
        $("#btnSave").click(function () {
            if ($("#frmAccessRequest").valid()) {
                var frmSaveHeaderValue = $("#frmAccessRequest").serializeArray();
                var formdata = new FormData();

                if (frmSaveHeaderValue != null && frmSaveHeaderValue != undefined) {
                    $.each(frmSaveHeaderValue, function (key, input) {
                        formdata.append(input.name, input.value);
                    });

                    $.ajax({
                        url: WebsiteURL + "/Authorization/AccessRequest/SaveData",
                        type: "POST",
                        data: formdata,
                        async: false,
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            if (res.Key) {
                                $("#RequestId").val(res.RequestId);
                                DisplayNotiMessage("success", res.Value, "Success");
                            }
                            else
                                DisplayNotiMessage("error", res.Value, "Error");
                        },
                        error: function (data) {
                            alert(data.value);
                        }
                    });
                }
            }
            else {
                HighlightInValidControls();
                return false;
            }
        })
        if ('@ViewBag.BUDesc' != '') {
            $('#txtBU').val('@ViewBag.BUDesc');
        }
        if ('@ViewBag.LocationDesc' != '') {
            $('#txtLocation').val('@ViewBag.LocationDesc');
        }
        if ('@ViewBag.RoleDesc' != '') {
            $('#txtRole').val('@ViewBag.RoleDesc');
        }
    });


</script>
<script src="~/Scripts/bootbox.js"></script>
