﻿@model IEMQSImplementation.PRL235
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0;/* for serial number */

}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />
<style>
    .clsparent {
        background-color: #fbffb2;
        font-weight: bold;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable tblNotes" style="margin-bottom:0px">
                                        <tr>
                                            <td class="subtitle"> PROJECT NO.</td>
                                            <td> @Html.DisplayFor(m => m.QualityProject, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                            <td class="subtitle"> DATE</td>
                                            <td>
                                                @Html.DisplayFor(m => m.InspectionDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle"> EQUIPMENT NAME & NUMBER</td>
                                            <td> @ViewBag.ProjectDesc</td>
                                            <td class="subtitle"> SEAM NO.</td>
                                            <td>@Html.DisplayFor(m => m.SeamNo, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        </tr>
                                        @*<tr>
                        <td class="subtitle"> EQPT.NO.</td>
                        <td>@Html.DisplayFor(m => m.EquipmentNo, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                          </tr>*@
                                        <tr>

                                            <td class="subtitle"> DRG.NO.& REV.NO.</td>
                                            <td>
                                                <span style="float:left;padding: 1px 1px !important;">@Html.TextBoxFor(m => m.DrawingNo, new { @class = "form-control", @style = "width:250px;", @role = "QC", @placeholder = "Select" })</span>
                                                <span style="padding: 1px 9px !important;"> @Html.TextBoxFor(m => m.DrawingRevisionNo, new { @class = "form-control onlyNumeric", @maxlength = "10", @style = "width: 148px;", @role = "QC" })</span>
                                            </td>
                                            <td class="subtitle">INSPECTION AGENCY</td>
                                            <td>@Html.DisplayFor(m => m.InspectionAgency, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>

                                        </tr>
                                        <tr>
                                            <td class="subtitle"> DCR NO.IF APPLICABLE</td>
                                            <td>@Html.TextBoxFor(m => m.DCRNo, new { @class = "form-control col-md-12", @maxlength = "50", @role = "QC" }) </td>

                                            <td class="subtitle">MANUFACTURING CODE</td>
                                            <td>@ViewBag.ManufacturingCode</td>
                                        </tr>
                                        <tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                         
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12" style="height: 20px"></div>

                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div>
                                        <table class="FormTable">
                                            <tr>
                                                <td>ACTUAL C.F OF SHELL</td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.ActualCfOfShell, new { @class = "form-control", @maxlength = "20", @role = "PROD", @onchange="changeActualCFShell();" })
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>


                            <div id="#">
                                <div class="col-md-12">

                                    <div class="col-md-12">
                                        <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                            <div class="portlet-title">
                                                <div class="caption" style="padding:6px!important">
                                                    <span style="float:left;">
                                                        <strong></strong>
                                                    </span>
                                                </div>
                                                <div class="tools" id="dvExportSubLines">
                                                    <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body" id="div1">
                                                <div class="table-responsive">
                                                    <table id="tblProtocolLines1" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th class="min-phone-l" style="display:none;">#</th>
                                                                <th class="min-phone-l" style="display:none;">LineId</th>
                                                                <th class="title" rowspan="3">DESCRIPTION</th>
                                                                <th class="title">ELEVATION</th>
                                                                <th class="title" rowspan="3">REQUIRED ORIENTATION<br />(DEGREE)</th>
                                                                <th class="title" rowspan="3">PRINCIPLE ORIENTATION<br />(FROM ARC LENGTH TO BE CHECKED)</th>
                                                                <th class="title" rowspan="3">DIFFERENCE<br />BETWEEN<br />PRINCIPLE <br />ORIENTATION <br />AND <br /> REQUIRED <br /> ORIENTATION</th>
                                                                <th class="title">REQUIRED ARC LENGTH</th>
                                                                <th class="title" rowspan="3">ACTUAL ARC LENGTH</th>
                                                                <th class="title" rowspan="3">ACTUAL<br />ORIENTATION<br />(DEGREE)</th>
                                                                <th class="title">PROJECTION</th>
                                                                <th class="title">TILT</th>
                                                                <th class="title">ROOT GAP</th>
                                                                <th class="title">ROOT FACE </th>
                                                                <th class="title">WEP<br />ANGLE</th>
                                                                <th class="title">SIZE</th>
                                                                <th class="title" rowspan="3">IDENTIFICATION </th>
                                                                @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                {
                                                                    <th class="btnthAction">&nbsp;</th>
                                                                }
                                                            </tr>
                                                            <tr>
                                                                <td class="subtitle" style="text-align:center">REQUIRED</td>
                                                                <td class="subtitle" style="text-align:center">TOLERANCE</td>
                                                                <td class="subtitle" style="text-align:center">REQUIRED</td>
                                                                <td class="subtitle" style="text-align:center">REQUIRED</td>
                                                                <td class="subtitle" style="text-align:center">REQUIRED</td>
                                                                <td class="subtitle" style="text-align:center">REQUIRED</td>
                                                                <td class="subtitle" style="text-align:center">REQUIRED</td>
                                                                <td class="subtitle" style="text-align:center">REQUIRED</td>
                                                            </tr>
                                                            <tr>
                                                                <td>@Html.TextBoxFor(model => model.ReqElevation, new { @class = "form-control", @maxlength = "50", @role = "QC" }) </td>
                                                                <td>@Html.TextBoxFor(model => model.ToleranceReqArcLength, new { @class = "form-control", @maxlength = "20", @role = "QC" }) </td>
                                                                <td>@Html.TextBoxFor(model => model.ReqProjection, new { @class = "form-control", @maxlength = "20", @role = "QC" }) </td>
                                                                <td>@Html.TextBoxFor(model => model.ReqTilt, new { @class = "form-control", @maxlength = "20", @role = "QC" }) </td>
                                                                <td>@Html.TextBoxFor(model => model.ReqRootGap, new { @class = "form-control", @maxlength = "20", @role = "QC" }) </td>
                                                                <td>@Html.TextBoxFor(model => model.ReqRootFace, new { @class = "form-control", @maxlength = "20", @role = "QC" }) </td>
                                                                <td>@Html.TextBoxFor(model => model.ReqWepAngle, new { @class = "form-control", @maxlength = "50", @role = "QC" }) </td>
                                                                <td>@Html.TextBoxFor(model => model.ReqSize, new { @class = "form-control", @maxlength = "50", @role = "QC" }) </td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (ViewBag.lstPRL236 != null)
                                                            {
                                                                foreach (var item in ViewBag.lstPRL236 as List<PRL236>)
                                                                {
                                                                    <tr>
                                                                        <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                                        <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>


                                                                        <td class="Description">@Html.TextBox("Description_1_" + @s1, @item.Description, new { @class = "form-control width125px", @maxlength = "50", @role = "QC" })</td>
                                                                        <td class="Elevation">@Html.TextBox("Elevation_1_" + @s1, @item.Elevation, new { @class = "form-control width125px", @maxlength = "20", @role = "PROD" })</td>
                                                                        <td class="ReqOrientation">@Html.TextBox("ReqOrientation_1_" + @s1, @item.ReqOrientation, new { @class = "form-control width125px", @maxlength = "50", @role = "QC", @onchange = "CalReqOrientationAndPrincipleOrientation('" + @s1 + "')" })</td>
                                                                        <td class="PrincipleOrientation">@Html.TextBox("PrincipleOrientation_1_" + @s1, @item.PrincipleOrientation, new { @class = "form-control width125px", @maxlength = "20", @role = "PROD", @onchange = "CalReqOrientationAndPrincipleOrientation('" + @s1 + "')" })</td>
                                                                        <td class="DiffBtPrincipleOrientOnAndReqorient">@Html.TextBox("DiffBtPrincipleOrientOnAndReqorient_1_" + @s1, @item.DiffBtPrincipleOrientOnAndReqorient, new { @class = "form-control width125px", @maxlength = "100", @role = "", @readonly = "readonly", @tabindex = "-1" })</td>
                                                                        <td class="ReqArcLength">@Html.TextBox("ReqArcLength_1_" + @s1, @item.ReqArcLength, new { @class = "form-control width125px", @maxlength = "100", @role = "", @readonly = "readonly", @tabindex = "-1" })</td>
                                                                        <td class="ActArcLength">@Html.TextBox("ActArcLength_1_" + @s1, @item.ActArcLength, new { @class = "form-control width125px", @maxlength = "20", @role = "PROD", @onchange = "CalActualOrientation('" + @s1 + "')" })</td>
                                                                        <td class="ActOrientation">@Html.TextBox("ActOrientation_1_" + @s1, @item.ActOrientation, new { @class = "form-control width125px", @maxlength = "100", @role = "", @readonly = "readonly", @tabindex = "-1" })</td>
                                                                        <td class="Projection">@Html.TextBox("Projection_1_" + @s1, @item.Projection, new { @class = "form-control width125px", @maxlength = "20", @role = "PROD" })</td>
                                                                        <td class="Tilt">@Html.TextBox("Tilt_1_" + @s1, @item.Tilt, new { @class = "form-control width125px", @maxlength = "20", @role = "PROD" })</td>
                                                                        <td class="RootGap">@Html.TextBox("RootGap_1_" + @s1, @item.RootGap, new { @class = "form-control width125px", @maxlength = "20", @role = "PROD" })</td>
                                                                        <td class="RootFace">@Html.TextBox("RootFace_1_" + @s1, @item.RootFace, new { @class = "form-control width125px", @maxlength = "20", @role = "PROD" })</td>
                                                                        <td class="WepAngle">@Html.TextBox("WepAngle_1_" + @s1, @item.WepAngle, new { @class = "form-control width125px", @maxlength = "50", @role = "PROD" })</td>
                                                                        <td class="Size">@Html.TextBox("Size_1_" + @s1, @item.Size, new { @class = "form-control width125px", @maxlength = "50", @role = "PROD" })</td>
                                                                        <td class="Identification">@Html.TextBox("Identification_1_" + @s1, @item.Identification, new { @class = "form-control width125px", @maxlength = "200", @role = "PROD" })</td>


                                                                       @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                       {
                                                                            <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolLine(this)"></i></td>
                                                                        }
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                            </div>
                                        </div>


                                        <div class="col-md-1"></div>
                                        <div class="col-md-6"></div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                        <tr>
                                            <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                                CHECK POINTS/REMARKS
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="clstd">
                                                1) SEAM NUMBER PUNCHED AS REQUIRED BY STANDARD PROCEDURE?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint1, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="clstd">
                                                2) TACKS FREE FROM CRACK ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint2, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="clstd">
                                                3) GROOVE CLEANED ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint3, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="clstd">
                                                4) L&T STAMP  AVAILABLE ON IDENTIFICATION ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint4, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                5) ALL DIMENSIONS ARE IN MM, UNLESS OTHERWISE SPECIFIED.
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="clstd">
                                                6) PROCEDURE NO: : @Html.TextBoxFor(model => model.CheckPoint6, new { @class = "form-control inlinetextbox", @maxlength = "50", @role = "QC" })
                                            </td>
                                            <td>
                                                
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="clstd" colspan="2">
                                                7) MEASURING AND TESTING EQUIPMENT SERIAL NUMBER &nbsp;
                                                @Html.TextBoxFor(model => model.CheckPoint7, new { @class = "form-control inlinetextbox width250px", @maxlength = "30", @role = "PROD" })
                                                &nbsp; & CALIBRATION DUE DATE
                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                    @Html.TextBoxFor(m => m.CheckPoint7_2, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;", @role = "PROD" })
                                                    <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                        <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                QC REMARK: @Html.TextAreaFor(model => model.QCRemarks, new { @class = "form-control QCRemarks", @maxlength = "200", @role = "QC" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>


                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                    <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    @if (string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase) || string.Equals(ViewBag.isQCRemarkEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                            <input type="button" class="btn submit" id="btnSave" value="Submit" />
                                    }
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>
<script>
    var notPRODLastChild = "";
    var notQCLastChild = "";

    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';
    var lstLeftRight = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.LeftRight))));
    var lstOutsideInside = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.OutsideInside))));
    var isQCRemarkEditable = '@ViewBag.isQCRemarkEditable';
    $(document).ready(function () {
        SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit, isQCRemarkEditable);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        $("#CheckPoint7_2").change(function () {
            if ($("#CheckPoint7_2").val() != "") {
                $('#btnSaveDraft').focus();
            }
        });
        var lstDrawingNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.lstDrawingNo))));
        FillProtocolAutoComplete($('#DrawingNo'), lstDrawingNo, null, false);
        if ('@Model.RequestNo' == "" || '@Model.RequestNo' == null) {
            $('#QCRemarks').prop("disabled", true).addClass("NonEditableTextColor");
        }

        $('#CheckPoint1,#CheckPoint2,#CheckPoint3,#CheckPoint4').val('Yes')

        if ('@Model.CheckPoint1' != "") { $('#CheckPoint1').val('@Model.CheckPoint1'); }
        if ('@Model.CheckPoint2' != "") { $('#CheckPoint2').val('@Model.CheckPoint2'); }
        if ('@Model.CheckPoint3' != "") { $('#CheckPoint3').val('@Model.CheckPoint3'); }
        if ('@Model.CheckPoint4' != "") { $('#CheckPoint4').val('@Model.CheckPoint4'); }


    


    });



    //$('#QCRemarks').prop("disabled", true).addClass("NonEditableTextColor");

    $("#btnPrint").click(function () {
        PrintReport("/IPI/Protocol/PROTOCOL048", $('#HeaderId').val());
    });

    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "/SaveProtocolHeaderDataLinkage?s=0", userRole, false, LoadSaveAndDraft);
        //LoadSaveAndDraft();
    });

    $("#btnSave").click(function () {
        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
        {
            <text>$('[role="PROD"]').not('.islastrow').prop("required", true);</text>
        }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
        {
            <text>$('[role="QC"]').not('.islastrow').prop("required", true);</text>
        }
        SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderDataLinkage?s=1", userRole, true, LoadSaveAndDraft);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderDataLinkage");
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });


    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }


    function SaveProtocolLine(lineId, gridId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine" + gridId, "tblProtocolLines" + gridId, "btnNewLines" + gridId);
        if (gridId == 5) {
            outby();
        }
    }


    function SetTableColumns() {
        if (isEdit.toLowerCase() == "true") {
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) {

                $("[role=PROD]").first().focus();
            }

            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) {
                AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'Description', ['Description', 'ReqOrientation'], AddTbl1NewTrRow, true);
                notQCLastChild = ":not(:last-child)";
                $("[name=ProtocolNo]").first().focus();
            }
            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) { $("[name=ProtocolNo]").first().focus(); }
        }
    }



    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine";
        window[SaveFunction](lineId, gridId);
    }


    function LoadSaveAndDraft() {
        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "Description": $('td.Description input', this).val(),
                "Elevation": $('td.Elevation input', this).val(),
                "ReqOrientation": $('td.ReqOrientation input', this).val(),
                "PrincipleOrientation": $('td.PrincipleOrientation input', this).val(),
                "DiffBtPrincipleOrientOnAndReqorient": $('td.DiffBtPrincipleOrientOnAndReqorient input', this).val(),
                "ReqArcLength": $('td.ReqArcLength input', this).val(),
                "ActArcLength": $('td.ActArcLength input', this).val(),
                "ActOrientation": $('td.ActOrientation input', this).val(),
                "Projection": $('td.Projection input', this).val(),
                "Tilt": $('td.Tilt input', this).val(),
                "RootGap": $('td.RootGap input', this).val(),
                "RootFace": $('td.RootFace input', this).val(),
                "WepAngle": $('td.WepAngle input', this).val(),
                "Size": $('td.Size input', this).val(),
                "Identification": $('td.Identification input', this).val(),

            };

            lstProtocolLines1 = JSON.stringify(TableData1);
        });
        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1Linkage" + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);
    }


    function AddTbl1NewTrRow(NewTrRowNum) {
        $("#hdGrid1LastRow").val(NewTrRowNum);
        var strhtml =
        "<tr class=\"islastrow\">" +
        "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
        "<td class=\"LineId\" style=\"display:none;\">0</td>" +
        "<td class=\"Description\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"AddNextRow(this,'CheckPoint6',false,1,'hdGrid1LastRow','tblProtocolLines1','Description',['Description','ReqOrientation'],AddTbl1NewTrRow)\" id=\"Description_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"Description_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" value=\"\" aria-invalid=\"false\"></td>" +
        "<td class=\"Elevation\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox \"  id=\"Elevation_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"Actual_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td class=\"ReqOrientation\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','Description',['Description','ReqOrientation'],AddTbl1NewTrRow)\" id=\"ReqOrientation_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ReqOrientation_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" value=\"\" aria-invalid=\"false\"></td>" +
        "<td class=\"PrincipleOrientation\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox\"  id=\"PrincipleOrientation_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"PrincipleOrientation_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td class=\"DiffBtPrincipleOrientOnAndReqorient\"><input class=\"form-control NonEditableTextColor width125px  \"  id=\"DiffBtPrincipleOrientOnAndReqorient_1_" + NewTrRowNum + "\" maxlength=\"100\" name=\"DiffBtPrincipleOrientOnAndReqorient_1_" + NewTrRowNum + "\" role=\"\" type=\"text\" value=\"\" readonly=\"readonly\"  tabindex=\"-1\"></td>" +
        "<td class=\"ReqArcLength\"><input class=\"form-control NonEditableTextColor width125px  \"  id=\"ReqArcLength_1_" + NewTrRowNum + "\" maxlength=\"100\" name=\"ReqArcLength_1_" + NewTrRowNum + "\" role=\"\" type=\"text\" value=\"\" readonly=\"readonly\"  tabindex=\"-1\"></td>" +
        "<td class=\"ActArcLength\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox \"  id=\"ActArcLength_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActArcLength_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td class=\"ActOrientation\"><input class=\"form-control NonEditableTextColor width125px\"  id=\"ActOrientation_1_" + NewTrRowNum + "\" maxlength=\"100\" name=\"ActOrientation_1_" + NewTrRowNum + "\" role=\"\" type=\"text\" value=\"\" readonly=\"readonly\"  tabindex=\"-1\"></td>" +
        "<td class=\"Projection\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox \"  id=\"Projection_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"Projection_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td class=\"Tilt\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox \"  id=\"Tilt_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"Tilt_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td class=\"RootGap\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox \"  id=\"RootGap_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"RootGap_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td class=\"RootFace\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox \"  id=\"RootFace_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"RootFace_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td class=\"WepAngle\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox \"  id=\"WepAngle_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"WepAngle_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td class=\"Size\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox \"  id=\"Size_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"Size_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td class=\"Identification\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox \"  id=\"Identification_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"Identification_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td  class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines1')\" style=\"display:none\"></i></td>" +
        "</tr>";

        return strhtml;
    }

    function CalReqOrientationAndPrincipleOrientation(No) {
        var firstVal = "ReqOrientation_1_" + No;
        var secondVal = "PrincipleOrientation_1_" + No;

        if ($("#" + firstVal + "").val() != "" && $("#" + secondVal + "").val() != "") {

            var numbers = [$("#" + firstVal + "").val(), $("#" + secondVal + "").val()];
            var maxvalue = Math.max.apply(null, numbers) // 4
            var minvalue = Math.min.apply(null, numbers) // 1
            var maxmindiff = maxvalue - minvalue;
            $("#DiffBtPrincipleOrientOnAndReqorient_1_" + No).val(maxmindiff);
            //alert("Max : " + maxvalue + " | Min : " + minvalue + " | Dif : " + maxmindiff);

            //2nd
            var Arclengthvalue = $("#ActualCfOfShell").val() * maxmindiff / 360;
            $("#ReqArcLength_1_" + No).val(Arclengthvalue.toFixed(4));
            //alert("Arclengthvalue : " + Arclengthvalue.toFixed(4));
            CalActualOrientation(No);
        }
    }

    function CalActualOrientation(No) {
        var firstVal = "ReqOrientation_1_" + No;
        var secondVal = "PrincipleOrientation_1_" + No;
        var finalVal;
        var FORMULA1 = (($("#ActArcLength_1_" + No).val()) * 360) / $("#ActualCfOfShell").val();
        if (parseFloat($("#" + firstVal + "").val()) > parseFloat($("#" + secondVal + "").val())) {
            finalVal = (parseFloat($("#" + secondVal + "").val()) + parseFloat(FORMULA1));
        }
        else {
            finalVal = (parseFloat($("#" + secondVal + "").val()) - parseFloat(FORMULA1));
        }
        $("#ActOrientation_1_" + No).val(finalVal.toFixed(2));
    }

    function changeActualCFShell() {
        var iCount = $("#hdGrid1LastRow").val();
        if (parseInt(iCount) > 0) {
            for (var i = 1; i <= iCount; i++) {
                CalReqOrientationAndPrincipleOrientation(i);
            }
        }
    }
</script>