﻿@model IEMQS.Areas.Utility.Controllers.GeneralController.FilterReqMIPModel


<div class="row">
    <div class="col-md-12">
        <div class="portlet-body">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>Project Details</legend>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.objMIP004.LineId)
                                    <label class="control-label">Quality Project</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.objMIP003.QualityProject, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Project</label>
                                    @Html.TextBox("txtProject", (string)ViewBag.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    @Html.HiddenFor(x => x.objMIP003.Project)
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">BU</label>
                                    @Html.TextBox("txtBU", (string)ViewBag.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    @Html.HiddenFor(x => x.objMIP003.BU)
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Location</label>
                                    @Html.TextBox("txtLocation", (string)ViewBag.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    @Html.HiddenFor(x => x.objMIP003.Location)
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>MIP Details</legend>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Doc No</label>
                                    <div class="">
                                        @Html.TextBox("DocNoDesc", (string)ViewBag.DocNoDesc, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        @Html.HiddenFor(x => x.objMIP003.DocNo)
                                        @*@Html.TextBoxFor(x => x.objMIP003.DocNo, new { @class = "form-control col-md-3", @readonly = "readonly" })*@
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">MIP Type</label>
                                    @Html.TextBox("MIPTypeDesc", (string)ViewBag.MIPTypeDesc, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    @Html.HiddenFor(x => x.objMIP003.MIPType)
                                    @*@Html.TextBoxFor(x => x.objMIP003.MIPType, new { @class = "form-control col-md-3", @readonly = "readonly" })*@
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">RevNo</label>
                                    @Html.TextBoxFor(x => x.objMIP003.RevNo, "R" + Model.objMIP003.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Component No</label>
                                    @Html.TextBoxFor(x => x.objMIP003.ComponentNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Drawing No</label>
                                    <div class="">
                                        @Html.TextBoxFor(x => x.objMIP003.DrawingNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Raw Material Grade</label>
                                    @Html.TextBoxFor(x => x.objMIP003.RawMaterialGrade, (string)ViewBag.RawMaterialGrade, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Plate No</label>
                                    @Html.TextBoxFor(x => x.objMIP003.PlateNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    MIP Details
                </div>
                <div class="tools"> </div>
            </div>

            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" style="width:100%" id="tblFilteredlist" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="min-phone-l" style="display:none;">HeaderId</th>
                            <th class="min-phone-l" style="display:none;">LineId</th>
                            <th class="all">Opr No<span class="text-danger">*</span></th>
                            <th class="all">Activity Description<span class="text-danger">*</span></th>
                            <th class="all">Reference Document<span class="text-danger">*</span></th>
                            <th class="all">Ref. Doc. RevNo<span class="text-danger">*</span></th>
                            <th class="all">PIA<span class="text-danger">*</span></th>
                            <th class="all">Ins. Agency L&T<span class="text-danger">*</span></th>
                            <th class="all">Ins. Agency VVPT<span class="text-danger">*</span></th>
                            <th class="all">Ins. Agency SRO<span class="text-danger">*</span></th>
                            <th class="all">Records Documents</th>
                            <th class="all">Observations</th>
                            <th class="all">Line RevNo</th>
                            <th class="all">MIP RevNo</th>
                            <th class="all">Status</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="divReqDetails">
    </div>
</div>

<script>
    $(document).ready(function () {

        var table = $('#tblFilteredlist');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [1, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/Utility/General/MIPLoadFilteredOfferData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                { "name": "LineId", "value": '@Model.LineId' },
                { "name": "HeaderId", "value": '@Model.HeaderId' });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'async': false
                });
            },
            "columns": [
                {
                    "sClass": "hide",
                    "name": "HeaderId",
                    "bSortable": false,
                },
                {
                    "sClass": "hide header",
                    "name": "LineId",
                    "bSortable": false,
                },
                {
                    "sClass": "center OperationNo",
                    "name": "OperationNo",
                },
                {
                    "sClass": "center",
                    "name": "ActivityDescription",
                },
                {
                    "sClass": "center",
                    "name": "RefDocument",
                },
                {
                    "sClass": "center",
                    "name": "RefDocRevNo",
                },
                {
                    "sClass": "center",
                    "name": "PIA",
                },
                {
                    "sClass": "center",
                    "name": "IAgencyLNT",
                },
                {
                    "sClass": "center",
                    "name": "IAgencyVVPT",
                },
                {
                    "sClass": "center",
                    "name": "IAgencySRO",
                },
                {
                    "sClass": "center",
                    "name": "RecordsDocuments",
                },
                {
                    "sClass": "center",
                    "name": "Observations",
                },
                {
                    "sClass": "center lineRevNo",
                    "name": "LineRevNo",
                    "ColName": "LineRevNo",
                },
                {
                    "sClass": "center",
                    "name": "MIPRevNo",
                    "ColName": "MIPRevNo",
                },
                {
                    "sClass": "center status",
                    "name": "Status",
                },
            ]
        });

        $('#tblFilteredlist tbody').on('click', 'tr', function () {
            if ($(this).hasClass('highlight')) {
                $('td', $($(this))).addClass('sorting_1');
                $(this).removeClass('highlight');
            }
            else {
                oTable.$('tr.highlight').removeClass('highlight');
                $(this).addClass('highlight');
                $('td', $($(this))).removeClass('sorting_1');
            }
            var hdrId = $(this).find("td.header").text();

            GetMIPReqFilteredData(hdrId, "Request Details", 50, true)
        });

    });

</script>
