﻿@model List<IEMQSImplementation.LTF005>
@{

    var LTFPSNo = Model.Count > 0 ? Model.FirstOrDefault().LTFPSNo : "";
    var RevNo = Model.Count > 0 ? Model.FirstOrDefault().RevNo : 0;
}
<style>
    .scenter {
        text-align: center;
    }

    .clsBootBoxWidth {
        width: 75% !important;
        margin: 30px auto !important;
    }

    .highlight {
        background-color: #aaed7a !important;
    }

    .hide {
        display: none;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="portlet-body">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="control-label">LTFPS No.</label>
                                <div class="">
                                    @Html.TextBox("LTFPSNo", LTFPSNo, new { @class = "form-control col-md-6", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Revison No.</label>
                                <div class="">
                                    @Html.TextBox("RevNo", RevNo, new { @class = "form-control col-md-6", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @ViewBag.LTFPSNo Operation Details
                </div>
                <div class="tools"></div>
            </div>

            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="tblLTFOperation" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="all">Operation</th>
                            <th class="all">Operation By</th>
                            <th class="all">Operation On</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.Count > 0)
                        {

                            foreach (var item in Model)
                            {
                                <tr>
                                    <td><i class="@(item.Operation== "Check In"?"fa fa-check-square-o":"fa fa-square-o")"></i> @item.Operation</td>
                                    <td>@item.OperationBy</td>
                                    <td>@item.OperationOn</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
