﻿@model IEMQSImplementation.LTF001
@using IEMQSImplementation

<script>

    var headerStatus;

    $(document).ready(function () {
        headerStatus = '@Model.Status';
        LoadGetLTFPSLines('@Model.HeaderId');
    });

    function LoadGetLTFPSLines(headerId) {

        var table = $('#tblLTFPSLines');
        //initDataTableFixedColumn({ sTableID: 'tblLTFPSLines', iLeftCols: 0, iRightCols: 1, bIsWrapHeader: false, bIsFirstColumnCheckbox: true });

        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": false,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            "bDestroy": true,
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/LTFPS/AttachProtocol/GetLTFPSLinesData?headerId=" + headerId,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                    },
                    'async': false
                });
                $('input[maxlength]').maxlength({
                    alwaysShow: true,
                });
                //ResetAddRowLine($('#tblLTFPSLines'));
            },
            "columns": [
                {
                    "sClass": "hide",
                    "bSortable": false,
                    "attr":"hide"
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                    "attr": "hide"
                },
                {
                    "sClass": "center",
                    "name": "OperationNo",
                    "attr": "numeric"
                },
                {
                    "sClass": "center",
                    "name": "RefDocument",
                },
                {
                    "sClass": "center",
                    "name": "DocRevNo",
                    "attr": "numeric"
                },
                {
                    "sClass": "center",
                    "name": "TestFor",
                },
                {
                    "sClass": "center",
                    "name": "SeamNo",
                },
                {
                    "sClass": "center",
                    "name": "PartNo",
                    
                },
                {
                    "sClass": "center",
                    "name": "OperationDescription",
                },
                {
                    "sClass": "center",
                    "name": "TestType",
                },
                {
                    "sClass": "center",
                    "name": "Stage",
                },
                {
                    "sClass": "center",
                    "name": "Agency",
                },
                {
                    "sClass": "center",
                    "name": "TPI",
                },
                {
                    "sClass": "center",
                    "name": "DocumentRequired",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
            ]
        });
        table.dtSearchFilter();
    }

</script>

<form id="frmLTFPSLines">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @Model.LTFPSNo
                    @Html.HiddenFor(m => m.HeaderId, new { @id = "hdnRefHeaderId" })
                </div>
                <div class="tools" id="dvExportSubLines">
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblLTFPSLines" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="min-phone-l" style="display:none;">HeaderId</th>
                            <th class="min-phone-l" style="display:none;">LineId</th>
                            <th class="all">Opr No</th>
                            <th class="all">Reference Document</th>
                            <th class="all">RevNo</th>
                            <th class="all">Test For</th>
                            <th class="all">Seam No</th>
                            <th class="all">Part No</th>
                            <th class="all">Operation Description</th>
                            <th class="all">Test Type</th>
                            <th class="all">Stage</th>
                            <th class="all">Agency</th>
                            <th class="all">TPI</th>
                            <th class="all">Doc. Required?</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</form>


