﻿@using IEMQSImplementation
@{
    ViewBag.Title = "Release PCL";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-body form">
                <div id="dvPCR">
                    <div class="portlet-body">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    Release Plate Cutting Layout
                                </div>
                                <div class="tools" id="dvExportHeader">

                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PCR/MaintainPCR/GenerateExcel", GridType = clsImplementationEnum.GridType.ReleasePCL.GetStringValue(), dvId = "#dvExportHeader" })
                                </div>
                                <div class="tools" id="dvExportHeader">

                                    <div class="btn-group">
                                        <a onclick="fnReleasePCL()" class="btn btn-circle white btn-outline btn-sm">
                                            Release PCL
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a onclick="fnModifyPCL()" class="btn btn-circle white btn-outline btn-sm">
                                            Modify PCL
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a onclick="fnViewAttachment(event)" class="btn btn-circle white btn-outline btn-sm">
                                            Attachment
                                        </a>
                                    </div>

                                    @*<div class="btn-group">
            <a onclick="fnReturnBalance(event, -1)" class="btn btn-circle white btn-outline btn-sm">
                Return Balance Material
            </a>
        </div>*@

                                </div>
                            </div>
                            <div class="portlet-body">
                                <form id="frmPCRDetails" class="form-horizontal">
                                    <table id="tblReleasePCLDetails" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="hide">Id</th>
                                                <th class="all">
                                                </th>
                                                <th class="all">
                                                </th>
                                                <th class="all"> PCL Number </th>
                                                <th class="all"> Revision </th>
                                                <th class="all"> Total Consumed Area (m2) </th>
                                                <th class="all"> Scrap Quantity </th>
                                                <th class="all"> Return Area (m2) </th>
                                                <th class="all"> PCL Status </th>
                                                <th class="all"> Return Remark </th>
                                                <th class="all"> Total Cutting Length </th>
                                                <th class="all"> Stock Number </th>
                                                <th class="all"> Total Area (m2) </th>
                                                <th class="all"> Work Center </th>
                                                <th class="all"> Load Plant Machine </th>
                                                <th class="all"> Remark </th>
                                                <th class="all"> Movement Type </th>
                                                <th class="all"> PCL Release Date </th>
                                                <th class="all"> Return Balance (Pcs) </th>
                                                <th class="all"> Allowed Stage 1 </th>
                                                <th class="all"> Allow Stage 1 Name</th>
                                                <th class="all">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    _columns.WCDeliver.Lookup = fnParseServerObject(@Html.Raw(Json.Encode(ViewBag.WorkCenterDeliver)));
    _columns.Planner.Lookup = fnParseServerObject(@Html.Raw(Json.Encode(ViewBag.PlannerNames)));
    var _isValidUser = "true";
    _tableName = 'tblReleasePCLDetails';
    _tbl = $('#' + _tableName);

    function fnOnInit() {
        _columnsForSave = [
            _columns.TotalCuttingLength,
            _columns.WCDeliver,
            //_columns.Planner,
            _columns.Remark,
            _columns.MovementType,
            _columns.ReturnBalance,
            _columns.AllowedStage1Name

        ];
        _currentScreen = _screens.ReleasePCL;
        _currentScreen.CurrentTab = _screenTabs.Main;
        _additionalColumnsForAddNewRow = [];

        fnLoadReleasePCLData();
    }

    function fnLoadReleasePCLData() {
        var aoColumns = [
            {
                "data": "Id",
                "sClass": _classes.Center + ' ' + _classes.Hide,
                "name": "Id",
                "ColName": "Id"
            },
            {
                "bSortable": false,
                "sWidth": "5%",
                "sClass": _classes.Left18,
                "attr": "none",
                "rendercallback": "fnGetElementSelectColumn",
                "editrendercallback": "fnGetElementSelectColumn",
                "render": function (data, type, row, meta) {
                    return fnGetElementSelectColumn(row);
                }
            },
            {
                "bSortable": false,
                "sWidth": "5%",
                "sClass": _classes.Left18,
                "attr": "none",
                "rendercallback": "fnShowSingleOccurence",
                "editrendercallback": "fnShowSingleOccurence",
                "render": function (data, type, row, meta) {
                    return fnShowSingleOccurence(row);
                }
            },
            {
                "data": _columns.PCLNumber.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.PCLNumber.Name,
                "ColName": _columns.PCLNumber.Name
            },
            {
                "data": _columns.Revision.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.Revision.Name,
                "ColName": _columns.Revision.Name,
            },
            {
                "data": _columns.TotalConsumedArea.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.TotalConsumedArea.Name,
                "ColName": _columns.TotalConsumedArea.Name
            },
            {
                "data": _columns.ScrapQuantity.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.ScrapQuantity.Name,
                "ColName": _columns.ScrapQuantity.Name,
            },
            {
                "data": _columns.ReturnArea.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.ReturnArea.Name,
                "ColName": _columns.ReturnArea.Name,
            },
            {
                "data": _columns.PCLStatus.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.PCLStatus.Name,
                "ColName": _columns.PCLStatus.Name,
            },
            {
                "data": _columns.ReturnRemark.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.ReturnRemark.Name,
                "ColName": _columns.ReturnRemark.Name,
            },
            {
                "data": _columns.TotalCuttingLength.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.TotalCuttingLength.Name,
                "ColName": _columns.TotalCuttingLength.Name,
            },
            {
                "data": _columns.StockNumber.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.StockNumber.Name,
                "ColName": _columns.StockNumber.Name,
            },
            {
                "data": _columns.TotalArea.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.TotalArea.Name,
                "ColName": _columns.TotalArea.Name,
            },
            {
                "data": _columns.WCDeliver.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.WCDeliver.Name,
                "ColName": _columns.WCDeliver.Name,
            },
            {
                "data": _columns.LoadPlantMachine.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.LoadPlantMachine.Name,
                "ColName": _columns.LoadPlantMachine.Name,
            },
            {
                "data": _columns.Remark.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.Remark.Name,
                "ColName": _columns.Remark.Name,
            },
            {
                "data": _columns.MovementType.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.MovementType.Name,
                "ColName": _columns.MovementType.Name,
            },
            {
                "data": _columns.PCLReleaseDate.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.PCLReleaseDate.Name,
                "ColName": _columns.PCLReleaseDate.Name,
            },
            {
                "data": _columns.ReturnBalance.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.ReturnBalance.Name,
                "ColName": _columns.ReturnBalance.Name,
            },
            {
                "data": _columns.AllowedStage1.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.AllowedStage1.Name,
                "ColName": _columns.AllowedStage1.Name,
            },
            {
                "data": _columns.AllowedStage1Name.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.AllowedStage1Name.Name,
                "ColName": _columns.AllowedStage1Name.Name,
            },
            {
                "bSortable": false,
                "sClass": _classes.Left + ' ' + _classes.Action,
                "sWidth": "10%",
                "attr": "",
                "rendercallback": "fnGetActionColumnRender",
                "editrendercallback": "fnGetActionColumnRender",
                "render": function (data, type, row, meta) {
                    return fnGetActionColumnRender(row);
                }
            }
        ]

        var sUrl = '/PCR/ReleasePCL/LoadReleasePCLDataTable';
        fnLoadGridData(aoColumns, sUrl, null, fnOnCreateRow);
        console.log("lst", _pclNumberList[0]);
    }

    function fnGetElementSelectColumn(data) {
        return "<label class=\"mt-checkbox mt-checkbox-outline\"><input type=\"checkbox\" onchange=\"fnOnCheckUnCheck(event, this)\" name=\"id[]\"  class=\"clsCheckbox\" value=\"" + data.Id + "\" LineId=\"" + data.PCRLineId + "\" ><span></span></label>";
    }

    function fnShowSingleOccurence(row) {
        var isDisabled = false;
        //It is used to enable disable Save Btn
        if (row.PCLStatus != null) {//Not an Int
            isDisabled = true;
        }
        //Please don't remove single quotes passing PCL Number as a string...
        return "<a title=\"Open Details\" onclick=\"fnLoadSingleOccurenceScreen(event, this," + row.Id + ", '" + row.PCLNumber + "' ," + isDisabled + ")\" class=\"blue action\" id=\"openSingleOccurenceScreen\" ><i class=\"iconspace fa fa-chevron-circle-right\"></i></a>"
    }

    // Create Actions & Rows For Data Table
    function fnGetActionColumnRender(data) {
        var buttons = '';
        //Pls Provide Actions
        return buttons;
    }

    function fnOnCreateRow(row, data, dataIndex) {
        $(row).attr(_attributes.PCLStatus, data.PCLStatus);
        $(row).attr(_attributes.ItemId, data.Id);
        var title = "";
        title += "PCL Number : " + data.PCLNumber;
        if (data.PCLStatus === null) {
            title += "\nSequence Eligible For PCL Release!";
        }
        else {
            $(row).addClass(_classes.DisabledRow);
        }
        $(row).attr("title", title);
    }

</script>

<script type="text/javascript">
    $(document).ready(function () {
        fnOnInit();
    });
</script>