﻿@using IEMQSImplementation
@using IEMQS.Areas.Utility.Models
<style>
    .mt-step-col {
        width: 25%;
    }
</style>
<div class="form-group">
    <div class="mt-element-step">
        <div class="row step-line" style="overflow-x:scroll;display:-webkit-box">
            @if (Model.Title == "IMS Instrument" || Model.Title == "IMS TestArea" || Model.Title == "IMS TestResult")
            {
                <div class="mt-step-col first done" style="width:50%">
                    <div class="mt-step-content font-grey-cascade" style="font-size:20px">Created</div>
                    <div class="mt-step-number bg-white"><li class="fa fa-check"></li></div>
                    <div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.CreatedBy</div>
                    <div class="mt-step-content font-grey-cascade">@Model.CreatedOn</div>
                </div>
                <div class="mt-step-col last @((Model.EditedOn == null) ? "" : "done")" style="width:50%">
                    <div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div>
                    <div class="mt-step-number bg-white">@(new HtmlString((Model.EditedOn == null) ? "2" : "<li class=\"fa fa-check\"></li>"))</div>
                    <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.EditedBy == null) ? "Modified By" : Model.EditedBy)</div>
                    <div class="mt-step-content font-grey-cascade">@((Model.EditedOn == null) ? "Modified On" : Model.EditedOn)</div>
                </div>
            }
            else if (Model.Title == "IMS IssueHeader")
            {
                <div class="mt-step-col first done" style="width:32%">
                    <div class="mt-step-content font-grey-cascade" style="font-size:20px">Created</div>
                    <div class="mt-step-number bg-white"><li class="fa fa-check"></li></div>
                    <div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.CreatedBy</div>
                    <div class="mt-step-content font-grey-cascade">@Model.CreatedOn</div>
                </div>
                <div class="mt-step-col @((Model.EditedOn == null) ? "" : "done")" style="width:32%">
                    <div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div>
                    <div class="mt-step-number bg-white">@(new HtmlString((Model.EditedOn == null) ? "2" : "<li class=\"fa fa-check\"></li>"))</div>
                    <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.EditedBy == null) ? "Modified By" : Model.EditedBy)</div>
                    <div class="mt-step-content font-grey-cascade">@((Model.EditedOn == null) ? "Modified On" : Model.EditedOn)</div>
                </div>
                <div class="mt-step-col last @((Model.SubmittedOn == null) ? "" : "done")" style="width:32%">
                    <div class="mt-step-content font-grey-cascade" style="font-size:20px">Submitted</div>
                    <div class="mt-step-number bg-white">@(new HtmlString((Model.SubmittedOn == null) ? "3" : "<li class=\"fa fa-check\"></li>"))</div>
                    <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.SubmittedBy == null) ? "Submitted By" : Model.SubmittedBy)</div>
                    <div class="mt-step-content font-grey-cascade">@((Model.SubmittedOn == null) ? "Submitted On" : Model.SubmittedOn)</div>
                </div>
                
            }
            else if (Model.Title == "IMS IssueLine")
            {
                <div class="mt-step-col first done" style="width:20%">
                    <div class="mt-step-content font-grey-cascade" style="font-size:20px">Created</div>
                    <div class="mt-step-number bg-white"><li class="fa fa-check"></li></div>
                    <div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.CreatedBy</div>
                    <div class="mt-step-content font-grey-cascade">@Model.CreatedOn</div>
                </div>
                <div class="mt-step-col @((Model.EditedOn == null) ? "" : "done")" style="width:20%">
                    <div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div>
                    <div class="mt-step-number bg-white">@(new HtmlString((Model.EditedOn == null) ? "2" : "<li class=\"fa fa-check\"></li>"))</div>
                    <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.EditedBy == null) ? "Modified By" : Model.EditedBy)</div>
                    <div class="mt-step-content font-grey-cascade">@((Model.EditedOn == null) ? "Modified On" : Model.EditedOn)</div>
                </div>
                <div class="mt-step-col @((Model.IssuedOn == null) ? "" : "done")" style="width:20%">
                    <div class="mt-step-content font-grey-cascade" style="font-size:20px">Issued</div>
                    <div class="mt-step-number bg-white">@(new HtmlString((Model.IssuedOn == null) ? "3" : "<li class=\"fa fa-check\"></li>"))</div>
                    <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.IssuedBy == null) ? "Issued By" : Model.IssuedBy)</div>
                    <div class="mt-step-content font-grey-cascade">@((Model.IssuedOn == null) ? "Issued On" : Model.IssuedOn)</div>
                </div>
                <div class="mt-step-col @((Model.ReturnedOn == null) ? "" : "done")" style="width:20%">
                    <div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div>
                    <div class="mt-step-number bg-white">@(new HtmlString((Model.ReturnedOn == null) ? "4" : "<li class=\"fa fa-check\"></li>"))</div>
                    <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.ReturnedBy == null) ? "Returned By" : Model.ReturnedBy)</div>
                    <div class="mt-step-content font-grey-cascade">@((Model.ReturnedOn == null) ? "Returned On" : Model.ReturnedOn)</div>
                </div>
                <div class="mt-step-col last @((Model.ReceivedOn == null) ? "" : "done")" style="width:20%">
                    <div class="mt-step-content font-grey-cascade" style="font-size:20px">Received</div>
                    <div class="mt-step-number bg-white">@(new HtmlString((Model.ReceivedOn == null) ? "5" : "<li class=\"fa fa-check\"></li>"))</div>
                    <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.ReceivedBy == null) ? "Received By" : Model.ReceivedBy)</div>
                    <div class="mt-step-content font-grey-cascade">@((Model.ReceivedOn == null) ? "Received On" : Model.ReceivedOn)</div>
                </div>
            }
        </div>
    </div>
</div>
