﻿@model IEMQSImplementation.WQR004

<div class="form-group">
    <div class="col-md-12">
        <form id="frmtab2" class="form-horizontal">
            <div class="form-group" style="margin-top:15px;">
                @Html.HiddenFor(m => m.Id, new { @class = "form-control col-md-3" })
                @*<fieldset>
                        <legend>WQT Details</legend>
                        <div class="form-group" style="margin-top:15px;">
                            <div class="col-md-12">
                                <ul class="feeds list-items">
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    @*   <div class="label label-sm label-warning"><h4> <i class="fa fa-check"></i></h4></div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        <h4>
                                                            WQT No.- <b>
                                                                @Html.DisplayFor(m => m.WQTNo)
                                                            </b>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col3">
                                            <div class="date">
                                                <b>Initited On:</b> @Html.ValueFor(model => model.MaintainedOn, "{0:dd/MM/yyyy}")
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            @*<div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label" style="text-align: left;">WQT No<span class="required"> * </span></label>
                                        @Html.TextBoxFor(m => m.WQTNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        @Html.HiddenFor(m => m.Id, new { @class = "form-control col-md-3" })
                                    </div>
                                </div>
                        </div>
                    </fieldset>*@
                <fieldset>
                    <legend>
                        Testing Variables and Qualification Limits
                    </legend>
                </fieldset>
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12" id="col1">
                        <div class="col-md-4"><label class="control-label" style="text-align: left;">&nbsp;</label></div>
                        <div class="col-md-4">
                            <label class="control-label" style="text-align: left;">
                                <b>Actual Values</b>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" style="text-align: left;">
                                <b>Qualified Range</b>
                            </label>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label" style="text-align: left;">	Welding Process	</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Select" id="txtWeldingProcessActualValues" name="txtWeldingProcessActualValues" class="form-control col-md-3" />
                            @Html.HiddenFor(m => m.WeldingProcessActualValues)
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Select" id="txtWeldingProcessQualified" name="txtWeldingProcessQualified" class="form-control col-md-3" />
                            @Html.HiddenFor(m => m.WeldingProcessQualified)
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">   <label class="control-label" style="text-align: left;">	Type (Manual/Semi-Auto)	</label></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Select" id="txtTypeActual" name="txtTypeActual" class="form-control col-md-3" />
                            @Html.HiddenFor(m => m.TypeActual)
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Select" id="txtTypeQualified" name="txtTypeQualified" class="form-control col-md-3" />
                            @Html.HiddenFor(m => m.TypeQualified)
                        </div>
                    </div>
                </div>


                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label" style="text-align: left;">	Backing<span class="required"> * </span>	</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Select" id="txtBackingActual" name="txtBackingActual" class="form-control col-md-3" maxlength="50" />
                            @Html.HiddenFor(m => m.BackingActual)
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Select" id="txtBackingQualified" name="txtBackingQualified" class="form-control col-md-3" maxlength="50" />
                            @Html.HiddenFor(m => m.BackingQualified)
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">   <label class="control-label" style="text-align: left;">	Plate/Pipe(Enter Dia if Pipe or Tube)<span class="required"> * </span>	</label></div>
                        <div class="col-md-2">
                            <input type="text" placeholder="Select" id="txtPlatePipeActual1" name="txtPlatePipeActual1" class="form-control col-md-3" maxlength="50" />
                            @Html.HiddenFor(m => m.PlatePipeActual1)
                        </div>
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.PlatePipeActual2, new { @placeholder = "Diameter", @class = "form-control col-md-3", maxlength = "10" })
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.PlatePipeQualified, new { @class = "form-control col-md-3", maxlength = "70" })
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label" style="text-align: left;">	Base Metal P-or-S Number to P-or-S No	<span class="required ischkhardover"> * </span></label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" placeholder="Select" id="txtBaseMetalPnoActual1" name="txtBaseMetalPnoActual1" class="form-control col-md-3" />
                            @Html.HiddenFor(m => m.BaseMetalPnoActual1)
                        </div>
                        <div class="col-md-2">
                            <input type="text" placeholder="Select" id="txtBaseMetalPnoActual2" name="txtBaseMetalPnoActual2" class="form-control col-md-3" maxlength="40" />
                            @Html.HiddenFor(m => m.BaseMetalPnoActual2)
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="BaseMetalPnoQualified" name="BaseMetalPnoQualified" maxlength="50" class="form-control col-md-3" />
                            @*<input type="text" id="txtBaseMetalPnoQualified" name="txtBaseMetalPnoQualified" maxlength="100" class="form-control col-md-3" />*@
                            @*@Html.HiddenFor(m => m.BaseMetalPnoQualified)*@
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">   <label class="control-label" style="text-align: left;">	Base Metal Thickness in mm	<span class="required ischkhardover"> * </span></label></div>
                        <div class="col-md-4">@Html.TextBoxFor(m => m.BaseMetalThicknessActual, new { @class = "form-control col-md-3", @maxlength = "20" })	</div>
                        <div class="col-md-4">@Html.TextBoxFor(m => m.BaseMetalThicknessQualified, new { @class = "form-control col-md-3", @maxlength = "30" })</div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">   <label class="control-label" style="text-align: left;">	Filler Metal or Electrode Specification (SFA)	<span class="required">*</span></label></div>
                        <div class="col-md-4">	@Html.TextBoxFor(m => m.FillerMetalSpecificationActual, new { @class = "form-control col-md-3", @maxlength = "5", })	</div>
                        <div class="col-md-4">@Html.TextBoxFor(m => m.FillerMetalSpecificationQualified, new { @class = "form-control col-md-3", @maxlength = "5" })	</div>

                        @*<input type="text" placeholder="Select" id="txtFillerMetalSpecificationActual" name="txtFillerMetalSpecificationActual" class="form-control col-md-3"  />
                                @Html.HiddenFor(m => m.FillerMetalSpecificationActual)
                            </div>
                            <div class="col-md-4">
                                <input type="text" placeholder="Select" id="txtFillerMetalSpecificationQualified" name="txtFillerMetalSpecificationQualified" class="form-control col-md-3" />
                                @Html.HiddenFor(m => m.FillerMetalSpecificationQualified)
                            </div>*@
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">   <label class="control-label" style="text-align: left;">	Filler Metal or Electrode Classification (AWS)<span class="required"> * </span>	</label></div>
                        <div class="col-md-4">	@Html.TextBoxFor(m => m.FillerMetalClassificationActual, new { @class = "form-control col-md-3", @maxlength = "30", })	</div>
                        <div class="col-md-4">	@Html.TextBoxFor(m => m.FillerMetalClassificationQualified, new { @class = "form-control col-md-3", @maxlength = "5" })</div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">   <label class="control-label" style="text-align: left;">	Filler Metal F-Numbers<span class="required"> * </span>	</label></div>
                        <div class="col-md-4">	@Html.TextBoxFor(m => m.FillerMetalFNumbersActual, new { @class = "form-control col-md-3", @maxlength = "5" })	</div>
                        <div class="col-md-4">	@Html.TextBoxFor(m => m.FillerMetalFNumbersQualified, new { @class = "form-control col-md-3", @maxlength = "70" })	</div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">   <label class="control-label" style="text-align: left;">	Consumable Insert <span class="required isgtaw"> * </span>	</label></div>
                        <div class="col-md-4">	@Html.TextBoxFor(m => m.ConsumableInsertActual, new { @class = "form-control col-md-3 ", @maxlength = "20" })	</div>
                        <div class="col-md-4">	@Html.TextBoxFor(m => m.ConsumableInsertQualified, new { @class = "form-control col-md-3 ", @maxlength = "20" })</div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">   <label class="control-label" style="text-align: left;">	Filler Metal Product form <span class="required isgtaw"> * </span>	</label></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Select" id="txtFillerMetalProductFormActual" name="txtFillerMetalProductFormActual" class="form-control col-md-3 " />
                            @Html.HiddenFor(m => m.FillerMetalProductFormActual, new { @class = "hdisgtwpaw" })
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Select" id="txtFillerMetalProductFormQualified" name="txtFillerMetalProductFormQualified" class="form-control col-md-3 " />
                            @Html.HiddenFor(m => m.FillerMetalProductFormQualified, new { @class = "hdisgtwpaw" })
                        </div>
                        @*<div class="col-md-4">	@Html.TextBoxFor(m => m.FillerMetalProductFormActual, new { @class = "form-control col-md-3" })	</div>*@
                        @* <div class="col-md-4">	@Html.TextBoxFor(m => m.FillerMetalProductFormQualified, new { @class = "form-control col-md-3" })</div>*@
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">   <label class="control-label" style="text-align: left;">	Deposit thickness(mm) 3 Layer min	<span class="required"> * </span></label></div>
                        <div class="col-md-2">	@Html.TextBoxFor(m => m.DepositedThicknessActual1, new { @class = "form-control col-md-3", @maxlength = "10", @tooltip = "Maximum charater limit is 10" })	</div>
                        <div class="col-md-2">	@Html.TextBoxFor(m => m.DepositedThicknessActual2, new { @class = "form-control col-md-3 numeric", @maxlength = "10", @tooltip = "Maximum charater limit is 10" })</div>
                        <div class="col-md-4">	@Html.TextBoxFor(m => m.DepositedThicknessQualified, new { @class = "form-control col-md-3", @maxlength = "50", @tooltip = "Maximum charater limit is 50" })</div>
                    </div>
                </div>
                <hr />
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4"><label class="control-label" style="text-align: left;">&nbsp;</label></div>
                        <div class="col-md-4">
                            <label class="control-label" style="text-align: left;">
                                <b>  Welding Position</b>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label" style="text-align: left;">
                                <b>Groove/Overlay</b>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label" style="text-align: left;">
                                <b>Fillet</b>
                            </label>
                        </div>
                    </div>
                </div>
                <hr />
                @*<div class="form-group" style="margin-top:15px;">
                        <div class="col-md-12">
                            <div class="col-md-4">   <label class="control-label" style="text-align: left;">	Welding Position	</label></div>
                            <div class="col-md-4">
                                <input type="text" placeholder="Select" id="txtWeldingPositionActual" name="txtWeldingPositionActual" class="form-control col-md-3" maxlength="40" />
                                @Html.HiddenFor(m => m.WeldingPositionActual)
                            </div>
                        </div>
                    </div>*@

                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">   <label class="control-label" style="text-align: left;">Circ. Weld Ovly</label></div>
                        <div class="col-md-4">	@Html.TextBoxFor(m => m.CircWeldOvly, new { @class = "form-control col-md-3", @maxlength = "10" })	</div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">   <label class="control-label" style="text-align: left;">	1) Plate and Pipe >=610 mm O.D	<span class="required"> * </span></label></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Select" id="txtWeldingPositionActual" name="txtWeldingPositionActual" class="form-control col-md-3" maxlength="40" />
                            @Html.HiddenFor(m => m.WeldingPositionActual)
                        </div>
                        <div class="col-md-2">	@Html.TextBoxFor(m => m.PlatePipePositionActual, new { @class = "form-control col-md-3", @maxlength = "50" })	</div>
                        <div class="col-md-2">	@Html.TextBoxFor(m => m.PlatePipePositionQualified, new { @class = "form-control col-md-3", @maxlength = "50" })</div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">   <label class="control-label" style="text-align: left;">	2) Pipe < 610 mm O.D<span class="required"> * </span>	</label></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-2">	@Html.TextBoxFor(m => m.PipeWeldingPositionActual, new { @class = "form-control col-md-3", @maxlength = "50" })	</div>
                        <div class="col-md-2">	@Html.TextBoxFor(m => m.PipeWeldingPositionQualified, new { @class = "form-control col-md-3", @maxlength = "50" })</div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">   <label class="control-label" style="text-align: left;">	Vertical progression	</label></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Select" id="txtVerticalProgressionActual" name="txtVerticalProgressionActual" class="form-control col-md-3" maxlength="40" />
                            @Html.HiddenFor(m => m.VerticalProgressionActual)
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Select" id="txtVerticalProgressionQualified" name="txtVerticalProgressionQualified" class="form-control col-md-3" maxlength="40" />
                            @Html.HiddenFor(m => m.VerticalProgressionQualified)
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">   <label class="control-label" style="text-align: left;">	Inert gas backing	<span class="required isgtaw"> * </span></label></div>

                        <div class="col-md-4">
                            <input type="text" placeholder="Select" id="txtInertGasBackingActual" name="txtInertGasBackingActual" class="form-control col-md-3 " maxlength="40" />
                            @Html.HiddenFor(m => m.InertGasBackingActual, new { @class = "hdisgtwpaw" })
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Select" id="txtInertGasBackingQualified" name="txtInertGasBackingQualified" class="form-control col-md-3 " maxlength="40" />
                            @Html.HiddenFor(m => m.InertGasBackingQualified, new { @class = "hdisgtwpaw" })
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">   <label class="control-label" style="text-align: left;">	Transfer Mode(GMAW/FCAW)	<span class="required isgtaw"> * </span></label></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Select" id="txtTransferModeActual" name="txtTransferModeActual" class="form-control col-md-3 " />
                            @Html.HiddenFor(m => m.TransferModeActual, new { @class = "hdisgtwpaw" })
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Select" id="txtTransferModeQualified" name="txtTransferModeQualified" class="form-control col-md-3 " />
                            @Html.HiddenFor(m => m.TransferModeQualified, new { @class = "hdisgtwpaw" })
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">   <label class="control-label" style="text-align: left;">	GTAW current type/polarity	</label></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Select" id="txtCurrentTypeActual" name="txtCurrentTypeActual" class="form-control col-md-3 " />
                            @Html.HiddenFor(m => m.CurrentTypeActual, new { @class = "hdisgtwpaw" })
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Select" id="txtCurrentTypeQualified" name="txtCurrentTypeQualified" class="form-control col-md-3 " />
                            @Html.HiddenFor(m => m.CurrentTypeQualified, new { @class = "hdisgtwpaw" })
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px;">
                    <div class="col-md-12">
                        <div class="col-md-4">   <label class="control-label" style="text-align: left;">	Other 	</label></div>
                        <div class="col-md-8">	@Html.TextBoxFor(m => m.Other, new { @class = "form-control col-md-3", @maxlength = "150" })	</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()' == "true" ? true : false;
    //Bhadresh Change Start
    var Is_gtaw_paw = ('@Model.WeldingProcessActualValues' == "GTAW" || '@Model.WeldingProcessActualValues' == "PAW") ? true : false;
    if(Is_gtaw_paw){ $(".isgtaw").show();} else{ $(".isgtaw").hide();}
    //Bhadresh Change End
    var Is_chk_over_hard = ('@(Model.JointType+"".ToLower())' == "overlay" || '@(Model.JointType+"".ToLower())' == "hardfacing" ) ? true : false;
    if(Is_chk_over_hard){ $(".ischkhardover").show();} else{ $(".ischkhardover").hide();}

    if (IsDisplayOnly)
    {
        $(".form-group *").prop('disabled',true);
    }


    $("#txtWeldingProcessQualified").val($("#txtWeldingProcessActualValues").val());
    $("#txtTypeQualified").val($("#txtTypeActual").val());

    // ------ Set Qualified Range Same as Actual Value ----- //
    if($('#PlatePipeQualified').val() == ""){
        $('#PlatePipeQualified').val("Plate and pipe >=73")
    }

    $('#PlatePipeQualified').change(function () {
        $('#PlatePipeQualified').val((this.value == "PPT001" || this.value == "Plate001") ? "Plate and Pipe":"");
    });

    $('#BaseMetalThicknessActual').change(function () {
        $('#BaseMetalThicknessQualified').val(parseInt(this.value) >= 25 ?"Unlimited":"");
    });

    $('#ConsumableInsertActual').change(function () {
        $('#ConsumableInsertQualified').val(this.value);
    });

    $('#FillerMetalFNumbersActual').change(function () {
        var intval = parseInt(this.value);
        if(isNaN(intval)){
            return;
        }
        if (intval ==1 || intval > 6) {
            $('#FillerMetalFNumbersQualified').val(intval);
            return;
        }
        var FillerMetalFNumbers = "";
        for (var i = 1; i <= intval; i++) {
            FillerMetalFNumbers += i+",";
        }
        FillerMetalFNumbers = FillerMetalFNumbers.replace(/,$/,''); // trimRight ","
        $('#FillerMetalFNumbersQualified').val(FillerMetalFNumbers);

    });

    var arrayYesNo = @Html.Raw(Json.Encode(@ViewBag.YesNo));
    //Bhadresh Change Start
    //$("#DepositedThicknessActual1").autocomplete({
    //    source: arrayYesNo,
    //    minLength: 0,
    //    autoFocus: true,
    //    async: false,
    //    select: function (event, ui) {
    //        var valint = parseInt($("#DepositedThicknessActual2").val());
    //        if(isNaN(valint)){
    //            $('#DepositedThicknessQualified').val("");
    //        }else
    //            $('#DepositedThicknessQualified').val(valint * 2);
    //    },
    //    change: function (event, ui) {
    //        if (ui.item == null) {
    //            $('#DepositedThicknessQualified').val("");
    //        }
    //    }
    //}).focus(function () {
    //    $(this).data("uiAutocomplete").search($(this).val());
    //});
    //Bhadresh Change End
    $('#DepositedThicknessActual2').change(function () {
        var valint = parseInt($("#DepositedThicknessActual2").val());
        if($("#DepositedThicknessActual1").val() == "" || isNaN(valint))
            $('#DepositedThicknessQualified').val("");
        else
            $('#DepositedThicknessQualified').val(valint * 2);
    });

    var lstWeldProcess = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.WeldingProcess))));
    var lstWeldingType = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.WeldingType))));
    var lstBacking = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.Backing))));
    var lstPlatePipe = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.PlatePipe))));
    var lstBasemetalPno = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.BasemetalPno))));
    var lstFillerMetalProductForm = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.FillerMetalProductForm))));
    var lstWeldingPosition = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.WeldingPosition))));
    var lstVerticalProgression = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.VerticalProgression))));
    var lstInertGasBacking = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.InertGasBacking))));
    var lstTransferMode = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.TransferMode))));
    var lstCurrentType = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.CurrentType))));

    FillWQAutoComplete($("#txtTypeQualified"), lstWeldingType, $("#TypeQualified"), false);
    FillWQAutoComplete($("#txtTypeActual"), lstWeldingType, $("#TypeActual"), false, function (item) {
        $("#txtTypeQualified").val(item.value);
        $("#TypeQualified").val(item.id);
    });
    FillWQAutoComplete($("#txtWeldingProcessActualValues"), lstWeldProcess, $("#WeldingProcessActualValues"), false, function (item) {
        $("#txtWeldingProcessQualified").val(item.value);
        $("#WeldingProcessQualified").val(item.id);
    });
    FillWQAutoComplete($("#txtWeldingProcessQualified"), lstWeldProcess, $("#WeldingProcessQualified"), false);
    FillWQAutoComplete($("#txtBackingActual"), lstBacking, $("#BackingActual"), false, function (item) {
        $("#txtBackingQualified").val(item.id == "BCK003" ? "With/Without Backing" : item.value);
        $("#BackingQualified").val(item.id == "BCK003" ? "BCK004" : item.id);
    });
    FillWQAutoComplete($("#txtBackingQualified"), lstBacking, $("#BackingQualified"), false);
    FillWQAutoComplete($("#txtPlatePipeActual1"), lstPlatePipe, $("#PlatePipeActual1"), false);
    jQuery.ui.menu.prototype._isDivider = function () { return false } // (-)minus is a special character for dropdown divider. this will disabled it.
    //function setBaseMetalPnoQualified(item) {
     
    //    if (item.value == "-" || item.value == "---" || item.value == "$" || item.value == "*" || item.value == "0") {
    //        $('#txtBaseMetalPnoQualified,#BaseMetalPnoQualified').val("");
    //    } else if (item.value == "1" || item.value == "1#" || item.value == "10A" || item.value == "10B") {
    //        $('#txtBaseMetalPnoQualified').val("P1-P15F,P34,P41-P49");
    //        $('#BaseMetalPnoQualified').val("P");
    //    }
    //}
    FillWQAutoComplete($("#txtBaseMetalPnoActual1"), lstBasemetalPno, $("#BaseMetalPnoActual1"), false);//,setBaseMetalPnoQualified
    FillWQAutoComplete($("#txtBaseMetalPnoActual2"), lstBasemetalPno, $("#BaseMetalPnoActual2"), false);//,setBaseMetalPnoQualified
    //Bhadresh Change Start
    // FillWQAutoComplete($("#txtBaseMetalPnoQualified"), lstBasemetalPno, $("#BaseMetalPnoQualified"), false);
    //Bhadresh Change End
    FillWQAutoComplete($("#txtFillerMetalProductFormActual"), lstFillerMetalProductForm, $("#FillerMetalProductFormActual"), false, function (item) {
        $("#txtFillerMetalProductFormQualified").val(item.value);
        $("#FillerMetalProductFormQualified").val(item.id);
    });
    FillWQAutoComplete($("#txtFillerMetalProductFormQualified"), lstFillerMetalProductForm, $("#FillerMetalProductFormQualified"), false);
    FillWQAutoComplete($("#txtVerticalProgressionActual"), lstVerticalProgression, $("#VerticalProgressionActual"), false, function (item) {
        $("#txtVerticalProgressionQualified").val(item.value);
        $("#VerticalProgressionQualified").val(item.id);
    });
    FillWQAutoComplete($("#txtVerticalProgressionQualified"), lstVerticalProgression, $("#VerticalProgressionQualified"), false);
    FillWQAutoComplete($("#txtInertGasBackingActual"), lstInertGasBacking, $("#InertGasBackingActual"), false);

    FillWQAutoComplete($("#txtWeldingPositionActual"), lstWeldingPosition, $("#WeldingPositionActual"), false, function (item) {
        $('#PlatePipePositionActual').val("All");
        $('#PlatePipePositionQualified').val("All");
        switch (item.value) {
            case "1F":
                $('#PlatePipePositionActual').val("--");
                $('#PlatePipePositionQualified').val("F");
                break;
            case "1G":
                $('#PlatePipePositionQualified').val("F");
                break;
            case "2F":
                $('#PlatePipePositionActual').val("--");
                $('#PlatePipePositionQualified').val("F,H");
                break;
            case "2G":
                $('#PlatePipePositionQualified').val("F,H");
                break;
            case "3F":
                $('#PlatePipePositionActual').val("--");
                $('#PlatePipePositionQualified').val("F,H,V");
                break;
            case "3G":
                $('#PlatePipePositionActual').val("F,V");
                $('#PlatePipePositionQualified').val("F,H,V");
                break;
            case "4F":
                $('#PlatePipePositionActual').val("--");
                $('#PlatePipePositionQualified').val("F,H,O");
                break;
            case "4G":
                $('#PlatePipePositionActual').val("F,O");
                $('#PlatePipePositionQualified').val("F,H,O");
                break;
            case "5G":
                $('#PlatePipePositionActual').val("F,V,O");
                break;
        }

    });
    FillWQAutoComplete($("#txtTransferModeActual"), lstTransferMode, $("#TransferModeActual"), false);
    FillWQAutoComplete($("#txtCurrentTypeActual"), lstCurrentType, $("#CurrentTypeActual"), false);
    FillWQAutoComplete($("#txtInertGasBackingQualified"), lstInertGasBacking, $("#InertGasBackingQualified"), false);
    FillWQAutoComplete($("#txtTransferModeQualified"), lstTransferMode, $("#TransferModeQualified"), false);
    FillWQAutoComplete($("#txtCurrentTypeQualified"), lstCurrentType, $("#CurrentTypeQualified"), false);

    var strWeldingProcessQualified = '@ViewBag.WeldingProcessQualified';
    var strWeldingProcessActualValues = '@ViewBag.WeldingProcessActualValues';
    var strTypeActual = '@ViewBag.TypeActual';
    var strTypeQualified = '@ViewBag.TypeQualified';
    var strBackingActual = '@ViewBag.BackingActual';
    var strBackingQualified = '@ViewBag.BackingQualified';
    var strPlatePipeActual1 = '@ViewBag.PlatePipeActual1';
    var strBaseMetalPnoActual1 = '@ViewBag.BaseMetalPnoActual1';
    var strBaseMetalPnoActual2 = '@ViewBag.BaseMetalPnoActual2';
    var strBaseMetalPnoQualified = '@ViewBag.BaseMetalPnoQualified';
    var txtFillerMetalProductFormActual = '@ViewBag.FillerMetalProductFormActual';
    var strFillerMetalProductFormQualified = '@ViewBag.FillerMetalProductFormQualified';
    var strWeldingPositionActual = '@ViewBag.WeldingPositionActual';
    var strVerticalProgressionActual = '@ViewBag.VerticalProgressionActual';
    var strVerticalProgressionQualified = '@ViewBag.VerticalProgressionQualified';
    var strInertGasBackingActual = '@ViewBag.InertGasBackingActual';
    var strInertGasBackingQualified = '@ViewBag.InertGasBackingQualified';
    var strTransferModeActual = '@ViewBag.TransferModeActual';
    var strTransferModeQualified = '@ViewBag.TransferModeQualified';
    var strCurrentTypeActual = '@ViewBag.CurrentTypeActual';
    var strCurrentTypeQualified = '@ViewBag.CurrentTypeQualified';

    $("#txtWeldingProcessActualValues").val(strWeldingProcessActualValues);
    $("#txtWeldingProcessQualified").val(strWeldingProcessQualified);
    $("#txtTypeActual").val(strTypeActual);
    $("#txtTypeQualified").val(strTypeQualified);
    $("#txtBackingActual").val(strBackingActual);
    $("#txtBackingQualified").val(strBackingQualified);
    $("#txtPlatePipeActual1").val(strPlatePipeActual1);
    $("#txtBaseMetalPnoActual1").val(strBaseMetalPnoActual1);
    $("#txtBaseMetalPnoActual2").val(strBaseMetalPnoActual2);
    //Bhadresh Change Start
    //$("#txtBaseMetalPnoQualified").val(strBaseMetalPnoQualified);
    $("#BaseMetalPnoQualified").val(strBaseMetalPnoQualified);
    //Bhadresh Change End
    $("#txtFillerMetalProductFormActual").val(txtFillerMetalProductFormActual);
    $("#txtFillerMetalProductFormQualified").val(strFillerMetalProductFormQualified);
    $("#txtVerticalProgressionActual").val(strVerticalProgressionActual);
    $("#txtVerticalProgressionQualified").val(strVerticalProgressionQualified);
    $("#txtInertGasBackingActual").val(strInertGasBackingActual);
    $("#txtWeldingPositionActual").val(strWeldingPositionActual);
    $("#txtTransferModeActual").val(strTransferModeActual);
    $("#txtCurrentTypeActual").val(strCurrentTypeActual);
    $("#txtInertGasBackingQualified").val(strInertGasBackingQualified);
    $("#txtTransferModeQualified").val(strTransferModeQualified);
    $("#txtCurrentTypeQualified").val(strCurrentTypeQualified);
    if ($("#WeldingProcessActualValues").val() == 'GTAW' || $("#WeldingProcessActualValues").val() == 'PAW'
        ||$("#WeldingProcessQualified").val() == 'GTAW' || $("#WeldingProcessQualified").val() == 'PAW') {
        checkweldingprocess(true);
    }
    else {
        checkweldingprocess(false);
    }
    $('#frmtab2').validate({
        rules: {
            txtBackingActual: { required: true, },
            txtBackingQualified: { required: true, },
            txtBaseMetalPnoActual1: { required: Is_chk_over_hard, },
            txtBaseMetalPnoActual2: { required: Is_chk_over_hard, },
            txtBaseMetalPnoQualified: { required: Is_chk_over_hard, },
            //Bhadresh Change Start
            txtPlatePipeActual1: { required: true },
            PlatePipeActual2: {
                required: function () {
                    return $("#txtPlatePipeActual1").val() != "Plate";
                }
            },
            //Bhadresh Change End
            PlatePipeQualified: { required: true },
            BaseMetalThicknessQualified: { required: Is_chk_over_hard },
            BaseMetalThicknessActual: { required: Is_chk_over_hard },
            FillerMetalSpecificationActual: { required: true, },
            FillerMetalSpecificationQualified: { required: true, },
            FillerMetalClassificationActual: { required: true, },
            FillerMetalClassificationQualified: { required: true, },
            FillerMetalFNumbersActual: { required: true, },
            FillerMetalFNumbersQualified: { required: true, },
            //ConsumableInsertActual: { required: Is_gtaw_paw, },
            //ConsumableInsertQualified: { required: Is_gtaw_paw, },
            DepositedThicknessActual1: { required: true, },
            DepositedThicknessActual2: { required: true, },
            DepositedThicknessQualified: { required: true, },
            //   CircWeldOvly: { required: true, },
            PlatePipePositionActual: { required: true, },
            PlatePipePositionQualified: { required: true, },
            PipeWeldingPositionActual: { required: true, },
            PipeWeldingPositionQualified: { required: true, },
            txtInertGasBackingActual: { required: true, },
            txtInertGasBackingQualified: { required: true, },
            txtTransferModeActual: { required: true, },
            txtTransferModeQualified: { required: true, },
        },
        messages: {
            txtBackingActual: {
                required: "Backing Actual Is Required",
            },
            txtBackingQualified: { required: "Backing Qualified Is Required", },
            txtBaseMetalPnoActual1: { required: "Base Metal PNo Is Required", },
            txtBaseMetalPnoActual2: { required: "Base Metal PNo Is Required", },
            txtBaseMetalPnoQualified: { required: "Base Metal PNo Qualified Is Required", },
            txtPlatePipeActual1: { required: "Plate/Pipe Is Required", },
            PlatePipeActual2: { required: "Plate/Pipe Is Required", },
            PlatePipeQualified: { required: "Plate/Pipe Is Required", },
            BaseMetalThicknessQualified: { required: "Base Metal Thickness Is Required", },
            BaseMetalThicknessActual: { required: "Base Metal Thickness Is Required", },
            FillerMetalSpecificationActual: { required: "Filler Metal Specification Is Required", },
            FillerMetalSpecificationQualified: { required: "Filler Metal Specification Is Required", },
            FillerMetalClassificationActual: { required: "Filler Metal Classification Is Required", },
            FillerMetalClassificationQualified: { required: "Filler Metal Classification Is Required", },
            FillerMetalFNumbersActual: { required: "Filler Metal F Numbers Is Required", },
            FillerMetalFNumbersQualified: { required: "Filler Metal F Numbers Is Required", },
            //ConsumableInsertActual: { required: "Consumable Insert Is Required", },
            //ConsumableInsertQualified: { required: "Consumable Insert Is Required", },
            DepositedThicknessActual1: { required: "Deposited Thickness Is Required", },
            DepositedThicknessActual2: { required: "Deposited Thickness Is Required", },
            DepositedThicknessQualified: { required: "Deposited Thickness Is Required", },
            CircWeldOvly: { required: "Circ. Weld Ovly. Is Required", },
            PlatePipePositionActual: { required: "Plate Pipe Position Is Required", },
            PlatePipePositionQualified: { required: "Plate Pipe Position Is Required", },
            PipeWeldingPositionActual: { required: "Plate Welding Position Is Required", },
            PipeWeldingPositionQualified: { required: "Plate Welding Position Is Required", },
            txtInertGasBackingActual: { required: "Inert Gas Backing Is Required", },
            txtInertGasBackingQualified: { required: "InertG as Backing Is Required", },
            txtTransferModeActual: { required: "Transfer Mode Is Required", },
            txtTransferModeQualified: { required: "Transfer Mode Is Required", },
        }
    });
    $('input[maxlength]').maxlength({
        alwaysShow: true,
        //placement: 'top-center'
    });
    jQuery(function ($) {
        $('.numeric').autoNumeric('init', { aPad: "fase", vMax: "1000000000", aForm: "false" });
    });


</script>