﻿@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
           
            
                <div style="height: 170vh;">
                    <iframe src="http://phzpdshpdev:8085/FKMS_IEMQS/ViewFullKit.aspx" width="100%" height="100%" style="border:none">
                        <p>
                            Your browser does not support.
                            <a href="http://phzpdshpdev:8085/FKMS_IEMQS/ViewFullKit.aspx" target="_blank"> Click here to View KPI Plot</a>
                        </p>
                    </iframe>
                    <footer class="main-footer" >

                        <strong><span style="background-color:#ff8080">Red:</span>Kit is not yet started &nbsp;<span style="background-color:#ffffb3">Yellow:</span>Kit is in progress &nbsp;<span style="background-color:#b3dba3">Green:</span>Kit is available &nbsp;<span style="background-color:#cc99ff">Violet:</span>There is some change in kit</strong>  <span style="float:right"></span>
                      
                    </footer>
                </div>

            
        </div>
    </div>
</div>