﻿<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<style>
    .clsDiv {
        margin-top: 12px !important;
    }

    .multiselect {
        /*width: 355px;*/
        text-align: left;
    }

    .multiselect-container {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        width: auto;
    }

    /*.checkbox, .form-horizontal .checkbox {
        padding: 0px 31px;
    }*/
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-body">
                <form id="frnPIReport">
                    <div class="form-body">

                        <div class="row col-md-12 clsDiv">
                            <label class="control-label col-md-3">
                                Location   <span class="required">*</span>
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="txtLocation" value="" name="txtLocation" class="form-control col-md-3 disabledfromstage3" placeholder="Select" />
                                @Html.Hidden("Location")
                                @Html.Hidden("txtUserName")
                                <input type="hidden" id="InspectionType" value=@(ViewBag.InspectionType) />
                                <input type="hidden" id="TestType" value=@(ViewBag.TestType) />

                            </div>
                        </div>
                        <div class="row col-md-12 clsDiv">
                            <label class="control-label col-md-3">Project</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" id="txtFromQualityProject" value="" name="txtFromQualityProject" class="form-control clsClear" placeholder="From" />
                                    <div class="input-group-addon">
                                        <span class="input-group-text" id=""> <b>to</b> </span>
                                    </div>
                                    <input type="text" id="txtToQualityProject" value="" name="txtToQualityProject" class="form-control clsClear" placeholder="To" />
                                    <input type="hidden" id="FromQualityProject" class="clsClear" />
                                    <input type="hidden" id="ToQualityProject" class="clsClear" />
                                </div>
                            </div>
                        </div>

                        <div class="row col-md-12 clsDiv">
                            <label class="control-label col-md-3">Shop</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" id="txtFromShop" value="" name="txtFromShop" class="form-control clsClear" placeholder="From" />
                                    <div class="input-group-addon">
                                        <span class="input-group-text" id=""> <b>to</b> </span>
                                    </div>
                                    <input type="text" id="txtToShop" value="" name="txtToShop" class="form-control clsClear" placeholder="To" />
                                    <input type="hidden" id="FromShop" class="clsClear" />
                                    <input type="hidden" id="ToShop" class="clsClear" />
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.TestType == "SEAM")
                        {
                        <div class="row col-md-12 clsDiv">
                            <label class="control-label col-md-3">Seam</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" id="txtFromSeam" value="" name="txtFromSeam" class="form-control clsClear" placeholder="From" />
                                    <div class="input-group-addon">
                                        <span class="input-group-text" id=""> <b>to</b> </span>
                                    </div>
                                    <input type="text" id="txtToSeam" value="" name="txtToSeam" class="form-control clsClear" placeholder="To" />
                                    <input type="hidden" id="FromSeam" class="clsClear" />
                                    <input type="hidden" id="ToSeam" class="clsClear" />
                                </div>
                            </div>
                        </div>
                        }
                        else
                        {
                            <div class="row col-md-12 clsDiv">
                                <label class="control-label col-md-3">Part</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" id="txtFromPart" value="" name="txtFromPart" class="form-control clsClear" placeholder="From" />
                                        <div class="input-group-addon">
                                            <span class="input-group-text" id=""> <b>to</b> </span>
                                        </div>
                                        <input type="text" id="txtToPart" value="" name="txtToPart" class="form-control clsClear" placeholder="To" />
                                        <input type="hidden" id="FromPart" class="clsClear" />
                                        <input type="hidden" id="ToPart" class="clsClear" />
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="row col-md-12 clsDiv">
                            <label class="control-label col-md-3">Stage</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" id="txtFromStage" value="" name="txtFromStage" class="form-control clsClear" placeholder="From" />
                                    <div class="input-group-addon">
                                        <span class="input-group-text" id=""> <b>to</b> </span>
                                    </div>
                                    <input type="text" id="txtToStage" value="" name="txtToStage" class="form-control clsClear" placeholder="To" />
                                    <input type="hidden" id="FromStage" class="clsClear" />
                                    <input type="hidden" id="ToStage" class="clsClear" />
                                </div>
                            </div>
                        </div>

                        <div class="row col-md-12 clsDiv">
                            <label class="control-label col-md-3">Inspection Status</label>
                            <div class="col-md-6">
                                <select name="InspectionStatus" id="InspectionStatus" class="mt-multiselect btn btn-default clsSelectClear" multiple="multiple" style="width:100%!important"></select>

                            </div>
                        </div>

                        <div class="row col-md-12 clsDiv">
                            <label class="control-label col-md-3">Stage Type<span class="required"></span></label>
                            <div class="col-md-6">
                                <select name="StageType" id="StageType" class="mt-multiselect btn btn-default clsSelectClear" multiple="multiple" style="width:100%!important"></select>
                            </div>
                        </div>

                        <div class="row col-md-12 clsDiv">
                            <label class="control-label col-md-3">Request Status<span class="required"></span></label>
                            <div class="col-md-6">
                                @Html.DropDownList("RequestStatus", new SelectList(@ViewBag.SeamApprovalStatus, "Value", "Text"), null, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#BU").change(function () {
            HighlightInValidateSelect2();
        });
        $('#frnPIReport').validate({
            rules: {
                BU: { required: true },
                txtLocation: { required: true },

            },
            messages: {
                BU: { required: "BU is required" },
                txtLocation: { required: "Location is required" },
            }
        });
        $("#txtLocation").val('@ViewBag.Location');
        $("#Location").val('@ViewBag.LocationCode');
        $("#txtUserName").val('@ViewBag.UserName');
        $("#txtLocation").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/PartlistOfferInspection/GetAllLocation",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term,
                        //bu : $('#BU').val().join('',)
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.text, id: item.id };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    $("#Location").val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    $("#Location").val(ui.item.id);
                    $("#txtLocation").val(ui.item.value);
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });



        var ParamlistQP = [];
        FillAutoCompleteAjax($('#txtFromQualityProject'), "/IPI/PartlistOfferInspection/GetQualityProjectsV2", $('#FromQualityProject'), false, ParamlistQP, function () {
            $('#txtToQualityProject').val(''); $('#ToQualityProject').val('');
            if ($('#txtFromQualityProject').val() != "") {
                $('#txtToQualityProject').val($('#txtFromQualityProject').val());
                $('#ToQualityProject').val($('#FromQualityProject').val());
            }
            if ('@ViewBag.ShowTPIinReport' == 1) {
                getInspectionagency($('#FromQualityProject').val());
            }
        }, null, false);
        FillAutoCompleteAjax($('#txtToQualityProject'), "/IPI/PartlistOfferInspection/GetQualityProjectsV2", $('#ToQualityProject'), false, ParamlistQP, null, null, false);

        var ParamlistShop = [];
        FillAutoCompleteAjax($('#txtFromShop'), "/IPI/PartlistOfferInspection/GetShopV2", $('#FromShop'), false, ParamlistShop, function () {
            $('#txtToShop').val(''); $('#ToShop').val('');
            if ($('#txtFromShop').val() != "") {
                $('#txtToShop').val($('#txtFromShop').val());
                $('#ToShop').val($('#FromShop').val());
            }
        }, null, false);
        FillAutoCompleteAjax($('#txtToShop'), "/IPI/PartlistOfferInspection/GetShopV2", $('#ToShop'), false, ParamlistShop, null, null, false);
    });

    if('@ViewBag.TestType' == "SEAM"){
        var ParamSeamlist = [];
        var setSeamURL = "/IPI/PartlistOfferInspection/GetSeamsbyQualityproject";
        ParamSeamlist.push({ id: "location", value: $('#Location') });
        ParamSeamlist.push({ id: "fromProject", value: $('#FromQualityProject') });
        ParamSeamlist.push({ id: "toProject", value: $('#ToQualityProject') });
        FillAutoCompleteAjax($('#txtFromSeam'), setSeamURL, $('#FromSeam'), false, ParamSeamlist, function () {
            $('#txtToSeam').val($('#txtFromSeam').val());
            $('#ToSeam').val($('#FromSeam').val());
        }, null, false);

        FillAutoCompleteAjax($('#txtToSeam'), setSeamURL, $('#ToSeam'), false, ParamSeamlist, function () {
        }, null, false);
    }
    else{
        var ParamPartlist = [];
        var setPartURL = "/IPI/PartlistOfferInspection/GetPartsbyQualityproject";
        ParamPartlist.push({ id: "location", value: $('#Location') });
        ParamPartlist.push({ id: "fromProject", value: $('#FromQualityProject') });
        ParamPartlist.push({ id: "toProject", value: $('#ToQualityProject') });
        FillAutoCompleteAjax($('#txtFromPart'), setPartURL, $('#FromPart'), false, ParamPartlist, function () {
            $('#txtToPart').val($('#txtFromPart').val());
            $('#ToPart').val($('#FromPart').val());
        }, null, false);

        FillAutoCompleteAjax($('#txtToPart'), setPartURL, $('#ToPart'), false, ParamPartlist, function () {
        }, null, false);
    }
    var ParamStagelist = [];
    ParamStagelist.push({ id: "location", value: $('#Location') });
    ParamStagelist.push({ id: "InspectionType", value: $('#InspectionType')  });
    FillAutoCompleteAjax($('#txtFromStage'), "/IPI/PartlistOfferInspection/GetAllStagesbyStageType",$('#FromStage'),false, ParamStagelist,function(){
        $('#txtToStage').val($('#txtFromStage').val());
        $('#ToStage').val( $('#FromStage').val());
    }, null, false);

    FillAutoCompleteAjax($('#txtToStage'), "/IPI/PartlistOfferInspection/GetAllStagesbyStageType",$('#ToStage'),false, ParamStagelist, null, null, false);

    var lstInspectionStatus = @Html.Raw(Json.Encode(@ViewBag.InspectionStatus));
    LoadMultiSelectwithCheckboxusingArray(lstInspectionStatus, $('#InspectionStatus'), "--Select--");

    var lstStageType = @Html.Raw(Json.Encode(@ViewBag.StageType));
    LoadMultiSelectwithCheckboxusingArray(lstStageType, $('#StageType'), "--Select--");

    MultiselectCCss();
    $(".multiselect").attr("disabled",false);

    function FillAutoCompleteAjax(element, url, hdElement, autoFocus, parameterArray, extrafn, minLength, isDirectValue, fnResponseMapper) {
        if (autoFocus == null || autoFocus == undefined || autoFocus == "undefined") {
            autoFocus = false;
        }
        if (minLength == null || minLength == undefined || minLength == "undefined") {
            minLength = 0;
        }
        if (parameterArray == null || parameterArray == undefined || parameterArray == "undefined") {
            parameterArray = [];
        }
        element.autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + url + GetExtraParameters(parameterArray, isDirectValue),
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        if (fnResponseMapper && typeof (fnResponseMapper) === "function") {
                            response(fnResponseMapper(data));
                        } else {
                            response($.map(data, function (item) {
                                return { label: item.Text, value: item.Text, id: item.Value };
                            }));
                        }
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            autoFocus: autoFocus,
            minLength: minLength,
            select: function (event, ui) {
                $(this).val(ui.item.value);
                $(hdElement).val(ui.item.id);
                //HighlightInValidControls();
                if (extrafn && (typeof extrafn == "function")) {
                    extrafn();
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(hdElement).val("");
                    element.val('');
                    element.focus();
                    if (extrafn && (typeof extrafn == "function")) {
                        extrafn();
                    }
                    //HighlightInValidControls();
                }
            }
        }).focus(function () {
            if ($(this).data("uiAutocomplete") != null && $(this).data("uiAutocomplete") != undefined) {
                $(this).data("uiAutocomplete").search($(this).val());
                //$(this).autocomplete("search");
            }
        });
    }

</script>
