﻿@model IEMQSImplementation.MAL013
@using IEMQSImplementation
@{
    ViewBag.Title = "Heat Treatment Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0, s2 = 0;
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />
<style>
    .w150px {
        width: 150px !important;
    }
    .w200px {
        width: 200px;
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    @{
                        if (!string.IsNullOrWhiteSpace(ViewBag.Status))
                        {
                            <div id="dvStatus" class="ribbon ribbon-right ribbon-color-warning">
                                <span style="font-weight:bolder">
                                    Status : <span id="spnStatus">@ViewBag.Status</span>
                                </span>
                            </div>
                        }
                    }
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmHeatTreatmentHeader" class="form-horizontal">
                        @*<input type="hidden" id="HeaderID" value="@Model.HeaderId" />*@
                        @Html.HiddenFor(m => m.HeaderId, new { @value = ViewBag.HeaderId })

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable tblNotes" style="margin-bottom:0px">
                                        <tr>
                                            <td class="subtitle"> PROJECT NO.</td>
                                            <td>
                                                @*@Html.DropDownListFor(x => x.ProjectNo, new { (ViewBag.DrpBU, "Text", "Value", Model.ProjectNo), @class = "form-control oplng" })*@
                                                @*@Html.DropDownListFor(m => m.ProjectNo, new SelectList(ViewBag.DrpBU, "Text", "Value", Model.ProjectNo), new { @class = "form-control oplng" })*@

                                                <div class="">
                                                    <input type="text" id="txtQProject" value="" name="txtQProject" class="form-control col-md-3" placeholder="Select" onchange="BindProjectDetailsData()" />
                                                    @Html.HiddenFor(m => m.ProjectNo, new { @class = "form-control", @placeholder = "Select" })
                                                </div>

                                            </td>
                                            <td class="subtitle"> DATE</td>
                                            <td>
                                                @*@Html.DisplayFor(m => m.Date, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })*@

                                                @*@Html.TextBoxFor(m => m.Date, new { @class = "form-control col-md-12" })*@

                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                    @Html.TextBoxFor(m => m.Date, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;" })
                                                    <span class="input-group-btn" style="top: -7px;float: right;margin-left: -39px !important">
                                                        <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle"> EQUIPMENT NAME & NUMBER</td>
                                            <td>
                                                @*@Html.DropDownListFor(m => m.EquipmentNameNumber, new SelectList(ViewBag.DrpBU, "Text", "Value", Model.EquipmentNameNumber), new { @class = "form-control oplng" })*@
                                                @Html.TextBoxFor(m => m.EquipmentNameNumber, new { @class = "form-control col-md-12", @maxlength = "100", @readonly = "readonly" })
                                            </td>
                                            <td class="subtitle">INSPECTION AGENCY</td>
                                            <td>
                                                @*@Html.DropDownListFor(m => m.InspectionAgency, new SelectList(ViewBag.DrpBU, "Text", "Value", Model.InspectionAgency), new { @class = "form-control oplng" })*@
                                                @Html.TextBoxFor(m => m.InspectionAgency, new { @class = "form-control col-md-12", @maxlength = "100" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="subtitle">HEAT TREATMENT TYPE</td>
                                            <td>
                                                @Html.TextBoxFor(m => m.HeatTreatmentType, new { @class = "form-control col-md-12", @maxlength = "200", @role = "QC" })
                                            </td>

                                            <td class="subtitle"> CLIENT </td>
                                            <td>@Html.TextBoxFor(m => m.Client, new { @class = "form-control col-md-12", @maxlength = "200", @role = "QC" }) </td>

                                        </tr>

                                        <tr>
                                            <td class="subtitle"> PONO </td>
                                            <td>@Html.TextBoxFor(m => m.PoNo, new { @class = "form-control col-md-12", @maxlength = "200", @role = "QC" }) </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span style="float:left;">
                                            <strong></strong>
                                        </span>
                                    </div>
                                    <div class="tools">
                                        <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                    </div>
                                </div>
                                <div class="portlet-body" id="div1">
                                    <div class="table-responsive">
                                        <table class="table" id="tblProtocolLines1">
                                            <thead>
                                                <tr>
                                                    <th style="display:none;">#</th>
                                                    <th style="display:none;">LineId</th>
                                                    <th class="text-center">DRG.NO.</th>
                                                    <th class="text-center w150px">REV.NO.</th>
                                                    <th class="btnthAction"></th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select class="form-control EditableTextColor" id="ddlDrgNo" name="ddlDrgNo"></select>
                                                    </td>
                                                    <td>
                                                        <input type="text" id="txtRevNo" class="form-control EditableTextColor onlyNumeric w150px" />
                                                    </td>
                                                    <td>
                                                        <input type="button" id="btnAddDrg" value="ADD" class="btn btn-info" style="height:25px!important;padding: 2px;" onclick="fnAddDrgRevNo()" />
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.lstMAL013_2 != null)
                                                {
                                                    foreach (var item in ViewBag.lstMAL013_2 as List<MAL013_2>)
                                                    {
                                                        <tr>
                                                            <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                            <td class="LineId" style="display:none;">@Html.Hidden("LineId_1_" + @s1, @item.LineId, new { @Id = "LineId_1_" + @s1 })</td>
                                                            <td class="DrgNo">@Html.TextBox("DrgNo_1_" + @s1, item.DrgNo, new { @class = "form-control EditableTextColor", @maxlength = "100" })</td>
                                                            <td class="RevNo">@Html.TextBox("RevNo_1_" + @s1, item.RevNo, new { @class = "form-control EditableTextColor onlyNumeric w150px", @maxlength = "10" })</td>
                                                            <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                        <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="2">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span style="float:left;">
                                            <strong>INSPECTION SUMMARY</strong>
                                        </span>
                                    </div>
                                    <div class="tools">
                                        <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div2', this)" id="btnCollapse2" data-target="#div2" data-original-title="" title=""> </a>
                                    </div>
                                </div>
                                <div class="portlet-body" id="div2">
                                    <div class="table-responsive">
                                        <table class="table" id="tblProtocolLines2">
                                            <thead>
                                                <tr>
                                                    <th style="display:none;">#</th>
                                                    <th style="display: none;">LineId</th>
                                                    <th>Graph<br />No.</th>
                                                    <th style="width:160px;">HTR No.</th>
                                                    <th class="w200px">DETAILS</th>
                                                    <th>SEAM<br />NO.</th>
                                                    <th>LOADING<br />TEMP.<br /> @Html.DropDownListFor(m => m.LoadingTemperature_Degree, new SelectList(@ViewBag.DegreeEnum, "Value", "Text"), "Select", new { @class = "form-control" })</th>
                                                    <th>UNLOADING<br />TEMP.<br />(Max.)<br />  @Html.DropDownListFor(m => m.UnLoadingTemperatureMax_Degree, new SelectList(@ViewBag.DegreeEnum, "Value", "Text"), "Select", new { @class = "form-control" })</th>
                                                    <th>RATE<br />OF<br />HEATING/COOLING<br />PER<br />Hrs.(Req.-Max)<br /> @Html.DropDownListFor(m => m.RateOfHeatingCoolingPerHourMax_Degree, new SelectList(@ViewBag.DegreeEnum, "Value", "Text"), "Select", new { @class = "form-control" })</th>
                                                    <th>SOAKING<br />TEMP.<br />@Html.DropDownListFor(m => m.SoakingTemperature_Degree, new SelectList(@ViewBag.DegreeEnum, "Value", "Text"), "Select", new { @class = "form-control" })</th>
                                                    <th>SOAKING<br />TIME<br />(Req.)<br />(Min.)</th>
                                                    <th>SOAKING<br />TIME<br />(Actual)</th>
                                                    <th>RATE<br />OF<br />HEATING<br />PER<br />HOUR<br />(Actual)<br /> @Html.DropDownListFor(m => m.RateOfHeatingPerHourActual_Degree, new SelectList(@ViewBag.DegreeEnum, "Value", "Text"), "Select", new { @class = "form-control" })</th>
                                                    <th>RATE<br />OF<br />COOLING<br />PER<br />HOUR<br />(Actual)<br /> @Html.DropDownListFor(m => m.RateOfCoolingPerHourActual_Degree, new SelectList(@ViewBag.DegreeEnum, "Value", "Text"), "Select", new { @class = "form-control" })</th>

                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <th class="btnthAction"></th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.lstMAL013_3 != null)
                                                {
                                                    foreach (var item in ViewBag.lstMAL013_3 as List<MAL013_3>)
                                                    {
                                                <tr>
                                                    <td style="text-align: center;display:none;"># @(s2 = s2 + 2) </td>
                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                    <td class="GraphNo"> @Html.TextBox("GraphNo_2_" + @s2, @item.GraphNo, new { @class = "form-control", @maxlength = "30" })</td>
                                                    <td class="HTRNo">
                                                        @Html.DropDownList("HTRNo_2_" + @s2, new SelectList(ViewBag.ddlHTRNo, "Text", "Value", item.HTRNo), new { @class = "form-control" })
                                                    </td>
                                                    <td class="Details"> @Html.TextBox("Details_2_" + @s2, @item.Details, new { @class = "form-control", @maxlength = "500" })</td>
                                                    <td class="SeamNo"> @Html.TextBox("SeamNo_2_" + @s2, @item.SeamNo, new { @class = "form-control", @maxlength = "30" })</td>
                                                    <td class="LoadingTemperature"> @Html.TextBox("LoadingTemperature_2_" + @s2, @item.LoadingTemperature, new { @class = "form-control", @maxlength = "30" })</td>
                                                    <td class="UnLoadingTemperatureMax"> @Html.TextBox("UnLoadingTemperatureMax_2_" + @s2, @item.UnLoadingTemperatureMax, new { @class = "form-control", @maxlength = "30" })</td>
                                                    <td class="RateOfHeatingCoolingPerHourMax"> @Html.TextBox("RateOfHeatingCoolingPerHourMax_2_" + @s2, @item.RateOfHeatingCoolingPerHourMax, new { @class = "form-control", @maxlength = "30" })</td>
                                                    <td class="SoakingTemperature"> @Html.TextBox("SoakingTemperature_2_" + @s2, @item.SoakingTemperature, new { @class = "form-control", @maxlength = "30" })</td>
                                                    <td class="SoakingTime"> @Html.TextBox("SoakingTime_2_" + @s2, @item.SoakingTime, new { @class = "form-control", @maxlength = "30" })</td>
                                                    <td class="SoakingTimeActual"> @Html.TextBox("SoakingTimeActual_2_" + @s2, @item.SoakingTimeActual, new { @class = "form-control", @maxlength = "30" })</td>
                                                    <td class="RateOfHeatingPerHourActual"> @Html.TextBox("RateOfHeatingPerHourActual_2_" + @s2, @item.RateOfHeatingPerHourActual, new { @class = "form-control", @maxlength = "30" })</td>
                                                    <td class="RateOfCoolingPerHourActual"> @Html.TextBox("RateOfCoolingPerHourActual_2_" + @s2, @item.RateOfCoolingPerHourActual, new { @class = "form-control", @maxlength = "30" })</td>

                                                    <td class="DeleteAction"> <i id="Delete_2_@s2" name="Delete_2_@s2" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                        <input id="hdGrid2LastRow" type="hidden" value="@s2" />
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                    <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                </div>
                                <div class="col-md-6" style="text-align:right;">

                                    @if (string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <input type="button" class="btn submit" id="btnSave" value="Save as Draft" />
                                        <input type="button" class="btn save" id="btnSubmit" value="Submit" />
                                        @*<input type="button" class="btn submit" id="btnSave" value="Approve" />*@
                                    }
                                    <a class="btn btnclose" id="btnClose"> Close</a>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="PrintTPI1" type="hidden" />
<input id="PrintTPI2" type="hidden" />
<input id="PrintTPI3" type="hidden" />
<input id="PrintBy" type="hidden" value="@ViewBag.PrintedBy" />

@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>
<script>
    var userRole = '@ViewBag.UserRole.ToString()';

    //var ddlHTRNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.ddlHTRNo))));
    var ddlHTRNo = [];
    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var isEdit = '@ViewBag.isEditable';


    $(document).ready(function () {
        
        if (@Model.HeaderId > 0) {
            $("#txtQProject").prop("disabled", true);
            fnGetHTRNo();
        }
        FillAutoCompleteUsingAjax($("#txtQProject"), "/Utility/General/GetAllAuthorisedQualityProject", $("#ProjectNo"));

            //SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({
            orientation: "auto", autoclose: true,
        });
        //SetControlNumeric();
        //SetAccessControlForRole(userRole);

        if ($("#ProjectNo").val() != "") {
            getInspectionagency($("#ProjectNo").val());
        }

        $("#btnSave").click(function () {
           // LoadSaveAndDraft();
            SaveProtocolHeaderData("frmHeatTreatmentHeader", $('#HeaderId').val(), ControllerURL + "/SaveHeatTreatmentHeaderData?s=0", userRole, false, LoadSaveAndDraft);
        });

        $("#btnSubmit").click(function () {
            // LoadSaveAndDraft();
            SaveProtocolHeaderData("frmHeatTreatmentHeader", $('#HeaderId').val(), ControllerURL + "/SaveHeatTreatmentHeaderData?s=1", userRole, false, LoadSaveAndDraft);
            window.location.href = WebsiteURL + '/MAL/MaintainMAL/Index';
        });
        if ('@Model.ProjectNo' != "") {
            $("#txtQProject").val('@Model.ProjectNo');
            fnGetDrgNo();

        }

        $("#btnClose").click(function () {
            window.location.href = WebsiteURL + '/MAL/MaintainMAL/Index';
        });

        $("#btnPrint").click(function () {
            var dat = [];
            dat.push({ Param: "HeaderId", Value: $('#HeaderId').val() });
            dat.push({ Param: "PrintTPI1", Value: $("#PrintTPI1").val() });
            dat.push({ Param: "PrintTPI2", Value: $("#PrintTPI2").val() });
            dat.push({ Param: "PrintTPI3", Value: $("#PrintTPI3").val() });
            dat.push({ Param: "PrintBy", Value: $("#PrintBy").val() });
            ShowReport(dat, "/MAL/HeatTreatmentSummary", false);
        });

        if (isEdit != "true") {
            $('form#frmHeatTreatmentHeader :input').attr('disabled', true);
        }

    });

    $("body").on("keypress", ".onlyNumeric", function (e) {
        var keyCode = e.which ? e.which : e.keyCode;
        if (!(keyCode >= 48 && keyCode <= 57)) {
            return false;
        }
    });

    function SetTableColumns() {
        //AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'RevNo', ['RevNo'], AddTbl1NewTrRow, true);
        AddNextRow(this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'GraphNo', ['GraphNo','HTRNo','Details','SeamNo','LoadingTemperature','UnLoadingTemperatureMax','RateOfHeatingCoolingPerHourMax','SoakingTemperature','SoakingTime','SoakingTimeActual','RateOfHeatingPerHourActual','RateOfCoolingPerHourActual'], AddTbl2NewTrRow, true);
    }

    function AddTbl1NewTrRow(NewTrRowNum) {
        $("#hdGrid1LastRow").val(NewTrRowNum);
        var fn = "AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','RevNo', ['RevNo'],AddTbl1NewTrRow)";
        strhtml = "<tr class=\"islastrow\">" +
            "<td class=\"DrgNo center\">" + GetColumnDropdownRender(null, NewTrRowNum, "DrgNo", "", fn, "20", false, false, " width125px ", "PROD", 1, "islastrow") + "</td>"
            + "<td class=\"RevNo center \">" + GetColumnTextBoxRender(NewTrRowNum, "RevNo", "", fn, "5", false, false, "", "", 1, "islastrow", true) + "</td>"
            + "<td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
            + "</tr>";
        return strhtml;
    }

    function AddTbl2NewTrRow(NewTrRowNum) {
        $("#hdGrid2LastRow").val(NewTrRowNum);
        var fn = "AddNextRow(this,null,false,2,'hdGrid2LastRow','tblProtocolLines2','GraphNo', ['GraphNo','HTRNo','Details','SeamNo','LoadingTemperature','UnLoadingTemperatureMax','RateOfHeatingCoolingPerHourMax','SoakingTemperature','SoakingTime','SoakingTimeActual','RateOfHeatingPerHourActual','RateOfCoolingPerHourActual'],AddTbl2NewTrRow)";
        var GetHTRData = "GetHTRData("+NewTrRowNum+")";
        strhtml = "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            " <td class=\"LineId\" style=\"display:none;\">0</td>"
             + "<td class=\"GraphNo center \">" + GetColumnTextBoxRender(NewTrRowNum, "GraphNo", "", fn, "30", false, false, "", "", 2, "islastrow") + "</td>"
            + "<td class=\"HTRNo center\">" + GetColumnDropdownRender(ddlHTRNo, NewTrRowNum, "HTRNo", "", GetHTRData, "50", false, false, "", "", 2, "islastrow") + "</td>"
            + "<td class=\"Details center \">" + GetColumnTextBoxRender(NewTrRowNum, "Details", "", fn,"500", true, false, "", "", 2, "islastrow") + "</td>"
            + "<td class=\"SeamNo center \">" + GetColumnTextBoxRender(NewTrRowNum, "SeamNo", "", fn, "30", true, false, "", "", 2, "islastrow") + "</td>"
            + "<td class=\"LoadingTemperature center \">" + GetColumnTextBoxRender(NewTrRowNum, "LoadingTemperature", "", fn, "30", true, false, "", "", 2, "islastrow") + "</td>"
            + "<td class=\"UnLoadingTemperatureMax center \">" + GetColumnTextBoxRender(NewTrRowNum, "UnLoadingTemperatureMax", "", fn, "30", true, false, "", "", 2, "islastrow") + "</td>"
            + "<td class=\"RateOfHeatingCoolingPerHourMax center \">" + GetColumnTextBoxRender(NewTrRowNum, "RateOfHeatingCoolingPerHourMax", "", fn, "30", true, false, "", "", 2, "islastrow") + "</td>"
            + "<td class=\"SoakingTemperature center \">" + GetColumnTextBoxRender(NewTrRowNum, "SoakingTemperature", "", fn, "30", true, false, "", "", 2, "islastrow") + "</td>"
            + "<td class=\"SoakingTime center \">" + GetColumnTextBoxRender(NewTrRowNum, "SoakingTime", "", fn, "30", true, false, "", "", 2, "islastrow") + "</td>"
            + "<td class=\"SoakingTimeActual center \">" + GetColumnTextBoxRender(NewTrRowNum, "SoakingTimeActual", "", fn, "30", false, false, "", "", 2, "islastrow") + "</td>"
            + "<td class=\"RateOfHeatingPerHourActual center \">" + GetColumnTextBoxRender(NewTrRowNum, "RateOfHeatingPerHourActual", "", fn, "30", false, false, "", "", 2, "islastrow") + "</td>"
            + "<td class=\"RateOfCoolingPerHourActual center \">" + GetColumnTextBoxRender(NewTrRowNum, "RateOfCoolingPerHourActual", "", fn, "30", false, false, "", "", 2, "islastrow") + "</td>"
           
            + "<td class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
            + "</tr>";
          $('input[maxlength]').maxlength({
                alwaysShow: true,
            });
        return strhtml;
    }

    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
            },
            messages: {
            }
        });
    }


    function LoadSaveAndDraft() {
        debugger;
        var temp = $("#HeaderId").val();

        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "HeaderId": $('#HeaderId').val(),
                "LineId": $('td.LineId input', this).val(),
                "DrgNo": $('td.DrgNo input', this).val(),
                "RevNo": $('td.RevNo input', this).val(),
            };

            lstProtocolLines1 = JSON.stringify(TableData1);
        });

        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveLine1" + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);

        var TableData2 = []; //initialize array;
        var lstProtocolLines2 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines2 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData2[row] = {
                "HeaderId": $('#HeaderId').val(),
                "LineId": $('td.LineId input', this).val(),
                "HTRNo": $('td.HTRNo select', this).val(),
                "SoakingTimeActual": $('td.SoakingTimeActual input', this).val(),
                "RateOfHeatingPerHourActual": $('td.RateOfHeatingPerHourActual input', this).val(),
                "RateOfCoolingPerHourActual": $('td.RateOfCoolingPerHourActual input', this).val(),
                "GraphNo": $('td.GraphNo input', this).val(),
                "Details": $('td.Details input', this).val(),
                "SeamNo": $('td.SeamNo input', this).val(),
                "LoadingTemperature": $('td.LoadingTemperature input', this).val(),
                "UnLoadingTemperatureMax": $('td.UnLoadingTemperatureMax input', this).val(),
                "RateOfHeatingCoolingPerHourMax": $('td.RateOfHeatingCoolingPerHourMax input', this).val(),
                "SoakingTemperature": $('td.SoakingTemperature input', this).val(),
                "SoakingTime": $('td.SoakingTime input', this).val(),
            };

            lstProtocolLines2 = JSON.stringify(TableData2);
        });
        SaveAsDraftProtocolLine(lstProtocolLines2, ControllerURL + "SaveLine2" + "?HeaderId=" + parseInt($("#HeaderId").val()), 2);
    }


    function BindProjectDetailsData() {
        //sValue
        showLoading(true);
        var formData = new FormData();
        formData.append("ProjectNo", $("#ProjectNo").val());
        $.ajax({
            url: WebsiteURL + ControllerURL + '/ProjectDetails',
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: formData,
            success: function (result) {
                $("#EquipmentNameNumber").val(result);
                fnGetDrgNo();
                fnGetHTRNo();
                showLoading(false);
            },
            error: function (err) {
                showLoading(false);
            }
        });
        getInspectionagency($("#ProjectNo").val());
    }


    function GetHTRData(rowNo) {
        var formData = {
            htrNo: $("#HTRNo_2_" + rowNo).val(),
        };

        $.ajax({
            url: WebsiteURL + ControllerURL + '/GetHTRById',
            type: "POST",
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function (result) {
                console.log(result);
                $("#SeamNo_2_" + rowNo).val(result.SeamNo);
                $("#Details_2_" + rowNo).val(result.Details);
                $("#SoakingTime_2_" + rowNo).val(result.SoakingTime);
                $("#LoadingTemperature_2_" + rowNo).val(result.LoadingTemperature);
                $("#UnLoadingTemperatureMax_2_" + rowNo).val(result.UnLoadingTemperatureMax);
                $("#RateOfHeatingCoolingPerHourMax_2_" + rowNo).val(result.RateOfHeatingCoolingPerHourMax);
                $("#SoakingTemperature_2_" + rowNo).val(result.SoakingTemperature);
            },
            error: function (err) {
                showLoading(false);
            }
        });

    }

    function fnGetHTRNo() {
        $.ajax({
            type: "POST",
            url: WebsiteURL + ControllerURL + '/GetHTRNo',
            data: {ProjectNo:$("#ProjectNo").val() },
            success: function (data) {
                if (data) {
                    ddlHTRNo = data;
                    AddNextRow(this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'GraphNo', ['GraphNo','HTRNo','Details','SeamNo','LoadingTemperature','UnLoadingTemperatureMax','RateOfHeatingCoolingPerHourMax','SoakingTemperature','SoakingTime','SoakingTimeActual','RateOfHeatingPerHourActual','RateOfCoolingPerHourActual'], AddTbl2NewTrRow, true);
                }
            }
        });
    }

    function fnGetDrgNo() {
        //$("#ProjectNo").val("S040166");
        //if ($("#ProjectNo").val() != "") {
        //var formData = new FormData();
        //formData.append("ProjectNo", $("#ProjectNo").val());
        debugger
        var project = $("#ProjectNo").val();
        $.ajax({
            type: "POST",
            url: WebsiteURL + ControllerURL + '/getDrgNo',
            data: { ProjectNo: project },
            success: function (data) {
                var s = '<option value="-1">Please Select a Drawing</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                }
                $("#ddlDrgNo").html(s);
            }
        });
        //}
    }


    function fnAddDrgRevNo() {
        var v1 = $("#ddlDrgNo").val();
        var v2 = $("#txtRevNo").val();
        //alert($('#tblProtocolLines1 > tbody > tr > td:nth-child(3) > input:contains(' + v1 + ')').length);
        var row = $('#tblProtocolLines1 tbody tr:not(.islastrow)').length;
        for (var i = 0; i < row; i++) {
            var vVal = $("#tblProtocolLines1 tbody tr:nth-child(" + (i + 1) + ") td:nth-child(3) input").val();
            if (vVal != v1) {
                row = parseInt(row) + 1;
                var strhtml =
                    "<tr class=\"\">" +
                    "<td style=\"text-align: center;display:none;\">" + row + "</td>" +
                    "<td class=\"LineId\" style=\"display:none;\">0</td>" +
                    "<td class=\"DrgNo\"><input class='form-control EditableTextColor DrgNo' type='text' value='" + v1 + "' disabled></input></td>" +
                    "<td class=\"RevNo\"><input class='form-control EditableTextColor RevNo' type='text' value='" + v2 + "' disabled></input></td>" +
                    "<td class=\"DeleteAction\"><i id=\"Delete_1_" + row + "\" name=\"Delete_1_" + row + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\"></i></td>" +
                    "</tr>";



                $("#tblProtocolLines1").append(strhtml);
            }
            else {
                alert("Record Exits.");
            }
        }


        if (row == 0) {
            row = parseInt(row) + 1;
            var strhtml =
                "<tr class=\"\">" +
                "<td style=\"text-align: center;display:none;\">" + row + "</td>" +
                "<td class=\"LineId\" style=\"display:none;\">0</td>" +
                "<td class=\"DrgNo\"><input class='form-control EditableTextColor DrgNo' type='text' value='" + v1 + "' disabled></input></td>" +
                "<td class=\"RevNo\"><input class='form-control EditableTextColor RevNo' type='text' value='" + v2 + "' disabled></input></td>" +
                "<td class=\"DeleteAction\"><i id=\"Delete_1_" + row + "\" name=\"Delete_1_" + row + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\"></i></td>" +
                "</tr>";



            $("#tblProtocolLines1").append(strhtml);
        }
    }
    function getInspectionagency(qproject) {
        $.ajax({
            url: WebsiteURL + ControllerURL + "/GetInspectionAgency",
            type: "POST",
            delay: 250,
            async: false,
            data: {
                qproject: qproject
            },
            success: function (data) {
                if (data != "" && data != null && data != undefined) {
                    var dat = data.Agency.split('#');
                    $("#PrintTPI1").val("");
                    $("#PrintTPI2").val("");
                    $("#PrintTPI3").val("");
                    if (dat[0] != undefined && dat[0] != "" && dat[0] != null) {
                        $("#PrintTPI1").val(dat[0]);
                    }
                    if (dat[1] != undefined && dat[1] != "" && dat[1] != null) {
                        $("#PrintTPI2").val(dat[1]);
                    }
                    if (dat[2] != undefined && dat[2] != "" && dat[2] != null) {
                        $("#PrintTPI3").val(dat[2]);
                    }

                    var InspectionAgencyArr = data.arr;
                    $("#InspectionAgency").val(InspectionAgencyArr);

                }
            }
        });
    }
     $('input[maxlength]').maxlength({
                alwaysShow: true,
            });
</script>