﻿@using IEMQSImplementation
<script>
    var url = WebsiteURL + "/PAM/DSS/loadDSSDataTable?status=" + '@ViewBag.status' + "&ForApprove=" + '@ViewBag.ForApprove';
    var table = $('#tblHeader');
    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": true,
        "bServerSide": true,
        "stateSave": false,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
            [5, 10, 25, 50, 100],
            [5, 10, 25, 50, 100]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        "sAjaxSource": url,
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" }
                        //{ "name": "status", "value": '@ViewBag.status' }
                        );
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                //'async': false,
                'success': function (result) {
                    fnCallback(result);
                    $(".txtStrWhere", "#dvExportHeader").val(result.whereCondition);
                    $(".txtStrSort", "#dvExportHeader").val(result.strSortOrder);
                },
            });
        },
        "aoColumns": [
            {
                "sClass": "hide",
            },
             {
                 "sClass": "hide",
             },
              {
                  "sClass": "center",
                  "bSortable": false,
              },
              {
                  "sClass": "center",
                  "bSortable": false,
              },
              {
                  "sClass": "center",
                  "bSortable": false,
              },
              {
                  "sClass": "center",
                  "bSortable": false,
              },
            {
                "sClass": "",
                "bSortable": false,
                "render": function (data, type, row, meta) {
                    var DssId = row[0];
                    var status = row[5];
                    var buttons = "";
                    var functionCall = "ViewDSS(" + DssId + ")";

                    var PrintDSSfunctionCall = "PrintDSS(" + DssId + ")";

                    buttons = "<center>" +
                        "<a href='javascript:void(0);' Title='View DSS' onclick=" + functionCall + " class='iconspace'><i class='fa fa-eye'></i></a>" +
                        "<a Title='View Timeline' href='javascript:void(0)' class='iconspace' onclick=ShowTimeline('/PAM/DSS/ShowTimeline?DssId=" + parseInt(row[0]) + "');><i class='fa fa-clock-o'></i></a>";// + "</center>";

                    if (status.toLowerCase() == '@clsImplementationEnum.NDETechniqueStatus.SentForApproval.GetStringValue().ToLower()' ||
                        status.toLowerCase() == '@clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue().ToLower()') {
                        buttons = buttons + '<a Title=\"Print DSS\" onclick=' + PrintDSSfunctionCall.toString() + ' class=\"iconspace\"><i class=\"fa fa-print\"></i></a>';
                    }
                    else {
                        buttons = buttons + '<a Title=\"Print DSS\"  class=\"disabledicon\"><i class=\"fa fa-print\"></i></a>';
                    }
                    buttons = buttons + "</center>";

                    return buttons;
                }
            }
        ]
    });

    function ViewDSS(DssId) {
        if ('@ViewBag.ForApprove' == "true") {
            window.location.href = WebsiteURL + "/PAM/DSS/ApproveDSSDetails/" + DssId;
        }
        else {
            window.location.href = WebsiteURL + "/PAM/DSS/AddDSS/" + DssId;
        }
    }

    function PrintDSS(DssId) {
        url = "/PAM/PAM DSS";
        var dat = [];
        dat.push({ Param: "DSSId", Value: DssId });

        ShowReport(dat, url);
    }

</script>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    DSS List
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PAM/DSS/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblHeader" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th style="display:none;">DssId</th>
                            <th style="display:none;">HeaderId</th>
                            <th class="min-phone-l">PAM</th>
                            <th class="min-phone-l">DSS No</th>
                            <th class="min-phone-l">Rev No</th>
                            <th class="min-phone-l">Status</th>
                            <th class="min-phone-l" style="white-space:nowrap">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
