﻿@using IEMQSImplementation
@model PAM006
@{
    ViewBag.Title = "Approve DSS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-switch/bootstrap-switch.min.js"></script>


<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div id="divDSSHeader"></div>

                <hr />

                <div class="row">
                    <div class="col-md-12" style="text-align:right;margin-bottom:10px">
                    </div>

                </div>
                <div id="divDSSLines"></div>
                <div class="row">
                    <div class="col-md-12" style="text-align:right;margin-bottom:25px">
                    </div>
                </div>
                <div class="row">
                    <form id="frmIndPam" class="form-horizontal" method="post">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align:center;background-color:#19587d;color: #fff;font-size: 18px;">Marketing</th>
                                    <th style="text-align:center;background-color:#19587d;color: #fff;font-size: 18px;">Proposal / Estimation Lead</th>
                                    <th style="text-align:center;background-color:#19587d;color: #fff;font-size: 18px;">Project Manager</th>
                                    <th style="text-align:center;background-color:#19587d;color: #fff;font-size: 18px;">Design Lead</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">
                                                Name
                                            </label>
                                            <div class="col-md-10" style="text-align:left">
                                                <input type="text" id="ContractNoName" name="ContractNoName" value='@ViewBag.Marketing' readonly="readonly" class="form-control" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">
                                                Name
                                            </label>
                                            <div class="col-md-10">
                                                <input type="text" id="ContractNoName" name="ContractNoName" value='@ViewBag.ESTName' readonly="readonly" class="form-control" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">
                                                Name
                                            </label>
                                            <div class="col-md-10">
                                                <input type="text" id="ContractNoName" name="ContractNoName" value='@ViewBag.PMGName' readonly="readonly" class="form-control" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">
                                                Name
                                            </label>
                                            <div class="col-md-10">
                                                <input type="text" id="ContractNoName" name="ContractNoName" value='@ViewBag.DesignLead' readonly="readonly" class="form-control" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">
                                                Date
                                            </label>
                                            <div class="col-md-10">
                                                <input type="text" id="ContractNoName" name="ContractNoName" value='@ViewBag.MKTDate' readonly="readonly" class="form-control" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">
                                                Date
                                            </label>
                                            <div class="col-md-10">
                                                <input type="text" id="ContractNoName" name="ContractNoName" value='@ViewBag.ESTDate' readonly="readonly" class="form-control" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">
                                                Date
                                            </label>
                                            <div class="col-md-10">
                                                <input type="text" id="ContractNoName" name="ContractNoName" value='@ViewBag.PMGDate' readonly="readonly" class="form-control" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">
                                                Date
                                            </label>
                                            <div class="col-md-10">
                                                <input type="text" id="ContractNoName" name="ContractNoName" value='@ViewBag.DesignerDate' readonly="readonly" class="form-control" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align:right;margin-bottom:25px">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align:right;margin-bottom:10px">
                        @*<input type="button" class="btn green" id="btnPrint" value="Print" />*@
                        <input type="button" class="btn approve" id="btnApprove" value="Approve" disabled />
                        @if (Model.Status.ToLower() == clsImplementationEnum.PAMStatus.Approved.GetStringValue().ToLower() && ViewBag.IsDISCreated == "false")
                        {
                            <input type="button" class="btn green" id="btnCreateDis" value="Create DIS" />
                        }

                        <input type="button" class="btn return" id="btnReturn" value="Return" disabled />
                        <input type="button" class="btn btnclose" id="btnCancel" value="Close" />
                        <button class="btn icons" id="btnPrint" type="button" title="Print"><i class="fa fa-print"></i></button>
                    </div>

                </div>
            </div>

        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
</div>
<script>
    var DSSStatus='@Model.Status.ToLower()';
    IsApprover=true ;
    $(document).ready(function () {


        $('#btnCreateDis').on('click', function () {
            $.ajax({
                url: WebsiteURL +"/PAM/DIS/CheckDISStatus",
                type: "POST",
                data: { HeaderId :'@Model.HeaderId'},
                dataType: "html",
                //async:false,
                success: function (data) {
                    if (data) {
                        window.location.href = WebsiteURL +'/PAM/DIS/CreateDis?DSSId=' + '@Model.DSSId';
                    }
                }
            })
        });

        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });

        $('#btnPrint').click(function(){
            url = "/PAM/PAM+DSS";

            var dat = [];
            dat.push({ Param: "DSSId", Value: '@Model.DSSId' });

            ShowReport(dat, url);
        });

    });

    if("@Model.Status.ToLower()"=="@clsImplementationEnum.PAMStatus.SentForApproval.GetStringValue().ToLower()" ||
        "@Model.Status.ToLower()"=="@clsImplementationEnum.PAMStatus.Returned.GetStringValue().ToLower()"){
        $('#btnApprove').prop('disabled',false);
        $('#btnReturn').prop('disabled',false);
    }
    if("@Model.Status.ToLower()"=="@clsImplementationEnum.PAMStatus.Returned.GetStringValue().ToLower()" )
    {
        $('#txtcomments').prop('disabled',true);
    }

    $('#divDSSHeader').load(
    $.ajax({
        url: WebsiteURL +"/PAM/DSS/GetDSSHeaderDetails",
        type: "POST",
        data: { DssId :@Model.DSSId,HeaderId :@Model.HeaderId},
        dataType: "html",
        //async:false,
        success: function (data) {
            //console.log(data);
            $('#divDSSHeader').html(data);
        }
    })
    );

    $('#divDSSLines').load(
   $.ajax({
       url: WebsiteURL +"/PAM/DSS/GetDSSLinesDetails",
       type: "POST",
       data: { DssId :@Model.DSSId, ForApprove: "true"},
       dataType: "html",
       //async:false,
       success: function (data) {
           //console.log(data);
           $('#divDSSLines').html(data);
       }
   })
   );
    $('#btnCancel').click(function(){
        window.location.href = WebsiteURL +"/PAM/DSS/ApproveDSS";
    });
    $('#btnApprove').click(function(){
        @*bootbox.confirm("Do you want to approve this record? ",
                function (result) {
                    if (result) {
                        var Id = $("#Id").val();
                        var Comments=$("#txtcomments").val();
                        $.ajax({
                            url: "/PAM/DSS/ApproveDSSDetailById",
                            type: "Post",
                            async: false,
                            dataType: "JSON",
                            data: { DssId :@Model.DSSId,Comments:Comments },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", "Record Approved successfully", "Success");
                                    setTimeout(function () { window.location.href = '@Url.Action("ApproveDSS", "DSS")' }, 2000);
                                }
                                else {
                                    bootbox.alert(data.Value);
                                }
                            },
                            error: function (data) {
                                bootbox.alert(data.Value);
                            }
                        });
                    }
                });*@

        bootbox.dialog({
            title: "Approve Confirmation",
            message: "Do you want to approve this record?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        var Id = $("#Id").val();
                        var Comments=$("#txtcomments").val();
                        $.ajax({
                            url: WebsiteURL +"/PAM/DSS/ApproveDSSDetailById",
                            type: "Post",
                            //async: false,
                            dataType: "JSON",
                            data: { DssId :@Model.DSSId,Comments:Comments },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", "Record Approved successfully", "Success");
                                    setTimeout(function () { window.location.href = WebsiteURL +"/PAM/DSS/ApproveDSS" }, 2000);
                                }
                                else {
                                    bootbox.alert(data.Value);
                                }
                            },
                            error: function (data) {
                                bootbox.alert(data.Value);
                            }
                        });
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }

            }
        });
    })

    $('#btnReturn').click(function(){

        @*bootbox.confirm("Do you want to return this record? ",
                function (result) {
                    if (result) {
                        var Id = $("#Id").val();
                        $.ajax({
                            url: "/PAM/DSS/ReturnDSSDetailById",
                            type: "Post",
                            async: false,
                            dataType: "JSON",
                            data: { DssId :@Model.DSSId },
                            success: function (data) {
                                if (data.Key) {

                                    DisplayNotiMessage("success", data.Value, "Success");
                                    window.setTimeout('window.location.href = "/PAM/DSS/ApproveDSS"', 2000);
                                }
                                else {
                                    bootbox.alert(data.Value);
                                }
                            },
                            error: function (data) {
                                bootbox.alert(data.Value);
                            }
                        });
                    }
                });*@

        bootbox.dialog({
            title: "Return Confirmation",
            message: "Do you want to return this record?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        var Id = $("#Id").val();
                        $.ajax({
                            url: WebsiteURL +"/PAM/DSS/ReturnDSSDetailById",
                            type: "Post",
                            //async: false,
                            dataType: "JSON",
                            data: { DssId :@Model.DSSId },
                            success: function (data) {
                                if (data.Key) {

                                    DisplayNotiMessage("success", data.Value, "Success");
                                    window.setTimeout('window.location.href = "'+WebsiteURL+'/PAM/DSS/ApproveDSS"', 2000);
                                }
                                else {
                                    bootbox.alert(data.Value);
                                }
                            },
                            error: function (data) {
                                bootbox.alert(data.Value);
                            }
                        });
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }

            }
        });

    })

</script>

