﻿<script>
    var Status = '@ViewBag.status';
    var isVisible = false;
    var table = $('#tblQualitID');
    var lstqualityIdCategory = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.QualityIdApplicable))));
    var currentQID = 0;
    var currentPageNo = 0;

    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": true,
        "bServerSide": true,
        "stateSave": false,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
            [10, 25, 50, 100],
            [10, 25, 50, 100]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        //"dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        "sAjaxSource": "/IPI/MaintainICLSeam/GetICLSeamHeaderData?status=" + '@ViewBag.Status' + "&headerId=" + '@ViewBag.HeaderId',
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" });
        },
        "aaSorting": [[2, 'asc']],
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': function (data) {
                    fnCallback(data);
                    if (data.iTotalRecords > 0) {
                        $("#btnSendForApproval").show();
                        isVisible = true;
                    }
                    else {
                        $("#btnSendForApproval").hide();
                        isVisible = false;
                    }
                },
                'async': false
            });
         
        },
        "columns": [
            {
                'targets': 0,
                "bSortable": false,
                "sWidth": "5%",
                "sClass": "center",
                'render': function (data, type, full, meta) {
                    return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                }
            },
            {
                "sClass": "hide",
            },           
            {
                "sClass": "center",
                "name": "SeamNo",
                "bSortable": true,
            },
            {
                "sClass": "center",
                "name": "RevNo",
                "bSortable": false,
            },
             {
                 "sClass": "center",
                 "name": "TPRevNo",
                 "bSortable": false,
             },
            {
                "sClass": "center",
                "name": "PTCApplicable",
                "bSortable": true,
            },
            {
                "sClass": "center",
                "name": "PTCNumber",
                "bSortable": false,
            },
           {
               "sClass": "center",
               "name": "Status",
               "bSortable": false,
           }
          
        ]
    });



    $('#tblQualitID tbody').on('change', 'input[type="checkbox"]', function () {
        // If checkbox is not checked
        if (!this.checked) {
            var el = $('#example-select-all').get(0);
            // If "Select all" control is checked and has 'indeterminate' property
            if (el && el.checked && ('indeterminate' in el)) {
                // Set visual state of "Select all" control
                // as 'indeterminate'
                el.indeterminate = true;
            }
        }
    })

    $('#tblQualitID').delegate("input[colname='QualityIdApplicableFor']", "focusin", function () {
        $(this).autocomplete({
            source: function (request, response) {
                var array = $.map(lstqualityIdCategory, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                //$("#ddlQualityIdApplicableFor").val(ui.item.value)
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $(this).focus();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    });

    $('#tblQualitID tbody').on("click", "tr td:not(:first-child):not(:last-child)", function () {
        debugger;
        var row = $(this).closest('tr');
        var data = $('#tblQualitID').dataTable().fnGetData(row);
        var hdrId = parseInt(data[1])//$($(this)).find('td').eq(0).text();

        currentQID = hdrId;


        $("#tblQualitID tr").removeClass("highlight");
        $(this).closest('tr').addClass("highlight");


        if ($("#dvQualityIdLines").css("display") == "block") { }
            //$('#tblQualitIDLines').DataTable().ajax.reload();
        else {
            $("#dvQualityIdLines").show();
        }
        //LoadGetQualityIDLines(hdrId);
        GetQualityIDLinesPartial(hdrId);
    });

    if ('@ViewBag.Status' == "Pending" && isVisible == true) {
        oTable.api().column(0).visible(true);
        $("#btnSendForApproval").show();
    }
    else {
        oTable.api().column(0).visible(false);
        $("#btnSendForApproval").hide();
    }

    $('#example-select-all').on('click', function () {
        var rows = oTable.api().rows({ 'search': 'applied' }).nodes();
        $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
    });
    // Handle click on checkbox to set state of "Select all" control
    $('#tblQualitID tbody').on('change', 'input[type="checkbox"]', function () {
        // If checkbox is not checked
        if (!this.checked) {
            var el = $('#example-select-all').get(0);
            // If "Select all" control is checked and has 'indeterminate' property
            if (el && el.checked && ('indeterminate' in el)) {
                // Set visual state of "Select all" control
                // as 'indeterminate'
                el.indeterminate = true;
            }
        }
    });

    $("#btnSendForApproval").click(function () {
        var arrayHeaderIds = new Array();
        // Iterate over all checkboxes in the table
        $('input[class="clsCheckbox"]', $('#tblQualitID tbody')).each(function () {
            if ($(this).is(':checked')) {
                var headerId = $(this).val();
                if (headerId != '')
                    arrayHeaderIds.push(headerId);
            }
        });

        if (arrayHeaderIds.length > 0) {
            var strHeaderIds = arrayHeaderIds.join(",");
            $.ajax({
                url: "/IPI/QualityId/SendForApproval",
                type: "POST",
                data: { strHeader: strHeaderIds },
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (res) {

                    if (res.Key) {
                        if (res.WithoutLines != null && res.WithoutLines.length > 0)
                            DisplayNotiMessage("error", res.WithoutLines, "Error");
                        if (res.NotDraft != null && res.NotDraft.length > 0)
                            DisplayNotiMessage("info", res.NotDraft, "Info");
                        if (res.Value != null && res.Value.length > 0)
                            DisplayNotiMessage("success", res.Value, "Success");

                        $('#tblQualitID').DataTable().ajax.reload();
                        $("#dvQualityIDLines").hide();
                    }
                    else
                        DisplayNotiMessage("error", res.Value, "Error");
                },
                error: function (data) { }
            });
        }
        else {
            DisplayNotiMessage("error", "Please Select Atlease One Inspection Checklist", "Error");
        }
    });

    function GetQualityIDLinesPartial(headerId) {
        $.ajax({
            url: "/IPI/MaintainICLSeam/GetSeamICLLinesPartial",
            type: "POST",
            data: { headerId: headerId },
            dataType: "html",
            success: function (data) {               
                $("#dvQualityIDLines").html(data);
            }
        });
    }
</script>

<div class="row">
    <div class="row">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Quality ID List
                </div>
                <div class="tools">
                 
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblQualitID" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th class="min-phone-l" style="display:none;">HeaderId</th> 
                            <th class="min-phone-l">Seam No</th>
                            <th class="min-phone-l">RevNo.</th>
                            <th class="min-phone-l">TP RevNo.</th>
                            <th class="min-phone-l">Is PTC Applicable</th>
                            <th class="min-phone-l">PTC Number</th>
                            <th class="min-phone-l">Status</th>                          
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div id="dvQualityIDLines"></div>
    </div>


    <div class="col-md-12" style="text-align:right;">
        <input type="button" class="btn blue" id="btnSendForApproval" value="Submit" />
        <a href='@Url.Action("Index","MaintainICLSeam")' class="btn red"> Close</a>
    </div>
</div>

