﻿@model IEMQSImplementation.QMS030
@using IEMQSImplementation
@{
    ViewBag.Title = "Add Header";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/app.min.js"></script>

<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        @*GetMaintainICLSeamHTML(parseInt('@ViewBag.HeaderID'))*@
        GetSeamIclHeaderGridDataPartial('Pending', @Model.HeaderId);

        $('a[name="tabStatus"]').click(function () {
            GetSeamIclHeaderGridDataPartial($(this).attr('spara'),  @Model.HeaderId);
        });
    });
    function GetMaintainICLSeamHTML(headerID) {
        $("#divMaintainICLSeamHeader").empty();
        $.ajax({
            type: "POST",
            url: "/IPI/MaintainICLSeam/LoadICLSeamHeaderForm",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerID: headerID },
            success: function (result) {
                $("#divMaintainICLSeamHeader").html(result);
            },
            error: function () {
            }
        });
    }

    function GetSeamIclHeaderGridDataPartial(status, headerId) {
        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        $.ajax({
            type: "POST",
            url: "/IPI/MaintainICLSeam/GetICLHeaderDataPartial",
            data: { status: status, headerId: headerId },
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                }
                else {
                    $("#portlet_comments_2").html(result);
                }
            },
            error: function () {
            }
        });
    }

    function LoadQualityIDData(qualityProj, status) {
        var table = $('#tblQualitID');

        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            //"dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": "/IPI/QualityId/GetQualityIDData?qualityProj=" + qualityProj + "&status=" + status,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" });
            },
            "aaSorting": [[2, 'asc']],
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'async': false
                });
                ResetAddRow($('#tblQualitID'));
            },
            "columns": [
                {
                    'targets': 0,
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "center",
                    'render': function (data, type, full, meta) {
                        return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                    }
                },
                {
                    "sClass": "hide",
                },
                {
                    "sClass": "hide",
                    "name": "HasLines",
                },
                {
                    "sClass": "center",
                    "name": "QualityId",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "QualityIdDesc",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "QualityIdApplicableFor",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "RevNo",
                    "bSortable": false,
                },
               {
                   "sClass": "center",
                   "name": "Status",
                   "bSortable": false,
               },
                //{
                //    "sClass": "center",
                //},
                //{
                //    "sClass": "center",
                //},
                {
                    "sClass": "center",
                    "bSortable": false,
                },
            ]
        });
    }
</script>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Maintain Seam ICL</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                        @*<span style="font-weight:bolder">Status : @Html.DisplayFor(m => m.Status) </span>*@
                        @*<span style="font-weight:bolder">Status : <label id="lblStatus" style="font-weight:bolder">@Model.Status</label> </span>
                            @Html.HiddenFor(m => m.Status)*@
                    </div>
                </div>

                <div id="dvQualityIDHeader" style="padding:1%">
                    <form id="frmQualityIDHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Quality Project Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @Html.HiddenFor(m => m.HeaderId)
                                            <label class="control-label">Quality Project<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.QualityProject, new {  @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <hr />

                        <div class="portlet light" id="dvQIDData">
                            <div class="portlet-title tabbable-line">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                                    </li>
                                    <li>
                                        <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="portlet_comments_1">

                                    </div>
                                    <div class="tab-pane" id="portlet_comments_2">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <hr />
                <div id="dvQualityIdLines" class="row" style="padding:1%;display:none;">

                </div>
            </div>
        </div>
    </div>
</div>
