﻿@using IEMQSImplementation
<style>
    table.dataTable tbody td {
        white-space: nowrap;
    }
</style>
<script>
    var table = $('#tblHeader');
    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": true,
        "bServerSide": true,
        "stateSave": false,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
           [5, 10, 25, 50, 100],
            [5, 10, 25, 50, 100]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        "sAjaxSource": WebsiteURL + "/LTFPS/NDERequestGeneration/LoadRequestGenerationDataTable?status=" + '@ViewBag.status',
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" });
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': function (data) {
                    fnCallback(data);
                    $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                    $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                },
            });
        },
        "columns": [
            {
                "sClass": "center",
                "bSortable": true,
                "name": "QualityProject"
            },
            {
                "sClass": "center",
                "bSortable": true,
                "name": "Project"
            },
            {
                "sClass": "center",
                "name": "LTFPSNo",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "OperationNo",
                "bSortable": true,
                "attr":"numeric"
            },
            {
                "sClass": "center",
                "name": "SeamNo",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "PartAssemblyFindNumber",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "PartAssemblyChildItemCode"
            },
            {
                "sClass": "center",
                "name": "OfferedQuantity",
                "bSortable": true,
                "attr": "numeric"
            },
            {
                "sClass": "center",
                "name": "StageCode",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "StageSequence",
                "bSortable": true,
                "attr": "numeric"
            },
            {
                "sClass": "center",
                "name": "IterationNo",
                "bSortable": true,
                "attr": "numeric"
            },
            {
                "sClass": "center",
                "name": "RequestNo",
                "bSortable": true,
                "attr": "numeric"
            },
            {
                "sClass": "center",
                "name": "RequestNoSequence",
                "bSortable": true,
                "attr": "numeric"
            },
            {
                "sClass": "center",
                "name": "RequestStatus",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "SeamLength",
                "bSortable": true
           },
            {
                "sClass": "center",
                "name": "OverlayArea",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "OverlayThickness",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "Jointtype",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "ManufacturingCode",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "Part1Position",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "Part1thickness",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "Part1Material",
                "bSortable": true
            },
           {
               "sClass": "center",
               "name": "Part2Position",
               "bSortable": true
           },
            {
                "sClass": "center",
                "name": "Part2thickness",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "Part2Material",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "Part3Position",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "Part3thickness",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "Part3Material",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "AcceptanceStandard",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "ApplicableSpecification",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "InspectionExtent",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "WeldingEngineeringRemarks",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "WeldingProcess",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "SeamStatus",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "Shop",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "ShopLocation",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "ShopRemark",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "SurfaceCondition",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "WeldThicknessReinforcement",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "SpotGenerationtype",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "SpotLength",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "PrintSummary"
            },
            {
                "sClass": "center",
                "name": "NDETechniqueNo",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "NDETechniqueRevisionNo",
                "bSortable": true,
                "attr": "numeric"
            },
            {
                "bSortable": false,
                "sClass": "center",
                "sWidth": "5%",
            },
        ]
    });
    table.dtSearchFilter();
    function GenerateRequest(RequestId, FromTable) {
        var url = WebsiteURL + "/IPI/PartlistNDEInspection/GenerateRequest";
        if (FromTable == "Seam")
        {
            url = WebsiteURL + "/IPI/SeamListNDEInspection/RespondeGenerateRequest";
        }
        bootbox.dialog({
            title: "Generate request confirmation",
            message: "Do you want to generate request?",
            size: "medium",
            buttons: {
                confirm: {
                    label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        $.ajax({
                            url: url,
                            type: "Post",
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            async: false,
                            dataType: "JSON",
                            data: {
                                RequestId: RequestId,
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    $('#tblHeader').DataTable().ajax.reload();
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                    return false;
                                }
                            },
                            error: function (ex) {
                                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                return false;
                            }
                        });
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }

            }
        });
    }
</script>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Seam/Part List Details
                </div>
                @*<div class="tools" id="dvExportHeader">
                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/SeamListNDEInspection/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                    </div>*@
            </div>
            <div class="portlet-body">
                <table id="tblHeader" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">Quality Project</th>
                            <th class="all">Project</th>
                            <th class="all">LTFPS No.</th>
                            <th class="all">Operation No.</th>
                            <th class="all">Seam No</th>
                            <th class="all">Position No</th>
                            <th class="all">Part No</th>
                            <th class="all">Offered Quantity</th>
                            <th class="all">Stages</th>
                            <th class="all">Seq. No</th>
                            <th class="all">Itrn.</th>
                            <th class="all">Request No</th>
                            <th class="all">Request Seq. No</th>
                            <th class="all">Status</th>
                            <th class="all">Seam Length</th>
                            <th class="all">Overlay Area</th>
                            <th class="all">Overlay Thickness</th>
                            <th class="all">Joint Type</th>
                            <th class="all">Manufacturing Code</th>
                            <th class="all">Part1 Position</th>
                            <th class="all">Part1 Thickness</th>
                            <th class="all">Part1 Material</th>
                            <th class="all">Part2 Position</th>
                            <th class="all">Part2 Thickness</th>
                            <th class="all">Part2 Material</th>
                            <th class="all">Part3 Position</th>
                            <th class="all">Part3 Thickness</th>
                            <th class="all">Part3 Material</th>
                            <th class="all">Acceptance Standard</th>
                            <th class="all">Applicable Specification</th>
                            <th class="all">Inspection Extent</th>
                            <th class="all">Welding Engineering Remarks</th>
                            <th class="all">Welding Process</th>
                            <th class="all">Seam Status</th>
                            <th class="all">Shop</th>
                            <th class="all">Shop Location</th>
                            <th class="all">Shop Remark</th>
                            <th class="all">Surface Condition</th>
                            <th class="all">Weld Thickness Reinforcement</th>
                            <th class="all">Spot Generation Type</th>
                            <th class="all">Spot Length</th>
                            <th class="all">Print Summary</th>
                            <th class="all">NDE Technique No</th>
                            <th class="all">NDE Technique RevNo.</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
