﻿@using IEMQSImplementation
@model NDE012_Log

@{
    ViewBag.Title = "View Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>

<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>

<script>

    $(document).ready(function () {
        $("#RevNo").val("R" + '@Model.RevNo');
        $("#ScannerType").val('@Model.ScannerType');
        $("#EncoderType").val('@Model.EncoderType');
        $("#txtHeaderId").val('@Model.HeaderId');
        var manufacturingcode = '@ViewBag.ManufacturingCode';
        $('#ManufacturingCode').val(manufacturingcode);
    });

</script>
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body" id="divScanUTHeader">
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">History TOFD UT Technique</span>
                    </div>
                    @{
                        if (!string.IsNullOrWhiteSpace(Model.Status))
                        {
                            <div class="ribbon ribbon-right ribbon-color-warning">
                                <span style="font-weight:bolder">
                                    Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span>
                                </span>
                            </div>
                        }
                    }
                </div>
                <div id="dvHeader">

                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
                    {
                        @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
                        @Html.HiddenFor(m => m.Status)
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Detail</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Quality Project</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.QualityProject, new { @id = "QualityProject", @Value = @ViewBag.QualityProject, @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Project</label>
                                                <div class="">
                                                    @Html.TextBoxFor(model => model.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">BU</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Location</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">

                                            <div class="col-md-3">
                                                <label class="control-label">UT Tech No</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.TechniqueSheetNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">TOFD Procedure with Rev. No.</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.UTProcedureNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Document No</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.UTTechNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Rev No.</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Manufacturing Code</label>
                                                <div class="">
                                                    <input id="ManufacturingCode" class="form-control col-md-3" readonly="readonly" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>A TOFD UT Technique Details</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Couplant Used</label>
                                                <div class="">
                                                    @Html.TextBoxFor(model => model.CouplantUsed, new { @class = "form-control", @Value = @ViewBag.CouplantUsed, @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Ref. Reflector Size</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.ReferenceReflectorSize, new { @class = "form-control", @Value = @ViewBag.ReferenceReflectorSize, @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <label class="control-label">Ref. Reflector Distance(mm)</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.ReferenceReflectorDistance, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Calibration Block ID</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.CalibrationBlockID, new { @class = "form-control", @maxlength = 50, @tootltip = "Maximum character limit is 50", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Calibration Block ID Thickness(mm)</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.CalibrationBlockIDThickness, new { @class = "form-control", onkeyup = "checkDec(this);", @maxlength = 3, @tootltip = "Maximum character limit is 3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Simulation Block ID</label>
                                                @Html.TextBoxFor(m => m.SimulationBlockID, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Simulation Block ID Thickness(mm)</label>
                                                @Html.TextBoxFor(m => m.SimulationBlockIDwiththickness, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Scanning Technique </label>
                                                <div class="">
                                                    @Html.TextBoxFor(model => model.ScanningDetail, new { @class = "form-control", @Value = @ViewBag.ScanningDetail, @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Encoder Used</label>
                                                <div class="">
                                                    @Html.TextBoxFor(model => model.EncoderType, new { @class = "form-control", @readonly = "readonly" })
                                                    @*@Html.DropDownListFor(model => model.EncoderType, new SelectList(@ViewBag.EncoderType, "Value", "Text"), "Select Encoder Type", new { @class = "form-control", @readonly = "readonly" })*@
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <label class="control-label">Scanner Type</label>
                                                <div class="">
                                                    @Html.TextBoxFor(model => model.ScannerType, new { @class = "form-control", @readonly = "readonly" })
                                                    @*@Html.DropDownListFor(model => model.ScannerType, new SelectList(@ViewBag.ScannerType, "Value", "Text"), "Select Scanner Type", new { @class = "form-control", @readonly = "readonly" })*@
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Scanner Make</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.ScannerMake, new { @class = "form-control", @maxlength = 20, @tootltip = "Maximum character limit is 20", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Cable Type</label>
                                                <div class="">
                                                    @Html.TextBoxFor(model => model.CableType, new { @class = "form-control", @Value = @ViewBag.CableType, @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Cable Length(m)</label>
                                                <div class="">
                                                    @Html.TextBoxFor(model => model.CableLength, new { @class = "form-control", @Value = @ViewBag.CableLength, @readonly = "readonly" })
                                                </div>
                                            </div>
                                            @*<div class="col-md-4">
                                                    <label class="control-label">Scan Plan</label>
                                                    <div class="">
                                                        @Html.TextBoxFor(m => m.ScanPlan, new { @class = "form-control", @readonly = "readonly" })
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <label class="control-label">Planner Remarks</label>
                                                <div class="">
                                                    @Html.TextAreaFor(m => m.PlannerRemarks, new { @class = "form-control col-md-3", @maxlength = 100, @tootltip = "Maximum character limit is 100", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Approve/Return Remarks<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextAreaFor(m => m.ReturnRemarks, new { @class = "form-control col-md-3", @maxlength = 100, @tootltip = "Maximum character limit is 100", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Scan Plan Sketch/Drawing</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                @Html.Partial("_AttachmentPartial")
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="hidden">
                            @Html.HiddenFor(m => m.Id, new { @id = "txtHistoryHeaderId" })
                            @Html.HiddenFor(m => m.RevNo, new { @id = "txtRevNo" })
                        </div>
                    }
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    TOFD UT Details
                                </div>
                                <div class="tools" id="dvExportHeader">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/NDE/MaintainTOFDUTTech/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYLINES.GetStringValue(), dvId = "#dvExportHeader" })
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblTOFDUT" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="all" style="display:none">#</th>
                                            <th class="all">Scan No</th>
                                            <th class="min-phone-l">Search Unit</th>
                                            <th class="min-phone-l">Scan Type</th>
                                            <th class="min-phone-l">PCS</th>
                                            <th class="min-phone-l">OFFSET</th>
                                            <th class="min-phone-l">Scanning Surface</th>
                                            <th class="min-phone-l" style="display:none">Rev No</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align:right;">
                        <hr />
                        <a href="~/NDE/MaintainTOFDUTTech/AddHEader?HeaderID=@Model.HeaderId" style="float: right;" class="btn back">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var table = $('#tblTOFDUT');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/NDE/MaintainTOFDUTTech/LoadTOFDUTLineHistoryData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": $("#txtHistoryHeaderId").val() }
                                //{ "name": "RevNo", "value": $("#txtRevNo").val() }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        if (data.iTotalRecords > 0) {
                            if ('@Model.Status' == 'Sent for Approval') {
                                $("#btnSendForApproval").hide();
                            }
                            else {
                                $("#btnSendForApproval").show();
                            }
                        }
                        else {
                            $("#btnSendForApproval").hide();
                        }
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [

                        {
                            "bSortable": false,
                            "sClass": "hide",
                        },
                        {
                            "name": "ScanNo",
                            "sClass": "center"
                        },
                        {
                            "name": "SearchUnit",
                            "sClass": "center"
                        },
                        {
                            "name": "ScanType",
                            "sClass": "center"
                        },
                        {
                            "name": "PCS",
                            "sClass": "center"
                        },
                        {
                            "name": "OFFSET",
                            "sClass": "center"
                        },
                        {
                            "name": "ScanningSurface",
                            "sClass": "center"
                        },
                        {
                            "name": "RevNo",
                            "sClass": "hide"
                        },
            ]
        });

    });
    $("#btnAttach").attr("disabled", true);
    if ('@Model.HeaderId' > 0) {
        setAttachmentsInHeader("NDE012/@(Model.HeaderId)/R@(Model.RevNo)", true);
    }
</script>