﻿
@{
    ViewBag.Title = "Head_Shrinkage_Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="page-title">
                                @Html.Raw((String)ViewBag.Title)
                                <small></small>
                            </h1>
                        </div>
                        <div class="col-md-6" style="text-align:right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


