﻿@using IEMQSImplementation

<div class="row">
    <div class="col-lg-12" style="text-align:right;margin-bottom:2px;">
        <form id="uploadForm" enctype="multipart/form-data" style="display:none;">
            <input type="file" class="btn green" id="upload" name="upload" />
            <input type="button" id="btnUpload" name="btnUpload" class="btn blue" value="Upload" />
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    NDE-Length Master
                </div>
                <div class="tools" id="dvExportHeader">
                    <div class="btn-group">
                        <a href="#" class="btn btn-circle white btn-outline btn-sm" id="btnImportExcel" style="margin-left:5px;margin-right:10px;display:none">
                            <i class="fa fa-file-excel-o"></i> Import
                        </a>
                    </div>
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/ABL/MaintainMaster/GenerateExcel", GridType = "", dvId = "#dvExportHeader" })
                    <div class="btn-group">
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmDetail" }))
                {
                    <table class="table table-striped table-bordered table-hover" id="tblLengthMaster" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="all" style="width:5%;">#</th>
                                <th class="sorting" style="color:red;">Id</th>
                                <th>NDE Length<span class="required" style="color:red;"> * </span></th>
                                <th>Minimum Value<span class="required" style="color:red;"> * </span></th>
                                <th>Maximum Value<span class="required" style="color:red;"> * </span></th>
                                <th class="all">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var UtilityParams = undefined;
    $(document).ready(function () {
        $.extend($.fn.autoNumeric.defaults, {
            aSep: '',
            aDec: '.'
        });

        $('#frmDetail').validate({
           
            rules: {
                txtNDELength0: {
                    required: true,
                },
                txtMinimumValue0: {
                    required: true,
                },
                txtMaximumValue0: {
                    required: true,
                },
            },
            messages: {
                txtLength0: {
                    required: "NDELength is required",
                },
                txtMinimumValue0: {
                    required: "Minimum Value is required",
                },
                txtMaximumValue0: {
                    required: "Maximum Value is required",
                },
            }
        });
        debugger;
        UtilityParams = {
            sUrl: "/ABL/MaintainMaster/GetLengthGridData",
            iScrollY: 480,
            iResponsiveOnWindowWidth: 800,
            bIsResponsive: false,
            bIsSearchFilter: true,
            bBtnMaximize: true,
            bIsWrapHeader: false,
            iFCLeft: 1,
            iFCRight: 1,
            sBtnDivSelector: "#dvExportHeader",
            aoColumns: [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "name": "ID",
                },
                {
                    "sClass": "center",
                    "name": "NDELength",
                    "bSortable": true
                },
                {
                    "sClass": "center",
                    "name": "MinimumValue",
                    "bSortable": true
                },
                {
                    "sClass": "center",
                    "name": "MaximumValue",
                    "bSortable": true
                },
                {
                    "sClass": "clsnowrap",
                    "name": "Action",
                    "attr": "none",
                    "bSortable": false,
                },
            ]
        };

        UtilityParams.oSRE = { sUrl: "/ABL/MaintainMaster/GetInlineEditableRowLength", iRowIDAt: 1, sCallback: 'CallAfterLoadSRE', iSelectedHeight: 68, sEditTriggerClass: 'fa-pencil-square-o', bIsUpdateFromServer: true };

        $('#tblLengthMaster').dtUtility(UtilityParams);
        //btnImportExcel
        //$('#tblNDEMaster_wrapper').delegate(".autocomplete", "focusin", function () {
        //    debugger
        //    var element = $(this);
        //    var hdElement = $(this).attr("hdElement");
        //    var poNo;

        //    if ($(this).attr("colname") == "txtNDEType") {
        //        FillAutoComplete(element, lstNDEType, $("#" + hdElement));
        //    }
        //    if ($(this).attr("colname") == "txtNDELength") {
        //        FillAutoCompleteUsingAjax(element, "/ABL/MaintainMaster/GetLengthResult", $("#" + hdElement))
        //    }
        //    if ($(this).attr("colname") == "txtVendor") {
        //        FillAutoCompleteUsingAjax(element, "/ABL/MaintainMaster/GetVendorResult", $("#" + hdElement))
        //    }
        //    if ($(this).attr("colname") == "txtPONo") {
        //        FillAutoCompleteUsingAjax(element, "/ABL/MaintainMaster/GetPOResult", $("#" + hdElement))

        //    }
        //    if ($(this).attr("colname") == "txtPOLine") {
        //        FillAutoCompleteUsingAjax(element, "/ABL/MaintainMaster/GetPOLineResult", $("#" + hdElement))
        //    }
        //});


        //$('#tblNDEMaster_wrapper').delegate(".autocomplete", "focusout", function () {
        //    debugger
        //    var element = $(this);
        //    var hdElement = $(this).attr("hdElement");
        //    var poNo;
        //    if ($(this).attr("colname") == "txtPONo") {
        //        poNo = $(this).val();
        //    }
        //});
        $("#").click(function () {
            $("#btnImportExcel").attr("disabled", "disabled");
            $("#uploadForm").css("display", "inline-flex");
        });



        $('#btnUpload').click(function () {
            var fileUpload = $("#upload").get(0);
            var files = fileUpload.files;

            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            $.ajax({
                url: WebsiteURL + '/ABL/MaintainMaster/ReadExcelFile',
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                type: 'POST',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data != null) {
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                            $("#upload").val('');
                            UtilityParams.dtReload();
                        }
                        else {
                            $("#upload").val('');
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                    }
                    $("#uploadForm").css("display", "none");
                    $("#btnImportExcel").removeAttr("disabled");

                }
            });
        });


        //FillAutoComplete($("#txtNDEType"), lstNDEType);
        //FillAutoComplete($("#txtNDEType"), lstNDEType, $("#NDEType"));
    });

    function CallAfterLoadSRE(id) {
        $('input[maxlength]').maxlength({ alwaysShow: true });
        $('#Edit' + id).click();
        //$('*[colname=txtRate]').autoNumeric('init', {  aPad: "fase", vMin: "0",vMax:"999999999", aForm: "false" });
    }

    function SaveNewRecord() {
        debugger;
        if (LineValidation(0)) {
            $('#Add0').css('color', 'unset');
            $('#tblLengthMaster_wrapper').find("thead:eq(1) .dataTables_sizing").html('') // remove copy of new record textbox
            SaveData(0);
        }
        else {
            HighlightInValidControls();
            $('#Add0').css('color', 'red');
            return false;
        }
    }

    function EnabledEditLine(lineId) {
        $("#Edit" + lineId).css('display', 'none');
        $("#Delete" + lineId).css('display', 'none');
        $("#Update" + lineId).css('display', 'inline-block');
        $("#Cancel" + lineId).css('display', 'inline-block');
    }

    function CancelEditLine(lineId) {
        SREresetRowAll('tblLengthMaster');
    }

    function EditLine(lineId) {
        if (LineValidation(lineId)) {
            if ($("#frmDetail").valid()) {
                $('#tblLengthMaster_wrapper').find("thead:eq(1) .dataTables_sizing").html('') // remove copy of new record textbox
                SaveData(lineId);
            }
            else {
                HighlightInValidControls();
                return false;
            }
        }
    }

    function LineValidation(lineid) {
        var errorMsg = "";
        var NDELength = $("#txtNDELength" + lineid).val();
        var MinimumValue = $("#txtMinimumValue" + lineid).val();
        var MaximumValue = $("#txtMaximumValue" + lineid).val();

        if (NDELength == "" || NDELength == null) {
            $("#txtNDELength" + lineid).attr("required", "required");
        }
        if (MinimumValue == "" || MinimumValue == null) {
            $("#txtMinimumValue" + lineid).attr("required", "required");
        }
        if (MaximumValue == "" || MaximumValue == null) {
            $("#txtMaximumValue" + lineid).attr("required", "required");
        }

        if (!$("#frmDetail").valid()) {
            HighlightInValidControls();
            $('#Update' + lineid).css('color', 'red');
            return false;
        }
        else {
            $('#Update' + lineid).css('color', 'unset');
            return true;
        }
    }

    function SaveData(id) {
        debugger;
        var formData = new FormData();
        var frmValues = $('#frmDetail').serializeArray();
        debugger
        $.each(frmValues, function (key, input) {
            formData.append(input.name, input.value);
        });
        $.ajax({
            url: WebsiteURL + '/ABL/MaintainMaster/SaveLengthData?id=' + id,
            data: formData,
            contentType: false,
            processData: false,
            type: 'POST',
            //async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key == true) {
                    UtilityParams.dtReload();
                    DisplayNotiMessage("success", data.Value, "Success");
                    if ($('#btnNew_tblLengthMaster').html() == '<i class="fa fa-times"></i> Cancel')
                        $('#btnNew_tblLengthMaster').click();
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                    $('#tblLengthMaster').DataTable().columns.adjust();
                }
            }
        });
    }

    function DeleteLine(Id) {
        bootbox.dialog({
            message: "Do you want to delete ? ",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success',
                    callback: function () {
                        $.ajax({
                            url: WebsiteURL + "/ABL/MaintainMaster/DeleteLengthData",
                            type: "POST",
                            data: { Id: Id },
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key == true) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                                UtilityParams.dtReload();
                            },
                            error: function (data) {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                        });
                        bootbox.hideAll();
                        $(".modal-backdrop").remove()
                    }
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger',
                    callback: function () { }
                }
            },
        });
    }

</script>

