﻿@using IEMQSImplementation
@model QMS020

@{
    ViewBag.Title = "Approve Test Plan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/app.min.js"></script>

<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>*@

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
@Styles.Render("~/Content/Datatable/css")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")
<style>
    .highlight {
        background-color: #aaed7a !important;
    }
    .highlight tr:hover {
        background-color: #aaed7a !important;
    }
    .sCenter {
        text-align: center;
    }
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
@*<script>
    var PTCApplicable = "@Model.PTCApplicable";
    if (PTCApplicable.toString() == "True") {
        $("#PTCApplicable").val('Yes');
    } else {
        $("#PTCApplicable").val('No');
    }

</script>*@

<script>
    $(document).ready(function () {
        //GetHeaderGridDataPartial('Pending');
        //$('a[name="tabStatus"]').click(function () {
        //    GetHeaderGridDataPartial($(this).attr('spara'));
        //});
        $("#txtProject").val('@ViewBag.Project');
        $("#txtLocation").val('@ViewBag.Location');
        $("#txtBU").val('@ViewBag.BU');
        $("#SWPHeaderId").val('@ViewBag.SWPHeaderId');
        $("#TPHeaderId").val('@ViewBag.HeaderID');
        urlSection1 = WebsiteURL + "/IPI/ApproveTestPlan/LoadTPHeaderForm";
        urlSection2 = WebsiteURL + "/IPI/ApproveSWP/SWPDetail";

        //GetTab(parseInt('@ViewBag.HeaderID'),urlSection1,'TP')
        $("#Section1").on("click", function () {
            $("#tab1").addClass('active');
            $("#Section2").css({ backgroundColor: "#eef1f5", color: "#333" });
            $("#Section1").css({ backgroundColor: "#rgb(57, 133, 208)", color: "#fff" });
            GetTab(parseInt( $("#TPHeaderId").val()), urlSection1, 'TP');
        });
        $("#Section2").on("click", function () {
            $("#tab2").addClass('active');
            $("#Section2").css({ backgroundColor: "#rgb(57, 133, 208)", color: "#fff" });
            $("#Section1").css({ backgroundColor: "#eef1f5", color: "#333" });
            if (parseInt($("#SWPHeaderId").val()) == 0)
                return;
            else
                GetTab(parseInt($("#SWPHeaderId").val()), urlSection2, 'SWP');
        });
        $("#Section1").trigger("click");
        $("#txtQualityProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/TestPlan/GetQualityProjectDetails",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectCode + "(" + item.Text + ")", value: item.projectCode, id: item.Value + "#" + item.Text };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    $(this).val(ui.item.id);
                    var qproject = ui.item.id.split("#")[0];
                    var location = ui.item.id.split("#")[1];
                    $("#QualityProject").val(qproject);
                    FetchQualityProjectwiseDetails(qproject, location)
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $("#QualityProject").val('');
                    $(this).val('');
                    $(this).focus();
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#btnPrevQproj").click(function () {
            GetNextPrevQualityProject("PrevProject");
        });
        $("#btnNextQproj").click(function () {
            GetNextPrevQualityProject("NextProject");
        });

    });
    function FetchQualityProjectwiseDetails(qualityProject, location) {
        $.ajax({
            url: WebsiteURL + "/IPI/TestPlan/FetchQualityProjectwiseDetails",
            dataType: "json",
            type: "POST",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { qualityProject: qualityProject, location: location },
            success: function (data) {
                $("#Project").val(data.ProjectCode);
                $("#BU").val(data.BUCode);
                $("#Location").val(data.LocationCode);
                $("#txtProject").val(data.Project);
                $("#txtLocation").val(data.Location);
                $("#txtBU").val(data.BU);
                $("#SWPHeaderId").val(data.SWPHeaderId);
                $("#TPHeaderId").val(data.TPHeaderId);
                if ($("#Section2").attr("aria-expanded") == "true") {
                    $("#Section2").trigger("click");
                }
                else {
                    $("#Section1").trigger("click");
                }
            }
        });
    }
    function GetTab(headerID, url, selection) {
        $("#tab1").empty();
        $("#tab2").empty();
        $.ajax({
            type: "POST",
            url: url,
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerID: headerID },
            success: function (result) {
                if (selection == 'TP')
                    $("#tab1").html(result);
                else
                    $("#tab2").html(result);
            },
            error: function () {
            }
        });
    }
   
    function LoadIPITestPlanSamplingPlan(headerid, lineid, qProj, Project, bu, loc, qId, qRev, stage, stageseq, isFromQID, isEditable, title, stagetype) {
            if (stagetype == '@clsImplementationEnum.SeamStageType.Chemical.GetStringValue()' || stagetype == '@clsImplementationEnum.SeamStageType.PMI.GetStringValue()') {

                LoadIPIMaintainTestPlanSamplingPlan(headerid, lineid, qProj, Project, bu, loc, qId, qRev, stage, stageseq, true, false, title)
            }
            else if (stagetype == '@clsImplementationEnum.SeamStageType.Hardness.GetStringValue()') {
                LoadTestPlanHardnessFerritePartial(lineid, false, "Maintain Hardness Required Value");
            }
            else if (stagetype == '@clsImplementationEnum.SeamStageType.Ferrite.GetStringValue()') {
                LoadTestPlanHardnessFerritePartial(lineid, false, "Maintain ferrite test required range");
            }
    }


    function GetNextPrevQualityProject(option) {
        var curProject = $("#QualityProject").val();
        var loc = $("#Location").val();

        $.ajax({
            url: WebsiteURL + "/IPI/TestPlan/GetNextPrevQualityProject",
            dataType: "json",
            type: "POST",
            beforeSend: function () {
                showLoading(true);
            },
            data: { qualityProject: curProject, location: loc, option: option },
            success: function (data) {
                if (data.Key && data.HeaderId > 0) {
                    showLoading(true);
                    window.location.href = WebsiteURL + "/IPI/ApproveTestPlan/TestPlanDetails?HeaderID=" + data.HeaderId;
                }
                else {
                    showLoading(false);
                    DisplayNotiMessage("error", "Data not available", "Error");

                }
            }
        });
    }


</script>
<div class="page-content">
    <div class="portlet light ">

        <div class="form-body">
            <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                    <span class="page-title">Approve Test Plan/Shop Weld Plan</span>
                </div>
                @*@{
                    if (!string.IsNullOrWhiteSpace(Model.Status))
                    {
                        <div class="ribbon ribbon-right ribbon-color-warning">
                            <span style="font-weight:bolder">
                                Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span>
                            </span>
                        </div>
                    }
                }*@
            </div>
            <div id="dvHeader">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
                {
                    @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
                    @Html.HiddenFor(m => m.Status)
                    <div class="form-group">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>Project Detail</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">Quality Project</label>
                                            <div class="" style="display:flex;">
                                                <button type="button" class="btn blue" id="btnPrevQproj"><i class="fa fa-chevron-left"></i></button>
                                                @Html.TextBoxFor(model => model.QualityProject, new { @id = "txtQualityProject", @class = "form-control col-md-3" })
                                                <button type="button" class="btn blue" id="btnNextQproj"><i class="fa fa-chevron-right"></i></button>
                                                @Html.HiddenFor(m => m.QualityProject)
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.Project, new { @id = "txtProject", @class = "form-control col-md-3", @readonly = "readonly" })
                                                @Html.HiddenFor(m=>m.Project)
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">BU</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BU, new { @id = "txtBU", @class = "form-control col-md-3", @readonly = "readonly" })
                                                @Html.HiddenFor(m => m.BU, new { @id = "hdBU" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">Location</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Location, new { @id = "txtLocation", @class = "form-control col-md-3", @readonly = "readonly" })
                                                @Html.HiddenFor(m => m.Location)
                                            </div>
                                            @Html.Hidden("SWPHeaderId")
                                            @Html.Hidden("TPHeaderId")
                                        </div>
                                        @*<div class="col-md-4">
                                                <label class="control-label">Seam No.</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.SeamNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">Quality Id<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.QualityId, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                                

                                @*<div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="control-label">Quality Id Rev</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.QualityIdRev, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="control-label">PTC Applicable<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.PTCApplicable, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">PTC Number<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.PTCNumber, new { @class = "form-control col-md-3", @maxLength = "12", @readonly = "readonly" })
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="control-label">Test Plan Revision No.</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                @*<div class="portlet light">*@
                                    
                                    @*<div class="portlet-title tabbable-line">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                                            </li>
                                            <li>
                                                <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="portlet_comments_1">

                                            </div>
                                            <div class="tab-pane" id="portlet_comments_2">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-12">
                                    <div id="dvTestPlanLineDetails">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12" style="text-align:right;">
                                        <div class="col-md-12">
                                            <button id="btnApproveSelected" type="button" class="btn approve">Approve</button>
                                            <a href="/IPI/ApproveTestPlan/Index" class="btn btnclose">Close</a>
                                        </div>
                                    </div>
                                </div>*@
                                @*<div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-6"></div>
                                            <div class="col-md-6" style="text-align:right;margin-top:30px;">
                                                @{
                                                    if (Model.Status == clsImplementationEnum.TestPlanStatus.SendForApproval.GetStringValue())
                                                    {
                                                        <button class="btn green-dark" type="button" id="btnApprove">Approve</button>
                                                        @*<button class="btn red" type="button" id="btnReturn">Return</button>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>*@
                            </fieldset>
                        </div>
                    </div>
                }
            </div>


        </div>
        <div class="portlet-body">
            <form class="form-horizontal" action="#" id="submit_form" method="POST">
                @*<div class="form-wizard">
                <div class="form-body">*@
                <ul id="tabSections" style="font-size: large;" class="nav nav-tabs">
                    <li>
                        <a id="Section1" href="#tab1" data-toggle="tab" class="step">
                            <span id="spnSec1" class="desc">
                                @*<i class="fa fa-check"></i>*@
                                <b>Test Plan</b>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a id="Section2" href="#tab2" data-toggle="tab" class="step">
                            <span id="spnSec2" class="desc">
                                @*<i class="fa fa-check"></i>*@
                                <b>Shop Weld Plan</b>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                    </div>

                    <div class="tab-pane" id="tab2">
                    </div>
                </div>

                @*</div>*@
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        @*  var table = $('#tblTestPlan');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": "/IPI/ApproveTestPlan/LoadTestPlanLineGridData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": $("#txtHeaderId").val() }
                            //{ "name": "UserTypeId", "value": $('#ddlUserTypeList').val()}
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        if (data.iTotalRecords > 0) {
                            if ('@Model.Status' == 'Sent for Approval') {
                                $("#btnSendForApproval").hide();
                            }
                            else {
                                $("#btnSendForApproval").show();
                            }
                        }
                        else {
                            $("#btnSendForApproval").hide();
                        }
                        fnCallback(data);
                    },
                    'async': false
                });
            },
            "columns": [

                {
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                 {
                     "bSortable": false,
                     "sClass": "center"
                 },

                  {
                      "bSortable": false,
                      "sClass": "center"
                  },

                   {
                       "bSortable": false,
                       "sClass": "center"
                   },

                    {
                        "bSortable": false,
                        "sClass": "center"
                    },
            ]
        });*@

        $("#btncancel").click(function () {
            window.location.href = WebsiteURL + '/IPI/ApproveTestPlan/Index';
        });

        @*$("#btnApprove").click(function () {
            bootbox.confirm({
                message: "Do you want to approve this Doucment?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: "/IPI/ApproveTestPlan/ApproveTestPlan",
                            datatype: 'json',
                            async: false,
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            data: { strHeaderId: parseInt('@Model.HeaderId') },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    window.location.href = '/IPI/ApproveTestPlan/Index';
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                            },
                            error: function () {
                            }
                        });
                    }
                }
            });
        });*@
    });
</script>