﻿@using IEMQSImplementation
<style>
    table.tblstages {
        border-spacing: 5px;
        border-collapse: separate;
    }
</style>
<div class="portlet box green">
    <input type="hidden" id="hdnSeamWiseStageHeaderId" value="@ViewBag.ShellId" />
    <input type="hidden" id="hdnType" value="@ViewBag.Type" />
    <div class="portlet-title">
        <div class="caption">
            Seam Wise Stage List
        </div>
        <div class="tools" id="dvSeamAndStageExportHeader">
            @*@Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/FKMS/MaintainFKMS/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })*@
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover" style="width:100%;" id="tblSeamAndStage" cellspacing="0">
            <thead>
                <tr>
                    <th>Seam</th>
                    <th>Stages</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#tblSeamAndStage');
        var Params = {
            sUrl: "/SFM/MaintainSeamWise/LoadSeamAndStageList",
            aoColumns: [
                        {
                            "name": "SeamNo",
                            "ColName": "qms.SeamNo",
                            "sClass": "center",
                            "bSortable": "true",
                        },
                        {
                            "name": "StageDesc",
                            "sClass": "center",
                            "bSortable": "true",
                            "ColName": "q40.StageCode +'-'+ q2.StageDesc"
                        },
            ]
        };

        Params.bIsSearchFilter = true;
        Params.bIsResponsive = false,
        Params.bIsFixedColumn = true;
        Params.aServerParams = [{ "name": "Headerid", "value": $("#hdnSeamWiseStageHeaderId").val()}, { "name": "Title", "value": $("#hdnType").val() }]
        Params.bIsFixedHeader = true;
        Params.bBtnMaximize = true;
        Params.iFCLeft = 1,
        Params.bIsWrapHeader = false,
        Params.bIsIgnoreHiddenColumns = false,
        Params.bIsWrapHeader = false;
        Params.iScrollY = 320;
        //Params.fnServerDataCallback = tblSeamAndStage_load;
        window.setTimeout(function () {
            table.dtUtility(Params);
        }, 500);
    });

</script>
