﻿@model IEMQS.DESCore.PartColumnModel
@{
    if (IEMQS.Areas.DES.Models.SessionMgtModel.ProjectFolderList != null && IEMQS.Areas.DES.Models.SessionMgtModel.ProjectFolderList.ProjectNo != null)
    {
        ViewBag.Title = "Pending Parts";
        Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
    }
    else
    {
        ViewBag.Title = "Pending Parts";
        Layout = "~/Areas/DES/Views/Shared/_DESLayout.cshtml";
    }
}

<div class="m-portlet ">
    <div class="m-portlet__body ">
        <div class="row">
            <div class="col-xl-6">
                <h4 class="m-portlet__head-text ">
                    @ViewBag.Title
                </h4>
            </div>
        </div>
        <div class="row">
            @{
                Html.RenderPartial("~/Areas/DES/Views/Shared/_TabPendingTask.cshtml", new ViewDataDictionary { { "VariableName", "Part" } });
            }
        </div>
        <div style="margin-top:20px!important">
            <table class="table  table-bordered table-hover" id="tblPendingPart"> </table>
        </div>
    </div>

    <div class="m-portlet__foot">
        <div class="row align-items-center">
            <div class="col-lg-12 text-right">
                @if (ViewBag.GetPolicySteps != null)
                {

                    if (ViewBag.GetPolicySteps.Count > 0 && ViewBag.IsFirstStep == null)
                    {
                        <a href="#" id="btnReturn" class="btn btn-warning backToReview">Return</a>
                    }

                    int counter = 1;
                    foreach (var Policy in ViewBag.GetPolicySteps)
                    {
                        <button type="button" class="btn text-white" id="btnDOCApprove+@counter" data-PolicyOrderID="@Policy.PolicyOrderID" data-PolicyStep="@Policy.PolicyStep" onclick="btnDOCApproveMASK(this)" style="background-color:@Policy.ColorCode">@Policy.PolicyStep</button>
                        counter++;
                    }
                }
            </div>
        </div>
    </div>
</div>

<script>
    var tblPendingPart;
    $(document).ready(function () {
       
       

        tblPendingPart = $('#tblPendingPart').DataTable({
            "serverSide": true,
            "processing": true,
            "orderMulti": false,
            "filter": true,
            "sAjaxSource": "/DES/MaskPromote/GetPendingPart",
            "iDisplayLength": 10,
            "ordering": true,
            "scrollX": true,
            //"responsive": true,
            //"fixedColumns": {
            //    leftColumns: 3
            //},
            "language": {
                "infoFiltered": ""
            },
            //"scroller": {
            //    loadingIndicator: true
            //},
            //"bSort": true,
            //"aaSorting": [[1, 'desc']],
            "order": [[0, 'desc']],
            "columnDefs": [
                { "orderable": true, "targets": 0 },
                { "orderable": true, "targets": 1 },
                { "orderable": true, "targets": 2 },
                { "orderable": false, "targets": 3 },
                { "orderable": true, "targets": 4 },
                { "orderable": true, "visible": true, "targets": 5 },
                { "orderable": false, "visible": true, "targets": 6 },
                { "orderable": true, "visible": true, "targets": 7 },
                { "orderable": true, "visible": true, "targets": 8 },
                { "orderable": true, "visible": true, "targets": 9 },
                { "orderable": true, "visible": true, "targets": 10 },
                { "orderable": true, "visible": true, "targets": 11 },
                { "orderable": false, "visible": true, "targets": 12 },
                { "orderable": false, "visible": true, "targets": 13 },
                { "orderable": false, "visible": true, "targets": 14 },
                { "orderable": false, "visible": true, "targets": 15 },
                { "orderable": true, "visible": true, "targets": 16 },
                { "orderable": false, "visible": true, "targets": 17 },
                { "orderable": false, "visible": true, "targets": 18 },
                { "orderable": false, "visible": true, "targets": 19 },
                { "orderable": false, "visible": true, "targets": 20 },
                { "orderable": true, "visible": true, "targets": 21 },
                { "orderable": false, "visible": true, "targets": 22 },
                { "orderable": false, "visible": true, "targets": 23 },
                { "orderable": false, "visible": true, "targets": 24 },
                { "orderable": true, "visible": true, "targets": 25 },
                { "orderable": false, "visible": true, "targets": 26 },
                { "orderable": true, "visible": true, "targets": 27 },
                { "orderable": true, "visible": true, "targets": 28 },
            ],

            "fnServerData": function (sSource, data, fnCallback) {
                $.ajax({
                    "dataType": "json",
                    "type": "POST",
                    "url": sSource,
                    "data": data,
                    "success": fnCallback
                });

            },
            "aoColumns": [

                {
                     "sTitle": "<label class='m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--success'><input type='checkbox' id='chbHeaderGlobalPart' onclick='SelectAllPart()'></input><span></span></label>", "bSortable": false, "className": "action", render: function (data, type, row, meta) {
                         var srt = '<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--success">'
                         var IDIndex = selectedItemIDs.indexOf(row.ItemId);
                         if (IDIndex !== -1) {
                             srt += '<input type="checkbox" class="m-checkable" id="IsSelect_' + row.ItemId + '"  data-id="' + row.ItemId + '" onclick="AddToPartList(this)" checked>';
                         }
                         else {
                             srt += '<input type="checkbox" class="m-checkable" id="IsSelect_' + row.ItemId + '"  data-id="' + row.ItemId + '" onclick="AddToPartList(this)">';
                         }
                         srt += "<span></span></label>";
                         return srt;
                     }
                 },
                {
                    "sTitle": "Type", "className": "", render: function (data, type, row, meta) {
                        var state = "";
                        if (row.Type.toLowerCase() == "part") {
                            state = "brand";
                        }
                        else if (row.Type.toLowerCase() == "plate part") {
                            state = "info";
                        }
                        else if (row.Type.toLowerCase() == "clad part") {
                            state = "accent";
                        }
                        else if (row.Type.toLowerCase() == "jigfix") {
                            state = "success";
                        }
                        return '<span class="m--font-bold m--font-' + state + '">' + row.Type + "</span>"
                    }
                },
                {
                    "sTitle": "Item Id", "className": "", render: function (data, type, row, meta) {

                        var name = "<a  href='/DES/Part/PowerView?q=" + row.QString + "'>" + row.ItemKey + "</a>";
                        return name;
                    }
                },
                {
                    "sTitle": "Rev No.", "className": "", render: function (data, type, row, meta) {
                        return ('R' + row.RevNo);
                    }
                },                
                {
                    "sTitle": "Material", "className": "", render: function (data, type, row, meta) {
                        return row.Material;
                    }
                },
                {
                    "sTitle": "Item Group", "className": "", render: function (data, type, row, meta) {
                        return row.ItemGroup;
                    }
                },
                {
                    "sTitle": "Status", "className": "", render: function (data, type, row, meta) {
                        return row.Status;
                    }
                },
                {
                    "sTitle": "UOM", "className": "", render: function (data, type, row, meta) {
                        return row.UOM;
                    }
                },
                {
                    "sTitle": "Item Description", "className": "", render: function (data, type, row, meta) {
                        return row.ItemName;
                    }
                },
                {
                    "sTitle": "String2", "className": "", render: function (data, type, row, meta) {
                        return row.String2;
                    }
                },
                {
                    "sTitle": "String3", "className": "", render: function (data, type, row, meta) {
                        return row.String3;
                    }
                },
                {
                    "sTitle": "String4", "className": "", render: function (data, type, row, meta) {
                        return row.String4;
                    }
                },
                {
                    "sTitle": "ARM Set", "className": "", render: function (data, type, row, meta) {
                        return row.ARMSet;
                    }
                },
                {
                    "sTitle": "ARM Rev", "className": "", render: function (data, type, row, meta) {
                        return row.ARMRev;
                    }
                },
                {
                    "sTitle": "Procurement Drg", "className": "", render: function (data, type, row, meta) {
                        return row.ProcurementDrgDocumentNo;
                    }
                },
                {
                    "sTitle": "Item Weight (kg)", "className": "", render: function (data, type, row, meta) {
                        return row.ItemWeight;
                    }
                },
                {
                    "sTitle": "CRS(Yes/No)", "className": "", render: function (data, type, row, meta) {
                        return row.CRSYN;
                    }
                },
                {
                    "sTitle": "Size code", "className": "", render: function (data, type, row, meta) {
                        return row.SizeCode;
                    }
                },
                {
                    "sTitle": "Weight Factor", "className": "", render: function (data, type, row, meta) {
                        return row.WeightFactor;
                    }
                },
                {
                    "sTitle": "Thickness", "className": "", render: function (data, type, row, meta) {
                        return row.Thickness;
                    }
                },
                {
                    "sTitle": "Clad Plate Part Thickness1", "className": "", render: function (data, type, row, meta) {
                        return row.CladPlatePartThickness1;
                    }
                },
                {
                    "sTitle": "IsDoubleClad", "className": "", render: function (data, type, row, meta) {
                        return row.IsDoubleClad;
                    }
                },
                {
                    "sTitle": "Product Form", "className": "", render: function (data, type, row, meta) {
                        return row.ProductForm;
                    }
                },
                {
                    "sTitle": "Item Id Type", "className": "", render: function (data, type, row, meta) {
                        return row.ItemKeyType;
                    }
                },
                {
                    "sTitle": "Order Policy", "className": "", render: function (data, type, row, meta) {
                        return row.OrderPolicy;
                    }
                },
                {
                    "sTitle": "Created By", "className": "", render: function (data, type, row, meta) {
                        return row.CreatedBy;
                    }
                },
                {
                    "sTitle": "Created On", "className": "", render: function (data, type, row, meta) {
                        return row.CreatedOn;
                    }
                },
                {
                    "sTitle": "Edited By", "className": "", render: function (data, type, row, meta) {
                        return row.EditedBy;
                    }
                },
                {
                    "sTitle": "Edited On", "className": "", render: function (data, type, row, meta) {
                        return row.EditedOn;
                    }
                },
            ],

            "initComplete": function () {
                $searchButton = $('<div class="filed-list"><button class="btn btn-secondary active"><i class="la la-ellipsis-v"></i></button ><div class="hover-div"><h5>Searchable fields</h5><ul class="list-inline"><li class="list-inline-item"> Type</li> <li class="list-inline-item"> Item Id </li><li class="list-inline-item">Material</li><li class="list-inline-item"> Item Group </li> <li class="list-inline-item"> Item Description </li><li class="list-inline-item"> String2 </li><li class="list-inline-item"> String3 </li><li class="list-inline-item"> String4 </li><li class="list-inline-item"> ARM Set </li><li class="list-inline-item"> Size Code </li><li class="list-inline-item"> Product Form </li></ul ></div ></div > ');
                $('#tblPendingPart_wrapper .dataTables_filter').append($searchButton);
                var $filterBoxPartList = $('#tblPendingPart_wrapper .dataTables_filter input').unbind(), selfPartList = this.api();
                var stoppedTypingPartList;

                $filterBoxPartList.on('keyup', function () {
                    if (stoppedTypingPartList) clearTimeout(stoppedTypingPartList);
                    stoppedTypingPartList = setTimeout(function () {
                        var select = $("#chbHeaderGlobalPart").prop("checked");
                        if (select == true) {
                            $("#chbHeaderGlobalPart").prop("checked", false);
                            selectedItemIDs = [];
                        }
                        selfPartList.search($filterBoxPartList.val()).draw();
                    }, 500);
                });
            },

            "fnRowCallback": function () {
                tblPendingPart.columns.adjust();
            }

        });
        });

        selectedItemIDs = [];

        function AddToPartList($this) {
            var data;
            var allSelected;
            var PartIdArray;
            var id = $($this).attr("data-id");
            id = parseInt(id);
            var select = $("#IsSelect_" + id).prop("checked");
            var tableID = $("#IsSelect_" + id).closest("table").attr("id");
            var chbID = $("#" + tableID + " th input[type='checkbox']").attr("id");
            if (tableID == "tblPendingPart") {
                data = tblPendingPart.rows().data()[0]["ItemIDs"];
                PartIdArray = data.split(',');
            }

            if (select == true) {
                selectedItemIDs.push(id);
                selectedItemIDs = Array.from(new Set(selectedItemIDs));
                PartIdArray.forEach(function (item) {
                    item = parseInt(item);
                    if (!selectedItemIDs.includes(item)) {
                        allSelected = false;
                    }
                });

                if (allSelected != false) {
                   // $("#" + chbID).prop("checked", true);
                }

            }
            else {
                var tableID = $("#IsSelect_" + id).closest("table").attr("id");
                var chbID = $("#" + tableID + " th input[type='checkbox']").attr("id");
                //$("#" + chbID).prop("checked", false);
                var index = selectedItemIDs.indexOf(id);
                if (index > -1) {
                    selectedItemIDs.splice(index, 1);
                }
            }
            selectedItemIDs = Array.from(new Set(selectedItemIDs));


        }

        function SelectAllPart() {
            var data = tblPendingPart.rows().data()[0]["ItemIDs"];
            var PartIdArray = data.split(',');
            var select = $("#chbHeaderGlobalPart").prop("checked");
            if (select == true) {
                PartIdArray.forEach(function (item) {
                    item = parseInt(item);
                    $("#IsSelect_" + item).prop("checked", true);
                    selectedItemIDs.push(item);
                });
            }
            else {
                PartIdArray.forEach(function (item) {
                    item = parseInt(item);
                    $("#IsSelect_" + item).prop("checked", false);
                    var index = selectedItemIDs.indexOf(item);
                    if (index > -1) {
                        selectedItemIDs.splice(index, 1);
                    }
                });
            }
            selectedItemIDs = Array.from(new Set(selectedItemIDs));
        }

        function btnDOCApproveMASK(btnVal) {
            if (selectedItemIDs.length > 0) {
                var ItemIDs = {
                    ItemId: selectedItemIDs,
                    BtnText: $(btnVal).attr("data-PolicyStep"),
                    PolicyOrderId: $(btnVal).attr("data-PolicyOrderID")
                };
                mApp.blockPage();
                $.ajax({
                    url: "/DES/MaskPromote/MASKLifeCyclePart",
                    data: JSON.stringify(ItemIDs),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    aysnc: true,
                    success: function (response) {
                        if (response) {
                            //  toastr.success(response.Msg, "Success");
                            location.reload(true);
                            mApp.unblockPage();
                        } else {
                            toastr.info(response.Msg, "Info");
                            mApp.unblockPage();
                        }
                    },
                    error: function (response) {
                        toastr.error("something went wrong try again later", "Error");
                        mApp.unblockPage();
                    }
                });
            }
        }

        $("#btnReturn").click(function () {

            if (selectedItemIDs.length > 0) {
                var ItemIDs = {
                    ItemId: selectedItemIDs,
                    BtnText: $('#Return_Remark').val()
                };
                mApp.blockPage();
                $.ajax({
                    url: "/DES/MaskPromote/ReturnMASKPart",
                    data: JSON.stringify(ItemIDs),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    aysnc: true,
                    success: function (response) {
                        if (response) {
                            toastr.success(response.Msg, "Success");
                            location.reload(true);
                            mApp.unblockPage();
                        } else {
                            toastr.info(response.Msg, "Info");
                            mApp.unblockPage();
                        }
                    },
                    error: function (response) {
                        toastr.error("something went wrong try again later", "Error");
                        mApp.unblockPage();
                    }
                });
            }
        })

        $("#m_aside_left_minimize_toggle").click(function () {
            if (tblPendingPart != null)
                tblPendingPart.columns.adjust();
        });

</script>