﻿@model IEMQSImplementation.QMS091
<script>
    $(document).ready(function () {
        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });

        $('#frmAscanUTLines').validate({
            rules: {
                AmpInd1: {
                    number: true,
                },
                BPInd1: {
                    number: true,
                },
                AmpInd2: {
                    number: true,
                },
                BPInd2: {
                    number: true,
                },
                AmpInd3: {
                    number: true,
                },
                BPInd3: {
                    number: true,
                },
                AmpInd4: {
                    number: true,
                },
                BPInd4: {
                    number: true,
                },
                AmpInd5: {
                    number: true,
                },
                BPInd5: {
                    number: true,
                },
                AmpInd6: {
                    number: true,
                },
                BPInd6: {
                    number: true,
                }
            },
            messages: {
                AmpInd1: {
                    number: "Only number is required"
                },
                BPInd1: {
                    number: "Only number is required"
                },
                AmpInd2: {
                    number: "Only number is required"
                },
                BPInd2: {
                    number: "Only number is required"
                },
                AmpInd3: {
                    number: "Only number is required"
                },
                BPInd3: {
                    number: "Only number is required"
                },
                AmpInd4: {
                    number: "Only number is required"
                },
                BPInd4: {
                    number: "Only number is required"
                },
                AmpInd5: {
                    number: "Only number is required"
                },
                BPInd5: {
                    number: "Only number is required"
                },
                AmpInd6: {
                    number: "Only number is required"
                },
                BPInd6: {
                    number: "Only number is required"
                }
            }
        });

    });
</script>
<div class="row" style="width:100%">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-body form">
                <div class="form-body">
                    <!-- BEGIN FORM-->
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmAscanUTLines", @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(model => model.HeaderId,new { @id="txtLineHeaderID"})
                        @Html.HiddenFor(model => model.LineId, new { @id = "txtLineID" })
                        <fieldset>
                            <legend>Project Detail</legend>
                            <div class="form-group">
                                <div class="col-md-12">

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Quality Project
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.QualityProject, new { @class = "form-control", @readonly = "readonly", @Value = @ViewBag.Project })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Project
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.Project, new { @class = "form-control", @readonly = "readonly", @Value = @ViewBag.Project })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            BU
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.BU, new { @class = "form-control", @readonly = "readonly", @Value = @ViewBag.BU })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Location
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.Location, new { @class = "form-control", @readonly = "readonly", @Value = @ViewBag.Location })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>

                            <legend>Line Detail</legend>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Search Unit
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.SearchUnit, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Reference Reflector
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.ReferenceReflector, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Cable Type
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.CableType, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Cable Length
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.CableLength, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            ReferencegaindB
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.ReferencegaindB, new { @class = "form-control", @maxlength = "12" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Range (mm)
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.Range, new { @class = "form-control", @maxlength = "4" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Amp (%) (Ind1)
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.AmpInd1, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            BP (mm) (Ind1)
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.BPInd1, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Amp (%) (Ind2)
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.AmpInd2, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            BP (mm) (Ind2)
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.BPInd2, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Amp (%) (Ind3)
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.AmpInd3, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            BP (mm) (Ind3)
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.BPInd3, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Amp (%) (Ind4)
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.AmpInd4, new { @class = "form-control"})
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            BP (mm) (Ind4)
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.BPInd4, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Amp (%) (Ind5)
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.AmpInd5, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            BP (mm) (Ind5)
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.BPInd5, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Amp (%) (Ind6)
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.AmpInd6, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            BP (mm) (Ind6)
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.BPInd6, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                                                }

                </div>
            </div>
        </div>
    </div>
</div>
