﻿@model IEMQSImplementation.QMS096
<div class="row" style="width:100%">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-body form">
                <div class="form-body">
                    <!-- BEGIN FORM-->
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmPAUTSubLines", @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(model => model.HeaderId, new { @id = "txtLineHeaderID" })
                        @Html.HiddenFor(model => model.LineId, new { @id = "txtLineID" })
                        @Html.HiddenFor(model => model.SubLineId, new { @id = "txtSubLineID" })
                        <fieldset>
                            <legend>Project Detail</legend>
                            <div class="form-group">
                                <div class="col-md-12">

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Quality Project
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.QualityProject, new { @class = "form-control", @readonly = "readonly", @Value = @ViewBag.Project })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Project
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.Project, new { @class = "form-control", @readonly = "readonly", @Value = @ViewBag.Project })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            BU
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.BU, new { @class = "form-control", @readonly = "readonly", @Value = @ViewBag.BU })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Location
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.Location, new { @class = "form-control", @readonly = "readonly", @Value = @ViewBag.Location })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>

                            <legend>Sub Line Detail</legend>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Zone No
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.ZoneNo, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Group No
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.GroupNo, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Angle<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.Angle, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Depth Coverage<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.DepthCoverage, new { @class = "form-control" })
                                        </div>
                                    </div>



                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Focal Depth<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.FocalDepth, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            TCG Indication Amplitude<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.TCGIndicationAmplitude, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Start Element<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.StartElement, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Angular Incremental Change<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.AngularIncrementalChange, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Focal Plane<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.FocalPlane, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    }

                </div>
            </div>
        </div>
    </div>
</div>


