﻿@model IEMQSImplementation.PDN001
<script src="~/Scripts/tableHeadFixer.js"></script>
<script>
    $(document).ready(function () {
        GetPDNIdenticalprojectPartial('@Model.Project');
        if ('@ViewBag.Project' != '' && '@ViewBag.Project' != 'null' && '@ViewBag.Project' != null && '@ViewBag.Project' != undefined) {
            $("#txtProject").val('@ViewBag.Project');
            $("#txtProject").attr('readonly', 'readonly');
        }
        if ('@ViewBag.customerName' != '' && '@ViewBag.customerName' != 'null' && '@ViewBag.customerName' != null && '@ViewBag.customerName' != undefined) {
            $("#txtCustomer").val('@ViewBag.customerName');
        }

        $('#btnPrint').click(function () {
            bootbox.dialog({
                title: 'Planning DIN Print',
                message: "Do you want to print Planning DIN?",
                buttons: {
                    'confirm': {
                        label: 'Yes',
                        className: 'btn green',
                        callback: function () {
                            window.open(WebsiteURL + "/PDIN/Maintain/PrintPDIN?Project=" + $('#Project').val() + "&Role=" + '@IEMQS.Areas.PDIN.Controllers.PDINRole.Shop', '_blank');
                        }
                    },
                    'cancel': {
                        label: 'No',
                        className: 'btn red'
                    }
                }
            });
            return false;
        });
    });

</script>

<style>
    .clsBootBoxWidth {
        width: 70% !important;
        margin: 30px auto !important;
    }

    .srno, .descriptions, .docno, .issueno {
        background-color: cornsilk;
        left: 0;
        position: relative;
    }

    .pdinheader {
        background-color: #c3eef2;
    }

    .center {
        text-align: center;
    }

    .table td {
        /*border: 1px solid !important;*/
    }

    .table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .center.revno {
        background: lightblue none repeat scroll 0 0;
    }

    .selected {
        background-color: antiquewhite;
    }

    .select2-selection__rendered {
        max-height: 90px;
        overflow: auto !important;
    }

    .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border-bottom-width: 0px;
    }

    #tblDINLinesDetails {
        border-collapse: separate;
        border-spacing: 0;
    }

        #tblDINLinesDetails thead th, #tblDINLinesDetails tbody th, #tblDINLinesDetails tbody td {
            border-bottom-width: 0;
            border-right-width: 0;
        }
    /** for firefox only */
    #divDINLines {
        scrollbar-width: thin;
        scroll-behavior: smooth;
    }

    #parent ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    #parent ::-webkit-scrollbar-track-piece {
        background: #eee;
    }

    #parent ::-webkit-scrollbar-thumb {
        background: #888;
    }
</style>

<div class="form-body">
    <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
        <div class="ribbon ribbon-left" style="background-color:transparent !important;">
            <span class="page-title">Planning DIN Summary</span>
        </div>
        @{
            if (!string.IsNullOrWhiteSpace(Model.Status))
            {
                <div class="ribbon ribbon-right ribbon-color-warning">
                    <span style="font-weight:bolder">
                        Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span>
                    </span>
                </div>
            }
        }
    </div>
    <div id="dvHeader">

        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
        {
            @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
            @Html.HiddenFor(m => m.Status)
            <div class="form-group">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Planning DIN Detail</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Project</label>
                                    <div class="">
                                        <input type="text" id="txtProject" value="" name="txtProject" readonly="readonly" class="form-control col-md-3" />
                                        @Html.HiddenFor(m => m.Project, new { })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Customer</label>
                                    <div class="">
                                        <input type="text" id="txtCustomer" value="" name="txtCustomer" readonly="readonly" class="form-control col-md-3" />
                                        @*@Html.TextBoxFor(m => m.Customer, new { @class = "form-control col-md-3", @readonly = "readonly" })*@
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">CDD</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.CDD, "{0:MM/dd/yyyy}", new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Issue No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.IssueNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4 display-none">
                                    <label class="control-label">Job Description</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.JobDescription, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4 display-none">
                                    <label class="control-label">Department</label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.Department, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Process Licensor</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ProcessLicensor, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Product</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Product, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div id="divPDNIdenticalproject"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12 text-right">
                                    <button class="btn icons" id="btnPrint" title="Print"><i class="fa fa-print"></i></button>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Planning DIN
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="parent">
                        <div id="divDINLines" class="table-container" style="width: 100%; overflow: scroll; max-height: 700px; min-height: 0px; max-width: none; min-width: 0px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="text-align:right;">
            <input type="button" class="btn btnclose" id="btncancel" value="Close" style="margin-right:5px;" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {


        $("#btncancel").click(function () {
            window.location.href = WebsiteURL + '/PDIN/ShopSummary/Index';
        });

    });

    function LoadMultiSelect() {
        $("select[name='ddlmultiple']").select2({
            caption: "--Select Department--",
            width: '350px'
        });
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
    }
    if ('@Model.HeaderId' > 0) {
        BindDINLines('@Model.Project');
    }

    function BindDINLines(Project) {
        $('#divDINLines').load(
            $.ajax({
                url: WebsiteURL + "/PDIN/Maintain/GetPDINLinesHTMLNew",
                type: "POST",
                data: { project: Project, Role: '@IEMQS.Areas.PDIN.Controllers.PDINRole.Shop', IsMobile: IsMobileDevice },
                dataType: "html",
                success: function (data) {
                    $('#divDINLines').html(data);
                    if (!IsMobileDevice) {
                        $("#tblDINLinesDetails").tableHeadFixer({ 'left': 3 });
                        $("#tblDINLinesDetails tr").click(function () {
                            $(this).addClass("selected").siblings().removeClass("selected");
                        });
                    }
                    else {
                        $("#divDINLines").removeAttr("style").find(".srno, .descriptions, .docno, .issueno").removeClass("srno").removeClass("descriptions").removeClass("docno").removeClass("issueno");
                        $("#tblDINLinesDetails").dataTable({
                            "paging": false,
                            "ordering": false,
                            responsive: true,
                        });
                    }
                },
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                }
            })
      );
    }

    function ShopUserAction(Plan, refHistoryId, RevNo, DocumentNo, RefId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PDIN/ShopSummary/ShopUserAction",
            datatype: 'json',
            data: { PlanName: Plan, RefHistoryId: refHistoryId, RevNo: RevNo, DocumentNo: DocumentNo, RefId: RefId },
            success: function (result) {
                if (result.Key) {
                    if (result.IsShowReport) {
                        console.log(result.listSSRSParam)
                        var url = result.ReportURL;
                        var dat = result.listSSRSParam;
                        ShowReport(dat, url);
                    }
                    else {
                        var atag = result.HistoryURL;
                        var href = $(atag).attr("href");
                        //console.log(href);
                        window.location.href = href;
                        //var win = window.open(href, '_blank');
                        //win.focus();
                    }
                }
            },
            error: function (result) {
                DisplayNotiMessage("error", result.Value, "Error");
            }
        });
    }
</script>
