﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<script>
    $(document).ready(function () {
        $('#btnAddNew').remove();
        GetHeaderGridDataPartial('All');
        //$('a[name="tabStatus"]').click(function () {
        //    GetHeaderGridDataPartial($(this).attr('spara'));
        //});

        $("#btnHistoryData").click(function () {

            $.ajax({
                type: "POST",
                url: WebsiteURL + "/PLN/MaintainStoolPlan/GetHistoryDetails",
                datatype: 'html',
                async: false,
                data: {strRole : 'Initiator'},
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (result) {
                    bootbox.dialog({
                        title: 'History Details',
                        message: result,
                        size: 'large',
                        buttons: {
                            'cancel': {
                                label: 'Close',
                                className: 'btn green'
                            }
                        }
                    });
                },
                error: function () {
                }
            });
        });
    });

    function GetHeaderGridDataPartial(status)
    {
        //$("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PLN/MaintainStoolPlan/LoadStoolPlanListDataPartial",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { status: status },
            success: function (result) {
                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                }
                else {
                    $("#portlet_comments_2").html(result);
                }
            },
            error: function () {
            }
        });
    }

</script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Display Stool Plan
                                    <small></small>
                                </h1>
                            </div>                            
                        </div>
                    </div>
                    
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        @*<div class="tab-pane active" id="portlet_comments_1">
                        </div>*@
                        <div class="tab-pane active" id="portlet_comments_2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
