﻿@using IEMQSImplementation
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Code Review Portal
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/Authorization/CodeReview/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="tblCodeReview" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="hide">Id</th>
                            <th class="all">Area</th>
                            <th class="all">Type</th>
                            <th class="all">Sub Type</th>
                            <th class="all">Path</th>
                            <th class="all">Status</th>
                            <th class="all">Comments</th>
                            <th class="all">CreatedBy</th>
                            <th class="all">CreatedOn</th>
                            <th class="all">ApproveBy</th>
                            <th class="all">ApproveOn</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var table = $('#tblCodeReview');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/Authorization/CodeReview/LoadDataGridData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                        {
                            "sClass": "hide",
                            "name": "Id",
                            "bSortable": false
                        },
                        {
                            "sClass": "center",
                            "name": "Area",
                            "bSortable": true,
                            "ColName": "Area"
                        },
                        {
                            "sClass": "center",
                            "name": "Type",
                            "bSortable": true,
                            "ColName": "Type"
                        },
                        {
                            "sClass": "center",
                            "name": "SubType",
                            "bSortable": true,
                            "ColName": "SubType"
                        },
                        {
                            "sClass": "center",
                            "name": "Path",
                            "bSortable": true,
                            "ColName": "Path"
                        },
                        {
                            "sClass": "center",
                            "name": "Status",
                            "bSortable": true,
                            "ColName": "Status"
                        },
                        {
                            "sClass": "center",
                            "name": "Comments",
                            "bSortable": true,
                            "ColName": "Comments"
                        },
                        {
                            "bSortable": false,
                            "sClass": "center",
                            "name": "CreatedBy",
                            "ColName": "CreatedBy"
                        },
                        {
                            "bSortable": false,
                            "sClass": "center",
                            "name": "CreatedOn",
                            "attr": "date",
                            "ColName": "CreatedOn"
                        },
                        {
                            "bSortable": false,
                            "sClass": "center",
                            "name": "ApprovedBy",
                            "ColName": "ApprovedBy"
                        },
                        {
                            "bSortable": false,
                            "sClass": "center",
                            "name": "ApprovedOn",
                            "attr": "date",
                            "ColName": "ApprovedOn"
                        },
                        {
                            "bSortable": false,
                            "sClass": "center",
                            //"name": "Action",
                        }


            ]
        });
        table.dtSearchFilter();
    });

    function DeleteProject(Id) {
        bootbox.dialog({
            title: "Delete Confirmation",
            message: "Do you want to delete?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {

                        $.ajax({
                            type: "POST",
                            url: WebsiteURL + "/Authorization/CodeReview/DeleteCodeReview",
                            datatype: 'json',
                            async: false,
                            //data: { headerId: _headerId },
                            data: {Id: Id},
                            success: function (result) {
                                if (result.Key) {
                                    DisplayNotiMessage("success", result.Value, "Success");
                                    $('#tblCodeReview').DataTable().ajax.reload();
                                }
                            },
                            error: function () {
                                alert('error...');
                            }
                        });
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }
            }
        });
    }
</script>
<script src="~/Scripts/bootbox.js"></script>