﻿@using IEMQSImplementation
@model EMT001
@{
    ViewBag.Title = "Exit Meeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string EMTFileAttachment = "EMTFileAttachment";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>


<script>
    var IsDisplayOnly = '@ViewBag.IsDisplayMode.ToString().ToLower()' == "true" ? true : false;
    $(document).ready(function () {
        GetPDNIdenticalprojectPartial('@Model.Project');

        var headerid = parseInt("@Model.HeaderId");
        if (headerid > 0) {

            var Customer = "@Model.Customer";
            $("#txtCust").val(Customer);

            var Document = "@Model.Document";
            $("#txtdoc").val(Document);

            @*var CDD = "@Model.CDD";
            $("#CDD").val(CDD);*@

            var RevNo = "@Model.RevNo";
            $("#txtRev").val("R" + RevNo);

            var Product = "@Model.Product";
            $("#ddlCat").val(Product);

            var ProcessLicensor = "@Model.ProcessLicensor";
            $("#txtlicence").val(ProcessLicensor);

            var ApprovedBy = "@Model.ApprovedBy";
            var Project = "@Model.Project";

            if (Project != "" || ApprovedBy != "") {
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/EMT/MaintainEMT/getCodeValue",
                    data: { project: Project, approver: ApprovedBy },
                    datatype: 'html',
                    async: false,
                    success: function (data) {
                        if (data.projdesc != "") {
                            $("#hfProject").val(Project);
                            $("#txtProject").val(data.projdesc);
                        }
                        if (data.appdesc != "") {
                            $("#ddlApprover").val(data.appdesc);
                        }
                        if (data.custdesc != "") {
                            $("#Customer").val(data.custdesc);
                        }
                    },
                    error: function () {
                    }
                });
            }

            var status = "@Model.Status";
            $("#lblStatus").text(status);
            $("#status").css("display", "block");
            $("#txtProject").attr("disabled", true);

            $("#btnSend").css("display", "block");
            if (status.toLowerCase() == "draft" || status.toLowerCase() == "returned" || status.toLowerCase() == "approved") {
                $("#ddlApprover").attr("disabled", true);
                $("#btnSend").css("display", "none");
                if(status.toLowerCase() == "approved"){
                    $("#btnSave").css("display", "none");
                }
                else{
                    $("#btnSave").css("display", "block");
                }
                $("#btnApprove").css("display", "none");
                $("#btnReturn").css("display", "none");
                $("#ddlCat").attr("disabled", true);
                $("#txtlicence").attr("disabled", true);
                $("#ProcessLicensor").attr("disabled", true);
                $("#ReturnRemark").attr("disabled", true);

            }
            else if (status.toLowerCase() == "sent for approval") {
                $("#ddlApp").css("display", "block");
                $("#btnSend").css("display", "none");
                $("#ddlApprover").attr("disabled", true);
                $("#btnSave").css("display", "none");
                $("#btnApprove").css("display", "block");
                $("#btnReturn").css("display", "block");
            }
        }
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#txtProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetProjectResult", //change to GetAllProjectResult for no BU reference
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectDescription};
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            select: function (event, ui) {
                var project = ui.item.value;
                //if ($('#txtProject :selected').text() != "Select") {
                var last4 = project.split('-')[0].trim().slice(-4);
                var docNo = "H02_" + last4 + "_PL55";
                $("#txtdoc").val(docNo);

                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/EMT/MaintainEMT/GetHeaderData",
                    data: { project: project.split('-')[0].trim() },
                    datatype: 'html',
                    async: false,
                    success: function (data) {

                        if (data.Key) {
                            DisplayNotiMessage("error", "An Exit Meeting already Exist associated to this Project.", "Error");
                        } else {
                            if (data.Value) {
                                var splitval1 = data.Value.split('|')[0];
                                var splitval2 = data.Value.split('|')[1];
                                $("#txtCust").val(splitval1);
                                //$("#CDD").val(splitval2);
                            }
                            else {
                            }
                        }


                    },
                    error: function () {
                    }
                });
            }

        });

        $("#ddlApprover").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetApproverResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },

                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }));
                        debugger
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    $("#ddlApprover").val(ui.item.value);
                }

            },
        });

        $("#ddlApprover").change(function () {
            var approver = $('#ddlApprover').val();
            $("#hfApp").val(approver);
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/EMT/MaintainEMT/verifyApprover",
                datatype: 'html',
                async: false,
                data: { approver: approver },
                success: function (data) {
                    if (data.Key) {

                    }
                    else {
                        $('#ddlApprover').val("");
                        DisplayNotiMessage("error", "Invalid Approver.! Try Again..!", "Error");
                    }

                },
                error: function () {
                }
            });
        });

        $("#btnSend").click(function () {
            var headerid = parseInt("@Model.HeaderId");
            var Approver = $('#ddlApprover').val();
            if (Approver == "") {
                DisplayNotiMessage("error", "Please Select Approver..!!", "Error");
            }
            else {
                $.ajax({
                    url: WebsiteURL + '/EMT/MaintainEMT/sentForApproval',
                    data: { Approver: Approver, headerid: headerid },
                    type: 'POST',
                    async: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    success: function (data) {
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                            window.setTimeout('window.location.href = "'+ WebsiteURL + '/EMT/MaintainEMT/Index"', 2000);
                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                    }
                });
            }
        });
                
        $("#btnApprove").click(function () {
            bootbox.confirm({
                message: "Do you want to Approve this record ? ",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success',
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        var strHeaderIds = parseInt("@Model.HeaderId");
                        $.ajax({
                            type: "POST",
                            url: WebsiteURL + "/EMT/ApproveEMT/ApproveSelectedEMT",
                            datatype: 'json',
                            async: false,
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            data: { strHeaderIds: strHeaderIds },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    //   window.location.href = "../ApproveEMT/Index";
                                    window.setTimeout('window.location.href = "'+ WebsiteURL + '/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID"', 2000);

                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                                $('#tblEMTDet').DataTable().ajax.reload();

                            },
                            error: function () {
                            }
                        });
                    }
                }
            })
        });

        $("#btnReturn").click(function () {
            bootbox.confirm({
                message: "Do you want to Return this record ? ",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success',
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        var strHeaderIds = parseInt("@Model.HeaderId");
                        var remarks = $("#ReturnRemark").val();
                        if (remarks == "") {
                            DisplayNotiMessage("error", "Remark is Mandatory..!!", "Error");
                        }
                        else {
                            $.ajax({
                                type: "POST",
                                url: WebsiteURL + "/EMT/ApproveEMT/ReturnSelectedEMT",
                                datatype: 'json',
                                async: false,
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                data: { strHeaderIds: strHeaderIds, remarks: remarks },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        //   window.location.href = "../ApproveEMT/Index";
                                        window.setTimeout('window.location.href = "'+ WebsiteURL + '/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID"', 2000);

                                    }
                                    else {
                                        DisplayNotiMessage("error", data.Value, "Error");
                                    }
                                    $('#tblEMTDet').DataTable().ajax.reload();

                                },
                                error: function () {
                                }
                            });
                        }
                    }
                }
            });
        });

        $('#btnRevoke').click(function () {
            RevokeDoument("/EMT/ApproveEMT/RevokeDocument", parseInt('@Model.HeaderId'), parseInt(@ViewBag.PlanningDinID), "/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID")
        });

        LoadEMTFileAttachment();
    });
    function submit(status)
    {
        if ($("#frmMaintainDeatils").valid()) {
            var formData = new FormData();
            var frmValues = $('#frmMaintainDeatils').serializeArray();
            $.each(frmValues, function (key, input) {
                formData.append(input.name, input.value);
            });
            $.ajax({
                url: WebsiteURL + '/EMT/ApproveEMT/SaveEMTHeader',
                type: 'POST',
                data: {
                    Project: $('#hfProject').val(),
                    Document: $('#txtdoc').val(),
                    Customer: $('#txtCust').val(),
                    Product: $('#ddlCat').val(),
                    ProcessLicensor: $('#txtlicence').val(),
                    RevNo:$('#txtRev').val(),
                    ApprovedBy:$('#ddlApprover').val(),
                    CDD: $('#CDD').val(),
                    hasAttachments: getHasAttachmentsForSubmit(),
                    Attach: getAttachmentsFromTable()
                },
                success: function (data) {
                    if (data.Key) {
                        $("#btnSubmit").hide();
                        $("#btnAttach").hide();
                        if (data.Status != "" && data.Revision != "") {
                            $("#txtRev").val("R" + data.RevNo);
                            $("#lblStatus").text(data.Status);
                            location.reload();
                        }
                        DisplayNotiMessage("success", "Data Updated Successfully..!", "success");
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
        else {
            return false;
        }
    }
</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body form">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                        {
                            @Html.Hidden("hfProject");

                            <div class="mt-element-ribbon bg-grey-steel" style="height:50px;">
                                <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                    <span class="page-title">Initiate Exit Meeting</span>
                                </div>
                                <div class="ribbon ribbon-right ribbon-color-warning" id="status" style="display:none">
                                    <b>Status : <label id="lblStatus"></label></b>
                                </div>
                                <p class="ribbon-content"></p>
                            </div>
                            <fieldset>
                                <legend>Project Detail</legend>
                                <div class="form-group clsInitiator">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Project
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtProject", (string)@ViewBag.cat, new { @class = "form-control col-md-4", required = "required" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Customer
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtCust", (string)@ViewBag.cat, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 right">
                                            <label class="control-label">
                                                Rev No
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtRev", "", new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Product Category
                                            </label>
                                            <div class="">
                                                @Html.DropDownList("ddlCat", new SelectList(@ViewBag.lstProCat, "Value", "Text"), "Select", new { @class = "form-control", required = "required", @disabled = "disabled" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Process Licensor
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtlicence", (string)@ViewBag.cat, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Document No.
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtdoc", (string)@ViewBag.cat, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                CDD
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CDD, "{0:dd/MM/yyyy}", new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 right">
                                            <label class="control-label">
                                                Approver
                                            </label>
                                            <div class="">
                                                <input type="text" name="ddlApprover" id="ddlApprover" class="class = form-control col-md-3" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-4 right">
                                            <label class="control-label">

                                            </label>
                                            <div class="">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 right">
                                        <div class="col-md-12 right">
                                            <label class="control-label">Revise Remark</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ReviseRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 right">
                                        <div class="col-md-12 right">
                                            <label class="control-label">
                                                Return Remarks
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ReturnRemark, "", new { @class = "form-control col-md-4" })
                                            </div>
                                        </div>
                                    </div>
                                    <div id="divPDNIdenticalproject"></div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Attach Documents</legend>
                                <div class="col-md-12">                                    
                                    <div id="dv@(EMTFileAttachment)"></div>
                                </div>
                            </fieldset>
                        }

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">


                                    <a href="~/EMT/ApproveEMT/index" style="float: right; margin-right:5px;" class="btn btnclose">Close</a>
                                    <a title="Back To Planning Din" class="btn back" style="float: right; margin-right:5px;" href="~/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID">Back</a>
                                    @if (ViewBag.IsDisplayMode.ToString().ToLower() == "false")
                                    {
                                        <input type="button" class="btn green" id="btnHistory" value="History" style="float: right;display:none; " />
                                        <button class="btn return" type="button" style="float: right; margin-right:5px;" id="btnReturn">Return</button>
                                        if (Model.Status.ToLower() == clsImplementationEnum.PlanStatus.Approved.GetStringValue().ToLower() && ViewBag.Revoke)
                                        {
                                            <a id="btnRevoke" style="float: right; margin-right:5px;" class="btn return">Revoke</a>
                                        }
                                        <button class="btn approve" type="button" style="float: right; margin-right:5px;" id="btnApprove">Approve</button>                                        
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    if (IsDisplayOnly) {
        $('div.clsInitiator :input').attr('disabled', true);
    }
    
    function LoadEMTFileAttachment() {
        @*var UploadPath = "";
        if (parseInt(@Model.HeaderId) > 0) {
            UploadPath = "EMT001/" + "@Model.HeaderId";
        }
        var objFileUploadFinalHeader = new FileUploadEnt('dv@(EMTFileAttachment)', '@EMTFileAttachment');
        objFileUploadFinalHeader.ShowDeleteAction = false;
        objFileUploadFinalHeader.ShowAttachmentBtn = false;
        objFileUploadFinalHeader.FolderPath = UploadPath;
        objFileUploadFinalHeader.IsRequired = false;
        LoadFileUploadPartialView(objFileUploadFinalHeader);*@

        var objFile = {
            TableName: 'EMT001//' + '@Model.HeaderId' + '//R'+'@Model.RevNo',
            TableId: '@Model.HeaderId',
            Path: 'EMT001//' + '@Model.HeaderId' + '//R'+'@Model.RevNo' + '/1',
            ControlID: '@(EMTFileAttachment)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: false,
            ShowDownloadBtn: false,
            ShowAttachmentBtn: false,
            IsRequired: false
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(EMTFileAttachment)', false);
    }    
</script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>