﻿@using IEMQSImplementation

@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmCopy", @class = "form-horizontal" }))
{
    <div class="form-body">
        <div class="form-group">
            <label class="control-label col-md-4">
                BU
                <span class="required">*</span>
            </label>
            <div class="col-md-6">
                @Html.TextBox("txtBU_Copy", "", new { @class = "form-control", @placeholder = "--Select BU--" })
                @Html.Hidden("BU_Copy")
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                Location
                <span class="required">*</span>
            </label>
            <div class="col-md-6">
                @Html.TextBox("txtLocation_Copy", (string)ViewBag.LocationDesc, new { @class = "form-control", @readonly = "readonly" })
                @Html.Hidden("Location_Copy", (string)ViewBag.Location)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                Equipment 
                <span class="required">*</span>
            </label>
            <div class="col-md-6">
                @Html.TextBox("txtEquipment_Copy", "", new { @class = "form-control", @placeholder = "--Select Equipment Code--" })
                @Html.Hidden("Equipment_Copy")
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        LoadPageDefaultDataCopy();
        InitializeFormValidationCopy();
    });

    function LoadPageDefaultDataCopy() {
        var lstBU = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.BUList))));
        FillAutoComplete($("#txtBU_Copy"), lstBU, $("#BU_Copy"));

        var paramList_Copy = [];
        paramList_Copy.push({ id: "BU", value: $("#BU_Copy") });
        paramList_Copy.push({ id: "Location", value: $("#Location_Copy") });
        FillAutoCompleteUsingAjax($("#txtEquipment_Copy"), "/WCS/EquipmentMaster/GetEquipment", $("#Equipment_Copy"), false, paramList_Copy);
    }
    function InitializeFormValidationCopy() {
        $('#frmCopy').validate({
            rules: {
                "txtBU_Copy": {
                    required: true
                },
                "txtLocation_Copy": {
                    required: true
                },
                "txtEquipment_Copy": {
                    required: true
                }
            },
            messages: {
                "txtBU_Copy": {
                    required: "BU is required"
                },
                "txtLocation_Copy": {
                    required: "Location is required"
                },
                "txtEquipment_Copy": {
                    required: "Equipment is required"
                }
            }
        });
    }
</script>
