﻿@model IEMQSImplementation.FXR001
@using IEMQSImplementation
@{
    string FileUploadLineID = "fuline";
}
<style>
    .clsWT {
        width: 100px !important;
    }

    .clsFixtureName {
        background: #ffffff;
        text-align: left !important;
    }
</style>
<script>

    var frmLineData;

    $(document).ready(function () {
        GetPDNIdenticalprojectPartial('@Model.Project');
        var isSelectedProject = false;
        var isSelectedApprover = false;
        var arrayProduct = @Html.Raw(Json.Encode(@ViewBag.Products));
        var project=@Html.Raw(Json.Encode(@ViewBag.Products));
        $("#txtRevNo").val("R"+@Model.RevNo);
        var status=$("#Status").val();
        var rev=  $("#txtRevNo").val();

        if(status="Draft" && rev=="R0" )
        {

            //  $("#txtProduct").attr("readonly", true);
            //$('#txtcomments').is('[readonly]')
            $("#Product").removeAttr("readonly", true);
        }
        else
        {

            $("#Product").attr("readonly", true);
        }


        $("#txtProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL +"/Utility/General/GetProjectResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectCode };
                        }));
                        if (data.length > 0) {
                            isSelectedProject = true;
                        }
                        else {
                            isSelectedProject = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    if(IfProjectExist(ui.item.value))
                    {
                        bootbox.confirm({
                            message: "This record already exists.Do you want to Continue?",
                            buttons: {
                                confirm: {
                                    label: 'Yes',
                                    className: 'btn-success'
                                },
                                cancel: {
                                    label: 'No',
                                    className: 'btn-danger'
                                }
                            },
                            callback: function (result) {
                                if (result) {
                                    ClearAll();
                                }
                                else {
                                    location.href = WebsiteURL +"/PLN/MaintainFXR/Index";
                                }
                            }
                        });
                    }
                    else
                    {
                        $("#txtProject").val(ui.item.label);
                        $("#Project").val(ui.item.value);
                        $("#Document").val("H02-" + ui.item.value.trim().substr(ui.item.value.trim().length - 4) + "-PL09");
                        GetCustomerProjectWise(ui.item.value);
                        event.preventDefault();
                    }
                    isSelectedProject = true;
                }

            },
        });

        $("#Product").autocomplete({
            source: arrayProduct,
            minLength: 0,
            autoFocus: true,
        }).focus(function(){
            var result = $(this).data("uiAutocomplete").search($(this).val());
        });

        $("#txtApprovedBy").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL +"/Utility/General/GetApproverResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Code };
                        }));
                        if (data.length > 0) {
                            isSelectedApprover = true;
                        }
                        else {
                            isSelectedApprover = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    $("#txtApprovedBy").val(ui.item.label);
                    $("#ApprovedBy").val(ui.item.value);
                    event.preventDefault();
                }
                isSelectedApprover = true;
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $("#txtApprovedBy").val('');
                    $("#ApprovedBy").val('');
                }
            }
        });

        $("#Product").blur(function(){
            if($.inArray($(this).val(), arrayProduct) == -1)
            {
                $(this).val('');
            }
        });

        $("#txtProject").blur(function () {
            if (!isSelectedProject) {
                ClearAll();
            }
        });

        //$("#txtApprovedBy").blur(function () {
        //    if (!isSelectedApprover) {
        //        $("#txtApprovedBy").val('');
        //        $("#ApprovedBy").val('');
        //    }
        //});

        @*if (parseInt('@Model.HeaderId') > 0) {
            $("#btnAddLines").show();
        }*@
        if ('@ViewBag.Project' != '' && '@ViewBag.Project' != 'null' && '@ViewBag.Project' != null && '@ViewBag.Project' != undefined) {
            $("#txtProject").val('@ViewBag.Project');
            $("#txtProject").attr('disabled',true);
        }
        if ('@ViewBag.ApproverName' != '' && '@ViewBag.ApproverName' != 'null' && '@ViewBag.ApproverName' != null && '@ViewBag.ApproverName' != undefined) {
            $("#txtApprovedBy").val('@ViewBag.ApproverName');
            $("#txtApprovedBy").attr('disabled',true);
        }
        if ('@ViewBag.customerName' != '' && '@ViewBag.customerName' != 'null' && '@ViewBag.customerName' != null && '@ViewBag.customerName' != undefined) {
            $("#txtCustomer").val('@ViewBag.customerName');
        }
        if ('@Model.CDD.HasValue') {
            $('#CDD').val('@Model.CDD.Value.ToShortDateString()');
        }
        if('@Model.Product' != null && '@Model.Product' != "")
        {
            $("#Product").attr("readonly", true);
        }

        if ('@Model.Status.ToLower()' == '@clsImplementationEnum.FixtureStatus.SentForApproval.GetStringValue().ToLower()') {
            $("#btnSendForApproval").hide();
            $("#btnSaveHeader").hide();
            $("#btnRevise").hide();
            $("#ReviseRemark").attr("readonly", true);
        }

        if ('@Model.Status.ToLower()' == '@clsImplementationEnum.FixtureStatus.Approved.GetStringValue().ToLower()') {
            $("#btnSendForApproval").hide();
            $("#btnSaveHeader").hide();
            if ('@ViewBag.IsReviseBtnEnabled'.toLocaleLowerCase() == 'true') {
                $("#btnRevise").show();
            }
            else
            {
                $("#docMessage").text('@ViewBag.DocMessage').css("display", "block");;
            }
            $("#ReviseRemark").attr("readonly", false);
            $("#Product").attr("readonly", true);
        }

        if ('@Model.Status.ToLower()' == '@clsImplementationEnum.FixtureStatus.Draft.GetStringValue().ToLower()' ||
            '@Model.Status.ToLower()' == '@clsImplementationEnum.FixtureStatus.Returned.GetStringValue().ToLower()') {
            $("#txtApprovedBy").attr('disabled',false);
            $("#btnRevise").hide();
            $("#BudgetedMaterial").attr('disabled',false);
        }
        else
        {
            $("#BudgetedMaterial").attr('disabled',true);
        }

        if('@ViewBag.IsAccessible'!=null && '@ViewBag.IsAccessible'!="" && ('@ViewBag.IsAccessible').toLowerCase()=="false"){
            $('div.dvDisabled :input').attr('disabled', true);
            $('#btnSaveHeader').remove();
            $('#btnSendForApproval').remove();
            $('#btnRetract').remove();
            $('#btnRevise').remove();
            $('#btnSummary').remove();
            $('#btnPrint').remove();
        }

        $("#btnRevise").click(function () {
            var headerId = parseInt($("#txtHeaderId").val());
            if(headerId > 0)
            {
                var table = 'FXR001';
                var isapprover = false;
                var action = '@clsImplementationEnum.ButtonStatus.Revise.GetStringValue()';
                if (!CheckIsPostValidation(table, action, headerId, isapprover)) {
                    return false;
                }
            }

            ReviseHeader(headerId, "/PLN/MaintainFXR/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#spnStatus'),ReviseHeaderCallBack);
        });

        $('#frmCreateHeader').validate({
            rules: {
                txtProject: {
                    required: true,
                },
                Project: {
                    required: true,
                },
                Product: {
                    required: true,
                },
                ApprovedBy: {
                    required: true,
                },
                txtApprovedBy: {
                    required: true,
                },
                ReviseRemark: {
                    required: true,
                },
            },
            messages: {
                txtProject: {
                    required: "Project is required"
                },
                Project: {
                    required: "Project is required"
                },
                Product: {
                    required: "Product Licensor is required"
                },
                ApprovedBy: {
                    required: "Approver name is required",
                },
                txtApprovedBy: {
                    required: "Approver name is required",
                },
                ReviseRemark: {
                    required: "Revise remarks is required",
                },
            }
        });

        $("#btnRetract").click(function () {
            var headerId = parseInt($("#txtHeaderId").val());
            if(headerId > 0)
            {
                var table = 'FXR001';
                var isapprover = false;
                var action = '@clsImplementationEnum.ButtonStatus.Retract.GetStringValue()';
                if (!CheckIsPostValidation(table, action, headerId, isapprover)) {
                    return false;
                }
            }
            $.ajax({
                type: "POST",
                url: WebsiteURL +"/PLN/MaintainFXR/RetractStatus",
                datatype: "Json",
                async: false,
                data: { HeaderId: headerId },
                success: function (result) {
                    if(result.Key)
                    {
                        DisplayNotiMessage("success", result.Value, "Success");
                        window.location.reload();
                    }
                },
                error: function () {
                }
            });
        });

        $("#btnSaveHeader").click(function () {
            if ($("#frmCreateHeader").valid()) {
                var headerid=parseInt('@Model.HeaderId');
                var arrayLineIds = new Array();
                var HeaderId = parseInt($('input[name="chkYesNo"]:first').attr('sheaderid'));
                if(headerid > 0)
                {
                    var table = 'FXR001';
                    var isapprover = false;
                    var action = '@clsImplementationEnum.ButtonStatus.Save.GetStringValue()';
                    if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                        return false;
                    }
                }
                $('input[name="chkYesNo"]:checked').each(function(){
                    arrayLineIds.push(parseInt($(this).attr('slineid')));
                });
                if(arrayLineIds.length > 0)
                {
                    $("#hdLineId").val(arrayLineIds.join(","));
                }
                if(HeaderId != null && HeaderId > 0 && HeaderId != undefined)
                {
                    $("#hdHeaderId").val(HeaderId);
                }
                var frmSaveHeaderValue = $("#frmCreateHeader").serializeArray();
                var status = $("#Status").val();
                if($('#spnStatus').text().toLowerCase() == "approved")
                {
                    var headerId = parseInt($("#txtHeaderId").val());
                    ReviseHeader(headerId, "/PLN/MaintainFXR/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#spnStatus'),ReviseHeaderCallBack);
                }
                else
                {
                    SaveHeaderWithReviseCheck(frmSaveHeaderValue);
                }
            }
        });

        $("#btnSendForApproval").click(function () {
            var approver = $("#ApprovedBy").val();
            if (approver != "" && approver != undefined) {
                bootbox.confirm({
                    message: "Do you want to send this lines for approval?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            var headerId = parseInt($("#txtHeaderId").val());
                            if(headerId > 0)
                            {
                                var table = 'FXR001';
                                var isapprover = false;
                                var action = '@clsImplementationEnum.ButtonStatus.Submit.GetStringValue()';
                                if (!CheckIsPostValidation(table, action, headerId, isapprover)) {
                                    return false;
                                }
                            }
                            $.ajax({
                                type: "POST",
                                url: WebsiteURL +"/PLN/MaintainFXR/SendForApproval",
                                datatype: 'json',
                                async: false,
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                data: { HeaderId: headerId, Approver: approver },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        // window.location.href = '/PLN/MaintainFXR/Index';
                                        window.setTimeout('window.location.href = "'+WebsiteURL+'/PDIN/Maintain/Create?HeaderID=@ViewBag.PlanningDinID"', 2000);
                                    }
                                    else {
                                        DisplayNotiMessage("error", data.Value, "Error");
                                    }
                                },
                                error: function () {
                                }
                            });
                        }
                    }
                });
            }
            else
            {
                bootbox.alert("Please select approver, it is mandatory.");
            }
        });

        var table = $("#tblFixtureList");
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL +"/PLN/MaintainFXR/LoadFixtureListData",
            "fnServerParams": function (aoData) {

                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": $("#txtHeaderId").val() }
                            //{ "name": "UserTypeId", "value": $('#ddlUserTypeList').val()}
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        if ('@Model.Status.ToLower()' == '@clsImplementationEnum.FixtureStatus.SentForApproval.GetStringValue().ToLower()' ||
                            '@Model.Status.ToLower()' == '@clsImplementationEnum.FixtureStatus.Approved.GetStringValue().ToLower()' || $("#spnStatus").text() == '@clsImplementationEnum.FixtureStatus.Approved.GetStringValue()') {
                            $("#btnSendForApproval").hide();
                        }
                        else if (data.iTotalRecords > 0 && parseInt($("#txtHeaderId").val()) > 0) {
                            $("#btnSendForApproval").show();
                        }
                        else {
                            $("#btnSendForApproval").hide();
                        }
                        $(".txtStrWhere", "#dvExportLine").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLine").val(data.strSortOrder);
                        fnCallback(data);
                        $('span.child').parent().css('border-top','none').css('background','#fbfcfd');
                        $('span.child').parent().next('td').css('border-top','none');
                        //$('span.child').parent().parent().hide();
                    }
                });
            },
            "columns": [
                {
                    "bSortable": false,
                    "sClass": "clsCenter",
                    "sWidth": "5%",
                    "render": function (data, type, row, meta) {
                        var parentId = parseInt(row[24]);
                        var IsManual = row[26];
                        var hasChild = row[27];

                        var buttons = "<nobr><center>";
                        var addSubLines = "CountNoOfFixture('" + row[25] + "', " + row[22] + "," + row[23] + ", 'add')";
                        var deleteSubLines = "DeleteFixture('" + row[25] + "', " + row[22] + ")";
                        var editSubLines = "LoadSubCatgoryPartial(" + row[22] + "," + row[23] + ", 'edit')";
                        var attachments = "ViewAttachment( " + row[22] + ")";
                        if ('@Model.Status.ToLower()' == '@clsImplementationEnum.FixtureStatus.Draft.GetStringValue().ToLower()' ||
                            '@Model.Status.ToLower()' == '@clsImplementationEnum.FixtureStatus.Returned.GetStringValue().ToLower()' ||
                             $("#spnStatus").text() == '@clsImplementationEnum.FixtureStatus.Draft.GetStringValue()' ||
                             $("#spnStatus").text() == '@clsImplementationEnum.FixtureStatus.Returned.GetStringValue()') {
                            if (parentId == 0) {
                                buttons += '<i id="btnAddSubLine" name="btnAction" style="cursor:pointer;"  Title="Add Sub Category" class="fa fa-plus"  onClick="' + addSubLines + '" ></i>&nbsp;&nbsp;';
                                //if (IsManual == "True") {
                                //    buttons += '<i id="btnEditSubLine" name="btnAction" style="cursor:pointer;" Title="Edit Record" class="fa fa-pencil-square-o" onclick="' + editSubLines + '"></i>&nbsp;&nbsp;';
                                //    buttons += '<i id="btnDeleteSubLine" name="btnAction" style="cursor:pointer;" Title="Delete Record" class="fa fa-trash-o" onclick="' +  deleteSubLines + '"></i>&nbsp;&nbsp;';
                                //}
                                //else{
                                buttons += '<i id="btnEditSubLine" name="btnAction" style="cursor:none !important; opacity: 0.5; pointer-events: none" Title="Edit Record" class="fa fa-pencil-square-o" onclick="' + editSubLines + '"></i>&nbsp;&nbsp;';
                                if (hasChild == "false") {
                                    buttons += '<i id="btnDeleteSubLine" name="btnAction" style="cursor:pointer;" Title="Delete Record" class="fa fa-trash-o" onclick="' +  deleteSubLines + '"></i>&nbsp;&nbsp;';
                                }
                                else {
                                    buttons += '<i id="btnDeleteSubLine" name="btnAction" style="cursor:none !important; opacity: 0.5; pointer-events: none" Title="Delete Record" class="fa fa-trash-o" onclick="' +  deleteSubLines + '"></i>&nbsp;&nbsp;';
                                }
                                //}
                                buttons += '<i id="btnAttchment" name="btnAction" style="cursor:pointer; color:green;"  Title="Add/Update Attachment" class="fa fa-paperclip"  onClick="' + attachments + '" ></i>';
                            }
                            else{
                                buttons += '<i id="btnAddSubLine" name="btnAction" style="cursor:none !important; opacity: 0.5; pointer-events: none"  Title="Add Sub Category" class="fa fa-plus"  onClick="' + addSubLines + '" ></i>&nbsp;&nbsp;';
                                buttons += '<i id="btnEditSubLine" name="btnAction" style="cursor:pointer;" Title="Edit Record" class="fa fa-pencil-square-o" onclick="' + editSubLines + '"></i>&nbsp;&nbsp;';
                                buttons += '<i id="btnDeleteSubLine" name="btnAction" style="cursor:pointer;" Title="Delete Record" class="fa fa-trash-o" onclick="' +  deleteSubLines + '"></i>&nbsp;&nbsp;';
                                buttons += '<i id="btnAttchment" name="btnAction" style="cursor:none !important; opacity: 0.5; pointer-events: none"  Title="Add/Update Attachment" class="fa fa-paperclip"  onClick="' + attachments + '" ></i>';
                            }
                        }
                        buttons += '</center></nobr>';
                        //if ($("#Status").val() != '@IEMQSImplementation.clsImplementationEnum.NDETechniqueStatus.SentForApproval.GetStringValue()') {
                        //    buttons += '<i id="btnDelete" name="btnAction" style="cursor:pointer;" Title="Delete Record" class="fa fa-trash-o" onclick="DeleteCategory(' + row[0] + ',' + row[1] + ')"></i>';
                        //}
                        return buttons;
                    }
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "name": "GROUP_NO",
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "clsCenter",
                },
                {
                    "name": "FixtureName",
                    "bSortable": true,
                    "sWidth": "5%",
                    "sClass": "clsCenter clsFixtureName",

                },
                {
                    "name": "QtyofFixture",
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "clsCenter",
                },
                {
                    "name": "DescriptionofItem",
                    "bSortable": true,
                    "sWidth": "5%",
                    "sClass": "clsCenter",
                },
                {
                    "name": "Category",
                    "bSortable": true,
                    "sWidth": "5%",
                    "sClass": "clsCenter",
                },
                {
                    "name": "Material",
                    "bSortable": true,
                    "sWidth": "5%",
                    "sClass": "clsCenter",
                },
                {
                    "name": "MaterialType",
                    "bSortable": true,
                    "sWidth": "5%",
                    "sClass": "clsCenter",
                },
                {
                    "name": "LengthOD",
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "clsCenter",
                },
                {
                    "name": "WidthOD",
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "clsCenter",
                },
                {
                    "name": "Thickness",
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "clsCenter",
                },
                {
                    "name": "Qty",
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "clsCenter",
                },
                {
                    "name": "Wt",
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "clsCenter clsWT",
                },
                {
                    "name": "Area",
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "clsCenter",
                },
                {
                    "name": "Unit",
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "clsCenter",
                },
                {
                    "name": "ReUse",
                    "bSortable": true,
                    "sWidth": "5%",
                    "sClass": "clsCenter",
                },
                {
                    "name": "ReqArea",
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "clsCenter",
                },
                 {
                     "name": "Unit2",
                     "bSortable": false,
                     "sWidth": "5%",
                     "sClass": "clsCenter",
                 },
                {
                    "name": "ReqWt",
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "clsCenter",
                },
                {
                    "name": "FixRequiredDate",
                    "bSortable": true,
                    "sWidth": "5%",
                    "sClass": "clsCenter",
                },
                {
                    "name": "MaterialReqDate",
                    "bSortable": true,
                    "sWidth": "5%",
                    "sClass": "clsCenter",
                },
                {
                    "sClass": "hide",
                },
                {
                    "sClass": "hide",
                },
                {
                    "sClass": "hide",
                },
                {
                    "sClass": "hide",
                },
                {
                    "sClass": "hide",
                },
                {
                    "sClass": "hide",
                },
            ],
        });
        $('span.child').parent().css('border-top','none').css('background','#fbfcfd');
        $('span.child').parent().next('td').css('border-top','none');
        //$('span.child').parent().parent().hide();
    });

    function ExpandCollapsChild(id, obj) {
        var src = $(obj).attr("src");
        if (src == WebsiteURL +"/Images/details_open.png") {
            $(obj).attr("src", WebsiteURL +"/Images/details_close.png");
        }
        else if (src == WebsiteURL +"/Images/details_close.png") {
            $(obj).attr("src", WebsiteURL +"/Images/details_open.png");
        }
        $('span.'+id).parent().parent().toggle();
    }

    function IfProjectExist(projectcode) {
        var returnResponse = false;
        $.ajax({
            url: WebsiteURL +"/PLN/MaintainFXR/checkProjectExist",
            type: 'POST',
            async: false,
            data: { projectcode: projectcode },
            success: function (response) {
                if (response.toUpperCase() == "FALSE") {
                    returnResponse = false;
                }
                else {
                    returnResponse = true;
                }
            }
        });
        return returnResponse;
    }


    function ViewProjectSummary(HeaderId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL +"/PLN/MaintainFXR/GetProjectSummary",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            //async: false,
            data: { HeaderId: HeaderId },
            success: function (result) {
                bootbox.dialog({
                    title: 'Summary of fixture',
                    message: result,
                    size: 'large'
                });
            },
            error: function () {
            }
        });
    }

    function SaveHeaderWithReviseCheck(frmSaveHeaderValue)
    {
        SaveHeader(frmSaveHeaderValue);
        //if(parseInt($("#txtHeaderId").val()) > 0)
        //{
        //    bootbox.confirm({
        //        message: "Do you want to replace fixture with latest revision?",
        //        buttons: {
        //            confirm: {
        //                label: 'Yes',
        //                className: 'btn-success',
        //            },
        //            cancel: {
        //                label: 'No',
        //                className: 'btn-danger'
        //            }
        //        },
        //        callback: function (result) {
        //            if (result) {
        //                SaveHeader(frmSaveHeaderValue);
        //            }
        //        }

        //    });
        //}
        //else
        //{
        //    SaveHeader(frmSaveHeaderValue);
        //}
    }

    function SaveLineWithReviseCheck(frmLineData)
    {
        SaveLine(frmLineData);
        //var days = daydiff(parseDate(frmLineData.get("FixRequiredDate")),parseDate(frmLineData.get("MaterialReqDate")));
        //alert(days)
        //if (days > 15) {

        //}
        //else{
        //    DisplayNotiMessage("error", "Material requirement date to be 15 days prior to fixture requirement date.", "Error");
        //}

        //if(parseInt($("#txtHeaderId").val()) > 0)
        //{
        //    bootbox.confirm({
        //        message: "Do you want to replace fixture with latest revision?",
        //        buttons: {
        //            confirm: {
        //                label: 'Yes',
        //                className: 'btn-success',
        //            },
        //            cancel: {
        //                label: 'No',
        //                className: 'btn-danger'
        //            }
        //        },
        //        callback: function (result) {
        //            if (result) {
        //                SaveLine(frmLineData);
        //            }
        //        }

        //    });
        //}
        //else
        //{
        //    SaveLine(frmLineData);
        //}
    }

    function ClearAll() {
        $("#txtProject").val('');
        $("#Project").val('');
        $("#txtCustomer").val('');
        $("#Customer").val('');
        $("#Document").val('');
        $("#CDD").val('');
        $("#divLines").hide();
    }

    function SaveLine(formData) {
        var headerid=parseInt('@Model.HeaderId');
        if(headerid > 0)
        {
            var table = 'FXR001';
            var isapprover = false;
            var action = '@clsImplementationEnum.ButtonStatus.CRUD.GetStringValue()';
            if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                return false;
            }
        }
        $.ajax({
            url: WebsiteURL +'/PLN/MaintainFXR/SaveSubCategory',
            data: formData,
            contentType: false,
            processData: false,
            type: 'POST',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    DisplayNotiMessage("success", data.Value, "Success");
                    $("#txtHeaderId").val(data.HeaderId);
                    $(".clsclearLine").val('');
                    $("#ReqWt").val('0');
                    $("#QtyofFixture").prop("readonly",true);
                    $("#btnMaterialReqDate").attr("disabled",true);
                    $("#btnFixRequiredDate").attr("disabled",true);
                    $("#FixRequiredDate1").val($("#FixRequiredDate").val()).show();$("#datetime1").hide();
                    $("#MaterialReqDate1").val($("#MaterialReqDate").val()).show();
                    $("#datetime2").hide();
                    $("#ReUse").prop("checked",false);  $('#txtReUse').val("False");
                    $('#tblFixtureList').DataTable().ajax.reload();
                    //window.location.reload();
                    //FixtureLinesGrid(data.HeaderId);
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                    return false;
                }
            }
        });


    }

    function SaveHeader(strFormData) {

        var attch = [];
        $('#tblAttach').find(".attach,.comment").each(function(){
            attch.push({Key: this.id, Value: $(this).val()})
        });
        var hasAttch=false;
        if(attch.length > 0)
            hasAttch = true;
        $.ajax({
            url: WebsiteURL +"/PLN/MaintainFXR/SaveHeader",
            type: "POST",
            //data: formData,
            data:{
                HeaderId:$("#txtHeaderId").val(),
                Project:$("#Project").val(),
                Customer:$("#Customer").val(),
                Document:$("#Document").val(),
                CDD:$("#CDD").val(),
                ReviseRemark:$("#ReviseRemark").val(),
                BudgetedMaterial: $("#BudgetedMaterial").val(),
                RevNo:$("#RevNo").val(),
                Product:$("#Product").val(),
                ApprovedBy:$("#ApprovedBy").val(),
                strHeaderId : $("#hdHeaderId").val(),
                strLineId : $("#hdLineId").val(),
                hasAttachments: hasAttch,
                Attach: attch
            },
            //contentType: false,
            //processData: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    if (parseInt(data.HeaderID) > 0) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        $("#txtHeaderId").val(parseInt(data.HeaderID));
                        $("#spnStatus").text(data.Status);
                        $("#RevNo").val(data.Revision);
                        $("#txtRevNo").val("R"+data.Revision);
                        $("#txtApprovedBy").attr('disabled', false);
                        $('#tblFixtureList').DataTable().ajax.reload();
                        if(data.Status.toLowerCase() == "draft" || data.Status.toLowerCase() == "returned")
                        {
                            $("#btnSendForApproval").show();
                        }
                        //$('span.child').parent().parent().hide();
                        //FixtureLinesGrid(parseInt(data.HeaderID));
                    }
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

    function DeleteFixture(fixtureName, lineId)
    {
        var project=$("#Project").val();

        bootbox.confirm({
            message: "Do you want to delete this record?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    var headerid=parseInt('@Model.HeaderId');
                    if(headerid > 0)
                    {
                        var table = 'FXR001';
                        var isapprover = false;
                        var action = '@clsImplementationEnum.ButtonStatus.CRUD.GetStringValue()';
                        if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                            return false;
                        }
                    }
                    $.ajax({
                        url: WebsiteURL +"/PLN/MaintainFXR/DeleteFixture",
                        type: 'POST',
                        async: false,
                        data: { fixtureName: fixtureName, lineId: lineId,project:project },
                        success: function (response) {
                            if (response.Key) {
                                DisplayNotiMessage("success", response.Value, "Success");
                                $('#tblFixtureList').DataTable().ajax.reload();
                                //FixtureLinesGrid(response.HeaderId);
                            }
                            else {
                                DisplayNotiMessage("error", response.Value, "Error");
                            }
                        }
                    });
                }
            }
        });
    }

    function CountNoOfFixture(fixtureName, lineId, headerId, action) {
        var project=$("#Project").val();
        $.ajax({
            url: WebsiteURL +"/PLN/MaintainFXR/checkNoOfFixture",
            type: 'POST',
            async: false,
            data: { fixtureName: fixtureName, lineId: lineId, headerId: headerId, action: action,project:project },
            success: function (response) {
                if (response.status.Key) {
                    LoadSubCatgoryPartial(response.lineId, response.headerId, response.action);
                }
                else {
                    DisplayNotiMessage("error", response.status.Value, "Error");
                }
            }
        });
    }

    function daydiff(first, second) {
        var oneDay = 24*60*60*1000;
        return Math.round(Math.abs((first.getTime() - second.getTime())/(oneDay)));

    }

    function IsValidDate() {
        var a = $("#FixRequiredDate").val().split('/');
        var b = $("#MaterialReqDate").val().split('/');

        var first = new Date(a[2] + "," + a[1] + "," + a[0]);
        var second = new Date(b[2] + "," + b[1] + "," + b[0]);

        if (second >= first) {
            return false;
        }
        else {
            var days = daydiff(first, second);
            if (days < 15) {
                return false;
            }
            else {
                return true;
            }
        }
    }

    function LoadSubCatgoryPartial(lineId, headerId, action) {
        $.ajax({
            type: "POST",
            url: WebsiteURL +"/PLN/MaintainFXR/GetFXRLinesSubCategroyPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            async: false,
            data: { lineId: lineId, headerId: headerId, action: action },
            success: function (result) {
                bootbox.dialog({
                    title: 'Fixture Sub Lines',
                    message: result,
                    size: 'large',
                    buttons: {
                        'confirm': {
                            label: 'Add & Save',
                            className: 'btn save',
                            callback: function () {
                                if ($("#frmFXRSubCategory").valid()) {
                                    frmLineData = new FormData();
                                    frmValues = $('#frmFXRSubCategory').serializeArray();
                                    $.each(frmValues, function (key, input) {
                                        frmLineData.append(input.name, input.value);
                                    });
                                    if (IsValidDate()) {
                                        if($('#spnStatus').text().toLowerCase() == "approved")
                                        {
                                            ReviseHeader(headerId, "/PLN/MaintainFXR/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#spnStatus'),ReviseLineCallBack);
                                        }
                                        else
                                        {
                                            SaveLineWithReviseCheck(frmLineData);
                                        }
                                    }
                                    else {
                                        DisplayNotiMessage("error", "Material requirement date to be 15 days prior to fixture requirement date.", "Error");

                                    }

                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                                return false;

                            }
                        },
                        'cancel': {
                            label: 'Save & Close',
                            className: 'btnclose',
                            callback: function () {

                                if ($("#frmFXRSubCategory").valid()) {
                                    frmLineData = new FormData();
                                    frmValues = $('#frmFXRSubCategory').serializeArray();
                                    $.each(frmValues, function (key, input) {
                                        frmLineData.append(input.name, input.value);
                                    });
                                    if (IsValidDate()) {
                                        if($('#spnStatus').text().toLowerCase() == "approved")
                                        {
                                            ReviseHeader(headerId, "/PLN/MaintainFXR/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#spnStatus'),ReviseLineCallBack);
                                        }
                                        else
                                        {
                                            SaveLineWithReviseCheck(frmLineData);
                                        }
                                    }
                                    else {
                                        DisplayNotiMessage("error", "Material requirement date to be 15 days prior to fixture requirement date.", "Error");

                                    }

                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                            }
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function ReviseLineCallBack(){
        SaveLineWithReviseCheck(frmLineData);
    }

    function ReviseHeaderCallBack() {
        var frmSaveHeaderValue = $("#frmCreateHeader").serializeArray();
        SaveHeaderWithReviseCheck(frmSaveHeaderValue);
        $("#btnRevise").hide();
        $("#btnSaveHeader").show();
        $("#btnSendForApproval").show();
        $("#ReviseRemark").attr("readonly", false);
        $("#txtApprovedBy").attr("readonly", false);
        $("#Product").attr("readonly", false);
        $('#tblFixtureList').DataTable().ajax.reload();
    }

    function PrintReport(headerid) {
        bootbox.dialog({
            title: 'Fixture Report',
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        url = "/Fixture/Fixture Report";
                        var dat = [];
                        dat.push({ Param: "HeaderId", Value: headerid });
                        ShowReport(dat, url);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn red'
                }
            }
        });
    }
    function GetCustomerProjectWise(projectCode) {
        $.ajax({
            url: WebsiteURL +'/PLN/MaintainFXR/GetCustomerProjectWise',
            data: { projectCode: projectCode },
            type: 'POST',
            async: false,
            //beforeSend: function () {
            //    showLoading(true);
            //},
            //complete: function () {
            //    showLoading(false);
            //},
            success: function (data) {
                if (data != null) {
                    $("#txtCustomer").val(data.Code + " - " + data.Name);
                    $("#Customer").val(data.Code);
                    $("#CDD").val(data.Cdd);
                }
                else {
                    $("#txtCustomer").val('');
                    $("#Customer").val('');
                    $("#CDD").val('');
                }
            }
        });
    }
</script>

<style>
    /*.clsBootBoxWidth {
        width: 70% !important;
        margin: 30px auto !important;
    }*/
</style>

<div class="form-body">
    <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
        <div class="ribbon ribbon-left" style="background-color:transparent !important;">
            <span class="page-title">Maintain Fixture Requirement Sheet</span>
        </div>
        @{
            if (!string.IsNullOrWhiteSpace(Model.Status))
            {
                <div class="ribbon ribbon-right ribbon-color-warning">
                    <span style="font-weight:bolder">
                        Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span>
                    </span>
                </div>
            }
        }
    </div>
    <div id="dvHeader" class="dvDisabled">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader", @enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
            @Html.HiddenFor(m => m.Status)
            <input type="hidden" id="hdHeaderId" name="hdHeaderId" value="" />
            <input type="hidden" id="hdLineId" name="hdLineId" value="" />

            <div class="form-group">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Fixture Detail</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Project<span class="required"> * </span></label>
                                    <div class="">
                                        <input type="text" id="txtProject" value="" name="txtProject" class="form-control col-md-3" readonly="readonly" colname="Project" />
                                        @Html.HiddenFor(m => m.Project, new { })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Customer</label>
                                    <div class="">
                                        <input type="text" id="txtCustomer" value="" name="txtCustomer" class="form-control col-md-3" readonly="readonly" colname="Customer" />
                                        @Html.HiddenFor(m => m.Customer, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Document</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Document, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">CDD</label>
                                    <div class="">
                                        @Html.TextBox("CDD", Model.CDD.Value.ToShortDateString(), new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        @*@Html.TextBoxFor(m => m.CDD, new { @class = "form-control col-md-3", @readonly = "readonly" })*@
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Rev. No.</label>
                                    <div class="">
                                        <input type="text" name="txtRevNo" id="txtRevNo" class="class = form-control col-md-3" readonly colname="RevNo" />
                                        @Html.HiddenFor(m => m.RevNo)
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Product<span class="required"> * </span></label>
                                    <div class="">
                                        @*<input type="text" name="txtProduct" id="txtProduct" value="@Model.Product" class="class = form-control col-md-3"  />*@
                                        @Html.TextBoxFor(m => m.Product, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Approver<span class="required"> * </span></label>
                                    <div class="">
                                        <input type="text" name="txtApprovedBy" id="txtApprovedBy" class="form-control col-md-3" colname="ApprovedBy" />
                                        @Html.HiddenFor(m => m.ApprovedBy, new { @class = "form-control col-md-3" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Revise Remarks<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.ReviseRemark, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">Return Remarks<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.ReturnRemark, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="divPDNIdenticalproject" class="form-group"></div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @if (ViewBag.ReqMaterial != null && ViewBag.EstimatedMaterial != null)
                                {
                                    <div class="col-md-4" style="text-align:right;margin-top:30px;">
                                        <table class="table clsCenter table-striped table-bordered table-hover dt-responsive" id="tblTotalMaterial" cellspacing="0">

                                            <tbody>
                                                <tr><td colspan="3" style="text-align:left"><b>Fixtures Material Summary</b></td></tr>
                                                <tr>
                                                    <td>Budgeted Material</td>
                                                    <td style="width:150px;">@Html.TextBoxFor(model => model.BudgetedMaterial, new { @class = "form-control col-md-3" })</td>
                                                    <td>MT</td>
                                                </tr>
                                                <tr>
                                                    <td>Required Material</td>
                                                    <td>@String.Format("{0:0.00}", ViewBag.ReqMaterial)</td>
                                                    <td>MT</td>
                                                </tr>
                                                <tr>
                                                    <td>Reuse of Material</td>
                                                    <td>@String.Format("{0:0.00}", ViewBag.ReuseMaterial)</td>
                                                    <td>MT</td>
                                                </tr>
                                                <tr>
                                                    <td>Reuse Percentage</td>
                                                    <td>@String.Format("{0:0.00}", ViewBag.ReusePercentage)</td>
                                                </tr>
                                                <tr>
                                                    <td>Estimated Material</td>
                                                    <td>@String.Format("{0:0.00}", ViewBag.EstimatedMaterial)</td>
                                                    <td>MT</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                }
                                <div id="docMessage" class="col-md-12 note note-success" style="display:none;"></div>
                                <div class="col-md-12" style="text-align:right;margin-top:30px;">
                                    @{
                                        if (Model.Status.ToLower() != "sent for approval")
                                        {
                                            <input type="button" class="btn save" id="btnSaveHeader" style="margin-right:5px;" value="Save" />
                                            @*<button class="btn green" style="display:none;" type="button" id="btnAddLines">Add Line</button>*@
                                        }
                                    }

                                    @{
                                        <input type="button" class="btn submit" id="btnSendForApproval" value="Submit" style="margin-right:5px;" />
                                    }
                                    @if (Model.Status.ToLower() == clsImplementationEnum.FixtureStatus.SentForApproval.GetStringValue().ToLower())
                                    {
                                        <input type="button" class="btn retract" id="btnRetract" value="Retract" style="margin-right:5px;" />
                                    }
                                    @if (Model.Status.ToLower() == clsImplementationEnum.FixtureStatus.Approved.GetStringValue().ToLower() && ViewBag.IsReviseBtnEnabled)
                                    {
                                        <input type="button" class="btn revise" id="btnRevise" value="Revise" style="margin-right:5px;" />
                                    }
                                    <input type="button" class='btn green' id="btnSummary" onclick="ViewProjectSummary(@Model.HeaderId)" value="Summary" />

                                    <a href="~/PDIN/Maintain/Create?HeaderID=@ViewBag.PlanningDinID" class="btn back">Back</a>&nbsp;&nbsp;
                                    <a href="~/PLN/MaintainFXR/index" class="btn btnclose">Close</a>
                                    <a class="btn icons" title="Print" id="btnPrint" onClick="PrintReport(@Model.HeaderId)"><i class="fa fa-print"></i></a>
                                    @*<input type="button" style="cursor:pointer;margin-right:7px; margin-left:-7px;" class="btn green" onClick="PrintReport(@Model.HeaderId)" value="Print"/>*@

                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
        }
    </div>
    <div class="row" id="divLines">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Fixture Requirement Sheet Lines
                    </div>
                    <div class="tools">
                        <div class="btn-group">
                            @if (Model.Status.ToLower() == clsImplementationEnum.FixtureStatus.Draft.GetStringValue().ToLower() || Model.Status.ToLower() == clsImplementationEnum.FixtureStatus.Returned.GetStringValue().ToLower())
                            {
                                <a onclick="AddNewFixture();" id="btnNew" name="btnNew" class="btn btn-circle white btn-outline btn-sm" style="margin-left:10px;"><i class="fa fa-plus"></i> New</a>
                            }
                        </div>
                    </div>
                    <div class="tools" id="dvExportLine">
                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PLN/MaintainFXR/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLine" })
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover dt-responsive" id="tblFixtureList" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th class="all">Action</th>
                                <th class="all" style="display:none;">RowNo</th>
                                <th class="all">#</th>
                                <th class="all" style="min-width:250px;">Name Of Fixture</th>
                                <th class="all">Qty of <br /> Fixture</th>
                                <th class="all">Description Of Item</th>
                                <th class="all">Category</th>
                                <th class="all">Material</th>
                                <th class="all">Material Type</th>
                                <th class="all">Length<br />(mm)</th>
                                <th class="all">Width<br />(mm)</th>
                                <th class="all">Thickness<br />(mm)</th>
                                <th class="all">Qty</th>
                                <th class="all">Wt (Kg)<div style="width:100px;"></div></th>
                                <th class="all">Area (m2) / Length(m)</th>
                                <th class="all">Unit</th>
                                <th class="all">Re Use</th>
                                <th class="all">Total Req. Area (m2) / Length(m)</th>
                                <th class="all">Unit</th>
                                <th class="all">Total Req. Wt (Kg)</th>
                                <th class="all">Fix Reqd Date.</th>
                                <th class="all">Material Reqd Date.</th>
                                <th class="all" style="display:none;">LineId</th>
                                <th class="all" style="display:none;">HeaderId</th>
                                <th class="all" style="display:none;">ParentId</th>
                                <th class="all" style="display:none;">Fixture Name</th>
                                <th class="all" style="display:none;">IsManual</th>
                                <th class="all" style="display:none;">NoChild</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="width:50px;"></div>

@*<style>
        .modal-dialog {
            margin: 30px auto;
            /*width: 90% !important;*/
        }
    </style>*@
<script type="text/javascript">
    function AddNewFixture() {
        var strHtml = "<scr" + "ipt>$(document).ready(function(){"
            + "$('input[maxlength],textarea[maxlength]').maxlength({alwaysShow: true,});"
            + "$('#frmFixtureName').validate({"
            + " rules: {"
            + "txtFixtureName: {"
            + "required: true,"
            + "},"
            + "messages: {"
            + "txtFixtureName: {"
            + "required: 'Revise Remark is required'"
            + "}"
            + "}"
             + "}"
            + "});"
            + "});</scr" + "ipt>"
            + " <div>"
            + "<form method='post' id='frmFixtureName' class='form-horizontal' action=''>"
            + "<div class='form-group'>"
            + "<div class='col-md-12'>"
            + "<br /><label class='control-label'><b>Fixture</b><span class='required'> * </span></label>"
            + "<div class=''>"
            + "<textarea type='text' value='' style='width:100%' name='txtFixtureName' id='txtFixtureName' maxlength='200' class='form-control col-md-3'></textarea>"
            + "</div>"
            + "</div>"
            + "</div>"
            + "</form>"
            + "</div>";

        bootbox.confirm({
            title: 'New Fixture',
            message: 'Do you want to add new fixture?' + strHtml,
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    if ($('#frmFixtureName').valid()) {
                        var id = '@Model.HeaderId';
                        var Remarks = $('#txtFixtureName').val();
                        $.ajax({
                            url: WebsiteURL +"/PLN/MaintainFXR/AddNewFixture",
                            type: "POST",
                            datatype: 'json',
                            data: { strHeaderId: id, fixtureName: $('#txtFixtureName').val() },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    $('#tblFixtureList').DataTable().ajax.reload();
                                }
                                else {
                                    DisplayNotiMessage("info", data.Value, "Information");
                                    return false;
                                }
                            },
                            error: function () {
                            }
                        });

                    }
                    else {
                        return false;
                    }
                }
                //else { return false; }
            }
        });
    }

    function ViewAttachment(LineId){

        if (parseInt(LineId) > 0) {
            var headerid=parseInt('@Model.HeaderId');
            if(headerid > 0)
            {
                var table = 'FXR001';
                var isapprover = false;
                var action = '@clsImplementationEnum.ButtonStatus.CRUD.GetStringValue()';
                if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                    return false;
                }
            }
            if('@Model.Status.ToLower()' != '@clsImplementationEnum.PAMStatus.SentForApproval.GetStringValue().ToLower()') {
                @*var objFileUploadLine = new FileUploadEnt('dv@(FileUploadLineID)', '@FileUploadLineID');
                objFileUploadLine.ShowDeleteAction = true;
                objFileUploadLine.ShowAttachmentBtn = true;
                objFileUploadLine.FolderPath = "FXR002/" + @(Model.RevNo) + "/" + LineId;
                objFileUploadLine.LoadInPopup = true;
                LoadFileUploadPartialView(objFileUploadLine);*@

                var objFile = {
                    TableName: 'FXR002//' + '@(Model.RevNo)' + '//' + LineId,
                    TableId: LineId,
                    Path: 'FXR002//' + '@(Model.RevNo)' + '//' + LineId + '//1',
                    ControlID: '@(FileUploadLineID)',
                    ViewerId: 1,
                    IsMultipleUploaded: true,
                    ShowDeleteAction: true,
                    ShowDownloadBtn: false,
                    ShowAttachmentBtn: true
                };

                Load_File_Upload_Partial_View(objFile, 'dv@(FileUploadLineID)', true);

                @*$.ajax({
                    url: WebsiteURL +"/PLN/MaintainFXR/FXRAttachmentPartial",
                    type: "POST",
                    datatype: "html",
                    data: { id:LineId, revNo:'@Model.RevNo' },
                    success: function (data) {
                        bootbox.dialog({
                            title: "Add/Update Attachment",
                            message: data,
                            size: "large",
                            buttons: {
                                Save: {
                                    Label: "Add/Update Attachment",
                                    className: 'btn green',
                                    callback: function () {
                                        $.ajax({
                                            url: WebsiteURL +"/PLN/MaintainFXR/SaveFXRAttachment",
                                            data: {
                                                id: LineId,
                                                revNo: '@Model.RevNo',
                                                hasAttachments: getHasAttachmentsForSubmit(),
                                                Attach: getAttachmentsFromTable()
                                            },
                                            type: 'POST',
                                            beforeSend: function () {
                                                showLoading(true);
                                            },
                                            complete: function () {
                                                showLoading(false);
                                            },
                                            async: false,
                                            success: function (res) {
                                                if (res.Key == true) {
                                                    bootbox.hideAll();
                                                    setTimeout(DisplayNotiMessage("success", res.Value, "Success"), 2000);
                                                }
                                                else {
                                                    setTimeout(DisplayNotiMessage("Error", "Something Went Wrong.Please Try Again After Sometime", "Error"), 2000);
                                                }
                                            },
                                            error: function () { },
                                        });
                                    }
                                },
                                Cancel: {
                                    label: 'Close',
                                    className: 'btn red',
                                    callback: function () { }
                                }

                            }
                        })
                    },
                    error: function () {
                        alert("error");
                    }
                });*@
            }
            else{
                @*var objFileUploadLine = new FileUploadEnt('dv@(FileUploadLineID)', '@FileUploadLineID');
                objFileUploadLine.ShowDeleteAction = false;
                objFileUploadLine.ShowAttachmentBtn = false;
                objFileUploadLine.FolderPath = "FXR002/" + @(Model.RevNo) + "/" + LineId;
                objFileUploadLine.LoadInPopup = true;
                LoadFileUploadPartialView(objFileUploadLine);*@

                var objFile = {
                    TableName: 'PLN018/' + '@(Model.RevNo)' + '/' + LineId,
                    TableId: LineId,
                    Path: 'PLN018/' + '@(Model.RevNo)' + '/' + LineId + '/1',
                    ControlID: '@(FileUploadLineID)',
                    ViewerId: 1,
                    IsMultipleUploaded: true,
                    ShowDeleteAction: false,
                    ShowDownloadBtn: false,
                    ShowAttachmentBtn: false
                };

                Load_File_Upload_Partial_View(objFile, 'dv@(FileUploadLineID)', true);
                @*$.ajax({
                    url: WebsiteURL +"/PLN/MaintainFXR/FXRAttachmentPartial",
                    type: "POST",
                    datatype: "html",
                    data: { id:LineId, revNo:'@Model.RevNo' , status: '@Model.Status.ToLower()'},
                    success: function (data) {
                        bootbox.dialog({
                            title: "Add/Update Attachment",
                            message: data,
                            size: "large",
                            buttons: {
                                Cancel: {
                                    label: 'Close',
                                    className: 'btn red',
                                    callback: function () { }
                                }

                            }
                        })
                    },
                    error: function () {
                        alert("error");
                    }
                });*@
            }
        }
        else
        {
            DisplayNotiMessage("error", "First insert line then attached document", "Error");
        }
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>