﻿
@using IEMQSImplementation
@model PCL013_Log
    <script>
        var Status = '@ViewBag.Status';
        $(document).ready(function () {
            $('div.fdControls :input').attr('disabled', true);
            var strUreaDimHeader = '@ViewBag.HeaderId';
            $("#txtUreaDimHeader").val(strUreaDimHeader);
        });

    </script>
    <div class="fdControls">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmUreaDim", @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(m => m.HeaderId, new { id = "txtUreaDimHeader" })
                    @Html.HiddenFor(m => m.LineId, new { id = "txtUreaDimLine" })
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                Plan for Dimensional Data
                            </div>
                            <div class="tools"> </div>
                        </div>
                        <div class="portlet-body flip-scroll">
                            <table class="table table-striped table-bordered table-hover table-header-fixed" id="tblDimData">
                                <thead class="flip-content" style="padding: 8px;">
                                    <tr>
                                        <th class="numeric">Sr. No</th>
                                        <th class="numeric">Description</th>
                                        <th class="numeric">Required ?</th>
                                        <th class="numeric">Required Date</th>
                                        <th class="numeric">Document No.</th>
                                        <th class="numeric">Released on</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="numeric">1</td>
                                        <td class="numeric">	Rolling Data</td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="RollDataReq"> @Html.CheckBox("RollDataReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.RollDataReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.RollDataDocNo, new { @class = "form-control" })</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.RollDataReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">2	</td>
                                        <td class="numeric"> Shell data for Long seam welding</td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShellLongReq"> @Html.CheckBox("ShellLongReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.ShellLongReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ShellLongDocNo, new { @class = "form-control" })</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.ShellLongReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">3</td>
                                        <td class="numeric">Shell inside circumference data</td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShellInsideReq"> @Html.CheckBox("ShellInsideReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.ShellInsideReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ShellInsideDocNo, new { @class = "form-control" })</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.ShellInsideReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">4	</td>
                                        <td class="numeric">Nozzles & Manway actual ID data after O/L</td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozzReq"> @Html.CheckBox("NozzReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.NozzReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.NozzDocNo, new { @class = "form-control" })</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.NozzReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">5	</td>
                                        <td class="numeric">Change in Ovality due to major external welding</td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ChangeOvalityExtReq"> @Html.CheckBox("ChangeOvalityExtReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.ChangeOvalityExtReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ChangeOvalityExtDocNo, new { @class = "form-control" })</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.ChangeOvalityExtReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">6	</td>
                                        <td class="numeric"> Nozzle dimension data from L/S and C/S</td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozzleDimentionReq"> @Html.CheckBox("NozzleDimentionReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.NozzleDimentionReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.NozzleDimentionDocNo, new { @class = "form-control" })</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.NozzleDimentionReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">7	</td>
                                        <td class="numeric"> Shrinkage due to TSR welding</td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShrinkTSRReq"> @Html.CheckBox("ShrinkTSRReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.ShrinkTSRReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ShrinkTSRDocNo, new { @class = "form-control" })</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.ShrinkTSRReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">8</td>
                                        <td class="numeric">Change in Ovality due to ISR/ PWHT</td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ChangeOvalityISRReq"> @Html.CheckBox("ChangeOvalityISRReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.ChangeOvalityISRReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ChangeOvalityISRDocNo, new { @class = "form-control" })</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.ChangeOvalityISRReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">9	</td>
                                        <td class="numeric">D’end data for Long seam welding</td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEendLongSeamReq"> @Html.CheckBox("DEendLongSeamReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.DEendLongSeamReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.DEendLongSeamDocNo, new { @class = "form-control" })</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.DEendLongSeamReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">10	</td>
                                        <td class="numeric"> Gap reading between liner & base metal</td>

                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="GapReq"> @Html.CheckBox("GapReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.GapReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.GapDocNo, new { @class = "form-control" })</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.GapReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="numeric"> 11	</td>
                                        <td class="numeric">Shell liner OD CF data</td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShellLinerReq"> @Html.CheckBox("ShellLinerReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.ShellLinerReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ShellLinerDocNo, new { @class = "form-control" })</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.ShellLinerReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">12	</td>
                                        <td class="numeric">Shell Ovality data</td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShellOvalityReq"> @Html.CheckBox("ShellOvalityReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.ShellOvalityReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ShellOvalityDocNo, new { @class = "form-control" })</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.ShellOvalityReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">13</td>
                                        <td class="numeric">	Section length data</td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SectionLengthReq"> @Html.CheckBox("SectionLengthReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.SectionLengthReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SectionLengthDocNo, new { @class = "form-control" })</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.SectionLengthReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
               
            </div>
        </div>
    </div>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        window.setTimeout(function ()
        {
            //TableDatatablesFixedHeader.init();
            TableDatatablesFixedHeader.enabled($("#tblDimData"));
        }, 500);
    });
</script>
