﻿@using IEMQSImplementation
@model PCL036_Log
<script>
    $(document).ready(function () {

        $('div.fdControls :input').attr('disabled', true);

        var strHeader = '@ViewBag.HeaderId';
        $("#txtRRConstructorHeader").val(strHeader);
        SetNumericInputVal();
    });

</script>

<div id="dvSection1" class="fdControls">
    @*<h3 class="block">Construction Features</h3>*@
    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmRRConstruction", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.HeaderId, new { id = "txtRRConstructorHeader" })
        @Html.HiddenFor(m => m.LineId, new { id = "txtRRConstructor" })
        <fieldset>
            <legend>
                1	Reactor Overall Dimension
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label class="control-label">
                            ID :(mm)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorID, new { @class = "form-control", maxlength = "40" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            Thk :(mm)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorThk1, new { @class = "form-control numericInput", maxlength = "10" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            TL - TL:(mm)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorTLTL, new { @class = "form-control numericInput", maxlength = "10" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            Fabricated Wt:(MT)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorFabWt, new { @class = "form-control numericInput", maxlength = "10" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            Hydro Wt:(MT)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorHydroWt, new { @class = "form-control numericInput", maxlength = "10" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            Max. Shell Wd:(mm)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorMaxShellWd, new { @class = "form-control numericInput", maxlength = "10" })
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>2	Reactor Designed for External Pressure Also ?</legend>
            <div class="md-radio-inline">
                <div class="md-radio">
                    @Html.RadioButtonFor(m => m.ReactoreDesigned, "true", new { @class = "md-radiobtn", @id = "yes" })
                    <label for="yes">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>Yes (Special <quote>e value</quote> Templates required as per Code)
                    </label>
                </div>

                <div class="md-radio">
                    @Html.RadioButtonFor(m => m.ReactoreDesigned, "false", new { @class = "md-radiobtn", @id = "no" })
                    <label for="no">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span> No
                    </label>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                3 Shell Construction
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ShellConst1Seg">
                                @Html.CheckBox("ShellConst1Seg", new { })
                                <span></span>Single Seg
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ShellConst2Seg">
                                @Html.CheckBox("ShellConst2Seg", new { })
                                <span></span>Two Segments
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ShellConstMore2Seg">
                                @Html.CheckBox("ShellConstMore2Seg", new { })
                                <span></span> > 2 Segments
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                4	Type of Internals to be installed
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TypeIntCyc">
                                @Html.CheckBox("TypeIntCyc", new { })
                                <span></span>Cyclones
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TypeIntDip">
                                @Html.CheckBox("TypeIntDip", new { })
                                <span></span>Dipleg assemblies
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TypeIntPle">
                                @Html.CheckBox("TypeIntPle", new { })
                                <span></span>Plenum chamber
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TypeIntAir">
                                @Html.CheckBox("TypeIntAir", new { })
                                <span></span>Air rings
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TypeIntInt">
                                @Html.CheckBox("TypeIntInt", new { })
                                <span></span>Internal Riser
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TypeIntRS2">
                                @Html.CheckBox("TypeIntRS2", new { })
                                <span></span>RS2 Separator
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                5	No of cyclones assemblies to be installed
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline">
                                @Html.CheckBox("NooCyc", new { })
                                <span></span>
                            </label>
                            @Html.TextBoxFor(m => m.NooCycVal, new { @class = "clsAllowance numeric5Input", placeholder = "Nos.", @style = "width: 80px;", maxlength = "5" })
                            <label class="control-label" for="NooCyc" style="margin-left: 10px;"> Nos. of Cyclones</label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                6	Riser section installation planned in
            </legend><div class="form-group">
                <div class="col-md-12">

                    <div class="col-md-4">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline">
                                @Html.CheckBox("RiserSec", new { })
                                <span></span>
                            </label>
                            @Html.TextBoxFor(m => m.RiserSecVal, new { @class = "clsAllowance numeric5Input", placeholder = "Sections", @style = "width: 80px;", maxlength = "5" })
                            <label class="control-label" for="RiserSec" style="margin-left: 10px;"> Sections</label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                7	Refractory application of vessel planned in
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline">
                                @Html.CheckBox("RefraAppNoofSec", new { })
                                <span></span>
                            </label>
                            @Html.TextBoxFor(m => m.RefraAppNoofSecVal, new { @class = "clsAllowance numeric5Input", @placeholder = " Nos.", @style = "width: 80px;", maxlength = "5" })
                            <label class="control-label" for="RefraAppNoofSec" style="margin-left: 10px;"> Nos. of Sections</label>
                        </div>
                    </div>

                    <div class="col-md-4 control-label" style="text-align:left">
                        <label class="mt-checkbox mt-checkbox-outline">
                            @Html.CheckBox("RefraAppMax", new { })
                            <span></span>
                        </label>
                        @Html.TextBoxFor(m => m.RefraAppMaxVal, new { @class = "clsAllowance numeric5Input", @placeholder = " Max.", @style = "width: 80px;", maxlength = "5" })
                        <label class="control-label" for="RefraAppMax" style="margin-left: 10px;"> Max. length of section</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                8	Type of Refractory application involved
            </legend><div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TypeRefraGun">
                                @Html.CheckBox("TypeRefraGun", new { })
                                <span></span>Gunning
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TypeRefraVib">
                                @Html.CheckBox("TypeRefraVib", new { })
                                <span></span>Vibrocasting
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TypeRefraHan">
                                @Html.CheckBox("TypeRefraHan", new { })
                                <span></span>Hand Packing
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TypeRefraFree">
                                @Html.CheckBox("TypeRefraFree", new { })
                                <span></span>Free Flow
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
                <fieldset>
                    <legend>
                        9	Refractory dryout of section planned using
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="RefraDrySecInFur">
                                        @Html.CheckBox("RefraDrySecInFur", new { })
                                        <span></span>In Furnace
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="RefraDrySecBaff">
                                        @Html.CheckBox("RefraDrySecBaff", new { })
                                        <span></span>Using Baffles by internal firing
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="RefraDrySecElec">
                                        @Html.CheckBox("RefraDrySecElec", new { })
                                        <span></span>Using Electrical coils
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        10	Refractory dry-out cycle planned
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="RefraDryCycOpe">
                                        @Html.CheckBox("RefraDryCycOpe", new { })
                                        <span></span>Operating temperature range
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="RefraDryCycLow">
                                        @Html.CheckBox("RefraDryCycLow", new { })
                                        <span></span>Low Temperature dryout / Pre-Drying
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        11	Type of Rolling
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="TypeRollCold">
                                        @Html.CheckBox("TypeRollCold", new { })
                                        <span></span>Cold
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="TypeRollWarm">
                                        @Html.CheckBox("TypeRollWarm", new { })
                                        <span></span>Warm
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="TypeRollHot">
                                        @Html.CheckBox("TypeRollHot", new { })
                                        <span></span>Hot
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        12	Gas Cutting
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="GasCuttingPreHeat">
                                        @Html.CheckBox("GasCuttingPreHeat", new { })
                                        <span></span>With Pre-Heating at 100&deg; C
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="GasCuttingPreHeatNR">
                                        @Html.CheckBox("GasCuttingPreHeatNR", new { })
                                        <span></span>Pre-Heating Not Required
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        13	C / seam WEP
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="CSeamWEPPlate">
                                        @Html.CheckBox("CSeamWEPPlate", new { })
                                        <span></span>Plate Stage
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="CSeamWEPAfter">
                                        @Html.CheckBox("CSeamWEPAfter", new { })
                                        <span></span>After Rolling (nub shell)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        14 PTC Required for
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PTCRequiredforLS">
                                        @Html.CheckBox("PTCRequiredforLS", new { })
                                        <span></span> L/S
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PTCRequiredforCS">
                                        @Html.CheckBox("PTCRequiredforCS", new { })
                                        <span></span> C/S
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PTCRequiredforDend">
                                        @Html.CheckBox("PTCRequiredforDend", new { })
                                        <span></span> D &apos; end
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PTCRequiredforDendShell">
                                        @Html.CheckBox("PTCRequiredforDendShell", new { })
                                        <span></span> D &apos; end # Shell
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        15	ISR Required for
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ISRRequiredforLS">
                                        @Html.CheckBox("ISRRequiredforLS", new { })
                                        <span></span> L/S
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ISRRequiredforCS">
                                        @Html.CheckBox("ISRRequiredforCS", new { })
                                        <span></span>C/S
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ISRRequiredforNozzle">
                                        @Html.CheckBox("ISRRequiredforNozzle", new { })
                                        <span></span>Nozzle
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ISRRequiredforCone">
                                        @Html.CheckBox("ISRRequiredforCone", new { })
                                        <span></span> Cone
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        16 PT / MT After
                    </legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PTMTAfterWelding">
                                        @Html.CheckBox("PTMTAfterWelding", new { })
                                        <span></span>Welding
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PTMTAfterPWHT">
                                        @Html.CheckBox("PTMTAfterPWHT", new { })
                                        <span></span> PWHT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PTMTAfterHydro">
                                        @Html.CheckBox("PTMTAfterHydro", new { })
                                        <span></span> Hydro-test
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        17	RT After (For Thk & lt; 50mm)
                    </legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="RTAfterWelding">
                                        @Html.CheckBox("RTAfterWelding", new { })
                                        <span></span>Welding
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="RTAfterOverlay">
                                        @Html.CheckBox("RTAfterOverlay", new { })
                                        <span></span> Overlay
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="RTAfterPWHT">
                                        @Html.CheckBox("RTAfterPWHT", new { })
                                        <span></span> PWHT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="RTAfterHydro">
                                        @Html.CheckBox("RTAfterHydro", new { })
                                        <span></span> Hydro-test
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        18	UT After (For Thk & gt; 50mm)
                    </legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="UTAfterRecordable">
                                        @Html.CheckBox("UTAfterRecordable", new { })
                                        <span></span>Recordable
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="UTAfterConventional">
                                        @Html.CheckBox("UTAfterConventional", new { })
                                        <span></span> Conventional
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="UTAfterWelding">
                                        @Html.CheckBox("UTAfterWelding", new { })
                                        <span></span>Welding
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="UTAfterOverlay">
                                        @Html.CheckBox("UTAfterOverlay", new { })
                                        <span></span> Overlay
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="UTAfterPWHT">
                                        @Html.CheckBox("UTAfterPWHT", new { })
                                        <span></span> PWHT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="UTAfterHydro">
                                        @Html.CheckBox("UTAfterHydro", new { })
                                        <span></span> Hydro-test
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        19	Ferrite After
                    </legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="FerAfterWelding">
                                        @Html.CheckBox("FerAfterWelding", new { })
                                        <span></span>Welding
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="FerAfterOverlay">
                                        @Html.CheckBox("FerAfterOverlay", new { })
                                        <span></span> Overlay
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="FerAfterPWHT">
                                        @Html.CheckBox("FerAfterPWHT", new { })
                                        <span></span> PWHT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="FerAfterHydro">
                                        @Html.CheckBox("FerAfterHydro", new { })
                                        <span></span> Hydro-test
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        20	D & apos; end Construction
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DCPetalWCrown">
                                        @Html.CheckBox("DCPetalWCrown", new { })
                                        <span></span>Petal with Crown
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DC4PetalWoCrown">
                                        @Html.CheckBox("DC4PetalWoCrown", new { })
                                        <span></span> Petal without Crown
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DCSinglePeice">
                                        @Html.CheckBox("DCSinglePeice", new { })
                                        <span></span> Single Piece
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DCTwoHalves">
                                        @Html.CheckBox("DCTwoHalves", new { })
                                        <span></span> Two halves
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        21 D & apos; end Receipt Condition
                    </legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DRCFormedPetals">
                                        @Html.CheckBox("DRCFormedPetals", new { })
                                        <span></span>Formed Petals
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DRCFormedSetup">
                                        @Html.CheckBox("DRCFormedSetup", new { })
                                        <span></span>Set-up (LEMF)
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DRCFormedWelded">
                                        @Html.CheckBox("DRCFormedWelded", new { })
                                        <span></span>Welded
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        22 Air rings : @Html.TextBoxFor(m => m.AirRingNos, new { @class = "clsAllowance numeric5Input", placeholder = "Nos.", @style = "width:80px", maxlength = "5" })
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            @*<div class="col-md-2">
                                    <div class="">
                                        @Html.TextBoxFor(m => m.AirRingNos, new { @class = "form-control numericval", placeholder = "Nos.", maxlength = "10" })
                                    </div>
                                </div>*@
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="AirRingPlate">
                                        @Html.CheckBox("AirRingPlate", new { })
                                        <span></span>Fabricated from Plate
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="AirRingPipe">
                                        @Html.CheckBox("AirRingPipe", new { })
                                        <span></span>Fabricated from Pipe
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="AirRingFIM">
                                        @Html.CheckBox("AirRingFIM", new { })
                                        <span></span>FIM
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        23 Nozzles with inserts: @Html.TextBoxFor(m => m.NozzInsNos, new { @class = "clsAllowance numeric5Input", placeholder = "Nos.", @style = "width:80px", maxlength = "5" })
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            @*<div class="col-md-2">
                                    <div class="">
                                        @Html.TextBoxFor(m => m.NozzInsNos, new { @class = "form-control numericval", placeholder = "Nos.", maxlength = "10" })
                                    </div>
                                </div>*@
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="NozzInsPWHT">
                                        @Html.CheckBox("NozzInsPWHT", new { })
                                        <span></span>PWHT with section
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="NozzInsSep">
                                        @Html.CheckBox("NozzInsSep", new { })
                                        <span></span>Separate PWHT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="NozzInsNA">
                                        @Html.CheckBox("NozzInsNA", new { })
                                        <span></span>NA
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        24 Nozzle Gasket Face Overlay
                    </legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="NGFBfPWHT">
                                        @Html.CheckBox("NGFBfPWHT", new { })
                                        <span></span>Before PWHT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="NGFAfPWHT">
                                        @Html.CheckBox("NGFAfPWHT", new { })
                                        <span></span>After PWHT
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        25 Stellite welding of nozzles : @Html.TextBoxFor(m => m.StellNos, new { @class = "clsAllowance numeric5Input", placeholder = "Nos.", @style = "width:80px", maxlength = "5" })
                    </legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="StellApp">
                                        @Html.CheckBox("StellApp", new { })
                                        <span></span>Machining applicable
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="StellNApp">
                                        @Html.CheckBox("StellNApp", new { })
                                        <span></span>Machining  Not applicable
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="StellWeld">
                                        @Html.CheckBox("StellWeld", new { })
                                        <span></span>Mechanized welding applicable
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        26 Normalizing applicable in nozzles:  : @Html.TextBoxFor(m => m.NormAppNos, new { @class = "clsAllowance numeric5Input", placeholder = "Nos.", @style = "width:80px", maxlength = "5" })
                    </legend><div class="form-group">
                        <div class="col-md-12">

                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="NormAppMTC">
                                        @Html.CheckBox("NormAppMTC", new { })
                                        <span></span>MTC required
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="NormAppFIx">
                                        @Html.CheckBox("NormAppFIx", new { })
                                        <span></span>Fixture required
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        27 SS Welding (Internals)
                    </legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SSWBfPWHT">
                                        @Html.CheckBox("SSWBfPWHT", new { })
                                        <span></span> Before PWHT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SSWAfPWHT">
                                        @Html.CheckBox("SSWAfPWHT", new { })
                                        <span></span> After PWHT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SSWBoth">
                                        @Html.CheckBox("SSWBoth", new { })
                                        <span></span> Before and After PWHT both
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        28 Vessel Support
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="VessleSSkirt">
                                        @Html.CheckBox("VessleSSkirt", new { })
                                        <span></span> Skirt
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="VessleSSupp">
                                        @Html.CheckBox("VessleSSupp", new { })
                                        <span></span> Support Brackets
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="VessleSSaddle">
                                        @Html.CheckBox("VessleSSaddle", new { })
                                        <span></span> Saddles
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <fieldset>
                    <legend>
                        29 Skirt made in LEMF
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SkirtMadein1">
                                        @Html.CheckBox("SkirtMadein1", new { })
                                        <span></span>Single Piece
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SkirtMadein2">
                                        @Html.CheckBox("SkirtMadein2", new { })
                                        <span></span>Two Pieces (LAS + CS)
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        30	Skirt # Vessel Joint
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SVJYring">
                                        @Html.CheckBox("SVJYring", new { })
                                        <span></span>Y-Ring
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SVJBuildup">
                                        @Html.CheckBox("SVJBuildup", new { })
                                        <span></span>Build-up on D &apos; end
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SVJLapJoint">
                                        @Html.CheckBox("SVJLapJoint", new { })
                                        <span></span> Lap Joint
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        31 Fire Proofing Nuts Welding on Skirt in LEMF
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="FPNWeldNuts">
                                        @Html.CheckBox("FPNWeldNuts", new { })
                                        <span></span>Weld All Nuts
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="FPNLeaveRow">
                                        @Html.CheckBox("FPNLeaveRow", new { })
                                        <span></span>Leave row from bottom for tank rotator
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        32 PWHT / LSR
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PWHTLSRSinglePiece">
                                        @Html.CheckBox("PWHTLSRSinglePiece", new { })
                                        <span></span>Single Piece
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.CheckBox("PWHTLSRJoint", new { })
                                        <span></span>
                                    </label>
                                    <label class="control-label" style="margin-left:10px" for="PWHTLSRJoint">LSR Joint Allowed </label>  (In  @Html.TextBoxFor(m => m.PWHTNoSec, new { @class = "clsAllowance numeric5Input", @placeholder = "Nos", @style = "width:80px", maxlength = "5" }) Sections)
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        33 PTC / MTC Heat treatment
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PTCMTCptc">
                                        @Html.CheckBox("PTCMTCptc", new { })
                                        <span></span>PTC with Job
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PTCMTCmtc">
                                        @Html.CheckBox("PTCMTCmtc", new { })
                                        <span></span>MTC with Job
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PTCMTCptcSim">
                                        @Html.CheckBox("PTCMTCptcSim", new { })
                                        <span></span>PTC Simulation
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PTCMTCmtcSim">
                                        @Html.CheckBox("PTCMTCmtcSim", new { })
                                        <span></span>MTC Simulation
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        34 Saddles for PWHT / Hydrotest
                    </legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.CheckBox("SaddlesTrans", new { })
                                        <span></span>
                                    </label>
                                    <label class="control-label" for="SaddlesTrans">Transportation Saddles </label> @Html.TextBoxFor(m => m.SaddlesTransVal, new { @placeholder = "Nos.", @class = "clsAllowance numeric5val", @style = "width:80px", maxlength = "5" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.CheckBox("SaddlesAddit", new { })
                                        <span></span>
                                    </label>
                                    <label class="control-label" for="SaddlesTrans">Additional Saddles </label> @Html.TextBoxFor(m => m.SaddlesAdditVal, new { @placeholder = "Nos.", @class = "clsAllowance numeric5val", @style = "width:80px", maxlength = "5" })
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        35
                        PWHT in Furnace:
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PWHTinFurnacePFS">
                                        @Html.CheckBox("PWHTinFurnacePFS", new { })
                                        <span></span>PFS
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PWHTinFurnaceHFS1">
                                        @Html.CheckBox("PWHTinFurnaceHFS1", new { })
                                        <span></span>HFS1
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PWHTinFurnaceLEMF">
                                        @Html.CheckBox("PWHTinFurnaceLEMF", new { })
                                        <span></span>LEMF
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        36 Section Weight for PWHT
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SectionWtMore230">
                                        @Html.CheckBox("SectionWtMore230", new { })
                                        <span></span>&gt;230 MT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SectionWt200To230">
                                        @Html.CheckBox("SectionWt200To230", new { })
                                        <span></span>200 - 230 MT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SectionWt150To200">
                                        @Html.CheckBox("SectionWt150To200", new { })
                                        <span></span>150-200 MT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SectionWtLess150">
                                        @Html.CheckBox("SectionWtLess150", new { })
                                        <span></span>&lt; 150MT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SectionWt4Sec">
                                        @Html.CheckBox("SectionWt4Sec", new { })
                                        <span></span>4 Sections
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SectionWt2Sec">
                                        @Html.CheckBox("SectionWt2Sec", new { })
                                        <span></span>2 Sections
                                    </label>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @*<div class="col-md-2">
                                    <div class="control-label" style="text-align:left">
                                        <label class="mt-checkbox mt-checkbox-outline" for="SectionWtNoSec">
                                            @Html.CheckBox("SectionWtNoSec", new { })
                                            <span></span>Sections
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(m => m.SectionWtNoSecVal, new { @class = "form-control numericval", placeholder = "Sections", maxlength = "10" })
                                </div>*@

                            <div class="col-md-4">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SectionWtNoSec">
                                        @Html.CheckBox("SectionWtNoSec", new { })
                                        <span></span>
                                    </label>
                                    @Html.TextBoxFor(m => m.SectionWtNoSecVal, new { @placeholder = "Nos.", @class = "clsAllowance numeric5Input", @style = "width:80px", maxlength = "5" })
                                    <label class="control-label" style="margin-left:10px" for="SectionWtNoSec"> Sections </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        37 Axle Required for movement
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ARMRequired">
                                        @Html.CheckBox("ARMRequired", new { })
                                        <span></span>Required
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ARMRT">
                                        @Html.CheckBox("ARMRT", new { })
                                        <span></span> RT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ARMPWHT">
                                        @Html.CheckBox("ARMPWHT", new { })
                                        <span></span>PWHT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ARMSB">
                                        @Html.CheckBox("ARMSB", new { })
                                        <span></span> S/B &amp; Painting
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        38 Hydrotest water requirement / Local Hydrotest of closing joints : @Html.TextBoxFor(m => m.HWR30ppmVal, new { @placeholder = "Nos", @class = "clsAllowance numeric5val", @style = "width:80px", maxlength = "5" })

                    </legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="HWR30ppm">
                                        @Html.CheckBox("HWR30ppm", new { })
                                        <span></span>30 ppm
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="HWR50ppm">
                                        @Html.CheckBox("HWR50ppm", new { })
                                        <span></span>50 ppm
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <div class="">
                                        @Html.TextBoxFor(m => m.HWRNoLim, new { @class = "form-control numericInput", placeholder = "No limit", maxlength = "10" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        39	Maximum Size of Bolts/ stud
                    </legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="MaxSBLess1_38">
                                        @Html.CheckBox("MaxSBLess1_38", new { })
                                        <span></span> &lt;= 1-3/8"(Torque Wrench)
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="MaxSBLess1_78">
                                        @Html.CheckBox("MaxSBLess1_78", new { })
                                        <span></span>  &lt;= 1-7/8"(RSL4)
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="MaxSBLess2_14">
                                        @Html.CheckBox("MaxSBLess2_14", new { })
                                        <span></span>  &lt;= 2-1/4"(RSL8)
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="MaxSBLess4">
                                        @Html.CheckBox("MaxSBLess4", new { })
                                        <span></span>  &lt; = 4"(Stud Tensioning)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        40	External Surface Treatment
                    </legend><div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ESTPlate">
                                        @Html.CheckBox("ESTPlate", new { })
                                        <span></span>Plate Stage
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ESTShell">
                                        @Html.CheckBox("ESTShell", new { })
                                        <span></span>Shell Stage
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ESTSection">
                                        @Html.CheckBox("ESTSection", new { })
                                        <span></span>Section Stage
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ESTEquip">
                                        @Html.CheckBox("ESTEquip", new { })
                                        <span></span>Equipment
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        41	Internal Surface Treatment
                    </legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ISTPlate">
                                        @Html.CheckBox("ISTPlate", new { })
                                        <span></span>Plate Stage
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ISTShell">
                                        @Html.CheckBox("ISTShell", new { })
                                        <span></span>Shell Stage
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ISTSection">
                                        @Html.CheckBox("ISTSection", new { })
                                        <span></span>Section Stage
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ISTEquip">
                                        @Html.CheckBox("ISTEquip", new { })
                                        <span></span>Equipment
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ISTAfBfPWHT">
                                        @Html.CheckBox("ISTAfBfPWHT", new { })
                                        <span></span>After/ Before PWHT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ISTBfRefra">
                                        @Html.CheckBox("ISTBfRefra", new { })
                                        <span></span>Before refractory
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        42	N2 Filling
                    </legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="N2FillReq">
                                        @Html.CheckBox("N2FillReq", new { })
                                        <span></span> Required
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="N2FillNotReq">
                                        @Html.CheckBox("N2FillNotReq", new { })
                                        <span></span> Not required
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="N2FillOther">
                                        @Html.CheckBox("N2FillOther", new { })
                                        <span></span> Other Protection on internal surface
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
       
    }


</div>
