﻿
@using IEMQSImplementation
@model PCL009_Log

<script>
    $(document).ready(function () {
        $('div.fdControls :input').attr('disabled', true);
        var strHeader = '@ViewBag.HeaderId';
        $("#txtAllowanceHeader").val(strHeader);
    });
    SetNumericInputVal();
</script>

<div id="dvSection1" class="fdControls">
    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmUreaAllowance", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.HeaderId, new { id = "txtUreaAllowanceHeader" })
        @Html.HiddenFor(m => m.LineId, new { id = "txtUreaAllowance" })

        <fieldset>
            <legend>1 Shell</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label"> Allowance for E/B &nbsp; <span>@Html.TextBoxFor(m => m.ShellAllowanceEB, new {@class = "clsAllowance decimalInput", maxlength = "12"  })</span> &nbsp; mm on either side.</label><br />
                    <label class="control-label"> Tolerance on Ovality &nbsp; <span class="clsspan">@Html.TextBoxFor(m => m.ShellTolerance, new {@class = "clsAllowance decimalInput", maxlength = "12"  })</span>&nbsp;  mm(Target for mm Ovality) </label><br />
                    <label class="control-label"> Allowance for Machining &nbsp; <span class="clsspan">@Html.TextBoxFor(m => m.ShellAllowanceLong, new {@class = "clsAllowance decimalInput", maxlength = "12"  })</span>&nbsp;  mm long seam &nbsp; <span class="clsspan">@Html.TextBoxFor(m => m.ShellAllowanceCirc, new {@class = "clsAllowance decimalInput", maxlength = "12"  }) mm for Circ Seam</span> </label><br />
                    <label class="control-label">  Negative allowance for Stretch &nbsp; <span>@Html.TextBoxFor(m => m.ShellNegAllowanceCirc, new {@class = "clsAllowance decimalInput", maxlength = "12"  })</span> mm on Circ lg.</label><br />
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>2 D’end</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label"> Allowance for M / cing &nbsp; <span>@Html.TextBoxFor(m => m.DEndMcing, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span> &nbsp;  mm on open end.</label><br />
                    <label class="control-label">  Allowance for Seam shrinkage &nbsp; <span>@Html.TextBoxFor(m => m.DEndSeamShrinkage, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span>&nbsp;</label><br />
                    <label class="control-label">  Allowance for ESSC &nbsp; <span>@Html.TextBoxFor(m => m.DEndESSC, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span>&nbsp; mm on Circumference</label><br />
                </div>
            </div>
        </fieldset>

    }


</div>
