﻿@using IEMQSImplementation
<div class="modal-body">
    <form action="" class="form-horizontal" id="frmCopyPart" method="post" novalidate="novalidate">
        <div class="form-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">Quality Project</label>
                        <input class="form-control col-md-3" id="QualityProjectCopy" name="QualityProjectCopy" readonly="readonly" type="text">
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Part</label>
                        <input type="text" id="PartNoCopy" name="PartNoCopy" class="form-control col-md-3" readonly="readonly">
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Stage</label>
                        <input class="form-control col-md-3" id="StageCodeDescriptionCopy" name="StageCodeDescriptionCopy" readonly="readonly" type="text" value="MATIDENT-Material Identification">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label">From Part<span class="required" aria-required="true">*</span></label>
                        <input type="hidden" id="hdnFromPart">
                        <input class="form-control col-md-3" id="FromPart" name="FromPart">
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">To Part<span class="required" aria-required="true">*</span></label>
                        <input type="hidden" id="hdnToPart">
                        <input class="form-control col-md-3" id="ToPart" name="ToPart">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        var lstPartList = @Html.Raw(Json.Encode(ViewBag.QualityProjectPartList));
        FillAutoCompleteForEnum($("#FromPart"),lstPartList,$("#hdnFromPart"));
        FillAutoCompleteForEnum($("#ToPart"),lstPartList,$("#hdnToPart"));
    })
</script>
