﻿@model IEMQSImplementation.QMS055
@{ string AttachmentUpload = "fuAttachmentUpload";}
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script>
    $(document).ready(function () {
        $('input[maxlength],textarea[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });

        var lstCategoryModel = JSON.parse('@Html.Raw(ViewBag.lstSubCatagories)');
        FillAutoComplete($("#txtShop"), lstCategoryModel, $("#hdShop"));

        var uploadFolder = '@Html.Raw((String)ViewBag.folderPath)';
        $("#folderPath").val(uploadFolder);
        var isdocrequired = '@ViewBag.ISDocRequired'.toLowerCase();
        @*var objAttachmentUpload = new FileUploadEnt('dv@(AttachmentUpload)', '@AttachmentUpload');
        objAttachmentUpload.ShowDeleteAction = true;
        objAttachmentUpload.FolderPath = uploadFolder;
        objAttachmentUpload.ShowAttachmentBtn = true;
        objAttachmentUpload.IsRequired = isdocrequired == 'true' ? true : false;
        objAttachmentUpload.ShowUploadBtn = false;
        objAttachmentUpload.SuccessCallbackFunction = "callbackfuntion()";
        LoadFileUploadPartialView(objAttachmentUpload);*@

        var objFile = {
            TableName: uploadFolder,
            TableId: '@(ViewBag.FCS_TableId)',
            Path: uploadFolder + '//1',
            ControlID: '@(AttachmentUpload)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: true,
            ShowDownloadBtn: true,
            ShowAttachmentBtn: true,
            IsRequired: isdocrequired == 'true' ? true : false
        };
        //CHECK-THIS - Need to remove OR change Successcallbackfunction - it will close model

        Load_File_Upload_Partial_View(objFile, 'dv@(AttachmentUpload)', false);

        if ('@ViewBag.ShopDesc' != null && '@ViewBag.ShopDesc' != "") {
            $("#txtShop").val('@ViewBag.ShopDesc');
        }

        $("#IsProtocolApplicable").val('@ViewBag.ProtocolApplicable');
        $("#IsSTAGEDEPARTMENTNDE").val('@ViewBag.IsSTAGEDEPARTMENTNDE');
        $('#frmPartlistOffer').validate({
            rules: {
                txtShop: {
                    required: true,
                },
                hdShop: {
                    required: true,
                },
                ShopLocation: {
                    required: true,
                },
                Quantity: {
                    required: true,
                    number: true,
                    remote: {
                        url: WebsiteURL + "/IPI/PartlistOfferInspection/checkQuantity",
                        type: "post",
                        async: false,
                        data: {
                            HeaderId: function () {
                                return $("#hdHeaderId").val();
                            },
                            qty: function () {
                                return $("#QMS045_Quantity").val();
                            }
                        }
                    }
                },
            },
            messages: {
                txtShop: {
                    required: "Shop is required"
                },
                hdShop: {
                    required: "Shop is required",
                },
                ShopLocation: {
                    required: "Shop Location is required"
                },
                Quantity: {
                    required: "Quantity Location is required",
                    number: "Only number required.",
                    remote: "Quantity is more than balance quantity."
                }
            }
        });

    });
</script>
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmPartlistOffer" }))
{
    @Html.HiddenFor(model => model.refHeaderId, new { @id = "hdHeaderId" })
    <div class="form-group">
        <div class="col-md-12">
            <div class="form-group">
                @Html.Hidden("IsProtocolApplicable")
                @Html.Hidden("IsSTAGEDEPARTMENTNDE")
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">Shop<span class="required"> * </span></label>
                        <div class="">
                            <input type="text" id="txtShop" name="txtShop" class="form-control col-md-3" />
                            @Html.HiddenFor(m => m.Shop, new { @id = "hdShop" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Shop Location<span class="required"> * </span></label>
                        <div class="">
                            @Html.TextBoxFor(model => model.ShopLocation, new { @class = "form-control col-md-3", maxlength = "10", @tootltip = "Maximum character limit is 10" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Offer Quantity<span class="required"> * </span></label>
                        <div class="">
                            @Html.TextBoxFor(model => model.QMS045.Quantity, new { @class = "form-control col-md-3", @Name = "Quantity", maxlength = "5", @tootltip = "Maximum character limit is 5" })
                        </div>
                    </div>
                </div>
                @*<div class="col-md-12">

                    </div>*@
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label class="control-label">Remarks</label>
                        <div class="">
                            @Html.TextBoxFor(model => model.ShopRemark, new { @class = "form-control col-md-3", maxlength = "100", @tootltip = "Maximum character limit is 100" })
                        </div>
                    </div>
                </div>
                @*<div class="col-md-12">

                    </div>*@
            </div>
        </div>
    </div>
    <fieldset>
        <legend>Attach Protocol</legend>
        <div class="form-group">
            <div class="col-md-12" style="margin-top: 20px">
                <div class="">
                    @Html.Hidden("folderPath")
                    <input id="hdAttachment" type="hidden" value="@AttachmentUpload">
                    <div id="dv@(AttachmentUpload)"></div>
                </div>
            </div>
        </div>
    </fieldset>
}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>