﻿@model IEMQS.Areas.Utility.Models.TimelineViewModel
<style>
    .modal-lg {
        width: 80% !important;
        margin: 10px auto;
    }
</style>
 
<div class="form-group">
    <div class="mt-element-step">
        <div class="row step-line">
            <div class="col-md-1"></div>
            <div class="col-md-2 mt-step-col  first done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Offered</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.OfferedBy</div><div class="mt-step-content font-grey-cascade">@Model.OfferedOn</div></div>

            @if (Model.InspectedBy != null)
            {
                <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Inspected</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.InspectedBy</div><div class="mt-step-content font-grey-cascade">@Model.InspectedOn</div></div>
            }
            else
            {
                <div class="col-md-2 mt-step-col "><div class="mt-step-content font-grey-cascade" style="font-size:20px">Inspected</div><div class="mt-step-number bg-white">2</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Inspected By</div><div class="mt-step-content font-grey-cascade">Inspected Date</div></div>
            }
            @if (Model.OfferedtoCustomerBy != null)
            {
                <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Offered to Customer</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.OfferedtoCustomerBy</div><div class="mt-step-content font-grey-cascade">@Model.OfferedtoCustomerOn</div></div>
            }
            else
            {
                <div class="col-md-2 mt-step-col "><div class="mt-step-content font-grey-cascade" style="font-size:20px">Offered to Customer</div><div class="mt-step-number bg-white">2</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Offered to Customer By</div><div class="mt-step-content font-grey-cascade">Offered to Customer Date</div></div>
            }
            @if (Model.TPIResultOn.HasValue)
            {
                <div class="col-md-2 mt-step-col last done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">TPI Result</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.TPIResultBy</div><div class="mt-step-content font-grey-cascade">@Model.TPIResultOn</div></div>
            }
            else
            {
                <div class="col-md-2 mt-step-col last"><div class="mt-step-content font-grey-cascade" style="font-size:20px">TPI Result</div><div class="mt-step-number bg-white">2</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">TPI Result By</div><div class="mt-step-content font-grey-cascade">TPI Result Date</div></div>
            }
            <div class="col-md-1"></div>

        </div>
    </div>
</div>




