﻿@using IEMQSImplementation
@{
    ViewBag.Title = "PCL Workflow";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-body form">
                <div id="dvPCR">
                    <div class="portlet-body">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    PCL Workflow
                                </div>
                                <div class="tools" id="dvExportHeader">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PCR/MaintainPCR/GenerateExcel", GridType = clsImplementationEnum.GridType.PCLWorkflow.GetStringValue(), dvId = "#dvExportHeader" })
                                </div>
                                <div class="tools" id="dvExportHeader">
                                    <div>

                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body">

                                <div class="detail-row editable-item top-section row"
                                     colname='t_txt'
                                     data-dependentOnColumnName=''>

                                    <div class="mo-center">
                                        <div class="float-left" style="margin-left:5px;margin-top:3px;">
                                            <label class="ln-label">
                                                Screen Name
                                            </label>

                                        </div>
                                        <div class="float-left mo-dropdown">
                                            <div>
                                                <input id="ScreenName" colname='ScreenName'
                                                       class='autocomplete form-control form-control screenname inputField' style="border:1px solid #ererer" type='text' />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="clear-float"></div>
                                </div>

                                <form id="frmPCRDetails" class="form-horizontal">
                                    <table id="tblPCLWorkflowDetails" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th></th> @*// Just need to have th to render table*@
                                                @*<th class="all"> PCL Number </th>
                                                    <th class="all"> Revision No. </th>
                                                    <th class="all"> Movement Type </th>
                                                    <th class="all"> PCL Status </th>
                                                    <th class="all"> PCR Requirement Date </th>
                                                    <th class="all"> PCR Number </th>
                                                    <th class="all"> WC Deliver </th>
                                                    <th class="all"> Stock Physical </th>
                                                    <th class="all"> Stock Number </th>
                                                    <th class="all"> Total Area </th>
                                                    <th class="all"> Return Balance </th>
                                                    <th class="all"> Return Area </th>
                                                    <th class="all"> Project </th>
                                                    <th class="all">Action</th>*@
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var _lineStatusCreated = '@clsImplementationEnum.PCRLineStatus.Created.GetStringValue().ToLower()';
    var _lineStatusReleaseToMP = '@clsImplementationEnum.PCRLineStatus.ReleasedtoMaterialPlanner.GetStringValue().ToLower()';
    var _isValidUser = "true";
    var _all = fnParseServerObject(@Html.Raw(Json.Encode(ViewBag.All)));
    $("#ScreenName").val(_screenName);

    function fnRefreshPCLWorkflowAll(screenName) {
        showLoading(true);
        _screenName = screenName;
        var promise = new Promise((resolve, reject) => {
            $.ajax({
                url: WebsiteURL + '/PCR/PCLWorkflow/RefreshAll?screenName=' + screenName,
                type: 'POST',
                dataType: 'json'
            })
                .done(resolve)
                .fail(reject)
        });
        promise.then(
            result => {
                console.log('on r', result);
                fnOnReady(result);
            },
            err => {
                console.log(err);
            }
        );
    }

    function fnInitAll(all) {
        var a = {};
        a.multiOccurenceColumns = fnGetMappedConfigs(all.filter(x => x.Key === 'MultiOccurenceColumns')[0].Value);
        a.multiOccurenceTableData = all.filter(x => x.Key === 'MultiOccurenceTableData')[0].Value;
        a.columnConfigs = fnGetMappedConfigs(all.filter(x => x.Key === 'ColumnsConfigs')[0].Value);
        _columns.ScreenName.Lookup = all.filter(x => x.Key === 'PCLEnumData')[0].Value;
        return a;
    }

    function fnLoadPCLWorkflowData(all) {

        var columnConfigs = all.columnConfigs;
        let configsArray = fnGetConfigArray(columnConfigs);
        let columnTypeConfigsArray = fnGetColumnTypeArray(columnConfigs);
        let merged = configsArray.concat(columnTypeConfigsArray);
        fnBindGridData(all.multiOccurenceColumns, merged, all.multiOccurenceTableData, {}, null, fnOnCreateRow);
        fnEnableDisableRows();

    }

    //Analogous to C# Level Validations
    function fnEnableDisableRows() {
        //TODO
    }

    function fnGetElementSelectColumn(data = undefined) {
        return "<label class=\"mt-checkbox mt-checkbox-outline\"><input type=\"checkbox\" onchange=\"fnOnCheckUnCheck(event, this)\" name=\"id[]\"  class=\"clsCheckbox\" value=\"" + data.Id + "\" LineId=\"" + data.PCRLineId + "\" ><span></span></label>";
    }

    function fnOnCreateRow(row, data, dataIndex) {
        $(row).attr(_attributes.ItemId, data.Id);
    }

    function fnOnReady(all) {
        _tableName = 'tblPCLWorkflowDetails';
        _tbl = $('#' + _tableName);
        _additionalColumnsForAddNewRow = [];
        _currentScreen = _screens.PCLWorkflow;
        _currentScreen.CurrentTab = _screenTabs.Main;
        _columnsForSave = [];

        var topSectionSelector = 'div.' + _classes.TopSection;

        fnDefineInputEvents(null, topSectionSelector);
        all = fnInitAll(all);
        fnLoadPCLWorkflowData(all);
    }

</script>

<script type="text/javascript">
    $(document).ready(function () {
        fnOnReady(_all);
    });
</script>