﻿@using IEMQSImplementation
@model TCP003
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Datatable/css")


<style>

</style>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Department Wise Query Type
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmHeader" }))
                    {
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-group">
                        <div class="col-md-12">
                            <!--Start:  Create TCP Master -->
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Departments<span class="required"> * </span></label>
                                    <div class="">
                                        <input type="text" id="txtDepartment" name="txtDepartment" value="" class="form-control col-md-3" placeholder="Select" />
                                        @Html.HiddenFor(x => x.Department)
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Query Type<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.QueryType, new { @class = "form-control col-md-3", @maxlength = "100" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Is Active</label>
                                    <div class="">
                                        <label class="mt-checkbox mt-checkbox-outline" for="IsActive">
                                            @Html.CheckBox("IsActive", new { })
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3" style="text-align:right;">
                                    <label class="control-label">&nbsp;</label>
                                    <div class="">
                                        <input type="button" class="btn save" id="btnHeaderSave" value="Save" />
                                        <a style="margin-right:5px;" id="btnClear" class="btn btnclose">
                                            Clear
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Department wise Query Type
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblTCPQueryType" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="min-phone-l">Department</th>
                                                <th class="min-phone-l">Query Type</th>
                                                <th class="min-phone-l">Is Active</th>
                                                <th class="min-phone-l">Created By</th>
                                                <th class="min-phone-l">Created On</th>
                                                <th class="min-phone-l">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        LoadDepratmentwiseData($("#Department").val());
        $("#IsActive").prop('checked', true);
        $("#txtDepartment").autocomplete({
            source: function (request, response) {

                $.ajax({
                    url: WebsiteURL + "/Utility/General/DeptDetail",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term,
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.ddesc, value: item.ddesc, id: item.dcode };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    $("#Department").val(ui.item.id);
                    LoadDepratmentwiseData($("#Department").val());
                }
            },
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    $("#Department").val('');
                    LoadDepratmentwiseData('');
                }
            }
        }).focus(function () {
            var result = $(this).data("uiAutocomplete").search($(this).val());
        });

        $('#frmHeader').validate({
            rules: {
                "txtDepartment": {
                    required: true
                },
                "QueryType": {
                    required: true
                }
            },
            messages: {
                "txtDepartment": {
                    required: "Department is required"
                },
                "QueryType": {
                    required: "QueryType is required"
                }
            }
        });

        $("#btnHeaderSave").click(function () {
            if ($("#frmHeader").valid()) {
                var formData = new FormData();
                var frmValues = $('#frmHeader').serializeArray();
                $.each(frmValues, function (key, input) {
                    formData.append(input.name, input.value);
                });
                $.ajax({
                    url: WebsiteURL + '/TCP/MaintainTCP/SaveDeptWiseQueryType',
                    data: formData,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    success: function (data) {
                        if (data.Key) {
                            $("#txtDepartment").val("");
                            $("#Department").val("");
                            $("#QueryType").val("");
                            $("#IsActive").prop('checked', false);
                            DisplayNotiMessage("success", data.Value, "Success");
                            LoadDepratmentwiseData("");
                            $("#btnHeaderSave").attr('value', 'Save');
                        }
                        else {
                            if (data.Status == "Info")
                            { DisplayNotiMessage("info", data.Value, "Info"); }
                            else
                            {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                        }
                    }
                });
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });

        $("#btnClear").click(function () {
            $("#txtDepartment").val('');
            $("#Department").val('');
            $("#QueryType").val('');
            $("#IsActive").prop('checked', true);
            $("#Id").val(0);
            LoadDepratmentwiseData('clear');
        });
    });

    function UpdateRecord(Id, dept, deptdesc, qtype, isActive) {
        $("#txtDepartment").val(deptdesc);
        $("#Department").val(dept);
        $("#QueryType").val(qtype);
        $("#Id").val(Id);
        if (isActive == 'True') {
            $("#IsActive").prop('checked', true);
        }
        else { $("#IsActive").prop('checked', false); }
        $("#btnHeaderSave").attr('value', 'Update');
    }

    function DeleteRecord(LineID) {

        bootbox.dialog({
            title: "Delete Confirmation",
            message: "Do you want to delete this record?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        $.ajax({
                            url: WebsiteURL + '/TCP/MaintainTCP/DeleteQueryType',
                            data: { Id: LineID },
                            type: 'POST',
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                }
                                else {
                                    if (data.Status == "Info")
                                    { DisplayNotiMessage("info", data.Value, "Info"); }
                                    else
                                    {
                                        DisplayNotiMessage("error", data.Value, "Error");
                                    }
                                }
                                $('#tblTCPQueryType').DataTable().ajax.reload();
                            }
                        });
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }

            }
        });
    }

    function LoadDepratmentwiseData(dept) {
        var table = $('#tblTCPQueryType');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'desc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/TCP/MaintainTCP/LoadTCPDeptWiseQueryTypeData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Department", "value": $("#Department").val() }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                });
            },
            "columns": [
                {
                    "bSortable": true,
                    "name": "Department",
                    "ColName": "tcph.Department",
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "QueryType",
                    "ColName": "tcph.QueryType",
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "IsActive",
                    "sClass": "center",
                    "attr":"none",
                },
                {
                    "bSortable": true,
                    "name": "CreatedBy",
                    "ColName": "tcph.CreatedBy",
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "CreatedOn",
                    "sClass": "center",
                    "ColName": "tcph.CreatedOn",
                    "attr":"date"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
            ]

        });
        if (dept == "")
        {
            table.dtSearchFilter();
        }
    }

</script>

@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>