﻿@model IEMQSImplementation.NDE008
@using IEMQSImplementation
<script>

    var table = $('#tblMTTechniqueHistory');
    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": true,
        "bServerSide": true,
        "stateSave": false,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
            [5, 10, 25, 50, 100],
            [5, 10, 25, 50, 100]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        "sAjaxSource": WebsiteURL + "/NDE/MaintainMTTechnique/LoadMTTechniqueHistory?headerId=" + '@Model.HeaderId',
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" }
                        );
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': function (data) {
                    fnCallback(data);
                    $(".txtStrWhere", "#dvExportHistoryHeader").val(data.whereCondition);
                    $(".txtStrSort", "#dvExportHistoryHeader").val(data.strSortOrder);
                },
            });
        },
        "aoColumns": [
            {
                "sClass": "center",
                "sWidth": "5%",
                "name": "QualityProject"
            },
            {
                "sClass": "center",
                "bSortable": true,
                "name": "Project"
            },
            {
                "sClass": "center",
                "bSortable": true,
                "name": "BU"
            },
            {
                "sClass": "center",
                "sWidth": "5%",
                "bSortable": true,
                "name": "Location"
            },
            {
                "sClass": "center",
                "bSortable": true,
                "name": "TechniqueSheetNo"
            },
            {
                "sClass": "center",
                "sWidth": "5%",
                "bSortable": true,
                "name": "MTTechNo"
            },
            {
                "sClass": "center",
                "bSortable": true,
                "name": "RevNo"
            },
            
            {
                "sClass": "center",
                "sWidth": "10%",
                "name": "CreatedBy"
            },
            {
                "sClass": "center",
                "name": "CreatedOn"
            },
            {
                "sClass": "center",
                "name": "Status"
            },
            {
                "bSortable": false,
                "sClass": "center",
                "sWidth": "5%",
                //"render": function (data, type, row, meta) {
                //    var buttons = "";
                //    buttons += '<center><a href="/NDE/MaintainMTTechnique/ViewHistory?id=' + row[8] + '" target="_blank" title="View History" style="cursor:pointer;" name="btnAction" id="btnViewHistory"><i style="margin-left:5px;" class="fa fa-eye"></i> </a></center>';
                //    return buttons;
                //}
            },
        ]
    });

</script>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    MT Technique Header History List
                </div>
                <div class="tools" id="dvExportHistoryHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/NDE/MaintainMTTechnique/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYHEADER.GetStringValue(), dvId = "#dvExportHistoryHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblMTTechniqueHistory" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            
                            @*<th style="display:none;">Id</th>*@
                            @*<th style="display:none;">HeaderId</th>*@
                            <th class="min-phone-l" style="white-space:pre-line;">Quality Project</th>
                            <th class="min-phone-l">Project</th>
                            <th class="min-phone-l" style="width:5%;">BU</th>
                            <th class="min-phone-l">MT Technique No</th>
                            <th class="min-phone-l">Location</th>
                            <th class="min-phone-l">Document No</th>
                            <th class="min-phone-l" style="width:5%;white-space:pre-line;">Rev No.</th>
                            <th class="none">Created By</th>
                            <th class="none">Created On</th>
                            <th class="min-phone-l" style="width:10%;">Status</th>
                            @*<th class="min-phone-l">Edited By</th>*@
                            <th class="min-phone-l" style="width:5%;">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


