﻿
@using IEMQSImplementation
@model HashSet<PCL009>

<h4>3.1 Shell</h4>
<ul>
    <li> Allowance for E/B &nbsp; <span><u>@Html.DisplayFor(m => Model.FirstOrDefault().ShellAllowanceEB, new { @class = "clsAllowance", onkeypress = "return isNumber(event)" })</u></span> &nbsp; mm on either side.</li>
    <li> Tolerance on Ovality &nbsp; <span class="clsspan"><u>@Html.DisplayFor(m => Model.FirstOrDefault().ShellTolerance, new { @class = "clsAllowance", onkeypress = "return isNumber(event)" })</u></span>&nbsp;  mm(Target for mm Ovality) </li>
    <li> Allowance for Machining &nbsp; <span class="clsspan"><u>@Html.DisplayFor(m => Model.FirstOrDefault().ShellAllowanceLong, new { @class = "clsAllowance", onkeypress = "return isNumber(event)" })</u></span>&nbsp;  mm long seam &nbsp; <span class="clsspan"><u>@Html.DisplayFor(m => Model.FirstOrDefault().ShellAllowanceCirc, new { @class = "clsAllowance", onkeypress = "return isNumber(event)" }) mm for Circ Seam</u></span> </li>
    <li>  Negative allowance for Stretch &nbsp; <span><u>@Html.DisplayFor(m => Model.FirstOrDefault().ShellNegAllowanceCirc, new { @class = "clsAllowance", onkeypress = "return isNumber(event)" })</u></span> mm on Circ lg.</li>

</ul>
<h4>3.2 D’end</h4>
<ul>
    <li> Allowance for M / cing &nbsp; <span><u>@Html.DisplayFor(m => Model.FirstOrDefault().DEndMcing, new { @class = "clsAllowance", onkeypress = "return isNumber(event)" })</u></span> &nbsp;  mm on open end.</li>
    <li>  Allowance for Seam shrinkage &nbsp; <span><u>@Html.DisplayFor(m => Model.FirstOrDefault().DEndSeamShrinkage, new { @class = "clsAllowance", onkeypress = "return isNumber(event)" })</u></span>&nbsp;</li>
    <li>  Allowance for ESSC &nbsp; <span><u>@Html.DisplayFor(m => Model.FirstOrDefault().DEndESSC, new { @class = "clsAllowance", onkeypress = "return isNumber(event)" })</u></span>&nbsp; mm on Circumference</li>
</ul>

