﻿
@using IEMQSImplementation
@model HashSet<PCL024>

<table border="1" style="border-collapse:collapse;width:100%">
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr><td colspan="10"><b>2. 1)	Reactor Overall Dimension</b></td></tr>
    <tr>
        <td></td>
        <td>
            ID :(mm)
        </td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().ReactorID)
        <td>
            Thk :(mm)
        </td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().ReactorThk1)
        <td>
            TL - TL:(mm)
        </td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().ReactorTLTL)
        <td>
            Lg :(mm)
        </td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().ReactorLg)
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            Fabricated Wt:(MT)
        </td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().ReactorFabWt)
        <td>
            Hydro Wt:(MT)
        </td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().ReactorHydroWt)
        <td>
            Max. Shell Wd:(mm)
        </td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().ReactorMaxShellWd)
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.2)	Reactor Designed for External Pressure Also ?
            </b>
        </td>
    </tr>
    <tr>
        <td>
            @if (Model.Count() > 0)
            {
                if (Model.FirstOrDefault().ReactoreDesigned == true)
                {
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().ReactoreDesigned, new { @checked = true });
                }
                else
                { @Html.CheckBoxFor(m => Model.FirstOrDefault().ReactoreDesigned, new { });
                }
            }
            else
            {
                @Html.CheckBox("ReactoreDesigned", new { });
            }
        </td>
        <td>
            Yes (Special <quote>e value</quote> Templates required as per Code)
        </td>
        <td>
            @if (Model.Count() > 0)
            {
                if (Model.FirstOrDefault().ReactoreDesigned == true)
                {
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().ReactoreDesigned, new { });
                }
                else
                { @Html.CheckBoxFor(m => Model.FirstOrDefault().ReactoreDesigned, new { @checked = true });
                }
            }
            else
            {@Html.CheckBox("ReactoreDesigned", new { });
            }
        </td>
        <td>
            No
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.3) Shell Construction
            </b>
        </td>
    </tr>
    <tr>
        <td for="ShellConst1Seg">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ShellConst1Seg, new { })
        </td>
        <td>
            Single Seg
        </td>

        <td for="ShellConst2Seg">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ShellConst2Seg, new { })
        </td>
        <td>
            Two Segments
        </td>

        <td for="ShellConst3Seg">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ShellConst3Seg, new { })
        </td>
        <td>
            Three Segments
        </td>

        <td for="ShellConst4Seg">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ShellConst4Seg, new { })
        </td>
        <td>
            Four Segments
        </td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.
                4)	Type of Rolling
            </b>
        </td>
    </tr>
    <tr>

        <td for="TypeRollCold">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TypeRollCold, new { })
        </td>
        <td>
            Cold
        </td>

        <td for="TypeRollWarm">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TypeRollWarm, new { })
        </td>
        <td>
            Warm Temp __ C
        </td>
        <td for="TypeRollHot">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TypeRollHot, new { })
        </td>
        <td>
            Hot for __ Hrs __ Min
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.5)	Gas Cutting
            </b>
        </td>
    </tr>
    <tr>
        <td for="GasCuttingPreHeat">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().GasCuttingPreHeat, new { })
        </td>
        <td>
            With Pre-Heating with approved WPS
        </td>

        <td for="GasCuttingPreHeatNR">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().GasCuttingPreHeatNR, new { })
        </td>
        <td>
            Pre-Heating Not Required
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.6)	C / seam WEP
            </b>
        </td>
    </tr>
    <tr>
        <td for="CSeamWEPPlate">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().CSeamWEPPlate, new { })
        </td>
        <td>
            Plate Stage (max 11500mm)
        </td>
        <td for="CSeamWEPAfter">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().CSeamWEPAfter, new { })
        </td>
        <td>
            After Rolling (nub shell)
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.7)	PTC Required for
            </b>
        </td>
    </tr>
    <tr>
        <td for="PTCRequiredforLS">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCRequiredforLS, new { })
        </td>
        <td>
            L/S
        </td>
        <td for="PTCRequiredforCS">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCRequiredforCS, new { })
        </td>
        <td>
            C/S
        </td>

        <td for="PTCRequiredforDend">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCRequiredforDend, new { })
        </td>
        <td>
            D &apos; end
        </td>
        <td for="PTCRequiredforDendShell">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCRequiredforDendShell, new { })
        </td>
        <td>
            D &apos; end # Shell
        </td>

        <td for="PTCRequiredforSpool">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCRequiredforSpool, new { })
        </td>
        <td>
            Spool
        </td>
</table>
<div class="row" style="width:100%">
    <footer class="clsfooter">
        <table border="1" class="clstable">
            <thead class="clsPara">
                <tr>
                    <th>Rev.No</th>
                    <th>Revision Detail</th>
                    <th>Date</th>
                    <th>Prep. By</th>
                    <th>Appr.By</th>
                </tr>
            </thead>
            <tbody class="clsPara">
                <tr>
                    <td>@ViewBag.RevNo</td>
                    <td>First Issue</td>
                    <th>@ViewBag.CreatedOn</th>
                    <th>@ViewBag.CreatedBy</th>
                    <th>@ViewBag.ApprovedBy</th>
                </tr>
            </tbody>
        </table>
    </footer>
</div>
<div style="height:50px"></div>
<header class="clsheader">
    <table border="1" class="clstable">
        <tr class="clsPara">
            <td>Specification No</td>
            <td> @ViewBag.Document</td>
            <td>REV NO</td>
            <td> @ViewBag.RevNo</td>
            <td>Page 3 of 11</td>
        </tr>
        <tr class="clsPara">
            <td>
                <img src="~/Images/smalllogo.png" />
            </td>
            <td colspan="4">Planning Checklist</td>
        </tr>
    </table>
</header>
<table border="1" style="border-collapse:collapse;width:100%">
    <tr>
        <td colspan="10">
            <b>
                2.8)	ISR / LSR Required for
            </b>
        </td>
    </tr>
    <tr>
        <td for="ISRRequiredforLS">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISRRequiredforLS, new { })
        </td>
        <td>
            L/S
        </td>

        <td for="ISRRequiredforCS">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISRRequiredforCS, new { })
        </td>
        <td>
            CS
        </td>

        <td for="ISRRequiredforNozzle">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISRRequiredforNozzle, new { })
        </td>
        <td>
            Nozzle
        </td>

        <td for="ISRRequiredforCone">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISRRequiredforCone, new { })
        </td>
        <td>
            Cone
        </td>

        <td for="ISRRequiredforHead">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISRRequiredforHead, new { })
        </td>
        <td>
            Head
        </td>

    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.9)	PT / MT After
            </b>
        </td>
    </tr>
    <tr>

        <td for="PTMTAfterWelding">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTMTAfterWelding, new { })
        </td>
        <td>
            Welding
        </td>

        <td for="PTMTAfterOverlay">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTMTAfterOverlay, new { })
        </td>
        <td>
            Overlay
        </td>

        <td for="PTMTAfterPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTMTAfterPWHT, new { })
        </td>
        <td>
            PWHT
        </td>

        <td for="PTMTAfterHydro">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTMTAfterHydro, new { })
        </td>
        <td>
            Hydro-test
        </td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.10)	RT After
            </b>
        </td>
    </tr>
    <tr>

        <td for="RTAfterWelding">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().RTAfterWelding, new { })
        </td>
        <td>
            Welding
        </td>
        <td for="RTAfterOverlay">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().RTAfterOverlay, new { })
        </td>
        <td>
            Overlay
        </td>
        <td for="RTAfterPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().RTAfterPWHT, new { })
        </td>
        <td>
            PWHT
        </td>
        <td for="RTAfterHydro">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().RTAfterHydro, new { })
        </td>
        <td>
            Hydro-test
        </td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.11)	UT After
            </b>
        </td>
    </tr>
    <tr>
        <td for="UTAfterRecordable">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().UTAfterRecordable, new { })
        </td>
        <td>
            Recordable
        </td>

        <td for="UTAfterConventional">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().UTAfterConventional, new { })
        </td>
        <td>
            Conventional
        </td>

        <td for="UTAfterWelding">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().UTAfterWelding, new { })
        </td>
        <td>
            WEP & Welding
        </td>

        <td for="UTAfterOverlay">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().UTAfterOverlay, new { })
        </td>
        <td>
            Overlay
        </td>

        <td for="UTAfterPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().UTAfterPWHT, new { })
        </td>
        <td>
            PWHT
        </td>
    </tr>
    <tr>
        <td for="UTAfterHydro">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().UTAfterHydro, new { })
        </td>
        <td>
            Hydro-test
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.12)	Ferrite After
            </b>
        </td>
    </tr>
    <tr>
        <td for="FerAfterWelding">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().FerAfterWelding, new { })
        </td>
        <td>
            Welding
        </td>
        <td for="FerAfterOverlay">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().FerAfterOverlay, new { })
        </td>
        <td>
            Overlay
        </td>
        <td for="FerAfterPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().FerAfterPWHT, new { })
        </td>
        <td>
            PWHT
        </td>

        <td for="FerAfterHydro">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().FerAfterHydro, new { })
        </td>
        <td>
            Hydro-test
        </td>
        <td colspan="2">&nbsp;</td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.13)	Shel Overlay Type(For Cladded Job)
            </b>
        </td>
    </tr>
    <tr>
        <td for="SOTESSCSingle">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SOTESSCSingle, new { })
        </td>
        <td>
            ESSC Single Layer
        </td>
        <td for="SOTESSCDouble">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SOTESSCDouble, new { })
        </td>
        <td>
            ESSC Double Layer
        </td>
        <td for="SOTESSCClade">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SOTESSCClade, new { })
        </td>
        <td>
            Clad
        </td>

        <td for="SOTESSCOlayNR">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SOTESSCOlayNR, new { })
        </td>
        <td>
            O/Lay not Required
        </td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.14)	D & apos; end Construction
            </b>
        </td>
    </tr>
    <tr>

        <td for="DCPetalWCrown">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().DCPetalWCrown, new { })
        </td>
        <td>
            Petal with Crown
        </td>

        <td for="DC4PetalWoCrown">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().DC4PetalWoCrown, new { })
        </td>
        <td>
            Petal without Crown
        </td>
        <td for="DCSinglePeice">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().DCSinglePeice, new { })
        </td>
        <td>
            Single Piece
        </td>

        <td for="DCTwoHalves">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().DCTwoHalves, new { })
        </td>
        <td>
            Two halves
        </td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.15) D & apos; end Receipt Condition
            </b>
        </td>
    </tr>
    <tr>

        <td for="DRCFormedPetals">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().DRCFormedPetals, new { })
        </td>
        <td>
            Formed Petals
        </td>
        <td for="DRCFormedSetup">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().DRCFormedSetup, new { })
        </td>
        <td>
            Set-up (LEMF/Other)
        </td>
        <td for="DRCFormedWelded">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().DRCFormedWelded, new { })
        </td>
        <td>
            Welded
        </td>
        <td for="DRCFormedOutside">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().DRCFormedOutside, new { })
        </td>
        <td>
            Outside
        </td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.16)	D & apos; end Overlay Type
            </b>
        </td>
    </tr>
    <tr>
        <td for="DOTESSCSingle">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().DOTESSCSingle, new { })
        </td>
        <td>
            ESSC Single Layer
        </td>

        <td for="DOTESSCDouble">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().DOTESSCDouble, new { })
        </td>
        <td>
            ESSC Double Layer
        </td>
        <td for="DOTESSCClade">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().DOTESSCClade, new { })
        </td>
        <td>
            Clad TDE
        </td>
        <td for="DOTESSCOlayNR">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().DOTESSCOlayNR, new { })
        </td>
        <td>
            O/Lay not Required BDE
        </td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.17)	Skirt # Vessel Joint
            </b>
        </td>
    </tr>
    <tr>
        <td for="SVJYring">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SVJYring, new { })
        </td>
        <td>
            Y-Ring
        </td>

        <td for="SVJBuildup">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SVJBuildup, new { })
        </td>
        <td>
            Build-up on D &apos; end
        </td>

        <td for="SVJLapJoint">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SVJLapJoint, new { })
        </td>
        <td>
            Lap Joint
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>
<br />
<br />
<div class="row" style="width:100%">
    <footer class="clsfooter">
        <table border="1" class="clstable">
            <thead class="clsPara">
                <tr>
                    <th>Rev.No</th>
                    <th>Revision Detail</th>
                    <th>Date</th>
                    <th>Prep. By</th>
                    <th>Appr.By</th>
                </tr>
            </thead>
            <tbody class="clsPara">
                <tr>
                    <td>@ViewBag.RevNo</td>
                    <td>First Issue</td>
                    <th>@ViewBag.CreatedOn</th>
                    <th>@ViewBag.CreatedBy</th>
                    <th>@ViewBag.ApprovedBy</th>
                </tr>
            </tbody>
        </table>
    </footer>
</div>
<div style="height:50px"></div>
<header class="clsheader">
    <table border="1" class="clstable">
        <tr class="clsPara">
            <td>Specification No</td>
            <td> @ViewBag.Document</td>
            <td>REV NO</td>
            <td> @ViewBag.RevNo</td>
            <td>Page 4 of 11</td>
        </tr>
        <tr class="clsPara">
            <td>
                <img src="~/Images/smalllogo.png" />
            </td>
            <td colspan="4">Planning Checklist</td>
        </tr>
    </table>
</header>
<table border="1" style="border-collapse:collapse;width:100%">
    <tr>
        <td colspan="10">
            <b>
                2.18)	Y Ring Type
            </b>
        </td>
    </tr>
    <tr>
        <td for="YRTForgedShell">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().YRTForgedShell, new { })
        </td>
        <td>
            Forged Shell
        </td>
        <td for="YRTForgedSeg">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().YRTForgedSeg, new { })
        </td>
        <td>
            Forged Segment
        </td>

        <td for="YRTReadimade">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().YRTReadimade, new { })
        </td>
        <td>
            Readimade
        </td>

        <td for="YRTPlate">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().YRTPlate, new { })
        </td>
        <td>
            Plate with Double Clad
        </td>

        <td for="YRTNR">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().YRTNR, new { })
        </td>
        <td>
            Not Required
        </td>

    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.19)	Tray Support Ring(TSR) : Nos
            </b>
        </td>
    </tr>
    <tr>
        <td for="TSRWeldBuildup">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TSRWeldBuildup, new { })
        </td>
        <td>
            Weld Build Up
        </td>

        <td for="TSRForgedShell">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TSRForgedShell, new { })
        </td>
        <td>
            Forged Shell
        </td>
        <td for="TSRPlateWOlay">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TSRPlateWOlay, new { })
        </td>
        <td>
            Plate with O/Lay
        </td>
        <td for="TSRPlate">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TSRPlate, new { })
        </td>
        <td>
            Plate with segments
        </td>
        <td for="TSRSSPlate">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TSRSSPlate, new { })
        </td>
        <td>
            SS Plate Ring
        </td>
    </tr>
    <tr>
        <td for="TSRNoofGussets">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TSRNoofGussets, new { })
        </td>
        <td>
            Nos. of segment per Ring : ____
        </td>

        <td for="TSRNR">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TSRNR, new { })
        </td>
        <td>
            Not Required
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.20)Nozzle Flange Face
            </b>
        </td>
    </tr>
    <tr>
        <td for="NFFRaised">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().NFFRaised, new { })
        </td>
        <td>
            Raised
        </td>

        <td for="NFFGroove">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().NFFGroove, new { })
        </td>
        <td>
            Groove
        </td>

        <td for="NFFOther">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().NFFOther, new { })
        </td>
        <td>
            Other
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.21)Nozzle Gasket Face Overlay
            </b>
        </td>
    </tr>
    <tr>

        <td for="NGFBfPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().NGFBfPWHT, new { })
        </td>
        <td>
            Before PWHT
        </td>
        <td for="NGFAfPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().NGFAfPWHT, new { })
        </td>
        <td>
            After PWHT
        </td>
        <td for="NGFNR">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().NGFNR, new { })
        </td>
        <td>
            Not Required
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.22)Spool Material
            </b>
        </td>
    </tr>
    <tr>
        <td for="SpoolMatSS">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SpoolMatSS, new { })
        </td>
        <td>
            SS
        </td>

        <td for="SpoolMatLAS">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SpoolMatLAS, new { })
        </td>
        <td>
            LAS + O/Lay
        </td>

        <td for="SpoolMatCS">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SpoolMatCS, new { })
        </td>
        <td>
            CS + O/L
        </td>

        <td for="SpoolMatOth">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SpoolMatOth, new { })
        </td>
        <td>
            Other
        </td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().SpoolMatOthVal)
        </td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.23)Joints in Spool
            </b>
        </td>
    </tr>
    <tr>
        <td for="JSInConnel">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().JSInConnel, new { })
        </td>
        <td>
            Inconnel
        </td>
        <td for="JSBiMetalic">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().JSBiMetalic, new { })
        </td>
        <td>
            Bi-Metallic
        </td>
        <td for="JSCladRestoration">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().JSCladRestoration, new { })
        </td>
        <td>
            Clad Restoration
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.24) SS Welding (Internals)
            </b>
        </td>
    </tr>
    <tr>
        <td for="SSWBfPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SSWBfPWHT, new { })
        </td>
        <td>
            Before PWHT
        </td>

        <td for="SSWAfPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SSWAfPWHT, new { })
        </td>
        <td>
            After PWHT
        </td>

        <td for="SSWBoth">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SSWBoth, new { })
        </td>
        <td>
            Before and After PWHT both
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.25)Vessel Support
            </b>
        </td>
    </tr>
    <tr>
        <td for="VessleSSkirt">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().VessleSSkirt, new { })
        </td>
        <td>
            Skirt
        </td>

        <td for="VessleSSupp">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().VessleSSupp, new { })
        </td>
        <td>
            Support Brackets
        </td>

        <td for="VessleSLegs">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().VessleSLegs, new { })
        </td>
        <td>
            Legs
        </td>

        <td for="VessleSSaddle">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().VessleSSaddle, new { })
        </td>
        <td>
            Saddle
        </td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.26)Skirt made in LEMF
            </b>
        </td>
    </tr>
    <tr>
        <td for="SkirtMadein1">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtMadein1, new { })
        </td>
        <td>
            Single Piece
        </td>

        <td for="SkirtMadein2">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtMadein2, new { })
        </td>
        <td>
            Two Pieces (LAS + CS)
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<br />
<br />
<div class="row" style="width:100%">
    <footer class="clsfooter">
        <table border="1" class="clstable">
            <thead class="clsPara">
                <tr>
                    <th>Rev.No</th>
                    <th>Revision Detail</th>
                    <th>Date</th>
                    <th>Prep. By</th>
                    <th>Appr.By</th>
                </tr>
            </thead>
            <tbody class="clsPara">
                <tr>
                    <td>@ViewBag.RevNo</td>
                    <td>First Issue</td>
                    <th>@ViewBag.CreatedOn</th>
                    <th>@ViewBag.CreatedBy</th>
                    <th>@ViewBag.ApprovedBy</th>
                </tr>
            </tbody>
        </table>
    </footer>
</div>
<div style="height:20px"></div>
<header class="clsheader">
    <table border="1" class="clstable">
        <tr class="clsPara">
            <td>Specification No</td>
            <td> @ViewBag.Document</td>
            <td>REV NO</td>
            <td> @ViewBag.RevNo</td>
            <td>Page 5 of 11</td>
        </tr>
        <tr class="clsPara">
            <td>
                <img src="~/Images/smalllogo.png" />
            </td>
            <td colspan="4">Planning Checklist</td>
        </tr>
    </table>
</header>
<table border="1" style="border-collapse:collapse;width:100%">
    <tr>
        <td colspan="10">
            <b>
                2.27)Fire Proofing Nuts Welding on Skirt in LEMF
            </b>
        </td>
    </tr>
    <tr>

        <td for="FPNWeldNuts">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().FPNWeldNuts, new { })
        </td>
        <td>
            Weld All Nuts
        </td>

        <td for="FPNLeaveRow">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().FPNLeaveRow, new { })
        </td>
        <td>
            Leave row from bottom for tank rotator
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.28)PWHT
            </b>
        </td>
    </tr>
    <tr>

        <td for="PWHTSinglePiece">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTSinglePiece, new { })
        </td>
        <td>
            Single Piece
        </td>

        <td for="PWHTLSRJoint">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTLSRJoint, new { })
        </td>
        <td>
            LSR Joint Allowed (In Sections)
        </td>
        <td></td>
        <td>
            No of PWHT Sec: =
        </td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().PWHTNoSec)
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.29)PTC / MTC Heat treatment
            </b>
        </td>
    </tr>
    <tr>
        <td for="PTCMTCptc">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCMTCptc, new { })
        </td>
        <td>
            PTC with Job
        </td>

        <td for="PTCMTCmtc">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCMTCmtc, new { })
        </td>
        <td>
            MTC with Job
        </td>

        <td for="PTCMTCptcSim">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCMTCptcSim, new { })
        </td>
        <td>
            PTC Simulation
        </td>
        <td for="PTCMTCmtcSim">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCMTCmtcSim, new { })
        </td>
        <td>
            MTC Simulation
        </td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.30)Saddles for PWHT / Hydrotest : (PWHT saddle for Horizontal PWHT Section)
            </b>
        </td>
    </tr>
    <tr>
        <td for="SaddlesTrans">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SaddlesTrans, new { })
        </td>
        <td>
            Transportation Saddles Nos.
        </td>

        <td for="SaddlesAddit">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SaddlesAddit, new { })
        </td>
        <td>
            Additional Saddles Nos.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.31)PWHT in Furnace:
            </b>
        </td>
    </tr>
    <tr>
        <td for="PWHTinFurnacePFS">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTinFurnacePFS, new { })
        </td>
        <td>
            PFS
        </td>
        <td for="PWHTinFurnaceHFS1">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTinFurnaceHFS1, new { })
        </td>
        <td>
            HFS1
        </td>
        <td for="PWHTinFurnaceLEMF">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTinFurnaceLEMF, new { })
        </td>
        <td>
            LEMF
        </td>
        <td>
            No of PWHT Sec: =
        </td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().PWHTinFurnaceName)
        </td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.32)Section Weight for PWHT
            </b>
        </td>
    </tr>
    <tr>

        <td for="SectionWtMore230">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SectionWtMore230, new { })
        </td>
        <td>
            &gt;230 MT
        </td>

        <td for="SectionWt200To230">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SectionWt200To230, new { })
        </td>
        <td>
            200 - 230 MT
        </td>

        <td for="SectionWt150To200">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SectionWt150To200, new { })
        </td>
        <td>
            150-200 MT
        </td>

        <td for="SectionWtLess150">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SectionWtLess150, new { })
        </td>
        <td>
            &lt; 150MT
        </td>

        <td for="SectionWtSingle">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SectionWtSingle, new { })
        </td>
        <td>
            Single Piece
        </td>
    </tr>
    <tr>
        <td for="SectionWt2Sec">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SectionWt2Sec, new { })
        </td>
        <td>
            2 Sections
        </td>

        <td for="SectionWtNoSec"></td>
        <td>
            Nos of Section: <u>&nbsp;@Html.DisplayFor(m => Model.FirstOrDefault().SectionWtNoSec, new { })</u>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.33) Axle Required for movement
            </b>
        </td>
    </tr>
    <tr>

        <td for="ARMRequired">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ARMRequired, new { })
        </td>
        <td>
            Required
        </td>

        <td for="ARMRT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ARMRT, new { })
        </td>
        <td>
            RT
        </td>
        <td for="ARMPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ARMPWHT, new { })
        </td>
        <td>
            PWHT
        </td>

        <td for="ARMSB">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ARMSB, new { })
        </td>
        <td>
            S/B & Painting
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.
                34)	CI Requirement in Hydro - test Water
            </b>
        </td>
    </tr>
    <tr>
        <td for="CLRHLess30ppm">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().CLRHLess30ppm, new { })
        </td>
        <td>
            &lt; 30 ppm
        </td>
        <td for="CLRHMore30ppm">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().CLRHMore30ppm, new { })
        </td>
        <td>
            &gt; 30 ppm
        </td>
        <td></td>
        <td>
            ppm =
        </td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().CLRHppm)
        </td>

        <td>
            Other Requirement =
        </td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().CLRHOther)
        </td>
        <td></td>
    </tr>

</table>
<br />
<div class="row" style="width:100%">
    <footer class="clsfooter">
        <table border="1" class="clstable">
            <thead class="clsPara">
                <tr>
                    <th>Rev.No</th>
                    <th>Revision Detail</th>
                    <th>Date</th>
                    <th>Prep. By</th>
                    <th>Appr.By</th>
                </tr>
            </thead>
            <tbody class="clsPara">
                <tr>
                    <td>@ViewBag.RevNo</td>
                    <td>First Issue</td>
                    <th>@ViewBag.CreatedOn</th>
                    <th>@ViewBag.CreatedBy</th>
                    <th>@ViewBag.ApprovedBy</th>
                </tr>
            </tbody>
        </table>
    </footer>
</div>
<div style="height:20px"></div>
<header class="clsheader">
    <table border="1" class="clstable">
        <tr class="clsPara">
            <td>Specification No</td>
            <td> @ViewBag.Document</td>
            <td>REV NO</td>
            <td> @ViewBag.RevNo</td>
            <td>Page 6 of 11</td>
        </tr>
        <tr class="clsPara">
            <td>
                <img src="~/Images/smalllogo.png" />
            </td>
            <td colspan="4">Planning Checklist</td>
        </tr>
    </table>
</header>
<table border="1" style="border-collapse:collapse;width:100%">
    <tr>
        <td colspan="10">
            <b>
                2.35)	Template for Support / Skirt
            </b>
        </td>
    </tr>
    <tr>

        <td for="TemplateForReq">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TemplateForReq, new { })
        </td>
        <td>
            Required
        </td>

        <td for="TemplateForNReq">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TemplateForNReq, new { })
        </td>
        <td>
            Not required
        </td>
        <td></td>
        <td>
            Other =
        </td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().N2FillOtherVal)
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.36)	N2 Flling
            </b>
        </td>
    </tr>
    <tr>

        <td for="N2FillReq">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().N2FillReq, new { })
        </td>
        <td>
            Required
        </td>
        <td for="N2FillNotReq">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().N2FillNotReq, new { })
        </td>
        <td>
            Not required
        </td>

        <td for="N2FillOther">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().N2FillOther, new { })
        </td>
        <td>
            Other Protection on internal surface
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">
            <b>
                2.37)	External Surface Treatment
            </b>
        </td>
    </tr>
    <tr>
        <td for="ESTPlate">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ESTPlate, new { })
        </td>
        <td>
            Plate Stage
        </td>

        <td for="ESTShell">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ESTShell, new { })
        </td>
        <td>
            Shell Stage
        </td>

        <td for="ESTSection">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ESTSection, new { })
        </td>
        <td>
            Section Stage
        </td>

        <td for="ESTEquip">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ESTEquip, new { })
        </td>
        <td>
            Equipment
        </td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.38)	Internal Surface Treatment
            </b>
        </td>
    </tr>
    <tr>
        <td for="ISTPlate">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISTPlate, new { })
        </td>
        <td>
            Plate Stage
        </td>

        <td for="ISTShell">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISTShell, new { })
        </td>
        <td>
            Shell Stage
        </td>

        <td for="ISTSection">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISTSection, new { })
        </td>
        <td>
            Section Stage
        </td>

        <td for="ISTEquip">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISTEquip, new { })
        </td>
        <td>
            Equipment
        </td>

        <td for="ISTAfBfPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISTAfBfPWHT, new { })
        </td>

        <td>
            After/ Before PWHT
        </td>
    </tr>
    <tr>
        <td for="ISTAfHydro">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISTAfHydro, new { })
        </td>
        <td>
            After Hydro (Clad Section)
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.39)	Coupling / Nozzle for Dump nozzles
            </b>
        </td>
    </tr>
    <tr>
        <td for="CDNSS">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().CDNSS, new { })
        </td>
        <td>
            SS
        </td>

        <td for="CDNLAS">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().CDNLAS, new { })
        </td>
        <td>
            LAS/CAS + O/Lay
        </td>

        <td for="CDNCS">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().CDNCS, new { })
        </td>
        <td>
            CS/LAS
        </td>

        <td for="CDNNotReq">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().CDNNotReq, new { })
        </td>
        <td>
            Not Required
        </td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.40)	Maximum Size of Bolts/ stud
            </b>
        </td>
    </tr>
    <tr>

        <td for="MaxSBLess1_38">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().MaxSBLess1_38, new { })
        </td>
        <td>
            &lt;&eq;1-3/8&quot;(Torque Wrench)
        </td>

        <td for="MaxSBLess1_78">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().MaxSBLess1_78, new { })
        </td>
        <td>
            &lt;&eq;1-7/8&quot;(RSL4)
        </td>

        <td for="MaxSBLess2_14">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().MaxSBLess2_14, new { })
        </td>
        <td>
            &lt;&eq;2-1/4&quot;(RSL8)
        </td>

        <td for="MaxSBLess4">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().MaxSBLess4, new { })
        </td>
        <td>
            &lt;&eq;4&quot;(Stud Tensioning)
        </td>

        <td for="MaxSBMore4">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().MaxSBMore4, new { })
        </td>
        <td>
            &gt 4 &quot;
        </td>

    </tr>
</table>