﻿

@using IEMQSImplementation
@model HashSet<PCL028>

    <table border="1" style="border-collapse:collapse;width:100%;text-align:left">
        <thead class="clsPara">
            <tr>
                <th>Sr.No</th>
                <th> Description</th>
                <th> Required? </th>
                <th> Reqt. Date </th>
                <th> Doc No. </th>
                <th> Released On </th>
            </tr>
        </thead>
        <tbody  class="clsPara">
            <tr>
                <td>1</td>
                <td>
                    Rolling Data
                </td>
                <td> @Html.CheckBox("RollDataReq", new { })</td>
                <td>
                    @Html.DisplayFor(m => Model.FirstOrDefault().RollDataReqDate, "{0:dd-MM-yyyy}")
                </td>
                <td>@Html.DisplayFor(m => Model.FirstOrDefault().RollDataDocNo)</td>
                <td>  @Html.DisplayFor(m => Model.FirstOrDefault().RollDataReleasedOn, "{0:dd-MM-yyyy}")   </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    Shelld data for Long seam welding
                </td>
                <td>@Html.CheckBox("ShellLongReq", new { })</td>
                <td>  @Html.DisplayFor(m => Model.FirstOrDefault().ShellLongReqDate, "{0:dd-MM-yyyy}") </td>
                <td>@Html.DisplayFor(m => Model.FirstOrDefault().ShellLongDocNo)</td>
                <td> @Html.DisplayFor(m => Model.FirstOrDefault().ShellLongReleasedOn, "{0:dd-MM-yyyy}") </td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    EESC of Shell
                </td>
                <td> @Html.CheckBox("ESSCShellReq", new { })</td>
                <td>  @Html.DisplayFor(m => Model.FirstOrDefault().ESSCShellReqDate, "{0:dd-MM-yyyy}")   </td>
                <td>@Html.DisplayFor(m => Model.FirstOrDefault().ESSCShellDocNo)</td>
                <td>   @Html.DisplayFor(m => Model.FirstOrDefault().ESSCShellReleasedOn, "{0:dd-MM-yyyy}")  </td>
            </tr>

            <tr>
                <td>4</td>
                <td>
                    EESC of D&apos;end
                </td>
                <td>@Html.CheckBox("ESSCDEndReq", new { })</td>
                <td>   @Html.DisplayFor(m => Model.FirstOrDefault().ESSCDEndReqDate, "{0:dd-MM-yyyy}")   </td>
                <td>@Html.DisplayFor(m => Model.FirstOrDefault().ESSCDEndDocNo)</td>
                <td>  @Html.DisplayFor(m => Model.FirstOrDefault().ESSCDEndReleasedOn, "{0:dd-MM-yyyy}")</td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    Change in Ovality due to major external welding
                </td>
                <td> @Html.CheckBox("ChangeOvalityExtReq", new { })</td>
                <td>@Html.DisplayFor(m => Model.FirstOrDefault().ChangeOvalityExtReqDate, "{0:dd-MM-yyyy}")  </td>
                <td>@Html.DisplayFor(m => Model.FirstOrDefault().ChangeOvalityExtDocNo)</td>
                <td>  @Html.DisplayFor(m => Model.FirstOrDefault().ChangeOvalityExtReleasedOn, "{0:dd-MM-yyyy}")   </td>
            </tr>

            <tr>
                <td>6</td>
                <td>
                    Change in Ovality due to Insert plate welding
                </td>
                <td> @Html.CheckBox("ChangeOvalityWeldReq", new { })</td>
                <td>   @Html.DisplayFor(m => Model.FirstOrDefault().ChangeOvalityWeldReqDate, "{0:dd-MM-yyyy}")     </td>
                <td>@Html.DisplayFor(m => Model.FirstOrDefault().ChangeOvalityWeldDocNo)</td>
                <td>  @Html.DisplayFor(m => Model.FirstOrDefault().ChangeOvalityWeldReleasedOn, "{0:dd-MM-yyyy}") </td>
            </tr>

            <tr>
                <td>7</td>
                <td>
                    Shrinkage due to TSR welding
                </td>
                <td> @Html.CheckBox("ShrinkTSRReq", new { })</td>
                <td>  @Html.DisplayFor(m => Model.FirstOrDefault().ShrinkTSRReqDate, "{0:dd-MM-yyyy}")    </td>
                <td>@Html.DisplayFor(m => Model.FirstOrDefault().ShrinkTSRDocNo)</td>
                <td>   @Html.DisplayFor(m => Model.FirstOrDefault().ShrinkTSRReleasedOn, "{0:dd-MM-yyyy}") </td>
            </tr>

            <tr>
                <td>8</td>
                <td>
                    Change in Ovality due to ISR/PWHT
                </td>
                <td>@Html.CheckBox("ChangeOvalityISRReq", new { })</td>
                <td>  @Html.DisplayFor(m => Model.FirstOrDefault().ChangeOvalityISRReqDate, "{0:dd-MM-yyyy}")  </td>
                <td>@Html.DisplayFor(m => Model.FirstOrDefault().ChangeOvalityISRDocNo)</td>
                <td> @Html.DisplayFor(m => Model.FirstOrDefault().ChangeOvalityISRReleasedOn, "{0:dd-MM-yyyy}")      </td>
            </tr>
            <tr>
                <td>9</td>
                <td>
                    D&apos;end data for Long seam welding
                </td>
                <td> @Html.CheckBox("DEendLongSeamReq", new { })</td>
                <td>   @Html.DisplayFor(m => Model.FirstOrDefault().DEendLongSeamReqDate, "{0:dd-MM-yyyy}") </td>
                <td>@Html.DisplayFor(m => Model.FirstOrDefault().DEendLongSeamDocNo)</td>
                <td>   @Html.DisplayFor(m => Model.FirstOrDefault().DEendLongSeamReleasedOn, "{0:dd-MM-yyyy}") </td>
            </tr>
            <tr>
                <td>10</td>
                <td>
                    Nozzle Dimension data
                </td>
                <td> @Html.CheckBox("NozzleReq", new { })</td>
                <td>   @Html.DisplayFor(m => Model.FirstOrDefault().NozzleReqDate, "{0:dd-MM-yyyy}")</td>
                <td>@Html.DisplayFor(m => Model.FirstOrDefault().NozzleDocNo)</td>
                <td>
                    @Html.DisplayFor(m => Model.FirstOrDefault().NozzleReleasedOn, "{0:dd-MM-yyyy}")
                </td>
            </tr>
        </tbody>
    </table>
