﻿
@using IEMQSImplementation
@model HashSet<PCL011>

    <table border="1" style="border-collapse:collapse;width:100%;text-align:left">
    <thead class="clsPara">
        <tr>
            <th>Sr. No.</th>
            <th>Description</th>
            <th>Required ?</th>
            <th>Required Date</th>
            <th>No. of fixture</th>
            <th>Avbl Qty</th>
            <th>Drg</th>
            <th>Mtrl</th>
            <th>Fabrication</th>
            <th>Del. to shop</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Template for Rolling (External Pressure)</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().TempRollExternalReq, new { })</td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().TempRollExternalReqDate, "{0:dd/MM/yyyy}")
            </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TempRollExternalNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TempRollExternalAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TempRollExternalDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TempRollExternalFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TempRollExternalMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TempRollExternalDel)</td>
        </tr>
        <tr>
            <td>2</td>
            <td>	Template for Rolling (3-6 thk plate)</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().TempRollPlateReq, new { })</td>
            <td> @Html.DisplayFor(m => Model.FirstOrDefault().TempRollPlateReqDate, "{0:dd/MM/yyyy}")</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TempRollPlateNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TempRollPlateAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TempRollPlateDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TempRollPlateFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TempRollPlateMtrl)</td>

            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TempRollPlateDel)</td>
        </tr>
        <tr>
            <td>3	</td>
            <td>Gasket face Protection Cover</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().GasketCoverReq, new { })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().GasketCoverReqDate, "{0:dd/MM/yyyy}")</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().GasketCoverNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().GasketCoverAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().GasketCoverDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().GasketCoverFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().GasketCoverMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().GasketCoverDel)</td>

        </tr>
        <tr>
            <td>4</td>
            <td>	Run-in/Run-out plate</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().RunInRunOutPlateReq, new { })</td>
            <td> @Html.DisplayFor(m => Model.FirstOrDefault().RunInRunOutPlateReqDate, "{0:dd/MM/yyyy}")</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RunInRunOutPlateNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RunInRunOutPlateAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RunInRunOutPlateDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RunInRunOutPlateFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RunInRunOutPlateMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RunInRunOutPlateDel)</td>
        </tr>
        <tr>
            <td>5</td>
            <td>	Spider for Shell</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().SpiderShellReq, new { })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().SpiderShellReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SpiderShellNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SpiderShellAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SpiderShellDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SpiderShellFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SpiderShellMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SpiderShellDel)</td>
        </tr>

        <tr>
            <td>6	</td>
            <td>Wrapper plate for Skirt</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WrapperPlateSkirtReq, new { })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().WrapperPlateSkirtReqDate, "{0:dd/MM/yyyy}") </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().WrapperPlateSkirtNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().WrapperPlateSkirtAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().WrapperPlateSkirtDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().WrapperPlateSkirtFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().WrapperPlateSkirtMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().WrapperPlateSkirtDel)</td>

        </tr>
        <tr>
            <td>7	</td>
            <td>Counter Weight</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CounterWeightReq, new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().CounterWeightReqDate, "{0:dd/MM/yyyy}")</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().CounterWeightNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().CounterWeightAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().CounterWeightDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().CounterWeightFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().CounterWeightMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().CounterWeightDel)</td>
        </tr>
        <tr>
            <td>8	</td>
            <td>Fixture for loading d ’end on Positioner</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().FixturePositionerReq, new { })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().FixturePositionerReqDate, "{0:dd/MM/yyyy}")     </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixturePositionerNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixturePositionerAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixturePositionerDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixturePositionerFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixturePositionerMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixturePositionerDel)</td>
        </tr>
        <tr>
            <td>9</td>
            <td>	Spider for Nozzle welding</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().SpiderforNozzReq, new { })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().SpiderforNozzReqDate, "{0:dd/MM/yyyy}") </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SpiderforNozzNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SpiderforNozzAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SpiderforNozzDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SpiderforNozzFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SpiderforNozzMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SpiderforNozzDel)</td>
        </tr>
        <tr>
            <td>10</td>
            <td> Saddle for PWHT</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().SaddlePWHTReq, new { })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().SaddlePWHTReqDate, "{0:dd/MM/yyyy}") </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SaddlePWHTNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SaddlePWHTAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SaddlePWHTDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SaddlePWHTFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SaddlePWHTMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SaddlePWHTDel)</td>
        </tr>
        <tr>
            <td>11	</td>
            <td> Fixture for chip back grinding and welding of D’end</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().FixtureChipBackReq, new { })</td>
            <td> @Html.DisplayFor(m => Model.FirstOrDefault().FixtureChipBackReqDate, "{0:dd/MM/yyyy}")      </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixtureChipBackNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixtureChipBackAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixtureChipBackDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixtureChipBackFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixtureChipBackMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixtureChipBackDel)</td>
        </tr>
        <tr>
            <td>12	</td>
            <td> Spider for D’end </td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().SpiderDEndReq, new { })</td>
            <td> @Html.DisplayFor(m => Model.FirstOrDefault().SpiderDEndReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SpiderDEndNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SpiderDEndAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SpiderDEndDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SpiderDEndFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SpiderDEndMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SpiderDEndDel)</td>
        </tr>
        <tr>
            <td>13</td>
            <td>	 C-Clamp for Shell turning</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CClampReq, new { })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().CClampReqDate, "{0:dd/MM/yyyy}") </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().CClampNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().CClampAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().CClampDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().CClampFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().CClampMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().CClampDel)</td>
        </tr>
        <tr>
            <td>14 </td>
            <td>Fixture for Internal Installation</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().FixtInternalInstalReq, new { })</td>
            <td> @Html.DisplayFor(m => Model.FirstOrDefault().FixtInternalInstalReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixtInternalInstalNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixtInternalInstalAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixtInternalInstalDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixtInternalInstalFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixtInternalInstalMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixtInternalInstalDel)</td>
        </tr>
    </tbody>
</table>
<div class="row" style="width:100%">
    <footer class="clsfooter">
        <table border="1" class="clstable">
            <thead class="clsPara">
                <tr>
                    <th>Rev.No</th>
                    <th>Revision Detail</th>
                    <th>Date</th>
                    <th>Prep. By</th>
                    <th>Appr.By</th>
                </tr>
            </thead>
            <tbody class="clsPara">
                <tr>
                    <td>@ViewBag.RevNo</td>
                    <td>First Issue</td>
                    <th>@ViewBag.CreatedOn</th>
                    <th>@ViewBag.CreatedBy</th>
                    <th>@ViewBag.ApprovedBy</th>
                </tr>
            </tbody>
        </table>
    </footer>
</div>
<div style="height:20px"></div>
<header class="clsheader">
    <table border="1" class="clstable">
        <tr class="clsPara">
            <td>Specification No</td>
            <td> @ViewBag.Document</td>
            <td>REV NO</td>
            <td> @ViewBag.RevNo</td>
            <td>Page 9 of 11</td>
        </tr>
        <tr class="clsPara">
            <td>
                <img src="~/Images/smalllogo.png" />
            </td>
            <td colspan="4">Planning Checklist</td>
        </tr>
    </table>
</header>
<table border="1" style="border-collapse:collapse;width:100%">
    <tbody>
        <tr>
            <td>15</td>
            <td>	 Dummy shell for head profile machining</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().DummyShellHeadReq, new { })</td>
            <td> @Html.DisplayFor(m => Model.FirstOrDefault().DummyShellHeadReqDate, "{0:dd/MM/yyyy}")</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().DummyShellHeadNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().DummyShellHeadAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().DummyShellHeadDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().DummyShellHeadFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().DummyShellHeadMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().DummyShellHeadDel)</td>
        </tr>
        <tr>
            <td>16</td>
            <td>	Shell  Liner set up fixture</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().ShellLinerReq, new { })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().ShellLinerReqDate, "{0:dd/MM/yyyy}")    </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ShellLinerNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ShellLinerAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ShellLinerDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ShellLinerFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ShellLinerMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ShellLinerDel)</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Head liner set up fixture</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().HeadLinerReq, new { })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().HeadLinerReqDate, "{0:dd/MM/yyyy}")    </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HeadLinerNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HeadLinerAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HeadLinerDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HeadLinerFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HeadLinerMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HeadLinerDel)</td>
        </tr>
        <tr>
            <td>18	</td>
            <td> Locking fixture for bracket fabrication</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().LockingFixBracketReq, new { })</td>
            <td> @Html.DisplayFor(m => Model.FirstOrDefault().LockingFixBracketReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LockingFixBracketNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LockingFixBracketAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LockingFixBracketDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LockingFixBracketFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LockingFixBracketMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LockingFixBracketDel)</td>
        </tr>
        <tr>
            <td>19 </td>
            <td>Dummy shell for Shell rotation</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().DummyShellRotationReq, new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().DummyShellRotationReqDate, "{0:dd/MM/yyyy}")</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().DummyShellRotationNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().DummyShellRotationAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().DummyShellRotationDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().DummyShellRotationFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().DummyShellRotationMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().DummyShellRotationDel)</td>
        </tr>
        <tr>
            <td>20</td>
            <td>	Locking fixture for Manway cover liner welding</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().LockingFixManwayReq, new { })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().LockingFixManwayReqDate, "{0:dd/MM/yyyy}")</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LockingFixManwayNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LockingFixManwayAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LockingFixManwayDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LockingFixManwayFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LockingFixManwayMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LockingFixManwayDel)</td>
        </tr>
        <tr>
            <td>21	</td>
            <td>External ring for ovality correction</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ExtRingReq, new { })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().ExtRingReqDate, "{0:dd/MM/yyyy}") </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ExtRingNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ExtRingAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ExtRingDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ExtRingFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ExtRingMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ExtRingDel)</td>
        </tr>
        <tr>
            <td>22	</td>
            <td>Pre-heating arrangement</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().PreHeatiArrgReq, new { })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().PreHeatiArrgReqDate, "{0:dd/MM/yyyy}")   </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().PreHeatiArrgNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().PreHeatiArrgAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().PreHeatiArrgDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().PreHeatiArrgFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().PreHeatiArrgMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().PreHeatiArrgDel)</td>
        </tr>
        <tr>
            <td>23	</td>
            <td>Fixture for PWHT</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().FixturePWHTReq, new { })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().FixturePWHTReqDate, "{0:dd/MM/yyyy}")     </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixturePWHTNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixturePWHTAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixturePWHTDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixturePWHTFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixturePWHTMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().FixturePWHTDel)</td>
        </tr>
        <tr>
            <td>24	</td>
            <td>Closing  Chip back welding</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().ClosChipReq, new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ClosChipReqDate, "{0:dd/MM/yyyy}") </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ClosChipNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ClosChipAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ClosChipDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ClosChipFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ClosChipMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ClosChipDel)</td>
        </tr>
        <tr>
            <td>25	</td>
            <td>Sleeve for stud tensioning (>=2 ¼”)</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().SleeveStudReq, new { })</td>
            <td>   @Html.DisplayFor(m => Model.FirstOrDefault().SleeveStudReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SleeveStudNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SleeveStudAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SleeveStudDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SleeveStudFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SleeveStudMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SleeveStudDel)</td>
        </tr>
        <tr>
            <td>26	</td>
            <td>Evener Beam for Job Handling</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().EvenerBeamReq, new { })</td>
            <td> @Html.DisplayFor(m => Model.FirstOrDefault().EvenerBeamReqDate, "{0:dd/MM/yyyy}")   </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().EvenerBeamNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().EvenerBeamAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().EvenerBeamDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().EvenerBeamFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().EvenerBeamMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().EvenerBeamDel)</td>
        </tr>
        <tr>
            <td>27</td>
            <td>	Weep tube air test fixture</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeepTubeReq, new { })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().WeepTubeReqDate, "{0:dd/MM/yyyy}") </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().WeepTubeNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().WeepTubeAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().WeepTubeDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().WeepTubeFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().WeepTubeMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().WeepTubeDel)</td>
        </tr>
        <tr>
            <td>28	</td>
            <td>Helium leak test arrangements</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().HeliumLeakReq, new { })</td>
            <td>   @Html.DisplayFor(m => Model.FirstOrDefault().HeliumLeakReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HeliumLeakNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HeliumLeakAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HeliumLeakDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HeliumLeakFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HeliumLeakMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HeliumLeakDel)</td>
        </tr>
        <tr>
            <td>29</td>
            <td>	Angular nozzle ID & GF machining fixture</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().AngularNozReq, new { })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().AngularNozReqDate, "{0:dd/MM/yyyy}")   </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().AngularNozNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().AngularNozAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().AngularNozDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().AngularNozFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().AngularNozMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().AngularNozDel)</td>
        </tr>
        <tr>
            <td>30 </td>
            <td>Rotation Ring</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().RotationRingReq, new { })</td>
            <td>   @Html.DisplayFor(m => Model.FirstOrDefault().RotationRingReqDate, "{0:dd/MM/yyyy}")        </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RotationRingNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RotationRingAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RotationRingDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RotationRingFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RotationRingMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RotationRingDel)</td>
        </tr>
        <tr>
            <td>31	</td>
            <td>Nozzle/MW liner OD machining fixture</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozMWReq, new { })</td>
            <td>   @Html.DisplayFor(m => Model.FirstOrDefault().NozMWReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().NozMWNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().NozMWAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().NozMWDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().NozMWFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().NozMWMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().NozMWDel)</td>
        </tr>
        <tr>
            <td>32	</td>
            <td>Taper block for weep hole drilling</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().TaperBlockReq, new { })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().TaperBlockReqDate, "{0:dd/MM/yyyy}")</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TaperBlockNoFix)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TaperBlockAvlQty)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TaperBlockDrg)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TaperBlockFab)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TaperBlockMtrl)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TaperBlockDel)</td>
        </tr>
    </tbody>
</table>


