﻿@using IEMQSImplementation
@model HashSet<PCL004>

<table border="1" style="border-collapse:collapse;width:100%">
    <thead class="clsPara">
        <tr>
            <th>Sr.No</th>
            <th> Description</th>
            <th>Not Reqd. for Project</th>
            <th>Shop</th>
            <th>M/C Shop</th>
            <th>LEMF</th>
            <th>RNW</th>
            <th>Out Side</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td> Equipment</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().EquipmentNotReq, new { }) </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().EquipmentShop, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().EquipmentMC, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().EquipmentLEMF, new { })
            </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().EquipmentRNW, new { }) </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().EquipmentOutside, new { })
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td> D’end Forming </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndFormingNotReq, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndFormingShop, new { })
            </td>

            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndFormingMC, new { })
            </td>

            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndFormingLEMF, new { })
            </td>

            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndFormingRNW, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndFormingOutside, new { })
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td> D’end Setup </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndSetupNotReq, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndSetupShop, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndSetupMC, new { })
            </td>

            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndSetupLEMF, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndSetupRNW, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndSetupOutside, new { })
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td> D’end Welding </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndWeldingNotReq, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndWeldingShop, new { })
            </td>

            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndWeldingMC, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndWeldingLEMF, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndWeldingRNW, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndWeldingOutside, new { })
            </td>

        </tr>
        <tr>
            <td>5</td>
            <td> Skirt</td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtNotReq, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtShop, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtMC, new { })
            </td>

            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtLEMF, new { })
            </td>

            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtRNW, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtOutside, new { })
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td> Y-Ring Machining </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().YRingMachiningNotReq, new { })
            </td>

            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().YRingMachiningShop, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().YRingMachiningMC, new { })
            </td>

            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().YRingMachiningLEMF, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().YRingMachiningRNW, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().YRingMachiningOutside, new { })
            </td>
        </tr>
        <tr>
            <td>7</td>
            <td> Nozzle initial Machining </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozMachiningNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozMachiningShop, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozMachiningLEMF, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozMachiningMC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozMachiningRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozMachiningOutside, new { })</td>
        </tr>
        <tr>
            <td>8</td>
            <td> Nozzle Overlay  </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().NozOverlayNotReq, new { })
            </td>
            <td>

                @Html.CheckBoxFor(m => Model.FirstOrDefault().NozOverlayMC, new { })
            </td>

            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().NozOverlayShop, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().NozOverlayLEMF, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().NozOverlayRNW, new { })
            </td>
            <td>
                @Html.CheckBoxFor(m => Model.FirstOrDefault().NozOverlayOutside, new { })
            </td>
        </tr>
        <tr>
            <td>9</td>
            <td> Manway Overlay </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManOverlayNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManOverlayShop, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManOverlayMC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManOverlayLEMF, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManOverlayRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManOverlayOutside, new { })</td>
        </tr>
        <tr>
            <td>10</td>
            <td> Nozzle Final Machining  </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozFinMachiningNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozFinMachiningShop, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozFinMachiningMC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozFinMachiningLEMF, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozFinMachiningRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozFinMachiningOutside, new { })</td>
        </tr>
        <tr>

            <td>11</td>
            <td> Nozzle Cutout WEP               </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozWEPNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozWEPShop, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozWEPMC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozWEPLEMF, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozWEPRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozWEPOutside, new { })</td>

        </tr>
        <tr>
            <td>12</td>
            <td> Long seam WEP for Shell         </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LongWEPNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LongWEPShop, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LongWEPMC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LongWEPLEMF, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LongWEPRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LongWEPOutside, new { })</td>
        </tr>
        <tr>
            <td>13</td>
            <td> Circ Seam WEP for Shell         </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CircWEPNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CircWEPShop, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CircWEPMC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CircWEPLEMF, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CircWEPRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CircWEPOutside, new { })</td>

        </tr>
        <tr>
            <td>14</td>
            <td> Lifting Cover Machining         </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LiftMachiningNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LiftMachiningShop, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LiftMachiningMC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LiftMachiningLEMF, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LiftMachiningRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LiftMachiningOutside, new { })</td>
        </tr>
        <tr>
            <td>15</td>

            <td> Lifting Cover Fabrication       </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LiftFabricationNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LiftFabricationShop, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LiftFabricationMC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LiftFabricationLEMF, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LiftFabricationRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LiftFabricationOutside, new { })</td>

        </tr>
        <tr>
            <td>16</td>
            <td> Weldable External Fabrication   </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldExFabNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldExFabShop, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldExFabMC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldExFabLEMF, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldExFabRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldExFabOutside, new { })</td>

        </tr>
        <tr>
            <td>17</td>
            <td> Weldable Internal Fabrication   </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldInFabNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldInFabShop, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldInFabMC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldInFabLEMF, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldInFabRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldInFabOutside, new { })</td>
        </tr>
        <tr>
            <td>18</td>
            <td> Nub Fabrication</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubFabNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubFabShop, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubFabMC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubFabLEMF, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubFabRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubFabOutside, new { })</td>

        </tr>
        <tr>
            <td>19</td>
            <td> Nub Machining before O/lay      </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubBeforeNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubBeforeShop, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubBeforeMC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubBeforeLEMF, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubBeforeRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubBeforeOutside, new { })</td>
        </tr>
        <tr>
            <td>20</td>
            <td> Nub Machining after O/Lay       </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubAfterNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubAfterShop, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubAfterMC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubAfterLEMF, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubAfterRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubAfterOutside, new { })</td>

        </tr>
        <tr>
            <td>21</td>
            <td> Bracket/ Internal Ring WEP      </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().BraketWEPNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().BraketWEPShop, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().BraketWEPMC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().BraketWEPLEMF, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().BraketWEPRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().BraketWEPOutside, new { })</td>
        </tr>
    </tbody>
</table>
<div class="row" style="width:100%">
    <footer class="clsfooter">
        <table border="1" class="clstable">
            <thead class="clsPara">
                <tr>
                    <th>Rev.No</th>
                    <th>Revision Detail</th>
                    <th>Date</th>
                    <th>Prep. By</th>
                    <th>Appr.By</th>
                </tr>
            </thead>
            <tbody class="clsPara">
                <tr>
                    <td>@ViewBag.RevNo</td>
                    <td>First Issue</td>
                    <th>@ViewBag.CreatedOn</th>
                    <th>@ViewBag.CreatedBy</th>
                    <th>@ViewBag.ApprovedBy</th>
                </tr>
            </tbody>
        </table>
    </footer>
</div>
<div style="height:20px"></div>
<header class="clsheader">
    <table border="1" class="clstable">
        <tr class="clsPara">
            <td>Specification No</td>
            <td> @ViewBag.Document</td>
            <td>REV NO</td>
            <td> @ViewBag.RevNo</td>
            <td>Page 8 of 11</td>
        </tr>
        <tr class="clsPara">
            <td>
                <img src="~/Images/smalllogo.png" />
            </td>
            <td colspan="4">Planning Checklist</td>
        </tr>
    </table>
</header>
<table border="1" style="border-collapse:collapse;width:100%">
    <tr>
        <td>22</td>
        <td> Nub/ Tray Support Bracket Fab.   </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubTrayFabNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubTrayFabShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubTrayFabMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubTrayFabLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubTrayFabRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubTrayFabOutside, new { })</td>

    </tr>
    <tr>
        <td>23</td>
        <td>
            Insulation Ring/ Strap Fabrication
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InsFabNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InsFabShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InsFabMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InsFabLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InsFabRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InsFabOutside, new { })</td>
    </tr>
    <tr>
        <td>24</td>
        <td>
            Catalyst Beam WEP M/C
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CatalystBeamWEPNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CatalystBeamWEPShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CatalystBeamWEPMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CatalystBeamWEPLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CatalystBeamWEPRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CatalystBeamWEPOutside, new { })</td>
    </tr>
    <tr>
        <td>25</td>
        <td>
            Catalyst Beam Fabrication
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CatalystBeamFabricationNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CatalystBeamFabricationShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CatalystBeamFabricationMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CatalystBeamFabricationLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CatalystBeamFabricationRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CatalystBeamFabricationOutside, new { })</td>
    </tr>
    <tr>
        <td>26	</td>
        <td>
            Internal tray fabrication
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InternalTrayFabricationNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InternalTrayFabricationShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InternalTrayFabricationMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InternalTrayFabricationLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InternalTrayFabricationRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InternalTrayFabricationOutside, new { })</td>
    </tr>
    <tr>
        <td>27</td>
        <td>
            Inlet Diff user Fabrication
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InletDiffuserFabricationNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InletDiffuserFabricationShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InletDiffuserFabricationMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InletDiffuserFabricationLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InletDiffuserFabricationRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InletDiffuserFabricationOutside, new { })</td>
    </tr>
    <tr>
        <td>28</td>
        <td>
            Outlet Collector
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().OutletCollectorNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().OutletCollectorShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().OutletCollectorMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().OutletCollectorLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().OutletCollectorRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().OutletCollectorOutside, new { })</td>
    </tr>
    <tr>
        <td>29</td>
        <td>
            Internal for Inclined nozzles
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InternalNozzlesNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InternalNozzlesShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InternalNozzlesMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InternalNozzlesLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InternalNozzlesRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InternalNozzlesOutside, new { })</td>
    </tr>
    <tr>
        <td>30</td>
        <td>
            Saddles
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SaddlesNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SaddlesShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SaddlesMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SaddlesLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SaddlesRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SaddlesOutside, new { })</td>
    </tr>
    <tr>
        <td>31</td>
        <td>
            Skirt template
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtTemplateNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtTemplateShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtTemplateMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtTemplateLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtTemplateRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtTemplateOutside, new { })</td>
    </tr>
    <tr>
        <td>32</td>
        <td>
            Platform Fabrication
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PlatformFabricationNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PlatformFabricationShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PlatformFabricationMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PlatformFabricationLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PlatformFabricationRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PlatformFabricationOutside, new { })</td>
    </tr>
    <tr>
        <td>33</td>
        <td>
            Platform Trial Assembly
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PlatformTrialAssemblyNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PlatformTrialAssemblyShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PlatformTrialAssemblyMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PlatformTrialAssemblyLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PlatformTrialAssemblyRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PlatformTrialAssemblyOutside, new { })</td>
    </tr>
    <tr>
        <td>34</td>
        <td>
            PWHT
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTOutside, new { })</td>
    </tr>
    <tr>
        <td>35</td>
        <td>
            Internal Installation
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InternalInstallationNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InternalInstallationShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InternalInstallationMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InternalInstallationLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InternalInstallationRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InternalInstallationOutside, new { })</td>
    </tr>
    <tr>
        <td>36</td>
        <td>
            N2 Filling
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NFillingNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NFillingShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NFillingMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NFillingLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NFillingRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NFillingOutside, new { })</td>
    </tr>
    <tr>
        <td>37</td>
        <td>
            Sand Blasting
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SandBlastingNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SandBlastingShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SandBlastingMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SandBlastingLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SandBlastingRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SandBlastingOutside, new { })</td>
    </tr>
    <tr>
        <td>38</td>
        <td>
            Painting
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PaintingNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PaintingShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PaintingMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PaintingLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PaintingRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PaintingOutside, new { })</td>
    </tr>
    <tr>
        <td>39</td>
        <td>
            Acid Cleaning
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().AcidCleaningNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().AcidCleaningShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().AcidCleaningMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().AcidCleaningLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().AcidCleaningRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().AcidCleaningOutside, new { })</td>
    </tr>
    <tr>
        <td>40	</td>
        <td>
            Weight Measurement
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeightMeasurementNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeightMeasurementShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeightMeasurementMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeightMeasurementLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeightMeasurementRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeightMeasurementOutside, new { })</td>
    </tr>
    <tr>
        <td>41</td>
        <td>
            Manway Davit
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManwayDavitNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManwayDavitShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManwayDavitMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManwayDavitLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManwayDavitRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManwayDavitOutside, new { })</td>
    </tr>
    <tr>
        <td>42</td>
        <td>
            Vessel Davit
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().VesselDavitNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().VesselDavitShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().VesselDavitMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().VesselDavitLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().VesselDavitRNW, new { })</td>
        <td>
            @Html.CheckBoxFor(m => Model.FirstOrDefault().VesselDavitOutside, new { })
        </td>
    </tr>
    <tr>
        <td>43	</td>
        <td>
            Lapping Ring
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LappingRingNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LappingRingShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LappingRingMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LappingRingLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LappingRingRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LappingRingOutside, new { })</td>
    </tr>
    <tr>
        <td> 44	</td>
        <td>
            Shipping (Ex-work / FAS / FOB / At-Port / At-site / Erection)
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ShippingNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ShippingShop, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ShippingMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ShippingLEMF, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ShippingRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ShippingOutside, new { })</td>
    </tr>
</table>
