﻿
@using IEMQSImplementation
@model HashSet<PCL012>

<table border="1" style="border-collapse:collapse;width:100%;text-align:left">
    <thead class="clsPara">
        <tr>
            <th>Sr. No.</th>
            <th>Description</th>
            <th>Required?</th>
            <th>Reqd.Dt.</th>
            <th>Doc No.</th>
            <th>Released on</th>
        </tr>
    </thead>
    <tbody class="clsPara">
        <tr>
            <td>1</td>
            <td> JPP</td>
            <td>@Html.CheckBox("JPPReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().JPPReqDate, "{0:dd/MM/yyyy}") </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().JPPDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().JPPReleasedOn, "{0:dd/MM/yyyy}")   </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Box Plot</td>
            <td>@Html.CheckBox("BoxPlotReq", new { })</td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().BoxPlotReqDate, "{0:dd/MM/yyyy}")
            </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().BoxPlotDocNo)</td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().BoxPlotReleasedOn, "{0:dd/MM/yyyy}")
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Rolling Capacity Check</td>
            <td>@Html.CheckBox("RollingCapaReq", new { })</td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().RollingCapaReqDate, "{0:dd/MM/yyyy}")
            </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RollingCapaDocNo)</td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().RollingCapaReleasedOn, "{0:dd/MM/yyyy}")
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Improvement Budget</td>
            <td>@Html.CheckBox("ImprovBudgetReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ImprovBudgetReqDate, "{0:dd/MM/yyyy}")</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ImprovBudgetDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ImprovBudgetReleasedOn, "{0:dd/MM/yyyy}")</td>
        </tr>
        <tr>
            <td>5</td>
            <td>RCCP Break-up</td>
            <td>@Html.CheckBox("RCCPBreakUpReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RCCPBreakUpReqDate, "{0:dd/MM/yyyy}")</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RCCPBreakUpDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RCCPBreakUpReleasedOn, "{0:dd/MM/yyyy}") </td>
        </tr>
        <tr>
            <td>6</td>
            <td>Schedule in Concerto</td>
            <td>@Html.CheckBox("SchedConcertoReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SchedConcertoReqDate, "{0:dd/MM/yyyy}") </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SchedConcertoDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SchedConcertoReleasedOn, "{0:dd/MM/yyyy}")  </td>
        </tr>
        <tr>
            <td>7</td>
            <td>Schedule in Excel and Link with Concerto</td>
            <td>@Html.CheckBox("SchedExlReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SchedExlReqDate, "{0:dd/MM/yyyy}") </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SchedExlDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SchedExlReleasedOn, "{0:dd/MM/yyyy}")</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Subcontracting plan</td>
            <td>@Html.CheckBox("SubcontPlanReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SubcontPlanReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SubcontPlanDocNo)</td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().SubcontPlanReleasedOn, "{0:dd/MM/yyyy}")
            </td>
        </tr>
        <tr>
            <td>9</td>
            <td>Long seam </td>
            <td>@Html.CheckBox("LongSeamReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LongSeamReqDate, "{0:dd/MM/yyyy}")   </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LongSeamDocNo)</td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().LongSeamReleasedOn, "{0:dd/MM/yyyy}")
            </td>
        </tr>
        <tr>
            <td>10</td>
            <td>Circ Seam </td>
            <td>@Html.CheckBox("CircSeamReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().CircSeamReqDate, "{0:dd/MM/yyyy}")</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().CircSeamDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().CircSeamReleasedOn, "{0:dd/MM/yyyy}")</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Linear fabrication procedure </td>
            <td>@Html.CheckBox("LineFabReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LineFabReqDate, "{0:dd/MM/yyyy}")   </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LineFabDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LineFabReleasedOn, "{0:dd/MM/yyyy}")</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Nozzle # Shell</td>
            <td>@Html.CheckBox("NozzleShellReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().NozzleShellReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().NozzleShellDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().NozzleShellReleasedOn, "{0:dd/MM/yyyy}") </td>
        </tr>
        <tr>
            <td>13</td>
            <td>Rolling Capacity Re-Check based on TC</td>
            <td>@Html.CheckBox("RollCapaReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RollCapaReqDate, "{0:dd/MM/yyyy}") </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RollCapaDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RollCapaReleasedOn, "{0:dd/MM/yyyy}")   </td>
        </tr>
    </tbody>
</table>
<div class="row" style="width:100%">
    <footer class="clsfooter">
        <table border="1" class="clstable">
            <thead class="clsPara">
                <tr>
                    <th>Rev.No</th>
                    <th>Revision Detail</th>
                    <th>Date</th>
                    <th>Prep. By</th>
                    <th>Appr.By</th>
                </tr>
            </thead>
            <tbody class="clsPara">
                <tr>
                    <td>@ViewBag.RevNo</td>
                    <td>First Issue</td>
                    <th>@ViewBag.CreatedOn</th>
                    <th>@ViewBag.CreatedBy</th>
                    <th>@ViewBag.ApprovedBy</th>
                </tr>
            </tbody>
        </table>
    </footer>
</div>
<div style="height:20px"></div>
<header class="clsheader">
    <table border="1" class="clstable">
        <tr class="clsPara">
            <td>Specification No</td>
            <td> @ViewBag.Document</td>
            <td>REV NO</td>
            <td> @ViewBag.RevNo</td>
            <td>Page 10 of 11</td>
        </tr>
        <tr class="clsPara">
            <td>
                <img src="~/Images/smalllogo.png" />
            </td>
            <td colspan="4">Planning Checklist</td>
        </tr>
    </table>
</header>
<table border="1" style="border-collapse:collapse;width:100%">
    <tbody>
        <tr>
            <td>14</td>
            <td>Table of Nozzles</td>
            <td>@Html.CheckBox("TablesNozReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TablesNozReqDate, "{0:dd/MM/yyyy}") </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TablesNozDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TablesNozReleasedOn, "{0:dd/MM/yyyy}")</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Table of Internals</td>
            <td>@Html.CheckBox("TableIntReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TableIntReqDate, "{0:dd/MM/yyyy}")   </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TableIntDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TableIntReleasedOn, "{0:dd/MM/yyyy}")   </td>
        </tr>
        <tr>
            <td>16</td>
            <td>Table of Externals</td>
            <td>@Html.CheckBox("TableExtReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TableExtReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TableExtDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().TableExtReleasedOn, "{0:dd/MM/yyyy}")</td>
        </tr>
        <tr>
            <td>17</td>
            <td>HTR for Edge Breaking</td>
            <td>@Html.CheckBox("HTREdgeReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTREdgeReqDate, "{0:dd/MM/yyyy}")   </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTREdgeDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTREdgeReleasedOn, "{0:dd/MM/yyyy}") </td>
        </tr>
        <tr>
            <td>18</td>
            <td>HTR for Rolling</td>
            <td>@Html.CheckBox("HTRRollReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRRollReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRRollDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRRollReleasedOn, "{0:dd/MM/yyyy}")</td>
        </tr>
        <tr>
            <td>19</td>
            <td>HTR for Re-Rolling</td>
            <td>@Html.CheckBox("HTRReRollReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRReRollReqDate, "{0:dd/MM/yyyy}") </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRReRollDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRReRollReleasedOn, "{0:dd/MM/yyyy}")</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Reference Line Sketch</td>
            <td>@Html.CheckBox("RefLineSketchReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RefLineSketchReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RefLineSketchDocNo)</td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().RefLineSketchReleasedOn, "{0:dd/MM/yyyy}")
            </td>
        </tr>
        <tr>
            <td>21</td>
            <td>HTR for section PWHT</td>
            <td>@Html.CheckBox("HTRSecPWHTReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRSecPWHTReqDate, "{0:dd/MM/yyyy}")    </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRSecPWHTDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRSecPWHTReleasedOn, "{0:dd/MM/yyyy}")       </td>
        </tr>
        <tr>
            <td>22</td>
            <td>HTR for closing seam LSR</td>
            <td>@Html.CheckBox("HTRClosingReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRClosingReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRClosingDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRClosingReleasedOn, "{0:dd/MM/yyyy}") </td>
        </tr>
        <tr>
            <td>23</td>
            <td>HTR for Nozzels/Manways </td>
            <td>@Html.CheckBox("HTRNozzReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRNozzReqDate, "{0:dd/MM/yyyy}") </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRNozzDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRNozzReleasedOn, "{0:dd/MM/yyyy}")  </td>
        </tr>
        <tr>
            <td>24</td>
            <td>HTR for PWHT</td>
            <td>@Html.CheckBox("HTRPWHTReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRPWHTReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRPWHTDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRPWHTReleasedOn, "{0:dd/MM/yyyy}")</td>
        </tr>
        <tr>
            <td>25</td>
            <td>HTR for LSR</td>
            <td>@Html.CheckBox("HTRLSRReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRLSRReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRLSRDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRLSRReleasedOn, "{0:dd/MM/yyyy}")</td>
        </tr>
        <tr>
            <td>26</td>
            <td>Handling plan</td>
            <td>@Html.CheckBox("HandlingPlanReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HandlingPlanReqDate, "{0:dd/MM/yyyy}") </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HandlingPlanDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HandlingPlanReleasedOn, "{0:dd/MM/yyyy}")</td>
        </tr>
        <tr>
            <td>27</td>
            <td>Location of Tank Rotator and load on Floor</td>
            <td>@Html.CheckBox("LocationTankRotatorReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LocationTankRotatorReqDate, "{0:dd/MM/yyyy}")      </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LocationTankRotatorDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LocationTankRotatorReleasedOn, "{0:dd/MM/yyyy}")   </td>
        </tr>
        <tr>
            <td>27</td>
            <td>Hydrotest arrangement and load on Floor</td>
            <td>@Html.CheckBox("HydrotestReq", new { })</td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().HydrotestReqDate, "{0:dd/MM/yyyy}")
            </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HydrotestDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().HydrotestReleasedOn, "{0:dd/MM/yyyy}")</td>
        </tr>
        <tr>
            <td>28</td>
            <td>Internal fabrication procedure</td>
            <td>@Html.CheckBox("IntFabReq", new { })</td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().IntFabReqDate, "{0:dd/MM/yyyy}")
            </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().IntFabDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().IntFabReleasedOn, "{0:dd/MM/yyyy}")   </td>
        </tr>
        <tr>
            <td>28</td>
            <td>Baffle and Tube insertion Procedure</td>
            <td>@Html.CheckBox("BaffleTubeReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().BaffleTubeReqDate, "{0:dd/MM/yyyy}")    </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().BaffleTubeDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().BaffleTubeReleasedOn, "{0:dd/MM/yyyy}")  </td>
        </tr>
        <tr>
            <td>29</td>
            <td>Surface Treatment Request</td>
            <td>@Html.CheckBox("SurfaceTreatRequestReq", new { })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SurfaceTreatRequestReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SurfaceTreatRequestDocNo)</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SurfaceTreatRequestReleasedOn, "{0:dd/MM/yyyy}")  </td>
        </tr>
    </tbody>
</table>

