﻿
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Project MKOM List
        </div>
        <div class="tools"> </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblKOMHeader" cellspacing="0">
            <thead>
                <tr>
                    <th class="all">Contract</th>
                    <th class="all">Project</th>
                    <th class="min-phone-l">Customer</th>
                    <th class="min-phone-l">Equipment</th>
                    <th class="min-phone-l">Zero Date</th>
                    <th class="min-phone-l">Status</th>
                    <th class="min-phone-l">Action</th>
                    <th class="" style="display:none;">HeaderId</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        var table = $('#tblKOMHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/KOM/ProjMaintain/LoadMKOMProjHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'async': false
                });
            },
            "columns": [{
                "bSortable": true,
                "sClass": "center",
                "name": "Contract",
                "ColName": "c4.t_cono+'-'+ c4.t_desc"
            }, {
                "bSortable": true,
                "sClass": "center",
                "name": "Project",
                "ColName": "kom1.Project+'-'+com1.t_dsca"
            }, {
                "sClass": "center",
                "name": "Customer",
                "ColName": "Customer"
            }, {
                "sClass": "center",
                "name": "Equipment",
                "ColName": "com1.t_dsca"
            }, {
                "sClass": "center",
                "name": "ZeroDate",
                "attr": "date",
                "ColName": "ZeroDate"
            }, {
                "sClass": "center",
                "name": "Status",
                "ColName": "Status"
            }, {
                "bSortable": false,
                "sClass": "center",
                "render": function (data, type, row, meta) {
                    var buttons = "";
                    buttons = '<center><a title="View" href="' + WebsiteURL + '/KOM/ProjMaintain/ProjLineDetails?Id=' + row[6] + '&Stage=MKOM"><i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                    return buttons;
                }
            }, {
                "sClass": "hide"
            }]
        });
        table.dtSearchFilter();
    });
</script>
