﻿@using IEMQSImplementation
@model HTR001
@{
    string AttachDocs = "fuAttachDocs";
}
<style>
    .clsNewBtn {
        height: 20px !important;
        padding: 0px 5px;
    }

    .textboxwidth {
        width: 200px;
    }
</style>
<script src="~/Scripts/bootbox.js"></script>

@*File Upload in Grid end*@

<div class="form-group">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            HTR Components List
                        </div>
                        <div class="tools">
                            <div class="btn-group">
                                <a id="btnNew" name="btnNew" onclick="ShowNewRecord(this);" style="margin-right:5px;" class="btn btn-circle white btn-outline btn-sm"><i class="fa fa-"></i> New</a>
                            </div>
                        </div>
                        <div class="tools" id="dvExportLine" style="margin-right:5px;">
                            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/HTR/Maintain/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLine" })
                        </div>
                        <div class="tools" style="margin-right:10px;">
                            <div class="btn-group">
                                <div class="btn-group dt-btn">
                                    <label onclick="TablePortletMaximize(this,-87,-351);" class="btn btn-circle white btn-outline btn-sm" title="Panel Maximize"><i class="fa fa-expand"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmHTRLinesDet", @class = "form-horizontal" }))
                        {
                            <table class="table table-striped table-bordered table-hover dt-responsive" id="tblAHTR" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th class="all">Sub HTR no.</th>
                                        <th class="all" style="display:none">Header Id</th>
                                        <th class="all" style="display:none">Line Id</th>
                                        <th class="all">Seam No<div class="textboxwidth"></div></th>
                                        <th class="all">Part No<div class="textboxwidth"></div></th>
                                        <th class="all">Heat No<div class="textboxwidth"></div></th>
                                        <th class="all">Drawing No<div class="textboxwidth"></div></th>
                                        <th class="all">Drg.<br />Rev.<div class=""></div></th>
                                        <th class="all">HTP Reference<div class="textboxwidth"></div></th>
                                        <th class="all">PTC/MTC/PQR<div class="textboxwidth"></div></th>
                                        <th class="all">Description<div class="textboxwidth"></div></th>
                                        <th class="all">Material Spec<div class="textboxwidth"></div></th>
                                        <th class="all">Size<div class=""></div></th>
                                        <th class="all">Quantity</th>
                                        <th class="all">Total<br />Wt (kg)</th>
                                        <th class="all">Insp. Agency</th>
                                        <th class="all">Material From<div class="textboxwidth"></div></th>
                                        <th class="all">Material To<div class="textboxwidth"></div></th>
                                        <th class="all">ICS By<div class="textboxwidth"></div></th>
                                        <th class="all">Project<br />No.<div class=""></div></th>
                                        <th class="all">Revision<div class=""></div></th>
                                        @*<th class="all">Upload Document<div class="textboxwidth"></div></th>*@
                                        <th class="all">Action</th>
                                    </tr>
                                </thead>
                            </table>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    var status1 = '@Model.Status';
    function TablePortletMaximize(portlet, TopPosition, LeftPosition) {
        var panel = $(portlet).closest(".portlet");
        var pnlpos = $(panel).offset();
        if (panel.hasClass('portlet-maximize')) { // Panel Minimize
            $(portlet).html('<i class="fa fa-expand"></i>').prop('title', "Panel Maximize");
            panel.animate({
                width: "100%",
                height: "100%",
                top: pnlpos.top * -1,
                left: pnlpos.left * -1
            }, 1000);
            setTimeout(function () {
                panel.removeClass('portlet-maximize');
                $('html,body').css("overflow", "").animate({ scrollTop: $(panel).offset().top - 70 }, 1000); // auto main scrollbar;
                if ($('.bootbox.modal').length > 0) {
                    $('.bootbox.modal').css("overflow-y", "");
                    panel.css("position", "");
                }
            }, 1000);
        } else { // Panel Maximize
            $(portlet).html('<i class="fa fa-compress"></i>').prop('title', "Panel Minimize");
            $('html,body').animate({ scrollTop: 0 }, 1000).css("overflow", "hidden"); // hide main scrollbar
            if ($('.bootbox.modal').length > 0) { //  if table in Modal Popup
                $('.bootbox.modal').animate({ scrollTop: 0 }, 1000).attr("style", $('.bootbox.modal').attr("style") + "; overflow-y:hidden !important"); // used this cuz JQuery.css funtion not add "!important" in property
                panel.css("position", "absolute");
                panel.addClass('portlet-maximize').animate({
                    width: '100vw',
                    height: '100vh',
                    top: TopPosition,//-87,
                    left: LeftPosition //-351
                }, 1000);
            } else {
                panel.addClass('portlet-maximize').animate({
                    width: '100vw',
                    height: '100vh',
                    top: pnlpos.top * -1,
                    left: pnlpos.left * -1,
                }, 1000);
            }
        }
        setTimeout(function () {
            $('.dataTable[id]', panel).DataTable().columns.adjust();
        }, 1000);
    }
    var message = "";
    var IsPromoted = false;

    function ShowPopUp(LineId) {
        Load_File_Upload(LineId);
    }
    $(document).ready(function () {


                                        var table = $('#tblAHTR');
                                        var oTable = table.dataTable({
                                            "language": {
                                                "aria": {
                                                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                                                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
                                            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/HTR/Maintain/LoadHTRLineGridData",
            "fnServerParams": function (aoData) {
                                    aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": parseInt('@Model.HeaderId') },
                            { "name": "MTStatus", "value": '@Model.Status' },
                            { "name": "Flag", "value": '@ViewBag.EditFlag' }
                            );
                                },
                "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                                        'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {

                        if (data.iTotalRecords > 0) {
                            if ('@Model.Status' != 'Draft' && '@ViewBag.EditFlag'.toLowerCase() == "false") {
                                $('#btnPromote').prop('disabled', true);
                            }
                            else {
                                $('#btnPromote').prop('disabled', false)
                            }
                            $("#btnPrintNew").show();
                        }
                        else {
                            $("#btnPrintNew").prop('disabled', true);
                            $('#btnPromote').prop('disabled', true);
                        }
                        $(".txtStrWhere", "#dvExportLine").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLine").val(data.strSortOrder);
                                            fnCallback(data);
                        $('input[maxlength]').maxlength({
                                                alwaysShow: true,
                            //placement: 'top-center'
                        });
                        LoadMultiSelect();



                                        },
                    'async': false
                });
                    ResetAddRow();

                                },
            "columns": [
                {
                    "sClass": "center", "bSortable": false,
                    },
                {
                    "sClass": "hide"
                },
                {
                    "sClass": "hide"
                },
                {
                    "sClass": "center", "name": "SeamNo"
                },

                {
                    "sClass": "center", "name": "PartNo"
                },
                {
                    "sClass": "center", "name": "HeatNo"
                },
                {
                    "sClass": "center", "name": "DrawingNo"
                },
                {
                    "sClass": "center", "name": "DrawingRev"
                },
                {
                    "sClass": "center", "name": "HTPReference"
                },
                {
                    "sClass": "center", "name": "PTCMTCPQR"
                },
                {
                    "sClass": "center", "name": "Description"
                },
                {
                    "sClass": "center", "name": "MaterialSpec"
                },
                {
                    "sClass": "center", "name": "SizeThickness"
                },
                {
                    "sClass": "center", "name": "Quantity"
                },
                {
                    "sClass": "center", "name": "TotalWeight"
                },
                {
                    "sClass": "center", "name": "InspectionAgency"
                },
                {
                    "sClass": "center", "name": "MaterialFrom"
                },
                {
                    "sClass": "center", "name": "MaterialTo"
                },
                {
                    "sClass": "center", "name": "ICSBy"
                },
                {
                    "sClass": "center", "name": "ProjectNumber"
                },
                   {
                    "sClass": "center readlonyRev", "name": "Revision", "readonly": "readonly"
                }
                //,
                //{
                //    "sClass": "center readlonyRev", "name": "UploadDoc", "readonly": "readonly"
                //}
                ,
                {
                    "bSortable": false,
                    "sClass": "center"
                },
            ]
        });
        table.dtSearchFilter();

        $('#tblAHTR').delegate(".numeric", "focusin", function () {
            $.extend($.fn.autoNumeric.defaults, {
                            aSep: '',
                aDec: '.'
            });
            $(this).autoNumeric('init', { vMin: '0', vMax: "9999999999", aForm: "false" });
                        });

        $('#frmHTRLinesDet').validate({
            rules: {
                SeamNo0: { required: true, },
                PartNo0: { required: true, },
                HeatNo0: { required: true, },
                DrawingNo0: { required: true, },
                DrawingRev0: { required: true, },
                HTPReference0: { required: true, },
                PTCMTCPQR0: { required: true, },
                Description0: { required: true, },
                MaterialSpec0: { required: true, },
                SizeThickness0: { required: true, },
                Quantity0: { required: true, },
                TotalWeight0: { required: true, },
                InspectionAgency0: { required: true, },
                MaterialFrom0: { required: true, },
                MaterialTo0: { required: true, },
                //ICSBy0: { required: true, },
                //ProjectNumber0: { required: true, },
            },
            messages: {
                SeamNo0: { required: "Seam No is required.", },
                PartNo0: { required: "Part No is required.", },
                HeatNo0: { required: "Heat No is required.", },
                DrawingNo0: { required: "Drawing No is required.", },
                DrawingRev0: { required: " Drawing Rev No is required.", },
                HTPReference0: { required: "HTP Reference is required.", },
                PTCMTCPQR0: { required: "PTCMTCPQR is required.", },
                Description0: { required: "Description is required.", },
                MaterialSpec0: { required: "Material Specification is required.", },
                SizeThickness0: { required: "Size Thickness is required.", },
                Quantity0: { required: "Quantity is required.", },
                TotalWeight0: { required: "Total Weight is required.", },
                InspectionAgency0: { required: "Inspection Agency is required.", },
                MaterialFrom0: { required: "Material From is required.", },
                MaterialTo0: { required: "Material To is required.", },
                //ICSBy0: { required: "ICS By is required.", },
                //ProjectNumber0: { required: "Project Number is required.", },
            }
                        });
    });
    function ClearAll() {
        $("#LineId0").val('');
        $("#SeamNo0").val('');
        $("#PartNo0").val('');
        $("#HeatNo0").val('');
        $("#DrawingNo0").val('');
        $("#DrawingRev0").val('');
        $("#HTPReference0").val('');
        $("#PTCMTCPQR0").val('');
        $("#Description0").val('');
        $("#MaterialSpec0").val('');
        $("#SizeThickness0").val('');
        $("#Quantity0").val('');
        $("#TotalWeight0").val('');
        $("#InspectionAgency0").val('');
        $("#MaterialFrom0").val('');
        $("#MaterialTo0").val('');
        $("#ICSBy0").val('');
        $("#ProjectNumber0").val('');
        }
      function LoadMultiSelect() {
        $("select[data-name='ddlmultiple']").select2({
                                caption: "--Select Notes--",
            width: '350px'
        });
    }

                        //onclick on New Button
    function ShowNewRecord(obj) {
        if ($("#tbl_document_list_fuAttachDoc tbody .dataTables_empty").length > 0)
            DisplayNotiMessage("error", "File Upload is Pending", "Error");
       else if ($(obj).val() == "New") {
            rowStatus = '@Model.Status';
            if ($('#spnStatus').text() == '@clsImplementationEnum.TestPlanStatus.Approved.GetStringValue()' && rowStatus == '@clsImplementationEnum.TestPlanStatus.Approved.GetStringValue()') {
                bootbox.dialog({
                    title: "Revise Confirmation",
            message: "Do you want to revise?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        insertrecord(obj);
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }
            }
            });
            }
            else { insertrecord(obj); }
                    }
            else {
                        insertrecord(obj);
        }

    }


                        //insert new Line
    function insertrecord(obj) {
        $('#tblAHTR').find("tbody tr:first").toggle();
        $('#SeamNo0').focus();

        if ($('#tblAHTR').find("tbody tr:first").is(":visible")) {
            $(obj).html('<i class="fa fa-times"></i> Cancel');
            ClearAll();
            var delayedFn, blurredFrom;
            $('#tblAHTR').find("tbody tr:first").on('blur', 'a', function (event) {
                blurredFrom = event.delegateTarget;
                delayedFn = setTimeout(function () {
                    SaveNewLine();
                }, 0);
            });
            $('#tblAHTR').find("tbody tr:first").on('focus', 'a', function (event) {
                if (blurredFrom === event.delegateTarget) {
                    clearTimeout(delayedFn);
                }
            });
        }
        else {
                                ClearAll();
            $(obj).html('<i class="fa fa-plus"></i> New');
                            }
                        }
                        //Save New Line
    function SaveNewLine() {
                            if ($("#frmHTRLinesDet").valid()) {
                                var formData = new FormData();
                                var frmValues = $('#frmHTRLinesDet').serializeArray();
                                    $.each(frmValues, function (key, input) {
                                    formData.append(input.name, input.value);
                                });

                                // save all user inserted items in JS object
                                var userInputObj = {};
                                $(frmValues).each(function (i, field) {
                                    userInputObj[field.name] = field.value;
                                });

                                // AJAX call
            $.ajax({
                url: WebsiteURL + '/HTR/Maintain/InsertNewLine',
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        $('#tblAHTR').DataTable().ajax.reload();
                        $('#RevNo').val(data.Revision);
                        $('#spnStatus').text(data.Status);

                        // automatically add new row (line-form)
                        $('#tblAHTR').find("tbody tr:first").toggle();

                        // load all user inserted items in line-form (from JS object)
                        $("#SeamNo0").val(userInputObj['SeamNo0']);
                        $("#PartNo0").val(userInputObj['PartNo0']);
                        $("#HeatNo0").val(userInputObj['HeatNo0']);
                        $("#DrawingNo0").val(userInputObj['DrawingNo0']);
                        $("#DrawingRev0").val(userInputObj['DrawingRev0']);
                        $("#HTPReference0").val(userInputObj['HTPReference0']);
                        $("#PTCMTCPQR0").val(userInputObj['PTCMTCPQR0']);
                        $("#Description0").val(userInputObj['Description0']);
                        $("#MaterialSpec0").val(userInputObj['MaterialSpec0']);
                        $("#SizeThickness0").val(userInputObj['SizeThickness0']);
                        $("#Quantity0").val(userInputObj['Quantity0']);
                        $("#TotalWeight0").val(userInputObj['TotalWeight0']);
                        $("#InspectionAgency0").val(userInputObj['ddlmultiple0']);
                        $("#MaterialFrom0").val(userInputObj['MaterialFrom0']);
                        $("#MaterialTo0").val(userInputObj['MaterialTo0']);
                        $("#ICSBy0").val(userInputObj['ICSBy0']);
                        $("#ProjectNumber0").val(userInputObj['ProjectNumber0']);

                        $('#SeamNo0').focus();
                        $('#btnNew').html('<i class="fa fa-times"></i> Cancel');
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
        else {
                                HighlightInValidControls();
                                return false;
                            }
                        }

                        //Revise No
                        function SetRevisionNo(LineID)
                        {
                            bootbox.confirm({
                                message: "Do you want to revise this record?",
            buttons:
                                {
                                    confirm:
                                    {
                                        label: 'Yes',
                    className: 'btn-success'
                                        },
                cancel:
                                    {
                                        label: 'No',
                    className: 'btn-danger'
                }
                                },
            callback: function(result) {
                                    if (result)
                                    {
                    $.ajax({
                                            url: WebsiteURL + '/HTR/Maintain/SetReviseNo',
                        data: { LineID: LineID },
                        type: 'POST',
                        async: false,
                        beforeSend: function() {
                                                showLoading(true);
                                            },
                        complete: function() {
                                                showLoading(false);
                                            },
                        success: function(data) {
                                                if (data.Key)
                                                {
                                                    DisplayNotiMessage("success", data.Value, "Success");
                                $('#tblAHTR').DataTable().ajax.reload();
                                                }
                                                else
                                                {
                                                    DisplayNotiMessage("error", data.Value, "Error");
                                                }
                                            }
                                        });
                                    }
                                }
                            });
                        }

                        //Reset Row
                        function ResetAddRow()
                        {
                                $('#tblAHTR').find("tbody tr:first").hide();
                                $('#tblAHTR').find("tbody tr:first").css("background-color", "#fbffb2");
                                $("#btnNew").html('<i class="fa fa-plus"></i> New');
                                ClearAll();
                        }

                        //Check Status and Validate Data while Updating row
                        function UpdateData(objColumn, rowID, IsValid) {

        rowStatus = '@Model.Status';
        if ($('#spnStatus').text() == '@clsImplementationEnum.TestPlanStatus.Approved.GetStringValue()' && rowStatus == '@clsImplementationEnum.TestPlanStatus.Approved.GetStringValue()') {
            bootbox.dialog({
                title: "Revise Confirmation",
                message: "Do you want to revise?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            ValidateData(objColumn, rowID, IsValid);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }

                }
            });
        }
        else {
            ValidateData(objColumn, rowID, IsValid);
        }
    }
    //Validate Column while updating record
    function ValidateData(objColumn, rowID, IsValid) {
                            var columnValue = $(objColumn).val();
                            var columnName = $(objColumn).attr("colname");
        if (columnName == 'InspectionAgency') {
            columnValue = columnValue.join()
        }
        if (IsValid) {
            if (columnValue == "") {
                DisplayNotiMessage("info", columnName + " is required", "Info");
                return false;
            }
            else {
                UpdateDetails(rowID, columnName, columnValue);
            }
        }
        else {
                                UpdateDetails(rowID, columnName, columnValue);
                            }
                        }
                        //Update Actual Data
    function UpdateDetails(rowID, columnName, columnValue) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/HTR/Maintain/UpdateDetails",
            datatype: 'json',
            async: false,
            data: { lineId: rowID, columnName: columnName, columnValue: columnValue },
            success: function (result) {
                if (result.Key) {
                    $('#RevNo').val(result.Revision);
                    $('#spnStatus').text(result.Status);
                }
                else {
                    DisplayNotiMessage("error", result.Value, "Error");
                }
            },
            error: function () {
                DisplayNotiMessage("error", result.Value, "Error");
            }
        });
    }

    //Delete Line
    function DeleteRecord(LineID) {
        bootbox.confirm({
            message: "Do you want to delete this detail?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: WebsiteURL + '/HTR/Maintain/DeleteLine',
                        data: { LineID: LineID },
                        type: 'POST',
                        async: false,
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        success: function (data) {
                            if (data.Key) {
                                DisplayNotiMessage("success", data.Value, "Success");
                                $('#tblAHTR').DataTable().ajax.reload();
                            }
                            else {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                        }
                    });
                }
            }
        });
    }


    //File Upload Start
    function Load_File_Upload(LineId) {
        if (LineId != undefined) {
            var vTableId = 0;
            vTableId = LineId;
            var IsDisable = false;
            if ($("#spnStatus").text() != '@clsImplementationEnum.CommonStatus.DRAFT.GetStringValue()') {
                IsDisable = true;
            }

            var objFile = {
                TableName: 'HTR002//LoadingSketch//' + vTableId + '//R' + '@Model.RevNo',
                TableId: vTableId,
                Path: '//HTR002//LoadingSketch//' + vTableId + '//R' + '@Model.RevNo',
                ControlID: '@(AttachDocs.ToString())',
                IsMultipleUploaded: true,
                ShowDeleteAction: true,
                ShowDownloadBtn: true,
                RemoveOnlyCreatedByMe: true,
                SuccessCallbackFunction: "callbackfuntions()",
                IsRequired: false,
                ViewerId: 1,
                IsDisabled: IsDisable
            };

            Load_File_Upload_Partial_View(objFile, 'UploadFile', true);
        }
    }

     function callbackfuntions(){

        if(message == "@clsImplementationMessage.CommonMessages.Insert")
        {
            $("#btnSubmit").show();
        }

        if(IsPromoted)
        {
            message = "";
        }
        IsPromoted = false; message = "";
    }
    //File Upload End
    var HdLineId = "";
    function AddComponentDetail(LineId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/HTR/Maintain/AddComponentDetail?HeaderId=" + '@Model.HeaderId' + "&Status=" + '@Model.Status' + "&LineId=" + LineId,
            datatype: 'html',
            async: false,
            success: function (data) {
                bootbox.dialog({
                    title: "Component Detail",
                    message: data,
                    size: "medium",
                    buttons: {
                        Print: {
                            Label: "",
                            className: 'hide',
                            callback: function () {

                            },
                            Cancel: {
                                label: 'Close',
                                className: 'btn btnclose',
                                callback: function () { }
                            }
                        }
                    }
                });

        if (status1 != "Draft") {
            $("#btnChildNew").attr("disabled", "disabled");
            $(".clsdelete").attr("disabled","disabled");
        }
        else {
            $("#btnChildNew").removeAttr("disabled", "disabled");
            $(".clsdelete").removeAttr("disabled", "disabled");
        }

            },
        });
    }
</script>