﻿

@using IEMQSImplementation
@model PCL017
<style>
    .iconspace {
        margin-left: 10px !important;
    }
</style>
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />
<script>
    var Status = '@ViewBag.Status';
    $(document).ready(function () {
        $(".date-picker").datepicker({ orientation: "auto" });
        $('input[maxlength]').maxlength({ alwaysShow: true, });
        debugger
        if (Status != "@clsImplementationEnum.PLCStatus.SendForApprovel.GetStringValue()") {
            $('div.fdControls :input').attr('disabled', true);
            $(".savedraft").hide();
        }
        IsDisplayOnly();
        var strHeader = '@ViewBag.HeaderId';
        $("#txtHSCDocHeader").val(strHeader);
    });

    function SaveAsDraft() {
        if (PostValidationForSave()) {
            if ($("#frmHSCDoc").valid()) {
                var frmSaveValue = $("#frmHSCDoc").serializeArray();
                SaveHeaderHSCDoc(frmSaveValue, status);
            }
        }
    }
    function SaveHeaderHSCDoc(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/PLC/ApproveCheckList/SaveHSCCategory",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtHSCDocLine").val(data.LineID);
                    var strHeader = data.HeaderID;
                    $("#txtHSCDocHeader").val(strHeader);
                    GetPLCCheckListFormHTML($("#txtHSCDocHeader").val(), Status);
                } else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmHSCDoc", @class = "form-horizontal" }))
        {
            <div class="row savedraft">
                <div class="col-md-12">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        <input type="button" class="btn save savedraft" id="btnSaveAsDraft1" onclick="SaveAsDraft();" value="Save As Draft" />
                    </div>
                </div>
            </div>
            <hr class="savedraft" />

                @Html.HiddenFor(m => m.HeaderId, new { id = "txtHSCDocHeader" })
                @Html.HiddenFor(m => m.LineId, new { id = "txtHSCDocLine" })
                <div class="fdControls">
                    <fieldset>
                        <legend> Project Detail</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">
                                        CSR Date
                                    </label>
                                    <div id="dtCSRDate" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                        @Html.TextBoxFor(m => m.CSRDate, new { @class = "form-control", @readonly = "readonly" })
                                        <span class="input-group-btn">
                                            <button class="btn default" id="btncal1" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">
                                        KOM Date
                                    </label>
                                    <div id="dtKOMDate" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                        @Html.TextBoxFor(m => m.KOMDate, new { @class = "form-control", @readonly = "readonly" })
                                        <span class="input-group-btn">
                                            <button class="btn default" id="btncal1" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">
                                        MKOM Date
                                        <span class="required"> * </span>
                                    </label>
                                    <div id="dtMKOMDate" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                        @Html.TextBoxFor(m => m.MKOMDate, new { @class = "form-control", @readonly = "readonly" })
                                        <span class="input-group-btn">
                                            <button class="btn default" id="btncal1" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">

                            </div>
                        </div>
                    </fieldset>

                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                Category
                            </div>
                        </div>
                        <div class="portlet-body flip-scroll">
                            <table class="table table-bordered table-striped table-condensed flip-content">
                                <thead style="padding: 8px;" class="flip-content">
                                    <tr>
                                        <th class="numeric">Sr No</th>
                                        <th class="numeric"> Code</th>
                                        <th class="numeric"> Desc</th>
                                        <th class="numeric"> Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            A
                                        </td>
                                        <td class="numeric">
                                            Shell Assembly fabrication
                                        </td>
                                        <td class="numeric">
                                            19
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            2
                                        </td>
                                        <td class="numeric">
                                            B
                                        </td>
                                        <td class="numeric">
                                            Tube bundle fabrication
                                        </td>
                                        <td class="numeric">
                                            13
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            3
                                        </td>
                                        <td class="numeric">
                                            C
                                        </td>
                                        <td class="numeric">
                                            Machining
                                        </td>
                                        <td class="numeric">
                                            3
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            4
                                        </td>
                                        <td class="numeric">
                                            D
                                        </td>
                                        <td class="numeric">
                                            Hydro test
                                        </td>
                                        <td class="numeric">
                                            7
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            5
                                        </td>
                                        <td class="numeric">
                                            E
                                        </td>
                                        <td class="numeric">
                                            Surface treatments
                                        </td>
                                        <td class="numeric">
                                            4
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            6
                                        </td>
                                        <td class="numeric">
                                            F
                                        </td>
                                        <td class="numeric">
                                            Miscellaneous
                                        </td>
                                        <td class="numeric">
                                            16
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="numeric">
                                            Total no. of Check Points
                                        </td>
                                        <td class="numeric">
                                            62
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                Check List
                            </div>
                        </div>
                        <div class="portlet-body flip-scroll">
                            <table class="table table-striped table-bordered table-hover table-header-fixed" id="tblHSCChecklist">
                                <thead class="flip-content" style="padding: 8px;">
                                    <tr>
                                        <th class="numeric" style="width:5%">Sr No</th>
                                        <th class="numeric" style="width:5%"> Code</th>
                                        <th class="numeric" style="width:55%"> Desc</th>
                                        <th class="numeric" style="width:5%"> Check</th>
                                        <th class="numeric" style="width:5%"> Category</th>
                                        <th class="numeric" style="width:25%"> Reamrks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            Freeze resources/location/work center  for type of Nozzle WEP/cut out:<br />
                                            <span class="iconspace"></span>   a) Radial WEP ( No. of WEP Cutting stations to be planned accordingly)<br />
                                            <span class="iconspace"></span>   b) Axial Cut-out<br />
                                            <span class="iconspace"></span>    c) Off Centre Nozzle Cut-out<br />
                                            Duration and Financial Implications to be considered accordingly.

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk1"> @Html.CheckBox("chk1", new { })<span></span></label></td>
                                        <td class="numeric">A</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark1, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            2
                                        </td>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            1) Feasibility for readymade formed D'end from Vendor to be checked.<br />
                                            2) In case of readymade, Provision for 1:3 taper &amp; WEP on D'end shall be finalized:<br />
                                            <span class="iconspace"></span>  a) Procurement stage by supplier<br />
                                            <span class="iconspace"></span>  b) After Receipt of readymade D'end at L&amp;T

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk2"> @Html.CheckBox("chk2", new { })<span></span></label></td>
                                        <td class="numeric">A</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark2, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            3
                                        </td>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            Creep Wave UT requirement to be checked as per customer specification, if  it is required than Shell Long seams and Circ. Seams needs to be flushed from Inside and outside and Same needs to be mentioned in Rolling Operation card
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk3"> @Html.CheckBox("chk3", new { })<span></span></label></td>
                                        <td class="numeric">A</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark3, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            4
                                        </td>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            Shell flange  ID shall be on higher side of tolerance as per TEMA( in case of w/o- TEMA+shrinkage allowance)
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk4"> @Html.CheckBox("chk4", new { })<span></span></label></td>
                                        <td class="numeric">A</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark4, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            5
                                        </td>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            For Formed or Rolled component if Fibre elongation is &gt;5 % then Cold/Warm/Hot Rolling requirement to be checked<br />
                                            <span class="iconspace"></span>   1. As per Customer specification and rolling Feasibility to be checked for same considering Existing machine Capacity<br />
                                            <span class="iconspace"></span>     2. As per PCC standards - rolling Feasibility to be checked for same considering Existing machine Capacity

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk5"> @Html.CheckBox("chk5", new { })<span></span></label></td>
                                        <td class="numeric">A</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark5, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            6
                                        </td>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            External pressure/ vacuum requirements to be checked and in case External pressure/vacuum is applicable then External template to be mentioned in Rolling operation card and drawing to be issued through DIN by DCC
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk6"> @Html.CheckBox("chk6", new { })<span></span></label></td>
                                        <td class="numeric">A</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark6, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            7
                                        </td>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            PTG/ ring gauge requirements &amp; PTG passing stages definition and Customer witness
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk7"> @Html.CheckBox("chk7", new { })<span></span></label></td>
                                        <td class="numeric">A</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark7, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            8
                                        </td>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            Finalize stage of WEP for L/S & C/S- plate stage or rolled stage
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk8"> @Html.CheckBox("chk8", new { })<span></span></label></td>
                                        <td class="numeric">A</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark8, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            9
                                        </td>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            In case of half shells both halves shall have same thickness.(More than one long seams)
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk9"> @Html.CheckBox("chk9", new { })<span></span></label></td>
                                        <td class="numeric">A</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark9, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            10
                                        </td>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            1) ISR for Shape correction of Assemblies to be planned at Initial stage and same needs to be communicated to Welding Engg, for providing extra soak cycle<br />
                                            2) PWHT/local SRs/ ISRs(including nozzle welds) to be accounted( no of charges)

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk10"> @Html.CheckBox("chk10", new { })<span></span></label></td>
                                        <td class="numeric">A</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark10, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            11
                                        </td>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            Tolerance on Nozzle height in Procurement drawings shall be compared with tolerance in fabrication drawings and to be given accordingly.(Shall be conveyed to DCC in CSR)
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk11"> @Html.CheckBox("chk11", new { })<span></span></label></td>
                                        <td class="numeric">A</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark11, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            12
                                        </td>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            1) Plate dimensions for shells, Nozzle Pipes fabricated from plates, and Cone (Scalene + Straight) to be given considering<br />
                                            <span class="iconspace"></span>a) Edge breaking allowance<br />
                                            <span class="iconspace"></span>b) WEP Machining allowance on Width<br />
                                            <span class="iconspace"></span>c) Extra thickness to be considered in case of Hot rolling for scale removal<br />
                                            <span class="iconspace"></span>d) Allowance in thickness shall be considered for ID/OD machined components<br />
                                            2) Integral Lug Height to be considered while finalizing plate width for D'end Petals<br />
                                            <span class="iconspace"></span>   (Shall be conveyed to DCC in CSR)

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk12"> @Html.CheckBox("chk12", new { })<span></span></label></td>
                                        <td class="numeric">A</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark12, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            13
                                        </td>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            All shrinkage allowances to be considered for shells &amp; channels irrespective of plates/forgings in case of ID overlay as per PCC norms
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk13"> @Html.CheckBox("chk13", new { })<span></span></label></td>
                                        <td class="numeric">A</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark13, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            14
                                        </td>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            Stage of bolt hole drilling/gasket face machining shall be finalized for flanges in case of partition plate/divider plate and ID overlay. Flanges to be procured accordingly.
                                            (Shall be conveyed to DCC in CSR)

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk14"> @Html.CheckBox("chk14", new { })<span></span></label></td>
                                        <td class="numeric">A</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark14, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            15
                                        </td>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            In case branch nozzle location is close to the main nozzle weld seam, proper fabrication sequence to be finalized involving drilling of the branch nozzle cut out.
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk15"> @Html.CheckBox("chk15", new { })<span></span></label></td>
                                        <td class="numeric">A</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark15, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            16
                                        </td>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            Process of overlay of all the components FCAW/ESSC/Auto TIG in the equipment to be checked as per feasibility<br />
                                            <span class="iconspace"></span>  1) For nozzle > 300mm ESSC 30 Wide can be planned in PPC<br />
                                            <span class="iconspace"></span>   2) For nozzle < 300mm FCAW  can be planned in PPC<br />

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk16"> @Html.CheckBox("chk16", new { })<span></span></label></td>
                                        <td class="numeric">A</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark16, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            17
                                        </td>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            Provision for Roller location to be checked during initial stage : <br />
                                            <span class="iconspace"></span> a) Sufficient space for roller position to be provided on shell and same needs to    be communicated to DCC for making provision in drawing
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk17"> @Html.CheckBox("chk17", new { })<span></span></label></td>
                                        <td class="numeric">A</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark17, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            18
                                        </td>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            PTC/MTC requirement & testing- depending on locations, cycle time, IBR
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk18"> @Html.CheckBox("chk18", new { })<span></span></label></td>
                                        <td class="numeric">A</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark18, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            19
                                        </td>
                                        <td class="numeric">
                                            1
                                        </td>
                                        <td class="numeric">
                                            Requirement of Support bracket ISR for Flatness control in case of R.G/C.G  boilers to be checked and planned during CSR stage
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk19"> @Html.CheckBox("chk19", new { })<span></span></label></td>
                                        <td class="numeric">A</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark19, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            20
                                        </td>
                                        <td class="numeric">
                                            2
                                        </td>
                                        <td class="numeric">
                                            Provision for Tubesheet handling to be checked ;<br />
                                            <span class="iconspace"></span>    1)welded lug or<br />
                                            <span class="iconspace"></span>     2)tapped hole for eye-bolt<br />

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk20"> @Html.CheckBox("chk20", new { })<span></span></label></td>
                                        <td class="numeric">B</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark20, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            21
                                        </td>
                                        <td class="numeric">
                                            2
                                        </td>
                                        <td class="numeric">
                                            1) T#T/S joints welding method (manual/Automatic), NDT requirements (PT/RT/UT)<br />
                                            2) Air test Requirement for equipment to be checked as per customer specification, In case Air test of tube bundle is required before expansion, then Dummy shell/job shell readiness needs to be planned accordingly<br />
                                            3) PT requirement for Root pass / after Every pass to be checked and sufficient duration shall be planned accordingly for NDT.

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk21"> @Html.CheckBox("chk21", new { })<span></span></label></td>
                                        <td class="numeric">B</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark21, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            22
                                        </td>
                                        <td class="numeric">
                                            2
                                        </td>
                                        <td class="numeric">
                                            Sequence finalization for bundle preparation<br />
                                            <span class="iconspace"></span>  a) standalone<br />
                                            <span class="iconspace"></span>  b) progressive<br />
                                            accordingly shell plate procurement and Tube bundle fabrication items procurement to be expedited

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk22"> @Html.CheckBox("chk22", new { })<span></span></label></td>
                                        <td class="numeric">B</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark22, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            23
                                        </td>
                                        <td class="numeric">
                                            2
                                        </td>
                                        <td class="numeric">
                                            Additional tube testing requirements Viz. Eddy Current/RFET, 100% PMI, Individual tube SR, Hydro test requirements to be checked as per Customer specification and Procurement and Network Durations to be planned accordingly
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk23"> @Html.CheckBox("chk23", new { })<span></span></label></td>
                                        <td class="numeric">B</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark23, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            24
                                        </td>
                                        <td class="numeric">
                                            2
                                        </td>
                                        <td class="numeric">
                                            1) Nitrogen purging & Purging Box Requirement for Drilled Tubesheet' PWHT if any<br />
                                            2) Hood requirements for Tube Bundle PWHT if any

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk24"> @Html.CheckBox("chk24", new { })<span></span></label></td>
                                        <td class="numeric">B</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark24, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            25
                                        </td>
                                        <td class="numeric">
                                            2
                                        </td>
                                        <td class="numeric">
                                            1) Tubes length shall be procured X mm more than Drawing requirement in order to take care of tube bundle final length. (To be evaluated)<br />
                                            2) Contingency tubes shall be planned in order to take care of any type of tube damage<br />
                                            3) Mock-up block for T-T/S expansion requirement must be clearly given to DCC during CSR as per Customer Specification<br />
                                            4) Mock-up tubes shall be planned for T-T/S expansion block and must be given to DCC during CSR

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk25"> @Html.CheckBox("chk25", new { })<span></span></label></td>
                                        <td class="numeric">B</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark25, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            26
                                        </td>
                                        <td class="numeric">
                                            2
                                        </td>
                                        <td class="numeric">
                                            1. Inspection scope for expansion shall be checked wrt customer specification.(% checking on the job/mock up)<br />
                                            2.Initmation to be given to Buyer well in advance for providing tube reading of sufficient sample size for design of Hydro expansion probe and related pressure calculation

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk26"> @Html.CheckBox("chk26", new { })<span></span></label></td>
                                        <td class="numeric">B</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark26, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            27
                                        </td>
                                        <td class="numeric">
                                            2
                                        </td>
                                        <td class="numeric">
                                            1) Expansion requirement (lights/Strength)<br />
                                            2) Process ( Mechanical/Hydro/Hybrid)<br />
                                            3) Mock-up block testing (Pull/Push out) requirement to be finalized at initial stage<br />
                                            4) in case of Pull/push out test plug to be planned<br />

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk27"> @Html.CheckBox("chk27", new { })<span></span></label></td>
                                        <td class="numeric">B</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark27, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            28
                                        </td>
                                        <td class="numeric">
                                            2
                                        </td>
                                        <td class="numeric">
                                            Baffle cutting/ drilling/machining scheme(exotic materials)<br />
                                            Extra material allowance during plate allocation

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk28"> @Html.CheckBox("chk28", new { })<span></span></label></td>
                                        <td class="numeric">B</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark28, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            29
                                        </td>
                                        <td class="numeric">
                                            2
                                        </td>
                                        <td class="numeric">

                                            Baffle Cutting & Machining allowance to be taken care while preparation of PCR's for different type of Sliding rail tube bundle construction Viz. Rail type, Sliding Strip type, and Roller type.

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk29"> @Html.CheckBox("chk29", new { })<span></span></label></td>
                                        <td class="numeric">B</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark29, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            30
                                        </td>
                                        <td class="numeric">
                                            2
                                        </td>
                                        <td class="numeric">
                                            In case Synloop boilers ferrule welding construction/Sequence:<br />
                                            <span class="iconspace"></span>   a)  Ferrule welding after Hydro test<br />
                                            <span class="iconspace"></span>  b) Ferrule welding after IBW<br />
                                            Accordingly procurement for ferrules shall be planned

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk30"> @Html.CheckBox("chk30", new { })<span></span></label></td>
                                        <td class="numeric">B</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark30, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            31
                                        </td>
                                        <td class="numeric">
                                            2
                                        </td>
                                        <td class="numeric">
                                            Long Baffle/Baffle Flatness requirement to be checked during CSR
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk31"> @Html.CheckBox("chk31", new { })<span></span></label></td>
                                        <td class="numeric">B</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark31, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            32
                                        </td>
                                        <td class="numeric">
                                            2
                                        </td>
                                        <td class="numeric">
                                            Partition plate & D-Plate # Channel/Tube sheet joint WEP shall be Double-V type (for minimum distortion) and same to be conveyed to DCC during CSR
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk32"> @Html.CheckBox("chk32", new { })<span></span></label></td>
                                        <td class="numeric">B</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark32, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            33
                                        </td>
                                        <td class="numeric">
                                            3
                                        </td>
                                        <td class="numeric">
                                            Check for Insitu machining Requirements for equipment<br />
                                            <span class="iconspace"></span>   a) Availability of tools<br />
                                            <span class="iconspace"></span>   b) space constraints if any<br />
                                            <span class="iconspace"></span>   c) Machining allowance given ? If not same to be communicated to DCC<br />
                                            <span class="iconspace"></span>   d) Additional Duration for Insitu machining to be considered in Project plan

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk33"> @Html.CheckBox("chk33", new { })<span></span></label></td>
                                        <td class="numeric">C</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark33, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            34
                                        </td>
                                        <td class="numeric">
                                            3
                                        </td>
                                        <td class="numeric">
                                            Machining allowance to be provided on back side of Tubesheet for single sided overlay
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk34"> @Html.CheckBox("chk34", new { })<span></span></label></td>
                                        <td class="numeric">C</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark34, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            35
                                        </td>
                                        <td class="numeric">
                                            3
                                        </td>
                                        <td class="numeric">
                                            Sufficient Machining allowance ( min 10 mm) shall be provided on base plate of support bracket, in order to meet required flatness and minimum thickens
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk35"> @Html.CheckBox("chk35", new { })<span></span></label></td>
                                        <td class="numeric">C</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark35, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            36
                                        </td>
                                        <td class="numeric">
                                            4
                                        </td>
                                        <td class="numeric">
                                            Bolt tensioning /torquing feasibility(Unit fitment, stud length) to be checked in advance
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk36"> @Html.CheckBox("chk36", new { })<span></span></label></td>
                                        <td class="numeric">D</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark36, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            37
                                        </td>
                                        <td class="numeric">
                                            4
                                        </td>
                                        <td class="numeric">
                                            Open bundle hydro-test requirement, bundle insertion-removal frequency to be checked
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk37"> @Html.CheckBox("chk37", new { })<span></span></label></td>
                                        <td class="numeric">D</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark37, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            38
                                        </td>
                                        <td class="numeric">
                                            4
                                        </td>
                                        <td class="numeric">
                                            Drying requirements/ oxygen level checking/ dew point clearance shall be checked
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk38"> @Html.CheckBox("chk38", new { })<span></span></label></td>
                                        <td class="numeric">D</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark38, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            39
                                        </td>
                                        <td class="numeric">
                                            4
                                        </td>
                                        <td class="numeric">
                                            Dummy Saddle and Base Plate requirement for Hydro / PWHT to be checked
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk39"> @Html.CheckBox("chk39", new { })<span></span></label></td>
                                        <td class="numeric">D</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark39, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            40
                                        </td>
                                        <td class="numeric">
                                            4
                                        </td>
                                        <td class="numeric">
                                            Spare Gasket requirement in case of re-work, re hydro to be planned at Procurement stage for exchangers.
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk40"> @Html.CheckBox("chk40", new { })<span></span></label></td>
                                        <td class="numeric">D</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark40, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            41
                                        </td>
                                        <td class="numeric">
                                            4
                                        </td>
                                        <td class="numeric">
                                            Hydro test water (ppm) requirement to be checked and Waiver from customer shall be asked in case requirement is below 10 ppm
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk41"> @Html.CheckBox("chk41", new { })<span></span></label></td>
                                        <td class="numeric">D</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark41, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            42
                                        </td>
                                        <td class="numeric">
                                            4
                                        </td>
                                        <td class="numeric">
                                            Check feasibility of providing opening of adequate size on hydro Test caps for water fill up during hydro.<br />
                                            Finalize Stack Job Hydro Test Plan<br />
                                            Check for proper Venting and draining provisions

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk42"> @Html.CheckBox("chk42", new { })<span></span></label></td>
                                        <td class="numeric">D</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark42, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            43
                                        </td>
                                        <td class="numeric">
                                            5
                                        </td>
                                        <td class="numeric">
                                            TSA coating /special surface paints requirements shall be check as per customer specification and OPP durations to be considered accordingly
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk43"> @Html.CheckBox("chk43", new { })<span></span></label></td>
                                        <td class="numeric">E</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark43, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            44
                                        </td>
                                        <td class="numeric">
                                            5
                                        </td>
                                        <td class="numeric">
                                            Surface preparation before overlay & surface finish after overlay( as reqd for UT)
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk44"> @Html.CheckBox("chk44", new { })<span></span></label></td>
                                        <td class="numeric">E</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark44, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            45
                                        </td>
                                        <td class="numeric">
                                            5
                                        </td>
                                        <td class="numeric">
                                            Chemical cleaning requirement to be checked, if any
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk45"> @Html.CheckBox("chk45", new { })<span></span></label></td>
                                        <td class="numeric">E</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark45, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            46
                                        </td>
                                        <td class="numeric">
                                            5
                                        </td>
                                        <td class="numeric">
                                            Teflon Coating for Fasteners to be checked - tightening / torqueing requirements also to be confirmed from DCC in such case as the coating on hardware should not be peeled off.
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk46"> @Html.CheckBox("chk46", new { })<span></span></label></td>
                                        <td class="numeric">E</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark46, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            47
                                        </td>
                                        <td class="numeric">
                                            6
                                        </td>
                                        <td class="numeric">
                                            Lip seal gasket welding method - to be discussed and concluded with DCC , WE and Shops
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk47"> @Html.CheckBox("chk47", new { })<span></span></label></td>
                                        <td class="numeric">F</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark47, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            48
                                        </td>
                                        <td class="numeric">
                                            6
                                        </td>
                                        <td class="numeric">
                                            NDT feasibility of all category A joints to be checked, sufficient ligament ( 3T of joint min.) required between seams to carry out TOFD UT, PAUT, In case of fouling of seams or lesser ligament size RT to be planned for category A joints as mentioned in Customer specification
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk48"> @Html.CheckBox("chk48", new { })<span></span></label></td>
                                        <td class="numeric">F</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark48, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            49
                                        </td>
                                        <td class="numeric">
                                            6
                                        </td>
                                        <td class="numeric">
                                            Requirements of HAZ removal after Cutting of plates to be checked, in case of HAZ removal required than it needs to be mentioned on PCR
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk49"> @Html.CheckBox("chk49", new { })<span></span></label></td>
                                        <td class="numeric">F</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark49, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            50
                                        </td>
                                        <td class="numeric">
                                            6
                                        </td>
                                        <td class="numeric">
                                            NDT after SR/hydro requirements
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk50"> @Html.CheckBox("chk50", new { })<span></span></label></td>
                                        <td class="numeric">F</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark50, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            51
                                        </td>
                                        <td class="numeric">
                                            6
                                        </td>
                                        <td class="numeric">
                                            Specific requirement for direction of overlay to be checked in CSR :<br />
                                            <span class="iconspace"></span>   a) longitudinal<br />
                                            <span class="iconspace"></span>   b) Circumferential

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk51"> @Html.CheckBox("chk51", new { })<span></span></label></td>
                                        <td class="numeric">F</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark51, new { @class = "form-control", @maxlength = "30" })</td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            52
                                        </td>
                                        <td class="numeric">
                                            6
                                        </td>
                                        <td class="numeric">
                                            TOFD requirements in lieu of RT to be finalized at CSR stage, in case of TOFD blocks shall be planned,<br />
                                            <span class="iconspace"></span>   a) Work center to be finalized:<br />
                                            <span class="iconspace"></span>   b) Activities shall be mentioned in CCPM and<br />
                                            <span class="iconspace"></span>   c) Related Man-hours to be put in LN

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk52"> @Html.CheckBox("chk52", new { })<span></span></label></td>
                                        <td class="numeric">F</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark52, new { @class = "form-control", @maxlength = "30" })</td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            53
                                        </td>
                                        <td class="numeric">
                                            6
                                        </td>
                                        <td class="numeric">
                                            1) Requirement of DHT to be checked as per Customer specification,<br />
                                            2) Monitoring of DHT (WDS, Time-temp. chart) requirement to be also checked, 3) ISR requirement and temperature related to ISR to be checked as per customer specification

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk53"> @Html.CheckBox("chk53", new { })<span></span></label></td>
                                        <td class="numeric">F</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark53, new { @class = "form-control", @maxlength = "30" })</td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            54
                                        </td>
                                        <td class="numeric">
                                            6
                                        </td>
                                        <td class="numeric">
                                            DCR & NCR to be reviewed for similar type of previous jobs in order to incorporate learnings and avoid rework from old projects.
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk54"> @Html.CheckBox("chk54", new { })<span></span></label></td>
                                        <td class="numeric">F</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark54, new { @class = "form-control", @maxlength = "30" })</td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            55
                                        </td>
                                        <td class="numeric">
                                            6
                                        </td>
                                        <td class="numeric">
                                            1) Trial assembly requirements in L&amp;T scope or site to be checked- depending on feasibility<br />
                                            2) Trial Assembly requirements for various Internals Viz. Tube Bundle, Internal By Pass Assembly, Actuator assembly, Internal flange, Split ring, Barrel Cover and TLR to be checked at initial stage

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk55"> @Html.CheckBox("chk55", new { })<span></span></label></td>
                                        <td class="numeric">F</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark55, new { @class = "form-control", @maxlength = "30" })</td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            56
                                        </td>
                                        <td class="numeric">
                                            6
                                        </td>
                                        <td class="numeric">
                                            Transportation feasibility for stack jobs to be checked at initial stage with Transport department and Transportation in Horizontal/Vertical condition to be finalized accordingly
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk56"> @Html.CheckBox("chk56", new { })<span></span></label></td>
                                        <td class="numeric">F</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark56, new { @class = "form-control", @maxlength = "30" })</td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            57
                                        </td>
                                        <td class="numeric">
                                            6
                                        </td>
                                        <td class="numeric">
                                            Method of ISR as per Customer Specification to be confirmed:<br />
                                            <span class="iconspace"></span> 1) Electrical <br />
                                            <span class="iconspace"></span> 2) Gas Fired<br />
                                            <span class="iconspace"></span> 3) Diesel Fired<br />
                                            <span class="iconspace"></span> 4) Any other specific method<br />
                                            Multiple options shall be added in HTP and same to be discussed with WE during CSR

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk57"> @Html.CheckBox("chk57", new { })<span></span></label></td>
                                        <td class="numeric">F</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark57, new { @class = "form-control", @maxlength = "30" })</td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            58
                                        </td>
                                        <td class="numeric">
                                            6
                                        </td>
                                        <td class="numeric">
                                            Slow cooling requirements for pressure welds to be checked
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk58"> @Html.CheckBox("chk58", new { })<span></span></label></td>
                                        <td class="numeric">F</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark58, new { @class = "form-control", @maxlength = "30" })</td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            59
                                        </td>
                                        <td class="numeric">
                                            6
                                        </td>
                                        <td class="numeric">
                                            Waiting time before NDT for all Long/Circ./Nozzle welds to be checked as per customer specification and same needs to be mentioned in DPP for duration consideration
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk59"> @Html.CheckBox("chk59", new { })<span></span></label></td>
                                        <td class="numeric">F</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark59, new { @class = "form-control", @maxlength = "30" })</td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            60
                                        </td>
                                        <td class="numeric">
                                            6
                                        </td>
                                        <td class="numeric">
                                            Weighing requirement for Job to be checked during CSR and Load cell/ Instruments for Weight measurement to be planned accordingly
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk60"> @Html.CheckBox("chk60", new { })<span></span></label></td>
                                        <td class="numeric">F</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark60, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            61
                                        </td>
                                        <td class="numeric">
                                            6
                                        </td>
                                        <td class="numeric">
                                            A) Pre-heating requirement before Cutting/forming of Plates to be checked w.r.t customer specification,<br />
                                            B) If pre-heating requirement exists, then Specific note shall be added in PCR

                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk61"> @Html.CheckBox("chk61", new { })<span></span></label></td>
                                        <td class="numeric">F</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark61, new { @class = "form-control", @maxlength = "30" })</td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">
                                            62
                                        </td>
                                        <td class="numeric">
                                            6
                                        </td>
                                        <td class="numeric">
                                            Instructions for use of temporary attachments must contain following points.<br />
                                            <span class="iconspace"></span>   1.	Proper WPS by WE<br />
                                            <span class="iconspace"></span>   2.	NDTs before & after removal of attachments<br />
                                            <span class="iconspace"></span>   3.	Map the location of attachments<br />
                                            <span class="iconspace"></span>   4.	Stage at which attachments to be removed (not later than) to be checked as per customer spec.<br />
                                            Instructions to be communicated to Shop, QC, WE and Design
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="chk62"> @Html.CheckBox("chk62", new { })<span></span></label></td>
                                        <td class="numeric">F</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.remark62, new { @class = "form-control", @maxlength = "30" })</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-actions savedraft">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6" style="text-align:right;margin-top:30px;">
                                    <input type="button" class="btn save savedraft" id="btnSaveAsDraft2" onclick="SaveAsDraft();" value="Save As Draft" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        window.setTimeout(function () {
            //TableDatatablesFixedHeader.init();
            TableDatatablesFixedHeader.enabled($("#tblHSCChecklist"));
        }, 500);
    });
</script>