﻿@using IEMQSImplementation
@model PCL008
<script>
    var Status = '@ViewBag.Status';
    $(document).ready(function () {
        $('input[maxlength]').maxlength({ alwaysShow: true, });
        jQuery(function ($) {
            $('.numericval').autoNumeric('init', { aPad: "true", vMax: "1000000000", aForm: "false" });
        });
        SetNumericInputVal();
        if (Status != "@clsImplementationEnum.PLCStatus.SendForApprovel.GetStringValue()") {
            $('div.fdControls :input').attr('disabled', true);
            $(".savedraft").hide();
        }
        IsDisplayOnly();
        var strHeader = '@ViewBag.HeaderId';
        $("#txtUConstructorHeader").val(strHeader);
    });
    function SaveAsDraft() {
        if (PostValidationForSave()) {
            if ($("#frmUreaConstruction").valid()) {
                var frmSaveHeaderValue = $("#frmUreaConstruction").serializeArray();
                SaveUreaConstruction(frmSaveHeaderValue, status);
            }
        }
    }
    function SaveUreaConstruction(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/PLC/ApproveCheckList/SaveUreaConstructor",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtUConstructor").val(data.LineID);
                    var strHeader = data.HeaderID;
                    $("#txtUConstructorHeader").val(strHeader);
                    DisplayNotiMessage("success", data.Value, "Success");
                    $("#Section3").trigger("click");
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>

<div id="dvSection1" class="fdControls">
    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmUreaConstruction", @class = "form-horizontal" }))
    {
        <div class="row savedraft">
            <div class="col-md-12">
                <div class="col-md-6">
                </div>
                <div class="col-md-6" style="text-align:right;">
                    <input type="button" class="btn save savedraft" id="btnSaveAsDraft1" onclick="SaveAsDraft();" value="Save As Draft" />
                </div>
            </div>
        </div>
        <hr class="savedraft" />
        @Html.HiddenFor(m => m.HeaderId, new { id = "txtUConstructorHeader" })
        @Html.HiddenFor(m => m.LineId, new { id = "txtUConstructor" })
        <fieldset>
            <legend>1 Reactor Overall Dimenson</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label class="control-label">
                            BMID:(mm)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.BMID, new { @class = "form-control", @maxlength = "40" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            ReactorThk:(mm)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorThk, new { @class =  "form-control decimalInput", maxlength = "12"  })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            Reactor TL- TL(mm)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorTLTL, new { @class =  "form-control decimalInput", maxlength = "12"  })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            Length(mm)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorLg, new { @class =  "form-control decimalInput", maxlength = "12"  })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            Fabricated WT(MT)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorFabWt, new { @class =  "form-control decimalInput", maxlength = "12"  })
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label class="control-label">
                            Hydro WT(MT)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorHydroWt, new { @class =  "form-control decimalInput", maxlength = "12"  })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label class="control-label">
                            Hydro Pressure(Kg/Cm<sub>2</sub>)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorHydroPrs, new { @class =  "form-control decimalInput", maxlength = "12"  })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            Max Shell width(MT)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorMaxShellWd, new { @class =  "form-control decimalInput", maxlength = "12"  })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            Job Material
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorJobMaterial, new { @class = "form-control numericval", maxlength = "10" })
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>2 Reactor Designed For External Pressure also ?</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-8">
                        <div class="md-radio-inline">
                            <div class="md-radio">
                                @Html.RadioButtonFor(m => m.ReactoreDesigned, "true", new { @class = "md-radiobtn", @id = "yes" })
                                <label for="yes">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Yes (Special <quote>e value</quote> Templates required as per Code)
                                </label>
                            </div>

                            <div class="md-radio">
                                @Html.RadioButtonFor(m => m.ReactoreDesigned, "false", new { @class = "md-radiobtn", @id = "no" })
                                <label for="no">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>3 Shell Construction</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ShellConst1Seg"> @Html.CheckBox("ShellConst1Seg", new { })<span></span> Single Segment </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">

                            <label class="mt-checkbox mt-checkbox-outline" for="ShellConst2Seg"> @Html.CheckBox("ShellConst2Seg", new { })<span></span> Two Segment</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ShellConstMorethan2Seg"> @Html.CheckBox("ShellConstMorethan2Seg", new { })<span></span> >2 Segment</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ShellConstForgedShell"> @Html.CheckBox("ShellConstForgedShell", new { })<span></span>  Forged Segment</label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

                <fieldset>
                    <legend>4 Type of Rolling</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="TypeRollCold">
                                        @Html.CheckBox("TypeRollCold", new { })<span></span>
                                        Cold
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">

                                    <label class="mt-checkbox mt-checkbox-outline" for="TypeRollWarm">
                                        @Html.CheckBox("TypeRollWarm", new { })<span></span>
                                        Warm (400C-450C)
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">

                                    <label class="mt-checkbox mt-checkbox-outline" for="TypeRollHot">
                                        @Html.CheckBox("TypeRollHot", new { })<span></span>
                                        Hot
                                    </label>
                                </div>
                            </div>
                            @*<div class="col-md-2">
                                    <div class="control-label" style="text-align:left">

                                        <label class="mt-checkbox mt-checkbox-outline" for="checkboxID">
                                            @Html.CheckBox("checkboxID", new { })<span></span>
                                            Warm (600C-620C)
                                        </label>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>5 Gas Cutting</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="GasCuttingPreHeat">
                                        @Html.CheckBox("GasCuttingPreHeat", new { })<span></span>
                                        with Preheating 200C
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="GasCuttingPreHeatNR">
                                        @Html.CheckBox("GasCuttingPreHeatNR", new { })<span></span>
                                        Preheationg Not Required
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>6 C seam WEP</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="CSeamWEPPlate">
                                        @Html.CheckBox("CSeamWEPPlate", new { })<span></span>
                                        Plate Stage max 8000mm
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="CSeamWEPAfter">
                                        @Html.CheckBox("CSeamWEPAfter", new { })<span></span>
                                        After Rolling
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>7 PTC Required</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PTCRequiredforLS">
                                        @Html.CheckBox("PTCRequiredforLS", new { })<span></span>
                                        L/S
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PTCRequiredforCS">
                                    @Html.CheckBox("PTCRequiredforCS", new { })<span></span>
                                    C/S
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">

                                <label class="mt-checkbox mt-checkbox-outline" for="PTCRequiredforDend">
                                    @Html.CheckBox("PTCRequiredforDend", new { })<span></span>
                                    D'end
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PTCRequiredforLiner">
                                    @Html.CheckBox("PTCRequiredforLiner", new { })<span></span>
                                    Liner L/S
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PTCRequiredforLSCSESSC">
                                    @Html.CheckBox("PTCRequiredforLSCSESSC", new { })<span></span>
                                    L/S C/S & ESSC
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>8 ISR Required</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ISRRequiredforLS">
                                        @Html.CheckBox("ISRRequiredforLS", new { })<span></span>
                                        L/S
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">

                                    <label class="mt-checkbox mt-checkbox-outline" for="ISRRequiredforCS">
                                        @Html.CheckBox("ISRRequiredforCS", new { })<span></span>
                                        C/S
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">

                                    <label class="mt-checkbox mt-checkbox-outline" for="ISRRequiredforNozzle">
                                        @Html.CheckBox("ISRRequiredforNozzle", new { })<span></span>
                                        Nozzle
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">

                                    <label class="mt-checkbox mt-checkbox-outline" for="ISRRequiredforClosing">
                                        @Html.CheckBox("ISRRequiredforClosing", new { })<span></span>
                                        Closing
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">

                                    <label class="mt-checkbox mt-checkbox-outline" for="ISRRequiredforNA">
                                        @Html.CheckBox("ISRRequiredforNA", new { })<span></span>
                                        NA
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>9 PT/MT After </legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PTMTAfterWelding">
                                        @Html.CheckBox("PTMTAfterWelding", new { })<span></span>
                                        Welding
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PTMTAfterOverlay">
                                        @Html.CheckBox("PTMTAfterOverlay", new { })<span></span>
                                        Overlay
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">

                                    <label class="mt-checkbox mt-checkbox-outline" for="PTMTAfterPWHT">
                                        @Html.CheckBox("PTMTAfterPWHT", new { })<span></span>
                                        PWHT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PTMTAfterHydro">
                                        @Html.CheckBox("PTMTAfterHydro", new { })<span></span>
                                        Hydro test
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>10 RT after</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="RTAfterWelding">
                                        @Html.CheckBox("RTAfterWelding", new { })<span></span>
                                        Welding
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="RTAfterOverlay">
                                        @Html.CheckBox("RTAfterOverlay", new { })<span></span>
                                        Overlay
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="RTAfterPWHT">
                                        @Html.CheckBox("RTAfterPWHT", new { })<span></span>
                                        PWHT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="RTAfterHydro">
                                        @Html.CheckBox("RTAfterHydro", new { })<span></span>
                                        Hydro test
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>11 UT after</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="UTAfterRecordable">
                                        @Html.CheckBox("UTAfterRecordable", new { })<span></span>
                                        Recordable
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="UTAfterConventional">
                                        @Html.CheckBox("UTAfterConventional", new { })<span></span>
                                        Conventional
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="UTAfterWelding">
                                        @Html.CheckBox("UTAfterWelding", new { })<span></span>
                                        WEP & Welding
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="UTAfterOverlay">
                                        @Html.CheckBox("UTAfterOverlay", new { })<span></span>
                                        Overlay
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="UTAfterPWHT">
                                        @Html.CheckBox("UTAfterPWHT", new { })<span></span>
                                        PWHT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="UTAfterHydro">
                                        @Html.CheckBox("UTAfterHydro", new { })<span></span>
                                        Hydro test
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>12 Ferrite after</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="FerAfterWelding">
                                        @Html.CheckBox("FerAfterWelding", new { })<span></span>Welding
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2"> <div class="control-label" style="text-align:left"><label class="mt-checkbox mt-checkbox-outline" for="FerAfterOverlay"> @Html.CheckBox("FerAfterOverlay", new { })<span></span> Overlay</label></div></div>
                            <div class="col-md-2"> <div class="control-label" style="text-align:left"><label class="mt-checkbox mt-checkbox-outline" for="FerAfterPWHT"> @Html.CheckBox("FerAfterPWHT", new { })<span></span> PWHT</label></div></div>
                            <div class="col-md-2"> <div class="control-label" style="text-align:left"><label class="mt-checkbox mt-checkbox-outline" for="FerAfterHydro"> @Html.CheckBox("FerAfterHydro", new { })<span></span>  Hydro test </label></div></div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>13 Shell L/S & C/S Overlay type</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ShellLSSingle">
                                        @Html.CheckBox("ShellLSSingle", new { })<span></span>  ESSC Single Layer
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ShellLSDouble">
                                        @Html.CheckBox("ShellLSDouble", new { })<span></span>
                                        ESSC Double layer
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ShellLSManual"> @Html.CheckBox("ShellLSManual", new { })<span></span>    Manual</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ShellLSManualESSC"> @Html.CheckBox("ShellLSManualESSC", new { })<span></span>  Manual+ESSC</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>14 D'end Construction</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DCPetalWCrown">
                                        @Html.CheckBox("DCPetalWCrown", new { })<span></span>
                                        Petal with Crown
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DC4PetalWoCrown">
                                        @Html.CheckBox("DC4PetalWoCrown", new { })<span></span>
                                        4-Petal without crown
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DCSinglePeice">
                                        @Html.CheckBox("DCSinglePeice", new { })<span></span>
                                        Single Piece
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DCTwoHalves">
                                        @Html.CheckBox("DCTwoHalves", new { })<span></span>
                                        Two Halves
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>15 D'end Reciept Condition</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DRCFormedPetals">
                                        @Html.CheckBox("DRCFormedPetals", new { })<span></span>
                                        Formed Petals
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DRCFormedSetup">
                                        @Html.CheckBox("DRCFormedSetup", new { })<span></span>
                                        Set-up
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DRCFormedSingle">
                                        @Html.CheckBox("DRCFormedSingle", new { })<span></span>
                                        Single Piece
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>16 D'end Overlay type</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DOTESSCSingle">
                                        @Html.CheckBox("DOTESSCSingle", new { })<span></span>
                                        ESSC Single Layer
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DOTESSCDouble">
                                        @Html.CheckBox("DOTESSCDouble", new { })<span></span>
                                        ESSC Double layer
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DOTManual">
                                        @Html.CheckBox("DOTManual", new { })<span></span>
                                        Manual
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DOTFCAW">
                                        @Html.CheckBox("DOTFCAW", new { })<span></span>
                                        Manual+ESSC
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>17 Skirt # vessel joint</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SVJYring">
                                        @Html.CheckBox("SVJYring", new { })<span></span>
                                        Y-Ring
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SVJBuildup">
                                        @Html.CheckBox("SVJBuildup", new { })<span></span>
                                        Build-up on D'end
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SVJLapJoint">
                                        @Html.CheckBox("SVJLapJoint", new { })<span></span>
                                        Lap Point
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>18 Nozzle Line type</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="NLTForged">
                                        @Html.CheckBox("NLTForged", new { })<span></span>
                                        Forged
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">

                                    <label class="mt-checkbox mt-checkbox-outline" for="NLTPlate">
                                        @Html.CheckBox("NLTPlate", new { })<span></span>
                                        Plate
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>19 Tray Support Ring (TSR)</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="TSRRing">
                                        @Html.CheckBox("TSRRing", new { })<span></span>
                                        Ring with Segments
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="TSRLS">
                                        @Html.CheckBox("TSRLS", new { })<span></span>
                                        L/S Welding Required
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="TSRPlate">
                                        @Html.CheckBox("TSRPlate", new { })<span></span>
                                        Manual Plate with O/lay
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="TSRWeldBf">
                                        @Html.CheckBox("TSRWeldBf", new { })<span></span>
                                        \Welding before hydro
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="TSRSSPlate">
                                        @Html.CheckBox("TSRSSPlate", new { })<span></span>
                                        SS Plate Ring
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="TSRWeldAf">
                                        @Html.CheckBox("TSRWeldAf", new { })<span></span>
                                        Welding after hydro
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="TSRNotReq">
                                        @Html.CheckBox("TSRNotReq", new { })<span></span>
                                        Not Required
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>20 Nozzle Flange Face</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="NFFRaised">
                                        @Html.CheckBox("NFFRaised", new { })<span></span>
                                        raised
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="NFFGroove">
                                        @Html.CheckBox("NFFGroove", new { })<span></span>
                                        Grove
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="NFFOther">
                                        @Html.CheckBox("NFFOther", new { })<span></span>
                                        Other
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>21 Nozzle Gasket Face and ID Overlay</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="NGFBfPWHT">
                                        @Html.CheckBox("NGFBfPWHT", new { })<span></span>
                                        Before PWHT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="NGFAfPWHT">
                                        @Html.CheckBox("NGFAfPWHT", new { })<span></span>
                                        After PWHT
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>22 Spool Material</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SpoolMatSS">
                                        @Html.CheckBox("SpoolMatSS", new { })<span></span>
                                        SS
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SpoolMatUrea">
                                        @Html.CheckBox("SpoolMatUrea", new { })<span></span>
                                        Urea grade
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                @*<fieldset>
                        <legend>23 Nozzle Gasket Face and ID Overlay</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <div class="control-label" style="text-align:left">
                                        <label class="mt-checkbox mt-checkbox-outline" for="NGFBfPWHT">
                                            @Html.CheckBox("NGFBfPWHT", new { })<span></span>
                                            Before PWHT
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="control-label" style="text-align:left">
                                        <label class="mt-checkbox mt-checkbox-outline" for="NGFAfPWHT">
                                            @Html.CheckBox("NGFAfPWHT", new { })<span></span>
                                            After PWHT
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>*@

                <fieldset>
                    <legend>23 joints in Spool</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="JSInConnel">
                                        @Html.CheckBox("JSInConnel", new { })<span></span>
                                        In-Connel
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="JSBiMetalic">
                                        @Html.CheckBox("JSBiMetalic", new { })<span></span>
                                        Bimetallic
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="JSSSUrea">
                                        @Html.CheckBox("JSSSUrea", new { })<span></span>
                                        SS Urea grade
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>24 TSR and Baffle welding</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="TSRBfPWHT">
                                        @Html.CheckBox("TSRBfPWHT", new { })<span></span>
                                        Before Hydro
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="TSRAfPWHT">
                                        @Html.CheckBox("TSRAfPWHT", new { })<span></span>
                                        After Hydro
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="TSRBoth">
                                        @Html.CheckBox("TSRBoth", new { })<span></span>
                                        Before and After Hydro both
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>25 Vessel Support</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="VessleSSkirt">
                                        @Html.CheckBox("VessleSSkirt", new { })<span></span>
                                        Skirt
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="VessleSSupp">
                                        @Html.CheckBox("VessleSSupp", new { })<span></span>
                                        Support Brackets
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="VessleSLegs">
                                        @Html.CheckBox("VessleSLegs", new { })<span></span>
                                        Legs
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="VessleSSaddle">
                                        @Html.CheckBox("VessleSSaddle", new { })<span></span>
                                        Saddle
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>26 Skirt made in LEMF</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SkirtMadein1">
                                        @Html.CheckBox("SkirtMadein1", new { })<span></span>
                                        Single Piece
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SkirtMadein2">
                                        @Html.CheckBox("SkirtMadein2", new { })<span></span>
                                        Two Peces(LAS + CS)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>27 Fire Proofing Nut Welding on Skirt in LEMF</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="FPNWeldNuts">
                                        @Html.CheckBox("FPNWeldNuts", new { })<span></span>
                                        WEld All Nuts
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="FPNLeaveRow">
                                        @Html.CheckBox("FPNLeaveRow", new { })<span></span>
                                        Leave row from bottom for tank rotator
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>28 PWHT</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PWHTSinglePiece">
                                        @Html.CheckBox("PWHTSinglePiece", new { })<span></span>
                                        Single Piece
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PWHTLSRJoint">
                                        @Html.CheckBox("PWHTLSRJoint", new { })<span></span>
                                        LSR joint allowed (In Sections)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>29 PTC MTC Heat Treatments</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PTCMTCptc">
                                        @Html.CheckBox("PTCMTCptc", new { })<span></span>
                                        PTC with job
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PTCMTCmtc">
                                        @Html.CheckBox("PTCMTCmtc", new { })<span></span>
                                        MTC with job
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PTCMTCptcSim">
                                        @Html.CheckBox("PTCMTCptcSim", new { })<span></span>
                                        PTC simulation
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PTCMTCmtcSim">
                                        @Html.CheckBox("PTCMTCmtcSim", new { })<span></span>
                                        MTC Simulation
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>30 Saddle for PWHT</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SaddlesTransSadd">
                                        @Html.CheckBox("SaddlesTransSadd", new { })<span></span>
                                        Tranportaion Saddle Nos.
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SaddlesAdditional">
                                        @Html.CheckBox("SaddlesAdditional", new { })<span></span>
                                        Additional Saddles
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>31 PWHT in Finance</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PWHTinFurnacePFS">
                                        @Html.CheckBox("PWHTinFurnacePFS", new { })<span></span>
                                        PFS
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PWHTinFurnaceHFS1">
                                        @Html.CheckBox("PWHTinFurnaceHFS1", new { })<span></span>
                                        HFS1
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PWHTinFurnaceLong">
                                        @Html.CheckBox("PWHTinFurnaceLong", new { })<span></span>
                                        Long
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="PWHTinFurnaceTall">
                                        @Html.CheckBox("PWHTinFurnaceTall", new { })<span></span>
                                        Tall
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>32 Section weight for PWHT</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SectionWtMore230">
                                        @Html.CheckBox("SectionWtMore230", new { })<span></span>
                                        >230 MT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SectionWt200To230">
                                        @Html.CheckBox("SectionWt200To230", new { })<span></span>
                                        200-230MT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SectionWt150To200">
                                        @Html.CheckBox("SectionWt150To200", new { })<span></span>
                                        150-200MT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SectionWtLess150">
                                        @Html.CheckBox("SectionWtLess150", new { })<span></span>
                                        < 150 MT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.CheckBox("SectionWtBlankSec", new { })
                                        <span></span>
                                    </label>
                                    @Html.TextBoxFor(m => m.SectionWtLessVal, new { @class = "clsAllowance", placeholder = "No.s", @style = "width: 200px;", maxlength = "15" })
                                    <label class="control-label" for="SectionWtBlankSec">Sections</label>
                                </div>

                                @*<div class="control-label" style="text-align:left">
                                        <label class="mt-checkbox mt-checkbox-outline" for="SectionWtBlankSec">
                                            @Html.CheckBox("SectionWtBlankSec", new { })<span></span>
                                            ___Sections
                                        </label>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>33 Axle Required For Movement</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ARMRequired">
                                        @Html.CheckBox("ARMRequired", new { })<span></span>
                                        Required
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ARMRT">
                                        @Html.CheckBox("ARMRT", new { })<span></span>
                                        RT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ARMPWHT">
                                        @Html.CheckBox("ARMPWHT", new { })<span></span>
                                        PWHT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ARMSB">
                                        @Html.CheckBox("ARMSB", new { })<span></span>
                                        S/B Painting
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>34 Cl Required for Hydro test water</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="CLRH50ppm">
                                        @Html.CheckBox("CLRH50ppm", new { })<span></span>
                                        50ppm
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="CLRH510ppm">
                                        @Html.CheckBox("CLRH510ppm", new { })<span></span>
                                        5-10ppm
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="CLRHNoLimit">
                                        @Html.CheckBox("CLRHNoLimit", new { })<span></span>
                                        No limit
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>35 Template for Support/Skirt</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="TemplateForReq">
                                        @Html.CheckBox("TemplateForReq", new { })<span></span>
                                        Required
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="TemplateForNReq">
                                        @Html.CheckBox("TemplateForNReq", new { })<span></span>
                                        Not Required
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>36 N2 Filling</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="N2FillReq">
                                        @Html.CheckBox("N2FillReq", new { })<span></span>
                                        Required
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="N2FillNotReq">
                                        @Html.CheckBox("N2FillNotReq", new { })<span></span>
                                        Not Required
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="N2FillOther">
                                        @Html.CheckBox("N2FillOther", new { })<span></span>
                                        Other Protection On Internal Surface
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>37 External Surface Treatment</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ESTPlate">
                                        @Html.CheckBox("ESTPlate", new { })<span></span>
                                        Plate Stage
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ESTShell">
                                        @Html.CheckBox("ESTShell", new { })<span></span>
                                        Shell Stage
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ESTSection">
                                        @Html.CheckBox("ESTSection", new { })<span></span>
                                        Section Stage
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ESTEquip">
                                        @Html.CheckBox("ESTEquip", new { })<span></span>
                                        Equipment
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>38 Internal Surface Treatment</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ISTPlate">
                                        @Html.CheckBox("ISTPlate", new { })<span></span>
                                        Plate Stage
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ISTShell">
                                        @Html.CheckBox("ISTShell", new { })<span></span>
                                        Shell Stage
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ISTSection">
                                        @Html.CheckBox("ISTSection", new { })<span></span>
                                        Section Stage
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ISTEquip">
                                        @Html.CheckBox("ISTEquip", new { })<span></span>
                                        Equipment
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ISTAfBfPWHT">
                                        @Html.CheckBox("ISTAfBfPWHT", new { })<span></span>
                                        After/Before PWHT
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="ISTAfHydro">
                                        @Html.CheckBox("ISTAfHydro", new { })<span></span>
                                        After Hydro (Clad Section)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>39 Picking Passivation Requried</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="md-radio-inline">
                                    <div class="md-radio">
                                        @Html.RadioButtonFor(m => m.PickPassReq, "true", new { @class = "md-radiobtn", @id = "yes1" })
                                        <label for="yes1">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Yes
                                        </label>
                                    </div>

                                    <div class="md-radio">
                                        @Html.RadioButtonFor(m => m.PickPassReq, "false", new { @class = "md-radiobtn", @id = "no1" })
                                        <label for="no1">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>40 Maximum Site of Bolt/stud</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="MaxSBLess1_38">
                                        @Html.CheckBox("MaxSBLess1_38", new { })<span></span>
                                        < = 1-3/8"inch(Torque Wrench)
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="MaxSBLess1_78">
                                        @Html.CheckBox("MaxSBLess1_78", new { })<span></span>
                                        < =1-7/8"inch(RSL4)
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="MaxSBLess2_14">
                                        @Html.CheckBox("MaxSBLess2_14", new { })<span></span>
                                        < =2-1/4"inch(RSL8)
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="MaxSBLess4">
                                        @Html.CheckBox("MaxSBLess4", new { })<span></span>
                                        < = 4"(Stud Tensioning)
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="control-label" style="text-align:left">
                                    <label class="mt-checkbox mt-checkbox-outline" for="MaxSBMore4">
                                        @Html.CheckBox("MaxSBMore4", new { })<span></span>
                                        > 4"
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-actions savedraft">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6" style="text-align:right;margin-top:30px;">
                                <input type="button" class="btn save savedraft" id="btnSaveAsDraft2" onclick="SaveAsDraft();" value="Save As Draft" />
                            </div>
                        </div>
                    </div>
                </div>
    }


</div>
