﻿
@using IEMQSImplementation
@model PCL019
<style>
    clsspan {
        width: 50px;
    }
</style>
<script>
    var Status = '@ViewBag.Status';

    $(document).ready(function () {
        $('input[maxlength]').maxlength({ alwaysShow: true, });
        //jQuery(function ($) {
        //    $('.numeric').autoNumeric('init', { aPad: "true", vMax: "1000000000", aForm: "false" });
        //});

        $('.decimalInput').autoNumeric('init', { vMin: "0.00", vMax: "9999999.99", aSep: '' });

        if (Status != "@clsImplementationEnum.PLCStatus.SendForApprovel.GetStringValue()") {
            $('fieldset.fdControls :input').attr('disabled', true);
            $(".savedraft").hide();
        }
        IsDisplayOnly();
        var strHeader = '@ViewBag.HeaderId';
        $("#txtAllowanceHeader").val(strHeader);
        SetNumericInputVal();
    });

    function SaveAsDraft() {
       if (PostValidationForSave()) {
            if ($("#frmCDAllowance").valid()) {
                var frmSaveValue = $("#frmCDAllowance").serializeArray();
                SaveCDAllowance(frmSaveValue, status)
            }
        }
    }

    function SaveCDAllowance(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/PLC/ApproveCheckList/SaveCDAllowance",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtCDAllowance").val(data.LineID);
                    var strHeader = data.HeaderID;
                    $("#txtCDAllowanceHeader").val(strHeader);
                    DisplayNotiMessage("success", data.Value, "Success");
                    $("#Section3").trigger("click");
                } else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }
</script>

<div id="dvSection1">
    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmCDAllowance", @class = "form-horizontal" }))
    {
        <div class="row savedraft">
            <div class="col-md-12">
                <div class="col-md-6">
                </div>
                <div class="col-md-6" style="text-align:right;">
                    <input type="button" class="btn save savedraft" id="btnSaveAsDraft1" onclick="SaveAsDraft();" value="Save As Draft" />
                </div>
            </div>
        </div>
        <hr class="savedraft"/>
        @Html.HiddenFor(m => m.HeaderId, new { id = "txtCDAllowanceHeader" })
        @Html.HiddenFor(m => m.LineId, new { id = "txtCDAllowance" })

        <fieldset class="fdControls">
            <legend>1 Shell</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label"> Allowance for E/B &nbsp; <span>@Html.TextBoxFor(m => m.ShellAllwEB, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span> ,EB not applicable if rolling done in PFS and thk less than 50mm.</label><br />
                    <label class="control-label"> Allowance for ESSC shrinkage &nbsp; <span>@Html.TextBoxFor(m => m.ShellShrinkage, new { @class = "clsAllowance decimalInput" })</span> &nbsp; mm on Circ Lg and &nbsp; <span>@Html.TextBoxFor(m => m.ShellWidth, new { @class = "clsAllowance decimalInput" })</span>&nbsp; mm / m lg on Width.</label><br />
                    <label class="control-label"> Allowance for M/cing <span class="clsspan">@Html.TextBoxFor(m => m.Shelllong, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span>&nbsp;  mm for long seam and <span class="clsspan">@Html.TextBoxFor(m => m.Shellcirc, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span> mm for cric seam </label><br />
                    <label class="control-label"> Negative Allowance for Stretch <span class="clsspan">@Html.TextBoxFor(m => m.NegAllow, new { @class = "clsAllowance decimalInput" })</span>&nbsp; mm for circ lg.</label><br />
                    <label class="control-label">Allowance for Nub built up / TSR <span>@Html.TextBoxFor(m => m.AllowNub, new { @class = "clsAllowance decimalInput" })</span> &nbsp; mm per Nub and  &nbsp; <span>@Html.TextBoxFor(m => m.AllowTSR, new { @class = "clsAllowance decimalInput" })</span>&nbsp;mm per TSR</label><br />
                    <label class="control-label">Tolerance on Ovality &nbsp; <span>@Html.TextBoxFor(m => m.TOvality, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span> mm (0.25% of ID) (Target for 9 mm Ovality)</label><br />
                  @*  <label class="control-label">Tolerance on Out of Roundness  <span>@Html.TextBoxFor(m => m.TOutRoundness, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span> of outside Dia.</label><br />*@
                    <label class="control-label">Tolerance on Circumference &nbsp; <span>@Html.TextBoxFor(m => m.TCircum, new { @class = "clsAllowance decimalInput" })</span> +1/-0 mm/segment of shell.</label><br />
                </div>
            </div>
        </fieldset>
        <fieldset class="fdControls">
            <legend>2 D’end</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label"> Allowance for M / cing &nbsp; <span>@Html.TextBoxFor(m => m.DEndMcing, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span> &nbsp;  mm on open end.</label><br />
                    <label class="control-label">  Allowance for Seam shrinkage &nbsp; <span>@Html.TextBoxFor(m => m.DEndSeam, new { @class = "clsAllowance decimalInput" })</span>&nbsp; mm per seam;<span>@Html.TextBoxFor(m => m.DEndCirc, new { @class = "clsAllowance decimalInput" })</span>&nbsp;mm on cric</label><br />
                </div>
            </div>
        </fieldset>

        <fieldset class="fdControls">
            <legend>3 Y-Ring</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label">  Allowance for ESSC &nbsp; <span>@Html.TextBoxFor(m => m.YRingESSC, new { @class = "clsAllowance decimalInput" })</span> &nbsp; mm on Circ lg.</label><br />
                </div>
            </div>
        </fieldset>

        <fieldset class="fdControls">
            <legend>4 Skirt</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label">	Tolerance on flatness of base ring <span>@Html.TextBoxFor(m => m.SkirtTol, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span> &nbsp; mm.</label><br />
                </div>
            </div>
        </fieldset>

        <fieldset class="fdControls">
            <legend>5 Critical Tolerances/ Requirement</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label">Peaking at weld seam for circular form &nbsp;<span>@Html.TextBoxFor(m => m.CTRPeak, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span> mm max.</label><br />
                    <label class="control-label">Max offset at edges to be butt welded &nbsp; <span>@Html.TextBoxFor(m => m.CTRMaxOffset, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span> &nbsp; mm.</label><br />
                    <label class="control-label">Out of roundness of equipment <span class="clsspan">@Html.TextBoxFor(m => m.CTROutRound, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span>&nbsp; of ID </label><br />
                    <label class="control-label">TDE Nozzle Nozzle Face Projection from T.T.L <span class="clsspan">@Html.TextBoxFor(m => m.CTRTDE, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span>&nbsp; mm.</label><br />
                    <label class="control-label">Dump Nozzle Nozzle Face Projection from B.T.L<span>@Html.TextBoxFor(m => m.CTRDump, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span> &nbsp; mm</label><br />
                    <label class="control-label">Max Allowable Radial Flatness for Dump Nozzle(Measured after PWHT)  is  &nbsp; <span>@Html.TextBoxFor(m => m.CTRMaxAllow, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span> mm.</label><br />
                </div>
            </div>
        </fieldset>

        <div class="form-actions savedraft">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align:right;margin-top:30px;">
                        <input type="button" class="btn save savedraft" id="btnSaveAsDraft2" onclick="SaveAsDraft();" value="Save As Draft" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
