﻿
@using IEMQSImplementation
@model PCL033

<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />

<script>
    var Status = '@ViewBag.Status';
    $(document).ready(function () {
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        $('input[maxlength]').maxlength({ alwaysShow: true, });
        jQuery(function ($) {
            $('.numericval').autoNumeric('init', { aPad: "true", vMax: "99", aForm: "false" });
        });

        if (Status != "@clsImplementationEnum.PLCStatus.SendForApprovel.GetStringValue()") {
            $('div.fdControls :input').attr('disabled', true);
            $(".savedraft").hide();
        }
        if ('@ViewBag.Action'.toLowerCase() == "edit") {

        }
        SetNumericInputVal();
        var strHeader = '@ViewBag.HeaderId';
        $("#txtEOFixtureHeader").val(strHeader); IsDisplayOnly();

    });

    function SaveAsDraft() {
         if (PostValidationForSave()) {
            if ($("#frmEOFixtureRqmnt").valid()) {
                var frmSaveValue = $("#frmEOFixtureRqmnt").serializeArray();
                SaveHeaderEOFixture(frmSaveValue, status);
            }
        }
    }
    function SaveHeaderEOFixture(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/PLC/ApproveCheckList/SaveEOFixture",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtEOFixtureLine").val(data.LineID);
                    var strHeader = data.HeaderID;
                    $("#txtEOFixtureHeader").val(strHeader);
                    DisplayNotiMessage("success", data.Value, "Success");
                    $("#Section5").trigger("click");
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>
<div class="fdControls">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmEOFixtureRqmnt", @class = "form-horizontal" }))
            {
                <div class="row savedraft">
                    <div class="col-md-12">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6" style="text-align:right;">
                            <input type="button" class="btn save savedraft" id="btnSaveAsDraft1" onclick="SaveAsDraft();" value="Save As Draft" />
                        </div>
                    </div>
                </div>
                <hr class="savedraft" />
                @Html.HiddenFor(m => m.HeaderId, new { id = "txtEOFixtureHeader" })
                @Html.HiddenFor(m => m.LineId, new { id = "txtEOFixtureLine" })
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            Scope Of Work
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <table class="table table-striped table-bordered table-hover table-header-fixed" id="tblFixtureRequirment">
                            <thead class="flip-content" style="padding: 8px;">
                                <tr>
                                    <th class="numeric">#</th>
                                    <th class="numeric" style="width: 20%;">Fixture</th>
                                    <th class="numeric" >Required?</th>
                                    <th class="numeric" style="width: 15%;">Required Date</th>
                                    <th class="numeric">No. of fixture</th>
                                    <th class="numeric">Available <br />Quantity</th>
                                    <th class="numeric">Drawing </th>
                                    <th class="numeric">Material</th>
                                    <th class="numeric">Fabrication</th>
                                    <th class="numeric">Delivery to shop</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="all">1</td>
                                    <td class="numeric">Bolted dummy shell(DOW EO)</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BDSReq"> @Html.CheckBox("BDSReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.BDSReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BDSNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BDSAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BDSDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BDSMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BDSFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BDSDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>

                                <tr>
                                    <td class="all">2</td>
                                    <td class="numeric">Dummy shell 2Nos/Job</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DummyShellReq"> @Html.CheckBox("DummyShellReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.DummyShellReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DummyShellNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DummyShellAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DummyShellDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DummyShellMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DummyShellFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DummyShellDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>

                                <tr>
                                    <td class="all">3</td>
                                    <td class="numeric">Spider for Bracket welding</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SBWReq"> @Html.CheckBox("SBWReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SBWReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SBWNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SBWAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SBWDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SBWMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SBWFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SBWDel, new { @class = "form-control", maxlength = "20" })
                                </tr>

                                <tr>
                                    <td class="all">4</td>
                                    <td class="numeric">Saddle for Machining BTS Nos 2/Job in DOW EO & 1 For Shell Design</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SMBReq"> @Html.CheckBox("SMBReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SMBReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>

                                    <td class="numeric">@Html.TextBoxFor(m => m.SMBNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SMBAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SMBDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SMBMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SMBFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SMBDel, new { @class = "form-control", maxlength = "20" })
                                </tr>

                                <tr>
                                    <td class="all">5</td>
                                    <td class="numeric">Saddle for Machining TTS</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SMTReq"> @Html.CheckBox("SMTReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SMTReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SMTNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SMTAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SMTDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SMTMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SMTFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SMTDel, new { @class = "form-control", maxlength = "20" })
                                </tr>

                                <tr>
                                    <td class="all">6</td>
                                    <td class="numeric">Baffle Assembly Fixture</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BAFReq"> @Html.CheckBox("BAFReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.BAFReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BAFNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BAFAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BAFDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.BAFMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.BAFFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.BAFDel, new { @class = "form-control", maxlength = "20" })
                                </tr>

                                <tr>
                                    <td class="all">7</td>
                                    <td class="numeric">Bolted Lug 8 Nos.</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BLNReq"> @Html.CheckBox("BLNReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.BLNReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>

                                    <td class="numeric">@Html.TextBoxFor(m => m.BLNNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BLNAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BLNDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.BLNMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.BLNFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.BLNDel, new { @class = "form-control", maxlength = "20" })
                                </tr>

                                <tr>
                                    <td class="all">8</td>
                                    <td class="numeric">Studs for Bolted Lugs -1 7/8 Inch 600 Length</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SBLReq"> @Html.CheckBox("SBLReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SBLReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SBLNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SBLAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SBLDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SBLMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SBLFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SBLDel, new { @class = "form-control", maxlength = "20" })
                                </tr>

                                <tr>
                                    <td class="all">9</td>
                                    <td class="numeric">Tube Related Items</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TRIReq"> @Html.CheckBox("TRIReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.TRIReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>

                                    <td class="numeric">@Html.TextBoxFor(m => m.TRINoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TRIAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TRIDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.TRIMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.TRIFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.TRIDel, new { @class = "form-control", maxlength = "20" })
                                </tr>

                                <tr>
                                    <td class="all">10</td>
                                    <td class="numeric">Lug and Temp Cleat</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LTCReq"> @Html.CheckBox("LTCReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.LTCReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>

                                    <td class="numeric">@Html.TextBoxFor(m => m.LTCNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LTCAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LTCDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.LTCMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.LTCFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.LTCDel, new { @class = "form-control", maxlength = "20" })
                                </tr>

                                <tr>
                                    <td class="all">11</td>
                                    <td class="numeric">Preheater assembly fixtures (Rail, Base plates, Dummy shell,Evener Beam)</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PAFReq"> @Html.CheckBox("PAFReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.PAFReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>

                                    <td class="numeric">@Html.TextBoxFor(m => m.PAFNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PAFAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PAFDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.PAFMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.PAFFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.PAFDel, new { @class = "form-control", maxlength = "20" })
                                </tr>

                                <tr>
                                    <td class="all">12</td>
                                    <td class="numeric">Insert insertion fixture</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IIFReq"> @Html.CheckBox("IIFReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.IIFReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.IIFNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.IIFAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.IIFDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.IIFMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.IIFFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.IIFDel, new { @class = "form-control", maxlength = "20" })
                                </tr>

                                <tr>
                                    <td class="all">13</td>
                                    <td class="numeric">Dummy shell for Flange L/S welding &amp; Preheater machining</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DSFReq"> @Html.CheckBox("DSFReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.DSFReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DSFNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DSFAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DSFDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.DSFMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.DSFFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.DSFDel, new { @class = "form-control", maxlength = "20" })
                                </tr>

                                <tr>
                                    <td class="all">14</td>
                                    <td class="numeric">ISR Angle for LSR of Seams</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ISRReq"> @Html.CheckBox("ISRReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ISRReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ISRNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ISRAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ISRDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.ISRMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.ISRFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.ISRDel, new { @class = "form-control", maxlength = "20" })
                                </tr>

                                <tr>
                                    <td class="all">15</td>
                                    <td class="numeric">Studs for Bolted Dummy shell</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SBDReq"> @Html.CheckBox("SBDReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SBDReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SBDNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SBDAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SBDDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SBDMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SBDFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SBDDel, new { @class = "form-control", maxlength = "20" })
                                </tr>

                                <tr>
                                    <td class="all">16</td>
                                    <td class="numeric">Stools for PWHT - Support Stools (Section PWHT)</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SPWHTReq"> @Html.CheckBox("SPWHTReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SPWHTReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SPWHTNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SPWHTAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SPWHTDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SPWHTMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SPWHTFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SPWHTDel, new { @class = "form-control", maxlength = "20" })
                                </tr>

                                <tr>
                                    <td class="all">17</td>
                                    <td class="numeric">Spider for Heads</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SHReq"> @Html.CheckBox("SHReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SHReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SHNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SHAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SHDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SHMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SHFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SHDel, new { @class = "form-control", maxlength = "20" })
                                </tr>

                                <tr>
                                    <td class="all">18</td>
                                    <td class="numeric">Moon plate for head L/S</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="MPHReq"> @Html.CheckBox("MPHReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.MPHReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.MPHNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.MPHAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.MPHDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.MPHMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.MPHFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.MPHDel, new { @class = "form-control", maxlength = "20" })
                                </tr>

                                <tr>
                                    <td class="all">19</td>
                                    <td class="numeric">Shell Cource lifting and turning fixture</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SCLReq"> @Html.CheckBox("SCLReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SCLReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SCLNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SCLAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SCLDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SCLMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SCLFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.SCLDel, new { @class = "form-control", maxlength = "20" })
                                </tr>

                                <tr>
                                    <td class="all">20</td>
                                    <td class="numeric">Baffle Item - Pins (Rods)</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BIPReq"> @Html.CheckBox("BIPReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.BIPReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BIPNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BIPAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BIPDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.BIPMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.BIPFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.BIPDel, new { @class = "form-control", maxlength = "20" })
                                </tr>

                                <tr>
                                    <td class="all">21</td>
                                    <td class="numeric">Baffle template fixture</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BTFReq"> @Html.CheckBox("BTFReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.BTFReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BTFNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BTFAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BTFDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.BTFMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.BTFFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.BTFDel, new { @class = "form-control", maxlength = "20" })
                                </tr>

                                <tr>
                                    <td class="all">22</td>
                                    <td class="numeric">Wrapper ring 2Nos / Job</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WRReq"> @Html.CheckBox("WRReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.WRReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.WRNoFix, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.WRAvlQty, new { @class = "form-control decimalInput", maxlength = "12"})</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.WRDrg, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.WRMtrl, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.WRFab, new { @class = "form-control" })
                                    <td class="numeric">@Html.TextBoxFor(m => m.WRDel, new { @class = "form-control", maxlength = "20" })
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            <div class="form-actions savedraft">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6" style="text-align:right;margin-top:30px;">
                            <input type="button" class="btn save savedraft" id="btnSaveAsDraft2" onclick="SaveAsDraft();" value="Save As Draft" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
@*
    <script src="~/Scripts/DatetimePickerdaterangepicker.min.js" type="text/javascript"></script>*@
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>

<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        window.setTimeout(function ()
        {
            //TableDatatablesFixedHeader.init();
            TableDatatablesFixedHeader.enabled($("#tblFixtureRequirment"));
        }, 500);
    });
</script>