﻿@using IEMQSImplementation
<style>
    .colWidth200 {
        min-width: 150px !important;
    }
    .colWidth150 {
        min-width: 100px !important;
    }
</style>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Welder Master List (@ViewBag.Title)
        </div>
        <div class="tools" id="dvExportCertificate">
            @if (!ViewBag.IsDisplay)
            {
                <div class="btn-group">
                    <a style="margin-left:5px;" id="btnReplacePSNo" onclick="LoadReplacePSNOPartial('overlay');" class="btn btn-circle white btn-outline btn-sm">
                        <i class="fa fa-user"></i> Replace PS No
                    </a>
                    <a style="margin-left:5px;" id="btnImport" class="btn btn-circle white btn-outline btn-sm">
                        <i class="fa fa-file-excel-o"></i> Import
                    </a>
                    <a style="margin-left:5px;" id="btnDownloadTemplate" onclick="DownloadTemplate('/WQ/MaintainWML/GenerateExcelWML?m=y','@clsImplementationEnum.GridType.WOPQCertificate.GetStringValue()','#dvExportCertificate');" class="btn btn-circle white btn-outline btn-sm">
                        <i class="fa fa-download"></i> Template
                    </a>
                </div>
            }
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/WQ/MaintainWML/GenerateExcelWML", GridType = ViewBag.GridType, dvId = "#dvExportCertificate" })
            <div class="btn-group">
                <a style="margin-left:5px;" id="Overlay" class="btn btn-circle white btn-outline btn-sm" onclick="MaintainNotes(this, 'Overlay')">
                    <i class="fa fa-sticky-note"></i> Notes
                </a>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <form id="frmCertificate">
            <table class="table table-striped table-bordered table-hover" id="tblCertificate" cellspacing="0">
                <thead>
                    <tr>
                        <th class="hide">id</th>
                        @*<th>Specific Notes<div class="colWidth200"></div></th>*@
                        <th >PS <br />No</th>
                        <th class="colWidth150">Welder Name</th>
                        <th>Stamp<br />No</th>
                        <th>Shop</th>
                        <th>Welding <br />Process(s)</th>
                        <th>Welding <br />Type</th>
                        @*<th>Joint Type</th>*@
                        <th>Pos Overlay <br />Plate & Pipe >=610</th>
                        <th>Pos Overlay <br />Pipe < 610</th>
                        <th>P No</th>
                        <th>F No</th>
                        <th>Base metal <br />thickness in mm</th>
                        <th>Deposit thickness (mm)</th>
                        <th>Plate/Pipe Dia</th>
                        <th>Backing</th>
                        <th>Circ. Weld Ovly</th>
                        <th>Last Weld Date</th>
                        <th>Valid upto</th>
                        <th >WQT No.</th>
                        <th class="colWidth200">Remarks</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </form>
    </div>
</div>

<script>
    var isDisplay = @ViewBag.IsDisplay.ToString().ToLower();
    var UtilityParams = undefined;
    $(document).ready(function () {
        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });
        var strRole = '@ViewBag.person';
        var strTabName = '@ViewBag.tabname';
        var strLocation = '@ViewBag.Location';

        loadWPQ(strLocation, strRole);

        var strHtml = "<scr" + "ipt>$(document).ready(function(){"
                + "$('#uploadForm').validate({"
                + " rules: {"
                + "upload: { required: true },"
                + "messages: { upload: { required: 'Attachment is required' } }"
                + "}"
                + "});"
                + "$('#btnTemplate').click(function () {"
                + "$('#btnDownloadTemplate').trigger('click');"
                + "});"
                + "});</scr" + "ipt>"
                + " <div>"
                + "<form method='post' id='uploadForm' enctype = 'multipart/form-data' class='form-horizontal' action=''>"
                + "<div class='form-group'>"
                + "<div class='col-md-12'>"
                + "<div class=''>"
                + "<span class='required'>Please use given <b>'Template'</b> for import..!! or <a id='btnTemplate'><u>Download Template</u></a> </span>"
                + "</div>"
                + "<div class=''>"
                + "<input type='file' class='btn green' required='required' id='upload' name='upload' />"
                + "</div>"
                + "</div>"
                + "</div>"
                + "</form>"
                + "</div>";

        $('#btnImport').click(function () {
            bootbox.confirm({
                message: strHtml,
                //size: "",
                buttons: {
                    confirm: {
                        label: 'Upload',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Close',
                        className: 'btn btnclose'
                    }
                },
                callback: function (result) {
                    if (result) {
                        if ($('#uploadForm').valid()) {
                            var frmHeaderValues = $("#uploadForm").serializeArray();
                            var formdata = new FormData();
                            if (frmHeaderValues != null && frmHeaderValues != undefined) {
                                $.each(frmHeaderValues, function (key, input) {
                                    formdata.append(input.name, input.value);
                                });
                                formdata.append('upload', $('input[type=file]')[0].files[0]);
                                formdata.append("Project", $('#Project').val())
                                formdata.append("WMLType", $('#WMLType').val())
                                formdata.append('Location', $('#Location').val());
                            }
                            $.ajax({
                                url: WebsiteURL + "/WQ/MaintainWML/ImportExcelWMLWOPQ",
                                type: "POST",
                                datatype: 'json',
                                //enctype: 'multipart/form-data',
                                contentType: false,
                                processData: false,
                                data: formdata,
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        UtilityParams.dtReload();
                                    }
                                    else {
                                        if (data.Value == "Error") {
                                            window.location = WebsiteURL + '/Utility/General/Download?file=' + data.FileName;
                                            DisplayNotiMessage("error", "Please check error file", "Error");
                                        }
                                        else {
                                            DisplayNotiMessage("error", data.Value, "Error");
                                        }
                                    }
                                },
                                error: function ()
                                {
                                    DisplayNotiMessage("error", "The file could not be uploaded.", "error");
                                    return false;
                                }
                            });
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                }
            });
        });
    });
    function loadWPQ(strLocation, role) {
        var table = $('#tblCertificate');
        UtilityParams = {
            sUrl: "/WQ/MaintainWML/LoadWMLWOPQCertificateData",
            aoColumns: [
                { "name": "Id", "sClass": "hide" },
                //{ "name": "SpecificationNotes", "sClass": "center" },
                { "name": "WelderName", "sClass": "center" },
                { "name": "", "sClass": "center clsWelderName", "attr": "none" , "bSortable": false},
                { "name": "WelderStampNo", "sClass": "center" },
                { "name": "Shop", "sClass": "center" },
                { "name": "WeldingProcessEsQualified", "sClass": "center" },
                { "name": "TypeOfWeldingAutomaticQualified", "sClass": "center" },
                //{ "name": "JointType", "sClass": "center" },
                { "name": "PlatePipePositionActual", "sClass": "center" },
                { "name": "PipeWeldingPositionQualified", "sClass": "center" },
                { "name": "PNo", "sClass": "center" },
                { "name": "FNo", "sClass": "center" },
                { "name": "BaseMetalThicknessQualified", "sClass": "center", "attr": "none" },
                { "name": "DepositedThicknessQualified", "sClass": "center", "attr": "none" },
                { "name": "PlatePipeQualified", "sClass": "center" },
                { "name": "BackingQualified", "sClass": "center" },
                { "name": "CircWeldOvly", "sClass": "center" },
                { "name": "LastWeldDate", "sClass": "center", "attr": "date" },
                { "name": "ValueUpto", "sClass": "center", "attr": "date" },
                { "name": "WQTNo", "sClass": "center" },
                { "name": "Remarks", "sClass": "center" },
                { "name": "Action", "sClass": "center @(ViewBag.IsDisplay == true? "hide":"")", "attr": "none", "bSortable": false },
            ]
        };

        UtilityParams.aServerParams = [{ "name": "MTStatus", "value": '@ViewBag.Location' }, { "name": "Project", "value": $("#Project").val() }, { "name": "WMLType", "value": $("#WMLType").val() }, { "name": "Department", "value": role }, { "name": "Flag", "value": isDisplay }];
        UtilityParams.iScrollY = 480;
        UtilityParams.iResponsiveOnWindowWidth = 800;
        UtilityParams.bIsResponsive = false;
        UtilityParams.bIsSearchFilter = true;
        UtilityParams.bIsWrap = true;
        UtilityParams.bIsLazyLoading = false;
        UtilityParams.bIsIgnoreHiddenColumns = false;
        UtilityParams.iFCLeft = 0;
        UtilityParams.iFCRight = (isDisplay? 0:1);
        if(isDisplay != true)
            UtilityParams.oSRE = { sUrl: "/WQ/MaintainWML/GetWOPQInlineEditableRow", iRowIDAt: 0, sCallback: 'CallAfterLoadSRE', iSelectedHeight: 68, sEditTriggerClass: 'fa-pencil-square-o', bIsUpdateFromServer: true };
        UtilityParams.sBtnDivSelector = "#dvExportCertificate";
        table.dtUtility(UtilityParams);
    }

    function CallAfterLoadSRE(id) {
        $('input[colname="LastWeldDate"],input[colname="ValueUpto"]').each(function () {
            $(this).attr('type', 'date');
        });
        $('#LastWeldDate' + id).change(function () {
            var dt = new Date(this.value);
            dt.setDate(dt.getDate() + 180)
            $('#ValueUpto' + id).val(dt.toISOString().substr(0, 10));
        })
        $('#PlatePipeQualified' + id).change(function () {
            this.value = (this.value == '' ? 'Plate and pipe >=73' : (this.value == 'PPT001' || this.value == 'Plate001' ? 'Plate and Pipe' : 'Plate and pipe >=73'))
        });
        $('#tblCertificate_wrapper').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = "#" + $(this).attr("hdElement");
            var lineid = $(this).attr("spara");

            if ($(this).attr("colname") == "txtWelderName") {
                FillWelderAutoCompleteUsing(element, "/Utility/General/GetIntExtWelderDetail?location="+ $("#Location").val(), hdElement,$("#lblWelderName" + lineid), false, undefined,undefined,undefined,undefined)

                //FillAutoCompleteUsingAjax(element, "/Utility/General/GetIntExtWelderDetail?location=" + $("#Location").val(), hdElement, false, undefined, undefined, undefined, undefined, function (data) {
                //    return $.map(data, function (item) {
                //        return { label: item.Name, value: item.Name, id: item.Code };
                //    })
                //})
            } else if ($(this).attr("colname") == "txtShop") {
                FillAutoCompleteUsingAjax(element, "/Utility/General/GetShopCode", hdElement, false, undefined, undefined, undefined, undefined, function (data) {
                    return $.map(data, function (item) {
                        return { label: item.CategoryDescription, value: item.Code, id: item.Code };
                    })
                })
            }
            else if ($(this).attr("colname") == "txtWeldingProcessEsQualified") {
                FillAutoCompleteUsingAjax(element, "/WQ/WPQCertificate/GetSubCatagoryForAutoComplete?Key=Welding Process&strLoc=@(ViewBag.ParentLocation)", hdElement, false, undefined, undefined, undefined, undefined, function (data) {
                    return Array.from(new Set($.map(data, function (item) {
                        return { label: item.value, value: item.value, id: item.id };
                    })))
                });
            }
            else if ($(this).attr("colname") == "txtTypeOfWeldingAutomaticQualified") {
                FillAutoCompleteUsingAjax(element, "/WQ/WPQCertificate/GetSubCatagoryForAutoComplete?Key=Welding Type&strLoc=@(ViewBag.ParentLocation)", hdElement, false, undefined, undefined, undefined, undefined, function (data) {
                    return Array.from(new Set($.map(data, function (item) {
                        return { label: item.value, value: item.value, id: item.id };
                    })))
                });
            }
            else if ($(this).attr("colname") == "txtBackingQualified") {
                FillAutoCompleteUsingAjax(element, "/WQ/WPQCertificate/GetSubCatagoryForAutoComplete?Key=Backing&strLoc=@(ViewBag.ParentLocation)", hdElement, false, undefined, undefined, undefined, undefined, function (data) {
                    return Array.from(new Set($.map(data, function (item) {
                        return { label: item.value, value: item.value, id: item.id };
                    })))
                });
            }
        });
        $('input[maxlength]').maxlength({ alwaysShow: true });
        /* if (id == 0)
             $('#WeldType0').focus();
         LoadMultiSelect();

         $('#Edit' + id).click();

         $('*[colname=SeamLengthArea]').autoNumeric('init', { aPad: "fase", vMin: "0", vMax: "2147483647", aForm: "false", mDec: "0" });
         $('.numeric').autoNumeric('init', { aPad: "fase", vMin: "0", aForm: "false" });
         $('#SeamNo' + id).on("keyup", function (e) {
             if (e.keyCode == 9)
                 $('#SeamRev' + id).focus();
         })*/
    }

    function EditRecord(Id) {
        if (!LineValidation(Id))
            return false;

        $('#tblCertificate_wrapper').find("thead:eq(1) .dataTables_sizing").html(''); // remove copy of new record textbox
        var formData = new FormData();
        var frmValues = $('#frmCertificate').serializeArray();
        $.each(frmValues, function (key, input) {
            formData.append(input.name, input.value);
        });
        if (Id == 0) {
            formData.append("Project0", $('#Project').val())
            formData.append("WMLType0", $('#WMLType').val())
            formData.append("Location0",$('#Location').val());
        }
        SaveRecord(formData, Id);
    }

    function SaveRecord(formData, Id) {
        $.ajax({
            url: WebsiteURL + '/WQ/MaintainWML/SaveWMLWOPQCertificate?Id=' + Id,
            data: formData,
            contentType: false,
            processData: false,
            type: 'POST',
            //async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key == true) {
                    UtilityParams.dtReload();
                    DisplayNotiMessage("success", data.Value, "Success");
                    if ($('#btnNew_tblCertificate').html() == '<i class="fa fa-times"></i> Cancel')
                        $('#btnNew_tblCertificate').click();
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                    $('#tblCertificate').DataTable().columns.adjust();
                }
            }
        });
    }

    function DeleteRecord(Id) {
        bootbox.confirm({
            message: "Are you sure you want to delete this?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success',
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: WebsiteURL + "/WQ/MaintainWML/DeleteWMLWOPQCertificate",
                        type: "POST",
                        data: { id: Id },
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        success: function (data) {
                            if (data.Key != true)
                                DisplayNotiMessage("error", data.Value, "Error");
                            UtilityParams.dtReload();
                        },
                        error: function (data) {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                    });
                }
                bootbox.hideAll();
            }

        });
    }


    function LineValidation(lineid) {
        var errorMsg = "";

        if (!$("#WQTNo" + lineid).val())
            $("#WQTNo" + lineid).attr("required", "required");
        if (!$("#WelderStampNo" + lineid).val())
            $("#WelderStampNo" + lineid).attr("required", "required");
        if (!$("#Welder" + lineid).val())
            $("#Welder" + lineid).attr("required", "required");
        if (!$("#Shop" + lineid).val())
            $("#Shop" + lineid).attr("required", "required");
        if (!$("#PlatePipeEnterDiaIfPipeOrTubeQualified" + lineid).val())
            $("#PlatePipeEnterDiaIfPipeOrTubeQualified" + lineid).attr("required", "required");
        if (!$("#LastWeldDate" + lineid).val())
            $("#LastWeldDate" + lineid).attr("required", "required");
        if (!$("#txtBackingQualified" + lineid).val())
            $("#txtBackingQualified" + lineid).attr("required", "required");

        if (!$("#frmCertificate").valid()) {
            HighlightInValidControls();
            $('#Save' + lineid).css('color', 'red');
            return false;
        }
        else {
            $('#Save' + lineid).css('color', 'unset');
            return true;
        }
    }

    function CancelEditLine() {
        SREresetRowAll('tblCertificate');
    }

</script>