﻿


<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Welder Master List (@ViewBag.Title)
        </div>
        <div class="tools" id="dvExportCertificate">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/WQ/MaintainWML/GenerateExcel", GridType = ViewBag.GridType, dvId = "#dvExportCertificate" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblCertificate" cellspacing="0" width="100%">
            <thead>
                <tr>
                    @*<th class="all">Location</th>*@
                    <th class="all">Specific Notes<div class="colWidth200"></div></th>
                    <th class="all">WQT No.</th>
                    <th class="all">Stamp No</th>
                    <th class="all">Welder Name</th>
                    <th class="all">Shop</th>
                    <th class="all">Joint Type</th>
                    <th class="all">Process</th>
                    <th class="all">Type</th>
                    <th class="all">Valid upto</th>
                    <th class="all">Remarks</th>

                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<style>
    .colWidth200 {
        width: 200px !important;
    }
</style>
<script>
    $(document).ready(function () {
        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });

        var strRole = '@ViewBag.person';
        var strTabName = '@ViewBag.tabname';
        var strLocation = '@ViewBag.Location';
        var table = $('#tblCertificate');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/WQ/MaintainWML/LoadWMLDataTSSCertificateData?location='" + strLocation + "'",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }, { "name": "Department", "value": strRole });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportCertificate").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportCertificate").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
            //{ "name": "Location", "sClass": "center", },
			{ "name": "SpecificationNotes", "sClass": "center" },
            { "name": "WQTNo", "sClass": "center" },
            { "name": "WelderStampNo", "sClass": "center" },
            { "name": "WelderName", "sClass": "center", "ColName": "welders.Welder" },
            { "name": "Shop", "sClass": "center", "ColName": "c2.Shop" },
            { "name": "JoinType", "sClass": "center" },
            { "name": "WeldingProcessEsQualified", "sClass": "center"},
            { "name": "WeldingTypeQualified", "sClass": "center" },
            { "name": "ValueUpto", "sClass": "center" },
            { "name": "Remarks", "sClass": "center" },

            ]
        });
        table.dtSearchFilter();
    });

</script>