﻿


<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">

        </div>
        <div class="tools"> </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblHistoryDetail" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="display:none;">HeaderId</th>
                    <th class="all">Template No</th>
                    <th class="min-phone-l">Contract</th>
                    <th class="min-phone-l">Project</th>
                    <th class="min-phone-l">Customer</th>
                    <th class="min-phone-l">Revision</th>
                    <th class="min-phone-l">Status</th>
                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>

<script>
    $(document).ready(function () {
        var table = $('#tblHistoryDetail');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/MaintainBOMTemplate/LoadHistoryDetailData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": '@ViewBag.HeaderId' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'async': false
                });
            },
            "columns": [
                    {
                        "sClass": "hide",
                    },
                    {
                        "bSortable": false,
                        "sClass": "center",
                    },
                    {
                        "bSortable": false,
                        "sClass": "center",
                    },
                    {
                        "bSortable": false,
                        "sClass": "center",
                    },
                    {
                        "bSortable": false,
                        "sClass": "center",
                    },
                    {
                        "bSortable": false,
                        "sClass": "center",
                    },
                    {
                        "bSortable": false,
                        "sClass": "center",
                    },
                    {
                        "bSortable": false,
                        "sClass": "center",
                        //"sWidth": "10%",
                        "render": function (data, type, row, meta) {
                            var buttons = "";
                            buttons = '<center><a class="btn btn-xs"  href="'+WebsiteURL+'/IPI/MaintainBOMTemplate/HistoryView?id=' + row[0] + '&type=' + '@ViewBag.type' + '"><i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                            return buttons;
                        }
                    },
            ]
        });

    });

</script>
