﻿
@{
    ViewBag.Title = "Load Grid Data";
    Layout = "~/Areas/TEMP/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<h2>Load Grid Data</h2>

<script>
    $(document).ready(function () {

        GetHeaderGridDataPartial('Pending');

    });
    function GetHeaderGridDataPartial(status) {
        $("#portlet_comments_1").empty();
        $.ajax({
            type: "POST",
            url: "/TEMP/TempTT/GetDefaultGridData",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: {},
            success: function (result) {

                $("#portlet_comments_1").html(result);

            },
            error: function () {
            }
        });
    }
</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">

                <div class="row">
                    <div class="col-md-12">

                        <div class="col-md-6">
                            <h1 class="page-title">
                                Load Grid Data
                                <small></small>
                            </h1>
                        </div>
                        <div class="col-md-5" style="text-align:right">
                            
                        </div>
                        <div class="col-md-1" style="text-align:right">
                            <div class="">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-title tabbable-line" style="display:none">
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



