﻿
@{
    ViewBag.Title = "Add Header";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/app.min.js"></script>

<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>

    $(document).ready(function () {
        GetLockingCleatHTML(parseInt('@ViewBag.HeaderID'))
    });

    function GetLockingCleatHTML(headerID) {
        $("#divAddHeader").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PLN/MaintainLockingCleat/LoadHeaderForm",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerID: headerID },
            success: function (result) {
                $("#divAddHeader").html(result);
            },
            error: function () {
            }
        });
    }
</script>
<style>
    .clsAllowance {
        border: 1px solid #c2cad8;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        height: 34px;
        padding: 6px 6px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 60px;
    }

    .clsAllowanceReadonly {
        border: 1px solid #c2cad8;
        border-radius: 4px;
        background-color: #eef1f5;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        height: 34px;
        padding: 6px 6px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 60px;
    }


    .form .form-actions, .portlet-form .form-actions {
        padding: 0px;
    }
</style>
<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body" id="divAddHeader">

        </div>
    </div>
</div>

