﻿@using IEMQSImplementation
@model PLN019
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print Locking Cleat @Model.Project</title>
    <link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
    <link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
    <script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
    <script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
    <script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
    @*<style>
        td {
            text-align: center;
            padding: 2px 4px 2px 4px;
        }
    </style>
    <script>
        $("#spnCalculation1").text(2 * ('@Model.Dimention_a' + '@Model.Dimention_a'));
        $("#spnCalculation2").text('@Model.Dimention_c' + '@Model.Dimention_d');

    </script>*@
</head>
<body>
    <img src="~/Images/Logo.jpg" />
    @*<center>
        <h3><u>Print Locking Cleat @Model.Project</u></h3>
        <div class="row" style="width:95%">
            <table border="1" style="border-collapse:collapse;width:100%">
                <tr>
                    <th>PROCEDURE NO</th>
                    <th> @Model.Document</th>
                    <th>REV NO</th>
                    <th> @Model.RevNo</th>
                    <th>Page 1 of 3</th>
                </tr>
            </table>
        </div>
        <br />
        <div class="row" style="width:95%">
            <!--Project Status-->
            <p style="text-align:center">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

                <img src="~/Images/Logo.jpg" />
                <br />
                <br />
                <h3>
                    LARSEN & TOUBRO LIMITED<br />
                    HED-HAZIRA MFG COMPLEX<br />
                </h3>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <h3> Planning Competency Center<br /></h3>
                <br />
                <br />
                <br />
                <h4>
                    Project <span id="spnPeoject">@Model.Project</span>
                    <span id="spnDesc">@ViewBag.Project</span>
                </h4>
                <br />
                <h2> LOCKING CLEATS WELDING PLAN</h2>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </p>

        </div>
        <br />
        <div class="row" style="width:95%">
            <!--Attendee Details-->
            <table border="1" style="border-collapse:collapse;width:100%">
                <thead>
                    <tr>
                        <th>Rev.No</th>
                        <th>Revision Detail</th>
                        <th>Date</th>
                        <th>Prep. By</th>
                        <th>Appr.By</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.RevNo</td>
                        <td>First Issue</td>
                        <th>@Model.CreatedOn</th>
                        <th>@Model.CreatedBy</th>
                        <th>@Model.ApprovedBy</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="row" style="width:95%">
            <table border="1" style="border-collapse:collapse;width:100%">
                <tr>
                    <td>PROCEDURE NO</td>
                    <td> @Model.Document</td>
                    <td>REV NO</td>
                    <td> @Model.RevNo</td>
                    <td>Page 2 of 3</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/smalllogo.png" />
                    </td>
                    <td colspan="4">Locking Cleat Plan</td>
                </tr>
            </table>
        </div>
        <div class="row" style="width:95%">
            <!--Project Status-->
            <p style="text-align:left">
                <b>1.Scope:</b><br />
                &nbsp; &nbsp; &nbsp; &nbsp;This procedure provides guidance for Tack Welds,locking cleats size and welding positions for various c/s of shells,assembly of  &nbsp; &nbsp; &nbsp; &nbsp; section and full assembly.<br />
                <br />
                <b>2.Procedure of Setup with locking cleat:</b><br />
                &nbsp;&nbsp; &nbsp;&nbsp;<b>2.1</b> Do marking of cleat area location and clean surface for cleat welding.<br />
                &nbsp;&nbsp; &nbsp;&nbsp;<b>2.2</b> Ckech no. of cleats &Aacute; size of the cleats from Table -1.<br />
                &nbsp;&nbsp; &nbsp;&nbsp;<b>2.3</b> Refer Fig.1 for cleat dimentions.<br />
                &nbsp;&nbsp; &nbsp;&nbsp;<b>2.4</b> If any dimension of cleats does not confirm to dimentions for respective c/s(as shown in Table 1),inform Planning.<br />
                &nbsp;&nbsp; &nbsp;&nbsp;<b>2.5</b> Weld Cleats with I/S surface of shell , with weld size of min <u><b>20 mm fillet</b></u><br />
                <br />
            </p>
            <br />
            <br />

            <div style="text-align:center">
                <img src="~/Images/Cleat.png" />
            </div>
            <br />
            <br />

        </div>
        <div class="row" style="width:95%">
            <!-- Project Header-->
            <table border="1" style="border-collapse:collapse;width:100%">
                <tr>
                    <th>Project</th>
                    <th>Joint</th>
                    <th>Weight  (MT)</th>
                    <th>No of cleats</th>
                    <th>Length “L”</th>
                    <th>Height “H”</th>
                    <th>THK “T”</th>
                    <th>Weld fillet</th>
                    <th>3 sides	Slot Length</th>
                    <th>(# R5 at corner) “b”</th>
                    <th>Slot height	Type of Cleat</th>
                </tr>
                <tr>
                    <td>S040045</td>
                    <td>Y ring # Skirt</td>
                    <td>@Model.Load</td>
                    <td>@Model.NumberofCleats</td>
                    <td><span id="spnCalculation1"></span></td>
                    <td><span id="spnCalculation2"></span></td>
                    <td>@Model.Thickness</td>
                    <td>@Model.SizeofWeld</td>
                    <td>@Model.Dimention_d</td>
                    <td>@Model.Dimention_c</td>
                    <td>@Model.JointType</td>
                </tr>
                <tr>
                    <td>Project</td>
                    <td>JointName</td>
                    <td>Load</td>
                    <td>Number of Cleats</td>
                    <td>2*<br />    Dimensions_a<br />+Dimensions_b</td>
                    <td>Dimensions_c<br />+Dimensions_d</td>
                    <td>Thickness</td>
                    <td>Size of Weld</td>
                    <td>Dimensions_b</td>
                    <td>Dimensions_c</td>
                    <td>Type</td>
                </tr>
            </table>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="row" style="width:95%">
            <table border="1" style="border-collapse:collapse;width:100%">
                <tr>
                    <th>Prepared By</th>
                    <td> @Model.CreatedBy</td>
                    <th>Prepared On </th>
                    <td> @(Model.CreatedOn.HasValue ? Model.CreatedOn.Value.ToString("yyyy-MM-dd") : "")</td>
                </tr>
            </table>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="row" style="width:95%">
            <table border="1" style="border-collapse:collapse;width:100%">
                <tr>
                    <td>PROCEDURE NO</td>
                    <td> @Model.Document</td>
                    <td>REV NO</td>
                    <td> @Model.RevNo</td>
                    <td>Page 3 of 3</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/smalllogo.png" />
                    </td>
                    <td colspan="4">Locking Cleat Plan</td>
                </tr>
            </table>
        </div>

        <div class="row" style="width:95%">
            <!--Project Status-->
            <p style="text-align:left">
                <b>3.Procedure of Setup Tack welds:</b><br />
                <br />
                <br />
                <table border="1" style="border-collapse:collapse;width:100%">
                    <tr>
                        <th colspan="6">Tacks Welding</th>
                    </tr>
                    <tr>
                        <td rowspan="2">SL No</td>
                        <td rowspan="2">Joint details</td>
                        <td rowspan="2">Weight(MT)</td>
                        <td colspan="2">Tacks dimensions</td>
                        <td rowspan="2">No. of tacks</td>
                    </tr>
                    <tr>
                        <td>L (mm)</td>
                        <td>T (mm)</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Y ring # Skirt</td>
                        <td>85</td>
                        <td>250</td>
                        <td>10</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Y ring # Skirt</td>
                        <td>85</td>
                        <td>250</td>
                        <td>10</td>
                        <td>8</td>
                    </tr>
                </table>
            </p>
            <br />
            <br />
            <br />
            <br />
            <div class="row" style="text-align:center">
               Type A: <br />
                <img src="~/Images/TypeA.png" />
                <br />
                Type B: <br /><img src="~/Images/TypeB.png" />
            </div>
        </div>
        <div class="row" style="width:95%">
            <!-- Project Header-->
            <table border="1" style="border-collapse:collapse;width:100%">
                <tr>
                    <th>Project</th>
                    <th>Joint</th>
                    <th>Weight  (MT)</th>
                    <th>No of cleats</th>
                    <th>Length “L”</th>
                    <th>Height “H”</th>
                    <th>THK “T”</th>
                    <th>Weld fillet</th>
                    <th>3 sides	Slot Length</th>
                    <th>(# R5 at corner) “b”</th>
                    <th>Slot height	Type of Cleat</th>
                </tr>
                <tr>
                    <td>S040045</td>
                    <td>Y ring # Skirt</td>
                    <td>@Model.Load</td>
                    <td>@Model.NumberofCleats</td>
                    <td><span id="spnCalculation1"></span></td>
                    <td><span id="spnCalculation2"></span></td>
                    <td>@Model.Thickness</td>
                    <td>@Model.SizeofWeld</td>
                    <td>@Model.Dimention_d</td>
                    <td>@Model.Dimention_c</td>
                    <td>@Model.JointType</td>
                </tr>
                <tr>
                    <td>Project</td>
                    <td>JointName</td>
                    <td>Load</td>
                    <td>Number of Cleats</td>
                    <td>2*<br />    Dimensions_a<br />+Dimensions_b</td>
                    <td>Dimensions_c<br />+Dimensions_d</td>
                    <td>Thickness</td>
                    <td>Size of Weld</td>
                    <td>Dimensions_b</td>
                    <td>Dimensions_c</td>
                    <td>Type</td>
                </tr>
            </table>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
           <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="row" style="width:95%">
            <table border="1" style="border-collapse:collapse;width:100%">
                <tr>
                    <th>Prepared By</th>
                    <td> @Model.CreatedBy</td>
                    <th>Prepared On </th>
                    <td> @(Model.CreatedOn.HasValue ? Model.CreatedOn.Value.ToString("yyyy-MM-dd") : "")</td>
                </tr>
            </table>
        </div>


    </center>*@
    @*<script>
        //Print Script
        window.print();
    </script>*@




</body>
</html>
