﻿@using ReportViewerForMvc
@using Microsoft.Reporting.WebForms
@using System.Web.UI.WebControls
@using AutoCJC.Controllers
@using IEMQSImplementation
@{
    Layout = null;
}

@{
    //var credentials = new IEMQS.Areas.Utility.Controllers.WindowsImpersonationCredentials(System.Configuration.ConfigurationManager.AppSettings["File_Upload_UserID"], System.Configuration.ConfigurationManager.AppSettings["File_Upload_Password"], System.Configuration.ConfigurationManager.AppSettings["NetworkDomain"]);
    var rv = new ReportViewer()
    {
        ProcessingMode = ProcessingMode.Remote,
        SizeToReportContent = true,
        Width = Unit.Percentage(100),
        Height = Unit.Percentage(100),
        ShowParameterPrompts = false
    };
   (new  HomeController()).GetReportServerCreadential(rv, ViewBag.ReportUrl, ViewBag.Params);
    //  rv.ServerReport.ReportServerCredentials = credentials;
    //rv.ServerReport.ReportPath = System.Configuration.ConfigurationManager.AppSettings["SSRS_Report_Folder"] + ViewBag.ReportUrl;
    //rv.ServerReport.ReportServerUrl = new Uri(System.Configuration.ConfigurationManager.AppSettings["SSRS_Server_URL"]);
    //rv.ServerReport.SetParameters((List<ReportParameter>)ViewBag.Params);

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,height=device-height" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Report</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style>
        iframe {
            border: none;
            width: 100% !important;
        }

        html, body, body > iframe {
            height: 100% !important;
        }
    </style>
</head>
<body style="margin:0px">

    @Html.ReportViewer(rv, htmlAttributes: new { margin = "0px" })
</body>
</html>
