﻿@model IEMQSImplementation.PRL405
@using IEMQSImplementation
@{
    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0, s2 = 0, s3 = 0, s4 = 0, s5 = 0, s6 = 0, s7 = 0, s8 = 0, s9 = 0, s10 = 0, s11 = 0;/* for serial number */
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />
<style>
    .clsparent {
        background-color: #fbffb2;
        font-weight: bold;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                    <span class="page-title">@ViewBag.Title.ToString()</span>
                </div>
                <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                </div>
            </div>
            <div id="dvProtocolHeader" style="padding:1%">
                <form id="frmProtocolHeader" class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <table class="FormTable tblNotes" style="margin-bottom:0px">
                                    <tr>
                                        <td class="subtitle"> PROJECT NO.</td>
                                        <td> @Html.DisplayFor(m => m.QualityProject, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        <td class="subtitle"> DATE</td>
                                        <td>
                                            @Html.DisplayFor(m => m.InspectionDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> EQUIPMENT NAME & NUMBER</td>
                                        <td> @ViewBag.ProjectDesc</td>
                                        <td class="subtitle"> PART NO.</td>
                                        <td>@Html.DisplayFor(m => m.SeamNo, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                    </tr>

                                    <tr>

                                        <td class="subtitle"> DRG.NO.& REV.NO.</td>
                                        <td>
                                            <span style="float:left;padding: 1px 1px !important;">@Html.TextBoxFor(m => m.DrawingNo, new { @class = "form-control", @style = "width:250px;", @role = "QC", @placeholder = "Select" })</span>
                                            <span style=""> @Html.TextBoxFor(m => m.DrawingRevisionNo, new { @class = "form-control onlyNumeric", @maxlength = "10", @style = "width: 157px;", @role = "QC" })</span>
                                        </td>
                                        <td class="subtitle">INSPECTION AGENCY</td>
                                        <td>@Html.DisplayFor(m => m.InspectionAgency, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>

                                    </tr>
                                    <tr>
                                        <td class="subtitle"> DCR NO.IF APPLICABLE</td>
                                        <td>@Html.TextBoxFor(m => m.DCRNo, new { @class = "form-control col-md-12", @maxlength = "50", @role = "QC" }) </td>

                                        <td class="subtitle">MANUFACTURING CODE</td>
                                        <td>@ViewBag.ManufacturingCode</td>
                                    </tr>
                                    <tr>
                                </table>
                            </div>
                        </div>
                    </div>



                    <div class="form-group">

                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.HiddenFor(m => m.HeaderId)
                                <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                <div class="">
                                    @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="height: 20px"></div>

                        <div class="col-md-12">

                            <div class="col-md-8">

                                <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span style="float:left;">
                                            </span>
                                        </div>
                                        <div class="tools">
                                            <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body" id="div1">
                                        <div class="table-responsive">
                                            <div class="col-md-6">
                                                @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <input class="btn pull-left" type="button" value="Req. Data Copy" id="btnCopyData" onclick="fncopydata()" />
                                                }
                                            </div>
                                            <div class="col-md-6">
                                                @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <input class="btn pull-right" type="button" value="Act. Data Copy" id="btnActCopyData" onclick="fnActcopydata()" />
                                                }
                                            </div>
                                            <table class="table" id="tblProtocolLines1">
                                                <thead>
                                                    <tr>
                                                        <th style="display:none;" rowspan="2">#</th>
                                                        <th style="display:none;" rowspan="2">LineId</th>
                                                        <th rowspan="3">ORIENTATION</th>
                                                        <th>ELEVATION OF NUB FROM<br />@Html.DropDownListFor(model => model.ElevationOfNubFrom, new SelectList(@ViewBag.ElevationOfNubFrom, "Value", "Text"), "", new { @class = "form-control inlinetextbox width250px", @role = "QC" })</th>
                                                        <th>DIMENSION OF NUB I.D. FROM VESSEL C.L. </th>
                                                        <th rowspan="3">ELEVATION OF NUB BEFORE OVERLAY</th>
                                                        <th rowspan="3">DIMENSION OF NUB I.D. FROM VESSEL C.L. BEFORE OVERLAY</th>
                                                        <th colspan="2">OVERLAY THICKNESS</th>
                                                    </tr>
                                                    <tr>
                                                        <th>REQ<br /> @Html.TextBoxFor(model => model.ReqElevationOfNubFrom, new { @class = "form-control", @maxlength = "20", @role = "QC" })</th>
                                                        <th>REQ<br /> @Html.TextBoxFor(model => model.ReqDimensionOfNubId, new { @class = "form-control", @maxlength = "20", @role = "QC" })</th>

                                                        <th>NUB TOP SIDE</th>
                                                        <th>NUB I.D. SIDE</th>

                                                    </tr>
                                                    <tr>
                                                        <th>TOL<br /> @Html.TextBoxFor(model => model.TolReqElevationOfNubFrom, new { @class = "form-control", @maxlength = "20", @role = "QC" })</th>
                                                        <th>TOL<br /> @Html.TextBoxFor(model => model.TolReqDimensionOfNubId, new { @class = "form-control", @maxlength = "20", @role = "QC" })</th>
                                                        <th>REQ<br /> @Html.TextBoxFor(model => model.ReqNubTopSide, new { @class = "form-control", @maxlength = "20", @role = "QC" })</th>
                                                        <th>REQ<br /> @Html.TextBoxFor(model => model.ReqNubIdSide, new { @class = "form-control", @maxlength = "20", @role = "QC" })</th>
                                                        @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                        {
                                                            <th class="btnthAction">&nbsp;</th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody id="tbody_406">
                                                    @if (ViewBag.lstPRL406 != null)
                                                    {
                                                        foreach (var item in ViewBag.lstPRL406 as List<PRL406>)
                                                        {
                                                            <tr>
                                                                <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                                <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                <td class="Orientation"><label>@Html.TextBox("Orientation_1_" + @s1, @item.Orientation, new { @class = "form-control", @maxlength = "20", @role = "QC" })</label> </td>
                                                                <td class="ActTolReqElevationOfNubFrom">@Html.TextBox("ActTolReqElevationOfNubFrom_1_" + @s1, @item.ActTolReqElevationOfNubFrom, new { @class = "form-control", @maxlength = "20", @role = "PROD", @onchange = "CalOvarlayThicknessNubTopSide('" + @s1 + "')" })</td>
                                                                <td class="ActDimentionOfNubId">@Html.TextBox("ActDimentionOfNubId_1_" + @s1, @item.ActDimentionOfNubId, new { @class = "form-control", @maxlength = "20", @role = "PROD", @onchange = "CalOvarlayThicknessNubIdSide('" + @s1 + "')" })</td>
                                                                <td class="ElevationOfNubBeforeOvarlay">@Html.TextBox("ElevationOfNubBeforeOvarlay_1_" + @s1, @item.ElevationOfNubBeforeOvarlay, new { @class = "form-control", @maxlength = "20", @role = "PROD", @onchange = "CalOvarlayThicknessNubTopSide('" + @s1 + "')" })</td>
                                                                <td class="DimensionOfNubIdBeforeOvarlay">@Html.TextBox("DimensionOfNubIdBeforeOvarlay_1_" + @s1, @item.DimensionOfNubIdBeforeOvarlay, new { @class = "form-control", @maxlength = "20", @role = "PROD", @onchange = "CalOvarlayThicknessNubIdSide('" + @s1 + "')" })</td>
                                                                <td class="OvarlayThicknessNubTopSide"> @Html.TextBox("OvarlayThicknessNubTopSide_1_" + @s1, @item.OvarlayThicknessNubTopSide, new { @class = "form-control", @maxlength = "20", @readonly = "readonly", @tabindex = "-1" })</td>
                                                                <td class="OvarlayThicknessNubIdSide"> @Html.TextBox("OvarlayThicknessNubIdSide_1_" + @s1, @item.OvarlayThicknessNubIdSide, new { @class = "form-control", @maxlength = "20", @readonly = "readonly", @tabindex = "-1" })</td>


                                                                @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                {
                                                                    <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                            <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="col-md-4">

                                NUB I.D
                                @Html.DropDownListFor(model => model.NubID, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "", new { @class = "form-control inlinetextbox w100", @role = "QC", @onchange = "showCladtripTable($(this).val(), \"dvNubID\")" })

                                <br />
                                &nbsp;

                                <div id="dvNubID">


                                    <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="2">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left;">
                                                </span>
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div2', this)" id="btnCollapse2" data-target="#div2" data-original-title="" title=""> </a>
                                            </div>
                                        </div>



                                        <div class="portlet-body" id="div2">
                                            <div class="table-responsive">
                                                <table id="tblProtocolLines2" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th>REQUIRED</th>
                                                            <th>@Html.TextBoxFor(model => model.ReqNubID, new { @class = "form-control", @maxlength = "20", @role = "QC" })</th>
                                                        </tr>
                                                        <tr>

                                                            <th>ORIENTATION</th>
                                                            <th>ACTUAL </th>

                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRL407 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRL407 as List<PRL407>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s2 = s2 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="OrientationReqNubID">@Html.TextBox("OrientationReqNubID_2_" + @s2, @item.OrientationReqNubID, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                                    <td class="ActualNubID">@Html.TextBox("ActualNubID_2_" + @s2, @item.ActualNubID, new { @class = "form-control calOAActual", @maxlength = "10", @role = "PROD" })</td>


                                                                    @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_2_@s2" name="Delete_2_@s2" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                    <tfooter>
                                                        <tr class="outby">
                                                            <td class="min-phone-l" style="display:none;">HeaderId</td>
                                                            <td class="min-phone-l" style="display:none;">LineId</td>
                                                            <td class="datatableFooter" style="text-align:center"> <b>OUT BY </b></td>
                                                            <td class="datatableFooter" style="text-align:center">@Html.TextBoxFor(model => model.OutByNubID, new { @class = "form-control", @readonly = "readonly", @tabindex = "-1" })</td>
                                                        </tr>
                                                    </tfooter>
                                                </table>
                                                <input id="hdGrid2LastRow" type="hidden" value="@s2" />
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>






                        <div class="col-md-12">

                            <div class="col-md-8">
                                &nbsp;

                                <div class="portlet box green inlineparentdiv" id="divLine3" data-gridid="3">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span style="float:left;">
                                            </span>
                                        </div>
                                        <div class="tools">
                                            <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div3', this)" id="btnCollapse3" data-target="#div3" data-original-title="" title=""> </a>
                                        </div>
                                    </div>

                                    <div class="portlet-body" id="div3">
                                        <div class="table-responsive">
                                            <table id="tblProtocolLines3" class="table">
                                                <thead>
                                                    <tr>
                                                        <th style="display:none;">#</th>
                                                        <th style="display:none;">LineId</th>
                                                        <th>OTHER DIMENSIONS / CHECKPOINTS TO BE VERIFIED</th>
                                                        <th>REQUIRED</th>
                                                        <th>ACTUAL</th>

                                                        @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                        {
                                                            <th class="btnthAction">&nbsp;</th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (ViewBag.lstPRL408 != null)
                                                    {
                                                        foreach (var item in ViewBag.lstPRL408 as List<PRL408>)
                                                        {
                                                            <tr>
                                                                <td style="text-align: center;display:none;"># @(s3 = s3 + 1) </td>
                                                                <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                <td class="OtherDimensions">@Html.TextBox("OtherDimensions" + @s3, @item.OtherDimensions, new { @class = "form-control", @maxlength = "100", @role = "QC", @tabindex = "-1" })</td>
                                                                <td class="ReqOtherDimensions">@Html.TextBox("ReqOtherDimensions_3_" + @s3, @item.ReqOtherDimensions, new { @class = "form-control", @maxlength = "50", @role = "QC" })</td>
                                                                <td class="ActOtherDimensions">@Html.TextBox("ActOtherDimensions_3_" + @s3, @item.ActOtherDimensions, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>

                                                                @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                {
                                                                    <td class="DeleteAction"> <i id="Delete_3_@s3" name="Delete_3_@s3" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                            <input id="hdGrid3LastRow" type="hidden" value="@s3" />
                                        </div>
                                    </div>
                                </div>



                            </div>


                            <div class="col-md-4">

                                <div class="table-responsive">
                                    <table class="FormTable tblNotes noborder" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                        <tr>
                                            <td style="text-align: center;">
                                                <br />
                                                <img src="~/Images/Protocol082_img1.png" style="width:400px;" />
                                                <br />
                                                <br />
                                            </td>

                                        </tr>

                                    </table>
                                </div>
                            </div>



                        </div>


                        <div class="col-md-12">
                            <div class="col-md-12">
                                <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                    <tr>
                                        <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                            CHECK POINTS/REMARKS
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clstd">
                                            <span>1) PROCEDURE NO : &nbsp; @Html.TextBoxFor(model => model.CheckPoint1, new { @class = "form-control inlinetextbox", @maxlength = "20", @role = "QC" })</span>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="clstd">
                                            2) VISUAL INSPECTION CARRIED OUT AND FOUND SATISFACTORY ?
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.CheckPoint2, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clstd">
                                            3) MINIMUM TRAY/ BEAM SEATING AREA ENSURED AS PER DRAWING ?
                                        </td>
                                        <td> @Html.DropDownListFor(model => model.CheckPoint3, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })</td>
                                    </tr>

                                    <tr>
                                        <td class="clstd">
                                            4) ALL DIMENSIONS ARE IN MM, UNLESS OTHERWISE SPECIFIED.
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="clstd">
                                            5) MEASURING AND TESTING EQUIPMENT SERIAL NUMBER &nbsp;
                                            @Html.TextBoxFor(model => model.CheckPoint5, new { @class = "form-control inlinetextbox width250px", @maxlength = "20", @role = "PROD" })
                                            &nbsp; & CALIBRATION DUE DATE
                                            <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                @Html.TextBoxFor(m => m.CheckPoint5_2, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;", @role = "PROD" })
                                                <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                    <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            QC REMARK: @Html.TextAreaFor(model => model.QCRemarks, new { @class = "form-control QCRemarks", @maxlength = "200", @role = "QC" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>




                    </div>

                    <br>
                    <br />
                    <br />




                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-6" style="text-align:left;">
                                <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                            </div>
                            <div class="col-md-6" style="text-align:right;">
                                @if (string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase) || string.Equals(ViewBag.isQCRemarkEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase))
                                {
                                    <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                    <input type="button" class="btn submit" id="btnSave" value="Submit" />
                                }
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>


<script>
    var notPRODLastChild = "";
    var notQCLastChild = "";

    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "Linkage";
    var isEdit = '@ViewBag.isEditable';
    var isQCRemarkEditable = '@ViewBag.isQCRemarkEditable';
    var lstOutsideInside = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.OutsideOrInside))));
    $(document).ready(function () {

        SetTableColumns();
        ValidateFormRules();
        //$(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit, isQCRemarkEditable);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        $("#CheckPoint5_2").change(function () {
            if ($("#CheckPoint5_2").val() != "") {
                $('#btnSaveDraft').focus();
            }
        });

        var lstDrawingNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.DrawingNo))));

        FillProtocolAutoComplete($('#DrawingNo'), lstDrawingNo, null, false);

        if ('@Model.RequestNo' == "" || '@Model.RequestNo' == null) {
            $('#QCRemarks').prop("disabled", true).addClass("NonEditableTextColor");
        }

        $('#CheckPoint2').val('Yes');
        $('#NubID').val('Yes');
        $('#CheckPoint3').val('Yes');

        if ('@Model.ElevationOfNubFrom' != "") { $('#ElevationOfNubFrom').val('@Model.ElevationOfNubFrom'); }
        if ('@Model.NubID' != "") { $('#NubID').val('@Model.NubID'); }
        if ('@Model.CheckPoint2' != "") { $('#CheckPoint2').val('@Model.CheckPoint2'); }
        if ('@Model.CheckPoint3' != "") { $('#CheckPoint3').val('@Model.CheckPoint3'); }


        showCladtripTable($('#NubID').val(), "dvNubID");

        if ('@Model.IsDataCopy' == "true") {
            $('#btnCopyData').prop('disabled', true);
        }
        if ('@Model.IsActDataCopy' == "true") {
            $('#btnActCopyData').prop('disabled', true);
        }
    });

    calculateMaxMin("calOAActual", "OutByNubID");

    $(".calOAActual").change(function () {
        calculateMaxMin("calOAActual", "OutByNubID");
    });

    calculateMaxMin("calOBActual", "OutByShellOutOfRoundness");

    $(".calOBActual").change(function () {
        calculateMaxMin("calOBActual", "OutByShellOutOfRoundness");
    });

    $("#NubID").focusout(function () {
        if ($("#NubID").val() == "" || $("#NubID").val() != "") {
            $('#ReqNubID').focus();
        }
    });

    $("#OrientationReqNubID").focusout(function () {
        if ($("#OrientationReqNubID").val() == "" || $("#OrientationReqNubID").val() != "") {
            $('#ShellOutOfRoundness').focus();
        }
    });



    $("#btnPrint").click(function () {
        PrintReport("/IPI/Protocol/PROTOCOL082", $('#HeaderId').val());
    });

    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData" + Linkage + "?s=0", userRole, false, LoadSaveAndDraft);
        LoadSaveAndDraft();
    });

    $("#btnSave").click(function () {
        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
        {
            <text>$('[role="PROD"]').not('.islastrow').prop("required", true);</text>
        }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
        {
            <text>$('[role="QC"]').not('.islastrow').prop("required", true);</text>
        }
        SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData" + Linkage + "?s=1", userRole, true, LoadSaveAndDraft);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }
    function SaveProtocolLine(lineId, gridId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine" + gridId + Linkage, "tblProtocolLines" + gridId, "btnNewLines" + gridId);
        if (gridId == 5) {
            outby();
        }
    }
    function SetTableColumns() {
        if (isEdit.toLowerCase() == "true") {
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) {
                $("[role=PROD]").first().focus();
            }

            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) {
                AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'Orientation', ['Orientation'], AddTbl1NewTrRow, true);
                AddNextRow(this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'OrientationReqNubID', ['OrientationReqNubID'], AddTbl2NewTrRow, true);

                AddNextRow(this, null, false, 3, 'hdGrid3LastRow', 'tblProtocolLines3', 'OtherDimensions', ['OtherDimensions', 'ReqOtherDimensions'], AddTbl3NewTrRow, true);

                notQCLastChild = ":not(:last-child)";
                $("[name=ProtocolNo]").first().focus();
            }
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) { $("[role=PROD]").first().focus(); }
            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) { $("[name=ProtocolNo]").first().focus(); }
        }
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine";
        window[SaveFunction](lineId, gridId);
    }

    function LoadSaveAndDraft() {

        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "Orientation": $('td.Orientation input', this).val(),
                "ActTolReqElevationOfNubFrom": $('td.ActTolReqElevationOfNubFrom input', this).val(),
                "ActDimentionOfNubId": $('td.ActDimentionOfNubId input', this).val(),
                "ElevationOfNubBeforeOvarlay": $('td.ElevationOfNubBeforeOvarlay input', this).val(),
                "DimensionOfNubIdBeforeOvarlay": $('td.DimensionOfNubIdBeforeOvarlay input', this).val(),
                "OvarlayThicknessNubTopSide": $('td.OvarlayThicknessNubTopSide input', this).val(),
                "OvarlayThicknessNubIdSide": $('td.OvarlayThicknessNubIdSide input', this).val(),

            };
            lstProtocolLines1 = JSON.stringify(TableData1);
        });
        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1" + Linkage + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);


        var TableData2 = []; //initialize array;
        var lstProtocolLines2 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines2 > tbody > tr:not(.islastrow)").each(function (row, tr) {

            TableData2[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "OrientationReqNubID": $('td.OrientationReqNubID input', this).val(),
                "ActualNubID": $('td.ActualNubID input', this).val(),
            };
            lstProtocolLines2 = JSON.stringify(TableData2);
        });
        SaveAsDraftProtocolLine(lstProtocolLines2, ControllerURL + "SaveProtocolLine2" + Linkage + "?HeaderId=" + parseInt($("#HeaderId").val()), 2);

        var TableData3 = []; //initialize array;
        var lstProtocolLines3 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines3 > tbody > tr:not(.islastrow)").each(function (row, tr) {

            TableData3[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "OtherDimensions": $('td.OtherDimensions input', this).val(),
                "ReqOtherDimensions": $('td.ReqOtherDimensions input', this).val(),
                "ActOtherDimensions": $('td.ActOtherDimensions input', this).val(),
            };
            lstProtocolLines3 = JSON.stringify(TableData3);
        });
        SaveAsDraftProtocolLine(lstProtocolLines3, ControllerURL + "SaveProtocolLine3" + Linkage + "?HeaderId=" + parseInt($("#HeaderId").val()), 3);

    }

    function AddTbl1NewTrRow(NewTrRowNum) {

        $("#hdGrid1LastRow").val(NewTrRowNum);

        var strhtml =
            "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            "<td class=\"LineId\" style=\"display:none;\">0</td>" +
            "<td class=\"Orientation\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','Orientation',['Orientation'],AddTbl1NewTrRow);\" id=\"Orientation_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"Orientation_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" aria-invalid=\"false\"></td>" +
            "<td class=\"ActTolReqElevationOfNubFrom center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"ActTolReqElevationOfNubFrom_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActTolReqElevationOfNubFrom_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>" +
            "<td class=\"ActDimentionOfNubId center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"ActDimentionOfNubId_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActDimentionOfNubId_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>" +
            "<td class=\"ElevationOfNubBeforeOvarlay center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"ElevationOfNubBeforeOvarlay_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ElevationOfNubBeforeOvarlay_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>" +
            "<td class=\"DimensionOfNubIdBeforeOvarlay center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"DimensionOfNubIdBeforeOvarlay_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"DimensionOfNubIdBeforeOvarlay_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>" +
            "<td class=\"OvarlayThicknessNubTopSide center \"><input class=\"form-control  islastrow  EditableTextColor valid\" id=\"OvarlayThicknessNubTopSide_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"OvarlayThicknessNubTopSide_1_" + NewTrRowNum + "\" role=\"\"  type=\"text\" readonly=\"readonly\"  tabindex=\"-1\"></td>" +
            "<td class=\"OvarlayThicknessNubIdSide center \"><input class=\"form-control  islastrow  EditableTextColor valid\" id=\"OvarlayThicknessNubIdSide_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"OvarlayThicknessNubIdSide_1_" + NewTrRowNum + "\" role=\"\"  type=\"text\" readonly=\"readonly\"  tabindex=\"-1\"></td>" +

            "<td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines1')\" style=\"display:none\"></i></td>" +
            "</tr>";

        return strhtml;

    }

    function AddTbl2NewTrRow(NewTrRowNum) {

        $("#hdGrid2LastRow").val(NewTrRowNum);

        var strhtml =
            "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            "<td class=\"LineId\" style=\"display:none;\">0</td>" +
            "<td class=\"OrientationReqNubID\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"AddNextRow(this,'ShellOutOfRoundness',false,2,'hdGrid2LastRow','tblProtocolLines2','OrientationReqNubID',['OrientationReqNubID'],AddTbl2NewTrRow);\" id=\"OrientationReqNubID_2_" + NewTrRowNum + "\" maxlength=\"20\" name=\"OrientationReqNubID_2_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" aria-invalid=\"false\"></td>" +
            "<td class=\"ActualNubID center \"><input class=\"form-control islastrow  EditableTextColor  PRODTextbox calOAActual valid\" id=\"ActualNubID_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualNubID_2_" + NewTrRowNum + "\"  role=\"PROD\" disabled type=\"text\" ></td>" +
            "<td class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines2')\" style=\"display:none\"></i></td>" +
            "</tr>";

        return strhtml;

    }



    function AddTbl3NewTrRow(NewTrRowNum) {

        $("#hdGrid3LastRow").val(NewTrRowNum);

        var strhtml =
            "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            "<td class=\"LineId\" style=\"display:none;\">0</td>" +
            "<td class=\"OtherDimensions\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"AddNextRow(this,'CheckPoint1',false,3,'hdGrid3LastRow','tblProtocolLines3','OtherDimensions',['OtherDimensions','ReqOtherDimensions'],AddTbl3NewTrRow);\" id=\"OtherDimensions_3_" + NewTrRowNum + "\" maxlength=\"100\" name=\"OtherDimensions_3_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" aria-invalid=\"false\"></td>" +
            "<td class=\"ReqOtherDimensions center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox valid\" id=\"ReqOtherDimensions_3_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ReqOtherDimensions_3_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"AddNextRow(this,null,false,3,'hdGrid3LastRow','tblProtocolLines3','OtherDimensions',['OtherDimensions','ReqOtherDimensions'],AddTbl3NewTrRow)\"></td>" +
            "<td class=\"ActOtherDimensions center \"><input class=\"form-control islastrow  EditableTextColor  PRODTextbox valid\" id=\"ActOtherDimensions_3_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActOtherDimensions_3_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>" +
            "<td class=\"DeleteAction\"><i id=\"Delete_3_" + NewTrRowNum + "\" name=\"Delete_3_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines3')\" style=\"display:none\"></i></td>" +
            "</tr>";

        return strhtml;

    }

    function CalOvarlayThicknessNubTopSide(No) {
        var firstVal = "ActTolReqElevationOfNubFrom_1_" + No;
        var secondVal = "ElevationOfNubBeforeOvarlay_1_" + No;

        var numbers = [$("#" + firstVal + "").val(), $("#" + secondVal + "").val()];
        var maxvalue = Math.max.apply(null, numbers) // 4
        var minvalue = Math.min.apply(null, numbers) // 1
        var maxmindiff = maxvalue - minvalue;
        $("#OvarlayThicknessNubTopSide_1_" + No).val(maxmindiff);
    }

    function CalOvarlayThicknessNubIdSide(No) {
        var firstVal = "ActDimentionOfNubId_1_" + No;
        var secondVal = "DimensionOfNubIdBeforeOvarlay_1_" + No;

        var numbers = [$("#" + firstVal + "").val(), $("#" + secondVal + "").val()];
        var maxvalue = Math.max.apply(null, numbers) // 4
        var minvalue = Math.min.apply(null, numbers) // 1
        var maxmindiff = maxvalue - minvalue;
        $("#OvarlayThicknessNubIdSide_1_" + No).val(maxmindiff);
    }

    function fncopydata() {
        var SeamNo = '@Model.SeamNo';

        $.ajax({
            type: 'GET',
            url: '/Protocol082/CopyData',
            data: { strSeamNo: SeamNo, HeaderId: $('#HeaderId').val() },
            dataType: 'json',
            success: function (data) {
                debugger
                var strhtml = "";
                var NewTrRowNum = $("#hdGrid1LastRow").val();
                $("#tbody_406>tr.islastrow").remove();
                for (var i = 0; i < data.length; i++) {

                    var numbers1 = [data[i].ActTolReqElevationOfNubFrom, data[i].ElevationOfNubBeforeOvarlay];
                    var ActAftVal1 = Math.max.apply(null, numbers1) // 4
                    var ActBefVal1 = Math.min.apply(null, numbers1) // 1
                    var diff1 = ActAftVal1 - ActBefVal1;

                    var numbers2 = [data[i].ActDimentionOfNubId, data[i].DimensionOfNubIdBeforeOvarlay];
                    var ActAftVal2 = Math.max.apply(null, numbers2) // 4
                    var ActBefVal2 = Math.min.apply(null, numbers2) // 1
                    var diff2 = ActAftVal2 - ActBefVal2;

                    var strhtml = "<tr class=\"\">" +
                                   "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
                        "<td class=\"LineId\" style=\"display:none;\">" + data[i].LineId + "</td>" +
                                   "<td class=\"Orientation\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox valid\" value=\"" + data[i].Orientation + "\" onblur=\"AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','Orientation',['Orientation'],AddTbl1NewTrRow);\" id=\"Orientation_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"Orientation_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" aria-invalid=\"false\"></td>" +
                                   "<td class=\"ActTolReqElevationOfNubFrom center \"><input class=\"form-control    EditableTextColor PRODTextbox valid\" value=\"\" id=\"ActTolReqElevationOfNubFrom_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActTolReqElevationOfNubFrom_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" onchange =\"CalOvarlayThicknessNubTopSide('" + NewTrRowNum + "')\" ></td>" +
                                   "<td class=\"ActDimentionOfNubId center \"><input class=\"form-control  EditableTextColor PRODTextbox valid\" value=\"\" id=\"ActDimentionOfNubId_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActDimentionOfNubId_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" onchange =\"CalOvarlayThicknessNubIdSide('" + NewTrRowNum + "');\" ></td>" +
                                   "<td class=\"ElevationOfNubBeforeOvarlay center \"><input class=\"form-control  EditableTextColor PRODTextbox valid\" value=\"" + data[i].ElevationOfNubBeforeOvarlay + "\" id=\"ElevationOfNubBeforeOvarlay_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ElevationOfNubBeforeOvarlay_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" onchange =\"CalOvarlayThicknessNubTopSide('" + NewTrRowNum + "')\" ></td>" +
                                   "<td class=\"DimensionOfNubIdBeforeOvarlay center \"><input class=\"form-control  EditableTextColor PRODTextbox valid\" value=\"" + data[i].DimensionOfNubIdBeforeOvarlay + "\" id=\"DimensionOfNubIdBeforeOvarlay_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"DimensionOfNubIdBeforeOvarlay_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" onchange =\"CalOvarlayThicknessNubIdSide('" + NewTrRowNum + "');\"></td>" +
                                   "<td class=\"OvarlayThicknessNubTopSide center \"><input class=\"form-control  EditableTextColor valid\" value=\"" + diff1 + "\" id=\"OvarlayThicknessNubTopSide_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"OvarlayThicknessNubTopSide_1_" + NewTrRowNum + "\" role=\"\"  type=\"text\" readonly=\"readonly\"  tabindex=\"-1\"></td>" +
                                   "<td class=\"OvarlayThicknessNubIdSide center \"><input class=\"form-control  EditableTextColor valid\" value=\"" + diff2 + "\" id=\"OvarlayThicknessNubIdSide_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"OvarlayThicknessNubIdSide_1_" + NewTrRowNum + "\" role=\"\"  type=\"text\" readonly=\"readonly\"  tabindex=\"-1\"></td>" +
                                   "<td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines1')\"></i></td>" +
                                   "</tr>";
                    NewTrRowNum = parseInt(NewTrRowNum) + 1;
                    $("#tbody_406").append(strhtml);
                }

                var strhtml = "<tr class=\"islastrow\">" +
                                "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
                                "<td class=\"LineId\" style=\"display:none;\">0</td>" +
                                "<td class=\"Orientation\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','Orientation',['Orientation'],AddTbl1NewTrRow);\" id=\"Orientation_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"Orientation_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" aria-invalid=\"false\"></td>" +
                                "<td class=\"ActTolReqElevationOfNubFrom center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"ActTolReqElevationOfNubFrom_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActTolReqElevationOfNubFrom_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>" +
                                "<td class=\"ActDimentionOfNubId center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"ActDimentionOfNubId_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActDimentionOfNubId_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>" +
                                "<td class=\"ElevationOfNubBeforeOvarlay center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"ElevationOfNubBeforeOvarlay_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ElevationOfNubBeforeOvarlay_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>" +
                                "<td class=\"DimensionOfNubIdBeforeOvarlay center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"DimensionOfNubIdBeforeOvarlay_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"DimensionOfNubIdBeforeOvarlay_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>" +
                                "<td class=\"OvarlayThicknessNubTopSide center \"><input class=\"form-control  islastrow  EditableTextColor valid\" id=\"OvarlayThicknessNubTopSide_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"OvarlayThicknessNubTopSide_1_" + NewTrRowNum + "\" role=\"\"  type=\"text\" readonly=\"readonly\"  tabindex=\"-1\"></td>" +
                                "<td class=\"OvarlayThicknessNubIdSide center \"><input class=\"form-control  islastrow  EditableTextColor valid\" id=\"OvarlayThicknessNubIdSide_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"OvarlayThicknessNubIdSide_1_" + NewTrRowNum + "\" role=\"\"  type=\"text\" readonly=\"readonly\"  tabindex=\"-1\"></td>" +

                                "<td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines1')\" style=\"display:none\"></i></td>" +
                                "</tr>";
                $("#tbody_406").append(strhtml);
                $("#hdGrid1LastRow").val(NewTrRowNum);
                $('#btnCopyData').prop('disabled', true);
            }
        });

    }

    function fnActcopydata() {
        var SeamNo = '@Model.SeamNo';
        var HeaderId = $('#HeaderId').val();

        $.ajax({
            url: '/Protocol082/ActCopyData?strSeamNo=' + SeamNo + "&HeaderId=" + HeaderId,
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.d != null || data.d != "")
                    $('#btnActCopyData').prop('disabled', true);
                var arr = data.split('|');
                var No = 1;
                for (var i = 0; i < arr.length; i++) {
                    var vCommArray = arr[i].split(',');
                    for (var j = 0; j < vCommArray.length; j++) {
                        $("#ElevationOfNubBeforeOvarlay_1_" + No).val(vCommArray[j]);
                        $("#DimensionOfNubIdBeforeOvarlay_1_" + No).val(vCommArray[j]);
                    }
                    No = parseInt(No) + 1;
                }
            }
        });
    }

</script>
