﻿@model IEMQSImplementation.WQR006

<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<div class="col-md-12">
    <form id="frmtab5" class="form-horizontal">
        @*@Html.HiddenFor(m => m.Id, new { @class = "form-control col-md-3" })*@
        @*<div class="form-group" style="margin-top:15px;">
                <fieldset>
                    <legend>WQT Details</legend>
                    <div class="form-group" style="margin-top:15px;">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label" style="text-align: left;">WQT No<span class="required"> * </span></label>
                                @Html.TextBoxFor(m => m.WQTNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>*@
        <div class="form-group" style="margin-top:15px;">

            <fieldset>
                <legend>WQTC Details</legend>
                <div class="col-md-12 form-group">
                    <div class="col-md-3">
                        <label class="control-label">Date</label>
                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                            @Html.TextBoxFor(m => m.LastWeldDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                            <span class="input-group-btn">
                                <button class="btn default" id="btncal1" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Valid Upto</label>
                        <div id="datetime1" class="input-group date" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                            @Html.TextBoxFor(m => m.ValueUpto, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                            <span class="input-group-btn">
                                <button class="btn default" id="btncal1" type="button" disabled>
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Remarks</label>
                        @*</div>
                            <div class="col-md-8">*@
                        @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control", @maxlength = "100" })
                        @*@Html.HiddenFor(m => m.Id)*@
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
<script>
    $(document).ready(function () {
        var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()' == "true" ? true : false;
            if (IsDisplayOnly) {
                $(".form-group *").prop("disabled", true);
            }
        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });
  
        $('#LastWeldDate').change(function () {
            $('#ValueUpto').val(ValueUptoDate());
        });

        function DateFromString(str) {
            str = str.split(/\D+/);
            str = new Date(str[2], str[1] - 1, (parseInt(str[0]) + 180));
            return DDMMYYYY(str);
        }
        function DDMMYYYY(str) {
            var ndateArr = str.toString().split(' ');
            var Months = 'Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec';
            return ndateArr[2] + '/' + ("00" + (parseInt(Months.indexOf(ndateArr[1]) / 4) + 1)).slice(-2) + '/' + ndateArr[3];
        }

        function ValueUptoDate() {
            var date = $('#LastWeldDate').val();
            var ndate = DateFromString(date);
            return ndate;
        }

        $("#frmtab5").validate({});
    });
</script>