﻿@using IEMQSImplementation
<style>
    #fltActivityDesc {
        width: 410px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Project Detail List
                </div>
                <div class="tools" id="dvExportProject">
                    @*@Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/GenerateCJC/GenerateExcel", GridType = "", dvId = "#dvExportProject" })*@
                    <div class="btn-group">
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmProjectDetail" }))
                {
                    <table class="table table-striped table-bordered table-hover" id="tblProjectDetail" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="all" style="display:none;width:5%;">#</th>
                                <th class="sorting" style="display:none;">Id</th>
                                <th class="sorting" style="display:none;">HeaderId</th>
                                <th>Project Activity<span class="required" style="color:red;"> * </span></th>
                                <th>Quantity<span class="required" style="color:red;"> * </span></th>
                                <th style="width:55px!important;">UOM</th>
                                <th style="width:55px!important;">Rate</th>
                                <th>Claim Amount</th>
                                <th>Remarks</th>
                                <th>CJC No.</th>
                                <th class="all">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var UtilityActivityParam = undefined;
    var lstProjectActivity;
    var ProjEditFlag = false;
    var isActivityexists = false;
    var remarksmandatory =[ '@clsImplementationEnum.AutoCJCProjectActivity.Contingency_amount.GetStringValue()'];
    $(document).ready(function () {
        $.extend($.fn.autoNumeric.defaults, {
            aSep: '',
            aDec: '.'
        });

        $('#frmProjectDetail').validate({
            rules: {
                txtActivity0: {
                    required: true,
                },
                txtQuantity0: {
                    required:true,
                },
                txtUOM0: {
                    required:true,
                },
                txtRate0: {
                    required:true,
                },
                txtAmount0: {
                    required:true,
                },
                Remarks0:{ required: {
                    depends: function (element) {
                        return remarksmandatory.indexOf($("#Activity0").val()) > -1
                    }
                },}
            },
            messages: {
                txtActivity0: {
                    required: "Project Activity is required",
                },
                txtQuantity0: {
                    required: "Quantity is required",
                },
                txtUOM0: {
                    required: "UOM is required",
                },
                txtRate0: {
                    required: "Rate is required",
                },
                txtAmount0: {
                    required: "Amount is required",
                },
                Remarks0: {
                    required: "Remarks is required",
                }
            }
        });

        var sRedirect = "/GenerateCJC/LoadFetchProjectLineGridDataTable";
        if(IsEditMode) {
            sRedirect = "/GenerateCJC/LoadProjectLineGridDataTable";
            var status = $("#spnStatus").text();
            if (status == null || status == undefined || status == ''  || status.toLowerCase().indexOf("draft") != "-1" ||status.toLowerCase().indexOf("returned") != "-1" ||status.toLowerCase().indexOf("rejected") != "-1"  ) {
                ProjEditFlag = true;
            }
        }
        else {
            ProjEditFlag= true;
        }

        UtilityActivityParam = {
            sUrl: sRedirect,
            bIsFixedHeader:true,
            iScrollY: 480,
            aiLengthMenu:[50,100,150,200,250],
            iPageLength:50,
            //aoCustomSetting: [{prop:"bServerSide",value:false}] ,
            aServerParams: [{ "name": "Project", "value": $("#Project").val() ,  "name": "HeaderId", "value": $("#HeaderId").val() },{ "name": "Flag", "value": ProjEditFlag }],
            iResponsiveOnWindowWidth: 800,
            bIsResponsive: false,
            bIsSearchFilter: true,
            bBtnMaximize: true,
            bIsWrapHeader: false,
            iFCLeft: 1,
            iFCRight: 1,
            sBtnDivSelector: "#dvExportProject",
            bIsLazyLoading:false,
            aoColumns: [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center clsProjActivity",
                    "name": "ActivityDesc",
                    "sWidth":"30%"
                },
                {
                    "sClass": "center clsProjQuantity",
                    "name": "Quantity", "sWidth":"5%" ,"attr": "numeric"
                },
                {
                    "sClass": "center clsProjUOM",
                    "name": "UOM",  "sWidth":"5%"
                },
                {
                    "sClass": "center clsProjRate",
                    "name": "Rate",  "sWidth":"5%" ,"attr": "numeric"
                },
                {
                    "sClass": "center  clsProjAmount",
                    "name": "Amount",  "sWidth":"5%" ,"attr": "numeric"
                },
                 {
                     "sClass": "center  clsProjRemakrs",
                     "name": "Remakrs",
                 },
                {
                    "sClass": "hide clsProjCJCNo",
                    "name": "CJCNo",
                },
                {
                    "sClass": "clsnowrap",
                    "name": "Action",
                    "attr": "none",
                    "bSortable": false,
                },
            ]
        };



        UtilityActivityParam.oSRE = { sUrl: "/GenerateCJC/GetProjectDetailInlineEditableRow?HeaderId=0",
            iRowIDAt: 1,
            sCallback: 'CallAfterLoadSRE',
            iSelectedHeight: 68,
            sEditTriggerClass: 'avoid',
            bIsUpdateFromServer: true ,
            bIsAddBtnNew: ProjEditFlag
        };

        $('#tblProjectDetail').dtUtility(UtilityActivityParam);
        lstProjectActivity = @Html.Raw(Json.Encode(ViewBag.ProjectActivityList));
        CallAfterLoadSRE();

        if(parseInt($("#HeaderId").val()) > 0)
        {
            $("#btnNew_tblProjectDetail").hide();
        }
    });

    function CallAfterLoadSRE(id) {
        $('#fltUOM').css("width","55px!important");
        $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true });
        $('.numeric').autoNumeric('init', {  aPad: "fase", vMin:"0.00",vMax:"999999999.99", aForm: "false" });

        $('#tblProjectDetail_wrapper').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(this).attr("hdElement");

            if ($(this).attr("colname") == "txtActivity"){
                FillAutoCompleteProjectActivity(element, lstProjectActivity, $("#" + hdElement));
            }
        });

        //$('#tblProjectDetail_wrapper').delegate("input[colname=txtActivity]","focusout", function () {
        //    var element = $(this);
        //    var hdElement = $(this).attr("hdElement");
        //    var activity = $("#"+hdElement).val();
        //    var LineId = $(this).attr("spara");
        //    GetProjectActivityData(activity,LineId);
        //});

        $('#tblProjectDetail_wrapper').delegate("input[colname=txtQuantity]","keyup", function () {
            var LineId = $(this).attr("spara");
            if (LineId != 0) {
                if($(this).val() == '') {
                    return false;
                }
            }
            CalculateProjectClaimAmount(LineId);
        });
    }

    function FillAutoCompleteProjectActivity(element, sourceList, hdElement) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.Value,
                        value: item.Value,
                        id: item.Key
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id);
                GetProjectActivityData(ui.item.id,$(this).attr("spara"));
                HighlightInValidControls();
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    element.val('');
                    $(hdElement).val('');
                    element.focus();
                    HighlightInValidControls();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }

    function GetProjectActivityData(activity,LineId) {
        isActivityexists = false;
        if(activity!='' && activity!=null && activity!=undefined) {
            Remarks= $("#Remarks" + LineId).text();
            //validation for duplication
            $("#tblProjectDetail tbody tr").each(function(){
                var elem  = $(this);
                var tempId = elem.find("td:eq(3)").find("[colname='txtActivity']").attr("spara");
                var tempActivity = elem.find("td:eq(3)").find("[colname='Activity']").val();
                if(tempActivity!='' && tempActivity!=undefined && tempActivity!=null) {
                    if(activity == tempActivity && tempId!=LineId){
                        isActivityexists = true;
                        DisplayNotiMessage("error","Project activity already exists", "Error");
                        elem.find("td:eq(3)").find("[colname='Activity']").find("input").val('');
                        UtilityActivityParam.dtReload();
                        return false;
                    }
                }
            });

            $.ajax({
                type: 'POST',
                url: WebsiteURL +'/GenerateCJC/GetProjectActivityData',
                data: {ProjectActivity : activity , JobDia : $("#Dia").val(), LineId :LineId, Project : $("#Project").val(),headerid :  $("#HeaderId").val()},
                success: function (data) {
                    if(!data.isActivityAlreadyexists && data.isActivityexists == true){
                        isActivityexists = true;
                        DisplayNotiMessage("info","You cannot use this activity for Project", "Information");
                        UtilityActivityParam.dtReload();
                        return false;
                    }else{
                        if(data.UOM != null && data.UOM !="" && data.UOM != undefined)
                            $("#UOM"+ LineId).text(data.UOM).closest('td').addClass("center");
                        else
                            $("#UOM"+ LineId).text("").closest('td').addClass("center");


                        if(data.Rate != null && data.Rate !="" && data.Rate != undefined)
                            $("#Rate"+ LineId).text(data.Rate).closest('td').addClass("center");
                        else
                            $("#Rate"+ LineId).text(0).closest('td').addClass("center");

                        CalculateProjectClaimAmount(LineId);
                    }
                }
            });
            if(remarksmandatory.indexOf(activity) > -1)
            {
                //$("#Remarks"+ LineId).val('').prop("readonly",false);
                if(Remarks =="" || Remarks == null || Remarks ==undefined)
                {
                    // DisplayNotiMessage("info", "Remarks is required", "Info");
                }
            }
            else{ //$("#Remarks"+ LineId).val('').prop("readonly",true);
                $("#Remarks"+ LineId).removeClass("error");
                $('#Add0').css('color','unset');
            }
        }
        else
        {
            $("#UOM"+ LineId).text("");
            $("#Rate"+ LineId).text("");
            $("#ProjAmount"+ LineId).text("");
            $("#Remarks"+ LineId).text("");
            if(LineId != 0 && !isActivityexists){
                EditActivityDatatableRow(LineId);
            }
        }
    }

    function CalculateProjectClaimAmount(LineId) {
        var rate ="";
        rate =  $("#Rate"+LineId).text();

        var quantity= "";
        if($("#txtQuantity"+LineId).val() !='' && $("#txtQuantity"+LineId).val() !=null && $("#txtQuantity"+LineId).val() !=undefined) {
            quantity = $("#txtQuantity"+LineId).val();
        }

        var amount="";
        if(quantity !='' && rate !='' && rate != null && rate != NaN) {
            amount= parseFloat(parseFloat(quantity) * parseFloat(rate)).toFixed(2);
        }
        if(amount !='' && amount != null && amount != NaN ) {
            $("#ProjAmount"+LineId).text(amount).closest('td').addClass("center");
        }
        else
        {
            $("#ProjAmount"+LineId).text(0).closest('td').addClass("center");
        }
        if(LineId != 0){
            EditActivityDatatableRow(LineId);
        }
    }

    function SaveActivityRecord(rowid) {
        if(!isActivityexists){
            var UOM= $("#UOM" + rowid).text();
            var Rate =$("#Rate" + rowid).text() ;
            var ProjAmount= $("#ProjAmount" + rowid).text();
            var Remarks= $("#Remarks" + rowid).val();
            if ($("#frmProjectDetail").valid()){
                $('#Add0').css('color','unset');
                $('#tblProjectDetail_wrapper').find("thead:eq(1) .dataTables_sizing").html('') // remove copy of new record textbox
                var formData = new FormData();
                var frmValues = $('#frmProjectDetail').serializeArray();
                $.each(frmValues, function (key, input) {
                    formData.append(input.name, input.value);
                });
                formData.append("MainId",rowid);
                formData.append("UOM"+rowid, $("#UOM" + rowid).text());
                formData.append("Rate"+rowid,$("#Rate" + rowid).text()) ;
                formData.append("Amount"+rowid, $("#ProjAmount" + rowid).text());
                formData.append("HeaderId", $("#HeaderId").val());
                var addURL = "/GenerateCJC/SaveActivityLineData";
                if(IsEditMode)
                    addURL = "/GenerateCJC/SaveActivityUtilityData";

                SaveUtilityGridData(formData,addURL ,'tblProjectDetail', UtilityActivityParam)
            }
            else {
                HighlightInValidControls();
                $('#Add0').css('color','red');
                return false;
            }
        }
    }

    function EditActivityDatatableRow(rowid,isRemark) {
        if(!isActivityexists || isRemark){
            var UOM,Rate,ProjAmount,Remarks;
            UOM= $("#UOM" + rowid).text();
            Rate =$("#Rate" + rowid).text() ;
            ProjAmount= $("#ProjAmount" + rowid).text();
            Remarks= $("#Remarks" + rowid).text();

            var editURL ="/GenerateCJC/EditActivityLineData";
            if(IsEditMode){
                editURL ="/GenerateCJC/EditActivityUtilityData";
            }
            $.ajax({
                url:WebsiteURL + editURL,
                type: "POST",
                datatype: 'json',
                data: {
                    LineId : rowid,
                    Activity:   $("#Activity" + rowid).val(),
                    Quantity:    $("#txtQuantity" + rowid).val(),
                    UOM:  UOM ,
                    Rate:  Rate,
                    Amount: ProjAmount,
                    Remarks: Remarks,
                },
                success: function (data) {
                    if (data.Key) {
                    }
                    else {
                        DisplayNotiMessage("error", data.dataValue, "Error");
                    }
                }
            });
        }
    }

    function EditRemarkRow(rowid) {
        var activity= $("#Activity" + rowid).val();
        var Remarks= $("#Remarks" + rowid).val();
        var flag = true;
        if(remarksmandatory.indexOf(activity) > -1)
        {
            if(Remarks =="" || Remarks == null || Remarks ==undefined)
            {
                DisplayNotiMessage("info", "Remarks is required", "Info");
                flag = false;
            }
        }
        if(flag){
            var editURL ="/GenerateCJC/EditActivityRemarksLineData";
            if(IsEditMode){
                editURL ="/GenerateCJC/EditActivityRemarksUtilityData";
            }
            $.ajax({
                url:WebsiteURL + editURL,
                type: "POST",
                datatype: 'json',
                data: {
                    lineid : rowid,
                    Remarks: Remarks,
                },
                success: function (data) {
                    if (data.Key) {
                    }
                    else {
                        DisplayNotiMessage("error", data.dataValue, "Error");
                    }
                }
            });
        }
    }

    function DeleteActivityRowDatatable(element,rowid) {
        var URL = "/GenerateCJC/DeleteDTActivityLineData";
        if(IsEditMode) {
            URL = "/GenerateCJC/DeleteProjectLineData";
        }

        bootbox.dialog({
            message: "Do you want to delete ?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success',
                    callback: function () {
                        $.ajax({
                            url:WebsiteURL +  URL,
                            type: "POST",
                            datatype: 'json',
                            data: {
                                rowid : parseInt(rowid)
                            },
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                                UtilityActivityParam.dtReload();
                            }
                        });
                        bootbox.hideAll();
                        $(".modal-backdrop").remove();
                    }
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger',
                    callback: function () { }
                }
            },
        });
    }


    function CancelEditLine(lineId) {
        SREresetRowAll('tblProjectDetail');
    }

</script>
