﻿@using System.Web.Optimization

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<style>
    .page-content-white .page-title {
        margin: 0px 0px 0px 0px !important;
    }
</style>
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Auto Billing
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="text-align:right">
                                <a href="~/GenerateCJC/CJCDetails" style="float: right;" class="btn green">Add New</a>
                            </div>
                        </div>
                    </div>
                    @*<ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                            </li>
                            <li>
                                <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                            </li>
                        </ul>*@
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        @*<div class="tab-pane active" id="portlet_comments_1">
                            </div>*@
                        <div class="tab-pane active" id="portlet_comments_2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        LoadHTMLPartialView("/GenerateCJC/LoadDataGridPartial", "portlet_comments_2", "All");
        $('a[name="tabStatus"]').click(function () {
            LoadHTMLPartialView("/GenerateCJC/LoadDataGridPartial", "portlet_comments_2", $(this).attr('spara'));
        });
    });

</script>
