﻿@using IEMQSImplementation
@{
    ViewBag.Title = "WPP Number Index Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Datatable/css")

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            <h1 class="page-title">
                                WPP Number Index Master
                                <small></small>
                            </h1>
                        </div>
                        <div class="col-md-6" style="text-align:right">
                            <button id="btnAddWPPIndex" class="btn green">Add New</button>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    WPP Number Index List
                                </div>
                                <div class="tools" id="dvExportHeader">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/WPP/WPPNoIndexMaster/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover dt-responsive " id="tblWPPNoIndexList" cellspacing="0" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="display:none;">Id</th>
                                            <th class="min-phone-l">Location</th>
                                            <th class="min-phone-l">Key 1</th>
                                            <th class="min-phone-l" style="display:none;">Key 2</th>
                                            <th class="min-phone-l">Quality Project</th>
                                            <th class="min-phone-l">WPP No</th>
                                            <th class="min-phone-l">Created By</th>
                                            <th class="min-phone-l">Created On</th>
                                           
                                            <th class="min-phone-l">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")
<script>
    $(document).ready(function () {
        LoadGetWPPKeyList();
        $("#btnAddWPPIndex").click(function () {
            AddWPPNoIndexMaster(0);
        });

    });

    function AddWPPNoIndexMaster(id) {
        var label = "Save";
        if (parseInt(id) > 0)
        { label = "Update" }
        $.ajax({
            url: WebsiteURL + "/WPP/WPPNoIndexMaster/WPPNoIndexMasterPartial",
            type: "POST",
            datatype: "html",
            data: { id: id },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                bootbox.dialog({
                    title: "WPP Number Index Master",
                    message: data,
                    size: "large",
                    buttons: {
                        confirm: {
                            label: label,
                            className: 'btn save',
                            callback: function () {
                                if ($("#frmWPPNoIndex").valid()) {
                                    var frmWPPNoIndexValues = $("#frmWPPNoIndex").serializeArray();

                                    var formdata = new FormData();
                                    if (frmWPPNoIndexValues != null && frmWPPNoIndexValues != undefined) {
                                        $.each(frmWPPNoIndexValues, function (key, input) {
                                            formdata.append(input.name, input.value);
                                        });
                                    }

                                    $.ajax({
                                        url: WebsiteURL + "/WPP/WPPNoIndexMaster/SaveDetails",
                                        type: "POST",
                                        datatype: "json",
                                        data: formdata,
                                        contentType: false,
                                        processData: false,
                                        success: function (res) {
                                            if (res.Key) {
                                                DisplayNotiMessage("success", res.Value, "Success");
                                                bootbox.hideAll();
                                                $('#tblWPPNoIndexList').DataTable().ajax.reload();
                                            }
                                            else {
                                                DisplayNotiMessage("error", res.Value, "Error");
                                                return false;
                                            }
                                        },
                                        error: function () {
                                            response = "";
                                            return false;
                                        }
                                    });
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                            }
                        },
                        cancel: {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    },
                })
            },
            error: function () {
                response = "";
            }
        });
    }

    function FillAutoComplete(element, sourceList) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.Value,
                        value: item.Value,
                        //id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.value);
                //$(hdElement).val(ui.item.id)

            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    //$(hdElement).val('');
                    $(this).focus();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };

    function DeleteWPPIndexMaster(id) {
        bootbox.dialog({
            title: "Delete Confirmation",
            message: "Do you want to delete?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        $.ajax({
                            url: WebsiteURL + "/WPP/WPPNoIndexMaster/DeleteWPPNoIndex",
                            type: "POST",
                            datatype: "json",
                            data: { id: id },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    $('#tblWPPNoIndexList').DataTable().ajax.reload();
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                            },
                            error: function () {
                                alert("error");
                                response = "";
                            }
                        });
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }

            }
        });
    }

    function LoadGetWPPKeyList() {
        var table = $('#tblWPPNoIndexList');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            "bDestroy": true,
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/WPP/WPPNoIndexMaster/LoadWPPNoIndexListDataTable",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "aoColumns": [

                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                  {
                      "sClass": "center",
                      "name": "Location",
                  },
                {
                    "sClass": "center",
                    "name": "Key1",
                },
                {
                    "sClass": "hide",
                    "name": "Key2",
                },
                {
                    "sClass": "center",
                    "name": "QualityProject",
                },
                {
                    "sClass": "center",
                    "name": "WPPNumber",
                },
                {
                    "sClass": "center",
                    "name": "CreatedBy",
                },
                {
                    "sClass": "center",
                    "name": "CreatedOn",
                },
              
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                    //"render": function (data, type, row, meta) {
                    //    var buttons = "<center>";
                    //    buttons += '<i title="Delete"  style="cursor:pointer;" name="btnAction" id="btnDelete"' + (row[8].toLowerCase() == "false" ? ' onClick="DeleteWPPIndexMaster(' + row[0] + ')"' : "") + ' class="fa fa-trash-o ' + (row[8].toLowerCase() == "false" ? "" : "disabledicon") + '"></i>';
                    //    buttons += '</center>'
                    //    return buttons;
                    //}
                },

            ]
        });
    }
</script>