﻿@using IEMQSImplementation
<style>  #tblUTCTQHeaderLines td {
        white-space: pre-line !important;
    }</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @{
                        string HeaderTitle = @ViewBag.strCTQNo + " Lines";
                    }
                    @HeaderTitle
                </div>
                <div class="tools" id="dvExportLines">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/NDE/ApproveUTCTQ/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLines" })
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmUTCTQHeaderLines" }))
                {
                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblUTCTQHeaderLines" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="all">#</th>
                                <th class="all">Description<div style="width:250px"></div></th>
                                <th class="all"> Applicable<br>for A-Scan ?</th>
                                <th class="all"> Applicable<br>for ToFD ?</th>
                                <th class="all"> Applicable<br />for PAUT ?</th>
                                <th class="all">Specification No.</th>
                                <th class="all">Clause No.</th>
                                <th class="all">To be diss <br />KOM/PIM/MCOM</th>
                                <th class="all">Specification/Std <br />Requirement</th>
                                <th class="all">To be displayed in <br /> manual request </th>
                                <th class="all">CTQ Requirement</th>
                                <th class="all">Return Remarks</th>
                                <th class="all">Status</th>
                                <th class="all" style="display:none;">LineID</th>
                                <th class="all" style="display:none;">HeaderID</th>
                                <th class="all">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12" style="text-align:right;">
        <button id="btnApprove" type="button" class="btn approve">Approve</button>
        <button id="btnReturn" type="button" class="btn return">Return</button>
        <button id="btnCanceled" type="button" class="btn btnclose">Close</button>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#btnCanceled").click(function () {
            window.location.href = WebsiteURL + '/NDE/ApproveUTCTQ/Index';
        });


        var table = $('#tblUTCTQHeaderLines');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [1, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/NDE/ApproveUTCTQ/LoadUTCTQHeaderLineData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": '@ViewBag.HeaderId' }
                            //{ "name": "UserTypeId", "value": $('#ddlUserTypeList').val()}
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                    {
                        "bSortable": false,
                        "sClass": "clsCenter",
                    },
                    {
                        "name": "Description",
                        "sClass": "clsCenter",
                    },
                    {
                        "name": "ApplicableForAScan", "sClass": "clsCenter",
                    },
                    {
                        "name": "ApplicableForToFD", "sClass": "clsCenter",
                    },
                    {
                        "name": "ApplicableForPAUT", "sClass": "clsCenter"
                    },
                 
                    {
                        "name": "SpecificationNo",
                        "sClass": "clsCenter",
                    },
                    {
                        "name": "SpecificationWithClauseNo",
                        "sClass": "clsCenter",
                    },
                 
                    {
                        "name": "ToBeDiscussed",
                        "sClass": "center",
                    }, {
                        "name": "SpecificationRequirement",
                        "sClass": "clsCenter",
                    },
                    {
                        "name": "CriticalToQuality",
                        "sClass": "center",
                    },
                    {
                        "name": "CTQRequirement",
                        "sClass": "clsCenter",
                    },
                    {
                        "name": "ReturnRemark",
                        "sClass": "center",
                    },
                     {
                         "name": "Status",
                         "sClass": "center",
                     },
                    {
                        "sClass": "hide"
                    },
                    {
                        "sClass": "hide"

                    },
                    {
                        "bSortable": false,
                        "sClass": "clsCenter",
                    },
            ]
        });


        $("#btnApprove").click(function () {
            bootbox.dialog({
                title: "Approve Confirmation",
                message: "Do you want to approve?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success',
                        callback: function (result) {
                            if (result) {
                                if ('@ViewBag.CTQStatus' != 'Sent for Approval') {
                                    DisplayNotiMessage("error", "Some of Lines are in draft / return.", "Error");
                                    return 0;
                                }
                                $.ajax({
                                    type: "POST",
                                    url: WebsiteURL + "/NDE/ApproveUTCTQ/ApproveByApprover",
                                    datatype: 'json',
                                     beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    data: { HeaderId: parseInt('@ViewBag.HeaderId'), returnRemarks: $("#ReturnRemarks").val() },
                                    success: function (data) {
                                        if (data.Key) {
                                            DisplayNotiMessage("success", data.Value, "Success");
                                            //$("#divApproveLines").hide();
                                            window.location.href = WebsiteURL + '/NDE/ApproveUTCTQ/Index';
                                        }
                                        else {
                                            DisplayNotiMessage("error", data.Value, "Error");
                                        }
                                    },
                                    error: function () {
                                    }
                                });
                            }
                        }
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },

            });
        });

        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });

        $("input[name='txtReturnRemark']").focusout(function () {
            var currenttd = $(this);
            var changeText = $(this).val();
            var tdLineId = $(currenttd).closest('tr').find("td:nth-last-child(3)");
            UpdateCTQReturnRemarks(parseInt($(tdLineId).text()), changeText);
        });


        $("#btnReturn").click(function () {
            bootbox.dialog({
                title: "Return Confirmation",
                message: "Do you want to return?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn-success',
                        callback: function () {
                            if ('@ViewBag.CTQStatus' != 'Sent for Approval') {
                                DisplayNotiMessage("error", "Some of Lines are in draft / return.", "Error");
                                return 0;
                            }
                            $.ajax({
                                type: "POST",
                                url: WebsiteURL + "/NDE/ApproveUTCTQ/ReturnLines",
                                datatype: 'json',
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                data: { HeaderId: parseInt('@ViewBag.HeaderId'), returnRemarks: $("#ReturnRemarks").val() },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        window.location.href = WebsiteURL + '/NDE/ApproveUTCTQ/Index';
                                    }
                                    else {
                                        DisplayNotiMessage("error", data.Value, "Error");
                                    }
                                },
                                error: function () {
                                }
                            });
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn-danger',
                        callback: function () { }
                    }

                }
            });
        });

    });

    function UpdateCTQReturnRemarks(LineID, changeText) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/NDE/ApproveUTCTQ/UpdateReturnRemarks",
            datatype: 'json',
            async: false,
            //beforeSend: function () {
            //    showLoading(true);
            //},
            //complete: function () {
            //    showLoading(false);
            //},
            data: { LineID: LineID, changeText: changeText },
            success: function (data) {
                //alert(data.Key);
            },
            error: function () {
            }
        });
    }
</script>
