﻿@using IEMQSImplementation
@model TVL050
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Datatable/css")
<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title </span>
                    </div>
                </div>
                <div class="dvHeader">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
                    {
                        @Html.HiddenFor(m => m.HeaderId)
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend> Project Details</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Project No.</label>
                                                <div class="">
                                                    <input type="text" id="txtProjectNo" value="@Html.Raw((string)ViewBag.ProjectNo)" name="txtProjectNo" class="form-control" readonly />
                                                    @Html.HiddenFor(m => m.ProjectNo, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Customer</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.Customer, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">BU</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.BU, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Location</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Traveler Details</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Traveler No.</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.TravelerNo, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Traveler Rev No.</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.TravelerNo, "R" + Model.TravelerRevNo, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Identification No.</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.AssemblyNo, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Identification Sr No.</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.SubAssemblyNo, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                        </div>
                    }
                </div>
                <div class="portlet light">
                    <div class="portlet-title tabbable-line">
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Attend </a>
                            </li>
                            <li class="active">
                                <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab">All</a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane" id="portlet_comments_1">
                            </div>
                            <div class="tab-pane active" id="portlet_comments_2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-12" style="text-align:right;">
                            <a href='@Url.Action("Index","AttendTPIInspection")' class="btn btnclose"> Close</a>
                            <hr />
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 10px !important">
                        <div class="col-md-1"><b style="font-size: 16px;">Legend:</b></div>
                        <div class="col-md-4">
                            # - Indicate Report / Record Required<br />
                            LPE - Liquid Penetrant Examination<br />
                            VE - Visual Examination<br />
                            WDS - Weld Data Sheet<br />
                            WPS - Welding Procedure Specification<br />
                            MCR - Material Clearance Record<br />
                            CGDR - Commercial Grade Dedication Report
                        </div>
                        <div class="col-md-7">
                            H - Hold Point [Not to Proceed Further Unless Stage is Accepted by the agency] <br />
                            S - Manufacturing Activity [No Check Points of QC]<br />
                            W - Witness [TN to be Notified Prior to Proceeding further]<br />
                            H1 - Hold Point - mandatory for first activity. If first activity is waived, it still remains a hold point. Once activity has been witnessed, then it becomes a witness point (W).<br />
                            W1 - Witness mandatory only for first activity.<br />
                            R - Review of Inspection Documents.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-12" style="text-align:right;">
                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });

        GetInspectionDataPartial('All');
        $('a[name="tabStatus"]').click(function () {
            GetInspectionDataPartial($(this).attr('spara'));
        });
    });

    function GetInspectionDataPartial(status) {
        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/TVL/AttendTPIInspection/LoadTPIInspectionDataPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: {
                status: status,
                ProjectNo: '@Html.Raw((String)Model.ProjectNo)',
                Customer: '@Html.Raw((String)Model.Customer)',
                BU: '@Html.Raw((String)Model.BU)',
                Location: '@Html.Raw((String)Model.Location)',
                TravelerNo: '@Html.Raw((String)Model.TravelerNo)',
                AssemblyNo: '@Html.Raw((String)Model.AssemblyNo)',
                SubAssemblyNo: '@Model.SubAssemblyNo'
            },
            success: function (result) {
                if (status == 'Pending') {
                    $("#portlet_comments_1").html(result);
                }
                else {
                    $("#portlet_comments_2").html(result);
                }
            },
            error: function () {
            }
        });
    }

</script>
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>