﻿@using IEMQSImplementation
@model PTR001
@{
    ViewBag.Title = "ChemDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>ChemDetails</h2>*@
<style>
    table.dataTable thead .sorting_asc:after {
        content: "";
        text-align: left;
    }

 /*   textarea {
        height: 33px !important;
    }
*/
    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .bordernone {
        border-top: none !important;
        background-color: white !important;
    }

    .bgcolor {
        background-color: white !important;
    }

    .select2-selection {
        max-height: 50px;
        overflow-x: auto;
    }

    .select2-container--open {
        /*z-index: 9995;*/
    }
</style>
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<link href="~/Content/ThemeCss/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/Plugins/select2/components-select2.min.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/select2/js/select2.full.min.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script>
    function TablePortletMaximize(portlet, TopPosition, LeftPosition) {
        var panel = $(portlet).closest(".portlet");
        var pnlpos = $(panel).offset();
        if (panel.hasClass('portlet-maximize')) { // Panel Minimize
            $(portlet).html('<i class="fa fa-expand"></i>').prop('title', "Panel Maximize");
            panel.animate({
                width: "100%",
                height: "100%",
                top: pnlpos.top * -1,
                left: pnlpos.left * -1
            }, 1000);
            setTimeout(function () {
                panel.removeClass('portlet-maximize');
                $('html,body').css("overflow", "").animate({ scrollTop: $(panel).offset().top - 70 }, 1000); // auto main scrollbar;
                if ($('.bootbox.modal').length > 0) {
                    $('.bootbox.modal').css("overflow-y", "");
                    panel.css("position", "");
                }
            }, 1000);
        } else { // Panel Maximize
            $(portlet).html('<i class="fa fa-compress"></i>').prop('title', "Panel Minimize");
            $('html,body').animate({ scrollTop: 0 }, 1000).css("overflow", "hidden"); // hide main scrollbar
            if ($('.bootbox.modal').length > 0) { //  if table in Modal Popup
                $('.bootbox.modal').animate({ scrollTop: 0 }, 1000).attr("style", $('.bootbox.modal').attr("style") + "; overflow-y:hidden !important"); // used this cuz JQuery.css funtion not add "!important" in property
                panel.css("position", "absolute");
                panel.addClass('portlet-maximize').animate({
                    width: '100vw',
                    height: '100vh',
                    top: TopPosition,//-87,
                    left: LeftPosition //-351
                }, 1000);
            } else {
                panel.addClass('portlet-maximize').animate({
                    width: '100vw',
                    height: '100vh',
                    top: pnlpos.top * -1,
                    left: pnlpos.left * -1,
                }, 1000);
            }
        }
        setTimeout(function () {
            $('.dataTable[id]', panel).DataTable().columns.adjust();
        }, 1000);
    }

    var IsDifferentLocationUser= '@ViewBag.IsDifferentLocationUser' == "True";
    $(document).ready(function () {
        var HeaderId = @ViewBag.HeaderId;
        GetHeaderGridDataPartial(HeaderId);

        var CouponID = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.CouponID))));
        var TestTypeOrientation = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.TestTypeOrientation))));
        var Elements = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.Elements))));
        var SampleLocation = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.SampleLocation))));
        var Orientation = [
            { "CategoryDescription": "Transverse", "Code": "Transverse" },
            { "CategoryDescription": "Longitudinal", "Code": "Longitudinal" },
            { "CategoryDescription": "Normal", "Code": "Normal" },
            { "CategoryDescription": "Tangential", "Code": "Tangential" },
            { "CategoryDescription": "Axial", "Code": "Axial" },
            { "CategoryDescription": "Other", "Code": "Other" },
        ];
        $('#tblPTRHeader').delegate(".autocomplete", "focusin", function ()
        {

            var element = $(this);
            var hdElement = $(this).attr("hdelement");

            if ($(this).attr("colname") == "txtCouponID") {
                FillAutoComplete(element, CouponID, $("#"+hdElement),true);
            }
            else if ($(this).attr("colname") == "txtTestTypeOrientation") {
                FillAutoComplete(element, TestTypeOrientation, $("#" + hdElement));
            }
               else if ($(this).attr("colname") == "txtOrientation") {
                FillAutoComplete(element, Orientation, $("#"+hdElement), true);
            }
            //else if ($(this).attr("colname") == "txtElements") {
            //    FillAutoComplete(element, Elements, $("#"+hdElement));
            //}
            //else if ($(this).attr("colname") == "txtSampleLocation") {
            //    FillAutoComplete(element, SampleLocation, $("#"+hdElement));
            //}
        });
        $('#frmChemDetails').validate({
            rules: {
                txtCouponID0 :{
                    required : true
                },
                txtTestTypeOrientation0: {
                    required: true
                },
                //SampleLocation0 :{
                //    required : true
                //},
                //Elements0 :{
                //    required : true
                //},
            },
            messages: {
                txtCouponID0 :{
                    required : "Coupon Id is required"
                },
                txtTestTypeOrientation0: {
                    required: "Please Select Test Type Orientation"
                },
                //SampleLocation0 :{
                //    required : "Please Select Sample Location"
                //},
                Elements0 :{
                    required : "Element is required"
                },
            }
        });
        @*$("#btnAddNew").click(function () {
            var HeaderId = @ViewBag.HeaderId;
            var status = '@Model.Status';
            if(status == "Closed"){
                bootbox.confirm({
                    message: "Do you want to revise line?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success',
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            getDetails(0,HeaderId);

                        }
                    }
                });
            }
            else
                getDetails(0,HeaderId);
            //getDetails(0,HeaderId);

            //$.ajax({
            //    type: "POST",
            //    url: "/PTR/MaintainPTR/ChemLineDetails",
            //    datatype: 'html',
            //    async: false,
            //    data: { HId: HeaderId },
            //    success: function (result) {
            //        bootbox.dialog({
            //            title: 'Chemical Test Details',
            //            message: result,
            //            size: 'large',
            //            buttons: {
            //                'confirm': {
            //                    label: 'Save',
            //                    className: 'btn green',
            //                    callback: function () {
            //                        if ($("#frmMaintainDeatils").valid()) {
            //                            var formData = new FormData();
            //                            var frmValues = $('#frmMaintainDeatils').serializeArray();
            //                            $.each(frmValues, function (key, input) {
            //                                formData.append(input.name, input.value);
            //                            });
            //                            $.ajax({
            //                                url: '/PTR/MaintainPTR/SaveChemDetails',
            //                                data: formData,
            //                                contentType: false,
            //                                processData: false,
            //                                type: 'POST',
            //                                async: false,
            //                                beforeSend: function () {
            //                                    showLoading(true);
            //                                },
            //                                complete: function () {
            //                                    showLoading(false);
            //                                },
            //                                success: function (data) {
            //                                    if (data.Key) {
            //                                        bootbox.alert("Line " + data.LineId + " is generated successfully", function () {
            //                                            $("#LineId").val(data.LineId);
            //                                        });
            //                                        GetHeaderGridDataPartial($("#HeaderId").val());
            //                                    }
            //                                    else {
            //                                        DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            //                                    }
            //                                }
            //                            });
            //                        }
            //                        else {
            //                            return false;
            //                        }
            //                    }
            //                },
            //                'cancel': {
            //                    label: 'Close',
            //                    className: 'btn green'
            //                }
            //            }
            //        });
            //    },
            //    error: function () {
            //    }
            //});
        });*@

        var status = '@Model.Status' ;
        var auth = '@ViewBag.auth'
        if(auth == "yes"){
            var cc = '@Model.CouponCategory';
            //if ((status == "Draft") ||(status == "Returned by QC3" && cc == "Material test coupon") || (status == "Returned by WE2") || (status == "Returned by QA3/WTC3" && (cc == "Water Analysis" || cc == "Performance Qualification "))) {
            //if ((status == "Closed") ||(status == "Draft") ||(status == "Returned by QC3") || (status == "Returned by WE2") || (status == "Returned by QA3/WTC3")) {
            if ((status == '@clsImplementationEnum.PTRStatus.Closed.GetStringValue()') ||(status == '@clsImplementationEnum.PTRStatus.Draft.GetStringValue()') ||(status == '@clsImplementationEnum.PTRStatus.RetQC3.GetStringValue()') || (status == '@clsImplementationEnum.PTRStatus.RetWE2.GetStringValue()') || (status == '@clsImplementationEnum.PTRStatus.RetQA3.GetStringValue()')) {
            }
            else{
                $("#btnNew").hide();
            }
        }
        else{
            $("#btnNew").hide();
        }
        $("#ChemicalRemarks").change(function(){
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/PTR/MaintainPTR/UpdateMechenicalAndChemicalRemarks",
                datatype: 'json',
                data: { HeaderId: '@ViewBag.HeaderId', Remarks: $(this).val().trim(), Type: "chem"},
                success: function (result) {
                    if (result.Key) {
                    }else{
                        DisplayNotiMessage("error", result.Value, "");
                    }
                },
                error: function () {
                }
            });
        });

        @*LoadPreValueSelect2("/PTR/MaintainPTR/GetCodeSpecification", $('#CodeSpecification'), "--Select CodeSpecification--", '');

        var CodeSpecification = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.CodeSpecification))));

        if (CodeSpecification != null) {
            $("#CodeSpecification").val(LoadMultiSelect2OnEdit(CodeSpecification)).trigger('change');
        }
        $("#CodeSpecification").prop('disabled', 'disabled');*@
    });
    //function LoadPreValueSelect2(url, objControl, caption, param) {
    //    $.ajax({
    //        url: WebsiteURL + url,
    //        dataType: "json",
    //        type: "POST",
    //        data: { BU: $("#BU").val().split("-")[0].trim(), Location: $("#Location").val().split("-")[0].trim() },
    //        async: false,
    //        success: function (data) {
    //            var str = "";
    //            for (var i = 0; i < data.length; i++) {
    //                str += "<option value='" + data[i].id + "'>" + data[i].Description + "</option>";
    //            }
    //            $(objControl).html(str);

    //            objControl.select2({
    //                placeholder: caption

    //            });
    //        }
    //    })
    //}

    function FillAutoComplete(element, sourceList, hdElement, isEditable) {

        element.autocomplete({
            source: function (request, response) {
                //var array=response($.map(sourceList, function (item) {
                //    return { label: item.CategoryDescription, value: item.CategoryDescription, id: item.Code };
                //}));
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.value);
                $(hdElement).val(ui.item.id)
            },
            change: function (event, ui) {
                if (ui.item == null){
                    if(isEditable){
                        $(hdElement).val(element.val());
                    }else{
                        element.val('');
                        element.focus();
                        $(hdElement).val('');
                    }
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });

    }
    function GetHeaderGridDataPartial(HeaderId)
    {
        var status = '@Model.Status' ;
        var table = $('#tblPTRHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [ ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PTR/MaintainPTR/LoadChemDetailData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Headerid", "value": '@ViewBag.HeaderId' },
                            {"name":"auth","value":'@ViewBag.auth'}
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        LoadMultiSelect();
                        ResetAddRow();
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);

                        $(".TestingSpecification").attr("maxlength","50")
                        $(".AcceptanceCriteria").attr("maxlength","70")
                        $(".Remarks").attr("maxlength","50")
                        if(IsDifferentLocationUser){
                            $("#tblPTRHeader").find("input,select,i").attr("disabled","disabled");
                            $("#tblPTRHeader").find(".action").remove();
                            $("#btnNew").remove();
                            $("#ChemicalRemarks").attr("disabled","disabled");
                        }
                    },
                    'async': false
                });
                $('input[maxlength]').maxlength({
                    alwaysShow: true,
                });
            },
            "columns": [

                {
                    "sClass": "center group1",
                    "bSortable": false
                },
                {
                    "name" : "CouponID",
                    "sClass": "center group1"
                },
                {
                    "name": "TestTypeOrientation",
                    "sClass": "center group1"
                },
                {
                    "name": "Orientation",
                    "sClass": "center group1"
                },
                {
                    "name" : "SampleLocation",
                    "sClass": "center group1"
                },
                {
                    "name" : "TestingSpecification",
                    "sClass": "center group1"
                },
                {
                    "name" : "Remarks",
                    "sClass": "center group1"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "name" : "AcceptanceCriteria",
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center action group1",
                },
                 {
                     "sClass": "hide"
                 },
            ],
            fnRowCallback: function (row, data, dataIndex) {
                console.log(data[0])
                if (data[0] != "") {
                    $(row).find(".group1").addClass("bgcolor");
                    $(row).find('td').css("border-top-color", 'lightgray');
                    $(row).addClass("parents");
                }
                else {
                    $(row).find(".group1").addClass("bordernone");
                    $(row).addClass("childs");
                }
            }
        });
    }

    function AddElementsAcceptanceCriteria(LineId,HeaderId){
        $.ajax({
            type: "POST",
            url: "/PTR/MaintainPTR/ChemLineCouponDetails",
            datatype: 'html',
            data: { LineId: LineId },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                bootbox.dialog({
                    title: 'Element & Acceptance Criteria Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        Cancel: {
                            label: 'Close',
                            className: 'btn red',
                            callback: function () {
                                GetHeaderGridDataPartial(HeaderId);
                            }
                        }
                    },
                    onEscape: function() {
                        GetHeaderGridDataPartial(HeaderId);
                        // you can do anything here you want when the user dismisses dialog
                    }
                });
            },
            error: function () {
            }
        });
    }
    function LoadMultiSelect() {
        //$('select[id^="SampleLocation"]').addClass("notrequired");
        //$('select[id^="Elements"]').addClass("notrequired");
        $("[colname='SampleLocation']").select2({
            caption: "--Select--",
            width: '350px',
            tags: [],
            tokenSeparators: [",", "  ", ";"],
        });
        $("select[name]","#tblPTRHeader").not("[colname='SampleLocation']").select2({
            caption: "--Select--",
            width: '350px'
        });
        //$("select[name]","#tblPTRHeader").change(function(){
        //    HighlightInValidControls();
        //});
    }

    function SaveNewStage() {
        if ($("#frmChemDetails").valid()) {
            var formData = new FormData();
            var frmValues = $('#frmChemDetails').serializeArray();
            $.each(frmValues, function (key, input) {
                formData.append(input.name, input.value);
            });
            $.ajax({
                url: WebsiteURL + '/PTR/MaintainPTR/SaveChemDetails',
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        //bootbox.alert("Line " + data.LineId + " is "+data.Value, function () {
                        $("#LineId").val(data.LineId);
                        //});
                        DisplayNotiMessage("success", "Line " +data.Value, "Success");
                        if($("#Status").val() == '@clsImplementationEnum.PTRStatus.Closed.GetStringValue()'){
                            setTimeout(function () {
                                window.location.href = window.location.href;
                            }, 3000);
                        }
                        GetHeaderGridDataPartial('@ViewBag.HeaderId');
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
        //else{
        //    HighlightInValidControls();
        //}
    }
    function UpdateLineDetails(objColumn, rowID, headerId) {
        setTimeout(function () {
            var status = $("#Status").val();
            var elem = $(objColumn).attr("hdElement");
            var hdElement, columnName, columnValue;
            if ($(objColumn).attr("id").match("^txt"))
            {
                hdElement = $("#" + elem);
                columnName = $('#' + elem).attr("colname");
                columnValue = $('#' + elem).val();
            }
            else
            {
                columnName = $(objColumn).attr("colname");
                columnValue = $(objColumn).val();
            }
            if (columnName == 'SampleLocation') {
                if(columnValue != null)
                    columnValue = columnValue.join();
            }
            if (columnName == 'Elements') {
                if(columnValue != null)
                    columnValue = columnValue.join();
            }
            var oldvalue = $(objColumn).attr("oldvalue");
            if (oldvalue == columnValue)
                return;
            if(status == '@clsImplementationEnum.PTRStatus.Closed.GetStringValue()'){
                bootbox.dialog({
                    title: "Revise Confirmation",
                    message: "Do you want to revise this PTR?",
                    size: "medium",
                    buttons: {
                        Yes: {
                            Label: "Yes",
                            className: 'btn green',
                            callback: function () {
                                $.ajax({
                                    type: "POST",
                                    url: WebsiteURL + "/PTR/MaintainPTR/UpdateChemLine",
                                    datatype: 'json',
                                    async: false,
                                    data: { lineId: rowID, headerId: headerId, columnName: columnName, columnValue: columnValue },
                                    success: function (result) {
                                        if (result.Key) {
                                            //DisplayNotiMessage("success", result.Value, "Success");
                                            if(status == '@clsImplementationEnum.PTRStatus.Closed.GetStringValue()'){
                                                setTimeout(function () {
                                                    window.location.href = window.location.href;
                                                }, 3000);
                                            }
                                            $(objColumn).attr("oldvalue", columnValue);
                                        }else{
                                            DisplayNotiMessage("error", result.Value, "");
                                        }
                                    },
                                    error: function () {
                                    }
                                });
                            }
                        },
                        Cancel: {
                            label: 'No',
                            className: 'btn red',
                            callback: function () { }
                        }

                    }
                });
            }
            else{
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/PTR/MaintainPTR/UpdateChemLine",
                    datatype: 'json',
                    async: false,
                    data: { lineId: rowID, headerId: headerId, columnName: columnName, columnValue: columnValue },
                    success: function (result) {
                        if (result.Key) {
                            //DisplayNotiMessage("success", result.Value, "Success");
                            if(status == '@clsImplementationEnum.PTRStatus.Closed.GetStringValue()'){
                                setTimeout(function () {
                                    window.location.href = window.location.href;
                                }, 3000);
                            }
                            $(objColumn).attr("oldvalue", columnValue);
                        }else{
                            DisplayNotiMessage("error", result.Value, "");
                        }
                    },
                    error: function () {
                    }
                });
            }
        },500)
    }

    function DeleteLines(lineId, headerId) {
        var status = $("#Status").val();
        if(status == '@clsImplementationEnum.PTRStatus.Closed.GetStringValue()'){
            bootbox.dialog({
                title: "Revise Confirmation",
                message: "Do you want to revise this PTR?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            DeleteChemLine(lineId,headerId);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }

                }
            });
        }
        else{
            bootbox.dialog({
                title: "Delete Confirmation",
                message: "Do you want to delete this line?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            DeleteChemLine(lineId,headerId);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }

                }
            });
        }
    }
    function DeleteChemLine(lineId, headerId) {
        $.ajax({
            url: WebsiteURL + "/PTR/MaintainPTR/DeleteChemLines",
            type: "POST",
            data: { lineId: lineId, headerId: headerId },
            success: function (data) {

                if (data.Key == true) {
                    DisplayNotiMessage("success", "Line Deleted Successfully", "Success");
                    if($("#Status").val() == '@clsImplementationEnum.PTRStatus.Closed.GetStringValue()'){
                        setTimeout(function () {
                            window.location.href = window.location.href;
                        }, 3000);
                    }
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
                $("#tblPTRHeader").DataTable().ajax.reload();
            },
            error: function (data) {
                DisplayNotiMessage("error", data.Value, "Error");
            }
        });
    }

    function ShowNewRecord(obj) {
        if (!$('#tblPTRHeader').find("tbody tr:first").is(":visible")) {
            var status = $("#Status").val();
            if(status == '@clsImplementationEnum.PTRStatus.Closed.GetStringValue()'){
                bootbox.dialog({
                    title: "Revise Confirmation",
                    message: "Do you want to revise this PTR",
                    size: "medium",
                    buttons: {
                        Yes: {
                            Label: "Yes",
                            className: 'btn green',
                            callback: function () {
                                ShowLine(obj);
                            }
                        },
                        Cancel: {
                            label: 'No',
                            className: 'btn red',
                            callback: function () { }
                        }

                    }
                });
            }
            else
                ShowLine(obj);
        }
        else
            ShowLine(obj);
    }
    function ShowLine(obj){
        $('#tblPTRHeader').find("tbody tr:first").toggle();
        $('#tblPTRHeader').find("tbody tr:first input[type='text']:first").focus();
        if ($('#tblPTRHeader').find("tbody tr:first").is(":visible")) {
            //$(obj).val("Cancel");
            $(obj).html('<i class="fa fa-times"></i> Cancel');
            var delayedFn, blurredFrom;
            $('#tblPTRHeader').find("tbody tr:first").on('blur', 'a', function (event) {
                blurredFrom = event.delegateTarget;
                delayedFn = setTimeout(function () { SaveNewStage(); }, 0);
            });
            $('#tblPTRHeader').find("tbody tr:first").on('focus', 'a', function (event) {
                if (blurredFrom === event.delegateTarget) {
                    clearTimeout(delayedFn);
                }
            });
        }
        else {
            //$(obj).val("New");
            $(obj).html('<i class="fa fa-plus"></i> New');
            clearFirstRow($('#tblPTRHeader').find("tbody tr:first"));
        }
    }
    function ResetAddRow() {
        $('#tblPTRHeader').find("tbody tr:first").hide();
        $('#tblPTRHeader').find("tbody tr:first").css("background-color", "#fbffb2");
        //$("#btnNew").val("New");
        $("#btnNew").html('<i class="fa fa-plus"></i> New');
        clearFirstRow($('#tblPTRHeader').find("tbody tr:first"));
    }
    function clearFirstRow(objFirstLine) {
        $('input[type!="hidden"]', objFirstLine).val('');
        $('select', objFirstLine).val(null).trigger('change');
    }
</script>
<div class="page-content">
    @*<div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">*@


    <div class="portlet light ">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="mt-element-ribbon bg-grey-steel" style="height:50px;">
                            <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                <span class="page-title">Chemical Test Detail</span>
                            </div>
                            <div class="ribbon ribbon-right ribbon-color-warning ">
                                <b>Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span></b>
                            </div>
                            <p class="ribbon-content"></p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="~/PTR/MaintainPTR/TestCompletionDetails?HeaderId=@Model.HeaderId" class="btn green" style="float:right;" id="btnTestComplete">Test Completion Details</a>
                                <a href="~/PTR/MaintainPTR/HeatPlateDetails?HeaderId=@Model.HeaderId" class="btn green" style="float:right;" id="btnHeatPlate">Heat/Plate No Details</a>
                                @if (!string.IsNullOrEmpty(Model.MechTest) && Model.MechTest.ToString().ToLower() == "true")
                                {
                                    <a href="~/PTR/MaintainPTR/MechDetails?HeaderId=@Model.HeaderId" class="btn green" style="float:right;" id="btnMech">Mech/Met Test Details</a>
                                }
                                @if (Model.HTDetail.HasValue && Model.HTDetail.Value)
                                {
                                    <a href="~/PTR/MaintainPTR/HTDetails?HeaderId=@Model.HeaderId" class="btn green" style="float:right;" id="btnHT">HT Details</a>
                                }
                            </div>
                        </div>
                        <fieldset>
                            <legend>Project Detail</legend>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Project
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Project, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            BU
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.BU, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Location
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            RevNo.
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.RevNo, "R" + Model.RevNo, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            PTR No.
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.PTRNo, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    @*<div class="col-md-4">
                                        <label class="control-label">CodeSpecification</label>
                                        <div class="">
                                            <select name="CodeSpecification" id="CodeSpecification" multiple="multiple" class="form-control"></select>
                                        </div>
                                    </div>*@
                                    @Html.HiddenFor(m => m.Status)
                                </div>
                            </div>

                        </fieldset>
                        @*<div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4" style="text-align:right">
                                        <button id="btnAddNew" style="float: right;margin-top:30px;" class="btn green">Add New</button>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    Chemical Test Details
                                </div>
                                <div class="tools" id="dvExportHeader">
                                    <div class="btn-group">
                                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PTR/MaintainPTR/GenerateExcel?HeaderId=" + Model.HeaderId, GridType = clsImplementationEnum.GridType.ChemicalTest.GetStringValue(), dvId = "#dvExportHeader" })
                                    </div>
                                    <div class="btn-group">
                                        <a style="margin-left:5px;" id="btnNew" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewRecord(this);">
                                            <i class="fa fa-plus"></i> New
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <div class="btn-group dt-btn">
                                            <label onclick="TablePortletMaximize(this,-87,-351);" class="btn btn-circle white btn-outline btn-sm" title="Panel Maximize"><i class="fa fa-expand"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="portlet-body">
                                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmChemDetails", @class = "form-horizontal" }))
                                {
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblPTRHeader" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="all">#</th>
                                                <th class="all">Coupon <br />ID</th>
                                                <th class="all">Test Type<br/>Orientation</th>
                                                <th class="all">Orientation</th>
                                                <th class="all">Sample<br/>Location</th>
                                                <th class="all">Testing Spec.</th>
                                                <th class="all">Remarks</th>
                                                <th class="all">Elements</th>
                                                <th class="all">Acc.<br/>Criteria</th>
                                                <th class="all action">Action</th>
                                                <th class="" style="display:none;">HeaderId</th>
                                            </tr>
                                        </thead>

                                        <tbody></tbody>
                                    </table>
                                }
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">
                                    Remarks
                                </label>
                                <div class="">
                                    @Html.TextAreaFor(m => m.ChemicalRemarks, new { @class = "form-control", @maxlength = "500", @cols = "20", @rows = "3"})
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-2">
                                    @*<button class="btn green" style="float: right;display:none;" type="button" id="btnSend">Send to Compiler</button>&nbsp;&nbsp;*@
                                </div>
                                <div class="col-md-2" style="text-align:right">
                                    <a href='@Url.Action("PTRDetails","MaintainPTR",new { HId = ViewBag.HeaderId })' style="float: right;" class="btn btnclose">Close</a>

                                    @if (Model.Status == clsImplementationEnum.PTRStatus.SubmitQA3.GetStringValue() && ViewBag.IsRoleQA == true)
                                    {
                                        <a href='@Url.Action("PTRChemicalReports","MaintainPTR",new { HeaderId = ViewBag.HeaderId })' style="float: right;margin-right:5px;" class="btn retract">Report</a>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>*@
</div>