﻿@using IEMQSImplementation
@model PTR001_Log
@{
    ViewBag.Title = "ChemLogDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>ChemLogDetails</h2>*@
<style>
    table.dataTable thead .sorting_asc:after {
        content: "";
        text-align: left;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script>
    $(document).ready(function () {
        var HeaderId = @ViewBag.Id;
        GetHeaderGridDataPartial(HeaderId);
    });

    function GetHeaderGridDataPartial(HeaderId)
    {
        var status = '@Model.Status' ;
        var table = $('#tblPTRHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PTR/MaintainPTR/LoadChemLogDetailData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Headerid", "value": '@ViewBag.Id' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'async': false
                });
            },
            "columns": [

                {
                    "sClass": "center",
                },
                {
                    "name" :  "CouponID",
                    "sClass": "center"
                },
                {
                    "name" :  "SampleLocation",
                    "sClass": "center"
                },
                {
                    "name" :  "Elements",
                    "sClass": "center"
                },
                {
                    "name" :  "AcceptanceCriteria",
                    "sClass": "center"
                },
                {
                    "name" :  "TestingSpecification",
                    "sClass": "center"
                },
                {
                    "name" :  "Remarks",
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    //"sWidth": "10%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        //buttons = '<center><a class="btn btn-xs green"   href="../MaintainPTR/MechMetDetails?Id=' + row[6] + '&HId='+row[7]+'">View<i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                        buttons = '<center><a title="View" onClick="getDetails(' + row[7] + ',' + row[8] + ');"><i style="margin-left:5px;" class="fa fa-eye" ></i></a>';
                        buttons += "</center>";
                        return buttons;
                    }
                },
                 {
                     "sClass": "hide"

                 },
            ]
        });
    }
    //oTable.api().columns().every(function () {
    //    var that = this;
    //    $('input', this.footer()).on('keyup change', function () {
    //        if (that.search() !== this.value) {
    //            that
    //                .search(this.value)
    //                .draw();
    //        }
    //    });
    //});

    //});
    function getDetails(Id, HId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PTR/MaintainPTR/ChemLineLogDetails",
            datatype: 'html',
            async: false,
            data: { Id: Id, HId: HId },
            success: function (result) {
                bootbox.dialog({
                    title: 'Chemical Test History Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });

    }




</script>
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">


                            <div class="portlet light ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet-body form">
                                            <div class="form-body">
                                                <div class="mt-element-ribbon bg-grey-steel" style="height:50px;">
                                                    <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                                        <span class="page-title">Chemical Test History Detail</span>
                                                    </div>
                                                    <div class="ribbon ribbon-right ribbon-color-warning ">
                                                        <b>Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span></b>
                                                    </div>
                                                    <p class="ribbon-content"></p>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <a href="~/PTR/MaintainPTR/TestCompletionLogDetails?HeaderId=@Model.Id" class="btn green" style="float:right;" id="btnTestComplete">Test Completion Details</a>
                                                        <a href="~/PTR/MaintainPTR/HeatPlateLogDetails?HeaderId=@Model.Id" class="btn green" style="float:right;" id="btnHeatPlate">Heat/Plate No Details</a>
                                                        @if (!string.IsNullOrEmpty(Model.MechTest) && Model.MechTest.ToString().ToLower() == "true")
                                                        {
                                                            <a href="~/PTR/MaintainPTR/MechLogDetails?HeaderId=@Model.Id" class="btn green" style="float:right;" id="btnMech">Mech/Met Test Details</a>
                                                        }
                                                        @if (Model.HTDetail.HasValue && Model.HTDetail.Value)
                                                        {
                                                            <a href="~/PTR/MaintainPTR/HTLogDetails?HeaderId=@Model.Id" class="btn green" style="float:right;" id="btnHT">HT Details</a>
                                                        }
                                                    </div>
                                                </div>
                                                <fieldset>
                                                    <legend>Project Detail</legend>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <div class="col-md-4">
                                                                <label class="control-label">
                                                                    Project
                                                                </label>
                                                                <div class="">
                                                                    @Html.TextBoxFor(m => m.Project, new { @class = "form-control", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label class="control-label">
                                                                    BU
                                                                </label>
                                                                <div class="">
                                                                    @Html.TextBoxFor(m => m.BU, new { @class = "form-control", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label class="control-label">
                                                                    Location
                                                                </label>
                                                                <div class="">
                                                                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <div class="col-md-4">
                                                                <label class="control-label">
                                                                    RevNo.
                                                                </label>
                                                                <div class="">
                                                                    @Html.TextBoxFor(m => m.RevNo, "R" + Model.RevNo, new { @class = "form-control", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label class="control-label">
                                                                    PTR No.
                                                                </label>
                                                                <div class="">
                                                                    @Html.TextBoxFor(m => m.PTRNo, new { @class = "form-control", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </fieldset>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                        </div>
                                                        <div class="col-md-4">
                                                        </div>
                                                        <div class="col-md-4" style="text-align:right">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet box green">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                @{
                                                    string strPTRTitle = ViewBag.Status + " PTR";
                                                }
                                                Chemical Test Details
                                            </div>
                                            <div class="tools"> </div>
                                        </div>

                                        <div class="portlet-body">

                                            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblPTRHeader" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th class="all">#</th>
                                                        <th class="min-phone-l">Coupon ID</th>
                                                        <th class="min-phone-l">Sample Location</th>
                                                        <th class="min-phone-l">Elements</th>
                                                        <th class="min-phone-l">Acceptance Criteria</th>
                                                        <th class="min-phone-l">Testing Spec.</th>
                                                        <th class="min-phone-l">Remarks</th>
                                                        <th class="min-phone-l">Action</th>
                                                        <th class="" style="display:none;">Id</th>
                                                    </tr>
                                                </thead>

                                                <tbody></tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label">
                                                Remarks
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ChemicalRemarks, new { @class = "form-control", @maxlength = "500", @disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-3">
                                                @*<button class="btn green" style="float: right;display:none;" type="button" id="btnSend">Send to Compiler</button>&nbsp;&nbsp;*@
                                            </div>
                                            <div class="col-md-1" style="text-align:right">
                                                <a href='@Url.Action("PTRLogDetails","MaintainPTR",new { HId = ViewBag.Id })' style="float: right;" class="btn btnclose">Close</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>