﻿@using IEMQSImplementation
<style>
    /*.modal-dialog {
        width:100% !important;
    }*/
    .meduim{
        width:100% !important;
    }
    .sCenter {
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @{
                        string strPTRTitle = ViewBag.Status + " PTR";
                    }
                    @strPTRTitle
                    
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PTR/MaintainPTR/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblPTRHeader" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th class="all">PTR No</th>
                            <th class="all">RevNo.</th>
                            <th class="min-phone-l">LAB Id</th>
                            <th class="min-phone-l">LAB Id Created On</th>
                            <th class="min-phone-l">Insepction Agency</th>
                            <th class="min-phone-l">Sub. Date QA3/WTC3</th>
                            <th class="min-phone-l">Project</th>
                            @*<th class="all">Quality Project</th>*@
                            <th class="min-phone-l">Coupon Category</th>
                            <th class="min-phone-l">Coupon No</th>
                            <th class="min-phone-l">Type of Test</th>
                            @*<th class="min-phone-l">LAB Id</th>
                            <th class="min-phone-l">LAB Id Created By</th>
                            <th class="min-phone-l">LAB Id Created On</th>*@
                            <th class="min-phone-l">PTR Initiator</th>
                            <th class="min-phone-l">Status</th>
                            <th class="min-phone-l">Location</th>
                            <th class="min-phone-l">Action<div style="width:100px;"></div></th>
                            <th class="" style="display:none;">HeaderId</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="col-md-12" style="text-align:right;">
        <button id="btnSubmitSelected" type="button" class="btn submit">Submit</button>
    </div>
</div>

<script>

    $(document).ready(function () {
        //$('#tblCTQHeader tfoot th').each(function () {
        //    var title = $(this).text();
        //    $(this).html('<input class="form-control input-sm input-small input-inline" type="text" placeholder="Search ' + title + '" />');
        //});

        var isVisible = false;
        $("#btnSubmitSelected").click(function () {
            var arrayHeaderIds = new Array();
            // Iterate over all checkboxes in the table
            $('input[class="clsCheckbox"]', $('#tblPTRHeader')).each(function () {
                if (this.checked) {
                    arrayHeaderIds.push(this.value);
                }
            });
            if (arrayHeaderIds.length > 0) {
                var strHeaderIds = arrayHeaderIds.join(",");
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/PTR/MaintainPTR/SubmitSelectedPTR",
                    datatype: 'json',
                    async: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    data: { strHeaderIds: strHeaderIds },
                    success: function (data) {
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                            $(".example-select-all").prop('checked', false);

                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }

                        $('#tblPTRHeader').DataTable().ajax.reload();

                    },
                    error: function () {
                    }
                });
            }
            else {
                DisplayNotiMessage("error", "Please select header first", "Error");
            }
        });


        var table = $('#tblPTRHeader');
        table.one('init.dt', function (e, settings, json) {
            setTimeout(function () {
                $("#fltProject").select2({
                    templateSelection: function (data) {
                        return data.id;
                    }
                });
            }, 10);
        });
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [1, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            'columnDefs': [{
                'targets': 0,
                'searchable': false,
                'orderable': false,
                'className': 'dt-body-center',
                'render': function (data, type, full, meta) {
                    return '<input type="checkbox" name="id[]" value="'
                       + $('<div/>').text(data).html() + '">';
                }
            }],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PTR/MaintainPTR/LoadPTRHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        if (data.iTotalRecords > 0 && '@ViewBag.Status' == "Pending") {
                            $("#btnSubmitSelected").show();
                            isVisible = true;
                        }
                        else {
                            $("#btnSubmitSelected").hide();
                            isVisible = false;
                        }
                    },
                  
                    //fnCallback,
                    'async': false
                });
            },
            "columns": [
                {
                    'targets': 0,
                    "bSortable": false,
                    "sClass": "center",
                    'render': function (data, type, full, meta) {
                        return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                        //return '<input type="checkbox" name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '">';
                    }
                },

                {
                    "sClass": "center",
                    "name" : "PTRNo",
                },
                {
                    "name": "RevNo",
                    "sClass": "center",
                    "attr": "numeric",
                },
                {
                    "name": "LABId",
                    "sClass": "center"
                },
                {
                    "name": "LABIdCreatedOn",
                    "sClass": "center",
                    attr: "date"
                },
                {
                    "name": "AllInspectionAgency",
                    "sClass": "center"
                },
                {
                    "name": "SubmittedOn",
                    "sClass": "center",
                    attr: "date"
                },
                {
                    "name": "Project",
                    "sClass": "center",
                    "attr": "Select2",
                    "sDataURL": "/PTR/MaintainPTR/GetProjectForDropdownResult"
                },
                //{ "name": "QualityProject", "sClass": "center" },
                {
                    "name": "CouponCategory",
                    "sClass": "center"
                },
                {
                    "name": "CouponNo",
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "name": "TypeOfTest",
                    "ColData": ["Both", "Mechanical", "Chemical"]
                },
                {
                    "name": "PTRInitiator",
                    "sClass": "center"
                },
                //{
                //    "name": "LABIdCreatedBy",
                //    "sClass": "center",
                //    ColName: "LabIdCreatedBy+'-'+com3.t_name"
                //},
                {
                    "name": "Status",
                    "sClass": "center"
                },
                {
                    "name": "Location",
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "sCenter",
                    "sWidth": "20%",
                    //"render": function (data, type, row, meta) {
                    //    var buttons = "";
                    //    buttons = '<center><a class="btn btn-xs green"   href="../MaintainPTR/PTRDetails?HId=' + row[11] + '">View<i style="margin-left:5px;" class="fa fa-eye"></i></a><a class="btn btn-xs" href="javascript:void(0)" onclick=ShowTimeline("/PTR/MaintainPTR/ShowTimeline?HeaderID='+row[11]+'");><i style="" class="fa fa-clock-o"></i></a>';
                    //    var passval = "ParameterSlip(" + row[11] + ")";
                    //    buttons += '<i  data-modal="" id="btnPS" name="btnPS" style="cursor:pointer;" Title="Print Report" class="fa fa-print" onClick="' + passval + '"></i></center>';
                    //    return buttons;
                    //}
                },
                { "sClass": "hide" },
            ]
        });
        table.dtSearchFilter();
       
        //oTable.api().columns().every(function () {
        //    var that = this;
        //    $('input', this.footer()).on('keyup change', function () {
        //        if (that.search() !== this.value) {
        //            that
        //                .search(this.value)
        //                .draw();
        //        }
        //    });
        //});
        if ('@ViewBag.Status' == "Pending" && isVisible == true) {
            oTable.api().column(0).visible(true);
            if ('@ViewBag.IsValid' == "True") {
                oTable.api().column(3).visible(false);
                oTable.api().column(4).visible(false);
                oTable.api().column(5).visible(true);
                oTable.api().column(6).visible(true);
            }
            else {
                oTable.api().column(3).visible(true);
                oTable.api().column(4).visible(true);
                oTable.api().column(5).visible(false);
                oTable.api().column(6).visible(false);
            }

            $("#btnSubmitSelected").show();
        }
        else {
            oTable.api().column(0).visible(false);
            oTable.api().column(5).visible(false);
            oTable.api().column(6).visible(false);
            setTimeout(function () {
                $('#tblPTRHeader_wrapper thead tr:first th:eq(0)').hide();
            }, 100);
            $("#btnSubmitSelected").hide();
        }

        $('#example-select-all').on('click', function () {
            var rows = oTable.api().rows({ 'search': 'applied' }).nodes();
            $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
        });

        // Handle click on checkbox to set state of "Select all" control
        $('#tblPTRHeader tbody').on('change', 'input[type="checkbox"]', function () {
            // If checkbox is not checked
            if (!this.checked) {
                var el = $('#example-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if (el && el.checked && ('indeterminate' in el)) {
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });
    });
    function ParameterSlip(headerid) {
        url = "/PTR/Physical Test Request";
        var dat = [];
        dat.push({ Param: "HeaderId", Value: headerid });
        ShowReport(dat, url);
    }
    function History(HeaderId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PTR/MaintainPTR/GetPTRHistoryDetails",
            datatype: 'html',
            async: false,
            data: { HeaderId: HeaderId },
            success: function (result) {
                bootbox.dialog({
                    title: 'Physical Test Request History Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn red'
                        }
                    }
                });
            },
            error: function () {
                //alert("re");
            }
        });
    }
    function CopyPTR(HeaderId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PTR/MaintainPTR/GetCopyDetails",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            async: false,
            data: { HeaderId: HeaderId },
            success: function (result) {
                bootbox.dialog({
                    title: 'Copy to',
                    message: result,
                    size: 'small',
                    buttons: {
                        'confirm': {
                            label: 'Copy',
                            className: 'btn green',
                            callback: function () {
                                if ($("#frmCopyPTR").valid()) {
                                    $.ajax({
                                        url: WebsiteURL + '/PTR/MaintainPTR/copyPTR',
                                        type: "Post",
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        async: false,
                                        dataType: "JSON",
                                        data: { projCode: $("#ddlCopyProject").val(), HeaderId: HeaderId },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                                window.setTimeout('window.location.href = "' + WebsiteURL + '/PTR/MaintainPTR/PTRDetails?Hid=' + data.HeaderId + '"', 2000);
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                                return false;
                                            }
                                        },
                                        error: function (ex) {
                                            DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                            return false;
                                        }
                                    });
                                }
                                else {
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }
    function FillInlineAutoComplete(elem, data) {
        setTimeout(function () {
            FillAutoCompleteWithArray(elem, data, undefined, function () {
                elem.focus() // $('#tblPTRHeader').dataTable().ajax.reload();
            });
        },1000)
    }
</script>