﻿@using IEMQSImplementation

@model PTR001
@{
    ViewBag.Title = "MechDetails";
Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>MechDetails</h2>*@
<style>


    .txtTestTypeOrientation {
        width: 140px
    }

    table.dataTable thead .sorting_asc:after {
        content: "";
        text-align: left;
    }

    /*textarea {
        height: 33px !important;
    }*/

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .NoofSamples {
        width: 70px;
    }

    .select2-selection {
        max-height: 50px;
        overflow-x: auto;
    }

    .select2-container--open {
        z-index: 9995;
        /*word-wrap: break-word;
        overflow:auto;*/
      /*  width:100%;
        height:100%;*/
    }
    /*.select2-container .select2-selection--multiple .select2-selection__rendered {
        display: inline-block;*/
        /* overflow: hidden; */
        /*padding-left: 8px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }*/

    /*table.dataTable thead th, table.dataTable thead td{
        padding:4px initial !important;
    }*/

    /*
 *  STYLE 3
 */

    .select2-selection::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    .select2-selection::-webkit-scrollbar {
        width: 6px;
        height:6px;
        background-color: #F5F5F5;
    }

    .select2-selection::-webkit-scrollbar-thumb {
        background-color: grey;
    }
   
</style>
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<link href="~/Content/ThemeCss/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/Plugins/select2/components-select2.min.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/select2/js/select2.full.min.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script>
    function TablePortletMaximize(portlet, TopPosition, LeftPosition)
    {
        var panel = $(portlet).closest(".portlet");
        var pnlpos = $(panel).offset();
        if (panel.hasClass('portlet-maximize')) { // Panel Minimize
            $(portlet).html('<i class="fa fa-expand"></i>').prop('title', "Panel Maximize");
            panel.animate({
                width: "100%",
                height: "100%",
                top: pnlpos.top * -1,
                left: pnlpos.left * -1
            }, 1000);
            setTimeout(function () {
                panel.removeClass('portlet-maximize');
                $('html,body').css("overflow", "").animate({ scrollTop: $(panel).offset().top - 70 }, 1000); // auto main scrollbar;
                if ($('.bootbox.modal').length > 0) {
                    $('.bootbox.modal').css("overflow-y", "");
                    panel.css("position", "");
                }
            }, 1000);
        } else { // Panel Maximize
            $(portlet).html('<i class="fa fa-compress"></i>').prop('title', "Panel Minimize");
            $('html,body').animate({ scrollTop: 0 }, 1000).css("overflow", "hidden"); // hide main scrollbar
            if ($('.bootbox.modal').length > 0) { //  if table in Modal Popup
                $('.bootbox.modal').animate({ scrollTop: 0 }, 1000).attr("style", $('.bootbox.modal').attr("style") + "; overflow-y:scroll !important"); // used this cuz JQuery.css funtion not add "!important" in property
                panel.css("position", "absolute");
                panel.addClass('portlet-maximize').animate({
                    width: '100vw',
                    height: '100vh',
                    top: TopPosition,//-87,
                    left: LeftPosition //-351
                }, 1000);
            } else {
                panel.addClass('portlet-maximize').animate({
                    width: '100vw',
                    height: '100vh',
                    top: pnlpos.top * -1,
                    left: pnlpos.left * -1,
                }, 1000);
            }
        }
        setTimeout(function ()
        {
            $('.dataTable[id]', panel).DataTable().columns.adjust();
        }, 1000);

    }

    var IsDifferentLocationUser= '@ViewBag.IsDifferentLocationUser' == "True";
    $(document).ready(function () {

        var HeaderId = @ViewBag.HeaderId;
        GetHeaderGridDataPartial(HeaderId);

        var CouponID = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.CouponID))));
        var TestTypeOrientation = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.TestTypeOrientation))));
        //var SampleLocation = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.SampleLocation))));
        var TestTemperature = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.TestTemperature))));
        var Orientation = [
            { "CategoryDescription": "Transverse", "Code": "Transverse" },
            { "CategoryDescription": "Longitudinal", "Code": "Longitudinal" },
            { "CategoryDescription": "Normal", "Code": "Normal" },
            { "CategoryDescription": "Tangential", "Code": "Tangential" },
            { "CategoryDescription": "Axial", "Code": "Axial" },
            { "CategoryDescription": "Other", "Code": "Other" },
        ]
        $('#tblPTRHeader').delegate(".autocomplete", "focusin", function ()
        {
            var element = $(this);
            var hdElement = $(this).attr("hdelement");

            if ($(this).attr("colname") == "txtCouponID") {
                FillAutoComplete(element, CouponID, $("#"+hdElement),true);
            }
            else if ($(this).attr("colname") == "txtTestTypeOrientation") {
                FillAutoComplete(element, TestTypeOrientation, $("#"+hdElement));
            }
            else if ($(this).attr("colname") == "txtOrientation") {
                FillAutoComplete(element, Orientation, $("#"+hdElement), true);
            }
            //else if ($(this).attr("colname") == "TestTemperature") {
            //    FillAutoComplete2(element, TestTemperature, $("#"+hdElement), true);
            //}
        });
        $('#frmMechDetails').validate({
            rules: {
                txtCouponID0 :{
                    required : true
                },
                txtTestTypeOrientation0 :{
                    required : true
                },
                //txtSimpleLocation0 :{
                //    required : true
                //},
                //SimpleLocation0:{
                //    required : true
                //},
                //txtTestTemperature0 :{
                //    required : true
                //},
                //TestTemperature0 :{
                //    required : true
                //},
                NoofSamples0 :{
                    required : true
                },
                AcceptanceCriteria0 :{
                    required : true
                },
                TestingSpecification0 :{
                    required : true
                },
            },
            messages: {
                txtCouponID0 :{
                    required : "Coupon Id is required"
                },
                txtTestTypeOrientation0 :{
                    required : "Please Select Test Type Orientation"
                },
                //txtSimpleLocation0 :{
                //    required : "Please Select Sample Location"
                //},
                SimpleLocation0 :{
                    required : "Please Select Sample Location"
                },
                //txtTestTemperature0 :{
                //    required : "Please Select Test Temprature"
                //},
                TestTemperature0 :{
                    required : "Please Select Test Temprature"
                },
                NoofSamples0 :{
                    required : "Please Enter No of Samples"
                },
                AcceptanceCriteria0 :{
                    required : "Please Enter Acceptance Criteria"
                },
                TestingSpecification0 :{
                    required : "Please Enter Testing Specification"
                },
            }
        });

        @*$("#btnAddNew").click(function () {
            var HeaderId = @ViewBag.HeaderId;
            var status = '@Model.Status';
            if(status == "Closed"){
                bootbox.confirm({
                    message: "Do you want to revise line?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success',
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            getDetails(0,HeaderId);

                        }
                    }
                });
            }
            else
                getDetails(0,HeaderId);
            //getDetails(0,HeaderId);
        });*@

        var status = '@Model.Status' ;
        var auth = '@ViewBag.auth'
        if(auth == "yes"){
            var cc = '@Model.CouponCategory';
            //if ((status == "Draft") ||(status == "Returned by QC3" && cc == "Material test coupon") || (status == "Returned by WE2") || (status == "Returned by QA3/WTC3" && (cc == "Water Analysis" || cc == "Performance Qualification "))) {
            //if ((status == "Closed") ||(status == "Draft") ||(status == "Returned by QC3") || (status == "Returned by WE2") || (status == "Returned by QA3/WTC3")) {
            if ((status == '@clsImplementationEnum.PTRStatus.Closed.GetStringValue()') ||(status == '@clsImplementationEnum.PTRStatus.Draft.GetStringValue()') ||(status == '@clsImplementationEnum.PTRStatus.RetQC3.GetStringValue()') || (status == '@clsImplementationEnum.PTRStatus.RetWE2.GetStringValue()') || (status == '@clsImplementationEnum.PTRStatus.RetQA3.GetStringValue()')) {
            }
            else{
                $("#btnNew").hide();
            }


        }
        else{
            $("#btnNew").hide();
        }

        $("#MechenicalRemarks").change(function(){
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/PTR/MaintainPTR/UpdateMechenicalAndChemicalRemarks",
                datatype: 'json',
                data: { HeaderId: '@ViewBag.HeaderId', Remarks: $(this).val().trim(), Type: "mech"},
                success: function (result) {
                    if (result.Key) {
                    }else{
                        DisplayNotiMessage("error", result.Value, "");
                    }
                },
                error: function () {
                }
            });
        });

        @*LoadPreValueSelect2("/PTR/MaintainPTR/GetCodeSpecification", $('#CodeSpecification'), "--Select CodeSpecification--", '');

        var CodeSpecification = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.CodeSpecification))));

        if (CodeSpecification != null) {
            $("#CodeSpecification").val(LoadMultiSelect2OnEdit(CodeSpecification)).trigger('change');
        }
        $("#CodeSpecification").prop('disabled', 'disabled');*@
    });
    //function LoadPreValueSelect2(url, objControl, caption, param) {
    //    $.ajax({
    //        url: WebsiteURL + url,
    //        dataType: "json",
    //        type: "POST",
    //        data: { BU: $("#BU").val().split("-")[0].trim(), Location: $("#Location").val().split("-")[0].trim() },
    //        async: false,
    //        success: function (data) {
    //            var str = "";
    //            for (var i = 0; i < data.length; i++) {
    //                str += "<option value='" + data[i].id + "'>" + data[i].Description + "</option>";
    //            }
    //            $(objControl).html(str);

    //            objControl.select2({
    //                placeholder: caption

    //            });
    //        }
    //    })
    //}

    function FillAutoComplete(element, sourceList, hdElement, isEditable) {

        element.autocomplete({
            source: function (request, response) {
                //var array=response($.map(sourceList, function (item) {
                //    return { label: item.CategoryDescription, value: item.CategoryDescription, id: item.Code };
                //}));
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.value);
                $(hdElement).val(ui.item.id)
            },
            change: function (event, ui) {
                if (ui.item == null){
                    if(isEditable){
                        $(hdElement).val(element.val());
                    }else{
                        element.val('');
                        element.focus();
                        $(hdElement).val('');
                    }
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });

    }
    function FillAutoComplete2(element, sourceList, hdElement, isEditable) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.Description,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.value);
                $(hdElement).val(ui.item.id)
                if (!isEditable)
                    $(hdElement).val($(this).val());
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    if (!isEditable) {
                        isSelected = false;
                        $(this).val('');
                        $(this).focus();
                    }
                    else {
                        $(hdElement).val($(this).val());
                    }
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };

    function GetHeaderGridDataPartial(HeaderId)
    {
        var status = '@Model.Status' ;
        var table = $('#tblPTRHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                //bBtnMaximize: true,
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            bBtnMaximize: true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PTR/MaintainPTR/LoadMechDetailData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Headerid", "value": '@ViewBag.HeaderId' },
                            {"name":"auth","value":'@ViewBag.auth'}
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,

                    'success': function (data) {
                        fnCallback(data);
                        LoadMultiSelect();
                        ResetAddRow();
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);

                        $(".TestingSpecification").attr("maxlength","50")
                        $(".AcceptanceCriteria").attr("maxlength","70")
                        $(".NoofSamples").attr("maxlength","10")
                        $(".Remarks").attr("maxlength","50")
                        if(IsDifferentLocationUser){
                            $("#tblPTRHeader").find("input,select,i").attr("disabled","disabled");
                            $("#tblPTRHeader").find(".action").remove();
                            $("#btnNew").remove();
                            $("#MechenicalRemarks").attr("disabled","disabled");
                        }
                    },
                    'async': false
                });
                $('input[maxlength]').maxlength({
                    alwaysShow: true,
                });
            },

            "columns": [

                {
                    //
                    "bSortable": false,
                    "name": "LineID",
                    "sClass": "center action",


                },
                {
                    //"bSortable": false,
                    "name" : "CouponID",
                    "sClass": "center"
                },
                {
                    "name" : "TestTypeOrientation",
                    "sClass": "center"
                },
                {
                    "name": "Orientation",
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "name": "NoofSamples",
                    "sClass": "center"
                },
                {
                    "name" : "AcceptanceCriteria",
                    "sClass": "center"
                },
                {
                    "name" : "TestingSpecification",
                    "sClass": "center"
                },
                {
                    "name" : "Remarks",
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center action",
                },
                    {
                        "sClass": "hide"

                    },
            ]
        });
        //oTable.api().columns().every(function () {
        //    var that = this;
        //    $('input', this.footer()).on('keyup change', function () {
        //        if (that.search() !== this.value) {
        //            that
        //                .search(this.value)
        //                .draw();
        //        }
        //    });
        //});

    }

    function LoadMultiSelect() {
        $("select[name]","#tblPTRHeader").select2({
            caption: "--Select--",
            width: '350px',
            tags: [],
            tokenSeparators: [",", "  ", ";"],
        });

        $(".AcceptanceCriteria").attr('style', 'width:100px;');
    }
    function SaveNewStage() {
        if ($("#frmMechDetails").valid()) {
            if($("#SimpleLocation0").val()==null || $("#SimpleLocation0").val()==""){
                DisplayNotiMessage("error", "Sample Location is required", "Error");
                return;
            }
            else if($("#TestTemperature0").val()==null || $("#TestTemperature0").val()==""){
                DisplayNotiMessage("error", "Test Temperature is required", "Error");
                return;
            }
            var formData = new FormData();
            var frmValues = $('#frmMechDetails').serializeArray();
            $.each(frmValues, function (key, input) {
                formData.append(input.name, input.value);
            });
            $.ajax({
                url: WebsiteURL + '/PTR/MaintainPTR/SaveMechDetails',
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        //bootbox.alert("Line " + data.LineId + " is "+data.Value, function () {
                        $("#LineId").val(data.LineId);
                        //});
                        DisplayNotiMessage("success", "Line " +data.Value, "Success");
                        if($("#Status").val() == '@clsImplementationEnum.PTRStatus.Closed.GetStringValue()'){
                            setTimeout(function () {
                                window.location.href = window.location.href;
                            }, 3000);
                        }
                        GetHeaderGridDataPartial('@ViewBag.HeaderId');
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
    }
    function UpdateLineDetails(objColumn, rowID, headerId)
    {
        setTimeout(function ()
        {
            var status = $("#Status").val();
            var elem = $(objColumn).attr("hdElement");
            var hdElement, columnName, columnValue;
            if ($(objColumn).attr("id").match("^txt"))
            {
                hdElement = $("#" + elem);
                columnName = $('#' + elem).attr("colname");
                columnValue = $('#' + elem).val();
            }
            else
            {
                columnName = $(objColumn).attr("colname");
                columnValue = $(objColumn).val();
            }
            if (columnName == 'SimpleLocation' || columnName == 'TestTemperature') {
                if(columnValue != null)
                    columnValue = columnValue.join();
            }
            var oldvalue = $(objColumn).attr("oldvalue");
            if (oldvalue == columnValue)
                return;
            if(status == '@clsImplementationEnum.PTRStatus.Closed.GetStringValue()'){
                bootbox.dialog({
                    title: "Revise Confirmation",
                    message: "Do you want to revise this PTR?",
                    size: "medium",
                    buttons: {
                        Yes: {
                            Label: "Yes",
                            className: 'btn green',
                            callback: function () {
                                $.ajax({
                                    type: "POST",
                                    url: WebsiteURL + "/PTR/MaintainPTR/UpdateMechLine",
                                    datatype: 'json',
                                    async: false,
                                    data: { lineId: rowID, headerId: headerId, columnName: columnName, columnValue: columnValue },
                                    success: function (result) {
                                        if (result.Key) {
                                            //DisplayNotiMessage("success", result.Value, "Success");
                                            if(status == '@clsImplementationEnum.PTRStatus.Closed.GetStringValue()'){
                                                setTimeout(function () {
                                                    window.location.href = window.location.href;
                                                }, 3000);
                                            }
                                            $(objColumn).attr("oldvalue", columnValue);
                                        }else{
                                            DisplayNotiMessage("error", result.Value, "");
                                        }
                                    },
                                    error: function () {
                                    }
                                });
                            }
                        },
                        Cancel: {
                            label: 'No',
                            className: 'btn red',
                            callback: function () { }
                        }

                    }
                });
            }
            else{
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/PTR/MaintainPTR/UpdateMechLine",
                    datatype: 'json',
                    async: false,
                    data: { lineId: rowID, headerId: headerId, columnName: columnName, columnValue: columnValue },
                    success: function (result) {
                        if (result.Key) {
                            //DisplayNotiMessage("success", result.Value, "Success");
                            if(status == '@clsImplementationEnum.PTRStatus.Closed.GetStringValue()'){
                                setTimeout(function () {
                                    window.location.href = window.location.href;
                                }, 3000);
                            }
                            $(objColumn).attr("oldvalue", columnValue);
                        }else{
                            DisplayNotiMessage("error", result.Value, "");
                        }
                    },
                    error: function () {
                    }
                });
            }
        },500)
    }

    function DeleteLines(lineId, headerId) {
        var status = $("#Status").val();
        if(status == '@clsImplementationEnum.PTRStatus.Closed.GetStringValue()'){
            bootbox.dialog({
                title: "Revise Confirmation",
                message: "Do you want to revise this PTR?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            DeleteMechLine(lineId,headerId);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }

                }
            });
        }
        else{
            bootbox.dialog({
                title: "Delete Confirmation",
                message: "Do you want to delete this line?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            DeleteMechLine(lineId,headerId);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }

                }
            });
        }
    }
    function DeleteMechLine(lineId, headerId) {
        $.ajax({
            url: WebsiteURL + "/PTR/MaintainPTR/DeleteMechLines",
            type: "POST",
            data: { lineId: lineId, headerId: headerId },
            success: function (data) {

                if (data.Key == true) {
                    DisplayNotiMessage("success", "Line Deleted Successfully", "Success");
                    if($("#Status").val() == '@clsImplementationEnum.PTRStatus.Closed.GetStringValue()'){
                        setTimeout(function () {
                            window.location.href = window.location.href;
                        }, 3000);
                    }
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
                $("#tblPTRHeader").DataTable().ajax.reload();
            },
            error: function (data) {
                DisplayNotiMessage("error", data.Value, "Error");
            }
        });
    }
    function ShowNewRecord(obj) {
        if (!$('#tblPTRHeader').find("tbody tr:first").is(":visible")) {
            var status = $("#Status").val();
            if(status == '@clsImplementationEnum.PTRStatus.Closed.GetStringValue()'){
                bootbox.dialog({
                    title: "Revise Confirmation",
                    message: "Do you want to revise this PTR",
                    size: "medium",
                    buttons: {
                        Yes: {
                            Label: "Yes",
                            className: 'btn green',
                            callback: function () {
                                ShowLine(obj);
                            }
                        },
                        Cancel: {
                            label: 'No',
                            className: 'btn red',
                            callback: function () { }
                        }

                    }
                });
            }
            else
                ShowLine(obj);
        }
        else
            ShowLine(obj);
    }
    function ShowLine(obj){
        $('#tblPTRHeader').find("tbody tr:first").toggle();
        $('#tblPTRHeader').find("tbody tr:first input[type='text']:first").focus();
        if ($('#tblPTRHeader').find("tbody tr:first").is(":visible")) {
            //$(obj).val("Cancel");
            $(obj).html('<i class="fa fa-times"></i> Cancel');
            var delayedFn, blurredFrom;
            $('#tblPTRHeader').find("tbody tr:first").on('blur', 'a', function (event) {
                blurredFrom = event.delegateTarget;
                delayedFn = setTimeout(function () { SaveNewStage(); }, 0);
            });
            $('#tblPTRHeader').find("tbody tr:first").on('focus', 'a', function (event) {
                if (blurredFrom === event.delegateTarget) {
                    clearTimeout(delayedFn);
                }
            });
        }
        else {
            //$(obj).val("New");
            $(obj).html('<i class="fa fa-plus"></i> New');
            clearFirstRow($('#tblPTRHeader').find("tbody tr:first"));
        }
    }
    function ResetAddRow() {
        $('#tblPTRHeader').find("tbody tr:first").hide();
        $('#tblPTRHeader').find("tbody tr:first").css("background-color", "#fbffb2");
        //$("#btnNew").val("New");
        $("#btnNew").html('<i class="fa fa-plus"></i> New');
        clearFirstRow($('#tblPTRHeader').find("tbody tr:first"));
    }
    function clearFirstRow(objFirstLine) {
        $('input[type!="hidden"]', objFirstLine).val('');
        $('select', objFirstLine).val(null).trigger('change');
    }

    function ImportExcel(HId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PTR/MaintainPTR/LoadImportDataPartial",
            datatype: 'html',
            async: false,
            data: {headerid: HId},
            success: function (data) {
                bootbox.dialog({
                    title: "Import Excel",
                    message: data,
                    size: "medium",
                    buttons: {
                        Upload: {
                            Label: "Upload",
                            className: 'btn green',
                            callback: function () {

                                if ($("#frmImportTemplate").valid()) {

                                    console.log($('input[type=file]')[0].files[0]);
                                    if ($('input[type=file]')[0].files[0] == null || $('input[type=file]')[0].files[0] == undefined)
                                    {
                                        DisplayNotiMessage("error", "Attachment is required", "Error");
                                        return false;
                                    }

                                    var frmHeaderValues = $("#frmImportTemplate").serializeArray();
                                    var formdata = new FormData();
                                    if (frmHeaderValues != null && frmHeaderValues != undefined) {
                                        $.each(frmHeaderValues, function (key, input) {
                                            formdata.append(input.name, input.value);
                                        });
                                        formdata.append('upload', $('input[type=file]')[0].files[0]);
                                    }
                                    $.ajax({
                                        url: WebsiteURL + "/PTR/MaintainPTR/ImportExcel",
                                        type: "POST",
                                        datatype: 'json',
                                        //enctype: 'multipart/form-data',
                                        contentType: false,
                                        processData: false,
                                        data: formdata,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                                $('#tblHeader').DataTable().ajax.reload();
                                            }
                                            else {
                                                if (data.Value == "Error") {
                                                    window.location = WebsiteURL + '/Utility/General/Download?file=' + data.FileName;
                                                    DisplayNotiMessage("error", "Please check error file", "Error");
                                                }
                                                else {
                                                    DisplayNotiMessage("error", data.Value, "Error");
                                                }
                                            }
                                        },
                                        error: function () {
                                            return false;
                                        }
                                    });
                                    return true;
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                            }
                        },
                        Cancel: {
                            label: 'Close',
                            className: 'btn btnclose',
                            callback: function () { }
                        }
                    }
                })
            }
        })
    }
    function TemplateDownload() {
        window.location = WebsiteURL + "/Resources/PTR/Mechanical Test - Template Data with example.xlsx";
    }

</script>

<div class="page-content">
    @*<div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light ">

        <div class="portlet-body">
        <div class="tab-content">
        <div class="tab-pane active" id="portlet_comments_1">*@


    <div class="portlet light ">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="mt-element-ribbon bg-grey-steel" style="height:50px;">
                            <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                <span class="page-title">Mechanical Test Detail</span>
                            </div>
                            <div class="ribbon ribbon-right ribbon-color-warning ">
                                <b>Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span></b>
                            </div>
                            <p class="ribbon-content"></p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="~/PTR/MaintainPTR/TestCompletionDetails?HeaderId=@Model.HeaderId" class="btn green" style="float:right;" id="btnTestComplete">Test Completion Details</a>
                                <a href="~/PTR/MaintainPTR/HeatPlateDetails?HeaderId=@Model.HeaderId" class="btn green" style="float:right;" id="btnHeatPlate">Heat/Plate No Details</a>
                                @if (!string.IsNullOrEmpty(Model.ChemicalTest) && Model.ChemicalTest.ToString().ToLower() == "true")
                                {
                                    <a href="~/PTR/MaintainPTR/ChemDetails?HeaderId=@Model.HeaderId" class="btn green" style="float:right;" id="btnChem">Chemical Test Details</a>
                                }
                                @if (Model.HTDetail.HasValue && Model.HTDetail.Value)
                                {
                                    <a href="~/PTR/MaintainPTR/HTDetails?HeaderId=@Model.HeaderId" class="btn green" style="float:right;" id="btnHT">HT Details</a>
                                }
                            </div>
                        </div>
                        <fieldset>
                            <legend>Project Detail</legend>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Project
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Project, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            BU
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.BU, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Location
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            RevNo.
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.RevNo, "R" + Model.RevNo, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            PTR No.
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.PTRNo, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    @*<div class="col-md-4">
                                            <label class="control-label">CodeSpecification</label>
                                            <div class="">
                                                <select name="CodeSpecification" id="CodeSpecification" multiple="multiple" class="form-control"></select>
                                            </div>
                                        </div>*@
                                    @Html.HiddenFor(m => m.Status)
                                </div>
                            </div>

                        </fieldset>
                        @*<div class="form-group">
                            <div class="col-md-12">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4" style="text-align:right">
                            <button id="btnAddNew" style="float: right;margin-top:30px;" class="btn green">Add New</button>
                            </div>
                            </div>
                            </div>*@
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    Mechanical Test Details
                                </div>
                                <div class="tools" id="dvExportHeader">
                                    <div class="btn-group">
                                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PTR/MaintainPTR/GenerateExcel", GridType = clsImplementationEnum.GridType.MechTest.GetStringValue(), dvId = "#dvExportHeader" })
                                    </div>
                                    <div class="btn-group">
                                        <a style="margin-left:5px;" id="btnNew" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewRecord(this);">
                                            <i class="fa fa-plus"></i> New
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <div class="btn-group dt-btn">
                                            <label onclick="TablePortletMaximize(this,-87,-351);" class="btn btn-circle white btn-outline btn-sm" title="Panel Maximize"><i class="fa fa-expand"></i></label>
                                        </div>
                                    </div>

                                </div>
                                <div class="tools">
                                    <div class="btn-group">
                                        <a style="margin-left:5px;" id="btnImport" class="btn btn-circle white btn-outline btn-sm" onclick="ImportExcel('@ViewBag.HeaderId')">
                                            <i class="fa fa-file-excel-o"></i> Import
                                        </a>
                                        <a style="margin-left:5px;" id="btnDownloadTemplate" onclick="TemplateDownload()" name="btnDownloadTemplate" class="btn btn-circle white btn-outline btn-sm">
                                            <i class="fa fa-download"></i> Template
                                        </a>
                                    </div>
                                </div>

                            </div>

                            <div class="portlet-body">
                                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMechDetails", @class = "form-horizontal" }))
                                {
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblPTRHeader" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="all">#</th>
                                                <th class="all">Coupon<br />Id</th>
                                                <th class="all txtTestTypeOrientation">Test Type</th>
                                                <th class="all ">Orientation</th>
                                                <th class="all">Sample Location</th>
                                                <th class="all">Test Temp. (°C)</th>
                                                <th class="all" style="width:5%;">No of<br />Samples</th>
                                                <th class="all">Acc.<br />Criteria</th>
                                                <th class="all">Testing<br />Spec.</th>
                                                <th class="all">Remarks</th>
                                                <th class="all action">Action</th>
                                                <th class="" style="display:none;">HeaderId</th>
                                            </tr>
                                        </thead>

                                        <tbody></tbody>
                                    </table>
                                }
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">
                                    Remarks
                                </label>
                                <div class="">
                                    @Html.TextAreaFor(m => m.MechenicalRemarks, new { @class = "form-control", @maxlength = "500", @cols = "20", @rows = "3" })
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-2">
                                    @*<button class="btn green" style="float: right;display:none;" type="button" id="btnSend">Send to Compiler</button>&nbsp;&nbsp;*@
                                </div>


                                <div class="col-md-2" style="text-align:right">
                                    <a href='@Url.Action("PTRDetails","MaintainPTR",new { HId = ViewBag.HeaderId })' style="float: right;" class="btn btnclose">Close</a>
                                    @if (Model.Status == clsImplementationEnum.PTRStatus.SubmitQA3.GetStringValue() && ViewBag.IsRoleQA == true && ViewBag.ReportButtonVisible == true)
                                    {
                                        <a href='@Url.Action("PTRReports","MaintainPTR",new { HeaderId = ViewBag.HeaderId })' style="float: right;margin-right:5px;" class="btn retract">Report</a>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    @*</div>
        </div>
        </div>

        </div>
        </div>
        </div>*@
</div>