﻿@using IEMQSImplementation
@model PTR001_Log
@{
    ViewBag.Title = "PTRDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>

<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<link href="~/Content/ThemeCss/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/select2/js/select2.full.min.js"></script>

<script src="~/Scripts/select2/js/select2.full.min.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/select2/components-select2.min.js"></script>
@*
<style>
    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
    }
</style>*@
<style>
    table.dataTable thead .sorting_asc:after {
        content: "";
        text-align: left;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        
        $("#thRemove").removeClass('sorting_asc');
        $("#thRemove").css('width', '7px');
        var isSelected = false;
        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });

        
        var projectid, BU, location, ptr;
        if ('@ViewBag.Action'.toLowerCase() == "edit") {
            $("#btnHT").show();
            $("#btnMech").show();
            $("#btnChem").show();
            //$("#btnHeatPlate").show();
            //$("#btnTestComplete").show();
            var strQMS = '@ViewBag.Project';
            $("#thRemove").removeClass('sorting_asc');
            $("#thRemove").css('width', '7px');
            $("#txtProject").val(strQMS);
            projectid = $('#txtProject').val();
            var Status = $('#Status').val();

            EnableButtons(Status);
            $("#btnAdd").hide();
            $('#txtProject').prop("disabled", true);
            //getBU(projectid);
            //BU = $('#BU').val();
            //projectChange(projectid, $("#Location").val().split('-')[0]);
            location = $('#Location').val();
            ptr = $("#PTRNo").val();
            LineId = 0;
            //loadData($("#HeaderId").val());

            //fnCheckbox();

        }
        else {
            $("#InitiatorRemarks").prop('readOnly', false);
            //loadData(0);
            //var CouCat = as List<String>;
            //alert(CouCat);
            //var cou = JSON.parse('@Html.Raw(ViewBag.CouCat)');
            //alert(cou);
            //  var lstCategoryModel = JSON.parse('@Html.Raw(ViewBag.lstSubCatagories)');
        }

        $("#btnAdd").bind("click", function () {
            projectid = $('#txtProject').val();
            BU = $('#BU').val();
            location = $('#Location').val();
            ptr = $("#PTRNo").val();
            LineId = 0;
            getPTRDetails(projectid, BU, location, ptr, LineId);
        });

        //$("#Project").change(function () {
        //    var id = $('#Project :selected').val();
        //    if ($('#Project :selected').text() != "Select Project") {
        //        getProjectExists();
        //        $("#PTRNo").val(id + "_PTR");
        //        getBU();
        //    }
        //});
        $('#frmMaintainDeatils input').prop('readOnly', true);
           
        //$('option:not(:selected)').attr('disabled', true);
        $("#CouponCategory").attr('disabled', true);
        $("#MechTest").click(function () { return false });
        $("#ChemicalTest").click(function () { return false });
        $("#HTDetail").click(function () { return false });
        
        setAttachmentsInHeader("PTR001/@(Model.HeaderId)/R@(Model.RevNo)",true);
        $("button.btn.blue.col-md-1").removeAttr("onclick");
        $("#btnMech").bind("click", function () {
            var HeaderId = $("#Id").val();
            window.location.href = "../MaintainPTR/MechLogDetails?HeaderId=" + HeaderId;
        });
        $("#btnHT").bind("click", function () {
            var HeaderId = $("#Id").val();
            window.location.href = WebsiteURL + "/PTR/MaintainPTR/HTLogDetails?HeaderId=" + HeaderId;
        });
        $("#btnChem").bind("click", function () {
            var HeaderId = $("#Id").val();
            window.location.href = WebsiteURL + "/PTR/MaintainPTR/ChemLogDetails?HeaderId=" + HeaderId;
        });

        $("#btnHeatPlate").bind("click", function () {
            var HeaderId = $("#Id").val();
            window.location.href = WebsiteURL + "/PTR/MaintainPTR/HeatPlateLogDetails?HeaderId=" + HeaderId;
        });
        $("#btnTestComplete").bind("click", function () {
            var HeaderId = $("#Id").val();
            window.location.href = WebsiteURL + "/PTR/MaintainPTR/TestCompletionLogDetails?HeaderId=" + HeaderId;
        });

        
    });
    //buttons as per the status
    
    

    //pop up for add lines
    
    function projectChange(QMSProjectcd, location) {
        $.ajax({
            url: WebsiteURL + "/PTR/MaintainPTR/GetQMSProjectDetail",
            type: 'POST',
            data: { QMSProject: QMSProjectcd, location: location },
            async: false,
            success: function (res) {
                if (res != null && res != undefined) {
                    if (!res.Key) {
                        DisplayNotiMessage("error",res.Value, "Error");
                    }

                    $("#Project").val(res.project.projectDescription);
                    $("#BU").val(res.BU);
                    $("#DocNo").val(res.DocNo);
                    $("#PTRNo").val("A" + pad(res.DocNo, 4));

                }
            }
        });
    }
    function pad(str, max) {
        str = str.toString();
        return str.length < max ? pad("0" + str, max) : str;
    }
    function IfProjectExist(projectcode) {
        var returnResponse = false;
        Location = $("#Location").val();
        $.ajax({
            url: WebsiteURL + "/PTR/MaintainPTR/checkProjectExist",
            type: 'POST',
            async: false,
            data: { projectcode: projectcode, location: Location },
            success: function (response) {
                if (response.toUpperCase() == "FALSE") {
                    returnResponse = false;
                }
                else {
                    returnResponse = true;
                }
            }
        });
        return returnResponse;
    }

    //for project wise BU list
    function getBU(projectcode, isFromEdit) {
        if (projectcode != null && projectcode != '' && projectcode != undefined) {
            if (IfProjectExist(projectcode) && !isFromEdit) {
                bootbox.confirm({
                    message: "This record already exists.Do you want to Continue?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            ClearAll();
                        }
                        else {
                            //location.href = '@Url.Action("../MaintainPTR/Index")';
                            location.href = WebsiteURL + "/PTR/MaintainPTR/Index";
                        }
                    }
                });
            }

        }
        else {
            $("#BU").val("");
        }
    }

    function ClearAll() {
        $("#PTRNo").val('');
        $("#BU").val('');
        $("#txtProject").val('');
        $("#Project").val('');
    }
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function ParameterSlip(headerid) {
        url = "/PTR/PhysicalTestRequestLog";
        var dat = [];
        dat.push({ Param: "HId", Value: headerid });
        ShowReport(dat, url);
    }


</script>

<div class="page-content">

    @*<div class="portlet light ">
        <div class="portlet-body form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn green" style="float:right;" id="btnHT">HT Details</button>
                        <button class="btn green" style="float:right;" id="btnMech">Mech/Met Test Details</button>
                        <button class="btn green" style="float:right;" id="btnChem">Chemical Test Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body form">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                        {
                        <div class="mt-element-ribbon bg-grey-steel" style="height:50px;">
                            <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                <span class="page-title">Maintain PTR History</span>
                            </div>
                            <div class="ribbon ribbon-right ribbon-color-warning ">
                                <b>Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span></b>
                            </div>
                            <p class="ribbon-content"></p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn green" style="float:right;" id="btnTestComplete">Test Completion Details</button>
                                <button type="button" class="btn green" style="float:right;" id="btnHeatPlate">Heat/Plate No Details</button>
                                <button type="button" class="btn green" style="float:right;" id="btnChem">Chemical Test Details</button>
                                <button type="button" class="btn green" style="float:right;" id="btnMech">Mech/Met Test Details</button>
                                <button type="button" class="btn green" style="float:right;" id="btnHT">HT Details</button>
                            </div>
                        </div>
                        <fieldset>
                            <legend>Project Detail</legend>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Quality Project
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.QualityProject , new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            @Html.HiddenFor(m => m.QualityProject)
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Project
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @*<input type="text" id="txtProject" value="" name="txtProject" class="form-control col-md-3" />*@
                                            @Html.TextBoxFor(m=>m.Project , new { @class = "form-control col-md-3", @readonly = "readonly" })

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            BU
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Location
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model=>model.Location, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            PTR Number
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.PTRNo, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            RevNo.
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.RevNo,"R"+Model.RevNo, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>PTC Detail</legend>
                            <div class="form-group">
                                <div class="col-md-12">

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Coupon Category
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.CouponCategory, new { @class = "form-control" })
                                            @*@Html.DropDownListFor(m=>m.CouponCategory,new SelectList(Enum.GetValues(typeof(clsImplementationEnum.CouponCat))), "Select",new {@class = "form-control"})*@
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Coupon No
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.CouponNo, new { @class = "form-control"})
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Seam No.
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.SeamNo, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Material Specification
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.MaterialSpec, new { @class = "form-control"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Size
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.Size, new { @class = "form-control"})
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            LTFPS No
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.LTFPSNo, new { @class = "form-control"})
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            WPS No.
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.WPSNo, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Welding Process
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.WeldingProcess, new { @class = "form-control"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Filler Wire
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.FillerWire, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Position
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.Position, new { @class = "form-control"})
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Brand Name
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.BrandName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Batch No
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.BatchNo, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Weld Thickness
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.WeldThickness, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label"> Applicable Code/Specification </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.ApplicableCodeSpec, new { @class = "form-control" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Inspection Agency and Stage</legend>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Inspection Agency 1
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.InspectionAgency1, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Inspection Agency 2
                                        </label>
                                        <div class="">
                                            
                                            @Html.TextBoxFor(m => m.InspectionAgency2, new { @class = "form-control", @disabled = "disabled" })
                                            
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Inspection Agency 3
                                        </label>
                                        <div class="">
                                            
                                            @Html.TextBoxFor(m => m.InspectionAgency3, new { @class = "form-control", @disabled = "disabled" })
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Inspection Stage 1                                            
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.InspectionStage, new { @class = "form-control"})
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Inspection Stage 2
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.InspectionStage2, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Inspection Stage 3
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.InspectionStage3, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Review and Approval Details</legend>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @*<div class="col-md-3">
                                        <label class="control-label">
                                            CGDP
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.CGDP, new { @class = "form-control" })
                                        </div>
                                    </div>*@
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            WE-2
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.WE2ID, new { @class = "form-control"})
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            QC-3
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.QC3ID, new { @class = "form-control" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Test Details</legend>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Mechanical Test
                                        </label>
                                        <div class="">
                                            <label class="mt-checkbox mt-checkbox-outline" for="MechTest">
                                                @Html.CheckBox("MechTest", Model.MechTest == "true" ? true : false)
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Chemical Test
                                        </label>
                                        <div class="">
                                            <label class="mt-checkbox mt-checkbox-outline" for="ChemicalTest">
                                                @Html.CheckBox("ChemicalTest", Model.ChemicalTest == "true" ? true : false)
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            HT Detail
                                        </label>
                                        <div class="">
                                            <label class="mt-checkbox mt-checkbox-outline" for="HTDetail">
                                                @Html.CheckBox("HTDetail", Model.HTDetail.HasValue ? (bool)Model.HTDetail : false)
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Coupon Details</legend>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            No of Coupons
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.NoofCoupons, new { @class = "form-control", onkeypress = "return isNumber(event)" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Stamped By
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.StampedBy, new { @class = "form-control"})
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Welder ID
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.WelderID, new { @class = "form-control"})
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Initiator Remarks
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.InitiatorRemarks,null, new { @class = "form-control", @readonly = "readOnly"})
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            WE-2 Remarks
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.WE2Remarks, new { @class = "form-control",@readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            QC-3 Remarks
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.QC3Remarks, new { @class = "form-control",@readonly = "readonly"})
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            QA3/WTC3 Remarks
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.QA3WTC3Remarks, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="hiddenfields">
                                <input type="hidden" id="hdnDepartment" />
                                @Html.HiddenFor(m=>m.Id)
                                @Html.HiddenFor(m=>m.HeaderId)
                                @Html.HiddenFor(m=>m.Status)
                                @Html.HiddenFor(m=>m.DocNo)
                                @Html.HiddenFor(m=>m.CouponCategory)
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Attachment</legend>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @*@{ Html.RenderPartial("~/Areas/HTR/Views/Shared/_LoadingSketchAttachments.cshtml"); }*@
                                    @Html.Partial("_AttachmentPartial")
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4" style="text-align:right;margin-top:30px;">
                                    
                                </div>
                            </div>
                        </div>
                        }
                        <hr />

                        <!--<div class="row">
                            <div class="col-md-12">-->
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <!--<div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            PTR Details
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblCTQDet" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th id="thRemove" class="all">
                                                        <label class="mt-checkbox mt-checkbox-outline">
                                                            <input type='checkbox' id='line_chkAll' class='checkbox_lin' name='chkAll' /> <span></span>
                                                        </label>
                                                    </th>
                                                    <th class="min-phone-l">Sr.No.</th>
                                                    <th class="min-phone-l">Speci./Doc.No./Drg.No.</th>
                                                    <th class="min-phone-l">CSR MOM Doc</th>
                                                    <th class="min-phone-l">Clause</th>
                                                    <th class="min-phone-l">Desc</th>
                                                    <th class="min-phone-l">Action To be Taken</th>
                                                    <th class="none">Action By</th>
                                                    <th class="none">Department</th>
                                                    <th class="none">Remark</th>
                                                    <th class="none">Status</th>
                                                    <th class="none">Line Revision</th>
                                                    <th class="none">Created By</th>
                                                    <th class="none">Created On</th>
                                                    <th class="min-phone-l">Action</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4" style="text-align:right;margin-top:30px;">
                                    <a href="~/PTR/MaintainPTR/index" style="" class="btn btnclose">Close</a>
                                    <button class="btn icons" id="btnPrint" onclick="ParameterSlip('@Model.Id')" title="Print"><i class="fa fa-print"></i></button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
            //$(document).ready(function () {
            //    $("#line_chkAll").click(function () {
            //        if ($("#line_chkAll").is(':checked')) {
            //            $("#line_chkAll").each(function () {
            //                $("input.checkbox_line").attr('checked', this.checked);
            //            });
            //        } else {
            //            $("#line_chkAll").each(function () {
            //                $("input.checkbox_line").attr('checked', false);
            //            });
            //        }
            //    });
            //});

            
           

            
            


            

            
            
</script>

<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>



