﻿@using IEMQSImplementation
@model PTR001
@{
    ViewBag.Title = "TestCompletionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>TestCompletionDetails</h2>*@
<style>
    table.dataTable thead .sorting_asc:after {
        content: "";
        text-align: left;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script>
    var IsDifferentLocationUser= '@ViewBag.IsDifferentLocationUser' == "True";
    var IsResticted= !('@ViewBag.auth' == "yes");
    $(document).ready(function () {
        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });
        var HeaderId = @ViewBag.HeaderId;
        GetHeaderGridDataPartial(HeaderId);

        @*LoadPreValueSelect2("/PTR/MaintainPTR/GetCodeSpecification", $('#CodeSpecification'), "--Select CodeSpecification--", '');

        var CodeSpecification = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.CodeSpecification))));

        if (CodeSpecification != null) {
            $("#CodeSpecification").val(LoadMultiSelect2OnEdit(CodeSpecification)).trigger('change');
        }
        $("#CodeSpecification").prop('disabled', 'disabled');*@
    });

    //function LoadPreValueSelect2(url, objControl, caption, param) {
    //    $.ajax({
    //        url: WebsiteURL + url,
    //        dataType: "json",
    //        type: "POST",
    //        data: { BU: $("#BU").val().split("-")[0].trim(), Location: $("#Location").val().split("-")[0].trim() },
    //        async: false,
    //        success: function (data) {
    //            var str = "";
    //            for (var i = 0; i < data.length; i++) {
    //                str += "<option value='" + data[i].id + "'>" + data[i].Description + "</option>";
    //            }
    //            $(objControl).html(str);

    //            objControl.select2({
    //                placeholder: caption

    //            });
    //        }
    //    })
    //}

    function loadData() {
        var status = '@Model.Status' ;
        var auth = '@ViewBag.auth'
        $("input[name='MaterialReceiptDate']").change(function () {
            debugger;
            var currenttd = $(this);
            var changeText = $(this).val();
            var tdLineId = $(currenttd).closest('tr').find("td:nth-last-child(1)");
            UpdatePTRMaterialReceiptDate(parseInt($(tdLineId).text()), changeText);
        });
        $("input[name='MechTestCompletionDate']").change(function () {
            var currenttd = $(this);
            var changeText = $(this).val();
            var tdLineId = $(currenttd).closest('tr').find("td:nth-last-child(1)");
            UpdatePTRMechTestCompletionDate(parseInt($(tdLineId).text()), changeText);
        });
        $("input[name='ChecmicalTestCompletionTime']").change(function () {
            var currenttd = $(this);
            var changeText = $(this).val();
            var tdLineId = $(currenttd).closest('tr').find("td:nth-last-child(1)");
            UpdatePTRChecmicalTestCompletionTime(parseInt($(tdLineId).text()), changeText);
        });
        $("input[name='Remarks']").change(function () {
            var currenttd = $(this);
            var changeText = $(this).val();
            var tdLineId = $(currenttd).closest('tr').find("td:nth-last-child(1)");
            UpdatePTRRemarks(parseInt($(tdLineId).text()), changeText);
        });
        $(".CouponNo,.CouponID,.Remarks").change(function () {
            var currenttd = $(this);
            var changeText = $(this).val();
            var tdLineId = $(currenttd).closest('tr').find("td:nth-last-child(1)");
            var Id=currenttd.attr("spara");
            var colName=currenttd.attr("colname");
            if(parseInt(Id)>0){
                if(changeText.trim()=="" && colName!="Remarks"){
                    DisplayNotiMessage("error", "Please Enter "+colName, "Error");
                    $(this).focus();
                }
                else{
                    UpdateCouponIdCouponNo(parseInt(Id), changeText,colName);
                }
            }
        });
        $('.numeric').autoNumeric('init', { vMin: '0', vMax: "999999999", aSep: '' });
        $(".CouponNo,.CouponID").attr("required","required");
    }
    function AuthenticateUser(){
        if(IsResticted || IsDifferentLocationUser){
            $("#tblPTRHeader").find("input,select,i").attr("disabled","disabled");
            $("#tblPTRHeader").find(".action").remove();
            $("#btnNew").remove();
        }        
    }

    function UpdatePTRMaterialReceiptDate(LineID, changeText) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PTR/MaintainPTR/UpdateMaterialReceiptDate",
            datatype: 'json',
            async: false,
            //beforeSend: function () {
            //    showLoading(true);
            //},
            //complete: function () {
            //    showLoading(false);
            //},
            data: { LineID: LineID, changeText: changeText },
            success: function (data) {
                //alert(data.Key);
            },
            error: function () {
            }
        });
    }
    function UpdatePTRMechTestCompletionDate(LineID, changeText) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PTR/MaintainPTR/UpdateMechTestCompletionDate",
            datatype: 'json',
            async: false,
            //beforeSend: function () {
            //    showLoading(true);
            //},
            //complete: function () {
            //    showLoading(false);
            //},
            data: { LineID: LineID, changeText: changeText },
            success: function (data) {
                //alert(data.Key);
            },
            error: function () {
            }
        });
    }
    function UpdatePTRChecmicalTestCompletionTime(LineID, changeText) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PTR/MaintainPTR/UpdateChecmicalTestCompletionTime",
            datatype: 'json',
            async: false,
            //beforeSend: function () {
            //    showLoading(true);
            //},
            //complete: function () {
            //    showLoading(false);
            //},
            data: { LineID: LineID, changeText: changeText },
            success: function (data) {
                //alert(data.Key);
            },
            error: function () {
            }
        });
    }
    function UpdatePTRRemarks(LineID, changeText) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PTR/MaintainPTR/UpdateRemarks",
            datatype: 'json',
            async: false,
            //beforeSend: function () {
            //    showLoading(true);
            //},
            //complete: function () {
            //    showLoading(false);
            //},
            data: { LineID: LineID, changeText: changeText },
            success: function (data) {
                //alert(data.Key);
            },
            error: function () {
            }
        });
    }
    function UpdateCouponIdCouponNo(LineID, changeText,colName) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PTR/MaintainPTR/UpdateCouponIdCouponNo",
            datatype: 'json',
            data: { LineID: LineID, changeText: changeText,colName:colName },
            success: function (data) {
            },
            error: function () {
            }
        });
    }
    function GetHeaderGridDataPartial(HeaderId)
    {
        var table = $('#tblPTRHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PTR/MaintainPTR/LoadTestCompletionDetailData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Headerid", "value": '@ViewBag.HeaderId' },
                            { "name": "MTStatus", "value": '@ViewBag.auth'}
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        ResetAddRow();
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        AuthenticateUser();
                        loadData();
                    },
                    'async': false
                });
            },

            "columns": [

                {
                    "sClass": "center",
                    "name" : "CouponNo",
                },
                {
                    "name" : "CouponID",
                    "sClass": "center"
                },
                {
                    "name" : "MaterialReceiptDate",
                    "sClass": "center"
                },
                {
                    "name" : "MechTestCompletionDate",
                    "sClass": "center"
                },
                {
                    "name" : "ChecmicalTestCompletionTime",
                    "sClass": "center"
                },
                {
                    "name" : "Remarks",
                    "sClass": "center"
                },
                {                    
                    "sClass": "center"
                },
                 {
                     "sClass": "hide"
                 },
            ]
        });
        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });
    }
</script>



<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">

                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">


                            <div class="portlet light ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet-body form">
                                            <div class="form-body">
                                                <div class="mt-element-ribbon bg-grey-steel" style="height:50px;">
                                                    <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                                        <span class="page-title">Test Completion Detail</span>
                                                    </div>
                                                    <div class="ribbon ribbon-right ribbon-color-warning ">
                                                        <b>Status :<span id="spnStatus">@Html.DisplayFor(m => m.Status)</span></b>
                                                        @Html.HiddenFor(m=>m.HeaderId)
                                                    </div>
                                                    <p class="ribbon-content"></p>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <a href="~/PTR/MaintainPTR/HeatPlateDetails?HeaderId=@Model.HeaderId" class="btn green" style="float:right;" id="btnHeatPlate">Heat/Plate No Details</a>
                                                        @if (!string.IsNullOrEmpty(Model.ChemicalTest) && Model.ChemicalTest.ToString().ToLower() == "true")
                                                        {
                                                            <a href="~/PTR/MaintainPTR/ChemDetails?HeaderId=@Model.HeaderId" class="btn green" style="float:right;" id="btnChem">Chemical Test Details</a>
                                                        }
                                                        @if (!string.IsNullOrEmpty(Model.MechTest) && Model.MechTest.ToString().ToLower() == "true")
                                                        {
                                                            <a href="~/PTR/MaintainPTR/MechDetails?HeaderId=@Model.HeaderId" class="btn green" style="float:right;" id="btnMech">Mech/Met Test Details</a>
                                                        }
                                                        @if (Model.HTDetail.HasValue && Model.HTDetail.Value)
                                                        {
                                                            <a href="~/PTR/MaintainPTR/HTDetails?HeaderId=@Model.HeaderId" class="btn green" style="float:right;" id="btnHT">HT Details</a>
                                                        }
                                                    </div>
                                                </div>
                                                <fieldset>
                                                    <legend>Project Detail</legend>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <div class="col-md-4">
                                                                <label class="control-label">
                                                                    Project
                                                                </label>
                                                                <div class="">
                                                                    @Html.TextBoxFor(m => m.Project, new { @class = "form-control", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label class="control-label">
                                                                    BU
                                                                </label>
                                                                <div class="">
                                                                    @Html.TextBoxFor(m => m.BU, new { @class = "form-control", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label class="control-label">
                                                                    Location
                                                                </label>
                                                                <div class="">
                                                                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <div class="col-md-4">
                                                                <label class="control-label">
                                                                    RevNo.
                                                                </label>
                                                                <div class="">
                                                                    @Html.TextBoxFor(m => m.RevNo, "R" + Model.RevNo, new { @class = "form-control", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label class="control-label">
                                                                    PTR No.
                                                                </label>
                                                                <div class="">
                                                                    @Html.TextBoxFor(m => m.PTRNo, new { @class = "form-control", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                            @*<div class="col-md-4">
                                                                <label class="control-label">CodeSpecification</label>
                                                                <div class="">
                                                                    <select name="CodeSpecification" id="CodeSpecification" multiple="multiple" class="form-control"></select>
                                                                </div>
                                                            </div>*@
                                                        </div>
                                                    </div>

                                                </fieldset>
                                                @*<div class="form-group">
                                                        <div class="col-md-12">
                                                            <div class="col-md-4">
                                                            </div>
                                                            <div class="col-md-4">
                                                            </div>
                                                            <div class="col-md-4" style="text-align:right">
                                                                <button id="btnAddNew" style="float: right;margin-top:30px;" class="btn green">Add New</button>
                                                            </div>
                                                        </div>
                                                    </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet box green">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                @{
                                                    string strPTRTitle = ViewBag.Status + " PTR";
                                                }
                                                Test Completion Details
                                            </div>
                                            <div class="tools" id="dvExportHeader">                                                
                                                @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PTR/MaintainPTR/GenerateExcel", GridType = clsImplementationEnum.GridType.TestCompletion.GetStringValue(), dvId = "#dvExportHeader" })
                                                <div class="btn-group">
                                                    <a style="margin-left:5px;" id="btnNew" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewRecord(this);">
                                                        <i class="fa fa-plus"></i> New
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="portlet-body">
                                            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                                            {
                                                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblPTRHeader" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th class="all">Coupon No</th>
                                                            <th class="min-phone-l">Coupon ID</th>
                                                            <th class="min-phone-l">Material Receipt Date</th>
                                                            <th class="min-phone-l">Mech/Met Test Completion Date</th>
                                                            <th class="min-phone-l">Chemical Test Completion Date</th>
                                                            <th class="min-phone-l">Remarks</th>
                                                            <th class="min-phone-l">Action</th>
                                                            <th class="min-phone-l" style="display:none;">LineId</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody></tbody>
                                                </table>
                                            }
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-4" style="text-align:right;margin-top:30px;">
                                                @*<button class="btn green"  type="button" id="btnSave">Save</button>&nbsp;&nbsp;*@

                                                <a href='@Url.Action("PTRDetails","MaintainPTR",new { HId = ViewBag.HeaderId })' class="btn btnclose">Close</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function ShowNewRecord(obj) {
        ShowLine(obj);
    }
    function ShowLine(obj){
        $('#tblPTRHeader').find("tbody tr:first").toggle();
        $('#tblPTRHeader').find("tbody tr:first input[type='text']:first").focus();
        if ($('#tblPTRHeader').find("tbody tr:first").is(":visible")) {
            //$(obj).val("Cancel");
            $(obj).html('<i class="fa fa-times"></i> Cancel');
            var delayedFn, blurredFrom;
            $('#tblPTRHeader').find("tbody tr:first").on('blur', 'a', function (event) {
                blurredFrom = event.delegateTarget;
                delayedFn = setTimeout(function () { SaveNewStage(); }, 0);
            });
            $('#tblPTRHeader').find("tbody tr:first").on('focus', 'a', function (event) {
                if (blurredFrom === event.delegateTarget) {
                    clearTimeout(delayedFn);
                }
            });
        }
        else {
            //$(obj).val("New");
            $(obj).html('<i class="fa fa-plus"></i> New');
            clearFirstRow($('#tblPTRHeader').find("tbody tr:first"));
        }
    }
    function ResetAddRow() {
        $('#tblPTRHeader').find("tbody tr:first").hide();
        $('#tblPTRHeader').find("tbody tr:first").css("background-color", "#fbffb2");
        //$("#btnNew").val("New");
        $("#btnNew").html('<i class="fa fa-plus"></i> New');
        clearFirstRow($('#tblPTRHeader').find("tbody tr:first"));
    }
    function clearFirstRow(objFirstLine) {
        $('input[type!="hidden"]', objFirstLine).val('');
        $('select', objFirstLine).val(null).trigger('change');
    }
    function SaveNewStage() {
        if ($("#frmMaintainDeatils").valid()) {
            if($("#CouponNo0").val()==null || $("#CouponNo0").val()==""){
                DisplayNotiMessage("error", "CouponNo is required", "Error");
                return;
            }
            else if($("#CouponID0").val()==null || $("#CouponID0").val()==""){
                DisplayNotiMessage("error", "CouponID is required", "Error");
                return;
            }
            var formData = new FormData();
            var frmValues = $('#frmMaintainDeatils').serializeArray();
            $.each(frmValues, function (key, input) {
                formData.append(input.name.replace(0, ""), input.value);
            });
            formData.append("HeaderId",$("#HeaderId").val())
            $.ajax({
                url: WebsiteURL + '/PTR/MaintainPTR/SaveTestCompletionDetails',
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        $("#LineId").val(data.LineId);
                        DisplayNotiMessage("success", "Line " +data.Value, "Success");
                        GetHeaderGridDataPartial($("#HeaderId").val());
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
    }
</script>