﻿@using IEMQSImplementation
@model IMB001_Log

@{
    ViewBag.Title = Model.Document + " :: " + Model.RevNo;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string AttachmentUpload = "fuAttachmentUpload";
    string FileUploadLineID = "fuline";
}

<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 1.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 1px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .hideColumn {
        display: none;
    }
</style>
<script>

    $(document).ready(function () {
        GetPDNIdenticalprojectPartial('@Model.Project' ,parseInt("@Model.Id"));
        //setAttachmentsInHeader("IMB001/@(Model.HeaderId)/R@(Model.RevNo)");
        @*var UploadPath = "";
        UploadPath = "IMB001/@(Model.HeaderId)/R@(Model.RevNo)/";
        var objAttachmentUpload = new FileUploadEnt('dv@(AttachmentUpload)', '@AttachmentUpload');
        objAttachmentUpload.ShowAttachmentBtn = false;
        objAttachmentUpload.ShowDeleteAction = false;
        objAttachmentUpload.FolderPath = UploadPath;
        objAttachmentUpload.IsRequired = false;
        objAttachmentUpload.LoadCallbackFunction = HideUpload;
        LoadFileUploadPartialView(objAttachmentUpload);*@

        var objFile = {
            TableName: 'IMB001//@(Model.HeaderId)//R@(Model.RevNo)',
            TableId: '@(Model.HeaderId)',
            Path: 'IMB001//@(Model.HeaderId)//R@(Model.RevNo)//1',
            ControlID: '@(AttachmentUpload)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: false,
            ShowDownloadBtn: false,
            ShowAttachmentBtn: false,
            LoadCallbackFunction: HideUpload,
            IsRequired: false
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(AttachmentUpload)', false);


        $('div.portlet light :input').attr('disabled', true);
        $(".delete").hide();
        $('#txtRevNo').val("R"+@Model.RevNo);
        var tblHeaderLines = $('#tbllines');
        var oTableHeaderLines = tblHeaderLines.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",

                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            "searching": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IMB/Maintain/LoadLinesHistoryData?refId="+@Model.Id ,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                {
                    "name": "id", "value": '@ViewBag.id'
                    //{ "name": "UserTypeId", "value": $('#ddlUserTypeList').val()
                });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },

            "aoColumns": [
                            {
                                "sClass": "center",
                            },
                            {
                                "sClass": "center",
                            },
                            {
                                "sClass": "center",
                            },
                            {
                                "sClass": "hide",
                            },
                            {
                                "sClass": "center",
                            },
                            {
                                "sClass": "center",
                            },
                            {
                                "sClass": "center",
                            },
                            {
                                "sClass": "center",
                            },
                            {
                                "sClass": "center",
                            },
                            {
                                "sClass": "hide",
                            },
                            {
                                "bSortable": false,
                                "sClass": "center",
                                "sWidth": "5%",
                                "render": function (data, type, row, meta) {
                                    var buttons = ""; //addSubLines(' + row[1] + ', ' + row[2] + ', ' + row[3] + ')
                                    var style="";
                                    if(row[3]=="True")
                                    {
                                        style="cursor:pointer;color:#32CD32;font-size:15px;font-weight:bolder;"
                                        disabledstyle="cursor:pointer;color:#b3eab3;font-size:15px;font-weight:bolder;"
                                    }
                                    else
                                    {
                                        style="cursor:pointer;font-size:15px;font-weight:bolder;"
                                        disabledstyle="cursor:pointer;font-size:15px;font-weight:bolder;"
                                    }
                                    buttons = '<center><i id="btnAttachment" name="btnAttachment" style='+style+'  onclick="attachment(' + row[9] + ')" class="iconspace fa fa-paperclip"></i></center>';
                                    return buttons;
                                }
                            },
            ]
        });

    });

    function attachment(lineId) {
        @*var objFileUploadLine = new FileUploadEnt('dv@(FileUploadLineID)', '@FileUploadLineID');
        objFileUploadLine.ShowDeleteAction = false;
        objFileUploadLine.ShowAttachmentBtn = false;
        objFileUploadLine.FolderPath = "IMB002/" + lineId ;
        objFileUploadLine.LoadInPopup = true;
        LoadFileUploadPartialView(objFileUploadLine);*@

        var objFile = {
            TableName: 'IMB002',
            TableId: lineId,
            Path: 'IMB002//' + lineId+'//1',
            ControlID: '@(FileUploadLineID)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: false,
            ShowDownloadBtn: false,
            ShowAttachmentBtn: false
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(FileUploadLineID)', true);
    };

    function HideUpload() {
        $('#btnUploadAll@(AttachmentUpload)').hide()
    }
    function PrintReport(id) {
        bootbox.dialog({
            title: 'Improvement Budget Report History',
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        url = "/IMB/Improvement Budget Report History";
                        var dat = [];
                        dat.push({ Param: "Id", Value: id });
                        ShowReport(dat, url);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn red'
                }
            }
        });
    }

</script>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">

                <div class="row">
                    <div class="col-md-9" style="text-align:left">
                        <h1 class="page-title">
                            Maintain IMB Improvements
                        </h1>
                    </div>
                    <div class="col-md-3" style="text-align:right">
                        @* <button style="cursor:pointer;" title="Print Report" ; class="btn icons" onClick="PrintReport(@Model.Id)">  <i class="fa fa-print"></i></button>*@
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">

                        <fieldset>
                            <legend>Project Detail</legend>

                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Project</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Equipment Name</label>
                                    <div class="">
                                        @Html.TextBox("EquipmentName", (string)ViewBag.EquipmentName, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        @*<input type="text" id="EquipmentName" name="EquipmentName" value="@ViewBag.EquipmentName" readonly="readonly" class="form-control" />*@
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Customer</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Customer, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Document No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Document, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Product</label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.Product, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Process Licensor</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ProcessLicensor, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">
                                        Revison No
                                    </label>
                                    <div class="row">
                                        <div class="col-sm-2"><a id="RevPrev" class="btn blue" style="width:100%; text-align:center" onclick="@((ViewBag.RevPrev == null)? "" : "window.location='"+ViewBag.RevPrev+"'")" @((ViewBag.RevPrev == null) ? "disabled" : "")><span class="fa fa-chevron-left"></span></a></div>
                                        <div class="col-sm-8">
                                            @*@Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-4", @readonly = "readonly" })*@
                                            <input type="text" name="txtRevNo" id="txtRevNo" class="class = form-control col-md-3" readonly />
                                            @*@Html.TextBox("txtRev", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                        </div>
                                        <div class="col-sm-2"><a id="RevNext" class="btn blue" style="width:100%; text-align:center" onclick="@((ViewBag.RevNext == null)? "" : "window.location='"+ViewBag.RevNext+"'")" @((ViewBag.RevNext == null) ? "disabled" : "")><span class="fa fa-chevron-right"></span></a></div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>

                        <fieldset>
                            <legend>User Detail</legend>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Created By</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.CreatedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Created On</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.CreatedOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Edited By</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.CreatedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Edited On</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.EditedOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Approved By</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ApprovedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Approved On</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ApprovedOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Revise Remark</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ReviseRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Return Remark<span class="required">*</span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div id="divPDNIdenticalproject"></div>
                        </fieldset>
                        @*<fieldset>
                        <legend>Attachments</legend>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                @Html.Partial("_AttachmentPartial")
                            </div>
                        </div>
                    </fieldset>*@
                        <fieldset>
                            <legend>Attachments</legend>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    @*@Html.Partial("_AttachmentPartial")*@
                                    <div id="dv@(AttachmentUpload)"></div>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-list"></i>@ViewBag.docNo <span> Improvements</span>
                                </div>
                                <div class="tools" id="dvExportHeader">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IMB/Maintain/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYLINES.GetStringValue(), dvId = "#dvExportHeader" })
                                </div>

                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover  " id="tbllines" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="all" style="width:5%;">Sr.No.</th>
                                            <th class="all">Improvement</th>
                                            <th class="all">Team Lead</th>
                                            <th class="hide">Team Lead</th>
                                            <th class="all">Team Members</th>
                                            <th class="all">Target Date</th>
                                            <th class="all">Team Formation</th>
                                            <th class="all">Comments</th>
                                            <th class="all">Status</th>
                                            <th class="hide">LineId</th>
                                            <th class="all">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="text-align:right;">
                <button style="cursor:pointer;" title="Print Report" class="btn icons" onClick="PrintReport(@Model.Id)">  <i class="fa fa-print"></i></button>
                @if (ViewBag.role == "I")
                {
                    <a href="~/IMB/Maintain/Index" class="btn btnclose">Close</a>
                }
                else
                {
                    <a href="~/IMB/Approve/Index" class="btn btnclose">Close</a>
                }
            </div>
        </div>

    </div>
</div>



<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>



