﻿@model IEMQSImplementation.WQR001
@using IEMQS.Areas.WQ.Models
@using IEMQSImplementation



@{
    ViewBag.Title = "Welder Qualification Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin: 0px 0px 5px 0px !important;
        /*margin-bottom: 5px !important;
        margin-left: 0;*/
    }
</style>

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@*<link href="~/Content/ThemeCss/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" />*@
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
<script>
    var userRole;
    $(document).ready(function () {
        $('input[maxlength],textarea[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });
        debugger
        $('#PipeOD,#BaseMetalThickness').autoNumeric('init', { vMin: '0', vMax: '999999999', aSep: '' });
        var headerId = $("#HeaderId").val();

        if (parseInt(headerId) > 0) {
            $("#txtLocation").val('@ViewBag.Location');
        }

        $("#spnHeaderTitile").html("Welder Qualification Request ");

        if(('@Model.Jointtype').toUpperCase() == "OVERLAY" )
        {   $("#spnBaseMetalThickness").text("*");
            $("#BaseMetalThickness").attr('disabled', false);
        }
        else
        {
            $("#BaseMetalThickness").attr('disabled', true);$("#spnBaseMetalThickness").text('');
        }

        if(('@Model.CouponType').toUpperCase() == "PIPE" )
        {
            //$("#spnBaseMetalThickness").text("*");
            $("#PipeOD").attr('disabled', false);
        }
        else
        {
            $("#PipeOD").attr('disabled', true);
            //$("#spnBaseMetalThickness").text('');
        }
        debugger
        if (headerId != null && headerId != undefined && headerId != "0") {

            $("#GeneralProject").attr("readonly", "readonly");
            if ('@Model.QualificationProject' != null && '@Model.QualificationProject' != undefined && '@Model.QualificationProject' != "") {
                $("#txtQualificationProject").val('@ViewBag.QualificationProject');
            }

            if ('@Model.Jointtype' != null && '@Model.Jointtype' != undefined && '@Model.Jointtype' != "") {
                $("#txtJointtype").val('@ViewBag.JointType');
            }
            if ('@Model.WeldingProcess1' != null && '@Model.WeldingProcess1' != undefined && '@Model.WeldingProcess1' != "") {
                $("#txtWeldingProcess1").val('@ViewBag.WeldingProcess1');
            }
            if ('@Model.WeldingType1' != null && '@Model.WeldingType1' != undefined && '@Model.WeldingType1' != "") { $("#txtWeldingType1").val('@ViewBag.WeldingType1'); }
            if ('@Model.WeldingPosition1' != null && '@Model.WeldingPosition1' != undefined && '@Model.WeldingPosition1' != "") { $("#txtWeldingPosition1").val('@ViewBag.WeldingPosition1'); }
            if ('@Model.WeldingProcess2' != null && '@Model.WeldingProcess2' != undefined && '@Model.WeldingProcess2' != "") { $("#txtWeldingProcess2").val('@ViewBag.WeldingProcess2'); }
            if ('@Model.WeldingType2' != null && '@Model.WeldingType2' != undefined && '@Model.WeldingType2' != "") { $("#txtWeldingType2").val('@ViewBag.WeldingType2'); }
            if ('@Model.WeldingPosition2' != null && '@Model.WeldingPosition2' != undefined && '@Model.WeldingPosition2' != "") { $("#txtWeldingPosition2").val('@ViewBag.WeldingPosition2'); }
            if ('@Model.CouponType' != null && '@Model.CouponType' != undefined && '@Model.CouponType' != "") { $("#txtCouponType").val('@ViewBag.CouponType'); }
            if ('@Model.PNo1' != null && '@Model.PNo1' != undefined && '@Model.PNo1' != "") { $("#txtPNo1").val('@Model.PNo1'); }
            if ('@Model.FNo1' != null && '@Model.FNo1' != undefined && '@Model.FNo1' != "") { $("#txtFNo1").val('@Model.FNo1'); }
            if ('@Model.PNo2' != null && '@Model.PNo2' != undefined && '@Model.PNo2' != "") { $("#txtPNo2").val('@Model.PNo2'); }
            if ('@Model.FNo2' != null && '@Model.FNo2' != undefined && '@Model.FNo2' != "") { $("#txtFNo2").val('@Model.FNo2'); }
            @*if ('@Model.QualificationProject' != null && '@Model.QualificationProject' != undefined && '@Model.QualificationProject' != "") { $("#txtJointtype").val('@ViewBag.WeldingProcess1'); }
            if ('@Model.QualificationProject' != null && '@Model.QualificationProject' != undefined && '@Model.QualificationProject' != "") { $("#txtJointtype").val('@ViewBag.WeldingProcess1'); }*@

            if ('@Model.ShopInCharge' != null && '@Model.ShopInCharge' != undefined && '@Model.ShopInCharge' != "") { $("#txtShopInCharge").val('@ViewBag.ShopInCharge'); }
            if ('@Model.WE' != null && '@Model.WE' != undefined && '@Model.WE' != "") { $("#txtWE").val('@ViewBag.WE'); }
            if ('@Model.WQTC' != null && '@Model.WQTC' != undefined && '@Model.WQTC' != "") { $("#txtWQTC").val('@ViewBag.WQTC'); }
            $("#txtQualificationProject").attr("readonly", true);
            $('div.dvDisable :input').not('#ShopInChargeRemarks').not('#WERemarks').attr('disabled', true);
            if('@Model.ShopInChargeRemarks' != null && '@Model.ShopInChargeRemarks' != undefined && '@Model.ShopInChargeRemarks' !="" )
            {
                $("#dvShopInChargeRemarks").show();
                $('#ShopInChargeRemarks').prop("readonly", "readonly");
            }
            if('@Model.WERemarks' != null && '@Model.WERemarks' != undefined && '@Model.WERemarks' !="" )
            {
                $("#dvWERemarks").show();
                $('#WERemarks').prop("readonly", "readonly");
            }

        }

        var table = $('#tblWQRWelder');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": false,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            "bDestroy": true,
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/WQ/ApproveWQRequest/LoadWQRWelderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "refheaderId", "value": '@Model.HeaderId'});
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportInitiatorHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportInitiatorHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "aoColumns": [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                    "name": "Welder"
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                    "name": "Stamp"
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                    "name": "ShopCode"
                },
            ]
        });
    });

    function ProjectChange(QualificationProject, location, headerId) {
        $.ajax({
            url: WebsiteURL + "/WQ/MaintainWQRequest/GetProjectWiseBuCategory",
            type: 'POST',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            dataType: "json",
            data: { qualificationProject: QualificationProject, location: location, headerId: headerId },
            success: function (res) {
                if (!res.isheaderExist) {
                    $("#BU").val(res.BU);
                    if(res.GeneralProject != null && res.GeneralProject != undefined && res.GeneralProject.length>0)
                        $("#GeneralProject").val(res.GeneralProject);
                    //FillAutoComplete($("#txtWeldingProcess1"), res.WeldingProcess, $("#WeldingProcess1"));
                    //FillAutoComplete($("#txtWeldingProcess2"), res.WeldingProcess, $("#WeldingProcess2"));
                    //FillAutoComplete($("#txtWeldingType1"), res.WeldingType, $("#WeldingType1"));
                    //FillAutoComplete($("#txtWeldingType2"), res.WeldingType, $("#WeldingType2"));
                    //FillAutoComplete($("#txtWeldingPosition1"), res.WeldingPosition, $("#WeldingPosition1"));
                    //FillAutoComplete($("#txtWeldingPosition2"), res.WeldingPosition, $("#WeldingPosition2"));
                    //FillAutoComplete($("#txtCouponType"), res.CoupanType, $("#CouponType"));
                    //FillAutoComplete($("#txtJointtype"), res.JointType, $("#Jointtype"));
                    //FillAutoComplete($("#txtGeneralProject"), res.WeldingProcess, $("#GeneralProject"));
                }
                else {
                    DisplayNotiMessage("error", "Document Already Exist", "Error");
                }
            },
            error: function () {

            }
        });
    }

    function FillAutoComplete(element, sourceList, hdElement, callbackfn, extraPara)  {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
            },
            close: function () {
                //$(this).rules('add', {
                //    required: {
                //        depends: function () {
                //            return $(validateElem).val().length > 0
                //        }
                //    },
                //    messages: {
                //        required: "Required field"
                //    }
                //});

            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(hdElement).val('');
                    $(this).focus();
                }
                if ($(this).val() != ui.item.value) {
                    $(this).val('');
                    $(this).focus();
                }
                if (callbackfn != null && callbackfn != undefined) {
                    if(extraPara !=null &&  extraPara != undefined &&  extraPara != "")
                        callbackfn($(this).val(), extraPara[0]);
                    else
                        callbackfn( $(hdElement).val());
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };
    function getGeneralProject(location){
        $.ajax({
            url: WebsiteURL + "/WQ/MaintainWQRequest/getGeneralProject",
            type: "POST",
            data: { location:location},
            dataType: "json",
            success: function (res) {
                debugger
                if(res.GeneralProject != null && res.GeneralProject != undefined && res.GeneralProject.length>0)
                    $("#GeneralProject").val(res.GeneralProject);
            }
        });
    }
    function GetWQRLinesPartial(headerId,roleId) {

        $.ajax({
            url: "/WQ/ApproveWQRequest/GetWQRLinesPartial",
            type: "POST",
            data: { headerId: headerId ,roleId:roleId},
            dataType: "html",
            success: function (data) {
                $("#dvWQRLines").html(data);
            }
        });
    }

   
</script>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title" id="spnHeaderTitile"></span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning">
                        <span style="font-weight:bolder">Status : <label id="lblStatus" style="font-weight:bolder">@Model.Requeststatus</label> </span>
                        @Html.HiddenFor(m => m.Requeststatus)
                    </div>
                </div>
                <div class="dvDisable">
                    <div id="dvHeader" class="row">
                        <form id="frmWQRHeader" class="form-horizontal">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project & Joint Type  Details</legend>
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">Request No.</label>
                                            @Html.TextBoxFor(m => m.RequestNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">General Project</label>
                                            @*<input type="text" id="txtGeneralProject" name="txtGeneralProject" class="form-control col-md-3" />*@
                                            @Html.TextBoxFor(m => m.GeneralProject, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Qualification Project</label>
                                            <input type="text" id="txtQualificationProject" name="txtQualificationProject" placeholder="Select" class="form-control col-md-3" />
                                            @Html.HiddenFor(m => m.QualificationProject)
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">BU</label>
                                            @*<input type="text" id="txtBU" name="txtBU" class="form-control col-md-3" readonly="readonly" />*@
                                            @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Location</label>
                                            @*Change By Ajay Chauhan on 13/1/2018*@
                                            @*@Html.TextBox("Location", (string)ViewBag.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })*@
                                            <input type="text" id="txtLocation" name="txtLocation" placeholder="Select" class="form-control col-md-3" />
                                            @Html.HiddenFor(m => m.Location)
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Joint Type<span class="required">*</span></label>
                                            <input type="text" id="txtJointtype" placeholder="Select" name="txtJointtype" class="form-control col-md-3" />
                                            @Html.HiddenFor(m => m.Jointtype)
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Welding Process Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-6" style="padding:0px !important">
                                            <fieldset style="border-top:0px !important;border-right:2px black groove !important">
                                                <legend>Process 1</legend>
                                                <div class="col-md-12">
                                                    <div class="col-md-4" style="padding:0px !important">
                                                        <label class="control-label">Welding Process<span class="required">*</span></label>
                                                        <input type="text" id="txtWeldingProcess1" placeholder="Select" name="txtWeldingProcess1" class="WeldingProcess-group form-control col-md-3" />
                                                        @Html.HiddenFor(m => m.WeldingProcess1)
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label class="control-label">Welding Type<span class="required">*</span></label>
                                                        <input type="text" id="txtWeldingType1" placeholder="Select" name="txtWeldingType1" class="form-control col-md-3" />
                                                        @Html.HiddenFor(m => m.WeldingType1)
                                                    </div>
                                                    <div class="col-md-4" style="padding:0px !important">
                                                        <label class="control-label">Welding Position<span class="required">*</span></label>
                                                        <input type="text" id="txtWeldingPosition1" placeholder="Select" name="txtWeldingPosition1" class="form-control col-md-3" />
                                                        @Html.HiddenFor(m => m.WeldingPosition1)
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-md-4" style="padding:0px !important">
                                                        <label class="control-label">P.No.<span class="required">*</span></label>
                                                        <input type="text" id="txtPNo1" name="txtPNo1" placeholder="Select" class="form-control col-md-3" />
                                                        @Html.HiddenFor(m => m.PNo1)
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label class="control-label">F.No.<span class="required">*</span></label>
                                                        <input type="text" id="txtFNo1" name="txtFNo1" placeholder="Select" class="form-control col-md-3" />
                                                        @Html.HiddenFor(m => m.FNo1)
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6" style="padding:0px !important">
                                            <fieldset style="border-top:0px !important;">
                                                <legend>Process 2</legend>
                                                <div class="col-md-12">
                                                    <div class="col-md-4" style="padding:0px !important">
                                                        <label class="control-label">Welding Process<span class="required">*</span></label>
                                                        <input type="text" id="txtWeldingProcess2" name="txtWeldingProcess2" placeholder="Select" class="WeldingProcess-group form-control col-md-3" />
                                                        @Html.HiddenFor(m => m.WeldingProcess2)
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label class="control-label">Welding Type<span class="required">*</span></label>
                                                        <input type="text" id="txtWeldingType2" name="txtWeldingType2" placeholder="Select" class="form-control col-md-3" />
                                                        @Html.HiddenFor(m => m.WeldingType2)
                                                    </div>
                                                    <div class="col-md-4" style="padding:0px !important">
                                                        <label class="control-label">Welding Position<span class="required">*</span></label>
                                                        <input type="text" id="txtWeldingPosition2" name="txtWeldingPosition2" placeholder="Select" class="form-control col-md-3" />
                                                        @Html.HiddenFor(m => m.WeldingPosition2)
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-md-4" style="padding:0px !important">
                                                        <label class="control-label">P.No.<span class="required">*</span></label>
                                                        <input type="text" id="txtPNo2" name="txtPNo2" placeholder="Select" class="form-control col-md-3" />
                                                        @Html.HiddenFor(m => m.PNo2)
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label class="control-label">F.No.<span class="required">*</span></label>
                                                        <input type="text" id="txtFNo2" name="txtFNo2" placeholder="Select" class="form-control col-md-3" />
                                                        @Html.HiddenFor(m => m.FNo2)
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">Coupon Type<span class="required">*</span></label>
                                            <input type="text" id="txtCouponType" name="txtCouponType" placeholder="Select" class="form-control col-md-3" />
                                            @Html.HiddenFor(m => m.CouponType)
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Pipe OD(mm)</label>
                                            @Html.TextBoxFor(m => m.PipeOD, new { @class = "form-control col-md-3" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Base Metal Thickness (mm)<span class="required" id="spnBaseMetalThickness"></span></label>
                                            @Html.TextBoxFor(m => m.BaseMetalThickness, new { @class = "form-control col-md-3" })
                                        </div>
                                    </div>
                                    <div class="col-md-12" id="dvShopRemarks">
                                        <div class="col-md-12">
                                            <label class="control-label">Shop Remarks</label>
                                            @Html.TextBoxFor(m => m.ShopRemarks, new { @class = "form-control col-md-3", @maxlength = "100" })
                                        </div>
                                    </div>
                                    <div class="col-md-12" id="dvShopInChargeRemarks" style="display:none;">
                                        <div class="col-md-8">
                                            <label class="control-label">Shop In-charge Remarks</label>
                                            @Html.TextBoxFor(m => m.ShopInChargeRemarks, new { @class = "form-control col-md-3", @maxlength = "100" })
                                        </div>
                                    </div>
                                    <div class="col-md-12" id="dvWERemarks" style="display:none;">
                                        <div class="col-md-8">
                                            <label class="control-label">WE Remarks</label>
                                            @Html.TextBoxFor(m => m.WERemarks, new { @class = "form-control col-md-3", @maxlength = "100" })
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Select approver</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">Shop In-charge<span class="required">*</span></label>
                                            <input type="text" id="txtShopInCharge" placeholder="Select" name="txtShopInCharge" class="form-control col-md-3" />
                                            @Html.HiddenFor(m => m.ShopInCharge)
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Welding Engineering<span id="spnWE" class="required"></span></label>
                                            <input type="text" id="txtWE" name="txtWE" placeholder="Select" class="form-control col-md-3" />
                                            @Html.HiddenFor(m => m.WE)
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">WQTC<span id="spnWQTC" class="required"></span></label>
                                            <input type="text" id="txtWQTC" name="txtWQTC" placeholder="Select" class="form-control col-md-3" />
                                            @Html.HiddenFor(m => m.WQTC)
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="dvWQRLines" class="row">

                    <form id="frmWQR">
                        <div class="col-md-12">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Welder Details
                                    </div>
                                    <div class="tools" id="dvExportInitiatorHeader">
                                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/WQ/MaintainWQRequest/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportInitiatorHeader" })
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <table id="tblWQRWelder" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="min-phone-l" style="display:none;">LineId</th>
                                                <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                <th class="all">#</th>
                                                <th class="min-phone-l">Welder</th>
                                                <th class="min-phone-l">Stamp</th>
                                                <th class="min-phone-l">Shop Code</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div style="text-align:right;margin-top:3%;margin-right:1%;">
                            <a class="btn btnclose" href='@Url.Action("Index","ApproveWQRequest")'>Close</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
