﻿@using IEMQSImplementation
@{
    int s = 0;
}
@{ if (ViewBag.WMR != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                           WMR: <span id="spnGridTitile"></span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="tblSyncList" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="all" style="display:none">t_mitm</th>
                                    <th class="all">t_pono</th>
                                    <th class="all">t_seqn</th>
                                    <th class="all">t_sitm</th>
                                    <th class="all">t_efco</th>
                                    <th class="all">t_indt</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
}

@{
    if (ViewBag.COM012 != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                          Item:   <span id="spnGridTitile"></span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="tblSyncItemList" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="all" style="width: 10px;">Sr. No.</th>
                                    <th class="all" style="display:none">t_item</th>
                                    <th class="all">t_kitm</th>
                                    <th class="all">t_citg</th>
                                    <th class="all">t_itmt</th>
                                    <th class="all">t_dsca</th>
                                    <th class="all">t_dscb</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.COM012 as List<COM012>)
                                {
                                    <tr>
                                        <td  style="text-align: center;">@(s = s + 1)</td>
                                        <td  style="display:none">@item.t_item </td>
                                        <td>@item.t_kitm </td>
                                        <td>@item.t_citg </td>
                                        <td>@item.t_itmt </td>
                                        <td>@item.t_dsca </td>
                                        <td>@item.t_dscb </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script>
    $(document).ready(function () {
        $('#spnGridTitile').html('@ViewBag.GridTitle' + " List");
        if ('@ViewBag.WMR' != null && '@ViewBag.WMR' != "") {
            var table = $('#tblSyncList');
            var oTable = table.dataTable({
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "bProcessing": true,
                "bServerSide": true,
                "stateSave": false,
                "bDestroy": true,
                buttons: [],
                responsive: true,
                "order": [
                    [0, 'desc']
                ],
                "lengthMenu": [
                    [10, 25, 50, 100],
                    [10, 25, 50, 100]
                ],
                "pageLength": 10,
                'iDisplayLength': 10,
                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                "sAjaxSource": WebsiteURL + "/IPI/SyncBOMData/LoadDataGridData",
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Title", "value": '@ViewBag.WMR' });
                },
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        'dataType': 'json',
                        'type': 'POST',
                        'url': sSource,
                        'data': aoData,
                        'success': function (data) {
                            fnCallback(data);
                            $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                            $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        },
                        'async': false
                    });
                },
                "columns": [
                      { "sClass": "hide", "bSortable": false, },
                      { "name": "t_pono", "sClass": "center", "bSortable": true, },
                      { "name": "t_seqn", "sClass": "center", "bSortable": true, },
                      { "name": "t_sitm", "sClass": "center", "bSortable": true, },
                      { "name": "t_efco", "sClass": "center", "bSortable": true, },
                      { "name": "t_indt", "sClass": "center", "bSortable": true, },
                ]
            });
        }
    });
</script>
