﻿
@using IEMQSImplementation
@model NDE020_Log
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @Model.MTConsuNo
        </div>
        <div class="tools" id="dvExportHeaderHis">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/NDE/ConsumeMTMaster/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYHEADER.GetStringValue(), dvId = "#dvExportHeaderHis" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100" id="tblMTHis" cellspacing="0">
            <thead>
                <tr>
                    <th class="all">Quality Project </th>
                    <th class="min-phone-l">Method</th>
                    <th class="min-phone-l">MT Consumable</th>
                    <th class="min-phone-l">Created By</th>
                    <th class="min-phone-l">Created On</th>
                    <th class="min-phone-l">RevNo.</th>
                    <th class="min-phone-l">Status</th>
                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="hidden">
        @Html.HiddenFor(m => m.LogId)
        @Html.HiddenFor(m => m.Id, new { @id = "txtId" });
    </div>
</div>

<script>

    $(document).ready(function () {

        var table = $('#tblMTHis');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/NDE/ConsumeMTMaster/LoadMTHistoryData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Headerid", "value": $("#txtId").val() }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (result) {
                        fnCallback(result);
                        $(".txtStrWhere", "#dvExportHeaderHis").val(result.whereCondition);
                        $(".txtStrSort", "#dvExportHeaderHis").val(result.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [

                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "QualityProject"
                },
                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "Method"
                },
                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "MTConsuNo"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "name": "CreatedBy"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "name": "CreatedOn"
                },
                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "RevNo"
                },
                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "Status"
                },
                
                {
                    "bSortable": false,
                    "sClass": "center",
                    //"sWidth": "10%",
                    //"render": function (data, type, row, meta) {
                    //    var buttons = "";
                    //    buttons = '<center><a title="View" href="/NDE/ConsumeMTMaster/ViewLogDetails?Id=' + row[6] + '"><i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                    //    return buttons;
                    //}
                },
            ]
        });

    });

</script>