﻿@model IEMQSImplementation.NDE020_Log
@{
    ViewBag.Title = "View MT Consumable History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<style>
    .input-medium {
        width: 286px !important;
    }
</style>
<script>
    $(document).ready(function () {
        $("#RevNo").val("R" + '@Model.RevNo');
        $("#ManufacturingCode").val('@ViewBag.ManufacturingCode');
    });
    function getProject(id) {
        $.ajax({
            url: WebsiteURL + '/NDE/ConsumeMTMaster/GetProject',
            type: "Post",
            async: false,
            dataType: "JSON",
            data: { qms: id },
            success: function (res) {
                $("#Project").val(res.Project);
                $("#BU").val(res.BU);
            },
            error: function (ex) {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                bootbox.alert('Failed to retrieve status.' + ex);
            }
        });
        return false;
    }


</script>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div id="dvMTConsume">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMTConsumable", @class = "form-horizontal" }))
                    {
                        <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                            <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                                <span class="page-title">History MT Consumable</span>
                            </div>
                            <div class="ribbon ribbon-right ribbon-color-warning">
                                <span style="font-weight:bolder">Status : @Html.DisplayFor(m => m.Status) </span>
                                @Html.HiddenFor(m => m.Status)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Detail</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Quality Project<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.QualityProject, new { @class = "form-control", @disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.Location, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Method<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.Method, (string)ViewBag.Method, new { @class = "form-control", @disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">MT Consumable Number</label>
                                            <div class="">
                                                @Html.TextAreaFor(model => model.MTConsuNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">RevNo.</label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Manufacturing Code</label>
                                            <input id="ManufacturingCode" class="form-control col-md-3" readonly="readonly" />
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Consumable Detail</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Manufacturer Type<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Manufacturer, new { @class = "form-control col-md-3", @maxlength = "100", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Brand Type 1<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.BrandType, (string)ViewBag.BrandType, new { @class = "form-control", @disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Batch Number 1<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BatchNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Batch Date 1<span class="required"> * </span></label>
                                            <div class="">
                                                <div class="input-group date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                                    @Html.TextBoxFor(m => m.BatchDate1, new { @Value = (String.Format("{0:dd/MM/yyyy}", Model.BatchDate1)), @class = "form-control", @disabled = "disabled" })
                                                    <span class="input-group-btn">
                                                        <button class="btn default" disabled type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Brand Type 2<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.BrandType2, (string)ViewBag.BrandType2, new { @class = "form-control", @disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Batch Number 2<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BatchNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Batch Date 2</label>
                                            <div class="">
                                                <div class="input-group date date-picker" disabled data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                                    @Html.TextBoxFor(m => m.BatchDate2, new { @Value = (String.Format("{0:dd/MM/yyyy}", Model.BatchDate2)), @class = "form-control", @disabled = "disabled" })
                                                    <span class="input-group-btn">
                                                        <button class="btn default" disabled type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Brand Type 3<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.BrandType3, (string)ViewBag.BrandType3, new { @class = "form-control", @disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Batch Number 3<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BatchNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Batch Date 3</label>
                                            <div class="">
                                                <div class="input-group date date-picker" disabled data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                                    @Html.TextBoxFor(m => m.BatchDate3, new { @Value = (String.Format("{0:dd/MM/yyyy}", Model.BatchDate3)), @class = "form-control", @disabled = "disabled" })
                                                    <span class="input-group-btn">
                                                        <button class="btn default" disabled type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 hidden">
                                        <div class="col-md-3">
                                            <label class="control-label">Batch Date 4</label>
                                            <div class="">
                                                <div class="input-group date date-picker" data-date-start-date="+0d">
                                                    @Html.TextBoxFor(m => m.BatchDate4, new { @Value = (String.Format("{0:dd/MM/yyyy}", Model.BatchDate4)), @class = "form-control", @disabled = "disabled" })
                                                    <span class="input-group-btn">
                                                        <button class="btn default" disabled type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label class="control-label">Planner Remark<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.PlannerRemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="control-label">Return Remark<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ReturnRemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <hr />
                                        <div class="col-md-6">&nbsp; </div>
                                        <div class="col-md-6" style="text-align:right">

                                            <a href="~/NDE/ConsumeMTMaster/AddConsumable?Id=@Model.Id" style="float: right;" class="btn btnclose">Close</a>
                                        </div>
                                    </div>
                                    <div id="hidden">
                                        @Html.HiddenFor(model => model.Id)
                                        @Html.HiddenFor(model => model.LogId)
                                        @Html.HiddenFor(model => model.RevNo)
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    }
                </div>
            </div>       <!-- END PAGE BASE CONTENT -->
        </div>
    </div>
</div>
