﻿@using IEMQSImplementation
@model QMS060
<style>
    .Center {
        text-align: center;
    }
</style>
<script src="~/Scripts/jquery.jstepper.min.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script>
    $(document).ready(function () {    
        var table = $('#tblLines');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },           
            "bProcessing": true,
            "sAutoWidth": false,
            "bDestroy": true,
            "sPaginationType": "bootstrap", // full_numbers
            "iDisplayStart ": 10,
            "iDisplayLength": 10,
            "bPaginate": false, //hide pagination
            "bFilter": false, //hide Search bar
            "bInfo": false, // hide showing entries
            buttons: [],
            "bDestroy": true,
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/SeamListNDEInspection/LoadSpotResultDataForShopTable?requestId=" + '@ViewBag.id',
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);                       
                    },
                    'async': false
                });              
            },
            "aoColumns": [
                {
                    'targets': 0,
                    "bSortable": false,
                    "sClass": "center",
                    'render': function (data, type, full, meta) {
                        return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                    }
                },
                {
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "Center",
                    "name": "SpotNumber"
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                    "name": "SpotId"
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                    "name": "RequestId"
                },
                {
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "Center",
                    "name": "SpotDescription"
                },
                {
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "Center",
                    "name": "SpotLength"
                },

                 {
                     "bSortable": false,
                     "sWidth": "12%",
                     "sClass": "Center",
                     "name": "SpotResult"
                 },
                  {
                      "bSortable": false,
                      "sWidth": "5%",
                      "sClass": "Center",

                  },
                   {
                       "bSortable": false,
                       "sWidth": "5%",
                       "sClass": "Center",

                   },

                {
                    "sClass": "Center",
                    "bSortable": false,
                    "sWidth": "5%",
                    "name": "DefectLength"
                },

                {
                    "sClass": "Center",
                    "bSortable": false,
                    "sWidth": "5%",
                    "name": "DefectWidth"
                },
                {

                    "bSortable": false,
                    "sWidth": "5%",
                    "name": "TypeofIndication"
                },
                {

                    "bSortable": false,
                    "name": "Reason"
                },

                {
                    "sClass": "center",
                    "bSortable": false,
                    "name": "InspectionRemarks"
                }               
            ]
        });

        if (('@Model.RequestStatus' == '@clsImplementationEnum.NDESeamRequestStatus.Attended' || '@Model.IterationNo'=='1')  && '@Model.IsPartiallyOffered'.toLocaleLowerCase() == 'false') {
         
            oTable.api().column(0).visible(false);
        }
        $('#example-select-all').on('click', function () {
            var rows = oTable.api().rows({ 'search': 'applied' }).nodes();
            $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
        });

        // Handle click on checkbox to set state of "Select all" control
        $('#tblLines tbody').on('change', 'input[type="checkbox"]', function () {
            // If checkbox is not checked
            if (!this.checked) {
                var el = $('#example-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if (el && el.checked && ('indeterminate' in el)) {
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });
    }); 

</script>
<form id="frmSpotResult" method="post">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Spot Wise Results
                </div>               
                <div class="tools" style="margin-left:5px">                  
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive " id="tblLines" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th class="min-phone-l" style="width:5%; white-space:pre-line">Spot No</th>
                            <th style="display:none;">SpotId</th>
                            <th style="display:none;">RequestId</th>
                            <th class="min-phone-l" style="width:5%; white-space:pre-line">Spot Desc</th>
                            <th class="min-phone-l" style="width:5%; white-space:pre-line">Spot Length(mm)</th>
                            <th class="min-phone-l">Result</th>
                            <th class="min-phone-l" style="width:5%; white-space:pre-line">Rejection Flag</th>
                            <th class="min-phone-l" style="width:5%; white-space:pre-line">Repair Designation</th>
                            <th class="min-phone-l" style="width:5%; white-space:pre-line">Defect Length(mm)</th>
                            <th class="min-phone-l" style="width:5%; white-space:pre-line">Defect Width(sq.mt)</th>
                            <th class="min-phone-l">Indication Type</th>
                            <th class="min-phone-l">Reason</th>
                            <th class="min-phone-l">Inspection Remark</th>                           
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

</form>
