﻿@using IEMQSImplementation
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Version List
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="tblAppVersion" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="min-phone-l" style="display:none;">HeaderId</th>
                          <th class="all">Version</th>
                            <th class="all">Feature</th>                            
                            <th class="all">Enhancement</th>
                            <th class="all">Bugfix</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
     $(document).ready(function () {
        var table = $('#tblAppVersion');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/Authorization/AppVersion/LoadDataGridData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
     {
         "sClass": "hide",
         "bSortable": false,
     },
                        {
                            "sClass": "center",
                            "name": "Version",
                            "ColName": "Version"
                        },
                         {
                             "sClass": "center",
                             "name": "Feature",
                             "attr": "numeric",
                             "ColName": "Feature"
                         },
                       
                       {
                           "sClass": "center",
                           "name": "Enhancement",
                           "attr": "numeric",
                           "ColName": "Enhancement"
                       },
                       {
                           "sClass": "center",
                           "name": "BugFix",
                           "attr": "numeric",
                           "ColName": "BugFix"
                       },
                        {
                            "bSortable": false,
                            "sClass": "center",
                        }
            ]
        });
        table.dtSearchFilter();
    });
</script>
<script src="~/Scripts/bootbox.js"></script>