﻿@using IEMQSImplementation
@{
    ViewBag.Title = "App Version";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Datatable/css")
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    App Version
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="text-align:right">
                                <a href="~/Authorization/AppVersion/Details" class="btn green">Add New</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="AppVersion">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
 $(document).ready(function () {
        LoadDataGridPartial();
    });

    function LoadDataGridPartial() {
        $("#AppVersion").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/Authorization/AppVersion/LoadDataGridPartial",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                $("#AppVersion").html(result);
            },
            error: function () {
            }
        });
        $(".dataTables_paginate").css("text-align", "right !important");
    }
</script>

@Scripts.Render("~/bundles/datatable/js")
