﻿
@using IEMQSImplementation
<style>
    .left18 {
        padding-left: 18px !important;
    }

    .highlight {
        background-color: #aaed7a !important;
    }

        .highlight tr:hover {
            background-color: #aaed7a !important;
        }
</style>

<div class="row">
    <div class="col-md-12">

        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @{
                        string strCTQTitle = ViewBag.Status + " Part ICL";
                    }
                    @strCTQTitle
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/ApproveICLPart/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="tblICLHeader" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all @(ViewBag.Status == "Pending"?"":" hide")">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            @*<th class="min-phone-l" style="display:none;">HeaderId</th>
                                <th class="min-phone-l">Quality Project</th>
                                <th class="min-phone-l">BU</th>
                                <th class="min-phone-l">Part/Assembly No</th>
                                <th class="min-phone-l">Created By</th>
                                <th class="min-phone-l">Location</th>
                                <th class="min-phone-l">Status</th>
                                <th class="min-phone-l">Action</th>*@

                            <th class="" style="display:none">Header ID</th>
                            <th class="" style="display:none">Project</th>
                            <th class="all">Quality Project</th>
                            <th class="" style="display:none">Quality Project</th>
                            <th class="all">Position No.</th>
                            <th class="all">Part No.</th>
                            <th class="all">Quantity</th>
                            <th class="all">Parent Part No.</th>
                            <th class="all">Quality ID</th>
                            <th class="" style="display:none">Quality ID</th>
                            <th class="all">QID RevNo.</th>
                            <th class="all">RevNo.</th>
                            <th class="all">Status</th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="text-align:right;">
        <button id="btnApproveALL" type="button" class="btn approve">Approve All</button>
        <button id="btnApproveSelected" type="button" class="btn approve">Approve</button>
        <button id="btnReturnSelected" type="button" class="btn return">Return</button>
        <a href="~/IPI/ApproveICLPart/Index" class="btn btnclose">Close</a>
    </div>
</div>

<script>
    var UtilityParams = undefined;
    var isVisible = false;
    $(document).ready(function () {
        $("#btnApproveSelected").click(function () {
            var arrayHeaderIds = new Array();

            $('input[class="clsCheckbox"]', $('#tblICLHeader_wrapper')).each(function () {
                if (this.checked) {
                    arrayHeaderIds.push(this.value);
                }
            });
            if (arrayHeaderIds.length > 0) {
                bootbox.dialog({
                    title: "Approval Confirmation",
                    message: "Do you want to approve?",
                    size: "medium",
                    buttons: {
                        Yes: {
                            label: 'Yes',
                            className: 'btn-success',
                            callback: function () {
                                approveICL(arrayHeaderIds);
                            }
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger',
                            callback: function () { }
                        }
                    }
                    //callback: function (result) {
                    //    if (result) {


                    //    }
                    //}
                });
            }
            else {
                DisplayNotiMessage("error", "Please select record", "Error");
            }
        });

        $("#btnReturnSelected").click(function () {
            var strHtml = "<scr" + "ipt>$(document).ready(function(){"
                   + "$('input[maxlength],textarea[maxlength]').maxlength({alwaysShow: true,});"
                   + "$('#frmHeaderReturn').validate({"
                   + " rules: {"
                   + "txtReturnRemark: {"
                   + "required: true,"
                   + "},"
                   + "messages: {"
                   + "txtReturnRemark: {"
                   + "required: 'Return Remark is required'"
                   + "}"
                   + "}"
                    + "}"
                   + "});"
                   + "});</scr" + "ipt>"
                   + " <div>"
                   + "<form method='post' id='frmHeaderReturn' class='form-horizontal' action=''>"
                   + "<div class='form-group'>"
                   + "<div class='col-md-12'>"
                   + "<br /><label class='control-label'><b>Return Remark</b><span class='required'> * </span></label>"
                   + "<div class=''>"
                   + "<textarea type='text' value='' style='width:100%' name='txtReturnRemark' id='txtReturnRemark' maxlength='100' class='form-control col-md-3'></textarea>"
                   + "</div>"
                   + "</div>"
                   + "</div>"
                   + "</form>"
                   + "</div>";


            var arrayHeaderIds = new Array();

            $('input[class="clsCheckbox"]', $('#tblICLHeader_wrapper')).each(function () {
                if (this.checked) {
                    arrayHeaderIds.push(this.value);
                }
            });

            if (arrayHeaderIds.length > 0) {

                bootbox.dialog({
                    title: "Return Confirmation",
                    message: "Do you want to return?" + strHtml,
                    size: "medium",
                    buttons: {
                        Yes: {
                            Label: "Yes",
                            className: 'btn green',
                            callback: function () {
                                if ($('#frmHeaderReturn').valid()) {
                                    var strHeaderIds = arrayHeaderIds.join(",");
                                    $.ajax({
                                        type: "POST",
                                        url: WebsiteURL + "/IPI/ApproveICLPart/ReturnICLPart",
                                        datatype: 'json',
                                        async: false,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        data: { strHeaderIds: strHeaderIds, returnremark: $('#txtReturnRemark').val() },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                                $(".example-select-all").prop('checked', false);
                                                UtilityParams.dtReload();
                                                $('#dvTestPlanLineDetails').hide();
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                            if (data.Remarks != null && data.Remarks.length > 0)
                                                DisplayNotiMessage("info", data.Remarks, "Info");
                                        },
                                        error: function () {
                                        }
                                    });
                                }
                                else {
                                    return false;
                                }
                            }
                        },
                        Cancel: {
                            label: 'No',
                            className: 'btn red',
                            callback: function () { }
                        }

                    }
                });

            }
            else {
                DisplayNotiMessage("error", "Please select record", "Error");
            }
        });

        $("#btnApproveALL").click(function () {
            bootbox.dialog({
                title: "Approval Confirmation",
                message: "Do you want to approve all Pending Part ICL?",
                size: "medium",
                buttons: {
                    Yes: {
                        label: 'Yes',
                        className: 'btn-success',
                        callback: function () {
                            $.ajax({
                                type: "POST",
                                url: WebsiteURL + "/IPI/ApproveICLPart/ApproveAllPartICL",
                                datatype: 'json',
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                data: { QualityProject: '@ViewBag.QualityProject', WhereCondition : $(".txtStrWhere", "#dvExportHeader").val() },
                                success: function (data) {
                                    if (data.Key) {
                                        if (data.Value != "" && data.Value != null && data.Value != undefined) {
                                            DisplayNotiMessage("success", data.Value, "Success");
                                        }
                                        if (data.Remarks != "" && data.Remarks != null && data.Remarks != undefined) {
                                            DisplayNotiMessage("info", data.Remarks, "Info");
                                        }
                                        $(".example-select-all").prop('checked', false);
                                        $("#dvTestPlanLineDetails").hide();
                                    }
                                    else {
                                        if (data.tpi == "AddTPI") {
                                            DisplayNotiMessage("error", data.Value, "Error");
                                            //CheckTPIDetails(strHeaderIds);
                                            openTPISession(data.TPISkipped);
                                            // CheckTPIDetails(arrayHeaderIds[0], data.headerid);
                                        }
                                        else { DisplayNotiMessage("error", data.Value, "Error"); }
                                    }
                                    UtilityParams.dtReload();
                                },
                                error: function () {
                                }
                            });
                        }
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger',
                        callback: function () { }
                    }
                }
            });
        });

        UtilityParams = {
            sUrl: "/IPI/ApproveICLPart/LoadTPHeaderDataold?qProj=" + '@ViewBag.QualityProject',
            aServerParams: [{ "name": "CTQCompileStatus", "value": '@ViewBag.Status' }],
            iResponsiveOnWindowWidth: 800,
            aiLengthMenu: [5, 10, 25, 50, 100, 200, 500],
            iPageLength: 200,
            bIsLazyLoading: false,
            bIsFirstColumnCheckbox: true,
            bIsFixedHeader: true,
            bIsResponsive: false,
            bIsSearchFilter: true,
            bIsWrap: false,
            bIsWrapHeader: false,
            bIsIgnoreHiddenColumns: false,
            iFCLeft: 6,
            //iFCRight: 1,
            aaSort: [],
            sBtnDivSelector: "#dvExportHeader",
            fnServerDataCallback: function (aoData, data) {
                $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                if (data.iTotalRecords > 0 && '@ViewBag.Status' == "Pending") {
                    $("#btnApproveSelected").show();
                    $("#btnReturnSelected").show();
                    $("#btnApproveALL").show();
                    isVisible = true;
                }
                else {
                    $("#btnApproveSelected").hide();
                    $("#btnReturnSelected").hide();
                    $("#btnApproveALL").hide();
                    isVisible = false;
                }
            },
            aoColumns: [
                 {
                     'targets': 0,
                     "bSortable": false,
                     "sClass": "left18 @(ViewBag.Status == "Pending"?"":" hide")",
                     'render': function (data, type, full, meta) {
                         return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                     }
                 },
                 {
                     "sClass": "hide"
                 },
                 {
                     "sClass": "hide"
                 },
                 {
                     "bSortable": false,
                     "sClass": "center",
                     "name": "QualityProject"
                 },
                 {
                     "sClass": "hide"
                 },
                 {
                     "bSortable": false,
                     "sClass": "center",
                     "name" : "PartNo"
                 },
                 {
                     "bSortable": false,
                     "sClass": "center",
                     "name" : "ChildPartNo"
                 },
                 {
                     "bSortable": false,
                     "sClass": "center",
                     "name" : "Quantity"
                 },
                 {
                     "bSortable": false,
                     "sClass": "center",
                     "name" : "ParentPartNo"
                 },
                 {
                     "bSortable": false,
                     "sClass": "center",
                     "name" : "QualityId"
                 },
                 {
                     "sClass": "hide"
                 },
                 {
                     "bSortable": false,
                     "sClass": "center",
                     "name" : "QualityIdRevNo"
                 },
                 {
                     "bSortable": false,
                     "sClass": "center",
                     "name": "RevNo"
                 },
                 {
                     "bSortable": false,
                     "sClass": "center",
                     "name": "Status"
                 }
            ]
        };

        setTimeout(function () {
            $('#tblICLHeader').dtUtility(UtilityParams);

            $('tbody', '#tblICLHeader_wrapper').on("click", "tr td:not(:first-child)", function () {
                var row = $(this).closest('tr');
                var rowIndex = $(row).index();
                var tableRow = $('#tblICLHeader').find("tbody tr:eq(" + rowIndex + ")")
                var data = $('#tblICLHeader').dataTable().fnGetData(tableRow);
                var hdrId = data[0];
                $("#tblICLHeader tr").removeClass("highlight");
                $(tableRow).closest('tr').addClass("highlight");

                var $FDLTR = $('.DTFC_LeftBodyWrapper', '#tblICLHeader_wrapper').find("tbody tr:eq(" + rowIndex + ")");
                var $FDRTR = $('.DTFC_RightBodyWrapper', '#tblICLHeader_wrapper').find("tbody tr:eq(" + rowIndex + ")");
                $(".DTFC_LeftBodyWrapper tr").removeClass("highlight");
                $(".DTFC_RightBodyWrapper tr").removeClass("highlight");
                $FDLTR.addClass('highlight');
                $FDRTR.addClass('highlight');

                $("#tblICLHeader_wrapper").find("[type=checkbox]").prop('checked', false);
                $FDLTR.find("[type=checkbox]").prop('checked', true);

                if ($("#dvTestPlanLineDetails").css("display") == "block") { }
                else {
                    $("#dvTestPlanLineDetails").show();
                }
                GetTestPlanLinePartial(hdrId);
            });
        }, 100);

        @*var table = $('#tblICLHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/ApproveICLPart/LoadTPHeaderDataold?qProj=" + '@ViewBag.QualityProject',
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        if (data.iTotalRecords > 0 && '@ViewBag.Status' == "Pending") {
                            $("#btnApproveSelected").show();
                            $("#btnReturnSelected").show();
                            $("#btnApproveALL").show();
                            isVisible = true;
                        }
                        else {
                            $("#btnApproveSelected").hide();
                            $("#btnReturnSelected").hide();
                            $("#btnApproveALL").hide();
                            isVisible = false;
                        }
                    },
                    'async': false
                });
            },
            "columns": [
                 {
                     'targets': 0,
                     "bSortable": false,
                     "sClass": "center",
                     'render': function (data, type, full, meta) {
                         return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                     }
                 },
                 {
                     "sClass": "hide"
                 },
                    {
                        "sClass": "hide"
                    },
                    //{
                    //    "sClass": "center",
                    //},
                    {
                        "bSortable": false,
                        "sClass": "center",
                    },
                    {
                        "sClass": "hide"
                    },
                    {
                        "bSortable": false,
                        "sClass": "center"
                    },
                    {
                        "bSortable": false,
                        "sClass": "center"
                    },
                    {
                        "bSortable": false,
                        "sClass": "center"
                    },
                    {
                        "bSortable": false,
                        "sClass": "center"
                    },
                    {
                        "bSortable": false,
                        "sClass": "center"
                    },
                    {
                        "sClass": "hide"
                    },
                    {
                        "bSortable": false,
                        "sClass": "center"
                    },
                    {
                        "bSortable": false,
                        "sClass": "center"
                    },
                    {
                        "bSortable": false,
                        "sClass": "center"
                    }
            ]
        });

        $('#tblICLHeader tbody').on("click", "tr td:not(:first-child):not(:last-child)", function () {
            var row = $(this).closest('tr');
            var data = $('#tblICLHeader').dataTable().fnGetData(row);
            //var hdrId = $(data[1]).val();//$($(this)).find('td').eq(0).text();
            var hdrId = data[0];
            $("#tblICLHeader tr").removeClass("highlight");
            $(this).closest('tr').addClass("highlight");

            $("#tblICLHeader").find("[type=checkbox]").prop('checked', false);
            $(row).find("[type=checkbox]").prop('checked', true);

            if ($("#dvTestPlanLineDetails").css("display") == "block") { }
            else {
                $("#dvTestPlanLineDetails").show();
            }
            GetTestPlanLinePartial(hdrId); //function declared in _loadTPheaderform
        });

        if ('@ViewBag.Status' == "Pending" && isVisible == true) {
            oTable.api().column(0).visible(true);
        }
        else {
            oTable.api().column(0).visible(false);
        }

        $('#example-select-all').on('click', function () {
            var rows = oTable.api().rows({ 'search': 'applied' }).nodes();
            $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
        });

        $('#tblICLHeader tbody').on('change', 'input[class="clsCheckbox"]', function () {
            if (!this.checked) {
                var el = $('#example-select-all').get(0);

                if (el && el.checked && ('indeterminate' in el)) {

                    el.indeterminate = true;
                }
            }
        });*@
    });
    function openTPISession(message) {
        bootbox.dialog({
            title: 'TPI Agency & Intervention',
            message: message,
            size: 'medium',
            buttons: {
                'confirm': {
                    label: 'Maintain TPI',
                    className: 'btn blue',
                    callback: function () {
                        window.open(WebsiteURL + "/IPI/MaintainTPIAgencyIntervention/List", "_target");
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn btnclose'
                }
            }
        });
    }
    function approveICL(arrayHeaderIds) {
        var strHeaderIds = arrayHeaderIds.join(",");
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/ipi/ApproveICLPart/ApproveByApproverSelected",
            datatype: 'json',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { strHeaderIds: strHeaderIds },
            success: function (data) {
                if (data.Key) {
                    if (data.Value != "" && data.Value != null && data.Value != undefined) {
                        DisplayNotiMessage("success", data.Value, "Success");
                    }
                    if (data.Remarks != "" && data.Remarks != null && data.Remarks != undefined) {
                        DisplayNotiMessage("info", data.Remarks, "Info");
                    }
                    $(".example-select-all").prop('checked', false);
                    $("#dvTestPlanLineDetails").hide();
                }
                else {
                    if (data.tpi == "AddTPI") {
                        DisplayNotiMessage("error", data.Value, "Error");
                        //CheckTPIDetails(strHeaderIds);
                        openTPISession(data.TPISkipped);
                        // CheckTPIDetails(arrayHeaderIds[0], data.headerid);
                    }
                    else { DisplayNotiMessage("error", data.Value, "Error"); }
                }

                UtilityParams.dtReload();

            },
            error: function () {
            }
        });
    }

    function CheckTPIDetails(headerId, strHeaderId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/ApproveICLPart/LoadTPIData",
            datatype: 'html',
            async: false,
            data: { headerId: headerId },
            success: function (result) {
                bootbox.dialog({
                    title: 'TPI Agency And Intervention',
                    message: result,
                    size: 'large',
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn green',
                            callback: function () {
                                if ($("#frmTPIData").valid()) {
                                    var formData = new FormData();
                                    var frmValues = $('#frmTPIData').serializeArray();
                                    $.each(frmValues, function (key, input) {
                                        formData.append(input.name, input.value);
                                    });
                                    $.ajax({
                                        url: WebsiteURL + '/IPI/ApproveICLPart/SaveTPI',
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        type: 'POST',
                                        async: false,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            $('.bootbox.modal').remove();
                                            $(".modal-backdrop").remove();
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                                if (strHeaderId != "") {
                                                    var HId = strHeaderId.split(",");
                                                    approveICL(HId);
                                                }
                                                UtilityParams.dtReload();
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                        }
                                    });
                                }
                                else {
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn green'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

</script>
