﻿
@using IEMQSImplementation

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @{
                string strTechniqueTitle = ViewBag.Status + " Inspection Test Plan";
            }
            @strTechniqueTitle
        </div>
        <div class="tools" id="dvExportHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/ITP/Maintain/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblHeader" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="min-phone-l">LN Project - Description</th>
                    <th class="min-phone-l">Supplier</th>
                    <th class="min-phone-l">Purchase Odrer No</th>
                    <th class="min-phone-l">Status</th>
                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        var table = $('#tblHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [

            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/ITP/ApproveByDesigner/LoadITPHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "Project"
                },
                 {
                     "bSortable": true,
                     "sClass": "center",
                     "name": "SupplierName"
                 },
                 {
                     "bSortable": true,
                     "sClass": "center",
                     "name": "PurchaseOdrerNo"
                 },
                   {
                       "bSortable": true,
                       "sClass": "center",
                       "name": "Status"
                   },
                   {
                       "bSortable": false,
                       "sClass": "center",
                   },
                 @*{
                     "bSortable": false,
                     "sWidth": "10%",
                     "render": function (data, type, row, meta) {
                         var buttons = "";
                         buttons = "<center style='white-space: nowrap;' class='clsDisplayInlineEle'><a class='btn btn-xs green' href='/ITP/Maintain/AddHeader?HeaderID=" + row[11] + "'>View<i style='margin-left:5px;' class='fa fa-eye'></i></a>";
                         if (row[8] == '@IEMQSImplementation.clsImplementationEnum.NDETechniqueStatus.Draft.ToString()' && row[5] == "R" + 0) {
                             buttons += '<i id="btnDelete" name="btnAction" style="cursor:pointer;" Title="Delete Record" class="fa fa-trash-o " onclick="DeleteHeader(' + row[11] + ')"></i>';
                         }
                         buttons += '</center>';
                         return buttons;
                     }
                 },*@
            ]
        });
        table.dtSearchFilter();
    });
  
</script>
<script src="~/Scripts/DataTable/dataTables.custom.fixedColumn.js"></script>