﻿@using IEMQSImplementation
@model IEMQSImplementation.ITP001
@{
    ViewBag.Title = "View Header";
    Layout = "~/Views/Shared/_Layout.cshtml"; string AttachmentUpload = "fuAttachmentUpload";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
    var attachmentflag = false;
    $(document).ready(function () {
        $('input[maxlength]').maxlength({ alwaysShow: true, });

        if ('@ViewBag.Action'.toLowerCase() == "edit") {
            var strProject = '@ViewBag.Project';
            var strQC = '@ViewBag.QC';
            var strDesigner = '@ViewBag.Designer';
            $("#txtProject").attr("disabled", true);
            $("#txtProject").val(strProject);
            $("#txtSupplier").val(strQC);
            $("#txtPurchase").val(strDesigner);
            $("#txtProject").val(strProject);
            attachmentflag = true;
            $("#txtQC").val(strQC); $("#txtDesigner").val(strDesigner);
        }

        if ('@Model.QCComments' != '') {
            $("#dvQCComments").show();
        }
        else {
            $("#dvQCComments").hide();
        }
        $('fieldset.fdDisable :input').attr('disabled', true);

        if ('@Model.Status' != '@clsImplementationEnum.NDETechniqueStatus.SentForApproval.GetStringValue()' && '@Model.Status' != '@clsImplementationEnum.CommonStatus.AcceptedByQC.GetStringValue()') {
            $('#DesignComments').attr('disabled', true);
            attachmentflag = false;
        }
        if ('@ViewBag.Role' != "d")
        {
            $('#DesignComments').attr('disabled', true);
            attachmentflag = false;
        }
        $('#frmCreateHeader').validate({
            rules: {
                DesignComments: {
                    required: true,
                }
            },
            messages: {
                DesignComments: {
                    required: "Design Comments is required"
                },
            }
        });
        var header = parseInt('@Model.HeaderId');

        if (header > 0) {
            UploadPath = "ITP001/" + header;
        }
        @*var objAttachmentUpload = new FileUploadEnt('dv@(AttachmentUpload)', '@AttachmentUpload');
        objAttachmentUpload.ShowDeleteAction = false;
        objAttachmentUpload.ShowAttachmentBtn = attachmentflag;
        objAttachmentUpload.FolderPath = UploadPath;
        objAttachmentUpload.IsRequired = false;
       // objAttachmentUpload.LoadCallbackFunction = HideUpload;
       // objAttachmentUpload.SuccessCallbackFunction = "callbackfuntion()";
        LoadFileUploadPartialView(objAttachmentUpload);*@

        var vTableId = 0;


        if (parseInt('@Model.HeaderId') > 0) {
           vTableId = parseInt('@Model.HeaderId');
        }
        var IsDisable = true;
        if (attachmentflag){
            IsDisable = false;
        }

        var objFile = {
            TableName: 'ITP001' ,
            TableId: vTableId,
            Path: 'ITP001//'+vTableId + '//1',
            ControlID: '@(AttachmentUpload)',
            IsMultipleUploaded: true,
            ShowDeleteAction: false,
            ShowDownloadBtn: attachmentflag,
            RemoveOnlyCreatedByMe: true,
            //SuccessCallbackFunction: "callbackfuntion()",
            //LoadCallbackFunction : HideUpload,
            IsRequired: false,
            ViewerId: 1,
            IsDisabled: IsDisable

        };

        Load_File_Upload_Partial_View(objFile, 'dv@(AttachmentUpload)',false);
    });
    @*function HideUpload() {
        $('#btnUploadAll@(AttachmentUpload)').hide()
    }*@

</script>

<style>
    textarea {
        /*height: 33px !important;*/
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<div class="page-content" id="divITPHeader">

    <div class="portlet light ">
        <div class="portlet-body">
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Inspection Test Plan</span>
                    </div>
                    @{
                        if (!string.IsNullOrWhiteSpace(Model.Status))
                        {
                            <div class="ribbon ribbon-right ribbon-color-warning">
                                <span style="font-weight:bolder">
                                    Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span>
                                </span>
                            </div>
                        }
                    }
                </div>
                <div class="dvHeader">

                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
                    {
                        @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
                        @*@Html.HiddenFor(m => m.Status)*@
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend> Project Details</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="control-label">Project</label>
                                                <div class="">
                                                    <input type="text" id="txtProject" value="" name="txtProject" class="form-control col-md-3" placeholder="Select" readonly />
                                                    @Html.HiddenFor(m => m.Project)
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">Supplier Name</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.SupplierName, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                    @*<input type="text" id="txtSupplier" value="" name="txtSupplier" class="form-control col-md-3" placeholder="Select" readonly />*@
                                                    @*@Html.HiddenFor(m => m.SupplierName)*@
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">Purchase Odrer No</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.PurchaseOdrerNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                    @*<input type="text" id="txtPurchase" value="" name="txtPurchase" readonly class="form-control col-md-3" placeholder="Select" readonly />*@
                                                    @*@Html.HiddenFor(m => m.PurchaseOdrerNo)*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="control-label">Material Category</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.MaterialCategory, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>QC Details</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="control-label">QC</label>
                                                <div class="">
                                                    <input type="text" id="txtQC" value="" name="txtQC" class="form-control col-md-3" placeholder="Select" readonly />
                                                    @Html.HiddenFor(m => m.QC)
                                                </div>
                                            </div>

                                            <div id="dvQCComments" class="col-md-8">
                                                <label class="control-label">QC Comments<span class="required"> * </span></label>
                                                @Html.TextAreaFor(m => m.QCComments, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Designer Details</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">

                                            <div class="col-md-4">
                                                <label class="control-label">Designer</label>
                                                <div class="">
                                                    <input type="text" id="txtDesigner" value="" name="txtDesigner" class="form-control col-md-3" placeholder="Select" readonly />
                                                    @Html.HiddenFor(m => m.Designer)
                                                </div>
                                            </div>
                                            <div id="dvDesignComments" class="col-md-8">
                                                <label class="control-label">Designer Comments</label>
                                                @Html.TextAreaFor(m => m.DesignComments, new { @class = "form-control col-md-3", @maxLength = "500" })
                                            </div>

                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Add Attachments</legend>
                                    <div class="form-group">
                                        <div class="col-md-12" style="margin-top: 20px">
                                            <div class="">
                                                <div id="dv@(AttachmentUpload)"></div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    }
                </div>
                <hr />

                <div class="row" id="dvITPLineDetails">
                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    ITP Details
                                </div>
                                <div class="tools" id="dvExportHeader">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/ITP/Maintain/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportHeader" })
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblDetails" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="all">Sr. No.</th>
                                            <th class="min-phone-l">PO Line</th>
                                            <th class="min-phone-l">Item</th>
                                            <th class="min-phone-l">Item Description</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <hr />
                        <div class="col-md-12" style="text-align:right;">
                            @if(ViewBag.Role == "d" && (Model.Status == clsImplementationEnum.CommonStatus.SendForApprovel.GetStringValue() || Model.Status == clsImplementationEnum.CommonStatus.AcceptedByQC.GetStringValue()))
                            {
                                <input type="button" class="btn approve" id="btnApprove" value="Approve" style="margin-right:5px;" />
                                <input type="button" class="btn return" id="btnReturn" value="Return" style="margin-right:5px;" />
                            }
                            <a href="~/ITP/ApproveByDesigner/Index" style="float:right;margin-right:5px;" class="btn btnclose">Close</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        var table = $('#tblDetails');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/ITP/ApproveByDesigner/LoadITPLineData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": '@Model.HeaderId' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [

                {
                    "sClass": "center",
                },
                {
                    "name": "POLine",
                    "sClass": "center"
                },
                {
                    "name": "Item",
                    "sClass": "center"
                },
                {
                    "name": "ItemDescription",
                    "sClass": "center"
                },
            ]
        });
        table.dtSearchFilter();
        $("#btnApprove").click(function () {
            bootbox.confirm({
                title: "Approve Document Confirmation",
                message: "Do you want to approve this document?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: WebsiteURL + "/ITP/ApproveByDesigner/ApproveRecord",
                            datatype: 'json',

                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            data: { strHeaderId: '@Model.HeaderId', remarks: $("#DesignComments").val() },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    window.location.href = WebsiteURL + '/ITP/ApproveByDesigner/Index';
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                            },
                            error: function () {
                            }
                        });
                    }
                }
            });
        });
    });
    $("#btnReturn").click(function () {
        if ($("#frmCreateHeader").valid()) {
            bootbox.confirm({
                title: "Return Document Confirmation",
                message: "Do you want to return this document?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: WebsiteURL + "/ITP/ApproveByDesigner/ReturnRecord",
                            datatype: 'json',

                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            data: { strHeaderId: '@Model.HeaderId', remarks: $("#DesignComments").val() },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    window.location.href = WebsiteURL + '/ITP/ApproveByDesigner/Index';
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                            },
                            error: function () {
                            }
                        });
                    }
                }
            });
        }
        else { }

    });

</script>
<script src="~/Scripts/DataTable/dataTables.custom.fixedColumn.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>
