﻿@model IEMQSImplementation.PRL390
@using IEMQSImplementation
@{
    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0, s2 = 0, s3 = 0, s4 = 0, s5 = 0, s6 = 0, s7 = 0, s8 = 0, s9 = 0, s10 = 0, s11 = 0;/* for serial number */
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />
<style>
    .clsparent {
        background-color: #fbffb2;
        font-weight: bold;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                    <span class="page-title">@ViewBag.Title.ToString()</span>
                </div>
                <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                </div>
            </div>
            <div id="dvProtocolHeader" style="padding:1%">
                <form id="frmProtocolHeader" class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <table class="FormTable tblNotes" style="margin-bottom:0px">
                                    <tr>
                                        <td class="subtitle"> PROJECT NO.</td>
                                        <td> @Html.DisplayFor(m => m.QualityProject, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        <td class="subtitle"> DATE</td>
                                        <td>
                                            @Html.DisplayFor(m => m.InspectionDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> EQUIPMENT NAME & NUMBER</td>
                                        <td> @ViewBag.ProjectDesc</td>
                                        <td class="subtitle"> PART NO.</td>
                                        <td>@Html.DisplayFor(m => m.SeamNo, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                    </tr>

                                    <tr>

                                        <td class="subtitle"> DRG.NO.& REV.NO.</td>
                                        <td>
                                            <span style="float:left;padding: 1px 1px !important;">@Html.TextBoxFor(m => m.DrawingNo, new { @class = "form-control", @style = "width:250px;", @role = "QC", @placeholder = "Select" })</span>
                                            <span style=""> @Html.TextBoxFor(m => m.DrawingRevisionNo, new { @class = "form-control onlyNumeric", @maxlength = "10", @style = "width: 157px;", @role = "QC" })</span>
                                        </td>
                                        <td class="subtitle">INSPECTION AGENCY</td>
                                        <td>@Html.DisplayFor(m => m.InspectionAgency, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>

                                    </tr>
                                    <tr>
                                        <td class="subtitle"> DCR NO.IF APPLICABLE</td>
                                        <td>@Html.TextBoxFor(m => m.DCRNo, new { @class = "form-control col-md-12", @maxlength = "50", @role = "QC" }) </td>

                                        <td class="subtitle">MANUFACTURING CODE</td>
                                        <td>@ViewBag.ManufacturingCode</td>
                                    </tr>
                                    <tr>
                                </table>
                            </div>
                        </div>
                    </div>



                    <div class="form-group">

                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.HiddenFor(m => m.HeaderId)
                                <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                <div class="">
                                    @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="height: 20px"></div>

                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span style="float:left;">
                                            </span>
                                        </div>
                                        <div class="tools">
                                            <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body" id="div1">
                                        <div class="table-responsive">
                                            <table class="table" id="tblProtocolLines1">
                                                <thead>
                                                    <tr>
                                                        <th style="display:none;" rowspan="2">#</th>
                                                        <th style="display:none;" rowspan="2">LineId</th>
                                                        <th rowspan="3">ORIENTATION</th>
                                                        <th>ELEVATION OF NUB FROM<br />@Html.DropDownListFor(model => model.ElevationOfNubFrom, new SelectList(@ViewBag.ElevationOfNubFrom, "Value", "Text"), "", new { @class = "form-control inlinetextbox width250px", @role = "QC" })</th>
                                                        <th>ELEVATION OF TOP SIDE REFERANCE LINE FROM<br />@Html.DropDownListFor(model => model.ElevationOfTopSide, new SelectList(@ViewBag.ElevationOfTopSide, "Value", "Text"), "", new { @class = "form-control inlinetextbox width250px", @role = "QC" })</th>
                                                        <th>NUB WIDTH</th>
                                                        <th>NUB HEIGHT.</th>
                                                        <th colspan="6">DIMESNIONS  CHECKED USING TEMPLATE</th>
                                                    </tr>
                                                    <tr>
                                                        <th>REQ<br /> @Html.TextBoxFor(model => model.ReqElevationOfNubFrom, new { @class = "form-control", @maxlength = "20", @role = "QC" })</th>
                                                        <th>REQ<br /> @Html.TextBoxFor(model => model.ReqElevationOfTopSide, new { @class = "form-control", @maxlength = "20", @role = "QC" })</th>
                                                        <th>REQ<br /> @Html.TextBoxFor(model => model.ReqNubWidth, new { @class = "form-control", @maxlength = "20", @role = "QC" })</th>
                                                        <th>REQ<br /> @Html.TextBoxFor(model => model.ReqNubHeight, new { @class = "form-control", @maxlength = "20", @role = "QC" })</th>
                                                        <th rowspan="2">A1</th>
                                                        <th rowspan="2">A2</th>
                                                        <th rowspan="2">B1</th>
                                                        <th rowspan="2">B2</th>
                                                        <th rowspan="2">C1</th>
                                                        <th rowspan="2">C2</th>
                                                    </tr>
                                                    <tr>
                                                        <th>TOL<br /> @Html.TextBoxFor(model => model.TolReqElevationOfNubFrom, new { @class = "form-control", @maxlength = "20", @role = "QC" })</th>
                                                        <th>TOL<br /> @Html.TextBoxFor(model => model.TolReqElevationOfTopSide, new { @class = "form-control", @maxlength = "20", @role = "QC" })</th>
                                                        <th>TOL<br /> @Html.TextBoxFor(model => model.TolReqNubWidth, new { @class = "form-control", @maxlength = "20", @role = "QC" })</th>
                                                        <th>TOL<br /> @Html.TextBoxFor(model => model.TolReqNubHeight, new { @class = "form-control", @maxlength = "20", @role = "QC" })</th>

                                                        @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                        {
                                                            <th class="btnthAction">&nbsp;</th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (ViewBag.lstPRL391 != null)
                                                    {
                                                        foreach (var item in ViewBag.lstPRL391 as List<PRL391>)
                                                        {
                                                    <tr>
                                                        <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                        <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                        <td class="Orientation"><label>@Html.TextBox("Orientation_1_" + @s1, @item.Orientation, new { @class = "form-control", @maxlength = "20", @role = "QC" })</label> </td>
                                                        <td class="ActTolReqElevationOfNubFrom">@Html.TextBox("ActTolReqElevationOfNubFrom_1_" + @s1, @item.ActTolReqElevationOfNubFrom, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                        <td class="ActTolReqElevationOfTopSide">@Html.TextBox("ActTolReqElevationOfTopSide_1_" + @s1, @item.ActTolReqElevationOfTopSide, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                        <td class="ActTolReqNubWidth">@Html.TextBox("ActTolReqNubWidth_1_" + @s1, @item.ActTolReqNubWidth, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                        <td class="ActTolReqNubHeight">@Html.TextBox("ActTolReqNubHeight_1_" + @s1, @item.ActTolReqNubHeight, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                        <td class="A1DimensionsChecked"> @Html.TextBox("A1DimensionsChecked_1_" + @s1, @item.A1DimensionsChecked, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                        <td class="A2DimensionsChecked"> @Html.TextBox("A2DimensionsChecked_1_" + @s1, @item.A2DimensionsChecked, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                        <td class="B1DimensionsChecked"> @Html.TextBox("B1DimensionsChecked_1_" + @s1, @item.B1DimensionsChecked, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                        <td class="B2DimensionsChecked"> @Html.TextBox("B2DimensionsChecked_1_" + @s1, @item.B2DimensionsChecked, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                        <td class="C1DimensionsChecked"> @Html.TextBox("C1DimensionsChecked_1_" + @s1, @item.C1DimensionsChecked, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                        <td class="C2DimensionsChecked"> @Html.TextBox("C2DimensionsChecked_1_" + @s1, @item.C2DimensionsChecked, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>


                                                        @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                        {
                                                            <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                        }
                                                    </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                            <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>






                        <div class="col-md-12">

                            <div class="col-md-4">

                                <b>NUB I.D</b>
                                @Html.DropDownListFor(model => model.NubID, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "", new { @class = "form-control inlinetextbox w100", @role = "QC", @onchange = "showCladtripTable($(this).val(), \"dvNubID\")" })

                                <br />
                                &nbsp;

                                <div id="dvNubID">


                                    <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="2">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left;">
                                                </span>
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div2', this)" id="btnCollapse2" data-target="#div2" data-original-title="" title=""> </a>
                                            </div>
                                        </div>



                                        <div class="portlet-body" id="div2">
                                            <div class="table-responsive">
                                                <table id="tblProtocolLines2" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th>REQUIRED</th>
                                                            <th>@Html.TextBoxFor(model => model.ReqNubID, new { @class = "form-control", @maxlength = "20", @role = "QC" })</th>
                                                        </tr>
                                                        <tr>

                                                            <th>ORIENTATION</th>
                                                            <th>ACTUAL </th>

                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRL392 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRL392 as List<PRL392>)
                                                            {
                                                        <tr>
                                                            <td style="text-align: center;display:none;"># @(s2 = s2 + 1) </td>
                                                            <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                            <td class="OrientationReqNubID">@Html.TextBox("OrientationReqNubID_2_" + @s2, @item.OrientationReqNubID, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                            <td class="ActualNubID">@Html.TextBox("ActualNubID_2_" + @s2, @item.ActualNubID, new { @class = "form-control calOAActual", @maxlength = "10", @role = "PROD" })</td>


                                                            @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <td class="DeleteAction"> <i id="Delete_2_@s2" name="Delete_2_@s2" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                            }
                                                        </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                    <tfooter>
                                                        <tr class="outby">
                                                            <td class="min-phone-l" style="display:none;">HeaderId</td>
                                                            <td class="min-phone-l" style="display:none;">LineId</td>
                                                            <td class="datatableFooter" style="text-align:center"> <b>OUT BY </b></td>
                                                            <td class="datatableFooter" style="text-align:center">@Html.TextBoxFor(model => model.OutByNubID, new { @class = "form-control", @readonly = "readonly", @tabindex = "-1" })</td>
                                                        </tr>
                                                    </tfooter>
                                                </table>
                                                <input id="hdGrid2LastRow" type="hidden" value="@s2" />
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>


                            <div class="col-md-4">


                                <b>SHELL OUT OF ROUNDNESS NEAR NUB LOCATION</b>
                                @Html.DropDownListFor(model => model.ShellOutOfRoundness, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "", new { @class = "form-control inlinetextbox w100", @role = "QC", @onchange = "showCladtripTable($(this).val(), \"dvShellOutOfRoundness\")" })

                                <br />
                                &nbsp;

                                <div id="dvShellOutOfRoundness">


                                    <div class="portlet box green inlineparentdiv" id="divLine3" data-gridid="3">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left;">
                                                </span>
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div3', this)" id="btnCollapse3" data-target="#div3" data-original-title="" title=""> </a>
                                            </div>
                                        </div>



                                        <div class="portlet-body" id="div3">
                                            <div class="table-responsive">
                                                <table id="tblProtocolLines3" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th>ALLOWED</th>
                                                            <th>@Html.TextBoxFor(model => model.AllowedShellOutOfRoundness, new { @class = "form-control", @maxlength = "20", @role = "QC" })</th>
                                                        </tr>
                                                        <tr>

                                                            <th>ORIENTATION</th>
                                                            <th>ACTUAL </th>

                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRL393 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRL393 as List<PRL393>)
                                                            {
                                                        <tr>
                                                            <td style="text-align: center;display:none;"># @(s3 = s3 + 1) </td>
                                                            <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                            <td class="OrientationAllowedShellOutOfRoundness">@Html.TextBox("OrientationAllowedShellOutOfRoundness_3_" + @s3, @item.OrientationAllowedShellOutOfRoundness, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                            <td class="ActualShellOutOfRoundness">@Html.TextBox("ActualShellOutOfRoundness_3_" + @s3, @item.ActualShellOutOfRoundness, new { @class = "form-control calOBActual", @maxlength = "10", @role = "PROD" })</td>


                                                            @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <td class="DeleteAction"> <i id="Delete_3_@s3" name="Delete_3_@s3" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                            }
                                                        </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                    <tfooter>
                                                        <tr class="outby">
                                                            <td class="min-phone-l" style="display:none;">HeaderId</td>
                                                            <td class="min-phone-l" style="display:none;">LineId</td>
                                                            <td class="datatableFooter" style="text-align:center"> <b>OUT BY </b></td>
                                                            <td class="datatableFooter" style="text-align:center">@Html.TextBoxFor(model => model.OutByShellOutOfRoundness, new { @class = "form-control", @readonly = "readonly", @tabindex = "-1" })</td>
                                                        </tr>
                                                    </tfooter>
                                                </table>
                                                <input id="hdGrid3LastRow" type="hidden" value="@s3" />
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <br />
                                &nbsp;
                                <div class="table-responsive">
                                    <table class="FormTable tblNotes noborder" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                        <tr>
                                            <td style="text-align: center;">
                                                <br />
                                                <img src="~/Images/Protocol079_img1.png" style="width:400px;" />
                                                <br />
                                                <br />
                                            </td>

                                        </tr>

                                    </table>
                                </div>
                            </div>

                        </div>

                        <br>
                        <br />
                        <br />

                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="portlet box green inlineparentdiv" id="divLine4" data-gridid="4">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span style="float:left;">
                                            </span>
                                        </div>
                                        <div class="tools">
                                            <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div4', this)" id="btnCollapse4" data-target="#div4" data-original-title="" title=""> </a>
                                        </div>
                                    </div>

                                    <div class="portlet-body" id="div4">
                                        <div class="table-responsive">
                                            <table id="tblProtocolLines4" class="table">
                                                <thead>
                                                    <tr>
                                                        <th style="display:none;">#</th>
                                                        <th style="display:none;">LineId</th>
                                                        <th>OTHER DIMENSIONS / CHECKPOINTS TO BE VERIFIED</th>
                                                        <th>REQUIRED</th>
                                                        <th>ACTUAL</th>

                                                        @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                        {
                                                            <th class="btnthAction">&nbsp;</th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (ViewBag.lstPRL394 != null)
                                                    {
                                                        foreach (var item in ViewBag.lstPRL394 as List<PRL394>)
                                                        {
                                                            <tr>
                                                                <td style="text-align: center;display:none;"># @(s4 = s4 + 1) </td>
                                                                <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                <td class="OtherDimensions">@Html.TextBox("OtherDimensions" + @s4, @item.OtherDimensions, new { @class = "form-control", @maxlength = "100", @role = "QC", @tabindex = "-1" })</td>
                                                                <td class="ReqOtherDimensions">@Html.TextBox("ReqOtherDimensions_4_" + @s4, @item.ReqOtherDimensions, new { @class = "form-control", @maxlength = "50", @role = "QC" })</td>
                                                                <td class="ActOtherDimensions">@Html.TextBox("ActOtherDimensions_4_" + @s4, @item.ActOtherDimensions, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>

                                                                @if((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                {
                                                                    <td class="DeleteAction"> <i id="Delete_4_@s4" name="Delete_4_@s4" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                            <input id="hdGrid4LastRow" type="hidden" value="@s4" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-12">
                                <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                    <tr>
                                        <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                            CHECK POINTS/REMARKS
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clstd">
                                            <span>1) PROCEDURE NO : &nbsp; @Html.TextBoxFor(model => model.CheckPoint1, new { @class = "form-control inlinetextbox", @maxlength = "20", @role = "QC" })</span>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="clstd">
                                            2) VISUAL INSPECTION CARRIED OUT AND FOUND SATISFACTORY ?
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.CheckPoint2, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clstd">
                                            3) DIMESNIONS OF TEMPLATE CHECKED ?
                                        </td>
                                        <td> @Html.DropDownListFor(model => model.CheckPoint3, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td class="clstd">
                                            4) R.F LINE MARKED ON TEMPLATE IS MATCHING WITH R.F LINE MARKED ON SHELL ?
                                        </td>
                                        <td> @Html.DropDownListFor(model => model.CheckPoint4, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td class="clstd">
                                            5) ALL DIMENSIONS ARE IN MM, UNLESS OTHERWISE SPECIFIED.
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="clstd">
                                            6) MEASURING AND TESTING EQUIPMENT SERIAL NUMBER &nbsp;
                                            @Html.TextBoxFor(model => model.CheckPoint6, new { @class = "form-control inlinetextbox width250px", @maxlength = "20", @role = "PROD" })
                                            &nbsp; & CALIBRATION DUE DATE
                                            <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                @Html.TextBoxFor(m => m.CheckPoint6_2, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;", @role = "PROD" })
                                                <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                    <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            QC REMARK: @Html.TextAreaFor(model => model.QCRemarks, new { @class = "form-control QCRemarks", @maxlength = "200", @role = "QC" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-6" style="text-align:left;">
                                <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                            </div>
                            <div class="col-md-6" style="text-align:right;">
                                @if (string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase) || string.Equals(ViewBag.isQCRemarkEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase))
                                {
                                    <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                    <input type="button" class="btn submit" id="btnSave" value="Submit" />
                                }
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>


<script>
    var notPRODLastChild = "";
    var notQCLastChild = "";

    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "Linkage";
    var isEdit = '@ViewBag.isEditable';
    var isQCRemarkEditable = '@ViewBag.isQCRemarkEditable';
    var lstOutsideInside = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.OutsideOrInside))));
    $(document).ready(function () {

        SetTableColumns();
        ValidateFormRules();
        //$(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit, isQCRemarkEditable);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });
        $("#CheckPoint6_2").change(function () {
            if ($("#CheckPoint6_2").val() != "") {
                $('#btnSaveDraft').focus();
            }
        });
           $('#CheckPoint2').val('Yes');
        $('#NubID').val('Yes');
        $('#ShellOutOfRoundness').val('Yes');

          var lstDrawingNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.DrawingNo))));

        FillProtocolAutoComplete($('#DrawingNo'), lstDrawingNo, null, false);

        if ('@Model.RequestNo' == "" || '@Model.RequestNo' == null) {
            $('#QCRemarks').prop("disabled", true).addClass("NonEditableTextColor");
        }


        if ('@Model.ElevationOfNubFrom' != "") { $('#ElevationOfNubFrom').val('@Model.ElevationOfNubFrom'); }
        if ('@Model.ElevationOfTopSide' != "") { $('#ElevationOfTopSide').val('@Model.ElevationOfTopSide'); }
        if ('@Model.NubID' != "") { $('#NubID').val('@Model.NubID'); }
        if ('@Model.ShellOutOfRoundness' != "") { $('#ShellOutOfRoundness').val('@Model.ShellOutOfRoundness'); }

        if ('@Model.CheckPoint2' != "") { $('#CheckPoint2').val('@Model.CheckPoint2'); }

          $('#CheckPoint3').val('Yes');
        if ('@Model.CheckPoint3' != "") { $('#CheckPoint3').val('@Model.CheckPoint3'); }

          $('#CheckPoint4').val('Yes');
        if ('@Model.CheckPoint4' != "") { $('#CheckPoint4').val('@Model.CheckPoint4'); }

        showCladtripTable($('#NubID').val(), "dvNubID");
        showCladtripTable($('#ShellOutOfRoundness').val(), "dvShellOutOfRoundness");

    });

    calculateMaxMin("calOAActual", "OutByNubID");

    $(".calOAActual").change(function () {
        calculateMaxMin("calOAActual", "OutByNubID");
    });

    calculateMaxMin("calOBActual", "OutByShellOutOfRoundness");

    $(".calOBActual").change(function () {
        calculateMaxMin("calOBActual", "OutByShellOutOfRoundness");
    });

    $("#NubID").focusout(function () {
        if ($("#NubID").val() == "" || $("#NubID").val() != "") {
            $('#ReqNubID').focus();
        }
    });

    $("#OrientationReqNubID").focusout(function () {
        if ($("#OrientationReqNubID").val() == "" || $("#OrientationReqNubID").val() != "") {
            $('#ShellOutOfRoundness').focus();
        }
    });

   

    $("#btnPrint").click(function () {
        PrintReport("/IPI/Protocol/PROTOCOL079", $('#HeaderId').val());
    });

    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData" + Linkage + "?s=0", userRole, false, LoadSaveAndDraft);
        LoadSaveAndDraft();
    });

    $("#btnSave").click(function () {
        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
        {
            <text>$('[role="PROD"]').not('.islastrow').prop("required", true);</text>
        }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
        {
            <text>$('[role="QC"]').not('.islastrow').prop("required", true);</text>
        }
        SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData" + Linkage + "?s=1", userRole, true, LoadSaveAndDraft);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }
    function SaveProtocolLine(lineId, gridId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine" + gridId + Linkage, "tblProtocolLines" + gridId, "btnNewLines" + gridId);
        if (gridId == 5) {
            outby();
        }
    }
      function SetTableColumns() {
        if (isEdit.toLowerCase() == "true") {
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) {
                $("[role=PROD]").first().focus();
            }

            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) {
                AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'Orientation', ['Orientation'], AddTbl1NewTrRow, true);
                AddNextRow(this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'OrientationReqNubID', ['OrientationReqNubID'], AddTbl2NewTrRow, true);
                AddNextRow(this, null, false, 3, 'hdGrid3LastRow', 'tblProtocolLines3', 'OrientationAllowedShellOutOfRoundness', ['OrientationAllowedShellOutOfRoundness'], AddTbl3NewTrRow, true);
                AddNextRow(this, null, false, 4, 'hdGrid4LastRow', 'tblProtocolLines4', 'OtherDimensions', ['OtherDimensions', 'ReqOtherDimensions'], AddTbl4NewTrRow, true);

                notQCLastChild = ":not(:last-child)";
                $("[name=ProtocolNo]").first().focus();
            }
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) { $("[role=PROD]").first().focus(); }
            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) { $("[name=ProtocolNo]").first().focus(); }
        }
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine";
        window[SaveFunction](lineId, gridId);
    }

    function LoadSaveAndDraft() {

        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "Orientation": $('td.Orientation input', this).val(),
                "ActTolReqElevationOfNubFrom": $('td.ActTolReqElevationOfNubFrom input', this).val(),
                "ActTolReqElevationOfTopSide": $('td.ActTolReqElevationOfTopSide input', this).val(),
                "ActTolReqNubWidth": $('td.ActTolReqNubWidth input', this).val(),
                "ActTolReqNubHeight": $('td.ActTolReqNubHeight input', this).val(),
                "A1DimensionsChecked": $('td.A1DimensionsChecked input', this).val(),
                "A2DimensionsChecked": $('td.A2DimensionsChecked input', this).val(),
                "B1DimensionsChecked": $('td.B1DimensionsChecked input', this).val(),
                "B2DimensionsChecked": $('td.B2DimensionsChecked input', this).val(),
                "C1DimensionsChecked": $('td.C1DimensionsChecked input', this).val(),
                "C2DimensionsChecked": $('td.C2DimensionsChecked input', this).val()
            };
            lstProtocolLines1 = JSON.stringify(TableData1);
        });
        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1" + Linkage + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);


        var TableData2 = []; //initialize array;
        var lstProtocolLines2 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines2 > tbody > tr:not(.islastrow)").each(function (row, tr) {
           
            TableData2[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "OrientationReqNubID": $('td.OrientationReqNubID input', this).val(),
                "ActualNubID": $('td.ActualNubID input', this).val(),
            };
            lstProtocolLines2 = JSON.stringify(TableData2);
        });
        SaveAsDraftProtocolLine(lstProtocolLines2, ControllerURL + "SaveProtocolLine2" + Linkage + "?HeaderId=" + parseInt($("#HeaderId").val()), 2);

        var TableData3 = []; //initialize array;
        var lstProtocolLines3 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines3 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            
            TableData3[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "OrientationAllowedShellOutOfRoundness": $('td.OrientationAllowedShellOutOfRoundness input', this).val(),
                "ActualShellOutOfRoundness": $('td.ActualShellOutOfRoundness input', this).val(),
            };
            lstProtocolLines3 = JSON.stringify(TableData3);
        });
        SaveAsDraftProtocolLine(lstProtocolLines3, ControllerURL + "SaveProtocolLine3" + Linkage + "?HeaderId=" + parseInt($("#HeaderId").val()), 3);

        var TableData4 = []; //initialize array;
        var lstProtocolLines4 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines4 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            
            TableData4[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "OtherDimensions": $('td.OtherDimensions input', this).val(),
                "ReqOtherDimensions": $('td.ReqOtherDimensions input', this).val(),
                "ActOtherDimensions": $('td.ActOtherDimensions input', this).val(),
            };
            lstProtocolLines4 = JSON.stringify(TableData4);
        });
        SaveAsDraftProtocolLine(lstProtocolLines4, ControllerURL + "SaveProtocolLine4" + Linkage + "?HeaderId=" + parseInt($("#HeaderId").val()), 4);
    }

    function AddTbl1NewTrRow(NewTrRowNum) {

        $("#hdGrid1LastRow").val(NewTrRowNum);

        var strhtml =
            "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            "<td class=\"LineId\" style=\"display:none;\">0</td>" +
            "<td class=\"Orientation\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','Orientation',['Orientation'],AddTbl1NewTrRow);\" id=\"Orientation_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"Orientation_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" aria-invalid=\"false\"></td>" +
            "<td class=\"ActTolReqElevationOfNubFrom center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"ActTolReqElevationOfNubFrom_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActTolReqElevationOfNubFrom_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>" +
            "<td class=\"ActTolReqElevationOfTopSide center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"ActTolReqElevationOfTopSide_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActTolReqElevationOfTopSide_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>" +
            "<td class=\"ActTolReqNubWidth center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"ActTolReqNubWidth_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActTolReqNubWidth_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>" +
            "<td class=\"ActTolReqNubHeight center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"ActTolReqNubHeight_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActTolReqNubHeight_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>" +
            "<td class=\"A1DimensionsChecked center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"A1DimensionsChecked_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"A1DimensionsChecked_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>" +
            "<td class=\"A2DimensionsChecked center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"A2DimensionsChecked_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"A2DimensionsChecked_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>" +
            "<td class=\"B1DimensionsChecked center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"B1DimensionsChecked_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"B1DimensionsChecked_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>" +
            "<td class=\"B2DimensionsChecked center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"B2DimensionsChecked_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"B2DimensionsChecked_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>" +
            "<td class=\"C1DimensionsChecked center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"C1DimensionsChecked_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"C1DimensionsChecked_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>" +
            "<td class=\"C2DimensionsChecked center \"><input class=\"form-control islastrow  EditableTextColor  PRODTextbox valid\" id=\"C2DimensionsChecked_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"C2DimensionsChecked_1_" + NewTrRowNum + "\" disabled  type=\"text\" ></td>"+
            "<td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines1')\" style=\"display:none\"></i></td>" +
            "</tr>";

        return strhtml;

    }

    function AddTbl2NewTrRow(NewTrRowNum) {

        $("#hdGrid2LastRow").val(NewTrRowNum);

        var strhtml =
            "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            "<td class=\"LineId\" style=\"display:none;\">0</td>" +
            "<td class=\"OrientationReqNubID\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"AddNextRow(this,'ShellOutOfRoundness',false,2,'hdGrid2LastRow','tblProtocolLines2','OrientationReqNubID',['OrientationReqNubID'],AddTbl2NewTrRow);\" id=\"OrientationReqNubID_2_" + NewTrRowNum + "\" maxlength=\"20\" name=\"OrientationReqNubID_2_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" aria-invalid=\"false\"></td>" +
            "<td class=\"ActualNubID center \"><input class=\"form-control islastrow  EditableTextColor  PRODTextbox calOAActual valid\" id=\"ActualNubID_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualNubID_2_" + NewTrRowNum + "\"  role=\"PROD\" disabled type=\"text\" ></td>"+
            "<td class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines2')\" style=\"display:none\"></i></td>" +
            "</tr>";

        return strhtml;

    }

    function AddTbl3NewTrRow(NewTrRowNum) {

        $("#hdGrid3LastRow").val(NewTrRowNum);

        var strhtml =
            "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            "<td class=\"LineId\" style=\"display:none;\">0</td>" +
            "<td class=\"OrientationAllowedShellOutOfRoundness\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"AddNextRow(this,null,false,3,'hdGrid3LastRow','tblProtocolLines3','OrientationAllowedShellOutOfRoundness',['OrientationAllowedShellOutOfRoundness'],AddTbl3NewTrRow);\" id=\"OrientationAllowedShellOutOfRoundness_3_" + NewTrRowNum + "\" maxlength=\"20\" name=\"OrientationAllowedShellOutOfRoundness_3_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" aria-invalid=\"false\"></td>" +
            "<td class=\"ActualShellOutOfRoundness center \"><input class=\"form-control islastrow  EditableTextColor  PRODTextbox calOBActual valid\" id=\"ActualShellOutOfRoundness_2_" + NewTrRowNum + "\" role=\"PROD\" maxlength=\"10\" name=\"ActualShellOutOfRoundness_2_" + NewTrRowNum + "\" disabled type=\"text\" ></td>" +
            "<td class=\"DeleteAction\"><i id=\"Delete_3_" + NewTrRowNum + "\" name=\"Delete_3_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines3')\" style=\"display:none\"></i></td>" +
            "</tr>";

        return strhtml;

    }

    function AddTbl4NewTrRow(NewTrRowNum) {

        $("#hdGrid4LastRow").val(NewTrRowNum);

        var strhtml =
            "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            "<td class=\"LineId\" style=\"display:none;\">0</td>" +
            "<td class=\"OtherDimensions\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"AddNextRow(this,'CheckPoint1',false,4,'hdGrid4LastRow','tblProtocolLines4','OtherDimensions',['OtherDimensions','ReqOtherDimensions'],AddTbl4NewTrRow);\" id=\"OtherDimensions_4_" + NewTrRowNum + "\" maxlength=\"100\" name=\"OtherDimensions_4_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" aria-invalid=\"false\"></td>" +
            "<td class=\"ReqOtherDimensions center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox valid\" id=\"ReqOtherDimensions_4_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ReqOtherDimensions_4_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"AddNextRow(this,null,false,4,'hdGrid4LastRow','tblProtocolLines4','OtherDimensions',['OtherDimensions','ReqOtherDimensions'],AddTbl4NewTrRow)\"></td>" +
            "<td class=\"ActOtherDimensions center \"><input class=\"form-control islastrow  EditableTextColor  PRODTextbox valid\" id=\"ActOtherDimensions_4_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActOtherDimensions_4_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>" +
            "<td class=\"DeleteAction\"><i id=\"Delete_4_" + NewTrRowNum + "\" name=\"Delete_4_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines4')\" style=\"display:none\"></i></td>" +
            "</tr>";

        return strhtml;

    }
</script>
