﻿@using IEMQSImplementation
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @{
                string strPMBTitle = "History of Pre Manufacturing";
            }
            @strPMBTitle
        </div>
        <div class="tools" id="dvExportHeaderHistory">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PMB/Header/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYHEADER.GetStringValue(), dvId = "#dvExportHeaderHistory" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblPMBHeader1" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">Project</th>
                    <th class="all">Document</th>
                    <th class="all">Customer</th>
                    <th class="all">Product</th>
                    <th class="all">Process Licensor</th>
                    <th class="all">Rev.</th>
                    <th class="all">Status</th>
                    <th class="all">Submitted By</th>
                    <th class="all">Submitted On</th>
                    <th class="all">Approved By</th>
                    <th class="all">Approved On</th>

                    <th class="all">Action</th>
                    <th class="" style="display:none;">HeaderId</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        var table = $('#tblPMBHeader1');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PMB/Header/LoadPMBHeaderHistoryData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                 @*{ "name": "CTQCompileStatus", "value": '@ViewBag.Role' },*@
                            { "name": "HeaderId", "value": '@ViewBag.HeaderId' }
                    );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeaderHistory").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeaderHistory").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "bSortable": true,
                    "name": "Project",
                    "sClass": "center",
                },
                {
                    "bSortable": true,
                    "name": "Document",
                    "sClass": "center"
                },

                {
                    "bSortable": true,
                    "name": "Customer",
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "Product",
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "ProcessLicensor",
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "name": "RevNo",
                    "sClass": "center"
                },
                 {
                     "bSortable": true,
                     "name": "Status",
                     "sClass": "center"
                 },

                {
                    "bSortable": true,
                    "name": "SubmittedBy",
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "SubmittedOn",
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "ApprovedBy",
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "ApprovedOn",
                    "sClass": "center"
                },

                {
                    "bSortable": false,
                    "sClass": "center",
                    //"sWidth": "10%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        buttons = '<center><a title="View" href="' + WebsiteURL + '/PMB/Header/getHistoryDetail?Id=' + row[12] + '"><i style="margin-left:5px;" class="fa fa-eye"></i></a><a onclick=ShowTimeline("/PMB/Header/ShowHistoryTimeline?HeaderID=' + row[11] + '");><i style="margin-left:5px;" class="fa fa-clock-o"></i></a></center>';
                        return buttons;
                    }
                },
                 {
                     "sClass": "hide"

                 },
            ]
        });

    });

</script>
<style>
    .modal-dialog {
        margin: 30px auto;
        width: 85% !important;
    }
</style>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>