﻿
@model IEMQSImplementation.QMS016
@using IEMQSImplementation
<style>
    .clsBootbox {
        padding: 0px !important;
    }

        .clsBootbox .modal-lg {
            width: 79% !important;
        }

    .clsAllowance {
        border: 1px solid #c2cad8;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        height: 34px;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 80px;
    }

        .clsAllowance[disabled], .clsAllowance[readonly] {
            background-color: #eef1f5;
            opacity: 1;
        }
</style>
<script type="text/javascript">

    var headerStatus;
    $(document).ready(function () {

        headerStatus = '@ViewBag.HeaderStatus';//$("#Status").val();
        var lineId = $("#LineId").val();

        LoadGetQualityIDLines('@Model.HeaderId');

        var lstStages = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.Stages))));
        var lstAcceptanceStandard = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.AcceptanceStandard))));
        var lstApplicableSpecification = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.ApplicableSpecification))));
        var lstInspectionExtent = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.InspectionExtent))));

        //FillAutoComplete($("#txtStageCode"), lstStages, $("#ddlStageCode"), false);
        //FillAutoComplete($("#txtAcceptanceStandard"), lstAcceptanceStandard, $("#ddlAcceptanceStandard"), true);
        //FillAutoComplete($("#txtApplicableSpecification"), lstApplicableSpecification, $("#ddlApplicableSpecification"), true);
        //FillAutoComplete($("#txtInspectionExtent"), lstInspectionExtent, $("#ddlInspectionExtent"), false);
        //$("#txtStageCode").blur(function () {
        //    $.ajax({
        //        url: "/IPI/QualityId/GetSquence",
        //        type: "POST",
        //        data: { stagecode: $("#ddlStageCode").val() },
        //        async: false,
        //        success: function (res) {
        //            $("#StageSequence").val(res);
        //        },
        //        error: function (data) { }
        //    });
        //});
        @*if (headerStatus == '@clsImplementationEnum.QualityIdHeaderStatus.SentForApproval.GetStringValue()') {
            $("#btnSaveLines").prop("disabled", "disabled");
        }*@

        //if (Status != null && Status != undefined && Status.toLowerCase() == "all")
        //{
        //    $("#btnNewLines").hide();
        //}

        $("#frmQualityIdLines").validate({
            rules: {
                txtStageCode0: {
                    required: true
                },
                AcceptanceStandard0: {
                    required: true
                },
                ApplicableSpecification0: {
                    required: true
                },
                txtInspectionExtent0: {
                    required: true
                }
            },
            messages: {
                txtStageCode0: {
                    required: "Stage Code Is Required"
                },
                AcceptanceStandard0: {
                    required: "Acceptance Standard Is Required"
                },
                ApplicableSpecification0: {
                    required: "Applicable Specification Is Required"
                },
                txtInspectionExtent0: {
                    required: "Inspection Extent Is Required"
                }
            }
        });

        $("#btnSaveLines").click(function () {
            if ($("#frmQualityIDLines").valid()) {
                var frmLineValues = $("#frmQualityIDLines").serializeArray();
                if (headerStatus == '@clsImplementationEnum.QualityIdHeaderStatus.Approved.GetStringValue()') {
                    bootbox.confirm("Do you want to revise?", function (data) {
                        if (data) {
                            SaveLines(frmLineValues);
                        }
                        else { bootbox.hideAll(); }
                    })
                }
                else
                    SaveLines(frmLineValues);
            }
        });
        $("#btnCancel").click(function () {
            bootbox.hideAll();
        });

        $("#btnNewLines").on('click', function () {
            debugger;
            if (headerStatus == '@clsImplementationEnum.QualityIdHeaderStatus.Approved.GetStringValue()') {

                bootbox.dialog({
                    title: "Revise Confirmation",
                    message: "Do you want to revise?",
                    size: "medium",
                    buttons: {
                        Yes: {
                            Label: "Yes",
                            className: 'btn green',
                            callback: function () {
                                ShowNewLines(this);
                            }
                        },
                        Cancel: {
                            label: 'No',
                            className: 'btn red',
                            callback: function () { }
                        }

                    }
                });
            }
            else {

                ShowNewLines(this);
            }
        });

        if (lineId != null && lineId != undefined && lineId != "" && lineId != 0) {
            $("#StageSequence").val('@Model.StageSequance');
            $("#txtStageCode").val('@ViewBag.StageSelected');
            $("#txtAcceptanceStandard").val('@ViewBag.AcceptanceStandardSelected');
            $("#txtApplicableSpecification").val('@ViewBag.ApplicableSpecificationSelected');
            $("#txtInspectionExtent").val('@ViewBag.InspectionExtentSelected');
            $("#txtStageCode").prop("readonly", "readonly");
        }

        $('#tblQualitIdLines').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(this).attr("hdElement");
            if ($(this).attr("colname").toLowerCase() == "txtstagecode")
                FillAutoComplete(element, lstStages, $("#" + hdElement), false);
            else if ($(this).attr("colname").toLowerCase() == "acceptancestandard")
                FillAutoComplete(element, lstAcceptanceStandard, $("#" + hdElement), true);
            else if ($(this).attr("colname").toLowerCase() == "applicablespecification")
                FillAutoComplete(element, lstApplicableSpecification, $("#" + hdElement), true);
            else if ($(this).attr("colname").toLowerCase() == "txtinspectionextent")
                FillAutoComplete(element, lstInspectionExtent, $("#" + hdElement), false);

        });

    });

    function ShowNewLines(obj) {

        $('#tblQualitIdLines').find("tbody tr:first").toggle();
        $('#tblQualitIdLines').find("tbody tr:first select:first").focus();
        if ($('#tblQualitIdLines').find("tbody tr:first").is(":visible")) {
            //$(obj).val("Cancel");
            $(obj).html('<i class="fa fa-times"></i> Cancel');
            //var delayedFn, blurredFrom;
            //$('#tblQualitIdLines').find("tbody tr:first").on('blur', 'a', function (event) {
            //    blurredFrom = event.delegateTarget;
            //    delayedFn = setTimeout(function () {
            //        SaveLines();//SaveHeader($("#frmQualityIDHeader").serializeArray());
            //    }, 0);
            //});
            //$('#tblQualitIdLines').find("tbody tr:first").on('focus', 'a', function (event) {
            //    if (blurredFrom === event.delegateTarget) {
            //        clearTimeout(delayedFn);
            //    }
            //});
        }
        else {
            //$(obj).val("New");
            $(obj).html('<i class="fa fa-plus"></i> New');
            clearFirstRow($('#tblQualitIdLines').find("tbody tr:first"));
        }
    }

    function LoadGetQualityIDLines(headerId) {

        var table = $('#tblQualitIdLines');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": false,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            "bDestroy": true,
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 50,
            'iDisplayLength': 50,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/QualityId/LoadQualityIDStagesDataTable?refHeaderId=" + headerId,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportSubLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportSubLines").val(data.strSortOrder);
                    },
                    'async': false
                });
                $('input[maxlength]').maxlength({
                    alwaysShow: true,
                });
                ResetAddRow($('#tblQualitIdLines'));
            },
            "aoColumns": [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                //{
                //    "sClass": "center",
                //    "bSortable": false,
                //},
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "5%",
                },
            ]
        });
    }
    function LoadIPISamplingPlan(headerid, lineid, qProj, Project, bu, loc, qId, qRev, stage, stageseq, isFromQID, isEditable, title, stagetype) {
        if (headerStatus == '@clsImplementationEnum.QualityIdHeaderStatus.Approved.GetStringValue()') {
            bootbox.dialog({
                title: "Revise Confirmation",
                message: "Do you want to revise?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            ReviseHeader(headerid, lineid, qProj, Project, bu, loc, qId, qRev, stage, stageseq, true, isEditable, title, true, stagetype);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () {
                            if (stagetype == '@clsImplementationEnum.SeamStageType.Chemical.GetStringValue()' || stagetype == '@clsImplementationEnum.SeamStageType.PMI.GetStringValue()') {
                                LoadIPIMaintainSamplingPlan(headerid, lineid, qProj, Project, bu, loc, qId, qRev, stage, stageseq, true, false, title)
                            }
                            else if (stagetype == '@clsImplementationEnum.SeamStageType.Hardness.GetStringValue()') {
                                LoadHardnessFerritePartial(lineid, false, "Maintain Hardness Required Value");
                            }
                            else if (stagetype == '@clsImplementationEnum.SeamStageType.Ferrite.GetStringValue()') {
                                LoadHardnessFerritePartial(lineid, false, "Maintain ferrite test required range");
                            }
                        }
                    }
                }
            });
        }
        else {
            if (stagetype == '@clsImplementationEnum.SeamStageType.Chemical.GetStringValue()' ||  stagetype == '@clsImplementationEnum.SeamStageType.PMI.GetStringValue()') {
                LoadIPIMaintainSamplingPlan(headerid, lineid, qProj, Project, bu, loc, qId, qRev, stage, stageseq, true, isEditable, title)
            }
            else if (stagetype == '@clsImplementationEnum.SeamStageType.Hardness.GetStringValue()') {
                LoadHardnessFerritePartial(lineid, isEditable, "Maintain Hardness Required Value");
            }
            else if (stagetype == '@clsImplementationEnum.SeamStageType.Ferrite.GetStringValue()') {
                LoadHardnessFerritePartial(lineid, isEditable, "Maintain ferrite test required range");
            }
        }
    }


    function LoadHardnessFerritePartial(lineid, isEditable, title) {
        bootbox.hideAll();
        var cls = "";
        if (isEditable == "false" || isEditable == "" || isEditable == null) {
            cls = "hide";
        }
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/QualityId/GetHardnessFerritePartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { lineid: parseInt(lineid), isEditable: isEditable },
            success: function (result) {
                bootbox.dialog({
                    title: title,
                    message: result,
                    size: 'medium',
                    className: "higherzindex clsBootbox",
                    buttons: {
                        Maintain: {
                            Label: "Maintain",
                            className: 'btn green ' + cls,
                            callback: function () {
                                if ($("#frmRequiredValues").valid()) {
                                    var frmLineValues = $("#frmRequiredValues").serializeArray();
                                    var formdata = new FormData();
                                    if (frmLineValues != null && frmLineValues != undefined) {
                                        $.each(frmLineValues, function (key, input) {
                                            formdata.append(input.name, input.value);
                                        });
                                    }

                                    $.ajax({
                                        url: WebsiteURL + "/IPI/QualityId/SaveHardness",
                                        type: "POST",
                                        data: formdata,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        contentType: false,
                                        processData: false,
                                        success: function (res) {
                                            if (res.Key) {
                                                $('#tblQualitIdLines').DataTable().ajax.reload();
                                                DisplayNotiMessage("success", res.Value, "Success");
                                            }
                                            else {
                                                DisplayNotiMessage("error", res.Value, "Error");
                                            }
                                            if (res.Remarks != null && res.Remarks.length > 0)
                                                DisplayNotiMessage("info", res.Remarks, "Info");
                                        },
                                        error: function (data) { }
                                    })
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                            }
                        },
                        Cancel: {
                            label: 'Close',
                            className: 'btn red',
                        }
                    }
                })
            }
        })
    }


    function ReviseHeader(headerid, lineid, qProj, Project, bu, loc, qId, qRev, stage, stageseq, isFromQID, isEditable, title, IsCallback, stagetype) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/QualityId/ReviseHeader",
            datatype: 'json',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerid: headerid, updateLineflag: true, lineid: lineid },
            success: function (res) {
                if (!res.Key) {
                    DisplayNotiMessage("error", res.Value, "Error");
                }
                else {
                    revno = parseInt(res.RevNo);
                    if (IsCallback) {
                        if (stagetype == '@clsImplementationEnum.SeamStageType.Chemical.GetStringValue()' || stagetype == '@clsImplementationEnum.SeamStageType.PMI.GetStringValue()') {
                            LoadIPIMaintainSamplingPlan(headerid, lineid, qProj, Project, bu, loc, qId, qRev, stage, stageseq, true, true, title);
                        }
                        else if (stagetype == '@clsImplementationEnum.SeamStageType.Hardness.GetStringValue()') {
                            LoadHardnessFerritePartial(lineid, true, "Maintain Hardness Required Value");
                        }
                        else if (stagetype == '@clsImplementationEnum.SeamStageType.Ferrite.GetStringValue()') {
                            LoadHardnessFerritePartial(lineid, true, "Maintain ferrite test required range");
                        }
                        $('#tblQualitIdLines').DataTable().ajax.reload();
                        SetColumnValuesHeader(res.HeaderStatus,"R"+ res.RevNo);
                        //$('#tblQualitID').DataTable().ajax.reload();
                        headerStatus = res.HeaderStatus;
                    }
                }
            },
            error: function (data) { }
        })
    }


    function GetStageSequence(stagecode) {
        $.ajax({
            url: WebsiteURL + "/IPI/QualityId/GetSquence",
            type: "POST",
            data: { stagecode: $("#ddlStageCode").val() },
            async: false,
            success: function (res) {
                $("#StageSequence").val(res);
            },
            error: function (data) { }
        });
    }

    function SaveLines(isContinue) {

        if ($("#frmQualityIdLines").valid()) {
            var frmLineValues = $("#frmQualityIdLines").serializeArray();
            if (headerStatus == '@clsImplementationEnum.QualityIdHeaderStatus.Approved.GetStringValue()') {

                bootbox.dialog({
                    title: "Revise Confirmation",
                    message: "Do you want to revise?",
                    size: "medium",
                    buttons: {
                        Yes: {
                            Label: "Yes",
                            className: 'btn green',
                            callback: function () {
                                Save(frmLineValues, isContinue);
                            }
                        },
                        Cancel: {
                            label: 'No',
                            className: 'btn red',
                            callback: function () { }
                        }

                    }
                });
            }
            else {
                Save(frmLineValues, isContinue);
            }

        }

    }

    function ValidateField(objField) {
        var Validations = $(objField).attr("validate");
        var array = Validations.split(',');

        $(array).each(function (index, value) {

            return ValidateFormData($(objField), value);
        });

    }

    function ValidateFormData(objField, validateType) {

        if (validateType.toLowerCase() == "required") {

            if ($.trim($(objField).val()) == "") {
                $(objField).addClass("error");
                $(objField).reset();
                return false;
            }
        }

        return true;

    }

    function CheckDuplicateStages(objStage, _headerId, _lineId) {

        var elem = $(objStage).attr("hdElement");
        stageCode = $('#' + elem).val();

        $.ajax({
            url: WebsiteURL + "/IPI/QualityId/CheckDuplicateStages",
            type: "POST",
            data: { headerId: _headerId, lineId: _lineId, stageCode: stageCode },
            async: false,
            success: function (res) {
                if (!res.Key) {
                    DisplayNotiMessage("error", res.Value, "Error");
                }
            },
            error: function (data) { }
        });

    }

    function Save(frmLineValues) {
        var formdata = new FormData();
        if (frmLineValues != null && frmLineValues != undefined) {
            $.each(frmLineValues, function (key, input) {
                formdata.append(input.name, input.value);
            });
        }

        $.ajax({
            url: WebsiteURL + "/IPI/QualityId/SaveLines",
            type: "POST",
            data: formdata,
            async: false,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.Key && res.HeaderId > 0) {

                    $('#tblQualitIdLines').DataTable().ajax.reload();
                    // $('#tblQualitID').DataTable().ajax.reload();
                    SetColumnValuesHeader(res.HeaderStatus,"R"+ res.RevNo);
                    headerStatus = res.HeaderStatus;
                    ShowNewLines($('#btnNewLines'));

                }
                else {
                    DisplayNotiMessage("error", res.Value, "Error");
                }
                if (res.Remarks != null && res.Remarks.length > 0)
                    DisplayNotiMessage("info", res.Remarks, "Info");
            },
            error: function (data) { }
        })
    }

    function UpdateQIDStage(objColumn, rowID) {
        //if (!ValidateField(objColumn)) {
        //    return false;
        //}
        var columnValue = $(objColumn).val();
        var elem = $(objColumn).attr("hdElement");
        var hdElement, columnName, columnValue;
        if ($(objColumn).attr("id").match("^txt")) {
            hdElement = $("#" + elem);
            columnName = $('#' + elem).attr("colname");
            columnValue = $('#' + elem).val();
        }
        else {
            columnName = $(objColumn).attr("colname");
            columnValue = $(objColumn).val();
        }
        //hdElement = $("#" + elem);
        if (headerStatus == '@clsImplementationEnum.QualityIdHeaderStatus.Approved.GetStringValue()') {


            bootbox.dialog({
                title: "Revise Confirmation",
                message: "Do you want to revise?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            UpdateStages(rowID, columnName, columnValue);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }

                }
            });

        }
        else {
            UpdateStages(rowID, columnName, columnValue)
        }
    }

    function UpdateStages(rowID, columnName, columnValue) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/QualityId/UpdateQIDStage",
            datatype: 'json',
            async: false,
            data: { lineId: rowID, columnName: columnName, columnValue: columnValue },
            success: function (result) {
                if (result.Key) {
                    //DisplayNotiMessage("success", result.Value, "Success");
                    $('#tblQualitIdLines').DataTable().ajax.reload();
                    //$('#tblQualitID').DataTable().ajax.reload();
                    SetColumnValuesHeader(result.HeaderStatus, result.RevNo);
                    headerStatus = result.HeaderStatus;
                }
                if (result.Remarks != null && result.Remarks.length > 0)
                    DisplayNotiMessage("info", result.Remarks, "Info");
            },
            error: function () {
                alert('error...');
            }
        });
    }

    function DeleteQualityIdStage(headerId, lineId) {
        var message = "";
        if (headerStatus == '@clsImplementationEnum.QualityIdHeaderStatus.Approved.GetStringValue()') {
            message += "Do you want to revise?";
        }
        else {
            message += "Do you want to delete record?";
        }

        bootbox.dialog({
            title: "Delete Confirmation",
            message: message,
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        $.ajax({
                            url: WebsiteURL + "/IPI/QualityId/DeleteQualityIdStage",
                            type: "POST",
                            data: { headerId: parseInt(headerId), lineId: parseInt(lineId) },
                            async: false,
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key) {
                                    $("#lblStatus").text(data.HeaderStatus);
                                    $("#Status").val(data.HeaderStatus);
                                    $("#RevNo").val(data.RevNo);
                                    $('#tblQualitIdLines').DataTable().ajax.reload();
                                    // $('#tblQualitID').DataTable().ajax.reload();
                                    SetColumnValuesHeader(data.HeaderStatus, "R" + data.RevNo);
                                    if (data.Remarks != null && data.Remarks.length > 0)
                                        DisplayNotiMessage("info", data.Remarks, "Info");
                                    if (data.Value != null && data.Value.length > 0)
                                        DisplayNotiMessage("success", data.Value, "Success");
                                    headerStatus = data.HeaderStatus;
                                }
                                else
                                    DisplayNotiMessage("error", data.Value, "Error");
                            },
                            error: function (data) { }
                        });
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }

            }
        });

    }

</script>

<form id="frmQualityIdLines">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @ViewBag.QualityIdName - Stages
                </div>
                <div class="tools" id="dvExportSubLines">
                    @if (ViewBag.HeaderStatus != clsImplementationEnum.QualityIdHeaderStatus.SentForApproval.GetStringValue())
                    {
                        <div class="btn-group">
                            <a style="margin-right:5px;" id="btnNewLines" class="btn btn-circle white btn-outline btn-sm">
                                <i class="fa fa-plus"></i> New
                            </a>
                        </div>
                        @*<input type="button" id="btnNewLines" value="Add New" name="btnNewLines" style="height:20px !important;padding:0px 5px" class="btn purple" />*@
                    }
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/QualityId/GenerateExcel", GridType = clsImplementationEnum.GridType.SUB_LINES.GetStringValue(), dvId = "#dvExportSubLines" })
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblQualitIdLines" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="min-phone-l" style="display:none;">HeaderId</th>
                            <th class="min-phone-l" style="display:none;">LineId</th>
                            <th class="min-phone-l" style="display:none;">QualityId</th>
                            <th class="all">Stage Code-Description</th>
                            <th class="min-phone-l">Seq.</th>

                            <th class="min-phone-l">Acc. Std</th>
                            <th class="min-phone-l">App. Spec.</th>
                            <th class="min-phone-l">Insp. Ext.</th>
                            <th class="min-phone-l">Remarks</th>
                            <th class="min-phone-l">Status</th>
                            <th class="min-phone-l">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</form>

@*<div class="row">
        <form class="form-horizontal" id="frmQualityIDLines">
            <div class="col-md-12">
                <fieldset>
                    <legend>Quality ID Lines</legend>
                    <div class="col-md-12">
                        @Html.HiddenFor(m => m.HeaderId)
                        @Html.HiddenFor(m => m.LineId)
                        @Html.HiddenFor(m => m.RevNo)
                        <div class="col-md-4">
                            <label class="control-label">Stage<span class="required"> * </span></label>
                            <input type="text" id="txtStageCode" name="txtStageCode" class="form-control col-md-3" />
                            @Html.HiddenFor(m => m.StageCode, new { @id = "ddlStageCode" })
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Stage Sequence</label>
                            @Html.TextBoxFor(m=>m.StageSequance, new { @id = "StageSequence", @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Acceptance  Standard<span class="required"> * </span></label>
                            <input type="text" id="txtAcceptanceStandard" name="txtAcceptanceStandard" class="form-control col-md-3" maxlength="40" />
                            @Html.HiddenFor(m => m.AcceptanceStandard, new { @id = "ddlAcceptanceStandard" })
                        </div>


                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Applicable Specification<span class="required"> * </span></label>
                            <input type="text" id="txtApplicableSpecification" name="txtApplicableSpecification" class="form-control col-md-3" maxlength="40" />
                            @Html.HiddenFor(m => m.ApplicableSpecification, new { @id = "ddlApplicableSpecification" })
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Inspection Extent<span class="required"> * </span></label>
                            <input type="text" id="txtInspectionExtent" name="txtInspectionExtent" class="form-control col-md-3" />
                            @Html.HiddenFor(m => m.InspectionExtent, new { @id = "ddlInspectionExtent" })
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Remarks</label>
                            <div class="">
                                @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control col-md-3", @maxlength = "40" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-8"></div>
                        <div class="col-md-4" style="text-align:right;margin-top:3% !important;">
                            <input type="button" class="btn green" id="btnSaveLines" value="Save" />
                            <input type="button" class="btn red" id="btnCancel" value="Cancel" />
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>*@
