﻿@using IEMQSImplementation
@model IEMQSImplementation.QMS015
<style>
    .clsBootbox {
        padding: 0px !important;
    }

        .clsBootbox .modal-lg {
            width: 79% !important;
        }
</style>

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @Model.QualityId
        </div>
        <div class="tools" id="dvExportHistView">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/QualityId/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYVIEW.GetStringValue(), dvId = "#dvExportHistView" })
        </div>
    </div>
    <div class="portlet-body">
        <table id="tblHistoryDetail" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%" >
            <thead>
                <tr>
                    <th class="all">#</th>
                    <th style="display:none;">Id</th>
                    <th class="min-phone-l">QualityID</th>
                    <th class="min-phone-l">RevNo.</th>
                    <th class="min-phone-l">Status</th>
                    <th class="min-phone-l">Created By</th>
                    <th class="min-phone-l">Created On</th>
                    <th class="min-phone-l">Modified By</th>
                    <th class="min-phone-l">Modified On</th>
                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        var table = $('#tblHistoryDetail');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5,10, 25, 50, 100],
                [5,10, 25, 50, 100]
            ],
            "pageLength": 50,
            'iDisplayLength': 50,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/QualityId/LoadHistoryDetailData?headerId="+@Model.HeaderId,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHistView").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHistView").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                    {
                        "bSortable": false,
                        "sClass": "center",
                    },
                    {
                        "bSortable": false,
                        "sClass": "hide",
                    },
                    {
                        "bSortable": false,
                        "sClass": "center",
                    },
                    {
                        "bSortable": false,
                        "sClass": "center",
                    },

                    {
                        "bSortable": false,
                        "sClass": "center",
                    },
                    {
                        "bSortable": false,
                        "sClass": "center",
                    },
                    {
                        "bSortable": false,
                        "sClass": "center",
                    },
                    {
                        "bSortable": false,
                        "sClass": "center",
                    },
                    {
                        "bSortable": false,
                        "sClass": "center",
                    },
                    {
                        "bSortable": false,
                        "sClass": "center",
                        //"sWidth": "10%",
                        "render": function (data, type, row, meta) {
                            var buttons = "";
                            buttons = '<center><a class="" target="_blank"  href="' + WebsiteURL + '/IPI/QualityId/HistoryView?id=' + row[1] + '"><i style="margin-left:5px;" title="View" class="fa fa-eye"></i></a>';
                            buttons += '<a class="" href="javascript:void(0)" onclick=ShowTimeline("/IPI/QualityId/ShowLogTimeline?id=' + row[1] + '");><i style="margin-left:5px;" class="fa fa-clock-o"></i></a>';
                            buttons += '</center>';
                            return buttons;
                        }
                    },
            ]
        });

    });
    
</script>

