﻿
@using IEMQSImplementation
@model FKM007

<script src="~/Scripts/bootbox.js"></script>

<script type="text/javascript">

    function HideUnHide() {
        if ($("#Type").val() == "Enabling Material") {
            
            $(".ReqQty").show();
            $(".EM").show();
            $(".FK").hide();
            $(".HK").hide();
            $(".SK").hide();
        }
        else if ($("#Type").val() == "Full Kit") {
            $(".ReqQty").hide();
            $(".EM").hide();
            $(".FK").show();
            $(".HK").hide();
            $(".SK").hide();
        }
        else if ($("#Type").val() == "Hard Kit") {
            $(".ReqQty").show();
            $(".EM").hide();
            $(".FK").hide();
            $(".HK").show();
            $(".SK").hide();
        }
        else if ($("#Type").val() == "Hard Kit by Element")
        { }
        else if ($("#Type").val() == "Soft Kit") {
            $(".ReqQty").show();
            $(".EM").hide();
            $(".FK").hide();
            $(".HK").hide();
            $(".SK").show();
        }
    }

    function GetAvaQty() {
        var Fkms = $("#FullKit_No").val();
        var PartNo = $("#HKTitle").val();
        var ItemCode = $("#EMDesc").val();

        $.ajax({
            type: "POST",
            url: "/FKMS/PlannerFKMS/GetAvaQty",
            data: '{ Fkms: "' + Fkms + '", PartNo: "' + PartNo + '", ItemCode: "' + ItemCode + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (TotalQty) {
                for (var i = 0; i < TotalQty.length; i++) {
                    $("#AvaQty").val(TotalQty[i]);                  
                     }

            }
        });
    }

    $(document).ready(function () {


        $("#EMTitle").autocomplete({
            source: function (request, response) {                
                $.ajax({
                    url: '/FKMS/PlannerFKMS/GetEM',
                    data: "{ 'prefix': '" + request.term + "'  }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Part, val: item.Part };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    },
                    error: function (response) {
                        
                    },
                    failure: function (response) {
                       
                    }
                });
            },
            select: function (e, i) {                
            },
            minLength: 0
        });

        $("#ChildKit").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/FKMS/PlannerFKMS/GetFK',
                    data: "{ 'prefix': '" + request.term + "' ,  'fullkit': '" + $("#FullKit_No").val() + "' }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                           
                            return { label: item.FullKit_No, val: item.FullKit_No };
                          
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    },
                    error: function (response) {

                    },
                    failure: function (response) {

                    }
                });
            },
            select: function (e, i) {
            },
            minLength: 0
        });


        $("#HKTitle").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/FKMS/PlannerFKMS/GetHK',
                    data: "{ 'prefix': '" + request.term + "', 'fullkit': '" + $("#FullKit_No").val() + "'  }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.PartNo + ' ~ ' + item.itemDesc, val: item.itemcode, id: item.PartNo };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    },
                    error: function (response) {

                    },
                    failure: function (response) {

                    }
                });
            },
            select: function (e, i) {
                $("#EMDesc").val(i.item.val)
                $("#HKTitle").val(i.item.id)
                GetAvaQty();
            },
            minLength: 0
        });



        $("#EMTitle").blur(function () {
            if (!isSelected) {
                $("#EMTitle").val("");                
            }
        });

        $("#HKTitle").blur(function () {
            if (!isSelected) {
                $("#HKTitle").val("");
            }
        });

        $("#ChildKit").blur(function () {
            if (!isSelected) {
                $("#ChildKit").val("");
            }
        });


        

        if ('@Model.ReqQty' != '' && '@Model.ReqQty' != 'null' && '@Model.ReqQty' != null) {
            $("#ReqQty").val('@Model.ReqQty');
        }

        if ('@Model.Type' == 'Enabling Material') {
            $("#Type").val('Enabling Material')
            $("#EMTitle").val('@Model.PartNo')
            $("#EMDesc").val('@Model.ItemCode')
            $("#ReqQty").val('@Model.ReqQty')
            HideUnHide()
        }
        else if ('@Model.Type' == 'Full Kit') {
            $("#Type").val('Full Kit')
            $("#ChildKit").val('@Model.PartNo')          
            $("#ReqQty").val('@Model.ReqQty')
            HideUnHide()
        }
        else if ('@Model.Type' == 'Soft Kit') {
            $("#Type").val('Soft Kit')
            $("#SoftkitDesc").val('@Model.PartNo')
            $("#ReqQty").val('@Model.ReqQty')
            HideUnHide()
        }
        else if ('@Model.Type' == 'Hard Kit') {
            $("#Type").val('Hard Kit')
            $("#HKTitle").val('@Model.PartNo')
            $("#HKTitle").prop("disabled", true);
            $("#EMDesc").val('@Model.ItemCode')
            $("#ReqQty").val('@Model.ReqQty')
            HideUnHide()
        }

        $('#frmFKMSDeatils').validate({            
            rules: {
                EMTitle: {
                    required: true
                },
                ChildKit: {
                    required: true
                },
                HKTitle: {
                    required: true
                },
                SoftkitDesc: {
                    required: true
                },
                ReqQty: {
                    required: true
                },
            },
            messages: {
                EMTitle: {
                    required: "Enabling Material is required"
                },

                ChildKit: {
                    required: "Child Fullkit Number is required"
                },
                HKTitle: {
                    required: "Part No is required"
                },
                SoftkitDesc: {
                    required: "Softkit Description is required"
                },
                ReqQty: {
                    required: "Quantity is required"
                },
            },
        });
       
    });

  

</script>

<!-- BEGIN FORM-->
<div class="row" style="width:100%">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-body form">
                <div class="form-body">
                    <!-- BEGIN FORM-->
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmFKMSDeatils", @class = "form-horizontal" }))
                    {
                        <fieldset>
                            <legend>Fullkit Detail</legend>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Fullkit No
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.FullKit_No, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                        </fieldset>
                        <fieldset>
                            <legend>Fullkit Line Details</legend>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Kit Type
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @if (Model.Type == null)
                                            {
                                            <select id="Type" name="Type" class="form-control">
                                                <option value="Enabling Material">Enabling Material</option>
                                                <option value="Full Kit">Full Kit</option>
                                                <option value="Hard Kit">Hard Kit</option>
                                                <option value="Hard Kit by Element">Hard Kit by Element</option>
                                                <option value="Soft Kit">Soft Kit</option>
                                            </select>
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.Type, new { @class = "form-control", @readonly = "readonly" })

                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label EM">
                                            EM Title
                                            <span class="required"> * </span>
                                        </label>
                                        <label class="control-label FK" style="display:none">
                                            Child FullKit
                                            <span class="required"> * </span>
                                        </label>
                                        <label class="control-label HK" style="display:none">
                                            Part No
                                            <span class="required"> * </span>
                                        </label>
                                        <label class="control-label SK" style="display:none">
                                            SoftKit Desc.
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBox("EMTitle", "", new { id = "EMTitle", @class = "form-control EM", @placeholder = "Search Enabling Material" })
                                            @Html.TextBox("ChildKit", "", new { id = "ChildKit", @style = "display:none", @class = "form-control FK", @placeholder = "Search Fullkit" })
                                            @Html.TextBox("HKTitle", "", new { id = "HKTitle", @style = "display:none", @class = "form-control HK", @placeholder = "Search Part No" })
                                            @Html.TextBox("SoftkitDesc", "", new { id = "SoftkitDesc", @style = "display:none", @class = "form-control SK", @placeholder = "Enter Softkit Desc" })

                                        </div>
                                    </div>
                                    <div class="col-md-4 EM">
                                        <label class="control-label">
                                            EM Description                                            
                                        </label>
                                        <div class="">
                                            @Html.TextBox("EMDesc", "", new { id = "EMDesc", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 ReqQty HK">
                                        <label class="control-label">
                                            Available Bom Qty
                                        </label>
                                        <div class="">
                                            @Html.TextBox("AvaQty", "", new { id = "AvaQty", @class = "form-control", @readonly = "readonly" })
                                            @*  @Html.DropDownListFor(model => model.ActionBy, (SelectList)ViewBag.ActByDept, new { @class = "form-control", })*@
                                        </div>
                                    </div>
                                    <div class="col-md-4 ReqQty">
                                        <label class="control-label">
                                            Required Qty
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.ReqQty, new { @class = "form-control ReqQty" })
                                           
                                            @*  @Html.DropDownListFor(model => model.ActionBy, (SelectList)ViewBag.ActByDept, new { @class = "form-control", })*@
                                        </div>
                                    </div>
                                   

                                </div>
                            </div>

                            <div id="hiddenfields">
                                @Html.HiddenFor(model => model.LineId)
                                @Html.HiddenFor(model => model.HeaderId)
                            </div>
                        </fieldset>
                    }
                    <!-- END VALIDATION STATES-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END FORM-->

<script type="text/javascript">
    $(document).ready(function () {

        $("#btnNew").click(function () {
            ClearAll();
            //$("#btnCreateNew").text("Add Line");
            //$("#btnNew").hide();
        });

        $("#Type").change(function () {
           // var id = $('#Project :selected').text();

            HideUnHide()
            

        })

    });

    function ClearAll() {
        $("#EMTitle").val('');
        $("#ChildKit").val('');
        $("#HKTitle").val('');
        $("#SoftkitDesc").val('');
        $("#EMDesc").val('');
        $("#ReqQty").val('');
        $("#LineId").val('');
    }

    

</script>


