﻿@using IEMQSImplementation
@model FKM006
@{
    ViewBag.Title = "Fullkit Managment System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>

<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<link href="~/Content/ThemeCss/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/select2/js/select2.full.min.js"></script>

<script src="~/Scripts/select2/js/select2.full.min.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/select2/components-select2.min.js"></script>

<style>
    table.dataTable thead .sorting_asc:after {
        content: "";
        text-align: left;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<script>
    $(document).ready(function () {
        $("#thRemove").removeClass('sorting_asc');
        $("#thRemove").css('width', '7px');

        var isSelected = false;
        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });

        

        $('#FKMSCreateForm').validate({
            rules: {
                txtProject: {
                    required: true
                },
               
            },
            messages: {
                Project: {
                    required: "Please select Project"
                },              

            },
            submitHandler: function (form) {
                LineId = 0;
                var formData = new FormData();
                var frmValues = $('#FKMSCreateForm').serializeArray();
                $.each(frmValues, function (key, input) {
                    formData.append(input.name, input.value);
                });
                $.ajax({
                    url: "/FKMS/PlannerFKMS/SaveFKMS",
                    data: formData,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    success: function (data) {
                        if (data.Key) {
                            DisplayNotiMessage("success", "Fullkit has been generated successfully", "Success");
                            window.setTimeout('window.location.href = "/FKMS/PlannerFKMS/Index"', 1000);
                        }
                        else {

                        }
                    }
                });
            }
        });



       



    });
</script>


<h2>GenerateFullkit</h2>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body form">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "FKMSCreateForm", @class = "form-horizontal" }))
                        {
                            <div class="mt-element-ribbon bg-grey-steel" style="height:50px;">
                                <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                    <span class="page-title">Fullkit Managment System</span>
                                </div>
                                <div class="ribbon ribbon-right ribbon-color-warning ">
                                   
                                </div>
                                <p class="ribbon-content"></p>
                            </div>
                            <fieldset>
                                <legend>Generate Fullkit </legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">
                                                Project
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                <input type="text" id="txtProject" value="" name="txtProject" class="form-control col-md-3" />    
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="control-label">
                                                Fullkit Manager
                                            </label>
                                            <div class="">
                                                @Html.DropDownList("FullKitManager", (IEnumerable<SelectListItem>)ViewBag.FKManager, new { id = "FullKitManager", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">
                                                Shop
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @*@Html.DropDownList("ddlShop", null, new { id = "ddlShop", @class = "form-control col-md-3" })*@
                                                @Html.DropDownList("Shop", (IEnumerable<SelectListItem>)ViewBag.Shop, new { id = "Shop", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>

                                    <div id="hiddenfields" style="display:none">
                                        @Html.Label("lblLoca", "HZW", new { id = "lblLoca", @class = "form-control col-md-3" })
                                        @Html.TextBox("txtLoca", "HZW", new { id = "lblLoca", @class = "form-control col-md-3" , @style = "Display:none" })
                                    </div>

                                </div>

                            </fieldset>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4" style="text-align:right;margin-top:30px;">
                                        <button class="btn green" type="submit" style="float: right;" id="btnSubmit">Generate FullKit</button>

                                        @*@{
                                                if (Model.Status.ToLower() == "approved" || Model.CTQRev > 0)
                                                {
                                                    <button class="btn green" style="margin-right:5px;" type="button" id="btnHistoryData">History</button>
                                                }
                                            }
                                            @if (Model.Status == "Approved")
                                            {
                                                <button class="btn green" style="margin-right:5px;" type="button" id="btnCopyData">Copy</button>
                                            }*@
                                    </div>
                                </div>
                            </div>
                        }
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>