﻿
@using IEMQSImplementation
<style>
    .mycustomfilter th {
        min-width: 10px !important;
    }

    #fltRevNo {
        width: 10px !important;
    }

    .left18 {
        padding-left: 18px !important;
    }

    .highlight {
        background-color: #B0BED9 !important;
    }

        .highlight tr:hover {
            background-color: #B0BED9 !important;
        }
    /*.selected {
        background-color: #B0BED9 !important;
    }

        .selected tr:hover {
            background-color: #B0BED9 !important;
        }*/
    .sCenter {
        text-align: center;
    }

    .clsUploadspan {
        color: #4a7cf3;
        font-size: 13px !important;
    }

    .mt-checkbox, .mt-radio {
        padding-left: 0 !important;
        padding-right: 15px !important;
    }

    .MultDeleteModal-footer {
        padding-top: 3px !important;
    }
</style>

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Seam List
        </div>
        <div class="tools" id="dvExportHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/TestPlan/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })

            <div class="btn-group">
                <a style="margin-left:5px;display:none" id="btnImport" class="btn btn-circle white btn-outline btn-sm" onclick="ImportExcel()">
                    <i class="fa fa-file-excel-o"></i> Import
                </a>
            </div>
        </div>
        <div class="tools" id="dvMultiDelete">
            <div class="btn-group">
                <a style="margin-right:5px;display:none" id="btnMultiDelete" class="btn btn-circle white btn-outline btn-sm" onclick="AddDeleteStageMultiple('Delete')">
                    <i class="fa fa-trash-o"></i> Delete Stage
                </a>
            </div>
        </div>
        <div class="tools" id="dvMultiAdd">
            <div class="btn-group">
                <a style="margin-right:5px" id="btnMultiAdd" class="btn btn-circle white btn-outline btn-sm" onclick="AddDeleteStageMultiple('Add')">
                    <i class="fa fa-plus"></i> Add Stage
                </a>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <table id="tblTestPlanHeader" class="table table-striped table-bordered table-hover" cellspacing="0" style="width:100%">
            <thead>
                <tr>
                    @*<th>
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                <span></span>
                            </label>
                        </th>*@
                    <th class="all @(ViewBag.Status == "Pending"?"":" hide")">
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input name="select_all" value="1" id="example-select-all" type="checkbox">
                            <span></span>
                        </label>
                    </th>
                    <th class="hide">HeaderId</th>
                    <th class="hide">HasLines</th>
                    <th class="wordWrapCode">Seam No</th>
                    <th>QID Disc.</th>
                    <th>QID<br />Rev.</th>
                    <th>PTC<br />App.</th>
                    <th>PTC<br />No.</th>
                    <th>Return<br />Remark</th>
                    <th>Status</th>
                    <th>Rev<br />No.</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    var UtilityParams = undefined;
    var table = $('#tblTestPlanHeader');

    var headerStatus = $("#txtStatus").val();
    function SetColumnValuesHeader(headerstatus, revno) {
        var $row = $('#tblTestPlanHeader_wrapper tr.selected'); //var $row = $('#tblTestPlanHeader_wrapper tr.highlight');
        if (headerstatus != null && headerstatus != "" && headerstatus != undefined) {
            $row.find("td.status").text(headerstatus);
        }
        if (revno != null && revno != "" && revno != undefined && revno != "R") {
            $row.find("td.RevNo").text(revno);
        }
    }

    function FunMaxLen() {
        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });
    }
    $(document).ready(function () {
        if (IsDisplayOnly) {
            $("#btnImport").hide();
        }
        var lstQId = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.QualityID))));

        $('#tblTestPlanHeader').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = element.attr("hdElement");

            if ($(this).attr("colname") == "txtQualityId") {
                FillIPIQIDAutoComplete(element, lstQId, $("#" + hdElement), false);
            }
        });

        $('#example-select-all').on('click', function () {
            var table = $('#tblTestPlanHeader');
            var oTableHeader = table.dataTable();
            var rows = oTableHeader.api().rows({ 'search': 'applied' }).nodes();
            $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
        });

        UtilityParams = {
            sUrl: "/IPI/TestPlan/GetTestPlanData?qProj=" + '@ViewBag.QualityProject' + "&location=" + '@ViewBag.Location',
            aServerParams: [{ "name": "CTQCompileStatus", "value": '@ViewBag.Status' }, { "name": "IsDisplayOnly", "value": IsDisplayOnly }],
            aiLengthMenu: [5, 10, 25, 50, 100, 200, 500],
            iPageLength: '@ViewBag.DefaultPageSize',
            iResponsiveOnWindowWidth: 500,
            bIsLazyLoading: false,
            bIsIgnoreHiddenColumns: false,
            bIsFirstColumnCheckbox: true,
            bIsFixedHeader: true,
            bIsResponsive: false,
            bIsSearchFilter: true,
            bIsWrapHeader: false,
            aoCustomSetting: [{
                prop: "oSearch", value: {
                    "sSearch": GetDefaultSearchText()
                }
            }],
            aaSort: [],
            // iFCLeft: @(ViewBag.Status == "Pending"?3:2),
            //  iFCRight: 1,
            sBtnDivSelector: "#dvExportHeader",
            fnServerDataCallback: function (aoData, data) {
                if ('@ViewBag.lstTP_SWPSeams' != '') {
                    var str = '@ViewBag.lstTP_SWPSeams';
                    var str_array = str.split(',');
                    for (var i = 0; i < str_array.length; i++) {
                        $('#tblTestPlanHeader_wrapper tbody input[type="checkbox"]').each(function () {
                            if ($(this).attr("seamNo") == str_array[i]) {
                                $(this).attr("checked", "checked");
                            }
                        });
                    }
                }
            },
            aoColumns: [
                {
                    'targets': 0,
                    "bSortable": false,
                    "sWidth": "2%",
                    "sClass": 'scenter  @(ViewBag.Status == "Pending"?"":" hide")' + (IsDisplayOnly ? ' hide' : ''),
                    'render': function (data, type, full, meta) {
                        var buttons = "";
                        if (full[9].trim() != "Sent for Approval") {
                            buttons = '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox" name="id[]" seamNo="' + full[3].trim() + '" class="clsCheckbox" value="' + $('<div />').text(data).html() + '" ><span></span></label>';
                        }
                        return buttons;
                    }
                },
                { //1

                    "sClass": "hide",
                    "name": "HeaderId",
                },
                { //2~
                    "sClass": "hide",
                    "name": "HasLines",
                },
                { //3
                    "sClass": "center loaddata",
                    "name": "SeamNo", "sWidth": "20%"
                },
                { //4
                    "sClass": "center",
                    "name": "QualityId", "sWidth": "15%"
                },
                { //5
                    "sClass": "center loaddata",
                    "name": "QualityIdRev",
                    "attr": "numeric",
                    "sWidth": "3%"
                },
                { //6
                    "sClass": "center",  //"sClass": "center loaddata",
                    "name": "PTCApplicable",
                    "attr": "dropdown",
                    "sWidth": "9%"
                },
                { //7
                    "sClass": "center",  //"sClass": "center loaddata",
                    "name": "PTCNumber",
                    "sWidth": "10%"
                },
                { //8
                    "sClass": "center loaddata",
                    "name": "ReturnRemark", "sWidth": "15%"
                },
                { //9
                    "sClass": "center status loaddata",
                    "name": "Status", "sWidth": "5%"
                },
                { //10
                    "sClass": "center RevNo loaddata",
                    "name": "RevNo",
                    "attr": "numeric",
                    "sWidth": "5%"
                },
                { //11
                    "bSortable": false, "sWidth": "7%",
                    "sClass": "text-nowrap sCenter" + (IsDisplayOnly ? " hide" : ""),  //"sClass": "text-nowrap sCenter loaddata" + (IsDisplayOnly ? " hide" : ""),
                },
            ]
        };

        if (!IsDisplayOnly) {
            UtilityParams.oSRE = {
                sUrl: "/IPI/TestPlan/GetInlineEditableRow?qProj=" + $("#QualityProject").val() + "&location=" + $("#Location").val() + "&IsDisplayOnly=" + IsDisplayOnly,
                sCallback: 'FunMaxLen',
                iSelectedHeight: 68,
                bIsUpdateFromServer: true,
                bIsAddBtnNew: false
            };
        }


        function GetDefaultSearchText() {
            window.setTimeout(function () {
                $("#tblTestPlanHeader_wrapper,#tblTestPlanHeader").find(".dataTables_filter input").attr("data-prevVal", '@ViewBag.DefaultSearch')
            }, 500);
            return '@ViewBag.DefaultSearch';
        }


        @*table.on('init.dt', function (e, settings, json) {
            table.DataTable().search('@ViewBag.DefaultSearch').draw();
        });*@


        $('#tblTestPlanHeader').dtUtility(UtilityParams);

        if ('@ViewBag.Status' == "Pending") {
            $("#btnSendForApproval").show();
        }
        else {
            $("#btnSendForApproval").hide();
        }

        $('tbody', '#tblTestPlanHeader_wrapper').on("click", ".loaddata", function () {
            var row = $(this).closest('tr');
            var rowIndex = $(row).index();
            var tableRow = $('#tblTestPlanHeader').find("tbody tr:eq(" + rowIndex + ")")
            var data = $('#tblTestPlanHeader').dataTable().fnGetData(tableRow);
            var hdrId = $(data[1]).val();//$($(this)).find('td').eq(0).text();
            var $FDLTR = $('.DTFC_LeftBodyWrapper', '#tblTestPlanHeader_wrapper').find("tbody tr:eq(" + rowIndex + ")");
            var $FDRTR = $('.DTFC_RightBodyWrapper', '#tblTestPlanHeader_wrapper').find("tbody tr:eq(" + rowIndex + ")");

            if (IsDisplayOnly) {
              $("#tblTestPlanHeader tr").removeClass("highlight");
              $(tableRow).closest('tr').addClass("highlight");
              $(".DTFC_LeftBodyWrapper tr").removeClass("highlight");
              $(".DTFC_RightBodyWrapper tr").removeClass("highlight");
              $FDLTR.addClass('highlight');
              $FDRTR.addClass('highlight');
            }

            $(".DTFC_LeftBodyWrapper").find("[type=checkbox]").prop('checked', false);
            $FDLTR.find("[type=checkbox]").prop('checked', true);

            if ($("#dvTestPlanLineDetails").css("display") == "block") { }
            else {
                $("#dvTestPlanLineDetails").show();
            }
            GetTestPlanLinePartial(hdrId);
        });

        $('#tblTestPlanHeader tbody').on('change', 'input[type="checkbox"]', function () {
            if (!this.checked) {
                var el = $('#example-select-all').get(0);
                if (el && el.checked && ('indeterminate' in el)) {
                    el.indeterminate = true;
                }
                SetSeamNos($(this).attr("seamNo"), "remove");
            }
            else {
                SetSeamNos($(this).attr("seamNo"), "add");
            }
        });
    });

    //update header data (Quality ID,PTC applicable,PTC number)
    function UpdateData(objColumn, rowID, rowStatus) {

        if ($("select[colname='PTCApplicable']").val() == "True") {
            $("input[colname='PTCNumber']").prop('disabled', false);
        }
        else {
            $("input[colname='PTCNumber']").prop('disabled', true);
        }
        if (rowStatus == '@clsImplementationEnum.TestPlanStatus.Approved.GetStringValue()') {
            bootbox.dialog({
                title: "Revise Confirmation",
                message: "Do you want to revise?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            SaveData(objColumn, rowID);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }

                }
            });
        }
        else {
            SaveData(objColumn, rowID);
        }
    }

    function SaveData(objColumn, rowID) {

        var elem = $(objColumn).attr("hdElement");
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");
        if ($(objColumn).attr("id").match("^txt")) {
            hdElement = $("#" + elem);
            columnName = $('#' + elem).attr("colname");
            columnValue = $('#' + elem).val();
        }
        else {
            columnName = $(objColumn).attr("colname");
            columnValue = $(objColumn).val();
        }

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/TestPlan/UpdateData",
            datatype: 'json',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            //async: false,
            data: { headerId: rowID, columnName: columnName, columnValue: columnValue },
            success: function (result) {
                if (result.Key) {
                    //DisplayNotiMessage("success", result.Value, "Success");
                    //$('#tblTestPlanHeader').DataTable().ajax.reload();
                    //UtilityParams.dtReload();
                    SetColumnValuesHeader(result.HeaderStatus, result.RevNo);
                    if (columnName == "QualityId") {
                        $('#tblTestPlanDetails').DataTable().ajax.reload();
                    }
                }
                if (result.Remarks != null && result.Remarks.length > 0)
                    DisplayNotiMessage("info", result.Remarks, "Info");
            },
            error: function () {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            }
        });
    }

    function SetSeamNos(_seamNo, _action) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/TestPlan/SetSeamNoList",
            datatype: 'json',
            async: false,
            data: { seamNo: _seamNo, action: _action },
            success: function (result) {
                if (result.Key) {
                    //DisplayNotiMessage("success", result.Value, "Success");
                }
            },
            error: function () {
                //DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            }
        });
    }

    var strHtml = "<scr" + "ipt>$(document).ready(function(){"

              + "$('#uploadForm').validate({"
              + " rules: {"
              + "upload: {"
              + "required: true,"
              + "},"
              + "messages: {"
              + "upload: {"
              + "required: 'Attachment is required'"
              + "}"
              + "}"
               + "}"
              + "});"
              + "});</scr" + "ipt>"
              + " <div>"
              + "<form method='post' id='uploadForm' enctype = 'multipart/form-data' class='form-horizontal' action=''>"
              + "<div class='form-group'>"
              + "<div class='col-md-12'>"
              + "<input type='hidden' id='aQualityProject' name='aQualityProject'/>"
              + "<input type='hidden' id='aProject' name='aProject' />"
              + "<input type='hidden' id='aBU' name='aBU' />"
              + "<input type='hidden' id='aLocation' name='aLocation'/>"
              + "<div class=''>"
              + " <span class='clsUploadspan'>Note : Please use given <b>'Export'</b> template for update Test Plan..!!</span>"
              + "</div>"
              + "<div class=''>"
              + "<input type='file' class='btn green' required='required' id='upload' name='upload' />"
              + "</div>"
              + "</div>"
              + "</div>"
              + "</form>"
              + "</div>";

    function ImportExcel() {

        bootbox.dialog({
            message: strHtml,
            buttons: {
                Yes: {
                    label: 'Upload',
                    className: 'btn-success',
                    callback: function () {
                        //if (result) {
                        if ($('#uploadForm').valid()) {
                            $("#aQualityProject").val($("#QualityProject").val());
                            $("#aProject").val($("#Project").val());
                            $("#aBU").val($("#hdBU").val());
                            $("#aLocation").val($("#Location").val());
                            var frmHeaderValues = $("#uploadForm").serializeArray();
                            var formdata = new FormData();
                            if (frmHeaderValues != null && frmHeaderValues != undefined) {
                                $.each(frmHeaderValues, function (key, input) {
                                    formdata.append(input.name, input.value);
                                });
                                formdata.append('upload', $('input[type=file]')[0].files[0]);
                            }
                            $.ajax({
                                url: WebsiteURL + "/IPI/TestPlan/ImportExcel",
                                type: "POST",
                                datatype: 'json',
                                //enctype: 'multipart/form-data',
                                contentType: false,
                                processData: false,
                                data: formdata,
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        //$('#tblTestPlanHeader').DataTable().ajax.reload();
                                        UtilityParams.dtReload();
                                    }
                                    else {
                                        if (data.Value == "Error") {
                                            window.location = WebsiteURL + '/Utility/General/Download?file=' + data.FileName;
                                            DisplayNotiMessage("error", "Please check error file", "Error");
                                        }
                                        else {
                                            DisplayNotiMessage("error", data.Value, "Error");
                                        }
                                    }
                                },
                                error: function () {
                                    return false;
                                }
                            });
                            return true;

                        }
                        else {
                            return false;
                        }
                        //}
                    }
                },
                Cancel: {
                    label: 'Close',
                    className: 'btn btnclose',
                    callback: function () { }
                }

            },

        });

    }

    function AddDeleteStageMultiple(action,lineid) {
        var sTitle = "";
        if (action == "Add") {
            sTitle = "Add Stage in Multiple Seams";
        } else {
            sTitle = "Remove Stage from Multiple Seams";
        }

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/TestPlan/LoadMultipleAddDeletePopupPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { QualityProject: '@ViewBag.QualityProject', BU: $("#hdBU").val(), Location: '@ViewBag.Location', ActionType: action, lineid: lineid },
            success: function (result) {

                bootbox.dialog({
                    title: sTitle,
                    message: result,
                    size: 'medium',
                    buttons: {
                        'confirm': {
                            label: action,
                            className: 'btn green',
                            callback: function () {

                                var actionUrl =""
                                var dataObject = "";

                                if (action == 'Add') {
                                    actionUrl = WebsiteURL + '/IPI/TestPlan/MultipleAdd';
                                    dataObject = { QualityProject: '@ViewBag.QualityProject', BU: $("#hdBU").val(), Location: '@ViewBag.Location', ActionType: action, StageCode: $("#ddlStageCode").val(), SeqNo: $("#txtStageSequence").val(), AcceptanceStandard: $("#ddlAcceptanceStandard").val(), ApplicableSpecification: $("#ddlApplicableSpecification").val(), InspectionExtent: $("#ddlInspectionExtent").val(), Remarks: $("#txtRemarks").val(), seamNoArry: GetMultipleSeamsCheckboxSelected('input[class="checkboxAddSeam"]', $('#tblStagesForAdd'))};
                                   }
                                else if (action == 'Delete') {

                                    var deleteMultiRecord = {};

                                    if (typeof $('#SectionSeamsMultipleDelete').attr("aria-expanded") != undefined && $('#SectionSeamsMultipleDelete').attr("aria-expanded") == "true")
                                    {
                                        //DeleteMultipleRecord();
                                        GetMultipleSeamsCheckboxSelected('input[class="clsCheckbox"]', $('#tblStagesForDelete'))

                                        if ($("#hdfMultDeleteObj").val()) {

						                    deleteMultiRecord = typeof $("#hdfMultDeleteObj").val() != undefined ? JSON.parse($("#hdfMultDeleteObj").val()) : "";
                                        }
                                    }

                                    actionUrl = WebsiteURL + '/IPI/TestPlan/MultipleAddDelete',

                                    dataObject = {QualityProject: '@ViewBag.QualityProject',BU: $("#hdBU").val(), Location: '@ViewBag.Location',ActionType: action, FromSeam: $("#txtFromSeam").val(),ToSeam: $("#txtToSeam").val(),StageCode: $("#ddlStageCode").val(),SeqNo: $("#txtStageSequence").val(),AcceptanceStandard: $("#txtAcceptanceStandard").val(),ApplicableSpecification: $("#txtApplicableSpecification").val(),InspectionExtent: $("#txtInspectionExtent").val(),Remarks: $("#txtRemarks").val(),testPlanDeleteEntity: deleteMultiRecord};

                                }

                                var validationCheck = false;
                                if (action == 'Add') {

                                    if ($("#frmMultipleAdd").valid()) {
                                        validationCheck = true;
                                    }
                                } else if (action == 'Delete') {

                                    if ($("#frmMultiDelete").valid()) {
                                        validationCheck = true;
                                    }
                                    }
                                    if (validationCheck)
		                            {
						                bootbox.dialog({
                                        title: action + " Confirmation",
                                        message: "Do you want to " + action + "?",
                                        size: "medium",
                                        buttons: {
                                            Yes: {
                                                Label: "Yes",
                                                className: 'btn green',
                                                callback: function () {

                                                    $.ajax({
                                                        url:actionUrl,
                                                        type: "Post",
                                                        beforeSend: function () {
                                                            showLoading(true);
                                                        },
                                                        complete: function () {
                                                            showLoading(false);
                                                        },
                                                        dataType: "JSON",
														data:dataObject,
                                                        success: function (data) {

                                                            if (data.Key) {

                                                              if (action == "Add") {
                                                                    $('#tblTestPlanDetails').DataTable().ajax.reload();
                                                                }else if (action == "Delete") {
                                                                    $('#tblTestPlanDetails').DataTable().ajax.reload();
                                                                }
                                                                else {
                                                                    $('#tblTestPlanHeader').DataTable().ajax.reload();
                                                                }
                                                                bootbox.hideAll();
                                                                var str =  data.Value;
                                                                bootbox.alert(str);
                                                            }
                                                            else {
                                                                DisplayNotiMessage("error", data.Value, "Error");
                                                                return false;
                                                            }
                                                        },
                                                        error: function (ex) {
                                                            DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                                            return false;
                                                        }
                                                    });
                                                }
                                            },
                                            Cancel: {
                                                label: 'No',
                                                className: 'btn red',
                                                callback: function () { }
                                            }
                                        }
                                    });
			                            return false;
                                    }
                                    else {
			                                    return false;
			                            }
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function GetMultipleSeamsCheckboxSelected(checkBoxControlName,tableName) {


        if ('input[class="clsCheckbox"]' == checkBoxControlName) {
              var multDeleteObj = [];
            $("#hdfMultDeleteObj").val();

            $('input[class="clsCheckbox"]', $('#tblStagesForDelete')).each(function () {
                if (this.checked) {
                    //var headerId = $(this).val();
                    var stageCode = $($(this)).closest('tr').find("td").eq(1).text();
                    var seamNo = $($(this)).closest('tr').find("td").eq(2).text();
                    var stageSequance = $($(this)).closest('tr').find("td").eq(5).text();

                    multDeleteObj.push({
                        //HeaderId: headerId,
                        SeamNo: seamNo,
                        QualityId: "",
                        QulityDesc: "",
                        StageSequance: stageSequance,
                        StageCode: stageCode,
                        TotalCount: null
                    });
                }
            });

            $("#hdfMultDeleteObj").val(JSON.stringify(multDeleteObj))
            multDeleteObj = [];
            return multSelectedSeamObj;

        }
        else if ('input[class="checkboxAddSeam"]' == checkBoxControlName) {

            var multSelectedSeamObj = [];

            $(checkBoxControlName, tableName).each(function () {

                 if (this.checked) {

                     var seamNo = $($(this)).closest('tr').find("td").eq(1).text();
                     multSelectedSeamObj.push(seamNo);
                 }
            });
            return multSelectedSeamObj;
        }
        return null;
    }

    function GetSeamCategory(ddlControlName, qualityProject) {

        $.ajax({
            url: '/IPI/TestPlan/GetSeamCategory',
            data: "{'qualityProject': '" + qualityProject + "'} ",
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                var seamCategory = $("#" + ddlControlName);

                seamCategory.empty().append("<option value=''>-Select seam category-</option");
                if (response.length > 0) {
                    $.each(response, function (indx, val) {
                        seamCategory.append($('<option></option>').val(val.Value).html(val.projectCode));
                    });
                }
            }
        });
    }

</script>