﻿@using IEMQSImplementation
@model QMS020
@{
    ViewBag.Title = "Add Header";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
@Styles.Render("~/Content/Datatable/css")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>

<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")

<script>
    var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()' == "true" ? true : false;
    $(document).ready(function () {
        @*GetTestPlanHTML(parseInt('@ViewBag.HeaderID'));*@
        $("#txtProject").val('@ViewBag.Project');
        $("#txtLocation").val('@ViewBag.Location');
        $("#txtBU").val('@ViewBag.BU');
        $("#SWPHeaderId").val('@ViewBag.SWPHeaderId');
        $("#TPHeaderId").val('@ViewBag.HeaderID');
        urlSection1 = WebsiteURL + "/IPI/TestPlan/LoadTPHeaderForm";
        urlSection2 = WebsiteURL + "/IPI/MaintainSWP/SWPDetail";
        if (IsDisplayOnly) {
            $("#spanLabel").html("Display Test Plan/Shop Weld Plan");
        }
        else {
            $("#spanLabel").html("Maintain Test Plan/Shop Weld Plan");
        }
        //GetTab(parseInt('@ViewBag.HeaderID'),urlSection1,'TP')
        $("#Section1").on("click", function () {
            $("#Section2").css({ backgroundColor: "#eef1f5", color: "#333" });
            $("#Section1").css({ backgroundColor: "#rgb(57, 133, 208)", color: "#fff" });
            GetTab(parseInt($("#TPHeaderId").val()), urlSection1, 'TP');
        });
        $("#Section2").on("click", function () {
            $("#Section2").css({ backgroundColor: "#rgb(57, 133, 208)", color: "#fff" });
            $("#Section1").css({ backgroundColor: "#eef1f5", color: "#333" });
            if (parseInt($("#SWPHeaderId").val()) == 0) {
                return 0;
            }
            else {
                GetTab(parseInt($("#SWPHeaderId").val()), urlSection2, 'SWP');
            }
        });
        $("#Section1").trigger("click"); //$("#Section2").trigger("click");
        $("#txtQualityProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/TestPlan/GetQualityProjectDetails",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {

                        response($.map(data, function (item) {
                          
                            return {
                                label: item.projectCode + "(" + item.Text + ")",
                                value: item.projectCode,
                                id: item.Value + "#" + item.Text,
                                Bu: item.BU
                            };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    $(this).val(ui.item.id);
                    var qproject = ui.item.id.split("#")[0];
                    var location = ui.item.id.split("#")[1];
                    $("#QualityProject").val(qproject);
                    FetchQualityProjectwiseDetails(qproject, location)
                    $("#hdBU").val(ui.item.Bu);
                }
            },
            change: function (event, ui) {              
                if (ui.item == null) {
                    isSelected = false;
                    $("#QualityProject").val('');
                    $(this).val('');
                    $(this).focus();
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });


        $("#btnPrevQproj").click(function () {
            GetNextPrevQualityProject("PrevProject");
        });
        $("#btnNextQproj").click(function () {
            GetNextPrevQualityProject("NextProject");
        });


    });
    function FetchQualityProjectwiseDetails(qualityProject, location) {
        $.ajax({
            url: WebsiteURL + "/IPI/TestPlan/FetchQualityProjectwiseDetails",
            dataType: "json",
            type: "POST",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { qualityProject: qualityProject, location: location },
            success: function (data) {
                $("#Project").val(data.ProjectCode);
                $("#BU").val(data.BUCode);
                $("#Location").val(data.LocationCode);
                $("#txtProject").val(data.Project);
                $("#txtLocation").val(data.Location);
                $("#txtBU").val(data.BU);
                $("#SWPHeaderId").val(data.SWPHeaderId);
                $("#TPHeaderId").val(data.TPHeaderId);
                if ($("#Section2").attr("aria-expanded") == "true") {
                    $("#Section2").trigger("click");
                }
                else {
                    $("#Section1").trigger("click");
                }
            }
        });
    }

    function FillIPIAutoComplete(element, sourceList, hdElement, isEditable) {

        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
                if (!isEditable)
                    $(hdElement).val($(this).val());
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    if (!isEditable) {
                        isSelected = false;
                        $(this).val('');
                        $(this).focus();
                    }
                    else {
                        $(hdElement).val($(this).val());
                    }
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };
    function FillIPIQIDAutoComplete(element, sourceList, hdElement, isEditable) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.Value,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
                if (!isEditable)
                    $(hdElement).val($(this).val());
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    if (!isEditable) {
                        isSelected = false;
                        $(this).val('');
                        $(this).focus();
                    }
                    else {
                        $(hdElement).val($(this).val());
                    }
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };
    function GetTab(headerID, url, selection) {
        $("#tab1").empty();
        $("#tab2").empty();
        $.ajax({
            type: "POST",
            url: url,
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerID: headerID, IsDisplayOnly: IsDisplayOnly },
            success: function (result) {
                if (selection == 'TP') {
                    $("#tab1").html(result);
                }
                else
                    $("#tab2").html(result);
            },
            error: function () {
            }
        });
    }


    function GetNextPrevQualityProject(option) {
        var curProject = $("#QualityProject").val();
        var loc = $("#Location").val();

        $.ajax({
            url: WebsiteURL + "/IPI/TestPlan/GetNextPrevQualityProject",
            dataType: "json",
            type: "POST",
            beforeSend: function () {
                showLoading(true);
            },
            data: { qualityProject: curProject, location: loc, option: option },
            success: function (data) {
                if (data.Key && data.HeaderId > 0) {
                    showLoading(true);
                    window.location.href = WebsiteURL + "/IPI/TestPlan/AddHeader?HeaderID=" + data.HeaderId;
                }
                else {
                    showLoading(false);
                    DisplayNotiMessage("error", "Data not available", "Error");

                }
            }
        });
    }


</script>
@*<style>
        .clsBootboxPopUp {
            padding: 0px !important;
        }

            .clsBootboxPopUp .modal-lg {
                width: 95% !important;
            }
    </style>*@

<div class="page-content">
    <div class="portlet light ">
        <div class="form-body">
            <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                    <span class="page-title" id="spanLabel"></span>
                </div>
            </div>
            <div class="dvHeader">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
                {
                    @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
                    @Html.HiddenFor(m => m.Status)
                    <div class="form-group">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>Project Detail</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">Quality Project</label>
                                            <div class="" style="display:flex;">
                                                <button type="button" class="btn blue" id="btnPrevQproj"><i class="fa fa-chevron-left"></i></button>
                                                @Html.TextBoxFor(model => model.QualityProject, new { @id = "txtQualityProject", @class = "form-control col-md-3" })
                                                <button type="button" class="btn blue" id="btnNextQproj"><i class="fa fa-chevron-right"></i></button>

                                                @Html.HiddenFor(m => m.QualityProject)
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.Project, new { @id = "txtProject", @class = "form-control col-md-3", @readonly = "readonly" })
                                                @Html.HiddenFor(m => m.Project)
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">BU</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BU, new { @id = "txtBU", @class = "form-control col-md-3", @readonly = "readonly" })
                                                @Html.HiddenFor(m => m.BU, new { @id = "hdBU" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">Location</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Location, new { @id = "txtLocation", @class = "form-control col-md-3", @readonly = "readonly" })
                                                @Html.HiddenFor(m => m.Location)
                                            </div>
                                            @Html.Hidden("SWPHeaderId")
                                            @Html.Hidden("TPHeaderId")
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                }
            </div>

        </div>

        <div class="portlet-body">
            <form class="form-horizontal" action="#" id="submit_form" method="POST">
                @*<div class="form-wizard">
                    <div class="form-body">*@
                <ul id="tabSections" style="font-size: large;" class="nav nav-tabs">
                    <li>
                        <a id="Section1" href="#tab1" data-toggle="tab" class="step">
                            <span id="spnSec1" class="desc">
                                @*<i class="fa fa-check"></i>*@
                                <b>Test Plan</b>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a id="Section2" href="#tab2" data-toggle="tab" class="step">
                            <span id="spnSec2" class="desc">
                                @*<i class="fa fa-check"></i>*@
                                <b>Shop Weld Plan</b>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                    </div>
                    <div class="tab-pane" id="tab2">
                    </div>
                </div>
                @*</div>*@
            </form>
        </div>

        @*<div class="portlet-body" id="divTestPlanHeader">

            </div>*@
        <hr />
    </div>
</div>
