﻿
@using IEMQSImplementation
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
@Styles.Render("~/Content/Datatable/css")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")

<style>
    .sCenter {
        text-align: center;
    }
</style>
<script>
    var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()'=="true"?true:false;
    $(document).ready(function () {
        if (IsDisplayOnly) {
            GetHeaderGridDataPartial('All');
            $("#liPending").remove();
            $("#liAll").remove();
            $("#spanLabel").html("Display");
        }
        else {
            GetHeaderGridDataPartial('Pending');
            $("#spanLabel").html("Maintain");
        }
        $('a[name="tabStatus"]').click(function () {
            GetHeaderGridDataPartial($(this).attr('spara'));
        });
    });

    function GetHeaderGridDataPartial(status)
    {
        var table = $('#tblTestPlanHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/TestPlan/LoadTPHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": status },
                            { "name": "IsDisplayOnly", "value": IsDisplayOnly }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [

                {
                    "sClass": "center",
                    "name": "QualityProject"
                },
                {
                    "name": "Project",
                    "sClass": "center"
                },
                {
                    "name": "BU",
                    "sClass": "center"
                },
                 {
                     "name": "Location",
                     "sClass": "center"
                 },
                {
                    "bSortable": false,
                    "sClass": "sCenter"
                },
            ]
        });
    }

</script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    <span id="spanLabel"></span> Test Plan/Shop Weld Plan
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active" id="liPending">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                        </li>
                        <li id="liAll">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">
                        </div>
                    </div>
                </div>


                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            @{
                                string strTPTitle = " Project List";
                            }
                            @strTPTitle
                        </div>
                        <div class="tools" id="dvExportHeader">
                            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/TestPlan/GenerateExcel", GridType = clsImplementationEnum.GridType.MAINTAININDEX.GetStringValue(), dvId = "#dvExportHeader" })
                        </div>
                    </div>
                    <div class="portlet-body">
                        @*@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmTPHeaderDetails" }))
                            {*@
                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblTestPlanHeader" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="all">Quality Project</th>
                                    <th class="min-phone-l">Project</th>
                                    <th class="min-phone-l">BU</th>
                                    <th class="min-phone-l">Location</th>
                                    <th class="min-phone-l">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        @*  }*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

