﻿@using IEMQSImplementation
@model KOM001
@{
    ViewBag.Title = "KOM";
    string FileUploadLineID = "fuline";

    if (@ViewBag.chkProject != null && @ViewBag.chkProject != "")
    {
        Layout = "~/Views/Shared/_DESLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    int tempLineId = 0;
    string fileuploadInitiator = "InitiatorAttachment";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<style>
    .clsNewBtn {
        height: 20px !important;
        padding: 0px 5px;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<script>
    $(document).ready(function () {



        $('#frmMaintainDeatils').validate({
            rules: {
                ddlProject: {
                    required: true
                },
                ddlTOCApprover: {
                    required: true
                },
                ddlPMGApprover: {
                    required: true
                }
            },
            messages: {
                ddlProject: {
                    required: "Project is Required"
                },
                ddlTOCApprover: {
                    required: "TOC Manager is Required"
                },
                ddlPMGApprover: {
                    required: "PMG is Required"
                }
            }
        });
    });

    $(document).ready(function () {
        var isSelected = false;

        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });

        $("#hdnFuncation").val('@ViewBag.Funcation');

        $("#ddlProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL +"/Utility/General/GetProjectResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectDescription };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                }

            },
        });


        $("#ddlTOCApprover").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL +"/Utility/General/GetApproverResultForPMG2",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }));

                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                }

            },
        });


        $("#ddlTOCApprover").blur(function () {
            if (!isSelected) {
                ClearAll();
            }
        });

        $("#ddlPMGApprover").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL +"/Utility/General/GetApproverResultForPMG2",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }));

                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                }

            },
        });

        $("#ddlPMGApprover").blur(function () {
            if (!isSelected) {
                ClearAll();
            }
        });

        $("#ddlTOCApprover").change(function () {
            var approver = $('#ddlTOCApprover').val();
            $("#hfApp").val(approver);
            $.ajax({
                type: "POST",
                url: WebsiteURL +"/KOM/Maintain/verifyApprover",
                datatype: 'html',
                async: false,
                data: { approver: approver },
                success: function (data) {
                    if (data.Key) {

                    }
                    else {
                        $('#ddlTOCApprover').val("");
                        DisplayNotiMessage("error", "Invalid Approver.! Try Again..!", "Error");
                    }

                },
                error: function () {
                }
            });
        });

        $("#ddlPMGApprover").change(function () {
            var approver = $('#ddlPMGApprover').val();
            $("#hfApp2").val(approver);
            $.ajax({
                type: "POST",
                url: WebsiteURL +"/KOM/Maintain/verifyApprover",
                datatype: 'html',
                async: false,
                data: { approver: approver },
                success: function (data) {
                    if (data.Key) {

                    }
                    else {
                        $('#ddlPMGApprover').val("");
                        DisplayNotiMessage("error", "Invalid Approver.! Try Again..!", "Error");
                    }

                },
                error: function () {
                }
            });
        });


        $("#ddlProject").change(function () {
            var project = $('#ddlProject').val();
            var Eq = project.split('-')[1].trim();
            $("#txtEquipment").val(Eq);
            $.ajax({
                type: "POST",
                url: WebsiteURL +"/KOM/Maintain/GetHeaderData",
                data: { project: project },
                datatype: 'html',
                async: false,
                success: function (data) {
                    if (data.Key) {
                        var splitval1 = data.Value;
                        var cust = splitval1;
                        cust = cust.trim();
                        $("#txtCust").val(cust);
                    }
                    else {
                        $("#txtCust").val("");
                        $("#txtEquipment").val("");
                        DisplayNotiMessage("error", "Invalid Project.! Try Again..!", "Error");
                    }

                },
                error: function () {
                }
            });
        });


        $("#btnPrint").click(function () {
            var headerid = parseInt("@Model.HeaderId");
            if (headerid == 0) {
                headerid = $("#hfHeaderId").val();
            }
            var Funcation = $("#hdnFuncation").val();
            var Stage = "KOM"
            if ($("#lblStatus:contains(MKOM)").length > 0) {
                Stage = "MKOM"
            }
            PrintReport(headerid,Stage,Funcation)
        })

        $("#btnSend").click(function () {
            var headerid = parseInt("@Model.HeaderId");
            var FType = "";
            if (headerid == 0) {
                headerid = $("#hfHeaderId").val();
            }
            var Status = "@ViewBag.LineStatus";
            var Funcation = $("#hdnFuncation").val();
            if(Funcation == 'MFG')
            {
                FType += $("#hdnShopYard").val();
            }
            $.ajax({
                url: WebsiteURL +'/KOM/Maintain/ApproveKOMFuncation',
                data: { FType: $("#hdnShopYard").val(), headerid: headerid, Status: Status, Funcation: Funcation },
                type: 'POST',
                async: false,
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        if (Status == "MKOM Draft") {
                            window.setTimeout('window.location.href = "'+WebsiteURL+'/KOM/Maintain/MKOMHeaderDetails"', 2000);
                        }
                        else {
                            window.setTimeout('window.location.href = "'+WebsiteURL+'/KOM/Maintain/KOMHeaderDetails"', 2000);
                        }
                    } else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        });

        $("#btnSubmit").click(function () {
            if ($("#frmMaintainDeatils").valid()) {
                var frmSaveHeaderValue = $("#frmMaintainDeatils").serializeArray();
                var status = $("#lblStatus").text();

                submit(frmSaveHeaderValue, status);
            }
        });


        function submit(strFormData, status) {
            var formData = new FormData();
            $.each(strFormData, function (key, input) {
                formData.append(input.name, input.value);
            });
            $.ajax({
                url: WebsiteURL +'/KOM/Maintain/SaveKOMHeader',
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                async: false,
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        if (data.status != "") {
                            $("#status").css("display", "block");
                            $("#lblStatus").text(data.status);
                        }
                        $("#ddlProject").attr("disabled", true);
                        //$("#btnSubmit").hide();

                        //$("#ddlApp").css("display", "block");
                        //$("#ddlApprover").removeAttr("disabled", true);
                        $("#btnSend").show();
                        var project = $('#ddlProject').val();
                        var a = project.split('-')[0].trim();
                        $("#hfProject").val(a);
                        $.ajax({
                            url: WebsiteURL +'/KOM/Maintain/getHeaderId',
                            data: { project: project },
                            type: 'POST',
                            async: false,
                            success: function (data) {
                                var headerid = data.Value.split('|')[0];
                                var status = data.Value.split('|')[1];
                                $("#hfHeaderId").val(headerid);
                            }
                        });

                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }



    })
</script>


<script>
    $(document).ready(function () {
        var headerid = parseInt("@Model.HeaderId");

        $("#ddlOtherProjects").val("");
        LoadPreValueSelect2("/KOM/ProjMaintain/GetOtherProjects", $('#ddlOtherProjects'), "", { HeaderId: headerid, ContractNo: '@Model.ContractNo' });

        if (headerid > 0) {
            $("#hfHeaderId").val(headerid);
            var Project = "@Model.Project"
            if (Project.toString() != "") {
                $("#ddlProject").val(Project);
                $("#hfProject").val(Project);
            }

            var IProject = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.IProject))));
            if (IProject != null) {
                $('#ddlOtherProjects').val(LoadSelect2OnEdit(IProject)).trigger("change");
            }

            $("#txtCust").val(@Html.Raw(Json.Encode(ViewBag.Customer)));

            var ZeroDate = "@ViewBag.ZeroDate"
            if (ZeroDate != "") {
                $("#txtZero").val(ZeroDate.slice(0, 10));
            }
            var PlanDate = "@Model.KOMPlannedDate"
            if (PlanDate != "") {
                $("#KOMPlannedDate").val(PlanDate.slice(0, 10));
            }

            $("#ddlApprover").val('@ViewBag.ApproveBy');


            var TOCApprovedBY = "@Model.KOMTOCManager"
            if (TOCApprovedBY != "") {
                $("#ddlTOCApprover").val(TOCApprovedBY);
                $("#hfApp").val(TOCApprovedBY);
            }
            var PMGApprovedBY = "@Model.KOMPMG"
            if (PMGApprovedBY != "") {
                $("#ddlPMGApprover").val(PMGApprovedBY);
                $("#hfApp2").val(PMGApprovedBY);
            }
            var status = "@ViewBag.LineStatus";
            $("#lblStatus").text(status);

            var funcation =$("#hdnFuncation").val();

            $("#lblFuncation").text(funcation);

            $("#status").css("display", "block");

            $("#ContractNo").attr("disabled", true);
            $("#ddlProject").attr("disabled", true);
            $("#ddlTOCApprover").attr("disabled", true);
            $("#ddlPMGApprover").attr("disabled", true);
            $("#ddlApprover").attr("disabled", true);

            $("#btnMKOMCancel").hide();
            $("#btnKOMCancel").hide();
            if ($("#lblStatus:contains(MKOM)").length > 0) {
                $("#btnMKOMCancel").show();
                LoadFileUploadInitiator("KOM001//" +@(Model.HeaderId) +  "_MKOM_INITIATOR");
            }
            else {
                $("#btnKOMCancel").show();
                LoadFileUploadInitiator("KOM001//" +@(Model.HeaderId) +  "_KOM_INITIATOR");
            }

            if (status.toLowerCase() == "draft" || status.toLowerCase() == "mkom draft") {

                $("#btnSend").show();
            }
            else {
                $("#btnSend").hide();
                $("#btnNew").hide();

            }


            var TOCApprovedBy = "@Model.KOMTOCManager"
            var PMGApprovedBy = "@Model.KOMPMG"
            var Project = "@Model.Project"

            if (Project != "" || TOCApprovedBy != "" || PMGApprovedBy != "") {
                $.ajax({
                    type: "POST",
                    url: WebsiteURL +"/KOM/Maintain/getCodeValue",
                    data: { project: Project, TOCapprover: TOCApprovedBy, PMGapprover: PMGApprovedBy, contract: '@Model.ContractNo' },
                    datatype: 'html',
                    async: false,
                    success: function (data) {
                        if(data.contractDesc) {
                            $("#ContractNo").val(data.contractDesc);
                        }
                        if (data.projdesc != "") {
                            $("#ddlProject").val(data.projdesc);
                            var Eq = data.projdesc.split('-')[1].trim();
                            $("#txtEquipment").val(Eq);
                        }
                        if (data.appdesc != "") {
                            $("#ddlTOCApprover").val(data.appdesc.split('|')[0]);
                        }
                        if (data.appdesc != "") {
                            $("#ddlPMGApprover").val(data.appdesc.split('|')[1]);
                        }
                    },
                    error: function () {
                    }
                });
            }

            var strFunction =$("#hdnFuncation").val();
            loadData(headerid,strFunction);
        } else {
            $("#btnSend").hide();
            //$("#btnSubmit").show();

        }

        if(@ViewBag.ReadOnly == "1" )
        {
            $("#status").hide()
            $("#btnSend").hide()
            $("#btnMKOMCancel").hide()
            $("#btnKOMCancel").hide()

        }

    });

    function LoadSelect2OnEdit(strPosition) {
        var arrPositions;
        if (strPosition.length > 0) {
            arrPositions = strPosition.split(',');
        }
        return arrPositions;
    }
</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body form">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                        {   @Html.Hidden("hfHeaderId")
                            @Html.Hidden("hfApp")
                            @Html.Hidden("hfApp2")
                            @Html.Hidden("hfProject")
                            @Html.Hidden("hdnFuncation")
                            @Html.Hidden("hdnShopYard")
                            <div class="mt-element-ribbon bg-grey-steel" style="height:50px;">
                                <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                    <span class="page-title">@ViewBag.MainHeading</span>
                                </div>
                                <div class="ribbon ribbon-right ribbon-color-warning" id="status" style="display:none">
                                    <b>Status : <label id="lblStatus"></label></b>
                                </div>
                                <p class="ribbon-content"></p>
                            </div>
                            <fieldset>
                                <legend>Project Detail</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Contract
                                                <span class="required"> * </span>
                                            </label>
                                            @Html.TextBoxFor(x => x.ContractNo, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Project
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBox("ddlProject", "", new { @class = "form-control" })
                                                @*@Html.DropDownList("ddlProject", (SelectList)@ViewBag.Project, "Select", new { @class = "form-control" })*@
                                            </div>
                                        </div>

                                        <div class="col-md-4 right" id="ddlTOC">
                                            <label class="control-label">
                                                TOC Manager
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                <input type="text" name="ddlTOCApprover" id="ddlTOCApprover" class="class = form-control col-md-3" />
                                                @*@Html.DropDownList("ddlApprover", (SelectList)@ViewBag.approver, "Select", new { @class = "form-control" })*@
                                            </div>
                                        </div>

                                        <div class="col-md-4 right" id="ddlPMG">
                                            <label class="control-label">
                                                PMG
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                <input type="text" name="ddlPMGApprover" id="ddlPMGApprover" class="class = form-control col-md-3" />
                                                @*@Html.DropDownList("ddlApprover", (SelectList)@ViewBag.approver, "Select", new { @class = "form-control" })*@
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Customer
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtCust", (string)@ViewBag.cat, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Equipment
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtEquipment", (string)@ViewBag.cat, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Zero Date
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtZero", (string)@ViewBag.cat, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-4 right" id="ddlApp">
                                            <label class="control-label">
                                                Approved By
                                                @*<span class="required"> * </span>*@
                                            </label>
                                            <div class="">
                                                <input type="text" name="ddlApprover" id="ddlApprover" class="class = form-control col-md-3" />
                                                @*@Html.DropDownList("ddlApprover", (SelectList)@ViewBag.approver, "Select", new { @class = "form-control" })*@
                                            </div>
                                        </div>
                                        <div class="col-md-4 right">
                                            <label class="control-label">
                                                KOM Planned Date
                                            </label>
                                            <div class="">
                                                @Html.TextBox("KOMPlannedDate", (string)@ViewBag.cat, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 right">
                                            @if (ViewBag.Funcation == "MFG")
                                            {
                                                <div class="">
                                                    <label id="lblMFG_SHOP"><input onclick="MFGcheck('MFG_SHOP')" type="radio" id="rdMFGSHOP" value="False" title="MFG_SHOP" name="rdMFG" style="margin: 31px 0px 13px 4px;" />MFG_SHOP</label>
                                                    <label id="lblMFG_YARD"><input onclick="MFGcheck('MFG_YARD')" type="radio" id="rdMFGYARD" value="False" title="MFG_YARD" name="rdMFG" style="margin: 31px 0px 13px 4px;" />MFG_YARD</label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label class="control-label">
                                                Identical Projects
                                            </label>
                                            <div class="">
                                                @*@Html.TextBox("OtherProject", (string)ViewBag.OtherProject, new { @class = "form-control col-md-4", @readonly = "readonly" })*@
                                                <select name="ddlOtherProjects" id="ddlOtherProjects" multiple="multiple" style="width:100%" class="form-control" disabled="disabled"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>
                                    Initiator attachment
                                </legend>
                                <div class="col-md-12">
                                    <div id="dv@(fileuploadInitiator)"></div>
                                </div>
                            </fieldset>
                        }
                        <hr />

                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            @ViewBag.Heading  <b><label id="lblFuncation"></label></b>
                                        </div>

                                        <div class="tools" id="dvExportLines">
                                            <div class="btn-group">

                                                <a style="margin-right:5px;" id="btnNew" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewRecord(this);">
                                                    <i class="fa fa-plus"></i> New
                                                </a>

                                                @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/KOM/Maintain/GenerateExcel?HeaderId=" + Model.HeaderId, GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLines" })

                                            </div>

                                            @*<input type="button" id="btnNew" value="New" name="btnNew" onclick="ShowNewRecord(this);" class="form-control col-md-1 clsNewBtn" />*@
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmKOMLinesDet", @class = "form-horizontal" }))
                                        {
                                            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblKOMDet" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        @*
                                                            <th id="thRemove" class="all" style="text-align: center;">
                                                                <input type='checkbox' id='line_chkAll' class='checkbox_line' name='chkAll' />
                                                            </th>*@
                                                        <th class="min-phone-l">#</th>
                                                        <th class="min-phone-l">Activities</th>
                                                        <th class="min-phone-l">Full-kit Document list</th>
                                                        <th class="min-phone-l">Output</th>
                                                        <th class="min-phone-l" style="max-width:60px">Checked/ <br /> Reviewed <br />  (Y/N)</th>
                                                        <th class="min-phone-l" style="min-width:200px">Remarks</th>
                                                        <th class="min-phone-l">Action</th>
                                                        <th class="min-phone-l" style="display:none">Attchments</th>
                                                        <th class="min-phone-l" style="display:none;">Funcation</th>
                                                        <th class="min-phone-l" style="display:none;">Stage</th>
                                                        <th class="min-phone-l" style="display:none;">Header Id</th>
                                                        <th class="min-phone-l" style="display:none;">Line Id</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="text-align:right;margin-bottom:5px">
                            <div class="col-md-12">
                                <i name="btnAction" style="color:#32CD32;" class="fa fa-paperclip"></i><span style="margin-left:3px" class="required">file attached</span>&nbsp;|&nbsp;
                                <i name="btnAction" class="fa fa-paperclip"></i><span style="margin-left:3px" class="required">No file attached </span>

                            </div>
                        </div>
                        <div class="row" style="text-align:right">
                            <div class="col-md-12">
                                <div class="col-md-8">
                                </div>

                                <div class="col-md-4" style="text-align:right">
                                    <button class="btn submit" type="button" id="btnSend">Submit</button>

                                    @if (ViewBag.chkProject != null && ViewBag.chkProject != "")
                                    {
                                        <a href="~/KOM/Maintain/KOMHeaderDetails?Project=@ViewBag.chkProject" id="btnKOMCancel" class="btn btnclose">Close</a>
                                        <a href="~/KOM/Maintain/MKOMHeaderDetails?Project=@ViewBag.chkProject" id="btnMKOMCancel" class="btn btnclose">Close</a>
                                    }
                                    else
                                    {
                                        <a href="~/KOM/Maintain/KOMHeaderDetails" id="btnKOMCancel" class="btn btnclose">Close</a>
                                        <a href="~/KOM/Maintain/MKOMHeaderDetails" id="btnMKOMCancel" class="btn btnclose">Close</a>
                                    }

                                    @*<a href="~/KOM/Maintain/KOMHeaderDetails" id="btnKOMCancel" class="btn btnclose">Close</a>
        <a href="~/KOM/Maintain/MKOMHeaderDetails" id="btnMKOMCancel" class="btn btnclose">Close</a>*@
                                    <button style="cursor:pointer;margin-right:5px;" title="" Print Report"; class="btn icons" id="btnPrint"><i class="fa fa-print"></i></button>
                                </div>

                            </div>
                        </div>
                        <div id="modalAttach" class="modal " role="dialog" data-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog modal-md">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Attachments</h4>
                                    </div>
                                    <div class="modal-body">
                                        <input type="hidden" id="ModalLineId" />
                                        <div style="padding:1em;">
                                            @Html.Partial("_AttachmentPartial")
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="btnSaveAttachments" onclick="saveAttachments()" class="btn green">Save</button>
                                        <button type="button" id="btnCloseModal" onclick="clearTable();$(this).closest('.modal').modal('hide')" class="btn red">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<style>
    .modal-dialog {
        margin: 30px auto;
        /*width: 55% !important;*/
    }
</style>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

<script type="text/javascript">

    function MFGcheck(strName){
        var headerId=$("#hfHeaderId").val();
        loadData(headerId,strName)
        $("#hdnShopYard").val(strName);

    }


    function loadData(id,strFunction) {
        id = $("#hfHeaderId").val();
        var table = $('#tblKOMDet');
        
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },

                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": true,
            "bDestroy": true,
            
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL +"/KOM/Maintain/LoadKOMLineData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "HeaderId", "value": id },
                             { "name": "MTStatus", "value": '@ViewBag.LineStatus' },
                             { "name": "Department", "value": strFunction }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'beforeSend': function () {
                        showLoading(true);
                    },
                    'complete': function () {
                        showLoading(false);
                    },
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);
                        ResetAddRow();
                    },
                    'async': true
                });
            },
            "columns": [


                {
                    "bSortable": false,
                    "sClass": "center"
                },
                 {
                     "bSortable": false,
                     "sClass": "center"
                 },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                 {
                     "bSortable": false,
                     "sClass": "center"
                 },
                  {
                      "bSortable": false,
                      "sClass": "center"
                  },
                   {
                       "bSortable": false,
                       "sClass": "center"
                   },
                    {
                        "sClass": "hide"

                    },
                    {
                        "sClass": "hide"

                    },
                    {
                        "sClass": "hide"

                    },
                    {
                        "sClass": "hide lineId"

                    }
            ]
        });
    }
</script>

<style>
    .modal-dialog {
        margin: 30px auto;
        /*width: 55% !important;*/
    }
</style>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>


<script>

    $(document).ready(function () {


        $('#frmKOMLinesDet').validate({
            rules: {

                Activity0: {
                    required: true,
                },
                FullKitDocumentList0: {
                    required: true,
                },
                Output0: {
                    required: true,
                },
                Checked0: {
                    required: true,
                },
                Remarks0: {
                    required: true,
                }
            },
            messages: {

                Activity0: {
                    required: "Activity is Required"
                },
                FullKitDocumentList0: {
                    required: "FullKit Document List is Required"
                },
                Output0: {
                    required: "Output is Required"
                },
                Checked0: {
                    required: "Checked is Required"
                },
                Remarks0: {
                    required: "Checked is Required"
                }

            }
        });




        @*var lstFuncationLeader = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.lstFuncationLeader))));
        var lstBuddy = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.lstBuddy))));*@

        //$('#tblKOMDet').delegate(".autocomplete", "focusin", function () {

        //    var element = $(this);
        //    if ($(this).attr("colname") == "FunctionalLead") {
        //        FillKOMAutoComplete(element, lstFuncationLeader, "", false);
        //    }
        //    else if ($(this).attr("colname") == "Buddy") {
        //        FillKOMAutoComplete(element, lstBuddy, "", false);
        //    }
        //});


    })


    function ShowNewRecord(obj) {
        @*if ('@Model.Status' == 'Approved') {
              bootbox.confirm({
                  message: "Do you want to revise this header?",
                  buttons: {
                      confirm: {
                          label: 'Yes',
                          className: 'btn-success',
                      },
                      cancel: {
                          label: 'No',
                          className: 'btn-danger'
                      }
                  },
                  callback: function (result) {
                      if (result) {
                          //InsertNewRecord(obj);
                          ReviseHeader('@Model.HeaderId');
                          window.location.reload();

                      }
                  }
              });
          }
    else {

            }*@

        InsertNewRecord(obj);
    }


    function InsertNewRecord(obj) {
        $('#tblKOMDet').find("tbody tr:first").toggle();
        $('#tblKOMDet').find("tbody tr:first select:first").focus();
        if ($('#tblKOMDet').find("tbody tr:first").is(":visible")) {
            $(obj).html('<i class="fa fa-times"></i> Cancel');
            var delayedFn, blurredFrom;
            //$('#tblKOMDet').find("tbody tr:first").on('blur', 'a', function (event) {
            //    blurredFrom = event.delegateTarget;
            //    delayedFn = setTimeout(function () { SaveKOMLineDetails(); }, 0);
            //});
            $('#tblKOMDet').find("tbody tr:first").on('focus', 'a', function (event) {
                if (blurredFrom === event.delegateTarget) {
                    clearTimeout(delayedFn);
                }
            });
        }
        else {
            $(obj).html('<i class="fa fa-plus"></i> New');
            clearFirstRow($('#tblKOMDet').find("tbody tr:first"));
        }
    }

    function saveAttachments() {
        var hasAttach = getHasAttachmentsForSubmit();
        if (hasAttach) {
            $.ajax({
                url: WebsiteURL +"/KOM/Maintain/SaveAttachments",
                type: "POST",
                data: {
                    LineId: $('#ModalLineId').val(),
                    hasAttachments: getHasAttachmentsForSubmit(),
                    Attach: getAttachmentsFromTable()
                },
                success: function (data) {
                    if (data.Key == true) {
                        if (data.Value == "Document Required") {
                            bootbox.alert("Please Upload Attachment");
                            return false;
                        }
                        else {
                            DisplayNotiMessage("success", "File Uploaded successfully", "Success");
                            $('#modalAttach').modal('hide');
                            //$('#' + btnid).attr('style', 'color:#32CD32');

                            $('#tblKOMDet tbody tr').each(function () {

                                var temp = $(this).find('td').eq(10).text();
                                if (temp == $('#ModalLineId').val()) {
                                    $(this).find('td').find('.glyphicon-paperclip').attr('style', 'cursor: pointer;margin-left:5px;color:#32CD32');
                                }
                            });
                            // ModalLineId
                        }
                        //    DisplayNotiMessage("success", "Attachments Saved", "Saved");
                        //    clearTable();

                        //  $('#tblLines').DataTable().ajax.reload();
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                        clearTable();
                    }
                }
            });
        }
        else {
            DisplayNotiMessage("info", "Please Add File For Save Attachment", "Information");
        }
    }

    function reloadtblfrid() {
        $("#Attachments"+tempLineId).attr('style', 'cursor: pointer;margin-left:5px;color:#32CD32');
    }

    function showAttachments(headerId, lineId) {

        var status = "@ViewBag.LineStatus";
        if (headerId > 0 && lineId > 0) {
            var ShowBtn = false;
            if (status.toLowerCase() == "draft" || status.toLowerCase() == "mkom draft") {
                tempLineId = lineId;
                @*var objFileUploadLine = new FileUploadEnt('dv@(FileUploadLineID)', '@FileUploadLineID');
                objFileUploadLine.ShowDeleteAction = true;
                objFileUploadLine.ShowAttachmentBtn = true;
                objFileUploadLine.FolderPath = "KOM003/" + parseInt(headerId) + "/" + parseInt(lineId);
                objFileUploadLine.LoadInPopup = true;
                objFileUploadLine.SuccessCallbackFunction = "reloadtblfrid()";
                objFileUploadLine.LoadCallbackFunction=SetValues;
                LoadFileUploadPartialView(objFileUploadLine);*@

                ShowBtn = true;
            }
            else{
                @*var objFileUploadLine = new FileUploadEnt('dv@(FileUploadLineID)', '@FileUploadLineID');
                objFileUploadLine.ShowDeleteAction = false;
                objFileUploadLine.ShowAttachmentBtn = false;
                objFileUploadLine.FolderPath = "KOM003/" + parseInt(headerId) + "/" + parseInt(lineId);
                objFileUploadLine.LoadInPopup = true;
                LoadFileUploadPartialView(objFileUploadLine);*@
            }

            var objFile = {
                TableName: 'KOM003',
                TableId: lineId,
                Path: '//KOM003//' + headerId + '//'+ lineId + '//1',
                ControlID: '@(FileUploadLineID)',
                ViewerId: 1,
                IsMultipleUploaded: true,
                ShowDeleteAction: ShowBtn,
                ShowDownloadBtn: false,
                ShowAttachmentBtn: ShowBtn,
                SuccessCallbackFunction: "reloadtblfrid()"
            };

            Load_File_Upload_Partial_View(objFile, 'dv@(FileUploadLineID)', true);
        }
        //if (status.toLowerCase() == "draft" || status.toLowerCase() == "mkom draft") {
        //    $('#btnAttach').show();
        //    $('#btnSaveAttachments').show();
        //    disableDelete = false;
        //}
        //else {
        //    $('#btnAttach').hide();
        //    $('#btnSaveAttachments').hide();
        //    disableDelete = true;
        //}

        //$('#ModalLineId').val($(ctrl).closest('tr').find("td.lineId").html());
        //if (parseInt($('#ModalLineId').val()) > 0) {
        //    //setAttachmentsInHeader("KOM003/" + $('#ModalLineId').val(), disableDelete);
        //}
        //clearTable();
        //// setAttachmentsFromTDElement($(ctrl).closest('tr').find("td.attachement"), (view == true));

        //$('#modalAttach').modal('show');
    }
    function SetValues(){
        IsCallSuccessCallbackFunc@(FileUploadLineID)=true;
    }

    function DeleteRecord(lineid) {
        var id = lineid;
        var status = "@ViewBag.LineStatus";
        if (status.toLowerCase() == "draft" || status.toLowerCase() == "mkom draft") {
            bootbox.confirm({
                message: "Do you want to delete?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: WebsiteURL +'/KOM/Maintain/DeleteKOMLine',
                            data: { Id: id },
                            type: 'POST',
                            async: false,
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    var headerid = parseInt("@Model.HeaderId");
                                    var strFunction =$("#hdnFuncation").val();
                                    loadData(headerid,strFunction);
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }

                            }
                        });
                    }
                }
            });

        }
        else {
            DisplayNotiMessage("error", "Record already sent for approve", "Error");
        }
    }

    function SaveKOMLineDetails() {
        if ($("#frmKOMLinesDet").valid()) {
            var formData = new FormData();
            var frmValues = $('#frmKOMLinesDet').serializeArray();
            $.each(frmValues, function (key, input) {
                formData.append(input.name, input.value);
            });
            $.ajax({
                url: WebsiteURL +'/KOM/Maintain/SaveKOMLineDetails',
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        $('#tblKOMDet').DataTable().ajax.reload();
                        ResetAddRow();
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
        else {
            HighlightInValidControls();
            return false;
        }
    }


    function ResetAddRow() {
        $('#tblKOMDet').find("tbody tr:first").hide();
        $('#tblKOMDet').find("tbody tr:first").css("background-color", "#fbffb2");
        $("#btnNew").html('<i class="fa fa-plus"></i> New');
        clearFirstRow($('#tblKOMDet').find("tbody tr:first"));
    }

    function FillKOMAutoComplete(element, sourceList, hdElement, isEditable) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.Text,
                        value: item.Text,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
                if (!isEditable)
                    $(hdElement).val($(this).val());
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    if (!isEditable) {
                        isSelected = false;
                        $(this).val('');
                        $(this).focus();
                    }
                    else {
                        $(hdElement).val($(this).val());
                    }
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });

    };

    function UpdateData(objColumn, rowID) {
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");

        $.ajax({
            type: "POST",
            url: WebsiteURL +"/KOM/Maintain/UpdateKOMDetails",
            datatype: 'json',
            async: false,
            data: { lineId: rowID, columnName: columnName, columnValue: columnValue.split('-')[0].trim() },
            success: function (result) {
                if (result.Key) {
                    DisplayNotiMessage("success", result.Value, "Success");
                    if (result.dataKey) {
                        var strFunction = $("#hdnFuncation").val();
                        loadData($("#hfHeaderId").val(),strFunction);
                    }
                }
            },
            error: function () {
                DisplayNotiMessage("error", result.Value, "Error");
            }
        });
    }

    function PrintReport(headerid , Stage , Funcation ) {
        bootbox.dialog({
            title: 'Project Preparation Sheet Report',
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        url = "/KOM/DeptWise Project Preparation Sheet";
                        var dat = [];
                        dat.push({ Param: "HeaderId", Value: headerid });
                        dat.push({ Param: "Stage", Value: Stage });
                        dat.push({ Param: "Funcation", Value: Funcation });
                        ShowReport(dat, url);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn red'
                }
            }
        });
    }

    function checkStatus(rowID) {
        @*if ('@Model.Status' == 'Approved') {
                bootbox.confirm({
                    message: "Do you want to revise this header?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success',
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            ReviseHeader('@Model.HeaderId');
                            window.location.reload();
                        }
                    }
                });
            }
            else {
                "";
            }*@

        "";
    }

    function LoadFileUploadInitiator(urlpath) {
        debugger
        var UploadPath = "";
        if (parseInt(@Model.HeaderId) > 0) {
            UploadPath = urlpath;
        }
        @*var objFileUploadFinalHeader = new FileUploadEnt('dv@(fileuploadInitiator)', '@fileuploadInitiator');
        objFileUploadFinalHeader.ShowDeleteAction = false;
        objFileUploadFinalHeader.ShowAttachmentBtn = false;
        objFileUploadFinalHeader.FolderPath = UploadPath;
        objFileUploadFinalHeader.SuccessCallbackFunction = "";
        objFileUploadFinalHeader.IsRequired = false;
        objFileUploadFinalHeader.ShowUploadBtn = false;
        objFileUploadFinalHeader.IsMultipleUploaded = false;
        LoadFileUploadPartialView(objFileUploadFinalHeader);*@

        var objFile = {
            TableName: urlpath,
            TableId: '@Model.HeaderId',
            Path: urlpath + '//1',
            ControlID: '@(fileuploadInitiator)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: false,
            ShowDownloadBtn: false,
            ShowAttachmentBtn: false,
            IsRequired: false
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(fileuploadInitiator)', false);
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>