﻿@{
    ViewBag.Title = "Maintain SSS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>


<script>
    var RoleId = '@ViewBag.RoleId';
    
    $(document).ready(function () {    
        GetHeaderGridDataPartial('Pending');
        $('a[name="tabStatus"]').click(function () {
            GetHeaderGridDataPartial($(this).attr('spara'));
        });
    });
    function GetHeaderGridDataPartial(status) {
        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/SSS/RollingRequestFormPCC/GETPCCInputPartial",
            data: { status: status },
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { status: status, RoleId: RoleId },
            success: function (result) {
                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                }
                else {
                    $("#portlet_comments_2").html(result);
                }
            },
            error: function () {
            }
        });
    }


</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="page-title">
                                PCC Input
                                <small></small>
                            </h1>
                        </div>
                        <div class="col-md-6" style="text-align:right">
                          
                        </div>
                    </div>
                </div>

                <div class="portlet-title tabbable-line">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">

                        </div>
                        <div class="tab-pane" id="portlet_comments_2">
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>