﻿@using IEMQSImplementation
@using IEMQS.Areas.SSS.Controllers
@model SSS013
@{
    ViewBag.Title = "PCC Input";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />

<style>
    .clsNewBtn {
        height: 20px !important;
        padding: 0px 5px;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    /*legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }*/

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <form id="frmPCCInput">
                    <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                        <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                            <span class="page-title">PCC Input</span>
                            <input type="hidden" id="hdnid" />
                            @Html.HiddenFor(m => m.SSSId)
                            @Html.HiddenFor(m => m.LineId)
                        </div>
                        <div class="ribbon ribbon-right ribbon-color-warning">
                            Status :  <span style="font-weight:bolder" id="spanStatus"> @Model.Status.Trim()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="divSSSHeader"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="control-label" title="PLNG3 Employee">To<span class="required"> * </span></label>
                                <input type="text" class="form-control" id="txtToPerson" name="txtToPerson" />
                                @Html.HiddenFor(m => m.ToPerson, new { @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Expected date of Inputs<span class="required"> * </span></label>

                                <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => m.TargetDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="control-label">From<span class="required"> * </span></label>
                                <input type="text" class="form-control" id="txtFromPerson" name="txtToPerson" readonly />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Date<span class="required"> * </span></label>
                                @Html.TextBoxFor(m => m.SubmittedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>Rolling Request</legend>

                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <label class="control-label">Plate Material<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Material, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">UTS in (MPa) at ambient temperature<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.UTSTemperatureAmbient, new { @class = "form-control numeric" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Yield Stress in (MPa) at ambient temperature<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.YieldStressAmbient, new { @class = "form-control numeric" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">At User Defined Temperature in deg C.<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.UserTemperature, new { @class = "form-control numeric" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">

                                    <div class="col-md-6">
                                        <label class="control-label">Yield Stress in (MPa) at User defined  temperature<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.YieldStressUser, new { @class = "form-control numeric" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Shell I/D (mm)<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.ShellId, new { @class = "form-control numeric" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Nominal thk (mm)<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.NomicalThickness, new { @class = "form-control numeric" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">T/T line distance (mm)<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.TTLineDistance, new { @class = "form-control numeric" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12" style="text-align:right;margin-top:15px;">
                                    <input type="button" class="btn submit" id="btnSubmit" value="Submit" style="display:none" />
                                    <input type="button" class="btn save" id="btnSave" value="Save" />
                                    <input type="button" class="btn btnclose" id="btnClose" value="Close" />                                    
                                </div>

                            </fieldset>
                        </div>
                    </div>
                </form>
                @if (ViewBag.RoleId == Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.PCC))
                {
                    @Html.HiddenFor(m => m.LineId)
                    <form id="frmPCCInputReplay">
                        <fieldset style="margin-top:20px;">
                            <legend>Rolling Request Replay</legend>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label"><br />Rolling Machine<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.RollingMachine, new { @class = "form-control",@maxlength="100" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">Rolling Dia<br /> (mm)<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.RollingDia, new { @class = "form-control numeric" })
                                            <span></span>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <label class="control-label">Max. Width <br />(mm)<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.MaxPossibleWidth, new { @class = "form-control numeric" })
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">Plate Thk. + Scaling <br />& Thinning (mm)<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.PlateThickness, new { @class = "form-control numeric" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">Edge Breaking <br />Allowance on Lg (mm)<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.EdgeBreakingAllowance, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">

                                    
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">Type of Edge Breaking<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.TypeOfEdgeBreaking, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">At temperature (Deg C) <span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.TemperatureOfBreaking, new { @class = "form-control numeric" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Plates per Charge <span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.PlatesPerChargeBreaking, new { @class = "form-control numeric" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Soaking Time per Charge<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.SoakingTimeBreakingHour, new { @class = "form-control numeric", @style = "width:60px;display:inline-block;", @placeholder = "HH" })
                                            @Html.TextBoxFor(m => m.SoakingTimeBreakingMinute, new { @class = "form-control minutes", @style = "width:60px;display:inline-block;", @placeholder = "MM" })
                                        </div>
                                    </div>                                    
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">Type of Rolling<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.TypeOfRolling, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">At Temperature (Deg C)<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.TempOfRolling, new { @class = "form-control numeric" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Plates per charge<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.PlatePerChargeRolling, new { @class = "form-control numeric" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label"> Soaking Time per Charge<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.SoakingTimeRollingHour, new { @class = "form-control numeric",@style= "width:60px;display:inline-block;", @placeholder="HH" })
                                            @Html.TextBoxFor(m => m.SoakingTimeRollingMinute, new { @class = "form-control minutes", @style = "width:60px;display:inline-block;", @placeholder = "MM" })
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">Type of Re-Rolling<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.TypeOfReRolling, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">At Temperature (Deg C)<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.TempOfReRolling, new { @class = "form-control numeric" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Plates per charge<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.PlatePerChargeReRolling, new { @class = "form-control numeric" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label"> Soaking Time per Charge<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.SoakingTimeReRollingHour, new { @class = "form-control numeric", @style = "width:60px;display:inline-block;", @placeholder = "HH" })
                                            @Html.TextBoxFor(m => m.SoakingTimeReRollingMinute, new { @class = "form-control minutes", @style = "width:60px;display:inline-block;", @placeholder = "MM" })
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="col-md-12" style="text-align:right;margin-top:15px;">                                    
                                    <input type="button" class="btn submit" id="btnSubmitPCCReplay" value="Submit"/>
                                    <input type="button" class="btn save" id="btnSavePCCReplay" value="Save" />
                                    <input type="button" class="btn btnclose" id="btnClosePCCReplay" value="Close" />
                                </div>
                            </div>
                        </fieldset>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
<script>
    var currenttab;
    var lstToEmployee = @Html.Raw(Json.Encode(@ViewBag.lstToEmployee));
    var lstTypeOfRolling = @Html.Raw(Json.Encode(@ViewBag.TypeOfRolling));
    var RoleId='@ViewBag.RoleId';
    var Status='@Model.Status';

    $(document).ready(function () {

        BindSSSHeader('@Model.SSSId');

        FillAutoComplete($('#txtToPerson'), lstToEmployee, $("#ToPerson"));

        $('#frmPCCInput').validate({
            rules: {
                txtToPerson:{
                    required: true,
                },
                TargetDate: {
                    required: true,
                },
                Material: {
                    required: true,
                },
                UTSTemperatureAmbient: {
                    required: true,
                },
                YieldStressAmbient: {
                    required: true,
                },
                UserTemperature: {
                    required: true,
                },
                YieldStressUser: {
                    required: true,
                },
                ShellId: {
                    required: true,
                },
                NomicalThickness: {
                    required: true,
                },
                TTLineDistance: {
                    required: true,
                }
            },
            messages: {
                txtToPerson:{
                    required: "To Person Is Required",
                },
                TargetDate: {
                    required: "Target Date Is Required"
                },
                Material: {
                    required: "Plate Material Is Required"
                },
                UTSTemperatureAmbient: {
                    required: "UTS in (MPa) at ambient temperature Is Required"
                },
                YieldStressAmbient: {
                    required: "Yield Stress in (MPa) at ambient temperature Is Required"
                },
                UserTemperature: {
                    required: "At User Defined Temperature in deg C. Is Required"
                },
                YieldStressUser: {
                    required: "Yield Stress in (MPa) at User defined  temperature Is Required"
                },
                ShellId: {
                    required: "Shell I/D (mm) Is Required"
                },
                NomicalThickness: {
                    required: "Nominal thk (mm) Is Required"
                },
                TTLineDistance: {
                    required: "T/T line distance (mm) Is Required"
                }
            }
        });

        $('#frmPCCInputReplay').validate({
            rules: {
                RollingMachine:{
                    required: true,
                },
                RollingDia: {
                    required: true,
                },
                MaxPossibleWidth: {
                    required: true,
                },
                PlateThickness: {
                    required: true,
                },
                EdgeBreakingAllowance: {
                    required: true,
                },
                TypeOfEdgeBreaking: {
                    required: true,
                },
                TemperatureOfBreaking: {
                    required: true,
                },
                PlatesPerChargeBreaking: {
                    required: true,
                },
                SoakingTimeBreakingHour: {
                    required: true,
                },
                SoakingTimeBreakingMinute: {
                    required: true,
                },
                TypeOfRolling: {
                    required: true,
                },
                TempOfRolling: {
                    required: true,
                },
                PlatePerChargeRolling: {
                    required: true,
                },
                SoakingTimeRollingHour: {
                    required: true,
                },
                SoakingTimeRollingMinute: {
                    required: true,
                },
                TypeOfReRolling: {
                    required: true,
                },
                TempOfReRolling: {
                    required: true,
                },
                PlatePerChargeReRolling: {
                    required: true,
                },
                SoakingTimeReRollingHour: {
                    required: true,
                },
                SoakingTimeReRollingMinute: {
                    required: true,
                }
            }
        });

        $('.date-picker').datepicker({
            startDate: '+0d',
            orientation: "bottom auto",
            autoclose: true
        });

        $.extend($.fn.autoNumeric.defaults, {
            aSep: '',
            aDec: '.'
        });
        jQuery(function ($) {
            $('.numeric').autoNumeric('init', { aPad: "fase", vMax: "1000000000", aForm: "false" });
            $('.minutes').autoNumeric('init', { aPad: "fase", vMax: "60", aForm: "false" });
        });

        FillAutoComplete($('#TypeOfRolling'), lstTypeOfRolling, $('#TypeOfRolling'));
        FillAutoComplete($('#TypeOfReRolling'), lstTypeOfRolling, $('#TypeOfReRolling'));
    });

    function BindSSSHeader(SSSId) {
        $('#divSSSHeader').load(
            $.ajax({
                url: WebsiteURL +"/SSS/MaintainSSS/GetSSSHeaderDetails",
                type: "POST",
                data: { SSSId: SSSId, DisplayDSS: false },
                dataType: "html",
                //async:false,
                success: function (data) {
                    //console.log(data);
                    $('#divSSSHeader').html(data);
                }
            })
      );
    }

    if('@Model.LineId'>0){
        if('@Model.SubmittedBy'==""){
            $('#btnSubmit').show();
        }
        else{
            $('#btnSubmit').hide();
            DisableControlsInSubmitMode();
        }
    }
    if('@ViewBag.ToUserName'!=null){
        $('#txtToPerson').val('@ViewBag.ToUserName')
    }
    if('@ViewBag.FromUserName'!=null){
        $('#txtFromPerson').val('@ViewBag.FromUserName')
    }

    function DisableControlsInSubmitMode(){
        $('#Material').prop("readonly","readonly");
        $('#UTSTemperatureAmbient').prop("readonly","readonly");
        $('#YieldStressAmbient').prop("readonly","readonly");
        $('#UserTemperature').prop("readonly","readonly");
        $('#YieldStressUser').prop("readonly","readonly");
        $('#ShellId').prop("readonly","readonly");
        $('#NomicalThickness').prop("readonly","readonly");
        $('#TTLineDistance').prop("readonly","readonly");

        if(Status=='@IEMQS.Areas.SSS.Controllers.PCCInputStatus.Completed.GetStringValue()'){
            $('#btnSave').hide();
            $('#txtToPerson').prop("readonly","readonly");
        }
    }

    $('#btnSave').click(function () {
        if ($("#frmPCCInput").valid()) {
            Save();
        }
        else {
            HighlightInValidControls();
            return false;
        }
    });

    $('#btnSubmit').click(function () {
        if ($("#frmPCCInput").valid()) {
            SubmitPCCInput();
        }
        else {
            HighlightInValidControls();
            return false;
        }
    });

    function Save() {
        var frmAddSSS = $("#frmPCCInput").serializeArray();
        var formdata = new FormData();
        if (frmAddSSS != null && frmAddSSS != undefined) {
            $.each(frmAddSSS, function (key, input) {
                formdata.append(input.name, input.value);
            });
        }

        $.ajax({
            url: WebsiteURL +"/SSS/RollingRequestFormPCC/SavePCCInput",
            data: formdata,
            type: 'POST',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            async: false,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.Key == true) {
                    $('#LineId').val(res.HeaderId);
                    setTimeout(DisplayNotiMessage("success", res.Value, "Success"), 2000);
                    if($('#spanStatus').html().trim()=='@IEMQS.Areas.SSS.Controllers.SSSStatus.Draft.GetStringValue()'){
                        $('#btnSubmit').show();
                    }
                }
                else {
                    setTimeout(DisplayNotiMessage("error", res.Value, "Error"), 2000);
                }
            },
            error: function () { },
        });
    }

    function SubmitPCCInput() {
        $.ajax({
            url: WebsiteURL +"/SSS/RollingRequestFormPCC/SubmitPCCInput",
            type: "POST",
            datatype: "json",
            data: { LineId: $('#LineId').val() },
            success: function (res) {
                if (res.Key) {
                    DisplayNotiMessage("success", res.Value, "Success");
                    if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.DE)'){
                        window.location.href=WebsiteURL +"/SSS/RollingRequestFormPCC/IndexDE"
                    }
                    else if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.PCC)'){
                        window.location.href=WebsiteURL +"/SSS/RollingRequestFormPCC/IndexPCC"
                    }

                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            },
            error: function () {
                alert("error");
                response = "";
            }
        });
    }

    if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.PCC)'){
        $('#txtToPerson').prop("readonly","readonly");
        $('#btnSubmit').hide();
        $('#btnSave').hide();
        $('#btnClose').hide();

        if(Status=='@IEMQS.Areas.SSS.Controllers.PCCInputStatus.Completed.GetStringValue()'){
            $('#btnSavePCCReplay').hide();
            $('#btnSubmitPCCReplay').hide();
            $('#frmPCCInputReplay input[type="text"]').prop("readonly","readonly");
        }
    }
    $('#btnClose').click(function () {
        if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.DE)'){
            //window.location.href="/SSS/RollingRequestFormPCC/IndexDE"
            window.location.href=WebsiteURL +"/SSS/MaintainSSS/AddSSS?id="+@Model.SSSId+"&RoleId="+'@Convert.ToInt32(RoleForSSS.DE)';
        }
        else if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.PCC)'){
            window.location.href=WebsiteURL +"/SSS/RollingRequestFormPCC/IndexPCC"
        }
    });

    $('#btnClosePCCReplay').click(function () {
        if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.DE)'){
            //window.location.href="/SSS/RollingRequestFormPCC/IndexDE"
            window.location.href=WebsiteURL +"/SSS/MaintainSSS/AddSSS?id="+@Model.SSSId+"&RoleId="+'@Convert.ToInt32(RoleForSSS.DE)';
        }
        else if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.PCC)'){
            window.location.href=WebsiteURL +"/SSS/RollingRequestFormPCC/IndexPCC"
        }
    });

    $('#btnSavePCCReplay').click(function () {
        if ($("#frmPCCInputReplay").valid()) {
            SavePCCInputReplay();
        }
        else {
            HighlightInValidControls();
            return false;
        }
    });

    function SavePCCInputReplay(){
        var frmAddSSS = $("#frmPCCInputReplay").serializeArray();
        var formdata = new FormData();
        if (frmAddSSS != null && frmAddSSS != undefined) {
            $.each(frmAddSSS, function (key, input) {
                formdata.append(input.name, input.value);
            });
        }
        formdata.append("Id", $('#LineId').val());
        $.ajax({
            url: WebsiteURL +"/SSS/RollingRequestFormPCC/SavePCCInputReplay",
            data: formdata,
            type: 'POST',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            async: false,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.Key == true) {
                    setTimeout(DisplayNotiMessage("success", res.Value, "Success"), 2000);
                    $('#btnSubmitPCCReplay').show();
                }
                else {
                    setTimeout(DisplayNotiMessage("error", res.Value, "Error"), 2000);
                }
            },
            error: function () { },
        });
    }

    $('#btnSubmitPCCReplay').click(function () {
        if ($("#frmPCCInputReplay").valid()) {
            SubmitPCCReplayInput();
        }
        else {
            HighlightInValidControls();
            return false;
        }
    });

    function SubmitPCCReplayInput(){
        $.ajax({
            url: WebsiteURL +"/SSS/RollingRequestFormPCC/SubmitPCCReplayInput",
            type: "POST",
            datatype: "json",
            data: { LineId: $('#LineId').val() },
            success: function (res) {
                if (res.Key) {
                    DisplayNotiMessage("success", res.Value, "Success");
                    if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.DE)'){
                        window.location.href=WebsiteURL +"/SSS/RollingRequestFormPCC/IndexDE"
                    }
                    else if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.PCC)'){
                        window.location.href=WebsiteURL +"/SSS/RollingRequestFormPCC/IndexPCC"
                    }

                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            },
            error: function () {
                alert("error");
                response = "";
            }
        });
    }
</script>