﻿@model IEMQSImplementation.PRO265
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0, s2 = 0, s3 = 0, s4 = 0, s5 = 0;/* for serial number */

}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>

                            <div class="col-md-12">

                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                        <div class="portlet-title">
                                            <div class="caption" style="padding:6px!important">
                                                <span style="float:left;">
                                                    <strong>TRAY SUPPORT RING (TSR) DIMENSION.</strong>
                                                </span>
                                            </div>
                                            <div class="tools" id="dvExportSubLines">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div1">
                                            <div class="table-responsive">
                                                <table id="tblProtocolLines1" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th class="min-phone-l" style="display:none;">#</th>
                                                            <th class="min-phone-l" style="display:none;">LineId</th>
                                                            <th class="title" rowspan="3">ORIENTATION</th>
                                                            <th class="title" rowspan="2">ELEVATION OF TSR FROM <br />@Html.DropDownListFor(model => model.ElevationOfTSRFrom, new SelectList(@ViewBag.ElevationOfTSRFrom, "Value", "Text"), "", new { @class = "form-control inlinetextbox w100", @role = "QC" }) <br />(REQ @Html.TextBoxFor(model => model.ReqElevationOfTSRFrom, new { @class = "form-control", @maxlength = "50", @role = "QC" }))</th>
                                                            <th class="title" rowspan="2">TSR WIDTH <br />(REQ @Html.TextBoxFor(model => model.ReqTSRWidth, new { @class = "form-control", @maxlength = "20", @role = "QC" }) )</th>
                                                            <th class="title" rowspan="2">TSR HEIGHT<br /> (REQ @Html.TextBoxFor(model => model.ReqTSRHeight, new { @class = "form-control", @maxlength = "20", @role = "QC" }) )</th>
                                                            <th class="title">TSR ID:@Html.DropDownListFor(model => model.TSRID, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "QC" }) </th>

                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td class="subtitle clsActTSRID" style="text-align:center">(REQ @Html.TextBoxFor(model => model.ReqTSRID, new { @class = "form-control", @maxlength = "20", @role = "QC" }) )</td>
                                                            @*<td class="subtitle" style="text-align:center">LEVELNESS OF TOP FACE OF TSR  <br /> (DIF. OF MIN. ELE. & MAX. ELE.DIM.) </td>*@
                                                            <td class="subtitle" style="text-align:center;min-width: 150px;">TILTING OF TSR  </td>
                                                            <td class="subtitle" style="text-align:center;min-width: 150px;">FLATNESS IN @Html.TextBoxFor(model => model.FlatnessIn, new { @class = "form-control", @maxlength = "20", @role = "QC" }) MM ARC DISTANCE OF TSR</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="subtitle" style="text-align:center">TOL: @Html.TextBoxFor(model => model.TolElevationOfTSRFrom, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                            <td class="subtitle" style="text-align:center">TOL: @Html.TextBoxFor(model => model.TolTSRWidth, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                            <td class="subtitle" style="text-align:center">TOL: @Html.TextBoxFor(model => model.TolTSRHeight, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                            <td class="subtitle clsActTSRID" style="text-align:center">TOL: @Html.TextBoxFor(model => model.TolTSRID, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                           @*<td class="subtitle" style="text-align:center">TOL: @Html.TextBoxFor(model => model.TolLevelnessOfTopFaceOfTSR, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>*@
                                                            <td class="subtitle" style="text-align:center">TOL: @Html.TextBoxFor(model => model.TolTiltingOfTSR, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                            <td class="subtitle" style="text-align:center">TOL: @Html.TextBoxFor(model => model.TolFlatnessIn, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO266 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO266 as List<PRO266>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>


                                                                    <td class="Orientation">@Html.TextBox("Orientation_1_" + @s1, @item.Orientation, new { @class = "form-control width125px", @maxlength = "20", @role = "QC" })</td>
                                                                    <td class="ActElevationOfTSRFrom">@Html.TextBox("ActElevationOfTSRFrom_1_" + @s1, @item.ActElevationOfTSRFrom, new { @class = "form-control width125px calOAActual", @maxlength = "20", @role = "PROD" })</td>
                                                                    <td class="ActTSRWidth">@Html.TextBox("ActTSRWidth_1_" + @s1, @item.ActTSRWidth, new { @class = "form-control width125px", @maxlength = "20", @role = "PROD" })</td>

                                                                    <td class="ActTSRHeight">@Html.TextBox("ActTSRHeight_1_" + @s1, @item.ActTSRHeight, new { @class = "form-control width125px", @maxlength = "20", @role = "PROD" })</td>
                                                                    <td class="ActTSRID clsActTSRID">@Html.TextBox("ActTSRID_1_" + @s1, @item.ActTSRID, new { @class = "form-control width125px", @maxlength = "20", @role = "PROD" })</td>
                                                                    @*<td class="LevelnessOfTopFaceOfTSR">@Html.TextBox("LevelnessOfTopFaceOfTSR_1_" + @s1, @item.LevelnessOfTopFaceOfTSR, new { @class = "form-control width125px", @maxlength = "20", @role = "", @readonly = "readonly", @tabindex = "-1" })</td>*@
                                                                    <td class="ActTiltingOfTSR">@Html.TextBox("ActTiltingOfTSR_1_" + @s1, @item.ActTiltingOfTSR, new { @class = "form-control width125px", @maxlength = "20", @role = "PROD" })</td>
                                                                    <td class="ActFlatnessIn">@Html.TextBox("ActFlatnessIn_1_" + @s1, @item.ActFlatnessIn, new { @class = "form-control width125px", @maxlength = "20", @role = "PROD" })</td>

                                                                    

                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                               
                                                            }
                                                        }
                                                    </tbody>
                                                    <tfooter>
                                                        <tr class="outby">
                                                            <td class="min-phone-l" style="display:none;">HeaderId</td>
                                                            <td class="min-phone-l" style="display:none;">LineId</td>
                                                            <td class="datatableFooter" style="text-align:center"> <b>LEVELNESS OF TOP FACE OF TSR  <br /> (DIF. OF MIN. ELE. & MAX. ELE.DIM.) <br/>TOL: @Html.TextBoxFor(model => model.TolLevelnessOfTopFaceOfTSR, new { @class = "form-control", @maxlength = "20", @role = "QC" })</b></td>
                                                            <td class="datatableFooter" colspan="1" style="text-align:center">@Html.TextBoxFor(model => model.LevelnessOfTopFaceOfTSR, new { @class = "form-control", @readonly = "readonly", @tabindex = "-1" })</td>
                                                        </tr>
                                                    </tfooter>
                                                </table>
                                            </div>
                                            <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable">
                                        <thead>
                                            <tr>
                                                <td class="title" rowspan="3">SEAM NO</td>
                                                <td class="title" colspan="5">W.E.P. DIMENSIONS FOR TSR TO SHELL / HEAD / CONE SEAM</td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle" style="display:none;">HeaderId</td>
                                                <td class="subtitle" style="display:none;">LineId</td>
                                                <td class="subtitle">DETAILS</td>
                                                <td class="subtitle" style="text-align: center;">ROOT GAP</td>
                                                <td class="subtitle" style="text-align: center;">ROOT FACE</td>
                                                <td class="subtitle" style="text-align: center;">TOP SIDE WEP ANGLE</td>
                                                <td class="subtitle" style="text-align: center;">BOTTOM SIDE WEP ANGLE</td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle">REQUIRED</td>
                                                <td> @Html.TextBoxFor(model => model.ReqRootGap, new { @class = "form-control", @maxlength = "10", @role = "QC" })  </td>
                                                <td> @Html.TextBoxFor(model => model.ReqRootFace, new { @class = "form-control ", @maxlength = "10", @role = "QC" })  </td>
                                                <td> @Html.TextBoxFor(model => model.ReqOneSideWepAngle, new { @class = "form-control ", @maxlength = "20", @role = "QC" })  </td>
                                                <td> @Html.TextBoxFor(model => model.ReqOtherSideWepAngle, new { @class = "form-control ", @maxlength = "20", @role = "QC" })  </td>

                                            </tr>
                                        </thead>
                                        <tbody>
                                           
                                            <tr>
                                                <td rowspan="2"> @Html.TextBoxFor(model => model.WEPSeamNo, new { @class = "form-control", @maxlength = "16", @role = "QC" })  </td>

                                                <td>ACT. MAX.</td>
                                                <td> @Html.TextBoxFor(model => model.ActMaxRootGap, new { @class = "form-control ActMaxRootGap", @maxlength = "10", @role = "PROD", @onfocusout = "funActMaxRootGap();" })  </td>
                                                <td> @Html.TextBoxFor(model => model.ActMaxRootFace, new { @class = "form-control ActMaxRootFace", @maxlength = "10", @role = "PROD", @onfocusout = "funActMaxRootFace();" })  </td>
                                                <td> @Html.TextBoxFor(model => model.ActMaxOneSideWepAngle, new { @class = "form-control ActMaxInside", @maxlength = "10", @role = "PROD", @onfocusout = "funActMaxInside();" })  </td>
                                                <td> @Html.TextBoxFor(model => model.ActMaxOtherSideWepAngle, new { @class = "form-control ActMaxOutside", @maxlength = "10", @role = "PROD", @onfocusout = "funActMaxOutside();" })  </td>
                                            </tr>
                                            <tr>
                                                <td>ACT. MIN.</td>
                                                <td> @Html.TextBoxFor(model => model.ActMinRootGap, new { @class = "form-control ActMinRootGap", @maxlength = "10", @role = "PROD", @onfocusout = "funActMinRootGap();" })  </td>
                                                <td> @Html.TextBoxFor(model => model.ActMinRootFace, new { @class = "form-control ActMinRootFace", @maxlength = "10", @role = "PROD", @onfocusout = "funActMinRootFace();" }) </td>
                                                <td> @Html.TextBoxFor(model => model.ActMinOneSideWepAngle, new { @class = "form-control ActMinInside", @maxlength = "10", @role = "PROD", @onfocusout = "funActMinInside();" })  </td>
                                                <td> @Html.TextBoxFor(model => model.ActMinOtherSideWepAngle, new { @class = "form-control ActMinOutside", @maxlength = "10", @role = "PROD", @onfocusout = "funActMinOutside();" })  </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>



                            <div class="col-md-12" style="margin-top: 10px;" id="#">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="3">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left;">
                                                    <strong> </strong>
                                                </span>

                                            </div>
                                            <div class="tools" id="dvExportSubLines">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div2', this)" id="btnCollapse2" data-target="#div2" data-original-title="" title=""> </a>

                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div2">
                                            <div class="table-responsive">
                                                <table id="tblProtocolLines2" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">HeaderId</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th class="title" rowspan="3">SEAM NO</th>
                                                            <th class="title" colspan="6">TSR LONG SEAM W.E.P. DIMENSIONS</th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <th class="subtitle" style="text-align: center;">DETAILS</th>
                                                            <th class="subtitle" style="text-align: center;">ROOT GAP</th>
                                                            <th class="subtitle" style="text-align: center;">ROOT FACE</th>
                                                            <th class="subtitle" style="text-align: center;">TOP SIDE WEP ANGLE</th>
                                                            <th class="subtitle" style="text-align: center;">BOTTOM SIDE WEP ANGLE</th>
                                                            <th class="subtitle" style="text-align: center;">OFFSET</th>
                                                        </tr>
                                                        <tr>
                                                            <th>REQUIRED</th>
                                                            <td> @Html.TextBoxFor(model => model.ReqRootGap1, new { @class = "form-control", @maxlength = "10", @role = "QC" })  </td>
                                                            <td> @Html.TextBoxFor(model => model.ReqRootFace1, new { @class = "form-control ", @maxlength = "10", @role = "QC" })  </td>
                                                            <td> @Html.TextBoxFor(model => model.ReqTopSideWepAngle, new { @class = "form-control ", @maxlength = "20", @role = "QC" })  </td>
                                                            <td> @Html.TextBoxFor(model => model.ReqBottomSideWepAngle, new { @class = "form-control ", @maxlength = "20", @role = "QC" })  </td>
                                                            <td> @Html.TextBoxFor(model => model.ReqOffset, new { @class = "form-control ", @maxlength = "20", @role = "QC" })  </td>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO267 != null)
                                                            {
                                                                foreach (var item in ViewBag.lstPRO267 as List<PRO267>)
                                                                {

                                                                    @*<tr class="row_@(s4 = s4 + 1) tab_new_@(s5 = s5 + 1)">
                                                                        <td style="text-align: center;display:none;"># @(s2 = s2 + 1) </td>
                                                                        <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>


                                                                     
                                                                    </tr>*@

                                                                    <tr class="row_@(s4 = s4 + 1) tab_new_@(s5 = s5 + 1)">
                                                                        <td style="text-align: center;display:none;"># @(s2 = s2 + 1) </td>
                                                                        <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                        <td class="SeamNo " rowspan="2">@Html.TextBox("SeamNo_2_" + @s2, @item.SeamNo, new { @class = "form-control", @maxlength = "16", @role = "QC" })</td>
                                                                        <td class="subtitle" style="text-align: center;">ACT. MAX.</td>
                                                                        <td class="ActMaxRootGap">@Html.TextBox("ActMaxRootGap_2_" + @s2, @item.ActMaxRootGap, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                        <td class="ActMaxRootFace">@Html.TextBox("ActMaxRootFace_2_" + @s2, @item.ActMaxRootFace, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                        <td class="ActMaxTopSideWepAngle">@Html.TextBox("ActMaxTopSideWepAngle_2_" + @s2, @item.ActMaxTopSideWepAngle, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                        <td class="ActMaxBottomSideWepAngle">@Html.TextBox("ActMaxBottomSideWepAngle_2_" + @s2, @item.ActMaxBottomSideWepAngle, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                        <td class="ActMaxOffset">@Html.TextBox("ActMaxOffset_2_" + @s2, @item.ActMaxOffset, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>


                                                                        @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                        {
                                                                            <td class="DeleteAction"> <i id="Delete_2_@s2" name="Delete_2_@s2" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteNewTable(@s5);"></i></td>
                                                                        }

                                                                    </tr>

                                                                        <tr class="row_@(s4 = s4 + 1) tab_new_@(s5)">
                                                                            <td style="text-align: center;display:none;"># @(s2 = s2 + 1) </td>
                                                                            <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                            <td class="subtitle" style="text-align: center;">ACT. MIN.</td>                                                              
                                                                            <td class="ActMinRootGap">@Html.TextBox("ActMinRootGap_2_" + @s2, @item.ActMinRootGap, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                            <td class="ActMinRootFace">@Html.TextBox("ActMinRootFace_2_" + @s2, @item.ActMinRootFace, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                            <td class="ActMinTopSideWepAngle">@Html.TextBox("ActMinTopSideWepAngle_2_" + @s2, @item.ActMinTopSideWepAngle, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                            <td class="ActMinBottomSideWepAngle">@Html.TextBox("ActMinBottomSideWepAngle_2_" + @s2, @item.ActMinBottomSideWepAngle, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                            <td class="ActMinOffset">@Html.TextBox("ActMinOffset_2_" + @s2, @item.ActMinOffset, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>

                                                                        </tr>

                                                                        <tr>


                                                                        </tr>
                                                                }
                                                            }
                                                    </tbody>
                                                </table>

                                            </div>

                                            <input id="hdGrid2TotalTbody" type="hidden" value="@s4" />
                                                <input id="hdGrid2LastRow" type="hidden" value="@s2" />
                                                <input id="hdGrid2TotalGroup" type="hidden" value="@s5" />
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine3" data-gridid="3">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left;">
                                                    <strong>IDENTIFICATION MARKING </strong>
                                                </span>
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div3', this)" id="btnCollapse3" data-target="#div3" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div3">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines3">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th></th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>

                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO268 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO268 as List<PRO268>)
                                                            {

                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s3 = s3 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="IdentificationMarking">@Html.TextArea("IdentificationMarking_3_" + @s3, @item.IdentificationMarking, new { @class = "form-control", @maxlength = "200", @role = "PROD" })</td>

                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_3_@s3" name="Delete_3_@s3" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }

                                                    </tbody>
                                                </table>

                                            </div>
                                            <input id="hdGrid3LastRow" type="hidden" value="@s3" />
                                        </div>
                                    </div>
                                </div>
                            </div>                   
                            <div class="col-md-12">
                                <div class="col-md-5"></div>
                                <div class="col-md-7">
                                    <img src="~/Images/Protocol054_img1.png" />
                                </div>

                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                        <tr>
                                            <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                                CHECK POINTS/REMARKS
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                1) PROCEDURE NO:  @Html.TextBoxFor(model => model.CheckPoint1, new { @class = "form-control inlinetextbox", @maxlength = "50", @role = "QC" })
                                            </td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td class="clstd">
                                                2) ELEVATION OF REFERENCE LINE FROM B.T.L:  @Html.TextBoxFor(model => model.CheckPoint2, new { @class = "form-control inlinetextbox", @maxlength = "50", @role = "QC" })
                                            </td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td class="clstd">
                                                3) VISUAL INSPECTION IS CARRIED OUT AND FOUND SATISFACTORY?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint3, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="clstd">
                                                4) TACKS FREE FROM CRACK ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint4, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="clstd">
                                                5) GROOVE CLEANED ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint5, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="clstd">
                                                6) SEAM NUMBER PUNCHED AS REQUIRED BY STANDARD PROCEDURE?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint6, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="clstd">
                                                7) OVALITY READING AT TSR INSIDE DIAMETER ARE WITHIN TOLERANCE ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint7, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                8) ALL DIMENSIONS ARE IN MM, UNLESS OTHERWISE SPECIFIED.
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="clstd" colspan="2">
                                                9) MEASURING AND TESTING EQUIPMENT SERIAL NUMBER &nbsp;
                                                @Html.TextBoxFor(model => model.CheckPoint9, new { @class = "form-control inlinetextbox width250px", @maxlength = "30", @role = "PROD" })
                                                &nbsp; & CALIBRATION DUE DATE
                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                    @Html.TextBoxFor(m => m.CheckPoint9_2, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;", @role = "PROD" })
                                                    <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                        <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td colspan="2">
                                                QC REMARK: @Html.TextAreaFor(model => model.QCRemarks, new { @class = "form-control", @maxlength = "200", @role = "QC" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                    <input type="button" class="btn submit" id="btnSave" value="Submit" />
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>

<script>
    var notPRODLastChild = "";
    var notQCLastChild = "";

    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';
    var lstLeftRight = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.LeftRight))));
    var lstOutsideInside = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.OutsideOrInside))));

    var lstActSeqFollowed = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.ActSeqFollowed))));

    $(document).ready(function () {
        SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        $("#CheckPoint9_2").change(function () {
            if ($("#CheckPoint9_2").val() != "") {
                $('#btnSaveDraft').focus();
            }
        });

        $('#TSRID').on('change', function () {
            if (this.value == 'Yes') {
                $(".clsActTSRID").show();
            }
            else {
                $(".clsActTSRID").hide();
            }
        });


        $('#CheckPoint3,#CheckPoint4,#CheckPoint5,#CheckPoint6,#CheckPoint7').val('Yes')

        if ('@Model.CheckPoint3' != "") { $('#CheckPoint3').val('@Model.CheckPoint3'); }
        if ('@Model.CheckPoint4' != "") { $('#CheckPoint4').val('@Model.CheckPoint4'); }
        if ('@Model.CheckPoint5' != "") { $('#CheckPoint5').val('@Model.CheckPoint5'); }
        if ('@Model.CheckPoint6' != "") { $('#CheckPoint6').val('@Model.CheckPoint6'); }
        if ('@Model.CheckPoint7' != "") { $('#CheckPoint7').val('@Model.CheckPoint7'); }
        if ('@Model.TSRID' != "") { $('#TSRID').val('@Model.TSRID'); }
        if ('@Model.ElevationOfTSRFrom' != "") { $('#ElevationOfTSRFrom').val('@Model.ElevationOfTSRFrom'); }

        if ($('#TSRID').val() == "Yes") {
            $(".clsActTSRID").show();
        }
        else {
            $(".clsActTSRID").hide();
        }

        calculateMaxMin("calOAActual", "LevelnessOfTopFaceOfTSR");

        $(".calOAActual").change(function () {
            calculateMaxMin("calOAActual", "LevelnessOfTopFaceOfTSR");
        });

    });

    $('#QCRemarks').prop("disabled", true).addClass("NonEditableTextColor");

    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData", userRole, false, LoadSaveAndDraft);
        //LoadSaveAndDraft();
    });


    $("#btnSave").click(function () {
        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
        {
            <text>$('[role="PROD"]').not('.islastrow').prop("required", true);</text>
        }else
        {
            <text>$('[role="QC"]').not('.islastrow').prop("required", true);</text>
        }
        SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData", userRole, true, LoadSaveAndDraft);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }

    function SaveProtocolLine(lineId, gridId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine" + gridId, "tblProtocolLines" + gridId, "btnNewLines" + gridId);
        if (gridId == 5) {
            outby();
        }
    }

    function SetTableColumns() {
        if (isEdit.toLowerCase() == "true") {
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) {

                AddNextRow(this, null, false, 3, 'hdGrid3LastRow', 'tblProtocolLines3', 'IdentificationMarking', ['IdentificationMarking'], AddTbl3NewTrRow, true);


                $("[role=PROD]").first().focus();
            }


            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) {

                AddNextRow(this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'SeamNo', ['SeamNo'], AddTbl2NewTrRow, true);

                AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'Orientation', ['Orientation'], AddTbl1NewTrRow, true);



                //AddNextRow(this, null, false, 3, 'hdGrid3LastRow', 'tblProtocolLines3', 'RequiredValue', ['RequiredValue', 'ActualValue'], AddTbl3NewTrRow, true);

                notQCLastChild = ":not(:last-child)";
                $("[role=QC]").first().focus();
            }
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) { $("[role=PROD]").first().focus(); }           
            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) { $("[role=QC]").first().focus(); }
        }
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine";
        window[SaveFunction](lineId, gridId);
    }

    function outby() {
        if (isEdit.toLowerCase() == "true" && userRole.toUpperCase() == 'QC3') {
            $('#OutOfRoundnessOutBy').addClass("EditableTextColor").addClass("QCTextbox");
        }
        else {
            $('#OutOfRoundnessOutBy').prop("disabled", true).addClass("QCTextbox");
        }
    }

    function LoadSaveAndDraft() {

        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "Orientation": $('td.Orientation input', this).val(),
                "ActElevationOfTSRFrom": $('td.ActElevationOfTSRFrom input', this).val(),
                "ActTSRWidth": $('td.ActTSRWidth input', this).val(),
                "ActTSRHeight": $('td.ActTSRHeight input', this).val(),
                "ActTSRID": $('td.ActTSRID input', this).val(),
                "LevelnessOfTopFaceOfTSR": $('#LevelnessOfTopFaceOfTSR').val(),
                "ActTiltingOfTSR": $('td.ActTiltingOfTSR input', this).val(),
                "ActFlatnessIn": $('td.ActFlatnessIn input', this).val(),

            };

            lstProtocolLines1 = JSON.stringify(TableData1);
        });
        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1" + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);


        var TableData2 = []; //initialize array;
        var lstProtocolLines2 = ""; //empty var;

        var i = 0;

        $("table#tblProtocolLines2 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            debugger
            if (row % 2 == 0) {
                TableData2[i] = {
                    "LineId": $('tr.row_' + (row + 1) + ' td.LineId input').val(),
                    "HeaderId": $('#HeaderId').val(),
                    "SeamNo": $('tr.row_' + (row + 1) + ' td.SeamNo input').val(),
                    "ActMaxRootGap": $('tr.row_' + (row + 1) + ' td.ActMaxRootGap input').val(),
                    "ActMaxRootFace": $('tr.row_' + (row + 1) + ' td.ActMaxRootFace input').val(),
                    "ActMaxTopSideWepAngle": $('tr.row_' + (row + 1) + ' td.ActMaxTopSideWepAngle input').val(),
                    "ActMaxBottomSideWepAngle": $('tr.row_' + (row + 1) + ' td.ActMaxBottomSideWepAngle input').val(),
                    "ActMaxOffset": $('tr.row_' + (row + 1) + ' td.ActMaxOffset input').val(),
                    "ActMinRootGap": $('tr.row_' + (row + 2) + ' td.ActMinRootGap input').val(),
                    "ActMinRootFace": $('tr.row_' + (row + 2) + ' td.ActMinRootFace input').val(),
                    "ActMinTopSideWepAngle": $('tr.row_' + (row + 2) + ' td.ActMinTopSideWepAngle input').val(),
                    "ActMinBottomSideWepAngle": $('tr.row_' + (row + 2) + ' td.ActMinBottomSideWepAngle input').val(),
                    "ActMinOffset": $('tr.row_' + (row + 2) + ' td.ActMinOffset input').val(),

                };
                i = i + 1;
            }
            lstProtocolLines2 = JSON.stringify(TableData2);

        });
        SaveAsDraftProtocolLine(lstProtocolLines2, ControllerURL + "SaveProtocolLine2" + "?HeaderId=" + parseInt($("#HeaderId").val()), 2);




        var TableData3 = []; //initialize array;
        var lstProtocolLines3 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines3 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData3[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "IdentificationMarking": $('td.IdentificationMarking textarea', this).val(),
            };

            lstProtocolLines3 = JSON.stringify(TableData3);
        });

        SaveAsDraftProtocolLine(lstProtocolLines3, ControllerURL + "SaveProtocolLine3" + "?HeaderId=" + parseInt($("#HeaderId").val()), 3);


    }

    function AddTbl1NewTrRow(NewTrRowNum) {
        $("#hdGrid1LastRow").val(NewTrRowNum);
        var strhtml =
        "<tr class=\"islastrow\">" +
        "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
        "<td class=\"LineId\" style=\"display:none;\">0</td>" +
        "<td class=\"Orientation\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow\" onblur=\"AddNextRow(this,'CheckPoint3',false,1,'hdGrid1LastRow','tblProtocolLines1','Orientation',['Orientation'],AddTbl1NewTrRow)\" id=\"Orientation_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"Description_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\"></td>" +
        "<td class=\"ActElevationOfTSRFrom calOAActual\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox \"  id=\"ActElevationOfTSRFrom_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActElevationOfTSRFrom_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td class=\"ActTSRWidth\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox \"  id=\"ActTSRWidth_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActTSRWidth_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td class=\"ActTSRHeight\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox \"  id=\"ActTSRHeight_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActTSRHeight_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td class=\"ActTSRID clsActTSRID\"><input class=\"form-control width125px EditableTextColor islastrow PRODTextbox \"  id=\"ActTSRID_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActTSRID_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        //"<td class=\"LevelnessOfTopFaceOfTSR\"><input class=\"form-control width125px NonEditableTextColor islastrow  \"  id=\"LevelnessOfTopFaceOfTSR_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"LevelnessOfTopFaceOfTSR_1_" + NewTrRowNum + "\" role=\"\" type=\"text\" value=\"\" disabled=\"\" readonly=\"readonly\"  tabindex=\"-1\"></td>" +
        "<td class=\"ActTiltingOfTSR\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox \"  id=\"ActTiltingOfTSR_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActTiltingOfTSR_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td class=\"ActFlatnessIn\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox \"  id=\"ActFlatnessIn_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActFlatnessIn_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +

        "<td  class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines1')\" style=\"display:none\"></i></td>" +
        "</tr>";

        return strhtml;
    }


    function AddTbl2NewTrRow(NewTrRowNum) {
        $("#hdGrid2LastRow").val(NewTrRowNum);
        var TGroup = $("#hdGrid2TotalGroup").val();
        var seamfn = "AddNextRow(this,null,false,2,'hdGrid2LastRow','tblProtocolLines2','SeamNo',['SeamNo'],AddTbl2NewTrRow)";
        var fn = "AddNextRow(this,'PPRootGap',false,2,'hdGrid2LastRow','tblProtocolLines2','SeamNo',['SeamNo'],AddTbl2NewTrRow)";
        var tTbody = 0;

        tTbody = $("#hdGrid2TotalTbody").val();
        var t1 = parseInt(tTbody) + 1;
        var t2 = parseInt(tTbody) + 2;
        //var t3 = parseInt(tTbody) + 3;
        //var t4 = parseInt(tTbody) + 4;

        var tG = parseFloat(TGroup) + 1;

        //var strhtml = "<tr class=\"islastrow row_" + t1 + " \" >" +
        //     +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
        //     + "<td class=\"LineId\" style=\"display:none;\">0</td>"



        //     + "</tr>" +
        var strhtml = "<tr class=\"islastrow row_" + t1 + " \" >" +
             +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
             + "<td class=\"LineId\" style=\"display:none;\">0</td>"
               + "<td class=\"SeamNo center \" rowspan=\"2\"><input class=\"form-control  islastrow EditableTextColor QCTextbox\" id=\"SeamNo_2_" + NewTrRowNum + "\" maxlength=\"16\" name=\"SeamNo_2_" + NewTrRowNum + "\" role=\"QC\" type=\"text\"  onblur=\"" + fn + "\"></td>"
             + "<td style=\"text-align: center;\">ACT. MAX.</td>"
             + "<td class=\"ActMaxRootGap center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMaxRootGap_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMaxRootGap_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
             + "<td class=\"ActMaxRootFace center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMaxRootFace_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMaxRootFace_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
             + "<td class=\"ActMaxTopSideWepAngle center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMaxTopSideWepAngle_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMaxTopSideWepAngle_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
             + "<td class=\"ActMaxBottomSideWepAngle center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMaxBottomSideWepAngle_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMaxBottomSideWepAngle_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
             + "<td class=\"ActMaxOffset center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMaxOffset_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMaxOffset_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
             + "<td class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteNewTable('" + tG + "')\" style=\"display:none\"></i></td>"


            // + "<td class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
             + "</tr>" +
             "<tr class=\"islastrow row_" + t2 + " \" >" +
             +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
             + "<td class=\"LineId\" style=\"display:none;\">0</td>"
             + "<td style=\"text-align: center;\">ACT. MIN.</td>"
             + "<td class=\"ActMinRootGap center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMinRootGap_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMinRootGap_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
             + "<td class=\"ActMinRootFace center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMinRootFace_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMinRootFace_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
             + "<td class=\"ActMinTopSideWepAngle center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMinTopSideWepAngle_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMinTopSideWepAngle_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
             + "<td class=\"ActMinBottomSideWepAngle center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMinBottomSideWepAngle_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMinBottomSideWepAngle_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
             + "<td class=\"ActMinOffset center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMinOffset_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMinOffset_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"

             + "<td class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
             + "</tr></tbody>";

        //"<tr class=\"islastrow row_" + t4 + " \" >" +
        //    +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
        //    + "<td class=\"LineId\" style=\"display:none;\">0</td>"
        //    + "<td style=\"text-align: center;\">PICK IN/OUT</td>"
        //    + "<td class=\"TTPickInOutAllowed center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox valid\" id=\"TTPickInOutAllowed_2_" + NewTrRowNum + "\" maxlength=\"20\" name=\"TTPickInOutAllowed_2_" + NewTrRowNum + "\" role=\"QC\" type=\"text\"></td>"
        //    + "<td class=\"TTPickInOutActualMinimum center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"TTPickInOutActualMinimum_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"TTPickInOutActualMinimum_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
        //    + "<td class=\"TTPickInOutActualMaximum center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"TTPickInOutActualMaximum_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"TTPickInOutActualMaximum_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
        //    + "<td style=\"text-align: center;\">ROOT FACE</td>"
        //     + "<td class=\"TTRootFaceRequired center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox valid\" id=\"TTRootFaceRequired_2_" + NewTrRowNum + "\" maxlength=\"20\" name=\"TTRootFaceRequired_2_" + NewTrRowNum + "\" role=\"QC\"  onblur=\"" + seamfn + "\"  type=\"text\"></td>"
        //     + "<td class=\"TTRootFaceActualMinimum center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"TTRootFaceActualMinimum_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"TTRootFaceActualMinimum_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
        //     + "<td class=\"TTRootFaceActualMaximum center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"TTRootFaceActualMaximum_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"TTRootFaceActualMaximum_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
        //    + "<td class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
        //    + "</tr></tbody>";

        $("#hdGrid2TotalTbody").val(t2);
        $("#hdGrid2TotalGroup").val(tG);

        return strhtml;
    }
    function DeleteNewTable(No) {
        $(".tab_new_" + No).remove();
    }

    function AddTbl3NewTrRow(NewTrRowNum) {
        $("#hdGrid3LastRow").val(NewTrRowNum);
        var strhtml =
        "<tr class=\"islastrow\">" +
        "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
        "<td class=\"LineId\" style=\"display:none;\">0</td>" +
        "<td class=\"IdentificationMarking\"><textarea class=\"form-control  clsAddNew EditableTextColor PRODTextbox islastrow valid\" onblur=\"AddNextRow(this,null,false,3,'hdGrid3LastRow','tblProtocolLines3','IdentificationMarking',['IdentificationMarking'],AddTbl3NewTrRow)\" id=\"IdentificationMarking_3_" + NewTrRowNum + "\" maxlength=\"200\" name=\"IdentificationMarking_3_" + NewTrRowNum + "\" role=\"PROD\"  value=\"\" aria-invalid=\"false\"></textarea></td>" +
        "<td  class=\"DeleteAction\"><i id=\"Delete_3_" + NewTrRowNum + "\" name=\"Delete_3_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines3')\" style=\"display:none\"></i></td>" +

        "</tr>";

        return strhtml;
    }


    //function AddTbl3NewTrRow(NewTrRowNum) {
    //    $("#hdGrid3LastRow").val(NewTrRowNum);
    //    var fn = "AddNextRow(this,null,false,3,'hdGrid3LastRow','tblProtocolLines3','IdentificationMarking',['IdentificationMarking'],AddTbl3NewTrRow)";
    //    var strhtml =
    //    "<tr class=\"islastrow\">" +
    //    "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
    //    "<td class=\"LineId\" style=\"display:none;\">0</td>" +
    //    "<td class=\"IdentificationMarking\">" + GetColumnTextBoxRender(NewTrRowNum, "IdentificationMarking", "", fn, "200", false, false, " width125px ", "PROD", 3, "islastrow") +
    //    //+"<input class=\"form-control width125px clsAddNew EditableTextColor PRODTextbox islastrow valid\" onblur=\"AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','IdentificationMarking',['IdentificationMarking'],AddTbl1NewTrRow)\" id=\"IdentificationMarking_1_" + NewTrRowNum + "\" maxlength=\"200\" name=\"IdentificationMarking_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" aria-invalid=\"false\"></td>" +
    //    "<td class=\"DeleteAction\"><i id=\"Delete_3_" + NewTrRowNum + "\" name=\"Delete_3_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>" +
    //    "</tr>";
    //    return strhtml;
    //}


    


    function funActMaxRootGap() {
        $('.ActMinRootGap').focus();
    }
    function funActMinRootGap() {
        $('.ActMaxRootFace').focus();
    }
    function funActMaxRootFace() {
        $('.ActMinRootFace').focus();
    }
    function funActMinRootFace() {
        $('.ActMaxInside').focus();
    }
    function funActMaxInside() {
        $('.ActMinInside').focus();
    }
    function funActMinInside() {
        $('.ActMaxOutside').focus();
    }
    function funActMaxOutside() {
        $('.ActMinOutside').focus();
    }

</script>