﻿@model IEMQSImplementation.PRO165
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HiddenFor(m => m.HeaderId)
                                <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                <div class="">
                                    @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                </div>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <table class="FormTable">
                                    <tr>
                                        <td class="subtitle textleft" style="width: 2% !important">SERVICE:&nbsp;&nbsp;</td>
                                        <td>@Html.TextBoxFor(model => model.Service, new { @class = "form-control textleft", @maxlength = "50", @role = "QC" })</td>
                                        <td class="subtitle textleft" style="width: 2% !important">MAX. OPER. TEMPERATURE</td>
                                        <td>@Html.TextBoxFor(model => model.MaxOperTemperature, new { @class = "form-control textleft", @maxlength = "500", @role = "QC" })</td>
                                     </tr>
                                    <tr>
                                        <td class="subtitle textleft" style="width: 2% !important">DESIGN PRESSURE</td>
                                        <td>@Html.TextBoxFor(model => model.DesignPressure, new { @class = "form-control textleft", @maxlength = "50", @role = "QC" })</td>
                                        <td class="subtitle textleft" style="width: 2% !important">MAX. OPERATING PRESSURE</td>
                                        <td>@Html.TextBoxFor(model => model.MaxOperatingPressure, new { @class = "form-control textleft", @maxlength = "500", @role = "QC" })</td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle textleft" style="width: 2% !important">THICKNESS METER MAKE & SR NO</td>
                                        <td>@Html.TextBoxFor(model => model.ThicknessMeterMake, new { @class = "form-control textleft", @maxlength = "500", @role = "QC" })</td>
                                        <td class="subtitle textleft" style="width: 2% !important">PROBE SPECIFICATIONS</td>
                                        <td>@Html.TextBoxFor(model => model.ProbeSpecifications, new { @class = "form-control textleft", @maxlength = "500", @role = "QC" })</td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle textleft" style="width: 2% !important">CALIBRATION BLOCK THICKNESS</td>
                                        <td>@Html.TextBoxFor(model => model.CalibrationBlockThickness, new { @class = "form-control textleft", @maxlength = "500", @role = "QC" })</td>
                                        <td class="subtitle textleft" style="width: 2% !important">COUPLANT</td>
                                        <td>@Html.TextBoxFor(model => model.Couplant, new { @class = "form-control textleft", @maxlength = "500", @role = "QC" })</td>
                                    </tr>
                                </table>

                                
                            </div>
                            <div class="col-md-12" style="height: 10px"></div>
                            <div class="col-md-12">
                                <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                    <div class="portlet-title">

                                        <div class="tools" id="dvExportSubLines">
                                            <div class="btn-group">
                                                @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <a style="margin-right:5px;" id="btnNewLines1" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, 'tblProtocolLines1');">
                                                        <i class="fa fa-plus"></i> New
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <table id="tblProtocolLines1" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="min-phone-l" style="display:none;" rowspan="2">GridId</th>
                                                    <th class="min-phone-l" style="display:none;" rowspan="2">LineId</th>
                                                    <th class="min-phone-l" style="display:none;" rowspan="2">HeaderId</th>
                                                    <th class="subtitle" rowspan="2">TML NO</th>
                                                    <th class="subtitle" rowspan="2">REQ THK</th>
                                                    <th class="subtitle" colspan="3">ACT THK</th>
                                                    <th class="subtitle" rowspan="2">AVG THK</th>
                                                    
                                                    <th class="subtitle" rowspan="2"> Remarks</th>
                                                    <th class="subtitle" rowspan="2"> Action</th>
                                                </tr>
                                                <tr>
                                                    
                                                    <th class="subtitle">1</th>
                                                    <th class="subtitle">2</th>
                                                    <th class="subtitle" style="border-right: 1px solid #e7ecf1;">3</th>
                                                    @*<th class="subtitle" style="border-right: 1px solid #e7ecf1;">Actual</th>*@
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="height: 10px"></div>
                            <div class="col-md-12">
                                <table class="FormTable tblNotes noborder" style="border:2px solid #EAEAEA;">
                                    <tr>
                                        <td class="title bold">Remarks:-</td>
                                    </tr>
                                    <tr>
                                        <td> 1)ALL DIMENSIONS ARE IN MM</td>
                                    </tr>
                                   
                                    <tr>
                                        <td>2)THICKNESS MEASUREMENT CARRIED OUT FROM OUTSIDE OF EQUIPMENT.</td>
                                    </tr>
                                    <tr>
                                        <td>3) FOR OVERLAY NOZZLES THICKNESS MEASUREMENT DONE AFTER OVERLAY.</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;"></div>
                                <div class="col-md-6" style="text-align:right;">
                                    <input type="button" class="btn save" id="btnSave" value="Save" />
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />

<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<!-- BEGIN PAGE LEVEL SCRIPTS -->
@*<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/protocols.js"></script>

<script>
    var Line1Columns = [];
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var userRole = '@ViewBag.UserRole.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';

    $(document).ready(function () {
        SetTableColumns();
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });

        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        LoadProtocolLineTables('tblProtocolLines1', 'btnNewLines1', Line1Columns, ControllerURL + "GetProtocolLines1Data" + Linkage, ["headerId"])

       var lstYesNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoEnum))));
         FillProtocolAutoComplete($('#Remark2'), lstYesNo, null, false);
    });

    $("#btnSave").click(function () {
          @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
          {
              <text>$('[role="PROD"]').prop("required", true);</text>
          }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
          {
              <text>$('[role="QC"]').prop("required", true);</text>
          }
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData" + Linkage, userRole);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function SaveProtocolLine1(lineId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine1" + Linkage, "tblProtocolLines1", "btnNewLines1");
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine" + gridId;
        window[SaveFunction](lineId);
    }
    function SetTableColumns() {
        Line1Columns = [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },

                {
                    "sClass": "center",
                    "name": "TmlNo",
                },
                {
                    "sClass": "center",
                    "name": "ReqThk",
                },
                {
                    "sClass": "center",
                    "name": "ActThk1",
                },
                {
                    "sClass": "center",
                    "name": "ActThk2",
                },
                {
                    "sClass": "center",
                    "name": "ActThk3",
                },
                {
                    "sClass": "center",
                    "name": "AvgThk",
                },
                {
                    "sClass": "center",
                    "name": "Remarks",
                },

                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
        ];

    }
</script>