﻿
<div class="modal-body">
    <div class="col-sm-12">
        @Html.Hidden("dis", (object)ViewBag.DistributionGroupId)

        <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">
            <table class="table table-hovered table-bordered table--head-bg-secondary" id="tblDINSelectedGroup"></table>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        var disGroupId = $('#dis').val();
        var model = {
            DistributionGroupId: disGroupId
        };
        var tblDINSelectedGroup;
        mApp.blockPage();
        $.ajax({
            url: "/DES/DIN/GetDINDataByGroupID",
            data: JSON.stringify(model),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            aysnc: true,
            success: function (response) {
                if (response) {
                    response.data;
                    $('<tr><th>Department</th><th>Persons</th></tr>').appendTo("#tblDINSelectedGroup");
                    $.each(response.data, function (key, value) {
                        $.each(value._lstPsName, function (key, values) {
                            values.PsName;
                            $('<tr><td>' + value.deptName + '</td>   <td>' + values.PsName + ' </td> </tr> ').appendTo("#tblDINSelectedGroup");
                        });

                        //$('<tr><td>' + value.deptName + '</td>   <td>' + value._lstPsName + ' </td> </tr> ').appendTo("#tblDINSelectedGroup");
                    });
                    mApp.unblockPage();
                }
                else {
                    toastr.info(response.Msg, "Info");
                    mApp.unblockPage();
                }
            },
            error: function (response) {
                toastr.error("something went wrong try again later", "Error");
                mApp.unblockPage();
            }
        });
    });
</script>
