﻿@model IEMQS.DESCore.DINModel
@{
    ViewBag.Title = "Acknowledge DIN";
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
}

<div class="m-portlet ">
    <div class="m-portlet__body ">
        <h4 class="m-portlet__head-text">
            @ViewBag.Title
        </h4>
        <div class="m-wizard m-wizard--5 m-wizard--success" id="m_wizard">

            <!--begin: Message container -->
            <div class="m-portlet__padding-x">

                <!-- Here you can put a message or alert -->
            </div>



            <div class="m-wizard__form">

                <!--
                    1) Use m-form--label-align-left class to alight the form input lables to the right
                    2) Use m-form--state class to highlight input control borders on form validation
                -->
                <div class="m-form " id="m_form">

                    <!--begin: Form Body -->
                    <div class="m-portlet__body px-0 py-3">



                        <div class="theme-form">
                            @*<div class="form-group m-form__group row mb-4">
                                    <div class="col-12 ml-auto">
                                        <h5 class="m-form__section m--font-primary">DIN Number</h5>
                                    </div>
                                </div>*@
                            @Html.HiddenFor(x => x.DINId, new { id = "DINId" })

                            <div class="row m-0">
                                <div class="col-md-6">
                                    <div class="form-group m-form__group row">
                                        <label class="col-6 col-form-label bg-secondary">Project No</label>
                                        <div class="col-6 pl-0">
                                            @Html.TextBoxFor(model => model.ProjectNo, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-form__group row">
                                        <label class="col-6 col-form-label bg-secondary">Contract No</label>
                                        <div class="col-6 pl-0">
                                            @Html.TextBoxFor(model => model.ContractNo, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-form__group row">
                                        <label class="col-6 col-form-label bg-secondary">Project Description </label>
                                        <div class="col-6 pl-0">
                                            @Html.TextBoxFor(model => model.ProjectDescription, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-form__group row">
                                        <label class="col-6 col-form-label bg-secondary">Customer</label>
                                        <div class="col-6 pl-0">
                                            @Html.TextBoxFor(model => model.Customer, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-form__group row">
                                        <label class="col-6 col-form-label bg-secondary">ASME Tag</label>
                                        <div class="col-6 pl-0">
                                            @Html.TextBoxFor(model => model.ASMETag, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-form__group row">
                                        <label class="col-6 col-form-label bg-secondary">Nuclear-ASME</label>
                                        <div class="col-6 pl-0">
                                            @Html.TextBoxFor(model => model.NuclearASME, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-form__group row">
                                        <label class="col-6 col-form-label bg-secondary">Issue No</label>
                                        <div class="col-6 pl-0">
                                            @Html.TextBoxFor(model => model.IssueNo, new { @class = "form-control m-input  m-input--square", @type = "number", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-form__group row">
                                        <label class="col-6 col-form-label bg-secondary">Distribution Group</label>
                                        <div class="col-6 pl-0">
                                            @Html.DropDownListFor(x => x.DistributionGroupId, @ViewBag.DistributionGroup as SelectList, "Select", new { @class = "form-control m-input  m-input--square getDocList", style = "background-color: #F4F5F8 !important; background: none ;", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <table class="table  table-bordered table-hover" id="tblJepDocumentDetails"> </table>

                        <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                            <div class="m-form__actions m-form__actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(model => model.DINAcknowledgeNote, new { @class = "form-control m-input  m-input--square", style = "margin-left:106%;", @placeholder = "Acknowledge Note" })
                                    </div>
                                    <div class="col-lg-12 m--align-right">
                                        <br />
                                        @if (ViewBag.GetPolicySteps != null)
                                        {
                                            foreach (var Policy in ViewBag.GetPolicySteps)
                                            {
                                                <a href="/DES/DIN/DINLifeCycle?Id=@Policy.DINLifeCycleId &DINAckID=@Model.DINAckID" class="btn text-white" style="background-color:@Policy.ColorCode" id="DinACKNote">@Policy.PolicyStep</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Body -->
                </div>
            </div>

            <!--end: Form Wizard Form-->

        </div>
    </div>
</div>

<script src="~/DESAssets/js/Acknowledge-DIN.js"></script>