﻿@using IEMQSImplementation
<script>
    var RoleId = '@ViewBag.RoleId';
    var url = WebsiteURL + "/SSS/MaintainSSS/loadSSSHeaderDataTable?status=" + '@ViewBag.status' + "&RoleId=" + RoleId;
    var table = $('#tblHeader');
    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": true,
        "bServerSide": true,
        "stateSave": false,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
            [5, 10, 25, 50, 100],
            [5, 10, 25, 50, 100]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        "sAjaxSource": url,
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" }                        
                        );
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': function (data) {
                    fnCallback(data);
                    $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                    $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                },
            });
        },
        "columns": [
           
            {
                "sClass": "center",
                "name": "SSSNo",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "Contract",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "Customer",
                "bSortable": true
            },
            //{
            //    "sClass": "center",
            //    "name": "DSSNo",
            //    "bSortable": true
            //},
            {
                "sClass": "center",
                "name": "SINNo",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "CSRMeetingOn",
                "bSortable": true,
                "attr": "date",
            },
            {
                "sClass": "center",
                "name": "CreatedBy",
                "ColName": "c3.t_psno+'-'+c3.t_name",
                "bSortable": true
            },
            {
                "sClass": "center",
                "name": "Status",
                "bSortable": true
            },
            {
                "sClass": "",
                "bSortable": false,
                "render": function (data, type, row, meta) {
                    var SSSId = row[8];
                    var buttons = "";

                    var functionCall = "ViewSSS(" + SSSId + ")";

                    buttons = "<center>" +
                        "<a href='javascript:void(0);' Title='View SSS' onclick=" + functionCall + "><i style='margin-left:5px;' class='fa fa-eye'></i></a>" +
                        //"<a class='btn btn-xs' href='javascript:void(0)' onclick=ShowTimeline('/PAM/DSS/ShowTimeline?HeaderID=" + parseInt(row[1]) + "');><i style='margin-left:5px;' class='fa fa-clock-o'></i></a>" +
                        "</center>";

                    return buttons;
                }
            },
             {
                 "sClass": "hide",
                 "bSortable": false

             }
        ]
    });
    table.dtSearchFilter();

    function ViewSSS(SSSId) {
        debugger;
        window.location.href = WebsiteURL + "/SSS/MaintainSSS/AddSSS?id=" + SSSId + "&RoleId=" + RoleId;
    }

</script>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    SSS Details
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/SSS/MaintainSSS/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblHeader" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">SSSNo</th>
                            <th class="all">Contract</th>
                            <th class="all">Customer</th>
                            @*<th class="all">DSSNo</th>*@
                            <th class="all">SINNo</th>
                            <th class="all">CSRMeetingOn</th>
                            <th class="all">CreatedBy</th>
                            <th class="all">Status</th>
                            <th class="all" style="white-space:nowrap">Action</th>
                            <th style="display:none;">SSSId</th>                            
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
