﻿@using IEMQSImplementation
@using IEMQS.Areas.SSS.Controllers
@model SSS001
@{
    ViewBag.Title = "Add/Update SSS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />

<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <form id="frmAddSSS">
                    <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                        <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                            <span class="page-title">Specification Summary Sheet</span>
                        </div>
                        <div class="ribbon ribbon-right ribbon-color-warning">
                            Status :  <span style="font-weight:bolder" id="spanStatus"> @Model.Status </span>
                            @Html.HiddenFor(m => m.SSSId)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="divSSSHeader"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="divDepartment" style="display:none">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div id="divDepartmentList">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">CSR Meeting Date<span class="required"> * </span></label>
                                    <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                        @Html.TextBoxFor(m => m.CSRMeetingOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                        <span class="input-group-btn">
                                            <button class="btn default" id="btncal1" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:right;margin-bottom:10px">
                            @if (ViewBag.RoleId == Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.PMG))
                            {
                            <input type="button" class="btn submit" id="btnSubmit" value="Submit" />
                            <input type="button" class="btn save" id="btnSave" value="Save" />
                            }
                            else
                            {
                                <br />
                                <input type="button" class="btn green" id="btnWeldingInput" value="Welding Input" />
                                <input type="button" class="btn green" id="btnRollingRequest" value="Rolling Request" />
                                <input type="button" class="btn green" id="btnExpansionMockUp" value="Expansion Mock Up" />
                                <input type="button" class="btn green" id="btnMockupBlock" value="Mockup Block" />
                                <input type="button" class="btn green" id="btnFormingFeasibility" value="Forming Feasibility" />
                                <input type="button" class="btn green" id="btnDrillingMockUp" value="Drilling Mock Up" />
                            }
                            <input type="button" class="btn btnclose" id="btnClose" value="Close" />
                        </div>

                    </div>
                </form>

            </div>

        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
</div>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
<script>
    var RoleId='@ViewBag.RoleId';
    if ('@ViewBag.lstDepartment' != null) {
        var lstdepartment = @Html.Raw(Json.Encode(@ViewBag.lstDepartment));
        FillAutoComplete($('#txtDepartment'), lstdepartment, $("#hdnDepartment"));
    }
    $('#frmAddSSS').validate({
        rules: {
            SSSNo: {
                required: true,
            },
            CSRMeetingOn: {
                required: true,
            }
        },
        messages: {
            SSSNo: {
                required: "SSS No is required"
            },
            CSRMeetingOn: {
                required: "CSR Meeting On is required"
            }
        }
    });

    var Status = "@Model.Status.ToLower()";

    if ('@Model.SSSId' == 0) {
        $('#btnSubmit').hide();
        $('#btnSave').hide();
    }
    else {
        if (Status == "@IEMQS.Areas.SSS.Controllers.SSSStatus.Draft.GetStringValue().ToLower()") {
            $('#btnSubmit').show();
            $('#btnSave').show();
        }
        else if (Status == "@IEMQS.Areas.SSS.Controllers.SSSStatus.Submitted.GetStringValue().ToLower()") {
            $('#btnSubmit').hide();
            $('#btnSave').hide();
        }
        $('#divDepartment').show();
        BindDepartmentList('@Model.SSSId');
    }

    function BindSSSHeader(SSSId) {
        $('#divSSSHeader').load(
            $.ajax({
                url: WebsiteURL +"/SSS/MaintainSSS/GetSSSHeaderDetails",
                type: "POST",
                data: { SSSId: SSSId,DisplayDSS:false },
                dataType: "html",
                //async:false,
                success: function (data) {
                    //console.log(data);
                    $('#divSSSHeader').html(data);
                }
            })
      );
    }

    function BindDepartmentList(SSSId) {
        debugger;
        $('#divDepartmentList').load(
            $.ajax({
                url: WebsiteURL +"/SSS/MaintainSSS/GetSSSDepartment",
                type: "POST",
                data: { SSSId: SSSId},
                dataType: "html",
                //async:false,
                success: function (data) {
                    //console.log(data);
                    debugger;
                    $('#divDepartmentList').html(data);
                }
            })
      );
    }
    $(document).ready(function () {
        BindSSSHeader('@Model.SSSId');

        $('.date-picker').datepicker({
            startDate: '+0d',
            orientation: "bottom auto",
            autoclose: true
        });
    });

    $('#btnClose').click(function () {
        if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.DE)'){
            window.location.href=WebsiteURL +"/SSS/MaintainSSS/IndexDE"
        }
        else if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.PMG)'){
            window.location.href=WebsiteURL +"/SSS/MaintainSSS/IndexPMG"
        }
    });

    $('#btnSave').click(function () {
        if ($("#frmAddSSS").valid()) {
            Save();
        }
        else {
            HighlightInValidControls();
            return false;
        }
    });

    function Save() {
        var frmAddSSS = $("#frmAddSSS").serializeArray();
        var formdata = new FormData();
        if (frmAddSSS != null && frmAddSSS != undefined) {
            $.each(frmAddSSS, function (key, input) {
                formdata.append(input.name, input.value);
            });
        }

        $.ajax({
            url: WebsiteURL +"/SSS/MaintainSSS/SaveSSS",
            data: formdata,
            type: 'POST',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            async: false,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.Key == true) {
                    $('#DSSNo').prop("readonly","readonly");
                    $('#SSSId').val(res.HeaderId);
                    setTimeout(DisplayNotiMessage("success", res.Value, "Success"), 2000);
                    $('#divDepartment').show();
                    if($('#spanStatus').html().trim().toLowerCase()=='@IEMQS.Areas.SSS.Controllers.SSSStatus.Draft.GetStringValue().ToLower()'){
                        $('#btnSubmit').show();
                    }
                    BindDepartmentList(res.HeaderId);
                }
                else {
                    setTimeout(DisplayNotiMessage("error", res.Value, "Error"), 2000);
                }
            },
            error: function () { },
        });
    }

    $('#btnSubmit').click(function () {
        bootbox.dialog({
            title: "Submit Confirmation",
            message: "Do you want to Submit SSS?",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        $.ajax({
                            url: WebsiteURL +"/SSS/MaintainSSS/SubmitSSS",
                            type: 'POST',
                            async: false,
                            data: { SSSId: $('#SSSId').val() },
                            success: function (res) {
                                if (res.Key == true) {
                                    DisplayNotiMessage("success", res.Value, "Success")
                                    if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.DE)'){
                                        window.location.href=WebsiteURL +"/SSS/MaintainSSS/IndexDE"
                                    }
                                    else if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.PMG)'){
                                        window.location.href=WebsiteURL +"/SSS/MaintainSSS/IndexPMG"
                                    }
                                }
                                else {
                                    bootbox.alert(res.Value);
                                }
                            },
                            errors: function (error) {
                                DisplayNotiMessage("error", error.data, "Error");
                            }
                        });
                    }
                },
                No: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }

            }

        })
    })
    $('#btnWeldingInput').click(function(){
        window.location.href=WebsiteURL +"/SSS/InputForWE/WeldingInput?SSSId="+$('#SSSId').val()+"&RoleId="+'@Convert.ToInt32(RoleForSSS.DE)'
    })
    $('#btnRollingRequest').click(function(){
        window.location.href=WebsiteURL +"/SSS/RollingRequestFormPCC/RollingRequestForm?SSSId="+$('#SSSId').val()+"&RoleId="+'@Convert.ToInt32(RoleForSSS.DE)'
    })
    $('#btnExpansionMockUp').click(function(){
        window.location.href=WebsiteURL +"/SSS/ExpansionMockUp/ExpansionMockUpForm?SSSId="+$('#SSSId').val()+"&RoleId="+'@Convert.ToInt32(RoleForSSS.DE)'
    })
    $('#btnMockupBlock').click(function(){
        window.location.href=WebsiteURL +"/SSS/MockupBlock/MockupBlockForm?SSSId="+$('#SSSId').val()+"&RoleId="+'@Convert.ToInt32(RoleForSSS.DE)'
    })
    $('#btnFormingFeasibility').click(function(){
        window.location.href=WebsiteURL +"/SSS/SubcontractingCell/SubcontractingCellForm?SSSId="+$('#SSSId').val()+"&RoleId="+'@Convert.ToInt32(RoleForSSS.DE)'
    })
    $('#btnDrillingMockUp').click(function(){
        window.location.href=WebsiteURL +"/SSS/InputForMachineShops/MachineShopForm?SSSId="+$('#SSSId').val()+"&RoleId="+'@Convert.ToInt32(RoleForSSS.DE)'
    })    
</script>
