﻿@model IEMQS.DESCore.PolicyModel

@using (Ajax.BeginForm("AddPolicy", "Parameter", new AjaxOptions { HttpMethod = "POST", OnSuccess = "PolicySuccess",OnBegin= "PolicyBegin" }))
{

    @Html.HiddenFor(x => x.PolicyId)
            <div class="modal-body">
                <div class="row justify-content-end">
                    <div class="col-sm-5 mb-4">
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">Policy <span style="color:red;">*</span></label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control blockSpecialChar m-input", @placeholder = "Enter Policy Name", maxlength = 50 })
                                @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 mb-4">
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">Description</label>
                            <div class="col-lg-9">
                                @Html.TextAreaFor(x => x.Description, new { @class = "form-control m-input", @placeholder = "Enter Policy Description", maxlength = 200 })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 mb-4 text-right">
                        <a href="javascript:;" class="btn btn-success btn-sm" onclick="AddPolicyStep()">Add Step</a>
                    </div>
                </div>
                <table class="table  table-bordered ">
                    <thead>
                        <tr>
                            <th style="width: 60px;">Order </th>
                            <th>Step Name <span style="color:red;">*</span></th>
                            <th>Color <span style="color:red;">*</span></th>
                            <th>Designation Level <span style="color:red;">*</span></th>
                            <th style="width: 70px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_PolicyStep">
                        @Html.Partial("_partialPolicyStepView",Model)
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>*@
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        }

@Scripts.Render("~/bundles/jqueryval")