﻿@using IEMQSImplementation
<style>
    .scenter {
        text-align:center;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @{
                        string strCTQTitle = ViewBag.Status + " CTQ Documents";
                    }
                    @strCTQTitle
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/CTQ/ApproveCTQ/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblCTQHeader" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-outline">
                                <input name="select_all" value="1" id="example-select-all" type="checkbox" >
                                <span></span>
                                </label>
                            </th>
                            <th class="all">Project</th>
                            <th class="min-phone-l">BU</th>
                            <th class="min-phone-l">CTQ No.</th>
                            <th class="min-phone-l">RevNo.</th>
                            <th class="min-phone-l">Status</th>
                            <th class="min-phone-l">Location</th>
                            <th class="min-phone-l">Action</th>
                            <th class="" style="display:none;">HeaderId</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="text-align:right;">
        <button id="btnApproveSelected" type="button" class="btn approve">Approve</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        var isVisible = false;
        $('#example-select-all').on('click', function () {
            var rows = oTable.api().rows({ 'search': 'applied' }).nodes();
            $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
        });

        $('#tblCTQHeader tbody').on('change', 'input[class="clsCheckbox"]', function () {
            // If checkbox is not checked
            if (!this.checked) {
                var el = $('#example-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if (el && el.checked && ('indeterminate' in el)) {
                    // Set visual state of "Select all" control 
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });

        $("#btnApproveSelected").click(function () {
            var arrayHeaderIds = new Array();
            // Iterate over all checkboxes in the table
            $('input[class="clsCheckbox"]', $('#tblCTQHeader')).each(function () {
                    if (this.checked) {
                        arrayHeaderIds.push(this.value);
                    }
            });
            if (arrayHeaderIds.length > 0) {
                var strHeaderIds = arrayHeaderIds.join(",");
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/CTQ/ApproveCTQ/ApproveByApproverSelected",
                    datatype: 'json',
                    async: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    data: { strHeaderIds: strHeaderIds },
                    success: function (data) {
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                            $(".example-select-all").prop('checked', false);
                            //$("#divApproveLines").hide();
                           // window.location.href = '/CTQ/ApproveCTQ/Index';
                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                        //$('#tblCTQHeaderLines').DataTable().ajax.reload();
                         $('#tblCTQHeader').DataTable().ajax.reload();

                    },
                    error: function () {
                    }
                });
            }
            else {
                DisplayNotiMessage("error","Please select header first", "Error");
            }
        });
       
        var table = $('#tblCTQHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [1, 'asc']
            ],
            "lengthMenu": [
              [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/CTQ/ApproveCTQ/LoadCTQHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                    { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            //{ "name": "CompanyId", "value": $('#ddlCompanyList').val() },
                            //{ "name": "UserTypeId", "value": $('#ddlUserTypeList').val()}
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function(data)
                    {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        if (data.iTotalRecords > 0) {
                            $("#btnApproveSelected").show();
                            isVisible = true;
                        }
                        else {
                            $("#btnApproveSelected").hide();
                            isVisible = false;

                        }
                    },
                    'async': false
                });
            },
            "columns": [

                {
                    'targets': 0,
                    "bSortable": false,
                    "sClass": "scenter", "attr": "",
                    'render': function (data, type, full, meta) {


                        return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';

                        //return '<input type="checkbox" name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '">';
                    }
                },
                {
                    "name": "Project",
                    "sClass": "center","attr": "string",
                    //"render": function (data, type, row, meta) {
                    //    return row[0];
                    //}

                },
                {
                    "name": "BU",
                    "sClass": "center"
                },
                {
                    "name": "CTQNo",
                    "sClass": "center"
                },
                {
                    "name": "CTQRev",
                    "sClass": "center" ,"attr": "numeric",
                },
                {
                    "name": "Status",
                    "sClass": "center"
                },
                {
                    "name": "Location",
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center","attr": "",
                    //"sWidth": "10%",
                    //"render": function (data, type, row, meta) {
                    //    var buttons = "";
                    //    //var functionCall = "viewHeaderLinePartial(" + row[7] + ", '" + row[5].trim() + "')";
                    //    var functionCall = "viewHeaderLinePartial(" + row[7] + ", '" + row[5].trim() + "','" + row[3].trim() + "')";
                    //    // var status = "'"+row[6]+'"';
                    //    buttons = '<center><a class="btn btn-xs green" href="javascript:void(0);" onclick="' + functionCall + '">View<i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                    //    return buttons;
                    //}
                },
                 {
                     "sClass": "hide"

                 },
            ]
        });
        table.dtSearchFilter();

        if ('@ViewBag.Status' == "Pending" && isVisible == true) {
            oTable.api().column(0).visible(true);
            $("#btnApproveSelected").show();
        }
        else {
            oTable.api().column(0).visible(false);
            setTimeout(function () {
                $('#tblCTQHeader_wrapper thead tr:first th:eq(0)').hide();
            }, 100);
            $("#btnApproveSelected").hide();
        }
     
    });

    function HistoryCTQ(HeaderId, fromController) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/CTQ/Maintain/GetCTQHistoryDetails",
            datatype: 'html',
            async: false,
            data: { HeaderId: HeaderId, _FromController: fromController },
            success: function (result) {
                bootbox.dialog({
                    title: 'Critical to Quality History Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function PrintReport(headerid) {
        bootbox.dialog({
            title: 'Critical To Quality Report',
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        url = "/CTQ/CriticalToQuality";
                        var dat = [];
                        dat.push({ Param: "HeaderId", Value: headerid });
                        ShowReport(dat, url);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn btnclose'
                }
            }
        });
    }

</script>