﻿@model IEMQSImplementation.PRO430
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0;/* for serial number */
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />
<style>
    .clsparent {
        background-color: #fbffb2;
        font-weight: bold;
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="height: 20px"></div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable">
                                        <thead>
                                            <tr>
                                                <td class="subtitle" style="display:none;">HeaderId</td>
                                                <td class="subtitle" style="display:none;">LineId</td>
                                                <td class="subtitle" style="text-align: center;" colspan="2">BOLT HOLES STRADDLED FOR 1ST FLANGE</td>
                                                <td class="subtitle" style="text-align: center;" colspan="2">BOLT HOLES STRADDLED FOR 2ND  FLANGE</td>
                                                <td class="subtitle" style="text-align: center;" colspan="2">TILTING OF 1ST FLANGE</td>
                                                <td class="subtitle" style="text-align: center;" colspan="2">TILTING OF 2ND FLANGE</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="2">@Html.DropDownListFor(model => model.IsBoltHolesStraddledFor1Flange, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "QC", @onfocusout = "setFocus()" })</td>
                                                <td colspan="2">@Html.DropDownListFor(model => model.IsBoltHolesStraddledFor2Flange, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "QC", @onfocusout = "setFocus2()" })</td>
                                                <td class="subtitle"> TOL:-  </td>
                                                <td> @Html.TextBoxFor(model => model.ReqTolTiltingOf1Flange, new { @class = "form-control ", @maxlength = "20", @role = "QC" })  </td>
                                                <td class="subtitle"> TOL:-  </td>
                                                <td> @Html.TextBoxFor(model => model.ReqTolTiltingOf2Flange, new { @class = "form-control ", @maxlength = "20", @role = "QC", @onfocusout = "setFocus4()" })  </td>
                                            </tr>
                                            <tr>
                                                <td> <span class="clHideBoltHolesTopFlange subtitle">TOL:- </span> </td>
                                                <td class=""> @Html.TextBoxFor(model => model.ReqTolBoltHolesStraddledFor1Flange, new { @class = "form-control clHideBoltHolesTopFlange", @maxlength = "20", @role = "QC", @onfocusout = "setFocus1()" })  </td>
                                                <td><span class="clHideBoltHolesBottomFlange subtitle"> TOL:- </span> </td>
                                                <td> @Html.TextBoxFor(model => model.ReqTolBoltHolesStraddledFor2Flange, new { @class = "form-control clHideBoltHolesBottomFlange", @maxlength = "20", @role = "QC", @onfocusout = "setFocus3()" })  </td>
                                                <td rowspan="2" class="subtitle"> ACTUAL:- </td>
                                                <td rowspan="2"> @Html.TextBoxFor(model => model.ActTiltingOf1Flange, new { @class = "form-control", @maxlength = "10", @role = "PROD" })  </td>
                                                <td rowspan="2" class="subtitle"> ACTUAL:- </td>
                                                <td rowspan="2"> @Html.TextBoxFor(model => model.ActTiltingOf2Flange, new { @class = "form-control", @maxlength = "10", @role = "PROD" })  </td>
                                            </tr>
                                            <tr>
                                                <td> <span class="clHideBoltHolesTopFlange subtitle"> ACTUAL</span> </td>
                                                <td class=""> @Html.TextBoxFor(model => model.ActBoltHolesStraddledFor1Flange, new { @class = "form-control clHideBoltHolesTopFlange", @maxlength = "10", @role = "PROD" })  </td>
                                                <td> <span class="clHideBoltHolesBottomFlange subtitle"> ACTUAL</span> </td>
                                                <td> @Html.TextBoxFor(model => model.ActBoltHolesStraddledFor2Flange, new { @class = "form-control clHideBoltHolesBottomFlange", @maxlength = "10", @role = "PROD" })  </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="subtitle">ORIENTATION OF 2ND FLANGE WITH RESPECT TO 1ST FLANGE</td>
                                                <td colspan="2" class="subtitle">ELEVATION OF 2ND FLANGE FROM BOTTOM FACE OF 1ST FLANGE</td>
                                                <td colspan="2" class="subtitle">PROJECTION OF 2ND FLANE FROM VESSEL CENTER LINE / CENTER OF 1ST FLANGE</td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle">REQ.</td>
                                                <td class="subtitle">ACTUAL</td>
                                                <td class="subtitle">REQ.</td>
                                                <td class="subtitle">ACTUAL</td>
                                                <td class="subtitle">REQ.</td>
                                                <td class="subtitle">ACTUAL</td>
                                            </tr>
                                            <tr>
                                                <td>@Html.TextBoxFor(model => model.ReqOrientation2FlangeWithRes1Flange, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.ActOrientation2FlangeWithRes1Flange, new { @class = "form-control", @maxlength = "10", @role = "PROD" }) </td>
                                                <td>@Html.TextBoxFor(model => model.ReqElevationOf2FlangeFromBottomface1Flange, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.ActElevationOf2FlangeFromBottomface1Flange, new { @class = "form-control", @maxlength = "10", @role = "PROD" }) </td>
                                                <td>@Html.TextBoxFor(model => model.ReqProjecttionOf2FlangeFromCenter1Flange, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.ActProjecttionOf2FlangeFromCenter1Flange, new { @class = "form-control", @maxlength = "10", @role = "PROD" }) </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                        <div class="portlet-title">
                                            <div class="caption" style="">
                                                <span style="float:left; ">
                                                    <strong>
                                                        DIMENSION OF ATTACHMENTS
                                                    </strong>
                                                </span>
                                            </div>
                                            <div class="tools" id="dvExportSubLines" style="">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div1">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines1">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th rowspan="2">DESCRIPTION</th>
                                                            <th colspan="2">ELEVATION</th>
                                                            <th colspan="2">ORIENTATION</th>
                                                            <th colspan="2">PROJECTION</th>
                                                            <th colspan="2">SIZE</th>
                                                            <th colspan="2">TILT</th>
                                                        </tr>
                                                        <tr>
                                                            <th>REQUIRED</th>
                                                            <th>ACTUAL</th>
                                                            <th>REQUIRED</th>
                                                            <th>ACTUAL</th>
                                                            <th>REQUIRED</th>
                                                            <th>ACTUAL</th>
                                                            <th>REQUIRED</th>
                                                            <th>ACTUAL</th>
                                                            <th>REQUIRED</th>
                                                            <th>ACTUAL</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO431 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO431 as List<PRO431>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="Description">@Html.TextBox("Description_1_" + @s1, @item.Description, new { @class = "form-control width125px", @maxlength = "50", @role = "QC" })</td>
                                                                    <td class="ReqElevation">@Html.TextBox("ReqElevation_1_" + @s1, @item.ReqElevation, new { @class = "form-control width125px", @maxlength = "50", @role = "QC" })</td>
                                                                    <td class="ActElevation">@Html.TextBox("ActElevation_1_" + @s1, @item.ActElevation, new { @class = "form-control width125px", @maxlength = "50", @role = "PROD" })</td>
                                                                    <td class="ReqOrientation">@Html.TextBox("ReqOrientation_1_" + @s1, @item.ReqOrientation, new { @class = "form-control width125px", @maxlength = "50", @role = "QC" })</td>
                                                                    <td class="ActOrientation">@Html.TextBox("ActOrientation_1_" + @s1, @item.ActOrientation, new { @class = "form-control width125px", @maxlength = "50", @role = "PROD" })</td>
                                                                    <td class="ReqProjection">@Html.TextBox("ReqProjection_1_" + @s1, @item.ReqProjection, new { @class = "form-control width125px", @maxlength = "50", @role = "QC" })</td>
                                                                    <td class="ActProjection">@Html.TextBox("ActProjection_1_" + @s1, @item.ActProjection, new { @class = "form-control width125px", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ReqSize">@Html.TextBox("ReqSize_1_" + @s1, @item.ReqSize, new { @class = "form-control width125px", @maxlength = "50", @role = "QC" })</td>
                                                                    <td class="ActSize">@Html.TextBox("ActSize_1_" + @s1, @item.ActSize, new { @class = "form-control width125px", @maxlength = "50", @role = "PROD" })</td>
                                                                    <td class="ReqTilt">@Html.TextBox("ReqTilt_1_" + @s1, @item.ReqTilt, new { @class = "form-control width125px", @maxlength = "50", @role = "QC" })</td>
                                                                    <td class="ActTilt">@Html.TextBox("ActTilt_1_" + @s1, @item.ActTilt, new { @class = "form-control width125px", @maxlength = "50", @role = "PROD" })</td>

                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolLine(this,'tblProtocolLines1')"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="FormTable tblNotes noborder" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                            <tr>
                                                <td style="width:5% !important;text-align:center;">
                                                    <img src="~/Images/Protocol087_img1.png" style="" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                        <tr>
                                            <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                                CHECK POINTS/REMARKS
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd" colspan="2">
                                                <span> 1) PROCEDURE NO : @Html.TextBoxFor(model => model.CheckPoint1, new { @class = "form-control inlinetextbox", @maxlength = "50", @role = "QC" })</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd" colspan="2">
                                                2) ALL DIMENSIONS ARE IN MM, UNLESS OTHERWISE SPECIFIED.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                3) SEAM NUMBER PUNCHED AS REQUIRED BY STANDARD PROCEDURE?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint3, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                4) L&T STAMP  AVAILABLE ON IDENTIFICATION ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint4, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                5) ALL PARTS ARE ATTACHED TO SPOOL?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint5, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @maxlength = "10", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                6) VISUAL INSPECTION CARRIED OUT AND FOUND SATISFACTORY ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint6, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                7) THE LEVEL OF SPOOL ENSURED AS PER REQUIREMENT?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint7, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                8) PWHT OR OTHER HEAT TREATMENT IS COMPLETED IF ANY?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint8, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                9) DIMENSION AND PROFILE OF SPOOL IS VERIFIED ON LAYOUT ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint9, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd" colspan="2">
                                                10) MEASURING AND TESTING EQUIPMENT SERIAL NUMBER &nbsp;
                                                @Html.TextBoxFor(model => model.CheckPoint10, new { @class = "form-control inlinetextbox width250px", @maxlength = "20", @role = "PROD" })
                                                &nbsp; & CALIBRATION DUE DATE
                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                    @Html.TextBoxFor(m => m.CheckPoint10_2, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;", @role = "PROD" })
                                                    <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                        <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                QC REMARK: @Html.TextAreaFor(model => model.QCRemarks, new { @class = "form-control QCRemarks", @maxlength = "200", @role = "QC" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-6" style="text-align:left;"></div>
                                    <div class="col-md-6" style="text-align:right;">
                                        <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                        <input type="button" class="btn submit" id="btnSave" value="Submit" />
                                        <a class="btn btnclose" id="btnClose"> Close</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>

<script>
    var notPRODLastChild = "";
    var notQCLastChild = "";

    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';
    var lstLeftRight = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.LeftRight))));
    var lstOutsideInside = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.OutsideInside))));

    $(document).ready(function () {
        SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });
        $("#CheckPoint10_2").change(function () {
            $('#btnSaveDraft').focus();
        });

        $('#IsBoltHolesStraddledFor1Flange,#IsBoltHolesStraddledFor2Flange,#CheckPoint3,#CheckPoint4,#CheckPoint5,#CheckPoint6,#CheckPoint7,#CheckPoint8,#CheckPoint9').val('Yes')

        if ('@Model.IsBoltHolesStraddledFor1Flange' != "") { $('#IsBoltHolesStraddledFor1Flange').val('@Model.IsBoltHolesStraddledFor1Flange'); }
        if ('@Model.IsBoltHolesStraddledFor2Flange' != "") { $('#IsBoltHolesStraddledFor2Flange').val('@Model.IsBoltHolesStraddledFor2Flange'); }

        if ('@Model.CheckPoint3' != "") { $('#CheckPoint3').val('@Model.CheckPoint3'); }
        if ('@Model.CheckPoint4' != "") { $('#CheckPoint4').val('@Model.CheckPoint4'); }
        if ('@Model.CheckPoint5' != "") { $('#CheckPoint5').val('@Model.CheckPoint5'); }
        if ('@Model.CheckPoint6' != "") { $('#CheckPoint6').val('@Model.CheckPoint6'); }
        if ('@Model.CheckPoint7' != "") { $('#CheckPoint7').val('@Model.CheckPoint7'); }
        if ('@Model.CheckPoint8' != "") { $('#CheckPoint8').val('@Model.CheckPoint8'); }
        if ('@Model.CheckPoint9' != "") { $('#CheckPoint9').val('@Model.CheckPoint9'); }


        if ($('#IsBoltHolesStraddledFor1Flange').val() == "Yes") {
            $(".clHideBoltHolesTopFlange").show();
        }
        else {
            $(".clHideBoltHolesTopFlange").hide();
        }

         if ($('#IsBoltHolesStraddledFor2Flange').val() == "Yes") {
            $(".clHideBoltHolesBottomFlange").show();
        }
        else {
            $(".clHideBoltHolesBottomFlange").hide();
        }

    });

    $('#IsBoltHolesStraddledFor1Flange').on('change', function () {
        if (this.value == 'Yes') {
            $(".clHideBoltHolesTopFlange").show();
        }
        else {
            $(".clHideBoltHolesTopFlange").hide();
        }
    });

     $('#IsBoltHolesStraddledFor2Flange').on('change', function () {
        if (this.value == 'Yes') {
            $(".clHideBoltHolesBottomFlange").show();
        }
        else {
            $(".clHideBoltHolesBottomFlange").hide();
        }
    });

    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "/SaveProtocolHeaderData", userRole, false, LoadSaveAndDraft);
    });

    $("#btnSave").click(function () {
        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
        {
            <text>$('[role="PROD"]').not('.islastrow').prop("required", true);</text>
        }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
        {
            <text>$('[role="QC"]').not('.islastrow').prop("required", true);</text>
        }
        SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData", userRole, true, LoadSaveAndDraft);
    });

    $('#QCRemarks').prop("disabled", true).addClass("NonEditableTextColor");

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData");
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }

    function SaveProtocolLine(lineId, gridId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine" + gridId, "tblProtocolLines" + gridId, "btnNewLines" + gridId);
        if (gridId == 5) {
            outby();
        }
    }

    function SetTableColumns() {
        if (isEdit.toLowerCase() == "true") {
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) {

                $("[role=PROD]").first().focus();
            }

            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) {
                AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'Description', ['Description','ReqElevation','ReqOrientation','ReqProjection','ReqSize','ReqTilt'], AddTbl1NewTrRow, true);

                notQCLastChild = ":not(:last-child)";
                $("[role=QC]").first().focus();
            }
            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) { $("[name=ProtocolNo]").first().focus();}
        }
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine";
        window[SaveFunction](lineId, gridId);
    }

    function LoadSaveAndDraft() {
        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "Description": $('td.Description input', this).val(),
                "ReqElevation": $('td.ReqElevation input', this).val(),
                "ActElevation": $('td.ActElevation input', this).val(),
                "ReqOrientation": $('td.ReqOrientation input', this).val(),
                "ActOrientation": $('td.ActOrientation input', this).val(),
                "ReqProjection": $('td.ReqProjection input', this).val(),
                "ActProjection": $('td.ActProjection input', this).val(),
                "ReqSize": $('td.ReqSize input', this).val(),
                "ActSize": $('td.ActSize input', this).val(),
                "ReqTilt": $('td.ReqTilt input', this).val(),
                "ActTilt": $('td.ActTilt input', this).val()
            };

            lstProtocolLines1 = JSON.stringify(TableData1);
        });

        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1" + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);

    }

    function AddTbl1NewTrRow(NewTrRowNum) {
        $("#hdGrid1LastRow").val(NewTrRowNum);
        var strhtml =
        "<tr class=\"islastrow\">" +
        "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
        "<td class=\"LineId\" style=\"display:none;\">0</td>" +
        "<td class=\"Description center\"><input class=\"form-control islastrow EditableTextColor QCTextbox\" id=\"Description_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"Description_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"AddNextRow(this,'CheckPoint1',false,1,'hdGrid1LastRow','tblProtocolLines1','Description', ['Description','ReqElevation','ReqOrientation','ReqProjection','ReqSize','ReqTilt'],AddTbl1NewTrRow)\"></td>" +
        "<td class=\"ReqElevation center\"><input class=\"form-control islastrow EditableTextColor QCTextbox\" id=\"ReqElevation_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ReqElevation_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\"></td>"+
        "<td class=\"ActElevation center\"><input class=\"form-control islastrow NonEditableTextColor PRODTextbox valid\" id=\"ActElevation_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActElevation_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" disabled aria-invalid=\"false\"></td>"+
        "<td class=\"ReqOrientation center\"><input class=\"form-control islastrow EditableTextColor QCTextbox\" id=\"ReqOrientation_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ReqOrientation_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\"></td>"+
        "<td class=\"ActOrientation center\"><input class=\"form-control islastrow NonEditableTextColor PRODTextbox valid\" id=\"ActOrientation_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActOrientation_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" disabled aria-invalid=\"false\"></td>" +
        "<td class=\"ReqProjection center\"><input class=\"form-control islastrow EditableTextColor QCTextbox\" id=\"ReqProjection_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ReqProjection_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\"></td>"+
        "<td class=\"ActProjection center\"><input class=\"form-control islastrow NonEditableTextColor PRODTextbox valid\" id=\"ActProjection_1_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActProjection_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" disabled aria-invalid=\"false\"></td>" +
        "<td class=\"ReqSize center\"><input class=\"form-control islastrow EditableTextColor QCTextbox\" id=\"ReqSize_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ReqSize_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\"></td>"+
        "<td class=\"ActSize center\"><input class=\"form-control islastrow NonEditableTextColor PRODTextbox valid\" id=\"ActSize_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActSize_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" disabled aria-invalid=\"false\"></td>" +
        "<td class=\"ReqTilt center\"><input class=\"form-control islastrow EditableTextColor QCTextbox\" id=\"ReqTilt_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ReqTilt_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','Description', ['Description','ReqElevation','ReqOrientation','ReqProjection','ReqSize','ReqTilt'],AddTbl1NewTrRow)\"></td>"+
        "<td class=\"ActTilt center\"><input class=\"form-control islastrow NonEditableTextColor PRODTextbox valid\" id=\"ActTilt_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActTilt_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" disabled aria-invalid=\"false\"></td>" +
        "<td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines1')\" style=\"display:none\"></i></td>" +
        "</tr>";

        return strhtml;
    }

    function setFocus() {

        if ($("#IsBoltHolesStraddledFor1Flange").val() == "Yes") {
            $('#ReqTolBoltHolesStraddledFor1Flange').focus();
        }
        else {
            $('#IsBoltHolesStraddledFor2Flange').focus();
        }

    }
    function setFocus1() {

        if ($("#ReqTolBoltHolesStraddledFor1Flange").val() != "") {
            $('#IsBoltHolesStraddledFor2Flange').focus();
        }
        else {
            $('#IsBoltHolesStraddledFor2Flange').focus();
        }

    }
    function setFocus2() {

        if ($("#IsBoltHolesStraddledFor2Flange").val() != "") {
            $('#ReqTolBoltHolesStraddledFor2Flange').focus();
        }
        else {
            $('#ReqTolTiltingOf1Flange').focus();
        }

    }
    function setFocus3() {

        if ($("#ReqTolBoltHolesStraddledFor2Flange").val() != "") {
            $('#ReqTolTiltingOf1Flange').focus();
        }
        else {
            $('#ReqTolTiltingOf1Flange').focus();
        }

    }
    function setFocus4() {

        if ($("#ReqTolTiltingOf2Flange").val() != "") {
            $('#ReqOrientation2FlangeWithRes1Flange').focus();
        }
        else {
            $('#ReqOrientation2FlangeWithRes1Flange').focus();
        }

    }
</script>