﻿@using IEMQSImplementation
@{
    clsBase objclsBase = new clsBase();
    var UserName = objclsBase.objClsLoginInfo.UserName;    
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Access Control List
                </div>
                <div class="tools" style="display:none" id="dvExportAccess">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/Authorization/AccessControl/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportAccess" })
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="tblAuthMatrix" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="" style="display:none;">ID</th>
                            <th class="all">BU</th>
                            <th class="min-phone-l">Location</th>
                            <th class="min-phone-l">Contract</th>
                            <th class="min-phone-l">Project</th>
                            <th class="min-phone-l">Role</th>
                            <th class="min-phone-l">Employee</th>
                            <th class="min-phone-l">Grantor</th>
                            <th class="min-phone-l">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    
    $(document).ready(function () {
        var table = $('#tblAuthMatrix');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            destroy: true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],

            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100] // change per page values here
            ],
            // set the initial value
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/Authorization/AccessControl/LoadAuthMatrixData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }

                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback
                });
            },
            "columns": [

                {
                    "sClass": "hide"

                },
                {
                    "sClass": "center",
                    "name": "BU"
                },
                {
                    "name": "Location",
                    "sClass": "center"
                },
                {
                    "name": "Contract",
                    "sClass": "center"
                },
                {
                    "name": "Project",
                    "sClass": "center"
                },
                {
                    "name": "Role",
                    "sClass": "center"
                },
                {
                    "name": "Employee",
                    "sClass": "center"
                },
                {
                    "name": "CreatedByName",
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "5%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        buttons = '<center><i  data-modal="" id="btnDelete" name="btnAction" style="cursor:pointer;" Title="Delete Record" class="fa fa-trash-o ' + (row[8] == '@UserName' ? "" : "disabledicon") + '" ' + (row[8] == '@UserName' ? ' onClick="DeleteRecord(' + row[0] + ')"' : "") + '></i></center>';
                        return buttons;
                    }
                },
            ]

        });
    });
    function DeleteRecord(Id) {
        bootbox.dialog({
            title: "Delete Confirmation",
            message: "Do you want to delete?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        $.ajax({
                            url: WebsiteURL +  '/Authorization/AccessControl/DeleteAuthMatrix',
                            data: { Id: Id },
                            type: 'POST',
                            async: false,
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                                $('#tblAuthMatrix').DataTable().ajax.reload();
                            }
                        });
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }

            }
        });        
    }
</script>