﻿@using IEMQSImplementation
<style>
    .scenter {
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @{
                        string strCTQTitle =  "Projects";
                    }
                    @strCTQTitle
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PLN/MaintainAirtestPlan/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>

            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblAirtestPlanHeader" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="all">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th class="min-phone-l">Project</th>
                            <th class="min-phone-l">Document</th>
                            <th class="min-phone-l">Customer</th>
                            <th class="min-phone-l">Product</th>
                            <th class="min-phone-l">Process Licensor</th>
                            <th class="min-phone-l">Rev.</th>
                            <th class="min-phone-l">Status</th>
                            <th class="none">CDD</th>
                            <th class="none">Plan</th>
                            <th class="none">Created By</th>
                            <th class="none">Created On</th>
                            <th class="none">Edited By</th>
                            <th class="none">Edited On</th>
                            <th class="min-phone-l">Submitted By</th>
                            <th class="min-phone-l">Submitted On</th>

                            <th class="none">Approved By</th>
                            <th class="none">Approved On</th>
                            <th class="none">Remarks</th>
                            <th class="min-phone-l">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="text-align:right;">
        <button id="btnApproveSelected" type="button" class="btn green">Approve</button>
    </div>
</div>
<script>

    $(document).ready(function () {

        var isVisible = false;
        $('#example-select-all').on('click', function () {
            var rows = oTable.api().rows({ 'search': 'applied' }).nodes();
            $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
        });

        $('#tblCTQHeader tbody').on('change', 'input[class="clsCheckbox"]', function () {
            // If checkbox is not checked
            if (!this.checked) {
                var el = $('#example-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if (el && el.checked && ('indeterminate' in el)) {
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });
        $("#btnApproveSelected").click(function () {
            var arrayHeaderIds = new Array();
            // Iterate over all checkboxes in the table
            $('input[class="clsCheckbox"]', $('#tblAirtestPlanHeader')).each(function () {
                if (this.checked) {
                    arrayHeaderIds.push(this.value);
                }
            });
            if (arrayHeaderIds.length > 0) {
                var strHeaderIds = arrayHeaderIds.join(",");
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/PLN/ApproveAirtestPlan/ApproveByApproverSelected",
                    datatype: 'json',
                    async: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    data: { strHeaderIds: strHeaderIds },
                    success: function (data) {
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                            $(".example-select-all").prop('checked', false);
                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                        $('#tblAirtestPlanHeader').DataTable().ajax.reload();

                    },
                    error: function () {
                    }
                });
            }
            else {
                DisplayNotiMessage("error", "Please select header first", "Error");
            }
        });

        var table = $('#tblAirtestPlanHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [1, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PLN/ApproveAirtestPlan/LoadAirtestPlanHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);

                        if (data.iTotalRecords > 0) {
                            $("#btnApproveSelected").show();
                            isVisible = true;
                        }
                        else {
                            $("#btnApproveSelected").hide();
                            isVisible = false;

                        }
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    'targets': 0,
                    "bSortable": false,
                    "sClass": "scenter",
                    'render': function (data, type, full, meta) {
                        return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                    }
                },
               {
                   "name": "Project",
                   "sClass": "center",
               },
                {
                    "name": "Document",
                    "sClass": "center"
                },
                {
                    "name": "Customer",
                    "sClass": "center"
                },
                {
                    "name": "Product",
                    "sClass": "center"
                },
                {
                    "name": "ProcessLicensor",
                    "sClass": "center"
                },
                {
                    "name": "RevNo",
                    "sClass": "scenter",
                    "attr": "numeric",
                },
                 {
                     "name": "Status",
                     "sClass": "center"
                 },
                {
                    "name": "",
                    "sClass": "center",
                },
                 {
                     "name": "",
                     "sClass": "center",

                 },
                 {
                     "name": "",
                     "sClass": "scenter",

                 },
                 {
                     "name": "",
                     "sClass": "center",

                 },
                 {
                     "name": "",
                     "sClass": "scenter",
                 },
                 {
                     "name": "",
                     "sClass": "center",

                 },
                  {
                      "name": "SubmittedBy",
                      "sClass": "center"
                  },
                {
                    "name": "SubmittedOn",
                    "sClass": "center",
                    "attr": "date",
                },

                 {
                     "name": "",
                     "sClass": "center",

                 },
                 {
                     "name": "",
                     "sClass": "scenter",
                 },
                 {
                     "name": "",
                     "sClass": "scenter",
                 },
                 {
                     "bSortable": false,
                     "sClass": "scenter",
                 },
            ]
        });
        table.dtSearchFilter();

        if ('@ViewBag.Status' == "Pending" && isVisible == true) {
            oTable.api().column(0).visible(true);
            $("#btnApproveSelected").show();
        }
        else {
            oTable.api().column(0).visible(false);
            setTimeout(function () {
                $('#tblAirtestPlanHeader_wrapper thead tr:first th:eq(0)').hide();
            }, 100);
            $("#btnApproveSelected").hide();
        }
    });

</script>






