﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Maintain UOM Mapping
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        UOM Mapping List
                                    </div>
                                    <div class="tools" id="dvExportHeader">
                                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/ICC/MaintainUOMMapping/GenerateExcel", GridType = "", dvId = "#dvExportHeader" })
                                        <div class="btn-group">
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmDetail" }))
                                    {
                                        <table class="table table-striped table-bordered table-hover" id="tblMapping" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="all" style="width:5%;">#</th>
                                                    <th class="sorting" style="display:none;">Id</th>
                                                    <th>Code Gen UOM<span class="required" style="color:red;"> * </span></th>
                                                    <th>ERP LN UOM<span class="required" style="color:red;"> * </span></th>
                                                    <th class="all">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var UtilityParams = undefined;
    $(document).ready(function () {
        $.extend($.fn.autoNumeric.defaults, {
            aSep: '',
            aDec: '.'
        });

        $('#frmDetail').validate({
            rules: {
                txtCodeGenUOM0: {
                    required: true,
                },
                txtERPLNUOM0: {
                    required:true,
                },
            },
            messages: {
                txtCodeGenUOM0: {
                    required: "Code Gen UOM is required",
                },
                txtERPLNUOM0: {
                    required: "ERP LN UOM is required",
                },
            }
        });

        UtilityParams = {
            sUrl: "/ICC/MaintainUOMMapping/GetIndexGridData",
            iScrollY: 480,
            iResponsiveOnWindowWidth: 800,
            bIsResponsive: false,
            bIsSearchFilter: true,
            bBtnMaximize: false,
            bIsWrapHeader: false,
            bIsLazyLoading : false,
            //iFCLeft: 1,
            //iFCRight: 1,
            sBtnDivSelector: "#dvExportHeader",
            aoColumns: [
                {
                    "sClass": "hide center",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "CodeGenUOM",
                },
                {
                    "sClass": "center",
                    "name": "LNUOM",
                },               
                {
                    "sClass": "clsnowrap",
                    "name": "Action",
                    "attr": "none",
                    "bSortable": false,
                },
            ]
        };

        UtilityParams.oSRE = { sUrl: "/ICC/MaintainUOMMapping/GetInlineEditableRow", iRowIDAt: 1, sCallback: 'CallAfterLoadSRE', iSelectedHeight: 68, sEditTriggerClass: 'fa-pencil-square-o', bIsUpdateFromServer: true };

        $('#tblMapping').dtUtility(UtilityParams);

        $('#tblMapping_wrapper').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(this).attr("hdElement");
            var Lineid = $(this).attr("data-lineid");

            if ($(this).attr("colname") == "txtERPLNUOM"){                
                FillAutoCompleteUsingAjax(element, "/MaintainUOMMapping/GetERPLNUOM", $("#" + hdElement), false, null);
            }
        });
    });

    function CallAfterLoadSRE(id) {
        $('input[maxlength]').maxlength({ alwaysShow: true });
        $('#Edit' + id).click();        
    }

    function SaveNewRecord() {
        if ($("#frmDetail").valid()) {
            $('#Add0').css('color','unset');
            $('#tblMapping_wrapper').find("thead:eq(1) .dataTables_sizing").html('') // remove copy of new record textbox
            SaveData(0);
        }
        else {
            HighlightInValidControls();
            $('#Add0').css('color','red');
            return false;
        }
    }

    function EnabledEditLine(lineId) {
        $("#Edit"+lineId).css('display', 'none');
        $("#Delete"+lineId).css('display', 'none');
        $("#Update"+lineId).css('display', 'inline-block');
        $("#Cancel"+lineId).css('display', 'inline-block');
    }

    function CancelEditLine(lineId) {
        SREresetRowAll('tblMapping');
    }

    function EditLine(lineId) {
        if (LineValidation(lineId)) {
            if ($("#frmDetail").valid()) {
                $('#tblMapping_wrapper').find("thead:eq(1) .dataTables_sizing").html('') // remove copy of new record textbox
                SaveData(lineId);
            }
            else {
                HighlightInValidControls();
                return false;
            }
        }
    }

    function LineValidation(lineid) {
        var errorMsg = "";
        var CodeGenUOM = $("#txtCodeGenUOM" + lineid).val();
        var ERPLNUOM = $("#txtERPLNUOM" + lineid).val();

        if (CodeGenUOM == "" || CodeGenUOM == null) {
            $("#txtCodeGenUOM" + lineid).attr("required", "required");
        }
        if (ERPLNUOM == "" || ERPLNUOM == null) {
            $("#txtERPLNUOM" + lineid).attr("required", "required");
        }

        if (!$("#frmDetail").valid()) {
            HighlightInValidControls();
            $('#Update'+lineid).css('color','red');
            return false;
        }
        else{
            $('#Update'+lineid).css('color','unset');
            return true;
        }
    }

    function SaveData(id) {

        var formData = new FormData();
        var frmValues = $('#frmDetail').serializeArray();
        $.each(frmValues, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL +'/ICC/MaintainUOMMapping/SaveData?id='+id,
            data: formData,
            contentType: false,
            processData: false,
            type: 'POST',            
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key == true) {
                    UtilityParams.dtReload();
                    DisplayNotiMessage("success", data.Value, "Success");
                    if ($('#btnNew_tblMapping').html() == '<i class="fa fa-times"></i> Cancel')
                        $('#btnNew_tblMapping').click();
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                    $('#tblMapping').DataTable().columns.adjust();
                }
            }
        });
    }

    function DeleteLine(Id) {
        bootbox.dialog({
            message: "Do you want to delete ? ",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success',
                    callback: function () {
                        $.ajax({
                            url: WebsiteURL + "/ICC/MaintainUOMMapping/DeleteData",
                            type: "POST",
                            data: { Id: Id },
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key == true) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                                UtilityParams.dtReload();
                            },
                            error: function (data) {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                        });
                        bootbox.hideAll();
                        $(".modal-backdrop").remove()
                    }
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger',
                    callback: function () { }
                }
            },
        });
    }
</script>
