﻿@using IEMQSImplementation
@model LNC002

<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />

<script>

    $(document).ready(function () {

        $.fn.modal.Constructor.prototype.enforceFocus = function () { };
        LoadDropDown("/IMB/Maintain/GetTeamFormation", $('#TeamFormation'), "Team Formation");

        if ('@Html.Action'.toLowerCase() == "edit") {
            $('#TeamFormation').val('@Model.TeamFormation');
            @*Select2Selected($("#TeamLead"), '@Model.TeamLead', '@ViewBag.TeamLead')*@

            LoadDropDown("/IMB/Maintain/GetTeamLeaderEdit", $("#TeamLead"));
            $("#TeamLead").select2({
                width: "auto",
                placeholder: "--Select Team Leader--",
                delay: 250,
                allowClear: true,
                minimumInputLength: 1
            });
            $('#TeamLead').val('@Model.TeamLead');
            $.get("/IMB/Maintain/GetTeamMemberEdit", { param: $('#TeamLead').val() }, function (data) {
                var option = "";
                $.each(data, function (index, object) {
                    option += "<option value='" + object.id + "'>" + object.text + "</option>";
                });
                $("#TeamMember").html(option);
            });
            $("#TeamMember").select2({ width: "auto" });
            var url = "/IMB/Maintain/GetTeamMemberValue?headerId=" + '@Model.HeaderId' + "&lineId=" + '@Model.LineId'
            $.getJSON(url, function (opts) {
                if (opts)
                    $("#TeamMember").val(opts).trigger('change');
            });
        }
        else {
            LoadSelect2DropDown("/IMB/Maintain/GetTeamMember", $('#TeamMember'), "--Select Team Member--", '')
            LoadSelect2DropDown("/IMB/Maintain/GetTeamLeader", $('#TeamLead'), "--Select Team Leader--", '')
        }

        $("#TeamLead").change(function () {
            LoadSelect2DropDown("/IMB/Maintain/GetTeamMember", $('#TeamMember'), "--Select Team Member--", $('#TeamLead').val())
            if ($('#TeamLead').val() != undefined && $('#TeamLead').val() != '' && $('#TeamLead').val() > 0) {
                if ($('#TeamMember').length > 0) {
                    $('#TeamMember').children().filter(function () {
                        return this.value == $('#TeamLead').val();
                    }).prop('selected', false);
                    $('#TeamMember').change();
                }
            }
        })
        $("#frmLines").validate({
            rules: {
                ImprovementDescription: { required: true },
                TeamFormation: { required: true },
                TeamLead: { required: true },
                TeamMember: { required: true },
                TargetDate: { required: true }
            },
            messages: {
                ImprovementDescription: {
                    required: "Improvement Description is required"
                },
                TeamFormation: {
                    required: "Team Formation is required"
                },
                TeamLead: {
                    required: "Team Lead to be verified is required"
                },
                TeamMember: {
                    required: "Team Member(s) Criteria is required"
                },
                TargetDate: {
                    required: "Target Date  is required"
                }
            }
        });

        $("#btnAddLine").click(function () {
            if ($("#frmLines").valid()) {
                var formdata = new FormData();
                var frmlinesValues = $("#frmLines").serializeArray();
                $.each(frmlinesValues, function (key, input) {
                    formdata.append(input.name, input.value);
                });
                var statusHeader = $("#Status").val();
                if (status != undefined && status != null && status.toLowerCase() == "approved") {
                    bootbox.confirm("Do you want to revise this record?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/IMB/Maintain/SaveLines",
                                type: "POST",
                                contentType: false,
                                processData: false,
                                datatype: "json",
                                data: formdata,
                                success: function (data) {
                                    if (data.Key == true && data.Value > 0) {
                                        $("btnSendForAprrove").show();
                                        DisplayNotiMessage("success", "Improvements saved successfully", "Success");
                                        $("#tblLines").DataTable().ajax.reload();

                                        ClearLineControl();
                                    }
                                    else {
                                        DisplayNotiMessage("error", data.Value, "Error");
                                    }
                                }
                            });
                        }
                        else {
                            ClearLineControl();
                        }
                    })
                }
                else {
                    $.ajax({
                        url: "/IMB/Maintain/SaveLines",
                        type: "POST",
                        contentType: false,
                        processData: false,
                        datatype: "json",
                        data: formdata,
                        success: function (data) {
                            if (data.Key == true && data.Value > 0) {
                                $("#tblLines").DataTable().ajax.reload();
                                DisplayNotiMessage("success", "Improvements saved successfully", "Success");
                                ClearLineControl();
                                $("#btnSendForAprrove").show();

                            }
                            else {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                        }
                    });
                }
            }
        })
        function ClearLineControl() {
            $("#LineId").val('0');
            $("#ImprovementDescription").val('');
            $("#TeamFormation").val('');
            $("#TeamLead").empty().trigger('change');
            $("#TeamMember").empty().trigger('change');
            $("#Comments").val('');
            $("#TargetDate").val('');
        }

    });
</script>

<div class="row" style="width:100%">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->

        <form id="frmLines" class="form-horizontal">

            @Html.HiddenFor(m => m.LineId)

            @Html.HiddenFor(m => m.HeaderId)

            <div class="form-group">

                <div class="col-md-6">
                    <label class="control-label">Improvements<span class="required">*</span></label>
                    <div class="">
                        @Html.TextAreaFor(m => m.ImprovementDescription, new { @class = "form-control col-md-3" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="control-label">TeamFormation<span class="required">*</span></label>
                    <div class="">
                        <select name="TeamFormation" id="TeamFormation" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label">Team Lead<span class="required">*</span></label>
                    <div class="">
                        <select name="TeamLead" id="TeamLead" style=" width:100%" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label">Team Member(s)<span class="required">*</span></label>
                    <select name="TeamMember" id="TeamMember" multiple="multiple" style=" width:100%" class="form-control"></select>
                </div>
            </div>



            <div class="form-group">

                <div class="col-md-6">
                    <label class="control-label">Comments</label>

                    @Html.TextAreaFor(m => m.Comments, new { @class = "form-control col-md-3" })

                </div>
                <div class="col-md-6">
                    <label class="control-label">Target Date</label>
                    <div class="">
                        <div id="datetime3" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                            @Html.TextAreaFor(m => m.Comments, new { @class = "form-control col-md-3" })
                            <span class="input-group-btn">
                                <button class="btn default" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <label class="control-label"></label>
                        <div style="float:right;margin-top:28px;">
                            <input type="button" id="btnAddLine" class="btn green" value="Save Improvements" />
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </form>
    </div>
</div>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
