﻿@model IEMQSImplementation.PRL075
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/protocols.js"></script>
<style>
    /*.FormTable .sub-subtitle {
            background-color: #f3f3f3 !important;
        }*/
    .FormTable .noRightBorder {
        border-right-color: #fff;
    }

    .spnClass {
        float: left;
        text-align: center;
    }

    .inlinetextarea {
        height: 33px !important;
        text-align: center;
    }
     table.traysupport input{
        width:110px !important;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body dvDisable">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12 divScroll">
                                <table class="FormTable tblNotes">
                                    <tr>
                                        <td class="subtitle"> PROJECT NO.</td>
                                        <td> @Html.DisplayFor(m => m.QualityProject, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        <td class="subtitle"> DATE</td>
                                        <td>
                                            @Html.DisplayFor(m => m.InspectionDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> PROJECT DESCREPTION</td>
                                        <td> @ViewBag.ProjectDesc</td>
                                        <td class="subtitle"> SEAM NO.</td>
                                        <td>@Html.DisplayFor(m => m.SeamNo, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> EQPT.NO.</td>
                                        <td>@Html.DisplayFor(m => m.EquipmentNo, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        <td class="subtitle">INSPECTION AGENCY</td>
                                        <td>@Html.DisplayFor(m => m.InspectionAgency, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> DRG.NO.& REV.NO.</td>
                                        <td>
                                            <span style="float:left;padding: 0px 0px !important;">@Html.DisplayFor(m => m.DrawingNo, new { @class = "form-control", @style = "width:150px;", @readonly = "readonly" })</span>
                                            &
                                            <span style="float:right;padding: 0px 0px !important;"> @Html.DisplayFor(m => m.DrawingRevisionNo, new { @class = "form-control", @style = "width:150px;", @readonly = "readonly" })</span>
                                        </td>
                                        <td class="subtitle">MANUFACTURING CODE</td>
                                        <td>@ViewBag.ManufacturingCode</td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> DCR NO.IF APPLICABLE</td>
                                        <td>@Html.TextBoxFor(m => m.DCRNo, new { @class = "form-control col-md-12", @maxlength = "50", @role = "QC" }) </td>
                                        <td class="subtitle">OFFER DATE</td>
                                        <td>
                                            @Html.DisplayFor(m => m.OfferDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                        </td>
                                    </tr>
                                    <tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="row col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ProtocolNo, new { @role = "QC", @class = "form-control", @maxLength = "50" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <table class="FormTable traysupport">

                                    <tr>
                                        <td class="title" rowspan="2">ORIENTATION</td>
                                        <td class="title">
                                            ELEVATION OF TSR FROM R.F /TAN LINE
                                            @Html.TextBoxFor(m => m.elevationreq, new { @role = "QC",@class = "form-control", @maxlength = "25"})
                                        </td>
                                        <td class="title">
                                            TSR WIDTH
                                            @Html.TextBoxFor(m => m.TSRwidthreq, new { @role = "QC",@class = "form-control", @maxlength = "25" })
                                        </td>
                                        <td class="title">
                                            TSR HEIGHT
                                            @Html.TextBoxFor(m => m.TSRheightreq, new { @role = "QC", @class = "form-control", @maxlength = "25" })
                                        </td>
                                        <td class="title">
                                            TSR ID
                                            @Html.TextBoxFor(m => m.TSRIDreq, new { @role = "QC",@class = "form-control", @maxlength = "25" })
                                        </td>
                                        <td colspan="2" class="title">LEVELNESS OF TOP FACE OF TSR(DIF.OF MIN. ELE. & MAX.ELE.DIM.)</td>
                                        <td colspan="2" class="title">TILTING OF TSR</td>
                                        <td colspan="2" class="title">FLATNESS IN ANY 300MM ARC DISTANCE OF TSR</td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle">
                                            TOL:-
                                            @Html.TextBoxFor(m => m.elevationtol, new { @class = "form-control", @maxlength = "25", @role = "QC" })
                                        </td>
                                        <td class="subtitle">
                                            TOL:-
                                            @Html.TextBoxFor(m => m.TSRwidthtol, new { @class = "form-control", @maxlength = "25", @role = "QC" })
                                        </td>
                                        <td class="subtitle">
                                            TOL:-
                                            @Html.TextBoxFor(m => m.TSRheighttol, new { @class = "form-control", @maxlength = "25", @role = "QC" })
                                        </td>
                                        <td class="subtitle">
                                            TOL:-
                                            @Html.TextBoxFor(m => m.TSRIDtol, new { @class = "form-control", @maxlength = "25", @role = "QC" })
                                        </td>
                                        <td colspan="2" class="subtitle">
                                            TOL:-
                                            @Html.TextBoxFor(m => m.levelnesstol, new { @class = "form-control", @maxlength = "25", @role = "QC" })
                                        </td>
                                        <td colspan="2" class="subtitle">
                                            TOL:-
                                            @Html.TextBoxFor(m => m.tiltingtol, new { @class = "form-control  inlinetextbox", @maxlength = "25", @role = "QC" })
                                        </td>
                                        <td colspan="2" class="subtitle">
                                            TOL:-
                                            @Html.TextBoxFor(m => m.flatnesstol, new { @class = "form-control inlinetextbox", @maxlength = "25", @role = "QC" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>0°</td>
                                        <td>@Html.TextBoxFor(model => model.elevation1, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRwidth1, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRheight1, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRID1, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td colspan="2" rowspan="12">@Html.TextBoxFor(model => model.levelnessact, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.tilting11, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.tilting21, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.flatness11, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.flatness21, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>30°</td>
                                        <td>@Html.TextBoxFor(model => model.elevation2, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRwidth2, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRheight2, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRID2, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.tilting12, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.tilting22, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.flatness12, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.flatness22, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>60°</td>
                                        <td>@Html.TextBoxFor(model => model.elevation3, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRwidth3, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRheight3, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRID3, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.tilting13, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.tilting23, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })  </td>
                                        <td>@Html.TextBoxFor(model => model.flatness13, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" }) </td>
                                        <td>@Html.TextBoxFor(model => model.flatness23, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>90°</td>
                                        <td>@Html.TextBoxFor(model => model.elevation4, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRwidth4, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRheight4, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRID4, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.tilting14, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" }) </td>
                                        <td> @Html.TextBoxFor(model => model.tilting24, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.flatness14, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.flatness24, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>120°</td>
                                        <td>@Html.TextBoxFor(model => model.elevation5, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRwidth5, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRheight5, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRID5, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.tilting15, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.tilting25, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.flatness15, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.flatness25, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>150°</td>
                                        <td>@Html.TextBoxFor(model => model.elevation6, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRwidth6, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRheight6, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRID6, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.tilting16, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" }) </td>
                                        <td>@Html.TextBoxFor(model => model.tilting26, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.flatness16, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.flatness26, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>180°</td>
                                        <td>@Html.TextBoxFor(model => model.elevation7, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRwidth7, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRheight7, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRID7, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.tilting17, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.tilting27, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.flatness17, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.flatness27, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>210°</td>
                                        <td>@Html.TextBoxFor(model => model.elevation8, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRwidth8, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRheight8, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRID8, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.tilting18, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.tilting28, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.flatness18, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.flatness28, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>240°</td>
                                        <td>@Html.TextBoxFor(model => model.elevation9, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRwidth9, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRheight9, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRID9, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.tilting19, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })  </td>
                                        <td>@Html.TextBoxFor(model => model.tilting29, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" }) </td>
                                        <td>@Html.TextBoxFor(model => model.flatness19, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })  </td>
                                        <td>@Html.TextBoxFor(model => model.flatness29, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>270°</td>
                                        <td>@Html.TextBoxFor(model => model.elevation10, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRwidth10, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRheight10, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRID10, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.tilting110, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.tilting210, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.flatness110, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.flatness210, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>300°</td>
                                        <td>@Html.TextBoxFor(model => model.elevation11, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRwidth11, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRheight11, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRID11, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.tilting111, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.tilting211, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.flatness111, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.flatness211, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>330°</td>
                                        <td>@Html.TextBoxFor(model => model.elevation12, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRwidth12, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRheight12, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TSRID12, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td> @Html.TextBoxFor(model => model.tilting112, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.tilting212, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" }) </td>
                                        <td>@Html.TextBoxFor(model => model.flatness112, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.flatness212, new { @class = "form-control calc", @maxlength = "25", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td class="noTopBoder" colspan="11">
                                            <img style="width:98% ; height:400px" src="~/Images/Protocol016_img.png" />
                                        </td>
                                    </tr>

                                </table>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <table class="FormTable tblNotes noborder" style="border:2px solid #EAEAEA;">
                                    <tr>
                                        <td class="title bold">Remarks:-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1) ALL DIMENSIONS ARE IN MM, UNLESS SPECIFIED.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2) ALL TSR LONG SEAM JOINTS ARE FLUSH GROUND :-
                                            @Html.TextBoxFor(model => model.Remark2, new { @class = "form-control inlinetextbox", @maxlength = "5", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3) ALL TSR LONG SEAM JOINTS ARE FLUSH GROUND :-
                                            @Html.TextBoxFor(model => model.Remark3, new { @class = "form-control inlinetextbox", @maxlength = "5", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4) OVALITY READING AT NUB INSIDE DIAMETER ARE WITHIN TOLERANCE:-
                                            @Html.TextBoxFor(model => model.Remark4, new { @class = "form-control inlinetextbox", @maxlength = "5", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5) CALIBRATED TAPE NO.
                                            @Html.TextBoxFor(model => model.Remark5, new { @class = "form-control inlinetextbox", @maxlength = "25", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span style="display: inline-block;vertical-align: middle;margin-top: -40px;margin-left: 82px;">
                                                CAL.DATE :
                                            </span>
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" style="display: inline-block;">
                                                @Html.TextBoxFor(m => m.Remark5_1, "{0:dd/MM/yyyy}", new { @role = "PROD", @class = "form-control  inlinetextbox", @readonly = "readonly", style = "width:200px !important;" })
                                                <span class="input-group-btn" style="float: left;top: -5px;">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                    <a id="btnPrint" style="cursor:pointer;margin-right:5px; float:left" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    @if (Convert.ToString(ViewBag.isEditable).ToLower() == "true")
                                    {
                                    <input type="button" class="btn save" id="btnSave" value="Save" />
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "Linkage";
    var isEdit = '@ViewBag.isEditable';
    var userRole = '@ViewBag.UserRole.ToString()';
    $(document).ready(function () {

        $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true, });
        var lstYesNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoEnum))));
        var lstYesNoNA = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoNAEnum))));

        FillProtocolAutoComplete($('#Remark2'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark3'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark4'), lstYesNo, null, false);

        SetEditable(isEdit);

        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });

        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        $("#btnSave").click(function () {
            @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="PROD"]').prop("required", true);</text>
            }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="QC"]').prop("required", true);</text>
            }
            SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData" + Linkage, userRole);
        });
    });
    $("#btnPrint").click(function () {
        PrintReport("/IPI/Protocol/PROTOCOL016", $('#HeaderId').val());
    });

</script>