﻿@using IEMQSImplementation
@using System.Configuration
@using IEMQSImplementation.CBL
@model  IEMQSImplementation.CBL.CBL001

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<link href="~/Content/ThemeCss/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/Plugins/select2/components-select2.min.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/select2/js/select2.full.min.js"></script>
<script src="~/Scripts/bootbox.js"></script>


<style>


    table.dataTable thead .sorting_asc:after {
        content: "";
        text-align: left;
    }

    /*textarea {
        height: 33px !important;
    }*/

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                            <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                                <span class="page-title"> Consumable Batch List</span>
                            </div>
                            <div class="ribbon ribbon-right ribbon-color-warning">
                                <span style="font-weight:bolder">Status : <label id="lblStatus" style="font-weight:bolder">@Model.Status</label> </span>
                                @if (Convert.ToString(ViewBag.maxRevNo) != "")
                                {
                                    <span style="font-weight:bolder"> Revision : <label id="lblStatus" style="font-weight:bolder">@Convert.ToString(ViewBag.maxRevNo)</label> </span>
                                }
                            </div>
                        </div>

                        <div id="dvHeader" class="form-horizontal">

                            <div class="form-group">
                                <div class="col-md-12">
                                    <fieldset>
                                        <legend>Project Details</legend>
                                        <form id="formHeader">
                                            @Html.HiddenFor(m => m.HeaderId)
                                            @Html.HiddenFor(m => m.Status)
                                            @Html.HiddenFor(m => m.RevNo)
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    @Html.HiddenFor(m => m.HeaderId)
                                                    <label class="control-label">Quality Project<span class="required"> * </span></label>
                                                    <div class="" style="display:flex;">
                                                        @*<button type="button" class="btn blue" id="btnPrevQproj"><i class="fa fa-chevron-left"></i></button>*@
                                                        <input type="text" id="txtQualityProject" name="txtQualityProject" class="form-control col-md-3" />
                                                        @*<button type="button" class="btn blue" id="btnNextQproj"><i class="fa fa-chevron-right"></i></button>*@
                                                        @Html.HiddenFor(m => m.QualityProject, new { @id = "ddlQualityProject" })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="control-label">Project</label>
                                                    @Html.TextBoxFor(m => m.Project, new { @id = "Project", @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label class="control-label">BU</label>
                                                    @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="control-label">Location</label>
                                                    @Html.TextBox("Location", (string)ViewBag.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-8">
                                                    <label class="control-label">Identical Projects</label>
                                                    <div class="clsIDProject">
                                                        <select name="IdenticalProject" id="IdenticalProject" multiple="multiple" style=" width:100%" class="form-control col-md-3"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </fieldset>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                @if (Model.HeaderId > 0)
                {
                    <hr />
                    @Html.Hidden("hdnLineCount")
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Line Details
                                    </div>
                                    <div class="tools" id="dvExportHeader">
                                        <div class="btn-group">
                                        </div>
                                        @if ((Model.Status == clsImplementationEnum.CBLStatus.Draft.GetStringValue() || Model.Status == clsImplementationEnum.CBLStatus.Returned.GetStringValue()) && ViewBag.Role == "maintain")
                                        {
                                            <div class="btn-group">
                                                <a style="margin-left:5px;" id="btnNew" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewRecord(this);">
                                                    <i class="fa fa-plus"></i> New
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="portlet-body">
                                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmLineDetails", @class = "form-horizontal" }))
                                    {
                                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblCBL" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                    <th class="min-phone-l" style="display:none;">LineId</th>
                                                    <th class="all">#</th>
                                                    <th class="min-phone-l">Welding Process</th>
                                                    <th class="min-phone-l">Consumable Type</th>
                                                    <th class="min-phone-l">AWS Class</th>
                                                    <th class="min-phone-l">Size(MM)</th>
                                                    <th class="min-phone-l">Brand Name</th>
                                                    <th class="min-phone-l">Batch<br /> No.</th>
                                                    <th class="min-phone-l">Manufacturer</th>
                                                    <th class="all">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    }
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                        <label class="control-label">
                                            Remark
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Remark, new { @class = "form-control", @maxlength = "500" })
                                        </div>
                                    </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
            <div class="col-md-12">
                <div class="col-md-12" style="margin-top: 27px; text-align:right;">
                    @if ((Model.Status == clsImplementationEnum.CBLStatus.Draft.GetStringValue() || Model.Status == clsImplementationEnum.CBLStatus.Returned.GetStringValue()) && ViewBag.Role == "maintain")
                    {
                        <input type="button" class="btn save" id="btnSave" value="Save" />
                        if (Model.HeaderId != 0)
                        {
                            <input type="button" class="btn submit" id="btnSubmit" value="Submit" />
                        }
                    }
                    else if (Model.Status == clsImplementationEnum.CBLStatus.SendToApproval.GetStringValue() && ViewBag.Role == "approve")
                    {
                        <input type="button" class="btn approve" id="btnApprove" value="Approve" />
                        <input type="button" class="btn return" id="btnReturn" value="Return" />
                    }


                    @if (Model.Status == clsImplementationEnum.CBLStatus.Approved.GetStringValue() && ViewBag.Role == "maintain" && ViewBag.CanCreateRevision == true)
                    {
                        <input type="button" class="btn approve" id="btnRevision" value="Create Revision" />
                    }
                    @if (ViewBag.Role == "maintain")
                    {
                        <a href="~/CBL/MaintainCBL/Maintain" class="btn btnclose">Close</a>
                    }
                    else if (ViewBag.Role == "approve")
                    {
                        <a href="~/CBL/MaintainCBL/Approve" class="btn btnclose">Close</a>
                    }
                    else if (ViewBag.Role == "display")
                    {
                        <a href="~/CBL/MaintainCBL/Display" class="btn btnclose">Close</a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()' == "true" ? true : false;
        var Role = '@ViewBag.Role.ToString().ToLower()';

        jQuery.validator.addMethod('notEqualTo', function (value, element, param) {
            return value != jQuery(param).val();
        }, '');

        var HeaderId = $("#HeaderId").val();
        if (HeaderId > 0) {
            getCBLlineDetail($("#HeaderId").val());

            if ((Role == "maintain") && ('@Model.Status' == '@clsImplementationEnum.CBLStatus.Draft.GetStringValue()' ||
                '@Model.Status' == '@clsImplementationEnum.CBLStatus.Returned.GetStringValue()')) {
                $("#txtQualityProject").prop("readonly", true);
                $("#txtQualityProject").css('pointer-events', 'none');
            }
            else {
                $("#txtQualityProject").prop("readonly", true);
                $("#txtQualityProject").css('pointer-events', 'none');
                $('.clsIDProject').css('pointer-events', 'none');
            }

            if (Role == "approve" && '@Model.Status' == '@clsImplementationEnum.CBLStatus.SendToApproval.GetStringValue()') {
                $("#Remark").prop('readonly', false);
            } else {
                $("#Remark").prop('readonly', true);
            }
        }

        var WeldingProcesslist = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.WeldingProcess))));
        var Constype = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.consumableType))));

        $('#tblCBL').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(this).attr("hdElement");
            if ($(this).attr("colname") == "txtWeldingProcess") {
                //FillCBLAutoComplete(element, "/CBL/MaintainCBL/GetDropDownDataResult?Category=78", $("#" + hdElement), false);
                FillAutoComplete(element, WeldingProcesslist, $("#" + hdElement), true);
            }
            if ($(this).attr("colname") == "txtconsType") {
                FillAutoComplete(element, Constype, $("#" + hdElement), true);
            }
            if ($(this).attr("colname") == "txtAWSClass") {
                //var Paramlist = [];
                //Paramlist.push({ id: "HeaderId", value: HeaderId });
                //FillAWSAutoComplete(element, "/CBL/MaintainCBL/GetAWSList", $("#" + hdElement), true, Paramlist,null,null,true);
                FillAWSAutoComplete(element, "/CBL/MaintainCBL/GetAWSList?HeaderId=" + HeaderId, $("#" + hdElement));
            }

        });

        $("#formHeader").validate({
            rules: {
                txtQualityProject: {
                    required: true
                },
                //IdenticalProject: {
                //    required: true
                //},
            },
            messages: {
                txtQualityProject: {
                    required: "Quality Project Is Required"
                },
                //IdenticalProject: {
                //    required: "Identical Project Is Required"
                //},
            }
        })

        $('#frmLineDetails').validate({
            rules: {
                txtWeldingProcess0: {
                    required: true
                },
                txtconsType0: {
                    required: true
                },
                txtAWSClass0: {
                    required: true
                },
                SizeMM0: {
                    required: true
                },
                BrandName0: {
                    required: true
                },
                BatchNo0: {
                    required: true
                },
                Manufacturer0: {
                    required: true
                },
            },
            messages: {

            }
        });

        LoadSelect2DropDownIdenProj("/CBL/MaintainCBL/GetIdenticalProjects", $('#IdenticalProject'), "--Select Identical Project--", '', '', '');

        QualityProjectAutocomplete();

       if (HeaderId != null && HeaderId != undefined && HeaderId != "" && HeaderId != 0) {
           $("#txtQualityProject").val('@Model.QualityProject');

           QualityProjectChange('@Model.QualityProject', "edit");

           $("#txtQualityProject").prop("readonly", "readonly");

            @*if ('@Model.Status' == '@clsImplementationEnum.QualityIdHeaderStatus.SentForApproval.GetStringValue()') {//$("#btnSendForApproval").css("display", "none");
                $("#btnSave,#btnAddLine,#btnEdit,#btnCopy,#btnTransferQID").prop("disabled", "disabled");
            }*@
        }

    });

    $("#btnSave").click(function () {
        var Hid = parseInt($("#HeaderId").val())
        SaveHeaderData("SaveAndDraft")
    });


    $("#btnSubmit").click(function () {
        if ($("#hdnLineCount").val() == 0) {
            DisplayNotiMessage("Warning", "Please enter at least one line details for Batch List!", "Validation");
            return false;
        }
        else {
            var doSubmit = true;
            $('#tblCBL tbody > tr').each(function () {                
                var AWSCls = $(this).find(".txtAWSClass").val();
                var BrandName = $(this).find(".BrandName").val();
                var BatchNo = $(this).find(".BatchNo").val();
                var Manufacturer = $(this).find(".Manufacturer").val();   
                if (AWSCls == "" || BrandName == "" || BatchNo == "" || Manufacturer == "") {
                    DisplayNotiMessage("Warning", "Please provide all line details before submitting the batch list! ", "Validation");
                    doSubmit = false;
                }
            });
            if (doSubmit)
                SaveHeaderData("Submit");
        }
    });

    $("#btnApprove").click(function () {
        SaveHeaderData("Approve")
    });

    $("#btnReturn").click(function () {
        if ($("#Remark").val() == "" || $("#Remark").val() == null) {
            DisplayNotiMessage("Warning", "Please provide return remark!", "Validation");
            $("#Remark").focus();
            return false;
        } else {
            SaveHeaderData("Return");
        }
    });
    $("#btnRevision").click(function () {
        SaveHeaderData("Revision")
    });

    function getCBLlineDetail(Headerid) {
        var table = $('#tblCBL');
        var currentQID = 0;
        var currentPageNo = 0;

        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": false,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            responsive: true,
            //scrollX: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/CBL/MaintainCBL/GetLineData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                    { "name": "HeaderId", "value": $("#HeaderId").val() },
                    { "name": "Roles", "value": '@ViewBag.Role.ToString()' }
                );
            },
            "aaSorting": [[2, 'asc']],
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $("#hdnLineCount").val(data.iTotalRecords);
                        ResetAddRow($('#tblCBL'));
                    },
                    'async': false
                });
                $('input[maxlength]').maxlength({
                    alwaysShow: true,
                });
            },
            "columns": [
                {
                    "sClass": "hide",
                },
                {
                    "sClass": "hide",
                },
                {
                    "bSortable": false,
                    "name": "LineID",
                    "sClass": "center action",
                },
                {
                    "sClass": "center",
                    "name": "WPDesc"
                },
                {
                    "sClass": "center",
                    "name": "CTDesc",
                },
                {
                    "sClass": "center",
                    "name": "AWSClass",
                },
                {
                    "sClass": "center",
                    "name": "SizeMM",
                },
                {
                    "sClass": "center",
                    "name": "BrandName",
                },
                {
                    "sClass": "center",
                    "name": "BatchNo",
                },
                {
                    "sClass": "center",
                    "name": "Manufacturer",
                },
                {
                    "sClass": "center",
                    "bSortable": false
                },

            ]
        });
    }


     function UpdateLineDetails(objColumn, rowID, headerId){
        setTimeout(function () {
            var status = $("#Status").val();
            var elem = $(objColumn).attr("hdElement");
            var hdElement, columnName, columnValue;
            if ($(objColumn).attr("id").match("^txt"))
            {
                hdElement = $("#" + elem);
                columnName = $('#' + elem).attr("colname");
                columnValue = $('#' + elem).val();
            }
            else
            {
                columnName = $(objColumn).attr("colname");
                columnValue = $(objColumn).val();
            }

            var oldvalue = $(objColumn).attr("oldvalue");
            if (oldvalue == columnValue)
                return;
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/CBL/MaintainCBL/UpdateLine",
                datatype: 'json',
                async: false,
                data: { lineId: rowID, headerId: headerId, columnName: columnName, columnValue: columnValue },
                success: function (result) {
                    if (result.Key) {
                        $(objColumn).attr("oldvalue", columnValue);
                    } else {
                        DisplayNotiMessage("error", result.Value, "");
                    }
                },
                error: function () {
                }
            });
        },500)
    }



    function ResetAddRow() {
        $('#tblCBL').find("tbody tr:first").hide();
        $('#tblCBL').find("tbody tr:first").css("background-color", "#fbffb2");
        //$("#btnNew").val("New");
        $("#btnNew").html('<i class="fa fa-plus"></i> New');
        clearFirstRow($('#tblCBL').find("tbody tr:first"));
    }
    function clearFirstRow(objFirstLine) {
        $('input[type!="hidden"]', objFirstLine).val('');
        $('select', objFirstLine).val(null).trigger('change');
    }

     function ShowNewRecord(obj) {
        ShowLine(obj);
    }
    function ShowLine(obj){
        $('#tblCBL').find("tbody tr:first").toggle();
        $('#tblCBL').find("tbody tr:first input[type='text']:first").focus();
        if ($('#tblCBL').find("tbody tr:first").is(":visible")) {
            //$(obj).val("Cancel");
            $(obj).html('<i class="fa fa-times"></i> Cancel');
            var delayedFn, blurredFrom;
            $('#tblCBL').find("tbody tr:first").on('blur', 'a', function (event) {
                blurredFrom = event.delegateTarget;
                delayedFn = setTimeout(function () { SaveNewStage(); }, 0);
            });
            $('#tblCBL').find("tbody tr:first").on('focus', 'a', function (event) {
                if (blurredFrom === event.delegateTarget) {
                    clearTimeout(delayedFn);
                }
            });
        }
        else {
            //$(obj).val("New");
            $(obj).html('<i class="fa fa-plus"></i> New');
            clearFirstRow($('#tblCBL').find("tbody tr:first"));
        }
    }

    function FillAutoComplete(element, sourceList, hdElement, isEditable) {
        element.autocomplete({
            source: function (request, response) {
                //var array=response($.map(sourceList, function (item) {
                //    return { label: item.CategoryDescription, value: item.CategoryDescription, id: item.Code };
                //}));
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: false,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.value);
                $(hdElement).val(ui.item.id)
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    if (isEditable) {
                        $(hdElement).val(element.val());
                    } else {
                        element.val('');
                        element.focus();
                        $(hdElement).val('');
                    }
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });

    }
       
    function FillAWSAutoComplete(element, url, hdElement, autoFocus, parameterArray, extrafn, minLength, isDirectValue, fnResponseMapper) {
        var rowId = $(element).attr('data-name');
        if (autoFocus == null || autoFocus == undefined || autoFocus == "undefined") {
            autoFocus = false;
        }
        if (minLength == null || minLength == undefined || minLength == "undefined") {
            minLength = 0;
        }
        if (parameterArray == null || parameterArray == undefined || parameterArray == "undefined") {
            parameterArray = [];
        }
        element.autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + url + GetExtraParameters(parameterArray, isDirectValue),
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        if (fnResponseMapper && typeof (fnResponseMapper) === "function") {
                            response(fnResponseMapper(data));
                        } else {
                            response($.map(data, function (item) {
                                return { label: item.Value, value: item.Value, id: item.Value };
                            }));
                        }
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            autoFocus: autoFocus,
            minLength: minLength,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id);
                getSizeMM(ui.item.id, rowId);
                //HighlightInValidControls();
                if (extrafn && (typeof extrafn == "function")) {
                    extrafn();
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(hdElement).val("");
                    element.val('');
                    element.focus();
                    if (extrafn && (typeof extrafn == "function")) {
                        extrafn();
                    }
                    //HighlightInValidControls();
                }
            }
        }).focus(function () {
            if ($(this).data("uiAutocomplete") != null && $(this).data("uiAutocomplete") != undefined) {
                $(this).data("uiAutocomplete").search($(this).val());
                //$(this).autocomplete("search");
            }
        });
    }


    function getSizeMM(selectedawsclass, rowId) {
        $.ajax({
            url: WebsiteURL + "/CBL/MaintainCBL/getSizeMM",
            dataType: "json",
            type: "POST",
            async: false,
            data: { awsclass: selectedawsclass, RevNo: $("#RevNo").val() },
            success: function (data) {
                if (rowId == undefined)
                    $("#SizeMM0").val(data.size).trigger('change');
                else
                    $("#SizeMM" + rowId).val(data.size).trigger('change');
            }
        });
    }

    function QualityProjectAutocomplete() {
        $("#txtQualityProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/CBL/MaintainCBL/GetQualityProjectDetails",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectCode, value: item.projectCode, id: item.Value };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    var spltProjectDesc = strProjectDesc.split("-");
                    var projectcode = spltProjectDesc[0].trim();
                    $("#txtQualityProject").val(strProjectDesc);
                    $("#ddlQualityProject").val(ui.item.id);
                    qualityProject = ui.item.id;
                   // var IsValid = CheckProjectAsIdenticalProject(qualityProject);
                   // if (IsValid) {
                        QualityProjectChange($("#ddlQualityProject").val(), "add")
                   // }
                 }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(this).focus();
                    $('#IdenticalProject').val('');
                    $('#IdenticalProject').trigger("change");
                }
                else {
                    LoadSelect2DropDownIdenProj(WebsiteURL + "/CBL/MaintainCBL/GetIdenticalProjects", $('#IdenticalProject'), "--Select Identical Project--", qualityProject, $("#BU").val().split('-')[0].trim(), $("#Location").val().split('-')[0].trim());
                    if ($('#ddlQualityProject').val() != undefined && $('#ddlQualityProject').val() != '') {
                        if ($('#IdenticalProject').length > 0) {
                            $('#IdenticalProject').children().filter(function () {
                                return this.value == $('#ddlQualityProject').val();
                            }).prop('selected', false);
                            $('#IdenticalProject').trigger("change");
                        }
                    }
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

    }

    function CheckProjectAsIdenticalProject(QualityProject) {
        var IsValid = true;
        $.ajax({
            url: WebsiteURL + "/CBL/MaintainCBL/CheckProjectAsIdenticalProject",
            dataType: "json",
            type: "POST",
            async: false,
            data: {
                QualityProject: QualityProject,
            },
            success: function (data) {
                if (!data.Key) {
                    DisplayNotiMessage("Error", data.Value, "Error");
                    IsValid = false;
                }
                else {
                    IsValid = true;
                }
            }
        });

        return IsValid;
    }


    function QualityProjectChange(qualityProject, action) {
        $.ajax({
            url: WebsiteURL + "/CBL/MaintainCBL/GetQualityProjectWiseProjectBUDetail",
            dataType: "json",
            type: "POST",
            async: false,
            data: { qualityProject: qualityProject, HeaderId: $("#HeaderId").val() },
            success: function (data) {
                $("#Project").val(data.Project);
                $("#BU").val(data.QCPBU);
                if (action == 'edit') {
                    LoadPreValueSelect2("/CBL/MaintainCBL/GetIdenticalProjectEdit", $('#IdenticalProject'), "--Select Identical Project--", { param: $("#HeaderId").val() });
                    var identical = data.IdenticalProj;
                    $('#IdenticalProject').val(LoadSelect2OnEdit(identical));
                    $('#IdenticalProject').trigger("change");
                }
            }
        });
    }

    function LoadSelect2OnEdit(strIdentical) {
        var arrProj;
        var res = new Array();
        if (strIdentical.length > 0) {
            arrProj = strIdentical.split(',');
        }
        return arrProj;
    }

    function LoadSelect2DropDownIdenProj(url, objControl, placeHolder, condParam, bu, loc) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            allowClear: true,
            tokenSeparators: [",", "  ", ";"],
            minimumInputLength: 0,
            selectOnBlur: true,
            ajax: {
                url: url,
                type: "POST",
                dataType: 'json',
                data: function (params) {
                    var query = {
                        search: params.term,
                        page: params.page,
                        param: condParam,
                        bu: bu,
                        loc: loc
                    }

                    // Query paramters will be ?search=[term]&page=[page]
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    };


    function SaveLineData() {
        if ($("#frmLineDetails").valid()) {
            if ($("#WeldingProcess0").val() == null || $("#WeldingProcess0").val()==""){
                DisplayNotiMessage("error", "Welding Process is required", "Error");
                return;
            }
            else if ($("#ConsumableType0").val() == null || $("#ConsumableType0").val()==""){
                DisplayNotiMessage("error", "Consumable Type is required", "Error");
                return;
            }
            var formData = new FormData();
            var frmValues = $('#frmLineDetails').serializeArray();
            $.each(frmValues, function (key, input) {
                formData.append(input.name, input.value);
            });
            $.ajax({
                url: WebsiteURL + '/CBL/MaintainCBL/SaveLineDetails',
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", "Line " +data.Value, "Success");
                         $("#tblCBL").DataTable().ajax.reload();
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
    }

    function DeleteLine(lineId) {
        var status = $("#Status").val();
        if(status == '@clsImplementationEnum.CBLStatus.Draft.GetStringValue()' || status == '@clsImplementationEnum.CBLStatus.Returned.GetStringValue()'){
            bootbox.dialog({
                title: "Delete Confirmation",
                message: "Do you want to delete this line?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            DeleteCBLLine(lineId);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }

                }
            });
        }
    }

    function DeleteCBLLine(lineId) {
        $.ajax({
            url: WebsiteURL + "/CBL/MaintainCBL/DeleteCBLLine",
            type: "POST",
            data: { lineId: lineId },
            success: function (data) {

                if (data.Key == true) {
                    DisplayNotiMessage("success", "Line Deleted Successfully", "Success");
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
                $("#tblCBL").DataTable().ajax.reload();
            },
            error: function (data) {
                DisplayNotiMessage("error", data.Value, "Error");
            }
        });
    }

     function CopyLine(lineId) {
        var status = $("#Status").val();
        if(status == '@clsImplementationEnum.CBLStatus.Draft.GetStringValue()' || status == '@clsImplementationEnum.CBLStatus.Returned.GetStringValue()'){
            bootbox.dialog({
                title: "Copy Confirmation",
                message: "Do you want to create a copy of this line?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            CopyCBLLine(lineId);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }

                }
            });
        }
    }

    function CopyCBLLine(lineId) {
        $.ajax({
            url: WebsiteURL + "/CBL/MaintainCBL/CopyCBLLine",
            type: "POST",
            data: { lineId: lineId },
            success: function (data) {

                if (data.Key == true) {
                    DisplayNotiMessage("success", "Line Created Successfully", "Success");
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
                $("#tblCBL").DataTable().ajax.reload();
            },
            error: function (data) {
                DisplayNotiMessage("error", data.Value, "Error");
            }
        });
    }

    function SaveHeaderData(action) {
        if (action != "Return") {
            if ($("#formHeader").valid()) {
                //return true;
            }
            else {
                DisplayNotiMessage("error", "Select Identical Projects", "Validation");
                return false;
            }
        }

        var formData = new FormData();
        var frmValues = $("#formHeader").serializeArray();
        var isAdded = false;
        $.each(frmValues, function (key, input) {
            if (input.name == "IdenticalProject") {
                if (!isAdded) {
                    isAdded = true;
                    formData.append("IdenticalProject", $("#" + input.name).val());
                }
            }
            else {
                formData.append(input.name, input.value);
            }
        });

        formData.append("Remark", $("#Remark").val());
        formData.append("Action", action);

        var msg = "";
        if (action == "Return")
            msg = "Are You Sure Want To Return This Batch List?";
        else if (action == "Approve")
            msg = "Are You Sure Want To Approve This Batch List?";
        else if (action == "Submit")
            msg = "Are You Sure Want To Submit This Batch List?";
        else if (action == "Revision")
            msg = "Are You Sure Want To Create Revision Of This Batch List?";

        if (action == "SaveAndDraft")
            SaveData(formData, action);
        else {
            bootbox.dialog({
                message: msg,
                buttons: {
                    'confirm': {
                        label: 'YES',
                        className: 'btn-success',
                        callback: function () {
                            SaveData(formData, action);
                        },
                    },
                    'cancel': {
                        label: 'NO',
                        className: 'btn-danger',
                        callback: function () {
                        }
                    }
                },
            });
        }
    }

    function SaveData(formData, action) {
        $.ajax({
            url: WebsiteURL + '/CBL/MaintainCBL/SaveNewRecord',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            datatype: "json",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#HeaderId").val(data.HeaderId);
                    DisplayNotiMessage("success", data.Value, "Success");

                    if (action == "Submit" || action == "Revision") {
                        window.setTimeout(function () {
                            window.location.href = WebsiteURL + "/CBL/MaintainCBL/Maintain"
                        }, 1000);
                    }
                    else if (action == "Approve" || action == "Return") {
                        window.setTimeout(function () {
                            window.location.href = WebsiteURL + "/CBL/MaintainCBL/Approve"
                        }, 1000);
                    }
                    else {
                        window.setTimeout(function () {
                            window.location.href = WebsiteURL + "/CBL/MaintainCBL/CBLDetail?id=" + data.HeaderId + "&role=maintain"
                        }, 1000);
                    }
                }
                else {
                    DisplayNotiMessage("Warning", "Same Quality Project is Already Exits!", "Warning");
                    $("#IdenticalProject").val('').trigger('change');
                }
            }
        });
    }
</script>

