﻿@model IEMQSImplementation.NDE004
<div class="row" style="width:100%">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-body form">
                <div class="form-body">
                    <!-- BEGIN FORM-->
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmRTCTQLines", @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(model => model.HeaderId)
                        @Html.HiddenFor(model => model.LineId)
                        <fieldset>
                            <legend>Project Detail</legend>
                            <div class="form-group">
                                <div class="col-md-12">

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Project
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.Project, new { @class = "form-control", @readonly = "readonly", @Value = @ViewBag.Project })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            BU
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.BU, new { @class = "form-control", @readonly = "readonly", @Value = @ViewBag.BU })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Location
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.Location, new { @class = "form-control", @readonly = "readonly", @Value = @ViewBag.Location })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            CTQ Number
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.NDE003.CTQNo, new { @class = "form-control", @readonly = "readonly", @Value = @ViewBag.CTQNo })
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </fieldset>

                        <fieldset>

                            <legend>Line Detail</legend>

                            <div class="form-group">
                                <div class="col-md-12">

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Spec. with Clause No.<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.SpecificationWithClauseNo, new { @class = "form-control", @maxlength = "50" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Spec./Std Req.<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.SpecificationRequirement, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            CTQ?
                                        </label>
                                        <div class="">
                                            @{
                                                bool CriticalToQuality = (Model.CriticalToQuality == null || Model.CriticalToQuality == false ? false : true);
                                                <label class="mt-checkbox mt-checkbox-outline" for="CriticalToQuality">
                                                    @Html.CheckBox("CriticalToQuality", CriticalToQuality, new { })
                                                    <span></span>
                                                </label>
                                            }

                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            CTQ Req.<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.CTQRequirement, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Disc.(KOM/PIM/MKOM)?
                                        </label>
                                        <div class="">
                                            @{
                                                bool ToBeDiscussed = (Model.ToBeDiscussed == null || Model.ToBeDiscussed == false ? false : true);
                                                <label class="mt-checkbox mt-checkbox-outline" for="ToBeDiscussed">
                                                    @Html.CheckBox("ToBeDiscussed", ToBeDiscussed, new { })
                                                    <span></span>
                                                </label>
                                            }
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            NDE Qualification<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @*@Html.DropDownListFor(model => model.QualificationForExam, new SelectList(@ViewBag.lstQualificationExam, "Value", "Text"), "Select", new { @class = "form-control" })*@
                                            <input type="text" id="txtQualificationForExam" name="txtQualificationForExam" placeholder="Select" class="form-control col-md-3" />
                                            @Html.HiddenFor(m => m.QualificationForExam, new { @id = "ddlQualificationForExam" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Written practice Approval?
                                        </label>
                                        <div class="">
                                            @{
                                                bool ApprovalRequired = (Model.ApprovalRequired == null || Model.ApprovalRequired == false ? false : true);
                                                <label class="mt-checkbox mt-checkbox-outline" for="ApprovalRequired">
                                                    @Html.CheckBox("ApprovalRequired", ApprovalRequired, new { })
                                                    <span></span>
                                                </label>
                                            }
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Image Quality Ind.<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.ImageQualityIndicator, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Film Selection<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.FilmSelection, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Intensifying Screen<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.IntensifyingScreen, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Radiation Source<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.RadiationSource, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Density<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.Density, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Radio. Accept. Criteria<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.RadiographyAcceptanceCriteria, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Special Rad. Tech.<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.SpecialTechniqueforRadiography, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Film Identi.<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.FilmIdentification, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Weld Coverage<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.WeldCoverage, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Overlap<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.Overlap, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            SFD<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.SFD, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Spot Length<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.SpotLength, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Film Ret. Period<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.FilmRetentionPeriod, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Film Digitization<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.FilmDigitization, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Proc. Demonst.<span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.ProcedureDemonstration, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Others
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.Others, new { @class = "form-control" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </fieldset>
                      }

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var lstQualificationForExam = @Html.Raw(Json.Encode(@ViewBag.lstQualificationExam));
        FillAutoComplete($("#txtQualificationForExam"), lstQualificationForExam, $("#ddlQualificationForExam"));
        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });

        $('#frmRTCTQLines').validate({
            rules: {
                SpecificationWithClauseNo: {
                    required: true,
                },
                SpecificationRequirement: {
                    required: true,
                },
                CTQRequirement: {
                    required: true,
                },
                txtQualificationForExam: {
                    required: true,
                },
                ImageQualityIndicator: {
                    required: true,
                },
                FilmSelection: {
                    required: true,
                },
                IntensifyingScreen: {
                    required: true,
                },
                RadiationSource: {
                    required: true,
                },
                Density: {
                    required: true,
                },
                RadiographyAcceptanceCriteria: {
                    required: true,
                },
                SpecialTechniqueforRadiography: {
                    required: true,
                },
                FilmIdentification: {
                    required: true,
                },
                WeldCoverage: {
                    required: true,
                },
                Overlap: {
                    required: true,
                },
                SFD: {
                    required: true,
                },
                SpotLength: {
                    required: true,
                },
                FilmRetentionPeriod: {
                    required: true,
                },
                FilmDigitization: {
                    required: true,
                },
                ProcedureDemonstration: {
                    required: true,
                }
            },
            messages: {
                SpecificationWithClauseNo: {
                    required: "Clause no. is required."
                },
                SpecificationRequirement: {
                    required: "Spec req. is required."
                },
                CTQRequirement: {
                    required: "CTQ Req. is required."
                },
                txtQualificationForExam: {
                    required: "Qual. For Exam is required.",
                },
                ImageQualityIndicator: {
                    required: "Image Quality Indicator is required."
                },
                FilmSelection: {
                    required: "Film Selection is required."
                },
                IntensifyingScreen: {
                    required: "Intensifying Screen is required."
                },
                RadiationSource: {
                    required: "Radiation Source is required."
                },
                Density: {
                    required: "Density is required."
                },
                RadiographyAcceptanceCriteria: {
                    required: "Radiography Acceptance Criteria is required."
                },
                SpecialTechniqueforRadiography: {
                    required: "Special Technique for Radiography is required."
                },
                FilmIdentification: {
                    required: "Weld Coverage is required."
                },
                WeldCoverage: {
                    required: "Special Technique for Radiography is required."
                },
                Overlap: {
                    required: "Overlap is required."
                },
                SFD: {
                    required: "SFD is required."
                },
                SpotLength: {
                    required: "Spot Length is required."
                },
                FilmRetentionPeriod: {
                    required: "Film Retention Period is required."
                },
                FilmDigitization: {
                    required: "Film Digitization is required."
                },
                ProcedureDemonstration: {
                    required: "Procedure Demonstration is required."
                }
            }
        });
    });
</script>