﻿<script>
    $(document).ready(function () {
        var isSelectedVal = false;
        $("#txtCopyProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetProjectResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectDescription };
                        }));
                        if (data.length > 0) {
                            isSelectedVal = true;
                        }
                        else {
                            isSelectedVal = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    isSelectedVal = true;
                    var strProjectDesc = ui.item.value;
                    var spltProjectDesc = strProjectDesc.split("-");
                    var projectcode = spltProjectDesc[0].trim();
                    $("#ddlCopyProject").val(projectcode);
                }

            },
        });

        $("#txtCopyProject").blur(function () {
            if (!isSelectedVal) {
                $("#ddlCopyProject").val("");
                $("#txtCopyProject").val("");
            }
        });

        $('#frmCopyRTCTQ').validate({
            rules: {
                ddlCopyProject: {
                    required: true,
                }
            },
            messages: {
                ddlCopyProject: {
                    required: "Project is required"
                },
            }
        });

    });

</script>
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCopyRTCTQ" }))
{
    <div class="form-group">
        <div class="col-md-12">
            @*<fieldset>*@
            @*<legend>Project Detail</legend>*@
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label class="control-label">Project<span class="required"> * </span></label>
                        <div class="">
                            <input type="text" id="txtCopyProject" value="" name="txtCopyProject" class="form-control col-md-3" />
                            @Html.Hidden("ddlCopyProject", new { @id = "ddlCopyProject" })
                        </div>
                    </div>
                </div>
            </div>
            @*</fieldset>*@
        </div>
    </div>
}

