﻿@using IEMQSImplementation
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @*@{
                    string strCTQTitle = ViewBag.Status + " CTQ_RT";
                }
                @strCTQTitle*@
            RT CTQ List
        </div>
        <div class="tools" id="dvExportHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/NDE/MaintainRTCTQ/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblCTQHeader" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">Project</th>
                    <th class="min-phone-l">BU</th>
                    <th class="min-phone-l">Location</th>
                    <th class="min-phone-l">CTQ No.</th>
                    <th class="min-phone-l">Manufacturing Code</th>
                    <th class="min-phone-l">Rev No.</th>
                    <th class="min-phone-l">Created By</th>
                    <th class="min-phone-l">Created On</th>
                    <th class="min-phone-l">Status</th>
                    <th class="none">Applicable Spec.</th>
                    <th class="none">Acceptance Std.</th>
                    <th class="none">ASME code</th>
                    <th class="none">TPI Name</th>
                    <th class="none">Noti. Req.</th>
                    <th class="none">Job Thickness</th>
                    <th class="none">Size Diam.</th>
                    <th class="none">Remarks</th>
                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        var table = $('#tblCTQHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/NDE/MaintainRTCTQ/LoadRTCTQHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "Project",
                    "ColName": "nde3.Project+'-'+com1.t_dsca"
                },
                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "BU",
                    "ColName": "nde3.BU+'-'+bcom2.t_desc"
                },
                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "Location",
                    "ColName": "nde3.Location+'-'+lcom2.t_desc"
                },
                {
                    "bSortable": true,
                    "sClass": "clsCenter",
                    "name": "CTQNo"                    
                },
                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "ManufacturingCode"
                },
                {
                    "name": "RevNo",
                    "sClass": "center",
                    "attr":"numeric"
                },
                {
                    "name": "CreatedBy",
                    "sClass": "center",
                    "ColName": "nde3.CreatedBy+'-'+com003c.t_name "
                },
                {
                    "name": "CreatedOn",
                    "sClass": "center",
                    "attr":"date"
                },
                {
                    "name": "Status",
                    "sClass": "center"
                },
                {
                    "name": "ApplicableSpecification",
                    "sClass": "center",
                    "attr": "hide"
                },
                 {
                     "name": "AcceptanceStandard",
                     "sClass": "center",
                     "attr": "hide"
                 },
                 {
                     "name": "ASMECodeStamp",
                     "sClass": "clsCenter",
                     "attr": "hide"
                 },
                 {
                     "name": "TPIName",
                     "sClass": "center",
                     "attr": "hide"
                 },
                 {
                     "name": "NotificationRequired",
                     "sClass": "clsCenter",
                     "attr": "hide"
                 },
                 {
                     "name": "ThicknessOfJob",
                     "sClass": "center",
                     "attr": "hide"
                 },
                 {
                     "name": "SizeDimension",
                     "sClass": "center",
                     "attr": "hide"
                 },
                 {
                     "name": "NDERemarks",
                     "sClass": "center",
                     "attr": "hide"
                 },
                 {
                     "bSortable": false,
                     "sClass": "center",
                 },
            ]
        });
        table.dtSearchFilter();
    });
    function History(HeaderId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/NDE/MaintainRTCTQ/GetHistoryDataPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { HeaderID: HeaderId },
            success: function (result) {
                bootbox.dialog({
                    title: 'History',
                    message: result,
                    size: 'large',
                }).find("div.modal-dialog").addClass("clsBootBoxWidth");
            },
            error: function () {
            }
        });
    }
</script>
