﻿@{
    ViewBag.Title = "Maintain PCR";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-body form">
                <div>
                    <div class="portlet-body">

                        <div class="row">
                            <div class="col-md-12">
                                
                            </div>
                        </div>

                        

                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    PCR Lines
                                </div>
                                <div class="tools" id="dvExportHeader">
                                    
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table id="tblPCRLines" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="hide">Id</th>
                                            <th class="all">
                                            </th>
                                            <th class="all">PCR Number</th>
                                            <th class="all"> PCR Line</th>
                                            <th class="all"> PCR Line Revision No</th>
                                            <th class="all"> PCR Creation Date</th>
                                            <th class="all"> PCR Release Date </th>
                                            <th class="all"> PCL Creation Date </th>
                                            <th class="all"> PCL Release Date </th>
                                            <th class="all"> Project </th>
                                            <th class="all"> Project Description</th>
                                            <th class="all"> Element </th>
                                            <th class="all"> Element Description</th>
                                            <th class="all"> PCR Hard Copy N  </th>
                                            <th class="all"> Scrap Quantity (m2) </th>
                                            <th class="all"> Nested Quantity (pcs) </th>
                                            <th class="all"> Area Consumed  (m2) </th>
                                            <th class="all"> Length (mm) </th>
                                            <th class="all">  Width  (mm)</th>
                                            <th class="all"> No. of Pieces</th>
                                            <th class="all"> Area  of pieces (m2) </th>
                                            <th class="all"> Total Area(m2)</th>
                                            <th class="all"> W/C Deliver</th>
                                            <th class="all"> Stock Number</th>
                                            <th class="all"> Movement Type</th>
                                            <th class="all"> PCR Planner Remark </th>
                                            <th class="all"> Part Number</th>
                                            <th class="all"> Find No </th>
                                            <th class="all"> Manufacturing Item </th>
                                            <th class="all"> Manufacturing Item Description</th>
                                            <th class="all"> Child Item Segment </th>
                                            <th class="all"> Child Item </th>
                                            <th class="all"> Child Item Description</th>
                                            <th class="all">Item Material Grade </th>
                                            <th class="all"> PCR Type</th>
                                            <th class="all"> PCR Requirement date </th>
                                            <th class="all">Cutting Location </th>
                                            <th class="all"> PCR Line Status </th>
                                            <th class="all"> PCL Number</th>
                                            <th class="all"> P1 (OD) </th>
                                            <th class="all"> P2 (Length) </th>
                                            <th class="all"> P3 (Width) </th>
                                            <th class="all"> P4 (OD) </th>
                                            <th class="all"> P5 (ID) </th>
                                            <th class="all"> P6 (OD)  </th>
                                            <th class="all"> P7 (ID) </th>
                                            <th class="all"> P8 (Deg) </th>
                                            <th class="all"> P9 </th>
                                            <th class="all"> P10  </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var _pcrNumber = '@ViewBag.PCRNumber';
    var _navigationState = '@ViewBag.NavigationState';

    //called on change of dropdown PCRNumber
    function fnCallForSelectedPCRNumber() {
        _pcrNumber = ""; //TODO //set in _pcrNumber variable
        fnLoadMaintainPCRData();
    }

    //called on click of Navigate buttons
    function fnCallForSelectedNavigationState(state, e) {        
        _navigationState = state; //set _navigationState
        fnLoadMaintainPCRData();
    }

    function fnLoadMaintainPCRData() {
        _tableName = "tblPCRLines"; // When Adding ao columns for other table change _tableName
        var aoColumns = [
            {
                "data": "Id",
                "sClass": _classes.Center + ' ' + _classes.Hide,
                "name": "Id",
                "ColName": "Id"
            },
            {
                "bSortable": false,
                "sWidth": "5%",
                "sClass": _classes.Left18,
                "attr": "none",
                "rendercallback": "fnGetElementSelectColumn",
                "editrendercallback": "fnGetElementSelectColumn",
                "render": function (data, type, row, meta) {
                    return fnGetElementSelectColumn(row);
                }
            },
            {
                "bSortable": false,
                "sWidth": "5%",
                "sClass": _classes.Left18,
                "attr": "none",
                "rendercallback": "fnShowSingleOccurence",
                "editrendercallback": "fnShowSingleOccurence",
                "render": function (data, type, row, meta) {
                    return fnShowSingleOccurence(row);
                }
            },
            {
                "data": _columns.PCRNumber.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.PCRNumber.Name,
                "ColName": _columns.PCRNumber.Name
            },
            {
                "data": _columns.PCRLineNo.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.PCRLineNo.Name,
                "ColName": _columns.PCRLineNo.Name,
            },
            {
                "data": _columns.PCRLineRevision.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.PCRLineRevision.Name,
                "ColName": _columns.PCRLineRevision.Name
            },
            {
                "data": _columns.PCRCreationDate.Name,
                "sClass": _classes.Center + ' ' + _classes.ControlRequired + ' ' + _classes.Section7,
                "name": _columns.PCRCreationDate.Name,
                "ColName": _columns.PCRCreationDate.Name,
            },
            {
                "data": _columns.PCRReleaseDate.Name,
                "sClass": _classes.Center + ' ' + _classes.ControlRequired + ' ' + _classes.Section7,
                "name": _columns.PCRReleaseDate.Name,
                "ColName": _columns.PCRReleaseDate.Name,
            },
            {
                "data": _columns.PCLCreationDate.Name,
                "sClass": _classes.Center + ' ' + _classes.ControlRequired + ' ' + _classes.Section7,
                "name": _columns.PCLCreationDate.Name,
                "ColName": _columns.PCLCreationDate.Name,
            },
            {
                "data": _columns.PCLReleaseDate.Name,
                "sClass": _classes.Center + ' ' + _classes.ControlRequired + ' ' + _classes.Section7,
                "name": _columns.PCLReleaseDate.Name,
                "ColName": _columns.PCLReleaseDate.Name
            },
            {
                "data": _columns.Project.Name,
                "sClass": _classes.Center + ' ' + _classes.Section2,
                "name": _columns.Project.Name,
                "ColName": _columns.Project.Name
            },
            {
                "data": _columns.ProjectDesc.Name,
                "sClass": _classes.Center + ' ' + _classes.Section2,
                "name": _columns.ProjectDesc.Name,
                "ColName": _columns.ProjectDesc.Name
            },
            {
                "data": _columns.Element.Name,
                "sClass": _classes.Center + ' ' + _classes.Section2,
                "name": _columns.Element.Name,
                "ColName": _columns.Element.Name
            },
            {
                "data": _columns.ElementDesc.Name,
                "sClass": _classes.Center + ' ' + _classes.Section2,
                "name": _columns.ElementDesc.Name,
                "ColName": _columns.ElementDesc.Name
            },
            {
                "data": _columns.PCRHardCopyNo.Name,
                "sClass": _classes.Center + ' ' + _classes.ControlRequired + ' ' + _classes.Section1,
                "name": _columns.PCRHardCopyNo.Name,
                "ColName": _columns.PCRHardCopyNo.Name
            },
            {
                "data": _columns.ScrapQuantity.Name,
                "sClass": _classes.Center + ' ' + _classes.Section5,
                "name": _columns.ScrapQuantity.Name,
                "ColName": _columns.ScrapQuantity.Name
            },
            {
                "data": _columns.NestedQuantity.Name,
                "sClass": _classes.Center + ' ' + _classes.ControlRequired + ' ' + _classes.Section5 + ' ' + _classes.InputField,
                "name": _columns.NestedQuantity.Name,
                "ColName": _columns.NestedQuantity.Name
            },
            {
                "data": _columns.AreaConsumed.Name,
                "sClass": _classes.Center + ' ' + _classes.ControlRequired + ' ' + _classes.Section5 + ' ' + _classes.InputField,
                "name": _columns.AreaConsumed.Name,
                "ColName": _columns.AreaConsumed.Name
            },
            {
                "data": _columns.Length.Name,
                "sClass": _classes.Center + ' ' + _classes.Section5,
                "name": _columns.Length.Name,
                "ColName": _columns.Length.Name
            },
            {
                "data": _columns.Width.Name,
                "sClass": _classes.Center + ' ' + _classes.Section5,
                "name": _columns.Width.Name,
                "ColName": _columns.Width.Name,
            },
            {
                "data": _columns.NoOfPieces.Name,
                "sClass": _classes.Center + ' ' + _classes.NoOfPieces + ' ' + _classes.Section5,
                "name": _columns.NoOfPieces.Name,
                "ColName": _columns.NoOfPieces.Name,
            },
            {
                "data": _columns.AreaOfPieces.Name,
                "sClass": _classes.Center + ' ' + _classes.Section5,
                "name": _columns.AreaOfPieces.Name,
                "ColName": _columns.AreaOfPieces.Name,
            },
            {
                "data": _columns.TotalArea.Name,
                "sClass": _classes.Center + ' ' + _classes.Section5,
                "name": _columns.TotalArea.Name,
                "ColName": _columns.TotalArea.Name,
            },
            {
                "data": _columns.WCDeliver.Name,
                "sClass": _classes.Center + ' ' + _classes.ControlRequired + ' ' + _classes.Section4 + ' ' + _classes.InputField,
                "name": _columns.WCDeliver.Name,
                "ColName": _columns.WCDeliver.Name
            },
            {
                "data": _columns.StockNumber.Name,
                "sClass": _classes.Center + ' ' + _classes.Section4 + ' ' + _classes.InputField,
                "name": _columns.StockNumber.Name,
                "ColName": _columns.StockNumber.Name,
            },
            {
                "data": _columns.MovementType.Name,
                "sClass": _classes.Center + ' ' + _classes.Section6 + ' ' + _classes.InputField,
                "name": _columns.MovementType.Name,
                "ColName": _columns.MovementType.Name,
            },
            {
                "data": _columns.PCRPlannerRemark.Name,
                "sClass": _classes.Center + ' ' + _classes.Section8 + ' ' + _classes.InputField,
                "name": _columns.PCRPlannerRemark.Name,
                "ColName": _columns.PCRPlannerRemark.Name
            },
            {
                "data": _columns.PartNumber02.Name,
                "sClass": _classes.Center + ' ' + _classes.BudgetLineNumber + ' ' + _classes.Section1,
                "name": _columns.PartNumber02.Name,
                "ColName": _columns.PartNumber02.Name
            },
            {
                "data": "FindNo",
                "sClass": _classes.Center,
                "name": "FindNo",
                "ColName": "FindNo",
            },
            {
                "data": _columns.ManufacturingItem.Name,
                "sClass": _classes.Center + ' ' + _classes.Section3 + ' ' + _classes.InputField,
                "name": _columns.ManufacturingItem.Name,
                "ColName": _columns.ManufacturingItem.Name
            },
            {
                "data": _columns.ManufacturingItemDesc.Name,
                "sClass": _classes.Center + ' ' + _classes.Section3,
                "name": _columns.ManufacturingItemDesc.Name,
                "ColName": _columns.ManufacturingItemDesc.Name
            },
            {
                "data": "ChildItemSegment",
                "sClass": _classes.Center,
                "name": "ChildItemSegment",
                "ColName": "ChildItemSegment",
            },
            {
                "data": _columns.ChildItem.Name,
                "sClass": _classes.Center + ' ' + _classes.Section3 + ' ' + _classes.InputField,
                "name": _columns.ChildItem.Name,
                "ColName": _columns.ChildItem.Name
            },
            {
                "data": _columns.ChildItemDesc.Name,
                "sClass": _classes.Center + ' ' + _classes.Section3,
                "name": _columns.ChildItemDesc.Name,
                "ColName": _columns.ChildItemDesc.Name
            },
            {
                "data": _columns.ItemMaterialGrade.Name,
                "sClass": _classes.Center,
                "name": _columns.ItemMaterialGrade.Name,
                "ColName": _columns.ItemMaterialGrade.Name,
            },
            {
                "data": _columns.PCRType.Name,
                "sClass": _classes.Center + ' ' + _classes.Section1,
                "name": _columns.PCRType.Name,
                "ColName": _columns.PCRType.Name,
            },
            {
                "data": _columns.PCRRequirementDate.Name,
                "sClass": _classes.Center + ' ' + _classes.ControlRequired + ' ' + _classes.Section1 + ' ' + _classes.InputField,
                "name": _columns.PCRRequirementDate.Name,
                "ColName": _columns.PCRRequirementDate.Name
            },
            {
                "data": _columns.CuttingLocation.Name,
                "sClass": _classes.Center + ' ' + _classes.ControlRequired + ' ' + _classes.Section4,
                "name": _columns.CuttingLocation.Name,
                "ColName": _columns.CuttingLocation.Name
            },
            {
                "data": _columns.PCRLineStatus.Name,
                "sClass": _classes.Center,
                "name": _columns.PCRLineStatus.Name + ' ' + _classes.Section1,
                "ColName": _columns.PCRLineStatus.Name,
            },
            {
                "data": _columns.PCLNumber.Name,
                "sClass": _classes.Center + ' ' + _classes.Section4,
                "name": _columns.PCLNumber.Name,
                "ColName": _columns.PCLNumber.Name
            },
            {
                "data": _columns.P1.Name,
                "sClass": _classes.Center + ' ' + _classes.Section4,
                "name": _columns.P1.Name,
                "ColName": _columns.P1.Name
            },
            {
                "data": _columns.P2.Name,
                "sClass": _classes.Center + ' ' + _classes.Section4,
                "name": _columns.P2.Name,
                "ColName": _columns.P2.Name
            },
            {
                "data": _columns.P3.Name,
                "sClass": _classes.Center + ' ' + _classes.Section4,
                "name": _columns.P3.Name,
                "ColName": _columns.P3.Name
            },
            {
                "data": _columns.P4.Name,
                "sClass": _classes.Center + ' ' + _classes.Section4,
                "name": _columns.P4.Name,
                "ColName": _columns.P4.Name
            },
            {
                "data": _columns.P5.Name,
                "sClass": _classes.Center + ' ' + _classes.Section4,
                "name": _columns.P5.Name,
                "ColName": _columns.P5.Name
            },
            {
                "data": _columns.P6.Name,
                "sClass": _classes.Center + ' ' + _classes.Section4,
                "name": _columns.P6.Name,
                "ColName": _columns.P6.Name
            },
            {
                "data": _columns.P7.Name,
                "sClass": _classes.Center + ' ' + _classes.Section4,
                "name": _columns.P7.Name,
                "ColName": _columns.P7.Name
            },
            {
                "data": _columns.P8.Name,
                "sClass": _classes.Center + ' ' + _classes.Section4,
                "name": _columns.P8.Name,
                "ColName": _columns.P8.Name
            },
            {
                "data": _columns.P9.Name,
                "sClass": _classes.Center + ' ' + _classes.Section4,
                "name": _columns.P9.Name,
                "ColName": _columns.P9.Name
            },
            {
                "data": _columns.P10.Name,
                "sClass": _classes.Center + ' ' + _classes.Section4,
                "name": _columns.P10.Name,
                "ColName": _columns.P10.Name
            }
        ]
        debugger
        var sUrl = '/PCR/MaintainPCR/LoadMaintainPCRDataTable?pcrNumber=' + null + '&navigationState=' + _navigationState; //TODO append values of _pcrNumber and _navigationState
        fnLoadGridData(aoColumns, sUrl, null);
    }


    $(document).ready(function () {
        //fnLoadMaintainPCRData(); 
    });
</script>
