﻿@using IEMQSImplementation
@{
    string fuAttachmentMPPCR = "fuAttachmentMPPCR";
}
<style>
    .planner {
        width: 250px;
    }

    .remark {
        width: 250px;
    }

    .wcdeliver {
        width: 250px;
    }

    .movementtype {
        width: 150px;
    }

    .stocknumber {
        width: 180px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-body form">
                <div id="dvPCR">
                    <div class="portlet-body">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    Material Planner PCR
                                </div>
                                <div class="tools" id="dvMaterialPlannerExportHeader">
                                    @if (ViewBag.MATL3IsValidUser)
                                    {
                                        <div class="btn-group">
                                            <a onclick="ReturnPCR()" class="btn btn-circle white btn-outline btn-sm">
                                                Return PCR
                                            </a>
                                        </div>
                                        <div class="btn-group">
                                            <a onclick="GeneratePCL()" class="btn btn-circle white btn-outline btn-sm">
                                                Generate PCL
                                            </a>
                                        </div>
                                        <div class="btn-group">
                                            <a onclick="CheckStock()" class="btn btn-circle white btn-outline btn-sm">
                                                Check Stock
                                            </a>
                                        </div>
                                        <div class="btn-group">
                                            <a onclick="ReleasePCL()" class="btn btn-circle white btn-outline btn-sm">
                                                Release PCL
                                            </a>
                                        </div>
                                        <div class="btn-group">
                                            <a onclick="ReturnBalanceDistribution()" class="btn btn-circle white btn-outline btn-sm">
                                                Return Balance Distribution
                                            </a>
                                        </div>
                                        <div class="btn-group">
                                            <a onclick="GenerateLoadPlan()" class="btn btn-circle white btn-outline btn-sm">
                                                Generate Load Plan
                                            </a>
                                        </div>
                                    }
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PCR/MaintainPCR/GenerateExcel", GridType = clsImplementationEnum.GridType.GeneratePCL.GetStringValue(), dvId = "#dvMaterialPlannerExportHeader" })
                                </div>
                            </div>
                            <div class="portlet-body">
                                <form id="frmMaterialPlannerPCRDetails" class="form-horizontal">
                                    <table id="tblMaterialPlannerPCRDetails" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="all"></th>
                                                <th class="all">Find No</th>
                                                <th class="all">Item</th>
                                                <th class="all">Sequence</th>
                                                <th class="all">Item Type</th>
                                                <th class="all">PCR Initiator</th>
                                                <th class="all">PCR No</th>
                                                <th class="all">PCR Line</th>
                                                <th class="all">PCR Line Status</th>
                                                <th class="all">Length-Mod</th>
                                                <th class="all">Width-Mod</th>
                                                <th class="all">Requirment Date</th>
                                                <th class="all">Nested Qty</th>
                                                <th class="all">Area Consume</th>
                                                <th class="all">W/C Deliver</th>
                                                <th class="all">Alt Stock</th>
                                                <th class="all">Stock Number</th>
                                                <th class="all hide">Stock Revision</th>
                                                <th class="all">Alt Stock Remarks</th>
                                                <th class="all">Shape Type</th>
                                                <th class="all">Shape File</th>
                                                <th class="all">Move Type</th>
                                                <th class="all">Grain Orientation</th>
                                                <th class="all">Material Planner Remark</th>
                                                <th class="all">Material Grade</th>
                                                <th class="all">ARM Code</th>
                                                <th class="all">No. of Pieces</th>
                                                <th class="all">PCR Type</th>
                                                <th class="all">Thk</th>
                                                <th class="all">Req. Qty</th>
                                                @*<th class="all">PCR Seq</th>*@
                                                <th class="all">PCR Rev</th>
                                                <th class="all">PCL No</th>
                                                <th class="all">Scrap m2</th>
                                                <th class="all">Return Balance Qty</th>
                                                <th class="all">Return Area</th>
                                                <th class="all">Tot Cutting length</th>
                                                <th class="all">Planner</th>
                                                <th class="all">Remark</th>
                                                <th class="all">Loc</th>
                                                <th class="all">Sub Loc</th>
                                                <th class="all">Cut Loc</th>
                                                <th class="all">Machine</th>
                                                <th class="all">Week</th>
                                                <th class="all">Priority</th>
                                                <th class="all">Duration</th>
                                                <th class="all">St Dt.</th>
                                                <th class="all">End Dt.</th>
                                                <th class="all">Planner Remarks</th>
                                                <th class="all">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var listWorkCenterDeliver = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.WorkCenterDeliver))));
    var listMovementType = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.MovementType))));
    var UtilityParamsMaterialPlannerPCRDetails = null;
    var tblMaterialPlannerPCRDetailsTableName = "tblMaterialPlannerPCRDetails";
    var tblMaterialPlannerPCRDetails = $('#' + tblMaterialPlannerPCRDetailsTableName);
    var MATL3IsValidUser = '@ViewBag.MATL3IsValidUser.ToString().ToLower()' == "true";
    var fuAttachmentMPPCR = '@fuAttachmentMPPCR';
    var listEmployees = [];
    var PCLReleasedStatus = '@clsImplementationEnum.PCRLineStatus.PCLReleased.GetStringValue()';
    var PCLGeneratedStatus = '@clsImplementationEnum.PCRLineStatus.PCLGenerated.GetStringValue().ToLower()';

    LoadMaterialPlannerPCRData();

    function LoadMaterialPlannerPCRData() {
        var iFCRight = 0;
        var aoColumns = [
                        {
                            "bSortable": false,
                            "sWidth": "5%",
                            "sClass": "left18",
                            "attr": "none",
                            "rendercallback": "GetElementSelectColumnMaterialPlannerPCR",
                            "editrendercallback": "GetElementSelectColumnMaterialPlannerPCR",
                            "render": function (data, type, row, meta) {
                                return GetElementSelectColumnMaterialPlannerPCR(row);
                            }
                        },
                        {
                            "data": "PartNumber",
                            "sClass": "center group1",
                            "name": "PartNumber",
                            "ColName": "p4.PartNumber"
                        },
                        {
                            "data": "ChildItem",
                            "sClass": "center childitem",
                            "name": "ChildItem",
                            "ColName": "p4.ChildItem"
                        },
                        {
                            "data": "Sequence",
                            "sClass": "center",
                            "name": "Sequence",
                            "ColName": "p4.Sequence"
                        },
                        {
                            "data": "ItemType",
                            "sClass": "center",
                            "name": "ItemType",
                            "ColName": "p4.ItemType"
                        },
                        {
                            "data": "PCRCreatedBy",
                            "sClass": "center",
                            "name": "PCRCreatedBy",
                            "ColName": "PCRCreatedByName"
                        },
                        {
                            "data": "PCRNumber",
                            "sClass": "center",
                            "name": "PCRNumber",
                            "ColName": "ISNULL(p4.PCRNumber,'')"
                        },
                        {
                            "data": "PCRLineNo",
                            "sClass": "center",
                            "name": "PCRLineNo",
                            "ColName": "p4.PCRLineNo"
                        },
                        {
                            "data": "PCRLineStatus",
                            "sClass": "center pcllinestatus",
                            "name": "PCRLineStatus",
                            "ColName": "ISNULL(p3.PCRLineStatus,'')"
                        },
                        {
                            "data": "Length",
                            "sClass": "center length",
                            "name": "Length",
                            "ColName": "p3.[Length]"
                        },
                        {
                            "data": "Width",
                            "sClass": "center width",
                            "name": "Width",
                            "ColName": "p3.Width"
                        },
                        {
                            "data": "PCRRequirementDate",
                            "sClass": "center controlrequired",
                            "name": "PCRRequirementDate",
                            "ColName": "ISNULL(p3.PCRRequirementDate,p4.PCRRequirementDate)"
                        },
                        {
                            "data": "NestedQuantity",
                            "sClass": "center controlrequired",
                            "name": "NestedQuantity",
                            "ColName": "p3.NestedQuantity"
                        },
                        {
                            "data": "AreaConsumed",
                            "sClass": "center",
                            "name": "AreaConsumed",
                            "ColName": "p3.AreaConsumed"
                        },
                        {
                            "data": "WCDeliver",
                            "sClass": "center  controlrequired",
                            "name": "WCDeliver",
                            "ColName": "WCDeliverName"
                        },
                        //{
                        //    "data": "UseAlternateStock",
                        //    "sClass": "center",
                        //    "name": "UseAlternateStock",
                        //    "ColName": "UseAlternateStock"
                        //},
                        {
                            "bSortable": false,
                            "sClass": "left",
                            "sWidth": "10%",
                            "attr": "",
                            "name": "UseAlternateStock",
                            "ColName": "ISNULL(p3.UseAlternateStock,'')",
                            "rendercallback": "GetUseAlternateStockRenderMaterialPlannerPCR",
                            "editrendercallback": "GetUseAlternateStockRenderMaterialPlannerPCR",
                            "render": function (data, type, row, meta) {
                                return GetUseAlternateStockRenderMaterialPlannerPCR(row);
                            }
                        },
                        {
                            "data": "StockNumber",
                            "sClass": "center controlrequired",
                            "name": "StockNumber",
                            "ColName": "ISNULL(p3.StockNumber,'')"
                        },
                        {
                            "data": "StockRevision",
                            "sClass": "center stockrevision hide",
                            "name": "StockRevision",
                            "ColName": "p3.StockRevision"
                        },
                        {
                            "data": "AlternateStockRemark",
                            "sClass": "center",
                            "name": "AlternateStockRemark",
                            "ColName": "p3.AlternateStockRemark"
                        },
                        {
                            "data": "ShapeType",
                            "sClass": "center",
                            "name": "ShapeType",
                            "ColName": "p3.ShapeType"
                        },
                        {
                            "data": "ShapeFile",
                            "sClass": "center",
                            "name": "ShapeFile",
                            "ColName": "p3.ShapeFile"
                        },
                        {
                            "data": "MovementType",
                            "sClass": "center controlrequired",
                            "name": "MovementType",
                            "ColName": "MovementTypeName"
                        },
                        {
                            "data": "GrainOrientation",
                            "sClass": "center",
                            "name": "GrainOrientation",
                            "ColName": "p3.GrainOrientation"
                        },
                        {
                            "data": "MaterialPlannerRemark",
                            "sClass": "center",
                            "name": "MaterialPlannerRemark",
                            "ColName": "p3.MaterialPlannerRemark"
                        },
                        {
                            "data": "ItemMaterialGradeName",
                            "sClass": "center materialgrade",
                            "name": "ItemMaterialGradeName",
                            "ColName": "ItemMaterialGradeName"
                        },
                        {
                            "data": "ARMCode",
                            "sClass": "center w200",
                        },
                        {
                            "data": "NoofPieces",
                            "sClass": "center",
                            "name": "NoofPieces",
                            "ColName": "p3.NoofPieces"
                        },
                        {
                            "data": "PCRTypeName",
                            "sClass": "center",
                            "name": "PCRTypeName",
                            "ColName": "PCRTypeName"
                        },
                        {
                            "data": "Thickness",
                            "sClass": "center",
                            "name": "Thickness",
                            "ColName": "p3.Thickness"
                        },
                        {
                            "data": "RequiredQuantity",
                            "sClass": "center requiredquantity",
                            "name": "RequiredQuantity",
                            "ColName": "p4.RequiredQuantity"
                        },
                        //{
                        //    "data": "PCRSequenceNo",
                        //    "sClass": "center",
                        //    "name": "PCRSequenceNo",
                        //    "ColName": "p4.Sequence"
                        //},
                        {
                            "data": "PCRLineRevNo",
                            "sClass": "center",
                            "name": "PCRLineRevNo",
                            "ColName": "p3.PCRLineRevNo"
                        },
                        {
                            "data": "PCLNumber",
                            "sClass": "center pclnumber",
                            "name": "PCLNumber",
                            "ColName": "ISNULL(p3.PCLNumber,'')"
                        },
                        {
                            "data": "ScrapQuantityInm2",
                            "sClass": "center",
                            "name": "ScrapQuantityInm2",
                            "ColName": "ScrapQuantityInm2"
                        },
                        {
                            "data": "ReturnBalanceInPcs",
                            "sClass": "center returnbalanceinpcs",
                            "name": "ReturnBalanceInPcs",
                            "ColName": "p6.ReturnBalanceInPcs"
                        },
                        {
                            "data": "ReturnAreaInm2",
                            "sClass": "center",
                            "name": "ReturnAreaInm2",
                            "ColName": "p6.ReturnAreaInm2"
                        },
                        {
                            "data": "TotalCuttingLength",
                            "sClass": "center controlrequired totalcutlength",
                            "name": "TotalCuttingLength",
                            "ColName": "p6.TotalCuttingLength"
                        },
                        {
                            "data": "Planner",
                            "sClass": "center controlrequired",
                            "name": "Planner",
                            "ColName": "PlannerName"
                        },
                        {
                            "data": "Remark",
                            "sClass": "center",
                            "name": "Remark",
                            "ColName": "p6.Remark"
                        },
                        {
                            "data": "LocationName",
                            "sClass": "center location",
                            "name": "LocationName",
                            "ColName": "LocationName"
                        },
                        {
                            "data": "SubLocation",
                            "sClass": "center",
                            "name": "SubLocation",
                            "ColName": "p4.SubLocation"
                        },
                        {
                            "data": "WarehouseCuttingLocation",
                            "sClass": "center",
                            "name": "WarehouseCuttingLocation",
                            "ColName": "p3.WarehouseCuttingLocation"
                        },
                        {
                            "data": "Machine",
                            "sClass": "center",
                        },
                        {
                            "data": "Week",
                            "sClass": "center",
                        },
                        {
                            "data": "Priority",
                            "sClass": "center",
                            "name": "Priority",
                            "ColName": "Priority"
                        },
                        {
                            "data": "Duration",
                            "sClass": "center",
                        },
                        {
                            "data": "StartDate",
                            "sClass": "center",
                        },
                        {
                            "data": "EndDate",
                            "sClass": "center",
                        },
                        {
                            "data": "PCRPlannerRemark",
                            "sClass": "center",
                            "name": "PCRPlannerRemark",
                            "ColName": "p3.PCRPlannerRemark"
                        },
        ]

        //if (MATL3IsValidUser) {
        iFCRight = 1;
        aoColumns.push({
            "bSortable": false,
            "sClass": "left action",
            "sWidth": "10%",
            "attr": "",
            "rendercallback": "GetActionColumnRenderMaterialPlannerPCR",
            "editrendercallback": "GetActionColumnRenderMaterialPlannerPCR",
            "render": function (data, type, row, meta) {
                return GetActionColumnRenderMaterialPlannerPCR(row);
            }
        });
        //}
        UtilityParamsMaterialPlannerPCRDetails = {
            sUrl: "/PCR/MaintainPCR/LoadMaterialPlannerPCRDataTable",
            iFCLeft: 0,
            iFCRight: iFCRight,
            aoColumns: aoColumns
        };
        UtilityParamsMaterialPlannerPCRDetails.iResponsiveOnWindowWidth = 800;
        UtilityParamsMaterialPlannerPCRDetails.bIsAllCheckbox = true;
        UtilityParamsMaterialPlannerPCRDetails.bIsResponsive = false;
        UtilityParamsMaterialPlannerPCRDetails.bIsSearchFilter = true;
        UtilityParamsMaterialPlannerPCRDetails.bBtnMaximize = true;
        UtilityParamsMaterialPlannerPCRDetails.bIsWrapHeader = false;
        UtilityParamsMaterialPlannerPCRDetails.bIsWrap = false;
        UtilityParamsMaterialPlannerPCRDetails.bIsLazyLoading = false;
        UtilityParamsMaterialPlannerPCRDetails.bIsIgnoreHiddenColumns = true;
        UtilityParamsMaterialPlannerPCRDetails.sBtnDivSelector = "#dvExportHeader";
        UtilityParamsMaterialPlannerPCRDetails.fnCreateRow = tblMaterialPlannerPCRDetails_CreateRow;
        UtilityParamsMaterialPlannerPCRDetails.fnServerDataCallback = tblMaterialPlannerPCRDetails_ServerDataCallback;
        UtilityParamsMaterialPlannerPCRDetails.oSRE = {
            sUrl: "/PCR/MaintainPCR/LoadMaterialPlannerPCREditableData",
            iRowIDAt: 0, bIsAddBtnNew: false,
            sCallback: 'CallAfterLoadSRE', sEditTriggerClass: 'mppcredit', bIsUpdateFromServer: true,
            sPrimaryColName: "Id", sOtherColName: "LineId"
        }
        tblMaterialPlannerPCRDetails.dtUtility(UtilityParamsMaterialPlannerPCRDetails);


        $('#' + tblMaterialPlannerPCRDetailsTableName + '_wrapper').undelegate(".autocomplete", "focusin");
        $('#' + tblMaterialPlannerPCRDetailsTableName + '_wrapper').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(this).attr("hdElement");
            EditableID = $(this).attr("spara");
            if ($(this).attr("colname") == "txtWCDeliver") {
                FillAutoCompleteWithCallBack($(this), listWorkCenterDeliver, $("#" + hdElement));
            }
            else if ($(this).attr("colname") == "txtPlanner") {
                FillAutoCompleteEmployees($(this), EditableID);
            }
            else if ($(this).attr("colname") == "txtMovementType") {
                FillAutoCompleteWithArray($(this), listMovementType, $(this))
            }
            else if ($(this).attr("colname") == "txtStockNumber") {
                var location = $(this).closest("tr").attr("data-loc");
                var projectNo = $(this).closest("tr").attr("data-proj");
                var childItem = $(this).closest("tr").find(".childitem").html();
                var stockRevision = $(this).closest("tr").find("#StockRevision" + EditableID);
                DestroyAutoComplete($(this));
                FillAutoCompleteStockNumber($(this), childItem, location, EditableID, projectNo);
            }
        });

        $('#' + tblMaterialPlannerPCRDetailsTableName + '_wrapper').delegate(".datecontrol", "click", function () {
            var element = $(this);
            if ($(this).attr("isinitialize") == null || $(this).attr("isinitialize") == undefined) {
                var format = "";
                var is_meridian_datetime = false;
                if ($(this).hasClass("form_meridian_datetime")) {
                    is_meridian_datetime = true;
                    format = "dd/mm/yyyy HH:ii P";
                }
                else {
                    format = $(this).attr("data-date-format")
                }
                $(this).datepicker({
                    autoclose: true,
                    todayBtn: true
                });
                $(this).attr("isinitialize", true);
                $(this).find(".btn").css("z-index", "1")
                $(this).find(".btn").click();
            }
        });
    }

    function tblMaterialPlannerPCRDetails_CreateRow(row, data, dataIndex) {
        if (parseInt(data.SequenceSrNo) > 1) {
            $(row).find(".group1").addClass("bordernone");
            $(row).addClass("childs");
        }
        else {
            $(row).find(".group1").addClass("bgcolor");
            $(row).find('td').css("border-top-color", 'lightgray');
            $(row).addClass("parents");
        }
        $(row).attr("data-groupid", data.PartGroupNo).attr("data-docno", data.SequenceSrNo).attr("data-loc", data.Location);
        $(row).attr("data-proj", data.Project).attr("data-mtr", data.ItemMaterialGrade).attr("data-pclid", data.PCLHeaderId).attr("data-pcrid", data.LineId);
    }

    function tblMaterialPlannerPCRDetails_ServerDataCallback() {
        $("#" + tblMaterialPlannerPCRDetailsTableName + "_wrapper").find('.childs').hide();
    }

    function ExpandCollapsChildMaterialPlannerPCR(img) {
        var groupid = $(img).attr("data-gid");
        var isexpand = $(img).attr("data-isexpand");
        if (isexpand == "true") {
            $("#" + tblMaterialPlannerPCRDetailsTableName + "_wrapper").find("[data-groupid=" + groupid + "]").not('.parents').hide();
            $("[data-gid=" + groupid + "]").attr("src", "/Images/details_open.png");
            $("[data-gid=" + groupid + "]").attr("data-isexpand", "false");
        }
        else {
            $("#" + tblMaterialPlannerPCRDetailsTableName + "_wrapper").find("[data-groupid=" + groupid + "]").not('.parents').show();
            $("[data-gid=" + groupid + "]").attr("src", "/Images/details_close.png");
            $("[data-gid=" + groupid + "]").attr("data-isexpand", "true");
        }
        $('#' + tblMaterialPlannerPCRDetailsTableName).DataTable().columns.adjust();
    }

    function GetElementSelectColumnMaterialPlannerPCR(data, iseditmode) {
        iseditmode = iseditmode != null && iseditmode != undefined ? iseditmode : false;
        if (iseditmode) {
            return ""
        }
        else {
            if (data.ItemType == PLTType) {
                if (data.PCRNumber != null && data.PCRNumber != "") {
                    //return ""
                    return "<label class=\"mt-checkbox mt-checkbox-outline\"><input type=\"checkbox\" onchange=\"MPBudgetLineSelection_Change(this)\" name=\"id[]\" class=\"clsCheckbox elementselect\" value=\"" + data.Id + "\" lineid=\"" + data.LineId + "\" pclid=\"" + data.PCLHeaderId + "\" ><span></span></label>"
                }
                else {
                    //if (data.IsEnableElementSelection) {
                    return "<label class=\"mt-checkbox mt-checkbox-outline\"><input type=\"checkbox\" onchange=\"MPBudgetLineSelection_Change(this)\" name=\"id[]\" class=\"clsCheckbox elementselect\" value=\"" + data.Id + "\" lineid=\"" + data.LineId + "\" pclid=\"" + data.PCLHeaderId + "\" ><span></span></label>";
                    //}
                    //else {
                    //    return "<label class=\"mt-checkbox mt-checkbox-outline\"><input type=\"checkbox\"  name=\"id[]\" class=\"clsCheckbox\" value=\"" + data.Id + "\" disabled ><span></span></label>";
                    //}
                }
            }
            else
                return ""
        }
    }

    function GetActionColumnRenderMaterialPlannerPCR(data, iseditmode) {
        var buttons = "";
        iseditmode = iseditmode != null && iseditmode != undefined ? iseditmode : false;
        if (iseditmode) {
            if ((data.PCRLineStatus != PCLReleasedStatus) && MATL3IsValidUser) {
                if (data.ItemType == PLTType) {
                    buttons += "<i id=\"Update" + data.Id + "\" name=\"Update" + data.Id + "\" title=\"Update Record\" class=\"iconspace fa fa-floppy-o\" onclick=\"SaveMaterialPlannerEditRecord(" + data.Id + "," + data.LineId + ");\" style=\"  \"></i>";
                    buttons += "<i id=\"Cancel" + data.Id + "\" name=\"Cancel" + data.Id + "\" title=\"Cancel Edit\" class=\"iconspace fa fa-ban\" onclick=\"CancelEditLineMPPCR(" + data.Id + "); \" style=\"  \"></i>";
                }
                else {
                    buttons += "<i id=\"Cancel" + data.Id + "\" name=\"Cancel" + data.Id + "\" title=\"Cancel Edit\" class=\"iconspace fa fa-ban\" onclick=\"CancelEditLineMPPCR(" + data.Id + "); \" style=\"  \"></i>";
                }
            }
            else {
                buttons += "<i id=\"Cancel" + data.Id + "\" name=\"Cancel" + data.Id + "\" title=\"Cancel Edit\" class=\"iconspace fa fa-ban\" onclick=\"CancelEditLineMPPCR(" + data.Id + "); \" style=\"  \"></i>";
            }
        }
        else {
            if (data.ItemType == PLTType) {
                if (MATL3IsValidUser) {
                    if (data.PCRNumber == null || data.PCRNumber == "") {
                        buttons += "<a id=\"EditMPPCR" + data.Id + "\" name=\"EditMPPCR" + data.Id + "\" title=\"Edit Material Planner PCR\" class=\"blue action\" onclick=\"NonGeneratedPCREdit()\" ><i class=\"iconspace fa fa-pencil-square-o\"></i></a>";
                    }
                    else {
                        buttons += "<a id=\"EditMPPCR" + data.Id + "\" name=\"EditMPPCR" + data.Id + "\" title=\"Edit Material Planner PCR\" class=\"blue action\" ><i class=\"iconspace fa fa-pencil-square-o mppcredit\" data-type=\"" + data.ItemType + "\"></i></a>";
                    }
                    buttons += "<a id=\"UnbindStock" + data.Id + "\" name=\"UnbindStock" + data.Id + "\" title=\"Unbind Stock\" class=\"blue action\" onclick=\"UnbindStock(" + data.Id + "," + data.LineId + ")\" ><i class=\"iconspace fa fa-eraser\" data-type=\"" + data.ItemType + "\"></i></a>";
                }
                buttons += "<a id=\"AttachmentPCR" + data.Id + "\" name=\"AttachmentPCR" + data.Id + "\" title=\"PCR Attachment\" class=\"blue action\" onclick=\"ViewPCRAttachment(" + data.Id + "," + data.LineId + ",'" + data.PCLNumber + "','" + data.PCRLineStatus + "')\" ><i class=\"iconspace fa fa-file\" data-type=\"" + data.ItemType + "\"></i></a>";
                buttons += "<a id=\"AttachmentMPPCR" + data.Id + "\" name=\"AttachmentMPPCR" + data.Id + "\" title=\"PCL Attachment\" class=\"blue action\" onclick=\"ViewPCRMPAttachment(" + data.Id + "," + data.LineId + ",'" + data.PCLNumber + "','" + data.PCRLineStatus + "')\" ><i class=\"iconspace fa fa-paperclip\" data-type=\"" + data.ItemType + "\"></i></a>";
            }
            else {
                if (MATL3IsValidUser) {
                    buttons += "<a id=\"EditMPPCR" + data.Id + "\" name=\"EditMPPCR" + data.Id + "\" title=\"Edit Material Planner PCR\" class=\"blue action\" onclick=\"EditNonPlateElementMPPCR()\" ><i class=\"iconspace fa fa-pencil-square-o\" data-type=\"" + data.ItemType + "\"></i></a>";
                    buttons += "<a id=\"UnbindStock" + data.Id + "\" name=\"UnbindStock" + data.Id + "\" title=\"Unbind Stock\" class=\"blue action\" onclick=\"NonPlateElementUnbindStock(" + data.Id + "," + data.LineId + ")\" ><i class=\"iconspace fa fa-eraser\" data-type=\"" + data.ItemType + "\"></i></a>";
                }
                buttons += "<a id=\"AttachmentPCR" + data.Id + "\" name=\"AttachmentPCR" + data.Id + "\" title=\"PCR Attachment\" class=\"blue action\" onclick=\"ViewNonPlatePCRAttachment()\" ><i class=\"iconspace fa fa-file\" data-type=\"" + data.ItemType + "\"></i></a>";
                buttons += "<a id=\"AttachmentMPPCR" + data.Id + "\" name=\"AttachmentMPPCR" + data.Id + "\" title=\"PCL Attachment\" class=\"blue action\" onclick=\"ViewNonPlateMPAttachment()\" ><i class=\"iconspace fa fa-paperclip\" data-type=\"" + data.ItemType + "\"></i></a>";
            }
        }
        return buttons;
    }

    function GetUseAlternateStockRenderMaterialPlannerPCR(data, iseditmode) {
        var buttons = "";
        iseditmode = iseditmode != null && iseditmode != undefined ? iseditmode : false;
        if (iseditmode) {
            var isChecked = false;
            if (data.UseAlternateStock == "Yes") {
                isChecked = true;
            }
            if ((data.PCLNumber == null || data.PCLNumber == "")) {
                if (data.ItemType == PLTType) {
                    return "<label class=\"mt-checkbox mt-checkbox-outline\"><input type=\"checkbox\"" + (isChecked ? "checked=\"checked\"" : "") + " name=\"chkUseAlternateStock" + data.Id + "\" id=\"chkUseAlternateStock" + data.Id + "\" class=\"clsCheckbox\" value=\"" + data.Id + "\" LineId=\"" + data.PCRLineId + "\" onchange=\"chkUseAlternateStock_Change(this) \"><span></span></label>";
                }
                else {
                    return data.UseAlternateStock;
                }
            }
            else {
                return data.UseAlternateStock;
            }
        }
        else {
            return data.UseAlternateStock;
        }
        return buttons;
    }

    function EditNonPlateElementMPPCR() {
        DisplayNotiMessage("info", "You Can Not Edit Non-Plate Budget Line!", "Information");
    }

    function NonPlateElementUnbindStock() {
        DisplayNotiMessage("info", "You Can Not Unbind Stock For Non-Plate Budget Line!", "Information");
    }

    function CancelEditLineMPPCR(lineId) {
        //UtilityParamsPCRDetails.dtReload();
        SREresetRowAll(tblMaterialPlannerPCRDetailsTableName);
    }

    function NonGeneratedPCREdit() {
        DisplayNotiMessage("info", "You Can Not Edit Non-Generated PCR Budget Line!", "Information");
    }

    function ViewNonPlateMPAttachment() {
        DisplayNotiMessage("info", "You Can Not Attch File For Non-Plate Budget Line!", "Information");
    }

    function ViewNonPlatePCRAttachment() {
        DisplayNotiMessage("info", "Attch File Not Found For Non-Plate Budget Line!", "Information");
    }

    function CallAfterLoadSRE(id) {
        var maxvalue = $("#NestedQuantity" + id).closest('tr').find('.requiredquantity').html();
        $('.controlrequired').find('input,select,textarea').attr("required", "required");
        $('.nestedquantity').autoNumeric('init', { vMin: '1', vMax: maxvalue, aSep: '' });
        $('.numeric').autoNumeric('init', { vMin: '0', vMax: "999999999", aSep: '' });
        $('.totalcuttinglength').autoNumeric('init', { vMin: '0', vMax: "999999999.9999", aSep: '' });
        $('.areaconsumed').autoNumeric('init', { vMin: '0', vMax: "999999999.9999", aSep: '' });


        $('input[maxlength],textarea[maxlength]').maxlength({
            alwaysShow: true,
        });

        var $tr = $("[data-id=" + id + "]");
        var pclno = $tr.find(".pclnumber").html();
        if (pclno == null || pclno == undefined || pclno == "") {
            var chkUseAlternateStock = $("#chkUseAlternateStock" + id);
            var AlternateStockRemark = $("#AlternateStockRemark" + id);
            if (chkUseAlternateStock.is(":checked")) {
                AlternateStockRemark.removeAttr("disabled");
                AlternateStockRemark.attr("required", "required")
            }
            else {
                AlternateStockRemark.attr("disabled", "disabled");
                AlternateStockRemark.removeAttr("required");
                AlternateStockRemark.val("");
            }
        }
        else {
            $tr.find(".wcdeliver").attr("required", "required");
            $tr.find(".planner").attr("required", "required");
            $tr.find(".totalcuttinglocation").attr("required", "required");
        }
    }

    function ViewPCRMPAttachment(Id, LineId, PCLNumber, PCRLineStatus) {
        if (PCLNumber != null && PCLNumber != undefined && PCLNumber != 'undefined' && PCLNumber != "null" && PCLNumber != "") {
            var FolderPath = "";
            if (LineId > 0) {
                FolderPath = "PCR006/" + LineId;
            }
            var IsDisplay = false;
            if (!MATL3IsValidUser) {
                IsDisplay = true;
            }
            if (!IsDisplay && PCLGeneratedStatus.toLocaleLowerCase() != PCRLineStatus.toLocaleLowerCase()) {
                IsDisplay = true;
            }
            var objFileUploadLine = new FileUploadEnt('dv' + fuAttachmentMPPCR, fuAttachmentMPPCR);
            objFileUploadLine.ShowDeleteAction = !IsDisplay;
            objFileUploadLine.ShowAttachmentBtn = !IsDisplay;
            objFileUploadLine.FolderPath = FolderPath;
            objFileUploadLine.LoadInPopup = true;
            objFileUploadLine.IsMultipleUploaded = true;
            //objFileUploadLine.RemoveOnlyCreatedByMe = true;
            LoadFileUploadPartialView(objFileUploadLine);
        }
        else {
            DisplayNotiMessage("info", "PCL Not Generated Yet! Please Generate PCL For Attach File!", "Information");
            return false;
        }
    }

    function ViewPCRAttachment(Id, LineId, PCLNumber, PCRLineStatus) {
        var FolderPath = "";
        if (LineId > 0) {
            FolderPath = "PCR003/" + LineId;
        }
        var IsDisplay = true;
        var objFileUploadLine = new FileUploadEnt('dv' + fuAttachmentMPPCR, fuAttachmentMPPCR);
        objFileUploadLine.ShowDeleteAction = !IsDisplay;
        objFileUploadLine.ShowAttachmentBtn = !IsDisplay;
        objFileUploadLine.FolderPath = FolderPath;
        objFileUploadLine.LoadInPopup = true;
        objFileUploadLine.IsMultipleUploaded = true;
        objFileUploadLine.RemoveOnlyCreatedByMe = true;
        LoadFileUploadPartialView(objFileUploadLine);
    }
    function MPBudgetLineSelection_Change(chk) {
        $(".elementselect").not($(chk)).prop("checked", false);
        $(".selectedrow").removeClass("selectedrow");
        var lineid = $(chk).attr("lineid");
        var id = $(chk).attr("value");
        if ($(chk).is(":checked")) {
            if (parseInt(lineid) > 0) {
                $("[data-lineid=" + lineid + "]").addClass("selectedrow")
            }
            else {
                $("[data-id=" + id + "]").addClass("selectedrow")
            }
        }
        else {
            if (parseInt(lineid) > 0) {
                $("[data-lineid=" + lineid + "]").removeClass("selectedrow")
            }
            else {
                $("[data-id=" + id + "]").removeClass("selectedrow")
            }
        }
    }

    function ReturnBalanceDistribution() {
        if ($('.elementselect:checkbox:checked').length == 0) {
            DisplayNotiMessage("info", "Please Select Budget Line For Return Balance Distribution.", "Information");
            return;
        }
        else {
            var BudgetIds = [];
            var param = {};
            $('.elementselect:checkbox:checked').each(function () {
                BudgetIds.push($(this).attr("value"));
                param["Id"] = $(this).attr("value");
                param["LineId"] = $(this).attr("lineid");
                param["HeaderId"] = $(this).attr("pclid");
                return false;
            });
            if (BudgetIds.length > 1) {
                DisplayNotiMessage("info", "Please Select Only One Budget Line For Return Balance Distribution.", "Information");
                return;
            }

            var Ids = BudgetIds.join(",");
            $.ajax({
                url: WebsiteURL + "/PCR/MaintainPCR/ValidateReturnBalanceDistributionPartialView",
                type: "POST",
                data: {
                    param: param
                },
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key == true) {
                        $.ajax({
                            type: "POST",
                            url: WebsiteURL + "/PCR/MaintainPCR/_ReturnBalanceDistribution",
                            datatype: 'html',
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            data: { param: param },
                            success: function (result) {
                                bootbox.dialog({
                                    title: "Return Balance Distribution",
                                    message: result,
                                    size: "large",
                                    buttons: {
                                        //ok: {
                                        //    label: "Update Details",
                                        //    className: 'btn green',
                                        //    callback: function () {

                                        //    }
                                        //},
                                        cancel: {
                                            label: "Close",
                                            className: 'btn-danger',
                                            callback: function () {
                                                LoadMaterialPlannerPCRData();
                                            }
                                        },
                                    },
                                    onEscape: function () {
                                        LoadMaterialPlannerPCRData();
                                    },
                                });
                            },
                            error: function () {
                            }
                        });
                    }
                    else {
                        if (data.IsInformation) {
                            DisplayNotiMessage("info", data.Value, "Information");
                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                    }
                }
            });
        }
    }

    function CheckStock() {
        if ($('.elementselect:checkbox:checked').length == 0) {
            DisplayNotiMessage("info", "Please Select Budget Line For Check Stock.", "Information");
            return;
        }
        else {
            var BudgetIds = [];
            $('.elementselect:checkbox:checked').each(function () {
                BudgetIds.push($(this).attr("value"));
            });
            if (BudgetIds.length > 1) {
                DisplayNotiMessage("info", "Please Select Only One Budget Line For Check Stock.", "Information");
                return;
            }

            $.ajax({
                type: "POST",
                url: WebsiteURL + "/PCR/MaintainPCR/_CheckStock",
                datatype: 'html',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: { Id: BudgetIds },
                success: function (result) {
                    bootbox.dialog({
                        title: "Display Stock For Items",
                        message: result,
                        size: "large",
                        buttons: {
                            cancel: {
                                label: "Close",
                                className: 'btn-danger',
                                callback: function () {
                                }
                            },
                        },
                    });
                },
                error: function () {
                }
            });

        }
    }
</script>
@if (ViewBag.MATL3IsValidUser)
{
    <script>
        function SaveMaterialPlannerEditRecord(rowid, LineId) {
            if ($("#frmMaterialPlannerPCRDetails").valid()) {
                var formdata = new FormData();
                formdata.append("Id", rowid);
                formdata.append("LineId", LineId);
                var $tr;
                if (parseInt(LineId)) {
                    $tr = $("[data-lineid=" + LineId + "]");
                }
                else {
                    $tr = $("[data-id=" + rowid + "]");
                }
                var tabledata = $tr.find("input,select,textarea,hidden").serializeArray();
                if (tabledata != null && tabledata != undefined) {
                    $.each(tabledata, function (key, input) {
                        formdata.append(input.name.replace(rowid, ""), input.value);
                    });
                }
                var MovementTypeName = $tr.find(".movementtype").val();
                formdata.append("MovementTypeName", MovementTypeName);

                var pclno = $tr.find(".pclnumber").html();
                if (pclno == null || pclno == undefined || pclno == "") {
                    var UseAlternateStock = $("#chkUseAlternateStock" + rowid).is(":checked");
                    if (UseAlternateStock) {
                        formdata.append("UseAlternateStock", "Yes");
                    }
                    else {
                        formdata.append("UseAlternateStock", "No");
                    }

                    $.ajax({
                        url: WebsiteURL + "/PCR/MaintainPCR/SaveMaterialPlannerPCRDetails",
                        type: "POST",
                        data: formdata,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        success: function (res) {
                            if (res.Key) {
                                DisplayNotiMessage("success", res.Value, "Success");
                                $("[data-id=" + rowid + "]").find("input,select,textarea,hidden").attr("disabled", "disabled");
                                $("[data-id=" + rowid + "]").find('.action').html("");
                                //SREresetRowAll(tblPCRDetailsTableName);
                                //UtilityParamsPCRDetails.dtReload();
                                LoadMaterialPlannerPCRData()
                            }
                            else {
                                if (res.IsInformation) {
                                    DisplayNotiMessage("info", res.Value, "Information");
                                }
                                else {
                                    DisplayNotiMessage("error", res.Value, "Error");
                                }
                            }
                        },
                        error: function (data) { }
                    });
                }
                else {
                    var PCLHeaderId = $tr.attr("data-pclid");
                    if (PCLHeaderId > 0) {
                        formdata.append("PCLHeaderId", PCLHeaderId);
                        var MovementTypeName = $tr.find(".movementtype").val();
                        formdata.append("MovementTypeName", MovementTypeName);

                        $.ajax({
                            url: WebsiteURL + "/PCR/MaintainPCR/SaveMaterialPlannerReleasePCLDetails",
                            type: "POST",
                            data: formdata,
                            contentType: false,
                            processData: false,
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (res) {
                                if (res.Key) {
                                    DisplayNotiMessage("success", res.Value, "Success");
                                    $("[data-id=" + rowid + "]").find("input,select,textarea,hidden").attr("disabled", "disabled");
                                    $("[data-id=" + rowid + "]").find('.action').html("");
                                    //SREresetRowAll(tblPCRDetailsTableName);
                                    //UtilityParamsPCRDetails.dtReload();
                                    LoadMaterialPlannerPCRData()
                                }
                                else {
                                    if (res.IsInformation) {
                                        DisplayNotiMessage("info", res.Value, "Information");
                                    }
                                    else {
                                        DisplayNotiMessage("error", res.Value, "Error");
                                    }
                                }
                            },
                            error: function (data) { }
                        });
                    }
                }
            }
        }

        function FillAutoCompleteStockNumber(txt, Item, Location, EditableID, ProjectNo) {
            var chkUseAlternateStock = $("#chkUseAlternateStock" + EditableID);
            var UseAlternateStock = chkUseAlternateStock.is(":checked");
            $(txt).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: WebsiteURL + "/PCR/MaintainPCR/GetStockNumberForMaterialPlannerPCR?Location=" + Location + "&Item=" + Item + "&UseAlternateStock=" + UseAlternateStock + "&ProjectNo=" + ProjectNo,
                        dataType: "json",
                        type: "POST",
                        delay: 250,
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { sn: item.StockNumber, sr: item.StockRevision, mtr: item.Materials, label: item.StockNumber + "-R" + item.StockRevision };
                            }));
                        }
                    });
                },
                minLength: 0,
                select: function (event, ui) {
                    $(this).val(ui.item.label);
                    $("#StockNumber" + EditableID).val(ui.item.sn);
                    $("#StockRevision" + EditableID).val(ui.item.sr);
                    $("[data-id=" + EditableID + "]").find(".stockrevision").html(ui.item.sr);
                },
                change: function (event, ui) {
                    if (ui.item == null) {
                        $("#StockNumber" + EditableID).val("");
                        $("#StockRevision" + EditableID).val("");
                        $("[data-id=" + EditableID + "]").find(".stockrevision").html("");
                    }
                    else {
                        $("#StockNumber" + EditableID).val(ui.item.sn);
                        $("#StockRevision" + EditableID).val(ui.item.sr);
                        $("[data-id=" + EditableID + "]").find(".stockrevision").html(ui.item.sr);
                        ValidateStockSelection(EditableID, $("[data-id=" + EditableID + "]").attr("data-pcrid"), ui.item.sn, ui.item.sr, ui.item.mtr);
                    }
                }
            }).focus(function () {
                if ($(this).data("uiAutocomplete") != null && $(this).data("uiAutocomplete") != undefined) {
                    $(this).data("uiAutocomplete").search($(this).val());
                    //$(this).autocomplete("search");
                }
            });
        }

        function chkUseAlternateStock_Change(chk) {
            Id = $(chk).closest("tr").attr("data-id");
            $("#txtStockNumber" + Id).val("");
            $("#StockNumber" + Id).val("");
            $("#StockRevision" + Id).val("");
            $("[data-id=" + Id + "]").find(".stockrevision").html("")
            var AlternateStockRemark = $("#AlternateStockRemark" + Id);
            if ($(chk).is(":checked")) {
                AlternateStockRemark.removeAttr("disabled");
                AlternateStockRemark.attr("required", "required")
            }
            else {
                AlternateStockRemark.attr("disabled", "disabled");
                AlternateStockRemark.removeAttr("required");
                AlternateStockRemark.val("");
            }
        }

        function FillAutoCompleteEmployees(txt, EditableID) {
            $(txt).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: WebsiteURL + "/Utility/General/GetActiveEmployee",
                        dataType: "json",
                        type: "POST",
                        delay: 250,
                        data: {
                            search: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { id: item.id, label: item.text };
                            }));
                        }
                    });
                },
                minLength: 0,
                select: function (event, ui) {
                    $(this).val(ui.item.label);
                    $("#Planner" + EditableID).val(ui.item.id);
                },
                change: function (event, ui) {
                    if (ui.item == null) {
                        $("#Planner" + EditableID).val("");
                    }
                    else {
                        $("#Planner" + EditableID).val(ui.item.id);
                    }
                }
            }).focus(function () {
                if ($(this).data("uiAutocomplete") != null && $(this).data("uiAutocomplete") != undefined) {
                    $(this).data("uiAutocomplete").search($(this).val());
                }
            });
        }

        function GeneratePCL() {
            if ($('.elementselect:checkbox:checked').length == 0) {
                DisplayNotiMessage("info", "Please Select Budget Line For Generate PCL.", "Information");
                return;
            }
            else {
                var BudgetIds = [];
                var param = {};
                $('.elementselect:checkbox:checked').each(function () {
                    BudgetIds.push($(this).attr("value"));
                    param["Id"] = $(this).attr("value");
                    param["LineId"] = $(this).attr("lineid");
                    return;
                });
                var Ids = BudgetIds.join(",");
                bootbox.dialog({
                    title: "Generate PCL",
                    message: "Do you want to Generate PCL?",
                    size: "medium",
                    buttons: {
                        Yes: {
                            Label: "Yes",
                            className: 'btn green',
                            callback: function () {
                                //$.ajax({
                                //    url: WebsiteURL + "/PCR/MaintainPCR/ValidateGeneratePCLBudgetLineSelection",
                                //    type: "POST",
                                //    data: {
                                //        Ids: Ids
                                //    },
                                //    beforeSend: function () {
                                //        showLoading(true);
                                //    },
                                //    complete: function () {
                                //        showLoading(false);
                                //    },
                                //    success: function (data) {
                                //        if (data.Key == true) {
                                $.ajax({
                                    url: WebsiteURL + "/PCR/MaintainPCR/SaveGeneratePCL",
                                    type: "POST",
                                    data: { param: param },
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    success: function (data) {
                                        if (data.Key == true) {
                                            DisplayNotiMessage("success", data.Value, "Success");
                                            //UtilityParamsPCRDetails.dtReload();
                                            LoadMaterialPlannerPCRData();
                                        }
                                        else {
                                            if (data.IsInformation) {
                                                DisplayNotiMessage("info", data.Value, "Information");
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                        }
                                    }
                                });
                                //        }
                                //        else {
                                //            if (data.IsInformation) {
                                //                DisplayNotiMessage("info", data.Value, "Information");
                                //            }
                                //            else {
                                //                DisplayNotiMessage("error", data.Value, "Error");
                                //            }
                                //        }
                                //    }
                                //});
                            }
                        },
                        Cancel: {
                            label: 'No',
                            className: 'btn red',
                            callback: function () { }
                        }
                    }
                });

            }
        }

        function ReleasePCL() {
            if ($('.elementselect:checkbox:checked').length == 0) {
                DisplayNotiMessage("info", "Please Select Budget Line For Release PCL.", "Information");
                return;
            }
            else {
                //var BudgetIds = [];
                var Ids = "";
                var param = {};
                $('.elementselect:checkbox:checked').each(function () {
                    Ids = $(this).attr("value");
                    param["Id"] = $(this).attr("value");
                    param["LineId"] = $(this).attr("lineid");
                    param["HeaderId"] = $(this).attr("pclid");
                    return;
                });
                var $tr = $("[data-id=" + Ids + "]");
                var returnbalanceinpcs = $tr.find(".returnbalanceinpcs").html();
                var totalcutlength = $tr.find(".totalcutlength").html();
                if (totalcutlength == "" || parseFloat(totalcutlength) == 0) {
                    DisplayNotiMessage("info", "Total Cutting Length must be greater then 0", "Information");
                    return false;
                }
                bootbox.dialog({
                    title: "Release PCL",
                    message: "Do you want to Release PCL?",
                    size: "medium",
                    buttons: {
                        Yes: {
                            Label: "Yes",
                            className: 'btn green',
                            callback: function () {
                                if (returnbalanceinpcs == "" || returnbalanceinpcs == "0") {
                                    bootbox.dialog({
                                        title: "Release PCL",
                                        message: "Return Balance(pcs) is zero, System will consider all Return Area as a Scrap\n Do you want to continue?",
                                        size: "medium",
                                        buttons: {
                                            Yes: {
                                                Label: "Yes",
                                                className: 'btn green',
                                                callback: function () {
                                                    SaveReleasePCL(param);
                                                }
                                            },
                                            Cancel: {
                                                label: 'No',
                                                className: 'btn red',
                                                callback: function () { }
                                            }
                                        }
                                    });
                                }
                                else {
                                    SaveReleasePCL(param)
                                }
                            }
                        },
                        Cancel: {
                            label: 'No',
                            className: 'btn red',
                            callback: function () { }
                        }
                    }
                });
            }
        }

        function SaveReleasePCL(param) {
            $.ajax({
                url: WebsiteURL + "/PCR/MaintainPCR/SaveReleasePCL",
                type: "POST",
                data: { param: param },
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key == true) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        //UtilityParamsPCRDetails.dtReload();
                        LoadMaterialPlannerPCRData();
                    }
                    else {
                        if (data.IsInformation) {
                            DisplayNotiMessage("info", data.Value, "Information");
                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                    }
                }
            });
        }

        function ValidateStockSelection(EditableID, PCRLineId, StockNumber, StockRevision, StockMaterial) {
            var chkUseAlternateStock = $("#chkUseAlternateStock" + EditableID);
            var Material = $("[data-id=" + EditableID + "]").attr("data-mtr");
            $.ajax({
                url: WebsiteURL + "/PCR/MaintainPCR/ValidateStockSelection",
                type: "POST",
                data: { PCRLineId: PCRLineId, StockNumber: StockNumber, StockRevision: StockRevision, UseAlternateStock: chkUseAlternateStock.is(":checked") },
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    console.log(data);
                    if (data.Key == true) {
                        if ($("[data-id=" + EditableID + "]").attr("data-mtr") != StockMaterial) {
                            bootbox.dialog({
                                title: "Generate PCR",
                                message: "Material Grade Is Different. Do You Want To Use It?",
                                size: "medium",
                                buttons: {
                                    Yes: {
                                        Label: "Yes",
                                        className: 'btn green',
                                        callback: function () {

                                        }
                                    },
                                    Cancel: {
                                        label: 'No',
                                        className: 'btn red',
                                        callback: function () {
                                            $("#txtStockNumber" + EditableID).val("");
                                            $("#StockNumber" + EditableID).val("");
                                            $("#StockRevision" + EditableID).val("");
                                            $("[data-id=" + EditableID + "]").find(".stockrevision").html("");
                                        }
                                    }
                                }
                            });
                        }
                    }
                    else {
                        DisplayNotiMessage("info", data.Value, "Information");
                        $("#StockNumber" + EditableID).val("");
                        $("#StockRevision" + EditableID).val("");
                        $("[data-id=" + EditableID + "]").find(".stockrevision").html("");
                    }
                }
            });
        }

        function UnbindStock(Id, LineId) {
            //if ($('.elementselect:checkbox:checked').length == 0) {
            //    DisplayNotiMessage("info", "Please Select Budget Line For Unbind Stock.", "Information");
            //    return;
            //}
            //else {
            //    var BudgetIds = [];
            //    var param = {};
            //    $('.elementselect:checkbox:checked').each(function () {
            //        BudgetIds.push($(this).attr("value"));
            //        param["Id"] = $(this).attr("value");
            //        param["LineId"] = $(this).attr("lineid");
            //        param["HeaderId"] = $(this).attr("pclid");
            //        return false;
            //    });
            //var Ids = BudgetIds.join(",");

            var param = {};
            var $tr = $("[data-id=" + Id + "]");
            param["Id"] = $tr.attr("data-id");
            param["LineId"] = $tr.attr("data-lineid");
            param["HeaderId"] = $tr.attr("data-pclid");

            bootbox.dialog({
                title: "Unbind Stock",
                message: "Do you want to unbind stock?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            $.ajax({
                                url: WebsiteURL + "/PCR/MaintainPCR/UnbindStock",
                                type: "POST",
                                //data: { Id: Ids },
                                data: { param: param },
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                success: function (data) {
                                    if (data.Key == true) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        LoadMaterialPlannerPCRData();
                                    }
                                    else {
                                        if (data.IsInformation) {
                                            DisplayNotiMessage("info", data.Value, "Information");
                                        }
                                        else {
                                            DisplayNotiMessage("error", data.Value, "Error");
                                        }
                                    }
                                }
                            });
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }
                }
            });
            //}
        }

        function ReturnPCR() {
            if ($('.elementselect:checkbox:checked').length == 0) {
                DisplayNotiMessage("info", "Please Select Budget Line For Return PCR.", "Information");
                return;
            }
            else {
                var BudgetIds = [];
                var param = {};
                $('.elementselect:checkbox:checked').each(function () {
                    BudgetIds.push($(this).attr("value"));
                    param["Id"] = $(this).attr("value");
                    param["LineId"] = $(this).attr("lineid");
                    param["HeaderId"] = $(this).attr("pclid");
                    return false;
                });
                var Ids = BudgetIds.join(",");

                var strHtml = "<scr" + "ipt>$(document).ready(function(){"
                            + "$('input[maxlength],textarea[maxlength]').maxlength({alwaysShow: true,});"
                            + "$('#frmHeaderReturn').validate({"
                            + " rules: {"
                            + "txtReturnRemark: {"
                            + "required: true,"
                            + "},"
                            + "messages: {"
                            + "txtReturnRemark: {"
                            + "required: 'Return Remark is required'"
                            + "}"
                            + "}"
                             + "}"
                            + "});"
                            + "});</scr" + "ipt>"
                            + " <div>"
                            + "<form method='post' id='frmHeaderReturn' class='form-horizontal' action=''>"
                            + "<div class='form-group'>"
                            + "     <div class='col-md-12'>"
                            + "         <br /><label class='control-label'><b>Return Remark</b><span class='required'> * </span></label>"
                            + "         <div class=''>"
                            + "             <textarea type='text' value='' style='width:100%' name='txtReturnRemark' id='txtReturnRemark' maxlength='50' rows='3' class='form-control col-md-3'></textarea>"
                            + "         </div>"
                            + "     </div>"
                            + "</div>"
                            + "</div>"
                            + "</form>"
                            + "</div>";

                bootbox.confirm({
                    title: 'Return PCR',
                    message: 'Do you want to return PCR?' + strHtml,
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            if ($('#frmHeaderReturn').valid()) {
                                var ReturnRemark = $('#txtReturnRemark').val();

                                $.ajax({
                                    url: WebsiteURL + "/PCR/MaintainPCR/ReturnPCR",
                                    type: "POST",
                                    //data: { Ids: Ids, Remarks: Remarks, Required: Required, Actual: Actual },
                                    data: { param: param, ReturnRemark: ReturnRemark },
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    success: function (data) {
                                        if (data.Key == true) {
                                            DisplayNotiMessage("success", data.Value, "Success");
                                            LoadMaterialPlannerPCRData();
                                        }
                                        else {
                                            if (data.IsInformation) {
                                                DisplayNotiMessage("info", data.Value, "Information");
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                        }
                                    }
                                });

                            }
                            else {
                                return false;
                            }
                        }
                    }
                });

            }
        }
    </script>
}