﻿@using IEMQSImplementation
@{
    ViewBag.Title = "Maintain PCR";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
@Styles.Render("~/Content/datetimepicker/css")
<style>
    /*.w200{
        width:200px !important;
    }*/

    .datetimecontrol {
        width: 210px !important;
    }

    .date-reset {
        margin-right: 1px !important;
        padding: 6px 8px !important;
    }

    .bordernone {
        border-top: none !important;
        background-color: white !important;
    }

    .bgcolor {
        background-color: white !important;
    }

    .childs {
        background: antiquewhite !important;
    }

    div.dataTables_processing {
        z-index: 1;
        line-height: 0px;
    }

    .iconspace {
        margin-right: 5px;
    }

    .selectedrow {
        background-color: beige !important;
    }

    .table-hover > tbody > tr.selectedrow:hover, .table-hover > tbody > tr.selectedrow:hover > td {
        background-color: beige !important;
    }

    .selectedrow > td.bgcolor {
        background-color: beige !important;
    }

    tr.selectedrow > td.sorting_1 {
        background-color: beige !important;
    }
</style>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body form">
                    <div id="dvPCRAllDetails">
                        <div class="portlet-title tabbable-line">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#dvGeneratePCR" name="tabGeneratePCR" id="tabGeneratePCR" spara="GeneratePCR" data-toggle="tab"> PCR </a>
                                </li>
                                <li class="">
                                    <a href="#dvMaterialPlannerPCR" name="tabMaterialPlannerPCR" id="tabMaterialPlannerPCR" spara="MaterialPlannerPCR" data-toggle="tab"> Material Planner - PCR </a>
                                </li>
                                <li class="">
                                    <a href="#dvQCPCL" name="tabQCPCL" id="tabQCPCL" spara="QCPCL" data-toggle="tab"> QC </a>
                                </li>
                                <li class="">
                                    <a href="#dvShopPCL" name="tabShopPCL" id="tabShopPCL" spara="ShopPCL" data-toggle="tab"> Shop-PCL </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="dvGeneratePCR"></div>
                                    <div class="tab-pane" id="dvMaterialPlannerPCR"></div>
                                    <div class="tab-pane" id="dvQCPCL"></div>
                                    <div class="tab-pane" id="dvShopPCL"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content">

</div>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")
@Scripts.Render("~/bundles/datetimepicker/js")
<script type="text/javascript">
    var EditableID = 0;
    var listLocation = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.Location))));
    var listWorkCenterDeliver = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.WorkCenterDeliver))));
    var listPCRType = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.PCRType))));
    var listCuttingLocation = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.CuttingLocation))));
    var PLTType = '@ViewBag.PLTType';
    var PCRLineStatusReleasedtoMaterialPlanner = '@clsImplementationEnum.PCRLineStatus.ReleasedtoMaterialPlanner.GetStringValue().ToLower()';
    var PCRLineStatusCreated = '@clsImplementationEnum.PCRLineStatus.Created.GetStringValue().ToLower()';
    $(document).ready(function () {
        LoadGeneratePCR();

        $("#tabGeneratePCR").click(function () {
            LoadGeneratePCR();
        });
        $("#tabMaterialPlannerPCR").click(function () {
            LoadMaterialPlannerPCR();
        });

    });
    function LoadMaterialPlannerPCR() {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PCR/MaintainPCR/_MaterialPlannerPCR",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                $("#dvMaterialPlannerPCR").html(result);
            },
            error: function () {
            }
        });
    }
    function LoadGeneratePCR() {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PCR/MaintainPCR/_GeneratePCR",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                $("#dvGeneratePCR").html(result);
            },
            error: function () {
            }
        });
    }
</script>