﻿
@using IEMQSImplementation

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <span id="spnGridTitile">Item Code List</span>
                </div>
                <div class="tools" id="dvExportHeader">
                    @if (ViewBag.Status == "Pending")
                    {
                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel
               {
                   url = "/ICC/ItemCreation/GenerateExcel",
                   GridType = clsImplementationEnum.GridType.GetItemNotCreated.GetStringValue(),
                   dvId = "#dvExportHeader_1"
               })
                    }
                    else if (ViewBag.Status == "All")
                    {
                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel
               {
                   url = "/ICC/ItemCreation/GenerateExcel",
                   GridType = clsImplementationEnum.GridType.GetAllItem.GetStringValue(),
                   dvId = "#dvExportHeader_1"
               })
                    }
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="tblItemList" cellspacing="0">
                    <thead>
                        <tr>
                            @*<th class="all">Sr. No.</th>*@
                            <th class="all">Date</th>
                            <th class="all">Item Code</th>
                            <th class="min-phone-l">Item Long Desc.</th>
                            <th class="min-phone-l">Material Category</th>
                            <th class="min-phone-l">Material Group</th>
                            <th class="min-phone-l">Dist. Item</th>
                            <th class="min-phone-l">UOM</th>
                            <th class="all">Status</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        if ('@ViewBag.Status'.toLowerCase() == 'pending') {
            $('#spnGridTitile').html('@ViewBag.Status' + " Item Creation");
        }
        else {
            $('#spnGridTitile').html('@ViewBag.Status' + " Items");
        }
        var table = $('#tblItemList');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'desc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/ICC/ItemCreation/LoadItemDataGridData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Status", "value": '@ViewBag.Status' },{ "name": "Roles", "value": '@ViewBag.user' })
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                       //{
                       //    "sClass": "center",
                       //    "bSortable": false,
                       //},
                        {
                            "sClass": "center",
                            "ColName": "icc002.CreatedOn", "name": "CreatedOn",
                            "attr": "date"
                        },
                        {
                            "sClass": "center",
                            "name": "ItemCode"
                        },
                         {
                             "sClass": "center",
                             "name": "LongDescription"
                         },
                        {
                            "sClass": "center",
                            "name": "MaterialCategory",
                        },
                        {
                            "sClass": "center",
                            "name": "MaterialGroup",
                        },
                        {
                            "sClass": "center",
                            "name": "DistinctItem",
                        },
                        {
                            "sClass": "center",
                            "name": "UOM",
                        },
                        {
                            "sClass": "center",
                            "name": "Status"
                        },
                        {
                            "sClass": "center",
                            "bSortable": false,
                        }
            ]
        });
        table.dtSearchFilter();
    });

</script>
