﻿@model IEMQSImplementation.NDE010_Log
@using IEMQSImplementation
@{
    ViewBag.Title = "View Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>

<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>

<script>

    $(document).ready(function () {
        if ('@ViewBag.Action'.toLowerCase() == "edit") {
            var DGSDiagram = '@Model.DGSDiagram';
            if (DGSDiagram.toString() == "True") {
                $("#DGSDiagram").val('Yes');
            } else {
                $("#DGSDiagram").val('No');
            }
            $("#RevNo").val("R" + '@Model.RevNo');
            $("#SimulationBlock1").val('@Html.Raw((String)ViewBag.SimulationBlock1)');
            $("#ScanningSensitivity").val('@Html.Raw((String)ViewBag.ScanningSensitivity)');
            $("#BasicCalibrationBlock").val('@Model.BasicCalibrationBlock');
            $("#ScanTechnique").val('@Html.Raw((String)ViewBag.ScanTechnique)');
            $("#CouplantUsed").val('@Html.Raw((String)ViewBag.CouplantUsed)');
            $("#txtHeaderId").val('@Model.HeaderId');
            var manufacturingCode = '@ViewBag.ManufacturingCode';
            $("#ManufacturingCode").val(manufacturingCode);
            $("#txtHeaderId").val('@Model.HeaderId');
        }
    });
</script>
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body" id="divScanUTHeader">
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">History A scan UT Technique</span>
                    </div>
                    @{
                        if (!string.IsNullOrWhiteSpace(Model.Status))
                        {
                            <div class="ribbon ribbon-right ribbon-color-warning">
                                <span style="font-weight:bolder">
                                    Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span>
                                </span>
                            </div>
                        }
                    }
                </div>
                <div id="dvHeader">

                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
                    {
                        @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
                        @Html.HiddenFor(m => m.Status)
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Detail</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Quality Project<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.QualityProject, (string)ViewBag.QualityProject, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Project<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(model => model.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">BU</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Location</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">

                                            <div class="col-md-3">
                                                <label class="control-label">UT Tech No <span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.TechniqueSheetNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">UT Procedure with Rev. No. </label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.UTProcedureNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Document No</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.UTTechNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Rev No.</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Manufacturing Code</label>
                                                <div class="">
                                                    <input id="ManufacturingCode" class="form-control col-md-3" readonly="readonly" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>A Scan UT Technique Details</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="control-label">Recordable Indication At Reference Gain<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.RecordableIndication, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">Basic Calibration Block<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.BasicCalibrationBlock, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="control-label">DGS Diagram<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.DGSDiagram, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="control-label">Scanning Technique <span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(model => model.ScanTechnique, (string)ViewBag.ScanTech, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">Reference Block-1<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(model => model.SimulationBlock1, (string)ViewBag.SimulationBlock1, new { @class = "form-control", @disabled = "disabled" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">Reference Block-2<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.SimulationBlock2, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="control-label">Couplant Used<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(model => model.CouplantUsed, (string)ViewBag.CouplantUsed, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>

                                            @*<div class="col-md-4">
                                                    <label class="control-label">Scan Plan<span class="required"> * </span></label>
                                                    <div class="">
                                                        @Html.TextBoxFor(m => m.ScanPlan, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                    </div>
                                                </div>*@
                                            <div class="col-md-4">
                                                <label class="control-label">Scanning Sensitivity<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.ScanningSensitivity, (string)ViewBag.ScanningSensitivity, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <label class="control-label">Planner Remarks<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextAreaFor(m => m.PlannerRemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Return Remarks<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextAreaFor(m => m.ReturnRemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Scan Plan Sketch/Drawing</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                @Html.Partial("_AttachmentPartial")
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    A Scan UT Technique Details
                                </div>
                                <div class="tools" id="dvExportHistoryLines">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/NDE/MaintainScanUTTech/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYLINES.GetStringValue(), dvId = "#dvExportHistoryLines" })
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblSCANUTLines" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="all">Scan Direction</th>
                                            <th class="min-phone-l">Search Unit</th>
                                            <th class="min-phone-l">Reference Reflector</th>
                                            <th class="min-phone-l">Cable Type</th>
                                            <th class="min-phone-l">Cable Length</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="hidden">
                        @Html.HiddenFor(m => m.Id, new { @id = "txtHistoryHeaderId" })
                        @Html.HiddenFor(m => m.RevNo, new { @id = "txtRevNo" })
                    </div>
                    <hr />
                    <div class="col-md-12" style="text-align:right;">
                        <hr />
                        <a href="~/NDE/MaintainScanUTTech/AddHEader?HeaderID=@Model.HeaderId" style="float: right;" class="btn btnclose">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var table = $('#tblSCANUTLines');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/NDE/MaintainScanUTTech/LoadScanUTLineHistoryData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": $("#txtHistoryHeaderId").val() }
                //{
                //    "name": "RevNo", "value": $("#txtRevNo").val()
                //}
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHistoryLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHistoryLines").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [

                {
                    "sClass": "center",
                },
                {
                    "name": "SearchUnit",
                    "sClass": "center"
                },
                {
                    "name": "ReferenceReflector",
                    "sClass": "center"
                },
                {
                    "name": "CableType",
                    "sClass": "center"
                },
                {
                    "name": "CableLength",
                    "sClass": "center"
                },
            ]
        });
    });
    $("#btnAttach").attr("disabled", true);
    if ('@Model.HeaderId' > 0) {
        setAttachmentsInHeader("NDE010/@(Model.HeaderId)/R@(Model.RevNo)", true);
    }
</script>