﻿@using IEMQSImplementation
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<style>
    .select2-container--bootstrap .select2-selection__clear {
        margin-right: 2px !important;
    }

    .select2-search select2-search--inline {
        width: 100% !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmNcrPrintReport", @class = "form-horizontal" }))
        {
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            <label class="control-label">BU</label>
                        </div>
                        <div class="col-md-4">
                            <select name="txtBU" id="txtBU" data-field="bu" style="width:100%" multiple="multiple" class="form-control notrequired multiple"></select>
                            @*<input type="text" id="txtBU" class="form-control" style="width:100%" placeholder="Select BU" />*@
                            @Html.Hidden("hdnbu")
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            <label class="control-label">NCR Location</label>
                        </div>
                        <div class="col-md-4">
                            <select name="txtLoca" id="txtLoca" data-field="location" style="width:100%" multiple="multiple" class="form-control notrequired multiple"></select>
                            @*<input type="text" id="txtLoca" class="form-control" style="width:100%" placeholder="Select Location" />*@
                            @Html.Hidden("hdnlocation")
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            <label class="control-label">Project</label>
                        </div>
                        <div class="col-md-4">
                            <select name="txtProject" id="txtProject" data-field="project" style="width:100%" multiple="multiple" class="form-control multiple"></select>
                            @*<input type="text" id="txtProject" name="txtProject" class="form-control" style="width:100%" placeholder="Select Project" />*@
                            @Html.Hidden("hdnproject")
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            <label class="control-label ">NCR Category</label>
                        </div>
                        <div class="col-md-4">
                            <select name="txtCategory" id="txtCategory" data-field="category" style="width:100%" multiple="multiple" class="form-control notrequired multiple"></select>
                            @*<input type="text" id="txtCategory" class="form-control" style="width:100%" placeholder="Select NCR Category" />*@
                            @Html.Hidden("hdncategory")
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            <label class="control-label  ">Responsible Department</label>
                        </div>
                        <div class="col-md-4">
                            <select name="txtDept" id="txtDept" data-field="department" style="width:100%" multiple="multiple" class="form-control notrequired multiple"></select>
                            @*<input type="text" id="txtDept" class="form-control" style="width:100%" placeholder="Select Department" />*@
                            @Html.Hidden("hdndepartment")
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="form-group" id="dvPending">
                    <div class="col-md-12">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            <label class="control-label  ">State</label>
                        </div>
                        <div class="col-md-4">
                            <select name="txtStatus" id="txtStatus" data-field="status" style="width:100%" multiple="multiple" class="form-control notrequired multiple"></select>
                            @*<input type="text" id="txtStatus" class="form-control" style="width:100%" placeholder="Select State" />*@
                            @Html.Hidden("hdnstatus")
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            <label class="control-label  ">Initiator</label>
                        </div>
                        <div class="col-md-4">
                            <select name="txtInitiator" id="txtInitiator" data-field="initiator" style="width:100%" multiple="multiple" class="form-control notrequired multiple"></select>
                            @*<input type="text" id="txtInitiator" class="form-control" style="width:100%" placeholder="Select Initiator" />*@
                            @Html.Hidden("hdninitiator")
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            <label class="control-label ">From Originated Date</label>
                        </div>
                        <div class="col-md-4">
                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                @Html.TextBox("FromDate", "", "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                <span class="input-group-btn">
                                    <button class="btn default" id="btncal1" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            <label class="control-label">To Originated Date</label>
                        </div>
                        <div class="col-md-4">
                            <div id="datetime2" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                @Html.TextBox("ToDate", "", "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                <span class="input-group-btn">
                                    <button class="btn default" id="btncal1" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-4"></div>
                        <div class="col-md-4" style="text-align:center;margin-top:30px;">
                            <button class="btn green" type="button" id="btnPrint">Print</button>&nbsp;&nbsp;
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    function LoadProjectSelect2DropDown(url, objControl, placeHolder, condParam) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            allowClear: true,
            ajax: {
                url: WebsiteURL + url,
                type: "POST",
                dataType: 'json',
                data: function (params) {
                    var query = {
                        term: params.term,
                        page: params.page,
                        selectedVal: GetSelectedValue(objControl)
                    }
                    // Query paramters will be ?search=[term]&page=[page]
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    }

    function GetSelectedValue(objControl) {

        var ddlValues = objControl.val();
        var selectedId = "";
        if (ddlValues != "" && ddlValues != null && ddlValues != undefined) {
            selectedId = ddlValues.join(",");
        }

        return selectedId;
    }

    $(document).ready(function () {
        LoadProjectSelect2DropDown("/NCR/MaintainNCR/GetBUs", $('#txtBU'), "--Select BU--", '');
        LoadProjectSelect2DropDown("/NCR/MaintainNCR/GetLocations", $('#txtLoca'), "--Select Location--", '');
        LoadProjectSelect2DropDown("/NCR/MaintainNCR/GetProjects", $('#txtProject'), "--Select Project--", '');
        LoadProjectSelect2DropDown("/NCR/MaintainNCR/GetCategory", $('#txtCategory'), "--Select Category--", '');
        LoadProjectSelect2DropDown("/NCR/MaintainNCR/GetDepartments", $('#txtDept'), "--Select Department--", '');
        LoadProjectSelect2DropDown("/NCR/MaintainNCR/GetStatus", $('#txtStatus'), "--Select Status--", '');
        LoadProjectSelect2DropDown("/NCR/MaintainNCR/GetInitiator", $('#txtInitiator'), "--Select Initiator--", '');

        //LoadSelect2DropDown("/NCR/MaintainNCR/GetBUs", $('#txtBU'), "--Select BU--", '');
        //LoadSelect2DropDown("/NCR/MaintainNCR/GetLocations", $('#txtLoca'), "--Select Location--", '');
        //LoadSelect2DropDown("/NCR/MaintainNCR/GetProjects", $('#txtProject'), "--Select Project--", '');
        //LoadSelect2DropDown("/NCR/MaintainNCR/GetCategory", $('#txtCategory'), "--Select Category--", '');
        //LoadSelect2DropDown("/NCR/MaintainNCR/GetDepartments", $('#txtDept'), "--Select Department--", '');
        //LoadSelect2DropDown("/NCR/MaintainNCR/GetStatus", $('#txtStatus'), "--Select Status--", '');
        //LoadSelect2DropDown("/NCR/MaintainNCR/GetInitiator", $('#txtInitiator'), "--Select Initiator--", '');

        $("#frmNcrPrintReport").validate({
            rules: {
                txtProject: {
                    required: true
                }
            },
            messages: {
                txtProject: {
                    required: "Project is required."
                }
            }
        });

        $('#txtBU,#txtLoca,#txtProject,#txtCategory,#txtDept,#txtStatus,#txtInitiator').on('select2:select', function (e) {
            var hdElement = 'hdn' + $(this).attr('data-field');
            var fieldType = $(this).attr('data-field');
            var ddlValues = $(this).val();
            if ($(this).val() != null) {
                //GetAllData($(this), fieldType, $("#" + hdElement));

                if (ddlValues != "" && ddlValues != null && ddlValues != undefined) {
                    var selectedId = ddlValues.join(",");
                    $("#" + hdElement).val(selectedId);
                    var arrayContainsALL = (selectedId.indexOf("ALL") > -1);
                    if (arrayContainsALL == true) {
                        $("#" + hdElement).val('');
                        $(this).empty().trigger('change');
                        $(this).append("<option value='ALL'>ALL</option>");
                        $(this).val('ALL').trigger('change');
                        $("#" + hdElement).val('ALL');
                    }
                }

            }
            else {
                $("#" + hdElement).val('');
            }

        });

        $("#txtProject").change(function () {
            HighlightInValidateSelect2();
        });

        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        if ('@ViewBag.Status'.toLocaleLowerCase() == "Closed NCR".toLowerCase()) {
            $("#dvPending").hide();
        }
        $("#btnPrint").click(function () {
            if ($("#frmNcrPrintReport").valid()) {
                var BU = $("#hdnbu").val();
                var Location = $("#hdnlocation").val();
                var Project = $("#hdnproject").val();
                var Category = $("#hdncategory").val();
                var Dept = $("#hdndepartment").val();
                var State = "";
                if ('@ViewBag.Status'.toLocaleLowerCase() == "Closed NCR".toLowerCase()) {
                    State = 'Closed'
                } else {
                    State = $("#hdnstatus").val();
                }
                var Inititator = $("#hdninitiator").val();
                var FromDate = $("#FromDate").val();
                var ToDate = $("#ToDate").val();
                var tabName = '@ViewBag.Status';
                var url;
                if (tabName.toLocaleLowerCase() == "NCR Details Report".toLowerCase()) {
                    url = "/NCR/NCR Details Report";
                }
                else if (tabName.toLocaleLowerCase() == "Closed NCR".toLowerCase()) {
                    url = "/NCR/Closed NCR";
                }

                var dat = [];
                if (BU != "" && BU != "ALL") {
                    dat.push({ Param: "BU", Value: BU });
                }
                else {
                    dat.push({ Param: "BU", Value: "#" });
                }
                if (Location != "" && Location != "ALL") {
                    dat.push({ Param: "NCRLocation", Value: Location });
                }
                else {
                    dat.push({ Param: "NCRLocation", Value: "#" });
                }
                if (Category != "" && Category != "ALL") {
                    dat.push({ Param: "CategoryofNCR", Value: Category });
                }
                else {
                    dat.push({ Param: "CategoryofNCR", Value: "#" });
                }
                if (Dept != "" && Dept != "ALL") {
                    dat.push({ Param: "RespDept", Value: Dept });
                }
                else {
                    dat.push({ Param: "RespDept", Value: "#" });
                }
                if (Project != "" && Project != "ALL") {
                    dat.push({ Param: "Project", Value: Project });
                }
                else {
                    dat.push({ Param: "Project", Value: "#" });
                }
                if (State != "" && State != "ALL") {
                    dat.push({ Param: "State", Value: State });
                }
                else {
                    dat.push({ Param: "State", Value: "#" });
                }
                if (Inititator != "" && Inititator != "ALL") {
                    dat.push({ Param: "Initiator", Value: Inititator });
                }
                else {
                    dat.push({ Param: "Initiator", Value: "#" });
                }
                if (FromDate != "") {
                    var dtFromDate = FromDate.split("/");
                    var dateFromDate = dtFromDate[2].trim() + "/" + dtFromDate[1].trim() + "/" + dtFromDate[0].trim();

                    dat.push({ Param: "FromOriginatedDate", Value: dateFromDate });
                }
                else {
                    dat.push({ Param: "FromOriginatedDate", Value: "#" });
                }
                if (ToDate != "") {
                    var dtToDate = ToDate.split("/");
                    var datedtToDate = dtToDate[2].trim() + "/" + dtToDate[1].trim() + "/" + dtToDate[0].trim();

                    dat.push({ Param: "ToOriginatedDate", Value: datedtToDate });
                }
                else {
                    dat.push({ Param: "ToOriginatedDate", Value: "#" });
                }

                ShowReport(dat, url);
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });
    });

    function GetAllData(element, type, hdelement) {
        var project;
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/NCR/MaintainNCR/GetAllValue",
            datatype: 'html',
            async: false,
            data: {
                selectedValue: element.val().join(","),
                fieldType: type
            },
            success: function (data) {
                hdelement.val(data.Value);
                if (data.Key) {
                }
            },
            error: function () {
            }
        });
    }

</script>
