﻿@using IEMQSImplementation
@model PLN019

@Html.HiddenFor(model => model.HeaderId, new { @id = "txtLCHeader" })
<div class="form-group">
    <div class="col-md-12">
        <div class="col-md-12" style="text-align:right">
            <a onclick="ViewLockingCleat('@Model.HeaderId',0);" id="addnewLC" style="float: right;" class="btn green">Add New</a>
        </div>

    </div>
</div>
<br />
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Locking Cleat Details
        </div>
        <div class="tools" id="dvExportHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PLN/ApproveLockingCleat/GenerateExcel", GridType = clsImplementationEnum.GridType.lockingcleat.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblLockingCleatHeader" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input name="select_all" value="1" id="example-select-all" type="checkbox">
                            <span></span>
                        </label>
                    </th>
                    @*     <th class="all">Project</th>*@
                    <th class="min-phone-l">Locking Cleat Document No</th>
                    @*<th class="min-phone-l">Customer</th>*@
                    <th class="min-phone-l">Joint Type</th>
                    <th class="min-phone-l">Status</th>
                    <th class="min-phone-l">Remark</th>
                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="btnLCAction" class="form-group">
    <div class="col-md-12">
        <div class="col-md-12" style="text-align:left">
            <button class="btn green-dark" type="button" id="btnLCApprove" onclick="ApproveLC()" style="margin-right:5px;">Approve Locking Cleat</button>
            <button class="btn reject" type="button" id="btnLCReject" onclick="RejectLC()" style="margin-right:5px;">Reject Locking Cleat</button>
        </div>
    </div>
</div>
<hr />
<div id="divLoadingDetails">

</div>
<script>
    var IsDisplayMode = '@ViewBag.IsDisplayMode.ToString().ToLower()';
    if ('@Model.Status' != '@clsImplementationEnum.LockingCleatStatus.SendForApproval.GetStringValue()') {
        //dvCalculation();
        $('#addnewLC').hide();
        $('.select_all').hide();//('disabled', true);
    }
    function dvCalculation() {
        if ('@Model.Status' != '@clsImplementationEnum.LockingCleatStatus.SendForApproval.GetStringValue()') {
            $('div.dvdisabletable :input').attr('disabled', true);
        }
        $(".dvCalculation").show();
        $("#btnSendForApproval").show();
        $("#btnLockingCleat").hide();
        $("#btnSaveHeader").hide();
        var totalLoadpercleat_N = parseInt($("#Loadpercleat_N").val());
        var totalYeildStrength = 0.66 * $("#YieldStrength").val();
        var dimention_a = parseInt($("#Dimention_a").val());
        var dimention_b = parseInt($("#Dimention_b").val());
        var sqrLengthofweld = Math.pow($("#Lengthofweld").val(), 2);
        var thickness = parseInt($("#Thickness").val());
        var totalYeildStrength9 = 0.9 * $("#YieldStrength").val();
        var spnSafe = "Safe";
        var spnUnSafe = "Unsafe";
        var spnText;
        var throatthickness = parseInt($("#Throatthickness").val());

        ////section X-X
        $("#ReactionLoad").text(totalLoadpercleat_N);
        $("#TensileArea").text(parseInt(multiplication(dimention_a, thickness)));
        var totalDirecttensilestress = parseFloat(division($("#ReactionLoad").text(), ($("#TensileArea").text()))).toFixed(1);
        $("#Directtensilestress").text(totalDirecttensilestress);
        var totalAllowtensilestress = parseFloat(0.6 * $("#YieldStrength").val()).toFixed(1);
        $("#Allowtensilestress").text(totalAllowtensilestress);
        spanText(parseFloat(totalAllowtensilestress), parseFloat(totalDirecttensilestress), $("#spnSafe1"), $("#tdSafe1"));

        var totalDimentionA_B = parseFloat($("#Dimention_a").val()) + parseFloat($("#Dimention_b").val());
        var termForm1 = division($("#LoadwithFOS").val(), $("#NumberofCleats").val());
        var termForm2 = termForm1 * 10 * 1000;
        var bMoment = (Math.round(termForm2 * totalDimentionA_B));
        $("#XBendingmoment").text(parseInt(bMoment));
        $("#XSectionmodulus").text(Math.round((thickness * (dimention_a * dimention_a)) / 6));
        $("#XBendingstress").text(Math.round(($("#XBendingmoment").text()) / ($("#XSectionmodulus").text())));
        $("#XAllowbendingstress").text(parseFloat(0.66 * $("#YieldStrength").val()).toFixed(1));
        spanText(parseFloat($("#XAllowbendingstress").text()), parseFloat($("#XBendingstress").text()), $("#spnSafe2"), $("#tdSafe2"));
        var totalXEqvtensilestress = parseFloat($("#Directtensilestress").text()) + parseFloat($("#XBendingstress").text());
        $("#XEqvtensilestress").text(parseFloat(totalXEqvtensilestress).toFixed(1));
        $("#XAllowEqvtensilestress").text(parseFloat(totalYeildStrength9).toFixed(1));
        spanText(parseFloat($("#XAllowEqvtensilestress").text()), parseFloat($("#XEqvtensilestress").text()), $("#spnSafe3"), $("#tdSafe3"));

        ////section Y-Y
        $("#Sheararea").text(parseInt((thickness) * ($("#Dimention_d").val())));
        $("#Directshearstress").text(parseFloat(division(totalLoadpercleat_N, ($("#Sheararea").text()))).toFixed(1));
        $("#Allowshearstress").text(parseFloat(0.4 * $("#YieldStrength").val()).toFixed(1));
        spanText(parseFloat($("#Allowshearstress").text()), parseFloat($("#Directshearstress").text()), $("#spnSafe4"), $("#tdSafe4"));

        var sqrDimentionD = Math.pow($("#Dimention_d").val(), 2);
        $("#YBendingmoment").text(parseInt((totalLoadpercleat_N) * (parseFloat($("#Dimention_b").val()) + parseFloat(($("#Dimention_a").val() / 2)))));
        $("#YSectionmodulus").text(Math.round((thickness * sqrDimentionD) / 6));
        $("#YBendingstress").text(Math.round(parseFloat(($("#YBendingmoment").text()) / ($("#YSectionmodulus").text())).toFixed(1)));
        var allow = parseFloat(0.66 * $("#YieldStrength").val()).toFixed(1);
        $("#YAllowbendingstress").text(allow);
        spanText(parseFloat($("#YAllowbendingstress").text()), parseFloat($("#YBendingstress").text()), $("#spnSafe5"), $("#tdSafe5"));

        var term1 = ($("#YBendingstress").text() / 2);
        var term2 = parseInt(($("#YBendingstress").text() * $("#YBendingstress").text()));
        var term3 = parseInt(4 * ($("#Directshearstress").text() * $("#Directshearstress").text()));
        var sqrt = term2 + term3
        var totalYEqvtensilestress = (($("#YBendingstress").text() / 2) + 0.5 * Math.sqrt(sqrt));
        $("#YEqvtensilestress").text(parseFloat(totalYEqvtensilestress).toFixed(1));
        $("#YAllowEqvtensilestress").text(parseFloat(totalYeildStrength9).toFixed(1));
        spanText(parseFloat($("#YAllowEqvtensilestress").text()), parseFloat($("#YEqvtensilestress").text()), $("#spnSafe6"), $("#tdSafe6"));

        var totalYEqvtensilestress = (0.5 * Math.sqrt(($("#YBendingstress").text() * $("#YBendingstress").text()) + 4 * ($("#Directshearstress").text() * $("#Directshearstress").text())));  //($("#YBendingstress").text()/2)+0.5)*Math.sqrt(($("#YBendingstress").text() * $("#YBendingstress").text()) + 4* ($("#Directshearstress").text()*$("#Directshearstress").text()));
        $("#Eqvshearstress").text(parseFloat(totalYEqvtensilestress).toFixed(1));
        $("#AllowEqvshearstress").text(parseFloat(0.4 * $("#YieldStrength").val()).toFixed(1));
        spanText(parseFloat($("#AllowEqvshearstress").text()), parseFloat($("#Eqvshearstress").text()), $("#spnSafe7"), $("#tdSafe7"));

        ////section Z-Z
        $("#ZAreaofweld").text(parseFloat(parseFloat(0.707 * $("#SizeofWeld").val()).toFixed(3)) * parseInt($("#Lengthofweld").val()));
        $("#ZTensilestress").text(parseFloat(division((totalLoadpercleat_N), ($("#ZAreaofweld").text()))).toFixed(1));
        $("#ZAllowtensilestress").text(parseFloat(0.6 * $("#YieldStrength").val()).toFixed(1));
        spanText(parseFloat($("#ZAllowtensilestress").text()), parseFloat($("#ZTensilestress").text()), $("#spnSafe8"), $("#tdSafe8"));

        //var termForm1 = division($("#LoadwithFOS").val(), $("#NumberofCleats").val());
        //var termForm2 = termForm1 * 10 * 1000;
        //var bMoment = (Math.round(termForm2 * totalDimentionA_B));
        $("#ZBendingmoment").text(bMoment);
        $("#ZSectionmodulus").text(parseInt((parseFloat(0.707 * $("#SizeofWeld").val()).toFixed(3) * (sqrLengthofweld)) / 6));
        $("#ZBendingstress").text(parseFloat(($("#ZBendingmoment").text()) / ($("#ZSectionmodulus").text())).toFixed(1));
        $("#ZAllowbendingstress").text(parseFloat(totalYeildStrength).toFixed(1));
        spanText(parseFloat($("#ZAllowbendingstress").text()), parseFloat($("#ZBendingstress").text()), $("#spnSafe9"), $("#tdSafe9"));

        var totalZEqvtensilestress = (parseFloat($("#ZTensilestress").text()) + parseFloat($("#ZBendingstress").text()));
        $("#ZEqvtensilestress").text(parseFloat(totalZEqvtensilestress).toFixed(1));
        $("#ZAllowEqvtensilestress").text(parseFloat(totalYeildStrength9).toFixed(1));
        spanText(parseFloat($("#ZAllowEqvtensilestress").text()), parseFloat($("#ZEqvtensilestress").text()), $("#spnSafe10"), $("#tdSafe10"));

        var wc = parseFloat($("#Dimention_a").val()) + parseFloat($("#Dimention_b").val()) + parseFloat($("#Dimention_a").val());
        var wcform1 = wc;
        var wcform2 = parseFloat($("#Dimention_c").val()) + parseFloat($("#Dimention_d").val())

        var wcFormula1 = wcform1 * wcform2 * $("#Thickness").val();

        var wcform3 = parseFloat($("#Dimention_b").val()) * parseFloat($("#Dimention_c").val()) * parseFloat($("#Thickness").val());

        var wcFormula2 = wcFormula1 - parseFloat(wcform3).toFixed(4);

        var wcFormula3 = wcFormula2 * 7850;
        var wcForm4 = 100 * 100 * 100 * 100 * 10;
        var wcFormula4 = parseFloat(wcFormula3 / wcForm4).toFixed(1);

        $("#Singlecleat").text(wcFormula4);
        var caltotalCleat = parseFloat(multiplication($("#Singlecleat").text(), $("#NumberofCleats").val())).toFixed(1);
        $("#Totalcleat").text(caltotalCleat);
    }
    function addition(val1, val2) {
        return val1 + val2;
    }

    function multiplication(val1, val2) {
        return val1 * val2;
    }

    function division(val1, val2) {
        return val1 / val2;
    }

    function spanText(val1, val2, spnTextID, tdId) {

        var spnchangetext;
        if (val1 > val2) {
            spnchangetext = "Safe";
            tdId.css({ backgroundColor: "#90ee90" });
        }
        else {
            spnchangetext = "Unsafe";
            tdId.css({ backgroundColor: "#ffc0cb" });
        }

        return spnTextID.text(spnchangetext);
    }
    ///end

    $(document).ready(function () {
        if ('@Model.Status' != '@clsImplementationEnum.LockingCleatStatus.SendForApproval.GetStringValue()') {
            //dvCalculation();
            $('#addLockingCleat').show(); //('disabled', true);
        }
        else {
            $('#addLockingCleat').hide();
        }
        if (IsDisplayMode == "true") {
            $('#btnLCApprove').hide();
            $('#btnLCReject').hide();
            $('#addnewLC').hide();
        }
    });
    function ViewLockingCleat(headerID, lockinglineID) {

        $("#divLoadingDetails").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PLN/ApproveLockingCleat/LoadLoadingDetailsData",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerID: headerID, lineID: lockinglineID },
            success: function (result) {
                $("#divLoadingDetails").html(result);
            },
            error: function () {
            }
        });
    }

    function ApproveLC() {
        var headerid = parseInt($("#HeaderId").val());
        var table = 'PLN019';
        var action = 'Approve';
        var isapprover = true;
        if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
            isChange = false;
            return false;
        }
        bootbox.confirm({
            message: "Do you want to approve locking cleat details?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    var arrayLineIds = new Array();

                    $('input[class="clsCheckbox"]', $('#tblLockingCleatHeader')).each(function () {
                        if (this.checked) {
                            arrayLineIds.push(this.value);
                        }
                    });
                    if (arrayLineIds.length > 0) {
                        var strLineIds = arrayLineIds.join(",");
                        $.ajax({
                            type: "POST",
                            url: WebsiteURL + "/PLN/ApproveLockingCleat/ApproveLockingCleat",
                            datatype: 'json',
                            async: false,
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            data: { strLineIds: strLineIds },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    //$(".example-select-all").prop('checked', false);
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                                $("#example-select-all").prop('checked', false);
                                $('#tblLockingCleatHeader').DataTable().ajax.reload();

                            },
                            error: function () {
                            }
                        });
                    }
                    else {
                        DisplayNotiMessage("error", "Please select Locking Cleat details", "Error");
                    }
                }
            }
        });
    }

    function RejectLC() {
        var headerid = parseInt($("#HeaderId").val());
        var table = 'PLN019';
        var action = 'Return';
        var isapprover = true;
        if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
            isChange = false;
            return false;
        }
        bootbox.confirm({
            message: "Do you want to reject locking cleat details?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    var arrayLineIds = new Array();

                    $('input[class="clsCheckbox"]', $('#tblLockingCleatHeader')).each(function () {
                        if (this.checked) {
                            arrayLineIds.push(this.value);
                        }
                    });
                    if (arrayLineIds.length > 0) {
                        var strLineIds = arrayLineIds.join(",");
                        $.ajax({
                            type: "POST",
                            url: WebsiteURL + "/PLN/ApproveLockingCleat/RejectLockingCleat",
                            datatype: 'json',
                            async: false,
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            data: { strLineIds: strLineIds },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                                $("#example-select-all").prop('checked', false);
                                $('#tblLockingCleatHeader').DataTable().ajax.reload();

                            },
                            error: function () {
                            }
                        });
                    }
                    else {
                        DisplayNotiMessage("error", "Please select Locking Cleat details", "Error");
                    }
                }
            }
        });
    }

    $(document).ready(function () {

        $('#example-select-all').on('click', function () {
            var rows = oTable.api().rows({ 'search': 'applied' }).nodes();
            $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
        });

        $('#tblLockingCleatHeader tbody').on('change', 'input[class="clsCheckbox"]', function () {
            if (!this.checked) {
                var el = $('#example-select-all').get(0);

                if (el && el.checked && ('indeterminate' in el)) {

                    el.indeterminate = true;
                }
            }
        });

        var table = $('#tblLockingCleatHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PLN/ApproveLockingCleat/LoadLCLineData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Headerid", "value": $("#txtLCHeader").val() },
                { "name": "MTStatus", "value": '@Model.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        if ('@Model.Status.ToLower()' != '@clsImplementationEnum.NDETechniqueStatus.SentForApproval.GetStringValue().ToLower()' ||
                            $("#spnStatus").text().toLowerCase() != '@clsImplementationEnum.NDETechniqueStatus.SentForApproval.GetStringValue().ToLower()') {
                            $("#btnLCAction").hide();
                            //$("#btnLCReject").hide();
                        }
                        else if (data.iTotalRecords > 0) {
                            $("#btnLCAction").show();
                            //$("#btnLCReject").show();
                        }
                        else {
                            $("#btnLCAction").hide();
                            //$("#btnLCReject").hide();
                        }
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);

                    },
                    'async': false
                });
            },
            "columns": [
                 {
                     'targets': 0,
                     "bSortable": false,
                     "sClass": "center",
                     "sWidth": "3%",
                     "render": function (data, type, row, meta) {
                         if (row[3].trim() == "Sent for Approval" && '@Model.Status' != 'Returned') {
                             return '<center><label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label></center>';
                         }
                         else { return "" }
                     }
                 },
                {
                    // "bSortable": false,
                    "sClass": "center",
                    "name": "LCDocument"
                },
                 {
                     // "bSortable": false,
                     "sClass": "center"
                     , "name": "JointType"
                 },

                {
                    // "bSortable": false,
                    "sClass": "center", "name": "LineStatus"
                },
                {
                    // "bSortable": false,
                    "sClass": "center", "name": "ReturnRemark"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
            ]
        });
        table.dtSearchFilter();
    });

    function UpdateLCData(objColumn, rowID) {
        var headerid = parseInt($("#HeaderId").val());
        var table = 'PLN019';
        var action = 'CRUD';
        var isapprover = true;
        if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
            isChange = false;
            return false;
        }
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PLN/ApproveLockingCleat/UpdateLCData",
            datatype: 'json',
            async: false,
            data: { lineId: rowID, columnName: columnName, columnValue: columnValue },
            success: function (result) {
                if (result.Key) {
                    //DisplayNotiMessage("success", result.Value, "Success");
                    $('#tblLockingCleatHeader').DataTable().ajax.reload();
                }
            },
            error: function () {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            }
        });
    }
</script>
