﻿

@using IEMQSImplementation

<script>
    var Status = '@ViewBag.Status';
    $(document).ready(function () {
        urlSection1 = WebsiteURL + "/PLN/ApproveLockingCleat/LoadLockingCleatData";
        urlSection2 = WebsiteURL + "/PLN/ApproveLockingCleat/LoadTackWeldsData";
       
       // GetTab1(parseInt('@ViewBag.HeaderID'));
        $("#Section2").css({ backgroundColor: "#eef1f5", color: "#333" });
        $("#Section1").css({ backgroundColor: "#rgb(57, 133, 208)", color: "#fff" });

        $("#Section1").on("click", function () {
            $("#Section1").css({ backgroundColor: "#rgb(57, 133, 208)", color: "#fff" });
            $("#Section2").css({ backgroundColor: "#eef1f5", color: "#333" });
            GetTab1(parseInt('@ViewBag.HeaderID'));
        });
        $("#Section2").on("click", function () {
            $("#Section2").css({ backgroundColor: "#rgb(57, 133, 208)", color: "#fff" });
            $("#Section1").css({ backgroundColor: "#eef1f5", color: "#333" });
            GetTab2(parseInt('@ViewBag.HeaderID'));
        });
        $("#Section1").trigger("click");
    });

    function GetTab1(headerID) {
        $("#tab1").empty();
        $.ajax({
            type: "POST",
            url: urlSection1,
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerID: headerID },
            success: function (result) {
                $("#tab1").html(result);
            },
            error: function () {
            }
        });
    }

    function GetTab2(headerID) {

        $("#tab2").empty();
        $.ajax({
            type: "POST",
            url: urlSection2,
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerID: headerID },
            success: function (result) {
                $("#tab2").html(result);
            },
            error: function () {
            }
        });
    }

</script>

<div class="portlet-body">
    <form class="form-horizontal" action="#" id="submit_form" method="POST">
        @*<div class="form-wizard">
            <div class="form-body">*@
        <ul style="font-size: large;" class="nav nav-tabs">
            <li>
                <a id="Section1" href="#tab1" data-toggle="tab" class="step">
                    <span id="spnSec1" class="desc">
                        @*<i class="fa fa-check"></i>*@
                        <b>Locking Cleat</b>
                    </span>
                </a>
            </li>
            <li>
                <a id="Section2" href="#tab2" data-toggle="tab" class="step">
                    <span id="spnSec2" class="desc">
                        @*<i class="fa fa-check"></i>*@
                        <b>Tack Weld</b>
                    </span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
            </div>

            <div class="tab-pane" id="tab2">
            </div>
        </div>

        @*</div>*@
    </form>
</div>
