﻿@using IEMQSImplementation
@model ADD002
@{
    ViewBag.Title = "ADD Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script>
    $(document).ready(function () {
        GetIndexGridDataPartial("Pending");

        $('a[name="tabStatus"]').click(function () {

            GetIndexGridDataPartial($(this).attr('spara'));
        });
    });

    function GetIndexGridDataPartial(status) {

        $("#portlet_comments_1").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/ADD/AssignedTask/GetIndexGridDataPartial",
            datatype: 'html',
            data: { tab: status },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            //data: { status: status },
            success: function (result) {

                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                }
                if (status == "All") {
                    $("#portlet_comments_2").html(result);
                }
            },
            error: function () {
            }
        });
    }

</script>
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    @ViewBag.PageTitle @*Non Conformity Request*@
                                    <small></small>
                                </h1>
                            </div>
                            @*<div class="col-md-6" style="text-align:right">
                                    <a href="/NCR/MaintainNCR/AddHeader" style="float: right;" class="btn green">Add New</a>
                                </div>*@
                        </div>
                    </div>
                    <ul class="nav nav-tabs">

                        <li class="active">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">

                        <div class="tab-pane active" id="portlet_comments_1">
                        </div>
                        <div class="tab-pane" id="portlet_comments_2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .hideButton {
        display: none;
    }
</style>
<script>
    function showTaskDetails(Id, status) {
       
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/ADD/AssignedTask/GetTaskDetails",
            datatype: 'html',
            beforeSend: function () {
                bootbox.hideAll();
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { Id: Id },
            success: function (result) {
                bootbox.dialog({
                    title: 'Task Details',
                    message: result,
                    size: 'large',
                    buttons: {
                            cancel: {
                                label: 'Close',
                                className: 'btn btnclose'
                            }

                    }
                });
            },
            error: function () {
            }
        });
    }


    $("#txtPS").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: WebsiteURL + "/ADD/AssignedTask/GetAssigneeFromADD",
                dataType: "json",
                type: "POST",
                async: false,
                data: {
                    term: request.term,
                    LineId: $('#HeaderId').val()
                },
                success: function (data) {
                    debugger;
                    response($.map(data, function (item) {
                        return { label: item.name, value: item.name };
                    }));
                    if (data.length > 0) {
                        isSelected = true;
                    }
                    else {
                        isSelected = false;
                    }
                }
            });
        },
        minLength: 1,
        autoFocus: true,
        select: function (event, ui) {
            if (ui.item) {
                isSelected = true;
                var strProjectDesc = ui.item.value;
                var spltProjectDesc = strProjectDesc.split("-");
                var projectcode = spltProjectDesc[0].trim();

                $("#ddlAssignee").val(projectcode);

            }

        },
    });

    $("#btnViewDetails").click(function () {
        var win = window.open(WebsiteURL + '/NCR/MaintainNCR/AddHeader?headerID=' + $("#headerid").val() + '', '_blank');
        if (win) {
            win.focus();
        } else {
            alert('Please allow popups for this website');
        }
    });

</script>