﻿@using IEMQSImplementation

<style>
    .table-scrollable {
        width: 100%;
        overflow-x: auto !important;
        overflow-y: auto !important;
        margin: 10px 0 !important;
    }
</style>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmComponentDetails" }))
{
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                Add Componenet
            </div>
            <div class="tools">
                <div class="btn-group">
                    <a onclick="ShowNewComponentRecord(this);" id="btnNewComponent" name="btnNewComponent" class="btn btn-circle white btn-outline btn-sm" style="margin-left:10px;">New</a>
                </div>
            </div>
        </div>
        <div class="portlet-body">

            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblComponentDetails" cellspacing="0">
                <thead>
                    <tr>
                        <th class="all">#</th>
                        <th style="display:none;">LineId</th>
                        <th style="display:none;">PDHId</th>
                        <th class="all">Component</th>
                        <th class="all">Supplier Details</th>
                        <th class="all">Deviation Details</th>
                        <th class="all">Remarks</th>
                        <th class="all action">Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
}

<script>
    var ParentId = parseInt('@ViewBag.LineId');
    $(document).ready(function () {
               
        $("#frmComponentDetails").validate({
            rules: {
                SupplierDetails0: {
                    required: true
                },
                DeviationDetails0: {
                    required: true
                },
                Remarks0: {
                    required: true
                }
            },
            messages: {
                SupplierDetails0: {
                    required: "Supplier details is required."
                },
                DeviationDetails0: {
                    required: "Deviation details is required."
                },
                Remarks0: {
                    required: "Remarks is required."
                }
            }
        });

        var table = $('#tblComponentDetails');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PAM/PDH/AddComponentDetails",
            "fnServerParams": function (aoData) {

                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": $("#PDHId").val() },
                            { "name": "CTQLineHeaderId", "value": '@ViewBag.LineId' },
                            { "name": "Department", "value": '@ViewBag.ComponentName' }
                           );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        $(".txtStrWhere", "#dvExportLine").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLine").val(data.strSortOrder);
                        fnCallback(data);
                        if (sForApprove) {
                            $('.action').remove();
                            $("#btnNewComponent").remove();
                        }
                    },
                    'async': false
                });
                ComponentResetAddRow();
            },
            "columns": [
                  {
                      "sClass": "hide",
                  },
                  {
                      "sClass": "hide",
                  },
                  {
                      "sClass": "hide",
                  },
                  {
                      "sClass": "center",
                      "bSortable": false,
                  },
                  {
                      "sClass": "center",
                      "bSortable": false,
                  },
                  {
                      "sClass": "center",
                      "bSortable": false,
                  },
                  {
                      "sClass": "center",
                      "bSortable": false,
                  },
                  {
                      "sClass": "center action",
                      "bSortable": false,
                  },
            ],
        });
    });

    function ComponentResetAddRow() {
        $('#tblComponentDetails').find("tbody tr:first").hide();
        $('#tblComponentDetails').find("tbody tr:first").css("background-color", "#fbffb2");
        $("#btnNewComponent").text("New");
    }

    function ShowNewComponentRecord(obj) {
        var status = $('#spanStatus').text();
        if (status == 'Approved') {
            bootbox.confirm({
                message: "Do you want to revise this header?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success',
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        InsertNewComponentRecord(obj);
                        //GetPTMTCTQHeaderFormHTML(parseInt($("#txtHeaderId").val() @*'@Model.HeaderId'*@))
                    }
                }
            });
        }
        else {
            InsertNewComponentRecord(obj);
        }
    }

    function InsertNewComponentRecord(obj) {
        $('#tblComponentDetails').find("tbody tr:first").toggle();
        $('#tblComponentDetails').find("tbody tr:first select:first").focus();
        if ($('#tblComponentDetails').find("tbody tr:first").is(":visible")) {
            $(obj).text("Cancel");
            var delayedFn, blurredFrom;
            $('#tblComponentDetails').find("tbody tr:first").on('blur', 'a', function (event) {
                blurredFrom = event.delegateTarget;
                delayedFn = setTimeout(function () { SaveComponentLineRecord(0); }, 0);
            });
            $('#tblComponentDetails').find("tbody tr:first").on('focus', 'a', function (event) {
                if (blurredFrom === event.delegateTarget) {
                    clearTimeout(delayedFn);
                }
            });
        }
        else {
            $(obj).text("New");
        }
    }

    function SaveComponentLineRecord(LineId) {
        if ($("#frmComponentDetails").valid()) {
            var formData = new FormData();
            var frmValues = $('#frmComponentDetails').serializeArray();
            $.each(frmValues, function (key, input) {
                formData.append(input.name, input.value);
            });
            formData.append("ParentId", ParentId);
            $.ajax({
                url: WebsiteURL + '/PAM/PDH/SaveComponentDetails?LineId=' + LineId,
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        $("#tblComponentDetails").DataTable().ajax.reload();
                        $("#tblSupDevRemDetails").DataTable().ajax.reload();
                        DisplayNotiMessage("success", data.Value, "Success");
                        ComponentResetAddRow();
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
        else {
            HighlightInValidControls();
            return false;
        }
    }

    function DeleteComponentRecord(LineId) {
        $.ajax({
            url: WebsiteURL + '/PAM/PDH/DeleteComponenet?LineId=' + LineId,
            contentType: false,
            processData: false,
            type: 'POST',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#tblComponentDetails").DataTable().ajax.reload();
                    $("#tblSupDevRemDetails").DataTable().ajax.reload();
                    DisplayNotiMessage("success", data.Value, "Success");
                    ComponentResetAddRow();
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }
</script>
