﻿@using IEMQSImplementation
<script>

    var url = WebsiteURL + "/PAM/PDH/loadPDHDataTable?status=" + '@ViewBag.status' + "&ForApprove=" + '@ViewBag.ForApprove' + "&Project=" + $("#hdnchkProject").val();
    var table = $('#tblHeader');
    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": true,
        "bServerSide": true,
        "stateSave": false,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
            [5, 10, 25, 50, 100],
            [5, 10, 25, 50, 100]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        "sAjaxSource": url,
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" }
                        //{ "name": "status", "value": '@ViewBag.status' }
                        );
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': function (result) {
                    fnCallback(result);
                    $(".txtStrWhere", "#dvExportHeader").val(result.whereCondition);
                    $(".txtStrSort", "#dvExportHeader").val(result.strSortOrder);
                },
                'async': false
            });
        },
        "columns": [
            {
                "sClass": "hide",
            },
             {
                 "sClass": "hide",
             },
              {
                  "sClass": "center",
                  "bSortable": true,
                  "name": "ProposalDesign"
              },
              {
                  "sClass": "center",
                  "bSortable": true,
                  "name": "Status",
                  "ColName": "p9.Status"
              },
              {
                  "sClass": "center",
                  "bSortable": true,
                  "name": "ConDesc",
                  "ColName": "cont.t_cono +'-'+ cont.t_desc"
              },
              {
                  "sClass": "center",
                  "bSortable": true,
                  "name": "CustomerDesc",
                  "ColName": "cont.t_ofbp +'-' + cust.t_nama"
              },
              {
                  "sClass": "center",
                  "bSortable": true,
                  "name": "LOINo",
                  "attr":"hide"
              }
              ,
              {
                  "sClass": "center",
                  "bSortable": true,
                  "name": "LOIDate",
                  "attr": "hide"
              }
              ,
              {
                  "sClass": "center",
                  "bSortable": true,
                  "name": "CustomerOrderNo",
                  "attr": "hide"
              }
              ,
              {
                  "sClass": "center",
                  "bSortable": true,
                  "name": "CustomerOrderDate",
                  "attr": "hide"
              }
              ,
              {
                  "sClass": "center",
                  "bSortable": true,
                  "name": "CDD",
                  "attr": "hide"
              }
              ,
              {
                  "sClass": "center",
                  "bSortable": true,
                  "name": "ProposalDesignRev",
                  "attr": "hide"
              },
            {
                "sClass": "",
                "bSortable": false,
                "render": function (data, type, row, meta) {
                    var DssId = row[0];
                    var buttons = "";

                    var functionCall = "ViewPDH(" + DssId + ")";

                    buttons = "<center>" +
                        "<a href='javascript:void(0);' Title='View DSS' onclick=" + functionCall + "><i style='margin-left:5px;' class='fa fa-eye'></i></a>" +
                        "<a Title='View Timeline' href='javascript:void(0)' onclick=ShowTimeline('/PAM/PDH/ShowTimeline?HeaderID=" + parseInt(row[1]) + "');><i style='margin-left:5px;' class='fa fa-clock-o'></i></a>" +
                        "</center>";

                    return buttons;
                }
            }
        ]
    });
    table.dtSearchFilter();
    function ViewPDH(PDHId) {        

        if ($("#hdnchkProject").val() != null && $("#hdnchkProject").val() != "") {
            if ('@ViewBag.ForApprove' == "true") {
                window.location.href = WebsiteURL + "/PAM/PDH/ApproveDssDetails?id=" + PDHId + "&Project=" + $("#hdnchkProject").val();
                //window.location.href = "/PAM/PDH/AddPDH?PDHId=" + PDHId;
            }
            else {
                window.location.href = WebsiteURL + "/PAM/PDH/AddPDH?PDHId=" + PDHId + "&Project=" + $("#hdnchkProject").val();
            }
        }
        else {
            if ('@ViewBag.ForApprove' == "true") {
                window.location.href = WebsiteURL + "/PAM/PDH/ApproveDssDetails?id=" + PDHId;
                //window.location.href = "/PAM/PDH/AddPDH?PDHId=" + PDHId;
            }
            else {
                window.location.href = WebsiteURL + "/PAM/PDH/AddPDH?PDHId=" + PDHId;
            }
        }

        
    }

</script>


<div class="row">
    <div class="col-md-12">
        
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Proposal Design Handover Details
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PAM/PDH/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblHeader" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th style="display:none;">PDHId</th>
                            <th style="display:none;">HeaderId</th>
                            <th class="min-phone-l">Proposal Design</th>
                            <th class="min-phone-l">Status</th>
                            <th class="min-phone-l">Con Desc</th>
                            <th class="min-phone-l">Customer Desc</th>
                            <th class="none">LOI No</th>
                            <th class="none">LOI Date</th>
                            <th class="none">Customer Order No</th>
                            <th class="none">Customer Order Date</th>
                            <th class="none">CDD</th>
                            <th class="none">Proposal Design Rev</th>
                            <th class="min-phone-l" style="white-space:nowrap">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>