﻿@model IEMQS.Areas.Utility.Models.TimelineViewModel

<div class="form-group">
    <div class="mt-element-step">
        <div class="row step-line">

            @if (Model.Title == "CRS")
            {
                <div class="col-md-1"></div>
                <div class="col-md-2 mt-step-col first done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Created</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.CreatedBy</div><div class="mt-step-content font-grey-cascade">@Model.CreatedOn</div></div>
                if (Model.ReturnedByReviewer != null)
                {
                    <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.ReturnedByReviewer</div><div class="mt-step-content font-grey-cascade">@Model.ReturnedOnReviewer</div></div>
                }
                else
                {
                    <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div><div class="mt-step-number bg-white">2</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Returned By Reviewer</div><div class="mt-step-content font-grey-cascade">Reviewer Return Date</div></div>
                }
                if (Model.ReviewedBy != null)
                {
                    <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Reviewed</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.ReviewedBy</div><div class="mt-step-content font-grey-cascade">@Model.ReviewedOn</div></div>
                }
                else
                {
                    <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Reviewed</div><div class="mt-step-number bg-white">3</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Reviewed By</div><div class="mt-step-content font-grey-cascade">Reviewed Date</div></div>
                }
                if (Model.ReturnedByApprover != null)
                {
                    <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.ReturnedByApprover</div><div class="mt-step-content font-grey-cascade">@Model.ReturnedOnApprover</div></div>
                }
                else
                {
                    <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div><div class="mt-step-number bg-white">4</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Returned By Approver</div><div class="mt-step-content font-grey-cascade">Approver Return Date</div></div>
                }
                if (Model.ApprovedBy != null)
                {
                    <div class="col-md-2 mt-step-col last done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Approved</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.ApprovedBy</div><div class="mt-step-content font-grey-cascade">@Model.ApprovedOn</div></div>
                }
                else
                {
                    <div class="col-md-2 mt-step-col last"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Approved</div><div class="mt-step-number bg-white">5</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Approved By</div><div class="mt-step-content font-grey-cascade">Approved Date</div></div>
                }
                <div class="col-md-1"></div>
            }
            else if (Model.Title == "CIN")
            {
                <div class="col-md-1"></div>
                <div class="col-md-2 mt-step-col first done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Created</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.CreatedBy</div><div class="mt-step-content font-grey-cascade">@Model.CreatedOn</div></div>
                if (Model.ApprovedBy != null)
                {
                    <div class="col-md-2 mt-step-col last done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Issued</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.ApprovedBy</div><div class="mt-step-content font-grey-cascade">@Model.ApprovedOn</div></div>
                }
                else
                {
                    <div class="col-md-2 mt-step-col last"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Issued</div><div class="mt-step-number bg-white">2</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Issued By</div><div class="mt-step-content font-grey-cascade">Issued Date</div></div>
                }
                <div class="col-md-1"></div>
            }
        </div>
    </div>
</div>
