﻿@model IEMQS.Areas.Authorization.Models.MenuConfiguration
@{
    ViewBag.Title = "Template";
}

<script type="text/javascript">

    function checkValidation() {
        var content = tinyMCE.activeEditor.getContent()
        if (content == "") {
            DisplayNotiMessage("error", "Content Required", "Error");
            return ;
        }
        else {
            document.getElementById("form").submit();
        }
    }
</script>
<style>
    table.mceLayout, textarea.tinyMCE {
        width: 100% !important;
    }

    .note-desktop {
        display: none;
    }

    /* make the toolbar wrap */
    .mceToolbar td {
        display: table-row;
        float: left;
    }
</style>



<form id="TemplateBodyform" name="TemplateBodyform" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.HiddenFor(m => m.ATH002.Id, new { @id = "Id" })

    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <div id="divTemplate" style="margin-top:20px">
                    <div class="form-group" style="margin-top:20px">
                        <table style="width:100%">
                            <tr>
                                <td>
                                    @Html.Raw(Model.ContentBody)
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            
                        </table>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</form>

