﻿@model IEMQS.Areas.Utility.Controllers.FileUploadEnt
@{
    ViewBag.Title = "Index";
    string fileuploadInitial = "fileupload";
    string filelistholderInitial = "filelistholder";
    string btnUploadAllInitial = "btnUploadAll";
    string tblUploadInitial = "tblUpload";
    string spnDownloadAll = "spnDownloadAll";

    string fileuploadCssClass = "fileupload";
    string folderpathCssClass = "folderpath";
    string typeCssClass = "type";
    string actionurlCssClass = "actionurl";
    string chunksizeCssClass = "chunksize";
    string deleteactionCssClass = "deleteaction";
    string chunkintervalCssClass = "chunkinterval";
    string reloadafteruploadCssClass = "reloadupload";
    string isrequiredCssClass = "isrequired";
    string fileextensionCssClass = "fileextension";
    string maxfileuploadsizeinmb = "maxfileuploadsizeinmb";
    string downloadCssClass = "download";
    string orderbyCssClass = "orderby";
    string isfilesdisplayfromdefaulturlCssClass = "isfilesdisplayfromdefaulturl";
    string filesdisplayfromurlCssClass = "filesdisplayfromurl";
    string otherfolderpathCssClass = "otherfolderpath";
    string filecount = "totalfilecount";
    string removeonlycreatedbyme = "removeonlycreatedbyme";
    string hideattachbtnforsignleupload = "hideattachbtnforsignleupload";
    string ismultipleuploaded = "ismultipleuploaded";
}

@*<script src="~/Content/fuContent/jquery.fileupload.js"></script>
    <script src="~/Content/fuContent/jquery.iframe-transport.js"></script>*@
<div action="@Model.ActionURL" enctype="multipart/form-data" id="@(Model.ControlID)" class="@(Model.ControlID) formupload" style="padding-top:5px;">
    <input type="hidden" class="@(folderpathCssClass)" value="@(Model.FolderPath)" />
    <input type="hidden" class="@(typeCssClass)" value="@(Model.Type)" />
    <input type="hidden" class="@(actionurlCssClass)" value="@(Model.ActionURL)" />
    <input type="hidden" class="@(deleteactionCssClass)" value="@(Model.ShowDeleteAction.ToString())" />
    <input type="hidden" class="@(chunksizeCssClass)" value="@(Model.MaxChunkSizeInMB.ToString())" />
    <input type="hidden" class="@(chunkintervalCssClass)" value="@(Model.ChunkIntervalInSec.ToString())" />
    <input type="hidden" class="@(reloadafteruploadCssClass)" value="@(Model.ReloadAfterUpload.ToString())" />
    <input type="hidden" class="@(isrequiredCssClass)" value="@(Model.IsRequired.ToString())" />
    <input type="hidden" class="@(fileextensionCssClass)" value="@(Model.AllowFileExtension.ToString())" />
    <input type="hidden" class="@(maxfileuploadsizeinmb)" value="@(Model.MaxFileUploadSizeInMB.ToString())" />
    <input type="hidden" class="@(downloadCssClass)" value="@(Model.ShowDownloadBtn.ToString())" />
    <input type="hidden" class="@(orderbyCssClass)" value="@(Model.OrderBy.ToString())" />
    <input type="hidden" class="@(filesdisplayfromurlCssClass)" value="@(Model.FilesDisplayFromURL.ToString())" />
    <input type="hidden" class="@(isfilesdisplayfromdefaulturlCssClass)" value="@(Model.IsFilesDisplayFromDefaultURL.ToString())" />
    <input type="hidden" class="@(otherfolderpathCssClass)" value="@(Model.OtherFolderPath.ToString())" />
    <input type="hidden" class="@(removeonlycreatedbyme)" value="@(Model.RemoveOnlyCreatedByMe.ToString())" />
    <input type="hidden" class="@(hideattachbtnforsignleupload)" value="@(Model.HideAttachbtnForSignleUpload.ToString())" />
    <input type="hidden" class="@(ismultipleuploaded)" value="@(Model.IsMultipleUploaded.ToString())" />
    <input type="hidden" class="@(filecount)" value="0" />

    <div class="row fileupload-buttonbar">
        <div class="col-md-12">
            <div id="docMessage1" class="col-md-12 note note-success" style="display: block;">
                <b>File Upload - Important Notes :</b> <br />
                The file size must be greater than 0 KB. <br />
                A file name cannot contain any of the following characters: \ / : * ? " < > | # { } % ~ &<br />
                <u>Upload, It will take some processing time to it make it available, based on its size and no of files</u>.
            </div>
        </div>
        <div id="dvExtraDetails@(Model.ControlID)" class="col-md-12">
        </div>
        <div class="col-md-11">
            @if (Model.IsMultipleUploaded)
            {
                <input type="file" id="@(fileuploadInitial)@(Model.ControlID)" name="@(fileuploadInitial)@(Model.ControlID)" multiple="multiple" class="@(fileuploadCssClass)" onchange="fileupload_change@(Model.ControlID)(this);" style="display:none">
            }
            else
            {
                <input type="file" id="@(fileuploadInitial)@(Model.ControlID)" name="@(fileuploadInitial)@(Model.ControlID)" class="@(fileuploadCssClass)" onchange="fileupload_change@(Model.ControlID)(this);" style="display:none">
            }
            @if (Model.ShowAttachmentBtn)
            {
                <button type="button" class="btn blue" id="btnAttach@(Model.ControlID)" onclick="btnAttach_click(this)"><span class="fa fa-paperclip"></span><span style="margin-left:5px;" id="lblNew@(Model.ControlID)">Add New</span></button>
                <button id="@(btnUploadAllInitial)@(Model.ControlID)" class="btn btn-success" type="button" style="margin-left:10px;">
                    Upload All
                </button>
            }
        </div>
        <div class="col-sm-12 col-md-1">
            @if (Model.ShowDownloadBtn)
            {
                <span id="@(spnDownloadAll)@(Model.ControlID)" style="cursor:pointer;font-size:25px;color:#217ebd;margin-top:13px;" title="Download All" class="download fa fa-download" onclick="DownloadAllDocuments(this,'@Model.FolderPath','@Model.Type')"></span>
            }
        </div>
        <div class="clearfix">
        </div>
        <div class="col-md-12" style="margin-top:10px;">
            <div class="well hide" id="@(filelistholderInitial)@(Model.ControlID)" style="max-height:350px;overflow:auto;">
            </div>
            <div class="clearfix">
            </div>
        </div>
        <div class="col-md-12">
            <div id="dvLoading@(Model.ControlID)" style="display:none;display:block;font-size: 18px;font-weight: bold;text-align:center">Loading.....   </div>
            <div style="max-height:350px;overflow:auto;">
                <table id="@(tblUploadInitial)@(Model.ControlID)" class="table tbldocuments">
                    <thead style="display:none">
                        <tr>
                            <th style="text-align:center">#</th>
                            <th>File Name</th>
                            <th>Comments</th>
                            @if (Model.ShowDeleteAction || Model.ShowDownloadBtn)
                            {
                                <th style="text-align:center;">Action</th>
                            }
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#@(spnDownloadAll)@(Model.ControlID)').hide();
        GetAttachmentDetails('@Model.ControlID');
        DisabledControls@(Model.ControlID)();
    });

    function DisabledControls@(Model.ControlID)(){
        if("@(Model.IsDisabled.ToString().ToLower())"=="true"){
            $('#@(Model.ControlID)').find("button,input,select").prop("disabled","disabled");
            $('#@(Model.ControlID)').find(".filedelete").removeAttr("onclick").addClass("disabledicon");
            $('#@(Model.ControlID)').find(".@(downloadCssClass)").removeAttr("onclick").addClass("disabledicon");
        }
    }

    $(document).ready(function () {
        setTimeout(function () {
            if ($("." + '@(Model.ControlID)').length > 1) {
                //console.log('@(Model.ControlID)' + " control multiple time define. Attachment not work properyly.");
                DisplayNotiMessage("warning", '@(Model.ControlID)' + " control multiple time define. Attachment not work properyly.", "Warning");
            }
        }, 1000);
    });

    function btnAttach_click(btnAttach) {
        var controlid = GetControlId(btnAttach);
        if($(".@(ismultipleuploaded)", $("#" + controlid)).val().toLowerCase()=="false" &&
           $(".@(filecount)", $("#" + controlid)).val()>0){
            DisplayNotiMessage("info", "Please First Remove Uploaded Files To Upload New File!", "Information");
            return;
        }
        $(".@(fileuploadInitial)", $("#" + controlid)).trigger('click');
    }

    function UploadFileAttachment(id) {
        $("#@(btnUploadAllInitial)" + id).click();
    }

    function ReloadFileUpload(controlid){
        var $divfilelistholder = $("#@(filelistholderInitial)"+controlid);
        $divfilelistholder.html("");
        if ($divfilelistholder.find(".filedetail").length === 0) {
            $divfilelistholder.addClass('hide');
        }
        GetAttachmentDetails(controlid);
    }

    function GetAttachmentDetails(controlid) {
        debugger;
        $('#@(tblUploadInitial)' + controlid).find('thead').hide();
        $('#@(tblUploadInitial)' + controlid).find('tbody').html('');
        var folderPath=$(".@(folderpathCssClass)", $("#" + controlid)).val();
        var orderby = $(".@(orderbyCssClass)", $("#"+controlid)).val();
        var filesdisplayfromurl = $(".@(filesdisplayfromurlCssClass)", $("#"+controlid)).val();
        var isfilesdisplayfromdefaulturl = $(".@(isfilesdisplayfromdefaulturlCssClass)", $("#"+controlid)).val();

        if(folderPath!=undefined && folderPath!=""){
            $.ajax({
                url: WebsiteURL + filesdisplayfromurl,
                method: "POST",
                beforeSend: function () {
                    $("#dvLoading"+controlid).css("display","block");
                },
                complete: function () {
                    $("#dvLoading"+controlid).css("display","none");
                },
                data: {
                    folderPath: folderPath,
                    Type: $(".@(typeCssClass)", $("#" + controlid)).val(),
                    orderby: orderby
                },
                success: function (data) {
                    if (data != null && data.length > 0) {
                        $('#@(tblUploadInitial)' + controlid).find('tbody').html('');
                        var path = $(".@(folderpathCssClass)", $("#" + controlid)).val();
                        var newtr = "";
                        //console.log(data)
                        for (var i = 0; i < data.length; i++) {
                            newtr += "<tr data-name='"+data[i].Name+"' data-fp='"+data[i].FolderPath+"'>";
                            newtr +="<td style='width:5%;text-align:center;'>"+(i+1)+"</td>";
                            if(data[i].onFTP){
                                newtr += "<td style='width:35%'><a href=\""+data[i].URL+"\" target=\"_blank\">" + data[i].Name + "</a></td>";
                            }
                            else{
                                newtr += "<td style='width:35%'><a href=\"javascript:void(0)\" onclick=\"DownloadAttachment(this,'" + data[i].Name + "','" + data[i].FolderPath + "')\">" + data[i].Name + "</a></td>";
                            }

                            newtr += "<td style='width:50%'><input readonly placeholder=\"Comments\"  class=\"form-control comment\" maxlength=\"100\" value=\""+ data[i].Comments +"\" type=\"text\"></td>";
                            if($(".@(deleteactionCssClass)", $("#" + controlid)).val().toLowerCase() == "true" ||
                                $(".@(downloadCssClass)", $("#" + controlid)).val().toLowerCase() == "true"){
                                newtr += "<td style=\"text-align:center;width:10%;\"><div style=\"margin-top:7px;\">";
                                if ($(".@(deleteactionCssClass)", $("#" + controlid)).val().toLowerCase() == "true") {
                                    newtr +="<span style=\"cursor:pointer\" title=\"Delete\" class=\"delete fa fa-trash-o filedelete\" data-uploader='"+data[i].Uploader+"' onclick=\"RemoveAttachment(this,"+$(".@(removeonlycreatedbyme)", $("#" + controlid)).val().toLowerCase()+")\"></span>";
                                }
                                if ($(".@(downloadCssClass)", $("#" + controlid)).val().toLowerCase() == "true") {
                                    newtr +="<span style=\"cursor:pointer\" title=\"Download\" class=\"download fa fa-download\" onclick=\"DownloadAttachment(this,'" + data[i].Name + "','" + data[i].FolderPath + "')\"></span>";
                                }
                                newtr += "</div></td>";
                            }
                            newtr += "</tr>";
                        }
                        $(".@(filecount)", $("#" + controlid)).val(data.length);
                        if (newtr.length > 0) {
                            $('#@(tblUploadInitial)' + controlid).find('tbody').html(newtr);
                            //$('#@(tblUploadInitial)' + controlid).find('thead').css({ "display": "inline-block" });
                            $('#@(tblUploadInitial)' + controlid).find('thead').show();
                        }

                        $('#@(spnDownloadAll)' + controlid).show();

                        if($(".@(ismultipleuploaded)", $("#" + controlid)).val().toLowerCase()=="false" &&
                            $(".@(hideattachbtnforsignleupload)", $("#" + controlid)).val().toLowerCase()=="true"){
                            $('#btnAttach'+controlid).hide();
                            $('#@(btnUploadAllInitial)'+controlid).hide();
                        }

                        try {
                            if (documentloadcallbackFunctionName@(Model.ControlID) != "") {
                                @(Model.DocumentLoadCallbackFunction)
                            }
                        } catch (e) {
                            console.log("Document Load success call back function not define."+e);
                        }
                    }
                    else{
                        $('#@(spnDownloadAll)' + controlid).hide();
                        $(".@(filecount)", $("#" + controlid)).val("0");
                        if($(".@(ismultipleuploaded)", $("#" + controlid)).val().toLowerCase()=="false" &&
                            $(".@(hideattachbtnforsignleupload)", $("#" + controlid)).val().toLowerCase()=="true"){
                            $('#btnAttach'+controlid).show();
                            $('#@(btnUploadAllInitial)'+controlid).show();
                        }
                    }
                    DisabledControls@(Model.ControlID)();
                }
            });
        }
        else {
            $("#dvLoading"+controlid).css("display","none");
            DisabledControls@(Model.ControlID)();
        }
    }

    function GetControlId(id) {
        $frm = $(id).closest(".formupload");
        return $frm.attr("id");
    }

    function DownloadAttachment(filename, fileName,path) {
        $this = $(filename);
        $frm = $(filename).closest(".formupload");
        var controlid = $frm.attr("id");
        //var path = $(".@(folderpathCssClass)", $("#" + controlid)).val();
        var type = $(".@(typeCssClass)", $("#" + controlid)).val();
        $('' +
            '<form action="'+ WebsiteURL + '/Utility/FileUpload/DownloadSharePointFile" method="POST">' +
                '<input name="fileName" value="' + fileName + '" />' +
                '<input name="folderpath" value="' + path + '" />' +
                '<input name="Type" value="' + type + '" />' +
            '</form>' +
        '').appendTo('body').submit().remove();
    }

    function RemoveAttachment(ctrl,removeonlycreatedbyme) {
        if(removeonlycreatedbyme=="true"){
            var uploader=$(ctrl).attr("data-uploader");
            if(uploader!='@(Model.Uploader.ToString())'){
                bootbox.alert("You Can Not Delete This File.");
                return;
            }
        }
        deletebox=bootbox.dialog({
            title: "Delete Confirmation",
            message: "Do you want to remove file?",
            size: "medium",
            buttons: {
                Yes: {
                    label: 'Yes',
                    className: 'btn btn-primary',
                    callback: function () {

                        $(ctrl).closest('tr').addClass("removefile");
                        var controlid = GetControlId(ctrl);
                        var $tbl=$('#@(tblUploadInitial)'+controlid);
                        var $removefile=$tbl.find(".removefile");
                        var RemovedFiles=[];
                        $removefile.each(function(){
                            RemovedFiles.push($(this).data("name"));
                        });
                        //console.log(RemovedFiles);
                        if(RemovedFiles.length>0){
                            var folderPath = $(".@(folderpathCssClass)", $("#" + controlid)).val();
                            var type = $(".type", $("#" + controlid)).val();
                            $.ajax({
                                url: WebsiteURL + '/Utility/FileUpload/RemoveDeletedFile',
                                data: {toDelete: RemovedFiles,folderPath:folderPath,Type:type,removeonlycreatedbyme:removeonlycreatedbyme},
                                type: 'POST',
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                success: function (data) {
                                    if (data.Key) {
                                        @*if ($(ctrl).closest("tbody").find("tr").not(".removefile").length == 0) {
                                            $('#@(tblUploadInitial)' + controlid).find('thead').hide();
                                        }
                                        GetAttachmentDetails(controlid)*@
                                        if (IsCallDeleteSuccessCallbackFunc@(Model.ControlID) && deletecallbackFunctionName@(Model.ControlID) != "") {
                                            @(Model.DeleteSuccessCallbackFunction)
                                        }
                                    }
                                    else {
                                        DisplayNotiMessage("error", data.Value, "Error");
                                    }
                                    ReloadFileUpload(controlid);
                                }
                            });
                        }
                        else{
                            var reloadupload = $(".@(reloadafteruploadCssClass)", $("#" + controlid)).val();
                            if(reloadupload.toLowerCase()=="true"){
                                ReloadFileUpload(controlid);
                            }
                        }
                    }
                },
                No: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }
            }
        });
        var prevzindex=deletebox.prev('.modal-backdrop.fade.in').css("z-index");

        deletebox.css({"z-index":prevzindex+3});
        deletebox.next('.modal-backdrop.fade.in').css({"z-index":prevzindex+2});
    }


    $('#@(btnUploadAllInitial)@(Model.ControlID)').click(function () {
        debugger;
        //UploadFile@(Model.ControlID)(this);
        UplodedFileName@(Model.ControlID)="";
        var folderPath=$(".@(folderpathCssClass)", $("#" + '@(Model.ControlID)')).val();
        if (folderPath == undefined || folderPath == null || folderPath == "") {
            DisplayNotiMessage("Error", "Upload path not define", "File Upload");
            return;
        }
        UploadAllCreatedChunks@(Model.ControlID)();
    });
    var UplodedFileName@(Model.ControlID) = "";
    var allchunks@(Model.ControlID) = [];
    var processedCnt@(Model.ControlID)=0;
    var CheckFileUploadCnt@(Model.ControlID)=0;
    var IsCallSuccessCallbackFunc@(Model.ControlID)=false;
    var IsCallDocumentLoadSuccessCallbackFunc@(Model.ControlID)=false;
    var IsCallDeleteSuccessCallbackFunc@(Model.ControlID)=true;

    var callbackFunctionName@(Model.ControlID)='@(Model.SuccessCallbackFunction)';
    var deletecallbackFunctionName@(Model.ControlID)='@(Model.DeleteSuccessCallbackFunction)';
    var documentloadcallbackFunctionName@(Model.ControlID)='@(Model.DocumentLoadCallbackFunction)';
    //function UploadFileChunk(Chunk, FileName, PartCount, TotalParts, action, folderpath, chunkname, controlid) {
    function UploadFileChunk@(Model.ControlID)(filechunks, chunkname, PartCount, TotalParts) {
        try {
            debugger;
            var FD = new FormData();
            FD.append('file', filechunks.chunk, chunkname);
            FD.append('folderpath', filechunks.folderpath);
            FD.append('comments', filechunks.comment);
            FD.append('onFTP', filechunks.onftp);
            FD.append('Type', $(".@(typeCssClass)", $("#" + '@(Model.ControlID)')).val());

            $.ajax({
                type: "POST",
                url: filechunks.action,
                contentType: false,
                processData: false,
                data: FD,
                success: function (data) {
                    try {
                        controlid=filechunks.controlid;
                        folderpath=filechunks.folderpath;
                        processedCnt@(Model.ControlID)=processedCnt@(Model.ControlID)+1;
                        var $currentfile = $("[data-name='" + filechunks.filename + "']", $("#" + filechunks.controlid));
                        var $progressbar = $currentfile.find(".bar");
                        var $progressstatus = $currentfile.find(".progressstatus");
                        var progress = ((processedCnt@(Model.ControlID)) / ((parseInt)(filechunks.totalParts))) * 100;
                        $progressbar.css({ "width": progress + "%" });
                        $progressstatus.html(((parseInt)(progress)) + "% Completed");
                        if(((parseInt)(progress))==100){
                            processedCnt@(Model.ControlID)=0;
                            if(UplodedFileName@(Model.ControlID).length==0){
                                UplodedFileName@(Model.ControlID)=filechunks.filename
                            }
                            else{
                                UplodedFileName@(Model.ControlID)+="<br/>"+filechunks.filename;
                            }
                        }
                        if (PartCount == (TotalParts - 1)) {
                            showLoading(false);
                            var msg=UplodedFileName@(Model.ControlID)+" is uploaded successfully!<br/>"
                            msg+="To make it available, It will take some processing time, based on its size. "
                            DisplayNotiMessage("success", msg, "File Upload");
                            CheckAllFilesUploadSuccess@(Model.ControlID)(folderpath);
                            //RemoveDeletedFile@(Model.ControlID)();

                            //alert("Completed");
                        }
                    } catch (e) {
                        console.log("UploadFileChunk success Error : "+e);
                    }

                },
                error: function (request, status, error) {
                    showLoading(false);
                    console.log("UploadFileChunk ajax Request Error : "+request.responseText);
                }
            });
        } catch (e) {
            console.log("UploadFileChunk : "+e);
        }

    }

    function CheckAllFilesUploadSuccess@(Model.ControlID)(folderPath){
        var $tblUploadInitial=$('#@(tblUploadInitial)@(Model.ControlID)>tbody>tr').not('.removefile');
        var $divfilelistholder= $("#@(filelistholderInitial)@(Model.ControlID)").find(".filedetail");
        var OtherFolderPath=$(".@(otherfolderpathCssClass)", $("#" + '@(Model.ControlID)')).val();
        var Files=[];

        $tblUploadInitial.each(function(){
            $this=$(this);
            Files.push($this.attr("data-name"));
        });

        $divfilelistholder.each(function(){
            $this=$(this);
            Files.push($this.attr("data-name"));
        });

        $.ajax({
            url: WebsiteURL + '/Utility/FileUpload/CheckAllFileUploadSuccessfully',
            data: {FolderPath: folderPath,FileNames:Files,Type:'@(Model.Type)',OtherFolderPath:OtherFolderPath},
            type: 'POST',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    //console.log(Files);
                    RemoveDeletedFile@(Model.ControlID)();
                }
                else{
                    if(CheckFileUploadCnt@(Model.ControlID)<15){
                        showLoading(true);
                        window.setTimeout(function(){
                            showLoading(false);
                            CheckFileUploadCnt@(Model.ControlID)=CheckFileUploadCnt@(Model.ControlID)+1
                            CheckAllFilesUploadSuccess@(Model.ControlID)(folderPath);
                        },10000);
                    }
                    else{
                        console.log("Files upload successfully But all files not physically created till 150 sec.");
                        RemoveDeletedFile@(Model.ControlID)();
                    }
                }
            }
        });

    }

    function RemoveDeletedFile@(Model.ControlID)(){
        var $tbl=$('#@(tblUploadInitial)@(Model.ControlID)');
        var $removefile=$tbl.find(".removefile");
        var RemovedFiles=[];
        $removefile.each(function(){
            RemovedFiles.push($(this).data("name"));
        });
        //console.log(RemovedFiles);
        if(RemovedFiles.length>0){
            var folderPath = $(".@(folderpathCssClass)", $("#@(Model.ControlID)")).val();
            var type = $(".type", $("#@(Model.ControlID)")).val();
            $.ajax({
                url: WebsiteURL + '/Utility/FileUpload/RemoveDeletedFile',
                data: {toDelete: RemovedFiles,folderPath:folderPath,Type:type},
                type: 'POST',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {

                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
        var reloadupload = $(".@(reloadafteruploadCssClass)", $("#@(Model.ControlID)")).val();
        if(reloadupload.toLowerCase()=="true"){
            ReloadFileUpload('@(Model.ControlID)');
        }

        try {
            if (IsCallSuccessCallbackFunc@(Model.ControlID) && callbackFunctionName@(Model.ControlID) != "") {
                @(Model.SuccessCallbackFunction)
            }
        } catch (e) {
            console.log("Success call back function not define."+e);
        }
        IsCallSuccessCallbackFunc@(Model.ControlID)=false;
    }

    function CreateChunks@(Model.ControlID)(controlid) {
        var TargetFile = $(".@(fileuploadCssClass)", $("#" + controlid))[0].files;
        var URL = $(".@(actionurlCssClass)", $("#" + controlid)).val();
        var folderPath = $(".@(folderpathCssClass)", $("#" + controlid)).val();
        var chunksize = $(".@(chunksizeCssClass)", $("#" + controlid)).val();
        for (var i = 0; i < TargetFile.length; i++) {

            // create array to store the buffer chunks
            var FileChunk = [];
            // the file object itself that we will work with
            var file = TargetFile[i];
            // set up other initial vars
            var MaxFileSizeMB = chunksize;
            var BufferChunkSize = MaxFileSizeMB * (1024 * 1024);
            var ReadBuffer_Size = 1024;
            var FileStreamPos = 0;
            // set the initial chunk length
            var EndPos = BufferChunkSize;
            var Size = file.size;

            // add to the FileChunk array until we get to the end of the file
            while (FileStreamPos < Size) {
                // "slice" the file from the starting position/offset, to  the required length
                FileChunk.push(file.slice(FileStreamPos, EndPos));
                FileStreamPos = EndPos; // jump by the amount read
                EndPos = FileStreamPos + BufferChunkSize; // set next chunk length
            }
            // get total number of "files" we will be sending
            var TotalParts = FileChunk.length;
            var $currentfile = $("[data-name='" + file.name + "']", $("#" + controlid));
            var comment=$currentfile.find(".comment").val();
            for (var j = 0; j < FileChunk.length; j++) {
                var objchunk = {};
                objchunk.chunk = FileChunk[j];
                objchunk.filename = file.name;
                objchunk.totalParts = TotalParts;
                objchunk.chunkindex = j;
                objchunk.action =WebsiteURL+ URL;
                objchunk.folderpath = folderPath;
                objchunk.controlid = controlid;
                objchunk.comment = comment;
                if((Size/(1024*1024))>100){
                    objchunk.onftp=true;
                }
                else{
                    objchunk.onftp=false;
                }
                allchunks@(Model.ControlID).push(objchunk);
            }
        }
        $(".fileupload", $("#" + controlid)).val(null)
        return allchunks@(Model.ControlID);
    }

    function UpdateFolderPathAndSave@(Model.ControlID)(newfolderpath){
        if (newfolderpath == undefined || newfolderpath == null || newfolderpath == "") {
            DisplayNotiMessage("Error", "Upload path not define", "File Upload");
            return;
        }
        var folderpath = $(".@(folderpathCssClass)", $("#@(Model.ControlID)"));
        folderpath.val(newfolderpath);
        if(allchunks@(Model.ControlID).length>0){
            for (var i = 0; i < allchunks@(Model.ControlID).length; i++) {
                allchunks@(Model.ControlID)[i].folderpath=newfolderpath;
            }
        }
        IsCallSuccessCallbackFunc@(Model.ControlID)=true;
        $('#@(btnUploadAllInitial)@(Model.ControlID)').click();
    }

    function UploadAllCreatedChunks@(Model.ControlID)() {
        // store the interval id to clear in future
        $("#@(Model.ControlID)").removeClass("error");
        var $divfilelistholder = $("#@(filelistholderInitial)@(Model.ControlID)");

        if("@(Model.IsRequired.ToString().ToLower())"=="true"){
            var $tblrowlength=$('#@(tblUploadInitial)@(Model.ControlID)>tbody>tr').not('.removefile');
            if($divfilelistholder.find(".filedetail").length === 0 &&
                $tblrowlength.length==0){
                $("#@(Model.ControlID)").addClass("error");
                DisplayNotiMessage("info", "Attachment Is Required!", "Information");
                return false;
            }
        }
        if ($divfilelistholder.find(".filedetail").length === 0) {
            RemoveDeletedFile@(Model.ControlID)();
        }
        else{
            var i = 0;
            showLoading(true);
            var intr@(Model.ControlID) = setInterval(function () {
                try {
                    var filechunks = allchunks@(Model.ControlID)[i];
                    var FilePartName = filechunks.filename + ".part_" + filechunks.chunkindex + "." + filechunks.totalParts;
                    UploadFileChunk@(Model.ControlID)(filechunks, FilePartName, i, allchunks@(Model.ControlID).length);
                    if (++i == allchunks@(Model.ControlID).length) {
                        allchunks@(Model.ControlID) = [];
                        clearInterval(intr@(Model.ControlID));
                    }
                } catch (e) {
                    console.log("UploadAllCreatedChunks Error : "+e);
                }
            }, @(Model.ChunkIntervalInSec) * 1000)
        }
    }

    function fileupload_change@(Model.ControlID)(fileuploadid) {
        
        var $fileupload = $(fileuploadid);
        var files = $fileupload[0].files;
        var strselectedfailes = "";
        var controlid = GetControlId(fileuploadid);
        var $divfilelistholder = $("#@(filelistholderInitial)" + controlid);
        var $tblUpload = $("#@(tblUploadInitial)" + controlid);
        var inValidFileCnt=0;
        var validFileCnt=0;
        var ExistFileCnt=0;
        var fileextension=$(".@(fileextensionCssClass)", $("#" + controlid)).val();
        var maxfileuploadsize=$(".@(maxfileuploadsizeinmb)", $("#" + controlid)).val();
        var isFileValid=false;
        var isFileExist=false;
        var FileExistName="";
        var $divfilelistholderfiles=$("[data-name]",$divfilelistholder);
        var $tblUploadfiles=$("[data-name]",$tblUpload);
        var img;
        var IsContainsSpecialCharacterCntOrZeroKB=0;

        for (var i = 0; i < files.length; i++) {
            isFileValid=false;
            isFileExist=false;
            if(maxfileuploadsize!="" && maxfileuploadsize>0){
                if(files[i].size>(maxfileuploadsize*1024*1024)){
                    inValidFileCnt++;
                    isFileValid=false;
                }
                else{
                    isFileValid=true;
                }
            }
            else{
                isFileValid=true;
            }

            var selectedFileName=files[i].name;
            $divfilelistholderfiles.each(function(){
                $this=$(this);
                var fname=$this.data("name");
                if(fname.toLowerCase()==selectedFileName.toLowerCase()){
                    isFileExist=true;
                    FileExistName+=files[i].name+",";
                    return false;
                }
            });
            if(!isFileExist){
                $tblUploadfiles.each(function(){
                    $this=$(this);
                    var fname=$this.data("name");
                    if(fname.toLowerCase()==selectedFileName.toLowerCase()){
                        isFileExist=true;
                        FileExistName+=files[i].name+",";
                        return false;
                    }
                });
            }
            if(isFileExist){
                continue;
            }

            if(isFileValid && !isFileExist){
                if(CheckFileExtension(files[i].name,fileextension)){
                    strselectedfailes += "<div style='margin-top:10px;' data-name='" + files[i].name + "' class='filedetail'>" + files[i].name;
                    strselectedfailes += "<span class='progressstatus' style='margin-left:0px;font-weight:bold;'></span>";
                    strselectedfailes += "<div class='progress displayinlineblock' style='width:95%'><div class='bar' style='width:0%'></div></div>";
                    strselectedfailes += "<div class='displayinlineblock' style='text-align: center;width:5%;'><span style='cursor:pointer;' class='delete fa fa-trash-o filedelete' onclick='RemoveSelectedFile@(Model.ControlID)(this)' title='Remove'></span></div>";
                    strselectedfailes += "<div  class=\"clearfix\"></div><div style='padding-bottom:12px;'><input placeholder=\"Comments\" class=\"form-control comment\" maxlength=\"100\" type=\"text\" onblur=\"comment_onchange@(Model.ControlID)(this)\"></div>";
                    strselectedfailes += "</div>";
                    validFileCnt++;
                    $(".@(filecount)", $("#" + controlid)).val(parseInt($(".@(filecount)", $("#" + controlid)).val())+1);
                }
                else{
                    inValidFileCnt++;
                }
            }

            // For Height and Weight check validate image -- chandu ----

            //var _URL = window.URL || window.webkitURL;

            //if ((files = files[i])) {
            //    img = new Image();
            //    img.onload = function() {
            //        if(this.width >= 500 && this.height >= 500){
            //            var msg="File should be one of the following types:.";
            //            DisplayNotiMessage("info", msg, "Information");
            //        }
            //    };
            //    img.src = _URL.createObjectURL(files);
            //}
        /*check image preview and show before live path*/
            debugger;
            if (files.length == 1 && fileuploadid.form != undefined && fileuploadid.form != null) {
                debugger;
                var id = fileuploadid.form.id;
                if (id != undefined && id != "") {
                    debugger;
                    var p = $("#" + fileuploadid.form.id + " #" + controlid).parent();
                    if (p != undefined && p.length > 0) {
                        var img = p[0].getAttribute("preview-image-id");
                        if (img != undefined && img != null && img != "") {
                            var ImageDir = new FileReader();
                            ImageDir.onload = function (e) {
                                debugger;
                                $("#" + id + " #" + img).attr('src', e.target.result);
                            }
                            ImageDir.readAsDataURL(files[0]);
                        }
                    }
                }
            }

            

            if(!CheckFileNameContrainsSpecialCharacter(files[i].name) || !files[i].size>0){
                IsContainsSpecialCharacterCntOrZeroKB=IsContainsSpecialCharacterCntOrZeroKB+1;
            }
        }
        if(IsContainsSpecialCharacterCntOrZeroKB>0){
            var msg="Any file name cannot contain any of the following characters: \ / : * ? \" < > | # { } % ~ & <br/>";
            msg+="All selected file size must be greater than 0 KB.";
            DisplayNotiMessage("info", msg, "Information");
            return false;
        }
        if(inValidFileCnt>0){
            var msg="File should be one of the following types:" + fileextension+".";
            if(maxfileuploadsize!="" && maxfileuploadsize>0){
                msg+="<br/><br/>Max File Upload Limit Is "+maxfileuploadsize+"MB.";
            }
            DisplayNotiMessage("info", msg, "Information");
            if(validFileCnt==0){
                return false;
            }
        }
        if(FileExistName.length>0){
            FileExistName=FileExistName.substring(0,FileExistName.length-1);
            DisplayNotiMessage("info", "File "+FileExistName+" already exist.", "Information");
            if(ExistFileCnt==files.length){
                return false;
            }
        }

        var hasError=$("#"+controlid).hasClass("error");
        if(files.length>0 && hasError){
            $("#"+controlid).removeClass('error');
        }

        if('@Model.IsMultipleUploaded.ToString().ToLower()'=="true"){
            $divfilelistholder.append(strselectedfailes);
            $divfilelistholder.removeClass('hide');
            CreateChunks@(Model.ControlID)(controlid);
        }
        else{
            allchunks@(Model.ControlID)=[];
            $divfilelistholder.html("");
            $divfilelistholder.append(strselectedfailes);
            $divfilelistholder.removeClass('hide');
            CreateChunks@(Model.ControlID)(controlid);
        }
        $('.comment[maxlength]').maxlength({
            alwaysShow: true,
        });
    }

    function RemoveSelectedFile@(Model.ControlID)(btnremove) {
        var $file = $(btnremove);
        var controlid = GetControlId(btnremove);
        var $currentfile = $file.closest(".filedetail");
        var filename = $currentfile.data("name");
        $currentfile.remove();
        var $divfilelistholder = $("#@(filelistholderInitial)" + controlid);
        if ($divfilelistholder.find(".filedetail").length === 0) {
            $divfilelistholder.addClass('hide');
        }
        allchunks@(Model.ControlID).removeIf(function (item, idx) {
            return item.filename == filename;
        });
        var $tblrowlength=$('#@(tblUploadInitial)'+controlid+'>tbody>tr').not('.removefile');
        var TotalCount= parseInt($divfilelistholder.find(".filedetail").length)+$tblrowlength.length;
        $(".@(filecount)", $("#" + controlid)).val(TotalCount);
    }

    function comment_onchange@(Model.ControlID)(txtComment){
        var $txtComment = $(txtComment);
        var controlid = GetControlId(txtComment);
        var $currentfile = $txtComment.closest(".filedetail");
        var filename = $currentfile.data("name");
        for (var i = 0; i < allchunks@(Model.ControlID).length; i++) {
            if(allchunks@(Model.ControlID)[i].filename==filename){
                allchunks@(Model.ControlID)[i].comment=$txtComment.val();
            }
        }
    }

    Array.prototype.removeIf = function (callback) {
        var i = this.length;
        while (i--) {
            if (callback(this[i], i)) {
                this.splice(i, 1);
            }
        }
    };

    function getHasAttachmentsForSubmit(cntid){
        var isrequired=$(".@(isrequiredCssClass)", $("#" + cntid)).val();
        isrequired != undefined && isrequired!=""?isrequired.toLowerCase():"false";
        if(isrequired=="false"){
            return true;
        }

        $("#"+cntid).removeClass("error");
        var $divfilelistholder = $("#@(filelistholderInitial)"+cntid);
        if($("#@(tblUploadInitial)"+cntid).length>0){
            var $tblrowlength=$('#@(tblUploadInitial)'+cntid+'>tbody>tr').not('.removefile');
            if($divfilelistholder.find(".filedetail").length === 0 &&
                $tblrowlength.length==0){
                $("#"+cntid).addClass("error");
                DisplayNotiMessage("info", "Attachment Is Required!", "Information");
                return false;
            }
            else{
                return true;
            }
        }
        else{
            return true;
        }

        @*if($("#@(tblUploadInitial)"+cntid).length>0){
            var noofattach=$("#@(tblUploadInitial)"+cntid).find("tbody tr").not(".removefile").length;
            //console.log("noofattach : "+noofattach);
            if(parseInt(noofattach) >0){
                return true;
            }
            else{
                return false;
            }
        }
        else{
            return true;
        }*@
    }

    function CheckFileExtension(filename,validextension){
        //console.log('validextension : '+validextension);
        var extension = filename.split('.').pop().toLowerCase();
        if(validextension=="*"){
            return true;
        }
        else{
            var allowedExt = validextension.split(',');
            //console.log(allowedExt);
            //console.log(extension);
            if($.inArray(extension, allowedExt) !== -1){
                return true;
            }
            else{
                return false;
            }
        }
    }

    function CheckFileNameContrainsSpecialCharacter(filename){
        //Special Character : \ / : * ? " < > | # { } % ~ &
        if(filename.indexOf("\\")>-1 ||
            filename.indexOf("/")>-1 ||
            filename.indexOf(":")>-1 ||
            filename.indexOf("*")>-1 ||
            filename.indexOf("?")>-1 ||
            filename.indexOf("\"")>-1 ||
            filename.indexOf("<")>-1 ||
            filename.indexOf(">")>-1 ||
            filename.indexOf("|")>-1 ||
            filename.indexOf("#")>-1 ||
            filename.indexOf("{")>-1 ||
            filename.indexOf("}")>-1 ||
            filename.indexOf("%")>-1 ||
            filename.indexOf("~")>-1 ||
            filename.indexOf("&")>-1){
            return false;
        }
        else{
            return true;
        }
    }

    function GetAllAttachFileList(cntid){
        var $divfilelistholder= $("#@(filelistholderInitial)"+cntid).find(".filedetail");
        var $tblrowlength=$('#@(tblUploadInitial)'+cntid+'>tbody>tr').not('.removefile');
        var Files=[];
        $tblrowlength.each(function(){
            $this=$(this);
            Files.push($this.attr("data-name"));
        });

        $divfilelistholder.each(function(){
            $this=$(this);
            Files.push($this.attr("data-name"));
        });
        return Files;
    }
</script>
