﻿
@using IEMQSImplementation
@model WPP010
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string FileUpload1ControlID = "fuUpload1";
}
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<style>
    .clsBootbox {
        padding: 0px !important;
    }

        .clsBootbox .modal-lg {
            width: 79% !important;
        }

    .hideButton {
        display: none;
    }

    .clstextarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin: 0px 0px 5px 0px !important;
        /*margin-bottom: 5px !important;
        margin-left: 0;*/
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="form-body">
            <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                    <span class="page-title">@ViewBag.Title</span>
                </div>
                <div id="dvStatus" class="ribbon ribbon-right ribbon-color-warning">
                    <span style="font-weight:bolder">
                        Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span>
                    </span>
                </div>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
            {
                @Html.HiddenFor(model => model.HeaderId)
                @Html.HiddenFor(model => model.Location)
                <div class="clsHeader">
                    <fieldset>
                        <legend> Basic Details </legend>
                        <div class="form-group">
                            <div class="col-md-12">

                                <div class="col-md-4">
                                    <label class="control-label">Location<span class="required"> * </span></label>
                                    <div class="">
                                        <input type="text" id="txtLocation" value="" name="txtLocation" class="form-control col-md-3 clsapprove" readonly />
                                        @Html.HiddenFor(m => m.Location)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">WPP NO.<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.WPPNumber, new { @class = "form-control clsapprove", @id = "WPPNumber", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">WPP Rev<span class="required"> * </span></label>
                                    <div class="">

                                        <input type="text" id="txtWPPRevNo" value="" name="txtWPPRevNo" class="form-control clsapprove col-md-3" readonly />
                                        @Html.HiddenFor(m => m.WPPRevNo)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Document No<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.DocumentNo, new { @class = "form-control clsapprove", @maxlength = "50" })
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label class="control-label">Project No<span class="required"> * </span></label>
                                    <div class="">
                                        <select name="QualityProjects" id="QualityProjects" multiple="multiple" class="form-control clsapprove col-md-3"></select>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Examination</label>
                                    <div class="">
                                        <input type="text" id="Examination" value="" name="Examination" class="form-control clsapprove col-md-3" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Seam No.<span class="required"> * </span></label>
                                    <div class="">
                                        <select name="SeamNo" id="SeamNo" multiple="multiple" class="form-control clsapprove col-md-3"></select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label class="control-label">Weld Designation<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.WeldDesignation, new { @class = "form-control clsapprove col-md-3 clsseam", @id = "WeldDesignation", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Welding Details</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Welding Process 1<span class="required">*</span></label>
                                    <input type="text" id="txtWeldingProcess1" name="txtWeldingProcess1" class="distinctWelding clsapprove form-control col-md-4" placeholder="Select" />
                                    @Html.HiddenFor(m => m.WeldingProcess1)
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Welding Process 2</label>
                                    <input type="text" id="txtWeldingProcess2" name="txtWeldingProcess2" class="distinctWelding clsapprove form-control col-md-4" placeholder="Select" disabled />
                                    @Html.HiddenFor(m => m.WeldingProcess2)
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Welding Process 3</label>
                                    <input type="text" id="txtWeldingProcess3" name="txtWeldingProcess3" class="distinctWelding clsapprove form-control col-md-4" placeholder="Select" disabled />
                                    @Html.HiddenFor(m => m.WeldingProcess3)
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Type of Weld 1<span id="snpWeld1" class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.WeldingType1, new { @class = "form-control clsapprove", @placeholder = "Select" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Type of Weld 2<span id="snpWeld2" class="required" style="display:none"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.WeldingType2, new { @class = "form-control clsapprove", @placeholder = "Select" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Type of Weld 3<span id="snpWeld3" class="required" style="display:none"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.WeldingType3, new { @class = "form-control clsapprove", @placeholder = "Select" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Joint Type<span class="required">*</span></label>
                                    <input type="text" id="txtJointType" name="txtJointType" class="form-control clsapprove col-md-4" placeholder="Select" />
                                    @Html.HiddenFor(m => m.JointType)
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label class="control-label">Drying of Electrode<span class="required clsDryingofElectrode"> * </span></label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.DryingofElectrode, new { @class = "form-control clsapprove col-md-3", @maxlength = "100" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Drying of Flux<span class="required clsDryingofFlux"> * </span></label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.DryingofFlux, new { @class = "form-control clsapprove col-md-3", @maxlength = "100" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Base Material</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Item Number -1 <span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ItemNumber1, new { @class = "form-control clsapprove col-md-3 clsseam", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Item Number -2 </label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ItemNumber2, new { @class = "form-control clsapprove col-md-3 clsseam", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Item Number -3 </label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ItemNumber3, new { @class = "form-control clsapprove col-md-3 clsseam", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">P No. [Material 1] <span id="spnPN1" class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.PNoMaterial1, new { @class = "form-control clsapprove col-md-3 clsseam", @maxlength = 5 })@*, @readonly = "readonly" })*@
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">P No. [Material 2] <span class="required spnItem2" style="display:none"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.PNoMaterial2, new { @class = "form-control clsapprove col-md-3 clsseam", @maxlength = 5 })@*, @readonly = "readonly" })*@
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">P No. [Material 3]<span class="required spnItem3" style="display:none"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.PNoMaterial3, new { @class = "form-control clsapprove col-md-3 clsseam", @maxlength = 5 })@*, @readonly = "readonly" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Specification  1 <span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Specification1, new { @class = "form-control clsapprove col-md-3 clsseam", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Specification  2 <span class="required spnItem2" style="display:none"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Specification2, new { @class = "form-control clsapprove col-md-3 clsseam", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Specification  3<span class="required spnItem3" style="display:none"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Specification3, new { @class = "form-control clsapprove col-md-3 clsseam", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Remarks 1</label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.Remarks1, new { @class = "form-control clstextarea clsapprove col-md-3", @maxlength = "100" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Remarks 2</label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.Remarks2, new { @class = "form-control clstextarea clsapprove col-md-3", @maxlength = "100" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Remarks 3</label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.Remarks3, new { @class = "form-control clstextarea clsapprove col-md-3", @maxlength = "100" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Other Details</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">WEP By</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.WEPBy, new { @id = "WEPBy", @class = "form-control clsapprove", @placeholder = "Select" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Surface Cleaning   </label>
                                    <div class="">
                                        <input type="text" id="SurfaceCleaning" value="" name="SurfaceCleaning" class="form-control clsapprove col-md-3" readonly />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Nature of Revision <span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.NatureofRevision, new { @class = "form-control clsapprove col-md-3", @maxlength = "100" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Notes <span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.Notes, new { @class = "form-control clsapprove col-md-3", @maxlength = "1000", @rows = 4 })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Remarks</label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control clstextarea clsapprove", @maxlength = "200" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="dv@(FileUpload1ControlID)"></div>
                        </div>
                        <div class="form-group" id="dvSketch" style="padding-right:0px;display:none">
                            <div class="col-md-12">
                                <br />
                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            Sketch / Welding Sequence
                                        </div>
                                    </div>
                                    <div class="portlet-body" style="min-height:600px; max-height:600px; overflow:auto;">
                                        <div>
                                            <img id="imgSketch" style="height:586px;width:100%;left:-40px;" src="~/ImageHandler.ashx?type=@clsImplementationEnum.ImageType.FCS.ToString()&fp=@(ViewBag.image)" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div id="dvWPPLines" class="form-group" style="display:none">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    WPP Line List
                                </div>
                                <div class="tools" id="dvExportLines">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/WPP/MaintainWPP/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLines" })
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblWPPLines" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="min-phone-l">#</th>
                                            <th class="min-phone-l">WS No</th>
                                            <th class="min-phone-l">Welding Process</th>
                                            <th class="min-phone-l">PQR No.</th>
                                            <th class="min-phone-l">AWS Class</th>
                                            <th class="all">Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-6" style="text-align:left;">
                            @if (ViewBag.buttonname == "maintain" && ((Model.Status == clsImplementationEnum.WPPStatus.Approved.GetStringValue() || Model.Status == clsImplementationEnum.WPPStatus.Released.GetStringValue()) || Model.WPPRevNo > 0))
                            {
                                <button class="btn icons" type="button" id="btnHistoryData" title="History"><i class="fa fa-history"></i></button>
                            }
                            @if (ViewBag.buttonname == "maintain" && (Model.Status == clsImplementationEnum.WPPStatus.Approved.GetStringValue() || Model.Status == clsImplementationEnum.WPPStatus.Released.GetStringValue()))
                            {
                                <button class="btn icons" type="button" id="btnCopy" title="Copy"><i class="fa fa-files-o"></i></button>
                            }
                            <button class="btn icons" type="button" id="btnPrint" title="Print"><i class="fa fa-print"></i></button>
                        </div>
                        <div class="col-md-6" style="text-align:right;">

                            <input type="hidden" id="hdSeam" />
                            <input type="hidden" id="hdQualityProject" />
                            @if (ViewBag.buttonname == "maintain")
                            {
                                if (Model.Status == clsImplementationEnum.WPPStatus.Draft.GetStringValue() || Model.Status == clsImplementationEnum.WPPStatus.Returned.GetStringValue())
                                {
                                    <input type="button" class="btn save" id="btnSave" value="Save" />
                                    @*<input type="button" class="btn btn-primary" id="btnUploadImage" value="Attach Sketch" />*@
                                    <input type="button" class="btn green" id="btnAddLine" value="Add Line" />
                                    <input type="button" class="btn submit" id="btnSubmit" value="Submit" />
                                }
                                if (Model.Status == clsImplementationEnum.WPPStatus.Approved.GetStringValue() || Model.Status == @clsImplementationEnum.WPPStatus.Released.GetStringValue())
                                {
                                    <a id="btnRevise" class="btn revise">Revise</a>
                                }

                            }
                            @if (ViewBag.buttonname == "approve")
                            {
                                if (Model.Status == clsImplementationEnum.WPPStatus.SendForApprovel.GetStringValue())
                                {
                                    <input type="button" class="btn approve" id="btnApprove" value="Approve" />
                                    <input type="button" class="btn return" id="btnReturn" value="Return" />
                                }
                            }
                            @if (ViewBag.buttonname == "release")
                            {
                                if (Model.Status == clsImplementationEnum.WPPStatus.Approved.GetStringValue())
                                {
                                    <input type="button" class="btn approve" id="btnRelease" value="Release" />
                                }
                            }
                            <input type="button" class="btn btnclose" id="btnClose" value="Close" />
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
@Html.Hidden("SavedFilePath" + FileUpload1ControlID, "")
<script>

    var isSubmitedflag =false;
    var message="";
    var FileCount = 0;
    $(document).ready(function () {
        
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        if ('@Model.Status' == '@clsImplementationEnum.WPPStatus.Draft.GetStringValue()' || '@Model.Status' == '@clsImplementationEnum.WPPStatus.Returned.GetStringValue()') {
            LoadFileUpload1();
        }
        var location='@ViewBag.Location';
        $("#txtLocation").val('@Html.Raw((string)ViewBag.Location)');
        $("#WPPRev").val('@Html.Raw((string)ViewBag.Location)');
        $("#SurfaceCleaning").val("Wire Brush / Grinding / Machining");
        $("#Examination").val("As per latest revision of OPS");


        LoadPreValueSelect2("/WPP/MaintainWPP/GetProjects", $('#QualityProjects'), "--Select Projects--",{search:"",location:'@Model.Location'});
        LoadSelectDropDown("", $('#SeamNo'), "--Select Seam--");

        $('#txtWPPRevNo').val("R"+'@Model.WPPRevNo');
        $("#SeamNo").change(function () {
            HighlightInValidateSelect2();
        });
        $("#QualityProjects").change(function () {
            HighlightInValidateSelect2();
        });

        $('#QualityProjects').on('select2:unselect', function (e) {
            var $thisval = $($(this)).val()
            var element = e.params.data.element;
            var $element = $(element);
            var removedVal=$element.val();
            if($($(this)).val() == "" || $($(this)).val() == null){
                $("#hdQualityProject").val('');
                $('#SeamNo').attr("disabled",true);
            }

            $('#SeamNo option[data-project="'+removedVal+'"]').detach();
            seamDataFields($("#SeamNo").val());

        });

        $('#QualityProjects').on('select2:select',  function (e) {
            var selectedval = sorting(e, $(this));

            $('#SeamNo').attr("disabled",false);
            debugger
            console.log(selectedval);
            if(selectedval !=null && selectedval !="" && selectedval !=undefined)
            {
                var hdQualityProject = selectedval.split(',')[0];

                if(hdQualityProject != $("#hdQualityProject").val() && parseInt($("#HeaderId").val()) == 0){
                    $("#hdQualityProject").val(hdQualityProject);
                    GenerateWPPNumber(hdQualityProject);
                }

                LoadSeamPreValueSelect2("/WPP/MaintainWPP/GetSeamNo",$("#SeamNo"),"--Select Seam--", {qualityproj:selectedval});

                if ($('#hdSeam').val() != null && $('#hdSeam').val() !="") {
                    $('#SeamNo').val(LoadMultiSelect2OnEdit($('#hdSeam').val())).trigger('change');
                }
            }
            else
            {
                seamDataFields($("#SeamNo").val());
                $('#SeamNo').attr("disabled",true);
            }
        });

        $('#SeamNo').on('select2:unselect',  function (e) {
            var $thisval = $($(this)).val();
            seamDataFields($thisval);
        });

        $('#SeamNo').on('select2:select',  function (e) {
            var selectedval = sorting(e, $(this) , $('#hdSeam'));
            var SeamData = selectedval.split(',')[0];
            if(SeamData != null && SeamData!=""){
                FetchSeamValues(SeamData);
            }
            else{
                seamDataFields($("#SeamNo").val());
            }
        });
        $("#WeldingType1").attr("disabled",true).attr("data-disabled","true");
        $("#WeldingType2").attr("disabled",true).attr("data-disabled","true");
        $("#WeldingType3").attr("disabled",true).attr("data-disabled","true");

        var arrayWeldingType= @Html.Raw(Json.Encode(@ViewBag.TypeOfWeld));
        FillEnumAutocomplete($("#WeldingType1"), arrayWeldingType, false);
        FillEnumAutocomplete($("#WeldingType2"), arrayWeldingType, false);
        FillEnumAutocomplete($("#WeldingType3"), arrayWeldingType, false);
        var lstJointType = @Html.Raw(Json.Encode(@ViewBag.JointType))
        FillCategoryAutoComplete($("#txtJointType"), lstJointType, $("#JointType"), true);

        var lstParentmetal = @Html.Raw(Json.Encode(@ViewBag.ParentMetal))
        FillCategoryAutoComplete($("#txtParentmetal1"), lstParentmetal, $("#ParentMaterial1"), true);
        FillCategoryAutoComplete($("#txtParentmetal2"), lstParentmetal, $("#ParentMaterial2"), true);
        FillCategoryAutoComplete($("#txtParentmetal3"), lstParentmetal, $("#ParentMaterial3"), true);

        var lstWeldingProcess = @Html.Raw(Json.Encode(@ViewBag.WeldingProcess))
        FillCategoryAutoComplete($("#txtWeldingProcess1"), lstWeldingProcess, $("#WeldingProcess1"), true, "#txtWeldingProcess2,#txtWeldingProcess3,#WeldingProcess2,#WeldingProcess3,#WeldingType1,#WeldingType2,#WeldingType3", "#txtWeldingProcess2,#WeldingType1","","#snpWeld2,#snpWeld3");
        FillCategoryAutoComplete($("#txtWeldingProcess2"), lstWeldingProcess, $("#WeldingProcess2"), false, "#txtWeldingProcess3,#WeldingProcess3,#WeldingType2,#WeldingType3", "#txtWeldingProcess3,#WeldingType2","#snpWeld2","#snpWeld3");
        FillCategoryAutoComplete($("#txtWeldingProcess3"), lstWeldingProcess, $("#WeldingProcess3"), false, "#WeldingType3","#WeldingType3","#snpWeld3");

        var arrayWEPBy= @Html.Raw(Json.Encode(@ViewBag.WEPBy));
        FillEnumAutocomplete($("#WEPBy"), arrayWEPBy, false);

        $('input[maxlength],textarea[maxlength]').maxlength({
            alwaysShow: true,
        });

        $('#frmCreateHeader').validate({
            rules: {
                DocumentNo:{ required: true},
                Location:{ required: true},
                WPPNumber:{ required: true},
                WPPRevNo:{ required: true},
                SeamNo:{ required: true},
                //WeldDesignation:{ required: true},
                txtWeldingProcess1:{ required: true},
                //txtWeldingProcess2:{ required: true},
                //txtWeldingProcess3:{ required: true},
                WeldingType1  :{ required:  function(){
                    if($("#txtWeldingProcess1").val()!="")
                    { return true;}
                    else
                    {return false;}
                },
                },
                WeldingType2  :{ required:
                    function(){
                        if($("#txtWeldingProcess2").val()!="")
                        { return true;}
                        else
                        {return false;}
                    },
                },
                WeldingType3 :{ required: function(){
                    if($("#txtWeldingProcess3").val()!="")
                    {
                        return true;
                    }
                    else
                    {return false;}
                }
                },
                txtJointType: { required: true },
                DryingofElectrode :{   required: function(){
                    if( $("#WeldingProcess1").val()== "SMAW" || $("#WeldingProcess2").val() =="SMAW" ||$("#WeldingProcess3").val() =="SMAW")
                    { return true;}
                    else
                    {return false;}
                },
                },
                DryingofFlux :{   required: function(){
                    if(( $("#WeldingProcess1").val()== "SMAW" || $("#WeldingProcess2").val() =="SMAW" ||$("#WeldingProcess3").val() =="SMAW")
                    || ($("#WeldingProcess1").val() == "ESW" || $("#WeldingProcess2").val() == "ESW" ||$("#WeldingProcess3").val() == "ESW")
                    || ($("#WeldingProcess1").val()== "SASC" || $("#WeldingProcess2").val() =="SASC" ||$("#WeldingProcess3").val() =="SASC"  ))
                    { return true;}
                    else
                    {return false;}
                },},
                ItemNumber1 :{ required: true},
                // ItemNumber2 :{ required: true},
                // ItemNumber3 :{ required: false},
                PNoMaterial1   :{ required:  function(){
                    if($("#ItemNumber1").val()!="")
                    { return true;}
                    else
                    {return false;}
                }},
                PNoMaterial2   :{ required:  function(){
                    if($("#ItemNumber2").val()!="")
                    { return true;}
                    else
                    {return false;}
                }},
                PNoMaterial3   :{ required:
                     function(){
                         if($("#ItemNumber3").val()!="")
                         { return true;}
                         else
                         {return false;}
                     }
                },
                Specification1:{ required:  function(){
                    if($("#ItemNumber1").val()!="")
                    { return true;}
                    else
                    {return false;}
                }},
                Specification2:{ required:  function(){
                    if($("#ItemNumber2").val()!="")
                    { return true;}
                    else
                    {return false;}
                }},
                Specification3:{ required:  function(){
                    if($("#ItemNumber3").val()!="")
                    { return true;}
                    else
                    {return false;}
                }},
                NatureofRevision:{ required: true},
                QualityProjects:{ required: true},
                Notes:{ required: true},
            },
            messages: {
                DocumentNo:{ required: "Document No is required"},
                Location:{ required: "Location is required"},
                WPPNumber:{ required: "WPP Number is required"},
                WPPRevNo:{ required: "WPP RevNo is required"},
                SeamNo:{ required: "Seam No is required"},
                //WeldDesignation:{ required: true},
                txtWeldingProcess1:{ required: "Welding Process 1 is required"},
                txtWeldingProcess2:{ required: "Welding Process 2 is required"},
                txtWeldingProcess3:{ required: "Welding Process 3 is required"},
                WeldingType1  :{ required: "Type Of Weld 1 is required"},
                WeldingType2  :{ required: "Type Of Weld 2 is required"},
                WeldingType3 :{ required: "Type Of Weld 3 is required"},
                txtJointType: { required: "Joint Type is Required" },
                DryingofElectrode :{ required: "Drying of Electrode is required"},
                DryingofFlux :{ required: "Drying of Flux is required"},
                ItemNumber1 :{ required: "Item Number 1 required"},
                ItemNumber2 :{ required: "Item Number 2 required"},
                ItemNumber3 :{ required: "Item Number 3 required"},
                PNoMaterial1   :{ required: "P No Material 1 required"},
                PNoMaterial2   :{ required: "P No Material 2 required"},
                PNoMaterial3   :{ required: "P No Material 3 required"},
                Specification1:{ required:"Specification 1 required"},
                Specification2:{ required:"Specification 2 required"},
                Specification3:{ required:"Specification 3 required"},
                NatureofRevision:{ required: "Nature of Revision"},
                QualityProjects:{ required: "Quality project is required"},
                Notes:{ required: "Notes required"},
            }


        });

        var table = $('#tblWPPLines');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/WPP/MaintainWPP/LoadLinesDataGridData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Headerid", "value":  $("#HeaderId").val() },
                            { "name": "MTStatus", "value": $("#spnStatus").text() },
                            { "name": "Filterstatus", "value": '@ViewBag.formRedirect' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);
                        if (data.iTotalRecords > 0) {
                            $("#btnSubmit").show();
                        }
                        else {
                            $("#btnSubmit").hide();
                        }
                    },
                    'async': false
                });
            },
            "aoColumns": [

                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "WSNo",
                },
                {
                    "sClass": "center",
                    "name": "WeldingProcess",
                },
                {
                    "sClass": "center",
                    "name": "PQRNo",
                },
                {
                    "sClass": "center",
                    "name": "AWSClass",
                },

                {
                    "bSortable": false,
                    "sClass": "left",
                    "sWidth": "10%",
                },

            ]
        });
        if(parseInt($("#HeaderId").val()) > 0)
        {
            $("#dvWPPLines").show();
            $("#btnAddLine").show();
            if('@ViewBag.image' != null && '@ViewBag.image' != "" && '@ViewBag.image' != undefined)
            {
                $("#dvSketch").show();
            }
            if ('@Model.WeldingProcess1' != '' && '@Model.WeldingProcess1' != "null" && '@Model.WeldingProcess1' != null) {
                $("#txtWeldingProcess1").val('@ViewBag.WeldingProcess1Selected');
                $("#WeldingType1").attr("disabled",false).attr("data-disabled","false");
                $("#txtWeldingProcess2").attr("disabled",false).attr("data-disabled","false");
            }

            if ('@Model.WeldingProcess2' != '' && '@Model.WeldingProcess2' != "null" && '@Model.WeldingProcess2' != null) {
                $("#txtWeldingProcess2").val('@ViewBag.WeldingProcess2Selected');
                $("#WeldingType2").attr("disabled",false).attr("data-disabled","false");
                $("#txtWeldingProcess3").attr("disabled",false).attr("data-disabled","false");
            }

            if ('@Model.WeldingProcess3' != '' && '@Model.WeldingProcess3' != "null" && '@Model.WeldingProcess3' != null) { $("#txtWeldingProcess3").val('@ViewBag.WeldingProcess3Selected').attr("disabled",false);
                $("#WeldingType3").attr("disabled",false).attr("data-disabled","false");
            }

            if ('@Model.JointType' != '' && '@Model.JointType' != "null" && '@Model.JointType' != null) { $("#txtJointType").val('@ViewBag.JointTypeSelected'); }

            if('@Model.QualityProjects' != null && '@Model.QualityProjects' !='' && '@Model.QualityProjects' !=undefined){
                var proj = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.QualityProjects))));
                $('#QualityProjects').val(LoadMultiSelect2OnEdit(proj)).trigger('change');
            }
            var qproject = $('#QualityProjects').val();
            if (qproject != '' && qproject != null && qproject != undefined) {
                var selectedval = qproject.join(",");
            }
            else {
                var selectedval = qproject;
            }
            LoadSeamPreValueSelect2("/WPP/MaintainWPP/GetSeamNo",$("#SeamNo"),"--Select Seam--", {qualityproj:selectedval});

            var url = WebsiteURL+"/WPP/MaintainWPP/GetSelectedSeamValue?headerId=" + $("#HeaderId").val();
            $.getJSON(url, function (opts) {
                if (opts)
                {
                    $("#SeamNo").val(opts).trigger('change');
                }
            });

            if(('@ViewBag.buttonname'.toLowerCase() == "approve" || '@ViewBag.buttonname'.toLowerCase() == "release"  ))
            {
                if('@Model.Status' == '@clsImplementationEnum.WPPStatus.SendForApprovel.GetStringValue()'){
                    $('.clsapprove').attr('disabled', true);
                }
                else{
                    $('div.clsHeader :input').attr('disabled', true);
                }
            }
            else{
                if('@Model.Status' == '@clsImplementationEnum.WPPStatus.SendForApprovel.GetStringValue()' ||'@Model.Status' == '@clsImplementationEnum.WPPStatus.Approved.GetStringValue()' ||'@Model.Status' == '@clsImplementationEnum.WPPStatus.Released.GetStringValue()'){
                    $('div.clsHeader :input').attr('disabled', true);
                }
            }

        }
        else
        {
            $("#btnPrint").hide()
            $('#SeamNo').attr("disabled",true);
            $("#btnAddLine").hide();
            $("#btnSubmit").hide();
        }


        showhide($("#txtWeldingProcess2"),$("#snpWeld2"));
        showhide($("#txtWeldingProcess3"),$("#snpWeld3"));
        showhide($("#ItemNumber2"),$(".spnItem2"));
        showhide($("#ItemNumber3"),$(".spnItem3"));
        showhide($("#DryingofElectrode"),$(".clsDryingofElectrode"));
        showhide($("#DryingofFlux"),$(".clsDryingofFlux"));

        weldproc($("#WeldingProcess1").val(),$("#WeldingProcess2").val(),$("#WeldingProcess3").val(),$("#DryingofElectrode").val(),$("#DryingofFlux").val());

        //$("#btnUploadImage").click(function () {
            //btnAttach@(FileUpload1ControlID).click();
            //LoadFileUpload1();
        //});

        $("#btnPrint").click(function () {
            if($("#JointType").val().toLowerCase() =="t#t/s" || $("#JointType").val().toLowerCase() =="t#ts" ){
                PrintGeneralReport($("#HeaderId").val(),'/WPP/WPP_Report_TTS')
            }
            else{
                PrintGeneralReport($("#HeaderId").val(),'/WPP/WPP_Report')
            }
        });

        $("#btnClose").click(function(){
            RedirectToSpecificIndex();
        });
        $("#btnSave").click(function(){
            if ($("#frmCreateHeader").valid()) {
                var status = $("#Status").val();
                DisableControls(false);
                var frmSaveHeaderValue = $("#frmCreateHeader").serializeArray();
                SaveHeader(frmSaveHeaderValue, false);
                DisableControls(true);
            }
            else
            {
                HighlightInValidControls();
                var status = $("#spnStatus").text();
                if( status == '@clsImplementationEnum.WPPStatus.Draft.GetStringValue()'
                  || status == '@clsImplementationEnum.WPPStatus.Returned.GetStringValue()'
                 )
                {
                    DisplayNotiMessage("info", "All mandatory (*) fields are required", "Info");
                }
                return false;
            }
        });

        $("#btnRevise").click(function () {
            var strHtml = "<scr" + "ipt>$(document).ready(function(){"
               + "$('input[maxlength],textarea[maxlength]').maxlength({alwaysShow: true,});"
               + "$('#frmHeaderRevise').validate({"
               + " rules: {"
               + "txtReviseRemark: {"
               + "required: true,"
               + "},"
               + "messages: {"
               + "txtReviseRemark: {"
               + "required: 'Revise Remark is required'"
               + "}"
               + "}"
                + "}"
               + "});"
               + "});</scr" + "ipt>"
               + " <div>"
               + "<form method='post' id='frmHeaderRevise' class='form-horizontal' action=''>"
               + "<div class='form-group'>"
               + "<div class='col-md-12'>"
               + "<br /><label class='control-label'><b>Revise Remark</b><span class='required'> * </span></label>"
               + "<div class=''>"
               + "<textarea type='text' value='' style='width:100%' name='txtReviseRemark' id='txtReviseRemark' maxlength='200' class='form-control col-md-3'></textarea>"
               + "</div>"
               + "</div>"
               + "</div>"
               + "</form>"
               + "</div>";

            bootbox.dialog({
                title: 'Revise Document',
                message: 'Do you want to Revise Document?' +strHtml ,
                buttons: {
                    'confirm': {
                        label: 'Yes',
                        className: 'btn-success',
                        callback: function () {
                            if ($('#frmHeaderRevise').valid()) {
                                var Remarks = $('#txtReviseRemark').val();
                                $.ajax({
                                    url: WebsiteURL + "/WPP/MaintainWPP/ReviseHeader",
                                    type: "POST",
                                    datatype: 'json',
                                    data: { strHeaderId: $("#HeaderId").val() , Remarks:Remarks},
                                    success: function (data) {

                                        if (data.Key) {
                                            $("#HeaderId").val(data.HeaderId);
                                            $("#spnStatus").text(data.Status);
                                            $("#WPPRevNo").val( data.Revision);
                                            $("#txtWPPRevNo").val("R" + data.Revision);
                                            DisplayNotiMessage("success", data.Value, "Success");
                                            window.location.reload();
                                        }
                                        else {
                                            DisplayNotiMessage("error", data.Value, "Error");
                                            return false;
                                        }
                                    },
                                    error: function () {
                                    }
                                });
                            } else {
                                return false;
                            }
                        }
                    },
                    'cancel': {
                        label: 'No',
                        className: 'btn-danger',
                        callback: function () {}
                    }
                },

            });
        });

        $("#btnAddLine").click(function () {
            var formRedirect = '@ViewBag.formRedirect';

            GetWPPLines($("#HeaderId").val(), 0,formRedirect);
        });

        $("#btnSubmit").click(function () {
            if ($("#frmCreateHeader").valid()) {
                DisableControls(false);
                var frmSaveHeaderValue = $("#frmCreateHeader").serializeArray();
                SaveHeader(frmSaveHeaderValue, true,SubmitDetails);
                DisableControls(true);
            }
            else{
                HighlightInValidControls();
                var status = $("#spnStatus").text();
                if( status == '@clsImplementationEnum.WPPStatus.Draft.GetStringValue()'
                  || status == '@clsImplementationEnum.WPPStatus.Returned.GetStringValue()'
                 )
                {
                    DisplayNotiMessage("info", "All mandatory (*) fields are required", "Info");
                }
                return false;
            }
        });

        $("#btnRelease").click(function () {
            bootbox.dialog({
                title:"Release Confirmation",
                message: "Do you want to release this record ? ",
                buttons: {
                    'confirm': {
                        label: 'Yes',
                        className: 'btn-success',
                        callback: function () {

                            var headerId = $("#HeaderId").val();
                            $.ajax({
                                url: WebsiteURL + "/WPP/MaintainWPP/ReleaseSelected",
                                type: "Post",
                                async: false,
                                dataType: "JSON",
                                data: { strHeaderIds: headerId },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        RedirectToSpecificIndex();
                                    }
                                    else {
                                        bootbox.alert(data.Value);
                                    }
                                },
                                error: function (data) {
                                    bootbox.alert(data.Value);
                                }
                            });
                        }
                    },
                    'cancel': {
                        label: 'No',
                        className: 'btn-danger',
                        callback: function () {}
                    }
                },

            })
        });

        $("#btnApprove").click(function () {
            bootbox.dialog({
                title:"Approve Confirmation",
                message: "Do you want to approve this record ? ",
                buttons: {
                    'confirm': {
                        label: 'Yes',
                        className: 'btn-success',
                        callback: function () {

                            var headerId = $("#HeaderId").val();
                            $.ajax({
                                url: WebsiteURL + "/WPP/MaintainWPP/ApproveByApproverSelected",
                                type: "Post",
                                async: false,
                                dataType: "JSON",
                                data: { strHeaderIds: headerId },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        RedirectToSpecificIndex();
                                    }
                                    else {
                                        bootbox.alert(data.Value);
                                    }
                                },
                                error: function (data) {
                                    bootbox.alert(data.Value);
                                }
                            });
                        }
                    },
                    'cancel': {
                        label: 'No',
                        className: 'btn-danger',
                        callback: function () {}
                    }
                },

            })
        });

        $("#btnReturn").click(function () {
            var strHtml = "<scr" + "ipt>$(document).ready(function(){"
             + "$('input[maxlength],textarea[maxlength]').maxlength({alwaysShow: true,});"
             + "$('#frmHeaderRevise').validate({"
             + " rules: {"
             + "txtReviseRemark: {"
             + "required: true,"
             + "},"
             + "messages: {"
             + "txtReviseRemark: {"
             + "required: 'Revise Remark is required'"
             + "}"
             + "}"
              + "}"
             + "});"
             + "});</scr" + "ipt>"
             + " <div>"
             + "<form method='post' id='frmHeaderRevise' class='form-horizontal' action=''>"
             + "<div class='form-group'>"
             + "<div class='col-md-12'>"
             + "<br /><label class='control-label'><b>Return Remark</b><span class='required'> * </span></label>"
             + "<div class=''>"
             + "<textarea type='text' value='' style='width:100%' name='txtReviseRemark' id='txtReviseRemark' maxlength='200' class='form-control col-md-3'></textarea>"
             + "</div>"
             + "</div>"
             + "</div>"
             + "</form>"
             + "</div>";


            bootbox.dialog({
                title:"Return Confirmation",
                message: "Do you want to return this record ? " + strHtml,
                buttons: {
                    'confirm': {
                        label: 'Yes',
                        className: 'btn-success',
                        callback: function () {
                            if ($('#frmHeaderRevise').valid()) {
                                var Remarks = $('#txtReviseRemark').val();
                                ReturnData(Remarks);
                            }else
                            {return false;}
                        }
                    },
                    'cancel': {
                        label: 'No',
                        className: 'btn-danger',
                        callback: function () {}
                    }
                },

            })

        });


        $("#btnCopy").click(function () {
            $.ajax({
                type: "POST",
                url:WebsiteURL + "/WPP/MaintainWPP/CopyWPPNumberPartial",
                datatype: 'html',
                async: false,
                data: { location: $("#Location").val(), HeaderId: $("#HeaderId").val() ,wppnumber :$("#WPPNumber").val() },
                success: function (data) {
                    bootbox.dialog({
                        title: "Copy To",
                        message: data,
                        size: "medium",
                        buttons: {
                            Copy: {
                                Label: "Copy",
                                className: 'btn green',
                                callback: function () {

                                    if ($("#frmCopyWPPNumber").valid()) {
                                        CopyToDestination($("#HeaderId").val(), $("#txtDestProject").val());
                                    }
                                    else {
                                        HighlightInValidControls();
                                        return false;
                                    }
                                }
                            },
                            Cancel: {
                                label: 'Close',
                                className: 'btn red',
                                callback: function () { }
                            }
                        }
                    })
                }
            })
        });
        $("#btnHistoryData").click(function () {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/WPP/MaintainWPP/GetHistoryDetails",
                datatype: 'html',
                async: false,
                data: { Id: $('#HeaderId').val() , type:'@ViewBag.formRedirect' },
                success: function (result) {
                    bootbox.dialog({
                        title: $('#WPPNumber').val() + ' History Details',
                        message: result,
                        size: 'large',
                        buttons: {
                            'cancel': {
                                label: 'Close',
                                className: 'btn red'
                            }
                        }
                    });
                },
                error: function () {
                }
            });
        });
    })

    function SubmitDetails()
    {
        bootbox.dialog({
            title:"Submit Confirmation",
            message: "Do you want to submit " + $("#WPPNumber").val() + " ?",
            buttons: {
                'confirm': {
                    label: 'Yes',
                    className: 'btn-success',
                    callback: function () {
                        $.ajax({
                            type: "POST",
                            url: WebsiteURL+"/WPP/MaintainWPP/SendForApproval",
                            datatype: 'json',
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            data: { HeaderId: $("#HeaderId").val()},
                            success: function (data) {
                                if (data.ActionKey) {
                                    DisplayNotiMessage("success", data.ActionValue, "Success");
                                    RedirectToSpecificIndex();
                                }
                                else {
                                    DisplayNotiMessage("error", data.ActionValue, "Error");
                                }
                            },
                            error: function () {
                            }
                        });
                    }
                },
                'cancel': {
                    label: 'No',
                    className: 'btn-danger',
                    callback: function () {}
                }
            },

        })
    }

    function showAttahcment(headerid,rev)
    {
        //$('#imgSketch').attr("src",WebsiteURL+ "/ImageHandler.ashx?type=@clsImplementationEnum.ImageType.SharePoint.GetStringValue()&fp=WPP010/"+headerid+"/R"+rev);

        //$.ajax({
        //    url: WebsiteURL+"/WPP/MaintainWPP/showAttahcment",
        //    type: 'POST',
        //    data: { headerid: parseInt(headerid),rev:rev},
        //    success: function (data) {
        //        if (data.dataKey) {
        //            $("#dvSketch").show();
        //            $('#imgSketch').attr("src", data.folderpath);
        //        }
        //        else {
        //            DisplayNotiMessage("error", data.ActionValue, "Error");
        //        }
        //    },
        //    error: function () {
        //    }
        //});
    }

    function ReturnData(Remarks) {
        $.ajax({
            url: WebsiteURL + "/WPP/MaintainWPP/ReturnHeader",
            data: {Remarks:Remarks , HeaderId:$('#HeaderId').val()},
            type: 'POST',
            success: function (data) {
                if (data.Key) {
                    DisplayNotiMessage("success", data.Value, "Success");
                    RedirectToSpecificIndex();
                }
                else
                    DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            }
        });
    }

    function seamDataFields($thisval)
    {
        if($thisval == "" || $thisval == null){
            $('#SeamNo').html('');
            $('#hdSeam').val('');
            $('.clsseam').val('');
        }
    }

    function weldproc(weldproc1,weldproc2,weldproc3,DryingofElectrode,DryingofFlux){
        if(DryingofElectrode == "NA"){
            DryingofElectrode="";
        }
        if(DryingofFlux == "NA"){
            DryingofFlux="";
        }
        if(weldproc1 == "SMAW" || weldproc2 == "SMAW"||weldproc3 == "SMAW"){
            $("#DryingofElectrode").val(DryingofElectrode).attr("readonly",false);
            $(".clsDryingofElectrode").show();
        }
        else{
            $("#DryingofElectrode").val('NA').attr("readonly",true);
            $(".clsDryingofElectrode").hide();
        }
        if((weldproc1 == "SAW" || weldproc2 == "SAW"||weldproc3 == "SAW") || (weldproc1 == "ESW" || weldproc2 == "ESW"||weldproc3 == "ESW") || (weldproc1== "SASC" || weldproc2 =="SASC" || weldproc3 =="SASC"  )){
            $("#DryingofFlux").val(DryingofFlux).attr("readonly",false); $(".clsDryingofFlux").show();
        }else
        { $("#DryingofFlux").val('NA').attr("readonly",true);     $(".clsDryingofFlux").hide();}
    }

    function GenerateWPPNumber(project){
        $.ajax({
            url: WebsiteURL + "/WPP/MaintainWPP/GenerateWPPNumber",
            type: "POST",
            data: {  qproject: project , location:$("#Location").val() },
            async: false,
            dataType: 'json',
            success: function (res) {
                $("#WPPNumber").val(res.ProjectNo);
            },
            error: function (er) {
                alert(er);
            }
        });
    }

    function FetchSeamValues(seamno){
        $.ajax({
            url: WebsiteURL + "/WPP/MaintainWPP/FetchSeamListData",
            type: "POST",
            data: { seamno : seamno },
            async: false,
            dataType: 'json',
            success: function (res) {
                $("#WeldDesignation").val(res.WeldDesignation);
                $("#ItemNumber1").val(res.ItemNumber1);
                $("#ItemNumber2").val(res.ItemNumber2);
                $("#ItemNumber3").val(res.ItemNumber3);
                $("#Specification1").val(res.Specification1);
                $("#Specification2").val(res.Specification2);
                $("#Specification3").val(res.Specification3);
                //$("#PNoMaterial1").val(res.PNumber1);
                //$("#PNoMaterial2").val(res.PNumber2);
                //$("#PNoMaterial3").val(res.PNumber3);
                showhide($("#ItemNumber2"),$(".spnItem2"));
                showhide($("#ItemNumber3"),$(".spnItem3"));
            },
            error: function (er) {
                alert(er);
            }
        });
    }
    function LoadFileUpload1() {
        //var objFileUpload1 = new FileUploadEnt('dv@(FileUpload1ControlID)', '@FileUpload1ControlID');
        //objFileUpload1.IsRequired = true;
        //objFileUpload1.ShowDeleteAction = false;
        //if($("#HeaderId").val()>0){
        //    objFileUpload1.FolderPath = "WPP010/"+$("#HeaderId").val()+"/"+"R"+$("#WPPRevNo").val();
        //}
        //else{
        //    objFileUpload1.FolderPath = "";
        //}
        //objFileUpload1.IsMultipleUploaded=false;
        //objFileUpload1.SuccessCallbackFunction="SuccessCallFunc1(true)";
        //objFileUpload1.AllowFileExtension="jpg,jpeg,png,bmp,jfif";
        //LoadFileUploadPartialView(objFileUpload1);

        var objFile = {
            TableName: 'WPP010//' + $("#HeaderId").val() + '//R' + $("#WPPRevNo").val() + '',
            TableId: $("#HeaderId").val(),
            Path: 'WPP010//' + $("#HeaderId").val() + '//R' + $("#WPPRevNo").val() + '//1',
            ControlID: '@(FileUpload1ControlID)',
            ViewerId: 1,
            IsMultipleUploaded: false,
            ShowDeleteAction: true,
            ShowDownloadBtn: false,
            ShowAttachmentBtn: true,
            AllowFileExtension: '.jpg,.jpeg,.png,.bmp,.jfif',
            SuccessCallbackFunction: 'SuccessCallFunc1(true)',
            IsRequired: true,
            DeleteSuccessCallbackFunction: "SetImage()"
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(FileUpload1ControlID)', false);
    }
    function SuccessCallFunc1(isRedirect) {
        //SetImage();
        if(!isSubmitedflag){
            $("#btnAddLine").show();
            $("#dvWPPLines").show();
            $("#btnPrint").show();
            DisplayNotiMessage("success", message, "Success");
            message="";
            if(isRedirect){
                window.location.href=WebsiteURL + '/WPP/MaintainWPP/Details/'+parseInt($("#HeaderId").val()) + "?urlForm=" + '@ViewBag.formRedirect';
            }
        }
        else
        {
            isSubmitedflag =false;
            showAttahcment($("#HeaderId").val(),$("#WPPRevNo").val());
            SubmitDetails();
        }
    }

    function SaveHeader(strFormData,IsSubmit,callbackfn) {
        var formData = new FormData();
        //FileCount = $("#filelistholder@(FileUpload1ControlID) .filedetail").length;
        FileCount = $("#tbl_document_list_@(FileUpload1ControlID)").DataTable().rows().count();
        if (strFormData != null && strFormData != undefined) {

            var isAdded = false;
            $.each(strFormData, function (key, input) {
                if (input.name == "QualityProjects") {
                    if (!isAdded) {
                        isAdded = true;
                        formData.append(input.name, $("#" + input.name).val());
                    }
                }
                else {
                    formData.append(input.name, input.value);
                }
            });

            if (FileCount > 0) {
                formData.append('isDeleteEnabled', true);
            }
            else{
                formData.append('isDeleteEnabled', false);
            }

            formData.append("QualityProject", $("#hdQualityProject").val());
            if (getHasAttachmentsForSubmit('@FileUpload1ControlID') == false) {
                return false;
            }
            $.ajax({
                url:WebsiteURL +  "/WPP/MaintainWPP/SaveHeader",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                async:false,
                success: function (data) {
                    if (data.Key) {
                        $("#HeaderId").val(data.HeaderId);
                        $("#spnStatus").text(data.Status);
                        $("#WPPRevNo").val(data.Revision);
                        $("#txtWPPRevNo").val("R" + data.Revision);
                        if(!IsSubmit){
                            message = data.Value;
                        }
                        else
                        {
                            isSubmitedflag=true;
                        }
                        UploadFileToServerFromDropzone('@(FileUpload1ControlID)', data.HeaderId, 'WPP010//' + data.HeaderId + '//R' + data.Revision);
                        if (FileCount > 0) {
                            //UpdateFolderPathAndSave@(FileUpload1ControlID)("WPP010/"+data.HeaderId+"/R"+data.Revision);
                        }
                        else{
                            SuccessCallFunc1(false);
                        }
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
    }


    function GetWPPLines(headerid, lineId,page) {
        var cls = 'btn save';
        if(page =='' || page ==undefined ||page ==null ){
            page='@clsImplementationEnum.WPPIndexType.maintain.GetStringValue()';
        }
        if(page != '@clsImplementationEnum.WPPIndexType.maintain.GetStringValue()')
        {
            cls = 'hideButton'
        }
        var btnlable ="Save";
        if(lineId > 0 )
        {
            btnlable ="Update";
        }
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/WPP/MaintainWPP/GetWPPLines",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerid: headerid, lineId: lineId ,page:page},
            success: function (result) {
                bootbox.dialog({
                    title: 'WPP Lines',
                    message: result,
                    size: 'large',
                    className: "higherzindex clsBootbox",
                    buttons: {
                        'confirm': {
                            label: btnlable,
                            className: cls,
                            callback: function () {
                                if ($("#frmWPPDeatils").valid()) {
                                    var formData = new FormData();
                                    var frmValues = $('#frmWPPDeatils').serializeArray();

                                    var isAdded = false;
                                    $.each(frmValues, function (key, input) {
                                        if (input.name == "WeldingPosition") {
                                            if (!isAdded) {
                                                isAdded = true;
                                                if($("#" + input.name).val() != null){
                                                    formData.append(input.name, $("#" + input.name).val().join(','));
                                                }
                                                else
                                                {   formData.append(input.name, $("#" + input.name).val());}
                                            }
                                        }
                                        else {
                                            formData.append(input.name, input.value);
                                        }
                                    });
                                    if($("#JointType").val().toLowerCase() =="t#t/s" || $("#JointType").val().toLowerCase() =="t#ts"){
                                        formData.append("Current1", $("#Current1").val());
                                        formData.append("Polarity1",$("#Polarity1").val());
                                        formData.append("Amperes1", $("#Amperes1").val());
                                        formData.append("Voltage1", $("#Voltage1").val());
                                        formData.append("TravelSpeed1",$("#TravelSpeed1").val());
                                        formData.append("PreheatMin1", $("#PreheatMin1").val());
                                        formData.append("NoofLayers1", $("#NoofLayers1").val());
                                    }
                                    $.ajax({
                                        url: WebsiteURL + "/WPP/MaintainWPP/SaveWPPLines",
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        type: 'POST',
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key) {
                                                $("#HeaderId").val(data.HeaderId);
                                                $("#spnStatus").text(data.Status);
                                                $("#WPPRevNo").val( data.Revision);
                                                $("#txtWPPRevNo").val("R" + data.Revision);
                                                DisplayNotiMessage("success", data.Value, "Success");
                                                $("#tblWPPLines").DataTable().ajax.reload();
                                            }
                                            else {
                                                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                            }
                                        }
                                    });
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }
    //Delete Line
    function DeleteRecord(LineID) {
        bootbox.dialog({
            message: "Do you want to delete this detail?",
            buttons: {
                'confirm': {
                    label: 'Yes',
                    className: 'btn-success',
                    callback: function () {
                        $.ajax({
                            url: WebsiteURL + '/WPP/MaintainWPP/DeleteLine',
                            data: { lineid: LineID },
                            type: 'POST',
                            async: false,
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    $('#tblWPPLines').DataTable().ajax.reload();
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                            }
                        });
                    }
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger',
                    callback: function () {}
                }
            },

        });
    }

    function CopyToDestination(headerId, destProject) {
        $.ajax({
            url: WebsiteURL + "/WPP/MaintainWPP/CopyToDestination",
            type: 'POST',
            data: { headerId: headerId, destProject: destProject },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (res) {
                if (res.Key) {
                    DisplayNotiMessage("success", res.Value, "Success");
                    setTimeout( 'window.location.href ="' +WebsiteURL + '/WPP/MaintainWPP/Details/'+res.HeaderId+'?urlForm=maintain"', 2000);
                }
                else {
                    DisplayNotiMessage("error", res.Value, "Error");
                    return false;
                }
            }
        });
    }
    function FillEnumAutocomplete(element, arrayList, isEditable) {
        element.autocomplete({
            source: arrayList,
            minLength: 0,
            autoFocus: true,
            async: false,
            change: function (event, ui) {
                if (ui.item == null) {
                    if (!isEditable) {
                        isSelected = false;
                        $(this).val('');
                        $(this).focus();
                    }
                    else {
                        $(this).val();
                    }
                }
            }
        }).focus(function () {
            var result = $(this).data("uiAutocomplete").search($(this).val());
        });

    }
    function FillCategoryAutoComplete(element, sourceList, hdElement, isautofocus, disabledElement, enabledElement,showElement,nextElem) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: isautofocus,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
                if (enabledElement != null && enabledElement != undefined && enabledElement != "undefined" && enabledElement != "") {
                    $(enabledElement).attr("disabled",false).attr("data-disabled","false");
                    weldproc($("#WeldingProcess1").val(),$("#WeldingProcess2").val(),$("#WeldingProcess3").val(),$("#DryingofElectrode").val(),$("#DryingofFlux").val());
                }
                if (showElement != null && showElement != undefined && showElement != "undefined" && showElement != "") {
                    $(showElement).show();
                }

            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(hdElement).val('');
                    $(this).focus();
                    if (disabledElement != null && disabledElement != undefined && disabledElement != "undefined" && disabledElement != "") {
                        $(disabledElement).attr("disabled",true).attr("data-disabled","true");
                        $(disabledElement).val("");
                        $(disabledElement).removeClass('error');
                        weldproc($("#WeldingProcess1").val(),$("#WeldingProcess2").val(),$("#WeldingProcess3").val(),'','');
                    }
                    if (showElement != null && showElement != undefined && showElement != "undefined" && showElement != "") {
                        $(showElement).hide();
                    }
                    if (nextElem != null && nextElem != undefined && nextElem != "undefined" && nextElem != "") {
                        $(nextElem).hide();
                    }

                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };
    function LoadAutoComplete(element, sourceList, hdElement) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: false,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id);
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(hdElement).val('');
                }
                else {
                    $(hdElement).val(ui.item.id)
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };
    function LoadSelectDropDown(url, objControl, placeHolder, condParam) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            allowClear: true,
            minimumInputLength: 0,
            ajax: {
                url: WebsiteURL + url,
                type: "POST",
                dataType: 'json',
                data: function (params) {

                    var query = {
                        search: params.term,
                        page: params.page,
                        location:$('#Location').val(),
                    }

                    // Query paramters will be ?search=[term]&page=[page]
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    }
    function LoadSeamPreValueSelect2(url, objControl, caption, param) {
        $.ajax({
            url: WebsiteURL + url,
            type: "GET",
            data: param,
            async: false,
            success: function (data) {
                var option = "";
                $.each(data, function (index, object) {
                    option += "<option value='" + object.id + "' data-project='"+object.project+"'>" + object.text + "</option>";
                });
                $(objControl).html(option);

                objControl.select2({
                    placeholder: caption,
                    delay: 250,
                    allowClear: true,
                    minimumInputLength: 0,
                });
            }
        })

    };

    function sorting(e,$this,$hdElement)
    {
        var element = e.params.data.element;
        var $element = $(element);
        $element.detach();
        $this.append($element);
        $this.trigger("change");
        var selectedval;
        var str = $this.val();
        if (str != '' && str != null && str != undefined) {
            selectedval = str.join(",");
        }
        else {
            selectedval = str;
        }
        if($hdElement != null && $hdElement !="" && $hdElement!=undefined){
            $hdElement.val(selectedval);
        }
        return selectedval;
    }

    function PrintGeneralReport(headerid,url) {
        var dat = [];
        dat.push({ Param: "HeaderId", Value: headerid });
        //dat.push({ Param: "RevNo", Value: 'R' + $("#WPPRevNo").val() });
        ShowReport(dat, url,true);
    }
    function DisableControls(isDisable) {
        $("[data-disabled=true]").prop("disabled", isDisable);
    }
    function RedirectToSpecificIndex()
    {
        var formRedirect = '@ViewBag.formRedirect';
        switch(formRedirect)
        {
            case "m":
                formRedirect = "Index";
                break;
            case "a":
                formRedirect = "Approve";
                break;
            case "r":
                formRedirect = "Release";
                break;
            default :
                formRedirect = "Index";
        }

        window.location.href = WebsiteURL + '/WPP/MaintainWPP/'+formRedirect;
    }
    function showhide(txtval,spn){
        if(txtval.val() !="" && txtval.val() != null && txtval.val() != undefined && txtval.val() != "NA" ){
            $(spn).show();
        }else
        {
            $(spn).hide();
        }
    }

    function SetImage() {
        
        var vPath = $("#SavedFilePath@(FileUpload1ControlID)").val();
        if (vPath != '' && vPath != null && vPath != undefined)
        {
            var vUrl = "/ImageHandler.ashx?type=@clsImplementationEnum.ImageType.FCS.ToString()&fp=" + vPath;
            $("#imgSketch").removeAttr("src");
            $("#imgSketch").attr("src", vUrl);
            $("#dvSketch").show();
        }
        else
        {
            $("#dvSketch").hide();
        }
    }
</script>
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/common.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>