﻿@model IEMQS.DESCore.PartTreeViewModel
@{
    ViewBag.Title = "H-BOM TreeView";
    Layout = "~/Areas/DES/Views/Shared/_DESLayout.cshtml";
}

@Html.HiddenFor(x => x.ItemId)

<div class="m-portlet ">
    <div class="m-portlet__body">
        <div class="row">
            <div class="col-md-6">
                <h4 class="m-portlet__head-text">
                    H-BOM TreeView
                </h4>
            </div>
            <div class="col-md-6 text-right">
                <a href="/DES/DESHBOM/Index?ProjectNo=@Model.ProjectNo" class="btn btn-warning">PowerView</a>
            </div>
        </div>
        <div id="BOM_Power_view" class="table-responsive"></div>
    </div>
</div>

<link href="~/DESAssets/jHTree/CSS/jquery.orgchart.min.css" rel="stylesheet" />
<link href="~/DESAssets/jHTree/CSS/style.css" rel="stylesheet" />
<script src="~/DESAssets/jHTree/js/jquery.orgchart.min.js"></script>

<script>
    $(function () {
        var json = @Html.Raw(Json.Encode(@Model.TreeViewModelList));
        var oc = $('#BOM_Power_view').orgchart({
            'data': json,
            'nodeContent': 'title',
        });
    });
</script>
