﻿
@using IEMQSImplementation

<style>
    #tblWeldKGLines th {
        white-space: pre-line !important;
    }

    #tblWeldKGLines {
        /*overflow: auto !important;
        white-space: pre-line !important;*/
    }

    .colWidth200 {
        width: 80px;
    }


    /*.highlight {
        background-color: #aaed7a !important;
    }

        .highlight:hover {
            background-color: #aaed7a !important;
        }*/
    #tblWeldKGLines tbody > tr.selected {
        background-color: #aaed7a !important;
        /*background-color: rgba(41, 103, 182, 0.89);
        color: #FFF;*/
    }

        #tblWeldKGLines tbody > tr.selected:hover {
            background-color: #aaed7a !important;
        }
</style>
<script>
    $(document).ready(function () {
        var table = $('#tblWeldKGLines');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            "bDestroy": true,
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/WKG/MaintainWeldKG/LoadWeldKGLinesHistoryData?refId=" + $("#Id").val(),
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "aoColumns": [
                {
                    "sClass": "center",
                    "sWidth": "3%",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "SeamNo"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "SeamDescription"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "WEPTYPE"
                },
                //{
                //    "sClass": "center",
                //    "bSortable": true,
                //    //"name": "SeamNo"
                //},
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "LengthArea"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "Thk1"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "Thk2"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "Thk3"
                },
                {
                    "bSortable": true,
                    "sClass": "center",
                    //"sWidth": "10%",
                    "name": "Thk4"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "Thk5"
                },
                {
                    "bSortable": true,
                    "sClass": "center",
                    //"sWidth": "10%",
                    "name": "Thk6"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "CSSS"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "JointType"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "RootRunProcess"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "FaceSideProcess"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "ChipBackProcess"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "MinThk"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "FaceSideArea"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "CBarea"
                },
                {
                    "bSortable": true,
                    "sClass": "center",
                    //"sWidth": "10%",
                    "name": "WeldKgFaceSide"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "WeldKgCBSide"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "TotalWeldKg"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "Remarks"
                },
            ]
        });
    })
</script>


<div class="col-md-12">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                Weld KG Calculation Lines
            </div>
            <div class="tools" id="dvExportHeader">
                @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/WKG/MaintainWeldKG/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYLINES.GetStringValue(), dvId = "#dvExportHeader" })
            </div>
        </div>
        <div class="portlet-body">
            <table id="tblWeldKGLines" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="all" style="width:3%">Sr.No.</th>
                        <th class="all" style="display:none;">LineId</th>
                        <th class="all" style="display:none;">HeaderId</th>
                        <th class="all">Seam  No.</th>
                        <th class="all">Seam Description</th>
                        <th class="all">WEP Type</th>
                        @*<th class="all">Sketch</th>*@
                        <th class="all">LengthArea (mm/mm<sup>2</sup>)</th>
                        <th class="all">Thk1 (mm)</th>
                        <th class="all">Thk2 (mm)</th>
                        <th class="all">Thk3 (mm)</th>
                        <th class="all">Thk4 (mm)</th>
                        <th class="all">Thk5 (mm)</th>
                        <th class="all">Thk6 (mm)</th>
                        <th class="all">CS/SS (kg/mm<sup>3</sup>)</th>
                        <th class="all">Joint Type</th>
                        <th class="all">Root Run Process<div class="colWidth200"></div></th>
                        <th class="all">Face Side Process<div class="colWidth200"></div></th>
                        <th class="all">Chip Back Process<div class="colWidth200"></div></th>
                        <th class="all">Min. Thk</th>
                        <th class="all">Face Side Area<div class="colWidth200"></div></th>
                        <th class="all">C/B Area<div class="colWidth200"></div></th>
                        <th class="all">Weld KG(Face Side)<div class="colWidth200"></div></th>
                        <th class="all">Weld KG(C/B Side)<div class="colWidth200"></div></th>
                        <th class="all">Weld KG</th>
                        <th class="all">Remarks</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


