﻿@using IEMQSImplementation
@model IEMQSImplementation.QMS085
<div class="row" style="width:100%">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <form id="frmLines" class="form-horizontal">
            @Html.HiddenFor(m => m.LineId)
            @Html.HiddenFor(m => m.HeaderId)
            @Html.HiddenFor(m => m.RefHeaderId)
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">UT Tech No</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.UTTechNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">RevNo.</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Zone No</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ZoneNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">Probe</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.Probe, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Wedge</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.Wedge, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Near Refracted Area</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.NearRefractedArea, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">Skip</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.Skip, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Scan Type</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ScanType, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Scanned Spots<span class="required">*</span></label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ScannedSpots, new { @class = "form-control col-md-3", @maxlength = "40" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">Scanned Length<span class="required">*</span></label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ScannedLength, new { @class = "form-control col-md-3", @maxlength = "40" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Scanning Surface<span class="required">*</span></label>
                        <div class="">
                            @Html.DropDownList("ScanningSurface", new List<SelectListItem>
                                                        { new SelectListItem{ Text="Outside", Value = "Outside", Selected= true },
                                                          new SelectListItem{ Text="Inside", Value = "Inside" },
                                                         }, new { @class = "form-control col-md-3" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">ReferencegaindB<span class="required">*</span></label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReferencegaindB, new { @class = "form-control col-md-3", @maxlength = "20" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">TCG Indication Amplitude<span class="required">*</span></label>
                        <div class="">
                            @Html.TextBoxFor(m => m.TCGIndicationAmplitude, new { @class = "form-control col-md-3 number-only", @maxlength = "9" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Probe Sr. No.<span class="required">*</span></label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ProbeSrNo, new { @class = "form-control col-md-3", @maxlength = "20", @required = "required" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                Group List
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table id="tblPAUTSubCategory" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="min-phone-l" style="width:5%;">Group No.</th>
                                        <th class="min-phone-l" style="width:5%;">Angle (Deg.)</th>
                                        <th class="min-phone-l" style="width:5%;">DepthCoverage(mm)</th>
                                        <th class="min-phone-l" style="width:5%;">Focal Depth(mm) </th>
                                        <th class="min-phone-l" style="width:5%;">TCG Indication Amplitude(%)</th>
                                        <th class="min-phone-l" style="width:5%;">Start Element</th>
                                        <th class="min-phone-l" style="width:5%;">No.of Elements</th>
                                        <th class="min-phone-l" style="width:5%;">Angular Incremental Change</th>
                                        <th class="min-phone-l" style="width:5%;">Focal Plane</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>

    $(document).ready(function () {
        LoadSubCategoryData();

        $('.number-only').autoNumeric('init', { vMin: '0', vMax: '9999999999', aSep: '' });
        $('input[maxlength],textarea[maxlength]').maxlength({
            alwaysShow: true,
        });

        $('#frmLines').validate({
            rules: {
                ScannedSpots: { required: true },
                ScannedLength: { required: true },
                ReferencegaindB: { required: true },
                TCGIndicationAmplitude: { required: true },
                ProbeSrNo: { required: true }
            },
            messages: {
                ScannedSpots: { required: "Scanned Spots is required" },
                ScannedLength: { required: "Scanned Length is required" },
                ReferencegaindB: { required: "ReferencegaindB is required" },
                TCGIndicationAmplitude: { required: "TCG Indication Amplitude is required" },
                ProbeSrNo: { required: "Probe Sr. No. is required" }
            }
        });

    });
    function LoadSubCategoryData() {
        var table = $("#tblPAUTSubCategory");
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/MaintainNDESeamTechnique/loadPAUTSubLinesDataTable?id=" + $("#HeaderId").val() + "&lineId=" + $("#LineId").val(),
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportSubLine").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportSubLine").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "aoColumns": [
                {
                    "sClass": "center",
                    "name": "GroupNo",
                },
                {
                    "sClass": "center",
                    "name": "Angle",
                },
                {
                    "sClass": "center",
                    "name": "DepthCoverage",
                },
                {
                    "sClass": "center",
                    "name": "FocalDepth",
                },
                {
                    "sClass": "center",
                    "name": "TCGIndicationAmplitude",
                },
                {
                    "sClass": "center",
                    "sWidth": "5%",
                    "name": "StartElement",
                },
                {
                    "sClass": "center",
                    "name": "NoofElements",
                },
                {
                    "sClass": "center",
                    "name": "AngularIncrementalChange",
                },
                {
                    "sClass": "center",
                    "name": "FocalPlane",
                },
            ]
        })
    };
</script>