﻿IEMQSImplementation
@model IEMQSImplementation.QMS086
<div class="row" style="width:100%">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <form id="frmSubLines" class="form-horizontal">
            @Html.HiddenFor(m => m.SubLineId)
            @Html.HiddenFor(m => m.LineId)
            @Html.HiddenFor(m => m.HeaderId)
            @Html.HiddenFor(m => m.RefHeaderId)
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">UT Tech No</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.UTTechNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">RevNo.</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Zone No</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ZoneNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">Group No</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.GroupNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Angle</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.Angle, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Depth Coverage</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.DepthCoverage, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">Focal Depth</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.FocalDepth, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">TCG Indication Amplitude</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.TCGIndicationAmplitude, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Start Element</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.StartElement, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">Number of Elements</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.NumberofElements, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Angular Incremental Change</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.AngularIncrementalChange, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Focal Plane</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.FocalPlane, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

