﻿@model List<IEMQS.Areas.IPI.Models.HBOMModel>
@{ 
    List<IEMQSImplementation.SelectItemList> lstSection = (List<IEMQSImplementation.SelectItemList>)ViewBag.lstSection;
    List<IEMQSImplementation.SelectItemList> lstDrawingNo = (List<IEMQSImplementation.SelectItemList>)ViewBag.lstDrawingNo;
}
<style>
    #tblHBOMParts td, #tblHBOMParts th{
        font-size: 11px !important;
    }
</style>
<script>
    $(document).ready(function () {
        var defaultBody= $('#tblHBOMParts tbody').html();
        var lstSection = @Html.Raw(Json.Encode(ViewBag.lstSection));
        Select2EditWithSource($('#fltSection'), lstSection, "--Select Section--")
        $('#fltSection').change(function () {
            $('.txtStrWhere','#dvExportHeader').val($('#fltSection').val()+","+$('#fltDrawingNo').val());
            if(!this.value)
                $('#tblHBOMParts tbody').html(defaultBody);
            else {
                $('#fltDrawingNo').val(null).trigger('change');
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/IPI/HBOMPreparation/GetSectionPart",
                    datatype: 'html',
                    beforeSend: function () { showLoading(true); },
                    complete: function () { showLoading(false); },
                    data: { parentPartName: this.value, parentSeries: "-"+this.value+"-", hLevel: 0, project: '@ViewBag.Project'},
                    success: function (result) {
                        $('#tblHBOMParts tbody').html(result);
                    },
                    error: function () {
                    }
                });
            }
        });

        var lstDrawingNo = @Html.Raw(Json.Encode(ViewBag.lstDrawingNo));
        Select2EditWithSource($('#fltDrawingNo'), lstDrawingNo, "--Select Drawing No--")
        $('#fltDrawingNo').change(function () {
            $('.txtStrWhere','#dvExportHeader').val($('#fltSection').val()+","+$('#fltDrawingNo').val());
            if(!this.value)
                $('#tblHBOMParts tbody').html(defaultBody);
            else {
                $('#fltSection').val(null).trigger('change');
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/IPI/HBOMPreparation/GetPartByDrawingNo",
                    datatype: 'html',
                    beforeSend: function () { showLoading(true); },
                    complete: function () { showLoading(false); },
                    data: { project: '@ViewBag.Project', drawingNo: this.value},
                    success: function (result) {
                        $('#tblHBOMParts tbody').html(result);
                    },
                    error: function () {
                    }
                });
            }
        });
    });
    function OpenSubParts(parentPart, objAnchor) {
        $("." + parentPart).show();
        $(objAnchor).hide();
        $(objAnchor).closest('td nobr').children('.fa-minus-circle').show();

        $("tr[class*='" + parentPart + "'] .fa-plus-circle").show();
        $("tr[class*='" + parentPart + "'] .fa-minus-circle").hide();

        $("tr[class*='" + parentPart + "']").children('.fa-plus-circle').show();
        $("tr[class*='" + parentPart + "']").children('.fa-minus-circle').hide();

    }

    function CloseSubParts(parentPart, objAnchor) {
        $("tr[class*='" + parentPart + "']").hide();

        $(objAnchor).hide();
        $(objAnchor).closest('td nobr').children('.fa-plus-circle').show();

        $("tr[class*='" + parentPart + "']").children('.fa-minus-circle').hide();
        $("tr[class*='" + parentPart + "']").children('.fa-plus-circle').show();

    }

    function LoadChildParts(Part, Series, obj, ParentLevel) {
        var Lvl = ParentLevel + 1;
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/HBOMPreparation/GenerateClildControls",
            datatype: 'html',
            beforeSend: function () { showLoading(true); },
            complete: function () { showLoading(false); },
            data: { parentPartName: Part, parentSeries: Series, hLevel: Lvl, project: '@ViewBag.Project' },
            success: function (result) {
                $(obj).closest('tr').after(result);

                $(obj).closest('tr').addClass("generated");

                $(obj).hide();
                $(obj).closest('td nobr').children('.fa-minus-circle').show();

                $("tr[class*='" + Series + "'] .fa-plus-circle").show();
                $("tr[class*='" + Series + "'] .fa-minus-circle").hide();

                $("tr[class*='" + Series + "']").children('.fa-plus-circle').show();
                $("tr[class*='" + Series + "']").children('.fa-minus-circle').hide();
            },
            error: function () {
            }
        });
    }
</script>
<div style="margin-top: -40px;">
    <div class="col-md-6">
    </div>
    <div class="col-md-3">
        <i class="btn fa fa-times" title="Clear DrawingNo Filter" style="position: absolute; right: 30px; z-index: 1;" onclick="$('#fltDrawingNo').val(null).trigger('change');"></i>
        <select id="fltDrawingNo" class="form-control">
            <option value=""> --Select Drawing No-- </option>
        </select>
    </div>
    <div class="col-md-3">
        <i class="btn fa fa-times" title="Clear Section Filter" style="position: absolute; right: 30px; z-index: 1;" onclick="$('#fltSection').val(null).trigger('change');"></i>
        <select id="fltSection" class="form-control">
            <option value=""> --Select Section-- </option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    H-BOM
                </div>
                <div class="tools" id="dvExportHeader">
                    <input type="hidden" class="txtStrWhere" />
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/HBOMPreparation/GenerateExcel", GridType = ViewBag.Project, dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblHBOMParts" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">Part</th>
                            <th class="min-phone-l">Drawing No.</th>
                            <th class="min-phone-l">Section</th>
                            <th class="min-phone-l">Description</th>
                            <th class="min-phone-l">Item Group</th>
                            <th class="min-phone-l">Revision No</th>
                            <th class="min-phone-l">Position</th>
                            <th class="min-phone-l">Item Status</th>
                            <th class="min-phone-l">ARM Set / Material Specification</th>
                            <th class="min-phone-l">Material Description</th>
                            <th class="min-phone-l">Length</th>
                            <th class="min-phone-l">Width</th>
                            <th class="min-phone-l">Thickness</th>
                            <th class="min-phone-l">No. of Pieces</th>
                            <th class="min-phone-l">Qty/Wt(Kg)</th>
                            <th class="min-phone-l">UOM</th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.Raw(ViewBag.ChildParts)

                        @*@foreach (var p in Model.Where(c => c.ParentPart == ""))
                            {
                                <tr>
                                    <td>
                                        <nobr>
                                            @if (Model.Count(c => c.ParentPart == p.Part) > 0)
                                            {
                                                <a onclick="OpenSubParts('@p.Part.Replace(".","-")',this)" class="fa fa-plus-circle"></a>
                                                <a onclick="CloseSubParts('@p.Part.Replace(".","-")',this)" style="display: none" class="fa fa-minus-circle"></a>
                                            }@p.Part
                                        </nobr>
                                    </td>
                                    <td>@p.Description</td>
                                    <td>@p.ItemGroup</td>
                                    <td>@p.RevisionNo</td>
                                    <td>@p.FindNo</td>
                                    <td>@p.MaterialSpecification</td>
                                    <td>@p.MaterialDescription</td>
                                    <td>@p.Length</td>
                                    <td>@p.Width</td>
                                    <td>@p.Thickness</td>
                                    <td>@p.NoOfPieces</td>
                                    <td>@p.Weight</td>
                                    <td>@p.UOM</td>
                                </tr>

                                foreach (var s in Model.Where(c => c.ParentPart == p.Part))
                                {
                                    <tr class="collapse @p.Part.Replace(".","-")">
                                        <td style="padding-left: 20px">
                                            <nobr>
                                                @if (Model.Count(c => c.ParentPart == s.Part) > 0)
                                                {
                                                    <a onclick="OpenSubParts('@p.Part.Replace(".","-")-@s.Part.Replace(".","-")',this)" class="fa fa-plus-circle"></a>
                                                    <a onclick="CloseSubParts('@p.Part.Replace(".","-")-@s.Part.Replace(".","-")',this)" style="display: none;" class="fa fa-minus-circle"></a>
                                                }@s.Part
                                            </nobr>
                                        </td>
                                        <td>@s.Description</td>
                                        <td>@s.ItemGroup</td>
                                        <td>@s.RevisionNo</td>
                                        <td>@s.FindNo</td>
                                        <td>@s.MaterialSpecification</td>
                                        <td>@s.MaterialDescription</td>
                                        <td>@s.Length</td>
                                        <td>@s.Width</td>
                                        <td>@s.Thickness</td>
                                        <td>@s.NoOfPieces</td>
                                        <td>@s.Weight</td>
                                        <td>@s.UOM</td>
                                    </tr>

                                    foreach (var s2 in Model.Where(c => c.ParentPart == s.Part))
                                    {
                                        <tr class="collapse @p.Part.Replace(".","-")-@s.Part.Replace(".","-")">
                                            <td style="padding-left: 40px">
                                                <nobr>
                                                    @if (Model.Count(c => c.ParentPart == s2.Part) > 0)
                                                    {
                                                        <a onclick="OpenSubParts('@p.Part.Replace(".","-")-@s.Part.Replace(".","-")-@s2.Part.Replace(".","-")',this)" class="fa fa-plus-circle"></a>
                                                        <a onclick="CloseSubParts('@p.Part.Replace(".","-")-@s.Part.Replace(".","-")-@s2.Part.Replace(".","-")',this)" style="display: none; " class="fa fa-minus-circle"></a>
                                                    }@s2.Part
                                                </nobr>
                                            </td>
                                            <td>@s2.Description</td>
                                            <td>@s2.ItemGroup</td>
                                            <td>@s2.RevisionNo</td>
                                            <td>@s2.FindNo</td>
                                            <td>@s2.MaterialSpecification</td>
                                            <td>@s2.MaterialDescription</td>
                                            <td>@s2.Length</td>
                                            <td>@s2.Width</td>
                                            <td>@s2.Thickness</td>
                                            <td>@s2.NoOfPieces</td>
                                            <td>@s2.Weight</td>
                                            <td>@s2.UOM</td>
                                        </tr>

                                        foreach (var s3 in Model.Where(c => c.ParentPart == s2.Part))
                                        {
                                            <tr class="collapse @p.Part.Replace(".","-")-@s.Part.Replace(".","-")-@s2.Part.Replace(".","-")">
                                                <td style="padding-left: 60px"><nobr>@s3.Part</nobr></td>
                                                <td>@s3.Description</td>
                                                <td>@s3.ItemGroup</td>
                                                <td>@s3.RevisionNo</td>
                                                <td>@s3.FindNo</td>
                                                <td>@s3.MaterialSpecification</td>
                                                <td>@s3.MaterialDescription</td>
                                                <td>@s3.Length</td>
                                                <td>@s3.Width</td>
                                                <td>@s3.Thickness</td>
                                                <td>@s3.NoOfPieces</td>
                                                <td>@s3.Weight</td>
                                                <td>@s3.UOM</td>
                                            </tr>
                                        }
                                    }

                                }
                            }*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
