﻿@using IEMQSImplementation
@{
    ViewBag.Title = "Display Design H-BOM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>*@
<style>
    .clsBootbox .modal-lg {
        width: 95% !important;
    }
    .borderleftRE {
        border-left: 5px solid red;
    }
    .borderleftGR {
        border-left: 5px solid green;
    }
    .borderleftYE {
        border-left: 5px solid yellow;
    }
    .borderleftVI {
        border-left: 5px solid violet;
    }
    .borderleftGY {
        border-left: 5px solid grey;
    }
    .borderleftOR {
        border-left: 5px solid orange;
    }
    .borderleftDE {
        border-left: 5px solid white;
    }
    .borderleftBL {
        border-left: 5px solid blue;
    }
    
    
    .quick-nav:not(.nav-is-visible) .quick-nav-bg {
        position: initial;
        width: 35px;
        height: 30px;
        box-shadow: unset;
        z-index: unset;
    }

    .quick-nav:not(.nav-is-visible) .quick-nav-trigger {
        display: none;
    }

    .colorindication {
        padding: 40px 0 0 !important;
        width: 626px;
    }
    .fa-backcolor {
        background: #d6fcff !important;
        width: 100%;
    } 

    .icon-stack-1x {
        line-height: 4.1;
        font-size: 14.5px;
        position: absolute;
        left: -5px;
        width: 100%;
        text-align: right;
    }

    .icon-stack {
        display: inline-block;
        width: 2em;
        height: 5em;
        line-height: 4em;
        left: -10px;
    }

    /*.fa-backcolor {
        background-color: #ffffff !important;
    }*/

    .fa-fontclr {
        color: #000 !important;
    }

    .fa-success {
        color: lawngreen !important;
    }

    .fa-warning {
        color: yellow !important;
    }

    .fa-danger {
        color: red !important;
    }

    .fa-voilet {
        color: #ff02ff !important;
    }

    .fa-gray {
        color: lightgray !important;
    }

    .fa-orange {
        color: orange !important;
    }

    .fa-blue {
        color: blue !important;
    }
</style>
<script>
    $(document).ready(function () {
        $('#ShowColorInfo2,.colorindication').click(function () {
            $('.quick-nav2').toggleClass('nav-is-visible');
            return false;
        });
        $("#txtProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetProjectResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectDescription, id: item.projectCode };
                        }));
                        if (data.length > 0) {
                            isSelectedProject = true;
                        }
                        else {
                            isSelectedProject = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    var proj = ui.item.value;
                    $("#txtProject").val(proj);
                    $("#project").val(ui.item.id);
                    $('#check-box').attr('disabled', false);

                    GetCustomerAndContractNo(ui.item.id);
                    const checked = $('#check-box').prop('checked');
                    if (checked) {
                        getExpandedResult(ui.item.id);
                    } else {
                        GetHBOMGridDataPartial(ui.item.id);
                    }
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });
    });

    function GetCustomerAndContractNo(project) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/HBOMPreparation/GetCustomerAndContractNo",
            data: { project: project },
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                if (result != null) {
                    $("#txtCustomer").val(result.Customer);
                    $("#txtContractNo").val(result.Contract);
                }
            },
            error: function () {
            }
        });
    }

    function GetHBOMGridDataPartial(filterText) {
        $("#portlet_comments_1").empty();
        $.ajax({
            type: "GET",
            url: WebsiteURL + "/IPI/HBOMPreparation/GetHBOMGridDataPartial",
            data: { project: filterText },
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                $("#portlet_comments_1").html(result);
            },
            error: function () {
            }
        });
    }

    function getExpandedResult(filterText) {
        $("#portlet_comments_1").empty();
        $.ajax({
            type: 'GET',
            url: WebsiteURL + '/IPI/HBOMPreparation/GetHBOMExpandedGridDataPartial',
            data: { project: filterText },
            contentType: 'application/json',
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                $('#portlet_comments_1').html(result);
            },
            error: function () {
                showLoading(false);
            }
        });
    }

    function showExplanded(e) {
        const project = $('#project').val();
        if (e.target.checked) {
            getExpandedResult(project);
        } else {
            GetHBOMGridDataPartial(project);
        }
    }
</script>
<style type="text/css">
    .checkbox-style {
        cursor: pointer;
        font-size: 15px;
    }

        .checkbox-style > input {
            cursor: pointer;
            height: 16px;
            vertical-align: bottom;
            width: 16px;
        }

    .dataTables_wrapper .dataTables_processing {
        padding: 8px !important;
    }
    
</style>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <input id="project" type="hidden" />
                <div class="row">
                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            <h1 class="page-title">
                                Display Design H-BOM
                                <small></small>
                            </h1>
                        </div>
                        <div class="col-md-1" style="text-align:right">
                            <div class="">
                                <label class="control-label">Project<span class="required"> * </span></label>
                            </div>
                        </div>
                        <div class="col-md-5" style="text-align:right">
                            <div class="">
                                <input type="text" id="txtProject" value="" name="txtProject" class="form-control col-md-3" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="col-md-12" style="padding:0px !important;">
                                <div class="col-md-2" style="text-align:right">
                                    <label class="control-label">Customer</label>
                                </div>
                                <div class="col-md-4" style="padding:0px !important;">
                                    <input type="text" id="txtCustomer" value="" readonly name="txtCustomer" class="form-control col-md-3" />
                                </div>
                                <div class="col-md-2" style="text-align:right">
                                    <label class="control-label">Contract No.</label>
                                </div>
                                <div class="col-md-4" style="padding:0px !important;">
                                    <input type="text" id="txtContractNo" value="" readonly name="txtContractNo" class="form-control col-md-3" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <label id="ShowColorInfo2" class="btn btn-circle white btn-outline btn-sm" style="position: relative; z-index: 10104; right: 15px; float: right;" title="Color Legend">
                        &nbsp; &nbsp;
                        <i class="fa fa-circle" style="color:#ed6b75;position: absolute;font-size: 7.5px;top: 1px;right: 12px;"></i>
                        <i class="fa fa-circle" style="color:#f3a20f;position: absolute;font-size: 7.5px;top: 7px;right: 18px;"></i>
                        <i class="fa fa-circle" style="color:#f1f158;position: absolute;font-size: 7.5px;top: 7px;right: 5px;"></i>
                        <i class="fa fa-circle" style="color:#d28cd2;position: absolute;font-size: 7.5px;top: 15px;right: 15px;"></i>
                        <i class="fa fa-circle" style="color:#04ff04;position: absolute;font-size: 7.5px;top: 15px;right: 7px;"></i>
                    </label>
                </div>
                <div class="portlet-title tabbable-line" style="display:none">
                </div>
                <div class="portlet-body">
                    <div class="tab-content"> 
                        <label class="mt-checkbox mt-checkbox-outline" for="check-box">
                            @Html.CheckBox("check-box", false, new { @class = "clsReadOnly", onchange = "showExplanded(event)", disabled = "disabled" }) Expand All
                            <span></span>
                        </label>
                        <a class="hide" onclick="LoadHBOMHierarchy()" style="margin-left:20px;" title="View H-BOM In Tree View"><i class="fa fa-sitemap" style="font-size:22px;"></i></a>
                        <div class="tab-pane active" id="portlet_comments_1">
                        </div>
                    </div>
                </div>
                
                <nav class="quick-nav quick-nav2" style="position: absolute; top: 100px; right: 18px;margin-top: unset;">
                    <ul class="colorindication">
                        <li class="fa-backcolor">
                            <a href="javascript:searchDiagramByColor('@clsImplementationEnum.ColorFlagForFKMS.Red.GetStringValue()');">
                                <span class="fontf" style="color:#000;">Allocation Not Done / All Item's Allocation Not Done / Material Not ready </span> <i class="fa fa-circle fa-danger"></i>
                            </a>
                        </li>
                        <li class="fa-backcolor">
                            <a href="javascript:searchDiagramByColor('@clsImplementationEnum.ColorFlagForFKMS.Orange.GetStringValue()');">
                                <span class="fontf" style="color:#000;">All Item's Allocation Done  /  Document/Fixture-Not Ready</span> <i class="fa fa-circle fa-orange"></i>
                            </a>
                        </li>
                        <li class="fa-backcolor">
                            <a href="javascript:searchDiagramByColor('@clsImplementationEnum.ColorFlagForFKMS.Yellow.GetStringValue()');">
                                <span class="fontf" style="color: #000;">Allocation Changed /Partial Item's Allocation Done /Request to be Re-generate </span> <i class="fa fa-circle fa-warning"></i>
                            </a>
                        </li>
                        <li class="fa-backcolor">
                            <a href="javascript:searchDiagramByColor('@clsImplementationEnum.ColorFlagForFKMS.Violet.GetStringValue()');">
                                <span class="fontf text-nowrap" style="color: #000;">Any Item's allocated quantity and required quantity is Mismatch / Task Manager is Mismatch </span> <i class="fa fa-circle fa-voilet"></i>
                            </a>
                        </li>
                        <li class="fa-backcolor">
                            <a href="javascript:searchDiagramByColor('@clsImplementationEnum.ColorFlagForFKMS.Green.GetStringValue()');">
                                <span class="fontf" style="color: #000;">Allocation Done / Kit released / Material Requested</span> <i class="fa fa-circle fa-success"></i>
                            </a>
                        </li>
                        <li class="fa-backcolor">
                            <a href="javascript:searchDiagramByColor('@clsImplementationEnum.ColorFlagForFKMS.Blue.GetStringValue()');">
                                <span class="fontf" style="color: #000;">Ready For Parent</span> <i class="fa fa-circle fa-blue"></i>
                            </a>
                        </li>
                    </ul>
                    <span aria-hidden="true" class="quick-nav-bg"></span>
                </nav>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/GoJS/go-1.8.35.js"></script>
<script src="~/Scripts/GoJS/HyperlinkText.js"></script>
<script src="~/Scripts/GoJS/Figures.js"></script>
<script src="~/Scripts/GoJS/ZoomSlider.js"></script>
<script type="text/javascript">
    function LoadHBOMHierarchy() {
        if ($("#project").val().trim() != "") {
            $.ajax({
                type: 'GET',
                url: WebsiteURL + '/IPI/HBOMPreparation/GetHBOMHierarchyPartial',
                data: { Project: $("#project").val() },
                contentType: 'application/json',
                datatype: 'html',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (result) {
                  dialog= bootbox.dialog({
                        title: 'HBOM Hierarchy',
                        message: result,
                        size: "large",
                        className: "higherzindex clsBootbox",                       
                    });
                },
                error: function () {
                    showLoading(false);
                }
            });
        }
        else {
            DisplayNotiMessage("info", "Please Select Project", "Information");
        }
    }
</script>