﻿@using IEMQSImplementation
@model SSS022
@{
    ViewBag.Title = "CSR Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />
<style>
    .clsNewBtn {
        height: 20px !important;
        padding: 0px 5px;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    /*legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }*/

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <form id="frmPCCInput">
                    <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                        <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                            <span class="page-title">Contractual Specification Review Notes </span>
                            <input type="hidden" id="hdnid" />
                            @Html.HiddenFor(m => m.SSSId)
                            @Html.HiddenFor(m => m.CSRId)
                        </div>
                        <div class="ribbon ribbon-right ribbon-color-warning">
                            Status :  <span style="font-weight:bolder" id="spanStatus"> @Model.Status.Trim()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="divSSSHeader"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="control-label">ParticipantList</label>
                                <select name="ddlEmployee" id="ddlEmployee" multiple="multiple" style="" width:100%" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="control-label">Notes</label>
                                @Html.TextBoxFor(m => m.Notes, new { @class = "form-control", @maxlength = "300" })
                            </div>
                        </div>

                        <div class="col-md-12" style="text-align:right;margin-top:15px;">
                            <input type="button" class="btn submit" id="btnSubmit" value="Submit" style="display:none" />
                            <input type="button" class="btn save" id="btnSave" value="Save" />
                            <input type="button" class="btn btnclose" id="btnClose" value="Close" />
                        </div>
                    </div>
                </form>
                <div id="divLines" style="margin-top:20px;">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
<script>
    var currenttab;

    var RoleId = '@ViewBag.RoleId';
    var Status = '@Model.Status';
    var CSRId = '@Model.CSRId'
    var SSSId = '@Model.SSSId'
    var tbl;

    $(document).ready(function () {
        tbl = $('#tblLines');
        BindSSSHeader('@Model.SSSId');

        $('.date-picker').datepicker({
            startDate: '+0d',
            orientation: "bottom auto",
            autoclose: true
        });

        $.extend($.fn.autoNumeric.defaults, {
            aSep: '',
            aDec: '.'
        });
        jQuery(function ($) {
            $('.numeric').autoNumeric('init', { aPad: "fase", vMax: "1000000000", aForm: "false" });
            $('.minutes').autoNumeric('init', { aPad: "fase", vMax: "60", aForm: "false" });
        });
        LoadPreValueSelect("/SSS/CSRNotes/GetEmployees", $('#ddlEmployee'), "--Select Employee--", "");
        var pccEmp = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.ParticipantList))));

        if (pccEmp != null) {
            $('#ddlEmployee').val(LoadSelect2OnEdit(pccEmp)).trigger('change');
        }

        function LoadSelect2OnEdit(strPosition) {
            var arrPositions;
            if (strPosition.length > 0) {
                arrPositions = strPosition.split(',');
            }
            return arrPositions;
        }

        function LoadPreValueSelect(url, objControl, caption, param) {
            $.ajax({
                url: WebsiteURL + url,
                type: "GET",
                data: param,
                async: false,
                delay: 1000,
                success: function (data) {
                    var option = "";
                    $.each(data, function (index, object) {
                        option += "<option value='" + object.id + "'>" + object.text + "</option>";
                    });
                    $(objControl).html(option);

                    objControl.select2({
                        placeholder: caption

                    });
                }
            })

        };

        $('#frmPCCInput').validate({
            rules: {
                ddlEmployee: {
                    required: true,
                },
            },
            messages: {
                ddlEmployee: {
                    required: "PersonList Is Required",
                },

            }
        });

        $('.date-picker').datepicker({
            startDate: '+0d',
            orientation: "bottom auto",
            autoclose: true
        });

    });

    function BindSSSHeader(SSSId) {
        $('#divSSSHeader').load(
            $.ajax({
                url: WebsiteURL + "/SSS/MaintainSSS/GetSSSHeaderDetails",
                type: "POST",
                data: { SSSId: SSSId, DisplayDSS: false },
                dataType: "html",
                //async:false,
                success: function (data) {
                    //console.log(data);
                    $('#divSSSHeader').html(data);
                }
            })
      );
    }

    function BindLines(Id) {
        $.ajax({
            url: WebsiteURL + "/SSS/CSRNotes/GetCSRNotestLineDataGridPartial",
            type: "POST",
            data: { SSSId: SSSId, CSRId: Id },
            dataType: "html",
            //async:false,
            success: function (data) {
                //console.log(data);
                $('#divLines').html(data);
            }
        })

    }

    if ('@Model.CSRId' > 0) {
        if ('@Model.Status' == '@IEMQS.Areas.SSS.Controllers.SSSStatus.Draft.GetStringValue()') {
            $('#btnSubmit').show();
        }
        else {
            $('#btnSubmit').hide();
            $('#btnSave').hide();
            $('#Notes').prop("readonly", "readonly");
            $('#ddlEmployee').prop("disabled", "disabled");
        }

        $('#divLines').show();
        BindLines('@Model.CSRId');
    }
    if (RoleId == '@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.PMG)' || RoleId == '@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.MOM)') {
        $('#ddlEmployee').prop("readonly", "readonly")
        $('#Notes').prop("readonly", "readonly")
        $('#btnSave').hide();
        $('#btnSubmit').hide();
    }

    if ('@ViewBag.ToUserName' != null) {
        $('#txtToPerson').val('@ViewBag.ToUserName')
    }
    console.log('@ViewBag.FromUserName');
    if ('@ViewBag.FromUserName' != null) {
        $('#txtFromPerson').val('@ViewBag.FromUserName')
    }

    $('#btnSave').click(function () {
        if ($("#frmPCCInput").valid()) {
            Save();
        }
        else {
            HighlightInValidControls();
            return false;
        }
    });

    $('#btnSubmit').click(function () {
        if ($("#frmPCCInput").valid()) {
            SubmitCSRNotes();
        }
        else {
            HighlightInValidControls();
            return false;
        }
    });

    function Save() {
        var frmAddSSS = $("#frmPCCInput").serializeArray();
        var formdata = new FormData();
        if (frmAddSSS != null && frmAddSSS != undefined) {
            $.each(frmAddSSS, function (key, input) {
                formdata.append(input.name, input.value);
            });
        }

        $.ajax({
            url: WebsiteURL + "/SSS/CSRNotes/SaveCSRNotes",
            data: {
                SSSId: $("#SSSId").val(),
                Notes: $("#Notes").val(),
                ParticipantList: $("#ddlEmployee").val().join(','),
                CSRId: $("#CSRId").val()
            },
            type: "POST",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (res) {
                if (res.Key == true) {
                    $('#CSRId').val(res.HeaderId);
                    BindLines(CSRId);
                    CSRId = res.HeaderId;
                    setTimeout(DisplayNotiMessage("success", res.Value, "Success"), 2000);
                    if ($('#spanStatus').html().trim() == '@IEMQS.Areas.SSS.Controllers.SSSStatus.Draft.GetStringValue()') {
                        $('#btnSubmit').show();
                    }
                }
                else {
                    setTimeout(DisplayNotiMessage("error", res.Value, "Error"), 2000);
                }
            },
            error: function () { },
        });
    }

    function SubmitCSRNotes() {
        $.ajax({
            url: WebsiteURL + "/SSS/CSRNotes/SubmitCSRNotes",
            type: "POST",
            datatype: "json",
            data: { CSRId: CSRId },
            success: function (res) {
                if (res.Key) {
                    DisplayNotiMessage("success", res.Value, "Success");
                    if (RoleId == '@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.DE)') {
                        window.location.href = WebsiteURL + "/SSS/CSRNotes/IndexDE"
                    }
                    else if (RoleId == '@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.PMG)') {
                        window.location.href = WebsiteURL + "/SSS/CSRNotes/IndexPMG"
                    }
                    else if (RoleId == '@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.MOM)') {
                        window.location.href = WebsiteURL + "/SSS/CSRNotes/IndexMOM"
                    }
                }
                else {
                    DisplayNotiMessage("error", res.Value, "Error");
                }
            },
            error: function () {
                alert("error");
                response = "";
            }
        });
    }

    $('#btnClose').click(function () {
        if (RoleId == '@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.DE)') {
            window.location.href = WebsiteURL + "/SSS/CSRNotes/IndexDE"
        }
        else if (RoleId == '@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.PMG)') {
            window.location.href = WebsiteURL + "/SSS/CSRNotes/IndexPMG"
        }
        else if (RoleId == '@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.MOM)') {
            window.location.href = WebsiteURL + "/SSS/CSRNotes/IndexMOM"
        }
    });

</script>
