﻿
@model IEMQSImplementation.NDE007
@using IEMQSImplementation
@{
    ViewBag.Title = "View PT Technique";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.7;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<script>
    $(document).ready(function () {
        $("#frmApprove").validate({
            rules: {
                "ReturnRemarks": {
                    required: true,
                    maxlength: "100"
                }
            },
            messages: {
                "ReturnRemarks": {
                    required: "Return Remark Is Required",
                    maxlength: "Return Remark should be of 100 characters"
                }
            }
        });

        if ('@Model.Status' == '@clsImplementationEnum.NDETechniqueStatus.SentForApproval.GetStringValue()') {
            $("#btnReturn").show();
            $("#btnApprove").show();
        }
        if ('@Model.LightSource' != null && '@Model.LightSource' == "LTS007") {
            $("#dvLightSourceOther").removeClass("hidden");
        }
        $("#btnReturn").click(function () {
            if ($("#frmApprove").valid()) {
                bootbox.dialog({
                    title: "Return",
                    message: "Do you Want To Return Technique?",
                    size: "medium",
                    buttons: {
                        Yes: {
                            Label: "Yes",
                            className: 'btn green',
                            callback: function () {
                                $.ajax({
                                    url: WebsiteURL + "/NDE/ApprovePTTechnique/ReturnHeader",
                                    type: 'POST',
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    data: { headerId: parseInt($("#HeaderId").val()), returnRemark: $("#ReturnRemarks").val() },
                                    success: function (res) {
                                        if (res.Key == true) {
                                            DisplayNotiMessage("success", res.Value, "Success")
                                            setTimeout(window.location = '@Url.Action("Index", "ApprovePTTechnique")', 3000);
                                        }
                                        else {
                                            DisplayNotiMessage("error", res.Value, "Error");
                                        }
                                    },
                                    errors: function (error) {
                                        DisplayNotiMessage("error", error.data, "Error");
                                    }
                                });
                            }
                        },
                        Cancel: {
                            label: 'No',
                            className: 'btn red',
                            callback: function () { }
                        }
                    }
                })


            }
            else {
                HighlightInValidControls();
                return false;
            }
        });

        $("#btnApprove").click(function () {

            bootbox.dialog({
                title: "Approve Confirmation",
                message: "Do you want to approve?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            $.ajax({
                                url: WebsiteURL + "/NDE/ApprovePTTechnique/ApproveHeader",
                                type: 'POST',
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                data: { headerId: parseInt($("#HeaderId").val()), returnRemark: $("#ReturnRemarks").val() },
                                success: function (res) {
                                    if (res.Key == true) {
                                        DisplayNotiMessage("success", res.Value, "Success")
                                        setTimeout(window.location = '@Url.Action("Index", "ApprovePTTechnique")', 3000);
                                    }
                                    else {
                                        DisplayNotiMessage("error", res.Value, "Error");
                                    }
                                },
                                errors: function (error) {
                                    DisplayNotiMessage("error", error.data, "Error");
                                }
                            });
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }
                }
            });
        });

    })
</script>

<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Approve PT Technique</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning">
                        <span style="font-weight:bolder">Status : @Html.DisplayFor(m => m.Status) </span>
                        @Html.HiddenFor(m => m.Status)
                    </div>
                </div>

                <div id="dvPTTechniqueHeader">
                    <form id="frmApprove" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">

                                <fieldset>
                                    <legend>Project Details</legend>
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Quality Project</label>
                                            <div class="">
                                                @Html.TextBox("QMSProject", (string)ViewBag.QMSProject, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            <div class="">
                                                @Html.TextBox("Project", (string)ViewBag.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            <div class="">
                                                @Html.TextBox("BU", (string)ViewBag.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            <div class="">
                                                <input type="text" name="Location" id="Location" class="form-control col-md-3" value="@ViewBag.Location" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Method</label>
                                            <div class="">
                                                @Html.TextBox("Method", (string)ViewBag.PTMethod, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">PT Technique No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TechniqueSheetNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(m => m.DocNo)
                                        <div class="col-md-3">
                                            <label class="control-label">Document No</label>
                                            @Html.TextBoxFor(m => m.PTTechNo, new { @class = "form-control col-md-3", @readonly = true, @maxlength = "100" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">RevNo.</label>
                                            @Html.TextBoxFor(m => m.RevNo, "R" + Model.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Manufacturing Code</label>
                                            <div class="">
                                                @*@Html.TextBoxFor(m => m.man, new { @class = "form-control col-md-3", @readonly = "readonly" })*@
                                                @Html.TextBox("txtManfCode", (string)ViewBag.MfgCode, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                @*<input type="text" id="txtManfCode" name="txtManfCode" value="" class="form-control col-md-3" readonly="readonly" />*@
                                            </div>
                                        </div>
                                        @* <div class="col-md-3">
                                                <label class="control-label">Procedure No.</label>
                                                @Html.TextBoxFor(m => m.ProcedureNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>*@
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Technique Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Method Of Examination<span class="required">* </span></label>
                                            @Html.TextBoxFor(m => m.MethodOfExamination, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Drying Time(min.)</label>
                                            @Html.TextBoxFor(m => m.DryingTime, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Surface Temperature(Deg.C)</label>
                                            @Html.TextBoxFor(m => m.SurfaceTemperature, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">PT procedure with Rev. No.<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.ProcedureNo, new { @class = "form-control col-md-3", @maxlength = "50", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Cleaning Solvent</label>
                                            @Html.TextBox("CleaningSolvent", (string)ViewBag.CleaningSolvent, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Penetrant Application Method</label>
                                            @Html.TextBox("ApplicationMethod", (string)ViewBag.ApplicationMethod, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>

                                        <div class="col-md-3">
                                            <label class="control-label">Penetrant Dwell Time (min.)</label>
                                            @Html.TextBoxFor(m => m.DwellTime, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Excess Penetrant removal method  </label>
                                            @Html.TextBox("RemovalMethod", (string)ViewBag.RemovalMethod, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Penetrant Process Type<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.PenetrantProcessType, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Post Cleaning<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.PostCleaning, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Developer Application Method</label>
                                            @Html.TextBoxFor(m => m.DevAppMethod, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Developer Dwell Time (min.)</label>
                                            @Html.TextBoxFor(m => m.DevDwellTime, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="col-md-12">

                                        <div class="col-md-3">
                                            <label class="control-label">Visible/UV Light Intensity </label>
                                            @Html.TextBox("LightIntensity", (string)ViewBag.LightIntensity, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Light Source</label>
                                            @Html.TextBox("LightSource", (string)ViewBag.LightSource, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3 hidden" id="dvLightSourceOther">
                                            <label class="control-label">Other Light Source</label>
                                            @Html.TextBoxFor(m => m.OtherLightSource, new { @class = "form-control", @maxlength = "50", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <label class="control-label">Planner Remarks<span class="required">* </span></label>
                                            @Html.TextBoxFor(m => m.PlannerRemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6" style="padding-right:2.5%;">
                                            <label class="control-label">Return Remarks</label>
                                            @Html.TextBoxFor(m => m.ReturnRemarks, new { @class = "form-control col-md-3", @maxlength = "100" })
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="text-align:right;margin-top:2% !important;padding-right:3%">
                                        <div class="col-md-6" style="text-align:left;">
                                            <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" onclick="PrintReport();"  title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                        </div>
                                        <input type="button" id="btnApprove" class="btn approve" value="Approve" style="display:none;"/>
                                        <input type="button" id="btnReturn" class="btn return" value="Return"    style="display:none;"/>
                                        <a href='@Url.Action("Index","ApprovePTTechnique")' class="btn btnclose">Close</a>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>
<script>
    function PrintReport() {
        var HeaderId = $('#HeaderId').val();
        var Status = $('#Status').val();
        if (Status == 'Approved') {
            var url = "/NDE/Approved_PT_Report";
            var dat = [];
            dat.push({ Param: "HeaderId", Value: parseInt(HeaderId) });
            ShowReport(dat, url);
        }
    }
</script>
