﻿@model IEMQSImplementation.PRO350
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0, s2 = 0;/* for serial number */
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />
<style>
    .clsparent {
        background-color: #fbffb2;
        font-weight: bold;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="height: 20px"></div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable">
                                        <tbody>
                                            <tr>
                                                <td class="subtitle">PROCEDURE  NO : </td>
                                                <td colspan="3"> @Html.TextBoxFor(model => model.ProcedureNo, new { @class = "form-control entQcAttend", @maxlength = "100", @role = "QC" })  </td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle">TEST DESCRIPTION : </td>
                                                <td colspan="3"> @Html.TextBoxFor(model => model.TestDescription, new { @class = "form-control entQcAttend", @maxlength = "500", @role = "QC" })  </td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle">DATE OF TEST : </td>
                                                <td>
                                                    <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                        @Html.TextBoxFor(m => m.DateOfTest, "{0:dd/MM/yyyy}", new { @class = "form-control entQcAttend inlinetextbox", style = "width:200px !important;", @role = "QC", @onfocusout = "ActFocus1();" })
                                                        <span class="input-group-btn" style="top: -2px;float: right;margin-left: -39px !important;padding: 0px 0 0 10px !important;">
                                                            <button class="btn default btncalender entQcAttend" id="btncal1" type="button" tabindex="-1" onfocusout="ActFocus1();">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="subtitle">TEST POSITION : </td>
                                                <td> @Html.TextBoxFor(model => model.TestPosition, new { @class = "form-control entQcAttend", @maxlength = "100", @role = "QC" })  </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable">
                                        <tbody>
                                            <tr>
                                                <td class="subtitle">TEST MEDIUM :</td>
                                                <td colspan="4"> @Html.TextBoxFor(model => model.TestMedium, new { @class = "form-control entQcAttend", @maxlength = "100", @role = "QC", @onfocusout = "ActFocus2();" })  </td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle">CHLORIDE CONTENT OF WATER :</td>
                                                <td class="subtitle">REQUIRED</td>
                                                <td> @Html.TextBoxFor(model => model.ReqChlorideContentOfWater, new { @class = "form-control", @maxlength = "100", @role = "QC" })  </td>
                                                <td class="subtitle">ACTUAL</td>
                                                <td> @Html.TextBoxFor(model => model.ActChlorideContentOfWater, new { @class = "form-control entQcAttend", @maxlength = "100", @role = "QC", @onfocusout = "ActFocus3();" })  </td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle">TEST PRESSURE :</td>
                                                <td class="subtitle">REQUIRED</td>
                                                <td> @Html.TextBoxFor(model => model.ReqTestPressure, new { @class = "form-control", @maxlength = "100", @role = "QC" })  </td>
                                                <td class="subtitle">ACTUAL</td>
                                                <td> @Html.TextBoxFor(model => model.ActTestPressure, new { @class = "form-control entQcAttend", @maxlength = "100", @role = "QC", @onfocusout = "ActFocus4();" })  </td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle">HOLDING TIME :</td>
                                                <td class="subtitle">REQUIRED</td>
                                                <td> @Html.TextBoxFor(model => model.ReqHoldingTime, new { @class = "form-control", @maxlength = "100", @role = "QC" })  </td>
                                                <td class="subtitle">ACTUAL</td>
                                                <td> @Html.TextBoxFor(model => model.ActHoldingTime, new { @class = "form-control entQcAttend", @maxlength = "100", @role = "QC", @onfocusout = "ActFocus5();" })  </td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle">TEST TEMPERATURE :</td>
                                                <td class="subtitle">REQUIRED</td>
                                                <td> @Html.TextBoxFor(model => model.ReqTestTemprature, new { @class = "form-control", @maxlength = "100", @role = "QC" })  </td>
                                                <td class="subtitle">ACTUAL</td>
                                                <td> @Html.TextBoxFor(model => model.ActTestTemprature, new { @class = "form-control entQcAttend", @maxlength = "100", @role = "QC" })  </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">

                                    <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <strong>PRESSURE GAUGE DETAILS </strong>
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div1">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines1">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">HeaderId</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th>GAUGE SERIAL NUMBER</th>
                                                            <th>GAUGE CALIBRATION DUE DATE</th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO351 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO351 as List<PRO351>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="GaugeSerialNumber"> @Html.TextBox("GaugeSerialNumber_1_" + @s1, @item.GaugeSerialNumber, new { @class = "form-control width125px entQcAttend", @maxlength = "50", @role = "QC" })</td>
                                                                    <td class="GaugeCelebrationDueDate">@Html.TextBox("GaugeCelebrationDueDate_1_" + @s1, @item.GaugeCelebrationDueDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker entQcAttend", @role = "QC", @width = "100%" })</td>
                                                                    @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table>
                                        <tr>
                                            <td colspan="6"> OUTSIDE CIRCUMFERENCE IN MM : @Html.DropDownListFor(model => model.OutesideCircumferenceInMM, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "QC", @onchange = "showCladtripTable($(this).val(), \"dvOutesideCircumferenceInMM\")" }) </td>
                                        </tr>
                                    </table>
                                    <br />
                                </div>
                            </div>

                            <div class="col-md-12" id="dvOutesideCircumferenceInMM">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="2">
                                        <div class="portlet-title">
                                            <div class="caption" style="padding:6px!important">
                                                <span style="float:left; ">
                                                    <strong></strong>
                                                </span>
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div2', this)" id="btnCollapse2" data-target="#div2" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div2">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines2">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th> LOCATION</th>
                                                            <th>BEFORE HYDRO TEST</th>
                                                            <th>DURING HYDRO TEST</th>
                                                            <th>AFTER HYDRO TEST</th>

                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th rowspan="2" class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>

                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO352 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO352 as List<PRO352>)
                                                            {

                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s2 = s2 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="Location center ">@Html.TextBox("Location_2_" + @s2, @item.Location, new { @class = "form-control width125px", @maxlength = "50", @role = "QC" })</td>
                                                                    <td class="BeforeHydroTest center ">@Html.TextBox("BeforeHydroTest_2_" + @s2, @item.BeforeHydroTest, new { @class = "form-control width125px entQcAttend", @maxlength = "20", @role = "QC" })</td>
                                                                    <td class="DuringHydroTest center ">@Html.TextBox("DuringHydroTest_2_" + @s2, @item.DuringHydroTest, new { @class = "form-control width125px entQcAttend ", @maxlength = "20", @role = "QC" })</td>
                                                                    <td class="AfterHydroTest center ">@Html.TextBox("AfterHydroTest_2_" + @s2, @item.AfterHydroTest, new { @class = "form-control width125px entQcAttend", @maxlength = "20", @role = "QC", @onfocusout = "TopFocus(" + @s2 + ");" })</td>


                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_2_@s2" name="Delete_2_@s2" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }

                                                    </tbody>
                                                </table>

                                            </div>
                                            <input id="hdGrid2LastRow" type="hidden" value="@s2" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">

                                    <table class="FormTable tblNotes noborder" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                        <tr>
                                            <td style="text-align: center;">
                                                <strong>
                                                    <span style="float:left;">
                                                        <strong>GRAPH (TIME-PRESSURE) ATTACHED : </strong>
                                                        @Html.DropDownListFor(model => model.Graph, new SelectList(@ViewBag.YesNoNAEnum, "Value", "Text"), "", new { @class = "form-control inlinetextbox w100 ", @role = "QC" })
                                                    </span>
                                                </strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Remarks :</strong>
                                                @Html.TextAreaFor(model => model.QCRemarks, new { @class = "form-control", @maxlength = "500", @role = "QC" })
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                    <input type="button" class="btn submit" id="btnSave" value="Submit" />
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>

<script>
    var notPRODLastChild = "";
    var notQCLastChild = "";

    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';
     var isQCRemarkEditable = '@ViewBag.isQCRemarkEditable';

    $(document).ready(function () {

        SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        $(".datepicker").datepicker({ orientation: "auto", autoclose: true, format: "dd/mm/yyyy" });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit, isQCRemarkEditable);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

      
        $("#QCRemarks").attr("readonly", true);
       

        if (isQCRemarkEditable.toLowerCase() == "true") {
            $(".entQcAttend").attr("readonly", false);
            $("#Graph").attr("style", "pointer-events: visiblefill;");
            $("#QCRemarks").attr("readonly", false);

            AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'GaugeSerialNumber', ['GaugeSerialNumber', 'GaugeCelebrationDueDate'], AddTbl1NewTrRow, true);

            if ($("#BeforeHydroTest_2_1").length > 0) {
                $("#BeforeHydroTest_2_1").focus();
            }
            if ($("#BeforeHydroTest_2_1").length > 0) {
                $("#BeforeHydroTest_2_1").focus();
            }
            $('#ProcedureNo').focus();
        }
        else {
            $(".entQcAttend").attr("disabled", "disabled");
        }


        $('#OutesideCircumferenceInMM').val('NA');

        if ('@Model.Graph' != "") { $('#Graph').val('@Model.Graph'); }
        if ('@Model.OutesideCircumferenceInMM' != "") { $('#OutesideCircumferenceInMM').val('@Model.OutesideCircumferenceInMM'); }

        showCladtripTable($('#OutesideCircumferenceInMM').val(), "dvOutesideCircumferenceInMM");
    });



    $('#Graph').prop("disabled", true).addClass("NonEditableTextColor");

    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "/SaveProtocolHeaderData", userRole, false, LoadSaveAndDraft);
        //LoadSaveAndDraft();
    });

    $("#btnSave").click(function () {
        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="PROD"]').not('.islastrow').prop("required", true);</text>
            }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="QC"]').not('.islastrow').prop("required", true);</text>
            }
        SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData", userRole, true, LoadSaveAndDraft);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }

    function SaveProtocolLine(lineId, gridId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine" + gridId, "tblProtocolLines" + gridId, "btnNewLines" + gridId);
        if (gridId == 5) {
            outby();
        }
    }

    function SetTableColumns() {
        if (isEdit.toLowerCase() == "true") {
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) {

                $("[role=PROD]").first().focus();
            }

            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) {

                AddNextRow(this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'Location', ['Location'], AddTbl2NewTrRow, true);

                notQCLastChild = ":not(:last-child)";
                $("[role=QC]").first().focus();
            }

            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) { $("[role=QC]").first().focus(); }
        }
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine";
        window[SaveFunction](lineId, gridId);
    }

    function outby() {
        if (isEdit.toLowerCase() == "true" && userRole.toUpperCase() == 'QC3') {
            $('#OutOfRoundnessOutBy').addClass("EditableTextColor").addClass("QCTextbox");
        }
        else {
            $('#OutOfRoundnessOutBy').prop("disabled", true).addClass("QCTextbox");
        }
    }

    function LoadSaveAndDraft() {

        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "GaugeSerialNumber": $('td.GaugeSerialNumber input', this).val(),
                "GaugeCelebrationDueDate": $('td.GaugeCelebrationDueDate input', this).val()
            };
            lstProtocolLines1 = JSON.stringify(TableData1);
        });
        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1" + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);

        var TableData2 = []; //initialize array;
        var lstProtocolLines2 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines2 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData2[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "Location": $('td.Location input', this).val(),
                "BeforeHydroTest": $('td.BeforeHydroTest input', this).val(),
                "DuringHydroTest": $('td.DuringHydroTest input', this).val(),
                "AfterHydroTest": $('td.AfterHydroTest input', this).val(),
            };

            lstProtocolLines2 = JSON.stringify(TableData2);
        });
        SaveAsDraftProtocolLine(lstProtocolLines2, ControllerURL + "SaveProtocolLine2" + "?HeaderId=" + parseInt($("#HeaderId").val()), 2);

    }

    function AddTbl1NewTrRow(NewTrRowNum) {
        $("#hdGrid1LastRow").val(NewTrRowNum);

        var strhtml =
            "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            "<td class=\"LineId\" style=\"display:none;\">0</td>" +
            "<td class=\"GaugeSerialNumber\"><input class=\"form-control GaugeSerialNumber entQcAttend width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"AddNextRow(this,'OutesideCircumferenceInMM',false,1,'hdGrid1LastRow','tblProtocolLines1','GaugeSerialNumber',['GaugeSerialNumber','GaugeCelebrationDueDate'],AddTbl1NewTrRow); Test1213(" + NewTrRowNum + ");\" id=\"GaugeSerialNumber_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"GaugeSerialNumber_1_" + NewTrRowNum + "\" role=\"QC\" disabled type=\"text\" aria-invalid=\"false\"></td>" +
            "<td class=\"GaugeCelebrationDueDate\"><input class=\"form-control GaugeCelebrationDueDate entQcAttend datepicker clsAddNew width125px valid EditableTextColor QCTextbox islastrow\" id=\"GaugeCelebrationDueDate_1_" + NewTrRowNum + "\" name=\"GaugeCelebrationDueDate_1_" + NewTrRowNum + "\" type=\"text\" aria-invalid=\"false\" onblur=\"AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','GaugeSerialNumber',['GaugeSerialNumber','GaugeCelebrationDueDate'],AddTbl1NewTrRow)\" role=\"QC\" disabled type=\"text\"></td>" +
            "<td  class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines1')\" style=\"display:none\"></i></td>" +
            "</tr>";

        return strhtml;
    }

    function AddTbl2NewTrRow(NewTrRowNum) {
        $("#hdGrid2LastRow").val(NewTrRowNum);
        var strhtml =
            "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            "<td class=\"LineId\" style=\"display:none;\">0</td>" +
            "<td class=\"Location\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"AddNextRow(this,'btnSaveDraft',false,2,'hdGrid2LastRow','tblProtocolLines2','Location',['Location'],AddTbl2NewTrRow)\" id=\"Location_2_" + NewTrRowNum + "\" maxlength=\"50\" name=\"Location_2_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" value=\"\" aria-invalid=\"false\"></td>" +
            "<td class=\"BeforeHydroTest\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\"  id=\"BeforeHydroTest_2_" + NewTrRowNum + "\" maxlength=\"20\" name=\"BeforeHydroTest_2_" + NewTrRowNum + "\" role=\"QC\" disabled type=\"text\" value=\"\" aria-invalid=\"false\"></td>" +
            "<td class=\"DuringHydroTest\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\"  id=\"DuringHydroTest_2_" + NewTrRowNum + "\" maxlength=\"20\" name=\"DuringHydroTest_2_" + NewTrRowNum + "\" role=\"QC\" disabled type=\"text\" value=\"\" aria-invalid=\"false\"></td>" +
            "<td class=\"AfterHydroTest\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\"  id=\"AfterHydroTest_2_" + NewTrRowNum + "\" maxlength=\"20\" name=\"AfterHydroTest_2_" + NewTrRowNum + "\" role=\"QC\" disabled type=\"text\" value=\"\" aria-invalid=\"false\"></td>" +

            "<td  class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines2')\" style=\"display:none\"></i></td>" +
            "</tr>";

        return strhtml;
    }

    function Test1213(No) {
        $('#GaugeCelebrationDueDate_1_' + No).datepicker({ format: "dd/mm/yyyy" });
    }
    function TopFocus(No) {
        var count = parseInt(No) + 1;

        if ($("#BeforeHydroTest_2_" + count).length) {
            $("#BeforeHydroTest_2_" + count).focus();
        }
    }
    function ActFocus1() {
        $("#TestPosition").focus();
    }
    function ActFocus2() {
        $("#ActChlorideContentOfWater").focus();
    }

    function ActFocus3() {
        $("#ActTestPressure").focus();
    }

    function ActFocus4() {
        $("#ActHoldingTime").focus();
    }

    function ActFocus5() {
        $("#ActTestTemprature").focus();
    }

</script>

