﻿
@using IEMQSImplementation
@model SP_RPT_WELDERPARAMETERSLIP_Result
@{
    Layout = null;
    var IsNotWPP = ViewBag.Type != "WPP";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Parameter Slip</title>
    <style type="text/css">
        body {
            margin: 0px;
            font-family: verdana,Arial;
            color: #000;

            @@media all {
                .page-break {
                    display: none;
                }
            }

            @@media print {
                .page-break {
                    display: block;
                    page-break-before: auto;
                }
            }

            font-family: Verdana, Geneva, sans-serif;
            font-size: 9pt;
        }

        a {
            color: #000;
            text-decoration: none;
        }

        table td {
            border: 1px solid;
        }
    </style>
</head>
<body onLoad="self.print()" style="width:2.5in;font-size:9pt;">
    <center>
        @if (Model.WeldingProcess.ToUpper() == "A-GTAW")
        {
            <h2>There is no print format available for @Model.WeldingProcess.ToUpper() process, Please contact to WE.</h2>
        }
        else
        {
            <table cellspacing="0" cellpadding="0" cols="2" border="0" style="border-collapse:collapse;margin-left:12px;" id="tblSlip" name="tblSlip">
                <tbody>
                    <tr><td colspan="2" style="text-align:center;">@Model.WeldingProcess Parameter Slip @ViewBag.JointType</td></tr>
                    <tr><td>Date/Time </td><td style="font-weight: 700;">@DateTime.Now.ToString("dd-MM-yyyy/hh:mm tt")</td></tr>
                    <tr><td>Welder Stamp/PS No</td><td>@Model.WelderPSNO</td></tr>
                    <tr><td>Welder Name</td><td>@Model.WelderName</td></tr>
                    @if (!String.IsNullOrWhiteSpace(ViewBag.QRCodeImgScr))
                    {
                        <tr><td colspan="2" style="text-align:center;"><img src="@ViewBag.QRCodeImgScr" alt="@ViewBag.QRCodeImgScr" height="200px" /></td></tr>
                    }
                    <tr><td>Project</td><td>@Model.QualityProject</td></tr>
                    <tr><td>Seam No</td><td>@Model.SeamNo</td></tr>
                    @if (!string.IsNullOrEmpty(Model.IdenticalSeamNo) &&
                        !string.IsNullOrWhiteSpace(Model.IdenticalSeamNo))
                    {
                        <tr><td>Identical Seam</td><td>@Model.IdenticalSeamNo</td></tr>
                    }
                    <tr><td>Welding Type</td><td>@Model.WeldingType</td></tr>
                    <tr><td>@(ViewBag.Type == "WPP" ? "WPP" : "WPS") No / Rev No</td><td>@Model.WPSNumber / R@(Model.WPSRevNo)</td></tr>
                    <tr><td>@(ViewBag.Type == "WPP" ? "WPP" : "WPS") Processes</td><td>@Model.WeldingProcesses</td></tr>
                    <tr><td>P No</td><td>@Model.ParentMaterial</td></tr>
                    <tr><td>Layer</td><td>@Model.WeldLayer</td></tr>
                    @if (IsNotWPP)
                    {
                        <tr class="ESW ESSC Overlay" hidden=hidden><td>Min. O/L thk (mm)</td><td>@Model.MinOverlaythk</td></tr>
                        @*<tr class="ESW ESSC Overlay" hidden><td>Layer</td><td>@Model.WeldLayer</td></tr>*@
                    }
                    <tr><td>Consumable/F No.</td><td>@Model.AWSClass / @Model.FNumber</td></tr>
                    @if (IsNotWPP)
                    {
                        <tr><td>Brand Name</td><td>@Model.FillerMetalTradeName</td></tr>
                    }
                    <tr class="SAW SASC ESW ESSC FCAW SAW-T _Overlay SAW_Overlay SASC_Overlay ESW_Overlay ESSC_Overlay" hidden=hidden><td>Flux</td><td>@Model.FluxTradeName</td></tr>
                    <tr class="ESW ESSC Overlay" hidden=hidden><td>Position</td><td>@Model.OverlayPosition</td></tr>
                    @if (IsNotWPP)
                    {
                        <tr class="SMAW SAW SASC GTAW HW-GTAW FCAW SAW-T _Overlay" hidden=hidden><td>Groove / Fillet Position</td><td>@Model.PositionofGrooveTTSJointWeldingProcess</td></tr>
                        <tr><td>Welding Progression</td><td>@Model.WeldingProgressionWeldingProcess</td></tr>
                    }
                    <tr><td>Preheat (°C)Min</td><td>@(Model.Preheat.HasValue ? Convert.ToInt32(Model.Preheat) : 0)</td></tr>
                    <tr><td>Interpass (°C)Max</td><td>@Model.InterpassTemp</td></tr>
                    @if (IsNotWPP)
                    {
                        <tr><td>Preheat Maint.</td><td>@Model.PrehearMaint</td></tr>
                        @*<tr class="SMAW _Overlay" hidden><td>Layer-Size(mm)</td><td>@Model.LayerSize</td></tr>*@
                    }
                    <tr class="GTAW HW-GTAW FCAW" hidden=hidden><td>Shielding Gas</td><td>@Model.ShieldingGasGasType</td></tr>
                    <tr class="GTAW HW-GTAW FCAW" hidden=hidden><td>Comp.(%)/Flow Rate(LPM)</td><td>@(ViewBag.Type == "WPP" ? Model.ShieldingGasFlowRateLPM : Model.ShieldingGasComposition + "/" + Model.ShieldingGasFlowRateLPM )</td></tr>
                    @if (IsNotWPP)
                    {
                        <tr class="GTAW HW-GTAW _Overlay" hidden=hidden><td>Backing Gas</td><td>@Model.BackingGasGasType</td></tr>
                        <tr class="GTAW HW-GTAW _Overlay" hidden=hidden><td>Comp.(%)/Flow Rate(LPM)</td><td>@Model.BackingGasComposition/@Model.BackingGasFlowRateLPM</td></tr>
                    }
                    <tr class="GTAW HW-GTAW _Overlay" hidden=hidden><td>Trailing Gas</td><td>@Model.TrailingGasGasType</td></tr>
                    <tr class="GTAW HW-GTAW _Overlay" hidden=hidden><td>Comp.(%)/Flow Rate(LPM)</td><td>@Model.TrailingGasComposition/@Model.TrailingGasFlowRateLPM</td></tr>
                    <tr><td>Size (mm)</td><td>@Model.FillerMetalSize</td></tr>
                    <tr><td>Current/ polarity</td><td>@Model.CurrentPolarity</td></tr>
                    <tr><td>Current (Amp)</td><td>@Model.CurrentAMP</td></tr>
                    <tr><td>Voltage (V)</td><td>@Model.Voltage</td></tr>
                    <tr class="SMAW" hidden=hidden><td>Bead Length (mm)</td><td>@Model.BeadLength</td></tr>
                    <tr class="SAW SASC GTAW HW-GTAW ESW ESSC FCAW SAW-T" hidden=hidden><td>Travel Speed(mm/min)</td><td>@Model.TravelSpeed</td></tr>
                    @if (IsNotWPP)
                    {
                        <tr class="SMAW SAW SASC GTAW HW-GTAW FCAW SAW-T _Overlay" hidden=hidden><td>Max heat Input(kJ/mm)</td><td>@Model.HeatInput</td></tr>
                        <tr class="GTAW_Overlay HW-GTAW_Overlay" hidden=hidden><td>Wire Feed (m/min)</td><td>@Model.WireFeedSpeed</td></tr>
                        <tr class="GTAW HW-GTAW" hidden=hidden><td>Tungsten Type / Size (mm)</td><td>@Model.TungstenSize</td></tr>
                        <tr><td>String/Weave</td><td>@Model.StringWeaveBead1</td></tr>
                        <tr class="SAW SASC GTAW HW-GTAW ESW ESSC FCAW SAW-T SMAW_Overlay" hidden=hidden><td>Multi/Single Elect.</td><td>@Model.MultiSingleElectrode</td></tr>
                        <tr class="SAW-T" hidden=hidden><td>Electrode Spacing</td><td>@Model.ElectrodeSpacing</td></tr>
                        <tr class="SMAW SAW SASC GTAW HW-GTAW SAW-T _Overlay" hidden=hidden><td>Multi/Single Pass</td><td>@Model.MultipleSinglepassperside</td></tr>
                        <tr class="SMAW_Overlay SAW_Overlay SASC_Overlay FCAW GTAW_Overlay HW-GTAW_Overlay SAW-T_Overlay" hidden=hidden><td>Multi/Single Layer</td><td>@Model.SingleMultipleLayer</td></tr>
                        <tr class="ESW ESSC" hidden=hidden><td>Single/Multiple Layer</td><td>@Model.SingleMultipleLayer</td></tr>
                        <tr class="FCAW" hidden=hidden><td>Metal Transfer mode</td><td>@Model.Modeofmetaltransfer</td></tr>
                        <tr class="SAW SASC ESW ESSC FCAW SAW-T" hidden=hidden><td>Stick out (mm)</td><td>@Model.ContactTubeWorkDistance</td></tr>
                        <tr class="ESW ESSC SAW_Overlay SASC_Overlay" hidden=hidden><td>Supplemental device</td><td>@Model.SupplementalDevice</td></tr>
                    }
                    <tr><td colspan="2">Refer @(ViewBag.Type == "WPP" ? "WPP" : "SWP") notes nos/text</td></tr>

                </tbody>
            </table>
            <table class="page-break">
                <tbody>
                    <tr><td colspan="2">@Model.NoteDescription</td></tr>
                    <tr><td>Supervisor Name</td><td>@Model.SupervisorName</td></tr>
                    <tr><td>Supervisor P.S Number</td><td>@Model.SupervisorPSNo</td></tr>
                    @if (!String.IsNullOrEmpty(Model.ApproveBatchNo))
                    {
                        <tr><td colspan="2">Batch number</td><td>@(Model.ApproveBatchNo)</td></tr>
                    }
                    @if (IsNotWPP)
                    {
                        <tr hidden=hidden><td>Valid Upto</td><td>@Model.ValidUpto</td></tr>
                    }Notes:
                </tbody>
            </table>
        }
    </center>
</body>
</html>

<script>
    var JointType = '@ViewBag.JointType';
    var WP = '@Model.WeldingProcess' == "GMAW" ? "FCAW" : '@Model.WeldingProcess';
    WP = (WP == "HW GTAW" ? "HW-GTAW" : WP);
    var lstWP = document.getElementsByClassName(WP);
    for (var i in lstWP) {
        lstWP[i].hidden = false;
    }

    if (JointType == "Overlay") {
        var lstOverlay = document.getElementsByClassName(JointType);
        for (var i in lstOverlay) {
            lstOverlay[i].hidden = false;
        }
        var lstNotOverlay = document.getElementsByClassName("_" + JointType);
        for (var i in lstNotOverlay) {
            lstNotOverlay[i].hidden = true;
        }
        var lstWPOverlay = document.getElementsByClassName(WP + "_" + JointType);
        for (var i in lstWPOverlay) {
            lstWPOverlay[i].hidden = false;
        }
    }

    var ReportType = '@ViewBag.Type';
    if (!navigator.userAgent.match(/Android/i)
    && !navigator.userAgent.match(/webOS/i)
    && !navigator.userAgent.match(/iPhone/i)
    && !navigator.userAgent.match(/iPad/i)
    && !navigator.userAgent.match(/iPod/i)
    && !navigator.userAgent.match(/BlackBerry/i)
    && !navigator.userAgent.match(/Windows Phone/i)
    ) {
        document.getElementById("tblSlip").style.marginLeft = "0px";
    }

</script>