﻿@using IEMQSImplementation
<script>
    $(document).ready(function () {
        var table = $('#tblTokenList');

        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/WelderPSlip/LoadTokenlistGridData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                    { "name": "Status", "value": '@ViewBag.status' },
                    { "name": "QualityProject", "value": '@ViewBag.searchproject' },
                    { "name": "Frdate", "value": '@ViewBag.frdate' },
                    { "name": "Todate", "value": '@ViewBag.todate' }

                    );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        if (data.iTotalRecords > 0 && TabStatus.toLowerCase() == "draft") {
                            $("#dvDelete").show();
                        }
                        else {
                            $("#dvDelete").hide();
                        }
                    },
                    'async': false
                });
            },
            "columns": [
                        {
                            "bSortable": false,
                            "sClass": "center text-nowrap",
                        },
                        {
                            'targets': 0,
                            "bSortable": false,
                            "sWidth": "5%",
                            "sClass": "center",
                            'render': function (data, type, full, meta) {
                                if (TabStatus.toLowerCase() == "draft") {
                                    return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                                }
                                else {
                                    return ""
                                }
                            }
                        },
                        {
                            "sClass": "center",
                            "name": "QualityProject"
                        },
                        {
                            "sClass": "center",
                            "name": "Project"
                        },
                        {
                            "sClass": "center",
                            "name": "SeamNo"
                        },
                        {
                            "sClass": "center",
                            "name": "WeldingProcess"
                        },
                        {
                            "sClass": "center",
                            "name": "WelderPSNO"
                        },
                        {
                            "sClass": "center",
                            "name": "BU"
                        },
                        {
                            "sClass": "center",
                            "name": "WelderStamp",
                        },
                        {
                            "sClass": "center",
                            "name": "WeldingType",
                        },
                        {
                            "sClass": "center",
                            "name": "Location"
                        },
                        {
                            "sClass": "center",
                            "name": "TokenNumber"
                        },
                        {
                            "sClass": "center",
                            "name": "TokenFor"
                        },
                        {
                            "sClass": "center",
                            "name": "WPSNumber",
                        },
                        {
                            "sClass": "center hide",
                            "name": "PrintedBy"
                        },
                        {
                            "sClass": "center hide",
                            "name": "PrintedOn"
                        },
            ]
        });
        table.dtSearchFilter();

        if (TabStatus.toLowerCase() != "draft") {
            //$("#dvDelete").hide();
            oTable.api().column(1).visible(false);
            setTimeout(function () {
                $('#tblTokenList_wrapper thead tr:first th:eq(1)').hide();
            }, 100);
        }


        $('#example-select-all').on('click', function () {
            var rows = oTable.api().rows({ 'search': 'applied' }).nodes();
            $('input[class="clsCheckbox"][disabled !="disabled"]', rows).prop('checked', this.checked);
        });
        // Handle click on checkbox to set state of "Select all" control
        $('#tblTokenList tbody').on('change', 'input[type="checkbox"]', function () {
            // If checkbox is not checked
            if (!this.checked) {
                var el = $('#example-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if (el && el.checked && ('indeterminate' in el)) {
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        })


        //urlSection1 = "/IPI/WelderPSlip/ParameterSlipDetail";
        //urlSection2 = "/IPI/WelderPSlip/ConsumableSlipDetail";

        //$("#Section1").on("click", function () {
        //    $("#Section2").css({ backgroundColor: "#eef1f5", color: "#333" });
        //    $("#Section1").css({ backgroundColor: "#rgb(57, 133, 208)", color: "#fff" });
        //    GetTab(urlSection2, 'CS');
        //});
        //$("#Section2").on("click", function () {
        //    $("#Section2").css({ backgroundColor: "#rgb(57, 133, 208)", color: "#fff" });
        //    $("#Section1").css({ backgroundColor: "#eef1f5", color: "#333" });
        //    //GetTab(urlSection1, 'PS');
        //});
        //$("#Section1").trigger("click");

    });
    //function GetTab(url, selection) {
    //    $("#tab1").empty();
    //    $("#tab2").empty();
    //    $.ajax({
    //        type: "POST",
    //        url: WebsiteURL +  url,
    //        datatype: 'html',
    //        async: false,
    //        beforeSend: function () {
    //            showLoading(true);
    //        },
    //        complete: function () {
    //            showLoading(false);
    //        },

    //        success: function (result) {
    //            if (selection == 'PS')
    //                $("#tab2").html(result);
    //            else
    //                $("#tab1").html(result);
    //        },
    //        error: function () {
    //        }
    //    });
    //}
    function SelectDeleteRecord() {
        bootbox.dialog({
            title: "Delete Confirmation",
            message: "Do you want to continue?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        var arrayIds = new Array();
                        // Iterate over all checkboxes in the table
                        $('input[class="clsCheckbox"]', $('#tblTokenList')).each(function () {
                            if (this.checked) {
                                arrayIds.push(this.value);
                            }
                        });
                        if (arrayIds.length > 0) {
                            var strIds = arrayIds.join(",");
                            $.ajax({
                                type: "POST",
                                url: WebsiteURL + "/IPI/WelderPSlip/DeleteTokenGenerate",
                                datatype: 'json',
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                data: { strIds: strIds },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        $("#example-select-all").prop('checked', false);
                                    }
                                    else {
                                        DisplayNotiMessage("error", data.Value, "Error");
                                    }
                                    $('#tblTokenList').DataTable().ajax.reload();

                                },
                                error: function () {
                                }
                            });
                        }
                        else {
                            DisplayNotiMessage("error", "Please select token first", "Error");
                        }
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }
            }
        });
    }

</script>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Token List
                </div>
                <div class="tools" id="dvExportHeader">
                    <div class="btn-group" id="dvDelete">
                        <a style="margin-right:5px;" id="btnDelete" class="multidelete btn btn-circle white btn-outline btn-sm" onclick="SelectDeleteRecord(this);">
                            <i class="fa fa-remove"></i> Delete
                        </a>
                    </div>
                    <div class="btn-group">
                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/WelderPSlip/GenerateExcel", GridType = clsImplementationEnum.GridType.MAINTAININDEX.GetStringValue(), dvId = "#dvExportHeader" })
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="tblTokenList" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="all">Action</th>
                            <th class="all">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th class="all">Quality Project</th>
                            <th class="all">Project<div class="cls150px"></div></th>
                            <th class="all">Seam No.</th>
                            <th class="all">Welding Process</th>
                            <th class="all">Welder Name</th>
                            <th class="all">BU</th>
                            <th class="all">WelderStamp</th>
                            <th class="all">WeldingType</th>
                            <th class="all">Location</th>
                            <th class="all">Token No.</th>
                            <th class="all">Base For</th>
                            <th class="all">WPP/WPS Number</th>
                            <th class="hide">Printed By</th>
                            <th class="hide">Printed On</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>