﻿@model IEMQSImplementation.SP_RPT_WELDERPARAMETERSLIPFORLTPC_Result
@{
    Layout = null;
    var IsNotWPP = ViewBag.Type != "WPP";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LTPCHtmlPSlip</title>
    <style type="text/css">
        table td {
            word-wrap: break-word; /* All browsers since IE 5.5+ */
            overflow-wrap: break-word; /* Renamed property in CSS3 draft spec */
        }
    </style>
</head>
<body>
    <table cellspacing="0" cellpadding="0" cols="2" border="0" style="border-collapse:collapse;margin-left:12px;table-layout: fixed;width: 100%;" id="tblSlip" name="tblSlip">
        <tbody>
            <tr><td colspan="2" style="text-align:center;">@Model.WeldingProcess Parameter Slip @ViewBag.JointType</td></tr>
            <tr><td>Date/Time </td><td style="font-weight: 700;">@DateTime.Now.ToString("dd-MM-yyyy/hh:mm tt")</td></tr>
            <tr><td>Welder Stamp/PS No</td><td>@Model.WelderPSNO</td></tr>
            <tr><td>Welder Name</td><td>@Model.WelderName</td></tr>
            @if (!string.IsNullOrWhiteSpace(ViewBag.QRCodeImgScr))
            {
                <tr><td colspan="2" style="text-align:center;"><img src="@ViewBag.QRCodeImgScr" alt="@ViewBag.QRCodeImgScr" height="200" /></td></tr>
            }
            <tr><td>Project</td><td>@Model.QualityProject</td></tr>
            <tr><td>Seam No</td><td>@Model.SeamNo</td></tr>
            @if (!string.IsNullOrEmpty(Model.IdenticalSeamNo) &&
               !string.IsNullOrWhiteSpace(Model.IdenticalSeamNo))
            {
                <tr><td>Identical Seam</td><td>@Model.IdenticalSeamNo</td></tr>
            }
            <tr><td>Welding Type</td><td>@Model.WeldingType</td></tr>
            <tr><td>@(ViewBag.Type == "SWP" ? "SWP" : "WPS") No / Rev No</td><td>@Model.WPSNumber / R@(Model.WPSRevNo)</td></tr>
            <tr><td>@(ViewBag.Type == "SWP" ? "SWP" : "WPS") Processes</td><td>@Model.WeldingProcesses</td></tr>
            <tr><td>P No</td><td>@Model.ParentMaterial</td></tr>
            <tr><td>Layer</td><td>@Model.WeldLayer</td></tr>
            <tr><td>Consumable/F No.</td><td>@Model.AWSClass / @Model.FNumber</td></tr>
            <tr><td>Brand Name</td><td>@Model.FillerMetalTradeName</td></tr>
            @if (Model.WeldingProcess.ToUpper() != "141(TIG)" && Model.WeldingProcess.ToUpper() != "111(MMAW)")
            {
                <tr><td>Flux</td><td>@Model.FluxTradeName</td></tr>
            }
            @if (Model.WeldingProcess.ToUpper() == "141(TIG)")
            {
                <tr><td>Position</td><td>@Model.OverlayPosition</td></tr>
            }
            else
            {
                <tr><td>Groove / Fillet Position</td><td>@Model.PositionofGrooveTTSJointWeldingProcess</td></tr>
            }
            <tr><td>Welding Progression</td><td>@Model.WeldingProgressionWeldingProcess</td></tr>
            <tr><td>Preheat (°C)Min</td><td>@(Model.Preheat.HasValue ? Convert.ToInt32(Model.Preheat) : 0)</td></tr>
            <tr><td>Interpass (°C)Max</td><td>@Model.InterpassTemp</td></tr>
            <tr><td>Preheat Maint.</td><td>@Model.PrehearMaint</td></tr>
            @if (Model.WeldingProcess.ToUpper() != "121(SAW)" && Model.WeldingProcess.ToUpper() != "111(MMAW)")
            {
                <tr><td>Shielding Gas</td><td>@Model.ShieldingGasGasType</td></tr>

                <tr>
                    <td>Comp.(%)/Flow Rate(LPM)</td>
                    <td>
                        @{
                            string compFlowrate1 = "";
                            if (!string.IsNullOrEmpty(Model.ShieldingGasComposition) || !string.IsNullOrEmpty(Model.ShieldingGasFlowRateLPM))
                            {
                                compFlowrate1 = Model.ShieldingGasComposition + "/" + Model.ShieldingGasFlowRateLPM;
                            }
                            @compFlowrate1
                        }
                    </td>
                </tr>

                if (Model.WeldingProcess.ToUpper() != "131(MIG)" && Model.WeldingProcess.ToUpper() != "135(MAG)" && Model.WeldingProcess.ToUpper() != "141(TIG)")
                {
                    <tr><td>Backing Gas</td><td>@Model.BackingGasGasType</td></tr>
                    <tr>
                        <td>Comp.(%)/Flow Rate(LPM)</td>
                        <td>
                            @{
                                string compFlowrate2 = "";
                                if (!string.IsNullOrEmpty(Model.BackingGasComposition) || !string.IsNullOrEmpty(Model.BackingGasFlowRateLPM))
                                {
                                    compFlowrate2 = Model.BackingGasComposition + "/" + Model.BackingGasFlowRateLPM;
                                }
                                @compFlowrate2
                            }
                        </td>
                    </tr>
                    <tr><td>Trailing Gas</td><td>@Model.TrailingGasGasType</td></tr>
                    <tr>
                        <td>Comp.(%)/Flow Rate(LPM)</td>
                        <td>
                            @{
                                string compFlowrate3 = "";
                                if (!string.IsNullOrEmpty(Model.TrailingGasComposition) || !string.IsNullOrEmpty(Model.TrailingGasFlowRateLPM))
                                {
                                    compFlowrate3 = Model.TrailingGasComposition + "/" + Model.TrailingGasFlowRateLPM;
                                }
                                @compFlowrate3
                            }
                        </td>
                    </tr>
                }
            }

            <tr><td>Size (mm)</td><td>@Model.FillerMetalSize</td></tr>
            <tr><td>Current/ polarity</td><td>@Model.CurrentPolarity</td></tr>
            <tr><td>Current (Amp)</td><td>@Model.CurrentAMP</td></tr>
            <tr><td>Voltage (V)</td><td>@Model.Voltage</td></tr>
            @if (Model.WeldingProcess.ToUpper() == "SMAW")
            {
                <tr><td>Bead Length (mm)</td><td>@Model.BeadLength</td></tr>
            }
            else
            {
                <tr><td>Travel Speed(mm/min)</td><td>@Model.TravelSpeed</td></tr>
            }
            @if (Model.WeldingProcess.ToUpper() != "141(TIG)")
            {
                <tr><td>Max heat Input(kJ/mm)</td><td>@Model.HeatInput</td></tr>
            }
            @if (Model.WeldingProcess.ToUpper() == "141(TIG)")
            {
                <tr><td>Wire Feed (m/min)</td><td>@Model.WireFeedSpeed</td></tr>
                <tr><td>Tungsten Type / Size (mm)</td><td>@Model.TungstenSize</td></tr>
            }
            <tr><td>String/Weave</td><td>@Model.StringWeaveBead1</td></tr>
            @if (Model.WeldingProcess.ToUpper() != "111(MMAW)")
            {
                <tr><td>Multi/Single Elect.</td><td>@Model.MultiSingleElectrode</td></tr>
            }
            @if (Model.WeldingProcess.ToUpper() == "131(MIG)" || Model.WeldingProcess.ToUpper() == "135(MAG)" || Model.WeldingProcess.ToUpper() == "141(TIG)")
            {
                <tr><td>Multi/Single Layer</td><td>@Model.SingleMultipleLayer</td></tr>
                if (Model.WeldingProcess.ToUpper() != "141(TIG)")
                {
                    <tr><td>Metal Transfer mode</td><td>@Model.Modeofmetaltransfer</td></tr>
                    <tr><td>Stick out (mm)</td><td>@Model.ContactTubeWorkDistance</td></tr>
                }
            }
            else
            {
                <tr><td>Multi/Single Pass</td><td>@Model.MultipleSinglepassperside</td></tr>
                if (Model.WeldingProcess.ToUpper() == "121(SAW)")
                {
                    <tr><td>Stick out (mm)</td><td>@Model.ContactTubeWorkDistance</td></tr>
                }
            }
            <tr><td colspan="2">Refer @(ViewBag.Type == "WPS" ? "WPS" : "SWP") notes nos/text</td></tr>
        </tbody>
    </table>
    <table class="page-break" cellspacing="0" cellpadding="0" cols="2" border="0" style="border-collapse:collapse;margin-left:12px;table-layout: fixed;width: 100%;">
        <tbody>
            @if (!string.IsNullOrEmpty(Convert.ToString(Model.NoteDescription)))
            {
                <tr><td colspan="2">@Model.NoteDescription</td></tr>
            }
            <tr><td>Supervisor Name</td><td>@Model.SupervisorName</td></tr>
            <tr><td>Supervisor P.S Number</td><td>@Model.SupervisorPSNo</td></tr>
            @if (!string.IsNullOrEmpty(Model.ApproveBatchNo))
            {
                <tr><td>Batch number</td><td>@(Model.ApproveBatchNo)</td></tr>
            }
            <tr><td>Valid Upto</td><td>@Model.ValidUpto</td></tr>
            Notes:
        </tbody>
    </table>
</body>
</html>
