﻿@using IEMQSImplementation
@{
    ViewBag.Title = "Slips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
@Scripts.Render("~/bundles/datetimepicker/js")
<style>
    .multiselect-container > li > a > label {
        padding: 3px 20px 3px 40px !important;
    }

    .cls150px {
        width: 150px !important;
    }
</style>
<script>
    var TabStatus = ""
    $(document).ready(function () {
        $('#portlet_comments_1').removeClass("active");
        $('#portlet_comments_2').removeClass("active");
        $('#portlet_comments_3').removeClass("active");

        $('#tabPending').closest("li").removeClass("active");
        $('#tabAll').closest("li").removeClass("active");
        $('#tabDraft').closest("li").removeClass("active");

        var tab = "Draft";
        if ('@ViewBag.Tab' != '')
            tab = '@ViewBag.Tab';

        if (tab == "Active")
        {
            $('#portlet_comments_1').addClass("active");
            $('#tabPending').closest("li").addClass("active");
        }
        else if (tab == "Expired")
        {
            $('#portlet_comments_2').addClass("active");
            $('#tabAll').closest("li").addClass("active");
        }
        else
        {
            $('#portlet_comments_3').addClass("active");
            $('#tabDraft').closest("li").addClass("active");
        }
        GetSlipListPartial(tab);

        $('a[name="tabStatus"]').click(function () {
            GetSlipListPartial($(this).attr('spara'));
        });
    });

   
    function GetSlipListPartial(status, project, DateFrom, DateTo) {
        TabStatus = status;
        project = project;

        $("#portlet_comments_1,#portlet_comments_2,#portlet_comments_3").empty();

        if (status == "Expired") {
            $("#divserachcriteria").show();
            var DateFrom = "", DateTo = "";
            if ($("#DateFrom").val() != null && $("#DateFrom").val() != "") {
                DateFrom = $("#DateFrom").val().split('/')[2] + "-" + $("#DateFrom").val().split('/')[1] + "-" + $("#DateFrom").val().split('/')[0];
            }
            if ($("#DateTo").val() != null && $("#DateTo").val() != "") {
                DateTo = $("#DateTo").val().split('/')[2] + "-" + $("#DateTo").val().split('/')[1] + "-" + $("#DateTo").val().split('/')[0];
            }
        }
        else {
            $("#divserachcriteria").hide();
        }

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/WelderPSlip/GetSlipListDataPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { status: status, project: project, FrDate: DateFrom, ToDate: DateTo  },
            success: function (result) {
                if (status == "Active") {
                    $("#portlet_comments_1").html(result);
                }
                else if (status == "Draft") {
                    $("#portlet_comments_3").html(result);
                }
                else {
                    $("#portlet_comments_2").html(result);
                }
            },
            error: function () {
            }
        });
    }


    function CopyRecord(id, tokennumber) {
        bootbox.dialog({
            title: "Copy Recod",
            message: "Do you want copy?",
            buttons: {
                Copy: {
                    Label: "Copy",
                    className: 'btn green',
                    callback: function () {
                        $.ajax({
                            url: WebsiteURL + "/IPI/WelderPSlip/CopyConsumableSlip",
                            type: 'POST',
                            data: { id: id },
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (res) {
                                if (res.Key) {
                                    DisplayNotiMessage("success", res.Value, "Success");
                                    $('#tblTokenList').DataTable().ajax.reload();
                                    //setTimeout('window.location.href ="' + WebsiteURL + '/IPI/WelderPSlip/ConsumableSlipDetail?Id='+res.HeaderId, 2000);
                                }
                                else {
                                    DisplayNotiMessage("error", res.Value, "Error");
                                    return false;
                                }
                            }
                        });
                    }
                },
                Cancel: {
                    label: 'Close',
                    className: 'btn red',
                    callback: function () { }
                }
            }
        })
    }
</script>
<div class="page-content">
    <div class="portlet light ">
        <div class="row">
            <div class="col-lg-12 col-xs-12 col-sm-12">
                <div class="portlet light ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Generate Token
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="text-align:right">
                                <a href="~/IPI/WelderPSlip/ConsumableSlipDetail" style="float: right;" class="btn green">Add New</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 portlet-title tabbable-line">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#portlet_comments_3" name="tabStatus" id="tabDraft" spara="Draft" data-toggle="tab">Draft</a>
                                </li>
                                <li>
                                    <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Active" data-toggle="tab">Active</a>
                                </li>
                                <li>
                                    <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="Expired" data-toggle="tab">Expired</a>
                                </li>
                            </ul>
                        </div>

                        <div id="divserachcriteria" style="display:none;">
                            <div class="col-md-2" style="margin-top:10px;margin-right:-20px;">
                                <input type="text" id="searchproject" value="" name="searchproject" class="form-control col-md-3" placeholder="Quality Project" tabindex="2" />
                            </div>
                            <div class="col-md-4" style="margin-top:10px;">
                                <div class="input-group date-picker input-daterange" data-date-format="dd/mm/yyyy">
                                    <input type="text" id="DateFrom" name="DateFrom" placeholder="From date" value='@ViewBag.StartDate' class="form-control" autoComplete="off" />
                                    <div class="input-group-addon">
                                        <span class="input-group-text" id=""> <b>to</b> </span>
                                    </div>
                                    <input type="text" id="DateTo" name="DateTo" placeholder="To date"  value='@ViewBag.EndDate'  class="form-control" autoComplete="off" />
                                </div>
                            </div>
                            <div class="col-md-1" style="margin-top:10px;">
                                <button name="btnsearch" class="btn btn-small btn-success" id="btnsearch" onclick="ReloadGrid();">Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="portlet_comments_3">
                            </div>
                            <div class="tab-pane" id="portlet_comments_1">
                            </div>
                            <div class="tab-pane" id="portlet_comments_2">
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

<script src="~/Content/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
<script src="~/Content/assets/pages/scripts/components-bootstrap-multiselect.min.js"></script>

<script>
   
    $("#searchproject").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: WebsiteURL + "/IPI/WelderPSlip/GetQualityProjects",
                dataType: "json",
                type: "POST",
                delay: 250,
                async: false,
                data: {
                    term: request.term,
                    tokenfor: ""
                },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.projectCode, value: item.projectCode, id: item.BU };
                    }));
                }
            });
        },
        minLength: 0,
        autoFocus: false,
        select: function (event, ui) {
            if (ui.item) {
                isSelected = true;
                $("#searchproject").val(ui.item.value);
            }
        },
        change: function (event, ui) {
            if (ui.item == null) {
                isSelected = false;
                $(this).val('');
                $(this).focus();
            }
            
        }
    }).on('focus', function (event) {
        var self = this;
        $(self).autocomplete("search", this.value);
    });

    function ReloadGrid() {
        debugger
        var proj = $("#searchproject").val();
        var DateFrom = "", DateTo = "";
        if ($("#DateFrom").val() != null && $("#DateFrom").val() != "") {
            DateFrom = $("#DateFrom").val().split('/')[2] + "-" + $("#DateFrom").val().split('/')[1] + "-" + $("#DateFrom").val().split('/')[0];
        }
        if ($("#DateTo").val() != null && $("#DateTo").val() != "") {
            DateTo = $("#DateTo").val().split('/')[2] + "-" + $("#DateTo").val().split('/')[1] + "-" + $("#DateTo").val().split('/')[0];
        }
        GetSlipListPartial("Expired", proj, DateFrom, DateTo);    
    }

    
</script>