﻿@using IEMQSImplementation
@model IEMQSImplementation.WCS005
@{
    ViewBag.Title = "Maintain Formula";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Maintain Formula
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="text-align:right">
                                <a href="~/WCS/FormulaMaster/AddHeader" style="float: right;" class="btn green">Add New</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Formula List
                                    </div>
                                    <div class="tools" id="dvExportHeader">
                                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/WCS/FormulaMaster/GenerateExcelHeader", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                                    </div>                                    
                                    @*<div class="tools" style="padding-right:4px;">
                                        <div class="btn-group">
                                            <a style="margin-left:5px;" id="btnImport" class="btn btn-circle white btn-outline btn-sm" onclick="ImportExcel()">
                                                <i class="fa fa-file-excel-o"></i> Import
                                            </a>
                                            <a style="margin-left:5px;" id="btnDownloadTemplate" onclick="TemplateDownload()" name="btnDownloadTemplate" class="btn btn-circle white btn-outline btn-sm">
                                                <i class="fa fa-download"></i> Template
                                            </a>
                                        </div>
                                    </div>*@
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblHeader" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="min-phone-l">BU</th>
                                                <th class="min-phone-l">Location</th>                                                
                                                <th class="min-phone-l">Created By</th>
                                                <th class="min-phone-l">Created On</th>
                                                <th class="min-phone-l">Action</th>
                                                <th class="" style="display:none;">ID</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function ImportExcel() {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/WCS/FormulaMaster/LoadImportDataPartial",
            datatype: 'html',
            async: false,
            data: {},
            success: function (data) {
                bootbox.dialog({
                    title: "Import Excel",
                    message: data,
                    size: "medium",
                    buttons: {
                        Upload: {
                            Label: "Upload",
                            className: 'btn green',
                            callback: function () {

                                if ($("#frmImportTemplate").valid()) {

                                    console.log($('input[type=file]')[0].files[0]);
                                    if ($('input[type=file]')[0].files[0] == null || $('input[type=file]')[0].files[0] == undefined)
                                    {
                                        DisplayNotiMessage("error", "Attachment is required", "Error");
                                        return false;
                                    }

                                    var frmHeaderValues = $("#frmImportTemplate").serializeArray();
                                    var formdata = new FormData();
                                    if (frmHeaderValues != null && frmHeaderValues != undefined) {
                                        $.each(frmHeaderValues, function (key, input) {
                                            formdata.append(input.name, input.value);
                                        });
                                        formdata.append('upload', $('input[type=file]')[0].files[0]);
                                    }
                                    $.ajax({
                                        url: WebsiteURL + "/WCS/FormulaMaster/ImportExcel",
                                        type: "POST",
                                        datatype: 'json',
                                        //enctype: 'multipart/form-data',
                                        contentType: false,
                                        processData: false,
                                        data: formdata,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                                $('#tblHeader').DataTable().ajax.reload();
                                            }
                                            else {
                                                if (data.Value == "Error") {
                                                    window.location = WebsiteURL + '/Utility/General/Download?file=' + data.FileName;
                                                    DisplayNotiMessage("error", "Please check error file", "Error");
                                                }
                                                else {
                                                    DisplayNotiMessage("error", data.Value, "Error");
                                                }
                                            }
                                        },
                                        error: function () {
                                            return false;
                                        }
                                    });
                                    return true;
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                            }
                        },
                        Cancel: {
                            label: 'Close',
                            className: 'btn btnclose',
                            callback: function () { }
                        }
                    }
                })
            }
        })
    }
    function TemplateDownload() {
        window.location = WebsiteURL + "/Resources/WCS/Maintain Formula Master - Template Data with example.xlsx";
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#tblHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],

            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/WCS/FormulaMaster/getHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                });
            },
            "columns": [
                 {
                     "name": "BU",
                     "bSortable": true,
                     "sClass": "center"
                 },
                {
                    "name": "Location",
                    "bSortable": true,
                    "sClass": "center"
                },                
                 {
                     "name": "CreatedBy",
                     "bSortable": true,
                     "sClass": "center"
                 },
                  {
                      "name": "CreatedOn",
                      "bSortable": true,
                      "sClass": "center",
                      "attr": "date"
                  },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        buttons = '<center><a href="' + WebsiteURL + '/WCS/FormulaMaster/AddHeader/' + row[5] + '"><i id="btnView" name="btnView" style="cursor:pointer;margin-left:5px" Title="View Detail" class="iconspace fa fa-eye" ></i></a>';
                        return buttons;
                    }
                },
            ]
        });
        table.dtSearchFilter();
    });
</script>

<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

