﻿
@{
    ViewBag.Title = "Part ICL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<script>
    $(document).ready(function () {
        GetHeaderGridDataPartial('Pending');
        $('a[name="tabStatus"]').click(function () {
            GetHeaderGridDataPartial($(this).attr('spara'));
        });

        $("#btnUpdateBOM").click(function () {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/IPI/MaintainICLPart/GetUpdateBOMView",
                datatype: 'html',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                async: false,
                data: {  },
                success: function (result) {
                    
                    bootbox.dialog({
                        title: 'Update BOM',
                        message: result,
                        size: 'small',
                        buttons: {
                            'confirm': {
                                label: 'Update',
                                className: 'btn green',
                                callback: function () {
                                    if ($("#frmUpdateHBOMData").valid()) {
                                        $.ajax({
                                            url: WebsiteURL + '/IPI/MaintainICLPart/GetHBOMData',
                                            type: "Post",
                                            beforeSend: function () {
                                                showLoading(true);
                                            },
                                            complete: function () {
                                                showLoading(false);
                                            },
                                            dataType: "JSON",
                                            data: {
                                                Project: $("#ddlProject").val(),
                                                BU: $("#ddlBU").val(),
                                                Location: $("#ddlLocation").val()
                                            },
                                            success: function (data) {
                                                debugger;
                                                if (data.Key) {
                                                    DisplayNotiMessage("success", data.Value, "Success");
                                                    GetHeaderGridDataPartial('Pending');
                                                }
                                                else {
                                                    DisplayNotiMessage("error", data.Value, "Error");
                                                    return false;
                                                }
                                            },
                                            error: function (ex) {
                                                DisplayNotiMessage("error", "Something went wrong. Please try again or contact administrator", "Error");
                                                return false;
                                            }
                                        });
                                    }
                                    else {
                                        HighlightInValidControls();
                                        return false;
                                    }
                                }
                            },
                            'cancel': {
                                label: 'Close',
                                className: 'btn red'
                            }
                        }
                    });
                },
                error: function () {
                }
            });
        });

    });

    function GetHeaderGridDataPartial(status) {

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/MaintainICLPart/LoadICLPartHeaderDataPartial",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { status: status },
            success: function (result) {
                if (status == 'Pending') {
                    $("#portlet_comments_2").empty();
                    $("#portlet_comments_1").html(result);
                }
                else {
                    $("#portlet_comments_1").empty();
                    $("#portlet_comments_2").html(result);

                }

            },
            error: function () {
            }
        });
    }

</script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Maintain Part ICL
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="text-align: right">
                                <input type="button" class="btn red" value="Update BOM" id="btnUpdateBOM" /> 
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">
                        </div>
                        <div class="tab-pane" id="portlet_comments_2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

