﻿

@using IEMQSImplementation
@if (ViewBag.tabname == "Samples")
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Sample List
                    </div>
                    <div class="tools" id="dvExportHeader">
                        @if (ViewBag.isEditable == "True" && ViewBag.Role == "PROD" && ViewBag.isHistory != "True")
                        {
                            <div class="btn-group">
                                <a style="margin-right:5px;" id="btnNewSampleList" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, $('#tblSampleList'), $('#btnNewSampleList'));">
                                    <i class="fa fa-plus"></i> New
                                </a>
                            </div>
                        }
                        @*   @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/ADD/MaintainADD/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })*@
                    </div>
                </div>
                <div class="portlet-body">
                    <form id="frmSample">
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="tblSampleList" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="display:none;">HeaderId</th>
                                    <th style="display:none;">ReqId</th>
                                    <th style="display:none;">Id</th>
                                    <th class="all">Welding Process</th>
                                    <th class="all">Sample</th>
                                    <th class="all">Position</th>
                                    <th class="all clsEle0"> @ViewBag.Elements[0] <br />(@ViewBag.ReqMinValue[0] % - @ViewBag.ReqMaxValue[0] %)</th>
                                    <th class="all clsEle1"> @ViewBag.Elements[1] <br />(@ViewBag.ReqMinValue[1] % - @ViewBag.ReqMaxValue[1] %)</th>
                                    <th class="all clsEle2"> @ViewBag.Elements[2] <br />(@ViewBag.ReqMinValue[2] % - @ViewBag.ReqMaxValue[2] %)</th>
                                    <th class="all clsEle3"> @ViewBag.Elements[3] <br />(@ViewBag.ReqMinValue[3] % - @ViewBag.ReqMaxValue[3] %)</th>
                                    <th class="all clsEle4"> @ViewBag.Elements[4] <br />(@ViewBag.ReqMinValue[4] % - @ViewBag.ReqMaxValue[4] %)</th>
                                    <th class="all clsEle5"> @ViewBag.Elements[5] <br />(@ViewBag.ReqMinValue[5] % - @ViewBag.ReqMaxValue[5] %)</th>
                                    <th class="all clsEle6"> @ViewBag.Elements[6] <br />(@ViewBag.ReqMinValue[6] % - @ViewBag.ReqMaxValue[6] %)</th>
                                    <th class="all clsEle7"> @ViewBag.Elements[7] <br />(@ViewBag.ReqMinValue[7] % - @ViewBag.ReqMaxValue[7] %)</th>
                                    <th class="all clsEle8"> @ViewBag.Elements[8] <br />(@ViewBag.ReqMinValue[8] % - @ViewBag.ReqMaxValue[8] %)</th>
                                    <th class="all clsEle9"> @ViewBag.Elements[9] <br />(@ViewBag.ReqMinValue[9] % - @ViewBag.ReqMaxValue[9] %)</th>
                                    <th class="all clsEle10">@ViewBag.Elements[10]<br />(@ViewBag.ReqMinValue[10] % - @ViewBag.ReqMaxValue[10] %) </th>
                                    <th class="all clsEle11">@ViewBag.Elements[11]<br />(@ViewBag.ReqMinValue[11] % - @ViewBag.ReqMaxValue[11] %) </th>
                                    <th class="all clsActionbtn">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Welder List
                    </div>
                    <div class="tools" id="dvExportHeader">
                        @if (ViewBag.isEditable == "True" && ViewBag.Role == "PROD" && ViewBag.isHistory != "True")
                        {
                        <div class="btn-group">
                            <a style="margin-right:5px;" id="btnNewWelderList" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, $('#tblWelderList'), $('#btnNewWelderList'));">
                                <i class="fa fa-plus"></i> New
                            </a>
                        </div>
                        }
                    </div>
                </div>
                <div class="portlet-body">
                    <form id="frmWelder">
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="tblWelderList" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="display:none;">HeaderId</th>
                                    <th style="display:none;">ReqId</th>
                                    <th style="display:none;">Id</th>
                                    <th class="all">Welding Process</th>
                                    <th class="all">Sample</th>
                                    <th class="all">Position</th>
                                    <th class="all">Welder 1 </th>
                                    <th class="all">Welder 2 </th>
                                    <th class="all">Welder 3 </th>
                                    <th class="all">Welder 4 </th>
                                    <th class="all">Welder 5 </th>
                                    <th class="all">Welder 6 </th>
                                    <th class="all">Welder 7 </th>
                                    <th class="all">Welder 8 </th>
                                    <th class="all">Welder 9 </th>
                                    <th class="all">Welder 10</th>
                                    <th class="all">Welder 11</th>
                                    <th class="all">Welder 12</th>
                                    <th class="all">Welder 13 </th>
                                    <th class="all">Welder 14 </th>
                                    <th class="all">Welder 15 </th>
                                    <th class="all">Welder 16 </th>
                                    <th class="all">Welder 17 </th>
                                    <th class="all">Welder 18 </th>
                                    <th class="all">Welder 19 </th>
                                    <th class="all">Welder 20 </th>
                                    <th class="all">Welder 21 </th>
                                    <th class="all">Welder 22</th>
                                    <th class="all">Welder 23</th>
                                    <th class="all">Welder 24</th>
                                    <th class="all clsActionbtn">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
<script>
    var $table = "";
    var lstWeldingProcess = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.WeldingProcess))));
    var lstPosition = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.lstPosition))));

    $(document).ready(function () {

        if ('@ViewBag.tabname'.toLowerCase() == "samples") {
            FillAutoCompleteinTabl($("#tblSampleList"));
            LoadSampleData();
        }
        else {
            FillAutoCompleteinTabl($("#tblWelderList"));
            LoadWelderData();
        }

        $("#frmSample,#frmWelder").validate({
            rules: {
                txtWeldingProcess0: {
                    required: true,
                },
                Sample0: {
                    required: true
                },
                txtPosition0: {
                    required: true
                },
            },
            messages: {
                txtWeldingProcess0: {
                    required: "Welding Process is required",
                },
                Sample0: {
                    required: "Sample is required"
                },
                txtPosition0: {
                    required: "Position  is required"
                },

            }
        })
    });


    function SaveFromSampleForm() {
        if ($("#frmSample").valid()) {
            var frmData = $("#frmSample").serializeArray();
            SaveData(frmData, $('#tblSampleList'), $('#btnNewSampleList'));
        }
    }
    function SaveFromWelderForm() {
        if ($("#frmWelder").valid()) {
            var frmData = $("#frmWelder").serializeArray();
            SaveData(frmData, $('#tblWelderList'), $('#btnNewWelderList'));
        }
    }
    function SaveData(frmSublinesValues, $table, $btn) {
        var formdata = new FormData();
        $.each(frmSublinesValues, function (key, input) {
            formdata.append(input.name, input.value);
        });

        formdata.append("Element1", '@ViewBag.Elements[0]');
        formdata.append("Element2", '@ViewBag.Elements[1]');
        formdata.append("Element3", '@ViewBag.Elements[2]');
        formdata.append("Element4", '@ViewBag.Elements[3]');
        formdata.append("Element5", '@ViewBag.Elements[4]');
        formdata.append("Element6", '@ViewBag.Elements[5]');
        formdata.append("Element7", '@ViewBag.Elements[6]');
        formdata.append("Element8", '@ViewBag.Elements[7]');
        formdata.append("Element9", '@ViewBag.Elements[8]');
        formdata.append("Element10", '@ViewBag.Elements[9]');
        formdata.append("Element11", '@ViewBag.Elements[10]');
        formdata.append("Element12", '@ViewBag.Elements[11]');

        $.ajax({
            url: WebsiteURL + '/IPI/ChemicalAnalysis/SaveWelderData',
            data: formdata,
            contentType: false,
            processData: false,
            type: 'POST',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {

                if (data.Key) {
                    DisplayNotiMessage("success", data.Value, "Success");
                    $table.DataTable().ajax.reload();
                    ResetAddRowLine($table, $btn);
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

    function UpdateData(objColumn, rowID, headerid, isValid) {
        var columnValue = $(objColumn).val();
        var elem = $(objColumn).attr("hdElement");
        var hdElement, columnName, columnValue;
        if ($(objColumn).attr("id").match("^txt")) {
            hdElement = $("#" + elem);
            columnName = $('#' + elem).attr("colname");
            columnValue = $('#' + elem).val();
        }
        else {
            columnName = $(objColumn).attr("colname");
            columnValue = $(objColumn).val();
        }

        if (isValid && columnValue == "") {
            DisplayNotiMessage("info", columnName + " is required", "Info");
            return false;
        }
        else {
            updateValidData(columnName, columnValue, rowID, headerid)
        }
    }

    function updateValidData(columnName, columnValue, rowID, headerid) {
        var reqid = '@ViewBag.Reqid';
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/ChemicalAnalysis/UpdateWelderData",
            datatype: 'json',
            async: false,
            data: { lineId: rowID, headerid: headerid, columnName: columnName, columnValue: columnValue, reqid: reqid },
            success: function (result) {
                if (!result.Key) {
                    DisplayNotiMessage("error", result.Value, "error");
                    $('#tblElementLines').DataTable().ajax.reload();
                }
            },
            error: function () {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            }
        });
    }

    function DeleteData(rowID, $tbl) {
        bootbox.dialog({
            message: "Do you want to delete this record?",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {

                        $.ajax({
                            type: "POST",
                            url: WebsiteURL + "/IPI/ChemicalAnalysis/DeleteWelderData",
                            datatype: 'json',
                            async: false,
                            data: { id: rowID },
                            success: function (result) {
                                if (result.Key) {
                                    DisplayNotiMessage("success", result.Value, "Success");
                                }
                                else {
                                    DisplayNotiMessage("error", result.Value, "error");
                                }
                                $tbl.DataTable().ajax.reload();
                            },
                            error: function () {
                                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                            }
                        });
                    }
                },
                No: {
                    Label: "No",
                    className: 'btn red',
                    callback: function () { }
                },
            }
        });
    }

    function LoadSampleData() {
        var table = $('#tblSampleList');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'desc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/ChemicalAnalysis/" + '@ViewBag.redirect',
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                          { "name": "IsVisible", "value": '@ViewBag.isEditable' },
                          { "name": "Roles", "value": '@ViewBag.Role' },
                          { "name": "Headerid", "value": '@ViewBag.HeaderId' },
                          { "name": "CTQLineHeaderId", "value": '@ViewBag.Reqid' },
                          { "name": "isHistory", "value": '@ViewBag.isHistory' });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                         if (!('@ViewBag.isEditable' == "True" && '@ViewBag.Role' == "PROD" && '@ViewBag.isHistory' != "True"))
                         {
                             ResetAddRowLine($('#tblSampleList'), $('#btnNewSampleList'));
                         }
                        $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true });
                        $(".intnumber").autoNumeric('init', { aPad: "fase", vMax: "99999999", aForm: "false" });
                        $(".numeric-only").autoNumeric('init', { aSep: '', vMax: "999.9999" });
                         },
                    'async': false
                });
            },
            "columns": [
                    {
                        "sClass": "hide",
                        "name": ""
                    },
                     {
                         "sClass": "hide",
                         "name": ""
                     },
                     {
                         "sClass": "hide",
                         "name": ""
                     },
                    {
                        "name": "WeldingProcess",
                        "sClass": "center",
                        "bSortable": true,
                    },
                    {
                        "name": "Sample",
                        "sClass": "center1",
                        "bSortable": true,
                    },
                    {
                        "name": "Position",
                        "sClass": "center",
                    },
                    { "name": "ExaminationResult1", "sClass": "center1 clsEle0" },
                    { "name": "ExaminationResult2", "sClass": "center1 clsEle1" },
                    { "name": "ExaminationResult3", "sClass": "center1 clsEle2" },
                    { "name": "ExaminationResult4", "sClass": "center1 clsEle3" },
                    { "name": "ExaminationResult5", "sClass": "center1 clsEle4" },
                    { "name": "ExaminationResult6", "sClass": "center1 clsEle5" },
                    { "name": "ExaminationResult7", "sClass": "center1 clsEle6" },
                    { "name": "ExaminationResult8", "sClass": "center1 clsEle7" },
                    { "name": "ExaminationResult9", "sClass": "center1 clsEle8" },
                    { "name": "ExaminationResult10", "sClass": "center1 clsEle9" },
                    { "name": "ExaminationResult11", "sClass": "center1 clsEle10" },
                    { "name": "ExaminationResult12", "sClass": "center1 clsEle11" },
                    {
                        "bSortable": false,
                        "sClass": "center px100 clsActionbtn",
                    },
            ]
        });

        if ('@ViewBag.Elements[0]' == "") { oTable.api().columns('.clsEle0').visible(false); }
        if ('@ViewBag.Elements[1]' == "") { oTable.api().columns('.clsEle1').visible(false); }
        if ('@ViewBag.Elements[2]' == "") { oTable.api().columns('.clsEle2').visible(false); }
        if ('@ViewBag.Elements[3]' == "") { oTable.api().columns('.clsEle3').visible(false); }
        if ('@ViewBag.Elements[4]' == "") { oTable.api().columns('.clsEle4').visible(false); }
        if ('@ViewBag.Elements[5]' == "") { oTable.api().columns('.clsEle5').visible(false); }
        if ('@ViewBag.Elements[6]' == "") { oTable.api().columns('.clsEle6').visible(false); }
        if ('@ViewBag.Elements[7]' == "") { oTable.api().columns('.clsEle7').visible(false); }
        if ('@ViewBag.Elements[8]' == "") { oTable.api().columns('.clsEle8').visible(false); }
        if ('@ViewBag.Elements[9]' == "") { oTable.api().columns('.clsEle9').visible(false); }
        if ('@ViewBag.Elements[10]' == "") { oTable.api().columns('.clsEle10').visible(false); }
        if ('@ViewBag.Elements[11]' == "") { oTable.api().columns('.clsEle11').visible(false); }
        if ('@ViewBag.isHistory'.toLowerCase() == "true" || '@ViewBag.Reqid'.toUpperCase() == "QC") {
            oTable.api().columns('.clsActionbtn').visible(false);
        }
    }
    function LoadWelderData() {
        var table = $('#tblWelderList');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'desc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/ChemicalAnalysis/" + '@ViewBag.redirect',
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "IsVisible", "value": '@ViewBag.isEditable' },
                            { "name": "Roles", "value": '@ViewBag.Role' },
                            { "name": "Headerid", "value": '@ViewBag.HeaderId' },
                            { "name": "CTQLineHeaderId", "value": '@ViewBag.Reqid' },
                            { "name": "isHistory", "value": '@ViewBag.isHistory' });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        ResetAddRowLine($('#tblWelderList'), $('#btnNewWelderList'));
                        $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true });
                        $(".intnumber").autoNumeric('init', { aPad: "fase", vMax: "99999999", aForm: "false" });
                        $(".numeric-only").autoNumeric('init', { aSep: '', vMax: "999.9999" });
                    },
                    'async': false
                });
            },
            "columns": [
                    {
                        "sClass": "hide",
                        "name": "HeaderId"
                    },
                    {
                        "sClass": "hide",
                        "name": ""
                    },
                    {
                        "sClass": "hide",
                        "name": ""
                    },
                    {
                        "name": "WeldingProcess",
                        "sClass": "center",
                        "bSortable": true,
                    },
                    {
                        "name": "Sample",
                        "sClass": "center1",
                        "bSortable": true,
                    },
                    {
                        "name": "Position",
                        "sClass": "center",
                    },
                    { "name": "Welder1", "sClass": "center1" },
                    { "name": "Welder2", "sClass": "center1" },
                    { "name": "Welder3", "sClass": "center1" },
                    { "name": "Welder4", "sClass": "center1" },
                    { "name": "Welder5", "sClass": "center1" },
                    { "name": "Welder6", "sClass": "center1" },
                    { "name": "Welder7", "sClass": "center1" },
                    { "name": "Welder8", "sClass": "center1" },
                    { "name": "Welder9", "sClass": "center1" },
                    { "name": "Welder10", "sClass": "center1" },
                    { "name": "Welder11", "sClass": "center1" },
                    { "name": "Welder12", "sClass": "center1" },
                    { "name": "Welder13", "sClass": "center1" },
                    { "name": "Welder14", "sClass": "center1" },
                    { "name": "Welder15", "sClass": "center1" },
                    { "name": "Welder16", "sClass": "center1" },
                    { "name": "Welder17", "sClass": "center1" },
                    { "name": "Welder18", "sClass": "center1" },
                    { "name": "Welder19", "sClass": "center1" },
                    { "name": "Welder20", "sClass": "center1" },
                    { "name": "Welder21", "sClass": "center1" },
                    { "name": "Welder22", "sClass": "center1" },
                    { "name": "Welder23", "sClass": "center1" },
                    { "name": "Welder24", "sClass": "center1" },
                    {
                        "bSortable": false,
                        "sClass": "center px100 clsActionbtn",
                    },
            ]
        });

        if ('@ViewBag.isHistory'.toLowerCase() == "true" || '@ViewBag.Reqid'.toUpperCase() == "QC") {
            oTable.api().columns('.clsActionbtn').visible(false);
        }
    }


    function DeleteHeader(ID) {
        bootbox.dialog({
            title: "Delete Confirmation",
            message: "Do you want to delete this record?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success',
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: WebsiteURL + '/ADD/MaintainADD/DeleteHeader',
                                data: { headerId: ID },
                                type: 'POST',
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        $('#tblADDList').DataTable().ajax.reload();
                                    }
                                    else {
                                        DisplayNotiMessage("error", data.Value, "Error");
                                    }

                                }
                            });
                        }
                    }
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },

        });
    }

    function FillIPIPlanAutoComplete(element, sourceList, hdElement, isEditable, enabletxt, $spnClass) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            async: false,
            minLength: 0,
            select: function (event, ui) {
                if (ui.item != null) {
                    $(element).val(ui.item.value);
                    if (hdElement != null && hdElement != undefined && hdElement != "") {
                        $(hdElement).val(ui.item.id);
                    }
                    if (enabletxt != null && enabletxt != undefined) {
                        if ($(this).val() == 'Yes') {
                            enabletxt.val('').attr("readonly", false);
                            if (enabletxt != null && enabletxt != undefined) {
                                $spnClass.show();
                            }
                        }
                        else {
                            enabletxt.val('').attr("readonly", true);
                            if (enabletxt != null && enabletxt != undefined) {
                                $spnClass.hide();
                            }
                        }
                    }
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $(this).focus();
                    if (hdElement != null && hdElement != undefined && hdElement != "") {
                        $(hdElement).val('');
                    }
                    if (enabletxt != null && enabletxt != undefined) {
                        enabletxt.val('').attr("readonly", true);
                        if (enabletxt != null && enabletxt != undefined) {
                            $spnClass.hide();
                        }
                    }
                }
                else if (ui.item != null && $(this).val() != ui.item.value) {
                    $(this).val('');
                    if (hdElement != null && hdElement != undefined && hdElement != "") {
                        $(hdElement).val('');
                        if (enabletxt != null && enabletxt != undefined) {
                            $spnClass.hide();
                        }
                    }
                    $(this).focus();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }

    function FillAutoCompleteinTabl($table) {
        $table.delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(this).attr("hdElement");
            if ($(this).attr("colname").toLowerCase() == "txtweldingprocess") {
                FillIPIPlanAutoComplete(element, lstWeldingProcess, $("#" + hdElement), false);
            }
            if ($(this).attr("colname").toLowerCase() == "txtposition") {
                FillIPIPlanAutoComplete(element, lstPosition, $("#" + hdElement), false);
            }
        });
    }
    function ResetAddRowLine(table, $btnname) {
        table.find("tbody tr:first").hide();
        table.find("tbody tr:first").css("background-color", "#fbffb2");
        if ('@ViewBag.isHistory'.toLowerCase() != "true") {
            $btnname.html('<i class="fa fa-plus"></i> New');
        }
        clearFirstRowLine(table.find("tbody tr:first"));
    }

    function clearFirstRowLine(objFirstLine) {
        $('input[type!="hidden"]', objFirstLine).val('');
    }

    function ShowNewLineRecord(obj, $table, $btnname) {
        $table.find("tbody tr:first").toggle();

        if ($table.find("tbody tr:first").is(":visible")) {
            $(obj).html('<i class="fa fa-times"></i> Cancel');
        }
        else {
            $(obj).html('<i class="fa fa-plus"></i> New');
            clearFirstRowLine($table.find("tbody tr:first"));
        }
    }
</script>
