﻿@using IEMQSImplementation
@model QMS022

<div class="col-md-12">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                Element List
            </div>
            <div class="tools" id="dvExportSubLines">
                <div class="btn-group">
                    @if (ViewBag.isEditable)
                    {
                        <a style="margin-right:5px;" id="btnNewLines" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineElement(this);">
                            <i class="fa fa-plus"></i> New
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <form id="frmElementLines">
                <table id="tblElementLines" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="min-phone-l" style="display:none;">PlanId</th>
                            <th class="min-phone-l" style="display:none;">ElementId</th>
                            <th class="all">Element <span style="color:red"> * </span></th>
                            <th class="all">Req. Min. Value <span style="color:red"> * </span></th>
                            <th class="all">Req. Max. Value  <span style="color:red"> * </span></th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var lstElement = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.Element))));
        $('#tblElementLines').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(this).attr("hdElement");
            if ($(this).attr("colname").toLowerCase() == "txtelement")
                FillIPIPlanAutoComplete(element, lstElement, $("#" + hdElement), false);
        });


        $("#frmElementLines").validate({
            rules: {
                txtElement0: {
                    required: true,
                },
                ReqMinValue0: {
                    required: true
                },
                ReqMaxValue0: {
                    required: true
                },
            },
            messages: {
                txtElement0: {
                    required: "Element is required",
                },
                ReqMinValue0: {
                    required: "Req. Min. Value is required"
                },
                ReqMaxValue0: {
                    required: "Req. Max. Value  is required"
                },

            }
        })

        var table = $('#tblElementLines');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": false,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            "bDestroy": true,
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/ChemicalAnalysis/GetTestPlanElementData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Headerid", "value": "@ViewBag.PlanId" },
                            { "name": "IsVisible", "value": "@ViewBag.isEditable" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true });
                        $(".numeric-only").autoNumeric('init', { aSep: '', vMax: "999.9999" });
                        if (!('@ViewBag.isEditable' == "True" && '@ViewBag.Role' == "PROD" && '@ViewBag.isHistory' != "True")) {
                            ResetAddRowElement($('#tblElementLines'));
                        }
                        if (data.is12Element) {
                            $('#btnNewLines').hide();
                        }
                    },
                    'async': false
                });
            },
            "aoColumns": [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "Element",
                },
                {
                    "sClass": "center",
                    "name": "ReqMinValue",
                },
                {
                    "sClass": "center",
                    "name": "ReqMaxValue"

                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
            ]
        });
    });
    function ResetAddRowElement(table) {
        table.find("tbody tr:first").hide();
        table.find("tbody tr:first").css("background-color", "#fbffb2");
        $("#btnNewLines").html('<i class="fa fa-plus"></i> New');
        clearFirstRowLine(table.find("tbody tr:first"));
    }

    function clearFirstRowLine(objFirstLine) {
        $('input[type!="hidden"]', objFirstLine).val('');
    }

    function ShowNewLineElement(obj) {
        $('#tblElementLines').find("tbody tr:first").toggle();
        $('#txtElement').focus();
        // $('#tblElementLines').find("tbody tr:first select:first").focus();
        if ($('#tblElementLines').find("tbody tr:first").is(":visible")) {
            $(obj).html('<i class="fa fa-times"></i> Cancel');
        }
        else {
            $(obj).html('<i class="fa fa-plus"></i> New');
            clearFirstRowLine($('#tblElementLines').find("tbody tr:first"));
        }
    }

    function SaveNewElement() {
        if ($("#frmElementLines").valid()) {
            var formData = new FormData();
            var frmValues = $('#frmElementLines').serializeArray();

            $.each(frmValues, function (key, input) {
                formData.append(input.name, input.value);
            });
            $.ajax({
                url: WebsiteURL + '/IPI/ChemicalAnalysis/SaveNewTestPlanElement',
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.dataKey) {
                        $('#btnNewLines').hide();
                    }
                    if (data.Key) {
                        if (data.Value != null && data.Value.length > 0)
                            DisplayNotiMessage("success", data.Value, "Success");
                        if (data.Remarks != null && data.Remarks.length > 0)
                            DisplayNotiMessage("info", data.Remarks, "Info");
                        $('#tblElementLines').DataTable().ajax.reload();
                        ResetAddRowElement($('#tblElementLines'))
                        ShowNewLineElement($('#btnNewLines'))
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
    }

    function UpdateData(objColumn, rowID, headerid, isValid) {
        var columnValue = $(objColumn).val();
        var elem = $(objColumn).attr("hdElement");
        var hdElement, columnName, columnValue;
        if ($(objColumn).attr("id").match("^txt")) {
            hdElement = $("#" + elem);
            columnName = $('#' + elem).attr("colname");
            columnValue = $('#' + elem).val();
        }
        else {
            columnName = $(objColumn).attr("colname");
            columnValue = $(objColumn).val();
        }

        if (isValid && columnValue == "") {
            DisplayNotiMessage("info", columnName + " is required", "Info");
            return false;
        }
        else {
            updateValidData(columnName, columnValue, rowID, headerid)
        }
    }

    function updateValidData(columnName, columnValue, rowID, headerid) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/ChemicalAnalysis/UpdateTestPlanElement",
            datatype: 'json',
            async: false,
            data: { lineId: rowID, headerid: headerid, columnName: columnName, columnValue: columnValue },
            success: function (result) {
                if (!result.Key) {
                    DisplayNotiMessage("error", result.Value, "error");
                    $('#tblElementLines').DataTable().ajax.reload();
                }
               
                if (result.Remarks != null && result.Remarks.length > 0)
                    DisplayNotiMessage("info", result.Remarks, "Info");
            },
            error: function () {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            }
        });
    }
    function DeleteElement(rowID) {
        bootbox.dialog({
            message: "Do you want to delete this Element?",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {

                        $.ajax({
                            type: "POST",
                            url: WebsiteURL + "/IPI/ChemicalAnalysis/DeleteTestPlanElement",
                            datatype: 'json',
                            async: false,
                            data: { id: rowID },
                            success: function (result) {
                                if (result.Key) {
                                    DisplayNotiMessage("success", result.Value, "Success");
                                    $('#tblElementLines').DataTable().ajax.reload();
                                }
                                else {
                                    DisplayNotiMessage("error", result.Value, "error");
                                    $('#tblElementLines').DataTable().ajax.reload();
                                }
                                if (result.Remarks != null && result.Remarks.length > 0)
                                    DisplayNotiMessage("info", result.Remarks, "Info");
                            },
                            error: function () {
                                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                            }
                        });
                    }
                },
                No: {
                    Label: "No",
                    className: 'btn red',
                    callback: function () { }
                },
            }
        });
    }

</script>