﻿
@{
    ViewBag.Title = "Folder";
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
}

<div class="m-portlet ">
    <div class="m-portlet__body ">
        <div class="m-form ">
            <div class="row align-items-center">
                <div class="col-xl-12">
                    <div class="form-group m-form__group row align-items-center pb-0">
                        <div class="col-md-3">
                            <div class="m-form__group ">
                                <div class="m-form__label">
                                    <label>Object Type:</label>
                                </div>
                                <div class="m-form__control">
                                    @Html.DropDownList("GetObjectNameList", ViewBag.objectNames as SelectList, "--Select--", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="d-md-none m--margin-bottom-10"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="m-form__group ">
                                <div class="m-form__label">
                                    <label>Status:</label>
                                </div>
                                <div class="m-form__control">
                                    @Html.DropDownList("GetobjectStatusList", ViewBag.objectStatus as SelectList, "--Select--", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="d-md-none m--margin-bottom-10"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="m-form__group ">
                                <div class="m-form__label">
                                    <label>Object Name:</label>
                                </div>
                                <div class="m-form__control">
                                    @Html.TextBox("GetObjectName", null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="d-md-none m--margin-bottom-10"></div>
                        </div>
                        <div class="col-md-3">
                            <input type="button" value="Search" id="btnSearch" class="btn btn-success mt-2">
                            @*<a href="" class="btn btn-success mt-2">Search</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-bordered" id="tblObjectList"></table>

    </div>
   
</div>
<div id="divROC"></div>
<div id="divROCShowINDOC"></div>
<script src="~/DESAssets/js/FolderDetails_Datatable.js"></script>
<script>
    var psno = '@IEMQS.DESServices.CommonService.objClsLoginInfo.UserName';
    var Project = '@IEMQS.Areas.DES.Models.SessionMgtModel.ProjectFolderList.ProjectNo';

</script>