﻿@model IEMQS.DESCore.ProjectModel
@{
    ViewBag.Title = "JEP Project";
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
    //_DESLayout
    //_DESProjectLayout
}

<div class="row">
    <div class="col-12">
        <div class="m-portlet mb-0">
            <div class="m-portlet__body py-3">
                <h4 class="m-portlet__head-text mb-0">
                    Maintain Project Details
                </h4>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("JEPProject", "Project", FormMethod.Post, new { @class = "m-form" }))
{
    <div class="row mt-4">
        <div class="col-xl-3 col-lg-4">
            <div class="m-portlet m-portlet--full-height  ">
                <div class="m-portlet__body">
                    <div class="m-widget12">
                        <div class="m-widget12__item">
                            <span class="m-widget12__text1">Customer Name<br><span class="m--font-info">@Model.Customer</span></span>
                        </div>
                        <div class="m-widget12__item">
                            <span class="m-widget12__text1">Customer Order<br><span class="m--font-info">@Model.CustomerPONumber</span></span>
                        </div>
                        <div class="m-widget12__item">
                            <span class="m-widget12__text1">LOI/FOA No<br><span class="m--font-info">@Model.CustomerLOINumber</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.ISJEPCreated)
        {
            <div class="col-xl-9 col-lg-8">
                <div class="m-portlet m-portlet--full-height ">

                    <form action="" class="m-form">
                        <div class="m-portlet__body">

                            <div class="theme-form">
                                <div class="form-group m-form__group row mb-4">
                                    <div class="col-12 ml-auto">
                                        <h5 class="m-form__section m--font-primary">Project Details</h5>
                                    </div>
                                </div>
                                <div class="row m-0">
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Contract No</label>
                                            <div class="col-6 pl-0">

                                                @Html.TextBoxFor(model => model.Contract, new { @class = "form-control m-input m-input m-input--square", @readonly = "readonly", @tabindex = "-1" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Project No</label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.Project, new { @class = "form-control m-input m-input m-input--square", @readonly = "readonly", @tabindex = "-1" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Description</label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.Description, new { @class = "form-control m-input m-input m-input--square", @maxlength = "200", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Equipment No<span class="text-danger">*</span></label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.EquipmentNo, new { @class = "form-control m-input m-input m-input--square", @readonly = "readonly", @maxlength = "100" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Equipment Name</label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.EquipmentName, new { @class = "form-control m-input m-input m-input--square", @readonly = "readonly", @maxlength = "100" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Code Stamp</label>
                                            <div class="col-6 pl-0">
                                                @Html.DropDownListFor(x => x.CodeStamp, ViewBag.CodeStamplist as SelectList, "--Select--", new { @class = "form-control m-input m-input m-input--square", @disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Production Center</label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.ProductionCenter, new { @class = "form-control m-input m-input m-input--square", @readonly = "readonly", @maxlength = "200" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Design Group</label>
                                            <div class="col-6 pl-0">
                                                @Html.DropDownListFor(x => x.DesignGroup, ViewBag.ListDesignGroup as SelectList, "--Select--", new { @class = "form-control m-input m-input m-input--square", @disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Comments for DIN report</label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.CustomerForDINReport, new { @class = "form-control m-input m-input m-input--square", @readonly = "readonly", @maxlength = "100" })
                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Drawing Series No</label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.DrawingSeriesNo, new { @class = "form-control m-input m-input m-input--square", @readonly = "readonly", @maxlength = "100" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                                <div class="form-group m-form__group row my-4">
                                    <div class="col-12 ml-auto">
                                        <h5 class="m-form__section m--font-primary">Project Manager</h5>
                                    </div>
                                </div>
                                <div class="row m-0">
                                    <div class="col-md-9">
                                        <div class="form-group m-form__group row">
                                            <label class="col-4 col-form-label bg-secondary">Project Manager<span class="text-danger">*</span></label>
                                            <div class="col-8 pl-0">
                                                @Html.TextBoxFor(model => model.ProjectPMG, new { @class = "form-control m-input  m-input  m-input--square", @readonly = "readonly", @tabindex = "-1" })

                                                @*@Html.TextBoxFor(model => model.ProjectPMG, new { @class = "form-control m-input  m-input  m-input--square", @readonly = "", @tabindex = "-1" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="m-portlet__foot">
                                <div class="row align-items-center">
                                    <div class="col-lg-12 text-right">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <a href="@Url.Action("JEPProject","Project", new {area = "DES"})" class="btn btn-secondary">Cancel</a>
                                    </div>
                                </div>
                            </div>*@
                    </form>
                </div>
            </div>
        }
        else
        {
            <div class="col-xl-9 col-lg-8">
                <div class="m-portlet m-portlet--full-height ">

                    <form action="" class="m-form">
                        <div class="m-portlet__body">

                            <div class="theme-form">
                                <div class="form-group m-form__group row mb-4">
                                    <div class="col-12 ml-auto">
                                        <h5 class="m-form__section m--font-primary">Project Details</h5>
                                    </div>
                                </div>
                                <div class="row m-0">
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Contract No</label>
                                            <div class="col-6 pl-0">

                                                @Html.TextBoxFor(model => model.Contract, new { @class = "form-control m-input m-input m-input--square", @readonly = "", @tabindex = "-1" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Project No</label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.Project, new { @class = "form-control m-input m-input m-input--square", @readonly = "", @tabindex = "-1" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Description</label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.Description, new { @class = "form-control m-input m-input m-input--square", @maxlength = "200" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Equipment No<span class="text-danger">*</span></label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.EquipmentNo, new { @class = "form-control m-input m-input m-input--square", @maxlength = "100" })
                                                @Html.ValidationMessageFor(x => x.EquipmentNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Equipment Name<span class="text-danger">*</span></label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.EquipmentName, new { @class = "form-control m-input m-input m-input--square", @maxlength = "100" })
                                                @Html.ValidationMessageFor(x => x.EquipmentName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Code Stamp</label>
                                            <div class="col-6 pl-0">
                                                @Html.DropDownListFor(x => x.CodeStamp, ViewBag.CodeStamplist as SelectList, "--Select--", new { @class = "form-control m-input m-input m-input--square" })
                                                @*@Html.ValidationMessageFor(x => x.ASMETag, "", new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Production Center<span class="text-danger">*</span></label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.ProductionCenter, new { @class = "form-control m-input m-input m-input--square", @maxlength = "200" })
                                                @Html.ValidationMessageFor(x => x.ProductionCenter, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Design Group<span class="text-danger">*</span></label>
                                            <div class="col-6 pl-0">
                                                @Html.DropDownListFor(x => x.DesignGroup, ViewBag.ListDesignGroup as SelectList, "--Select--", new { @class = "form-control m-input m-input m-input--square" })
                                                @Html.ValidationMessageFor(x => x.DesignGroup, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Comments for DIN report</label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.CustomerForDINReport, new { @class = "form-control m-input m-input m-input--square", @maxlength = "100" })
                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Drawing Series No<span class="text-danger">*</span></label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.DrawingSeriesNo, new { @class = "form-control m-input m-input m-input--square blockSpecialChar", @maxlength = "100" })
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <div class="col-6 pl-0"></div>
                                            <div class="col-6 pl-0">
                                                @Html.ValidationMessageFor(x => x.DrawingSeriesNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                                <div class="form-group m-form__group row my-4">
                                    <div class="col-12 ml-auto">
                                        <h5 class="m-form__section m--font-primary">Project Manager</h5>
                                    </div>
                                </div>
                                <div class="row m-0">
                                    <div class="col-md-9">
                                        <div class="form-group m-form__group row">
                                            <label class="col-4 col-form-label bg-secondary">Project Manager<span class="text-danger">*</span></label>
                                            <div class="col-8 pl-0">
                                                @Html.DropDownListFor(model => model.ProjectPMGPsNo, ViewBag.ProjectPMGList as SelectList, "--Select--", new { @class = "form-control m-input  m-input--square"})
                                                
                                                @*@Html.TextBoxFor(model => model.ProjectPMG, new { @class = "form-control m-input  m-input  m-input--square", @readonly = "", @tabindex = "-1" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <div class="col-6 pl-0"></div>
                                            <div class="col-6 pl-0">
                                               @Html.ValidationMessageFor(model => model.ProjectPMGPsNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__foot">
                            <div class="row align-items-center">
                                <div class="col-lg-12 text-right">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    @*<a href="@Url.Action("JEPProject","Project", new {area = "DES"})" class="btn btn-secondary">Cancel</a>*@
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        }

    </div>
}
<script>
    $(document).ready(function () {
        $("#ProjectPMGPsNo").select2();
        $("#DesignGroup").select2();
    });
</script>

