﻿@using IEMQSImplementation
@{
    string FileUploadLineID = "fuline";
}
<script>
    var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()'=="true"?true:false;
    var sForApprove = @ViewBag.ForApprove.ToString().ToLower();
    $(document).ready(function () {
        if(sForApprove){
            LoadLinesForApprove();
        }
        else{
            LoadLines();
        }

    });

    function ResetAddRow() {
        $('#tblSINDepartment').find("tbody tr:first").hide();
        $('#tblSINDepartment').find("tbody tr:first").css("background-color", "#fbffb2");
        $("#btnNew").val("New");
    }

    function LoadLines(){
        var table = $('#tblSINLines');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            destroy: true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5,10, 25, 50, 100],
                [5,10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iSINplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL +"/PAM/SIN/loadSINLineDataTable?SINId=" + '@ViewBag.SinId'+"&ForApprove="+sForApprove.toString().toLowerCase(),
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                    { "name": "IsDisplayOnly", "value": IsDisplayOnly }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function(data){
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportSubLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportSubLines").val(data.strSortOrder);
                        $('input[maxlength]').maxlength({
                            alwaysShow: true,
                        });
                    },
                    'async': false
                });
                ResetAddRow();
            },
            "aoColumns": [
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                  {
                      "sClass": "hide",
                  },
                  {
                      "sClass": "hide",
                  },
                  {
                      "sClass": "center",
                      "bSortable": false,
                  },
                  {
                      "sClass": "center",
                      "bSortable": false,
                  },
                  {
                      "sClass": "center",
                      "bSortable": false,
                  },
                  {
                      "sClass": "center",
                      "bSortable": false,
                  },
                  {
                      "sClass": "",
                      "bSortable": false,
                      "render": function (data, type, row, meta) {
                          var buttons = "";

                          var functionCall = "ViewAttachment( " + row[1] + ")";
                          buttons = '<center><i id="btnAttchment" name="btnAction" style="cursor:pointer;"  Title="Add/Update Attachment" class="fa fa-paperclip"  onClick="' + functionCall + '" ></i></center>';

                          return buttons;
                      }
                  },
                  {
                      "sClass": "center clscheck",
                      "bSortable": false,
                  },
                  {
                      "sClass": "center clsaction",
                      "bSortable": false,
                  }
                //{
                //    "sClass": "",
                //    "bSortable": false,
                //    "render": function (data, type, row, meta) {
                //        var SINId = row[0];
                //        var buttons = "";
                //        var functionCall = "SaveLineRecord(" + SINId + ")";

                //        buttons = '<center><a class="btn btn-xs green"  href="javascript:void(0);" Title="Edit Lines" onclick="' + functionCall + '">Edit<i style="margin-left:5px;" class="fa fa-edit"></i></a></center>';

                //        return buttons;
                //    }
                //}
            ]
        });

        if (IsDisplayOnly) {
            oTable.api().column('.clscheck').visible(false);
            oTable.api().column('.clsaction').visible(false);
        }
    }

    function LoadLinesForApprove(){
        var table = $('#tblSINLinesApprove');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            destroy: true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5,10, 25, 50, 100],
                [5,10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iSINplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL +"/PAM/SIN/loadSINLineDataTable?SINId=" + '@ViewBag.SINId'+"&ForApprove="+sForApprove.toString().toLowerCase(),
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function(data){
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportSubLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportSubLines").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "aoColumns": [
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                 {
                     "sClass": "hide",
                 },
                 {
                     "sClass": "hide",
                 },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "",
                    "bSortable": false,
                    "render": function (data, type, row, meta) {
                        var buttons = "";

                        var functionCall = "ViewAttachment( " + row[1] + ")";
                        buttons = '<center><i id="btnAttchment" name="btnAction" style="cursor:pointer;"  Title="Add/Update Attachment" class="fa fa-paperclip"  onClick="' + functionCall + '" ></i></center>';

                        return buttons;
                    }
                },
                {
                    "sClass": "",
                    "bSortable": false,
                }
            ]
        });
    }

    @*function EditLines(LineId) {
        //window.location.href = "/PAM/DSS/AddDSS/" + DssId;
        $.ajax({
            url: "/PAM/DSS/GetLineDetailsbyId",
            type: "POST",
            datatype: "html",
            data: { DssId: @ViewBag.DSSId,LineId:LineId },
            success: function (data) {
                bootbox.dialog({
                    title: "DSS Lines",
                    message: data,
                    size: "large",
                })
            },
            error: function () {
                alert("error");
            }
        });
    }*@

    //function UpdateAccepted(chk,LineId){
    //    debugger;
    //    $chk=$('#'+chk.id);

    //    $.ajax({
    //        url: "/PAM/DSS/UpdateAccepted",
    //        type: "POST",
    //        datatype: "json",
    //        data: { LineId: LineId,IsAccepted:$chk.prop('checked') },
    //        success: function (data) {
    //        },
    //        error: function () {
    //            alert("error");
    //        }
    //    });
    //}

    function ViewAttachment(LineId) {

        //OLD CODE
        //var objFileUploadLine = new FileUploadEnt('dv@(FileUploadLineID)', '@FileUploadLineID');
        //objFileUploadLine.ShowDeleteAction = false;
        //objFileUploadLine.ShowAttachmentBtn = false;
        //objFileUploadLine.FolderPath = "PAM015/" + LineId;
        //objFileUploadLine.LoadInPopup = true;
        //LoadFileUploadPartialView(objFileUploadLine);

        var objFile = {
            TableName: 'PAM015',
            TableId: LineId,
            Path: '//PAM015//' + LineId + '//1',
            ControlID: '@(FileUploadLineID)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: false,
            ShowDownloadBtn: false,
            ShowAttachmentBtn: false
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(FileUploadLineID)', true);

    }

    function SaveLineRecord(LineId) {
        if ($("#frmSINLines").valid()) {

            var notes = $('#Notes'+LineId).val();

            if (notes != "") {
                $.ajax({
                    url: WebsiteURL +'/PAM/SIN/SaveLines?Id=' + LineId,
                    type: "POST",
                    data: { lineId: LineId, notes: notes},
                    dataType: 'json',
                    async: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    success: function (data) {
                        if (data.Key) {
                            $("#tblSINLines").DataTable().ajax.reload();
                            DisplayNotiMessage("success", data.Value, "Success");

                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                    }
                });
            }
            else
            {
                DisplayNotiMessage("error", "Please enter notes", "Error");
            }
        }
        else {
            HighlightInValidControls();
            return false;
        }
    }

    function UpdateAccepted(chk,LineId){

        if (LineId == 0) {
            return false;
        }
        $chk=$('#'+chk.id);

        $.ajax({
            url: WebsiteURL +"/PAM/SIN/UpdateAccepted",
            type: "POST",
            datatype: "json",
            data: { LineId: LineId,IncludeInSIN:$chk.prop('checked') },
            success: function (data) {
                if (data.Key) {
                    $("#tblSINLines").DataTable().ajax.reload();
                    DisplayNotiMessage("success", data.Value, "Success");
                }
            },
            error: function () {
                alert("error");
            }
        });
    }
</script>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    SIN Line Details
                </div>
                <div class="tools" id="dvExportSubLines">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PAM/SIN/GenerateExcel", GridType = clsImplementationEnum.GridType.SUB_LINES.GetStringValue(), dvId = "#dvExportSubLines" })
                </div>
            </div>
            <div class="portlet-body">
                @if (ViewBag.ForApprove.ToString().ToLower() == "false")
                {
                    using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmSINLines" }))
                    {
                        <table id="tblSINLines" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="min-phone-l">#</th>
                                    <th style="display:none;">LineId</th>
                                    <th style="display:none;">HeaderId</th>
                                    <th class="min-phone-l">Doc Description</th>
                                    <th class="min-phone-l">Doc No</th>
                                    <th class="min-phone-l">Doc Rev</th>
                                    <th class="min-phone-l">Notes</th>
                                    <th class="min-phone-l">Attachment</th>
                                    <th class="min-phone-l">Include In SIN</th>
                                    <th class="min-phone-l" style="white-space:nowrap">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    }
                }
                else
                {
                    <span>For Approval</span>
                    <table id="tblSINLinesApprove" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="min-phone-l">#</th>
                                <th style="display:none;">LineId</th>
                                <th style="display:none;">HeaderId</th>
                                <th class="min-phone-l">Doc Description</th>
                                <th class="min-phone-l">Doc No</th>
                                <th class="min-phone-l">Doc Rev</th>
                                <th class="min-phone-l">Notes</th>
                                <th class="min-phone-l">Attachment</th>
                                <th class="min-phone-l">Include In SIN</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                }

            </div>
        </div>
    </div>
    <div id="dv@(FileUploadLineID)"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>

