﻿@using IEMQSImplementation
@model PAM015

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmAttahment", @enctype = "multipart/form-data" }))
{
    <input type="hidden" id="LineId" name="ChecklistId" value="@Model.LineId" />
    <div class="form-group">
        <div class="=row">
            <div class="col-md-12">
                @Html.Partial("_AttachmentPartial")
            </div>
        </div>

    </div>
}
<script>
    if ('@Model.LineId' > 0) {
        setAttachmentsInHeader("PAM015/@(Model.LineId)", true);
        $('#btnAttach').hide();
    }

    $('#btnSaveAttachment').click(function () {
        $.ajax({
            url: WebsiteURL + "/PAM/DSS/SaveDSSAttachment",
            data: {
                id: $("#LineId").val(),
                hasAttachments: getHasAttachmentsForSubmit(),
                Attach: getAttachmentsFromTable()
            },
            type: 'POST',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            async: false,
            success: function (res) {
                if (res.Key == true) {
                    bootbox.hideAll();
                    setTimeout(DisplayNotiMessage("success", res.Value, "Success"), 2000);
                }
                else {
                    setTimeout(DisplayNotiMessage("Error", "Something Went Wrong.Please Try Again After Sometime", "Error"), 2000);
                }
            },
            error: function () { },
        });
    });


    $("#btnCancel").click(function () {
        console.log("called");
        bootbox.hideAll();
    });

</script>
