﻿@model IEMQSImplementation.PAM013
@using IEMQSImplementation
@{
    ViewBag.Title = "CreateSin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-switch/bootstrap-switch.min.js"></script>

<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="form-body">
                <div id="divSINHeader"></div>
                <div class="row">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmSINHeaderValue" }))
                    {
                        @Html.HiddenFor(model => model.HeaderId)
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label class="control-label">Shop<span class="required"> * </span></label>
                                    <div class="">
                                        <input type="text" id="txtShop" name="txtShop" placeholder="Select" readonly="readonly" class="form-control col-md-3" />
                                        @Html.HiddenFor(m => m.Shop, new { @id = "ddlShop" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Prod-Group<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ProdGroup, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                @*<div class="col-md-3">
                                    <label class="control-label">Reason of Issue<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ReasonofNextIssue, new { @class = "form-control" })
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    }
                </div>
                <hr />
                <div id="divDepartment"></div>
                <div id="divSINLines"></div>
                <div class="row">
                    <div class="col-md-12" style="text-align:right;margin-bottom:25px">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="text-align:right;margin-bottom:25px">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align:right;margin-bottom:10px">
                        <input type="button" class="btn btnclose" id="btncancel" value="Close" />
                    </div>

                </div>
            </div>
        </div>
        <hr />
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#txtShop').val('@Model.Shop');
        $('#ProdGroup').val('@Model.ProdGroup');

        var lstshop = @Html.Raw(Json.Encode(@ViewBag.lstShop));
        FillAutoComplete($("#txtShop"), lstshop, $("#ddlShop"));

        $("#btncancel").click(function () {
            window.location.href = WebsiteURL +'/PAM/SIN/SINIssuer';
        });


        $('#frmSINHeaderValue').validate({
            rules: {
                txtShop: {
                    required: true,
                },
                ProdGroup: {
                    required: true,
                },
                ReasonofNextIssue: {
                    required: true,
                }
            },
            messages: {
                txtShop: {
                    required: "Shop is required"
                },
                ProdGroup: {
                    required: "ProdGroup is required",
                },
                ReasonofNextIssue: {
                    required: "ReasonofNextIssue is required",
                }
            }
        });

        $('#btnSave').on('click', function () {
            if ($("#frmSINHeaderValue").valid()) {
                var headerId = parseInt('@Model.HeaderId');

                if (headerId > 0) {

                    var postData = {
                        headerId: headerId,
                        shop: $('#ddlShop').val(),
                        productGroup: $('#ProdGroup').val(),
                        resonIssue: $('#ReasonofNextIssue').val()
                    };

                    $.ajax({
                        url: WebsiteURL +"/PAM/SIN/SaveHeaderValue",
                        type: "POST",
                        data: postData,
                        dataType: 'json',
                        async: false,
                        success: function (data) {
                            if (data.Key) {
                                DisplayNotiMessage("success", data.Value, "Success");
                            }
                            else {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                        }
                    });
                }
                else
                {
                    DisplayNotiMessage("error", "Invalid SIN", "Error");
                }
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });

        $('#divSINHeader').load(
        $.ajax({
            url: WebsiteURL +"/PAM/SIN/GetSINHeaderDetails",
            type: "POST",
            data: { SinId :@Model.HeaderId,PAMHeaderId :@Model.PAMHeaderId},
            dataType: "html",
            //async:false,
            success: function (data) {
                $('#divSINHeader').html(data);
            }
        }));

        $('#divDepartment').load(
        $.ajax({
            url: WebsiteURL +"/PAM/SIN/GetSINDepartment",
            type: "POST",
            data: { SinId :@Model.HeaderId, ForApprove: "true", Status: '@Model.Status'},
            dataType: "html",
            //async:false,
            success: function (data) {
                $('#divDepartment').html(data);
            }
        }));

        $('#divSINLines').load(
        $.ajax({
            url: WebsiteURL +"/PAM/SIN/GetSINLinesDetails",
            type: "POST",
            data: { SinId :@Model.HeaderId, ForApprove: "true"},
            dataType: "html",
            //async:false,
            success: function (data) {
                //console.log(data);
                $('#divSINLines').html(data);
            }
        }));

        if('@Model.Status.ToLower()'=='@clsImplementationEnum.PAMStatus.Draft.GetStringValue().ToLower()'){
            $('#btnSave').prop('disabled',true);

        }
        else if ('@Model.Status.ToLower()'=='@clsImplementationEnum.PAMStatus.Issued.GetStringValue().ToLower()') {
            $('#btnSave').prop('disabled',false);
        }
    });
</script>

