﻿@using IEMQSImplementation
<script>

    var url = WebsiteURL + "/PAM/DIS/loadDISDataTable?status=" + '@ViewBag.status' + "&ForApprove=" + '@ViewBag.ForApprove';
    var table = $('#tblHeader');
    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": true,
        "bServerSide": true,
        "stateSave": false,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
           [5, 10, 25, 50, 100],
           [5, 10, 25, 50, 100]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        "sAjaxSource": url,
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" }
                        //{ "name": "status", "value": '@ViewBag.status' }
                        );
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': function (result) {
                    fnCallback(result);
                    $(".txtStrWhere", "#dvExportHeader").val(result.whereCondition);
                    $(".txtStrSort", "#dvExportHeader").val(result.strSortOrder);
                },
                'async': false
            });
        },
        "columns": [

              {
                  "sClass": "center",
                  "bSortable": true,
                  "name": "PAM"
              },
              {
                  "sClass": "center",
                  "bSortable": true,
                  "name": "DISNo"
              },
              {
                  "sClass": "center",
                  "bSortable": true,
                  "name": "IssueNo",
                  "attr":"numeric"
              },
              {
                  "sClass": "center",
                  "bSortable": true,
                  "name": "Status"
              },
              {
                  "sClass": "center",
                  "bSortable": true,
                  "name": "Remarks"
              },
            {
                "sClass": "",
                "bSortable": false,
                "render": function (data, type, row, meta) {

                    var DssId = row[6];
                    var rev = parseInt(row[2]);
                    var buttons = "";

                    var functionCall = "ViewDSS(" + DssId + ")";
                    if (rev > 1) {
                        buttons = "<center>" +
                            "<a href='javascript:void(0);' Title='View DIS' onclick=" + functionCall + "><i style='margin-left:5px;' class='fa fa-eye'></i></a>" +
                            "<a href='javascript:void(0)' Title='View Timeline' onclick=ShowTimeline('/PAM/DIS/ShowTimeline?HeaderID=" + parseInt(row[6]) + "');><i style='margin-left:5px;' class='fa fa-clock-o'></i></a>" +
                            "<i style='margin-left:5px;cursor:pointer;' title='Print Report' class='fa fa-print' onClick='PrintReport(" + parseInt(row[6]) + ")'></i>" +
                            "<i title='History' onclick=History('" + parseInt(row[6]) + "'); class='iconspace fa fa-history'></i>" +
                        "</center>";
                    }
                    else {
                        buttons = "<center>" +
                            "<a href='javascript:void(0);' Title='View DIS' onclick=" + functionCall + "><i style='margin-left:5px;' class='fa fa-eye'></i></a>" +
                            "<a href='javascript:void(0)' Title='View Timeline' onclick=ShowTimeline('/PAM/DIS/ShowTimeline?HeaderID=" + parseInt(row[6]) + "');><i style='margin-left:5px;' class='fa fa-clock-o'></i></a>" +
                            "<i style='margin-left:5px;cursor:pointer;' title='Print Report' class='fa fa-print' onClick='PrintReport(" + parseInt(row[6]) + ")'></i>" +
                            "<i title='History' onclick=History('" + parseInt(row[6]) + "'); class='iconspace disabledicon fa fa-history'></i>" +
                        "</center>";
                    }

                    return buttons;
                }
            },
            {
                "sClass": "hide",
            },
             {
                 "sClass": "hide",
             },
        ]
    });
    table.dtSearchFilter();
    function History(HeaderId) {
        var isApprover = "false";
        if ('@ViewBag.ForApprove' == "true") {
            isApprover = "true";
        }
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PAM/DIS/GetHistoryDataPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            async: false,
            data: { HeaderID: HeaderId, isApprover: isApprover },
            success: function (result) {
                bootbox.dialog({
                    title: 'History',
                    message: result,
                    size: 'large',
                }).find("div.modal-dialog").addClass("clsBootBoxWidth");
            },
            error: function () {
            }
        });
    }

    function PrintReport(headerid) {
        bootbox.dialog({
            title: 'DIS Report',
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        url = "/PAM/DIS";
                        var dat = [];
                        dat.push({ Param: "HeaderId", Value: headerid });
                        ShowReport(dat, url);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn btnclose'
                }
            }
        });
    }

    function ViewDSS(HeaderId) {
        if ('@ViewBag.ForApprove' == "true") {
            window.location.href = WebsiteURL + "/PAM/DIS/ApproveDISDetails/" + HeaderId;
        }
        else {
            window.location.href = WebsiteURL + "/PAM/DIS/DISHeaderDetails/" + HeaderId;
        }
    }

</script>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    DIS List
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PAM/DIS/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblHeader" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="min-phone-l">PAM</th>
                            <th class="min-phone-l">DIS No</th>
                            <th class="min-phone-l">Issue No</th>
                            <th class="min-phone-l">Status</th>
                            <th class="min-phone-l">Remarks</th>
                            <th class="all" style="white-space:nowrap">Action</th>
                            <th style="display:none;">HeaderId</th>
                            <th style="display:none;">PAMHeaderId</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

