﻿
@{ ViewBag.Title = "Project Master";
    Layout = "~/Views/Shared/_PPSLayout.cshtml";
}

<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>

<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }
</style>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="mt-element-ribbon bg-grey-steel" style="height:50px;margin-bottom:10px;">
                            <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                <span class="page-title">Project Master</span>
                            </div>
                            <p class="ribbon-content"></p>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <form class="form-horizontal" action="#" id="submit_form" method="POST">
                            <ul id="tabSections" style="font-size: large;" class="nav nav-tabs">
                                <li>
                                    <a id="MaterialSection" href="#tab1" data-toggle="tab" class="step">
                                        <span id="Material" class="desc">
                                            <b>Material</b>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a id="FluidsSection" href="#tab2" data-toggle="tab" class="step">
                                        <span id="FluidsGroup" class="desc">
                                            <b>Fluids</b>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a id="PipingSpecSection" href="#tab3" data-toggle="tab" class="step">
                                        <span id="PipingSpec" class="desc">
                                            <b>Piping Spec</b>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a id="TypeofJointSection" href="#tab4" data-toggle="tab" class="step">
                                        <span id="TypeofJoint" class="desc">
                                            <b>Type of Joint</b>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a id="PaintSection" href="#tab5" data-toggle="tab" class="step">
                                        <span id="Paint" class="desc">
                                            <b>Paint</b>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                </div>
                                <div class="tab-pane" id="tab2">
                                </div>
                                <div class="tab-pane" id="tab3">
                                </div>
                                <div class="tab-pane" id="tab4">
                                </div>
                                <div class="tab-pane" id="tab5">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<script>
    $(document).ready(function () {
        $("#MaterialSection").on("click", function () {
            $("#MaterialSection").css({ backgroundColor: "#rgb(57, 133, 208)", color: "#fff" });
            $("#FluidsSection,#PipingSpecSection,#TypeofJointSection,#PaintSection").css({ backgroundColor: "#eef1f5", color: "#333" });
            //GetTab(urlSection1, 'Non Overlay Thickness');
        });
        $("#FluidsSection").on("click", function () {
            $("#FluidsSection").css({ backgroundColor: "#rgb(57, 133, 208)", color: "#fff" });
            $("#MaterialSection,#PipingSpecSection,#TypeofJointSection,#PaintSection").css({ backgroundColor: "#eef1f5", color: "#333" });
            //GetTab(urlSection2, 'Nozzle Size');
        });
        $("#PipingSpecSection").on("click", function () {
            $("#PipingSpecSection").css({ backgroundColor: "#rgb(57, 133, 208)", color: "#fff" });
            $("#MaterialSection,#FluidsSection,#TypeofJointSection,#PaintSection").css({ backgroundColor: "#eef1f5", color: "#333" });
            // GetTab(urlSection3, 'Product Type');
        });
        $("#TypeofJointSection").on("click", function () {
            $("#TypeofJointSection").css({ backgroundColor: "#rgb(57, 133, 208)", color: "#fff" });
            $("#MaterialSection,#FluidsSection,#PipingSpecSection,#PaintSection").css({ backgroundColor: "#eef1f5", color: "#333" });
            // GetTab(urlSection3, 'Product Type');
        });
        $("#PaintSection").on("click", function () {
            $("#PaintSection").css({ backgroundColor: "#rgb(57, 133, 208)", color: "#fff" });
            $("#MaterialSection,#FluidsSection,#PipingSpecSection,#TypeofJointSection").css({ backgroundColor: "#eef1f5", color: "#333" });
            // GetTab(urlSection3, 'Product Type');
        });
        $("#MaterialSection").trigger("click");
    });
</script>