﻿@using IEMQSImplementation

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">TRAVELER PRINT </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="portlet-body form">
                                <form role="form" id="frmCreate" class="form-horizontal">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="control-label">Project No.</label>
                                            <div class="">
                                                <input type="text" id="txtProjectNo" value="" name="txtProjectNo" tabindex="1" class="form-control col-md-3" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Traveler No.</label>
                                            <div class="">
                                                <input type="text" id="txtTravelerNo" value="" name="txtTravelerNo" tabindex="2" class="form-control col-md-3 clsprojectno" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Traveler Rev No.</label>
                                            <div class="">
                                                <input type="text" id="txtTravelerRevNo" value="" name="txtTravelerRevNo" tabindex="3" class="form-control col-md-3 clstraveler" />
                                               
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Identification No.</label>
                                            <div class="">
                                                <input type="text" id="txtAssemblyNo" value="" name="txtAssemblyNo" tabindex="4" class="form-control col-md-3 clstraveler" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Identification Sr No.</label>
                                            <div class="">
                                                <input type="text" id="txtSubAssemblyNo" value="" name="txtSubAssemblyNo" tabindex="5" class="form-control col-md-3 clstraveler iden" />
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="txtRev" />
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12" style="text-align: left;">
                            <hr />
                            <button id="btnPrint" type="button" class="btn blue">Print</button>
                            <button type="button" id="btnCancel" class="btn default">Clear</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    $(document).ready(function () {
        $("#btnPrint").click(function () {
            if ($("#txtProjectNo").val() != '' && $("#txtProjectNo").val() != null && $("#txtProjectNo").val() != undefined) {
                PrintTVLReport($("#txtProjectNo").val(), $("#txtTravelerNo").val(), $("#txtRev").val(), $("#txtAssemblyNo").val(), $("#txtSubAssemblyNo").val());
            }
            else {
                DisplayNotiMessage("info", "Please select Project No.", "Info");
            }
        })
        $("#btnCancel").click(function () {
            $("#txtProjectNo").val('');
            clear();
        })
        clear();
        $("#txtProjectNo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/TVL/Report/GetAllProjectNo",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.text, id: item.id };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $(".clsprojectno").val('').attr("readonly", true);
                }
                else {
                    $(".clsprojectno").val('').attr("readonly", false);
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    $(".clsprojectno").attr("readonly", false);
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#txtTravelerNo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/TVL/Report/GetAllTravelerNo",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: { term: request.term, projectno: $("#txtProjectNo").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.text, id: item.id };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    $("#txtTravelerRevNo").val('').attr("readonly", true);
                    $(".clstraveler").val('').attr("readonly", true);
                }
                else {
                    $(".clstraveler").val('').attr("readonly", true);
                    $("#txtTravelerRevNo").val('').attr("readonly", false);
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    $("#txtTravelerRevNo").val('').attr("readonly", false);
                }
                else {
                    $("#txtTravelerRevNo").val('').attr("readonly", true);
                    $(".clstraveler").val('').attr("readonly", true);
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });


        $("#txtTravelerRevNo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/TVL/Report/GetAllTravelerRevNo",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: { term: request.term, projectno: $("#txtProjectNo").val(), travelerno: $("#txtTravelerNo").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.text, id: item.id };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    $("#txtRev").val('');
                    $("#txtSubAssemblyNo").val('').attr("readonly", true);
                    $("#txtAssemblyNo").val('').attr("readonly", true);
                }
                else {
                    $("#txtSubAssemblyNo").val('').attr("readonly", true);
                    $("#txtAssemblyNo").val('').attr("readonly", false);
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    $("#txtRev").val(ui.item.id);
                    $("#txtSubAssemblyNo").val('').attr("readonly", true);
                    $("#txtAssemblyNo").val('').attr("readonly", false);
                }
                else {
                    $("#txtSubAssemblyNo").val('').attr("readonly", true);
                    $("#txtAssemblyNo").val('').attr("readonly", true);
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#txtAssemblyNo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/TVL/Report/GetAllIdentification",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term,
                        projectno: $("#txtProjectNo").val(),
                        travelerno: $("#txtTravelerNo").val(),
                        rev: $("#txtRev").val()
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.text, id: item.id };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    $("#txtSubAssemblyNo").val('').attr("readonly", true);
                }
                else {
                    $("#txtSubAssemblyNo").val('');
                    $("#txtSubAssemblyNo").attr("readonly", false);
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    $("#txtSubAssemblyNo").val('');
                    $("#txtSubAssemblyNo").attr("readonly", false);
                }
                else {
                    $("#txtSubAssemblyNo").val('').attr("readonly", true);
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#txtSubAssemblyNo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/TVL/Report/GetAllSubassembly",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term,
                        projectno: $("#txtProjectNo").val(),
                        travelerno: $("#txtTravelerNo").val(),
                        rev: $("#txtRev").val(),
                        identification: $("#txtAssemblyNo").val()
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.text, id: item.id };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });
    });

    function clear() {
        $(".clsprojectno").val('').attr("readonly", true);
        $(".clstraveler").val('').attr("readonly", true);
    }
</script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
