﻿@model IEMQSImplementation.NDE001
@{
    ViewBag.Title = "PTMTCTQLineDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script>
    $(document).ready(function () {
        $('input[maxlength],textarea[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });

        viewHeaderLinePartial(parseInt('@ViewBag.HeaderID'), '@ViewBag.Status', '@ViewBag.CTQNo');
        $('#ReturnRemarks').maxlength({
            alwaysShow: true,
        });

        var NotificationRequired = "@Model.NotificationRequired";
        if (NotificationRequired.toString().toLowerCase() == "true") {
            $("#txtNotificationRequired").val('Yes');
        } else if (NotificationRequired.toString().toLowerCase() == "false") {
            $("#txtNotificationRequired").val('No');
        }
    });
    function viewHeaderLinePartial(HeaderID, status, CTQNo) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/NDE/ApprovePTMTCTQ/GetCTQHeaderLinesHtml",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { HeaderID: HeaderID, strCTQNo: CTQNo },
            success: function (result) {
                $("#divApproveLines").html(result);
                $("#divApproveLines").show();
                if (status.toLowerCase() == "sent for approval") {
                    $("#btnApprove").show();
                    $("#btnReturn").show();
                }
                else {
                    $("#btnApprove").hide();
                    $("#btnReturn").hide();
                }
            },
            error: function () {
            }
        });
    }
</script>

<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    textarea {
        height: 33px !important;
    }
</style>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-body form">
                    <div class="form-body">
                        <form method="post" id="frmMaintainDeatils" class="form-horizontal" action="">
                            <div style="height:50px;" class="mt-element-ribbon bg-grey-steel">
                                <div style="background-color:transparent !important;margin-top:5px!important;" class="ribbon ribbon-left">
                                    <span class="page-title">Approve PT/MT Critical To Quality</span>
                                </div>
                                <div class="ribbon ribbon-right ribbon-color-warning" style="margin-top: 7px;">
                                    <b>Status : @ViewBag.Status</b>
                                </div>
                            </div>
                            <fieldset>
                                <legend>Project Detail</legend>
                                <div class="form-group">
                                    <div class="col-md-12">

                                        <div class="col-md-4">
                                            <label class="control-label">Project<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label class="control-label">BU</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label class="control-label">Location</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">

                                        <div class="col-md-4">
                                            <label class="control-label">CTQ No.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CTQNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label class="control-label">RevNo.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RevNo, "R" + Model.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label class="control-label">Manufacturing Code</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ManufacturingCode, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </fieldset>

                            <fieldset>
                                <legend>PT/MT CTQ Details</legend>
                                <div class="form-group">
                                    <div class="col-md-12">

                                        <div class="col-md-4">
                                            <label class="control-label">Applicable Specification</label>
                                            <div class="">
                                                @Html.TextAreaFor(m => m.ApplicableSpecification, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label class="control-label">Acceptance Standard</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.AcceptanceStandard, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label class="control-label">ASME Code Stamp</label>
                                            <div class="">
                                                @{
                                                    bool asmeCode = Convert.ToBoolean(Model.ASMECodeStamp);
                                                    <label class="mt-checkbox mt-checkbox-outline" for="ASMECodeStamp">
                                                        @Html.CheckBox("ASMECodeStamp", asmeCode, new { @disabled = true })
                                                        <span></span>
                                                    </label>
                                                }

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">

                                        <div class="col-md-4">
                                            <label class="control-label">TPI Name</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIName, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label class="control-label">Notification Required ?<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtNotificationRequired" name="txtNotificationRequired" placeholder="Select" readonly="readonly" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.NotificationRequired)

                                                @*@{
                                                        bool notiReq = Convert.ToBoolean(Model.NotificationRequired);
                                                        <label class="mt-checkbox mt-checkbox-outline" for="NotificationRequired">
                                                            @Html.CheckBox("NotificationRequired", notiReq)
                                                            <span></span>
                                                        </label>
                                                    }*@
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label class="control-label">Max & Min Thickness of the Job</label>
                                            <div class="">
                                                @Html.TextAreaFor(m => m.ThicknessOfJob, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">

                                        <div class="col-md-4">
                                            <label class="control-label">Size & Dimension (LxID) of the Job</label>
                                            <div class="">
                                                @Html.TextAreaFor(m => m.SizeDimension, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">NDE Remarks</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.NDERemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Return Remarks</label>
                                            <div class="">
                                                @Html.TextAreaFor(model => model.ReturnRemarks, new { @class = "form-control col-md-3", style = "width: 404px; height: 33px;", @maxlength = "100" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="tab-content">
                        <div id="divApproveLines" style="display:none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
