﻿@using IEMQSImplementation
@model  SP_PCR_GET_STOCK_DETAILS_BY_STOCKID_Result
<form class="form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>Stock Details</legend>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label">
                            Location
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.LocationName, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(m => m.Location)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">
                            Item
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ItemName, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(m => m.Item)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label">
                            Stock Number
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.StockNumber, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">
                            Stock Status
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.StockStatusName, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(m => m.StockStatus)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label">
                            Stock Revision
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.StockRevision, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">
                            Stock Physical Status
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.StockPhysicalStatusName, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(m => m.StockPhysicalStatus)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label">
                            Contract
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ContractName, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(m => m.ContractNo)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">
                            PCL No.
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.PCLNo, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label">
                            Project
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.StockProject, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>Dimension Details</legend>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label">
                            Length(mm)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.Length, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">
                            Total Area(m2)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.Area, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label">
                            Width(mm)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.Width, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">
                            PCL Consumed Area(m2)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.AreaConsumed, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label">
                            Thickness(mm)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.Thickness, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">
                            Actual Conversation Factor(Kg/m3)
                        </label>
                        <div class="">
                            <input class="form-control" name="ActualConversationFactor" readonly="readonly" type="text" value="0">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label">
                            Clad Thickness 1(mm)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.CladThickess1Inmm, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">
                            Theoretical Conversation Factor For Base Material(kg/m3)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.TheoConvFactForBaseMateInKgPerm3, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label">
                            Clad Thickness 2(mm)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.CladThickess2Inmm, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">
                            Theoretical Conversation Factor For Clad Thickness 1(kg/mm3)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.TheoConvFactForClad1InKgPerm3, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label">
                            &nbsp;
                        </label>
                        <div class="">
                            <input class="form-control" name="ActualConversationFactor" readonly="readonly" type="text" value="0" style="display:none">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">
                            Theoretical Conversation Factor For Clad Thickness 2(kg/mm3)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.TheoConvFactForClad2InKgPerm3, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <fieldset>
                <legend>Issue Directly on Shop Floor</legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Issue Directly on Shop floor
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.IssueDirectlyOnShopFloorName, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(m => m.IssueDirectlyOnShopFloor)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Project
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ProjectName, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(m => m.Project)
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">
                                Element
                            </label>
                            <div class="">
                                @Html.TextBoxFor(m => m.Element, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>*@
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Work Center
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.WorkCenterName, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(m => m.WorkCenter)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Remarks
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.Remark, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset>
                <legend>Purchase Details</legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Purchase Order
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.PurchaseOrder, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            PO Position
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.POPosition, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Import
                        </label>
                        <div class="">
                            <input type="checkbox" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Stock Related Remarks
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.StockRelatedRemark, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <fieldset>
                <legend>Receipt Details</legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Receipt Number
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReceiptNumber, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Receipt Line
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReceiptLine, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            IMR Inspection Clearance Date
                        </label>
                        <div class="">
                            <input type="text" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Warehouse
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.WarehouseName, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(m => m.Warehouse)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Warehouse Location
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.WarehouseLocationName, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(m => m.WarehouseLocation)
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset>
                <legend>Quantity Details</legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Theoritical Weight(kg)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.TheoreticalWeightInKg, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Received Quantity(kg)
                        </label>
                        <div class="">
                            <input type="text" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Allocated Quantity(m2)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.AllocatedQuantity, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Cut Quantity(m2)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.CutQuantity, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Free Quantity(m2)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.FreeQuantity, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Length").attr("data-oldval", '@Model.Length');
        $("#Width").attr("data-oldval", '@Model.Width');
        $("#Length").change(function () {
            if ($("#Length").val().trim() == "") {
                console.log($("#Length").val().trim() == "")
                DisplayNotiMessage("info", "The Format must be numeric. Change the Length(mm)", "Information");
                $("#Length").val($("#Length").attr("data-oldval"))
                $("#Length").focus();
            }
            else if ($("#Length").val().trim() == "0") {
                DisplayNotiMessage("info", "Specified value for Length is zero. Enter other value for Length", "Information");
                $("#Length").val($("#Length").attr("data-oldval"))
                $("#Length").focus();
            }
            else {
                CalculateAreaAndTheoriticalWeigth();
            }
        });
        $("#Width").change(function () {
            if ($("#Width").val().trim() == "") {
                DisplayNotiMessage("info", "The Format must be numeric. Change the Width(mm)", "Information");
                $("#Width").val($("#Width").attr("data-oldval"))
                $("#Width").focus();
            }
            else if ($("#Width").val().trim() == "0") {
                DisplayNotiMessage("info", "Specified value for Width is zero. Enter other value for Width", "Information");
                $("#Width").val($("#Width").attr("data-oldval"))
                $("#Width").focus();
            }
            else {
                CalculateAreaAndTheoriticalWeigth();
            }
        });

        function CalculateAreaAndTheoriticalWeigth() {
            var Length = parseFloat($("#Length").val().trim());
            var Width = parseFloat($("#Width").val().trim());
            var Thickness = parseFloat($("#Thickness").val().trim());
            var TheoConvFactForBaseMateInKgPerm3 = parseFloat($("#TheoConvFactForBaseMateInKgPerm3").val().trim());
            var Area = parseFloat((Length * Width) / 1000000);
            var TheoriticalWeigth = parseFloat((Length * Width * Thickness * TheoConvFactForBaseMateInKgPerm3) / 1000000000);
            $("#Area").val(Area.toFixed(4));
            $("#TheoreticalWeightInKg").val(TheoriticalWeigth.toFixed(4));
        }
    });
</script>