﻿@using IEMQSImplementation
@model PCR001
<form class="form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>Purchase Peg Distribution</legend>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label">
                            Business Object
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.PurchaseOrder, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    Purchase Peg Distribution
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table id="tblPurchasePegDistribution" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="p15">Business Referance</th>
                                            <th class="p15">Distribution Line</th>
                                            <th class="p20">Project</th>
                                            <th class="p15">Excise Exempt</th>
                                            <th class="p15">Element</th>
                                            <th class="p20">Activity</th>
                                            <th class="p15">Order Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>
<script type="text/javascript">
    var table = $('#tblPurchasePegDistribution');
    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": true,
        "bServerSide": true,
        "stateSave": false,
        searching: false,
        buttons: [],
        "bDestroy": true,
        responsive: true,
        "lengthMenu": [
            [5, 10, 25, 50, 100],
            [5, 10, 25, 50, 100]
        ],
        "bPaginate": false,
        "pageLength": 50,
        'iDisplayLength': 50,
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        "sAjaxSource": WebsiteURL + "/PCR/MaintainStock/LoadPurchasePegDistributionDataTable?PONumber=@Model.PurchaseOrder&Position=@Model.POPosition",
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" }
                        );
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': function (data) {
                    fnCallback(data);
                }
            });
        },
        "columns": [
            {
                "data": "BusinessObjectRefference",
                "sClass": "center",
                "name": "BusinessObjectRefference",
                "bSortable": false,
            },
            {
                "data": "DistributionLine",
                "sClass": "center",
                "name": "DistributionLine",
                "bSortable": false,
            },
             {
                 "data": "Project",
                 "sClass": "center",
                 "name": "Project",
                 "bSortable": false
             },
             {
                 "data": "ExciseExempt",
                 "sClass": "center",
                 "name": "ExciseExempt",
                 "bSortable": false
             },
             {
                 "data": "Element",
                 "sClass": "center",
                 "name": "Element",
                 "bSortable": false
             },
             {
                 "data": "Activity",
                 "sClass": "center",
                 "name": "Activity",
                 "bSortable": false
             },
             {
                 "data": "OrderQty",
                 "sClass": "center",
                 "name": "OrderQty",
                 "bSortable": false
             },
        ]
    });
</script>