﻿@using IEMQSImplementation
@model TVL050
<style>
    .tiles .tile {
        height: 129px;
        width: 129px !important;
    }

        .tiles .tile .tile-body > i {
            margin-top: 0px;
        }

        .tiles .tile .tile-object > .name {
            position: relative;
            margin: auto 20px;
            font-size: 16px !important;
            margin-bottom: 10px;
            text-align: center;
        }
</style>
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmOffer" }))
{
    @Html.HiddenFor(model => model.HeaderId)
    <div class="row">
        <div class="col-md-12" style="text-align:center">

            <div class="tiles">
                <div id="dvRework" class="tile bg-red-sunglo">
                    <div class="tile-body">
                        <i class="fa fa-retweet"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name"> Rework Traveler </div>
                    </div>
                </div>

                <div id="dvNCR" class="tile bg-purple-studio">
                    <div class="tile-body">
                        <i class="fa fa-empire" style="margin-top: 6px !important;"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name"> NCR No </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class='col-md-12'>
           <label class='control-label'>Used Ref Doc Rev No</label>
          <div class=''>             
              <input type='text' id='txtQCUsedRefDocRevNo' readonly='readonly' class='form-control' name='txtQCUsedRefDocRevNo' />
            </div>
        </div>*@
    </div>

}
<script>
   
    $("#dvRework").click(function () {
        RejectOperationOption("@clsImplementationEnum.TravelerInspectionStatus.Rework_Traveler.GetStringValue()");
        bootbox.hideAll();
        //$(this).remove();
        //$(".modal-backdrop").remove();
    });
    $("#dvNCR").click(function () {
        RejectOperationOption("@clsImplementationEnum.TravelerInspectionStatus.NCR_No.GetStringValue()");
    });
    //function GetrevnoForNotAcceptable(headerid, status) {
       
    //    $.ajax({
    //        url: WebsiteURL + "/tvl/OfferInspection/GetRefrevnodetails",
    //        type: "GET",
    //        async: false,
    //        data: { Headerid: headerid, Status: status },
    //        success: function (data) {
    //            $("#txtQCUsedRefDocRevNo").val(data.Refrevno);

    //        }
    //    })

    //}
    
</script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>