﻿@using IEMQSImplementation
@using IEMQS.Areas.Utility.Models

<div class="form-group">
    <div>
        <h5>Shop Weld Plan</h5><hr />
        <div class="mt-element-step">
            <div class="row step-line">
                @if (Model.ApprovedBy != null)
                {
                    <div class="col-md-1"></div>
                    <div class="col-md-2 mt-step-col first done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Created</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.CreatedBy</div><div class="mt-step-content font-grey-cascade">@Model.CreatedOn</div></div>
                    if (Model.EditedBy != null)
                    {
                        <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.EditedBy</div><div class="mt-step-content font-grey-cascade">@Model.EditedOn</div></div>
                    }
                    else
                    {
                        <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div><div class="mt-step-number bg-white">2</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Modified By</div><div class="mt-step-content font-grey-cascade">Modified Date</div></div>
                    }
                    <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Submitted</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.SubmittedBy</div><div class="mt-step-content font-grey-cascade">@Model.SubmittedOn</div></div>
                    if (Model.ReturnedBy != null)
                    {
                        <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.ReturnedBy</div><div class="mt-step-content font-grey-cascade">@Model.ReturnedOn</div></div>
                    }
                    else
                    {
                        <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div><div class="mt-step-number bg-white">4</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Returned By</div><div class="mt-step-content font-grey-cascade">Return Date</div></div>
                    }
                    <div class="col-md-2 mt-step-col last done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Approved</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.ApprovedBy</div><div class="mt-step-content font-grey-cascade">@Model.ApprovedOn</div></div>
                    <div class="col-md-1"></div>
                }
                else if (Model.ApprovedBy == null && Model.SubmittedBy != null)
                {
                    <div class="col-md-1"></div>
                    <div class="col-md-2 mt-step-col first done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Created</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.CreatedBy</div><div class="mt-step-content font-grey-cascade">@Model.CreatedOn</div></div>
                    if (Model.EditedBy != null)
                    {
                        <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.EditedBy</div><div class="mt-step-content font-grey-cascade">@Model.EditedOn</div></div>
                    }
                    else
                    {
                        <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div><div class="mt-step-number bg-white">2</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Modified By</div><div class="mt-step-content font-grey-cascade">Modified Date</div></div>
                    }
                    <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Submitted</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.SubmittedBy</div><div class="mt-step-content font-grey-cascade">@Model.SubmittedOn</div></div>
                    if (Model.ReturnedBy != null)
                    {
                        <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.ReturnedBy</div><div class="mt-step-content font-grey-cascade">@Model.ReturnedOn</div></div>
                    }
                    else
                    {
                        <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div><div class="mt-step-number bg-white">4</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Returned By</div><div class="mt-step-content font-grey-cascade">Return Date</div></div>
                    }
                    <div class="col-md-2 mt-step-col last"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Approved</div><div class="mt-step-number bg-white">5</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Approved By</div><div class="mt-step-content font-grey-cascade">Approve Date</div></div>
                    <div class="col-md-1"></div>
                }
                else if (Model.ApprovedBy == null && Model.SubmittedBy == null && Model.CreatedBy != null)
                {
                    <div class="col-md-1"></div>
                    <div class="col-md-2 mt-step-col first done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Created</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.CreatedBy</div><div class="mt-step-content font-grey-cascade">@Model.CreatedOn</div></div>
                    if (Model.EditedBy != null)
                    {
                        <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.EditedBy</div><div class="mt-step-content font-grey-cascade">@Model.EditedOn</div></div>
                    }
                    else
                    {
                        <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div><div class="mt-step-number bg-white">2</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Modified By</div><div class="mt-step-content font-grey-cascade">Modified Date</div></div>
                    }
                    <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Submitted</div><div class="mt-step-number bg-white">3</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Submitted By</div><div class="mt-step-content font-grey-cascade">Submit Date</div></div>
                    <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div><div class="mt-step-number bg-white">4</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Returned By</div><div class="mt-step-content font-grey-cascade">Return Date</div></div>
                    <div class="col-md-2 mt-step-col last"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Approved</div><div class="mt-step-number bg-white">5</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Approved By</div><div class="mt-step-content font-grey-cascade">Approve Date</div></div>
                    <div class="col-md-1"></div>
                }
                else
                {
                    <div class="mt-step-content font-grey-cascade" style="font-size:20px">No data available</div>
                }
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div>
        <h5>Test Plan</h5><hr />
        <div class="mt-element-step">
            <div class="row step-line">
                @if (Model.TPApprovedBy != null)
            {
                    <div class="col-md-1"></div>
                    <div class="col-md-2 mt-step-col first done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Created</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.TPCreatedBy</div><div class="mt-step-content font-grey-cascade">@Model.TPCreatedOn</div></div>
                    if (Model.TPEditedBy != null)
                    {
                        <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.TPEditedBy</div><div class="mt-step-content font-grey-cascade">@Model.TPEditedOn</div></div>
                    }
                    else
                    {
                        <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div><div class="mt-step-number bg-white">2</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Modified By</div><div class="mt-step-content font-grey-cascade">Modified Date</div></div>
                    }
                    <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Submitted</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.TPSubmittedBy</div><div class="mt-step-content font-grey-cascade">@Model.TPSubmittedOn</div></div>
                    if (Model.TPReturnedBy != null)
                    {
                        <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.TPReturnedBy</div><div class="mt-step-content font-grey-cascade">@Model.TPReturnedOn</div></div>
                    }
                    else
                    {
                        <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div><div class="mt-step-number bg-white">4</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Returned By</div><div class="mt-step-content font-grey-cascade">Return Date</div></div>
                    }
                    <div class="col-md-2 mt-step-col last done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Approved</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.TPApprovedBy</div><div class="mt-step-content font-grey-cascade">@Model.TPApprovedOn</div></div>
                    <div class="col-md-1"></div>
                }
                else if (Model.TPApprovedBy == null && Model.TPSubmittedBy != null)
                {
                    <div class="col-md-1"></div>
                    <div class="col-md-2 mt-step-col first done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Created</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.TPCreatedBy</div><div class="mt-step-content font-grey-cascade">@Model.TPCreatedOn</div></div>
                    if (Model.TPEditedBy != null)
                    {
                        <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.TPEditedBy</div><div class="mt-step-content font-grey-cascade">@Model.TPEditedOn</div></div>
                    }
                    else
                    {
                        <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div><div class="mt-step-number bg-white">2</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Modified By</div><div class="mt-step-content font-grey-cascade">Modified Date</div></div>
                    }
                    <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Submitted</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.TPSubmittedBy</div><div class="mt-step-content font-grey-cascade">@Model.TPSubmittedOn</div></div>
                    if (Model.TPReturnedBy != null)
                    {
                        <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.TPReturnedBy</div><div class="mt-step-content font-grey-cascade">@Model.TPReturnedOn</div></div>
                    }
                    else
                    {
                        <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div><div class="mt-step-number bg-white">4</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Returned By</div><div class="mt-step-content font-grey-cascade">Return Date</div></div>
                    }
                    <div class="col-md-2 mt-step-col last"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Approved</div><div class="mt-step-number bg-white">5</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Approved By</div><div class="mt-step-content font-grey-cascade">Approve Date</div></div>
                    <div class="col-md-1"></div>
                }
                else if (Model.TPApprovedBy == null && Model.TPSubmittedBy == null && Model.TPCreatedBy != null)
                {
                    <div class="col-md-1"></div>
                    <div class="col-md-2 mt-step-col first done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Created</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.TPCreatedBy</div><div class="mt-step-content font-grey-cascade">@Model.TPCreatedOn</div></div>
                    if (Model.TPEditedBy != null)
                    {
                        <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.TPEditedBy</div><div class="mt-step-content font-grey-cascade">@Model.TPEditedOn</div></div>
                    }
                    else
                    {
                        <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div><div class="mt-step-number bg-white">2</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Modified By</div><div class="mt-step-content font-grey-cascade">Modified Date</div></div>
                    }
                    <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Submitted</div><div class="mt-step-number bg-white">3</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Submitted By</div><div class="mt-step-content font-grey-cascade">Submit Date</div></div>
                    <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div><div class="mt-step-number bg-white">4</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Returned By</div><div class="mt-step-content font-grey-cascade">Return Date</div></div>
                    <div class="col-md-2 mt-step-col last"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Approved</div><div class="mt-step-number bg-white">5</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Approved By</div><div class="mt-step-content font-grey-cascade">Approve Date</div></div>
                    <div class="col-md-1"></div>
                }
                else
                {
                    <div class="mt-step-content font-grey-cascade" style="font-size:20px">No data available</div>
                }
            </div>
        </div>
    </div>
</div>
