﻿@model IEMQS.DESCore.DCRModel

@{
    /**/

    if (Model.DCRId > 0)
    {
        ViewBag.Title = "Update DCR";
    }
    else
    {
        ViewBag.Title = "Create DCR";
    }
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
}

<div class="m-portlet ">
    <div class="m-portlet__body ">
        <h4 class="m-portlet__head-text">

            @ViewBag.Title : @Model.DCRNo
            <button type="submit" name="button" class="btn btn-sm btn-success pull-right" value="DCR History" onclick="funOpenHistory()">Activity Logs</button>

        </h4>
        <div class="m-wizard m-wizard--5 m-wizard--success" id="m_wizard">
            <!--begin: Message container -->
            <div class="m-portlet__padding-x">
                <!-- Here you can put a message or alert -->
            </div>
            <!--end: Message container -->
            <!--begin: Form Wizard Head -->
            <div class="m-wizard__head ">
                <!--begin: Form Wizard Nav -->
                <div class="m-wizard__nav">
                    <div class="m-wizard__steps">
                        <div class="m-wizard__step m-wizard__step--current" m-wizard-target="m_wizard_form_step_1">
                            <div class="m-wizard__step-info">
                                <a href="#" class="m-wizard__step-number">

                                    <span class="m-wizard__step-label">
                                        DCR Details
                                    </span>
                                    <!--<span class="m-wizard__step-icon"><i class="la la-check"></i></span>-->
                                </a>
                            </div>
                        </div>
                        <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_2">
                            <div class="m-wizard__step-info">
                                <a href="javascript:WizardDemo.GoTo(2);" class="m-wizard__step-number">

                                    <span class="m-wizard__step-label">
                                        Affected Documents
                                    </span>
                                    <!--  <span class="m-wizard__step-icon"><i class="la la-check"></i></span>-->
                                </a>
                            </div>
                        </div>
                        <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_3">
                            <div class="m-wizard__step-info">
                                <a href="javascript:WizardDemo.GoTo(3);" class="m-wizard__step-number">

                                    <span class="m-wizard__step-label">
                                        Affected Parts
                                    </span>
                                    <!--  <span class="m-wizard__step-icon"><i class="la la-check"></i></span>-->
                                </a>
                            </div>
                        </div>
                        <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_4">
                            <div class="m-wizard__step-info">
                                <a href="javascript:WizardDemo.GoTo(4);" class="m-wizard__step-number">

                                    <span class="m-wizard__step-label">
                                        Support Documents
                                    </span>
                                    <!--  <span class="m-wizard__step-icon"><i class="la la-check"></i></span>-->
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <!--end: Form Wizard Nav -->
            </div>
            <!--end: Form Wizard Head -->
            <!--begin: Form Wizard Form-->
            <div class="m-wizard__form">
                <!--
                    1) Use m-form--label-align-left class to alight the form input lables to the right
                    2) Use m-form--state class to highlight input control borders on form validation
                -->
                <div class="m-form " id="m_form">
                    <!--begin: Form Body -->
                    <div class="m-portlet__body px-0 py-3">
                        <!--begin: Form Wizard Step 1-->
                        <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_1">
                            @using (Ajax.BeginForm("Add", "DCR", new AjaxOptions { HttpMethod = "POST", OnSuccess = "funSuccess", OnBegin = "ajaxValidate", OnComplete = "funComplete" }, new { Area = "DES", @Id = "FormAddDCR" }))
                            {
                                @Html.HiddenFor(x => x.DCRId)
                                @Html.HiddenFor(x => x.Project)
                                @Html.HiddenFor(x => x.DCRNo)
                                @Html.HiddenFor(x => x.CurrentLocationIp)
                                @Html.HiddenFor(x => x.FilePath)
                                @Html.HiddenFor(x => x.DCRSupportedDocId)
                                @Html.HiddenFor(x => x.FolderId)
                                @Html.HiddenFor(x => x.Department)
                                @Html.HiddenFor(x => x.RoleGroup)

                                <div class="theme-form">
                                    <div class="row m-0">
                                        @*<div class="col-md-6">
                                                <div class="form-group m-form__group row">
                                                    <label class="col-6 col-form-label bg-secondary">DCR Type<span class="m--font-danger">*</span> </label>
                                                    <div class="col-6 pl-0">
                                                        @if (Model.DCRNo != null)
                                                        {
                                                            @Html.DropDownListFor(model => model.DCRNameOn, (IEnumerable<SelectListItem>)ViewBag.AddDCRName as SelectList, "Select", new { @class = "form-control m-input  m-input--square", @id = "ddGenrateDCRNo", disabled = "disabled" })
                                                        }
                                                        else
                                                        {
                                                            @Html.DropDownListFor(model => model.DCRNameOn, (IEnumerable<SelectListItem>)ViewBag.AddDCRName as SelectList, "Select", new { @class = "form-control m-input  m-input--square", @id = "ddGenrateDCRNo" })
                                                            @Html.ValidationMessageFor(model => model.DCRNameOn, "", new { @class = "text-danger" })
                                                        }
                                                    </div>
                                                </div>
                                            </div>*@
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">DCR Description </label>
                                                <div class="col-6 pl-0">
                                                    @Html.TextBoxFor(model => model.DCRDescription, new { @class = "form-control m-input  m-input--square", @maxlength = 200, @tabindex = "-1" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Category of Change<span class="m--font-danger">*</span></label>
                                                <div class="col-6 pl-0">
                                                    @Html.DropDownListFor(model => model.CategoryOfChange, ViewBag.CategoryOfChangeList as SelectList, "Select", new { @class = "form-control m-input  m-input--square", @id = "ddlCategoryChange" })
                                                    @Html.ValidationMessageFor(model => model.CategoryOfChange, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Responsible Design Engineer<span class="m--font-danger">*</span></label>
                                                <div class="col-6 pl-0">
                                                    @Html.DropDownListFor(model => model.ResponsibleDesignEngineer, ViewBag.ResponsibleDesignEnggList as SelectList, "Select", new { @class = "form-control m-input  m-input--square", @Id = "ddlResponsibleDesignEngineer", @onchange = "RDEandRSDESameName()" })
                                                    @Html.ValidationMessageFor(model => model.ResponsibleDesignEngineer, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Responsible Senior Design Engineer<span class="m--font-danger">*</span></label>
                                                <div class="col-6 pl-0">
                                                    @Html.DropDownListFor(model => model.ResponsibleSeniorDesignEngineer, ViewBag.SeniorDesignEnggList as SelectList, "Select", new { @class = "form-control m-input  m-input--square", @Id = "ddlResponsibleSeniorDesignEngineer", @onchange = "RDEandRSDESameName()" })
                                                    @Html.ValidationMessageFor(model => model.ResponsibleSeniorDesignEngineer, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 ">
                                            <div class="form-group m-form__group row mr-0 paddingBottom">
                                                <label class="col-12 col-form-label bg-secondary ">Reason for Change</label>
                                                <div class="col-12 p-0">
                                                    @Html.TextAreaFor(model => model.ReasonForChange, new { @cols = "30", @rows = "3", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 ">
                                            <div class="form-group m-form__group row mr-0 paddingBottom">
                                                <label class="col-12 col-form-label bg-secondary ">Change From<span class="m--font-danger">*</span></label>
                                                <div class="col-12 p-0">
                                                    @Html.TextAreaFor(model => model.ChangeFrom, new { @cols = "30", @rows = "3", @class = "form-control" })
                                                    @Html.Label("Change from is Required", new { @class = "text-danger", @id = "errorChangeFrom", @style = "display:none;" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 ">
                                            <div class="form-group m-form__group row mr-0">
                                                <label class="col-12 col-form-label bg-secondary ">Change To<span class="m--font-danger">*</span></label>
                                                <div class="col-12 p-0">
                                                    @Html.TextAreaFor(model => model.ChangeTo, new { @cols = "30", @rows = "3", @class = "form-control" })
                                                    @Html.Label("Change to is Required", new { @class = "text-danger", @id = "errorChangeTo", @style = "display:none;" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Nature of Change<span class="m--font-danger">*</span></label>
                                                <div class="col-6 pl-0">
                                                    @Html.DropDownListFor(model => model.NatureOfChange, ViewBag.NatureOfChangeList as SelectList, new { @class = "form-control m-input  m-input--square", @Id = "ddlNatureOfChange" })
                                                    @Html.ValidationMessageFor(model => model.NatureOfChange, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Status of the items</label>
                                                <div class="col-6 pl-0">
                                                    @Html.TextBoxFor(model => model.StatusOfTheItems, new { @class = "form-control m-input  m-input--square", @maxlength = "200" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Originator</label>
                                                <div class="col-6 pl-0">
                                                    @Html.TextBoxFor(model => model.Originator, new { @class = "form-control m-input  m-input--square", @readonly = "" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Owner</label>
                                                <div class="col-6 pl-0">
                                                    @Html.TextBoxFor(model => model.Owner, new { @class = "form-control m-input  m-input--square", @readonly = "" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Originated Date</label>
                                                <div class="col-6 pl-0">
                                                    <div class="input-group date">
                                                        @Html.TextBoxFor(model => model.OriginatedDate, "{0:dd/MM/yyyy}", new { @class = "form-control m-input  m-input--square", @readonly = "" })
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="la la-calendar-check-o"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Modified Date</label>
                                                <div class="col-6 pl-0">
                                                    <div class="input-group date">
                                                        @Html.TextBoxFor(model => model.ModifiedDate, "{0:dd/MM/yyyy}", new { @class = "form-control m-input  m-input--square", @readonly = "" })
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="la la-calendar-check-o"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Distribution Group&nbsp;<span class='text-danger'>*</span></label>
                                                <div class="col-6 pl-0">
                                                    <div class="input-group input-group-c">
                                                        @Html.DropDownListFor(m => m.DistributionGroupId, ViewBag.DistributionGroup as SelectList, "Select", new { @class = "form-control m-input  m-input--square distGroup" })
                                                        <div class="input-group-append"><span class="input-group-text newPop" id="basic-addon2"><a href="javascript:;" tabindex="-1"><i class="la la-ellipsis-v"></i></a></span></div>


                                                    </div>

                                                    @Html.HiddenFor(x => x.DistributionGroupId, new { id = "DistributionGroupId" })


                                                </div>
                                            </div>
                                            <div class="row justify-content-end">
                                                <div class="col-6">@Html.ValidationMessageFor(x => x.DistributionGroupId, "", new { @class = "text-danger" })</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!--begin: Form Actions -->
                                <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                                    <div class="m-form__actions m-form__actions">
                                        <div class="row">
                                            <div class="col-lg-12 m--align-right">
                                                <button type="submit" class="btn btn-success m-btn m-btn--custom m-btn--icon">
                                                    <span>
                                                        <span>Save & Continue</span>&nbsp;&nbsp;
                                                        <i class="la la-arrow-right"></i>
                                                    </span>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--end: Form Actions -->
                            }
                        </div>
                        <!--end: Form Wizard Step 1-->
                        <!--begin: Form Wizard Step 2-->
                        <div class="m-wizard__form-step" id="m_wizard_form_step_2">
                            <div class="row">
                                <div class="col-xl-8 ">
                                    <h6 class="mb-3">Document List </h6>
                                </div>
                                <div class="col-xl-4 m--align-right">
                                    <!-- <a href="javascript:;" class="btn btn-primary btn-sm mb-3 " data-toggle="modal" data-target="#m_modal_3">
                                        Add Support Document
                                    </a>-->
                                    <a href="javascript:;" class="btn btn-success btn-sm mb-3" id="SearchDoc" data-toggle="modal" data-target="#m_modal_4">
                                        Search Document
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <table class="table  table-bordered w-50" id="tblDocumentList"></table>
                                </div>
                            </div>

                            <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                                <div class="m-form__actions m-form__actions">
                                    <div class="row">
                                        <div class="col-lg-6 m--align-left">
                                            <a href="#" class="btn btn-secondary m-btn m-btn--custom m-btn--icon" data-wizard-action="prev">
                                                <span>
                                                    <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                                                    <span>Back</span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="col-lg-6 m--align-right">
                                            <a href="#" class="btn btn-success m-btn m-btn--custom m-btn--icon" data-wizard-action="next">
                                                <span>
                                                    <span>Save & Continue</span>&nbsp;&nbsp;
                                                    <i class="la la-arrow-right"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="m-wizard__form-step" id="m_wizard_form_step_3">
                            <div class="row">
                                <div class="col-xl-8 ">
                                    <h6 class="mb-3">Part List </h6>
                                </div>
                                <div class="col-xl-4 text-right">
                                    <a href="javascript:;" class="btn btn-success mb-3" id="SearchPart" data-toggle="modal" data-target="#m_modal_2">Search Part</a>
                                </div>
                            </div>
                            <table class="table table-bordered" id="tblAffectedPart"></table>

                            <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                                <div class="m-form__actions m-form__actions">
                                    <div class="row">

                                        <div class="col-lg-6 m--align-left">
                                            <a href="#" class="btn btn-secondary m-btn m-btn--custom m-btn--icon" data-wizard-action="prev" onclick="WizardDemo.GotoBack()">
                                                <span>
                                                    <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                                                    <span>Back</span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="col-lg-6 m--align-right">
                                            <a href="#" class="btn btn-success m-btn m-btn--custom m-btn--icon" data-wizard-action="next" onclick="WizardDemo.Gotonext();">
                                                <span>
                                                    <span>Save & Continue</span>&nbsp;&nbsp;
                                                    <i class="la la-arrow-right"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-wizard__form-step" id="m_wizard_form_step_4">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-3 col-sm-12">Upload Document</label>
                                        <label id="dropzone" class="text-danger"></label>
                                        <div class="col-12">
                                            <div class="m-dropzone dropzone m-dropzone--success" action="inc/api/dropzone/upload.php" id="m-dropzone-two">
                                                <div class="m-dropzone__msg dz-message needsclick">
                                                    <h3 class="m-dropzone__msg-title">Drop files here or click to upload.</h3>
                                                    <!-- <span class="m-dropzone__msg-desc">Upload up to 10 files</span>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h6 class="m--font-primary">Document List</h6>
                            <table class="table table-bordered" id="tblDocumentFiles"></table>

                            <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                                <div class="m-form__actions m-form__actions">
                                    <div class="row">

                                        <div class="col-lg-6 m--align-left">
                                            <a href="#" class="btn btn-secondary m-btn m-btn--custom m-btn--icon" data-wizard-action="prev" onclick="WizardDemo.GotoBack();">
                                                <span>
                                                    <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                                                    <span>Back</span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="col-lg-6 m--align-right">
                                            <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon" id="btnSubmit" onclick="UpdateStatus();" data-wizard-action="submit">
                                                <span>
                                                    <i class="la la-check"></i>&nbsp;&nbsp;
                                                    <span>Submit</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--end: Form Wizard Step 2-->


                    </div>
                    <!--end: Form Body -->

                </div>
            </div>

            <!--end: Form Wizard Form-->

        </div>
    </div>
</div>
@if (ViewBag.GetLifeCycle != null && ViewBag.GetLifeCycle.Count > 0)
{
    <div class="m-portlet">
        <div class="m-portlet__body">
            <h4 class="m-portlet__head-text">
                Lifecycle
            </h4>
            <div class="row bs-wizard justify-content-center">
                @foreach (var Policy in ViewBag.GetLifeCycle)
                {

                    <div class="col-sm bs-wizard-step @(Policy.IsCompleted ? " active" : "") ">
                        <div class="text-center bs-wizard-stepnum">@Policy.PolicyStep</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>

                        @if (Policy.IsCompleted == true)
                        {
                            <a href="#" class="bs-wizard-dot" style="background-color:@(Policy.ColorCode)66"><span class="bs-wizard-dot-small" style="background-color:@(Policy.ColorCode)"></span></a>
                        }
                        else
                        {
                            <a href="#" class="bs-wizard-dot"><span class="bs-wizard-dot-small"></span></a>
                        }

                        @{
                            if (Policy.CreatedBy != null)
                            {
                                <div class="bs-wizard-info text-center">
                                    @Policy.PolicyStep  By<br /> <span class="m--font-bold"> @Policy.CreatedBy </span>
                                    <br />
                                    @if (Policy.CreatedOn != null)
                                    {
                                        <span class="m--font-bold"> on @(Policy.CreatedOn != null ? Policy.CreatedOn.ToString("dd/MM/yyyy") : "")</span>
                                    }
                                </div>
                            }
                            else if (Policy.IsCompleted)
                            {
                                <div class="bs-wizard-info text-center">
                                    <text>N/A</text>
                                </div>
                            }
                        }

                    </div>

                }
            </div>
        </div>
    </div>
}
<div class="modal fade" id="m_modal_4" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Document List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs  theme-nav" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_3_1" role="tab">JEP Document</a>
                    </li>
                    <li class="nav-item dropdown m-tabs__item">
                        <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_tabs_3_2" role="tab" onclick="btnBindGlobalJEPDoc();">Global JEP Document</a>
                    </li>
                </ul>
                <div class="tab-content p-0">
                    <div class="tab-pane active" id="m_tabs_3_1" role="tabpanel">
                        <table class="table table-bordered" id="tblJepDoc"></table>
                    </div>
                    <div class="tab-pane " id="m_tabs_3_2" role="tabpanel">
                        <div class="form-group m-form__group row align-items-end">
                            <div class="col-5">
                                <label for="example-text-input" class="col-form-label">Project No</label>
                                @*<input type="hidden" id="txtProjectNo" value="">*@
                                @Html.DropDownListFor(x => x.Project, ViewBag.GetContractProjectList as SelectList, "", new { @class = "form-control", @id = "ContractProjectList" })
                            </div>
                            <div class="col-5">
                                <label for="example-text-input" class="col-form-label">Search Document</label>
                                @*@Html.DropDownListFor(x => x.ProjectWiseDOC, ViewBag.GetContractProjectListWiseDOC as SelectList, "Select", new { @class = "form-control", @id = "ProjectWiseDOC" })*@
                                @Html.TextBox("txtDocumentNo", "", new { @class = "form-control", @placeholder = "Document No" })
                            </div>
                            <div class="col-2"> <a href="javascript:;" class="btn btn-sm btn-success" id="searchGlobalJEPDoc" onclick="funsearchGlobalJEPDoc()">Search</a></div>
                        </div>
                        <table class="table table-bordered" id="tblGlobalJepDoc"></table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <button type="button" id="btnAddDocList" class="btn btn-primary">Add To List</button>
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Part List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="tblDCRPart"></table>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <button type="button" id="btnAddPartList" class="btn btn-primary">Add To List</button>
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Activity Logs </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="tblDCRHistory"></table>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_1_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100%;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Distribution Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modelbodyAllGroupData"></div>
        </div>
    </div>
</div>

<!--end::Modal-->

<script src="~/Content/assets/global/plugins/ckeditor/ckeditor.js"></script>
<script src="~/DESAssets/js/DCR_Add.js"></script>
<script src="~/DESAssets/js/Custom_Validation.js"></script>

<script>
    $(document).ready(function () {
    $('.distGroup').select2();
});

    function RDEandRSDESameName() {
        if ($("#ddlResponsibleDesignEngineer").val() == $("#ddlResponsibleSeniorDesignEngineer").val()) {
            toastr.info("Responsible Design Engineer & Responsible Senior Design Engineer are same.", "Info");
            $("#ddlResponsibleSeniorDesignEngineer").removeClass("js-example-basic-single select2-hidden-accessible");
            $("#ddlResponsibleSeniorDesignEngineer").val("");
            $("#ddlResponsibleSeniorDesignEngineer").select2();
        }
    }

    function ajaxValidate() {
        var messageLengthChangeFrom = CKEDITOR.instances['ChangeFrom'].getData().replace(/<[^>]*>/gi, '').length;
        var messageLengthChangeTo = CKEDITOR.instances['ChangeTo'].getData().replace(/<[^>]*>/gi, '').length;

        if (!messageLengthChangeFrom) {
            $("#errorChangeFrom").show();
            return false;
        }
        if (!messageLengthChangeTo) {
            $("#errorChangeTo").show();
            return false;
        }
        else {
            mApp.blockPage();
            return true;
        }
    }

    function funComplete() {
        $("#errorChangeFrom").hide();
        $("#errorChangeTo").hide();
    }

    $("#ddGenrateDCRNo").on('change', function () {
        if ($(this).val() > 0) {
            $.ajax({
                type: "POST",
                url: '/DES/DCR/GetDCRName',
                data: JSON.stringify({ DCRNameId: $(this).val() }),
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                async: true,
                success: function (response) {
                    mApp.unblockPage();
                    if (response.Status) {
                        $('#DCRNameDisplay').text(response.DCRName);
                        $('#DCRNo').val(response.DCRName);

                    } else {
                        toastr.error(response.Msg, "Error");
                    }
                },
                error: function (error) {
                    mApp.unblockPage();
                    toastr.error("something went wrong try again later", "Error");
                }
            });
        }
        else {
            $('#DCRNameDisplay').text('');
            $('#DCRNo').val('');
        }
    });

    CKEDITOR.instances['ReasonForChange'].on("blur", function () { 
        //var dcrid = $("#DCRId").val();
        var dcrno = $("#DCRNo").val();
        if ($('#ReasonForChange').val() != "") {
            $.ajax({
                type: "POST",
                url: '/DES/DCR/GetDCRReasonForChange',
                data: JSON.stringify({ DCRNo : dcrno, ReasonForChange: CKEDITOR.instances['ReasonForChange'].getData() }),
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                async: true,
                success: function (response) {
                    mApp.unblockPage();
                    if (response.Status) {
                       //toastr.success(response.Msg, "Success");
                    } else {
                        //toastr.error(response.Msg, "Error");
                    }
                }
            });
        }
        else {
            mApp.unblockPage();
            //toastr.error("something went wrong try again later", "Error");
        }
    });

    CKEDITOR.instances['ChangeFrom'].on("blur", function () {
        var dcrno = $("#DCRNo").val();
        if ($('#ChangeFrom').val() != "") {
            $.ajax({
                type: "POST",
                url: '/DES/DCR/GetDCRChangeFrom',
                data: JSON.stringify({ DCRNo: dcrno, ChangeFrom: CKEDITOR.instances['ChangeFrom'].getData() }),
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                async: true,
                success: function (response) {
                    mApp.unblockPage();
                    if (response.Status) {
                        //toastr.success(response.Msg, "Success");
                    } else {
                        //toastr.error(response.Msg, "Error");
                    }
                }
            });
        }
        else {
            mApp.unblockPage();
            //toastr.error("something went wrong try again later", "Error");
        }
    });

    CKEDITOR.instances['ChangeTo'].on("blur", function () {
        //var dcrid = $("#DCRId").val();
        var dcrno = $("#DCRNo").val();
        if ($('#ChangeTo').val() != "") {
            $.ajax({
                type: "POST",
                url: '/DES/DCR/GetDCRChangeTo',
                data: JSON.stringify({ DCRNo: dcrno, ChangeTo: CKEDITOR.instances['ChangeTo'].getData() }),
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                async: true,
                success: function (response) {
                    mApp.unblockPage();
                    if (response.Status) {
                        //toastr.success(response.Msg, "Success");
                    } else {
                        //toastr.error(response.Msg, "Error");
                    }
                }
            });
        }
        else {
            mApp.unblockPage();
            //toastr.error("something went wrong try again later", "Error");
        }
    });

</script>

<script>

    $("#m_aside_left_minimize_toggle").click(function () {
        if (tblDocumentList != null)
            tblDocumentList.columns.adjust();
    });

    $("#m_aside_left_minimize_toggle").click(function () {
        if (tblAffectedPart != null)
            tblAffectedPart.columns.adjust();
    });

    $("#m_aside_left_minimize_toggle").click(function () {
        if (tblDocumentFiles != null)
            tblDocumentFiles.columns.adjust();
    });

    //$("#ContractProjectList").change(function () {

    //    var valProject = $('#ContractProjectList').val();
    //    var docMapp = {
    //        Project: valProject

    //    };
    //    if (valProject != '') {
    //        mApp.blockPage();
    //        $.ajax({
    //            type: "POST",
    //            url: "/DES/DCR/GetDOCByProject",
    //            data: JSON.stringify(docMapp),
    //            contentType: "application/json;charset=utf-8",
    //            dataType: "json",
    //            aysnc: true,
    //            success: function (data) {
    //                mApp.unblockPage();
    //                $("#ProjectWiseDOC").html("");
    //                $.each(data, function (key, entry) {
    //                    $("#ProjectWiseDOC").append($('<option></option>').attr('value', entry.Value).text(entry.Text));
    //                });
    //               // $("#ProjectWiseDOC").select2();
    //            },
    //            error: function () {
    //                mApp.unblockPage();
    //                toastr.error("something went wrong try again later", "error");
    //            }
    //        });
    //    }
    //});


    function btnBindGlobalJEPDoc() {
        $("#ContractProjectList").val($("#Project").val());
        tblGlobalJepDoc.ajax.reload();
        // $("#ContractProjectList").select2();

        $("#ProjectWiseDOC").val("");
        setTimeout(function () {
            tblGlobalJepDoc.columns.adjust();
        }, 500);
    }

    $('.newPop').click(function () {
        var dbGroupId = { DistributionGroupId: $('#DistributionGroupId').val() };
        if ($('#DistributionGroupId').val() != '') {
            mApp.blockPage();
            debugger;
            $.ajax({
                url: '/DES/DCR/GetDatabyGroupId',
                data: JSON.stringify(dbGroupId),
                type: 'POST',
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                dataType: "Html",
                success: function (result) {
                    mApp.unblockPage();
                    $('#modelbodyAllGroupData').html(result);
                    $('#m_modal_1_2').modal("show");
                },
                error: function (xhr) {
                    mApp.unblockPage();
                }
            });
        }
        else {
            toastr.info("Please select Distribution Group", "Info");
        }

    });

</script>
