﻿@model IEMQS.DESCore.DCRModel
@using IEMQS.DESCore

@{
    ViewBag.Title = "DCR Detail";
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
}

@Html.HiddenFor(model => model.ResponsibleSeniorDesignEngineer)
@Html.HiddenFor(model => model.ResponsibleDesignEngineer)
@Html.HiddenFor(model => model.CurrentUser)
@Html.HiddenFor(model => model.PolicyStepForView)
@Html.HiddenFor(model => model.DCRId)
@Html.HiddenFor(model => model.DCRNo)
@Html.HiddenFor(x => x.CurrentLocationIp)
@Html.HiddenFor(x => x.FilePath)
<div class="m-portlet ">
    <div class="m-portlet__body">
        <h4 class="m-portlet__head-text">
            @ViewBag.Title : @Model.DCRNo
            <button type="submit" name="button" class="btn btn-sm btn-success pull-right" value="DCR History" onclick="funOpenHistory()">Activity Logs</button>
            <button type="submit" name="button" class="btn btn-sm btn-info pull-right mr-2" value="DCR Report" onclick="funDCRReport()">DCR Report</button>
        </h4>
        <ul class="nav nav-tabs  theme-nav" role="tablist">
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_3_1" role="tab">DCR Details</a>
            </li>
            <li class="nav-item dropdown m-tabs__item">
                <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_tabs_3_2" role="tab">Affected Documents</a>
            </li>
            <li class="nav-item dropdown m-tabs__item">
                <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_tabs_3_4" role="tab">Affected Parts</a>
            </li>
            <li class="nav-item dropdown m-tabs__item">
                <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_tabs_3_5" role="tab">Support Documents</a>
            </li>
            @{
                if (Model.Status != IEMQS.DESCore.ObjectStatus.Created.ToString())
                {
                    if (Model.Page == IEMQS.DESCore.ReviewOrEvaluate.Review.ToString() || Model.IsReviewed)
                    {
                        <li class="nav-item dropdown m-tabs__item">
                            <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_tabs_3_3" role="tab">Review </a>
                        </li>
                    }

                    if (Model.DCRReviewModel != null)
                    {
                        if ((Model.Page == IEMQS.DESCore.ReviewOrEvaluate.Evaluate.ToString() && Model.IsReviewed && Model.DCRReviewModel.Status != IEMQS.DESCore.ReviewOrEvaluate.Rejected.ToString()) || Model.IsEvaluated || (Model.DCREvaluateModel != null && Model.DCREvaluateModel.Status == IEMQS.DESCore.ReviewOrEvaluate.Rejected.ToString()))
                        {
                            <li class="nav-item dropdown m-tabs__item">
                                <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_tabs_3_7" role="tab">Review Comments</a>
                            </li>
                        }
                    }


                    if (Model.IsReviewed && Model.IsEvaluated)
                    {
                        if (Model.DCREvaluateCommentModel != null)
                        {
                            if (IEMQS.DESServices.CommonService.objClsLoginInfo.Department == Model.DCREvaluateCommentModel.DeptId)
                            {
                                if ((!Convert.ToBoolean(Model.DCREvaluateCommentModel.IsCompleted)))
                                {
                                    <li class="nav-item dropdown m-tabs__item">
                                        <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_tabs_3_6" role="tab">Approval</a>
                                    </li>
                                }
                            }
                        }
                        else
                        {
                            if (Model.Status != IEMQS.DESCore.ObjectStatus.Rejected.ToString())
                            {
                                if (Model.DepartmentGroupList != null)
                                {
                                    int? _DES100ListCount = Model.DepartmentGroupList.Where(c => c.IsCompleted != true).Count();
                                    if (!(_DES100ListCount > 0) || Model.DepartmentGroupList[0].DCREvaluateCommentId == 0)
                                    {
                                        if (Model.ResponsibleSeniorDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName || Model.IsReleased)
                                        {
                                            <li class="nav-item dropdown m-tabs__item">
                                                <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_tabs_3_8" role="tab">Released</a>
                                            </li>
                                        }
                                    }
                                }
                            }
                        }
                    }

                    if (Model.IsReleased)
                    {
                        if (Model.ResponsibleSeniorDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName)
                        {
                            <li class="nav-item dropdown m-tabs__item">
                                <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_tabs_3_9" role="tab">InCorporate</a>
                            </li>
                        }
                        else if (Model.ReleasedStepId > 0)
                        {
                            <li class="nav-item dropdown m-tabs__item">
                                <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_tabs_3_9" role="tab">InCorporate</a>
                            </li>
                        }
                        else if (Model.IsAllPartialSelect)
                        {
                            <li class="nav-item dropdown m-tabs__item">
                                <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_tabs_3_9" role="tab">InCorporate</a>
                            </li>
                        }
                    }
                }
            }

        </ul>
        <div class="tab-content p-0">
            <div class="tab-pane active" id="m_tabs_3_1" role="tabpanel">
                @using (Ajax.BeginForm("AddDetailDCR", "DCR", new AjaxOptions { HttpMethod = "POST", OnSuccess = "funSuccess2", OnBegin = "ajaxValidate", OnComplete = "funComplete" }, new { Area = "DES", @Id = "FormDetailDCR" }))
                {

                    @Html.HiddenFor(x => x.DCRId)
                    @Html.HiddenFor(x => x.Project)
                    @Html.HiddenFor(x => x.DCRNo)
                    @Html.HiddenFor(x => x.CurrentLocationIp)
                    @Html.HiddenFor(x => x.FilePath)
                    @Html.HiddenFor(x => x.DCRSupportedDocId)
                    @Html.HiddenFor(x => x.FolderId)
                    @Html.HiddenFor(x => x.Department)
                    @Html.HiddenFor(x => x.RoleGroup)
                    <div class="theme-form">
                        <div class="row m-0">
                            @*<div class="col-md-6">
            <div class="form-group m-form__group row">
                <label class="col-6 col-form-label bg-secondary">DCR Type<span class="m--font-danger">*</span> </label>
                <div class="col-6 pl-0">

                    @Html.DropDownListFor(model => model.DCRNameOn, (IEnumerable<SelectListItem>)ViewBag.AddDCRName as SelectList, "Select", new { @class = "form-control m-input  m-input--square", @id = "ddGenrateDCRNo", disabled = "disabled" })

                </div>
            </div>
        </div>*@

                            <div class="col-md-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-6 col-form-label bg-secondary">DCR Description </label>
                                    <div class="col-6 pl-0">
                                        @if ((Model.ResponsibleDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Submit")
                                            || (Model.ResponsibleSeniorDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Evaluate"))
                                        {
                                            @Html.TextBoxFor(model => model.DCRDescription, new { @class = "form-control m-input  m-input--square", @tabindex = "-1" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(model => model.DCRDescription, new { @readonly = "", @class = "form-control m-input  m-input--square", @tabindex = "-1" })
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-6 col-form-label bg-secondary">Category of Change</label>
                                    <div class="col-6 pl-0">
                                        @if ((Model.ResponsibleDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Submit")
                                            || (Model.ResponsibleSeniorDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Evaluate"))
                                        {
                                            @Html.DropDownListFor(model => model.CategoryOfChange, ViewBag.CategoryOfChangeList as SelectList, "Select", new { @class = "form-control m-input  m-input--square", @Id = "ddlCategoryChange" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(model => model.CategoryOfChange, ViewBag.CategoryOfChangeList as SelectList, "Select", new { @class = "form-control m-input  m-input--square", @Id = "ddlCategoryChange", @disabled = "disabled" })
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-6 col-form-label bg-secondary">Responsible Design Engineer</label>
                                    <div class="col-6 pl-0">
                                        @*@Html.DropDownListFor(model => model.ResponsibleDesignEngineer, ViewBag.ResponsibleDesignEnggList as SelectList, "Select", new { @class = "form-control m-input  m-input--square", @Id = "ddlResponsibleDesignEngineer", @disabled = "disabled" })*@
                                        @Html.TextBoxFor(model => model.ResponsibleDesignEngineerText, new { @class = "form-control m-input  m-input--square textbox-dot", title = Model.ResponsibleDesignEngineerText, @readonly = "" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-form__group row paddingBottom">
                                    <label class="col-6 col-form-label bg-secondary">Responsible Senior Design Engineer</label>
                                    <div class="col-6 pl-0">
                                        @*@Html.DropDownListFor(model => model.ResponsibleSeniorDesignEngineer, ViewBag.SeniorDesignEnggList as SelectList, "Select", new { @class = "form-control m-input  m-input--square", @Id = "ddlResponsibleSeniorDesignEngineer", @disabled = "disabled" })*@
                                        @Html.TextBoxFor(model => model.ResponsibleSeniorDesignEngineerText, new { @class = "form-control m-input  m-input--square textbox-dot", title = Model.ResponsibleSeniorDesignEngineerText, @readonly = "" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 ">
                                <div class="form-group m-form__group row mr-0 paddingBottom">
                                    <label class="col-12 col-form-label bg-secondary ">Reason for Change</label>
                                    <div class="col-12 p-0 ckeditor_Textarea">
                                        @if ((Model.ResponsibleDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Submit")
                                            || (Model.ResponsibleSeniorDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Evaluate"))
                                        {
                                            @Html.TextAreaFor(model => model.ReasonForChange, new { @cols = "30", @rows = "3", @class = "form-control ckediterbox" })
                                        }
                                        else
                                        {
                                            <fieldset>  @Html.Raw(Model.ReasonForChange)</fieldset>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group m-form__group row mr-0">
                                    <label class="col-12 col-form-label bg-secondary ">Change From</label>
                                    <div class="col-12 p-0 ckeditor_Textarea">
                                        @if ((Model.ResponsibleDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Submit")
                                            || (Model.ResponsibleSeniorDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Evaluate"))
                                        {
                                            @Html.TextAreaFor(model => model.ChangeFrom, new { @cols = "30", @rows = "3", @class = "form-control ckediterbox" })
                                            @Html.Label("Change from is Required", new { @class = "text-danger", @id = "errorChangeFrom", @style = "display:none;" })
                                        }
                                        else
                                        {
                                            <fieldset> @Html.Raw(Model.ChangeFrom)</fieldset>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group m-form__group row mr-0">
                                    <label class="col-12 col-form-label bg-secondary ">Change To</label>
                                    <div class="col-12 p-0 ckeditor_Textarea">
                                        @if ((Model.ResponsibleDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Submit")
                                            || (Model.ResponsibleSeniorDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Evaluate"))
                                        {
                                            @Html.TextAreaFor(model => model.ChangeTo, new { @cols = "30", @rows = "3", @class = "form-control ckediterbox" })
                                            @Html.Label("Change to is Required", new { @class = "text-danger", @id = "errorChangeTo", @style = "display:none;" })
                                        }
                                        else
                                        {
                                            <fieldset>
                                                @Html.Raw(Model.ChangeTo)
                                            </fieldset>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-6 col-form-label bg-secondary">Nature of Change</label>
                                    <div class="col-6 pl-0">
                                        @if ((Model.ResponsibleDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Submit")
                                            || (Model.ResponsibleSeniorDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Evaluate"))
                                        {
                                            @Html.DropDownListFor(model => model.NatureOfChange, ViewBag.NatureofChangeList as SelectList, "Select", new { @class = "form-control m-input  m-input--square", @Id = "ddlCategoryChange" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(model => model.NatureOfChange, ViewBag.NatureofChangeList as SelectList, "Select", new { @class = "form-control m-input  m-input--square", @Id = "ddlCategoryChange", @disabled = "disabled" })
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-6 col-form-label bg-secondary">Status of the items</label>
                                    <div class="col-6 pl-0">
                                        @if ((Model.ResponsibleDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Submit")
                                            || (Model.ResponsibleSeniorDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Evaluate"))
                                        {
                                            @Html.TextBoxFor(model => model.StatusOfTheItems, new { @class = "form-control m-input  m-input--square" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(model => model.StatusOfTheItems, new { @class = "form-control m-input  m-input--square", @readonly = "" })
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-6 col-form-label bg-secondary">Originator</label>
                                    <div class="col-6 pl-0">
                                        @Html.TextBoxFor(model => model.Originator, new { @class = "form-control m-input  m-input--square", @readonly = "" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-6 col-form-label bg-secondary">Owner</label>
                                    <div class="col-6 pl-0">
                                        @{
                                            if (Model.Status == "Created")
                                            {
                                                @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control m-input  m-input--square", @readonly = "" })
                                            }
                                            else if (Model.PolicyStepForView == "Submit" && Model.Status == "InProcess")
                                            {
                                                @Html.TextBoxFor(model => model.ResponsibleDesignEngineerText, new { @class = "form-control m-input  m-input--square", @readonly = "" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.ResponsibleSeniorDesignEngineerText, new { @class = "form-control m-input  m-input--square", @readonly = "" })
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-6 col-form-label bg-secondary">Originated Date</label>
                                    <div class="col-6 pl-0">
                                        <div class="input-group date">
                                            @Html.TextBoxFor(model => model.OriginatedDate, "{0:dd/MM/yyyy}", new { @class = "form-control m-input  m-input--square", @readonly = "" })
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-calendar-check-o"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-6 col-form-label bg-secondary">Modified Date</label>
                                    <div class="col-6 pl-0">
                                        <div class="input-group date">
                                            @Html.TextBoxFor(model => model.ModifiedDate, "{0:dd/MM/yyyy}", new { @class = "form-control m-input  m-input--square", @readonly = "" })
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-calendar-check-o"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
 

                            <div class="col-md-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-6 col-form-label bg-secondary">Distribution Group&nbsp;</label>
                                    <div class="col-6 pl-0">
                                        <div class="input-group input-group-c">
                                            @if ((Model.ResponsibleDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Submit")
                                           || (Model.ResponsibleSeniorDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Evaluate"))
                                            {
                                                @Html.DropDownListFor(m => m.DistributionGroupId, ViewBag.DistributionGroup as SelectList, "Select", new { @class = "form-control m-input  m-input--square" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(m => m.DistributionGroupId, ViewBag.DistributionGroup as SelectList, "Select", new { @class = "form-control m-input  m-input--square", @disabled = "disabled" })
                                            }
                                            <div class="input-group-append"><span class="input-group-text newPop" id="basic-addon2"><a href="javascript:;" tabindex="-1"><i class="la la-ellipsis-v"></i></a></span></div>


                                        </div>

                                        @Html.HiddenFor(x => x.DistributionGroupId, new { id = "DistributionGroupId" })


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--begin: Form Actions -->
                    if ((Model.ResponsibleDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Submit")
                                            || (Model.ResponsibleSeniorDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Evaluate"))
                    {
                        <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                            <div class="m-form__actions m-form__actions">
                                <div class="row">
                                    <div class="col-lg-12 m--align-right">
                                        <br />
                                        <button type="submit" class="btn btn-success m-btn m-btn--custom m-btn--icon">
                                            <span>
                                                <span>Save & Continue</span>&nbsp;&nbsp;
                                                <i class="la la-arrow-right"></i>
                                            </span>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                }
                <!--end: Form Actions -->

            </div>

            <div class="tab-pane " id="m_tabs_3_2" role="tabpanel">
                @if ((Model.ResponsibleDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Submit") || (Model.ResponsibleSeniorDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName && Model.PolicyStepForView == "Evaluate"))
                {
                    <div class="row">
                        <div class="col-xl-8 ">
                            <h6 class="mb-3">Document List </h6>
                        </div>
                        <div class="col-xl-4 m--align-right">
                            <a href="javascript:;" class="btn btn-success btn-sm mb-3" id="SearchDoc" data-toggle="modal" data-target="#m_modal_3">
                                Search Document
                            </a>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-12">
                        <table class="table  table-bordered" id="tblDocumentList"></table>
                    </div>
                </div>
            </div>

            <div class="tab-pane " id="m_tabs_3_3" role="tabpanel">
                @using (Ajax.BeginForm("Detail", "DCR", new AjaxOptions { HttpMethod = "POST", OnSuccess = "funSuccessReviewRemark" }, new { Area = "DES", @id = "form0" }))
                {
                    @Html.HiddenFor(model => model.DCRId)
                    @Html.HiddenFor(model => model.Page)
                    @Html.HiddenFor(model => model.Status)
                    @Html.HiddenFor(model => model.DCRReviewId)
                    @Html.HiddenFor(model => model.DCREvaluatId)
                    @Html.HiddenFor(model => model.RoleGroup)
                    if (Model.IsReviewed)
                    {
                        <div class="form-group">
                            <label for="">Remark</label>
                            <div class="ckeditor_Textarea">
                                <fieldset> @Html.Raw(Model.DCRReviewModel.Remark)</fieldset>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label for="">Remark</label>
                            @Html.TextAreaFor(model => model.DCRReviewModel.Remark, new { @cols = "30", @rows = "3", @class = "form-control ckediterbox" })
                        </div>

                        <div class="row align-items-center">
                            <div class="col-lg-12 text-right">
                                @Html.Hidden("button")
                                <button type="button" name="button" class="btn btn-info" value="Return" onclick="commonSwalMsg('Return',this,0)">Return</button>
                                <button type="button" name="button" class="btn btn-success" value="Accept" onclick="commonSwalMsg('Accept', this,0)">Accept</button>
                                <button type="button" name="button" class="btn btn-danger" value="Reject" onclick="commonSwalMsg('Reject', this,0)">Reject</button>
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="tab-pane " id="m_tabs_3_7" role="tabpanel">
                @using (Ajax.BeginForm("Detail", "DCR", new AjaxOptions { HttpMethod = "POST", OnSuccess = "funSuccessReviewCommentRemark", OnBegin = "funBeginEvaluate" }, new { Area = "DES", @id = "form1" }))
                {
                    @Html.HiddenFor(model => model.DCRId)
                    @Html.HiddenFor(model => model.Page)
                    @Html.HiddenFor(model => model.Status)
                    @Html.HiddenFor(model => model.DCRReviewModel.DCRReviewId)
                    @Html.HiddenFor(model => model.DCREvaluateModel.DCREvaluateId)
                    @Html.HiddenFor(model => model.RoleGroup)


                    if (Model.IsEvaluated)
                    {
                        <table class="table  table-bordered " id="tblDeptPerson"></table>
                        <hr />


                        if (Model.Status != IEMQS.DESCore.ObjectStatus.Rejected.ToString())
                        {
                            if (Model.DepartmentGroupList != null)
                            {
                                int? _DES100ListCount = Model.DepartmentGroupList.Where(c => c.IsCompleted != true).Count();
                                if ((_DES100ListCount > 0) && Model.DepartmentGroupList[0].DCREvaluateCommentId != 0)
                                {
                                    if (Model.ResponsibleSeniorDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName)
                                    {
                                        <div class="form-group">
                                            <label for="">Remark</label>
                                            <div class="ckeditor_Textarea">
                                                @Html.TextAreaFor(model => model.DCREvaluateModel.Remark, new { @cols = "30", @rows = "3", @class = "form-control ckediterbox" })
                                            </div>
                                        </div>

                                        <div class="row align-items-center">
                                            <div class="col-lg-12 text-right">
                                                @Html.Hidden("button")
                                                <button type="button" name="button" class="btn btn-info" value="Return" onclick="commonSwalMsg('Return',this,1)">Return</button>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <label for="">Remark</label>
                                            <div class="ckeditor_Textarea">
                                                <fieldset>  @Html.Raw(Model.DCREvaluateModel.Remark)</fieldset>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="form-group">
                                        <label for="">Remark</label>
                                        <div class="ckeditor_Textarea">
                                            <fieldset>   @Html.Raw(Model.DCREvaluateModel.Remark)</fieldset>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                    else
                    {
                        if (Model.ResponsibleSeniorDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName)
                        {
                            <table class="table  table-bordered " id="tblDeptPersonList">
                                <thead>
                                    <tr>
                                        <th>Department</th>
                                        <th>Person</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="tbl_DeptPerson">
                                    @Html.Partial("_partialDeptPerson", Model)
                                </tbody>
                            </table>
                            <hr />
                            <div class="form-group">
                                <label for="">Remark</label>
                                @Html.TextAreaFor(model => model.DCREvaluateModel.Remark, new { @cols = "30", @rows = "3", @class = "form-control ckediterbox" })
                            </div>

                            <div class="row align-items-center">
                                <div class="col-lg-12 text-right">
                                    @Html.Hidden("button")
                                    <button type="button" name="button" class="btn btn-info" value="Return" onclick="commonSwalMsg('Return',this,1)">Return</button>
                                    <button type="button" name="button" class="btn btn-success" value="Accept" onclick="commonSwalMsg('Accept', this, 1)">Accept</button>
                                    <button type="button" name="button" class="btn btn-danger" value="Reject" onclick="commonSwalMsg('Reject', this, 1)">Reject</button>
                                    @*<button type="submit" name="button" class="btn btn-success" value="Accept">Accept</button>
                                        <button type="submit" name="button" class="btn btn-danger" value="Reject">Reject</button>*@
                                </div>
                            </div>
                        }
                    }
                }
            </div>

            <div class="tab-pane " id="m_tabs_3_4" role="tabpanel">
                @if ((!Model.IsReviewed && Model.ResponsibleDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName) ||
                    (!Model.IsEvaluated && Model.ResponsibleSeniorDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName))
                {
                    <div class="row">
                        <div class="col-xl-8 ">
                            <h6 class="mb-3">Part List </h6>
                        </div>
                        <div class="col-xl-4 text-right">
                            <a href="javascript:;" class="btn btn-success mb-3" id="SearchPart" data-toggle="modal" data-target="#m_modal_2">Search Part</a>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered" id="tblAffectedPart"></table>
                    </div>
                </div>                
            </div>

            <div class="tab-pane " id="m_tabs_3_5" role="tabpanel">
                @{
                    if ((!Model.IsReviewed && Model.ResponsibleDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName) ||
                        (!Model.IsEvaluated && Model.ResponsibleSeniorDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName))
                    {
                        <div class="row">
                            <div class="col-12 mb-3">
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3 col-sm-12">Upload Document</label>
                                    <label id="dropzone" class="text-danger"></label>
                                    <div class="col-12">
                                        <div class="m-dropzone dropzone m-dropzone--success" action="inc/api/dropzone/upload.php" id="m-dropzone-two">
                                            <div class="m-dropzone__msg dz-message needsclick">
                                                <h3 class="m-dropzone__msg-title">Drop files here or click to upload.</h3>
                                                <!-- <span class="m-dropzone__msg-desc">Upload up to 10 files</span>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h6 class="m--font-primary">Document List</h6>
                        <table class="table table-bordered" id="tblSupportDocumentFiles"></table>
                    }
                    else
                    {
                        <table class="table table-bordered" id="tblDocumentFiles"></table>
                    }

                    //if (Model.IsReviewed)
                    //{

                    //}
                    //else
                    //{

                    //}
                }
            </div>

            <div class="tab-pane " id="m_tabs_3_6" role="tabpanel">
                @using (Ajax.BeginForm("UpdateApproval", "DCR", new AjaxOptions { HttpMethod = "POST", OnSuccess = "funSuccessRemark", OnBegin = "funBeginEvaluate" }, new { Area = "DES" }))
                {
                    @Html.HiddenFor(model => model.DCREvaluateCommentModel.DCREvaluateCommentId)
                    @Html.HiddenFor(model => model.DCREvaluateCommentModel.DCRId)
                    @Html.HiddenFor(model => model.DCREvaluateModel.DCREvaluateId)
                    @Html.Hidden("Page", "Approval")
                    @Html.HiddenFor(model => model.DCRId)
                    <div class="form-group">
                        <label for="">Remark <span class='text-danger'>*</span></label>
                        @Html.TextAreaFor(model => model.DCREvaluateCommentModel.Remark, new { @cols = "30", @rows = "3", @class = "form-control ckediterbox" })
                        @Html.Label("Remark is Required", new { @class = "text-danger", @id = "errorRemark", @style = "display:none;" })
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-right">
                            <button type="submit" name="button" class="btn btn-success" value="Accept">Submit</button>
                            <button type="submit" name="button" class="btn btn-danger" value="Reject" hidden>Reject</button>
                        </div>
                    </div>
                }
            </div>

            <div class="tab-pane " id="m_tabs_3_8" role="tabpanel">
                @using (Ajax.BeginForm("Detail", "DCR", new AjaxOptions { HttpMethod = "POST", OnSuccess = "funSuccessReleaseRemark" }, new { Area = "DES", @id = "form3" }))
                {
                    @Html.HiddenFor(model => model.DCRId)
                    @Html.Hidden("Page", "Release")
                    @Html.HiddenFor(model => model.Status)
                    @Html.HiddenFor(model => model.DCRReviewId)
                    @Html.HiddenFor(model => model.DCREvaluatId)
                    @Html.HiddenFor(model => model.RoleGroup)
                    if (Model.IsReleased)
                    {
                        <div class="form-group">
                            <label for="">Remark</label>
                            <div class="ckeditor_Textarea">
                                <fieldset> @Html.Raw(Model.DCRReleaseModel.Remark)</fieldset>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label for="">Remark</label>
                            @Html.TextAreaFor(model => model.DCRReleaseModel.Remark, new { @cols = "30", @rows = "3", @class = "form-control ckediterbox" })
                        </div>

                        <div class="row align-items-center">
                            <div class="col-lg-12 text-right">
                                @Html.Hidden("button")
                                <button type="button" name="button" class="btn btn-info" value="Return" onclick="commonSwalMsg('Return',this,3)">Return</button>
                                <button type="button" name="button" class="btn btn-success" value="Accept" onclick="commonSwalMsg('Accept', this, 3)">Accept</button>
                                <button type="button" name="button" class="btn btn-danger" value="Reject" onclick="commonSwalMsg('Reject', this, 3)">Reject</button>
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="tab-pane " id="m_tabs_3_9" role="tabpanel">
                @{
                    @Html.HiddenFor(model => model.DCRId)
                    if (Model.ReleasedStepId > 0)
                    {
                        <div class="m-form__group form-group">
                            <label for="">Select</label>
                            <div class="m-radio-list">
                                <label class="m-radio">
                                    @Html.RadioButtonFor(model => model.ReleasedStepId, (int)IEMQS.DESCore.DCRReleasedSteps.Step1, new { disabled = "disabled" }) @Html.Label("Revise all the drawings/parts and Incorporate the DCR")
                                    <span></span>
                                </label>
                                <label class="m-radio">
                                    @Html.RadioButtonFor(model => model.ReleasedStepId, (int)IEMQS.DESCore.DCRReleasedSteps.Step2, new { disabled = "disabled" }) @Html.Label("Revise all the drawings/parts and Carry forward the DCR")
                                    <span></span>
                                </label>


                                @if (Model.IsAllPartialSelect)
                                {
                                    <label class="m-radio">
                                        @Html.RadioButtonFor(model => model.ReleasedStepId, (int)IEMQS.DESCore.DCRReleasedSteps.Step3, new { disabled = "disabled" }) @Html.Label("Revise partial drawings/parts and Partially Incorporate the DCR")
                                        <span></span>
                                    </label>
                                }
                                else
                                {
                                    if (Model.ResponsibleSeniorDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName)
                                    {
                                        <label class="m-radio">
                                            @Html.RadioButtonFor(model => model.ReleasedStepId, "3", new { @onclick = "funPartialPartDOC(this)" }) @Html.Label("Revise partial drawings/parts and Partially Incorporate the DCR")
                                            <span></span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="m-radio">
                                            @Html.RadioButtonFor(model => model.ReleasedStepId, (int)IEMQS.DESCore.DCRReleasedSteps.Step3, new { disabled = "disabled" }) @Html.Label("Revise partial drawings/parts and Partially Incorporate the DCR")
                                            <span></span>
                                        </label>
                                    }
                                }

                                <label class="m-radio">
                                    @Html.RadioButtonFor(model => model.ReleasedStepId, (int)IEMQS.DESCore.DCRReleasedSteps.Step4, new { disabled = "disabled" }) @Html.Label("Revise partial drawings/parts and Carry forward the DCR")
                                    <span></span>
                                </label>
                            </div>
                        </div>

                        if (Model.IsAllPartialSelect)
                        {
                            <div class="form-group">
                                <label for="">Remark</label>
                                <div class="ckeditor_Textarea">
                                    <fieldset>  @Html.Raw(Model.ReleasedRemark)</fieldset>
                                </div>
                            </div>
                        }
                        else
                        {
                            if (Model.ResponsibleSeniorDesignEngineer == IEMQS.DESServices.CommonService.objClsLoginInfo.UserName)
                            {
                                <div class="form-group">
                                    <label for="">Remark</label>
                                    @Html.TextAreaFor(model => model.ReleasedRemark, new { @cols = "30", @rows = "3", @class = "form-control ckediterbox" })
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-lg-12 text-right">
                                        <button type="submit" name="button" class="btn btn-success" value="Accept" onclick="funReleasedStep()">InCorporate</button>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label for="">Remark</label>
                                    <div class="ckeditor_Textarea">
                                        <fieldset>  @Html.Raw(Model.ReleasedRemark)</fieldset>
                                    </div>
                                </div>
                            }
                        }
                    }
                    else
                    {

                        <div class="m-form__group form-group">
                            <label for="">Select</label>
                            <div class="m-radio-list">
                                <label class="m-radio">
                                    @Html.RadioButtonFor(model => model.ReleasedStepId, "1") @Html.Label("Revise all the drawings/parts and Incorporate the DCR")
                                    <span></span>
                                </label>
                                <label class="m-radio">
                                    @Html.RadioButtonFor(model => model.ReleasedStepId, "2") @Html.Label("Revise all the drawings/parts and Carry forward the DCR")
                                    <span></span>
                                </label>
                                <label class="m-radio">
                                    @Html.RadioButtonFor(model => model.ReleasedStepId, "3", new { @onclick = "funPartialPartDOC(this)" }) @Html.Label("Revise partial drawings/parts and Partially Incorporate the DCR")
                                    <span></span>
                                </label>
                                <label class="m-radio">
                                    @Html.RadioButtonFor(model => model.ReleasedStepId, "4", new { @onclick = "funPartialPartDOC(this)" }) @Html.Label("Revise partial drawings/parts and Carry forward the DCR")
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Remark</label>
                            @Html.TextAreaFor(model => model.ReleasedRemark, new { @cols = "30", @rows = "3", @class = "form-control ckediterbox" })
                        </div>
                        <div class="row align-items-center">
                            <div class="col-lg-12 text-right">
                                <button type="submit" name="button" class="btn btn-success" value="Accept" onclick="funReleasedStep()">InCorporate</button>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>

<div class="m-portlet">
    <div class="m-portlet__body">


        @if (ViewBag.GetLifeCycle.Count > 0)
        {
            <h4 class="m-portlet__head-text">
                Lifecycle
            </h4>
            <div class="row bs-wizard justify-content-center">
                @foreach (var Policy in ViewBag.GetLifeCycle)
                {

                    <div class="col-sm bs-wizard-step @(Policy.IsCompleted ? " active" : "") ">
                        <div class="text-center bs-wizard-stepnum">@Policy.PolicyStep</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>

                        @if (Policy.IsCompleted == true)
                        {
                            <a href="#" class="bs-wizard-dot" style="background-color:@(Policy.ColorCode)66"><span class="bs-wizard-dot-small" style="background-color:@(Policy.ColorCode)"></span></a>
                        }
                        else
                        {
                            <a href="#" class="bs-wizard-dot"><span class="bs-wizard-dot-small"></span></a>
                        }

                        @{
                            if (Policy.CreatedBy != null)
                            {
                                <div class="bs-wizard-info text-center">
                                    @Policy.PolicyStep  By<br /> <span class="m--font-bold"> @Policy.CreatedBy </span>
                                    <br />
                                    @if (Policy.CreatedOn != null)
                                    {
                                        <span class="m--font-bold"> on @(Policy.CreatedOn != null ? Policy.CreatedOn.ToString("dd/MM/yyyy") : "")</span>
                                    }
                                </div>
                            }
                            else if (Policy.IsCompleted)
                            {
                                <div class="bs-wizard-info text-center">
                                    <text>N/A</text>
                                </div>
                            }
                        }

                    </div>

                }
            </div>
        }


    </div>
</div>


<div class="modal fade" id="m_modal_3" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Document List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs  theme-nav" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_3_1_1_1" role="tab">JEP Document</a>
                    </li>
                    <li class="nav-item dropdown m-tabs__item">
                        <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_tabs_3_2_2_2" role="tab" onclick="btnBindGlobalJEPDoc();">Global JEP Document</a>
                    </li>
                </ul>
                <div class="tab-content p-0">
                    <div class="tab-pane active" id="m_tabs_3_1_1_1" role="tabpanel">
                        <table class="table table-bordered" id="tblJepDoc"></table>
                    </div>
                    <div class="tab-pane " id="m_tabs_3_2_2_2" role="tabpanel">
                        <div class="form-group m-form__group row align-items-end">
                            <div class="col-5">
                                <label for="example-text-input" class="col-form-label">Project No</label>
                                @Html.DropDownListFor(x => x.Project, ViewBag.GetContractProjectList as SelectList, "", new { @class = "form-control", @id = "ContractProjectList" })
                            </div>
                            <div class="col-5">
                                <label for="example-text-input" class="col-form-label">Search Document</label>
                                @Html.TextBox("txtDocumentNo", "", new { @class = "form-control", @placeholder = "Document No" })
                            </div>
                            <div class="col-2"> <a href="javascript:;" class="btn btn-sm btn-success" id="searchGlobalJEPDoc" onclick="funsearchGlobalJEPDoc()">Search</a></div>
                        </div>
                        <table class="table table-bordered" id="tblGlobalJepDoc"></table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="btnAddDocList" class="btn btn-primary">Add To List</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs  theme-nav" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_3_1_1" role="tab">Documents</a>
                    </li>
                    <li class="nav-item dropdown m-tabs__item">
                        <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_tabs_3_2_2" role="tab" onclick="refresh()">Parts</a>
                    </li>
                </ul>
                <div class="tab-content p-0">
                    <div class="tab-pane active" id="m_tabs_3_1_1" role="tabpanel">
                        <table class="table table-bordered" id="tblAllDocs"></table>
                    </div>
                    <div class="tab-pane " id="m_tabs_3_2_2" role="tabpanel">
                        <table class="table table-bordered" id="tblAllParts"></table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="btnAddDocPartList" class="btn btn-primary" data-dismiss="modal">Add To List</button>
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Activity Logs </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="tblDCRHistory"></table>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Part List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="tblDCRPart"></table>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <button type="button" id="btnAddPartList" class="btn btn-primary">Add To List</button>
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_1_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100%;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Distribution Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modelbodyAllGroupData"></div>
        </div>
    </div>
</div>

@*<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="~/Content/assets/global/plugins/ckeditor/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>
    <script src="~/DESAssets/js/Review_DCR.js"></script>
    <script src="~/Scripts/Main.js"></script>*@


<script src="~/Content/assets/global/plugins/ckeditor/ckeditor.js"></script>
<script src="~/DESAssets/js/Review_DCR.js"></script>
<script src="~/DESAssets/js/Custom_Validation.js"></script>
<script src="~/Scripts/Main.js"></script>

<script>
    function ajaxValidate() {
        var messageLengthChangeFrom = CKEDITOR.instances['ChangeFrom'].getData().replace(/<[^>]*>/gi, '').length;
        var messageLengthChangeTo = CKEDITOR.instances['ChangeTo'].getData().replace(/<[^>]*>/gi, '').length;
        //var messageLengthRemark = CKEDITOR.instances['Remark'].getData().replace(/<[^>]*>/gi, '').length;

        if (!messageLengthChangeFrom) {
            $("#errorChangeFrom").show();
            return false;
        }
        if (!messageLengthChangeTo) {
            $("#errorChangeTo").show();
            return false;
        }
        //if (!messageLengthRemark) {
        //    $("#errorRemark").show();
        //    return false;
        //}
        else {
            mApp.blockPage();
            return true;
        }
    }

    function funComplete() {
        $("#errorChangeFrom").hide();
        $("#errorChangeTo").hide();
        //$("#errorRemark").hide();
    }
</script>

<script>

    $("#m_aside_left_minimize_toggle").click(function () {
        if (tblDocumentList != null)
            tblDocumentList.columns.adjust();
    });

    $("#m_aside_left_minimize_toggle").click(function () {
        if (tblAffectedPart != null)
            tblAffectedPart.columns.adjust();
    });

    $("#m_aside_left_minimize_toggle").click(function () {
        if (tblDocumentFiles != null)
            tblDocumentFiles.columns.adjust();
    });

    $("#m_aside_left_minimize_toggle").click(function () {
        if (tblDeptPerson != null)
            tblDeptPerson.columns.adjust();
    });

    function btnBindGlobalJEPDoc() {
        $("#ContractProjectList").val($("#Project").val());
        tblGlobalJepDoc.ajax.reload();

        $("#ProjectWiseDOC").val("");
        setTimeout(function () {
            tblGlobalJepDoc.columns.adjust();
        }, 500);
    }

    $('.newPop').click(function () {
        var dbGroupId = { DistributionGroupId: $('#DistributionGroupId').val() };
        if ($('#DistributionGroupId').val() != '') {
            mApp.blockPage();
            debugger;
            $.ajax({
                url: '/DES/DCR/GetDatabyGroupId',
                data: JSON.stringify(dbGroupId),
                type: 'POST',
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                dataType: "Html",
                success: function (result) {
                    mApp.unblockPage();
                    $('#modelbodyAllGroupData').html(result);
                    $('#m_modal_1_2').modal("show");
                },
                error: function (xhr) {
                    mApp.unblockPage();
                }
            });
        }
        else {
            toastr.info("Please select Distribution Group", "Info");
        }

    });

    //function CheckTextbox() {
    //    //var vStatus = $('#D_THERMALCHECK:checked').length > 0;
    //    if (model.ResponsibleDesignEngineer == CommonService.objClsLoginInfo.UserName) {
    //        $("#m_tabs_3_1").find('input:text').each(function () {
    //            $(this).removeAttr('disabled');
    //        });
    //    }
    //    else {
    //        $("#m_tabs_3_1").find('input:text').each(function () {
    //            $(this).attr('disabled', 'disabled');
    //        });
    //    }
    //}
    CKEDITOR.instances['ReasonForChange'].on("blur", function () {    

        var dcrno = $("#DCRNo").val();
        if ($('#ReasonForChange').val() != "") {
            $.ajax({
                type: "POST",
                url: '/DES/DCR/GetDCRReasonForChange',
                data: JSON.stringify({ DCRNo: dcrno, ReasonForChange: CKEDITOR.instances['ReasonForChange'].getData() }),
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                async: true,
                success: function (response) {
                    mApp.unblockPage();
                    if (response.Status) {
                        //toastr.success(response.Msg, "Success");
                    } else {
                        //toastr.error(response.Msg, "Error");
                    }
                }
            });
        }
        else {
            mApp.unblockPage();
            //toastr.error("something went wrong try again later", "Error");
        }
    });

    CKEDITOR.instances['ChangeFrom'].on("blur", function () {
        var dcrno = $("#DCRNo").val();
        if ($('#ChangeFrom').val() != "") {
            $.ajax({
                type: "POST",
                url: '/DES/DCR/GetDCRChangeFrom',
                data: JSON.stringify({ DCRNo: dcrno, ChangeFrom: CKEDITOR.instances['ChangeFrom'].getData() }),
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                async: true,
                success: function (response) {
                    mApp.unblockPage();
                    if (response.Status) {
                        //toastr.success(response.Msg, "Success");
                    } else {
                        //toastr.error(response.Msg, "Error");
                    }
                }
            });
        }
        else {
            mApp.unblockPage();
            //toastr.error("something went wrong try again later", "Error");
        }
    });

    CKEDITOR.instances['ChangeTo'].on("blur", function () {
        //var dcrid = $("#DCRId").val();
        var dcrno = $("#DCRNo").val();
        if ($('#ChangeTo').val() != "") {
            $.ajax({
                type: "POST",
                url: '/DES/DCR/GetDCRChangeTo',
                data: JSON.stringify({ DCRNo: dcrno, ChangeTo: CKEDITOR.instances['ChangeTo'].getData() }),
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                async: true,
                success: function (response) {
                    mApp.unblockPage();
                    if (response.Status) {
                        //toastr.success(response.Msg, "Success");
                    } else {
                        //toastr.error(response.Msg, "Error");
                    }
                }
            });
        }
        else {
            mApp.unblockPage();
            //toastr.error("something went wrong try again later", "Error");
        }
    });

</script>