﻿@model IEMQS.DESCore.DCRModel
@using IEMQS.Areas.DES.Models
@{
    ViewBag.Title = "DCR";
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
}

<div class="m-portlet ">
    <div class="m-portlet__body">

        <div class="row">
            <div class="col-xl-8">
                <h4 class="m-portlet__head-text ">
                    Related DCR
                </h4>
            </div>
            @*<div class="col-xl-4 text-right">
                <a href="/DES/DCR/Add" class="btn btn-sm btn-success">Add New</a>
            </div>*@
        </div>

        @Html.HiddenFor(x => x.Project)
        @Html.HiddenFor(x=> x.Identical)
        @Html.HiddenFor(x => x.CurrentUser)
        <table class="table table-bordered" id="tblDCRList"></table>
    </div>

    <div class="m-portlet__foot mt-4">
        <div class="row align-items-center">
            <div class="col-lg-6 m--valign-middle"></div>
            <div class="col-lg-6 m--align-right">
                <input id="btnReport" type="button" class="ml-3 btn btn-success" target="_blank" name="Create XML" value="Export to Excel" />
            </div>
        </div>
    </div>

</div>
<script>
    var psno = '@IEMQS.DESServices.CommonService.objClsLoginInfo.UserName';
</script>
<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Document List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs  theme-nav" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_3_1" role="tab">Affected Document</a>
                    </li>
                    <li class="nav-item dropdown m-tabs__item">
                        <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_tabs_3_2" role="tab" onclick="refresh()">Affected Parts</a>
                    </li>
                </ul>
                <div class="tab-content p-0">
                    <div class="tab-pane active" id="m_tabs_3_1" role="tabpanel">
                        <table class="table  table-bordered w-50" id="tblDocumentList"></table>
                    </div>
                    <div class="tab-pane " id="m_tabs_3_2" role="tabpanel">
                        <table class="table table-bordered" id="tblAffectedPart"></table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<script>
    var IsInprocess = '@SessionMgtModel.ProjectFolderList.IsInprocess';

    $('#btnReport').click(function () {
        var dat = [];
        dat.push({ Param: "Identical_Project", Value: $('#Identical').val() });
        ShowReport(dat, "/DES/DCR Export Data", false, true, 'excel', $('#Identical').val() + '- DCR Export Data');
    });

</script>
<script src="~/DESAssets/js/DCR_Index.js"></script>
<script src="~/Scripts/Main.js"></script>

