﻿@model IEMQSImplementation.QMS025
@{
    ViewBag.Title = "Create Consumable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<script src="~/Scripts/ThemeScripts/app.min.js"></script>

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>

<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

@*
    <style>
        .input-medium {
            width: 286px !important;
        }
    </style>*@
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .ui-autocomplete {
        overflow: auto;
        height: auto;
    }
</style>





<script>
    $(document).ready(function () {

        $("#txtFirstTpiagency").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Utility/General/GeTPIAgencyListForTPI",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Desc, value: item.Desc };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;

                    var qmscode = strProjectDesc;
                    $("#txtFirstTpiagency").val(qmscode);
                    $("#FirstTPIAgency").val(qmscode);

                }

            },
        });
    });


</script>
<script>
    $(document).ready(function () {

        $("#txtFirstintervention").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Utility/General/GeTPIInterventionList",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Desc, value: item.Desc };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    },

                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;

                    var qmscode = strProjectDesc;
                    $("#txtFirstintervention").val(qmscode);
                    $("#FirstTPIIntervention").val(qmscode);

                }
            },


        });
    });


</script>
<script>
    $(document).ready(function () {

        $("#txtSecondTpiagency").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Utility/General/GeTPIAgencyListForTPI",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Desc, value: item.Desc };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;

                    var qmscode = strProjectDesc;
                    $("#txtSecondTpiagency").val(qmscode);
                    $("#SecondTPIAgency").val(qmscode);

                }
            },
        });
    });


</script>
<script>
    $(document).ready(function () {

        $("#txtSecondIntervntion").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Utility/General/GeTPIInterventionList",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Desc, value: item.Desc };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;

                    var qmscode = strProjectDesc;
                    $("#txtSecondIntervntion").val(qmscode);
                    $("#SecondTPIIntervention").val(qmscode);

                }
            },
        });
    });


</script>
<script>
    $(document).ready(function () {

        $("#txtThirdTpiagency").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Utility/General/GeTPIAgencyListForTPI",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Desc, value: item.Desc };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;

                    var qmscode = strProjectDesc;
                    $("#txtThirdTpiagency").val(qmscode);
                    $("#ThirdTPIAgency").val(qmscode);

                }
            },

        });
    });


</script>
<script>
    $(document).ready(function () {

        $("#txtthirdintervention").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Utility/General/GeTPIInterventionList",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Desc, value: item.Desc };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;

                    var qmscode = strProjectDesc;
                    $("#txtthirdintervention").val(qmscode);
                    $("#ThirdTPIIntervention").val(qmscode);

                }
            },
        });
    });


</script>
<script>
    $(document).ready(function () {

        $("#txtForthTpiagency").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Utility/General/GeTPIAgencyListForTPI",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Desc, value: item.Desc };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;

                    var qmscode = strProjectDesc;
                    $("#txtForthTpiagency").val(qmscode);
                    $("#ForthTPIAgency").val(qmscode);

                }
            },
        });
    });


</script>
<script>
    $(document).ready(function () {

        $("#txtforthTpiintervention").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Utility/General/GeTPIInterventionList",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Desc, value: item.Desc };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;

                    var qmscode = strProjectDesc;
                    $("#txtforthTpiintervention").val(qmscode);
                    $("#ForthTPIIntervention").val(qmscode);

                }
            },

        });
    });


</script>
<script>
    $(document).ready(function () {

        $("#txtFifthTpiagency").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Utility/General/GeTPIAgencyListForTPI",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Desc, value: item.Desc };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;

                    var qmscode = strProjectDesc;
                    $("#txtFifthTpiagency").val(qmscode);
                    $("#FifthTPIAgency").val(qmscode);

                }
            },
        });
    });


</script>
<script>
    $(document).ready(function () {

        $("#txtFifthTPIIntervention").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Utility/General/GeTPIInterventionList",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Desc, value: item.Desc };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;

                    var qmscode = strProjectDesc;
                    $("#txtFifthTPIIntervention").val(qmscode);
                    $("#FifthTPIIntervention").val(qmscode);

                }
            },
        });
    });


</script>
<script>
    $(document).ready(function () {

        $("#txtSixthTPIAgency").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Utility/General/GeTPIAgencyListForTPI",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Desc, value: item.Desc };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;

                    var qmscode = strProjectDesc;
                    $("#txtSixthTPIAgency").val(qmscode);
                    $("#SixthTPIAgency").val(qmscode);

                }
            },
        });
    });


</script>
<script>
    $(document).ready(function () {

        $("#txtSixthTPIIntervention").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Utility/General/GeTPIInterventionList",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Desc, value: item.Desc };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;

                    var qmscode = strProjectDesc;
                    $("#txtSixthTPIIntervention").val(qmscode);
                    $("#SixthTPIIntervention").val(qmscode);

                }
            },
        });
    });


</script>
@*<script>
    
    $(document).ready(function () {
        $("#txtSecondTpiagency").prop('disabled', true);
        $("#txtSecondIntervntion").prop('disabled', true);
        $("#txtThirdTpiagency").prop('disabled', true);
        $("#txtthirdintervention").prop('disabled', true);
        $("#txtForthTpiagency").prop('disabled', true);
        $("#txtforthTpiintervention").prop('disabled', true);
        $("#txtFifthTpiagency").prop('disabled', true);
        $("#txtFifthTPIIntervention").prop('disabled', true);
        $("#txtSixthTPIIntervention").prop('disabled', true);
        $("#txtSixthTPIAgency").prop('disabled', true);
       // alert($("#txtFirstTpiagency").val());
        //if($("#txtFirstTpiagency").val()!

    });
</script>*@

@*<script>  

    $(document).ready(function () {   
       
        $("#txtfirstintervention").on('click', function () {
            alert('hi');
            if ($("#txtfirsttpiagency").val() != "" && $("#txtfirstintervention").val() != "")
                {               
                    $("#txtsecondtpiagency").prop('disabled', false);
                    $("#txtsecondintervntion").prop('disabled', false);
                }          
        });         

        });
    

</script>*@

<script>

    $(document).ready(function () {

        $("#txtProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Utility/General/GetQualityProjectResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.qualityDescription, value: item.qualityDescription };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;

                    var qmscode = strProjectDesc;
                    $("#QualityProject").val(qmscode);
                    getProject(qmscode);
                    $("#Location").val('@Model.Location');
                }

            },
        });

        $("#txtProject").blur(function () {
            if (!isSelected) {
                ClearAll();
            }
        });

        if ($("#txtProject").val('')) {
            var id = $('#txtProject').val();
            $("#Stage").val('');

            if ($('#txtProject').val() != "") {
                getProject(id);
                // $("#Stage").prop('disabled', true);
            }
            else {
                ClearAll();
            }
        }

        if ('@ViewBag.Action'.toLowerCase() == "edit") {
            $("#btnAdd").prop("disabled", true);
            var strQMS = '@ViewBag.QualityProject';
            var Firsttpiagency = '@ViewBag.FirstTPIAgency';
            var Firsttpiintervention = '@ViewBag.FirstTPIIntervention';
            var Secondtpitpiagency = '@ViewBag.SecondTPIAgency';
            var Secondtpiintervntion = '@ViewBag.SecondTPIIntervention';
            var Thirdtpiagency = '@ViewBag.ThirdTPIAgency';
            var Thirdtpiintervention = '@ViewBag.ThirdTPIIntervention';
            var Forthtpiagency = '@ViewBag.ForthTPIAgency';
            var Forthtpiinterention = '@ViewBag.ForthTPIIntervention';
            var Fifthtpiagency = '@ViewBag.FifthTPIAgency';
            var Fifthtpiintervention = '@ViewBag.FifthTPIIntervention';
            var Sixthtpiagency = '@ViewBag.SixthTPIAgency';
            var Sixthtpiintervention = '@ViewBag.SixthTPIIntervention';
            if ('@Model.QualityProject' != '' && '@Model.QualityProject' != 'null' && '@Model.QualityProject' != null) {
               
               // $("#txtProject").attr("disabled", true);
                $("#QualityProject").val('@Model.QualityProject');
                $("#txtProject").val(strQMS);
                $("#txtFirstTpiagency").val(Firsttpiagency);
                $("#txtSecondIntervntion").val(Secondtpiintervntion);
                $("#txtSecondTpiagency").val(Secondtpitpiagency);
                $("#txtThirdTpiagency").val(Thirdtpiagency);
                $("#txtthirdintervention").val(Thirdtpiintervention);
                $("#txtForthTpiagency").val(Forthtpiagency);
                $("#txtforthTpiintervention").val(Forthtpiinterention);
                $("#txtFifthTpiagency").val(Fifthtpiagency);
                $("#txtFifthTPIIntervention").val(Fifthtpiintervention);
                $("#txtSixthTPIIntervention").val(Sixthtpiintervention);
                $("#txtSixthTPIAgency").val(Sixthtpiagenc);
                $("#txtFirstintervention").val(Firsttpiintervention);
                $("#Stage").prop('disabled', true);
                
               
            }
            if ('@Model.Stage' != '' && '@Model.Stage' != 'null' && '@Model.Stage' != null) {
                getProject('@Model.QualityProject');
                $("#Stage").val('@Model.Stage');
                $("#ToStage").val('@Model.Stage');
            }
            $("#Stage").val('@Model.Stage');
            $("#ToStage").val('@Model.Stage');
            $("#QualityProject").val('@Model.QualityProject');
            $("#BU").val('@Model.BU');
          
            // $("#Stage").prop('disabled', false);
            //  $("#Stage").prop('disabled', true);



        }
        else {
            // $("#Stage").prop('disabled', true);
            $("#btnSend").prop("disabled", true);

        }
        if ('@ViewBag.Action'.toLowerCase() == "addnew") {

            $("#Location").val('@Model.Location');
        }

        $("#btnAdd").click(function () {
            if ($("#frmMTConsumable").valid()) {
                var frmMTConsumable = $("#frmMTConsumable").serializeArray();
                AddTPIAgency(frmMTConsumable);


            }
        });





        $('#frmMTConsumable').validate({

            rules: {
                QualityProject: { required: true },
                txtProject: { required: true },
                Stage: { required: true },
                ToStage: { required: true },
                FirstTPIAgency: { required: true },
                txtFirstTpiagency: { required: true },
                FirstTPIIntervention: { required: true },
                txtFirstintervention: { required: true }
            },
            messages: {
                QualityProject: { required: "Quality Project is required" },
                txtProject: { required: "Quality Project is required" },
                Stage: { required: "Please select From Stage" },
                ToStage: { required: "Please select To Stage" },
                FirstTPIAgency: { required: "Please Select TPI Agency" },
                txtFirstTpiagency: { required: "TPI Agency Is Required" },
                FirstTPIIntervention: { required: "Please Select TPI Intervention" },
                txtFirstintervention: { required: "TPI Intervention Is Required" }
            },
        });
    });


    function ClearAll() {
        $("#BU").val('');
        $("#QualityProject").val('');
        $("#txtProject").val('');
        $("#Stage").val('');
        $("#ToStage").val('');
        $("#Project").val('');
        $("#Location").val('');
        $("#txtFirstTpiagency").val('');
        $("#txtFirstintervention").val('');
        $("#txtSecondTpiagency").val('');
        $("#SecondTPIIntervention").val('');
        $("#txtThirdTpiagency").val('');
        $("#txtthirdintervention").val('');
        $("#txtForthTpiagency").val('');
        $("#txtforthTpiintervention").val('');
        $("#txtFifthTpiagency").val('');
        $("#txtFifthTPIIntervention").val('');
        $("#txtSixthTPIAgency").val('');
        $("#txtSixthTPIIntervention").val('');
    }
    function AddTPIAgency(frmMTConsumable) {
        var formData = new FormData();
        $.each(frmMTConsumable, function (key, input) {
            formData.append(input.name, input.value);
        })

        $.ajax({
            url: "/TPI/Maintain/SaveTPI",
            data: formData,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function (res) {
               
                if (res.Key) {
                    $("#Id").val(res.Value);

                    if ('@ViewBag.Action'.toLowerCase() == "edit") {
                        DisplayNotiMessage("success", " updated successfully", "Success");
                    }
                    else {
                        DisplayNotiMessage("success", " created successfully", "Success");
                        ClearAll();

                    }

                    $("#txtProject").prop('disabled', true);
                    // $("#Stage").prop('disabled', true);
                    $("#Id").val(res.Value);
                }
                else {
                    if ((res.Status) == "Record Not Found") {
                        DisplayNotiMessage("error", "Record Not Found From Stage Code and Stage Code To ", "Error");
                    }
                    else {
                        DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                    }

                }
            }
        });
    }

    function DisableAll() {
        $("#Stage").prop('disabled', true);

    }

    function getProject(id) {
        $.ajax({
            url: '/TPI/Maintain/GetProject',
            type: "Post",
            async: false,
            dataType: "JSON",
            data: { qms: id },
            success: function (response) {
                if (response.Project != null && response.Project != "" && response.Project != undefined) {
                    $("#Project").val(response.Project);
                    $("#BU").val(response.BUDescription);;
                    //   $("#Stage").prop('disabled', true);
                    //  $("#Stage").empty();

                    if (response.lstBULocWiseMethodModel != null && response.lstBULocWiseMethodModel != "" && response.lstBULocWiseMethodModel != undefined) {
                        if (response.lstBULocWiseMethodModel.length > 0) {
                            var optionhtml1 = '<option value="">' + "Select From Stage" + '</option>';
                            $("#Stage").append(optionhtml1);
                            $.each(response.lstBULocWiseMethodModel, function (i) {
                                var optionhtml = '<option value="' + response.lstBULocWiseMethodModel[i].CatID + '">' + response.lstBULocWiseMethodModel[i].CatDesc + '</option>';
                                $("#Stage").append(optionhtml);
                            });
                            var optionhtml2 = '<option value="">' + "Select To Stage" + '</option>';
                            $("#ToStage").append(optionhtml1);
                            $.each(response.lstBULocWiseMethodModel, function (i) {
                                var optionhtml = '<option value="' + response.lstBULocWiseMethodModel[i].CatID + '">' + response.lstBULocWiseMethodModel[i].CatDesc + '</option>';
                                $("#ToStage").append(optionhtml);
                            });
                        }


                    }
                    else {
                        ///  $("#Stage").prop('disabled', true);

                        bootbox.alert('Failed to retrieve Stage');
                    }
                }
                else {
                    $("#BU").val("");
                }
            },
            error: function (ex) {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                bootbox.alert('Failed to retrieve status.' + ex);
            }
        });
        return false;
    }


</script>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div id="dvMTConsume">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMTConsumable", @class = "form-horizontal" }))
                    {
                        <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                            <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                                <span class="page-title">TPI Agency And Intervention</span>
                            </div>
                            @*<div class="ribbon ribbon-right ribbon-color-warning">
                                    Status : <span id="spnStatus" style="font-weight:bolder">@Html.DisplayFor(m => m.Status)</span>
                                    @Html.HiddenFor(m => m.Status)
                                </div>*@
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Detail</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Quality Project<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtProject" value="" name="txtProject" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.QualityProject, new { @id = "QualityProject" })
                                                @*   @Html.DropDownListFor(model => model.QualityProject, (SelectList)ViewBag.QMS, "Select Quality Project", new { @class = "form-control" })*@
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.Location, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">From Stage</label>
                                            <div class="">
                                                @*@Html.DropDownListFor(model => model.Stage ,new SelectList("", "Value", "Text"), "Select From Stage", new {  @class = "form-control" })*@
                                                @Html.DropDownList("Stage", new SelectList("", "Value", "Text"), "Select From Stage", new { @id = "Stage", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">To Stage</label>
                                            <div class="">
                                                @*@Html.DropDownListFor(model => model.Stage, new SelectList("", "Value", "Text"), "Select To Stage", new {  @class = "form-control" })*@
                                                @Html.DropDownList("ToStage", new SelectList("", "Value", "Text"), "Select To Stage", new { @id = "ToStage", @class = "form-control" })
                                            </div>
                                        </div>

                                    </div>


                                </fieldset>

                                <fieldset>
                                    <legend>TPI Agency and Interventions</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">First TPI Agency<span class="required"> * </span></label>
                                            <div class="">
                                                @*@Html.DropDownListFor(model => model.FirstTPIAgency, new SelectList("", "Value", "Text"), "Select First TPI Agency", new { @class = "form-control" })*@
                                                @*@Html.DropDownListFor(model => model.FirstTPIAgency, new SelectList(@ViewBag.StageType), "Select First TPI Agency", new { @class = "form-control" })*@
                                                @*@Html.DropDownList("ddlsType", (SelectList)(@ViewBag.StageType), "Select", new { @class = "form-control" })*@
                                                <input type="text" id="txtFirstTpiagency" value="" name="txtFirstTpiagency" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.FirstTPIAgency, new { @id = "FirstTPIAgency" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">First TPI Intervention<span class="required"> * </span></label>
                                            <div class="">
                                                @*@Html.DropDownListFor(model => model.FirstTPIIntervention, new SelectList("", "Value", "Text"), "Select First TPI Intervention", new { @class = "form-control" })*@
                                                <input type="text" id="txtFirstintervention" value="" name="txtFirstintervention" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.FirstTPIIntervention, new { @id = "FirstTPIIntervention" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Second TPI Agency</label>
                                            <div class="">
                                                @*@Html.DropDownListFor(model => model.SecondTPIAgency, new SelectList("", "Value", "Text"), "Select Second TP IAgency", new { @class = "form-control" })*@
                                                <input type="text" id="txtSecondTpiagency" value="" name="txtSecondTpiagency" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.SecondTPIAgency, new { @id = "SecondTPIAgency" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Second TPI Intervention</label>
                                            <div class="">
                                                @*@Html.DropDownListFor(model => model.SecondTPIIntervention, new SelectList("", "Value", "Text"), "Select Second TPI Intervention", new { @class = "form-control" })*@
                                                <input type="text" id="txtSecondIntervntion" value="" name="txtSecondIntervntion" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.SecondTPIIntervention, new { @id = "SecondTPIIntervention" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Third TPI Agency</label>
                                            <div class="">
                                                @*@Html.DropDownListFor(model => model.ThirdTPIAgency, new SelectList("", "Value", "Text"), "Select Third TPI Agency", new { @class = "form-control" })*@
                                                <input type="text" id="txtThirdTpiagency" value="" name="txtThirdTpiagency" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.ThirdTPIAgency, new { @id = "ThirdTPIAgency" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Third TPI Intervention</label>
                                            <div class="">
                                                @*@Html.DropDownListFor(model => model.ThirdTPIIntervention, new SelectList("", "Value", "Text"), "Select Third TPI Intervention", new { @class = "form-control" })*@
                                                <input type="text" id="txtthirdintervention" value="" name="txtthirdintervention" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.ThirdTPIIntervention, new { @id = "ThirdTPIIntervention" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Forth TPI Agency</label>
                                            <div class="">
                                                @*@Html.DropDownListFor(model => model.ForthTPIAgency, new SelectList("", "Value", "Text"), "Select Fourth TPI Agency", new { @class = "form-control" })*@
                                                <input type="text" id="txtForthTpiagency" value="" name="txtForthTpiagency" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.ForthTPIAgency, new { @id = "ForthTPIAgency" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Forth TPI Intervention</label>
                                            <div class="">
                                                @*@Html.DropDownListFor(model => model.ForthTPIIntervention, new SelectList("", "Value", "Text"), "Select Fourth TPI Intervention", new { @class = "form-control" })*@
                                                <input type="text" id="txtforthTpiintervention" value="" name="txtforthTpiintervention" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.ForthTPIIntervention, new { @id = "ForthTPIIntervention" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Fifth TPI Agency</label>
                                            <div class="">
                                                @*@Html.DropDownListFor(model => model.FifthTPIAgency, new SelectList("", "Value", "Text"), "Select Fifth TPI Agency", new { @class = "form-control" })*@
                                                <input type="text" id="txtFifthTpiagency" value="" name="txtFifthTpiagency" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.FifthTPIAgency, new { @id = "FifthTPIAgency" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Fifth TPI Intervention</label>
                                            <div class="">
                                                @*@Html.DropDownListFor(model => model.FifthTPIIntervention, new SelectList("", "Value", "Text"), "Select Fifth TPI Intervention", new { @class = "form-control" })*@
                                                <input type="text" id="txtFifthTPIIntervention" value="" name="txtFifthTPIIntervention" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.FifthTPIIntervention, new { @id = "FifthTPIIntervention" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Sixth TPI Agency</label>
                                            <div class="">
                                                <input type="text" id="txtSixthTPIAgency" value="" name="txtSixthTPIAgency" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.SixthTPIAgency, new { @id = "SixthTPIAgency" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Sixth TPI Intervention</label>
                                            <div class="">
                                                <input type="text" id="txtSixthTPIIntervention" value="" name="txtSixthTPIIntervention" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.SixthTPIIntervention, new { @id = "SixthTPIIntervention" })
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Remarks</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Remarks</label>
                                            <div class="">
                                                @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control col-md-3" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-6" style="text-align:right;margin-top:30px;">
                                            <input type="button" id="btnAdd" class="btn green" value="Save" />

                                            <a href='@Url.Action("Index","Maintain")' class="btn blue">Cancel</a>
                                        </div>
                                    </div>







                                </fieldset>
                            </div>
                        </div>
                    }
                </div>
            </div>       <!-- END PAGE BASE CONTENT -->
        </div>
    </div>
</div>


<script src="~/Scripts/ThemeScripts/app.min.js"></script>


