﻿@using IEMQSImplementation
<style>
    disabled {
        pointer-events: none;
        cursor: default;
    }
</style>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">

            @{
                string strMSWTitle = " Projects";
            }
            @strMSWTitle
        </div>
        @*<div class="tools"> </div>*@
        <div class="tools" id="dvExportHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/SCP/MaintainSCP/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" id="tblHTCHeader" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">Project</th>
                    <th class="all">Document</th>
                    <th class="all">Customer</th>
                    <th class="all">Product</th>
                    <th class="all">Process Licensor</th>
                    <th class="all">Rev.</th>
                    <th class="all">Status</th>
                    <th class="none">Submitted By</th>
                    <th class="none">Submitted On</th>
                    <th class="none">Approved By</th>
                    <th class="none">Approved On</th>
                    <th class="all">Action</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>
<script>

    $(document).ready(function () {
        var table = $('#tblHTCHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/SCP/MaintainSCP/LoadSCPHeaderData",
            "aaSorting": [[2, 'asc']],
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    // 'success': fnCallback,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
               {
                   "name": "Project",
                   "sClass": "center",

               },
               {
                   
                   "sClass": "center",
                   "name": "Document",

               },
               {
                   "sClass": "center",
                   "name": "Customer",

               },
               {
                   "sClass": "center",
                   "name": "Product",

               },
               {
                   "sClass": "center",
                   "name": "ProcessLicensor",

               },
               {
                  
                   "sClass": "center",
                   "name": "RevNo",
                   "attr": "numeric"

               },
               {
                  
                   "sClass": "center",
                   "name": "Status"

               },
               {

                   "sClass": "center",

               },
               {

                   "sClass": "center",

               },
               {

                   "sClass": "center",

               },
               {

                   "sClass": "center",

               },
               {
                   "bSortable": false,
                   "sClass": "center",
                   "sWidth": "10%",

               },

            ]
        });
       
        table.dtSearchFilter();

    });

    function PrintReport(headerid) {
        bootbox.dialog({
            title: 'SubContracting Plan Report',
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        url = "/SCP/sub Contracting Plan";
                        var dat = [];
                        dat.push({ Param: "HeaderId", Value: headerid });
                        ShowReport(dat, url);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn red'
                }
            }
        });
    }
    function history(headerid) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/SCP/MaintainSCP/GetHistoryView",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerid: headerid },
            success: function (result) {
                bootbox.dialog({
                    title: 'History of Sub Contracting Plan',
                    message: result,
                    size: 'large',


                    buttons: {
                        'cancel': {
                            label: 'Cancel',
                            className: 'btn red'
                        }
                    }

                });
            },
            error: function () {
            }
        });
    }
</script>