﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Datatable/css")
@Styles.Render("~/Content/datetimepicker/css")
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    @Html.Raw((String)ViewBag.Title)
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="text-align:right">
                                <a href="~/ICS/Maintain/Details" style="float: right;" class="btn green">Add New</a>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">
                        </div>
                        <div class="tab-pane" id="portlet_comments_2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        LoadDataGridPartial('Pending');
        $('a[name="tabStatus"]').click(function () {
            LoadDataGridPartial($(this).attr('spara'));
        });
    });

    function LoadDataGridPartial(status) {
        var title = '@ViewBag.Title';
        var indextype = '@ViewBag.IndexType';
        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/ICS/Maintain/LoadDataGridPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { status: status, title: title, indextype: indextype },
            success: function (result) {
                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                }
                else {
                    $("#portlet_comments_2").html(result);
                }
            },
            error: function () {
            }
        });
    }
</script>
@Scripts.Render("~/bundles/datetimepicker/js")
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
