﻿@{
    //Layout = "~/Areas/DES/Views/Shared/_DESLayout.cshtml";
    if (IEMQS.Areas.DES.Models.SessionMgtModel.ProjectFolderList != null && IEMQS.Areas.DES.Models.SessionMgtModel.ProjectFolderList.ProjectNo != null)
    {
        ViewBag.Title = "Project Athorization";
        Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
    }
    else
    {
        ViewBag.Title = "Project Athorization";
        Layout = "~/Areas/DES/Views/Shared/_DESLayout.cshtml";
    }
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="#" class="m-nav__link m-nav__link--icon">
                            <span class="m-nav__link-text"><span class="m--font-bolder">Maintain Master</span></span>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">Maintain Project Authorization</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->

    <div class="m-content">
        <div class="m-portlet ">
            <div class="m-portlet__body">
                <h4 class="m-portlet__head-text">Project Authorization List</h4>
                <table class="table table-bordered table-hover child_table" id="tblProjectAuthorization"></table>
            </div>
        </div>
    </div>

</div>

@*<div class="m-portlet ">
        <div class="m-portlet__body">
            <h4 class="m-portlet__head-text ">Maintain Project Authorization</h4>
            <div class="theme-form">
                <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                <div class="editable-table">
                    <table class="table table-bordered" id="tblProjectAuthorization"></table>
                </div>
              
            </div>
        </div>
</div>*@

@section Scripts{    
<script src="~/DESAssets/js/ProjectAuthorization-Index.js"></script>
}