﻿@using IEMQSImplementation
@model LNC002

<style>
    .inputDiv {
        padding-left: 0px;
        padding-right: 0px;
    }

    #tblAttach > tbody > tr > td {
        vertical-align: middle;
    }
</style>

<div class="row" style="width:100%">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="form-group">

            <div class="col-md-4">
                <label class="control-label">Job Number<span class="required">*</span></label>
                <div class="col-md-12 inputDiv">
                    @Html.TextBoxFor(m => m.JobNo, new { @class = "form-control linesVal", required = "required", maxLength = 20 })
                </div>
            </div>
            <div class="col-md-8">
                <label class="control-label">Component / Activity<span class="required">*</span></label>
                <div class="col-md-12 inputDiv">
                    @Html.TextBoxFor(m => m.Activity, new { @class = "form-control linesVal", required = "required", maxLength = 50 })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label">Description of Problem / Learning<span class="required">*</span></label>
                <div class="col-md-12 inputDiv">
                    @Html.TextBoxFor(m => m.Learning, new { @class = "form-control linesVal", required = "required", maxLength = 200 })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label">Correction<span class="required">*</span></label>
                <div class="col-md-12 inputDiv">
                    @Html.TextBoxFor(m => m.PreventiveAction, new { @class = "form-control linesVal", required = "required", maxLength = 200 })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label">Root Cause<span class="required">*</span></label>
                <div class="col-md-12 inputDiv">
                    @Html.TextBoxFor(m => m.RootCause, new { @class = "form-control linesVal", required = "required", maxLength = 200 })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label">Corrective Action<span class="required">*</span></label>
                <div class="col-md-12 inputDiv">
                    @Html.TextBoxFor(m => m.CorrectiveAction, new { @class = "form-control linesVal", required = "required", maxLength = 200 })
                </div>
            </div>
        </div>
        @{ Html.RenderPartial("_AttachmentPartial"); }
        @*<div class="form-group">
                <div class="col-md-12">
                    <label class="control-label">Attachments</label>
                    <div class="row">
                        <div class="col-md-11">
                            <table id="tblAttach"  class="table">
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <input type="file" id="inpAttach" style="display:none" onchange="addAttch(this)"/>
                        <button type="button" class="btn blue col-md-1" onclick="$('#inpAttach').trigger('click')"><span class="glyphicon glyphicon-paperclip"></span></button>
                    </div>
                </div>
            </div>*@
    </div>
</div>
