﻿@using IEMQSImplementation
@using IEMQS.Areas.LNC.Models
@model LNC001
@{
    ViewBag.Title = "Create Header";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.DisableHeaderOnEdit = true;
    string FileUploadLineID = "fuline";
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>

<style>
    /*textarea {
        height: 33px !important;
    }*/

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .hasattachment {
        color: #32CD32;
    }
</style>
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<script>
    var viewOnly = false;
    var allowAllAttachments = true;
    $(document).ready(function () {
        GetPDNIdenticalprojectPartial('@Model.Project');

        var isSelected = false;
        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });
        //LoadSelect2DropDown("/LNC/Maintain/GetProjects", $('#ddlProject'), "--Select Project--", '')
        //LoadSelect2DropDown("/LNC/Maintain/GetProductTypes", $('#Product'), "--Select Product--", '')
        var tbl = blankTable();
        $("#txtProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/LNC/Maintain/GetProjects",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectDescription };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    $("#txtProject").val('');
                    $("#CDD").val('');
                    $("#Customer").val('');
                    $("#DocumentNo").val('');
                    $("#Document").val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    var spltProjectDesc = strProjectDesc.split("-");
                    var projectcode = spltProjectDesc[0].trim();
                    //alert(projectcode);
                    /*$("#Project").val(projectcode);
                    getBU(projectcode, false);*/
                    GetAllProjectDetails(projectcode);
                }

            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });
        $("#Product").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/LNC/Maintain/GetProductTypesAutoComplete",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item, value: item };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: false,
            change: function (event, ui) {
                $.ajax({
                    url: WebsiteURL + "/LNC/Maintain/GetProductTypesAutoComplete",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: $(this).val()
                    },
                    success: function (data) {
                        if (data.length > 0) {
                            $('#Product').val(data[0]);
                        }
                        else {
                            DisplayNotiMessage("error", "Invalid Product!", "Error!");
                            $('#Product').val('');
                        }
                    }
                });
                $('#EquipmentCategory').val('');
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#EquipmentCategory").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/LNC/Maintain/GetEquipmentCategoryAutoComplete",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term,
                        Product: $("#Product").val()
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item, value: item };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: false,
            change: function (event, ui) {
                if (parseInt($('#HeaderId').val()) > 0 && $(this).val() != "") {
                    UpdateEdquipement($(this).val());
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });
        /*$("#ddlProject").change(function () {
            if ($("#ddlProject").val() != '' && $("#ddlProject").val() != null) {
                $.ajax({
                    url: "/LNC/Maintain/GetProjectDetail",
                    type: 'POST',
                    data: { Project: $("#ddlProject").val() },
                    success: function (res) {
                        if (res.Condition == "edit") {
                            bootbox.confirm("Do you want to edit this document?", function (result) {
                                if (result) {
                                    window.location='/LNC/Maintain/EditHeader?HeaderId='+res.objLNC.HeaderId;
                                    $("#CDD").val(res.objLNC.CDD);
                                    $("#Customer").val(res.objLNC.Customer);
                                    $("#DocumentNo").val(res.objLNC.DocumentNo);
                                    $("#Product").val(res.objLNC.Product);
                                    $("#EquipmentCategory").val(res.objLNC.EquipmentCategory);
                                    $("#ProcessLicensor").val(res.objLNC.ProcessLicensor);
                                    $("#Project").val(res.objLNC.Project);
                                    ShowLines(res.Project);
                                }
                                else {
                                    ClearControls();
                                }
                            });
                        }
                        else if (res.Condition === "otheruser") {
                            bootbox.alert("This Document is already created by other user!");
                            ClearControls();
                        }
                        else {
                            $("#CDD").val(res.webCDDString);
                            $("#Customer").val(res.objLNC.Customer);
                            $("#DocumentNo").val(res.objLNC.DocumentNo);
                        }
                    }
                })
            }
            else {
                ClearControls();
            }
        });*/

        if ('@ViewBag.Action'.toLowerCase() == "edit") {

            $('#txtProject').val('@ViewBag.ProjectSelect');
            $('#Product').val('@Model.Product');
            $('#CDD').val('@Model.CDD.ToString("dd/MM/yyyy")');

            if ('@ViewBag.DisableHeaderOnEdit'.toLowerCase() == 'true') {
                $("#txtProject").attr("readonly", "readonly").off("focus");
                $("#Product").attr("readonly", "readonly").off("focus");
                //$("#EquipmentCategory").attr("readonly", "readonly").off("focus");
                $("#ProcessLicensor").attr("readonly", "readonly");
            }

            ShowLines('@Model.HeaderId');

        }
        if ('@ViewBag.Action'.toLowerCase() == 'view') {
            $('#txtProject').val('@ViewBag.ProjectSelect');
            $('#Product').val('@Model.Product');
            $('#CDD').val('@Model.CDD.ToString("dd-MM-yyyy")');

            if ('@ViewBag.DisableHeaderOnEdit'.toLowerCase() == 'true') {
                $("#txtProject").attr("readonly", "readonly").off("focus");
                $("#Product").attr("readonly", "readonly").off("focus");
                $("#EquipmentCategory").attr("readonly", "readonly").off("focus");
                $("#ProcessLicensor").attr("readonly", "readonly");
            }
            $('#btnAddLines').remove();
            $('#btnAddLine').html('Close');
            $('#btnAddLine').attr('onclick', '$("#modalAddLines").modal("hide")');

            ShowLines('@Model.HeaderId');
            $.ready(function () { $('input').attr('disabled', 'disabled'); });
            $(".fa-pencil-square-o").removeClass("fa-pencil-square-o").addClass("fa-eye");
            $(".fa-pencil-square-o").attr("title", "View Line")
            viewOnly = true;
        }

        $('#frmCreateHeader').validate({
            rules: {
                Product: {
                    required: true
                },
                //ProcessLicensor: {
                //    required: true,
                //    maxlength: 20
                //},
                txtProject: {
                    required: true,
                }
            },
            messages: {
                Product: {
                    required: "Product is required"
                },
                //ProcessLicensor: {
                //    required: "ProcessLicensor is required"
                //},
                txtProject: {
                    required: "Project is required"
                }
            }
        });
        $('#btnAddLines').click(function () {
            /*$('.linesVal').val('');
            clearTable();
            $("#modalAddLines").modal('show');*/
            ShowNewRecord(this);
        });

        $("#btnSaveHeaderAndAddLines").click(function () {
            if ($("#frmCreateHeader").valid()) {
                DisableControls();
                $('#Project').val($('#txtProject').val().split("-")[0].trim());
                $.ajax({
                    url: WebsiteURL + "/LNC/Maintain/AddLNCHeader",
                    type: "POST",
                    data: {
                        Project: $('#Project').val(),
                        DocumentNo: $('#DocumentNo').val(),
                        Customer: $('#Customer').val(),
                        CDD: $('#CDD').val(),
                        Product: $('#Product').val(),
                        EquipmentCategory: $('#EquipmentCategory').val(),
                        ProcessLicensor: $('#ProcessLicensor').val()
                    },
                    success: function (data) {
                        if (data.Key == true) {
                            $('#HeaderId').val(data.Value);
                            ShowLines(data.Value);
                            DisplayNotiMessage("success", "Saved Successfully", "Saved");
                        }
                        else {
                            bootbox.alert(data.Value)
                        }
                    }
                });
                $("#btnSaveHeaderAndAddLines").hide();
                $("#divLines").show();
            }
        });


        $("#btnSendForAprrove").click(function () {
            if (GetSrNo() == 1) {
                bootbox.alert("Please add lines first.");
                $("#divLines").show();
                return;
            }
            if ($("#frmCreateHeader").valid()) {
                $.ajax({
                    url: WebsiteURL + "/LNC/Maintain/AddLNCHeader",
                    type: "POST",
                    data: {
                        Project: $('#Project').val(),
                        DocumentNo: $('#DocumentNo').val(),
                        Customer: $('#Customer').val(),
                        CDD: $('#CDD').val(),
                        Product: $('#Product').val(),
                        EquipmentCategory: $('#EquipmentCategory').val(),
                        ProcessLicensor: $('#ProcessLicensor').val()
                    },
                    success: function (data) {
                        if (data.Key == true) {
                            var aL = saveLines();
                            if (aL == true) {
                                //  window.location = '/LNC/Maintain/Index';
                                window.setTimeout('window.location.href = "' + WebsiteURL + '/PDIN/Maintain/Create?HeaderID=@ViewBag.PlanningDinID"', 2000);

                            }
                        }
                        else {
                            bootbox.alert(data.Value)
                        }
                    }
                });
            }
        });
        $('.key-numeric').keypress(function (e) {
            var verified = (e.which == 8 || e.which == undefined || e.which == 0) ? null : String.fromCharCode(e.which).match(/[^0-9]/);
            if (verified) { e.preventDefault(); }
        });
    });

    function saveLine(srNo) {
        if ($("#frmCreateHeader").valid()) {
            $.ajax({
                url: WebsiteURL + "/LNC/Maintain/AddLNCHeader",
                type: "POST",
                data: {
                    Project: $('#Project').val(),
                    DocumentNo: $('#DocumentNo').val(),
                    Customer: $('#Customer').val(),
                    CDD: $('#CDD').val(),
                    Product: $('#Product').val(),
                    EquipmentCategory: $('#EquipmentCategory').val(),
                    ProcessLicensor: $('#ProcessLicensor').val()
                },
                success: function (data) {
                    if (data.Key == true) {
                        $('#HeaderId').val(data.Value);
                        var aL = saveLines(srNo);
                        if (aL == true) {
                            DisplayNotiMessage("success", "Saved Successfully", "Saved");
                        }
                    }
                    else {
                        bootbox.alert(data.Value)
                    }
                }
            });
        }
    }

    function projectChange(projectcode) {
        if (!IsProjectExists) {
            $.ajax({
                url: WebsiteURL + "/LNC/Maintain/GetProjectDetail",
                type: "Post",
                async: false,
                dataType: "JSON",
                data: { Project: projectcode },
                success: function (res) {

                    if (res.Condition == "edit") {
                        bootbox.confirm("Do you want to edit this document?", function (result) {
                            if (result) {
                                window.location = WebsiteURL + '/LNC/Maintain/EditHeader?HeaderId=' + res.objLNC.HeaderId;
                                $("#CDD").val(res.webCDDString);
                                $("#Customer").val(res.objLNC.Customer);
                                $("#DocumentNo").val(res.objLNC.DocumentNo);
                                $("#Product").val(res.objLNC.Product);
                                $("#EquipmentCategory").val(res.objLNC.EquipmentCategory);
                                $("#ProcessLicensor").val(res.objLNC.ProcessLicensor);
                                $("#Project").val(res.objLNC.Project);
                                ShowLines(res.Project);
                            }
                            else {
                                ClearControls();
                            }
                        });
                    }
                    else if (res.Condition === "otheruser") {
                        bootbox.alert("This Document is already created by other user!");
                        ClearControls();
                    }
                    else if (res.Condition == "invalid") {
                        ClearControls();
                        DisplayNotiMessage("error", "Invalid Project!", "Error");
                    }
                    else {
                        $("#CDD").val(res.webCDDString);
                        $("#Customer").val(res.objLNC.Customer);
                        $("#DocumentNo").val(res.objLNC.DocumentNo);
                    }
                },
                error: function (ex) {
                    DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                    bootbox.alert('Failed to retrieve status.' + ex);
                }
            })
        }
        else {
            bootbox.confirm({
                message: "Document already exists. Do you want to Continue?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        window.location = WebsiteURL + '/LNC/Maintain/EditHeader?HeaderId=' + res.objLNC.HeaderId;
                    }
                    else {
                        ClearControls();
                    }
                }
            });
        }
    }
    function UpdateEdquipement(selectedvalue) {
        $.ajax({
            url: WebsiteURL + "/LNC/Maintain/UpdateEquipement",
            dataType: "json",
            type: "POST",
            delay: 250,
            async: false,
            data: {
                headerid: parseInt($('#HeaderId').val()), equipmentcategory: selectedvalue
            },
            success: function (data) {
                //if (data.length > 0) {
                //    //$('#Product').val(data[0]);
                //}
                //else {
                //    DisplayNotiMessage("error", "Failed to update Equipment Category", "Error!");
                //}
            }
        });
    }
    function GetAllProjectDetails(projectcode) {
        $.ajax({
            url: WebsiteURL + "/LNC/Maintain/GetAllProjectDetails",
            type: "Post",
            async: false,
            dataType: "JSON",
            data: { Project: projectcode },
            success: function (res) {
                if (res.IsExist) {
                    bootbox.dialog({
                        message: "Do you want to edit this document?",
                        size: 'medium',
                        buttons: {
                            'confirm': {
                                label: 'Yes',
                                className: 'btn green',
                                callback: function () {
                                    window.location = WebsiteURL + '/LNC/Maintain/EditHeader?HeaderId=' + res.HeaderId;
                                }
                            },
                            'cancel': {
                                label: 'No',
                                className: 'btn btnclose',
                                callback: function () {
                                    ClearControls();
                                }
                            }
                        }
                    });
                }
                else if (res.Condition === "otheruser") {
                    bootbox.alert("This Document is already created by other user!");
                    ClearControls();
                }
                else if (res.Condition == "invalid") {
                    ClearControls();
                    DisplayNotiMessage("error", "Invalid Project!", "Error");
                }
                else {
                    $("#CDD").val(res.CDD);
                    $("#Customer").val(res.Customer);
                    $("#DocumentNo").val(res.DocumentNo);
                }
            },
            error: function (ex) {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                bootbox.alert('Failed to retrieve status.' + ex);
            }
        })
    }

    function saveLines(srNo) {
        var line = $(this).find('.lineId').html();
        $("#tblLines").children('tbody').find('tr').each(function () {
            if (srNo == undefined || srNo == $(this).find('.srno').html()) {
                //var attch = [];
                //$(this).find(".attachment").children().each(function(){
                //    alert(this.id + "   " + $(this).val());
                //    attch.push({Key: this.id, Value: $(this).val()})
                //});
                //var hasAttch=false;
                //if(attch.length > 0)
                //    hasAttch = true;
                $.ajax({
                    url: WebsiteURL + "/LNC/Maintain/AddLNCLine",
                    type: "POST",
                    data: {
                        LineId: $(this).find('.lineId').html(),
                        HeaderId: $('#HeaderId').val(),
                        Project: $('#Project').val(),
                        DocumentNo: $('#DocumentNo').val(),
                        SrNo: $(this).find('.srno').html(),
                        Activity: $(this).find('.activity').html(),
                        JobNo: $(this).find('.jobNo').html(),
                        Learning: $(this).find('.learning').html(),
                        CorrectiveAction: $(this).find('.correctiveAction').html(),
                        RootCause: $(this).find('.rootCause').html(),
                        PreventiveAction: $(this).find('.preventiveAction').html(),
                        hasAttachments: getHasAttachmentsForSubmit($(this).find('.attachment')),
                        Attach: getAttachmentsforSubmit($(this).find('.attachment'))
                    },
                    success: function (data) {
                        if (data.Key == true) {
                        }
                        else {
                            return false;
                        }
                    }
                });
            }
        });
        ShowLines($('#HeaderId').val());
        return true;

    }

    function DeleteLine(lineId) {
        bootbox.confirm("Do you want to delete line?",
        function (result) {
            if (result) {
                $.ajax({
                    url: WebsiteURL + "/LNC/Maintain/DeleteLine",
                    type: "POST",
                    data: { LineId: lineId },
                    success: function (res) {
                        if (res.Key == true) {
                            DisplayNotiMessage("success", "Deleted Successfully", "Deleted");
                        }
                        else {
                            bootbox.alert(res.Value);
                        }
                        ShowLines($('#HeaderId').val());
                    }
                });
            }
        })
    }
    function EditLine(srno, view) {
        $('#tblLines').find('tbody').children().each(function () {
            var srno_F = $(this).find('.lineId').html();
            if (srno_F == srno) {
                if (view != true) {
                    $("#btnAddLine").html("Save");
                    $("#btnAddLine").attr("onclick", "updateLine('" + srno + "')")
                    $('.modal').find('input').removeAttr('disabled');
                }
                else {
                    $("#btnAddLine").html("Close");
                    $("#btnAddLine").attr("onclick", "$(this).closest('.modal').modal('hide')")
                    $('.modal').find('input').attr('disabled', 'disabled');
                }
                $("#JobNo").val($(this).find('.jobNo').html());
                $("#Activity").val($(this).find('.activity').html());
                $("#Learning").val($(this).find('.learning').html());
                $("#CorrectiveAction").val($(this).find('.correctiveAction').html());
                $("#RootCause").val($(this).find('.rootCause').html());
                $("#PreventiveAction").val($(this).find('.preventiveAction').html());
                $('#tblAttach').find("tbody").html('');
                clearTable();
                setAttachmentsFromTDElement($(this).find(".attachment"), (view == true));
                //var attchTD = $(this).find(".attachment");
                //$(this).find(".attachment").children().each(function(){
                //    var appendData = '';
                //    if($(this).hasClass('attach')){
                //        var commnt = '<input type="text" placeholder="Comments" class="comment form-control" id="_'+$(this).attr('id')+'" onchange="$(this).attr(\'value\', $(this).val())" />';
                //        var commntElement = $(attchTD).find('.comment#_'+$(this).attr('id'))[0];
                //        if(commntElement != undefined)
                //            commntElement.outerHTML;
                //        if($(this).val().substring(0,3) == 'URL')
                //            appendData='<tr><td><a download="'+$(this).attr("id")+'" href="'+$(this).val().substring(4)+'">' + $(this).attr("id") + '</a></td><td id="valTD">'+this.outerHTML+commnt+'</td><td><span style="cursor:pointer" class="fa fa-trash-o" onclick="$(this).closest(\'tr\').remove()"></span></td></tr>';
                //        else
                //            appendData = '<tr><td>' + $(this).attr("id") + '</td><td id="valTD">'+this.outerHTML+commnt+'</td><td><span style="cursor:pointer" class="fa fa-trash-o" onclick="$(this).closest(\'tr\').remove()"></span></td></tr>';
                //    }
                //    $('#tblAttach').find("tbody").append(appendData);
                //});

                $("#modalAddLines").modal('show');
            }
        });
    }

    function blankTable() {
        ShowLines('0');
    }

    function GetSrNo() {
        var greatestSr = 0;
        $('#tblLines').find('tbody').children().each(function () {
            var srno = $(this).find('.srno').html();
            if (parseInt(srno) > greatestSr)
                greatestSr = parseInt(srno);
        });
        return greatestSr + 1;
    }
    function DisableControls() {
        $("#txtProject").attr("readonly", "readonly").off("focus");
        $("#CDD").attr("readonly", "readonly");
        $("#Customer").attr("readonly", "readonly");
        $("#DocumentNo").attr("readonly", "readonly");
        $("#ApprovedBy").attr("readonly", "readonly");
        $("#Product").attr("readonly", "readonly").off("focus");
        $("#EquipmentCategory").attr("readonly", "readonly").off("focus");
        $("#ProcessLicensor").attr("readonly", "readonly");
        //$("#ddlProject").select2({ disabled: true });
        //$("#Product").select2({ disabled: true });
    }
    function ClearControls() {
        $("#txtProject").val('');
        $("#CDD").val('');
        $("#Customer").val('');
        $("#Document").val('');
        $("#Product").val('');
        $("#EquipmentCategory").val('');
        $("#ProcessLicensor").val('');
        $("#ApprovedBy").val('');
        $("#spanStatus").html("Status : Draft");
        $("#Status").val("Draft");
        $("#HeaderId").val(0);
        $("#divLines").hide();
        $("#btnSendForAprrove").hide();
    }
    function ShowLines(headerId) {
        if ($("#Project").val() != undefined && $("#Project").val() != '') {
            $("#btnSaveHeaderAndAddLines").hide();
            $("#divLines").show();
        }
        tbl = $("#tblLines").DataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/LNC/Maintain/loadLinesDataTable?HeaderId=" + parseInt($('#HeaderId').val()),
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
                $('input[maxlength],textarea[maxlength]').maxlength({
                    alwaysShow: true,
                });
                ResetAddRow();
            },

            "aoColumns": [
                {
                    "sClass": "hide",
                },
                 {
                     "sClass": "hide",
                 },
                    {
                        "sClass": "center srno",
                        "sWidth": "5%",
                        "name": "SrNo"
                    },
                {
                    "sClass": "center jobNo",
                    "sWidth": "5%",
                    "name": "JobNo"
                },
                {
                    "sClass": "center activity",
                    "name": "Activity"
                },
                 {
                     "sClass": "center learning",
                     "name": "Learning"
                 },
                   {
                       "sClass": "center preventiveAction",
                       "name": "PreventiveAction"
                   },
                    {
                        "sClass": "center rootCause",
                        "name": "RootCause"
                    },
                     {
                         "sClass": "center correctiveAction",
                         "name": "CorrectiveAction"
                     },
                    {
                        "sClass": "hide attachment",
                        "name": "Attachment"
                    },
                    {
                        "sClass": "hide edit",
                        "bSortable": false,
                    },
                {
                    "sClass": "center",
                    "bSortable": false,
                    /*"render": function (data, type, row, meta) {
                        var buttons = "";
                        var functionCallEdit = "EditLine( " + row[0] + ")";
                        var functionCallView = "EditLine( " + row[0] + ", true)";
                        var functionCallDelete = "DeleteLine('" + row[0] + "')";
                        if (row[9].toLowerCase() == 'true') {
                            buttons = '' +
                                '<center>' +
                                    '<i id="btnEditLine" name="btnAction" style="cursor:pointer;"  Title="Edit Line" class="fa fa-pencil-square-o"  onClick="' + functionCallEdit + '" ></i>' +
                                    '&nbsp;&nbsp' +
                                    '<i id="btnDelete" name="btnAction" style="cursor:pointer;" Title="Delete Line" class="fa fa-trash-o" onClick="' + functionCallDelete + '"></i>' +
                                '</center>';
                        }
                        else {
                            buttons = '' +
                                 '<center>' +
                                     '<i id="btnViewLine" name="btnAction" style="cursor:pointer;"  Title="View Line" class="fa fa-eye"  onClick="' + functionCallView + '" ></i>' +
                                     '&nbsp;&nbsp' +
                                     '<i id="btnDelete" name="btnAction" style="cursor:pointer;" Title="Delete Line" class="fa fa-trash-o" onClick="' + functionCallDelete + '"></i>' +
                                 '</center>';
                        }
                        return buttons;
                    }*/
                },

            ]
        })
        $("#frmLines").validate({
            rules: {
                JobNo0: {
                    required: true,
                },
                Activity0: {
                    required: true
                },
                Learning0: {
                    required: true
                },
                PreventiveAction0: {
                    required: true
                },
                CorrectiveAction0: {
                    required: true
                },
                RootCause0: {
                    required: true
                },
            },
            messages: {
                JobNo0: {
                    required: "Job No No is required"
                },
                Activity0: {
                    required: "Component/Activity is required"
                },
                Learning0: {
                    required: "Description of Problem/Learning is required"
                },
                PreventiveAction0: {
                    required: "Correction is required"
                },
                CorrectiveAction0: {
                    required: "Corrective Action is required"
                },
                RootCause0: {
                    required: "Root Cause is required"
                },
            }
        })
    }

    function ResetAddRow() {
        $('#tblLines').find("tbody tr:first").hide();
        $('#tblLines').find("tbody tr:first").css("background-color", "#fbffb2");
        $("#btnAddLines").val("Add Line");
    }

    function ShowNewRecord(obj) {

        $('#tblLines').find("tbody tr:first").toggle();
        $('#tblLines').find("tbody tr:first select:first").focus();
        if ($('#tblLines').find("tbody tr:first").is(":visible")) {
            $(obj).val("Cancel");

            var delayedFn, blurredFrom;
            $('#tblLines').find("tbody tr:first").on('blur', 'a', function (event) {
                blurredFrom = event.delegateTarget;
                delayedFn = setTimeout(function () { SaveNewRecord(); }, 0);
            });
            $('#tblLines').find("tbody tr:first").on('focus', 'a', function (event) {
                if (blurredFrom === event.delegateTarget) {
                    clearTimeout(delayedFn);
                }
            });
        }
        else {
            $(obj).val("Add Line");
        }
    }

    function SaveNewRecord() {
        if ($("#frmLines").valid()) {
            var frmHeaderValues = $("#frmLines").serializeArray();
            if (frmHeaderValues != null && frmHeaderValues != undefined) {
                var formdata = new FormData();
                $.each(frmHeaderValues, function (key, input) {
                    formdata.append(input.name, input.value);
                });

                $.ajax({
                    url: WebsiteURL + "/LNC/Maintain/AddLines",
                    type: "POST",
                    data: formdata,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.Key == true) {
                            DisplayNotiMessage("success", data.Value, "Success");
                            $('#tblLines').DataTable().ajax.reload();
                            ResetAddRow();
                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                    }
                });

            }
        }
        else {
            HighlightInValidControls();
            return false;
        }
    }
    @*function checkFileValid(ctrl) {
        var filesize = @(clsUpload.MaxFileSizeInMB*1024*1024);
        var allowedExt = ['@(new HtmlString(string.Join("','", clsUpload.allowedExtensions)))'];
        var fName = $(ctrl).val();
        var filename =  fName.substring(fName.lastIndexOf("\\") + 1);
        var isRepeat = false;
        $('#tblAttach').find('tbody').find('input').each(function(){
            if($(this).attr('id').trim() == filename.trim())
                isRepeat = true;
        });
        var fExt = '.'+filename.split('.').pop().toLowerCase();
        if(ctrl.files[0].size > filesize)
            return 1;
        else if(allowedExt.indexOf(fExt) == -1)
            return 2;
        else if(isRepeat)
            return 3;
        else return 0;
    }

    function getFile(ctrl){
        var url = $(ctrl).attr('tag');
        $(ctrl).attr('href', url);
        $(ctrl).attr('onclick', '');
        $(ctrl).trigger('click');
        $(ctrl).attr('href', '#');
        $(ctrl).attr('onclick', 'getFile(this)');
    }

    function addAttch(ctrl) {
        var fName = $(ctrl).val();
        var ch = checkFileValid(ctrl);
        if(ch == 1)
            DisplayNotiMessage("error", "File size should be less than @(clsUpload.MaxFileSizeInMB)MB", "File Error");
        else if(ch == 2)
            DisplayNotiMessage("error", "File should be one of the following types:\n@(string.Join(",", clsUpload.allowedExtensions))", "File Error");
        else if(ch == 3)
            DisplayNotiMessage("error", "Cannot upload multiple files with same name", "File Error");
        else{
            $('#tblAttach').find("tbody").append('<tr><td>' + fName.substring(fName.lastIndexOf("\\") + 1) + '</td><td id="valTD"><input type="hidden" id="' + fName.substring(fName.lastIndexOf("\\") + 1) + '" class="attach temp" value=""/><input type="text"  placeholder="Comments" id="_' + fName.substring(fName.lastIndexOf("\\") + 1) + '" class="form-control comment" onchange="$(this).attr(\'value\', $(this).val())" /></td><td><span style="cursor:pointer" class="fa fa-trash-o" onclick="$(this).closest(\'tr\').remove()"></span></td></tr>');
            getFileData(ctrl);
        }
        $(ctrl).val('');
    }

    function getFileData(ctrl) {
        var files = $(ctrl).file;
        fr = new FileReader();
        fr.onload = function () { $(".temp").val(fr.result); $(".temp").removeClass("temp"); };
        fr.readAsDataURL(document.querySelector('#'+$(ctrl).attr("id")).files[0]);
    }*@

    function addLine() {
        if ($("#frmCreateHeader").valid()) {
            $("#modalAddLines").modal('hide');
            var newSr = GetSrNo();
            //var atchs = '';
            //$('#tblAttach').find("tbody").children().each(function(){
            //    atchs += $(this).find("#valTD").html();
            //})
            $("#tblLines").DataTable().row.add([
                '0',
                new String(newSr),
                $("#modalAddLines").find('#JobNo').val(),
                $("#modalAddLines").find('#Activity').val(),
                $("#modalAddLines").find('#Learning').val(),
                $("#modalAddLines").find('#PreventiveAction').val(),
                $("#modalAddLines").find('#RootCause').val(),
                $("#modalAddLines").find('#CorrectiveAction').val(),
                getAttachmentsForTDElement(), 'true'
            ]).draw();
            $(".linesVal").each(function () {
                $(this).val('');
            });
            $('#tblAttach').find("tbody").children().remove();
            saveLine(new String(newSr));
        }
    }

    function updateData(ctrl, col, line) {
        $.ajax({
            url: WebsiteURL + "/LNC/Maintain/UpdateData",
            type: "POST",
            data: {
                LineId: line,
                Column: col,
                Value: $(ctrl).val()
            },
            success: function (res) {
                if (res.Key == true) {
                    DisplayNotiMessage("Success", "Value Updated", "Updated");
                }
                else {
                    DisplayNotiMessage('error', res.Value, 'Error!')
                }
            }
        });
    }

    function updateLine(srno) {
        var row_Sr = 0;
        $('#tblLines').find('tbody').children().each(function () {
            //var atchs = '';
            //$('#tblAttach').find("tbody").children().each(function(){
            //    atchs += $(this).find("#valTD").html();
            //})
            var srno_F = $(this).find('.lineId').html();
            var srno_N = $(this).find('.srno').html();
            if (srno_F == srno) {
                row_Sr = srno_N;
                $("#tblLines").DataTable().row(this).data([
                    srno_F,
                    srno_N,
                    $("#modalAddLines").find('#JobNo').val(),
                    $("#modalAddLines").find('#Activity').val(),
                    $("#modalAddLines").find('#Learning').val(),
                    $("#modalAddLines").find('#PreventiveAction').val(),
                    $("#modalAddLines").find('#RootCause').val(),
                    $("#modalAddLines").find('#CorrectiveAction').val(),
                    getAttachmentsForTDElement(), 'true'
                ]).draw();
            }
        });
        $("#modalAddLines").modal('hide');
        $(".linesVal").each(function () {
            $(this).val('');
        });
        $('#tblAttach').find("tbody").children().remove();
        //$("#btnAddLine").html("Save");
        if (viewOnly == false)
            $("#btnAddLine").attr("onclick", "addLine()");
        saveLine(row_Sr);
    }

    function saveAttachments() {
        $.ajax({
            url: WebsiteURL + "/LNC/Maintain/SaveAttachments",
            type: "POST",
            data: {
                LineId: $('#ModalLineId').val(),
                hasAttachments: getHasAttachmentsForSubmit(),
                Attach: getAttachmentsFromTable()
            },
            success: function (data) {
                if (data.Key == true) {
                    DisplayNotiMessage("success", "Attachments Saved", "Saved");
                    clearTable();
                    $('#modalAttach').modal('hide');
                    $('#tblLines').DataTable().ajax.reload();
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                    clearTable();
                }
            }
        });


    }
    function showAttachments(ctrl, lineid, view) {
        //$('#ModalLineId').val(lineid);
        ////$('#ModalLineId').val($(ctrl).closest('tr').find("td.lineId").html());
        //clearTable();
        //setAttachmentsFromTDElement($(ctrl).closest('tr').find("td.attachment"), (view == true));
        //if (view == true) {
        //    $('#btnAttach').hide();
        //    $('#btnSaveAttachments').hide();
        //}
        //else {
        //    $('#btnAttach').show();
        //    $('#btnSaveAttachments').show();
        //}
        //$('#modalAttach').modal('show');
        @*var objFileUploadLine = new FileUploadEnt('dv@(FileUploadLineID)', '@FileUploadLineID');
        objFileUploadLine.LoadInPopup = true;
        objFileUploadLine.FolderPath = "LNC002/" + lineid;
        objFileUploadLine.ShowDeleteAction = (view == false);
        objFileUploadLine.ShowAttachmentBtn = (view == false);
        objFileUploadLine.MaxFileUploadSizeInMB = 5;
        objFileUploadLine.Type = '@clsImplementationEnum.UploadType.Normal.GetStringValue()';
        objFileUploadLine.AllowFileExtension = "jpg,jpeg,pdf,png,doc,docx,xls,xlsx,ppt,pptx,xlsm";
        LoadFileUploadPartialView(objFileUploadLine);*@

        var objFile = {
            TableName: 'LNC002',
            TableId: lineid,
            Path: 'LNC002//' + lineid + '//1',
            ControlID: '@(FileUploadLineID)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: (view == false),
            ShowDownloadBtn: false,
            ShowAttachmentBtn: (view == false),
            AllowFileExtension: ".jpg,.jpeg,.pdf,.png,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.xlsm",
            MaxFileUploadSizeInMB: 5
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(FileUploadLineID)', true);

        @*LoadFileUploadPartialView('dv@(FileUploadLineID)', true, '@FileUploadLineID', "LNC002/" + lineid,
                                  5, null, null, (view == false), (view == false), null, null, null, "",
                                  '@clsImplementationEnum.UploadType.KM.GetStringValue()',
                                  "jpg,jpeg,pdf,png,doc,docx,xls,xlsx,ppt,pptx,xlsm")*@
    }
</script>

<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Maintain Capture Header</span>
                    </div>
                </div>
                <form id="frmCreateHeader" class="form-horizontal">
                    <div id="dvHeader">

                        @Html.HiddenFor(m => m.HeaderId)
                        @Html.HiddenFor(m => m.Project)
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Detail</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Project<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" required name="txtProject" id="txtProject" class="form-control col-md-3" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Customer<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Customer, new { @class = "form-control col-md-3", @readonly = "readonly", @required = "required" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Document No<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.DocumentNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">CDD<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CDD, "{0:dd/MM/yyyy}", new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Product Detail & Process Licensor</legend>

                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Product Category<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" required id="Product" name="Product" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Equipment Category</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.EquipmentCategory, new { @class = "form-control col-md-3", @maxlength = "100" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Process Licensor<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ProcessLicensor, new { @class = "form-control col-md-3", @maxlength = "20", required = "required" })
                                            </div>
                                        </div>
                                        <div class="col-md-3" style="text-align:right;margin-top:30px;">
                                        </div>
                                    </div>
                                    <div id="divPDNIdenticalproject"></div>
                                    <div class="col-md-12" style="text-align:right">
                                        <hr />
                                        <input type="button" class="btn save" id="btnSaveHeaderAndAddLines" value="Save" />
                                        <input type="button" class="btn green" id="btnAddLines" value="Add Lines" />
                                        <a href="~/LNC/Maintain/Index" class="btn btnclose">Close</a>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </form>
                <form id="frmLines">
                    <div class="row" id="divLines" style="display:none">
                        <div class="col-md-12">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Learning Capture Lines
                                    </div>
                                    <div class="tools" id="dvExportHeader">
                                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/LNC/Maintain/GenerateExcel", GridType = clsImplementationEnum.GridType.SUB_LINES.GetStringValue(), dvId = "#dvExportHeader" })
                                    </div>

                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive " id="tblLines" cellspacing="0" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th style="display:none;">HeaderId</th>
                                                <th style="display:none;">LineId</th>
                                                <th class="min-phone-l" style="width:5%;">#</th>
                                                <th class="min-phone-l" style="width:5%;">Job.No.</th>
                                                <th class="min-phone-l">Component / Activity</th>
                                                <th class="min-phone-l">Description of Problem / Learning</th>
                                                <th class="min-phone-l">Correction</th>
                                                <th class="min-phone-l">Root Cause</th>
                                                <th class="min-phone-l">Corrective Action</th>
                                                <th class="min-phone-l" style="display:none">Attchments</th>
                                                <th class="min-phone-l" style="display:none">Editable</th>
                                                <th class="min-phone-l">Action</th>

                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <hr />
                <div class="row">
                    <div class="col-md-12" style="text-align:right;">

                        <div class="col-md-11" style="text-align:right;display:none" id="btnSendForAprrove">
                            <input type="button" class="btn green" value="Save" />
                        </div>
                        <div class="col-md-1" style="text-align:right;">


                        </div>
                        @*<a class="btn blue" href="~/PDIN/Maintain/Index">Back To Planning DIN</a>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
        <!-- START ADD LINE MODAL-->
        <div id="modalAttach" class="modal" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Attachments</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="ModalLineId" />
                        <div style="padding:1em;">
                            @Html.Partial("_AttachmentPartial")
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnSaveAttachments" onclick="saveAttachments()" class="btn green">Save</button>
                        <button type="button" id="btnCloseModal" onclick="clearTable();$(this).closest('.modal').modal('hide')" class="btn red">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- END ADD LINE MODAL-->
    </div>
</div>
<div id="dv@(FileUploadLineID)"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>