﻿@model IEMQS.DESCore.GlobalJEPTemplateModel

@{
    int NoTask = 0;
    if (TempData["NoTask"] != null)
    {
        NoTask = int.Parse(TempData["NoTask"].ToString());
    }
}

@if (Model.JEPTemplateDocList != null && Model.JEPTemplateDocList.Count() > 0)
{
    for (int i = 0; i < Model.JEPTemplateDocList.Count(); i++)
    {
        NoTask = i;
        <tr data-id="@NoTask" id="tr_@NoTask">
            <td>
                @Html.TextBoxFor(x => x.JEPTemplateDocList[NoTask].OrderNo, new { @class = "form-control", @readonly = "readonly", @tabindex = "-1" })
                @Html.ValidationMessageFor(x => x.JEPTemplateDocList[NoTask].OrderNo, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(x => x.JEPTemplateDocList[NoTask].DocumentNo, new { @class = "form-control blockSpecialChar onlyNumeric noSpace", @placeholder = "Document Number", @maxlength="4" })
                @Html.ValidationMessageFor(x => x.JEPTemplateDocList[NoTask].DocumentNo, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(x => x.JEPTemplateDocList[NoTask].DocumentTitle, new { @class = "form-control", @maxlength = "200", @placeholder = "Document Title" })
                @Html.ValidationMessageFor(x => x.JEPTemplateDocList[NoTask].DocumentTitle, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.HiddenFor(x => x.JEPTemplateDocList[NoTask].JEPTemplateDocumentId)
                @Html.HiddenFor(x => x.JEPTemplateDocList[NoTask].JEPTemplateId)
                @Html.HiddenFor(x => x.JEPTemplateDocList[NoTask].IsDelete)
                <a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" tabindex="-1" delete-id="@NoTask" title="Delete" onclick="RemoveDocumentList(this)"><i class="la la-trash-o"></i></a>
            </td>
        </tr>
    }
}
else
{
    <tr data-id="@NoTask" id="tr_@NoTask">
        <td>
            @Html.TextBoxFor(x => x.JEPTemplateDocList[NoTask].OrderNo, new { @class = "form-control", @readonly = "readonly", @tabindex = "-1" })
            @Html.ValidationMessageFor(x => x.JEPTemplateDocList[NoTask].OrderNo, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.TextBoxFor(x => x.JEPTemplateDocList[NoTask].DocumentNo, new { @class = "form-control blockSpecialChar onlyNumeric noSpace", @placeholder = "Document Number", @maxlength = "4" })
            @Html.ValidationMessageFor(x => x.JEPTemplateDocList[NoTask].DocumentNo, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.TextBoxFor(x => x.JEPTemplateDocList[NoTask].DocumentTitle, new { @class = "form-control", @maxlength = "200", @placeholder = "Document Title" })
            @Html.ValidationMessageFor(x => x.JEPTemplateDocList[NoTask].DocumentTitle, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.HiddenFor(x => x.JEPTemplateDocList[NoTask].JEPTemplateDocumentId)
            @Html.HiddenFor(x => x.JEPTemplateDocList[NoTask].JEPTemplateId)
            @Html.HiddenFor(x => x.JEPTemplateDocList[NoTask].IsDelete)
            <a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" delete-id="@NoTask" tabindex="-1" title="Delete" onclick="RemoveDocumentList(this)"><i class="la la-trash-o"></i></a>
        </td>
    </tr>
}

