﻿@using IEMQS.DESServices;
@{
    ViewBag.Title = "JEP Template";
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
}

<div class="m-portlet ">
    <div class="m-portlet__body">

        <div class="row ">
            <div class="col-xl-8 ">
                <h4 class="m-portlet__head-text">
                    Maintain Project Wise Document
                </h4>
            </div>
            <div class="col-xl-4 m--align-right">
                <a href="@Url.Action("Add","JEPTemplate")" class="btn btn-success m-btn m-btn--custom m-btn--icon btn-sm mb-3 ">
                    <span>Add New</span>
                </a>
            </div>
        </div>

        <table class="table table-bordered child_table" id="tblJEPTemplate"> </table>

    </div>
</div>

@section Scripts{
    <script src="~/DESAssets/js/Maintain_JEP_Template.js"></script>
}
<script>
    var getCurrentUser = @CommonService.objClsLoginInfo.UserName;
</script>