﻿
<style>
    .scenter {
        text-align: center;
    }
</style>
<head>
    <script type="text/javascript" src="~/Scripts/jquery.tablesorter.js"></script>
</head>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @{
                        string strPTRTitle = ViewBag.Status + " PTR";
                    }
                    @strPTRTitle
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblCTQHeader" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th class="all">PTR No</th>
                            <th class="min-phone-l">Project No</th>
                            <th class="min-phone-l">Location</th>
                            <th class="min-phone-l">Status</th>
                            <th class="min-phone-l">Coupon Category</th>
                            <th class="min-phone-l">Coupon No</th>
                            <th class="min-phone-l">Action</th>
                            <th class="" style="display:none;">HeaderId</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="text-align:right;">
        <button id="btnApproveSelected" type="button" class="btn green">Approve</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        var isVisible = false;
        
        $('#example-select-all').on('click', function () {
            var rows = oTable.api().rows({ 'search': 'applied' }).nodes();
            $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
        });

        $('#tblCTQHeader tbody').on('change', 'input[class="clsCheckbox"]', function () {
            // If checkbox is not checked
            if (!this.checked) {
                var el = $('#example-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if (el && el.checked && ('indeterminate' in el)) {
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });
        $(function () {

            // $("#tblPTRHeader").tablesorter();
            //to disable sort functionality from second coloumn: 
            $("#tblCTQHeader").tablesorter({ headers: { 0: { sorter: false }, 6: { sorter: false } } });
            //to sort first coloumn intially:$("#tblPTRHeader").tablesorter({ sortList: [[0, 0]] });
            $('#tblCTQHeader_paginate').click(function () {
                $('#tblCTQHeader').trigger('update');
                return false;
            });
            $('#tblCTQHeader_length').click(function () {
                $('#tblCTQHeader').trigger('update');
                return false;
            });
        });
        $("#btnApproveSelected").click(function () {
            var arrayHeaderIds = new Array();
            // Iterate over all checkboxes in the table
            $('input[class="clsCheckbox"]', $('#tblCTQHeader')).each(function () {
                    if (this.checked) {
                        arrayHeaderIds.push(this.value);
                    }
            });
            if (arrayHeaderIds.length > 0) {
                var strHeaderIds = arrayHeaderIds.join(",");
                $.ajax({
                    type: "POST",
                    url: "/PTR/ApprovedPTR/ApproveByApproverSelected",
                    datatype: 'json',
                    async: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    data: { strHeaderIds: strHeaderIds },
                    success: function (data) {
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                            $(".example-select-all").prop('checked', false);
                            //$("#divApproveLines").hide();
                           // window.location.href = '/CTQ/ApproveCTQ/Index';
                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                        //$('#tblCTQHeaderLines').DataTable().ajax.reload();
                         $('#tblCTQHeader').DataTable().ajax.reload();

                    },
                    error: function () {
                    }
                });
            }
            else {
                DisplayNotiMessage("error","Please select header first", "Error");
            }
        });

        var table = $('#tblCTQHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [1, 'asc']
            ],
            "lengthMenu": [
              [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": "/PTR/ApprovedPTR/LoadPTRHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                    { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            //{ "name": "CompanyId", "value": $('#ddlCompanyList').val() },
                            //{ "name": "UserTypeId", "value": $('#ddlUserTypeList').val()}
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function(data)
                    {
                        fnCallback(data);
                        if (data.iTotalRecords > 0) {
                            $("#btnApproveSelected").show();
                            isVisible = true;
                        }
                        else {
                            $("#btnApproveSelected").hide();
                            isVisible = false;

                        }
                    },
                    'async': false
                });
            },
            "columns": [

                {
                    'targets': 0,
                    "bSortable": false,
                    "sClass": "scenter",
                    'render': function (data, type, full, meta) {


                        return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="'+ $('<div/>').text(data).html() + '" ><span></span></label>';

                        //return '<input type="checkbox" name="id[]" class="clsCheckbox" value="'+ $('<div/>').text(data).html() + '">';
                    }
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    //"render": function (data, type, row, meta) {
                    //    return row[0];
                    //}

                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        //var functionCall = "viewHeaderLinePartial(" + row[7] + ", '" + row[5].trim() + "')";
                       //var functionCall = "viewHeaderLinePartial(" + row[7] + ", '" + row[5].trim() + "','" + row[3].trim() + "')";
                        // var status = "'"+row[6]+'"';
                        buttons = '<center><a title="View" href="../ApprovedPTR/PTRLineDetails?HId=' + row[7] + '"><i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                        return buttons;
                    }
                },
                 {
                     "sClass": "hide"

                 },
            ]
        });

        if ('@ViewBag.Status' == "Pending" && isVisible == true) {
            oTable.api().column(0).visible(true);
            $("#btnApproveSelected").show();
        }
        else {
            oTable.api().column(0).visible(false);
            $("#btnApproveSelected").hide();
        }

    });
</script>