﻿@model IEMQSImplementation.PRL155
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body dvDisable">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>

                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.HiddenFor(m => m.HeaderId)
                                <table class="FormTable tblNotes">
                                    <tr>
                                        <td class="subtitle"> PROJECT NO.</td>
                                        <td> @Html.DisplayFor(m => m.QualityProject, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        <td class="subtitle"> DATE</td>
                                        <td>
                                            @Html.DisplayFor(m => m.InspectionDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> PROJECT DESCREPTION</td>
                                        <td> @ViewBag.ProjectDesc</td>
                                        <td class="subtitle"> SEAM NO.</td>
                                        <td>@Html.TextBoxFor(m => m.SeamNo, new { @class = "form-control col-md-12", @maxlength = "100", @role = "QC" }) </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> EQPT.NO.</td>
                                        <td>@Html.TextBoxFor(m => m.EquipmentNo, new { @class = "form-control col-md-12", @maxlength = "50", @role ="QC" }) </td>
                                        <td class="subtitle">INSPECTION AGENCY</td>
                                        <td>@Html.TextBoxFor(m => m.InspectionAgency, new { @class = "form-control col-md-12", @maxlength = "100", @role ="QC" }) </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> DRG.NO.& REV.NO.</td>
                                        <td>
                                            <span style="float:left;padding: 0px 0px !important;">@Html.TextBoxFor(m => m.DrawingNo, new { @class = "form-control", @style = "width:150px;", @maxlength = "50", @role = "QC" })</span>
                                            <span style="float:right;padding: 0px 0px !important;"> @Html.TextBoxFor(m => m.DrawingRevisionNo, new { @class = "form-control", @style = "width:150px;", @maxlength = "50", @role = "QC" })</span>
                                        </td>
                                        <td class="subtitle">MANUFACTURING CODE</td>
                                        <td>@Html.TextBoxFor(m => m.ManufacturingCode, new { @class = "form-control col-md-12", @maxlength = "100", @role = "QC" }) </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> DCR NO.IF APPLICABLE</td>
                                        <td>@Html.TextBoxFor(m => m.DCRNo, new { @class = "form-control col-md-12", @maxlength = "50", @role = "QC" }) </td>
                                        <td class="subtitle">OFFER DATE</td>
                                        <td>
                                            @Html.DisplayFor(m => m.OfferDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                        </td>
                                    </tr>
                                    <tr>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="control-label">Protocol Number<span class="required"> * </span></label>
                            <div class="">
                                @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                            </div>
                        </div>

                        <div class="col-md-12" style="height: 20px"></div>
                        <div class="col-md-12">
                            <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span style="float:left; margin-top: 7px;">
                                            <strong></strong>
                                        </span>
                                    </div>
                                    <div class="tools" id="dvExportSubLines">
                                        <div class="btn-group">

                                            @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                            {
                                                <a style="margin-right:5px;" id="btnNewLines1" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, 'tblProtocolLines1');">
                                                    <i class="fa fa-plus"></i> New
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="portlet-body">
                                    <table id="tblProtocolLines1" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th class="all" style="display:none;" rowspan="2">GridId</th>
                                                <th class="all" style="display:none;" rowspan="2">HeaderId</th>
                                                <th class="all" style="display:none;" rowspan="2">LineId</th>
                                                <th class="all" rowspan="2">Sr. No.</th>
                                                <th class="all" rowspan="2">Description</th>
                                                <th class="all" rowspan="2">Seam/Part No.</th>
                                                <th class="all" rowspan="2">Elevation(From B.T.L./R.L.)</th>
                                                <th class="all" rowspan="2">Orientation</th>
                                                <th class="all" colspan="2">Before Overlay Thk.</th>
                                                <th class="all" colspan="2">After Overlay Thk.</th>
                                                <th class="all" rowspan="2">Overlay Thk.(in mm)</th>
                                                <th class="all" rowspan="2">Remarks</th>
                                                <th class="all" rowspan="2">Action</th>
                                            </tr>
                                            <tr>
                                                <th class="all">Required</th>
                                                <th class="all">Actual</th>
                                                <th class="all">Required</th>
                                                <th class="all" style="border-right:2px solid #e7ecf1;">Actual</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />


                        <div class="col-md-12" style="height: 20px"></div>
                        <table class="FormTable tblNotes noborder">
                            <tr>
                                <td colspan="10" class="title bold">Remarks:</td>
                            </tr>
                            <tr>
                                <td colspan="10">
                                    1) ALL DIMENSIONS ARE IN MM, UNLESS SPECIFIED.
                                </td>
                            </tr>
                            <tr>
                                <td colspan="10">
                                    2) VISUAL CHECKED, RESULT FOUND SATISFACTORY
                                    @Html.TextBoxFor(model => model.Remark2, new { @class = "form-control inlinetextbox", @role = "QC" })

                                </td>
                            </tr>
                            <tr>
                                <td colspan="10">
                                    3) THICKNESS CHECKED BEFORE AND AFTER OVERLAY AND FOUND SATISFACTORY
                                </td>
                            </tr>
                            <tr>
                                <td colspan="10">
                                    4) FOR MANUAL WELDING THICKNESS MEASUREMENT CARRIED OUT AT 3 LOCATIONS FOR L/S AND AT 8 LOCATIONS FOR C/S
                                </td>
                            </tr>
                        </table>
                        <br />
                        <br />

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                    <a id="btnPrint" style="cursor:pointer;margin-right:5px; float:left" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    @if (Convert.ToString(ViewBag.isEditable).ToLower() == "true")
                                    {
                                        <input type="button" class="btn save" id="btnSave" value="Save" />
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
<script type="text/javascript" src="~/Scripts/protocols.js"></script>
<script>
    var Line1Columns = [];
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var isEdit = '@ViewBag.isEditable';
    var userRole = '@ViewBag.UserRole.ToString()';
    var Linkage = "Linkage";

    $(document).ready(function () {
        SetTableColumns();
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });

        SetAccessControlForRole(userRole)
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        LoadProtocolLineTables('tblProtocolLines1', 'btnNewLines1', Line1Columns, ControllerURL + "GetProtocolLines1Data" + Linkage, ["headerId"])
        var lstYesNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoEnum))));

        FillProtocolAutoComplete($('#Remark2'), lstYesNo, null, false)
        if (isEdit.toLowerCase() == "true") { }
        else {
            $('div.dvDisable :input')
                .not($('.dataTables_length').find('input,select,search,textarea'))
                .not($('.dataTables_filter').find('input,select,search,textarea'))
                .prop('disabled', true);
            $('div.dvDisable a')
                .not($('.dataTables_paginate').find('input,select,search,textarea'))
                .not("#btnPrint")
                .hide();
        }
    });

    $("#btnSave").click(function () {
         @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
         {
             <text>$('[role="PROD"]').prop("required", true);</text>
         }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
         {
             <text>$('[role="QC"]').prop("required", true);</text>
         }
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData" + Linkage, userRole);
    });

    $("#btnPrint").click(function () {
        PrintReport("/IPI/Protocol/PROTOCOL032", $('#HeaderId').val());
    });

    function SaveProtocolLine1(lineId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val()); formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine1" + Linkage, "tblProtocolLines1", "btnNewLines1");
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine" + gridId;
        window[SaveFunction](lineId);
    }

    function SetTableColumns() {
        Line1Columns = [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "Description",
                },
                {
                    "sClass": "center",
                    "name": "SeamNo",
                },
                {
                    "sClass": "center",
                    "name": "Elevation",
                },
                {
                    "sClass": "center",
                    "name": "Orientation",
                },
                {
                    "sClass": "center",
                    "name": "BeforeOverlayThkReq",
                },
                {
                    "sClass": "center",
                    "name": "BeforeOverlayThkAct",
                },
                {
                    "sClass": "center",
                    "name": "AfterOverlayThkReq",
                },
                {
                    "sClass": "center",
                    "name": "AfterOverlayThkAct",
                },
                {
                    "sClass": "center",
                    "name": "OverlayThk",
                },
                {
                    "sClass": "center",
                    "name": "Remarks",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
        ];
    }
</script>
