﻿@using IEMQSImplementation
@model JPP001_Log
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print JPP @Model.HeaderId</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
    <link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
    <script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
    <script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
    <script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>

</head>
<body>
    <div class="container" style="padding:6em">
        <div class="row">
            <div class="col-lg-12">
                <table border="1" style="border-collapse:collapse;width:100%">
                    <tr>
                        <th colspan="6" style="font-size:20px; background-color:#e6e6e6"><b><center>JPP</center></b></th>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;background-color:#e6e6e6">Equipment Name:</td>
                        <td>@Model.EquipmentName</td>
                        <td colspan="2" style="font-weight:bold;background-color:#e6e6e6">Customer</td>
                        <td style="font-weight:bold;background-color:#e6e6e6">KOM Date</td>
                        <td style="text-align:center">@(Model.KOMDate.HasValue ? Model.KOMDate.Value.ToString("dd-MM-yyyy") : "")</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;background-color:#e6e6e6">Project</td>
                        <td>@Model.Project</td>
                        <td colspan="2">@Model.Customer</td>
                        <td style="font-weight:bold;background-color:#e6e6e6">Zero Date</td>
                        <td style="text-align:center">@(Model.ZeroDate.HasValue ? Model.ZeroDate.Value.ToString("dd-MM-yyyy") : "")</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;background-color:#e6e6e6">Equipment Number:</td>
                        <td>@Model.EquipmentNumber</td>
                        <td style="font-weight:bold;background-color:#e6e6e6">Project Location:</td>
                        <td>@Model.ProjectLocation</td>
                        <td style="font-weight:bold;background-color:#e6e6e6">CDD Date</td>
                        <td style="text-align:center">@(Model.CDDDate.HasValue ? Model.CDDDate.Value.ToString("dd-MM-yyyy") : "")</td>
                    </tr>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                        <td style="font-weight:bold;background-color:#e6e6e6">Delivery Terms</td>
                        <td>@Model.DeliveryTerms</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" style="display:flex">
            <table border="1" style="border-collapse:collapse;width:50%">
                <tr>
                    <td colspan="2" style="font-weight:bold;background-color:#e6e6e6">Major Dimension (mm)</td>
                </tr>
                <tr>
                    <td colspan="2">@Model.MajorDimension</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;background-color:#e6e6e6">Weight of Equip:</td>
                    <td>@Model.WeightofEquipment</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;background-color:#e6e6e6">Code Stamping:</td>
                    <td>@Model.CodeStamping - @Model.CodeStampingDesc</td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            </table>
            <table border="1" style="border-collapse:collapse;width:50%">
                <thead>
                    <tr>
                        <th style="font-weight:bold;background-color:#e6e6e6">Major Material of Construction</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.JPP002 != null)
                    {
                        foreach (var item in ViewBag.JPP002)
                        {
                            <tr>
                                <td>@item.MajorMaterialofConstruction</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table border="1" style="border-collapse:collapse;width:100%">
                    <tr>
                        <td style="font-weight:bold;background-color:#e6e6e6">Inspection</td>
                        <td>@Model.Inspection</td>
                        <td colspan="2" style="font-weight:bold;background-color:#e6e6e6">Design & Manufacturing Codes:</td>
                        <td colspan="2" style="font-weight:bold;background-color:#e6e6e6">@Model.DesignManufacturingCodes</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;background-color:#e6e6e6">Fabrication Hours:</td>
                        <td>@Model.FabricationHours</td>
                        <td style="font-weight:bold;background-color:#e6e6e6">Hours per Ton:</td>
                        <td style="font-weight:bold;background-color:#e6e6e6">Throughput</td>
                        <td colspan="2">Throughput/Hr</td>

                    </tr>
                    <tr>
                        <td style="font-weight:bold;background-color:#e6e6e6">M/C Hours:</td>
                        <td>@Model.McHours</td>
                        <td>@Model.HoursperTon</td>
                        <td style="background-color:#e6e6e6">@Model.Throughput</td>
                        <td colspan="2">@Model.ThroughputHr</td>

                    </tr>
                    <tr>
                        <td style="font-weight:bold;background-color:#e6e6e6">Manufacturing Shops:</td>
                        <td colspan="5">@Model.ManufacturingShops</td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="row">
            <div class="row">
                <table border="1" style="border-collapse:collapse;width:100%">
                    <thead>
                        <tr>
                            <th style="font-weight:bold;background-color:#e6e6e6">Specific Customer Requirements/ Salient features:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.JPP003 != null)
                        {
                            foreach (var m5 in ViewBag.JPP003)
                            {
                                <tr>
                                    <td>@m5.SpecificCustomerRequirementSalientFeatures</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table border="1" style="border-collapse:collapse;width:100%">
                    <thead>
                        <tr>
                            <th style="font-weight:bold;background-color:#e6e6e6">Payment Terms:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.JPP004 != null)
                        {
                            foreach (var m5 in ViewBag.JPP004)
                            {
                                <tr>
                                    <td>@m5.PaymentTerms</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table border="1" style="border-collapse:collapse;width:100%">
                    <tr>
                        <td colspan="6" style="font-weight:bold;background-color:#e6e6e6">Liquidated Damages:</td>
                    </tr>
                    <tr>
                        <td colspan="6">@Model.LiquidatedDamages</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;background-color:#e6e6e6; width:250px;">Bonus</td>
                        <td colspan="5">@Model.Bonus</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;background-color:#e6e6e6">Performance Guarantee</td>
                        <td colspan="5">@Model.PerformanceGuarantee</td>
                    </tr>
                    <tr>
                        <td colspan="6" style="font-weight:bold;background-color:#e6e6e6">Milestone Dates:</td>
                    </tr>
                    <tr>
                        <td colspan="6">@Model.MilestoneDates</td>
                    </tr>
                    <tr>
                        <td colspan="6" style="font-weight:bold;background-color:#e6e6e6">Engineering:</td>
                    </tr>
                    <tr>
                        <td colspan="6">@Model.Engineering</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table border="1" style="border-collapse:collapse;width:100%; page-break-before: always;">
                    <tr>
                        <td style="font-weight:bold;background-color:#e6e6e6">Project Name:</td>
                        <td>@Model.Project</td>
                        <td style="font-weight:bold;background-color:#e6e6e6">Equipment Name:</td>
                        <td>@Model.EquipmentName</td>
                        <td style="font-weight:bold;background-color:#e6e6e6">Equipment Number:</td>
                        <td>@Model.EquipmentNumber</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table border="1" style="border-collapse:collapse;width:100%;">
                    <thead>
                        <tr>
                            <th style="font-weight:bold;background-color:#e6e6e6">Document / Drawing Description</th>
                            <th style="font-weight:bold;background-color:#e6e6e6; text-align:center">Reqd. Date</th>
                            <th style="font-weight:bold;background-color:#e6e6e6; text-align:center">Expected Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.JPP005 != null)
                        {
                            foreach (var m5 in ViewBag.JPP005)
                            {
                                <tr>
                                    <td>@m5.DocumentsDrawingDescription</td>
                                    <td style="text-align:center">@(m5.RequiredDate.HasValue ? m5.RequiredDate.Value.ToString("dd-MM-yyyy") : "")</td>
                                    <td style="text-align:center">@(m5.ExpectedDate.HasValue ? m5.ExpectedDate.Value.ToString("dd-MM-yyyy") : "")</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table border="1" style="border-collapse:collapse;width:100%">
                    <thead>
                        <tr>
                            <th colspan="6" style="font-weight:bold;background-color:#e6e6e6">Procurement / Material</th>
                        </tr>
                        <tr>
                            <th style="font-weight:bold;background-color:#e6e6e6">Item</th>
                            <th style="font-weight:bold;background-color:#e6e6e6">Size / Qty</th>
                            <th style="font-weight:bold;background-color:#e6e6e6; text-align:center">Reqd. Date to meet CDD</th>
                            <th style="font-weight:bold;background-color:#e6e6e6">PO  No /  Date</th>
                            <th style="font-weight:bold;background-color:#e6e6e6">Vendor</th>
                            <th style="font-weight:bold;background-color:#e6e6e6; text-align:center">Expected Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.JPP006 != null)
                        {
                            foreach (var m5 in ViewBag.JPP006)
                            {
                                <tr>
                                    <td>@m5.ProcurementMaterialItem</td>
                                    <td>@m5.SizeQuantity</td>
                                    <td style="text-align:center">@(m5.RequiredDatetomeetCDD.HasValue ? m5.RequiredDatetomeetCDD.Value.ToString("dd-MM-yyyy") : "")</td>
                                    <td>@m5.PONodate</td>
                                    <td>@m5.Vendor</td>
                                    <td style="text-align:center">@(m5.ExpectedDate.HasValue ? m5.ExpectedDate.Value.ToString("dd-MM-yyyy") : "")</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table border="1" style="border-collapse:collapse;width:100%">
                    <thead>
                        <tr>
                            <th colspan="6" style="font-weight:bold;background-color:#e6e6e6">Subcontracting Plan (Not in main Contractor Scope)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.JPP007 != null)
                        {
                            foreach (var m5 in ViewBag.JPP007)
                            {
                                <tr>
                                    <td>@m5.SubcontractingPlan</td>
                                    <td>@m5.Shop</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table border="1" style="border-collapse:collapse;width:100%">
                    <thead>
                        <tr>
                            <th colspan="6" style="font-weight:bold;background-color:#e6e6e6">Special Assemblies ( Internals/Externals/Instrumentations/Valves etc. )</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.JPP008 != null)
                        {
                            foreach (var m5 in ViewBag.JPP008)
                            {
                                <tr>
                                    <td>@m5.SpecialAssembly</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table border="1" style="border-collapse:collapse;width:100%">
                    <tbody>
                        <tr>
                            <td style="font-weight:bold;background-color:#e6e6e6; width:350px;">Final Documentation</td>
                            <td colspan="5">@Model.FinalDocumentation</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold;background-color:#e6e6e6">Logistic</td>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold;background-color:#e6e6e6">Transportation By L&T (Yes/No)</td>
                            <td colspan="5">@Model.Transportationfeasibility</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table border="1" style="border-collapse:collapse;width:100%">
                    <thead>
                        <tr>
                            <th colspan="6" style="font-weight:bold;background-color:#e6e6e6">Discussion points</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.JPP009 != null)
                        {
                            @foreach (var m5 in ViewBag.JPP009)
                            {
                                <tr>
                                    <td>@m5.DiscussionPoints</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="width:100%">
            <table border="1" style="border-collapse:collapse;width:100%">
                <tr>
                    <th style="font-weight:bold;background-color:#e6e6e6">Name & Sign of Project Initiator</th>
                    <th style="font-weight:bold;background-color:#e6e6e6">Name & Sign of Project Manager</th>
                    <th style="font-weight:bold;background-color:#e6e6e6">CreatedBy</th>
                </tr>
                <tr>
                    <td style="text-align:center">@Model.CreatedBy</td>
                    <td style="text-align:center">@Model.ApprovedBy</td>
                    <td style="text-align:center">@(Model.CreatedOn.HasValue ? Model.CreatedOn.Value.ToString("dd-MM-yyyy") : "")</td>
                </tr>
            </table>
        </div>
    </div>
    @*<script>
            //Print Script
            window.print();
        </script>*@


</body>
</html>