﻿
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <span id="spnGridTitile"></span>
                    BAL List
                </div>
                <div class="tools" id="dvExportHeader">

                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="tblBALList" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="display:none">HeaderId</th>
                            <th class="all">Project</th>
                            <th class="all">Title</th>
                            <th class="all">Rev No</th>
                            <th class="all">Status</th>
                            <th class="all">CreatedOn</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var table = $('#tblBALList');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'desc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/BAL/MaintainBAL/LoadDataGridData",
            "fnServerParams": function (aoData) {
                 aoData.push(
                                { "name": "Status", "value": '@ViewBag.Status' },
                            );

            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "sClass": "hide",
                    "name": "HeaderId"
                },
                {
                    "sClass": "center",
                    "name": "Project"
                },
                {
                    "sClass": "center",
                    "name": "Title"
                },
                {
                    "sClass": "center",
                    "name": "RevNo"
                },
                {
                    "sClass": "center",
                    "name": "Status"
                },
                {
                    "sClass": "hide",
                    "name": "CreatedOn"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "render": function (data, type, row, meta) {
                        console.log(row);
                        var buttons = "";
                        buttons += "<a href='" + WebsiteURL + "/BAL/MaintainBAL/Details?headerId=" + row[0] + "'><i title='View Detail' class='iconspace fa fa-eye'></i></a>";
                        buttons += "&nbsp;&nbsp;<i data-modal='' id='btnBALPrint' style='cursor:pointer;' title='Print' class='fa fa-print' onclick=BALReport(" + row[0] + ")></i>";

                         return buttons;
                }
                }
            ]
        });
        table.dtSearchFilter();
    });

    function BALReport(headerId) {
        var dat = [];
        dat.push({ Param: "HeaderId", Value: headerId });
        ShowReport(dat, "/BAL/BAL_Report_All", false);
    }
</script>
