﻿@using IEMQSImplementation
@model WCS008
<style>
    input[type=date] {
        width: 160px;
    }

    .dataTables_scroll {
        margin-bottom: 0px;
        margin-top: -6px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <fieldset id="fdCreate">
            <legend> Line Details</legend>

            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Line Details
                    </div>
                    <div class="tools" id="dvExportLine">
                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/WCS/MaintainWCS/GenerateExcelLines", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLine" })
                        <div class="btn-group">
                            <a onclick="ShowNewRecord();" id="btnLineNew" name="btnLineNew" class="btn btn-circle white btn-outline btn-sm" style="margin-left:10px;">New</a>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover dt-responsive" id="tblLines" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="min-phone-l">Product Form</th>
                                <th class="min-phone-l">Part Description</th>
                                <th class="none">Material Specification & Grade</th>
                                <th class="none">Density of Material</th>
                                <th class="min-phone-l">Volume Calculate</th>
                                <th class="min-phone-l">Unit Weight of Part</th>
                                <th class="min-phone-l">Qty</th>
                                <th class="min-phone-l">Total Weight of Part (W)</th>
                                @*<th class="none">Weight of Welding</th>
                                    <th class="none">Weight of FIM</th>
                                    <th class="none">Weight of Instrumentation and Covers</th>*@
                                <th class="none">Location (L)</th>
                                <th class="none">Location w.r.t. X</th>
                                <th class="none">W X L</th>
                                <th class="none">Inner Volume of Equipment</th>
                                <th class="none">Density of Water </th>
                                <th class="none">Hydro Test Weight</th>
                                @*<th class="none">Weight of Catalyst</th>*@
                                <th class="none">Operating Fluid Density</th>
                                <th class="none">Operating Weight</th>
                                <th class="none">Created By</th>
                                <th class="none">Created On</th>
                                <th class="min-phone-l">Action</th>
                                <th class="" style="display:none;">ID</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<script type="text/javascript">
    function ShowNewRecord() {
        window.location.href = WebsiteURL + "/WCS/MaintainWCS/AddLine?HeaderId=" + $("#HeaderId").val();
    }
    function UpdateRecord(Id) {
        window.location.href = WebsiteURL + "/WCS/MaintainWCS/AddLine/" + Id + "?HeaderId=" + $("#HeaderId").val();
    }

    function DeleteRecord(Id) {
        bootbox.confirm({
            message: "Do you want to delete?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: WebsiteURL + '/WCS/MaintainWCS/DeleteLine',
                        data: { Id: Id },
                        type: 'POST',
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        success: function (data) {
                            if (data.Key) {
                                DisplayNotiMessage("success", data.Value, "Success");
                                $('#tblLines').DataTable().ajax.reload();
                                GetWeightCalculation();
                            }
                            else {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                        }
                    });
                }
            }
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#tblLines');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],

            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/WCS/MaintainWCS/LoadLineDataTable",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" });
                aoData.push({ "name": "Headerid", "value": $("#HeaderId").val() });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportLine").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLine").val(data.strSortOrder);
                    },
                });
            },
            "columns": [
                 {
                     "name": "ProductFormDesc",
                     "bSortable": true,
                     "sClass": "center"
                 },
                {
                    "name": "PartDescription",
                    "bSortable": true,
                    "sClass": "center"
                },
                 {
                     "name": "MaterialSpecificationAndGrade",
                     "bSortable": true,
                     "sClass": "center"
                 },
                  {
                      "name": "DensityofMaterial",
                      "bSortable": true,
                      "sClass": "center"
                  },
                 {
                     "name": "VolumeCalculate",
                     "bSortable": true,
                     "sClass": "center"
                 },
                  {
                      "name": "UnitWeightofPart",
                      "bSortable": true,
                      "sClass": "center"
                  },
                  {
                      "name": "Qty",
                      "bSortable": true,
                      "sClass": "center"
                  },
                  {
                      "name": "TotalWeightofPartW",
                      "bSortable": true,
                      "sClass": "center"
                  },
                  //{
                  //    "name": "WeightofWelding",
                  //    "bSortable": true,
                  //    "sClass": "center"
                  //},
                  //{
                  //    "name": "WeightofFIM",
                  //    "bSortable": true,
                  //    "sClass": "center"
                  //},
                  //{
                  //    "name": "WeightofInstrumentationandCovers",
                  //    "bSortable": true,
                  //    "sClass": "center"
                  //},
                  {
                      "name": "LocationL",
                      "bSortable": true,
                      "sClass": "center",                      
                  },
                   {
                       "name": "LocationX",
                       "bSortable": true,
                       "sClass": "center",                       
                   },
                  {
                      "name": "WXL",
                      "bSortable": true,
                      "sClass": "center"
                  },
                   {
                       "name": "InnerVolumeofEquipment",
                       "bSortable": true,
                       "sClass": "center"
                   },
                    {
                        "name": "DensityofWater",
                        "bSortable": true,
                        "sClass": "center"
                    },
                     {
                         "name": "HydroTestWeight",
                         "bSortable": true,
                         "sClass": "center"
                     },
                      //{
                      //    "name": "WeightofCatalyst",
                      //    "bSortable": true,
                      //    "sClass": "center"
                      //},
                       {
                           "name": "OperatingFluidDensity",
                           "bSortable": true,
                           "sClass": "center"
                       },
                        {
                            "name": "OperatingWeight",
                            "bSortable": true,
                            "sClass": "center"
                        },
                  {
                      "name": "CreatedOn",
                      "bSortable": true,
                      "sClass": "center"
                  },
                  {
                      "name": "CreatedOn",
                      "bSortable": true,
                      "sClass": "center"
                  },
                  {
                      "bSortable": false,
                      "sClass": "center",
                      "sWidth": "10%",
                      "render": function (data, type, row, meta) {
                          var buttons = "";
                          buttons = '<i id="btnUpdate" name="btnUpdate" style="cursor:pointer;margin-left:5px" Title="Update Record" class="fa fa-edit" onclick="UpdateRecord(' + row[18] + ')" ></i>';
                          buttons += '&nbsp;<i id="btnDelete" name="btnAction" style="cursor:pointer;margin-left:5px" Title="Delete Record" class="fa fa-trash-o" onclick="DeleteRecord(' + row[18] + ')"></i></center>';
                          return buttons;
                      }
                  },
            ]
        });
        table.dtSearchFilter();
    });
</script>