﻿@using IEMQSImplementation
@model PCL005

<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />

<script>
    var Status = $("#spnStatus").text(); //'@*@ViewBag.Status';*@
    $(document).ready(function () {
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        $('input[maxlength]').maxlength({ alwaysShow: true, });
        jQuery(function ($) {
            $('.numericval').autoNumeric('init', { aPad: "true", vMax: "99", aForm: "false" });
        });

        SetNumericInputVal();
        if (Status == "@clsImplementationEnum.PLCStatus.DRAFT.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $(".savedraft").show();
        }
        if (Status == "@clsImplementationEnum.PLCStatus.SendForApprovel.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
            $('div.fdControls :input').attr('disabled', true);
            $(".savedraft").hide();
        }
        @*if (Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $("#btnSaveFixature").show();
        }*@

        var strHeader = '@ViewBag.HeaderId';
        $("#txtFixtureHeader").val(strHeader);
    });
    function SaveAsDraft() {
        if (ISProductTypeSame()) {
            if ($("#frmFixtureRqmnt").valid()) {
                var frmSaveValue = $("#frmFixtureRqmnt").serializeArray();
                if (Status != undefined && Status != null && Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" && $("#spnStatus").text() == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
                    ReviseHeader('@ViewBag.HeaderId', "/PLC/MaintainCheckList/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#spnStatus'), ReviseHeaderCallBack);
                }
                else {
                    SaveHeaderFixture(frmSaveValue, status);
                }
            }
        }
    }
    function ReviseHeaderCallBack() {
        var frmSaveValue = $("#frmFixtureRqmnt").serializeArray();
        SaveHeaderFixture(frmSaveValue, status);
    }

    function SaveHeaderFixture(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/PLC/MaintainCheckList/SaveFixture",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtFixtureLine").val(data.LineID);
                    var strHeader = data.HeaderID;
                    $("#txtFixtureHeader").val(strHeader);
                    if (data.Value == '@clsImplementationMessage.PLCMessages.Update.ToString()') {
                        DisplayNotiMessage("success", data.Value, "Success");
                        GetPLCHeaderFormHTML(strHeader);
                    }
                    else {
                        DisplayNotiMessage("success", data.Value, "Success");
                    }
                    $("#Section5").trigger("click");
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmFixtureRqmnt", @class = "form-horizontal" }))
        {
            <div class="row savedraft">
                <div class="col-md-12">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        <input type="button" class="btn save savedraft" id="btnSaveAsDraft1" onclick="SaveAsDraft();" value="Save As Draft" />
                    </div>
                </div>
            </div>
            <hr class="savedraft" />

                <div class="fdControls">
                    @Html.HiddenFor(m => m.HeaderId, new { id = "txtFixtureHeader" })
                    @Html.HiddenFor(m => m.LineId, new { id = "txtFixtureLine" })
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                Fixture requirement
                            </div>
                            <div class="tools"> </div>
                        </div>
                        <div class="portlet-body flip-scroll">
                            <table class="table table-striped table-bordered table-hover table-header-fixed" id="tblFixtureRequirment">
                                <thead class="flip-content" style="padding: 8px;">
                                    <tr>
                                        <th class="numeric">#</th>
                                        <th class="numeric" style="width: 20%;"> Description</th>
                                        <th class="numeric">Required?</th>
                                        <th class="numeric" style="width: 15%;">Required Date</th>
                                        <th class="numeric">No. of fixture</th>
                                        <th class="numeric">Available<br /> Quantity</th>
                                        <th class="numeric">Drawing </th>
                                        <th class="numeric">Material</th>
                                        <th class="numeric">Fabrication</th>
                                        <th class="numeric">Delivery to shop</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="numeric">1</td>
                                        <td class="numeric">Template for Rolling (External Pressure)</td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TempRollExternalReq"> @Html.CheckBox("TempRollExternalReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.TempRollExternalReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempRollExternalNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempRollExternalAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempRollExternalDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempRollExternalMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempRollExternalFab, new { @class = "form-control" }) </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempRollExternalDel, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">2</td>
                                        <td class="numeric">Template for Rolling (3-6 thk plate)</td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TempRollPlateReq"> @Html.CheckBox("TempRollPlateReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.TempRollPlateReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempRollPlateNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempRollPlateAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempRollPlateDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempRollPlateMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempRollPlateFab, new { @class = "form-control" }) </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempRollPlateDel, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">3</td>
                                        <td class="numeric">Gasket face Protection Cover</td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="GasketCoverReq"> @Html.CheckBox("GasketCoverReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.GasketCoverReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverFab, new { @class = "form-control" }) </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverDel, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">4</td>
                                        <td class="numeric">Run-in/Run-out plate</td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="RunInRunOutPlateReq"> @Html.CheckBox("RunInRunOutPlateReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.RunInRunOutPlateReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.RunInRunOutPlateNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.RunInRunOutPlateAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.RunInRunOutPlateDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.RunInRunOutPlateMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.RunInRunOutPlateFab, new { @class = "form-control" }) </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.RunInRunOutPlateDel, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">5</td>
                                        <td class="numeric">Spider for Shell</td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SpiderShellReq"> @Html.CheckBox("SpiderShellReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.SpiderShellReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SpiderShellNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SpiderShellAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SpiderShellDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SpiderShellMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SpiderShellFab, new { @class = "form-control" }) </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SpiderShellDel, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">6</td>
                                        <td class="numeric">Wrapper plate for Skirt</td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WrapperPlateSkirtReq"> @Html.CheckBox("WrapperPlateSkirtReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.WrapperPlateSkirtReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.WrapperPlateSkirtNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.WrapperPlateSkirtAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.WrapperPlateSkirtDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.WrapperPlateSkirtMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.WrapperPlateSkirtFab, new { @class = "form-control" }) </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.WrapperPlateSkirtDel, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">7</td>
                                        <td class="numeric"> Counter Weight</td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CounterWeightReq"> @Html.CheckBox("CounterWeightReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.CounterWeightReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CounterWeightNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CounterWeightAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CounterWeightDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CounterWeightMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric"> @Html.TextBoxFor(m => m.CounterWeightFab, new { @class = "form-control" })</td>
                                        <td class="numeric"> @Html.TextBoxFor(m => m.CounterWeightDel, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">8</td>
                                        <td class="numeric">
                                            Fixture for loading d’end on Positioner
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="FixturePositionerReq"> @Html.CheckBox("FixturePositionerReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.FixturePositionerReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixturePositionerNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixturePositionerAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixturePositionerDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixturePositionerMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixturePositionerFab, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixturePositionerDel, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">9</td>
                                        <td class="numeric">
                                            Spider for PWHT
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SpiderPWHTReq"> @Html.CheckBox("SpiderPWHTReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.SpiderPWHTReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SpiderPWHTNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SpiderPWHTAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SpiderPWHTDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SpiderPWHTMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SpiderPWHTFab, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SpiderPWHTDel, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">10</td>
                                        <td class="numeric">
                                            Saddle for PWHT
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlePWHTReq"> @Html.CheckBox("SaddlePWHTReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.SaddlePWHTReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTFab, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTDel, new { @class = "form-control" })</td>


                                    </tr>
                                    <tr>
                                        <td class="numeric">11</td>
                                        <td class="numeric">
                                            Fixture for chip back grinding and welding of D’end
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="FixtureChipBackReq"> @Html.CheckBox("FixtureChipBackReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.FixtureChipBackReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtureChipBackNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtureChipBackAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtureChipBackDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtureChipBackMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtureChipBackFab, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtureChipBackDel, new { @class = "form-control" })</td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">12</td>
                                        <td class="numeric">
                                            Spider for D’end
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SpiderDEndReq"> @Html.CheckBox("SpiderDEndReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.SpiderDEndReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SpiderDEndNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SpiderDEndAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SpiderDEndDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SpiderDEndMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SpiderDEndFab, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SpiderDEndDel, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">13</td>
                                        <td class="numeric">
                                            C-Clamp for Shell turning
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CClampReq"> @Html.CheckBox("CClampReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.CClampReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CClampNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CClampAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CClampDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CClampMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CClampFab, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CClampDel, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">14</td>
                                        <td class="numeric">
                                            Fixture for Internal Instnumerication
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="FixtInternalInstalReq"> @Html.CheckBox("FixtInternalInstalReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.FixtInternalInstalReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtInternalInstalNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtInternalInstalAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtInternalInstalDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtInternalInstalMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtInternalInstalFab, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtInternalInstalDel, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">15</td>
                                        <td class="numeric">
                                            Fixture for Outlet Collector instnumerication
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="FixtOutletCollectorReq"> @Html.CheckBox("FixtOutletCollectorReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.FixtOutletCollectorReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtOutletCollectorNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtOutletCollectorAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtOutletCollectorDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtOutletCollectorMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">
                                            @Html.TextBoxFor(m => m.FixtOutletCollectorFab, new { @class = "form-control" })
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtOutletCollectorDel, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">16</td>
                                        <td class="numeric">
                                            Fixture for Beam Instnumerication
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="FixtBeamReq"> @Html.CheckBox("FixtBeamReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.FixtBeamReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtBeamNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtBeamAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtBeamDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtBeamMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtBeamFab, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtBeamDel, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td class="numeric">17</td>
                                        <td class="numeric">
                                            Evener Beam for Job Handling
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EvenerBeamReq"> @Html.CheckBox("EvenerBeamReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.EvenerBeamReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.EvenerBeamNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.EvenerBeamAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.EvenerBeamDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.EvenerBeamMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.EvenerBeamFab, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.EvenerBeamDel, new { @class = "form-control" })</td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">18</td>
                                        <td class="numeric">
                                            Dummy Shell for D’end
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DummyShellDEndReq"> @Html.CheckBox("DummyShellDEndReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.DummyShellDEndReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.DummyShellDEndNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.DummyShellDEndAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.DummyShellDEndDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.DummyShellDEndMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.DummyShellDEndFab, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.DummyShellDEndDel, new { @class = "form-control" })</td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">19</td>
                                        <td class="numeric">
                                            Dummy shell for Shell rotation
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DummyShellRotationReq"> @Html.CheckBox("DummyShellRotationReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.DummyShellRotationReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.DummyShellRotationNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.DummyShellRotationAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.DummyShellRotationDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.DummyShellRotationMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.DummyShellRotationFab, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.DummyShellRotationDel, new { @class = "form-control" })</td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">20</td>
                                        <td class="numeric">
                                            Nub Build up
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NubBuildupReq"> @Html.CheckBox("NubBuildupReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.NubBuildupReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.NubBuildupNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.NubBuildupAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.NubBuildupDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.NubBuildupMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.NubBuildupFab, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.NubBuildupDel, new { @class = "form-control" })</td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">21</td>
                                        <td class="numeric">
                                            External ring for ovality correction
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ExtOvalCorrectionReq"> @Html.CheckBox("ExtOvalCorrectionReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.ExtOvalCorrectionReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ExtOvalCorrectionNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ExtOvalCorrectionAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ExtOvalCorrectionDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ExtOvalCorrectionMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ExtOvalCorrectionFab, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ExtOvalCorrectionDel, new { @class = "form-control" })</td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">22</td>
                                        <td class="numeric">
                                            Pre-heating arrangement
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PreHeatiArrgReq"> @Html.CheckBox("PreHeatiArrgReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.PreHeatiArrgReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PreHeatiArrgNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PreHeatiArrgAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PreHeatiArrgDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PreHeatiArrgMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PreHeatiArrgFab, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PreHeatiArrgDel, new { @class = "form-control" })</td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">23</td>
                                        <td class="numeric">
                                            Fixture for PWHT
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="FixturePWHTReq"> @Html.CheckBox("FixturePWHTReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.FixturePWHTReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixturePWHTNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixturePWHTAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixturePWHTDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixturePWHTMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixturePWHTFab, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixturePWHTDel, new { @class = "form-control" })</td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">24</td>
                                        <td class="numeric">
                                            Closing  Chip back welding
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ClosChipReq"> @Html.CheckBox("ClosChipReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.ClosChipReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ClosChipNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ClosChipAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ClosChipDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ClosChipMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ClosChipFab, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ClosChipDel, new { @class = "form-control" })</td>

                                    </tr>
                                    <tr>
                                        <td class="numeric">25</td>
                                        <td class="numeric">
                                            Sleeve for stud tensioning (>=2 ¼”)
                                        </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SleeveStudReq"> @Html.CheckBox("SleeveStudReq", new { })<span></span></label></td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.SleeveStudReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SleeveStudNoFix, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SleeveStudAvlQty, new { @class = "form-control decimalInput", maxlength = "12"  })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SleeveStudDrg, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SleeveStudMtrl, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SleeveStudFab, new { @class = "form-control" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SleeveStudDel, new { @class = "form-control" })</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        }
        <div class="form-actions savedraft">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align:right;margin-top:30px;">
                        <input type="button" class="btn save savedraft" id="btnSaveAsDraft2" onclick="SaveAsDraft();" value="Save As Draft" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
@*
    <script src="~/Scripts/DatetimePickerdaterangepicker.min.js" type="text/javascript"></script>*@
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>

<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        window.setTimeout(function ()
        {
            //TableDatatablesFixedHeader.init();
            TableDatatablesFixedHeader.enabled($("#tblFixtureRequirment"));
        }, 500);
    });
</script>