﻿
@using IEMQSImplementation
@model PCL016

<script>
    $(document).ready(function () {
        if ('@ViewBag.Action'.toLowerCase() == "edit") {

        }
        var strHeader = '@ViewBag.HeaderId';
        $("#txtHSCDocHeader").val(strHeader);

        $("#btnSaveHSCDoc").click(function () {
            if ($("#frmHSCDoc").valid()) {
                var frmSaveValue = $("#frmHSCDoc").serializeArray();
                SaveHeaderHSCDoc(frmSaveValue, status)
            }
        });
    });



    function SaveHeaderHSCDoc(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/PLC/MaintainCheckList/SaveHSCDocument",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtHSCDocLine").val(data.LineID);
                    var strHeader = data.HeaderID;
                    $("#txtHSCDocHeader").val(strHeader);
                    DisplayNotiMessage("success", data.Value, "Success");
                    GetPLCCheckListFormHTML($("#txtHSCDocHeader").val());
                } else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmHSCDoc", @class = "form-horizontal" }))
            {
           

            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Category
                    </div>
                </div>
                <div class="portlet-body flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead style="padding: 8px;" class="flip-content">
                            <tr>
                                <th class="numeric">Sr No</th>
                                <th class="numeric"> Code</th>
                                <th class="numeric"> Desc</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="numeric">
                                    1
                                </td>
                                <td class="numeric">
                                    A
                                </td>
                                <td class="numeric">
                                    Shell Assembly fabrication
                                </td>
                            </tr>
                            <tr>
                                <td class="numeric">
                                    2
                                </td>
                                <td class="numeric">
                                    B
                                </td>
                                <td class="numeric">
                                    Tube bundle fabrication
                                </td>
                            </tr>
                            <tr>
                                <td class="numeric">
                                    3
                                </td>
                                <td class="numeric">
                                    C
                                </td>
                                <td class="numeric">
                                    Machining
                                </td>
                            </tr>
                            <tr>
                                <td class="numeric">
                                    4
                                </td>
                                <td class="numeric">
                                    D
                                </td>
                                <td class="numeric">
                                    Hydro test
                                </td>
                            </tr>
                            <tr>
                                <td class="numeric">
                                    5
                                </td>
                                <td class="numeric">
                                    E
                                </td>
                                <td class="numeric">
                                    Surface treatments
                                </td>
                            </tr>
                            <tr>
                                <td class="numeric">
                                    6
                                </td>
                                <td class="numeric">
                                    F
                                </td>
                                <td class="numeric">
                                    Miscellaneous
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    @*<table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content" style="padding: 8px;">
                                <tr>
                                    <th class="numeric">Sr No</th>
                                    <th class="numeric"> Code</th>
                                    <th class="numeric"> Desc</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var category in Model)
                                {
                                    <tr>
                                        <td class="numeric">
                                            @Html.DisplayFor(modelItem => category.Id)
                                        </td>
                                        <td class="numeric">
                                            @Html.DisplayFor(modelItem => category.Code)
                                        </td>
                                        <td class="numeric">
                                            @Html.DisplayFor(modelItem => category.Description)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>*@
                </div>
            </div>
        }
        <div class="form-actions">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align:right;margin-top:30px;">
                        <input type="button" class="btn green" id="btnSaveHSCDoc" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
