﻿@using IEMQSImplementation
@model PCL023

<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />

<script>
    var Status = $("#spnStatus").text(); //'@ViewBag.Status';
    $(document).ready(function () {
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        $('input[maxlength]').maxlength({ alwaysShow: true });
        jQuery(function ($) {
            $('.numericval').autoNumeric('init', { aPad: "true", vMax: "99", aForm: "false" });
        });

        if ('@ViewBag.Action'.toLowerCase() == "edit") {
        }

        if (Status == "@clsImplementationEnum.PLCStatus.DRAFT.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $(".savedraft").show();
        }
        if (Status == "@clsImplementationEnum.PLCStatus.SendForApprovel.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
            $('div.fdControls :input').attr('disabled', true);
            $(".savedraft").hide();
        }
        @*if (Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $("#btnSaveCDFixture").show();
        }*@

        var strHeader = '@ViewBag.HeaderId';
        $("#txtCDFixtureHeader").val(strHeader);

    });

    function SaveAsDraft() {
        if (ISProductTypeSame()) {
            if ($("#frmCDFixtureRqmnt").valid()) {
                var frmSaveValue = $("#frmCDFixtureRqmnt").serializeArray();
                if (Status != undefined && Status != null && Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" && $("#spnStatus").text() == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
                    ReviseHeader('@ViewBag.HeaderId', "/PLC/MaintainCheckList/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#spnStatus'), ReviseHeaderCallBack);
                }
                else {
                    SaveHeaderCDFixture(frmSaveValue, status);
                }
            }
        }
    }

    function ReviseHeaderCallBack() {
        var frmSaveValue = $("#frmCDFixtureRqmnt").serializeArray();
        SaveHeaderCDFixture(frmSaveValue, status);
    }

    function SaveHeaderCDFixture(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/PLC/MaintainCheckList/SaveCDFixture",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtCDFixtureLine").val(data.LineID);
                    var strHeader = data.HeaderID;
                    $("#txtCDFixtureHeader").val(strHeader);
                    DisplayNotiMessage("success", data.Value, "Success");
                    GetPLCCheckListFormHTML($("#txtCDFixtureHeader").val());
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmCDFixtureRqmnt", @class = "form-horizontal" }))
        {
            <div class="row savedraft">
                <div class="col-md-12">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        <input type="button" class="btn save savedraft" id="btnSaveAsDraft1" onclick="SaveAsDraft();" value="Save As Draft" />
                    </div>
                </div>
            </div>
            <hr class="savedraft" />
                @Html.HiddenFor(m => m.HeaderId, new { id = "txtCDFixtureHeader" })
                @Html.HiddenFor(m => m.LineId, new { id = "txtCDFixtureLine" })
                <div class="fdControls">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                Fixture requirement
                            </div>
                        </div>
                        <div class="portlet-body flip-scroll">
                            <table class="table table-striped table-bordered table-hover table-header-fixed" id="tblFixtureRequirment">
                                <thead class="flip-content" style="padding: 8px;">
                                    <tr>
                                        <th class="numeric">Sr No</th>
                                        <th class="numeric" style="width: 20%;">Description</th>
                                        <th class="numeric" style="width: 15%;">Required Date</th>
                                        <th class="numeric">No. of fixture</th>
                                        <th class="numeric">Available Quantity</th>
                                        <th class="numeric">Drawing </th>
                                        <th class="numeric">Material</th>
                                        <th class="numeric">Fabrication</th>
                                        <th class="numeric">Delivery to shop</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td class="numeric">Template for Rolling (3-6 thk plate)</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.TempRollReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempRollNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempRollAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempRollDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempRollMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempRollFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempRollDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td class="numeric"><quote>e</quote>Value Template for Weld visual (3-6 thk plate)</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.TempWeldReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempWeldNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempWeldAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempWeldDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempWeldMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempWeldFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.TempWeldDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td class="numeric">Gasket face Protection Cover</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.GasketCoverReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td class="numeric">LSR Spider at Open End of Section /TDE/ToriCone</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.LSRSpiderReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LSRSpiderNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LSRSpiderAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LSRSpiderDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LSRSpiderMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LSRSpiderFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LSRSpiderDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td class="numeric">Fixture for Shell segment turning</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.FixtureShellReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtureShellNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtureShellAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtureShellDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtureShellMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtureShellFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixtureShellDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td class="numeric">Die – Punch for D’end forming</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.DiePunchReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.DiePunchNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.DiePunchAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.DiePunchDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.DiePunchMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.DiePunchFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.DiePunchDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td class="numeric">Square bar for D’end template</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.SquareBarReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SquareBarNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SquareBarAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SquareBarDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SquareBarMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SquareBarFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SquareBarDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td class="numeric">Pre-heating arrangement ( Burners)</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.PreHeatReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PreHeatNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PreHeatAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PreHeatDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PreHeatMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PreHeatFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PreHeatDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td class="numeric">External ring for ovality correction at Skirt/Y Ring</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.ExtRingReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ExtRingNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ExtRingAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ExtRingDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ExtRingMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ExtRingFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ExtRingDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td class="numeric">Fixture for PWHT( Support stools)</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.FixPWHTReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixPWHTNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixPWHTAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixPWHTDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixPWHTMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixPWHTFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.FixPWHTDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td class="numeric">Saddle for PWHT</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.SaddlePWHTReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td class="numeric">Saddle for Hydrotest</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.SaddleHydroReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SaddleHydroNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SaddleHydroAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SaddleHydroDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SaddleHydroMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SaddleHydroFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.SaddleHydroDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td class="numeric">LSR furnace</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.LSRFurnaceReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LSRFurnaceNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LSRFurnaceAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LSRFurnaceDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LSRFurnaceMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LSRFurnaceFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LSRFurnaceDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td class="numeric">LSR rings</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.LSRRingReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LSRRingNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LSRRingAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LSRRingDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LSRRingMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LSRRingFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LSRRingDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td class="numeric">Plate for Trunnion</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.PlateTrunReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateTrunNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateTrunAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateTrunDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateTrunMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateTrunFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateTrunDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td class="numeric">Pipe for Trunnion</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.PipeTrunReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PipeTrunNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PipeTrunAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PipeTrunDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PipeTrunMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PipeTrunFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PipeTrunDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td class="numeric">Plates for Lugs</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.PlateLugseqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateLugsoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateLugsvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateLugsrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateLugstrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateLugsab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateLugsel, new { @class = "form-control", maxlength = "30" })</td>

                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td class="numeric">Plates for load spreading for Crane movement</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.PlateCraneReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateCraneNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateCraneAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateCraneDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateCraneMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateCraneFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateCraneDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td class="numeric">Plates for Load spreading during Hydrotest</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.PlateHydroReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateHydroNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateHydroAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateHydroDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateHydroMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateHydroFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.PlateHydroDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td class="numeric">Cantilever SAW Stand</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.CSAWReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CSAWNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CSAWAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CSAWDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CSAWMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CSAWFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CSAWDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>21</td>
                                        <td class="numeric">Cone Plate stage long seam s/u, welding fixture</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.ConePlateReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ConePlateNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ConePlateAvlQty, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ConePlateDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ConePlateMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ConePlateFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ConePlateDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>22</td>
                                        <td class="numeric">Stiffener ring for Y-Ring weld overlay</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.StiffReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.StiffNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.StiffAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.StiffDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.StiffMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.StiffFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.StiffDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>23</td>
                                        <td class="numeric">Y Ring profile template (3-6 thk plate)</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.YRingReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.YRingNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.YRingAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.YRingDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.YRingMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.YRingFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.YRingDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>24</td>
                                        <td class="numeric">Circ Seam Setup Boltable Spider</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.CircSeamReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CircSeamNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CircSeamAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CircSeamDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CircSeamMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CircSeamFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.CircSeamDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>25</td>
                                        <td class="numeric">Long seam setup station (Boltable)</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.LongSeamReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LongSeamNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LongSeamAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LongSeamDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LongSeamMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LongSeamFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.LongSeamDel, new { @class = "form-control", maxlength = "20" })</td>

                                    </tr>
                                    <tr>
                                        <td>26</td>
                                        <td class="numeric">Shell segment handling fixture</td>
                                        <td class="numeric">
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                @Html.TextBoxFor(m => m.ShellSegReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ShellSegNoFix, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ShellSegAvlQty, new { @class = "form-control numericval", maxlength = "2" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ShellSegDrg, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ShellSegMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ShellSegFab, new { @class = "form-control", maxlength = "30" })</td>
                                        <td class="numeric">@Html.TextBoxFor(m => m.ShellSegDel, new { @class = "form-control", maxlength = "20" })</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        }
        <div class="form-actions savedraft">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align:right;margin-top:30px;">
                        <input type="button" class="btn save savedraft" id="btnSaveAsDraft2" onclick="SaveAsDraft();" value="Save As Draft" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
@*
    <script src="~/Scripts/DatetimePickerdaterangepicker.min.js" type="text/javascript"></script>*@
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>

<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        window.setTimeout(function ()
        {
            //TableDatatablesFixedHeader.init();
            TableDatatablesFixedHeader.enabled($("#tblFixtureRequirment"));
        }, 500);
    });
</script>