﻿@using IEMQSImplementation
@model PCL031

<script>
    var Status = $("#spnStatus").text(); //'@*@ViewBag.Status';*@
    $(document).ready(function () {
        $('input[maxlength]').maxlength({ alwaysShow: true, });
        jQuery(function ($) {
            $('.numericval').autoNumeric('init', { aPad: "true", vMax: "1000000000", aForm: "false" });
        });
        SetNumericInputVal();
        if (Status == "@clsImplementationEnum.PLCStatus.DRAFT.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $(".savedraft").show();
        }
        if (Status == "@clsImplementationEnum.PLCStatus.SendForApprovel.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
            $('div.fdControls :input').attr('disabled', true);
            $(".savedraft").hide();
        }
        @*if (Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $("#btnSaveEOAllowance").show();
        }*@

        var strHeader = '@ViewBag.HeaderId';
        $("#txtAllowanceHeader").val(strHeader);
    });

    function SaveAsDraft() {
        if (ISProductTypeSame()) {
            if ($("#frmEOAllowance").valid()) {
                var frmSaveValue = $("#frmEOAllowance").serializeArray();

                if (Status != undefined && Status != null && Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" && $("#spnStatus").text() == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
                    ReviseHeader('@ViewBag.HeaderId', "/PLC/MaintainCheckList/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#spnStatus'), ReviseHeaderCallBack);
                }
                else {
                    SaveEOAllowance(frmSaveValue, status);
                }
            }
        }
    }

    function ReviseHeaderCallBack() {
        var frmSaveValue = $("#frmEOAllowance").serializeArray();
        SaveEOAllowance(frmSaveValue, status);
    }

    function SaveEOAllowance(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/PLC/MaintainCheckList/SaveEOAllowance",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtEOAllowance").val(data.LineID);
                    var strHeader = data.HeaderID;
                    $("#txtEOAllowanceHeader").val(strHeader);
                    if (data.Value == '@clsImplementationMessage.PLCMessages.Update.ToString()') {
                        DisplayNotiMessage("success", data.Value, "Success");
                        GetPLCHeaderFormHTML(strHeader);
                    }
                    else {
                        DisplayNotiMessage("success", data.Value, "Success");
                    }
                    $("#Section3").trigger("click");
                } else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>

<div id="dvSection1" class="fdControls">
    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmEOAllowance", @class = "form-horizontal" }))
    {
        <div class="row savedraft">
            <div class="col-md-12">
                <div class="col-md-6">
                </div>
                <div class="col-md-6" style="text-align:right;">
                    <input type="button" class="btn save savedraft" id="btnSaveAsDraft1" onclick="SaveAsDraft();" value="Save As Draft" />
                </div>
            </div>
        </div>
        <hr class="savedraft" />
        @Html.HiddenFor(m => m.HeaderId, new { id = "txtEOAllowanceHeader" })
        @Html.HiddenFor(m => m.LineId, new { id = "txtEOAllowance" })
        <fieldset>
            <legend>
                1) Shell
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label"> Allowance for E/B &nbsp; <span>@Html.TextBoxFor(m => m.ShellAllwEB1, new { @class = "clsAllowance decimalInput", maxlength = "12" })</span> &nbsp; mm (1.5T)on either side. In one plate &nbsp; <span>@Html.TextBoxFor(m => m.ShellAllwEB2, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 40px;" })</span>&nbsp; mm on either side</label><br />
                    <label class="control-label"> Allowance for Seam shrinkage &nbsp; <span class="clsspan">@Html.TextBoxFor(m => m.ShrinkageCirc, new { @class = "clsAllowance decimalInput", maxlength = "12" })</span>&nbsp;  mm per Circ Seam and &nbsp; <span>@Html.TextBoxFor(m => m.ShringageLong, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 40px;" })</span>&nbsp; mm per long seam.</label><br />
                    <label class="control-label"> Allowance for M/cing &nbsp; <span class="clsspan">@Html.TextBoxFor(m => m.Mcinglong, new { @class = "clsAllowance decimalInput", maxlength = "12" })</span>&nbsp;  mm for long seam and &nbsp; <span>@Html.TextBoxFor(m => m.Mcingcirc, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 40px;" })</span>&nbsp; mm Min. for circ seam. </label><br />
                    <label class="control-label"> Negative Allowance for Stretch &nbsp; <span>@Html.TextBoxFor(m => m.NegAllow, new { @class = "clsAllowance decimalInput", maxlength = "12" })</span> &nbsp;  mm for circ lg.</label><br />
                    <label class="control-label"> Tolerance on Ovality &nbsp; <span class="clsspan">@Html.TextBoxFor(m => m.TOvality, new { @class = "clsAllowance decimalInput", maxlength = "12" })</span>&nbsp;  %  (Target for 9 mm Ovality for Heat exchanger) </label><br />
                    <label class="control-label"> Tolerance on Cir. &nbsp; <span>@Html.TextBoxFor(m => m.TCircum, new { @class = "clsAllowance decimalInput", maxlength = "12" })</span> &nbsp;  mm</label><br />
                </div>
            </div>
        </fieldset>

            <fieldset>
                <legend>
                    2)  D’end
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label"> Allowance for M/cing &nbsp; <span>@Html.TextBoxFor(m => m.DEndMcing, new { @class = "clsAllowance decimalInput", maxlength = "12" })</span> &nbsp;  mm on open end.</label><br />
                        <label class="control-label">  Allowance for Seam shrinkage &nbsp; <span>@Html.TextBoxFor(m => m.DEndSeam, new { @class = "clsAllowance decimalInput", maxlength = "12" })</span>&nbsp; mm per seam ; &nbsp; <span>@Html.TextBoxFor(m => m.DEndCirc, new { @class = "clsAllowance decimalInput", maxlength = "12" })</span>&nbsp; mm on circ.</label><br />
                        <label class="control-label">  Allowance for ESSC shrinkage &nbsp; <span>@Html.TextBoxFor(m => m.DEndESSC, new { @class = "clsAllowance decimalInput", maxlength = "12" })</span> &nbsp; Not applicable</label><br />
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    3)  Support Lug
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label"> Tolerance on flatness of base plate &nbsp; <span>@Html.TextBoxFor(m => m.SLTolFlat, new { @class = "clsAllowance decimalInput", maxlength = "12" })</span> &nbsp;  mm.</label><br />
                        <label class="control-label"> Tolerance on Elevation of base plate &nbsp; <span>@Html.TextBoxFor(m => m.SLTolEleva, new { @class = "clsAllowance decimalInput", maxlength = "12" })</span> &nbsp;  mm.</label><br />
                        <label class="control-label"> Tolerance on Hole center to centerline &nbsp; <span>@Html.TextBoxFor(m => m.SLTolHole, new { @class = "clsAllowance decimalInput", maxlength = "12" })</span> &nbsp;  mm.</label><br />
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    4)  Critical Tolerances/ Requirement
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label"> Gap between SS perforated Head of insert to Top tube sheet O/L face should be &nbsp; <span>@Html.TextBoxFor(m => m.CTRGapTop, new { @class = "clsAllowance decimalInput", maxlength = "12" })</span> &nbsp;  mm.</label><br />
                        <label class="control-label"> Gap between SS perforated Head of insert to Inverted forging O/L face should be &nbsp; <span>@Html.TextBoxFor(m => m.CTRGapInverted, new { @class = "clsAllowance decimalInput", maxlength = "12" })</span> &nbsp;  mm.</label><br />
                        <label class="control-label"> All set on set on nozzle smooth ID with no protrusions shall be ensured by trial insertion of rod with dia= &nbsp; <span>@Html.TextBoxFor(m => m.CTRAllSet, new { @class = "clsAllowance decimalInput", maxlength = "12" })</span> &nbsp;  mm.</label><br />
                    </div>
                </div>
            </fieldset>
            <div class="form-actions savedraft">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6" style="text-align:right;margin-top:30px;">
                            <input type="button" class="btn save savedraft" id="btnSaveAsDraft2" onclick="SaveAsDraft();" value="Save As Draft" />
                        </div>
                    </div>
                </div>
            </div>
    }
</div>
