﻿


@using IEMQSImplementation
@model PCL001
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Planning Checklist for- Reactor & Regenerator</title>
    <style>
        .clstable {
            border-collapse: collapse;
            width: 100%;
            border-color: darkgrey;
            color: darkgrey;
        }

        td {
            text-align: left;
            padding: 2px 4px 2px 4px;
        }

        .clsContent {
            margin-left: 61px;
        }

        .clsheader {
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .clsfooter {
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .clsPara {
            text-align: left;
        }

        .clscenter {
            text-align: center;
        }

        .clsDivBorder {
            border-style: groove;
        }

        .clsSection2Label {
            width: 30px;
        }

        .clsSection2Display {
            width: 20px;
        }
    </style>
</head>
<body>
    <center>
        <div id="page1">
            <div class="row" style="width:95%">
                <header class="clsheader">
                    <table border="1" style="border-collapse:collapse;width:100%">
                        <tr>
                            <th>PROCEDURE NO</th>
                            <th> @Model.Document</th>
                            <th>REV NO</th>
                            <th> @Model.RevNo</th>
                            <th>Page 1 of 11</th>
                        </tr>
                    </table>
                </header>
            </div>
            <div class="row" style="width:95%">
                <p class="clscenter">
                    <br />
                    <br />
                    <img src="~/Images/Logo.jpg" style="height:200px" />
                    @*                    <img src="http://viemqs06/Images/Logo.jpg" />*@
                    <br />
                    <br />
                    <br />

                    <br />
                    <h2>
                        LARSEN & TOUBRO LIMITED<br />
                        HED-HAZIRA MANUFACTURING COMPLEX<br />
                        Planning Comepetency Center
                    </h2>
                    <div style="height:100px"></div>
                    <h4>
                        Project <span id="spnPeoject">@Model.Project</span>
                        <span id="spnDesc">@ViewBag.Customer</span>
                    </h4>
                    <br />
                    <h2> PLANNING CHECKLIST FOR REACTOR & REGENRATOR</h2>
                    <div style="height:100px"></div>
                </p>
            </div>
            <br />
            <div class="row" style="width:95%">
                <footer class="clsfooter">
                    <table border="1" class="clstable">
                        <thead class="clsPara">
                            <tr>
                                <th>Rev.No</th>
                                <th>Revision Detail</th>
                                <th>Date</th>
                                <th>Prep. By</th>
                                <th>Appr.By</th>
                            </tr>
                        </thead>
                        <tbody class="clsPara">
                            <tr>
                                <td>@Model.RevNo</td>
                                <td>First Issue</td>
                                <th>@Model.CreatedOn</th>
                                <th>@Model.CreatedBy</th>
                                <th>@Model.ApprovedBy</th>
                            </tr>
                        </tbody>
                    </table>
                </footer>
            </div>
        </div>
        <div style="height:50px"></div>
        <div id="page2">
            <header class="clsheader">
                <div class="row" style="width:100%">
                    <table border="1" class="clstable">
                        <tr class="clsPara">
                            <td>Specification No</td>
                            <td> @Model.Document</td>
                            <td>REV NO</td>
                            <td> @Model.RevNo</td>
                            <td>Page 2 of 11</td>
                        </tr>
                        <tr class="clsPara">
                            <td>
                                <img src="~/Images/smalllogo.png" />
                            </td>
                            <td colspan="4">Planning Checklist</td>
                        </tr>
                    </table>
                </div>
            </header>
            <div class="row clsPara" style="width:100%">
                <p class="clsPara">
                    <b>1. Scope:</b><br />
                    <span class="clsContent">This document helps planning in assessing the job requirement, criticality. This document is to be filled by planner when new project is received.This document helps planner as input to time estimate, fixture and procedure requirement</span>.<br /><br /><br />
                    <b>2. Construction Features:</b><br />
                    <div class="row clsPara" style="width:100%">
                        @Html.Partial("_LoadPrintRRConstructionData", @Model.PCL036)
                    </div>
                    <br />
                    <b>3. Allowance:</b><br />
                    <div class="row clsPara" style="width:100%">
                        @Html.Partial("_LoadPrintRRAllowancesData", @Model.PCL037)
                    </div><br />
                    <b>4. Scope of work:</b><br />
                    <div class="row clsPara" style="width:100%">
                        @Html.Partial("_LoadPrintRRcopeofworkData", @Model.PCL038)
                    </div><br />
                    <b> 5.	Fixture Requirement :</b><br />
                    <div class="row clsPara" style="width:100%">
                        @Html.Partial("_LoadPrintRRFixturerequirementData", @Model.PCL039)
                    </div>
                    <br />

                    <b>6. Procedure/ Document Requirement:</b><br />
                    <div class="row clsPara" style="width:100%">
                        @Html.Partial("_LoadPrintRRDocumentData", @Model.PCL040)
                    </div><br />
                    <b>7. Plan for Dimensional Data:</b><br />
                    <div class="row clsPara" style="width:100%">
                        @Html.Partial("_LoadPrintRRDimData", @Model.PCL041)
                    </div><br />

                </p>
            </div>
            <div style="height:600px"></div>
            <div class="row" style="width:100%">
                <footer>
                    <table border="1" class="clstable">
                        <thead>
                            <tr>
                                <th>Rev.No</th>
                                <th>Revision Detail</th>
                                <th>Date</th>
                                <th>Prep. By</th>
                                <th>Appr.By</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.RevNo</td>
                                <td>First Issue</td>
                                <th>@Model.CreatedOn</th>
                                <th>@Model.CreatedBy</th>
                                <th>@Model.ApprovedBy</th>
                            </tr>
                        </tbody>
                    </table>
                </footer>
            </div>
        </div>
    </center>
    <script>
        //Print Script
        window.print();
    </script>
</body>
</html>
