﻿@using System.Configuration 
@using IEMQSImplementation
@model IEMQSImplementation.QMS010
@{
    clsBase objclsBase = new clsBase();
    string AttachmentUpload = "fuAttachmentUpload";
}

@Html.Hidden("Status",(string) ViewBag.Status)

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Seam List Details
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblHeader" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr id="inline"></tr>
                        <tr>
                            <th class="all">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="SelectAll" value="1" id="SelectAll" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th class="all">Quality Project</th>
                            <th class="all">Project</th>
                            <th style="display:none;">Request Id</th>
                            <th style="display:none;">Header Id</th>
                            <th class="all">Seam No</th>
                            <th class="all">Stages</th>
                            <th class="all">Seq. No</th>
                            <th class="all">Itrn.</th>
                            <th class="all">Test Result</th>
                            <th class="all">Offered By</th>
                            <th class="all">Offered On</th>
                            @*<th class="min-phone-l">Created By</th>
                                <th class="min-phone-l">Created On</th>*@
                            <th class="none">BU</th>
                            <th class="none">Location</th>
                            <th class="none">Request No</th>
                            <th class="none">Request Seq. No</th>
                            <th class="none">Inspected By</th>
                            <th class="none">Inspected On</th>
                            <th class="none">QC Remarks</th>
                            <th class="none">Offered to Customer By</th>
                            <th class="none">Offered to Customer On</th>
                            <th class="none">Shop</th>
                            <th class="none">Shop Location</th>
                            <th class="none">Shop Remark</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        @if (ViewBag.Status == "Pending" || ViewBag.Status == "Return")
        {
            <button type="button" title="Offer to TPI" class="btn blue" data-target="#OpenTPI" data-backdrop="static" data-keyboard="false" id="btnTPI">
                Offer to TPI
            </button>
        }
        else
        {
            <button type="button" title="Submit to QA" class="btn blue" id="btnSubmitQA">
                Submit to QA
            </button>
        }
        <input id="PrintTPI1" type="hidden" />
        <input id="PrintTPI2" type="hidden" />
        <input id="PrintTPI3" type="hidden" />
    </div>
</div>

@*Added By Deval Barot on 04-03-2020*@
<div id="OpenTPI" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="Close()">&times;</button>
                <h4 class="modal-title">TPI</h4>
            </div>
            <div class="modal-body">
                <form id="frmTPIData" class="form-horizontal">
                    @Html.HiddenFor(m => m.Id)
                    <div class="row">
                        <div class="col-md-12" style="">
                            <div class="col-md-4" id="divTPIAgency">
                                @*@Html.Label("TPI Agency")*@
                                <label class="text-center" style="margin-top:12px;margin-left:40px;">TPI Agency 1:</label>
                            </div>

                            <div class="col-md-6">
                                <input type="text" id="txtTPIAgency1" name="txtTPIAgency1" class="form-control" tabindex="1" style="margin-top:3% !important;" />
                                @Html.HiddenFor(m => m.TPI1, new { @id = "ddlTPIAgency1" })
                            </div>
                        </div>

                        <div class="col-md-12" style="">
                            <div class="col-md-4" id="divTPIAgency">
                                @*@Html.Label("TPI Agency")*@
                                <label class="text-center" style="margin-top:12px;margin-left:40px;">TPI Agency 2:</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="txtTPIAgency2" name="txtTPIAgency2" class="form-control" tabindex="1" style="margin-top:3% !important;" />
                                @Html.HiddenFor(m => m.TPI2, new { @id = "ddlTPIAgency2" })
                            </div>
                        </div>

                        <div class="col-md-12" style="">
                            <div class="col-md-4" id="divTPIAgency">
                                @*@Html.Label("TPI Agency")*@
                                <label class="text-center" style="margin-top:12px;margin-left:40px;">TPI Agency 3 :</label>
                            </div>
                            <div class="col-md-6" id="divTPIAgency">
                                <input type="text" id="txtTPIAgency3" name="txtTPIAgency3" class="form-control" tabindex="1" style="margin-top:3% !important;" />
                                @Html.HiddenFor(m => m.TPI3, new { @id = "ddlTPIAgency3" })
                            </div>
                        </div>

                        <div class="col-md-12" style="">
                            <div class="col-md-4" id="divTPIAgency">
                                @*@Html.Label("TPI Agency")*@
                                <label class="text-center" style="margin-top:12px;margin-left:40px;">TPI Agency 4 :</label>
                            </div>
                            <div class="col-md-6" id="divTPIAgency">
                                <input type="text" id="txtTPIAgency4" name="txtTPIAgency4" class="form-control" tabindex="1" style="margin-top:3% !important;" />
                                @Html.HiddenFor(m => m.TPI4, new { @id = "ddlTPIAgency4" })
                            </div>
                        </div>

                        <div class="col-md-12" style="">

                            <div class="col-md-4" id="divTPIAgency">
                                @*@Html.Label("TPI Agency")*@
                                <label class="text-center" style="margin-top:12px;margin-left:40px;">TPI Agency 5 :</label>
                            </div>
                            <div class="col-md-6" id="divTPIAgency">
                                <input type="text" id="txtTPIAgency5" name="txtTPIAgency5" class="form-control" tabindex="1" style="margin-top:3% !important;" />
                                @Html.HiddenFor(m => m.TPI5, new { @id = "ddlTPIAgency5" })
                            </div>
                        </div>

                        <div class="col-md-12" style="">
                            <div class="col-md-4" id="divTPIAgency">
                                @*@Html.Label("TPI Agency")*@
                                <label class="text-center" style="margin-top:12px;margin-left:40px;">TPI Agency 6 :</label>
                            </div>
                            <div class="col-md-6" id="divTPIAgency">
                                <input type="text" id="txtTPIAgency6" name="txtTPIAgency6" class="form-control" tabindex="1" style="margin-top:3% !important;" />
                                @Html.HiddenFor(m => m.TPI6, new { @id = "ddlTPIAgency6" })
                            </div>
                        </div>
                        <div class="col-md-12" style="text-align:right !important;margin-top:3% !important;">
                            <input type="button" class="btn save" id="btnTPISave" value="Save" onclick="SubmitData();" />
                            <button type="button" class="btn btnclose" onclick="CloseTPI()">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TPIDateApproval" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="Close()">&times;</button>
                <h4 class="modal-title">Date Of TPI Approval</h4>
            </div>
            <div class="modal-body">
                <form id="frmTPIData" class="form-horizontal">
                    <input type="hidden" id="hdnRequestId" name="hdnRequestId" />
                    <input type="hidden" id="hdnHeaderId" name="hdnHeaderId" />
                    <input type="hidden" id="hdnBU" name="hdnBU" />
                    <input type="hidden" id="hdnLocation" name="hdnLocation" />
                    <input type="hidden" id="hdnQualityProject" name="hdnQualityProject" />
                    <input type="hidden" id="hdnSeamNo" name="hdnSeamNo" />
                    <input type="hidden" id="hdnInspectedOn" name="hdnInspectedOn" />
                    <input type="hidden" id="hdnStageCode" name="hdnStageCode" />
                    <input type="hidden" id="hdnStageSequence" name="hdnStageSequence" />
                    <input type="hidden" id="hdnTestResult" name="hdnTestResult" />
                    <input type="hidden" id="hdnUserName" name="hdnUserName" />
                    <input type="hidden" id="hdnProtocoltype" name="hdnProtocoltype" />
                    <input type="hidden" id="hdnSignUrl" name="hdnSignUrl" />
                    <input type="hidden" id="hdnHost" name="hdnHost" />
                    <input type="hidden" id="hdnPSNO1" name="hdnPSNO1" />
                    <input type="hidden" id="hdnPSNO2" name="hdnPSNO2" />
                    <input type="hidden" id="hdnPSNO3" name="hdnPSNO3" />
                    <input type="hidden" id="hdnPSNO4" name="hdnPSNO4" />
                    <input type="hidden" id="hdnPSNO5" name="hdnPSNO5" />
                    <input type="hidden" id="hdnPSNO6" name="hdnPSNO6" />
                    <div class="row">
                        <div class="col-md-12" style="">
                            <div class="col-md-12">
                                <label>Date Of TPI Approval</label>
                                @Html.DropDownList("DateApproval", new List<SelectListItem>
                                                        { new SelectListItem{ Text="YES", Value = "Yes" },
                                                           new SelectListItem{ Text="NO", Value = "No",Selected= true }}, new { @class = "form-control col-md-3 clsUpdateHeader" })
                            </div>
                        </div>


                        <div class="col-md-12" style="text-align:right !important;margin-top:3% !important;">
                            @*<input type="button" class="btn save fa fa-print" id="btnTPISave" value="Print" onclick="PrintReportData();" />*@

                            <button class="btn save" id="btnTPISave" value="Print" onclick="PrintReportData();"><i class="fa fa-print"></i> Print</button>
                            @*<button type="button" class="btn btnclose" onclick="Close()">Close</button>*@
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*End Here*@

<script>
    $(document).ready(function ()
    {

        @*var daadata  = @System.Configuration.ConfigurationManager.AppSettings["SingUrl"].ToString();*@
        BindGrid();
        //$("#txtTPIAgency1").multiselect("clearSelection");

       // LoadMultiSelectTestinstrumentwithCheckbox("/Utility/General/GetTestInstrument", $('#txtTPIAgency1'), "--Select Location--", { term: $("#txtTPIAgency1").val(), location: ""});
    });

    function BindGrid() {
    var tab = '@ViewBag.status';
    var swhereCondition = "";

    var table = $('#tblHeader');

    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": true,
        "bDestroy": true,
        "bRetrieve": true,
        "bServerSide": true,
        "stateSave": false,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
         [5, 10, 25, 50, 100],
         [5, 10, 25, 50, 100]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        "sAjaxSource": WebsiteURL + "/IPI/MaintainSeamListOfferInspection/loadSeamListDataTable",
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" },
                        { "name": "QualityProject", "value":    $("#hdPendingInspection").val()},//"@Html.Raw((string)ViewBag.QualityProject)" },
                        { "name": "SeamNo", "value": "@Html.Raw((string)ViewBag.SeamNumber)" },
                        { "name": "Status", "value": '@ViewBag.status' });

        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': function (data) {
                    fnCallback(data);
                    $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                    $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);
                    swhereCondition = data.strWhere;
                    $("#hdWhereCondition").val(swhereCondition);
                    var tab = '@ViewBag.status';
                },
            });
        },
        "columns": [
            {
                "sClass": "center",
                "bSortable": false,
                'render': function (data, type, full, meta) {
                    var chkhtml = "";
                    if (data != "") {
                        chkhtml += '<label class="mt-checkbox mt-checkbox-outline">' + data + '<span id="spanCheckbox"></span></label>';
                    }
                    return chkhtml;
                }
            },
            {
                "sClass": "center",
                "bSortable": true,
                "name": "QualityProject",
            },
            {
                "sClass": "center",
                "bSortable": true,
                "name": "Project",
                "attr": "fromtoRange",
                "ColName": "qms.Project",

            },
              {
                  "sClass": "hide",

              },
            {
                "sClass": "hide",

            },
           {
               "bSortable": true,
               "sClass": "center",
               "name": "SeamNo",

           },
            {
                "bSortable": true,
                "sClass": "center",
                "name": "StageCode",
                "attr": "string",
                "ColName": "qms.StageCode"
            },
            {
                "sClass": "center",
                "attr": "numeric",
                "name": "StageSequence",
            },
            {
                "sClass": "center",
                "attr": "numeric",
                "name": "IterationNo",
            },
            {
                "sClass": "center",

                "name": "TestResult",
            },
            {
                "sClass": "center",

                "name": "OfferedBy",
            },
            {
                "sClass": "center",
                "attr": "daterange",
                "name": "OfferedOn",

            },
            {
                "sClass": "center",
                "attr": "s",
            },
            {
                "sClass": "center",
                "attr": "s",
            },
            {
                "sClass": "center",
                "attr": "s",
            },
            {
                "sClass": "center",
                "attr": "s",
            },
            {
                "sClass": "center",
                "attr": "s",
            },
            {
                "sClass": "center",
                "attr": "s",
            },
             {
                 "sClass": "center",
                 "attr": "s",
             },
             {
                 "sClass": "center",
                 "attr": "s",
             },
             {
                 "sClass": "center",
                 "attr": "s",
             },
             {
                 "sClass": "center",
                 "attr": "s"
             },
             {
                 "sClass": "center",
                 "attr": "s"
             },
             {
                 "sClass": "center",
                 "attr": "s"
             },
             //{
             //    "sClass": "center",
             //},
             //{
             //    "sClass": "center",
             //},
             {
                 "bSortable": false,
                 "sClass": "center",
                 "sWidth": "10%",
                 //"render": function (data, type, row, meta) {
                 //    var buttons = "";
                 //    var functionCall = "ViewHeader(" + row[2].trim() + ")";
                 //    buttons = '<center><a class="btn btn-xs green"  Title="View Requests" onclick="' + functionCall + '">View<i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                 //    return buttons;
                 //}
             },
        ]
    });
    table.dtSearchFilter();
    }

    function OpenOffertoTPIPopup(HeaderId, BU, Location) {
        $('#txtTPIAgency1').val('');
        $('#txtTPIAgency2').val('');
        $('#txtTPIAgency3').val('');
        $('#txtTPIAgency4').val('');
        $('#txtTPIAgency5').val('');
        $('#txtTPIAgency6').val('');

        var NewBU = BU.substr(0, BU.indexOf('-'));
        var NewLocation = Location.substr(0, Location.indexOf('-'));

        //$.ajax({
        //    url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/UpdateOfferTPI",
        //    type: "POST",
        //    async: false,
        //    data: { OfferHeaderId: headerId },
        //    success: function (data) {
        //        console.log(data);
        //    }
        //});

        $('#addMaintainTPI').modal();

        var term = '';

        $("#txtTPIAgency1").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/Maintain/FillAutocompleteForTPI",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: { term: term, bu: NewBU, location: NewLocation, isAgency: true },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Text, value: item.Text, id: item.Value };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {

                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    $(this).val(strProjectDesc);
                    //alert(this.id);
                    //var ID = this.id;
                    //var lastChar = ID[ID.length - 1];
                    $("#ddlTPIAgency1").val(ui.item.id);
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(this).focus();
                    //var ID = this.id;
                    //var lastChar = ID[ID.length - 1];
                    $("#ddlTPIAgency1").val('');
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);;
        });

        $("#txtTPIAgency2").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/Maintain/FillAutocompleteForTPI",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: { term: term, bu: NewBU, location: NewLocation, isAgency: true },
                    success: function (data)
                    {
                        response($.map(data, function (item) {
                            return { label: item.Text, value: item.Text, id: item.Value };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {

                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    $(this).val(strProjectDesc);
                    //alert(this.id);
                    //var ID = this.id;
                    //var lastChar = ID[ID.length - 1];
                    $("#ddlTPIAgency2").val(ui.item.id);
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(this).focus();
                    //var ID = this.id;
                    //var lastChar = ID[ID.length - 1];
                    $("#ddlTPIAgency2").val('');
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);;
        });
    }

    function Close() {
        $("#OpenTPI").modal('hide');
    }

    $("#SelectAll").click(function () {
        $('input:checkbox').not(this).prop('checked', this.checked);
    });

    $("#btnTPI").click(function ()
    {

        $('#txtTPIAgency1').val('');
        $('#txtTPIAgency2').val('');
        $('#txtTPIAgency3').val('');
        $('#txtTPIAgency4').val('');
        $('#txtTPIAgency5').val('');
        $('#txtTPIAgency6').val('');

        $('#txtTPIAgency1').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency1').addClass("form-control ui-autocomplete-input");

        var RequestID = '';
        var HeaderID = '';
        var BU = '';
        var Location = '';
        var NewBU = '';
        var NewLocation = '';

        $("#tblHeader input[type=checkbox]:checked").each(function () {
            var row = $(this).closest("tr")[0];
            if (HeaderID == '' && BU == '' && Location == '' && RequestID == '') {
                RequestID += row.cells[3].innerHTML;
                HeaderID += row.cells[4].innerHTML;
                BU += row.cells[12].innerHTML;
                NewBU = BU.substr(0, BU.indexOf('-'));
                Location += row.cells[13].innerHTML;
                NewLocation = Location.substr(0, Location.indexOf('-'));
            }
            else {
                RequestID += ", " + row.cells[3].innerHTML;
                HeaderID += ", " + row.cells[4].innerHTML;
                BU += ", " + row.cells[12].innerHTML;
                var SplitBU = BU.split(", ");
                var LastValue = SplitBU[SplitBU.length - 1];
                NewBU += ", " + LastValue.substr(0, LastValue.indexOf('-'));
                Location += ", " + row.cells[13].innerHTML;
                var SplitLocation = Location.split(", ");
                var LastLocationValue = SplitLocation[SplitLocation.length - 1];
                NewLocation += ", " + LastLocationValue.substr(0, LastLocationValue.indexOf('-'));
            }
        });

        if (HeaderID == '') {
            //$('#spanCheckbox').addClass("error");
            DisplayNotiMessage("error", "Please Select Data", "Error");
        }
        else
        {
            if ('@ViewBag.Status' == "Pending")
            {
                $('#OpenTPI').modal();
                var term = '';
                var tpiAgency2 = $("#txtTPIAgency2").val();
                var tpiAgency3 = $("#txtTPIAgency3").val();
                var tpiAgency4 = $("#txtTPIAgency4").val();
                var tpiAgency5 = $("#txtTPIAgency5").val();
                var tpiAgency6 = $("#txtTPIAgency6").val();


                $("#txtTPIAgency1").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: WebsiteURL + "/IPI/Maintain/FillAutocompleteForTPICopy",
                            //url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/FillAutocompleteForTPI",
                            dataType: "json",
                            type: "POST",
                            delay: 250,
                            async: false,
                            data: {
                                term: term, bu: NewBU, location: NewLocation, isAgency: true, ID: RequestID, TPI1Agency: "", TPI2Agency: $("#txtTPIAgency2").val(), TPI3Agency: $("#txtTPIAgency3").val(), TPI4Agency: $("#txtTPIAgency4").val(), TPI5Agency: $("#txtTPIAgency5").val(), TPI6Agency: $("#txtTPIAgency6").val()},
                            success: function (data) {
                                var Data = data.d;
                                response($.map(data, function (item) {
                                    //alert(item.Text);
                                    //alert(item.Value);
                                    return { label: item.Text, value: item.Text, id: item.Value };
                                }));
                                if (data.length > 0)
                                {
                                    isSelected = true;
                                }
                                else {
                                    isSelected = false;
                                }
                            }
                        });
                    },
                    minLength: 0,
                    autoFocus: true,
                    select: function (event, ui) {
                        if (ui.item) {
                            isSelected = true;
                            var strProjectDesc = ui.item.value;
                            $(this).val(strProjectDesc);
                            //alert(this.id);
                            //var ID = this.id;
                            //var lastChar = ID[ID.length - 1];
                            $("#ddlTPIAgency1").val(ui.item.id);
                        }
                    },
                    change: function (event, ui) {
                        if (ui.item == null) {
                            isSelected = false;
                            $(this).val('');
                            $(this).focus();
                            //var ID = this.id;
                            //var lastChar = ID[ID.length - 1];
                            $("#ddlTPIAgency1").val('');
                        }
                    }
                }).on('focus', function (event) {
                    var self = this;
                    $(self).autocomplete("search", this.value);;
                });

                $("#txtTPIAgency2").autocomplete({
                    source: function (request, response)
                    {
                        var Tpi1 = $("#txtTPIAgency1").val();
                        $.ajax({
                            url: WebsiteURL + "/IPI/Maintain/FillAutocompleteForTPICopy",
                            //url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/FillAutocompleteForTPI",
                            dataType: "json",
                            type: "POST",
                            delay: 250,
                            async: false,
                            data: { term: term, bu: NewBU, location: NewLocation, isAgency: true, ID: RequestID, TPI1Agency: $("#txtTPIAgency1").val(), TPI2Agency: $("#txtTPIAgency2").val(), TPI3Agency: $("#txtTPIAgency3").val(), tpiAgency4: $("#txtTPIAgency4").val(), TPI5Agency: $("#txtTPIAgency5").val(), TPI6Agency: $("#txtTPIAgency6").val()},
                            success: function (data) {
                                var Data = data.d;
                                response($.map(data, function (item) {
                                    //alert(item.Text);
                                    //alert(item.Value);
                                    return { label: item.Text, value: item.Text, id: item.Value };
                                }));
                                if (data.length > 0) {
                                    isSelected = true;
                                }
                                else {
                                    isSelected = false;
                                }
                            }
                        });
                    },
                    minLength: 0,
                    autoFocus: true,
                    select: function (event, ui) {
                        if (ui.item) {

                            isSelected = true;
                            var strProjectDesc = ui.item.value;
                            $(this).val(strProjectDesc);
                            //alert(this.id);
                            //var ID = this.id;
                            //var lastChar = ID[ID.length - 1];
                            $("#ddlTPIAgency2").val(ui.item.id);
                        }
                    },
                    change: function (event, ui) {
                        if (ui.item == null) {
                            isSelected = false;
                            $(this).val('');
                            $(this).focus();
                            //var ID = this.id;
                            //var lastChar = ID[ID.length - 1];
                            $("#ddlTPIAgency2").val('');
                        }
                    }
                }).on('focus', function (event) {
                    var self = this;
                    $(self).autocomplete("search", this.value);;
                });

                $("#txtTPIAgency3").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: WebsiteURL + "/IPI/Maintain/FillAutocompleteForTPICopy",
                            //url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/FillAutocompleteForTPI",
                            dataType: "json",
                            type: "POST",
                            delay: 250,
                            async: false,
                            data: { term: term, bu: NewBU, location: NewLocation, isAgency: true, ID: RequestID, TPI1Agency: $("#txtTPIAgency1").val(), TPI2Agency: $("#txtTPIAgency2").val(), TPI3Agency: $("#txtTPIAgency3").val(), tpiAgency4: $("#txtTPIAgency4").val(), TPI5Agency: $("#txtTPIAgency5").val(), TPI6Agency: $("#txtTPIAgency6").val() },
                            success: function (data) {
                                var Data = data.d;
                                response($.map(data, function (item) {
                                    //alert(item.Text);
                                    //alert(item.Value);
                                    return { label: item.Text, value: item.Text, id: item.Value };
                                }));
                                if (data.length > 0) {
                                    isSelected = true;
                                }
                                else {
                                    isSelected = false;
                                }
                            }
                        });
                    },
                    minLength: 0,
                    autoFocus: true,
                    select: function (event, ui) {
                        if (ui.item) {

                            isSelected = true;
                            var strProjectDesc = ui.item.value;
                            $(this).val(strProjectDesc);
                            //alert(this.id);
                            //var ID = this.id;
                            //var lastChar = ID[ID.length - 1];
                            $("#ddlTPIAgency3").val(ui.item.id);
                        }
                    },
                    change: function (event, ui) {
                        if (ui.item == null) {
                            isSelected = false;
                            $(this).val('');
                            $(this).focus();
                            //var ID = this.id;
                            //var lastChar = ID[ID.length - 1];
                            $("#ddlTPIAgency3").val('');
                        }
                    }
                }).on('focus', function (event) {
                    var self = this;
                    $(self).autocomplete("search", this.value);;
                });

                $("#txtTPIAgency4").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                          url: WebsiteURL + "/IPI/Maintain/FillAutocompleteForTPICopy",
                            //url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/FillAutocompleteForTPI",
                            dataType: "json",
                            type: "POST",
                            delay: 250,
                            async: false,
                            data: { term: term, bu: NewBU, location: NewLocation, isAgency: true, ID: RequestID, TPI1Agency: $("#txtTPIAgency1").val(), TPI2Agency: $("#txtTPIAgency2").val(), TPI3Agency: $("#txtTPIAgency3").val(), tpiAgency4: $("#txtTPIAgency4").val(), TPI5Agency: $("#txtTPIAgency5").val(), TPI6Agency: $("#txtTPIAgency6").val() },
                            success: function (data) {
                                var Data = data.d;
                                response($.map(data, function (item) {
                                    //alert(item.Text);
                                    //alert(item.Value);
                                    return { label: item.Text, value: item.Text, id: item.Value };
                                }));
                                if (data.length > 0) {
                                    isSelected = true;
                                }
                                else {
                                    isSelected = false;
                                }
                            }
                        });
                    },
                    minLength: 0,
                    autoFocus: true,
                    select: function (event, ui) {
                        if (ui.item) {

                            isSelected = true;
                            var strProjectDesc = ui.item.value;
                            $(this).val(strProjectDesc);
                            //alert(this.id);
                            //var ID = this.id;
                            //var lastChar = ID[ID.length - 1];
                            $("#ddlTPIAgency4").val(ui.item.id);
                        }
                    },
                    change: function (event, ui) {
                        if (ui.item == null) {
                            isSelected = false;
                            $(this).val('');
                            $(this).focus();
                            //var ID = this.id;
                            //var lastChar = ID[ID.length - 1];
                            $("#ddlTPIAgency4").val('');
                        }
                    }
                }).on('focus', function (event) {
                    var self = this;
                    $(self).autocomplete("search", this.value);;
                });

                $("#txtTPIAgency5").autocomplete({

                    source: function (request, response) {

                        var data = $("#txtTPIAgency4").val();
                        $.ajax({
                           url: WebsiteURL + "/IPI/Maintain/FillAutocompleteForTPICopy",
                            //url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/FillAutocompleteForTPI",
                            dataType: "json",
                            type: "POST",
                            delay: 250,
                            async: false,
                            data: { term: term, bu: NewBU, location: NewLocation, isAgency: true, ID: RequestID, TPI1Agency: $("#txtTPIAgency1").val(), TPI2Agency: $("#txtTPIAgency2").val(), TPI3Agency: $("#txtTPIAgency3").val(), tpiAgency4: data, TPI5Agency: $("#txtTPIAgency5").val(), TPI6Agency: $("#txtTPIAgency6").val() },
                            success: function (data) {
                                var Data = data.d;
                                response($.map(data, function (item) {
                                    //alert(item.Text);
                                    //alert(item.Value);
                                    return { label: item.Text, value: item.Text, id: item.Value };
                                }));
                                if (data.length > 0) {
                                    isSelected = true;
                                }
                                else {
                                    isSelected = false;
                                }
                            }
                        });
                    },
                    minLength: 0,
                    autoFocus: true,
                    select: function (event, ui) {
                        if (ui.item) {

                            isSelected = true;
                            var strProjectDesc = ui.item.value;
                            $(this).val(strProjectDesc);
                            //alert(this.id);
                            //var ID = this.id;
                            //var lastChar = ID[ID.length - 1];
                            $("#ddlTPIAgency5").val(ui.item.id);
                        }
                    },
                    change: function (event, ui) {
                        if (ui.item == null) {
                            isSelected = false;
                            $(this).val('');
                            $(this).focus();
                            //var ID = this.id;
                            //var lastChar = ID[ID.length - 1];
                            $("#ddlTPIAgency5").val('');
                        }
                    }
                }).on('focus', function (event) {
                    var self = this;
                    $(self).autocomplete("search", this.value);;
                });

                $("#txtTPIAgency6").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: WebsiteURL + "/IPI/Maintain/FillAutocompleteForTPICopy",
                            //url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/FillAutocompleteForTPI",
                            dataType: "json",
                            type: "POST",
                            delay: 250,
                            async: false,
                            data: { term: term, bu: NewBU, location: NewLocation, isAgency: true, ID: RequestID, TPI1Agency: $("#txtTPIAgency1").val(), TPI2Agency: $("#txtTPIAgency2").val(), TPI3Agency: $("#txtTPIAgency3").val(), tpiAgency4: $("#txtTPIAgency4").val(), TPI5Agency: $("#txtTPIAgency5").val(), TPI6Agency: $("#txtTPIAgency6").val() },
                            success: function (data) {
                                var Data = data.d;
                                response($.map(data, function (item) {
                                    return { label: item.Text, value: item.Text, id: item.Value };
                                }));
                                if (data.length > 0) {
                                    isSelected = true;
                                }
                                else {
                                    isSelected = false;
                                }
                            }
                        });
                    },
                    minLength: 0,
                    autoFocus: true,
                    select: function (event, ui) {
                        if (ui.item) {

                            isSelected = true;
                            var strProjectDesc = ui.item.value;
                            $(this).val(strProjectDesc);
                            $("#ddlTPIAgency6").val(ui.item.id);
                        }
                    },
                    change: function (event, ui) {
                        if (ui.item == null) {
                            isSelected = false;
                            $(this).val('');
                            $(this).focus();
                            $("#ddlTPIAgency6").val('');
                        }
                    }
                }).on('focus', function (event) {
                    var self = this;
                    $(self).autocomplete("search", this.value);;
                });
            }


            else {
                var RequestID = '';
                $("#tblHeader input[type=checkbox]:checked").each(function () {
                    var row = $(this).closest("tr")[0];
                    if (RequestID == '') {
                        RequestID += row.cells[3].innerHTML;
                    }
                    else {
                        RequestID += ", " + row.cells[3].innerHTML;
                    }
                });
               // alert(RequestId);
                //SubmitData(RequestID);
                ReofferTPI(RequestID)
            }

        }
    });

    function SubmitData() {

        var RequestId = '';
        var _status = $("#Status").val();
        var _TPIAgency1 = $('#ddlTPIAgency1').val();
        var _TPIAgency2 = $('#ddlTPIAgency2').val();
        var _TPIAgency3 = $('#ddlTPIAgency3').val();
        var _TPIAgency4 = $('#ddlTPIAgency4').val();
        var _TPIAgency5 = $('#ddlTPIAgency5').val();
        var _TPIAgency6 = $('#ddlTPIAgency6').val();

        var Result = ValidateData();
        if (Result == true)
        {
            $("#tblHeader input[type=checkbox]:checked").each(function () {
            var row = $(this).closest("tr")[0];
                if (RequestId == '') {
                    RequestId += row.cells[3].innerHTML;
                }
                else {
                    RequestId += ", " + row.cells[3].innerHTML;
                }
            });

            $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/UpdateOfferTPI",
            type: "POST",
            async: false,
                data: { RequestId: RequestId, TPIAgency: _TPIAgency1, TPIAgency2: _TPIAgency2, TPIAgency3: _TPIAgency3, TPIAgency4: _TPIAgency4, TPIAgency5: _TPIAgency5, TPIAgency6: _TPIAgency6, Status: _status},
            success: function (data) {
                console.log(data);
                if ('@ViewBag.Status' == "Pending") {
                    DisplayNotiMessage("sucess", "Reoffer TPI Sucessfully", "Sucess");
                }

                $("#OpenTPI").modal('hide');
                //$('#tblHeader').columns.adjust();
                //BindGrid();
                var oTable = $('#tblHeader').DataTable();
                // to reload
                oTable.ajax.reload();
            }
            });
        }
    }

    function ValidateData() {
        var Return = true;
        var txtTPIAgency1 = $('#txtTPIAgency1').val();

        $('#txtTPIAgency1').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency1').addClass("form-control ui-autocomplete-input");

        if (txtTPIAgency1 == '') {
            $('#txtTPIAgency1').removeClass("form-control ui-autocomplete-input");
            $('#txtTPIAgency1').addClass("form-control ui-autocomplete-input error");
            Return = false;
        }
        return Return;
    }

    $("#btnSubmitQA").click(function () {
        var RequestId = '';
        var ProjectName = '';
        var StageCode = '';
        var SeamNo = '';

        $("#tblHeader input[type=checkbox]:checked").each(function () {
            var row = $(this).closest("tr")[0];
            if (RequestId == '') {
                RequestId += row.cells[3].innerHTML;
                ProjectName += row.cells[2].innerHTML;
                StageCode += row.cells[6].innerHTML;
                SeamNo += row.cells[5].innerHTML;
            }
            else {
                RequestId += ", " + row.cells[3].innerHTML;
                ProjectName += ", " + row.cells[2].innerHTML;
                StageCode += ", " + row.cells[6].innerHTML;
                SeamNo += ", " + row.cells[5].innerHTML;
            }
        });

        if (RequestId == '') {
            //$('#spanCheckbox').addClass("error");
            DisplayNotiMessage("error", "Please Select Data", "Error");
        }
        else {
            $.ajax({
                url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/UpdateSubmitQA",
                type: "POST",
                async: false,
                data: { RequestId: RequestId },
                success: function (data) {
                    console.log(data);
                    DisplayNotiMessage("success", "Success", "Submited To QA");
                    UploadFile(RequestId, ProjectName, StageCode, SeamNo);
                    var oTable = $('#tblHeader').DataTable();
                    oTable.ajax.reload();
                }
            });
        }
    });

    function GetReportType(RequestId, HeaderId, BU, Location) {
        var ReturnData = '';
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/GetReportType",
            type: "POST",
            async: false,
            data: { RequestId: RequestId, HeaderId: HeaderId, BU: BU, Location: Location },
            success: function (data) {
                console.log(data);
                ReturnData = data;
            }
        });
        return ReturnData;
    }

    function getInspectionagency(qproject) {
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/GetInspectionAgency",
            type: "POST",
            delay: 250,
            async: false,
            data: {
                qproject: qproject
            },
            success: function (data) {
                if (data != "" && data != null && data != undefined) {
                    var dat = data.split('#');
                    $("#PrintTPI1").val("");
                    $("#PrintTPI2").val("");
                    $("#PrintTPI3").val("");
                    if (dat[0] != undefined && dat[0] != "" && dat[0] != null) {
                        $("#PrintTPI1").val(dat[0]);
                    }
                    if (dat[1] != undefined && dat[1] != "" && dat[1] != null) {
                        $("#PrintTPI2").val(dat[1]);
                    }
                    if (dat[2] != undefined && dat[2] != "" && dat[2] != null) {
                        $("#PrintTPI3").val(dat[2]);
                    }
                }
            }
        });
    }

    function PrintReport(RequestId, HeaderId, BU, Location, QualityProject, SeamNo, InspectedOn, StageCode, StageSequence, TestResult, UserName, Protocoltype,SignUrl,Host) {

        $("#hdnRequestId").val(RequestId);
        $("#hdnHeaderId").val(HeaderId);
        $("#hdnBU").val(BU);
        $("#hdnLocation").val(Location);
        $("#hdnQualityProject").val(QualityProject);
        $("#hdnSeamNo").val(SeamNo);
        $("#hdnInspectedOn").val(InspectedOn);
        $("#hdnStageCode").val(StageCode);
        $("#hdnStageSequence").val(StageSequence);
        $("#hdnTestResult").val(TestResult);
        $("#hdnUserName").val(UserName);
        $("#hdnProtocoltype").val(Protocoltype);
        $("#hdnSignUrl").val(SignUrl);
        $("#hdnHost").val(Host);
          
        $("#TPIDateApproval").modal('show');
           
        //vahdnPSNO6r reporttype = '';
        //reporttype = GetReportType(RequestId, HeaderId, BU, Location);
        //getInspectionagency(QualityProject);

        //var NewLocation = Location.substr(0, Location.indexOf('-'));
        //var NewStageCode = StageCode.substr(0, StageCode.indexOf('-'));
        //var NewInspectedOn = moment(InspectedOn, 'DD/MM/YYYY HH:mm').format("YYYY-MM-DD");

        //if ($("#PrintTPI3").val() == '') {
        //    var TPI1 = $("#PrintTPI1").val();
        //    $("#PrintTPI3").val(TPI1);
        //}
        //var dat = [];
        //if (reporttype == 'Chemical') {
        //    url = "/IPI/QC/CHEMICAL_ANALYSIS_REPORT";
        //    dat.push({ Param: "Location", Value: NewLocation });
        //    dat.push({ Param: "QualityProject_f", Value: QualityProject });
        //    dat.push({ Param: "QualityProject_t", Value: QualityProject });
        //    dat.push({ Param: "SeamNo_f", Value: SeamNo });
        //    dat.push({ Param: "SeamNo_t", Value: SeamNo });
        //    dat.push({ Param: "InspectionDate_f", Value: NewInspectedOn });
        //    dat.push({ Param: "InspectionDate_t", Value: NewInspectedOn });
        //    dat.push({ Param: "StageCode_f", Value: NewStageCode });
        //    dat.push({ Param: "StageCode_t", Value: NewStageCode });
        //    dat.push({ Param: "Seqn_f", Value: StageSequence });
        //    dat.push({ Param: "Seqn_t", Value: StageSequence });
        //    dat.push({ Param: "WeldingProcess", Value: '' });
        //    dat.push({ Param: "SeamResult", Value: TestResult });
        //    dat.push({ Param: "TestInstrument", Value: '' });
        //    dat.push({ Param: "PrintBy", Value: UserName });
        //    dat.push({ Param: "InspectionRemark", Value: '' });
        //    dat.push({ Param: "PrintTPI1", Value: $("#PrintTPI1").val() });
        //    dat.push({ Param: "PrintTPI2", Value: $("#PrintTPI2").val() });
        //    dat.push({ Param: "PrintTPI3", Value: $("#PrintTPI3").val() });
        //}
        //else if (reporttype == 'Ferrite') {
        //    url = "/IPI/QC/FERRITE_REPORT";
        //    dat.push({ Param: "Location", Value: NewLocation });
        //    dat.push({ Param: "QualityProject_f", Value: QualityProject });
        //    dat.push({ Param: "QualityProject_t", Value: QualityProject });
        //    dat.push({ Param: "SeamNo_f", Value: SeamNo });
        //    dat.push({ Param: "SeamNo_t", Value: SeamNo });
        //    dat.push({ Param: "InspectionDate_f", Value: NewInspectedOn });
        //    dat.push({ Param: "InspectionDate_t", Value: NewInspectedOn });
        //    dat.push({ Param: "StageCode_f", Value: NewStageCode });
        //    dat.push({ Param: "StageCode_t", Value: NewStageCode });
        //    dat.push({ Param: "Seqn_f", Value: StageSequence });
        //    dat.push({ Param: "Seqn_t", Value: StageSequence });
        //    dat.push({ Param: "WeldingProcess", Value: '' });
        //    dat.push({ Param: "SeamResult", Value: TestResult });
        //    dat.push({ Param: "TestInstrument", Value: '' });
        //    dat.push({ Param: "PrintBy", Value: UserName });
        //    dat.push({ Param: "InspectionRemark", Value: '' });
        //    dat.push({ Param: "PrintTPI1", Value: $("#PrintTPI1").val() });
        //    dat.push({ Param: "PrintTPI2", Value: $("#PrintTPI2").val() });
        //    dat.push({ Param: "PrintTPI3", Value: $("#PrintTPI3").val() });
        //}
        //else if (reporttype == 'Hardness') {
        //    url = "/IPI/QC/HARDNESS_REPORT";
        //    dat.push({ Param: "Location", Value: NewLocation });
        //    dat.push({ Param: "QualityProject_f", Value: QualityProject });
        //    dat.push({ Param: "QualityProject_t", Value: QualityProject });
        //    dat.push({ Param: "SeamNo_f", Value: SeamNo });
        //    dat.push({ Param: "SeamNo_t", Value: SeamNo });
        //    dat.push({ Param: "InspectionDate_f", Value: NewInspectedOn });
        //    dat.push({ Param: "InspectionDate_t", Value: NewInspectedOn });
        //    dat.push({ Param: "StageCode_f", Value: NewStageCode });
        //    dat.push({ Param: "StageCode_t", Value: NewStageCode });
        //    dat.push({ Param: "Seqn_f", Value: StageSequence });
        //    dat.push({ Param: "Seqn_t", Value: StageSequence });
        //    dat.push({ Param: "SeamResult", Value: TestResult });
        //    dat.push({ Param: "TestInstrument", Value: '' });
        //    dat.push({ Param: "PrintBy", Value: UserName });
        //    dat.push({ Param: "InspectionRemark", Value: '' });
        //    dat.push({ Param: "PrintTPI1", Value: $("#PrintTPI1").val() });
        //    dat.push({ Param: "PrintTPI2", Value: $("#PrintTPI2").val() });
        //    dat.push({ Param: "PrintTPI3", Value: $("#PrintTPI3").val() });
        //}
        //else if (reporttype == 'PMI') {
        //    url = "/IPI/QC/PMI_TEST_REPORT";
        //    dat.push({ Param: "Location", Value: NewLocation });
        //    dat.push({ Param: "QualityProject_f", Value: QualityProject });
        //    dat.push({ Param: "QualityProject_t", Value: QualityProject });
        //    dat.push({ Param: "SeamNo_f", Value: SeamNo });
        //    dat.push({ Param: "SeamNo_t", Value: SeamNo });
        //    dat.push({ Param: "InspectionDate_f", Value: NewInspectedOn });
        //    dat.push({ Param: "InspectionDate_t", Value: NewInspectedOn });
        //    dat.push({ Param: "StageCode_f", Value: NewStageCode });
        //    dat.push({ Param: "StageCode_t", Value: NewStageCode });
        //    dat.push({ Param: "Seqn_f", Value: StageSequence });
        //    dat.push({ Param: "Seqn_t", Value: StageSequence });
        //    dat.push({ Param: "SeamResult", Value: TestResult });
        //    dat.push({ Param: "TestInstrument", Value: '' });
        //    dat.push({ Param: "PrintBy", Value: UserName });
        //    dat.push({ Param: "InspectionRemark", Value: '' });
        //    dat.push({ Param: "PrintTPI1", Value: $("#PrintTPI1").val() });
        //    dat.push({ Param: "PrintTPI2", Value: $("#PrintTPI2").val() });
        //    dat.push({ Param: "PrintTPI3", Value: $("#PrintTPI3").val() });
        //}
        //else {
        //    url = "/IPI/PROTOCOL/" + Protocoltype;
        //    dat.push({ Param: "HeaderId", Value: HeaderId });
        //    ShowReport(dat, url);
        //}
        //if (reporttype == 'Chemical' || reporttype == 'Ferrite' || reporttype == 'Hardness' || reporttype == 'PMI') {
        //    ShowReport(dat, url);
        //}
    }

    function GetProtocolData(RequestId) {
        var ReturnData = '';
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/GetProtocolData",
            type: "POST",
            async: false,
            data: { RequestId: RequestId},
            success: function (data) {
                console.log(data);
                ReturnData = data;
                if (ReturnData.includes('PROTOCOL')) {
                    $("#btnPrint").attr("href", ReturnData);
                }
                else {
                    $("#btnPrint").attr("onclick", ReturnData);
                }
            }
        });
        return ReturnData;
    }

    function UploadFile(RequestId, ProjectName, StageCode, SeamNo) {

        var ReturnData = false;
        @*var SplitRequestID = RequestId.split(", ");
        var SplitProjectName = ProjectName.split(", ");
        var SplitStageCode = StageCode.split(", ");
        for (var i = 0; i < SplitRequestID.length; i++) {
            var NewProjectName = SplitProjectName[i].substring(SplitProjectName[i].indexOf("-") + 1);
            var NewStageCode = SplitStageCode[i].substring(0, SplitStageCode[i].indexOf("-"));
            var displayButton = false;
            var UploadPath = "FinalMRB/" + NewProjectName + "/" + NewStageCode + "/" + SeamNo;
            var objAttachmentUpload = new FileUploadEnt('dv@(AttachmentUpload)', '@AttachmentUpload');
            objAttachmentUpload.ShowDeleteAction = displayButton;
            objAttachmentUpload.ShowAttachmentBtn = displayButton;
            objAttachmentUpload.FolderPath = UploadPath;
            objAttachmentUpload.IsRequired = displayButton;
            objAttachmentUpload.ShowUploadBtn = false;
            //objAttachmentUpload.SuccessCallbackFunction = "fnUploadCallback()";
            //LoadFileUploadPartialView(objAttachmentUpload);
            UpdateFolderPathAndSave@(AttachmentUpload)(UploadPath);
            ReturnData = true;
        }*@
        GetUploadData(RequestId);
        return ReturnData;
    }

    function GetUploadData(RequestId) {
        var ReturnData = '';
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/GetUploadData",
            type: "POST",
            async: false,
            data: { RequestId: RequestId },
            success: function (data) {
                console.log(data);
                ReturnData = data;
            }
        });
        return ReturnData;
    }

    function LoadMultiSelectTestinstrumentwithCheckbox(url, objControl, caption, param, isDestroy, selected) {

        if (isDestroy != false) {
            objControl.multiselect('destroy');
        }
        $.ajax({
            url: WebsiteURL + url,
            type: "POST",
            data: param,
            async: false,
            dataType: "json",
            success: function (data) {

                var ischeckselected = false;
                var option = "";

                if (selected != undefined && selected != null && selected != "") {
                    var selectedoption = selected.split(",");
                    ischeckselected = true;
                }
                $.each(data, function (index, object) {
                    if (ischeckselected) {
                        if (selectedoption.indexOf(object.id) > -1) {
                            option += "<option value='" + object.id + "' selected='selected'>" + object.text + "</option>";
                        }
                        else {
                            option += "<option value='" + object.id + "' >" + object.text + "</option>"
                        }
                    }
                    else {

                        var testInstrument = isDestroy;
                        if (!(testInstrument == "" || testInstrument == undefined)) {
                            var dt2 = testInstrument.split(",");

                            var selectStatus = false;
                            for (var i = 0; i < dt2.length; i++) {
                                if (dt2[i] == object.text) {
                                    option += "<option value='" + object.id + "' selected>" + object.text + "</option>";
                                    selectStatus = true;

                                }
                            }
                            if (selectStatus == false) {
                                option += "<option value='" + object.id + "'>" + object.text + "</option>";
                            }

                        }
                        else {
                            option += "<option value='" + object.id + "'>" + object.text + "</option>";
                        }


                    }
                });
                objControl.html(option);
                objControl.multiselect({
                    placeholder: caption,
                    search: true,
                    enableFiltering: true,
                    enableCaseInsensitiveFiltering: true,
                    includeSelectAllOption: true,
                });

                if (data.length == 0) {
                    objControl.multiselect("disable");
                }
            }
        })
    };

    function Close() {
        $("#TPIDateApproval").modal('hide');
    }

    function PrintReportData() {

        //Get signURL from Config

        var RequestId = $("#hdnRequestId").val();
        var HeaderId =  $("#hdnHeaderId").val();
        var BU =        $("#hdnBU").val();
        var Location =  $("#hdnLocation").val();
        var QualityProject = $("#hdnQualityProject").val();
        var SeamNo = $("#hdnSeamNo").val();
        var InspectedOn = $("#hdnInspectedOn").val();
        var StageCode = $("#hdnStageCode").val();
        var StageSequence = $("#hdnStageSequence").val();
        var TestResult = $("#hdnTestResult").val();
        var UserName = $("#hdnUserName").val();
        var Protocoltype = $("#hdnProtocoltype").val();
        var DateApproval = $("#DateApproval").val();
        var SignUrl = $("#hdnSignUrl").val();
        var HostName = $("#hdnHost").val();
      


        var reporttype = '';
        reporttype = GetReportType(RequestId, HeaderId, BU, Location);
        getInspectionagency(QualityProject);

        getTPIAgencyPSNO(RequestId);
        debugger;
        var _TPIAgency1PSNO = $("#hdnPSNO1").val();
        var _TPIAgency2PSNO = $("#hdnPSNO2").val();
        var _TPIAgency3PSNO = $("#hdnPSNO3").val();
        var _TPIAgency4PSNO = $("#hdnPSNO4").val();
        var _TPIAgency5PSNO = $("#hdnPSNO5").val();
        var _TPIAgency6PSNO = $("#hdnPSNO6").val();

        var NewLocation = Location.substr(0, Location.indexOf('-'));
        var NewStageCode = StageCode.substr(0, StageCode.indexOf('-'));
        var NewInspectedOn = moment(InspectedOn, 'DD/MM/YYYY HH:mm').format("YYYY-MM-DD");

        if ($("#PrintTPI3").val() == '') {
            var TPI1 = $("#PrintTPI1").val();
            $("#PrintTPI3").val(TPI1);
        }
        var dat = [];
        if (reporttype == 'Chemical') {
            url = "/IPI/QC/CHEMICAL_ANALYSIS_REPORT";
            dat.push({ Param: "Location", Value: NewLocation });
            dat.push({ Param: "QualityProject_f", Value: QualityProject });
            dat.push({ Param: "QualityProject_t", Value: QualityProject });
            dat.push({ Param: "SeamNo_f", Value: SeamNo });
            dat.push({ Param: "SeamNo_t", Value: SeamNo });
            dat.push({ Param: "InspectionDate_f", Value: NewInspectedOn });
            dat.push({ Param: "InspectionDate_t", Value: NewInspectedOn });
            dat.push({ Param: "StageCode_f", Value: NewStageCode });
            dat.push({ Param: "StageCode_t", Value: NewStageCode });
            dat.push({ Param: "Seqn_f", Value: StageSequence });
            dat.push({ Param: "Seqn_t", Value: StageSequence });
            dat.push({ Param: "WeldingProcess", Value: '' });
            dat.push({ Param: "SeamResult", Value: TestResult });
            dat.push({ Param: "TestInstrument", Value: '' });
            dat.push({ Param: "PrintBy", Value: UserName });
            dat.push({ Param: "InspectionRemark", Value: '' });
            dat.push({ Param: "PrintTPI1", Value: $("#PrintTPI1").val() });
            dat.push({ Param: "PrintTPI2", Value: $("#PrintTPI2").val() });
            dat.push({ Param: "PrintTPI3", Value: $("#PrintTPI3").val() });
            dat.push({ Param: "RequestId", Value: RequestId });
            dat.push({ Param: "TPIDateApproval", Value: DateApproval });
            dat.push({ Param: "SignURL", Value: SignUrl });
            dat.push({ Param: "PageCount", Value: "0" });
            dat.push({ Param: "TotalPage", Value: "" });
        }
        else if (reporttype == 'Ferrite') {
            url = "/IPI/QC/FERRITE_REPORT";
           // url = "/IPI/QC/FERRITE_REPORT1";
            dat.push({ Param: "Location", Value: NewLocation });
            dat.push({ Param: "QualityProject_f", Value: QualityProject });
            dat.push({ Param: "QualityProject_t", Value: QualityProject });
            dat.push({ Param: "SeamNo_f", Value: SeamNo });
            dat.push({ Param: "SeamNo_t", Value: SeamNo });
            dat.push({ Param: "InspectionDate_f", Value: NewInspectedOn });
            dat.push({ Param: "InspectionDate_t", Value: NewInspectedOn });
            dat.push({ Param: "StageCode_f", Value: NewStageCode });
            dat.push({ Param: "StageCode_t", Value: NewStageCode });
            dat.push({ Param: "Seqn_f", Value: StageSequence });
            dat.push({ Param: "Seqn_t", Value: StageSequence });
            dat.push({ Param: "WeldingProcess", Value: '' });
            dat.push({ Param: "SeamResult", Value: TestResult });
            dat.push({ Param: "TestInstrument", Value: '' });
            dat.push({ Param: "PrintBy", Value: UserName });
            dat.push({ Param: "InspectionRemark", Value: '' });
            dat.push({ Param: "PrintTPI1", Value: $("#PrintTPI1").val() });
            dat.push({ Param: "PrintTPI2", Value: $("#PrintTPI2").val() });
            dat.push({ Param: "PrintTPI3", Value: $("#PrintTPI3").val() });
            dat.push({ Param: "RequestId", Value: RequestId });
            dat.push({ Param: "TPIDateApproval", Value: DateApproval });
            dat.push({ Param: "SignURL", Value: SignUrl });
            dat.push({ Param: "PageCount", Value: "0" }); 
            dat.push({ Param: "TotalPage", Value: "" });
            //dat.push({ Param: "Host", Value: HostName });
            //dat.push({ Param: "TPIAgency1PSNO", Value:   _TPIAgency1PSNO });
            //dat.push({ Param: "TPIAgency2PSNO ", Value:  _TPIAgency2PSNO });
            //dat.push({ Param: "TPIAgency3PSNO ", Value:  _TPIAgency3PSNO });
            //dat.push({ Param: "TPIAgency4PSNO ", Value:  _TPIAgency4PSNO });
            //dat.push({ Param: "TPIAgency5PSNO ", Value:  _TPIAgency5PSNO });
            //dat.push({ Param: "TPIAgency6PSNO ", Value:  _TPIAgency6PSNO });
        }
        else if (reporttype == 'Hardness') {
            url = "/IPI/QC/HARDNESS_REPORT";
            dat.push({ Param: "Location", Value: NewLocation });
            dat.push({ Param: "QualityProject_f", Value: QualityProject });
            dat.push({ Param: "QualityProject_t", Value: QualityProject });
            dat.push({ Param: "SeamNo_f", Value: SeamNo });
            dat.push({ Param: "SeamNo_t", Value: SeamNo });
            dat.push({ Param: "InspectionDate_f", Value: NewInspectedOn });
            dat.push({ Param: "InspectionDate_t", Value: NewInspectedOn });
            dat.push({ Param: "StageCode_f", Value: NewStageCode });
            dat.push({ Param: "StageCode_t", Value: NewStageCode });
            dat.push({ Param: "Seqn_f", Value: StageSequence });
            dat.push({ Param: "Seqn_t", Value: StageSequence });
            dat.push({ Param: "SeamResult", Value: TestResult });
            dat.push({ Param: "TestInstrument", Value: '' });
            dat.push({ Param: "PrintBy", Value: UserName });
            dat.push({ Param: "InspectionRemark", Value: '' });
            dat.push({ Param: "PrintTPI1", Value: $("#PrintTPI1").val() });
            dat.push({ Param: "PrintTPI2", Value: $("#PrintTPI2").val() });
            dat.push({ Param: "PrintTPI3", Value: $("#PrintTPI3").val() });
            dat.push({ Param: "RequestId", Value: RequestId });
            dat.push({ Param: "TPIDateApproval", Value: DateApproval });
            dat.push({ Param: "SignURL", Value: SignUrl });
            dat.push({ Param: "PageCount", Value: "0" });
            dat.push({ Param: "TotalPage", Value: "" });
        }
        else if (reporttype == 'PMI') {
            url = "/IPI/QC/PMI_TEST_REPORT";
            dat.push({ Param: "Location", Value: NewLocation });
            dat.push({ Param: "QualityProject_f", Value: QualityProject });
            dat.push({ Param: "QualityProject_t", Value: QualityProject });
            dat.push({ Param: "SeamNo_f", Value: SeamNo });
            dat.push({ Param: "SeamNo_t", Value: SeamNo });
            dat.push({ Param: "InspectionDate_f", Value: NewInspectedOn });
            dat.push({ Param: "InspectionDate_t", Value: NewInspectedOn });
            dat.push({ Param: "StageCode_f", Value: NewStageCode });
            dat.push({ Param: "StageCode_t", Value: NewStageCode });
            dat.push({ Param: "Seqn_f", Value: StageSequence });
            dat.push({ Param: "Seqn_t", Value: StageSequence });
            dat.push({ Param: "SeamResult", Value: TestResult });
            dat.push({ Param: "TestInstrument", Value: '' });
            dat.push({ Param: "PrintBy", Value: UserName });
            dat.push({ Param: "InspectionRemark", Value: '' });
            dat.push({ Param: "PrintTPI1", Value: $("#PrintTPI1").val() });
            dat.push({ Param: "PrintTPI2", Value: $("#PrintTPI2").val() });
            dat.push({ Param: "PrintTPI3", Value: $("#PrintTPI3").val() });
            dat.push({ Param: "RequestId", Value: RequestId });
            dat.push({ Param: "TPIDateApproval", Value: DateApproval });
            dat.push({ Param: "SignURL", Value: SignUrl });
            dat.push({ Param: "PageCount", Value: "0" });
            dat.push({ Param: "TotalPage", Value: "" });

        }
        else {
            url = "/IPI/PROTOCOL/" + Protocoltype;
            dat.push({ Param: "HeaderId", Value: HeaderId });
            //dat.push({ Param: "RequestId", Value: RequestId });
            //dat.push({ Param: "TPIDateApproval", Value: DateApproval });
            //dat.push({ Param: "SignURL", Value: SignUrl });
            ShowReport(dat, url);
        }
        if (reporttype == 'Chemical' || reporttype == 'Ferrite' || reporttype == 'Hardness' || reporttype == 'PMI') {
            ShowReport(dat, url);
        }
    }

    function CloseTPI() {
        $("#OpenTPI").modal('hide');
    }

    function ReofferTPI(RequestId)
    {

        var RequestId = RequestId;
        var _TPIAgency1 = $('#ddlTPIAgency1').val();
        var _TPIAgency2 = $('#ddlTPIAgency2').val();
        var _TPIAgency3 = $('#ddlTPIAgency3').val();
        var _TPIAgency4 = $('#ddlTPIAgency4').val();
        var _TPIAgency5 = $('#ddlTPIAgency5').val();
        var _TPIAgency6 = $('#ddlTPIAgency6').val();


            $("#tblHeader input[type=checkbox]:checked").each(function () {
            var row = $(this).closest("tr")[0];
                if (RequestId == '') {
                    RequestId += row.cells[3].innerHTML;
                }
                else {
                    RequestId += ", " + row.cells[3].innerHTML;
                }
            });

            $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/UpdateOfferTPI",
            type: "POST",
            async: false,
                data: { RequestId: RequestId, TPIAgency: _TPIAgency1, TPIAgency2: _TPIAgency2, TPIAgency3: _TPIAgency3, TPIAgency4: _TPIAgency4, TPIAgency5: _TPIAgency5, TPIAgency6: _TPIAgency6},
                success: function (data)
                {
                console.log(data);
                if ('@ViewBag.Status' == "Pending") {
                    DisplayNotiMessage("sucess", "Reoffer TPI Sucessfully", "Sucess");
                }

                $("#OpenTPI").modal('hide');
                //$('#tblHeader').columns.adjust();
                //BindGrid();
                var oTable = $('#tblHeader').DataTable();
                // to reload
                oTable.ajax.reload();
            }
            });

    }

    function getTPIAgencyPSNO(RequestId) {
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/GetTPIAgencyPSNO",
            type: "POST",
            delay: 250,
            async: false,
            data: {
                RequestId: RequestId
            },
            success: function (data)
            {
                
                if (data != "" && data != null && data != undefined)
                {
                    
                    $("#hdnPSNO1").val(data.Data[0].TPIAgency1PSNO);
                    $("#hdnPSNO2").val(data.Data[0].TPIAgency2PSNO);
                    $("#hdnPSNO3").val(data.Data[0].TPIAgency3PSNO);
                    $("#hdnPSNO4").val(data.Data[0].TPIAgency4PSNO);
                    $("#hdnPSNO5").val(data.Data[0].TPIAgency5PSNO);
                    $("#hdnPSNO6").val(data.Data[0].TPIAgency6PSNO);

                }
            }
        });
    }
</script>





