﻿<script>
    var qualityProject = "";
    var stages = "";
    $(document).ready(function () {
        $('input[maxlength]').maxlength({ alwaysShow: true, });
        var lstQualityProject = JSON.parse('@Html.Raw(ViewBag.lstQualityProject)');
        FillAutoComplete($("#txtQualityProject"), lstQualityProject, $("#hdnQualityProject"));
        var lstStages = JSON.parse('@Html.Raw(ViewBag.lstStages)');
        FillAutoComplete($("#txtStages"), lstStages, $("#hdnStages"));
        $('#frmGrpClearance').validate({
            rules: {
                txtGroupQCRemarks: {
                    required: true
                }
            },
            messages: {
                txtGroupQCRemarks: {
                    required: "QC Remarks is required"
                }
            }
        });
        $('#tblSeamlist').dataTable({
            "lengthMenu": [
                 [50, 100],
                 [50, 100]
            ],
            "pageLength": 50,
            'iDisplayLength': 50,
        });
    });
    $("#btnView").click(function () {
        if ($("#hdnQualityProject").val() != "" && $("#hdnQualityProject").val() != null && $("#hdnStages").val() != "" && $("#hdnStages").val() != null) {
            qualityProject = $("#hdnQualityProject").val()
            stages = $("#hdnStages").val()

            var table = $('#tblSeamlist');
            var oTable = table.dataTable({
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "bDestroy": true,
                "bProcessing": true,
                "bServerSide": true,
                "stateSave": false,
                buttons: [],
                responsive: true,
                "order": [
                    [0, 'asc']
                ],
                "lengthMenu": [
                 [50, 100],
                 [50, 100]
                ],
                "pageLength": 50,
                'iDisplayLength': 50,
                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                "sAjaxSource": WebsiteURL + "/IPI/MaintainSeamListOfferInspection/loadSeamListGroupClearanceDataTable?qualityProject=" + qualityProject + "&stageCode=" + stages,
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "type", "value": "sdf" });
                },
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        'dataType': 'json',
                        'type': 'POST',
                        'url': sSource,
                        'data': aoData,
                        'success': function (data) {
                            fnCallback(data);
                            $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                            $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);
                        },
                    });
                },
                "aoColumns": [
                    {
                        'targets': 0,
                        "bSortable": false,
                        "sClass": "center",
                        'render': function (data, type, full, meta) {
                            return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                        }
                    },
                    {
                        "sClass": "center",
                        "bSortable": true,
                        "name": "QualityProject"
                    },
                    {
                        "sClass": "center",
                        "bSortable": true,
                        "name": "Project"
                    },
                    {
                        "sClass": "hide",
                    },
                    {
                        "sClass": "hide",
                    },
                    {
                        "bSortable": true,
                        "sClass": "center",
                        "name": "SeamNo"
                    },
                    {
                        "bSortable": true,
                        "sClass": "center",
                        "name": "StageCode"
                    },
                    {
                        "sClass": "center",
                    },
                    {
                        "sClass": "center",
                    },
                    {
                        "sClass": "center",
                    },
                    {
                        "sClass": "center",
                    },
                    {
                        "sClass": "center",
                    },
                    {
                        "sClass": "center",
                    },
                    {
                        "sClass": "center",
                    },
                    {
                        "sClass": "center",
                    },
                    {
                        "sClass": "center",
                    },
                    {
                        "sClass": "center",
                    },
                    {
                        "sClass": "center",
                    },
                    {
                        "sClass": "center",
                    },
                    {
                        "sClass": "center",
                    },
                    {
                        "sClass": "center",
                    },
                    {
                        "sClass": "center",
                    },
                    {
                        "sClass": "center",
                    },
                    {
                         "sClass": "center",
                     },
                ]
            });

            $('#example-select-all').on('click', function () {
                var rows = oTable.api().rows({ 'search': 'applied' }).nodes();
                $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
            });
            $('#tblSeamlist tbody').on('change', 'input[type="checkbox"]', function () {
                if (!this.checked) {
                    var el = $('#example-select-all').get(0);
                    if (el && el.checked && ('indeterminate' in el)) {
                        el.indeterminate = true;
                    }
                }
            });

        }
        else {
            DisplayNotiMessage("error", "Please select Quality Project & Stages", "Error");
        }
    });

</script>

<div class="row" style="width:100%">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <form id="frmGrpClearance" class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">Quality Project<span class="required">*</span></label>
                        <div class="">
                            <input type="text" id="txtQualityProject" class="form-control col-md-3" />
                            <input type="hidden" id="hdnQualityProject" class="form-control col-md-3" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Stages<span class="required">*</span></label>
                        <div class="">
                            <input type="text" id="txtStages" class="form-control col-md-3" />
                            <input type="hidden" id="hdnStages" class="form-control col-md-3" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="control-label"></label>
                        <div style="float:right;margin-top:28px;">
                            <input type="button" name="btnView" id="btnView" class="btn save" value="View" />
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <hr />
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Stage List
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblSeamlist" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th class="all">Quality Project</th>
                            <th class="all">Project</th>
                            <th style="display:none;">Request Id</th>
                            <th style="display:none;">Header Id</th>
                            <th class="all">Seam No</th>
                            <th class="all">Stages</th>
                            <th class="all">Seq. No</th>
                            <th class="all">Itrn.</th>
                            <th class="all">Test Result</th>
                            <th class="all">Offered By</th>
                            <th class="all">Offered On</th>
                            <th class="none">BU</th>
                            <th class="none">Location</th>
                            <th class="none">Request No</th>
                            <th class="none">Request Seq. No</th>
                            <th class="none">Inspected By</th>
                            <th class="none">Inspected On</th>
                            <th class="none">QC Remarks</th>
                            <th class="none">Offered to Customer By</th>
                            <th class="none">Offered to Customer On</th>
                            <th class="none">Shop</th>
                            <th class="none">Shop Location</th>
                            <th class="none">Shop Remark</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-12">
                    <label class="control-label">QC Remarks<span class="required">*</span></label>
                    <div class="">
                        <input type="text" id="txtGroupQCRemarks" name="txtGroupQCRemarks" maxlength="100" class="form-control col-md-3" />
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
