﻿@model IEMQS.Areas.IPI.Models.SeamListSendOffer
@{
    string AttachmentUpload = "fuAttachmentUpload";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script>
    var qualityProject = "";
    var stages = "";
    var IsStageDepartment = false;
    $(document).ready(function () {

        $('input[maxlength]').maxlength({ alwaysShow: true, });
        var lstQualityProject = JSON.parse('@Html.Raw(ViewBag.lstQualityProject)');
        FillAutoComplete($("#txtQualityProject"), lstQualityProject, $("#hdnQualityProject"));
        var lstStages = JSON.parse('@Html.Raw(ViewBag.lstStages)');
        FillAutoComplete($("#txtStages"), lstStages, $("#hdnStages"));
        $('#frmSeamListGroupOffer').validate({
            rules: {
                txtShop: {
                    required: true
                },
                Location: {
                    required: true
                },
                txtSurfaceCondition: {
                    required: {
                        depends: function () {
                            if ($("#IsSTAGEDEPARTMENTNDE").val() == "true") {
                                return true;
                            }
                        }
                    }
                },
                WeldThicknessReinforcement: {
                    required: {
                        depends: function () {
                            if ($("#IsSTAGEDEPARTMENTNDE").val() == "true" && $("#IsWelderApplicable").val() == "true" && $("#IsPTMTApplicable").val() == "false") {
                                return true;
                            }
                        },
                    }
                }
            },
            messages: {
                txtShop: {
                    required: "Shop is required"
                },
                Location: {
                    required: "Shop Location is required",
                },
                txtSurfaceCondition: {
                    required: "Surface Condition is required",
                },
                WeldThicknessReinforcement: {
                    required: "Weld Thickness Reinforcement is required",
                }
            }
        });
        $('#WeldThicknessReinforcement').autoNumeric('init', { vMin: '0', vMax: '9999', aSep: '' });

        @*var objAttachmentUpload = new FileUploadEnt('dv@(AttachmentUpload)', '@AttachmentUpload');
        objAttachmentUpload.ShowDeleteAction = true;
        objAttachmentUpload.ShowAttachmentBtn = true;
        objAttachmentUpload.FolderPath = "";
        objAttachmentUpload.ShowUploadBtn = false;
        objAttachmentUpload.IsRequired = false;
        objAttachmentUpload.OtherFolderPath = ''
        objAttachmentUpload.SuccessCallbackFunction = "fnSuccessCallback()";

        LoadFileUploadPartialView(objAttachmentUpload);*@

        var objFile = {
            TableName: 'TEMP',
            TableId: 0,
            Path: 'TEMP//1',
            ControlID: '@(AttachmentUpload)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: true,
            ShowDownloadBtn: true,
            ShowAttachmentBtn: true,
            SuccessCallbackFunction: "fnSuccessCallbackGroup()",
            IsRequired: false
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(AttachmentUpload)', false);

    });

    function fnSuccessCallbackGroup() {
        if (arrayReqNos.length > 0) {
            console.log('Array length : ' + arrayReqNos.length);
            console.log('Array : ' + arrayReqNos);
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/Utility/FileUpload/DynamicFolderPathCopyFilesToOtherFolder",
                datatype: 'json',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: { FolderPathWithCommaSeprated: arrayReqNos, TableName: folderpath, TableId: vTabId, ViewerId: 1 },
                success: function (result) {
                    console.log('successfully files moves.');
                }
            });
        }
        bootbox.hideAll();
        $('#tblHeader').DataTable().ajax.reload();
    }

    $("#btnView").click(function () {
        if ($("#hdnQualityProject").val() != "" && $("#hdnQualityProject").val() != null && $("#hdnStages").val() != "" && $("#hdnStages").val() != null) {
            qualityProject = $("#hdnQualityProject").val()
            stages = $("#hdnStages").val()

            var table = $('#tblSeamlist');
            var oTable = table.dataTable({
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "bDestroy": true,
                "bProcessing": true,
                "bServerSide": true,
                "stateSave": false,
                buttons: [],
                responsive: true,
                "order": [
                    [0, 'asc']
                ],
                "lengthMenu": [
                    [1000],
                    [1000]
                ],
                "pageLength": 1000,
                "scrollY": "50vh",
                "scrollCollapse": true,
                'iDisplayLength': 1000,
                "bPaginate": false,
                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                "sAjaxSource": WebsiteURL + "/IPI/MaintainSeamListOfferInspection/loadSeamListGroupOfferDataTable?qualityProject=" + qualityProject + "&stageCode=" + stages,
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "type", "value": "sdf" });
                },
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        'dataType': 'json',
                        'type': 'POST',
                        'url': sSource,
                        'data': aoData,
                        'success': function (data) {
                            fnCallback(data);
                            $("#IsProtocolApplicable").val(data.protocolAppplicable);
                            if (data.IsSTAGEDEPARTMENTNDE) {
                                $(".clsNDE").show();
                                if (data.IsWelderApplicable == false || data.IsPTMTApplicable == true) {
                                    $('#spnReinforcement').hide(); $('#WeldThicknessReinforcement').attr("disabled", "disabled");
                                }
                            }
                            else {
                                $(".clsNDE").hide();
                            }
                            $("#IsSTAGEDEPARTMENTNDE").val(data.IsSTAGEDEPARTMENTNDE);
                            $("#IsWelderApplicable").val(data.IsWelderApplicable);
                            $("#IsPTMTApplicable").val(data.IsPTMTApplicable);
                            $("#txtShop").val('');
                            $("#Shop").val('');
                            var lstCategoryModel = JSON.parse(data.lstSubCatagories);
                            FillAutoComplete($("#txtShop"), lstCategoryModel, $("#Shop"));

                            if (data.SurfaceCondition != null && data.SurfaceCondition != "") {
                                $("#txtSurfaceCondition").val(data.SurfaceCondition);
                                $("#SurfaceCondition").val(data.SurfaceConditionCode);
                                $("#txtSurfaceCondition").prop('disabled', true);
                            } else {
                                var lstSurfaceCondition = JSON.parse(data.lstSurfaceCondition);
                                FillAutoComplete($("#txtSurfaceCondition"), lstSurfaceCondition, $("#SurfaceCondition"));
                            }
                        },
                    });
                },
                "aoColumns": [
                    {
                        'targets': 0,
                        "bSortable": false,
                        "sClass": "center",
                        'render': function (data, type, full, meta) {
                            return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                        }
                    },
                    {
                        "sClass": "center",
                        "bSortable": true,
                        "name": "QualityProject"
                    },
                    {
                        "sClass": "center",
                        "name": "SeamNo"
                    },
                    {
                        "sClass": "center",
                        "name": "StageCode"
                    },
                    {
                        "sClass": "center",
                        "name": "StageSequence"
                    },
                    {
                        "sClass": "hide clsheaderid",
                        "name": "headerid"
                    }
                ]
            });

            $('#example-select-all').on('click', function () {
                var rows = oTable.api().rows({ 'search': 'applied' }).nodes();
                $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
                setUploadFolderPath();
            });
            $('#tblSeamlist tbody').on('change', 'input[type="checkbox"]', function () {
                if (!this.checked) {
                    var el = $('#example-select-all').get(0);
                    if (el && el.checked && ('indeterminate' in el)) {
                        el.indeterminate = true;
                    }
                }
                setUploadFolderPath();
            });

        }
        else {
            DisplayNotiMessage("error", "Please select Quality Project & Stages", "Error");
        }
    });

    var arrayReqNos = new Array();
    var folderpath = "";
    var vTabId = 0;

    function setUploadFolderPath() {
        arrayReqNos = new Array();
        folderpath = "";

        $('input[class="clsCheckbox"]', $('#tblSeamlist')).each(function () {

            var folder_path = "";
            if ($("#IsSTAGEDEPARTMENTNDE").val() == "true") {
                folder_path = 'QMS060//' + $(this).closest('tr').find('.clsheaderid').html() + "//1//1";
                if (vTabId == 0 && this.checked) {
                    vTabId = $(this).closest('tr').find('.clsheaderid').html();
                    $("#hdn_TabId").val(vTabId);
                }
            }
            else {
                folder_path = 'QMS050//' + $(this).closest('tr').find('.clsheaderid').html() + "//1//1";
                if (vTabId == 0 && this.checked) {
                    vTabId = $(this).closest('tr').find('.clsheaderid').html();
                    $("#hdn_TabId").val(vTabId);
                }
            }

            if (this.checked) {
                arrayReqNos.push(folder_path);
            }
        });
        
        if (arrayReqNos.length > 0) {
            $('#dv@(AttachmentUpload)').show();
            $('.folderpath', '#@AttachmentUpload').val(arrayReqNos[0]);
            folderpath = arrayReqNos[0];
            $("#hdn_Folderpath").val(folderpath);
            //vTabId = str[0];
            arrayReqNos.shift();
            if (arrayReqNos.length > 0)
                $('.otherfolderpath', '#@AttachmentUpload').val(arrayReqNos.join(','));

        } else {
            $('.folderpath', '#@AttachmentUpload').val('');
            $('.otherfolderpath', '#@AttachmentUpload').val('')
            $('#dv@(AttachmentUpload)').hide();
        }
    }
</script>

<div class="row" style="width:100%">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        @*<form id="frmGrpOffer" class="form-horizontal">*@
        <fieldset>
            <legend>
                Quality Project & Stage Details
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">Quality Project<span class="required">*</span></label>
                        <div class="">
                            <input type="text" id="txtQualityProject" class="form-control col-md-3" />
                            <input type="hidden" id="hdnQualityProject" class="form-control col-md-3" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Stages<span class="required">*</span></label>
                        <div class="">
                            <input type="text" id="txtStages" class="form-control col-md-3" />
                            <input type="hidden" id="hdnStages" class="form-control col-md-3" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="control-label"></label>
                        <div style="float:right;margin-top:28px;">
                            <input type="button" name="btnView" id="btnView" class="btn save" value="View" />
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <hr />
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Stage List
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblSeamlist" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th class="all">Quality Project</th>
                            <th class="all">Seam No</th>
                            <th class="all">Stages</th>
                            <th class="all">Sequence</th>
                            <th class="hide">headerid</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        @*</form>*@
    </div>
    <div class="col-md-12">
        <form id="frmSeamListGroupOffer" class="form-horizontal">
            @Html.Hidden("IsProtocolApplicable")
            @Html.Hidden("IsSTAGEDEPARTMENTNDE")
            @Html.Hidden("IsWelderApplicable")
            @Html.Hidden("IsPTMTApplicable")
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Shop<span class="required">*</span></label>
                    <div class="">
                        <input type="text" id="txtShop" name="txtShop" class="form-control col-md-3" />
                        @Html.HiddenFor(m => m.Shop)
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Shop Location<span class="required">*</span></label>
                    <div class="">
                        @Html.TextBoxFor(m => m.Location, new { @id = "sLocation", @class = "form-control col-md-3", @maxlength = "10" })
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Shop Remark</label>
                    @Html.TextAreaFor(m => m.ShopRemark, new { @class = "form-control col-md-3", @maxlength = "100" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 clsNDE" style="display:none;">
                    <label class="control-label">Weld Thickness Reinforcement<span class="required" id="spnReinforcement">*</span></label>
                    <div class="">
                        @Html.TextBoxFor(m => m.WeldThicknessReinforcement, new { @class = "form-control col-md-3", @maxlength = "4" })
                    </div>
                </div>

                <div class="col-md-4 clsNDE" style="display:none;">
                    <label class="control-label">Surface Condition<span class="required">*</span></label>
                    <input type="text" id="txtSurfaceCondition" name="txtSurfaceCondition" class="form-control col-md-3" />
                    @Html.HiddenFor(m => m.SurfaceCondition)
                </div>
            </div>
        </form>
        <fieldset>
            <legend>Attachments</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div id="dv@(AttachmentUpload)"></div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<input type="hidden" id="hdn_TabId" />
<input type="hidden" id="hdn_Folderpath" />

<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>