﻿@using IEMQSImplementation

@{
    ViewBag.Title = "PendingTPI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/assets/global/css/plugins.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />

@Styles.Render("~/Content/datetimepicker/css")

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Pending TPI
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="display:none">
                                <div class="pull-right" style="display: inline-flex;">
                                    <input type="hidden" id="hdTab">
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab">Pending TPI</a>
                        </li>
                        <li class="active">
                            <a href="#portlet_comments_2" name="tabStatus" id="tabReturn" spara="Return" data-toggle="tab">Return TPI</a>
                        </li>
                        <li>
                            <a href="#portlet_comments_3" name="tabStatus" id="tabClear" spara="Clear" data-toggle="tab">Clear</a>
                        </li>
                        <li style="display:none">
                            <a href="#portlet_comments_4" name="tabStatus" id="tabAll" spara="All" data-toggle="tab">All</a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">
                        </div>
                        <div class="tab-pane" id="portlet_comments_2">
                        </div>
                        <div class="tab-pane" id="portlet_comments_3">
                        </div>
                        <div class="tab-pane" id="portlet_comments_4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/DatetimePicker/moment.min.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />

<script src="~/Content/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
<script src="~/Content/assets/pages/scripts/components-bootstrap-multiselect.min.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/common.js"></script>

<script>

    $(document).ready(function () {
        $('#portlet_comments_1').removeClass("active");
        $('#portlet_comments_2').removeClass("active");
        $('#portlet_comments_3').removeClass("active");
        $('#portlet_comments_4').removeClass("active");

        $('#tabPending').closest("li").removeClass("active");
        $('#tabReturn').closest("li").removeClass("active");
        $('#tabClear').closest("li").removeClass("active");
        $('#tabAll').closest("li").removeClass("active");

        $('#portlet_comments_1').removeClass("active");
        $('#portlet_comments_2').removeClass("active");
        $('#portlet_comments_3').removeClass("active");
        $('#portlet_comments_4').removeClass("active");

        $('#tabPending').closest("li").removeClass("active");
        $('#tabReturn').closest("li").removeClass("active");
        $('#tabClear').closest("li").removeClass("active");
        $('#tabAll').closest("li").removeClass("active");

        var tab = $('#hdTab').val();
        var qualityProject = "";
        var seamNumber = "";

        $('#portlet_comments_1').addClass("active");
        $('#tabPending').closest("li").addClass("active");
        GetHeaderGridDataPartial('Pending');

        $('a[name="tabStatus"]').click(function () {
            GetHeaderGridDataPartial($(this).attr('spara'), qualityProject, seamNumber);
        });
    });

    function GetHeaderGridDataPartial(status, qualityProject, seamNumber) {
        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        $("#portlet_comments_3").empty();
        $("#portlet_comments_4").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/GetSeamListInspectionDataPartial",
            data: { status: status, qualityProject: qualityProject, seamNumber: seamNumber },
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                }
                else if (status == "Return") {
                    $("#portlet_comments_2").html(result);
                }
                else if (status == "Clear") {
                    $("#portlet_comments_3").html(result);
                }
                else {
                    $("#portlet_comments_4").html(result);
                }
            },
            error: function () {
            }
        });
    }

    function CheckSearchOfferValidation() {
        if ($("#QualityProject").val() == "" && $("#SeamNo").val() == "") {
            $("#searchOfferError").show();
            return false;
        } else {
            $("#searchOffer").modal('hide');
            $("#searchOfferError").hide();
        }
    }

    function BindSeamNumberAutoComplete(qualityProject) {
        $("#SeamNo").autocomplete({
            source: function (request, response) {

                $.ajax({
                    url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/GetSeamNoByQualityProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term.trim(),
                        qualityProject: qualityProject
                    },
                    success: function (data) {
                        var tempData = [];
                        //for (var i = 0; i < data.Data.length; i++) {
                        //    tempData[i + 1] = data.Data[i]
                        //}
                        //tempData[0] = "ALL";
                        if (request.term.trim() == '' || request.term.trim().toUpperCase() == "ALL") {
                            for (var i = 0; i < data.Data.length; i++) {
                                tempData[i + 1] = data.Data[i];
                            }
                            tempData[0] = "ALL";
                        }
                        else {
                            for (var i = 0; i < data.Data.length; i++) {
                                tempData[i] = data.Data[i];
                            }
                        }
                        response($.map(tempData, function (item) {
                            return { label: item, value: item };
                        }));
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {

                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
            if (this.value == '') {
                this.value = "ALL";
            }
        });//.val('ALL').data('autocomplete');

        if ($("#SeamNo").val().trim() == '') {
            $("#SeamNo").val("ALL");
        }
    }

    function SeamNumberAutoComplete() {
        if ($('#QualityProject').val() != '') {
            BindSeamNumberAutoComplete($('#QualityProject').val());
        }
    }

</script>