﻿
@{
    ViewBag.Title = "SeamList Offer Inspection";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var location = ViewBag.Location;
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/assets/global/css/plugins.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />


@Styles.Render("~/Content/datetimepicker/css")
<script>
    $('#hdTab').val('@ViewBag.Tab');
    var tab = $('#hdTab').val();
    var currentposition = 0;
    var Requestlist = "";
    var checkStage = "";
    var requid = "";
    var qcRemark = "";
    $(document).ready(function () {

        $('#portlet_comments_1').removeClass("active");
        $('#portlet_comments_2').removeClass("active");
        $('#portlet_comments_3').removeClass("active");

        $('#tabPending').closest("li").removeClass("active");
        $('#tabTPIOffer').closest("li").removeClass("active");
        $('#tabAll').closest("li").removeClass("active");

        /*revert observation  :27229 */
        $('#portlet_comments_1').removeClass("active");
        $('#portlet_comments_2').removeClass("active");
        $('#portlet_comments_3').removeClass("active");

        $('#tabPending').closest("li").removeClass("active");
        $('#tabTPIOffer').closest("li").removeClass("active");
        $('#tabAll').closest("li").removeClass("active");

        var tab = $('#hdTab').val();
        var qualityProject = "";
        var seamNumber = "";
        if (tab.toLowerCase() == 'pending' || tab.toLowerCase() == 'attend') {
            $('#portlet_comments_1').addClass("active");
            $('#tabPending').closest("li").addClass("active");
            GetHeaderGridDataPartial('Pending', qualityProject, seamNumber);
        }
        else if (tab.toLowerCase() == 'tpi' || tab.toLowerCase() == 'offertpi') {
            $('#portlet_comments_2').addClass("active");
            $('#tabTPIOffer').closest("li").addClass("active");
            GetHeaderGridDataPartial('TPI', qualityProject, seamNumber);
        }
        else if (tab.toLowerCase() == 'all') {
            $('#portlet_comments_3').addClass("active");
            $('#tabAll').closest("li").addClass("active");
            GetHeaderGridDataPartial('All', qualityProject, seamNumber);
        }
        else {
            if (tab != '' && (tab.toUpperCase() == "HARDNESS" || tab.toUpperCase() == "FERRITE" || tab.toUpperCase() == "PMI" || tab.toUpperCase() == "CHEMICAL" )) {
                $("#tab_" + tab.toLowerCase()).trigger('click');
                GetHeaderGridDataPartial(tab.toUpperCase(), qualityProject, seamNumber);
            }
            else {
                $('#portlet_comments_1').addClass("active");
                $('#tabPending').closest("li").addClass("active");
                GetHeaderGridDataPartial('Pending', qualityProject, seamNumber);
            }
        }
        $('a[name="tabStatus"]').click(function () {
            GetHeaderGridDataPartial($(this).attr('spara'), qualityProject, seamNumber);
        });

        /*revert observation  :26545 */
        @*if (sessionStorage.qualityProject && sessionStorage.seamNumber) {
            BindGrid(sessionStorage.qualityProject, sessionStorage.seamNumber);
            $("#qualityProjectlbl").text(sessionStorage.qualityProject);
            $("#seamNumberlbl").text(sessionStorage.seamNumber)
            $("#searchOffer").modal("hide");
            $("#QualityProject").val(sessionStorage.qualityProject);
            $("#SeamNo").val(sessionStorage.seamNumber);
            NavigateProjectslists("");
        } else {
            $("#searchOffer").modal({ backdrop: 'static', keyboard: false });
        }

        $('a[name="tabStatus"]').click(function () {
            GetHeaderGridDataPartial($(this).attr('spara'), sessionStorage.qualityProject, sessionStorage.seamNumber);
        });
        SeamNumberAutoComplete();
        $("#SaveFilterData").click(function () {
            var qualityProject = $("#QualityProject").val();
            var seamNumber = $("#SeamNo").val();
            console.log("qualityProject =" + $("#QualityProject").val());
            console.log("seamNumber =" + $("#SeamNo").val());
            if (qualityProject != "" && seamNumber != "") {
                $("#searchOfferError").hide();
                sessionStorage.qualityProject = qualityProject;
                sessionStorage.seamNumber = seamNumber;
                $("#qualityProjectlbl").text(qualityProject);
                $("#seamNumberlbl").text(seamNumber)
                BindGrid(qualityProject, seamNumber);
                NavigateProjectslists("");
            } else {
                $("#searchOfferError").show();
                return false;
            }
        });
        $("#QualityProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetQualityProjectDetailsAutoComplete",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term,
                        location: '@location'
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectCode, value: item.Value };
                        }));
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    $("#SeamNo").val('');
                    $("#SeamNo").autocomplete('destroy');
                    $("#SeamNo").autocomplete();
                }
            },
            select: function (event, ui) {
                $("#SeamNo").val(' ');
                BindSeamNumberAutoComplete(ui.item.value);
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#SeamNo").on('focus', function () {
            SeamNumberAutoComplete();
        });

        $('#navTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
            var id = $(e.target).attr("spara");
            $('#hdTab').val(id);
            //window.location.hash = id;

        });

        $("#QualityProject,#SeamNo,#SaveFilterData").keypress(function (e) {
            var key = e.which;
            if (key == 13) {
                $("#SaveFilterData").click();
                return false;
            }
        });*@
    });
    function BindGrid(qualityProject, seamNumber) {
        $('#portlet_comments_1').removeClass("active");
        $('#portlet_comments_2').removeClass("active");
        $('#portlet_comments_3').removeClass("active");

        $('#tabPending').closest("li").removeClass("active");
        $('#tabTPIOffer').closest("li").removeClass("active");
        $('#tabAll').closest("li").removeClass("active");

        var tab = $('#hdTab').val();
        if (tab.toLowerCase() == 'pending' || tab.toLowerCase() == 'attend') {
            $('#portlet_comments_1').addClass("active");
            $('#tabPending').closest("li").addClass("active");
            GetHeaderGridDataPartial('Pending', qualityProject, seamNumber);
        }
        else if (tab.toLowerCase() == 'tpi' || tab.toLowerCase() == 'offertpi') {
            $('#portlet_comments_2').addClass("active");
            $('#tabTPIOffer').closest("li").addClass("active");
            GetHeaderGridDataPartial('TPI', qualityProject, seamNumber);
        }
        else if (tab.toLowerCase() == 'all') {
            $('#portlet_comments_3').addClass("active");
            $('#tabAll').closest("li").addClass("active");
            GetHeaderGridDataPartial('All', qualityProject, seamNumber);
        }
        else {
            if (tab != '' && (tab.toUpperCase() == "HARDNESS" || tab.toUpperCase() == "FERRITE" || tab.toUpperCase() == "PMI" || tab.toUpperCase() == "CHEMICAL")) {
                $("#tab_" + tab.toLowerCase()).trigger('click');
                GetHeaderGridDataPartial(tab.toUpperCase(), qualityProject, seamNumber);
            }
            else {
                $('#portlet_comments_1').addClass("active");
                $('#tabPending').closest("li").addClass("active");
                GetHeaderGridDataPartial('Pending', qualityProject, seamNumber);
            }
        }

    }

    function GetHeaderGridDataPartial(status, qualityProject, seamNumber) {

        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        $("#portlet_comments_3").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/GetSeamListOfferInspectionDataPartial",
            data: { status: status, qualityProject: qualityProject, seamNumber: seamNumber },
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                    $("#btnGroupClearance").show();
                }
                else if (status == "TPI") {
                    $("#portlet_comments_2").html(result);
                }
                else {
                    $("#portlet_comments_3").html(result);
                }
            },
            error: function () {
            }
        });
    }

    function CheckSearchOfferValidation() {
        if ($("#QualityProject").val() == "" && $("#SeamNo").val() == "") {
            $("#searchOfferError").show();
            return false;
        } else {
            $("#searchOffer").modal('hide');
            $("#searchOfferError").hide();
        }
    }

    function BindSeamNumberAutoComplete(qualityProject) {
        $("#SeamNo").autocomplete({
            source: function (request, response) {

                $.ajax({
                    url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/GetSeamNoByQualityProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term.trim(),
                        qualityProject: qualityProject
                    },
                    success: function (data) {
                        var tempData = [];
                        //for (var i = 0; i < data.Data.length; i++) {
                        //    tempData[i + 1] = data.Data[i]
                        //}
                        //tempData[0] = "ALL";
                        if (request.term.trim() == '' || request.term.trim().toUpperCase() == "ALL") {
                            for (var i = 0; i < data.Data.length; i++) {
                                tempData[i + 1] = data.Data[i];
                            }
                            tempData[0] = "ALL";
                        }
                        else {
                            for (var i = 0; i < data.Data.length; i++) {
                                tempData[i] = data.Data[i];
                            }
                        }
                        response($.map(tempData, function (item) {
                            return { label: item, value: item };
                        }));
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {

                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
            if (this.value == '') {
                this.value = "ALL";
            }
        });//.val('ALL').data('autocomplete');

        if ($("#SeamNo").val().trim() == '') {
            $("#SeamNo").val("ALL");
        }
    }
    function SeamNumberAutoComplete() {
        if ($('#QualityProject').val() != '') {
            BindSeamNumberAutoComplete($('#QualityProject').val());
        }
    }

    function NavigateProjectslists(option) {
        var curProject = $("#QualityProject").val();
        var curSeam = $("#SeamNo").val();
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/nextprevbyProjectorseam",
            dataType: "json",
            type: "POST",
            data: { qualityProject: curProject, seam: curSeam, option: option },
            success: function (data) {
                if (data.Key) {
                    $("#QualityProject").val(data.project);
                    $("#SeamNo").val(data.seam);
                    $("#prevproj").prop('disabled', data.projprevbutton);
                    $("#nextproj").prop('disabled', data.projnextbutton);
                    $("#preseam").prop('disabled', data.seamprevbutton);
                    $("#nextseam").prop('disabled', data.seamnextbutton);

                    if (data.project != "" && data.seam != "") {
                        $("#searchOfferError").hide();
                        sessionStorage.qualityProject = data.project;
                        sessionStorage.seamNumber = data.seam;
                        $("#qualityProjectlbl").text(data.project);
                        $("#seamNumberlbl").text(data.seam)
                        if (option != "" && option != undefined) {
                            BindGrid(data.project, data.seam);
                        }
                    } else {
                        $("#searchOfferError").show();
                        return false;
                    }
                }
                else {
                    $("#prevproj").prop('disabled', true);
                    $("#nextproj").prop('disabled', true);
                    $("#preseam").prop('disabled', true);
                    $("#nextseam").prop('disabled', true);
                }
            }
        });
    }

</script>
<style>
    .searchbtn {
        font-size: large;
        color: white;
        background: #32c5d2;
        padding: 100%;
        border-radius: 50%;
    }

    @@media screen and (max-width: 1000px) {
        .searchbtn {
            padding: 5%;
        }
    }

    .colWidth200 {
        min-width: 200px !important;
    }
</style>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-7">
                            <h1 class="page-title">
                                Attend Seam Test Result
                                <small></small>
                            </h1>
                        </div>
                        <div class="col-md-5" style="display:none">
                            <div class="pull-right" style="display: inline-flex;">
                                <input type="hidden" id="hdTab">
                                <div class="row">
                                    <div class="col-md-12" style="text-align: right">
                                        <div class="btn-group btn-group-solid">
                                            <button type="button" class="btn yellow" id="prevproj" title="Previous" style="text-align:center;/*background-color:#cc750b !important*/" onclick="NavigateProjectslists('PrevProject')"><i title="Re-filter" class="fa fa-chevron-left"></i></button>
                                            <button type="button" class="btn " style="width: 186px !important;background-color: #efe0be;cursor:auto"><span title="Quality Project" id="qualityProjectlbl">&nbsp;</span></button>
                                            <button type="button" title="Re-filter" class="btn" data-toggle="modal" data-target="#searchOffer" data-backdrop="static" data-keyboard=false style="background-color: #efe0be;width: 25px;text-align: left !important; padding: 6px;"><i class="fa fa-search"></i></button>
                                            <button type="button" class="btn yellow" id="nextproj" title="Next" style="text-align:center;/*background-color:#cc750b !important*/" onclick="NavigateProjectslists('NextProject')"><i class="fa fa-chevron-right"></i></button>
                                        </div>
                                        <div class="btn-group btn-group-solid" style="margin-top: 5px !important;">
                                            <button type="button" class="btn blue" id="preseam" title="Previous" style="text-align:center" onclick="NavigateProjectslists('PrevSeam')"><i class="fa fa-chevron-left"></i></button>
                                            <button type="button" class="btn" style="width: 186px !important;background-color:#78b6e161;cursor:auto"><span id="seamNumberlbl" title="Seam No.">&nbsp;</span></button>
                                            <button type="button" title="Re-filter" class="btn" data-toggle="modal" data-target="#searchOffer" data-backdrop="static" data-keyboard=false style="background-color:#cce3f4;width: 25px;text-align: left !important; padding: 6px;"><i class="fa fa-search"></i></button>
                                            <button type="button" class="btn blue" id="nextseam" title="Next" style="text-align:center" onclick="NavigateProjectslists('NextSeam')"><i class="fa fa-chevron-right"></i></button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-title tabbable-line">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Attend </a>
                        </li>
                        <li class="">
                            <a href="#portlet_comments_3" name="tabStatus" id="tab_hardness" spara="HARDNESS" data-toggle="tab">Hardness </a>
                        </li>
                        <li class="">
                            <a href="#portlet_comments_3" name="tabStatus" id="tab_ferrite" spara="FERRITE" data-toggle="tab">Ferrite </a>
                        </li>
                        <li class="">
                            <a href="#portlet_comments_3" name="tabStatus" id="tab_pmi" spara="PMI" data-toggle="tab"> PMI </a>
                        </li>
                        <li class="">
                            <a href="#portlet_comments_3" name="tabStatus" id="tab_chemical" spara="CHEMICAL" data-toggle="tab"> Chemical </a>
                        </li>
                        <li class="">
                            <a href="#portlet_comments_2" name="tabStatus" id="tabTPIOffer" spara="TPI" data-toggle="tab"> Pending TPI </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_3" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">
                        </div>
                        <div class="tab-pane" id="portlet_comments_2">
                        </div>
                        <div class="tab-pane" id="portlet_comments_3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div id="searchOffer" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="CheckSearchOfferValidation()">&times;</button>
                    <h4 class="modal-title">Search</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" style="">
                            <div class="col-md-5">
                                @Html.Label("Quality Project")<span style="color:red">*</span>
                                @Html.TextBox("QualityProject", "", new { @class = "form-control", @tabindex = "1" })
                            </div>
                            <div class="col-md-5">
                                @Html.Label("Seam No")<span style="color:red">*</span>
                                @Html.TextBox("SeamNo", "", new { @class = "form-control", @tabindex = "2" })
                            </div>
                            <div class="col-md-1" style="cursor:pointer;margin-top:1.5%">
                                <i class="fa fa-search searchbtn" id="SaveFilterData" data-dismiss="modal" tabindex="3"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <center>
                            <label id="searchOfferError" style="color:red;display:none">Quality Project and Seam No. are required. </label>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/DatetimePicker/moment.min.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />

<script src="~/Content/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
<script src="~/Content/assets/pages/scripts/components-bootstrap-multiselect.min.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/common.js"></script>
