﻿<div class="row">
    <div class="form-group">
        <label class="control-label col-md-3">
            Quality Project
        </label>
        <div class="col-md-6">
            <input id="txtQualityProject" name="txtQualityProject"  class="form-control" />
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="form-group">
        <label class="control-label col-md-3">
            LTFPS No.
        </label>
        <div class="col-md-6">
            <input id="txtLTFPSNo" name="txtLTFPSNo" class="form-control" />
        </div>
    </div>
</div>
<script>
    $("#txtQualityProject").val("");
    FillAutoCompleteIDText($('#txtQualityProject'), "/LTFPS/AttendInspection/GetQualityProjects");
    function FillAutoCompleteIDText(element, url) {
        element.autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + url,
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        search: request.term,
                        quality_projects: $('#txtQualityProject').val(),
                        withseamtype: false

                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.text, id: item.id };
                        }));
                    }
                });
            },
            autoFocus: false,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    element.val('');
                    element.focus();
                }
            }
        }).focus(function () {
            if ($(this).data("uiAutocomplete") != null && $(this).data("uiAutocomplete") != undefined) {
                $(this).data("uiAutocomplete").search($(this).val());
            }
        });
    }
    $('#txtQualityProject').on("focusout", function (e) {
        $("#txtLTFPSNo").val("");
        FillAutoCompleteLTFPSNoText($('#txtLTFPSNo'), "/LTFPS/AttendInspection/GetLTFPSNo");
    });
    function FillAutoCompleteLTFPSNoText(element, url) {
        element.autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + url,
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        QualityProject: $('#txtQualityProject').val(),
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.text, id: item.id };
                        }));
                    }
                });
            },
            autoFocus: false,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    element.val('');
                    element.focus();
                }
            }
        }).focus(function () {
            if ($(this).data("uiAutocomplete") != null && $(this).data("uiAutocomplete") != undefined) {
                $(this).data("uiAutocomplete").search($(this).val());
            }
        });
    }
</script>