﻿
<script>
    $("#frmCopyWQRequest").validate({
        rules: {
            txtSourceReq: {
                required: true
            }
        },
        messages: {
            txtSourceReq: {
                required: "Source Request Is Required"
            }
        }
    });
    $("#txtSourceReq").val('@ViewBag.SourceRequestNo');

    $("#chkCopyOption").bootstrapSwitch();
    $("#txtSourceReq").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: WebsiteURL + "/WQ/MaintainWQRequest/GetSourceRequestNoForCopy",
                dataType: "json",
                type: "POST",
                delay: 250,
                async: false,
                data: {
                    term: request.term,
                    location: $("#Location").val().split('-')[0]
                },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Code, value: item.Code, id: item.Code };
                    }));
                }
            });
        },
        minLength: 0,
        autoFocus: true,
        change: function (event, ui) {
            if (ui.item === null) {
                $(this).val('');
                ClearAll();
            }
        },
        select: function (event, ui) {
            if (ui.item) {
                isSelected = true;
                var strProjectDesc = ui.item.value;
                var spltProjectDesc = strProjectDesc.split("-");
                var projectcode = spltProjectDesc[0].trim();
                $("#txtSourceReq").val(projectcode);
            }
        },
    }).on('focus', function (event) {
        var self = this;
        $(self).autocomplete("search", this.value);
    });

</script>

<div class="portlet light ">
    <!-- BEGIN FORM-->
    <form id="frmCopyWQRequest" class="form-horizontal">
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label col-md-4">Source Request<span class="required"> * </span></label>
                <div class="col-md-6">
                    <input type="text" id="txtSourceReq" name="txtSourceReq" class="form-control col-md-3" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label col-md-4">Select Copy Option</label>
                <div class="col-md-6">
                    @Html.CheckBox("chkCopyOption", true, new Dictionary<string, object> { { "id", "chkCopyOption" }, { "class", "make-switch col-md-3" }, { "checked", true }, { "data-on-text", "Req. with<br/>welder details" }, { "data-off-text", "Req.<br/> Only" }, { "data-on-color", "success" }, { "data-off-color", "danger" }})
                </div>
            </div>
        </div>
    </form>
    <!-- END PAGE BASE CONTENT -->
</div>

