﻿@using IEMQSImplementation
<style>
     .clsBootbox {
        padding: 0px !important;
    }

        .clsBootbox .modal-lg {
            width: 79% !important;
        }

</style>
<script>

    var table = $('#tblQualitIdLines');
    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": true,
        "bServerSide": true,
        "stateSave": false,
        buttons: [],
        "bDestroy": true,
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
            [5, 10, 25, 50, 100],
            [5, 10, 25, 50, 100]
        ],
        "pageLength": 50,
        'iDisplayLength': 50,
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        "sAjaxSource": WebsiteURL + "/IPI/ApproveQualityId/LoadQualityIDStagesDataTable?refHeaderId=" + @ViewBag.headerId,
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" }
                        );
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': function (data) {
                    fnCallback(data);
                    $(".txtStrWhere", "#dvExportSubLines").val(data.whereCondition);
                    $(".txtStrSort", "#dvExportSubLines").val(data.strSortOrder);
                },
                'async': false
            });
        },
        "aoColumns": [
            {
                "sClass": "hide",
                "bSortable": false,
            },
            {
                "sClass": "hide",
                "bSortable": false,
            },
            {
                "sClass": "hide",
                "bSortable": false,
            },
            {
                "sClass": "center",
                "bSortable": false,
            },
            //{
            //    "sClass": "center",
            //    "bSortable": false,
            //},
            {
                "sClass": "center",
                "bSortable": false,
            },
            {
                "sClass": "center",
                "bSortable": false,
            },
            {
                "sClass": "center",
                "bSortable": false,
            },
            {
                "sClass": "center",
                "bSortable": false,
            },
            {
                "sClass": "center",
                "bSortable": false,
            },
            {
                "sClass": "center",
                "bSortable": false,
            },
            {
                "sClass": "center",
                "bSortable": false, "sWidth": "5%"
            },
        ]
    });
    function LoadHardnessFerritePartial(lineid, isEditable, title) {
        bootbox.hideAll();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/QualityId/GetHardnessFerritePartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { lineid: parseInt(lineid), isEditable: false },
            success: function (result) {
                bootbox.dialog({
                    title: title,
                    message: result,
                    size: 'medium',
                    className: "higherzindex clsBootbox",
                    buttons: {
                        Cancel: {
                            label: 'Close',
                            className: 'btn red',
                        }
                    }
                })
            }
        })
    }
</script>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @ViewBag.QualityIdName - Stages
        </div>
        <div class="tools" id="dvExportSubLines">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/ApproveQualityId/GenerateExcel", GridType = clsImplementationEnum.GridType.SUB_LINES.GetStringValue(), dvId = "#dvExportSubLines" })
        </div>
    </div>
    <div class="portlet-body">
        <table id="tblQualitIdLines" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="min-phone-l" style="display:none;">HeaderId</th>
                    <th class="min-phone-l" style="display:none;">LineId</th>
                    <th class="min-phone-l" style="display:none;">QualityId</th>
                    <th class="all">Stage Code-Description</th>
                    <th class="min-phone-l">Seq.</th>
                    <th class="min-phone-l">Acceptance Standard</th>
                    <th class="min-phone-l">Applicable Specification</th>
                    <th class="min-phone-l">Inspection Extent</th>
                    <th class="min-phone-l">Remarks</th>
                    <th class="min-phone-l">Status</th>
                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
