﻿@using IEMQSImplementation

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
@*<script src="~/Scripts/DataTable/dataTables.responsive.min.js"></script>*@

<script>

    $(document).ready(function () {

        GetQualityIDGridDataPartial('Pending');

        $('a[name="tabStatus"]').click(function () {
            GetQualityIDGridDataPartial($(this).attr('spara'));
        });
    });

    function GetQualityIDGridDataPartial(status) {

        var table = $('#tblApproveQualityId');
        var oTableHeader = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/ApproveQualityId/LoadHeaderDataTable?status=" + status,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        if (data.iTotalRecords > 0) {
                            $("#btnApproveSelected").show();
                            isVisible = true;
                        }
                        else {
                            $("#btnApproveSelected").hide();
                            isVisible = false;
                        }
                    },
                    'async': false
                });
            },
            "aoColumns": [
                {
                    "sClass": "hide",
                },
                {
                    "sClass": "center",
                    "name": "QualityProject",
                },
                {
                    "sClass": "center",
                    "name": "Project",
                },
                {
                    "sClass": "center",
                    "name": "BU",
                },
                {
                    "sClass": "center",
                    "name": "Location",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        //var callFunction = "DeleteQualityProject(" + row[1] + ",'" + row[5].trim() + "')";
                        buttons += '<center><a href="' + WebsiteURL + '/IPI/ApproveQualityId/ViewQualityId?headerId=' + row[0] + '" class="btnAction" title="View" style="cursor:pointer" name="btnAction" id="btnEdit"><i style="margin-left:5px;" class="fa fa-eye"></i></a>';
                        //buttons += '<center><i title="Delete"  style="cursor:pointer;" name="btnAction" id="btnDelete" onClick="' + callFunction + '" class="fa fa-trash-o btnAction" ></i>&nbsp;&nbsp;';
                        buttons += '<a class="" href="javascript:void(0)" onclick=ShowTimeline("/IPI/ApproveQualityId/ShowTimeline?HeaderID=' + row[0] + '");><i style="margin-left:5px;" class="fa fa-clock-o"></i></a>';
                        buttons += '</center>'
                        return buttons;
                    }
                },

            ]
        });

    }

</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="page-title">
                                Approve Quality ID
                                <small></small>
                            </h1>
                        </div>
                        @*<div class="col-md-6" style="text-align:right">
                                <a href="/IPI/QualityId/AddQualityIdHeader" class="btn green">Add New</a>
                            </div>*@
                    </div>
                </div>
                <div class="portlet-title tabbable-line">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Project List
                                    </div>
                                    <div class="tools" id="dvExportHeader">
                                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/ApproveQualityId/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <table id="tblApproveQualityId" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                @*<th class="all">
                                                        <label class="mt-checkbox mt-checkbox-outline">
                                                            <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </th>*@
                                                <th style="display:none;">HeaderId</th>
                                                <th class="min-phone-l">Quality Project</th>
                                                <th class="min-phone-l">Project</th>
                                                <th class="min-phone-l">BU</th>
                                                <th class="min-phone-l">Location</th>
                                                @*<th class="min-phone-l">Quality ID</th>
                                                    <th class="min-phone-l">QID Desciption</th>
                                                    <th class="min-phone-l">Created By</th>
                                                    <th class="min-phone-l">Modified By</th>*@
                                                <th class="min-phone-l">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
</div>

