﻿@using IEMQSImplementation

<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-body form">
                <div id="dvPCR">
                    <div class="portlet-body">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    Details
                                </div>
                                <div class="tools" id="dvExportHeader">
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table id="tblSingleOccurenceDetails" class="table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                                    <thead>   
                                    </thead>
                                    <tbody>
                                        <tr id="tblRow">
                                            <td>
                                                <div id="dvActionButtons">
                                                </div>
                                                <div id="divSingleOccurenceContainer">

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    _tableName = 'tblSingleOccurenceDetails';
    _tbl = $('#' + _tableName);
</script>
