﻿

@model IEMQS.DESCore.DINGroupModel

@{

    int NoTask = 0;
    if (TempData["NoTask"] != null)
    {
        NoTask = int.Parse(TempData["NoTask"].ToString());
    }

}
@if (Model.DepartmentGroupList != null && Model.DepartmentGroupList.Count() > 0)
{
    var count = Model.DepartmentGroupList.Count();
    for (int i = 0; i < count; i++)
    {
        NoTask = i;
        <tr data-id="@NoTask" id="tr_@NoTask">
            <td style="width:300px;">
                @Html.DropDownListFor(x => x.DepartmentGroupList[NoTask].DeptId, Model.DepartmentGroupList[NoTask].FunctionList, "Select", new { @class = "form-control m-input select-function" })
                @Html.ValidationMessageFor(x => x.DepartmentGroupList[NoTask].DeptId, "", new { @class = "text-danger" })
            </td>
            <td>
                @*@Html.DropDownListFor(x => x.DepartmentGroupList[NoTask].PSNoList, Enumerable.Empty<SelectListItem>(), "Select", new { @class = "form-control m-input select-Psno", @multiple = "multiple" })*@
                @Html.DropDownListFor(x => x.DepartmentGroupList[NoTask].PSNoList, Model.DepartmentGroupList[NoTask].PSNumberList, new { @class = "form-control m-input select-Psno", @multiple = "multiple" })
                @Html.ValidationMessageFor(x => x.DepartmentGroupList[NoTask].PSNoList, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.HiddenFor(x => x.DepartmentGroupList[NoTask].DINGroupDeptId)
                @Html.HiddenFor(x => x.DepartmentGroupList[NoTask].DINGroupId)
                @Html.HiddenFor(x => x.DepartmentGroupList[NoTask].IsDelete)
                @*<center class="btnAction">*@
                @if (i == count - 1)
                {
                    <a href="javascript:;" class="btn m-btn btn-success m-btn--pill m-btn--center btn-sm special-add-btn" add-id="@NoTask" title="Add" onclick="AddDeptPerson(@NoTask);" id="Add_@NoTask"><i class="fa fa-plus"></i> Add </a>
                    <a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill " delete-id="@NoTask" title="Delete" onclick="RemoveDeptPerson(this);" style="display:none;" id="del_@NoTask"><i class="la la-trash-o"></i></a>
                }
                else
                {
                    <a href="javascript:;" class="btn m-btn btn-success m-btn--pill m-btn--center btn-sm special-add-btn" add-id="@NoTask" title="Add" onclick="AddDeptPerson(@NoTask);" id="Add_@NoTask" style="display:none;"><i class="fa fa-plus"></i> Add </a>
                    <a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill " delete-id="@NoTask" title="Delete" onclick="RemoveDeptPerson(this);" style="" id="del_@NoTask"><i class="la la-trash-o"></i></a>
                }
                @*</center>*@
            </td>
        </tr>
    }
}
else
{
    <tr data-id="@NoTask" id="tr_@NoTask">
        <td style="width:300px;">
            @Html.DropDownListFor(x => x.DepartmentGroupList[NoTask].DeptId, ViewBag.FunctionList as SelectList, "Select", new { @class = "form-control m-input select-function" })
            @Html.ValidationMessageFor(x => x.DepartmentGroupList[NoTask].DeptId, "", new { @class = "text-danger" })
        </td>
        <td>
            @*@Html.DropDownListFor(x => x.DepartmentGroupList[NoTask].PSNoList, Enumerable.Empty<SelectListItem>(), "Select", new { @class = "form-control m-input select-Psno", @multiple = "multiple" })*@
            @Html.DropDownListFor(x => x.DepartmentGroupList[NoTask].PSNoList, new List<SelectListItem>(), new { @class = "form-control m-input select-Psno", @multiple = "multiple" })
            @Html.ValidationMessageFor(x => x.DepartmentGroupList[NoTask].PSNoList, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.HiddenFor(x => x.DepartmentGroupList[NoTask].DINGroupDeptId)
            @Html.HiddenFor(x => x.DepartmentGroupList[NoTask].DINGroupId)
            @Html.HiddenFor(x => x.DepartmentGroupList[NoTask].IsDelete)
            @*<center class="btnAction">*@
            <a href="javascript:;" class="btn m-btn btn-success m-btn--pill m-btn--center btn-sm special-add-btn" add-id="@NoTask" title="Add" onclick="AddDeptPerson(@NoTask)" id="Add_@NoTask"><i class="fa fa-plus"></i> Add </a>
            <a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" delete-id="@NoTask" title="Delete" onclick="RemoveDeptPerson(this)" style="display:none;" id="del_@NoTask"><i class="la la-trash-o"></i></a>
            @*</center>*@
        </td>
    </tr>
}


<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".select-function").select2();
            //$(".select-Psno").select2({ placeholder: "-----Select-----" });
            $(".select-Psno").select2({
                placeholder: "-----Select-----",
                //tags: true,
                multiple: true,
                tokenSeparators: [','],
                minimumInputLength: 2,
                minimumResultsForSearch: 10,
                ajax: {
                    url: '/DES/DepartmentGroup/GetPsnoNameByNameOrDept',
                    dataType: 'json',
                    data: function (params) {
                        return {
                            q: params.term,
                            DeptId: departmentId,
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return item;
                                return {
                                    text: data.text,
                                    id: data.id
                                }
                            })
                        };
                    },
                },

            });
        }, 1000);
    });
</script>

