﻿@model IEMQSImplementation.NDE016_Log
@using IEMQSImplementation
<script src="~/Scripts/autoNumeric-1.9.41.js"></script>
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
 
        var table = $("#tblPAUTSubCategoryHistory");

        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
               [5, 10, 25, 50, 100],
               [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/NDE/MaintainPAUTTechnique/LoadSublinesHistoryData?refLineId=" + @Model.RefLineLogId,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportSubLine").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportSubLine").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "aoColumns": [
                {
                    "sClass": "center",
                    "sWidth": "5%",
                    "bSortable": false,
                },
               
                {
                    "sClass": "center",
                    "sWidth": "5%",
                    "name": "GroupNo",
                },
                {
                    "sClass": "center",
                    "sWidth": "5%",
                    "name": "Angle",
                },
                {
                    "sClass": "center",
                    "sWidth": "5%",
                    "name": "DepthCoverage",
                },
                {
                    "sClass": "center",
                    "sWidth": "5%",
                    "name": "FocalDepth",
                },
                {
                    "sClass": "center",
                    "sWidth": "5%",
                    "name": "TCGIndicationAmplitude",
                },
                {
                    "sClass": "center",
                    "sWidth": "5%",
                    "name": "StartElement",
                },
                {
                    "sClass": "center",
                    "sWidth": "5%",
                    "name": "NoofElements",
                },
                {
                    "sClass": "center",
                    "sWidth": "5%",
                    "name": "AngularIncrementalChange",
                },
                {
                    "sClass": "center",
                    "sWidth": "5%",
                    "name": "FocalPlane",
                },
              
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
            ]
        });
    })


</script>

<div style="width:100%;">



        <div class="col-md-12">
            <hr />
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Group List
                    </div>
                    <div class="tools" id="dvExportSubLine">
                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/NDE/MaintainPAUTTechnique/GenerateExcel", GridType = clsImplementationEnum.GridType.SUB_LINES.GetStringValue(), dvId = "#dvExportSubLine" })
                    </div>
                </div>
                <div class="portlet-body">
                    <table id="tblPAUTSubCategoryHistory" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="all" style="width:5%;">#</th>
                                <th class="min-phone-l" style="width:5%;">Group No.</th>
                                <th class="min-phone-l" style="width:5%;">Angle (Deg.)</th>
                                <th class="min-phone-l" style="width:5%;">DepthCoverage(mm)</th>
                                <th class="min-phone-l" style="width:5%;">Focal Depth(mm) </th>
                                <th class="min-phone-l" style="width:5%;">TCG Indication Amplitude(%)</th>
                                <th class="min-phone-l" style="width:5%;">Start Element</th>
                                <th class="min-phone-l" style="width:5%;">No.of Elements</th>
                                <th class="min-phone-l" style="width:5%;">Angular Incremental Change</th>
                                <th class="min-phone-l" style="width:5%;">Focal Plane</th>
                                <th style="display:none;">HeaderId</th>
                                <th style="display:none;">LineId</th>
                                <th style="display:none;">SubLineId</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>


</div>
