﻿@using IEMQSImplementation
@{
    int s = 0;
}
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            HTR Details
        </div>
        @*<div class="tools" id="dvExportHeader">
                @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/HTC/MaintainHTC/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
            </div>*@
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblHTRNo" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">#</th>
                    <th class="all">Project</th>
                    <th class="all">HTR No</th>
                </tr>
            </thead>

            <tbody>
                @if (ViewBag.HTRData != null)
                {
                    foreach (var item in ViewBag.HTRData as List<CategoryData>)
                    {
                        <tr>
                            <td style="text-align: center;">@(s = s + 1)</td>
                            <td>@item.Description</td>
                            <td><a href="~/HTR/Maintain/AddHeader?HeaderID=@item.Id" name="documentLink">@item.catValue @item.CategoryDescription</a></td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td  colspan="3">No Data Found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>


</script>
