﻿@model IEMQSImplementation.MAL010
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int s3 = 0;/* for serial number */

    string FileUpload1ControlID1 = "fuUpload1";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />
<style>
    .width30 {
        display: inline-block !important;
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable tblNotes">
                                        <tr>
                                            <td class="textalign subtitle">
                                                L&T PROJECT NO
                                            </td>
                                            <td> @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-12" }) </td>
                                            <td class="textalign subtitle">
                                                EQUIPMENT NAME & NUMBER
                                            </td>
                                            <td class="textalign">
                                                <span id="spnEquipment">@ViewBag.ProjectDesc</span>
                                            </td>
                                            @Html.HiddenFor(m => m.HeaderId)
                                        </tr>
                                        <tr>
                                            <td class="textalign subtitle">
                                                DOCUMENT NO
                                            </td>
                                            <td class="textalign">@Html.TextBoxFor(m => m.DocumentNo, new { @class = "form-control col-md-12 textalign", @maxlength = "40" }) </td>
                                            <td class="subtitle text-center center-align" style="text-align: center;" colspan="5" rowspan="3">
                                                "ANNEXURE 1
                                                FINAL DFT INSPECTION"
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="textalign subtitle">
                                                PROCEDURE NO
                                            </td>
                                            <td class="textalign">@Html.TextBoxFor(m => m.ProcedureNo, new { @class = "form-control col-md-12 textalign", @maxlength = "40" }) </td>
                                        </tr>
                                        <tr>
                                            <td class="textalign subtitle">
                                                ANNEXURE TO REPORT NO
                                            </td>
                                            <td class="textalign">@Html.TextBoxFor(m => m.ReportNo, new { @class = "form-control col-md-12 textalign", @maxlength = "40" }) </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="portlet box green inlineparentdiv" id="divLine3" data-gridid="3">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span style="float:left;">
                                            <strong>INSPECTION SUMMARY</strong>
                                        </span>
                                    </div>
                                    <div class="tools">
                                        <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div3', this)" id="btnCollapse3" data-target="#div3" data-original-title="" title=""> </a>
                                    </div>
                                </div>
                                <div class="portlet-body" id="div3">
                                    <div class="table-responsive">
                                        <table class="table" id="tblProtocolLines3">
                                            <thead>
                                                <tr>
                                                    <td rowspan="2" class="title">
                                                        <span class="spnClass bold aligncenter">
                                                            <br />Spot <br />Number
                                                        </span>
                                                    </td>
                                                    <td colspan="12" class="subtitle text-center">
                                                        <span class="spnClass bold"> Orientation </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="subtitle text-center bg-success" colspan="3">
                                                        <span class="spnClass bold"> 0°</span>
                                                    </td>
                                                    <td class="subtitle text-center bg-danger" colspan="3">
                                                        <span class="spnClass bold"> 90°</span>

                                                    </td>
                                                    <td class="subtitle text-center bg-success" colspan="3">
                                                        <span class="spnClass bold"> 180°</span>
                                                    </td>
                                                    <td class="subtitle text-center bg-danger" colspan="3">
                                                        <span class="spnClass bold"> 270°</span>
                                                    </td>
                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <th class="btnthAction"></th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.lstMAL011 != null)
                                                {
                                                    foreach (var item in ViewBag.lstMAL011 as List<MAL011>)
                                                    {
                                                        <tr>
                                                            <td style="text-align: center;display:none;"># @(s3 = s3 + 3) </td>
                                                            <td class="LineId" style="display:none;">
                                                                <input type="hidden" id="LineId" value="@item.LineId" />
                                                                @*@Html.Hidden("LineId", @item.LineId)*@
                                                            </td>
                                                            <td class="SpotNo">
                                                                @Html.TextBox("SpotNo_" + @item.SpotNo, @item.SpotNo, new { @class = "form-control", @maxlength = "30" })
                                                            </td>
                                                            <td class="Orientation10">@Html.TextBox("Orientation10_" + @s3, @item.Orientation10, new { @class = "form-control width30 Orientation10", @maxlength = "5", @onblur = "calculateAverage(this.id)" })</td>
                                                            <td class="Orientation20">@Html.TextBox("Orientation20_" + @s3, @item.Orientation20, new { @class = "form-control width30 Orientation20", @maxlength = "5", @onblur = "calculateAverage(this.id)" })</td>
                                                            <td class="Orientation30">@Html.TextBox("Orientation30_" + @s3, @item.Orientation30, new { @class = "form-control width30 Orientation30", @maxlength = "5", @onblur = "calculateAverage(this.id)" })</td>
                                                            <td class="Orientation190">@Html.TextBox("Orientation190_" + @s3, @item.Orientation190, new { @class = "form-control width30 Orientation190", @maxlength = "5", @onblur = "calculateAverage(this.id)" })</td>
                                                            <td class="Orientation290">@Html.TextBox("Orientation290_" + @s3, @item.Orientation290, new { @class = "form-control width30 Orientation290", @maxlength = "5", @onblur = "calculateAverage(this.id)" })</td>
                                                            <td class="Orientation390">@Html.TextBox("Orientation390_" + @s3, @item.Orientation390, new { @class = "form-control width30 Orientation390", @maxlength = "5", @onblur = "calculateAverage(this.id)" })</td>
                                                            <td class="Orientation1180">@Html.TextBox("Orientation1180_" + @s3, @item.Orientation1180, new { @class = "form-control width30 Orientation1180", @maxlength = "5", @onblur = "calculateAverage(this.id)" })</td>
                                                            <td class="Orientation2180">@Html.TextBox("Orientation2180_" + @s3, @item.Orientation2180, new { @class = "form-control width30 Orientation2180", @maxlength = "5", @onblur = "calculateAverage(this.id)" })</td>
                                                            <td class="Orientation3180">@Html.TextBox("Orientation3180_" + @s3, @item.Orientation3180, new { @class = "form-control width30 Orientation3180", @maxlength = "5", @onblur = "calculateAverage(this.id)" })</td>
                                                            <td class="Orientation1270">@Html.TextBox("Orientation1270_" + @s3, @item.Orientation1270, new { @class = "form-control width30 Orientation1270", @maxlength = "5", @onblur = "calculateAverage(this.id)" })</td>
                                                            <td class="Orientation2270">@Html.TextBox("Orientation2270_" + @s3, @item.Orientation2270, new { @class = "form-control width30 Orientation2270", @maxlength = "5", @onblur = "calculateAverage(this.id)" })</td>
                                                            <td class="Orientation3270">@Html.TextBox("Orientation3270_" + @s3, @item.Orientation3270, new { @class = "form-control width30 Orientation3270", @maxlength = "5", @onblur = "calculateAverage(this.id)" })</td>
                                                            <td class="DeleteAction"> <i id="Delete_3_@s3" name="Delete_3_@s3" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td class="title">
                                                        <span class="spnClass bold aligncenter">
                                                            AVERAGE
                                                        </span>
                                                    </td>

                                                    <td class="AvgOrientation10 bg-success">0</td>
                                                    <td class="AvgOrientation20 bg-success"></td>
                                                    <td class="AvgOrientation30 bg-success"></td>

                                                    <td class="AvgOrientation190 bg-danger"></td>
                                                    <td class="AvgOrientation290 bg-danger"></td>
                                                    <td class="AvgOrientation390 bg-danger"></td>

                                                    <td class="AvgOrientation1180 bg-success"></td>
                                                    <td class="AvgOrientation2180 bg-success"></td>
                                                    <td class="AvgOrientation3180 bg-success"></td>

                                                    <td class="AvgOrientation1270 bg-danger"></td>
                                                    <td class="AvgOrientation2270 bg-danger"></td>
                                                    <td class="AvgOrientation3270 bg-danger"></td>

                                                    <th>&nbsp;</th>

                                                </tr>
                                            </tfoot>
                                        </table>
                                        <input id="hdGridLastRow" type="hidden" value="@s3" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12" style="height: 20px"></div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable">
                                        <tr>
                                            <td>
                                                <button id="btnUploadImage1" class="btn icons entQcAttend" title="Attach Sketch" type="button"><i class="fa fa-image"></i></button>
                                                <div class="col-md-12 display-none">
                                                    <div id="dv@(FileUpload1ControlID1)"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="col-lg-12 text-center">
                                                    <img id="image1" style="height:300px;width:300px;" src="~/ImageHandler.ashx?type=@clsImplementationEnum.ImageType.FCS.GetStringValue()&fp=@(ViewBag.FCS_ImagePath)" class="" alt="">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                    <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    @if (string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                        @*<input type="button" class="btn submit" id="btnSave" value="Approve" />*@
                                    }
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>
                        @Html.Hidden("SavedFilePath" + FileUpload1ControlID1, "")
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js">x</script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>

<script>

    var notPRODLastChild = "";
    var notQCLastChild = "";

    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "Linkage";
    var isEdit = '@ViewBag.isEditable';
    var isQCRemarkEditable = '@ViewBag.isQCRemarkEditable';
    var lstLeftRight = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.LeftRight))));
    var lstOutsideInside = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.OutsideInside))));

    $(document).ready(function () {
        SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({
            orientation: "auto", autoclose: true,
        });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        if (isEdit != "true") {
            $('form#frmProtocolHeader :input').attr('disabled', true);
        }
        if (parseInt($("#HeaderId").val()) > 0) {
            $("#btnPrint").show();
        }
        else {
            $("#btnPrint").hide();
        }
        $("#btnSaveDraft").click(function () {
            SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData?s=0", userRole, false, LoadSaveAndDraft);
            $("#btnPrint").show();
        });
        //LoadFileUpload1();
        $("#btnSave").click(function () {
            @{
            <text>$('[type="text"]').not('.islastrow,.nonmandate').prop("required", true);</text>
            <text>$('select').not('.islastrow,.nonmandate').prop("required", true);</text>
            }
            SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData?s=1", userRole, true, LoadSaveAndDraft);
            $('form#frmProtocolHeader :input').attr('disabled', true);
            $("#btnPrint").show();
        });
        $("#btnClose").click(function () {
            window.location.href = WebsiteURL + '/MAL/MaintainMAL/Index';
        });
        $("#btnPrint").click(function () {
            PrintReport("/MAL/DFT", $('#HeaderId').val());
        });
    });

    $(document).ready(function () {
        $("#Project").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectCode, id: item.Text };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    if (ui.item) {
                        $("#Project").val(ui.item.value);
                        //$("#ProjectDescription").val(ui.item.id);
                        $("#spnEquipment").text(ui.item.id);
                    }
                    // ui.item.value = spltProjectDesc[0];
                }

            },
        });
    });

    function calculateAverage(IdStartSelector) {
        if ((IdStartSelector.split('_')[0]).includes("Orientation")) {
            var vSelector = "[id^='Orientation']";
            var control = $(vSelector);
            var vAvg = 0, vlen = 0;

            for (var i = 0; i < control.length; i++) {
                if (control[i].value) {
                    vAvg = vAvg + parseFloat(control[i].value);
                    vlen++;
                }
            }
            vlen = vlen == 0 ? 1 : vlen;
            $(".AvgOrientation10").text((vAvg / vlen).toFixed(2));
        }

    }

    function SetTableColumns() {
        AddNextRow(this, null, false, 3, 'hdGridLastRow', 'tblProtocolLines3', 'SpotNo', ['SpotNo', 'Orientation10', 'Orientation20', 'Orientation30', 'Orientation190', 'Orientation290', 'Orientation390', 'Orientation1180', 'Orientation2180', 'Orientation3180', 'Orientation1270', 'Orientation2270', 'Orientation3270'], AddTblNewTrRow, true);
    }

    function AddTbl1NewTrRow(NewTrRowNum) {

        $("#hdGrid1LastRow").val(NewTrRowNum);
        var fn = "AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','CondRefs', ['CondRefs','Date','Time','DryBulbTemp','RelativeHumidity','DewPointTemp','SteelTemp'],AddTbl1NewTrRow)";
        strhtml = "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            " <td class=\"LineId\" style=\"display:none;\">0</td>"
            + "<td class=\"CondRefs center\">" + GetColumnTextBoxRender(NewTrRowNum, "CondRefs", "", fn, "5", false, false, "", "", 1, "islastrow", true) + "</td>"
            + "<td class=\"Date center \">" + GetColumnDatePickerRender(NewTrRowNum, "Date", "", fn, "10", false, false, "", "", 1, "islastrow") + "</td>"
            + "<td class=\"Time center \">" + GetColumnTextBoxRender(NewTrRowNum, "Time", "", fn, "10", false, false, "", "", 1, "islastrow") + "</td>"
            + "<td class=\"DryBulbTemp center \">" + GetColumnTextBoxRender(NewTrRowNum, "DryBulbTemp", "", fn, "10", false, false, "", "", 1, "islastrow") + "</td>"
            + "<td class=\"RelativeHumidity center \">" + GetColumnTextBoxRender(NewTrRowNum, "RelativeHumidity", "", fn, "10", false, false, "", "", 1, "islastrow") + "</td>"
            + "<td class=\"DewPointTemp center \">" + GetColumnTextBoxRender(NewTrRowNum, "DewPointTemp", "", fn, "10", false, false, " ", "", 1, "islastrow") + "</td>"
            + "<td class=\"SteelTemp center \">" + GetColumnTextBoxRender(NewTrRowNum, "SteelTemp", "", fn, "10", false, false, "", "", 1, "islastrow") + "</td>"
            + "<td class=\"DiffSteelDewPointTemp center \">" + GetColumnTextBoxRender(NewTrRowNum, "DiffSteelDewPointTemp", "", fn, "10", false, false, "", "", 1, "islastrow") + "</td>"
            + "<td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
            + "</tr>";

        return strhtml;

    }

    function AddTbl2NewTrRow(NewTrRowNum) {

        $("#hdGrid2LastRow").val(NewTrRowNum);
        var fn = "AddNextRow(this,null,false,2,'hdGrid2LastRow','tblProtocolLines2','TestDone', ['TestDone','Frequency','Standard','Requirement','Observed','Result'],AddTbl2NewTrRow)";
        strhtml = "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            " <td class=\"LineId\" style=\"display:none;\">0</td>"
                + "<td class=\"TestDone center\">" + GetColumnTextBoxRender(NewTrRowNum, "TestDone", "", fn, "5", false, false, "", "", 2, "islastrow", true) + "</td>"
                + "<td class=\"Frequency center \">" + GetColumnTextBoxRender(NewTrRowNum, "Frequency", "", fn, "20", false, false, "", "", 2, "islastrow") + "</td>"
                + "<td class=\"Standard center \">" + GetColumnTextBoxRender(NewTrRowNum, "Standard", "", fn, "20", false, false, "", "", 2, "islastrow") + "</td>"
                + "<td class=\"Requirement center \">" + GetColumnTextBoxRender(NewTrRowNum, "Requirement", "", fn, "20", false, false, "", "", 2, "islastrow") + "</td>"
                 + "<td class=\"Observed center \">" + GetColumnTextBoxRender(NewTrRowNum, "Observed", "", fn, "20", false, false, " ", "", 2, "islastrow") + "</td>"
                + "<td class=\"Result center \">" + GetColumnTextBoxRender(NewTrRowNum, "Result", "", fn, "20", false, false, "", "", 2, "islastrow") + "</td>"
            + "<td class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
            + "</tr>";
        return strhtml;
    }

    function AddTbl3NewTrRow(NewTrRowNum) {
        $("#hdGrid3LastRow").val(NewTrRowNum);
        var fn = "AddNextRow(this,null,false,3,'hdGrid3LastRow','tblProtocolLines3','Equipment', ['Equipment'],AddTbl3NewTrRow)";
        strhtml = "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            " <td class=\"LineId\" style=\"display:none;\">0</td>"
            + "<td class=\"Equipment center\">" + GetColumnTextBoxRender(NewTrRowNum, "Equipment", "", fn, "5", false, false, "", "", 3, "islastrow", true) + "</td>"
            + "<td class=\"MachineMake center \">" + GetColumnTextBoxRender(NewTrRowNum, "MachineMake", "", fn, "30", false, false, "", "", 3, "islastrow") + "</td>"
            + "<td class=\"SerialNo center \">" + GetColumnTextBoxRender(NewTrRowNum, "SerialNo", "", fn, "30", false, false, "", "", 3, "islastrow") + "</td>"
            + "<td class=\"DeleteAction\"><i id=\"Delete_3_" + NewTrRowNum + "\" name=\"Delete_3_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
            + "</tr>";
        return strhtml;
    }

    function AddTblNewTrRow(NewTrRowNum) {
        $("#hdGridLastRow").val(NewTrRowNum);
        var fn = "AddNextRow(this,null,false,3,'hdGridLastRow','tblProtocolLines3','SpotNo',['SpotNo','Orientation10','Orientation20','Orientation30','Orientation190','Orientation290','Orientation390','Orientation1180','Orientation2180','Orientation3180','Orientation1270','Orientation2270','Orientation3270'],AddTblNewTrRow);calculateAverage(this.id);";
        var strhtml = "<tr class=\"islastrow\">" +
            +"<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>"
            + "<td class=\"LineId\" style=\"display:none;\">0</td>"
            + "<td class=\"SpotNo center\">" + GetColumnTextBoxRender(NewTrRowNum, "SpotNo", "", fn, "30", false, false, "", "", 3, "islastrow", true) + "</td>"

            + "<td class=\"Orientation10\">" + GetColumnTextBoxRender(NewTrRowNum, "Orientation10", "", fn, "5", false, false, "", "", 3, "islastrow width30", true) + "</td>"
            + "<td class=\"Orientation20\">" + GetColumnTextBoxRender(NewTrRowNum, "Orientation20", "", fn, "5", false, false, "", "", 3, "islastrow width30", true) + "</td>"
            + "<td class=\"Orientation30\">" + GetColumnTextBoxRender(NewTrRowNum, "Orientation30", "", fn, "5", false, false, "", "", 3, "islastrow width30", true) + "</td>"



            + "<td class=\"Orientation190\">" + GetColumnTextBoxRender(NewTrRowNum, "Orientation190", "", fn, "5", false, false, "", "", 3, "islastrow width30", true) + "</td>"
            + "<td class=\"Orientation290\">" + GetColumnTextBoxRender(NewTrRowNum, "Orientation290", "", fn, "5", false, false, "", "", 3, "islastrow width30", true) + "</td>"
            + "<td class=\"Orientation390\">" + GetColumnTextBoxRender(NewTrRowNum, "Orientation390", "", fn, "5", false, false, "", "", 3, "islastrow width30", true) + "</td>"


            + "<td class=\"Orientation1180\">" + GetColumnTextBoxRender(NewTrRowNum, "Orientation1180", "", fn, "5", false, false, "", "", 3, "islastrow width30", true) + "</td>"
            + "<td class=\"Orientation2180\">" + GetColumnTextBoxRender(NewTrRowNum, "Orientation2180", "", fn, "5", false, false, "", "", 3, "islastrow width30", true) + "</td>"
            + "<td class=\"Orientation3180\">" + GetColumnTextBoxRender(NewTrRowNum, "Orientation3180", "", fn, "5", false, false, "", "", 3, "islastrow width30", true) + "</td>"


            + "<td class=\"Orientation1270\">" + GetColumnTextBoxRender(NewTrRowNum, "Orientation1270", "", fn, "5", false, false, "", "", 3, "islastrow width30", true) + "</td>"
            + "<td class=\"Orientation2270\">" + GetColumnTextBoxRender(NewTrRowNum, "Orientation2270", "", fn, "5", false, false, "", "", 3, "islastrow width30", true) + "</td>"
            + "<td class=\"Orientation3270\">" + GetColumnTextBoxRender(NewTrRowNum, "Orientation3270", "", fn, "5", false, false, "", "", 3, "islastrow width30", true) + "</td>"

            + "<td class=\"DeleteAction\">"
            + "<i id=\"Delete_3_" + NewTrRowNum + "\" name=\"Delete_3_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\"  onclick =\"DeleteProtocolLine(this)\" style=\"display:none\"></i ></td > "
            + "</tr>"
        return strhtml;
    }

    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
            },
            messages: {
            }
        });
    }

    function SaveProtocolLine(lineId, gridId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine" + gridId + Linkage, "tblProtocolLines" + gridId, "btnNewLines" + gridId);
    }

    function LoadSaveAndDraft() {

        var TableData3 = []; //initialize array;
        var lstProtocolLines3 = ""; //empty var;
        $("table#tblProtocolLines3 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData3[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "SpotNo": $('td.SpotNo input', this).val(),

                "Orientation10": parseFloat($('td.Orientation10 input', this).val()),
                "Orientation20": parseFloat($('td.Orientation20 input', this).val()),
                "Orientation30": parseFloat($('td.Orientation30 input', this).val()),
                "Orientation190": parseFloat($('td.Orientation190 input', this).val()),
                "Orientation290": parseFloat($('td.Orientation290 input', this).val()),
                "Orientation390": parseFloat($('td.Orientation390 input', this).val()),
                "Orientation1180": parseFloat($('td.Orientation1180 input', this).val()),
                "Orientation2180": parseFloat($('td.Orientation2180 input', this).val()),
                "Orientation3180": parseFloat($('td.Orientation3180 input', this).val()),
                "Orientation1270": parseFloat($('td.Orientation1270 input', this).val()),
                "Orientation2270": parseFloat($('td.Orientation2270 input', this).val()),
                "Orientation3270": parseFloat($('td.Orientation3270 input', this).val())
            };

            lstProtocolLines3 = JSON.stringify(TableData3);
        });

        SaveAsDraftProtocolLine(lstProtocolLines3, ControllerURL + "SaveProtocolLine3?HeaderId=" + parseInt($("#HeaderId").val()), 3);
    }

    $("#btnUploadImage1").click(function () {
        LoadFileUpload1();
    });

    function LoadFileUpload1() {
        var vHeaderId = $("#HeaderId").val();
        if (vHeaderId != undefined && vHeaderId != '' && vHeaderId != 0) {
            var objFile = {
                TableName: 'MAL010',
                TableId: vHeaderId,
                Path: 'MAL010//' + vHeaderId + '//1',
                ControlID: '@(FileUpload1ControlID1)',
                ViewerId: 1,
                IsMultipleUploaded: false,
                ShowDeleteAction: true,
                ShowDownloadBtn: true,
                ShowAttachmentBtn: true,
                SuccessCallbackFunction: "SuccessCallFunc(1)",
                IsRequired: false,
                AllowFileExtension: ".jpg,.jpeg,.png,.bmp,.jfif",
                DeleteSuccessCallbackFunction: "SuccessCallFunc(1)"
            };

            Load_File_Upload_Partial_View(objFile, 'dv@(FileUpload1ControlID1)', true);
        }
        else
            DisplayNotiMessage("Info", "Please first save data then upload image.", "Information");
    }

    function SuccessCallFunc(Type) {
        var vPath = $("#SavedFilePath@(FileUpload1ControlID1)").val();
        var vUrl = "/ImageHandler.ashx?type=@clsImplementationEnum.ImageType.FCS.ToString()&fp=" + vPath;
        $("#image" + Type).removeAttr("src");
        $("#image" + Type).attr("src", vUrl);
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>