﻿@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>

<script>
    $(document).ready(function () {
        $("#btnAdd").click(function () {
            getParamForm(0);
        });

    });
    function getParamForm(Id) {
        $.ajax({
            type: "POST",
            url: WebsiteURL +  "/Authorization/IntWelderStamp/GetIweld",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { Id: Id },
            success: function (result) {
                bootbox.dialog({
                    title: 'Internal Welder Stamp Master',
                    message: result,
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn save',
                            callback: function () {
                                if ($("#frmAuthMatrix").valid()) {
                                    var formData = new FormData();
                                    var frmValues = $('#frmAuthMatrix').serializeArray();
                                    $.each(frmValues, function (key, input) {
                                        formData.append(input.name, input.value);
                                    });
                                    $.ajax({
                                        url: WebsiteURL +  '/Authorization/IntWelderStamp/SaveIwel',
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        type: 'POST',
                                        async: false,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                            $('#tblParam').DataTable().ajax.reload();
                                        }
                                    });
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }

                });
            },
            error: function () {
            }
        });
    }

    function DeleteRecord(Id) {
        bootbox.confirm({
            message: "Are you sure you want to delete this record?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: WebsiteURL +  '/Authorization/IntWelderStamp/DeleteIwel',
                        data: { Id: Id },
                        type: 'POST',
                        async: false,
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        success: function (data) {
                            if (data.Key) {
                                DisplayNotiMessage("success", data.Value, "Success");
                            }
                            else {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                            $('#tblParam').DataTable().ajax.reload();
                        }
                    });
                }
            }
        });
    }
    function UpdateRecord(Id) {
        debugger
        $.ajax({
            type: "POST",
            url: WebsiteURL +  "/Authorization/IntWelderStamp/GetIweld",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { Id: Id },
            success: function (result) {
                bootbox.dialog({
                    title: 'Internal Welder Stamp Master',
                    message: result,
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn save',
                            callback: function () {
                                if ($("#frmAuthMatrix").valid()) {
                                    var formData = new FormData();
                                    var frmValues = $('#frmAuthMatrix').serializeArray();

                                    $.each(frmValues, function (key, input) {
                                        formData.append(input.name, input.value);

                                    });
                                    $.ajax({
                                        url: WebsiteURL +  '/Authorization/IntWelderStamp/UpdateIwel',
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        type: 'POST',
                                        async: false,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                            $('#tblParam').DataTable().ajax.reload();
                                        }
                                    });
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                    //callback: function (result) {
                    //    debugger
                    //    if (result) {
                    //    }
                    //}
                });
            },
            error: function () {
            }
        });
    }
</script>

<script>
    var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()' == "true" ? true : false;
    $(document).ready(function () {

        if (IsDisplayOnly) {
            $("#btnAdd").hide();
            $("#spanLabel").html("Display");
        }
        else {
            $("#spanLabel").html("Internal");
        }
        var table = $('#tblParam');
        var oTable = table.dataTable({
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": true,
            // Or you can use remote translation file
            //"language": {
            //   url: WebsiteURL +  '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            //},

            // setup buttons extentension: http://datatables.net/extensions/buttons/
            buttons: [
                //{ extend: 'print', className: 'btn default'  },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "order": [
                [0, 'asc']
            ],

            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            // set the initial value
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/Authorization/IntWelderStamp/getData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                });
            },

            "columns": [
                {
                    "name": "Location",
                    "bSortable": true,
                    "sClass": "center",
                    "ColName": "a.Location"
                },
                {
                    "name": "WelderPSNo",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "Stamp",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "Evaluation",
                    "bSortable": false,
                    "sClass": "hide"
                },
                 {
                     "name": "CreatedBy",
                     "bSortable": true,
                     "sClass": "center",
                     "ColName": "a.CreatedBy + ' - ' + e.t_name"
                 },
                  {
                      "name": "CreatedOn",
                      "bSortable": true,
                      "sClass": "center",
                      "attr": "date",
                      "ColName": "a.CreatedOn"
                  },
                {
                    "bSortable": false,
                    "sClass": "center" + (IsDisplayOnly ? " hide" : ""),
                    // "sClass": "center",
                    "sWidth": "10%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        buttons = '<center><i  data-modal="" id="btnUpdate" name="btnUpdate" style="cursor:pointer;margin-left:5px" Title="Update Record" class="fa fa-edit" onClick="UpdateRecord(' + row[7] + ' )" ></i>';
                        buttons += '&nbsp;<i  data-modal="" id="btnDelete" name="btnAction" style="cursor:pointer;margin-left:5px" Title="Delete Record" class="fa fa-trash-o" onClick="DeleteRecord(' + row[7] + ')"></i></center>';
                        return buttons;
                    }
                },
                 {
                     "sClass": "hide",
                     "ColName": "a.Id",

                 }
            ]
            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
        table.dtSearchFilter();
    });
</script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    <span id="spanLabel"></span>
                                    Welder Stamp Master
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6">
                                <button id="btnAdd" class="btn btn-success pull-right"> Add New </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    @*<div class="form-group">
                            <div class="row">

                            </div>
                        </div>*@

                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        @*<i class="fa fa-globe"></i>Row & Column Reordering*@
                                    </div>
                                    <div class="tools" id="dvExportHeader">
                                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/Authorization/IntWelderStamp/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblParam" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="min-phone-l">Location</th>
                                                <th class="min-phone-l">Welder PS Number</th>
                                                <th class="min-phone-l">Stamp</th>
                                                <th class="min-phone-l">Evaluation</th>
                                                <th class="min-phone-l">Created By</th>
                                                <th class="min-phone-l">Created On</th>
                                                <th class="min-phone-l">Action</th>
                                                <th class="" style="display:none;">ID</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

