﻿@model IEMQSImplementation.WPS010
@using IEMQSImplementation

@{
    ViewBag.Title = "Approve WPS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin: 0px 0px 5px 0px !important;
        /*margin-bottom: 5px !important;
        margin-left: 0;*/
    }
</style>

<script>
    var WP1 = false, WP2 = false, WP3 = false, WP4 = false, headerId;
    $(document).ready(function () {
        headerId = $("#HeaderId").val();

        if (headerId != null && headerId != undefined || headerId != "0") {
            LoadPartial('@Model.HeaderId', "", "");
            if ('@Model.WeldingProcess1' != '' && '@Model.WeldingProcess1' != "null" && '@Model.WeldingProcess1' != null) { WP1 = true; }
            if ('@Model.WeldingProcess2' != '' && '@Model.WeldingProcess2' != "null" && '@Model.WeldingProcess2' != null) { WP2 = true; }
            if ('@Model.WeldingProcess3' != '' && '@Model.WeldingProcess3' != "null" && '@Model.WeldingProcess3' != null) { WP3 = true; }
            if ('@Model.WeldingProcess4' != '' && '@Model.WeldingProcess4' != "null" && '@Model.WeldingProcess4' != null) { WP4 = true; }

            $("#dvWPSLines").show();
            LoadWPSLines($("#HeaderId").val())
        }


        $('input[type="text"],textarea').attr("readonly", "readonly");
        $('#txtWPSNumber').removeAttr("readonly", "false");
        TabsForJointType('@Model.Jointtype');

        $('#navJointType').on('click', 'a', function () {
            var spara = $(this).attr("spara");
            var jointType = $(this).attr("class");
            LoadPartial($("#HeaderId").val(), spara, jointType);
        });

        $("#btnApprove").click(function () {
            $.ajax({
                url: WebsiteURL + "/WPS/ApproveWPSHeader/ApproveWPSHeader",
                type: "POST",
                datatype: "json",
                data: { strHeaderIds: headerId },
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (res) {
                    if (res.Key) {
                        DisplayNotiMessage("success", res.Value, "Success");
                        $("#btnApprove").prop('disabled', 'disabled')
                        $("#btnReturn").prop('disabled', 'disabled')
                        window.setTimeout('window.location.href = "' + WebsiteURL + '/WPS/ApproveWPSHeader/Index"', 2000);
                    }
                    else {
                        if (res.IsInformation) {
                            DisplayNotiMessage("info", res.Value, "Information");
                        }
                        else {
                            DisplayNotiMessage("error", res.Value, "Error");
                        }
                    }
                },
                error: function () {
                    response = "";
                    return false;
                }
            });
        })

        $("#btnReturn").click(function () {
            var strHtml = "<scr" + "ipt>$(document).ready(function(){"
                   + "$('input[maxlength],textarea[maxlength]').maxlength({alwaysShow: true,});"
                   + "$('#frmHeaderReturn').validate({"
                   + " rules: {"
                   + "txtReturnRemark: {"
                   + "required: true,"
                   + "},"
                   + "messages: {"
                   + "txtReturnRemark: {"
                   + "required: 'Return Remark is required'"
                   + "}"
                   + "}"
                    + "}"
                   + "});"
                   + "});</scr" + "ipt>"
                   + " <div>"
                   + "<form method='post' id='frmHeaderReturn' class='form-horizontal' action=''>"
                   + "<div class='form-group'>"
                   + "<div class='col-md-12'>"
                   + "<br /><label class='control-label'><b>Return Remark</b><span class='required'> * </span></label>"
                   + "<div class=''>"
                   + "<textarea type='text' value='' style='width:100%' name='txtReturnRemark' id='txtReturnRemark' maxlength='200' class='form-control col-md-3'></textarea>"
                   + "</div>"
                   + "</div>"
                   + "</div>"
                   + "</form>"
                   + "</div>";


            bootbox.dialog({
                title: "Return Confirmation",
                message: "Do you want to return?" + strHtml,
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            if ($('#frmHeaderReturn').valid()) {
                                $.ajax({
                                    type: "POST",
                                    url: WebsiteURL + "/WPS/ApproveWPSHeader/ReturnWPSHeader",
                                    datatype: 'json',
                                    async: false,
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    data: { strHeaderId: '@Model.HeaderId', remark: $('#txtReturnRemark').val() },
                                    success: function (res) {
                                        if (res.Key) {
                                            DisplayNotiMessage("success", res.Value, "Success");
                                            $("#btnApprove").prop('disabled', 'disabled')
                                            $("#btnReturn").prop('disabled', 'disabled')
                                            window.setTimeout('window.location.href = "' + WebsiteURL + '/WPS/ApproveWPSHeader/Index"', 2000);
                                        }
                                        else {
                                            if (res.IsInformation) {
                                                DisplayNotiMessage("info", res.Value, "Information");
                                            }
                                            else {
                                                DisplayNotiMessage("error", res.Value, "Error");
                                            }
                                        }
                                    },
                                    error: function () {
                                    }
                                });
                            }
                            else {
                                return false;
                            }
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }

                }
            });
        });


        $("#btnClose").click(function () {
            window.location.href = WebsiteURL + "/WPS/ApproveWPSHeader/Index?tab=@ViewBag.Tab";
        });


    });

    function FillAutoComplete(element, sourceList, hdElement, validateElem) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
            },
            close: function () {
                $(this).rules('add', {
                    required: {
                        depends: function () {
                            return $(validateElem).val().length > 0
                        }
                    },
                    messages: {
                        required: "Required field"
                    }
                });
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(this).focus();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };

    function LoadAutoComplete(element, sourceList, hdElement, validation) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
            },
            close: function () {
                $(this).rules('add', {
                    required: {
                        depends: function () {
                            return validation
                        }
                    },
                    messages: {
                        required: "Required field"
                    }
                });
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(this).focus();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };


    function LoadPartial(headerId, partialName, jointType) {
        var dvToloadPartial = "dvWPSHeader" + partialName;

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/WPS/ApproveWPSHeader/LoadPartial",
            data: { headerId: parseInt(headerId), partialName: partialName, jointType: jointType },
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                $("#tabContent .tab-pane").removeClass("active");
                //$(".tab-pane").hide();
                $("#" + dvToloadPartial).addClass("active");
                //$("#" + dvToloadPartial).show();
                $("#" + dvToloadPartial).html(result);
            },
            error: function () {
            }
        });
    }

    function TabsForJointType(text) {

        var ul = $("#navJointType");
        $('#navJointType a:not(#tabWPSHeader)').remove();
        if (text.toLowerCase() == "groove/fillet" || text.toLowerCase() == "butt joint" || text.toLowerCase() == "butt joints") {

            $('#navJointType a[class="Buttering"]:not(#tabWPSHeader)').remove();
            $('#navJointType a[class="TTS"]:not(#tabWPSHeader)').remove();
            $('#navJointType a[class="OverLay"]:not(#tabWPSHeader)').remove();

            ul.append('<li><a name="tabWPSHeader" class="Groove" id="tabGrooveF1" spara="GrooveF1" data-toggle="tab">Form2</a></li>'); //dvWPSHeaderGrooveF1
            ul.append('<li><a name="tabWPSHeader" class="Groove" id="tabGrooveF2" spara="GrooveF2" data-toggle="tab">Form3</a></li>'); //dvWPSHeaderGrooveF2
            ul.append('<li><a name="tabWPSHeader" class="Groove" id="tabGrooveF3" spara="GrooveF3" data-toggle="tab">Form4</a></li>'); //dvWPSHeaderGrooveF3
            ul.append('<li><a name="tabWPSHeader" class="Groove" id="tabGrooveF4" spara="GrooveF4" data-toggle="tab">Form5</a></li>'); //dvWPSHeaderGrooveF4
            ul.append('<li><a name="tabWPSHeader" class="Groove" id="tabGrooveF5" spara="GrooveF5" data-toggle="tab">Form6</a></li>'); //dvWPSHeaderGrooveF5
            //ul.append('<li><a name="tabWPSHeader" class="Groove" id="tabGrooveF6" spara="GrooveF6" data-toggle="tab">Form7</a></li>'); //dvWPSHeaderGrooveF6
        }
        else if (text.toLowerCase() == "buttering") {

            $('#navJointType a[class="Groove"]:not(#tabWPSHeader)').remove();
            $('#navJointType a[class="TTS"]:not(#tabWPSHeader)').remove();
            $('#navJointType a[class="OverLay"]:not(#tabWPSHeader)').remove();

            ul.append('<li><a name="tabWPSHeader" class="Buttering" id="tabButteringF1" spara="ButteringF1" data-toggle="tab">Form2</a></li>'); //dvWPSHeaderButteringF1
            ul.append('<li><a name="tabWPSHeader" class="Buttering" id="tabButteringF2" spara="ButteringF2" data-toggle="tab">Form3</a></li>'); //dvWPSHeaderButteringF2
            ul.append('<li><a name="tabWPSHeader" class="Buttering" id="tabButteringF3" spara="ButteringF3" data-toggle="tab">Form4</a></li>'); //dvWPSHeaderButteringF3
            ul.append('<li><a name="tabWPSHeader" class="Buttering" id="tabButteringF4" spara="ButteringF4" data-toggle="tab">Form5</a></li>'); //dvWPSHeaderButteringF4
            ul.append('<li><a name="tabWPSHeader" class="Buttering" id="tabButteringF5" spara="ButteringF5" data-toggle="tab">Form6</a></li>'); //dvWPSHeaderButteringF5
            //ul.append('<li><a name="tabWPSHeader" class="Buttering" id="tabButteringF6" spara="ButteringF6" data-toggle="tab">Form7</a></li>'); //dvWPSHeaderButteringF6
        }
        else if (text.toLowerCase() == "t#ts") {

            $('#navJointType a[class="Groove"]:not(#tabWPSHeader)').remove();
            $('#navJointType a[class="Buttering"]:not(#tabWPSHeader)').remove();
            $('#navJointType a[class="OverLay"]:not(#tabWPSHeader)').remove();

            ul.append('<li><a name="tabWPSHeader" class="TTS" id="tabTTSF1" spara="TTSF1" data-toggle="tab">Form2</a></li>'); //dvWPSHeaderTTSF1
            ul.append('<li><a name="tabWPSHeader" class="TTS" id="tabTTSF2" spara="TTSF2" data-toggle="tab">Form3</a></li>'); //dvWPSHeaderTTSF2
            ul.append('<li><a name="tabWPSHeader" class="TTS" id="tabTTSF3" spara="TTSF3" data-toggle="tab">Form4</a></li>'); //dvWPSHeaderTTSF3
            ul.append('<li><a name="tabWPSHeader" class="TTS" id="tabTTSF4" spara="TTSF4" data-toggle="tab">Form5</a></li>'); //dvWPSHeaderTTSF4
            ul.append('<li><a name="tabWPSHeader" class="TTS" id="tabTTSF5" spara="TTSF5" data-toggle="tab">Form6</a></li>'); //dvWPSHeaderTTSF5

        }
            //else if (text.toLowerCase() == "overlay/hardfacing") {
        else if (text.toLowerCase() == "overlay") {
            $('#navJointType a[class="Groove"]:not(#tabWPSHeader)').remove();
            $('#navJointType a[class="Buttering"]:not(#tabWPSHeader)').remove();
            $('#navJointType a[class="TTS"]:not(#tabWPSHeader)').remove();

            ul.append('<li><a name="tabWPSHeader" class="OverLay" id="tabOverLayF1" spara="OverLayF1" data-toggle="tab"> Form2 </a></li>');//dvWPSHeaderOverLayF1
            ul.append('<li><a name="tabWPSHeader" class="OverLay" id="tabOverLayF2" spara="OverLayF2" data-toggle="tab"> Form3 </a></li>');//dvWPSHeaderOverLayF2
            ul.append('<li><a name="tabWPSHeader" class="OverLay" id="tabOverLayF3" spara="OverLayF3" data-toggle="tab"> Form4 </a></li>');//dvWPSHeaderOverLayF3
            ul.append('<li><a name="tabWPSHeader" class="OverLay" id="tabOverLayF4" spara="OverLayF4" data-toggle="tab"> Form5 </a></li>');//dvWPSHeaderOverLayF4
            ul.append('<li><a name="tabWPSHeader" class="OverLay" id="tabOverLayF5" spara="OverLayF5" data-toggle="tab"> Form6 </a></li>');//dvWPSHeaderOverLayF5
        }

        if (text.length > 0) {
            $('#navJointType li').removeClass('disabled');
            $('#navJointType li').find('a').attr("data-toggle", "tab");
        }

        //e.preventDefault();
    }

    function LoadWPSLines(headerId) {

        var table = $('#tblWPSLines');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/WPS/ApproveWPSHeader/LoadWPSLinesDataTable?headerId=" + $("#HeaderId").val(),
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "aoColumns": [
                {
                    "sClass": "center",
                    "bSortable": false,
                    "sWidth": "5%"
                },
                {
                    "sClass": "hide",
                },
                {
                    "sClass": "hide",
                },

                {
                    "name": "WeldingProcess",
                    "sClass": "center",
                },
                {
                    "name": "WeldLayer",
                    "sClass": "center",
                },
                {
                    "name": "AWSClass",
                    "sClass": "center",
                },
                {
                    "name": "FillerMetalSize",
                    "sClass": "center",
                    "sWidth": "7%"
                },
                {
                    "name": "ANumber",
                    "sClass": "center",
                    "sWidth": "7%"
                },
                {
                    "name": "SupplementalFiller",
                    "sClass": "center",
                },
                {
                    "name": "FluxType",
                    "sClass": "center",
                },
                {
                    "name": "FillerMetalTradeName",
                    "sClass": "center",
                },
                {
                    "name": "ReCrushedSlag",
                    "sClass": "center",
                },
                {
                    "name": "SFANo",
                    "sClass": "center",
                },
                {
                    "name": "FNumber",
                    "sClass": "center",
                },
                {
                    "name": "FillerMetalProductForm",
                    "sClass": "center",
                },
                {
                    "name": "ElectrodeFluxClass",
                    "sClass": "center",
                },
                {
                    "name": "FluxTradeName",
                    "sClass": "center",
                },
                {
                    "name": "ConsumableInsert",
                    "sClass": "center",
                },
                {
                    "name": "Other",
                    "sClass": "center",
                },
                {
                    "name": "CurrentAMP",
                    "sClass": "center",
                },
                {
                    "name": "TravelSpeed",
                    "sClass": "center",
                },
                {
                    "name": "CurrentType",
                    "sClass": "center",
                },
                {
                    "name": "CurrentPolarity",
                    "sClass": "center",
                },
                {
                    "name": "Voltage",
                    "sClass": "center",
                },
                {
                    "name": "BeadLength",
                    "sClass": "center",
                },
                {
                    "name": "HeatInput",
                    "sClass": "center",
                },
                {
                    "name": "WireFeedSpeed",
                    "sClass": "center",
                },

            ]
        })
    }

    function WPSReport(name, headerid) {
        $.ajax({
            url: WebsiteURL + "/WPS/MaintainWPSHeader/GetRequiredFieldsForJointType",
            type: "POST",
            data: { headerId: headerid },
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            dataType: 'json',
            success: function (res) {
                if (res.Key)
                {
                    var showAttachment = true;
                    if (name.toLowerCase() == ("Groove/Fillet").toLowerCase())
                        url = "/WPS/WPS Groove Fillet";
                    //else if (name.toLowerCase() == ("Overlay/HardFacing").toLowerCase())
                    else if (name.toLowerCase() == ("Overlay").toLowerCase()) {
                        var weld1Process = '@Model.WeldingProcess1';
                        var weld2Process = '@Model.WeldingProcess2';
                        var weld3Process = '@Model.WeldingProcess3';
                        var weld4Process = '@Model.WeldingProcess4';
                        if (
                            ((weld1Process != null || weld1Process != "") && (weld1Process == "141(TIG)" || weld1Process == "111(MMAW)" || weld1Process == "121(SAW)" || weld1Process == "131(MIG)" || weld1Process == "135(MAG)")) ||
                            ((weld2Process != null || weld2Process != "") && (weld2Process == "141(TIG)" || weld2Process == "111(MMAW)" || weld2Process == "121(SAW)" || weld2Process == "131(MIG)" || weld2Process == "135(MAG)")) ||
                            ((weld3Process != null || weld3Process != "") && (weld3Process == "141(TIG)" || weld3Process == "111(MMAW)" || weld3Process == "121(SAW)" || weld3Process == "131(MIG)" || weld3Process == "135(MAG)")) ||
                            ((weld4Process != null || weld4Process != "") && (weld4Process == "141(TIG)" || weld4Process == "111(MMAW)" || weld4Process == "121(SAW)" || weld4Process == "131(MIG)" || weld4Process == "135(MAG)"))
                        )
                        {
                            url = "/WPS/WPS LTPC OVERLAY";
                            showAttachment = false;
                        }
                        else {
                            url = "/WPS/WPS Overlay";
                        }
                    }
                    else if (name.toLowerCase() == ("T#TS").toLowerCase()) {
                        url = "/WPS/WPS Tube Tubesheet";
                    }
                    else if (name.toLowerCase() == ("buttering").toLowerCase())
                    {
                        url = "/WPS/WPS Buttering";
                    }
                    else if (name.toLowerCase() == ("butt joint").toLowerCase() || name.toLowerCase() == ("butt joints").toLowerCase()) {
                        url = "/WPS/WPS LTPC";
                        showAttachment = false;
                    }

                    var dat = [];
                    dat.push({ Param: "HeaderId", Value: headerid });
                    ShowReport(dat, url, showAttachment);
                }
                else {
                    DisplayNotiMessage("error", res.Value, "Error");
                }
            },
            error: function (er) {
                alert(er);
            }
        });
    }
</script>


<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Approve WPS</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning">
                        <span style="font-weight:bolder">Status : <label id="lblStatus" style="font-weight:bolder">@Model.Status</label> </span>
                        @Html.HiddenFor(m => m.Status)
                        @Html.HiddenFor(m => m.HeaderId)
                        <input type="hidden" value="@ViewBag.status" id="hdnstatus" />
                        @Html.Hidden("Key1", new { @id = "Key1" })
                        @Html.Hidden("Key2", new { @id = "Key2" })
                    </div>
                </div>

                <div class="portlet-title tabbable-line" id="tabs">
                    <ul class="nav nav-tabs" id="navJointType">
                        <li class="active">
                            <a name="tabWPSHeader" id="tabWPSHeader" spara="" data-toggle="tab"> Form1 </a>
                        </li>
                    </ul>
                </div>

                <div class="portlet-body">
                    <div class="tab-content" id="tabContent">
                        <div class="tab-pane active" id="dvWPSHeader">
                            <div class="col-md-12">
                                @*<a href='@Url.Action("Index","ApproveWPSHeader")' class="btn green"> < Header List</a>*@
                            </div>
                        </div>
                        <div class="tab-pane" id="dvWPSHeaderGrooveF1"></div>
                        <div class="tab-pane" id="dvWPSHeaderGrooveF2"></div>
                        <div class="tab-pane" id="dvWPSHeaderGrooveF3"></div>
                        <div class="tab-pane" id="dvWPSHeaderGrooveF4"></div>
                        <div class="tab-pane" id="dvWPSHeaderGrooveF5"></div>
                        <div class="tab-pane" id="dvWPSHeaderGrooveF6"></div>
                        <div class="tab-pane" id="dvWPSHeaderButteringF1"></div>
                        <div class="tab-pane" id="dvWPSHeaderButteringF2"></div>
                        <div class="tab-pane" id="dvWPSHeaderButteringF3"></div>
                        <div class="tab-pane" id="dvWPSHeaderButteringF4"></div>
                        <div class="tab-pane" id="dvWPSHeaderButteringF5"></div>
                        <div class="tab-pane" id="dvWPSHeaderButteringF6"></div>
                        <div class="tab-pane" id="dvWPSHeaderOverLayF1"></div>
                        <div class="tab-pane" id="dvWPSHeaderOverLayF2"></div>
                        <div class="tab-pane" id="dvWPSHeaderOverLayF3"></div>
                        <div class="tab-pane" id="dvWPSHeaderOverLayF4"></div>
                        <div class="tab-pane" id="dvWPSHeaderOverLayF5"></div>
                        <div class="tab-pane" id="dvWPSHeaderTTSF1"></div>
                        <div class="tab-pane" id="dvWPSHeaderTTSF2"></div>
                        <div class="tab-pane" id="dvWPSHeaderTTSF3"></div>
                        <div class="tab-pane" id="dvWPSHeaderTTSF4"></div>
                        <div class="tab-pane" id="dvWPSHeaderTTSF5"></div>
                    </div>

                    <div id="dvWPSLines" class="row" style="padding:1%;display:none;">
                        <div class="col-md-12" style="text-align:right;margin-bottom: 1%;">
                            @*<input type="button" class="btn green" id="btnAddWPSLine" value="Add Line" />*@
                        </div>
                        <div class="col-md-12">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Welding Parameter
                                    </div>
                                    <div class="tools" id="dvExportLines">
                                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/WPS/MaintainWPSHeader/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLines" })
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <table id="tblWPSLines" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="all" style="width:5%">Sr. No.</th>
                                                <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                <th class="min-phone-l" style="display:none;">LineId</th>
                                                <th class="min-phone-l">Welding Process</th>
                                                <th class="min-phone-l">Weld Layer</th>
                                                <th class="min-phone-l">AWS Class</th>
                                                <th class="min-phone-l" style="width:7%">Size of Filler Metal(mm)</th>
                                                <th class="min-phone-l" style="width:7%">A.No.</th>
                                                <th class="min-phone-l">Supplemental filler</th>
                                                <th class="min-phone-l">Flux Type</th>
                                                <th class="none">Filler Metal Trade Name</th>
                                                <th class="none">Re-crushed slag</th>
                                                <th class="none">SFA No.</th>
                                                <th class="none">F. No.</th>
                                                <th class="none">Filler Metal Product Form</th>
                                                <th class="none">Electrode Flux Class</th>
                                                <th class="none">Flux Trade Name</th>
                                                <th class="none">Consumable Insert</th>
                                                <th class="none">Other</th>
                                                <th class="none">Current (A) </th>
                                                <th class="none">Travel Speed(mm/min)</th>
                                                <th class="none">Current Type</th>
                                                <th class="none">Current Polarity</th>
                                                <th class="none">Voltage(V)</th>
                                                <th class="none">Bead Length/electrode or SMAW(mm)</th>
                                                <th class="none">Max.Heat Input(KJ/mm)</th>
                                                <th class="none">Wire Feed Speed (M/min)</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="text-align:right">
                            @if (Model.Status.ToLower() == clsImplementationEnum.WPSHeaderStatus.SentForApproval.GetStringValue().ToLower())
                            {
                                <input type="button" class="btn approve" id="btnApprove" value="Approve" />
                                <input type="button" class="btn return" id="btnReturn" value="Return" />
                            }
                            <button class="btn btnclose" id="btnClose" title="Close">Close</button>
                            <button class="btn icons" type="button" onclick="WPSReport('@Model.Jointtype', @Model.HeaderId)" title="Print"><i class="fa fa-print"></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>