﻿@model IEMQSImplementation.PRO145
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/protocols.js"></script>
<style>
    /*.FormTable .sub-subtitle {
            background-color: #f3f3f3 !important;
        }*/
    .FormTable .noRightBorder {
        border-right-color: #fff;
    }

    .spnClass {
        float: left;
        text-align: center;
    }

    .inlinetextarea {
        height: 33px !important;
        text-align: center;
    }

    table.traysupport input {
        width: 250px !important;
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">

                            <div class="row col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ProtocolNo, new { @role = "QC", @class = "form-control", @maxLength = "50" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <table class="FormTable traysupport">
                                    <tr>
                                        <td class="title" colspan="11">OVERLAY THICKNESS ON SHELL/D'END (TOP/OPEN END)</td>
                                    </tr>
                                    <tr>
                                        <td class="title">ORIENTATION</td>
                                        <td class="title">REQUIRED</td>
                                        <td class="title">ACTUAL</td>

                                        <td class="title">ORIENTATION</td>
                                        <td class="title">REQUIRED</td>
                                        <td class="title">ACTUAL</td>
                                    </tr>
                                    <tr>
                                        <td>0°</td>
                                        <td rowspan="6">
                                            Nominal:@Html.TextBoxFor(model => model.TopRequiredNom1, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                            Minimum:@Html.TextBoxFor(model => model.TopRequiredMin1, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                        </td>
                                        <td>@Html.TextBoxFor(model => model.TopActual1, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                        <td>180°</td>
                                        <td rowspan="6">
                                            Nominal:@Html.TextBoxFor(model => model.TopRequiredNom2, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                            Minimum:@Html.TextBoxFor(model => model.TopRequiredMin2, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                        <td>@Html.TextBoxFor(model => model.TopActual7, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>30°</td>
                                        <td>@Html.TextBoxFor(model => model.TopActual2, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                        <td>210°</td>
                                        <td>@Html.TextBoxFor(model => model.TopActual8, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>60°</td>
                                        <td>@Html.TextBoxFor(model => model.TopActual3, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                        <td>240°</td>
                                        <td>@Html.TextBoxFor(model => model.TopActual9, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>90°</td>
                                        <td>@Html.TextBoxFor(model => model.TopActual4, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                        <td>270°</td>
                                        <td>@Html.TextBoxFor(model => model.TopActual10, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>120°</td>
                                        <td>@Html.TextBoxFor(model => model.TopActual5, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                        <td>300°</td>
                                        <td>@Html.TextBoxFor(model => model.TopActual11, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>150°</td>
                                        <td>@Html.TextBoxFor(model => model.TopActual6, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                        <td>330°</td>
                                        <td>@Html.TextBoxFor(model => model.TopActual12, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <table class="FormTable traysupport">
                                    <tr>
                                        <td class="title" colspan="11">OVERLAY THICKNESS ON SHELL/D'END (BOTTOM/CUT-OUT END)</td>
                                    </tr>
                                    <tr>
                                        <td class="title">ORIENTATION</td>
                                        <td class="title">REQUIRED</td>
                                        <td class="title">ACTUAL</td>

                                        <td class="title">ORIENTATION</td>
                                        <td class="title">REQUIRED</td>
                                        <td class="title">ACTUAL</td>
                                    </tr>
                                    <tr>
                                        <td >0°</td>
                                        <td rowspan="6">
                                             Nominal:@Html.TextBoxFor(model => model.BottomRequiredNom1, new { @class = "form-control",   @maxlength = "50", @role = "QC" })
                                             Minimum:@Html.TextBoxFor(model => model.BottomRequiredMin1, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                        
                                        <td >@Html.TextBoxFor(model => model.BottomActual1, new { @class = "form-control col-md-12", @maxlength = "50", @role = "PROD" })</td>
                                        <td>180°</td>
                                        <td rowspan="6">
                                            Nominal:@Html.TextBoxFor(model => model.BottomRequiredNom2, new { @class = "form-control ", @maxlength = "50", @role = "QC" })
                                            Minimum:@Html.TextBoxFor(model => model.BottomRequiredMin2, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                        <td>@Html.TextBoxFor(model => model.BottomActual7, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>30°</td>
                                        <td>@Html.TextBoxFor(model => model.BottomActual2, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                        <td>210°</td>
                                        <td>@Html.TextBoxFor(model => model.BottomActual8, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td >60°</td>
                                        <td>@Html.TextBoxFor(model => model.BottomActual3, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                        <td>240°</td>
                                        <td>@Html.TextBoxFor(model => model.BottomActual9, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>90°</td>
                                        <td>@Html.TextBoxFor(model => model.BottomActual4, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                        <td>270°</td>
                                        <td>@Html.TextBoxFor(model => model.BottomActual10, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>120°</td>
                                        <td>@Html.TextBoxFor(model => model.BottomActual5, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                        <td>300°</td>
                                        <td>@Html.TextBoxFor(model => model.BottomActual11, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>150°</td>
                                        <td>@Html.TextBoxFor(model => model.BottomActual6, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                        <td>330°</td>
                                        <td>@Html.TextBoxFor(model => model.BottomActual12, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <table class="FormTable tblNotes noborder" style="border:2px solid #EAEAEA;">
                                    <tr>
                                        <td class="title bold">Remarks:-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1) ALL DIMENSIONS ARE IN MM, UNLESS SPECIFIED.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2) VISUAL CHECKED: 
                                            @Html.TextBoxFor(model => model.Remark21, new { @class = "form-control inlinetextbox", @role = "PROD" })
                                            RESULT FOUND SATISFACTORY:
                                            @Html.TextBoxFor(model => model.Remark22, new { @class = "form-control inlinetextbox", @role = "PROD" })
                                        </td>
                                    </tr>
                                    </table>
                                </div>
                            </div>
                                <div class="form-group">
                                <div class="col-md-12">
                                
                                <div class="col-md-6" style="text-align:left;">
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    <input type="button" class="btn save" id="btnSave" value="Save" />
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "";
    var userRole = '@ViewBag.UserRole.ToString()';
    var isEdit = '@ViewBag.isEditable';
    $(document).ready(function () {

        $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true, });
        var lstYesNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoEnum))));
        var lstYesNoNA = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoNAEnum))));

        FillProtocolAutoComplete($('#Remark21'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark22'), lstYesNo, null, false);

        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });

        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        $("#btnSave").click(function () {
                @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                {
                    <text>$('[role="PROD"]').prop("required", true);</text>
                }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                {
                    <text>$('[role="QC"]').prop("required", true);</text>
                }
            SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData" + Linkage, userRole);
        });
        $("#btnClose").click(function () {
            DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
            window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
        });
    });

</script>