﻿@model IEMQSImplementation.MAL018
@using IEMQSImplementation

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>

                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        @Html.HiddenFor(m => m.HeaderId)
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable tblNotes" style="margin-bottom:0px">
                                        <tr>
                                            <td class="subtitle">INSPECTION CERTIFICATE NO.</td>
                                            <td class="InspectionCertiNo" colspan="2"> @Html.TextArea("InspectionCertiNo", Model.InspectionCertiNo, new { @class = "form-control", @maxlength = "20" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle"> DATE</td>
                                            <td colspan="2">
                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                    @Html.TextBoxFor(m => m.Date, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;" })
                                                    <span class="input-group-btn" style="top: -7px;float: right;margin-left: -39px !important">
                                                        <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">PROJECT NO.</td>
                                            <td colspan="2">
                                                <div class="">
                                                    <input type="text" id="txtQProject" value="" name="txtQProject" class="form-control col-md-3" placeholder="Select" onchange="BindProjectDetailsData()" />
                                                    @Html.HiddenFor(m => m.ProjectNo, new { @class = "form-control", @placeholder = "Select" })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">EQUIPMENT DESCRIPTION</td>
                                            <td class="EquipmentDesc" colspan="2"> @Html.TextArea("EquipmentDesc", Model.EquipmentDesc, new { @class = "form-control", @maxlength = "200" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">CUSTOMER</td>
                                            <td class="Customer" colspan="2"> @Html.TextArea("Customer", Model.Customer, new { @class = "form-control", @maxlength = "200" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">CUSTOMER'S EQUIPMENT NO.</td>
                                            <td class="CustomerEquiNo" colspan="2"> @Html.TextArea("CustomerEquiNo", Model.CustomerEquiNo, new { @class = "form-control", @maxlength = "200" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">PROJECT</td>
                                            <td class="Project" colspan="2"> @Html.TextArea("Project", Model.Project, new { @class = "form-control", @maxlength = "200" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">CUSTOMER'S P.O. NO.</td>
                                            <td class="CustomerPONo" colspan="2"> @Html.TextArea("CustomerPONo", Model.CustomerPONo, new { @class = "form-control", @maxlength = "200" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">INSPECTION AUTHORITY</td>
                                            <td class="InspectionAuthority" colspan="2"> @Html.TextArea("InspectionAuthority", Model.InspectionAuthority, new { @class = "form-control", @maxlength = "100" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">YEAR OF MANUFACTURE</td>
                                            <td class="YearOfManufacture" colspan="2"> @Html.TextArea("YearOfManufacture", Model.YearOfManufacture, new { @class = "form-control", @maxlength = "20" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">EQUIPMENT DESIGNED TO</td>
                                            <td class="EquipmentDesigndTo" colspan="2"> @Html.TextArea("EquipmentDesigndTo", Model.EquipmentDesigndTo, new { @class = "form-control", @maxlength = "100" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">APPLICABLE L&T DRAWINGS</td>
                                            <td class="ApplicableLTDrawings" colspan="2"> @Html.TextArea("ApplicableLTDrawings", Model.ApplicableLTDrawings, new { @class = "form-control", @maxlength = "200" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">SPECIFICATION NOS.</td>
                                            <td class="SpecificationNos" colspan="2"> @Html.TextArea("SpecificationNos", Model.SpecificationNos, new { @class = "form-control", @maxlength = "100" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">CUSTOMER'S DRAWINGS/SPECIFICATION NOS.</td>
                                            <td class="CustomersDrawingSpecNos" colspan="2"> @Html.TextArea("CustomersDrawingSpecNos", Model.CustomersDrawingSpecNos, new { @class = "form-control", @maxlength = "100" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">WELDING MATERIALS USED</td>
                                            <td class="WeldingMaterialsUsed" colspan="2"> @Html.TextArea("WeldingMaterialsUsed", Model.WeldingMaterialsUsed, new { @class = "form-control", @maxlength = "100" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">MATERIAL OF CONSTRUCTION</td>
                                            <td class="MaterialOfConstruction"> @Html.TextArea("MaterialOfConstruction", Model.MaterialOfConstruction, new { @class = "form-control", @maxlength = "100" }) </td>
                                            <td class="MaterialOfConstructionddl">@Html.DropDownListFor(model => model.MaterialOfConstructionddl, new SelectList(@ViewBag.YesNoNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">RADIOGRAPHY/ULTRASONIC TEST REPORTS</td>
                                            <td class="RadiographyTestReports"> @Html.TextArea("RadiographyTestReports", Model.RadiographyTestReports, new { @class = "form-control", @maxlength = "100" }) </td>
                                            <td class="RadiographyTestReportsddl">@Html.DropDownListFor(model => model.RadiographyTestReportsddl, new SelectList(@ViewBag.YesNoNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">HEAT TREATMENT REPORT</td>
                                            <td class="Heattreatmentreport"> @Html.TextArea("Heattreatmentreport", Model.Heattreatmentreport, new { @class = "form-control", @maxlength = "100" }) </td>
                                            <td class="Heattreatmentreportddl">@Html.DropDownListFor(model => model.Heattreatmentreportddl, new SelectList(@ViewBag.YesNoNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">PRODUCTION TEST COUPON RESULTS</td>
                                            <td class="ProductiontestCouponResults"> @Html.TextArea("ProductiontestCouponResults", Model.ProductiontestCouponResults, new { @class = "form-control", @maxlength = "100" }) </td>
                                            <td class="ProductiontestCouponResultsddl">@Html.DropDownListFor(model => model.ProductiontestCouponResultsddl, new SelectList(@ViewBag.YesNoNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">HYDROSTATIC TEST REPORT</td>
                                            <td class="HydrostatiocTestReport"> @Html.TextArea("HydrostatiocTestReport", Model.HydrostatiocTestReport, new { @class = "form-control", @maxlength = "100" }) </td>
                                            <td class="HydrostatiocTestReportddl">@Html.DropDownListFor(model => model.HydrostatiocTestReportddl, new SelectList(@ViewBag.YesNoNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">MARKING OF EQUIPMENT/NAME PLATE</td>
                                            <td class="MarkingOfEquipmentNamePlate"> @Html.TextArea("MarkingOfEquipmentNamePlate", Model.MarkingOfEquipmentNamePlate, new { @class = "form-control", @maxlength = "100" }) </td>
                                            <td class="MarkingOfEquipmentNamePlateddl">@Html.DropDownListFor(model => model.MarkingOfEquipmentNamePlateddl, new SelectList(@ViewBag.YesNoNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">PNEUMATIC TEST REPORT</td>
                                            <td class="PneumaticTestreport"> @Html.TextArea("PneumaticTestreport", Model.PneumaticTestreport, new { @class = "form-control", @maxlength = "100" }) </td>
                                            <td class="PneumaticTestreportddl">@Html.DropDownListFor(model => model.PneumaticTestreportddl, new SelectList(@ViewBag.YesNoNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">FINAL DIMENSIONAL DETAIL</td>
                                            <td class="FinalDimensionalDetails" colspan="2"> @Html.TextArea("FinalDimensionalDetails", Model.FinalDimensionalDetails, new { @class = "form-control", @maxlength = "100" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">BALANCE WORK AT SITE</td>
                                            <td class="BalanceWorkAtSite" colspan="2"> @Html.TextArea("BalanceWorkAtSite", Model.BalanceWorkAtSite, new { @class = "form-control", @maxlength = "100" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">Notes 1</td>
                                            <td class="Notes1" colspan="2"> @Html.TextArea("Notes1", Model.Notes1, new { @class = "form-control" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">Notes 2</td>
                                            <td class="Notes2" colspan="2"> @Html.TextArea("Notes2", Model.Notes2, new { @class = "form-control" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">User Name</td>
                                            <td class="UserName" colspan="2"> @Html.TextArea("UserName", Model.UserName, new { @class = "form-control", @maxlength = "100" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">User Role</td>
                                            <td class="UserRole" colspan="2"> @Html.TextArea("UserRole", Model.UserRole, new { @class = "form-control", @maxlength = "100" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">User Notes 1</td>
                                            <td class="UserNotes1" colspan="2"> @Html.TextArea("UserNotes1", Model.UserNotes1, new { @class = "form-control", @maxlength = "100" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">User Notes 2</td>
                                            <td class="UserNotes2" colspan="2"> @Html.TextArea("UserNotes2", Model.UserNotes2, new { @class = "form-control", @maxlength = "100" })</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-12" style="height: 20px"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                    <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    @if (string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <input type="button" class="btn submit" id="btnSaveDraft" value="Save as Draft" />
                                        <input type="button" class="btn save" id="btnSaveSubmit" value="Submit" />
                                        @*<input type="button" class="btn submit" id="btnSave" value="Approve" />*@
                                    }
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js">x</script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>

<script>
    var userRole = '';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var isEdit = '@ViewBag.isEditable';

    $(document).ready(function () {

        if (isEdit != "true") {
            $('form#frmProtocolHeader :input').attr('disabled', true);
        }

        FillAutoCompleteUsingAjax($("#txtQProject"), "/Utility/General/GetAllAuthorisedQualityProject", $("#ProjectNo"));

        if ('@Model.ProjectNo' != "") { $('#txtQProject').val('@Model.ProjectNo'); }

    });

    $("#btnPrint").click(function () {
        var dat = [];
        dat.push({ Param: "HeaderId", Value: $('#HeaderId').val() });
        ShowReport(dat, "/MAL/LTCERTIFICATE");
    });

    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", 0, ControllerURL + "/SaveProtocolHeaderData", true);
    });

    
     $("#btnSaveSubmit").click(function () {
         SaveProtocolHeaderData("frmProtocolHeader", 0, ControllerURL + "/SaveProtocolHeaderData?s=1", true);
         window.location.href = WebsiteURL + '/MAL/MaintainMAL/Index';
    });

    $("#btnClose").click(function () {
        window.location.href = WebsiteURL + '/MAL/MaintainMAL/Index';
    });

    function SaveProtocolHeaderData(frmProtocolHeader, HeaderId, URL, isSubmit, aftercallbackfn) {
        if ($("#" + frmProtocolHeader).valid()) {
            var frmHeaderValues = $("#" + frmProtocolHeader).serializeArray();

            var formdata = new FormData();
            if (frmHeaderValues != null && frmHeaderValues != undefined) {
                $.each(frmHeaderValues, function (key, input) {
                    formdata.append(input.name, input.value);
                });
                $.ajax({
                    url: WebsiteURL + URL,
                    type: "POST",
                    data: formdata,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        //showLoading(false);
                    },
                    success: function (res) {
                        if (res.Key && res.HeaderId > 0) {
                            $('#HeaderId').val(res.HeaderId);
                            if (aftercallbackfn != null && aftercallbackfn != undefined) {
                                aftercallbackfn();
                            }
                            DisplayNotiMessage("success", res.Value, "Success");
                            showLoading(false);
                        }
                        else
                            DisplayNotiMessage("error", res.Value, "Error");
                        showLoading(false);
                    },
                    error: function (data) { showLoading(false); }
                });
            }
        }
        else {
            DisplayNotiMessage("info", "All mandatory (*) fields are required", "Info");
        }
    }


    $("body").on("keypress", ".onlyNumeric", function (e) {
        var keyCode = e.which ? e.which : e.keyCode;
        if (!(keyCode >= 48 && keyCode <= 57)) {
            return false;
        }
    });

</script>