﻿@using IEMQSImplementation
@model IMB002

<div class="row" style="width:100%">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->

        <form id="frmLines" class="form-horizontal">

            @Html.HiddenFor(m => m.LineId)

            @Html.HiddenFor(m => m.HeaderId)

            <div class="form-group">
                <div class="col-md-12">

                    @if (@Model.HeaderId > 0)
                    {
                        @Html.Partial("_BigAttachmentPartial", new AttachmentPartialModel("IMB002/" + @Model.LineId)
                                           {
                                            //   ViewOnly = ViewBag.Visibility,
                                               RepeatNumber = 2,
                                               SaveCompleteJS = "GetAttachments_2()"
                                           })
                    }
                </div>
            </div>
        </form>
    </div>
</div>
