﻿@using IEMQSImplementation
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption"> Projects </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblFKMSHeader" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="" style="display:none;">HeaderId</th>
                    <th class="all">Project</th>
                    <th class="all">Location</th>
                    <th class="all">IssueNo</th>
                    <th class="all">Status</th>
                    <th class="all">Created By</th>
                    <th class="all">Created On</th>
                    <th style="display:none">IProject</th>
                    <th class="all">Action</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()' == "true" ? true : false;
    $(document).ready(function () {
        var table = $('#tblFKMSHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [3, 'desc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 100,
            'iDisplayLength': 100,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/WDN/MaintainWDN/LoadWDNHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Status", "value": '@ViewBag.Status' },
                            { "name": "IsDisplayOnly", "value": IsDisplayOnly }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    //'async': false
                });
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                if (aData[7] != null && aData[7] != "" && aData[7] != undefined) {
                    $(nRow).find("td.clsProject").attr('title', 'Identical Project :' + aData[7]);
                }
            },
            "columns": [
                {
                    "name": "HeaderId",
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "name": "Project",
                    "sClass": "center clsProject",
                    "bSortable": true,
                },
                {
                    "name": "Location",
                    "sClass": "center",
                    "bSortable": true,
                },
                {
                    "name": "IssueNo",
                    "sClass": "center",
                },
                {
                    "name": "Status",
                    "sClass": "center",
                    "bSortable": true,
                },
                {
                    "name": "CreatedBy",
                    "sClass": "center",
                    "bSortable": true,
                },
                {
                    "name": "CreatedOn",
                    "sClass": "center"
                },
                 {
                     "name": "IProject",
                     "sClass": "hide "
                 },
                {
                    "sClass": "center"

                },
            ]
        });
    });
    function PrintWDIN(Headerid) {
        //bootbox.dialog({
        //    title: 'Welding DIN Print',
        //    message: "Do you want to print Welding DIN?",
        //    buttons: {
        //        'confirm': {
        //            label: 'Yes',
        //            className: 'btn green',
        //            callback: function () {
        //                window.open(WebsiteURL + "/WDN/MaintainWDN/PrintWDIN?HeaderId=" + Headerid, '_blank');
        //            }
        //        },
        //        'cancel': {
        //            label: 'No',
        //            className: 'btn red'
        //        }
        //    }
        //});
        window.open(WebsiteURL + "/WDN/MaintainWDN/DisplayWDIN?HeaderId=" + Headerid, '_blank');
    }
</script>
