﻿@{
    ViewBag.Title = "Display WDIN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }
    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    /*.dept, .docno, .srno {        
        left: 0;
        position: relative;
    }*/

    #tblWDINLinesDetails {
        border-collapse: collapse;
        border-spacing: 1px;
    }

        #tblWDINLinesDetails thead th, #tblWDINLinesDetails tbody th, #tblWDINLinesDetails tbody td {
            border-bottom-width: 0;
            border-right-width: 0;
            min-width: 50px;
        }
    /** for firefox only */
    #divDINLines {
        scrollbar-width: thin;
        scroll-behavior: smooth;
    }

    #parent ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    #parent ::-webkit-scrollbar-track-piece {
        background: #eee;
    }

    #parent ::-webkit-scrollbar-thumb {
        background: #888;
    }

    .center {
        text-align: center;
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body" id="divHeader">
            <div class="form-body" id="dvmain">
                <div class="row">                    
                    <div class="col-md-12">
                        <div class="md-checkbox" style="float:right">
                            <input type="checkbox" class="md-check" name="chkDisplayAllIssue" id="chkDisplayAllIssue" onchange="DisplayAllIssues()">
                            <label for="chkDisplayAllIssue">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Display All Issue
                            </label>
                        </div>
                        </div>
                        <div class="col-md-12">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Welding DIN Details
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="parent">
                                        <div id="divDINLines" class="table-container" style="width: 100%; overflow: scroll; max-height: 700px; min-height: 0px; max-width: none; min-width: 0px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <hr />
    </div>
</div>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/select2/js/select2.full.min.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/select2/components-select2.min.js"></script>
<script src="~/Scripts/tableHeadFixer.js"></script>
@Scripts.Render("~/bundles/datatable/js")
<script>
    var Headerid = '@ViewBag.HeaderId';
    $(document).ready(function () {
        BindDINLinesNew(Headerid,true);
    });

    function DisplayAllIssues() {
        BindDINLinesNew(Headerid, !($("#chkDisplayAllIssue").is(":checked")));
    }
    function BindDINLinesNew(Headerid, DisplayAllIssues) {
        var FixCol = DisplayAllIssues == true ? 6 : 5;
        $('#divDINLines').load(
            $.ajax({
                url: WebsiteURL + "/WDN/MaintainWDN/GetWDINLinesHTML",
                type: "POST",
                data: { headerid: Headerid, ForPrint: DisplayAllIssues },
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                dataType: "html",
                success: function (data) {
                    $('#divDINLines').html(data);
                    $("#tblWDINLinesDetails").tableHeadFixer({ 'left': FixCol, foot: true, });
                    //  PrintDiv('parent')
                    $("#tblWDINLinesDetails").find("td,th").css({ "border": "1px solid" })
                }
            })
      );
    }
    function PrintDiv(id) {
        $("#tblDINLinesDetails").printThis({
            debug: false,               // show the iframe for debugging
            importCSS: true,            // import page CSS
            importStyle: false,         // import style tags
            printContainer: true,       // grab outer container as well as the contents of the selector
            loadCSS: "",  // path to additional css file - use an array [] for multiple
            pageTitle: "",              // add title to print page
            removeInline: false,        // remove all inline styles from print elements
            printDelay: 333,            // variable print delay; depending on complexity a higher value may be necessary
            header: null,               // prefix to html
            footer: null,               // postfix to html
            base: true,               // preserve the BASE tag, or accept a string for the URL
            formValues: false,           // preserve input/form values
            canvas: false,              // copy canvas elements (experimental)
            doctypeString: "...",       // enter a different doctype for older markup
            removeScripts: false,       // remove script tags from print content
            copyTagClasses: false       // copy classes from the html & body tag
        });
    }

    function ShowWDNAttachment(vTableName, vTableId) {
        if (vTableId != undefined && vTableId != null && vTableId != 0) {
            var objFile = {
                TableName: vTableName,
                TableId: vTableId,
                Path: vTableName + '//1',
                ControlID: 'dvWDNFileUploadLineID',
                ViewerId: 1,
                IsMultipleUploaded: false,
                ShowDeleteAction: false,
                ShowDownloadBtn: true,
                ShowAttachmentBtn: false,
                IsDisabled: true
            };

            Load_File_Upload_Partial_View(objFile, 'dvWDNFileUploadLineID', true);
        }
        else
            DisplayNotiMessage("error", "File Not Found!!", "Error");
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>