﻿<script>
    $(document).ready(function () {
        if ('@ViewBag.lstProtocolType' != '') {
            var lstProtocolType = @Html.Raw(Json.Encode(ViewBag.lstProtocolType));
            FillAutoComplete($("#txtProtocolType"), lstProtocolType, $("#hdnProtocolType"));
        }

        $("#txtProtocolType").blur(function(){
            alert($(this).val());
        });

        $("#frmLinkProtocol").validate({
            rules: {
                txtProtocolType: {
                    required: true
                }
            },
            messages: {
                txtProtocolType: {
                    required: "Please select Protocol Type."
                }
            }
        });
    });

</script>
<input type="hidden" id="hdnProtocolLineId" value="@ViewBag.LineId" />
<div class="row">
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Select Protocol Type<span class="required">*</span></label>
            <div class="">
                <input type="text" id="txtProtocolType" class="form-control col-md-3" />
                <input type="hidden" id="hdnProtocolType" />
            </div>
        </div>
        <div class="col-md-12">
            <label class="control-label">Select Protocol No</label>
            <div class="">
                <input type="text" id="txtProtocolNo" class="form-control col-md-3" />
                <input type="hidden" id="hdnProtocolNo" />
            </div>
        </div>
    </div>
</div>

