﻿
@{
    ViewBag.Title = "Add Header";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/app.min.js"></script>

<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        GetTestPlanHTML(parseInt('@ViewBag.HeaderID'));
    });

    function FillIPIAutoComplete(element, sourceList, hdElement, isEditable) {
        
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
                if (!isEditable)
                    $(hdElement).val($(this).val());
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    if (!isEditable) {
                        isSelected = false;
                        $(this).val('');
                        $(this).focus();
                    }
                    else {
                        $(hdElement).val($(this).val());
                    }
                }
                
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };

    function GetTestPlanHTML(headerID) {
        $("#divTestPlanHeader").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/MaintainSeamICL/LoadTPHeaderForm",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerID: headerID },
            success: function (result) {
                $("#divTestPlanHeader").html(result);
            },
            error: function () {
            }
        });
    }
</script>
<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body" id="divTestPlanHeader">

        </div>
    </div>
</div>

