﻿@model IEMQSImplementation.NDE021_Log
@{
    ViewBag.Title = "PT Consumable History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<style>
    .input-medium {
        width: 286px !important;
    }
</style>
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<script>
    $(document).ready(function () {

        $("#RevNo").val("R" + '@Model.RevNo');
        $("#txtCode").val('@ViewBag.ManufacturingCode');
        var str = '@ViewBag.DeveloperManufacturer';
        $("#DeveloperManufacturer").val(str);

    });
</script>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div id="dvMTConsume">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmPTConsumable", @class = "form-horizontal" }))
                    {
                        <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                            <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                                <span class="page-title">History PT Consumable</span>
                            </div>
                            <div class="ribbon ribbon-right ribbon-color-warning">
                                <span style="font-weight:bolder">Status : @Html.DisplayFor(m => m.Status) </span>
                                @Html.HiddenFor(m => m.Status)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Detail</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Quality Project<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.QualityProject, (string)ViewBag.QualityProject, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.Location, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Method<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.Method, (string)ViewBag.Method, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="control-label">PT Consumable Number</label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.PTConsuNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">RevNo.</label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Manufacturing Code</label>
                                            <input id="txtCode" class="form-control col-md-3" disabled />
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Penetrant Detail</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Penetrant Manufacturer<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.PenetrantManufacturer, (string)ViewBag.PenetrantManufacturer, new { @class = "form-control col-md-3", @maxlength = "9", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Penetrant Brand Type<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.PenetrantBrandType, (string)ViewBag.BrandType, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label"> Penetrant Batch Number<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextAreaFor(m => m.PenetrantBatchNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Penetrant Batch Date<span class="required"> * </span></label>
                                            <div class="">
                                                <div class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                    @Html.TextBoxFor(m => m.PenetrantBatchDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Cleaner Detail</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Cleaner Manufacturer<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CleanerManufacturer, (string)ViewBag.CleanerManufacturer, new { @class = "form-control col-md-3", @maxlength = "100", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Cleaner Brand Type<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CleanerBrandType, (string)ViewBag.CleanerBrandType, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label"> Cleaner Batch Number<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextAreaFor(m => m.CleanerBatchNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Cleaner Batch Date<span class="required"> * </span></label>
                                            <div class="">
                                                <div class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                    @Html.TextBoxFor(m => m.CleanerBatchDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Developer Detail</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Developer Manufacturer<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.DeveloperManufacturer, new { @class = "form-control col-md-3", @maxlength = "100", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Developer Brand Type<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.DeveloperBrandType, (string)ViewBag.DeveloperBrandType, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label"> Developer Batch Number<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextAreaFor(m => m.DeveloperBatchNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Developer Batch Date<span class="required"> * </span></label>
                                            <div class="">
                                                <div class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                    @Html.TextBoxFor(m => m.DeveloperBatchDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-8">
                                            <label class="control-label">Planner Remarks<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.PlannerRemarks, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <label class="control-label">Return Remark<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ReturnRemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <hr />
                                        <div class="col-md-6"></div>
                                        <div class="col-md-6" style="text-align:right">
                                            <a href="~/NDE/ConsumePTMaster/AddConsumable?Id=@Model.HeaderId" style="float: right;" class="btn btnclose">Close</a>
                                        </div>
                                    </div>
                                </fieldset>

                                <div id="hidden">
                                    @Html.HiddenFor(model => model.HeaderId)
                                    @Html.HiddenFor(model => model.RevNo)
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
