﻿@using IEMQSImplementation
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @{
                string strDDCTitle = "Projects";
            }
            @strDDCTitle
        </div>
        <div class="tools" id="dvExportHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/DDC/Maintain/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" id="tblDDCHeader" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">Project</th>
                    <th class="min-phone-l">Document</th>
                    <th class="min-phone-l">Customer</th>
                    @*<th class="all">CDD</th>*@
                    <th class="min-phone-l">Product</th>
                    <th class="min-phone-l">Process Licensor</th>
                    <th class="min-phone-l">Rev.</th>
                    <th class="min-phone-l">Status</th>
                    <th class="none">Submitted By</th>
                    <th class="none">Submitted On</th>
                    <th class="none">Approved By</th>
                    <th class="none">Approved On</th>
                    <th class="all">Action</th>
                    <th class="" style="display:none;">HeaderId</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {

        var table = $('#tblDDCHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/DDC/Maintain/LoadDDCHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "name": "Project",
                    "sClass": "center",
                },
                {
                    "name": "Document",
                    "sClass": "center"
                },
                 {
                     "name": "Customer",
                     "sClass": "center"
                 },
                {
                    "name": "Product",
                    "sClass": "center"
                },
                {
                    "name": "ProcessLicensor",
                    "sClass": "center"
                },
                {
                    "name": "RevNo",
                    "sClass": "center",
                    "attr": "numeric",
                },
                {
                    "name": "Status",
                    "sClass": "center"
                },

                {
                    "name": "SubmittedBy",
                    "sClass": "center"
                },
                {
                    "name": "SubmittedOn",
                    "sClass": "center"
                },
                {
                    "name": "ApprovedBy",
                    "sClass": "center"
                },
                {
                    "name": "ApprovedOn",
                    "sClass": "center"
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                 {
                     "sClass": "hide",
                 },

            ]
        });
        table.dtSearchFilter();
    });
</script>
