﻿@model IEMQSImplementation.WPS010
@using IEMQSImplementation

<script>

    $('input[type="text"],textarea').attr("readonly", "readonly");
    if ('@Model.TypeofPWHT' != '' && '@Model.TypeofPWHT' != "null" && '@Model.TypeofPWHT' != null) { $("#txtTypeofPWHT").val('@ViewBag.TypeofPWHT') }

</script>


<div class="row" style="width:100%">
    <div class="col-md-12">
        <form id="frmOverLayF2" class="form-horizontal">
            <div class="form-group">

                <div class="col-md-12" style="padding-left:0px !important;padding-right:0px !important;">
                    <div class="col-md-2" style="padding-left:0px !important;padding-right:0px !important;">
                        <fieldset>
                            <legend>Preheat (QW-406)</legend>
                            <div style="padding-left:8% !important;">
                                <label class="control-label">Thickness(mm) 1</label>
                                @Html.TextBoxFor(m => m.Thickness1, new { @class = "form-control col-md-3", @maxlength = "8" })
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-5">
                        <fieldset>
                            <legend>Postheat</legend>
                            <div class="col-md-6">
                                <label class="control-label">Min. Temp (°C)</label>
                                @Html.TextBoxFor(m => m.Temp1, new { @class = "numeric form-control col-md-3", @maxlength = "6", @max = "999.9" })
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Max. Temp (°C)</label>
                                @Html.TextBoxFor(m => m.MaxTemp1, new { @class = "numeric form-control col-md-3", @maxlength = "6", @max = "999.9" })
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Time (Hrs)</label>
                                @Html.TextBoxFor(m => m.Time1, new { @class = "form-control col-md-3", @maxlength = "10" })
                            </div>
                            <div class="col-md-6 display-none">
                                <label class="control-label">Max. Time (Hrs)</label>
                                @Html.TextBoxFor(m => m.MaxTime1, new { @class = "form-control col-md-3", @maxlength = "10" })
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-5">
                        <fieldset>
                            <legend>ISR</legend>
                            <div class="col-md-6">
                                <label class="control-label">Min. Temp (°C)</label>
                                @Html.TextBoxFor(m => m.Temp2, new { @class = "numeric form-control col-md-3", @maxlength = "6", @max = "999.9" })
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Max. Temp (°C)</label>
                                @Html.TextBoxFor(m => m.MaxTemp2, new { @class = "numeric form-control col-md-3", @maxlength = "6", @max = "999.9" })
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Time (Hrs)</label>
                                @Html.TextBoxFor(m => m.Time2, new { @class = "form-control col-md-3", @maxlength = "10" })
                            </div>
                            <div class="col-md-6 display-none">
                                <label class="control-label">Max. Time (Hrs)</label>
                                @Html.TextBoxFor(m => m.MaxTime2, new { @class = "form-control col-md-3", @maxlength = "10" })
                            </div>
                        </fieldset>
                    </div>
                </div>

                <fieldset>
                    <legend>Overlay</legend>
                    @*<div class="col-md-12">
                <div class="col-md-3">
                    <label class="control-label">Preheat Temp °C(Min)-Barrier</label>
                    @Html.TextBoxFor(m => m.PreheatTempBarrier, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                </div>
                <div class="col-md-3">
                    <label class="control-label">Preheat Temp °C(Min)-Subsequent</label>
                    @Html.TextBoxFor(m => m.PreheatTempSubsequent, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                </div>
                <div class="col-md-3">
                    <label class="control-label">Interpass Temp °C(Max)-Barrier</label>
                    @Html.TextBoxFor(m => m.InterpassTempBarrier, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                </div>
                <div class="col-md-3">
                    <label class="control-label">Interpass Temp °C(Max)-Subsequent</label>
                    @Html.TextBoxFor(m => m.InterpassTempSubsequent, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                </div>
            </div>*@
                    <div>
                        <div class="col-md-12">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-3">
                                Barrier
                            </div>
                            <div class="col-md-3">
                                Subsequent
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2">
                                Preheat Temp °C(Min)
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.PreheatTempBarrier, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.PreheatTempSubsequent, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-md-2">
                                Interpass Temp °C(Max)
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.InterpassTempBarrier, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.InterpassTempSubsequent, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="control-label">P/H Maintenance</label>
                            @Html.TextBoxFor(m => m.PHMaintenance, new { @class = "form-control col-md-3", @maxlength = "100" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Other</label>
                            @Html.TextBoxFor(m => m.Other4, new { @class = "form-control col-md-3", @maxlength = "100" })
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Postweld Heat Treatment (QW-407)</legend>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Type of PWHT</label>
                            <input type="text" id="txtTypeofPWHT" name="txtTypeofPWHT" class="form-control col-md-3" />
                            @Html.HiddenFor(m => m.TypeofPWHT)
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">PWHT TempRange °C</label>
                            @Html.TextBoxFor(m => m.PWHTTempRange, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">PWHT TimeRange</label>
                            @Html.TextBoxFor(m => m.PWHTTimeRange, new { @class = "form-control col-md-3", @maxlength = "30" })
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Rate of Heat&Cool(C/Hr)</label>
                            @Html.TextBoxFor(m => m.RateofHeatingCooling, new { @class = "form-control col-md-3", @maxlength = "20" })
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Method of PWHT</label>
                            @Html.TextBoxFor(m => m.MethodofPWHT, new { @class = "form-control col-md-3", @maxlength = "20" })
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">PWHT Notes</label>
                            @Html.TextBoxFor(m => m.PWHTNotes, new { @class = "form-control col-md-3", @maxlength = "70" })
                        </div>
                        <div class="col-md-8">
                            <label class="control-label">Other</label>
                            @Html.TextAreaFor(m => m.Other5, new { @class = "form-control col-md-3", @maxlength = "100" })
                        </div>
                    </div>
                </fieldset>


            </div>
        </form>
    </div>
</div>
