﻿@model IEMQSImplementation.QMS010
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(document).ready(function () {
        $('#frmCopy').validate({
            rules: {
                txtFrom: {
                    required: true
                },
                txtTo: {
                    required: true
                }
            },
            messages: {
                txtFrom: {
                    required: "Select Quality Project From"
                },
                txtTo: {
                    required: "Select Quality Project To"
                }
            }
        });
        $("#txtFrom").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/GeneralNotes/GetQualityProjectDetails",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectCode, value: item.projectCode };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(this).focus();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                }
            },
        });
        $("#txtTo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/GeneralNotes/GetQualityProjectDetails",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectCode, value: item.projectCode };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(this).focus();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                }
            },
        });
    });
</script>
<div class="row" style="width:100%">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmCopy", @class = "form-horizontal" }))
                {
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-5">Source Quality Project </label>
                            <div class="col-md-6">
                                @Html.TextBox("txtQP", (string)@ViewBag.QP, new { @class = "form-control", @Readonly = "Readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5">From Quality Project</label>
                            <div class="col-md-6">
                                @Html.TextBox("txtFrom", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label  col-md-5">To Quality Project</label>
                            <div class="col-md-6">
                                @Html.TextBox("txtTo", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>