﻿@using IEMQSImplementation

<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
@Html.Hidden("HdnQualityProject", (string)ViewBag.qualityProject)
@Html.Hidden("hdnLocation", (string)ViewBag.location)
@Html.Hidden("hdnbu", (string)ViewBag.bu)
@Html.Hidden("hdnHeaderId",(int)ViewBag.HeaderId)

<table class="table table-striped table-bordered table-hover dt-responsive" width="100" id="tblLine" cellspacing="0">
    <thead>
        <tr>
            <th class="min-phone-l">Number</th>
            <th class="min-phone-l">Note</th>
            <th class="min-phone-l">Action</th>
            <th class="" style="display:none;">ID</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>


<script>
    $(document).ready(function () {
        var table = $('#tblLine');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/GeneralNotes/LoadLineData?QualityProject=" + $("#HdnQualityProject").val(),
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                    //{ "name": "Headerid", "value": $("#hfHeaderId").val() }
                    { "name": "Headerid", "value": $("#hdnHeaderId").val() }
                );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'async': false
                });
            },
            "columns": [
                {
                    "name": "NoteNumber",
                    "sClass": "center"
                },
                {
                    "name": "NoteDescription",
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    //"sWidth": "10%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        var passval = "DeleteRecord(" + row[3] + ")";
                        var passval2 = "UpdateRecord(" + row[3] + ")";
                        buttons = '<center><i  data-modal="" id="btnUpdate" name="btnUpdate" style="cursor:pointer;" Title="Update Record" class="fa fa-edit" onClick="' + passval2 + '"></i>';
                        buttons += '&nbsp;<i  data-modal="" id="btnDelete" name="btnAction" style="cursor:pointer;" Title="Delete Record" class="fa fa-trash-o" onClick="' + passval + '"></i></center>';
                        return buttons;
                    }
                },
                {
                    "sClass": "hide"

                }
            ]
        });
    });
    function update(id)
    {
        
        var id = id;
        var project = $("#txtProject").val();
        var BU = $("#txtBU").val();
        var QP = $("#txtQualityProject").val();
        var BU = $("#txtBU").val();
        var QP = $("#txtQualityProject").val();
        var loca = $("#txtLoca").val();
        //var HeaderId = $("#hfHeaderId").val();
        var HeaderId = $("#hdnHeaderId").val();
        
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/GeneralNotes/GetInsertView",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { project: project, QP: QP, loca: loca, BU: BU, headerid: HeaderId, id: id },
            success: function (result) {
                bootbox.dialog({
                    title: 'General Note Master',
                    message: result,
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn green',
                            callback: function () {
                                if ($("#frmLines").valid()) {
                                    var formData = new FormData();
                                    var frmValues = $('#frmLines').serializeArray();
                                    $.each(frmValues, function (key, input) {
                                        formData.append(input.name, input.value);
                                    });
                                    $.ajax({
                                        url: WebsiteURL + '/IPI/GeneralNotes/SaveLine',
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        type: 'POST',
                                        async: false,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key)
                                            {
                                                
                                                document.getElementById("btnSave").style.display = "none";
                                                DisplayNotiMessage("success", data.Value, "Success");
                                                GetNotesListIDGridDataPartial($("#txtQualityProject").val(), $("#txtLoca").val().split('-')[0], $("#txtBU").val().split('-')[0]);
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                            $('#tblLine').DataTable().ajax.reload();
                                        }
                                    });
                                }
                                else {
                                    return false;
                                }
                            }

                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn red'
                        }
                    }
                });
            }
        });
    }
    function UpdateRecord(id) {
        update(id);
    }

    function DeleteRecord(id, fromln) {
        del(id);
    }
    function del(lineid) {
        var id = lineid;
        bootbox.confirm({
            message: "Are you sure you want to delete this record?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: WebsiteURL + '/IPI/GeneralNotes/DeleteLine',
                        data: { Id: id },
                        type: 'POST',
                        async: false,
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        success: function (data) {
                            if (data.Key) {
                                DisplayNotiMessage("success", data.Value, "Success");
                            }
                            else {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                            $('#tblLine').DataTable().ajax.reload();
                        }
                    });
                }
            }
        });
    }
</script>

