﻿@model IEMQS.DESCore.JEPModel
@using Newtonsoft.Json
@{
    if (Model.JEPId > 0)
    {
        ViewBag.Title = "Edit JEP";
    }
    else
    {
        ViewBag.Title = "Add JEP";
    }
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
}
<div class="m-portlet ">
    <div class="m-portlet__body ">
        <h4 class="m-portlet__head-text">
            Maintain JEP
        </h4>

        <div class="m-wizard m-wizard--5 m-wizard--success m-wizard--step-first" id="m_wizard">
            <!--begin: Message container -->
            <div class="m-portlet__padding-x">
                <!-- Here you can put a message or alert -->
            </div>
            <!--end: Message container -->
            <!--begin: Form Wizard Head -->
            <div class="m-wizard__head">
                <!--begin: Form Wizard Nav -->
                <div class="m-wizard__nav">
                    <div class="m-wizard__steps">
                        <div class="m-wizard__step m-wizard__step--current" m-wizard-target="m_wizard_form_step_1">
                            <div class="m-wizard__step-info">
                                <a href="#" class="m-wizard__step-number">
                                    <span class="m-wizard__step-label">
                                        Customer Details
                                    </span>
                                    <!--<span class="m-wizard__step-icon"><i class="la la-check"></i></span>-->
                                </a>
                            </div>
                        </div>
                        <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_2">
                            <div class="m-wizard__step-info">
                                <a href="javascript:WizardDemo.GoTo(2);" class="m-wizard__step-number">
                                    <span class="m-wizard__step-label">
                                        Document Details
                                    </span>
                                    </span>
                                    <!--  <span class="m-wizard__step-icon"><i class="la la-check"></i></span>-->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end: Form Wizard Nav -->
            </div>
            <!--end: Form Wizard Head -->
            <!--begin: Form Wizard Form-->
            <div class="m-wizard__form">
                <!--
                    1) Use m-form--label-align-left class to alight the form input lables to the right
                    2) Use m-form--state class to highlight input control borders on form validation
                -->

                <div class="m-form" id="m_form">
                    <!--begin: Form Body -->
                    <div class="m-portlet__body px-0 py-3">
                        <!--begin: Form Wizard Step 1-->
                        <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_1">
                            @using (Ajax.BeginForm("Add", "JEP", new AjaxOptions { HttpMethod = "POST", OnBegin = "funBegin", OnSuccess = "funSuccess" }, new { Area = "DES", @Id = "FormMaintainJEP" }))
                            {
                                @Html.HiddenFor(x => x.Project)
                                @Html.HiddenFor(x => x.JEPId)
                                @Html.HiddenFor(x => x.JEPNumber)
                                @Html.HiddenFor(x => x.FolderId)
                                @Html.HiddenFor(x => x.Department)
                                @Html.HiddenFor(x => x.RoleGroup)
                                @Html.HiddenFor(x => x.Authorized)
                                @Html.HiddenFor(x => x.IsJEPCheckIn)
                                @Html.HiddenFor(x => x.IsDEENGGUSer)
                                <div class="theme-form">
                                    <div class="form-group m-form__group row mb-4">
                                        <div class="col-12 ml-auto">
                                            <h5 class="m-form__section m--font-primary">Customer Details</h5>
                                        </div>
                                    </div>
                                    <div class="row m-0">
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">JEP Number</label>
                                                <div class="col-6 pl-0">

                                                    @Html.TextBoxFor(model => model.JEPNumber, new { @class = "form-control m-input m-input--square", @readonly = "", @tabindex = "-1" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Customer Name</label>
                                                <div class="col-6 pl-0">
                                                    @*<input type="text" class="form-control m-input  m-input--square">*@
                                                    @Html.TextBoxFor(model => model.Customer, new { @class = "form-control m-input m-input--square", @readonly = "", @tabindex = "-1" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Customer Order</label>
                                                <div class="col-6 pl-0">
                                                    @Html.TextBoxFor(model => model.CustomerPONo, new { @class = "form-control m-input", @readonly = "readonly" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Licensor</label>
                                                <div class="col-6 pl-0">
                                                    @Html.TextBoxFor(model => model.Licensor, new { @class = "form-control m-input m-input--square", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group m-form__group row">
                                                <label class="col-3 col-form-label bg-secondary">JEP Description</label>
                                                <div class="col-9 pl-0">
                                                    @Html.TextAreaFor(model => model.JEPDescription, new { @class = "form-control m-input  m-input--square", @maxlength = "200" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                                    <div class="form-group m-form__group row mb-4">
                                        <div class="col-12 ml-auto">
                                            <h5 class="m-form__section m--font-primary">Project Details</h5>
                                        </div>
                                    </div>
                                    <div class="row m-0">
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Contract No</label>
                                                <div class="col-6 pl-0">
                                                    @Html.TextBoxFor(model => model.ContractNo, new { @class = "form-control m-input m-input--square", @readonly = "", @tabindex = "-1" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Project No</label>
                                                <div class="col-6 pl-0">
                                                    @Html.TextBoxFor(model => model.Project, new { @class = "form-control m-input m-input--square", @readonly = "", @tabindex = "-1" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Project Description</label>
                                                <div class="col-6 pl-0">
                                                    @Html.TextBoxFor(model => model.ProjectDescription, new { @class = "form-control m-input m-input--square", @readonly = "", @tabindex = "-1" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Project End User</label>
                                                <div class="col-6 pl-0">
                                                    @Html.TextBoxFor(model => model.Purchaser, new { @class = "form-control m-input m-input--square", @readonly = "", @Value = ViewBag.Purchaser })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">MR No</label>
                                                <div class="col-6 pl-0">
                                                    @Html.TextBoxFor(model => model.MRNo, new { @class = "form-control m-input m-input--square", @maxlength = "200" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <div class="col-6 pl-0"></div>
                                                <div class="col-6 pl-0">
                                                    @Html.ValidationMessageFor(x => x.Purchaser, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        @*<div class="col-md-6">
                                                <div class="form-group m-form__group row">
                                                    <label class="col-6 col-form-label bg-secondary">Milestone Document&nbsp;<span class='text-danger'>*</span> </label>
                                                    <div class="col-6 pl-0">
                                                        @Html.DropDownListFor(model => model.MilestoneDocument, new List<SelectListItem>
                                                            { new SelectListItem{Text="No", Value="false" },
                                                            new SelectListItem{Text="Yes", Value="true"}}, new { @class = "form-control m-input  m-input--square" })
                                                            @Html.ValidationMessageFor(x => x.MilestoneDocument, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>*@

                                    </div>
                                    <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                                    <div class="form-group m-form__group row mb-4">
                                        <div class="col-12 ml-auto">
                                            <h5 class="m-form__section m--font-primary">Project Manager</h5>
                                        </div>
                                    </div>
                                    <div class="row m-0">
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Project Manager</label>
                                                <div class="col-6 pl-0">
                                                    @Html.TextBoxFor(model => model.ProjectManager, new { @class = "form-control m-input m-input--square", @readonly = "readonly" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <div class="col-6 pl-0"></div>
                                                <div class="col-6 pl-0">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <div class="col-6 pl-0"></div>
                                                <div class="col-6 pl-0">
                                                    @*  @Html.ValidationMessageFor(x => x.ProjectManager, "", new { @class = "text-danger" })*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--begin: Form Actions -->
                                <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                                    <div class="m-form__actions m-form__actions">
                                        <div class="row">
                                            <div class="col-lg-12 m--align-right">
                                                <button type="submit" id="btnSaveContinue" class="btn btn-success m-btn m-btn--custom m-btn--icon">
                                                    <span>
                                                        <span>Save & Continue</span>&nbsp;&nbsp;
                                                        <i class="la la-arrow-right"></i>
                                                    </span>

                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--end: Form Actions -->
                            }
                        </div>
                        <!--end: Form Wizard Step 1-->
                        <!--begin: Form Wizard Step 2-->
                        <div class="m-wizard__form-step" id="m_wizard_form_step_2">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group m-form__group row p-0">
                                        <label class="col-12 col-form-label">Product<span style="color:red;">*</span></label>
                                        <div class="col-12">
                                            @Html.DropDownList("ddlProduct", ViewBag.ProductList as SelectList, "Select", new { @class = "form-control m-input", @Id = "ddlProduct" })
                                            <label class="text-danger" id="errorddlProduct" style="display:none">Product is required </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group m-form__group row p-0">
                                        <label class="col-12 col-form-label">Template<span style="color:red;">*</span></label>
                                        <div class="col-12">
                                            @Html.DropDownList("ddlTemplate", new List<SelectListItem>
                                       { }, "Select", new { @class = "form-control m-input", @Id = "ddlTemplate" })
                                            <label class="text-danger" id="errorddlTemplate" style="display:none">Template is required </label>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="col-12 col-form-label">&nbsp;</label>
                                    <a href="javascript:;" class="btn btn-success" onclick="btnBindProductJEPDoc()">Add</a>
                                </div>
                            </div>

                            <div class="row align-items-end">
                                <div class="col-md-4">
                                    <div class="form-group m-form__group row p-0">
                                        <div class="col-12">
                                            <label class="text-danger" id="errorddlProduct" style="display:none">Product is required </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group m-form__group row p-0">
                                        <div class="col-12">
                                            <label class="text-danger" id="errorddlTemplate" style="display:none">Template is required </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">

                                </div>
                            </div>
                            <hr />
                            @*@<div class="row align-items-end mt-4">
                                    <div class="col-md-4">
                                        <div class="form-group m-form__group row p-0">
                                            <label class="col-12 col-form-label">Project wise Document<span style="color:red;">*</span></label>
                                            <div class="col-12">
                                                @Html.DropDownList("ddlProjectwiseDocument", ViewBag.ProjectWiseDocument as SelectList, "Select", new { @class = "form-control m-input", @Id = "ddlProjectwiseDocument" })
                                                <label class="text-danger" id="errorddlProjectwiseDocument" style="display:none">Project wise Document is required </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="javascript:;" class="btn btn-success" onclick="btnAddDocumentProjectwise()">Add</a>
                                    </div>
                                </div>
                                <hr />*@
                            <div class="row mt-4">
                                <div class="col-xl-8">
                                    @using (Ajax.BeginForm("ImportExcel", "JEP", new { }, new AjaxOptions { HttpMethod = "POST", OnBegin = "funBeginImportExcel", OnSuccess = "OnSuccessFileUpload" }, new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.HiddenFor(x => x.JEPId, new { Id = "ExcelImportJEPId" })
                                        <div class="row align-items-end">
                                            <div class="col-md-6">
                                                <div class="form-group m-form__group row p-0">
                                                    <div class="col-12">
                                                        <input type="file" name="file" id="importExcel" class="form-control m-input" style="background-color:#34bfa3 ; border-color: #34bfa3" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <button id="btnSubmit" class="btn btn-success" type="submit">submit</button>

                                                <a href="~/Areas/DES/HTMLMailTemplate/DOC_BULK_UPLOAD_TEMPLATE.xlsx" target="_blank" class="btn btn-default" download="DOC_BULK_UPLOAD_TEMPLATE">Download Template</a>
                                            </div>
                                        </div>

                                    }
                                </div>


                                @*<div class="col-xl-2 m--align-right">

                                    </div>*@
                                <div class="col-xl-4 m--align-right">

                                    @*<a href="javascript:;" onclick="location.href='@Url.Action("ExportToExcel",new { JEPId= Model.JEPId})'" target="_blank" class="btn btn-success m-btn m-btn--custom m-btn--icon btn-sm mb-3">Export Excel</a>*@

                                    <a href="javascript:;" onclick="getExcel()" class="btn btn-success m-btn m-btn--custom m-btn--icon btn-sm mb-3">Export Excel</a>
                                    <a href="javascript:;" data-toggle="modal" data-target="#m_modal_4" class="btn btn-success m-btn m-btn--custom m-btn--icon btn-sm mb-3" onclick="btnBindGlobalJEPDoc();">
                                        <span>Link Document</span>
                                    </a>
                                </div>
                            </div>
                            <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                            <div class="row">

                                <div class="col-12">
                                    <div class="m-accordion m-accordion--default m-accordion--toggle-arrow mr-3" id="m_accordion_5" role="tablist">

                                        <!--begin::Item-->
                                        <div class="m-accordion__item">
                                            <div class="m-accordion__item-head collapsed" srole="tab" id="m_accordion_5_item_1_head" data-toggle="collapse" href="#m_accordion_5_item_1_body" aria-expanded="false">

                                                <span class="m-accordion__item-title">Add Document</span>
                                                <span class="m-accordion__item-mode"></span>
                                            </div>
                                            <div class="m-accordion__item-body collapse " id="m_accordion_5_item_1_body" class=" " role="tabpanel" aria-labelledby="m_accordion_5_item_1_head" data-parent="#m_accordion_5">
                                                <div class="m-accordion__item-content">
                                                    <div class="theme-form">

                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label>Doc No<span class="text-danger">*</span></label>
                                                                    <input type="text" class="form-control blockSpecialChar1" id="DocNo_0" maxlength="200" />
                                                                    <label class="text-danger" id="errorDocNo_0" style="display:none">Doc No is required </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label>Description<span class="text-danger">*</span></label>
                                                                    <input type="text" class="form-control" id="Description_0" maxlength="500" />

                                                                    <label class="text-danger" id="errorDescription_0" style="display:none">Description is required </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label>Rev</label>
                                                                    <input type="text" maxlength="4" readonly="readonly" value="" class="form-control" id="RevNo_0" name="RevNo_0" placeholder="" />

                                                                    <label class="text-danger" id="errorRevNo_0" style="display:none;">Rev No is required </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label>Customer Doc No</label>
                                                                    <input type="text" class="form-control" id="CustomerDocNo_0" maxlength="100" />
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label>Customer Doc Rev</label>
                                                                    <input type="text" class="form-control" id="CustomerDocRevision_0" maxlength="20" />
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label>Document Type<span class="text-danger">*</span></label>
                                                                    @Html.DropDownList("DocumentType_0", new SelectList(JsonConvert.DeserializeObject(ViewBag.GetDocumentList), "Id", "Lookup"), "---Select---", new { @class = "form-control" })
                                                                    <br /><label class="text-danger" id="errorDocumentType_0" style="display:none">Document Type is required </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label>Department<span class="text-danger">*</span></label>
                                                                    @Html.DropDownList("Department_0", new SelectList(JsonConvert.DeserializeObject(ViewBag.Role), "t_dimx", "t_desc"), "---Select---", new { @class = "form-control" })
                                                                    @*@Html.DropDownList("Department_0", ViewBag.Role as SelectList, "", new { @class = "form-control" })*@
                                                                    <br /> <label class="text-danger" id="errorDepartment_0" style="display:none">Department is required </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label>Planned Date<span class="text-danger">*</span></label>
                                                                    <input type="text" class="form-control datepickerroc" id="PlannedDate_0"  style="background-color:white" readonly="true" name="PlannedDate_0" placeholder="Planned Date" />
                                                                    <label class="text-danger" id="errorPlannedDate_0" style="display:none" value="">Planned Date is required </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            @*<div class="col-sm-3">
                                                                    <div class="form-group">
                                                                        <label>Weightage</label>
                                                                        <input type="text" maxlength="3" class="form-control onlyNumeric numeric percentage" id="Weightage_0" name="Weightage_0" placeholder="Weightage" value="0" />
                                                                        <label class="text-danger" id="errorWeightage_0" style="display:none">Total Weightage should be 100%. </label>
                                                                    </div>
                                                                </div>*@
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label>Milestone Document<span class="text-danger">*</span></label>
                                                                    <select class="form-control" id="MilestoneDocument_0">
                                                                        <option value=''>Select</option>
                                                                        <option value='false' selected>No</option>
                                                                        <option value='true'>Yes</option>
                                                                    </select>
                                                                    <br /><label class="text-danger" id="errorMilestoneDocument_0" style="display:none">Milestone Document is required </label>
                                                                </div>
                                                                @*<div class="col-sm-4">
                                                                        <div class="col-lg-12 text-right">
                                                                            <a href="javascript:;" class="btn m-btn btn-success m-btn--pill m-btn--center btn-sm special-add-btn" onclick="AddDocumentList(0)" title="Add"><i class="fa fa-plus"></i> Add </a>
                                                                        </div>
                                                                    </div>*@
                                                            </div>
                                                            <div class="col-sm-3">
                                                            </div>
                                                            <div class="col-sm-3">
                                                            </div>
                                                            <div class="col-sm-3 m--align-right align-self-end">

                                                                <a href="javascript:;" class="btn btn-success m-btn m-btn--custom m-btn--icon btn-sm mb-3" onclick="AddDocumentList(0)">
                                                                    <span>Add Document</span>
                                                                </a>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--end::Item-->
                                        </div>
                                    </div>
                                </div>
                                <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                                <div class="col-xl-8">
                                    <h6>Document List </h6>
                                </div>
                            </div>
                            @using (Ajax.BeginForm("EditJEPDocument", "JEP", new AjaxOptions { HttpMethod = "POST", OnSuccess = "DOCSuccess", OnBegin = "DocBegin" }, new { Area = "DES", @Id = "formAddCustomerFeedback" }))
                            {
                                <div class="row">
                                    <div class="col-12">

                                        @Html.HiddenFor(x => x.Project)
                                        @Html.HiddenFor(x => x.JEPId, new { id = "Doc_JEPId" })
                                        @Html.HiddenFor(x => x.FolderId)
                                        @Html.HiddenFor(x => x.Department)
                                        @Html.HiddenFor(x => x.RoleGroup)
                                        @Html.HiddenFor(x => x.Authorized)
                                        @Html.HiddenFor(x => x.IsUpdateChanges)
                                        @Html.HiddenFor(x => x.IsDEENGGUSer)
                                        <table class="table  table-bordered table-hover jep-document-table-c" id="tblDocumentList"> </table>
                                        <div class="row m-0">
                                            <div class="col-md-8">
                                                <div class="form-group m-form__group row">
                                                    <div class="col-6 pl-0"></div>
                                                    <div class="col-6 pl-0">
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="col-md-4 pt-3 p-0">
                                                    <div class="form-group m-form__group row">
                                                        <label class="col-6 col-form-label bg-secondary"><b>Total Weightage:</b></label>
                                                        <div class="col-6 pl-0">
                                                            <input type="text" style="width:100%;" class="form-control m-input m-input--square" id="TxtTotalWeightage" readonly="readonly">
                                                        </div>
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                                    <div class="m-form__actions m-form__actions">
                                        <div class="row">
                                            <div class="col-lg-6 m--align-left">
                                                <a href="#" class="btn btn-secondary m-btn m-btn--custom m-btn--icon" data-wizard-action="prev">
                                                    <span>
                                                        <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                                                        <span>Back</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 m--align-right">
                                                <button type="submit" name="btnSubmit" value="btnSubmit" class="btn btn-primary m-btn m-btn--custom m-btn--icon">
                                                    <span>
                                                        <i class="la la-check"></i>&nbsp;&nbsp;
                                                        <span>Submit</span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <!--end: Form Wizard Step 2-->
                    </div>
                    <!--end: Form Body -->
                    <!--end: Form Actions -->

                </div>
            </div>
            <!--end: Form Wizard Form-->
        </div>
    </div>
</div>


<div class="m-portlet">
    <div class="m-portlet__body">
        <h4 class="m-portlet__head-text">
            Lifecycle
        </h4>
        <div class="row bs-wizard justify-content-center">

            @if (ViewBag.GetLifeCycle != null)
            {
                foreach (var Policy in ViewBag.GetLifeCycle)
                {

                    <div class="col-sm bs-wizard-step @(Policy.IsCompleted? " active":"") ">
                        <div class="text-center bs-wizard-stepnum">@Policy.PolicyStep</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>

                        @if (Policy.IsCompleted == true)
                        {

                            <a href="#" class="bs-wizard-dot" style="background-color:@(Policy.ColorCode)66"><span class="bs-wizard-dot-small" style="background-color:@(Policy.ColorCode)"></span></a>
                        }
                        else
                        {
                            <a href="#" class="bs-wizard-dot"><span class="bs-wizard-dot-small"></span></a>
                        }

                        @if (Policy.CreatedBy != null)
                        {
                            <div class="bs-wizard-info text-center">
                                @Policy.PolicyStep  By <br /> <span class="m--font-bold">@Policy.CreatedBy </span>
                                <br />
                                @if (Policy.CreatedOn != null)
                                {
                                    <span class="m--font-bold"> on @(Policy.CreatedOn != null ? Policy.CreatedOn.ToString("dd/MM/yyyy") : "")</span>
                                }
                            </div>
                        }
                    </div>

                }
            }
        </div>

    </div>
</div>


<!--begin::Modal-->
<div class="modal fade" id="m_modal_4" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Link Document with JEP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group m-form__group row align-items-end">
                    <div class="col-5">
                        <label for="example-text-input" class="col-form-label">Project No</label>
                        @*<input type="text" class="form-control" id="txtProjectNo" value="@Model.Project">*@
                        @Html.DropDownListFor(x => x.Project, ViewBag.GetContractProjectList as SelectList, "", new { @class = "form-control", @id = "ContractProjectList" })
                    </div>
                    <div class="col-5">
                        <label for="example-text-input" class="col-form-label">Search Document</label>
                        <input type="text" class="form-control" id="txtDocumentNo">
                    </div>
                    <div class="col-2"><a href="javascript:;" class="btn btn-sm btn-success" onclick="btnSearchGlobalJEPDoc();">Search</a></div>
                </div>
                <table class="table table-bordered" id="tblGlobalJepDoc"></table>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-success pull-right" onclick="AddGlobalJEPList()">Add</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_preview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Preview Documents</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="tblpreviewDoc"></table>
            </div>
            <div class="modal-footer">
                @*<a href="javascript:;" class="btn btn-sm btn-danger pull-right mr-2 mt-4" onclick="CancelPreview()">Cancel</a>*@
                <a href="javascript:;" class="btn btn-sm btn-success pull-right" onclick="btnAddProductTemplate()">Ok</a>
            </div>
        </div>
    </div>
</div>

<!--end::Modal-->

<script type="text/javascript">
    var ddlDocumentList = @Html.Raw(ViewBag.GetDocumentList);
    var ddlRole = @Html.Raw(ViewBag.Role);
       var arm = "@((int)IEMQS.DESCore.DOCType.ARM)";
</script>
<script src="~/DESAssets/js/JEP_Add.js"></script>




