﻿@model IEMQS.DESCore.CustomerFeedback
@using Newtonsoft.Json
@{
    ViewBag.Title = "Customer Feedback";
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
}
<div class="m-portlet ">
    <div class="m-portlet__body ">

        <div class="row">
            <div class="col-xl-6">
                <h4 class="m-portlet__head-text">
                    @ViewBag.Title
                </h4>
            </div>
        </div>

        <div class="row m-0">
            <div class="col-md-8">
                <div class="form-group m-form__group row">
                    <div class="col-6 pl-0"></div>
                    <div class="col-6 pl-0">
                    </div>
                </div>
            </div>
            <div class="col-md-4 pt-3 p-0">
                <div class="form-group m-form__group row">
                    <label class="col-6 col-form-label bg-secondary"><b>Select Agency:</b></label>
                    <div class="col-6 pl-0">
                        @Html.DropDownListFor(m => m.AgencyId, ViewBag.AgencyList as SelectList, "Select", new { @class = "form-control m-input  m-input--square ddlList", @onchange = "funAgencyChange()" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">


            <div class="col-12" style="margin-top:10px!important">

                @using (Ajax.BeginForm("AddCustomerFeedbackGrid", "JEP", new AjaxOptions { HttpMethod = "POST", OnSuccess = "funSuccessCustmerFeedback" }, new { Area = "DES", @Id = "FormAddCustomerFeedback" }))
                {
                    @Html.HiddenFor(x => x.Project)
                    @Html.HiddenFor(x => x.JEPId)
                    @Html.HiddenFor(x => x.GroupId)
                    @Html.HiddenFor(x => x.JEPNumber)
                    @Html.HiddenFor(x => x.CurrentLocationIp)
                    @Html.HiddenFor(x => x.FilePath)
                    @Html.HiddenFor(x => x.JEPCustomerFeedbackId)
                    @Html.HiddenFor(x => x.Authorized)
                    @Html.HiddenFor(x => x.FolderId)
                    @Html.HiddenFor(x => x.Department)
                    @Html.HiddenFor(x => x.RoleGroup)
                    @Html.HiddenFor(x => x.IsUpdateChanges)
                    @Html.HiddenFor(x => x.IsDetail)
                    <div class="row">
                        <div class="col-12">
                            <table class="table  table-bordered table-hover" id="tblCustomerFeedbackGrid"> </table>
                        </div>
                    </div>

                    string temp = Request.QueryString["IsDetail"];
                    if (temp != "true")
                    {
                        <div class="row align-items-center">
                            <div class="col-lg-12 text-right">
                                <button type="submit" id="btnSubmit" class="btn btn-primary mt-3" name="btnSubmit" value="btnSubmit">Save</button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_dropzone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Commented Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-dropzone dropzone m-dropzone--success mb-4" action="inc/api/dropzone/upload.php" id="m-dropzone-two">
                    <div class="m-dropzone__msg dz-message">
                        <h3 class="m-dropzone__msg-title">Drop files here or click to upload.</h3>
                        @*<span class="m-dropzone__msg-desc">Upload up to 10 files</span>*@
                    </div>
                </div>
                <table class="table table-bordered " id="tblDocumentFiles"></table>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>
<script src="~/DESAssets/js/JEP_CustomerFeedbackGrid.js"></script>
<script type="text/javascript">
    var ddlDocumentList = @Html.Raw(ViewBag.GetDocumentList);
    var ddlRole = @Html.Raw(ViewBag.Role);
    var ddlApprovalList = @Html.Raw(ViewBag.ApprovalList);
</script>
