﻿@using IEMQSImplementation
@model TLP001
@{
    ViewBag.Title = "Technical Procedure";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string AttachmentUpload = "fuAttachmentUpload";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<script>
    var IsDisplayMode = '@ViewBag.IsDisplayMode.ToString().ToLower()';
    $(document).ready(function () {
        $("#txtCust").attr("readonly", true);
        $("#CDD").attr("readonly", true);
        $("#txtRevNo").attr("readonly", true);
        $("#Document").attr("readonly", true);

        var headerid = parseInt("@Model.HeaderId");
        if (headerid > 0) {
            $("#hfHeaderId").val(headerid);
            $("#txtRevNo").val("R"+@Model.RevNo);

            var status = "@Model.Status";
            var ApprovedBy = "@Model.ApprovedBy"
            var Project = "@Model.Project"
            var CreatedBy = "@Model.CreatedBy"
            if (Project != "" || ApprovedBy != "" || CreatedBy !="") {
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/TP/Approve/getCodeValue",
                    data: { project: Project, approver: ApprovedBy , CreatedBy:CreatedBy },
                    datatype: 'html',
                    async: false,
                    success: function (data) {
                        if (data.projdesc != "") {
                            $("#txtProject").val(data.projdesc);
                        }
                        if (data.appdesc != "") {
                            $("#ddlApprover").val(data.appdesc);
                        }
                        if (data.CreatedBy != "") {
                            $("#CreatedBy").val(data.CreatedBy);

                        }
                    },
                    error: function () {
                    }
                });
            }
            var status = "@Model.Status";
            $("#lblStatus").text(status);
            $("#status").css("display", "block");
            $("#txtProject").attr("disabled", true);

            $("#btnSend").css("display", "block");
            if (status.toLowerCase() == "draft" || status.toLowerCase() == "returned" || status.toLowerCase() == "approved") {
                $("#ddlApprover").attr("disabled", true);
                $("#btnSend").css("display", "none");
                $("#btnSave").css("display", "none");
                $("#btnApprove").css("display", "none");
                $("#btnReturn").css("display", "none");
                $("#JobDescription").attr("disabled", true);
                $("#Product").attr("disabled", true);
                $("#ProcessLicensor").attr("disabled", true);
                $("#ReturnRemark").attr("disabled", true);
            }
            else if (status.toLowerCase() == "sent for approval") {
                $("#ddlApp").css("display", "block");
                $("#ddlApprover").attr("disabled", true);
                $("#btnSave").css("display", "block");
                $("#btnApprove").css("display", "block");
                $("#btnReturn").css("display", "block");
            }

        }
        if (IsDisplayMode == "true") {
            $('.form-body :input').attr('disabled', true);
        }
    });
</script>
<script>
    $(document).ready(function () {
        var isSelected = false;
        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });
        var arrayProduct = @Html.Raw(Json.Encode(@ViewBag.Products));
        $("#Product").autocomplete({
            source: arrayProduct,
            minLength: 0,
            autoFocus: true,
        }).focus(function () {
            var result = $(this).data("uiAutocomplete").search($(this).val());
        });

        $("#Product").blur(function () {
            if ($.inArray($(this).val(), arrayProduct) == -1) {
                $(this).val('');
            }
        });
        $("#txtProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetProjectResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectDescription };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                }

            },
        });

        $("#ddlApprover").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetApproverResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }));
                        debugger
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                }

            },
        });

        $("#ddlApprover").blur(function () {
            if (!isSelected) {
                ClearAll();
            }
        });
    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#btnApprove").click(function () {
            var strHeaderIds = parseInt("@Model.HeaderId");
            var table = 'TLP001';
            var action = '@clsImplementationEnum.ButtonStatus.Approve.GetStringValue()';
            var isapprover = true;
            if (!CheckIsPostValidation(table, action, strHeaderIds, isapprover)) {
                return false;
            }
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/TP/Approve/ApproveSelectedTP",
                datatype: 'json',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: {
                    strHeaderIds: strHeaderIds
                    //hasAttachments: getHasAttachmentsForSubmit(),
                    //Attach: getAttachmentsFromTable()
                },
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        //   window.location.href = "../Approve/Index";
                        window.setTimeout('window.location.href = "'+ WebsiteURL + '/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID"', 2000);

                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                    $('#tblTPAHeader').DataTable().ajax.reload();

                },
                error: function () {
                }
            });

        });
        $("#btnReturn").click(function () {
            var strHeaderIds = parseInt("@Model.HeaderId");
            var table = 'TLP001';
            var action = '@clsImplementationEnum.ButtonStatus.Return.GetStringValue()';
            var isapprover = true;
            if (!CheckIsPostValidation(table, action, strHeaderIds, isapprover)) {
                return false;
            }
            var remarks = $("#txtRemarks").val();
            if (remarks == "") {
                DisplayNotiMessage("error", "Remark is Mandatory..!!", "Error");
            }
            else {
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/TP/Approve/ReturnSelectedTP",
                    datatype: 'json',
                    async: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    data: {
                        strHeaderIds: strHeaderIds,
                        remarks: remarks
                       // hasAttachments: getHasAttachmentsForSubmit(),
                        //Attach: getAttachmentsFromTable()
                    },
                    success: function (data) {
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                            //   window.location.href = "../Approve/Index";
                            window.setTimeout('window.location.href = "'+ WebsiteURL + '/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID"', 2000);

                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                        $('#tblTPAHeader').DataTable().ajax.reload();

                    },
                    error: function () {
                    }
                });
            }
        });
        $("#btnSave").click(function () {
            if ($("#frmMaintainDeatils").valid()) {
                var frmSaveHeaderValue = $("#frmMaintainDeatils").serializeArray();
                var status = "@Model.Status";
                $("#lblStatus").text(status);
                $("#status").css("display", "block");
                if (status != undefined && status != null && status.toLowerCase() == "approved") {
                    bootbox.confirm({
                        message: "Are you sure you want to revise this header?",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-success',
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                submit(frmSaveHeaderValue, status);
                            }
                        }

                    });
                }
                else {
                    submit(frmSaveHeaderValue, status);
                }
            }
        });
        $('#btnRevoke').click(function () {
            var strHeaderIds = parseInt("@Model.HeaderId");
            var table = 'TLP001';
            var action = '@clsImplementationEnum.ButtonStatus.Revoke.GetStringValue()';
            var isapprover = true;
            if (!CheckIsPostValidation(table, action, strHeaderIds, isapprover)) {
                return false;
            }
            RevokeDoument("/TP/Approve/RevokeDocument", parseInt('@Model.HeaderId'), parseInt(@ViewBag.PlanningDinID), "/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID")
        });
    });
    function Loadfileupload()
    {
        //var UploadPath="";
        //UploadPath = "TLP001/@(Model.HeaderId)/R@(Model.RevNo)";

        //var objAttachmentUpload = new FileUploadEnt('dv@(AttachmentUpload)', '@AttachmentUpload');
        var status = "@Model.Status";
        $("#lblStatus").text(status);
        var IsBtn;
        if ($("#lblStatus").text() != '@clsImplementationEnum.QCPStatus.SentForApproval.GetStringValue()') {
            //objAttachmentUpload.ShowAttachmentBtn = false;
            //objAttachmentUpload.ShowDeleteAction = false;
            IsBtn = false;
        }
        else
        {
            //objAttachmentUpload.ShowAttachmentBtn = true;
            //objAttachmentUpload.ShowDeleteAction = true;
            IsBtn = true;
        }
        //objAttachmentUpload.FolderPath = UploadPath;
        //objAttachmentUpload.IsRequired = false;
        //objAttachmentUpload.LoadCallbackFunction = HideUpload;
        //LoadFileUploadPartialView(objAttachmentUpload);


        var objFile = {
            TableName: 'TLP001//' + '@Model.HeaderId' + '//R' + '@Model.RevNo',
            TableId: '@Model.HeaderId',
            Path: 'TLP001//' + '@Model.HeaderId' + '//R' + '@Model.RevNo' + '//1',
            ControlID: '@(AttachmentUpload)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: IsBtn,
            ShowDownloadBtn: false,
            ShowAttachmentBtn: IsBtn,
            LoadCallbackFunction: HideUpload,
            IsRequired: false
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(AttachmentUpload)', false);
    }
    function HideUpload() {
        $('#btnUploadAll@(AttachmentUpload)').hide()
    }
    function submit(strFormData, status) {
        var strHeaderIds = parseInt("@Model.HeaderId");
        var table = 'TLP001';
        var action = '@clsImplementationEnum.ButtonStatus.Save.GetStringValue()';
        var isapprover = true;
        if (!CheckIsPostValidation(table, action, strHeaderIds, isapprover)) {
            return false;
        }
        $.ajax({
            url: WebsiteURL + '/TP/Approve/SaveHeader',
            data: {
                HeaderId:$("#hfHeaderId").val(),
                Project:$("#Project").val(),
                Customer:$("#Customer").val(),
                Document:$("#Document").val(),
                CDD:$("#CDD").val(),
                //RevNo:$("#RevNo").val(),
                ProcessLicensor:$("#ProcessLicensor").val(),
                Product:$("#Product").val(),
                ApprovedBy:$("#ApprovedBy").val(),
                JobDescription:$("#JobDescription").val()

            },
            //contentType: false,
            //processData: false,
            type: 'POST',
            async: false,
            success: function (data) {
                if (data.Key) {
                    if (data.status != "" && data.Revision != "") {
                        $("#lblStatus").text(data.status);
                        $("#RevNo").val(data.Revision);
                        $("#txtRevNo").val("R"+data.Revision);
                    }
                    if (getHasAttachmentsForSubmit('@(AttachmentUpload)')) {
                        //UpdateFolderPathAndSave@(AttachmentUpload)("TLP001/"+data.Headerid+"/"+data.Revision);
                        UploadFileToServerFromDropzone('@(AttachmentUpload)', data.HeaderID, "TLP001//"+data.HeaderID+"//"+data.Revision);
                    }
                    DisplayNotiMessage("success", data.Value, "Success");
                    if( @Model.HeaderId > 0)
                    {
                        window.setTimeout('window.location.href = "'+WebsiteURL + '/TP/Approve/TPApproveDetail?Id="' + @Model.HeaderId, 2000);
                    }
                    else{
                        window.setTimeout('window.location.href = "'+WebsiteURL + '/TP/Approve/TPApproveDetail"', 2000);
                    }

                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }
</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                        {
                            <div class="mt-element-ribbon bg-grey-steel" style="height:55px;">
                                <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                    <span class="page-title">Technical Procedure</span>
                                </div>
                                <div class="ribbon ribbon-right ribbon-color-warning" id="status" style="display:none">
                                    <b>Status : <label id="lblStatus" style="font-weight:bolder"></label></b>
                                </div>
                                <p class="ribbon-content"></p>
                            </div>
                            <fieldset>
                                <legend>Project Detail</legend>
                                <div class="form-group">
                                    @Html.Hidden("hfHeaderId")
                                    @Html.Hidden("hfProject")
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Project
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtProject", "", new { @class = "form-control" })
                                                @Html.HiddenFor(m => m.Project, new { })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Customer
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtCust", (string)@ViewBag.Customer, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                                @Html.HiddenFor(m => m.Customer, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                CDD
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CDD, "{0:dd/MM/yyyy}", new { @class = "form-control col-md-4", @readonly = "readonly" })
                                                @*@Html.TextBox("txtCdd", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Product
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Product, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                                @*@Html.DropDownList("ddlCat", new SelectList(@ViewBag.lstProCat, "Value", "Text"), "Select", new { @class = "form-control" })*@
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Revison
                                            </label>
                                            <div class="">
                                                <input type="text" id="txtRevNo" name="txtRevNo" class="form-control col-md-3" readonly />
                                                @Html.HiddenFor(m => m.RevNo)
                                                @*@Html.TextBox("txtRev", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Document No
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Document, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                                @Html.Hidden("txtdoc")
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Job Description
                                            </label>
                                            <div class="">
                                                @*@Html.TextBox("ddlJob", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                                @Html.TextBoxFor(m => m.JobDescription, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Process Licensor
                                            </label>
                                            <div class="">
                                                @*@Html.TextBox("txtlicence", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                                @Html.TextBoxFor(m => m.ProcessLicensor, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 right" id="ddlApp" style="display:none">
                                            <label class="control-label">
                                                Approver
                                                @*<span class="required"> * </span>*@
                                            </label>
                                            <div class="">
                                                <input type="text" name="ddlApprover" id="ddlApprover" class="class = form-control col-md-3" />
                                                @Html.HiddenFor(m => m.ApprovedBy, new { @class = "form-control col-md-3" })
                                                @*@Html.DropDownList("ddlApprover", (SelectList)@ViewBag.approver, "Select", new { @class = "form-control" })*@
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Created By
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(M => M.CreatedBy, "", new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label class="control-label">
                                                Revise  Remarks
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ReviseRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                @*@Html.TextBox("txtRemarks", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label class="control-label">
                                                Return  Remarks<span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ReturnRemark, new { @class = "form-control col-md-3" })
                                                @*@Html.TextBox("txtRemarks", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-md-12">
                                            @Html.Partial("_AttachmentPartial")
                                        </div>*@
                                    <fieldset>
                                        <legend>Attachment</legend>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    @*@Html.Partial("_BigAttachmentPartial", new AttachmentPartialModel("PMB001/" + @Model.HeaderId + "/R" + @Model.RevNo))*@
                                                    <div id="dv@(AttachmentUpload)"></div>
                                                </div>

                                            </div>
                                        </div>
                                    </fieldset>

                                    <div class="col-md-12">
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-8 right">
                                            <input type="button" class="btn green" id="btnHistory" value="History" style="float: right;display:none; " />
                                            <a href="~/TP/Approve/index" style="float: right; margin-right:5px;" class="btn btnclose">Close</a>
                                            <a class="btn back" style="float: right; margin-right:5px;" href="~/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID">Back</a>

                                            <button class="btn approve" type="button" style="float: right; margin-right:5px;" id="btnApprove">Approve</button>
                                            @if (Model.Status.ToLower() == clsImplementationEnum.PlanStatus.Approved.GetStringValue().ToLower() && ViewBag.Revoke)
                                            {
                                                <button id="btnRevoke" type="button" style="float: right; margin-right:5px;" class="btn return">Revoke</button>
                                            }
                                            <button class="btn return" type="button" style="float: right; margin-right:5px;" id="btnReturn">Return</button>

                                            <button class="btn save" type="button" style="float: right; margin-right:5px;" id="btnSave">Save</button>

                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
@if (Model != null)
{
    if (Model.HeaderId > 0)
    {
        <script>
            @*var disableDelete = false;
            if('@(Model.Status.ToLower())' != "sent for approval")
                disableDelete = true;
            else
                disableDelete = false;
            setAttachmentsInHeader("TLP001/"+@(Model.HeaderId)+"/R"+@(Model.RevNo), disableDelete);*@
            Loadfileupload();
        </script>
    }
}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>