﻿@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Process Spot Check";
    string AttachDoc = "fuAttachDoc";
}

@Styles.Render("~/Content/datetimepicker/css")
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
<script src="~/Scripts/DataTable/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTable/dataTables.responsive.min.js"></script>
<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
    }

    .customtextarea {
        height: 33px !important;
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .page-container-bg-solid .m-heading-1.m-bordered {
        border-right: 1px solid currentcolor;
        border-top: 1px solid currentcolor;
        border-bottom: 1px solid currentcolor;
    }

    .portlet > .portlet-body p {
        margin-top: 2px;
    }

    .width {
        width: 15%;
    }

    .mt-2 {
        margin-top: 1%;
    }

    .btnalignment {
        float: right;
    }

    .font-weight-bold {
        font-weight: bold;
    }

    .my-custom-scrollbar {
        position: relative;
        width: 100%;
        overflow: auto;
    }

    .table-wrapper-scroll-x {
        display: block;
    }
</style>
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />

@{
    var Lines = new List<PSC001>();
    var LineData = new List<PSC011>();
    var HeaderData = new List<PSC010>();
    var status = "";
    bool AckRoleFound = false;
    bool ShopRoleFound = false;
    var CreatedPersone = "";
    List<string> KeyName = new List<string>();

    if (ViewBag.HeaderId == null)
    {
        Lines = ViewData["LineField"] as List<IEMQSImplementation.PSC001>;
    }
    else
    {
        LineData = ViewData["LineFieldWithData"] as List<IEMQSImplementation.PSC011>;
        HeaderData = ViewBag.HeaderData as List<IEMQSImplementation.PSC010>;
    }

    var chkType = Lines.GroupBy(x => x.Type).ToList();

    clsBase _clsBase = new clsBase();
    var Role = _clsBase.objClsLoginInfo.UserRoles.Split(',');

    if (HeaderData.Count() > 0)
    {
        var r = HeaderData.Select(X => X.Reciepient.Split(',')).FirstOrDefault();
        for (int i = 0; i < r.Count(); i++)
        {
            if (_clsBase.objClsLoginInfo.UserName == r[i])
            {
                AckRoleFound = true;
            }
        }
        status = HeaderData.Select(x => x.Status).FirstOrDefault();
        CreatedPersone = HeaderData.Select(x => x.CreatedBy).FirstOrDefault();
    }

    foreach (var role in Role)
    {
        if (role == clsImplementationEnum.UserRoleName.QC2.ToString() || role == clsImplementationEnum.UserRoleName.QC3.ToString() ||
        role == clsImplementationEnum.UserRoleName.QA1.ToString() || role == clsImplementationEnum.UserRoleName.QA2.ToString() ||
        role == clsImplementationEnum.UserRoleName.QA3.ToString())
        {
            ShopRoleFound = true;
        }

    }
}

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title</span>
                    </div>
                </div>
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
                {
                    <div class="dvHeader">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <!--Start:  Create CFAR -->
                                    <fieldset id="fdCreate">
                                        <legend>Header Details</legend>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <label class="control-label">Dept/Area<span class="required">*</span></label>
                                                    <div class="" id="deptValueValid">
                                                        <select class="form-control" id="dept" name="dept">
                                                            <option value="">Select</option>
                                                        </select>
                                                        @Html.Hidden("deptValue")
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">Project<span class="required">*</span></label>
                                                    <div class="">
                                                        <input type="text" id="Project" class="form-control" placeholder="Select" name="Project" />
                                                        <input type="hidden" id="QualityProject" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">Item/Part No.<span class="required">*</span></label>
                                                    <div class="">
                                                        @*<select class="form-control" id="Part" multiple name="Part">
                                                                @*<option>Select</option>
                                                            </select>*@
                                                        <input type="text" id="Part" class="form-control" maxlength="50" name="Part" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">Seam No.</label>
                                                    <div class="">
                                                        <select class="form-control" id="SeamNo" name="SeamNo">
                                                            <option>Select</option>
                                                        </select>
                                                        @*<input type="text" id="SeamNo" class="form-control" maxlength="50" name="SeamNo" />*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <label class="control-label">Customer<span class="required">*</span></label>
                                                    <div class="">
                                                        <input type="text" class="form-control" id="Customer" name="Customer" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">Shop In charge/Coordinator<span class="required">*</span></label>
                                                    <div class="">
                                                        <input type="text" class="form-control" maxlength="250" id="ShopInCharge" name="ShopInCharge" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="control-label">Description of Activity on-going</label>
                                                    <div class="">
                                                        <textarea class="form-control" maxlength="1000" id="description"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span id="spnGridTitle"></span>
                                        Check Points
                                    </div>
                                </div>
                                <div class="portlet-body">
                                  
                                    <div class="table-wrapper-scroll-x  my-custom-scrollbar">
                                        <table class="table table-striped table-bordered table-hover dt-responsive" id="tblPSCList" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2">SR No.</th>
                                                    <th rowspan="2">Check Point</th>
                                                    <th colspan="3" style="text-align:center;">Complied</th>
                                                    <th style="text-align:center;" rowspan="2">Objective Evidence</th>
                                                </tr>
                                                <tr>
                                                    <th style="width:5%;">
                                                        Yes
                                                    </th>
                                                    <th style="width:5%;">
                                                        No
                                                    </th>
                                                    <th style="width:5%;">
                                                        Not Applicable
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @if (ViewBag.HeaderId == null)
                                                {
                                                    foreach (var item in Lines)
                                                    {
                                                        var Ctl_id = "";


                                                        foreach (var ct in chkType)
                                                        {
                                                            if (item.Type == ct.Key)
                                                            {

                                                                var count = KeyName.Where(x => x == item.Type).Count();
                                                                if (count == 0)
                                                                {
                                                                    KeyName.Add(item.Type);

                                                                    <tr>
                                                                        <td></td>
                                                                        <td>
                                                                            <label class="font-weight-bold">@item.Type</label>
                                                                        </td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                }
                                                            }
                                                        }
                                                        <tr class="CheckPoints_Data">
                                                            @{
                                                                var Rad_name = "";
                                                                if (@item.CheckPoints == "Availability of temp chalk/crayons")
                                                                {
                                                                    Ctl_id = "Availability_of_temp_chalk_crayons";
                                                                }
                                                                if (@item.CheckPoints == "Use of suitable tools during SS welding (SS chisel, wire brush)")
                                                                { Ctl_id = "Use_of_suitable_tools_during_SS_welding"; }
                                                                else
                                                                {
                                                                    if (@item.CheckPoints.Contains(" ") && @item.CheckPoints.Contains("/"))
                                                                    {
                                                                        Ctl_id = @item.CheckPoints.Replace(" ", "_").Replace("/", "_");

                                                                    }
                                                                    else if (@item.CheckPoints.Contains(" "))
                                                                    {
                                                                        Ctl_id = @item.CheckPoints.Replace(" ", "_");

                                                                    }
                                                                    else if (@item.CheckPoints.Contains("/"))
                                                                    {
                                                                        Ctl_id = @item.CheckPoints.Replace("/", "_");

                                                                    }
                                                                    else
                                                                    {
                                                                        if (@item.CheckPoints.ToLower() == "others")
                                                                        {
                                                                            Ctl_id = @item.CheckPoints + @item.SrNo;
                                                                        }
                                                                        else
                                                                        {
                                                                            Ctl_id = @item.CheckPoints;
                                                                        }
                                                                    }



                                                                }

                                                                Rad_name = Ctl_id + "_" + @item.SrNo;
                                                            }

                                                            <td style="width:7%;">
                                                                @item.SrNo
                                                            </td>
                                                            <td style="width:25%;">
                                                                <label>@item.CheckPoints</label>
                                                            </td>
                                                            <td class="rdyes_@item.SrNo">
                                                                <input type="radio" value="1" class="CompiledType" name=@Rad_name />@*onclick="GetValue(@item.SrNo,'@Ctl_id', 1, '@item.Type')"*@
                                                            </td>
                                                            <td class="rdno_@item.SrNo">
                                                                <input type="radio" value="2" class="CompiledType" name=@Rad_name />@*onclick="GetValue(@item.SrNo,'@Ctl_id', 2, '@item.Type')"*@
                                                            </td>
                                                            <td class="rdna_@item.SrNo">
                                                                <input type="radio" value="3" class="CompiledType" checked="checked" name=@Rad_name />@*onclick="GetValue(@item.SrNo, '@Ctl_id',3, '@item.Type')"*@
                                                            </td>
                                                            <td class="txtoe_@item.SrNo">
                                                                @*<textarea class="form-control" id=@Ctl_id onchange="GetOEValue(@item.SrNo,@Ctl_id,'@item.Type')" itemtype="@item.Type"></textarea>*@
                                                                <textarea class="form-control txt_textArea" id=@Ctl_id itemtype="@item.Type"></textarea>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    foreach (var item in LineData)
                                                    {
                                                        var Ctl_id = "";

                                                        var count = KeyName.Where(x => x == item.Type).Count();
                                                        if (count == 0)
                                                        {
                                                            KeyName.Add(item.Type);

                                                            <tr>
                                                                <td></td>
                                                                <td>
                                                                    <label class="font-weight-bold">@item.Type</label>
                                                                </td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                        }
                                                        <tr>
                                                            @{
                                                                var Rad_name = "";
                                                                if (@item.CheckPoints == "Availability of temp chalk/crayons")
                                                                {
                                                                    Ctl_id = "Availability_of_temp_chalk_crayons";
                                                                }
                                                                if (@item.CheckPoints == "Use of suitable tools during SS welding (SS chisel, wire brush)")
                                                                { Ctl_id = "Use_of_suitable_tools_during_SS_welding"; }
                                                                else
                                                                {
                                                                    if (@item.CheckPoints.Contains(" ") && @item.CheckPoints.Contains("/"))
                                                                    {
                                                                        Ctl_id = @item.CheckPoints.Replace(" ", "_").Replace("/", "_");

                                                                    }
                                                                    else if (@item.CheckPoints.Contains(" "))
                                                                    {
                                                                        Ctl_id = @item.CheckPoints.Replace(" ", "_");

                                                                    }
                                                                    else if (@item.CheckPoints.Contains("/"))
                                                                    {
                                                                        Ctl_id = @item.CheckPoints.Replace("/", "_");

                                                                    }
                                                                    else
                                                                    {
                                                                        if (@item.CheckPoints.ToLower() == "others")
                                                                        {
                                                                            Ctl_id = @item.CheckPoints + @item.SrNo;
                                                                        }
                                                                        else
                                                                        {
                                                                            Ctl_id = @item.CheckPoints;
                                                                        }
                                                                    }



                                                                }
                                                                Rad_name = Ctl_id + "_" + @item.SrNo;

                                                            }

                                                            <td style="width:7%;">
                                                                @item.SrNo
                                                            </td>
                                                            <td style="width:25%;">
                                                                <label>@item.CheckPoints</label>
                                                            </td>
                                                            <td>
                                                                @if (item.Complied == "1")
                                                                {
                                                                    <input type="radio" name=@Rad_name checked="checked" />@*onclick="GetValue(@item.SrNo, '@Ctl_id', 1,'@item.Type')"*@
                                                                }
                                                                else
                                                                {
                                                                    <input type="radio" name=@Rad_name />@*onclick="GetValue(@item.SrNo, '@Ctl_id', 1,'@item.Type')"*@
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (item.Complied == "2")
                                                                {
                                                                    <input type="radio" name=@Rad_name checked="checked" />@*onclick="GetValue(@item.SrNo, '@Ctl_id', 1,'@item.Type')"*@
                                                                }
                                                                else
                                                                {
                                                                    <input type="radio" name=@Rad_name />@*onclick="GetValue(@item.SrNo, '@Ctl_id', 1,'@item.Type')"*@
                                                                }

                                                            </td>
                                                            <td>
                                                                @if (item.Complied == "3")
                                                                {
                                                                    <input type="radio" name=@Rad_name checked="checked" />@*onclick="GetValue(@item.SrNo, '@Ctl_id', 3,'@item.Type')"*@
                                                                }
                                                                else
                                                                {
                                                                    <input type="radio" name=@Rad_name />@*onclick="GetValue(@item.SrNo, '@Ctl_id', 3,'@item.Type')"*@
                                                                }

                                                            </td>
                                                            <td>


                                                                @if (@item.ObjectiveEvidence != null && @item.ObjectiveEvidence != "")
                                                                {

                                                                    <textarea class="form-control" id=@Ctl_id readonly>@item.ObjectiveEvidence</textarea>@*onchange="GetOEValue(@item.SrNo,@Ctl_id,'@item.Type')"*@
                                                                }
                                                                else
                                                                {
                                                                    <textarea class="form-control" id=@Ctl_id>@item.ObjectiveEvidence</textarea>@*onchange="GetOEValue(@item.SrNo,@Ctl_id,'@item.Type')"*@
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label><b>Note:</b><span class="text-danger">*</span>-Objective Evidence shall be noted down on both Complied / Not Complied</label><br />
                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>- In Case of Non-Compliance, immediate feedback to shop incharge / corrdinator</label>
                    </div>
                    <div class="dvHeader mt-2">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Process Spot check carried out by<span class="required">*</span></label>
                                                <div class="">
                                                    <input type="text" class="form-control" id="CarriedOutBy" readonly value="@_clsBase.objClsLoginInfo.Name" />
                                                    <input type="hidden" id="HdCarried" value="@_clsBase.objClsLoginInfo.UserName" />
                                                </div>
                                            </div>

                                            <div class="col-md-5">
                                                <label class="control-label">Acknowledged by Shop Incharge/Co-Coordinator<span class="required">*</span></label>
                                                <div class="">
                                                    @*<input type="text" class="form-control" id="AckBy" readonly value="@_clsBase.objClsLoginInfo.Name" />*@
                                                    <input type="text" class="form-control" id="AckBy" readonly value="@_clsBase.objClsLoginInfo.UserName" />
                                                    <input type="hidden" id="HdAck" value="@_clsBase.objClsLoginInfo.UserName" />
                                                    @*@if (AckRoleFound && status == "Pending")
                                                        {
                                                            <input type="text" class="form-control" id="AckBy" readonly value="@_clsBase.objClsLoginInfo.Name" />
                                                            <input type="hidden" id="HdAck" value="@_clsBase.objClsLoginInfo.UserName" />
                                                        }
                                                        else
                                                        {
                                                            <input type="text" class="form-control" id="AckBy" readonly />
                                                        }*@
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">Receipient<span class="required">*</span></label>
                                                <div class="" id="ReciepientValid">
                                                    <select class="form-control" id="Reciepient" name="Reciepient" multiple>
                                                        <option>Select</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <fieldset>
                                                <legend> Upload Document  </legend>
                                                <div class="col-md-12" style="padding-right:2.2em">
                                                    <div id="dv@(AttachDoc)"></div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @if ((status == "Pending" || status == "Submited") && AckRoleFound)
                        {
                            <div class="col-md-12">
                                <label class="control-label">Action Taken<span class="required">*</span></label>
                                <div class="">
                                    <textarea class="form-control" maxlength="1000" id="ActionTaken"></textarea>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <hr />
                        <div class="col-md-12">
                            <div class="col-md-6" style="text-align:left;">
                                <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                            </div>
                            <div class="col-md-6" style="text-align:right;">
                                @if (ShopRoleFound)
                                {
                                    if (status != "")
                                    {
                                        if (status != "Submited")
                                        {
                                            if (CreatedPersone == _clsBase.objClsLoginInfo.UserName)
                                            {
                                                <input type="button" onclick="saveData(this.value);" class="btn submit" id="btnSubmit" value="Submit" />
                                            }
                                            @*else
                                                {
                                                    <input type="button" onclick="saveData(this.value);" class="btn submit" id="btnSubmit" value="Submit" />
                                                }*@
                                        }
                                    }
                                    else
                                    {
                                        <input type="button" onclick="saveData(this.value);" class="btn submit" id="btnSubmit" value="Submit" />
                                    }
                                }
                                @if (AckRoleFound && status == "Pending")
                                {
                                    <input type="button" onclick="saveData(this.value);" class="btn submit" id="btnSubmit" value="Submit" />
                                }
                                @*@if (AckRoleFound && status == "Pending")
                                    {
                                        <input type="button" onclick="saveData(this.value);" class="btn submit" id="btnSubmit" value="Acknowledge" />
                                    }*@

                                <a style="margin-right:5px;" href="~/PSC/MaintainPSC/Index" id="btnClose" class="btn btnclose">Close</a>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<script>
    var lineData = [];
     var userRole = '@ViewBag.UserRole.ToString()';
    var ValExistsCount = 0;

    $(document).ready(function () { 
         
       // var table = $('#tblPSCList');
       // var oTable = table.dataTable({
       // //    // responsive: true,
       // //     //scrollX: 100,
       // //     //scrollX: true,
       // //     paging: false,
       // //     searching: false,
       // //     ordering: false,
       // //     info: false
       //});

        function ReadonlyAttr() {
            $("#dept").select2({ disabled: true });
            $("input[type=text]").attr('disabled', true);
           // $("#Part").select2({ disabled: true });
            $("#SeamNo").select2({ disabled: true });
            $('#Part').attr('readonly', true);
            $('#SeamNo').attr('readonly', true);
            $('#Customer').attr('readonly', true);
            $('#ShopInCharge').attr('readonly', true);
            $('#description').attr('readonly', true);

            $('#CarriedOutBy').attr('readonly', true);
           // $('#AckBy').attr('disabled', true);
            $("#Reciepient").select2({ disabled: true });

            $("input[type=radio]").attr('disabled', true);
            $("textarea").prop('disabled', true);
            $("#ActionTaken").prop('disabled', true);
        }
        ;
        if ("@AckRoleFound" == "True") {
            if ("@CreatedPersone" != "@_clsBase.objClsLoginInfo.UserName" || "@status" == "Submited") {
                ReadonlyAttr();
                $("#ActionTaken").prop('disabled', false);
            }
        }
        else if ("@status" == "Submited") {
            ReadonlyAttr();
        }
        @*} else if ("@status" == "Pending" && "@CreatedPersone" != "@_clsBase.objClsLoginInfo.UserName") {
            ReadonlyAttr();
        }*@
        @*else if ("@status" == "Pending" && userRole.toUpperCase() == 'PROD3') {
            ReadonlyAttr();
            $("#ActionTaken").prop('disabled', false);

        }*@
        else if ("@status" == "Pending" && userRole.toUpperCase() != 'PROD3') {
            ReadonlyAttr();
            $("#ActionTaken").prop('disabled', true);

        }

        LoaddAttachment(false);

        $("#Customer").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/CFAR/MaintainCFAR/GetAllCustomer",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term,
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.text, id: item.id };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');


                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    $("#Customer").val(ui.item.id);

                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        FillAutoCompleteUsingAjax($("#Project"), "/PSC/MaintainPSC/GetAllAuthorisedQualityProject", $("#QualityProject"), null, null,
          function () {
            //LoadCustomPreValueSelect2("/PSC/MaintainPSC/GetAllPartbyProject", $("#Part"), "--Select--", { param: $('#QualityProject').val() });

        LoadCustomPreValueSelect2("/PSC/MaintainPSC/GetProjectWiseSeamNo", $("#SeamNo"), "--Select--", { param: $('#QualityProject').val() });
        GetCustomerProjectWise($("#Project").val());
        });

        var arrayUsers= @Html.Raw(Json.Encode(@ViewBag.Users));
        LoadSelect2usingArrayRecepient(arrayUsers, $("#Reciepient"), 'Reciepient');

        var location = "HZW,PEW,RNW";

        LoadPreValueSelect2Dept("/CTQ/DepartmentMaster/GetDepartments", $('#dept'),
            "--Select Department--", { search: "", location: location, isAdmin: 1 });



         var modelData = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(HeaderData))));
        $.each(modelData, function (key, val) {
          //  alert(val.Dept);
            $('#dept').val(val.Dept).trigger('change');
            $('#QualityProject').val(val.Project);
            $('#Project').val(val.Project);
            $('#Customer').val(val.Customer);
            $('#ShopInCharge').val(val.ShopInCharge);
            $('#description').val(val.DescriptionOfActivity);
            $("#Reciepient").val(LoadMultiSelect2OnEdit(val.Reciepient)).trigger('change');
            //LoadCustomPreValueSelect2("/PSC/MaintainPSC/GetAllPartbyProject", $("#Part"), "--Select--", { param: val.Project });

            LoadCustomPreValueSelect2("/PSC/MaintainPSC/GetProjectWiseSeamNo", $("#SeamNo"), "--Select--", { param: val.Project });

            $('#CarriedOutBy').val('@ViewBag.CarriedOutName');
            $('#HdCarried').val(val.CarriedOutBy);

            $("#Part").val(val.ItemNo);
            //alert(val.SeamNo);
            $("#SeamNo").val(val.SeamNo);
            $("#ActionTaken").val(val.ActionTaken);
            //$('#SeamNo option[value="' + val.SeamNo+'"]').attr("selected", true);
            //$("#Part").val(LoadMultiSelect2OnEdit(val.ItemNo)).trigger('change');
            $("#SeamNo").val(LoadMultiSelect2OnEdit(val.SeamNo)).trigger('change');
            if (val.Status == "Submited") {
                $("#AckBy").val('@ViewBag.ACkName');
                $('#HdAck').val(val.AckBy);
            }
        });


        if ('@ViewBag.HeaderId' != '') {

            //$("#AckBy").val('@ViewBag.ACkName');
            if ('@ViewBag.ACkName' == '') {
                var a = $("#AckBy").val();
                GetACKName(a);
            }
            else {
                $("#AckBy").val('@ViewBag.ACkName');
            }
             //$("#AckBy").val(data);
        }
        else {

            $("#AckBy").val('');
        }
        if (parseInt(@ViewBag.HeaderId) != null) {
            var LineEditData = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(LineData))));
            $.each(LineEditData, function (i, v) {
                var lineValueEdit = {};
                lineValueEdit.SrNo = v.SrNo;
                lineValueEdit.CheckPoints = v.CheckPoints;
                lineValueEdit.Complied = v.Complied;
                lineValueEdit.Type = v.Type;
                lineValueEdit.ObjectiveEvidence = v.ObjectiveEvidence;
                lineValueEdit.HeaderId = v.HeaderId;
                lineValueEdit.LineId = v.LineId;
                lineData.push(lineValueEdit);
            });
        }
        else {
            alert()
        }



        var rule = {

            Customer: { required: true },
            ShopInCharge: { required: true },
            deptValue: { required: true },
            Part: { required: true },
            SeamNo: { required: true },
            Project: { required: true },
            Reciepient: { required: true },
            ActionTaken: { required: true }
        };

        //var table = document.getElementById("tblPSCList");
        //for (var i = 3, row; row = table.rows[i]; i++) {
        //    for (var j = 4, col; col = row.cells[j]; j++) {
        //        if (col.className != "") {
        //        if (j == 4) {
        //                rule[$('.' + col.className + ' input').attr('name')] = { required: true };
        //        }
        //        else {
        //                rule[$('.' + col.className + ' textarea').attr('name')] = { required: true };
        //            }
        //        }
        //    }
        //}


        $('#frmCreateHeader').validate({

            rules: rule
            ,
            messages: {
                Customer: { required: "Customer is required" },
                ShopInCharge: { required: "Shop In charge is required" },
                deptValue: { required: "Department is required" },
                Part: { required: "Part is required" },
                SeamNo: { SeamNo: "Seam is required" },
                Project: { Project: "Project is required" },
                Reciepient: { Reciepient: "Part is required" },
                ActionTaken: { required: "ActionTaken is required" }

            }
        });
    });

    function LoadPreValueSelect2Dept(url, objControl, caption, param) {
        $.ajax({
            url: WebsiteURL + url,
            type: "GET",
            data: param,
            async: false,
            success: function (data) {
                var option = "";
                var setval = "";
                option = "<option></option>";
                $.each(data, function (index, object) {
                    //alert(object.id);
                    setval = object.id;
                    option += "<option value='" + object.id + "'>" + object.text + "</option>";
                });
                $(objControl).html(option);
                //$('#dept').append(option);

                objControl.select2({
                    placeholder: caption

                });

            }
        })

    };
    function GetCustomerProjectWise(projectCode) {
        $.ajax({
            url: WebsiteURL + "/Utility/General/GetCustomerProjectWise",
            data: { projectCode: projectCode },
            type: 'POST',
            async: false,
            success: function (data) {
                if (data != null) {
                    $("#Customer").val(data.Code + " - " + data.Name);
                   // $("#Customer").val(data.Code);
                }
                else {
                    $("#Customer").val('');

                }
            }
        });
    }

    function GetACKName(ackpsno) {
        $.ajax({
            url: WebsiteURL + "/PSC/MaintainPSC/GetName",
            data: { ackpsno: ackpsno },
            type: 'POST',
            async: false,
            success: function (data) {

                if (data != null) {
                    $("#AckBy").val(data);
                    // $("#Customer").val(data.Code);
                }
                else {
                    $("#AckBy").val('');

                }
            }
        });
    }

    function LoadCustomPreValueSelect2(url, objControl, caption, param) {
        $.ajax({
            url: WebsiteURL + url,
            type: "GET",
            data: param,
            async: false,
            success: function (data) {
                var option = "";
                $.each(data, function (index, object) {
                    //alert(object.id);
                    option += "<option value='" + object.id + "' Text='" + object.text + "'>" + object.text + "</option>";
                });
                //alert(objControl);

                $(objControl).append(option);

                objControl.select2();
            }
        })
    }

    function LoadSelect2usingArrayRecepient(sourceList, objControl, caption, param) {
        var option = "";
        option = "<option>Select</option>";
        $.each(sourceList, function (index, object) {
            option += "<option value='" + object.id + "'>" + object.text + "</option>";
        });

        $(objControl).html(option);

        objControl.select2({
            placeholder: caption
        });
    };

    var  /*partArray="", SeamArray="",*/ RecieptArray="";


    function GetLineData() {


        lineData = [];
        ValExistsCount = 0;
        $("#tblPSCList tbody").find("tr.CheckPoints_Data").each(function () {
            lineValue = {};
            //console.log($(this).find('.txt_textArea').attr("itemtype"));
            //console.log($(this).find('.CompiledType:checked').val());
            //console.log($(this).find('td:eq(0)').text().trim());
            //console.log($(this).find('td:eq(1)').text().trim());
            //console.log($(this).find('.txt_textArea').attr("itemtype"));
            //console.log($(this).find('.txt_textArea').val());
            lineValue.Complied = $(this).find('.CompiledType:checked').val();
            lineValue.SrNo = $(this).find('td:eq(0)').text().trim();
            lineValue.CheckPoints = $(this).find('td:eq(1)').text().trim();
            lineValue.ObjectiveEvidence = $(this).find('.txt_textArea').val();
            lineValue.Type = $(this).find('.txt_textArea').attr("itemtype");
            if ($(this).find('.txt_textArea').val() != "") {
                ValExistsCount++;
            }
            lineData.push(lineValue);

        });
         console.log(lineData);
    }
    //function GetOEValue(Srno, OE, type) {
    //    ;
    //    var lineValue = {};
    //    if (lineData.length > 0) {
    //        var match = 0;
    //        $.each(lineData, function (index, key) {
    //            if (key.CheckPoints == OE[0].name.split("_").join(" ")) {
    //                key.ObjectiveEvidence = $('#' + OE[0].name).val();
    //              // alert($('#' + OE[0].name).val());
    //                match = 1;
    //                //alert(match);
    //            }
    //        });
    //        if (match == 0) {
    //            lineValue.Complied = "";
    //            lineValue.SrNo = Srno;
    //            lineValue.CheckPoints = OE[0].name.split("_").join(" ");
    //            lineValue.Type = type;
    //            lineValue.ObjectiveEvidence = $('#' + OE[0].name).val();

    //          // alert(lineValue.ObjectiveEvidence);
    //            lineData.push(lineValue);
    //        }
    //        else {
    //            lineValue.Complied = "";
    //            lineValue.SrNo = Srno;
    //            lineValue.CheckPoints = OE[0].name.split("_").join(" ");
    //            lineValue.Type = type;
    //            lineValue.ObjectiveEvidence = $('#' + OE[0].name).val();

    //          // alert(lineValue.ObjectiveEvidence);
    //            lineData.push(lineValue);

    //        }
    //    }
    //    else {
    //        lineValue.Complied = "";
    //        lineValue.SrNo = Srno;
    //        lineValue.CheckPoints = OE[0].name.split("_").join(" ");
    //        lineValue.Type = type;
    //        lineValue.ObjectiveEvidence = $('#' + OE[0].name).val();
    //        alert(lineValue.ObjectiveEvidence);
    //        lineData.push(lineValue);
    //    }
    //}

    //$('#Part').change(function () {
    //    partArray = $("#Part :selected").map(function () {
    //        return this.value;
    //    }).get().join(',');
    //});

    //$('#SeamNo').change(function () {
    //    SeamArray = $("#SeamNo :selected").map(function () {
    //        return this.value;
    //    }).get().join(',');
    //});




    $('#Reciepient').change(function () {
        RecieptArray = $("#Reciepient :selected").map(function () {
            return this.value;
        }).get().join(',');

    });

    $('#dept').change(function () {
        $('#deptValue').val($(this).val());

    });
    $("#btnPrint").click(function () {
        var url = "/PSC/PSC_Report";
        var dat = [];
        dat.push({ Param: "HeaderId", Value: parseInt(@ViewBag.HeaderId) });
        ShowReport(dat, url);
    });
    function saveData(button) {
        //alert(button);
        $("#btnPrint").show();
        if (confirm("Do you want to submit?")) {
            GetLineData();
            //if (ValExistsCount == 0) {
            //     DisplayNotiMessage("error", "Atleast Enter Data For One CheckPoint ", "Error");
            //}
            //else {

            if ($('#ActionTaken').val() == "") {
                DisplayNotiMessage("info", "All mandatory (*) fields are required1", "Info");
            }
            else {
                if ($("#frmCreateHeader").valid()) {

                    var model = {
                        Dept: $("#dept").val(),
                        Project: $("#QualityProject").val(),
                        ShopInCharge: $("#ShopInCharge").val(),
                        ItemNo: $('#Part').val(),
                        SeamNo: $('#SeamNo').val(),
                        DescriptionOfActivity: $("#description").val(),
                        CarriedOutBy: $("#HdCarried").val(),
                        AckBy: $('#HdAck').val(),
                        Reciepient: RecieptArray,
                        Customer: $('#Customer').val(),
                        ActionTaken: $('#ActionTaken').val(),
                        LineDetails: lineData,
                        HeaderId: parseInt(@ViewBag.HeaderId),
                        Button: button
                    };

                    $.ajax({
                        url: WebsiteURL + "/PSC/MaintainPSC/SaveHeaderData",
                        type: "POST",
                        dataType: "JSON",
                        beforeSend: function () {
                            showLoading(true);
                        },
                        data: model,
                        success: function (data) {
                            if (data.Key) {

                                UpdateFolderPathAndSave@(AttachDoc)("PSC010/" + data.headerid);
                                DisplayNotiMessage("success", data.Value, "Success");
                                showLoading(false);
                                setTimeout(function () {
                                    window.location.href = WebsiteURL + "/PSC/MaintainPSC/Index";
                                }, 2000);
                            }
                            else {
                                DisplayNotiMessage("error", data.Value, "Error");
                                showLoading(false);
                                return false;
                            }
                        },
                        error: function (ex) {
                            DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                            showLoading(false);
                            return false;
                        }

                    });
                } else {
                    $('#deptValueValid').css('border', '1px solid #ff0000');
                    $('#ReciepientValid').css('border', '1px solid #ff0000');
                }
            }
           // }
        }
        else {
            return false;
        }


    //

    };

     function LoaddAttachment(reqdFlag) {

        //File : Create form
         var DisplayBtn = true;
         if (status == "Submited") {

             DisplayBtn = false;
         }
       else  if (status == "Pending" || status == "" ) {
             DisplayBtn = true;
         }
         else {
             DisplayBtn = false;
         }

         var objAttachDoc = new FileUploadEnt('dv@(AttachDoc)', '@AttachDoc');

        if (parseInt('@ViewBag.HeaderId') > 0) {


           // ShowLines($("#HeaderId").val());


            //objAttachDoc.ShowUploadBtn=true;
            var path = "PSC010/"+ '@ViewBag.HeaderId';
        }
        else{
            objAttachDoc.ShowUploadBtn=false;
        }
        objAttachDoc.IsRequired = reqdFlag;
        objAttachDoc.ShowDeleteAction = DisplayBtn;
        objAttachDoc.ShowAttachmentBtn = DisplayBtn;
         objAttachDoc.FolderPath = path;
         objAttachDoc.ShowUploadBtn = false;
        objAttachDoc.SuccessCallbackFunction = "callbackfuntion()";
        LoadFileUploadPartialView(objAttachDoc);
    }



     function callbackfuntion(){


        if(message == "@clsImplementationMessage.CommonMessages.Insert")
        {
            $("#btnSubmit").show();
        }
        message ="";
        if(IsPromoted)
        {
            SubmitHeader();
        }
        else{
            DisplayNotiMessage("success", message, "Success");
        }
        IsPromoted=false;
    }

</script>