﻿
<link href="~/Content/ThemeCss/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $("#txtIdenticalProject").val("@ViewBag.IdenticalProject");
    });
</script>

<div class="col-md-12">
    <div class="col-md-12">
        <label class="control-label"><b>Applicable Projects</b></label>
        <div class="">
            <textarea id="txtIdenticalProject" name="txtIdenticalProject" readonly class="form-control" style="height: 33px !important;font-weight: bold;"></textarea>
        </div>
    </div>
</div>

