﻿@model IEMQSImplementation.PRL245
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0, s2 = 0, s3 = 0;/* for serial number */

}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable tblNotes" style="margin-bottom:0px">
                                        <tr>
                                            <td class="subtitle"> PROJECT NO.</td>
                                            <td> @Html.DisplayFor(m => m.QualityProject, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                            <td class="subtitle"> DATE</td>
                                            <td>
                                                @Html.DisplayFor(m => m.InspectionDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle"> EQUIPMENT NAME & NUMBER</td>
                                            <td> @ViewBag.ProjectDesc</td>
                                            <td class="subtitle"> SEAM NO.</td>
                                            <td>@Html.DisplayFor(m => m.SeamNo, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        </tr>

                                        <tr>

                                            <td class="subtitle"> DRG.NO.& REV.NO.</td>
                                            <td>
                                                <span style="float:left;padding: 1px 1px !important;">@Html.TextBoxFor(m => m.DrawingNo, new { @class = "form-control", @style = "width:250px;", @role = "QC", @placeholder = "Select" })</span>
                                                <span style=""> @Html.TextBoxFor(m => m.DrawingRevisionNo, new { @class = "form-control onlyNumeric", @maxlength = "10", @style = "width: 157px;", @role = "QC" })</span>
                                            </td>
                                            <td class="subtitle">INSPECTION AGENCY</td>
                                            <td>@Html.DisplayFor(m => m.InspectionAgency, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>

                                        </tr>
                                        <tr>
                                            <td class="subtitle"> DCR NO.IF APPLICABLE</td>
                                            <td>@Html.TextBoxFor(m => m.DCRNo, new { @class = "form-control col-md-12", @maxlength = "50", @role = "QC" }) </td>

                                            <td class="subtitle">MANUFACTURING CODE</td>
                                            <td>@ViewBag.ManufacturingCode</td>
                                        </tr>
                                        <tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                        <div class="portlet-title">
                                            <div class="caption" style="padding:6px!important">
                                                <span style="float:left; ">
                                                    <strong> OUT OF ROUNDNESS  </strong> <br />REQUIRED I.D. : @Html.TextBoxFor(model => model.ReqIdOutOfRoundness, new { @class = "form-control inlinetextbox w100", @maxlength = "10", @role = "QC" })
                                                </span>
                                            </div>
                                            <div class="tools" id="dvExportSubLines">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div1">
                                            <div class="table-responsive">
                                                <table id="tblProtocolLines1" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th>ORIENTATION</th>
                                                            <th>ACTUAL AT TOP OPEN END</th>
                                                            <th>ACTUAL AT BOTTOM OPEN END</th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRL246 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRL246 as List<PRL246>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="Orientation">@Html.TextBox("Orientation_1_" + @s1, @item.Orientation, new { @class = "form-control width125px", @maxlength = "20", @role = "QC" })</td>
                                                                    <td class="ActAtTopOpenEnd">@Html.TextBox("ActAtTopOpenEnd_1_" + @s1, @item.ActAtTopOpenEnd, new { @class = "form-control width125px calOAActualTop", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActAtBottomOpenEnd">@Html.TextBox("ActAtBottomOpenEnd_1_" + @s1, @item.ActAtBottomOpenEnd, new { @class = "form-control width125px calOAActualBottom", @maxlength = "10", @role = "PROD" })</td>
                                                                   @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                   {
                                                                        <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolLine(this,'tblProtocolLines1')"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                    <tfooter>
                                                        <tr class="outby">
                                                            <td class="min-phone-l" style="display:none;">HeaderId</td>
                                                            <td class="min-phone-l" style="display:none;">LineId</td>
                                                            <td class="datatableFooter" style="text-align:right"> <b>OUT BY (Allowed): </b>@Html.TextBoxFor(model => model.OutByOrientation, new { @class = "form-control inlinetextbox", @maxlength = "20", @role = "QC" })</td>
                                                            <td class="OutByActAtTopOpenEnd"> @Html.TextBoxFor(model => model.OutByActAtTopOpenEnd, new { @class = "form-control ", @readonly = "readonly", @tabindex = "-1" })</td>
                                                            <td class="OutByActAtBottomOpenEnd"> @Html.TextBoxFor(model => model.OutByActAtBottomOpenEnd, new { @class = "form-control ", @readonly = "readonly", @tabindex = "-1" })</td>
                                                            @*<td class="datatableFooter"><input type="text" readonly="readonly" id="txtOutOfRoundnessTop" name="txtOutOfRoundnessTop" class="form-control " tabindex="-1" role=""></td>
                                                                <td class="datatableFooter"><input type="text" readonly="readonly" id="txtOutOfRoundnessBottom" name="txtOutOfRoundnessBottom" class="form-control " tabindex="-1" role=""></td>*@
                                                        </tr>
                                                    </tfooter>
                                                </table>
                                                <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-12">
                                <div class="col-md-7">
                                    <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="2">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left; ">
                                                    <strong>CIRCUMFERENCE MEASUREMENT</strong>
                                                    <br />REQ. ID CF. : &nbsp; @Html.TextBoxFor(model => model.ReqIdCf, new { @class = "form-control inlinetextbox w100", @maxlength = "20", @role = "QC" })
                                                    <br />REQ. OD CF. : @Html.TextBoxFor(model => model.ReqOdCf, new { @class = "form-control inlinetextbox w100", @maxlength = "20", @role = "QC" })
                                                </span>
                                            </div>
                                            <div class="tools" id="dvExportSubLines">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div2', this)" id="btnCollapse2" data-target="#div2" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div2">
                                            <div class="table-responsive">
                                                <table id="tblProtocolLines2" class="table" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th>LOCATION </th>
                                                            <th>ACT. ID CF.</th>
                                                            <th>ACT. OD CF.</th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRL247 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRL247 as List<PRL247>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s2 = s2 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="Location">@Html.TextBox("Location_2_" + @s2, @item.Location, new { @class = "form-control width125px", @maxlength = "10", @role = "QC" })</td>
                                                                    <td class="ActIdCf">@Html.TextBox("ActIdCf_2" + @s2, @item.ActIdCf, new { @class = "form-control width125px", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActOdCf">@Html.TextBox("ActOdCf_2" + @s2, @item.ActOdCf, new { @class = "form-control width125px", @maxlength = "10", @role = "PROD" })</td>
                                                                   @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                   {
                                                                        <td class="DeleteAction"> <i id="Delete_2_@s2" name="Delete_2_@s2" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolLine(this,'tblProtocolLines2')"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <input id="hdGrid2LastRow" type="hidden" value="@s2" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="portlet box green inlineparentdiv" id="divLine3" data-gridid="3">
                                        <div class="portlet-title">
                                            <div class="caption" style="padding:6px!important">
                                                <span style="float:left; ">
                                                    <strong>TOTAL LENGTH </strong> (REQUIRED : @Html.TextBoxFor(model => model.ReqTotalLength, new { @class = "form-control inlinetextbox w100", @maxlength = "20", @role = "QC" }))
                                                </span>
                                            </div>
                                            <div class="tools" id="dvExportSubLines">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div3', this)" id="btnCollapse3" data-target="#div3" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div3">
                                            <div class="table-responsive">
                                                <table id="tblProtocolLines3" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">HeaderId</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th></th>
                                                            <th></th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRL248 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRL248 as List<PRL248>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s3 = s3 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="RequiredValue">@Html.TextBox("RequiredValue_3_" + @s3, @item.RequiredValue, new { @class = "form-control", @maxlength = "10", @role = "QC" })</td>
                                                                    <td class="ActualValue">@Html.TextBox("ActualValue_3_" + @s3, @item.ActualValue, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_3_@s3" name="Delete_3_@s3" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <input id="hdGrid3LastRow" type="hidden" value="@s3" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                        <tr>
                                            <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                                CHECK POINTS/REMARKS
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                <span style="float:left"> 1) PROCEDURE NO : @Html.TextBoxFor(model => model.CheckPoint1, new { @class = "form-control ", @style = "width: 250px !important;display: inline;", @maxlength = "20", @role = "QC" })</span>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                2) VISUAL INSPECTION OF SURFACE CARRIED OUT AND FOUND SATISFACTORY ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint2, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                3) IDENTIFICATION MARKING VERIFIED?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint3, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                4) ALL DIMENSIONS ARE IN MM, UNLESS OTHERWISE SPECIFIED.
                                            </td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td class="clstd">
                                                5) MEASURING AND TESTING EQUIPMENT SERIAL NUMBER&nbsp;
                                                @Html.TextBoxFor(model => model.CheckPoint5, new { @class = "form-control inlinetextbox width250px", @maxlength = "20", @role = "PROD" })
                                                &nbsp; & CALIBRATION DUE DATE
                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                    @Html.TextBoxFor(m => m.CheckPoint5_2, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;", @role = "PROD" })
                                                    <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                        <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                QC REMARK: @Html.TextAreaFor(model => model.QCRemarks, new { @class = "form-control QCRemarks", @maxlength = "200", @role = "QC" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                    <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    @if (string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase) || string.Equals(ViewBag.isQCRemarkEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                        <input type="button" class="btn submit" id="btnSave" value="Submit" />
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>

<script>
    var notPRODLastChild = "";
    var notQCLastChild = "";

    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "Linkage";
    var isEdit = '@ViewBag.isEditable';
    var isQCRemarkEditable = '@ViewBag.isQCRemarkEditable';

    $(document).ready(function () {
        SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        //SetEditableDetails(isEdit);
        SetEditableDetails(isEdit, isQCRemarkEditable);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });
        $("#CheckPoint5_2").change(function () {
            if ($("#CheckPoint5_2").val() != "") {
                $('#btnSaveDraft').focus();
            }
        });
        $('#CheckPoint2,#CheckPoint3').val('Yes')

        var lstDrawingNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.DrawingNo))));

        FillProtocolAutoComplete($('#DrawingNo'), lstDrawingNo, null, false);
        if ('@Model.RequestNo' == "" || '@Model.RequestNo' == null) {
            $('#QCRemarks').prop("disabled", true).addClass("NonEditableTextColor");
        }

        if ('@Model.CheckPoint2' != "") { $('#CheckPoint2').val('@Model.CheckPoint2'); }
        if ('@Model.CheckPoint3' != "") { $('#CheckPoint3').val('@Model.CheckPoint3'); }

        if ('@Model.CheckPoint5' != "") { $('#CheckPoint5').val('@Model.CheckPoint5'); }

        calculateMaxMin("calOAActualTop", "OutByActAtTopOpenEnd");
        calculateMaxMin("calOAActualBottom", "OutByActAtBottomOpenEnd");

        $(".calOAActualTop").change(function () {
            calculateMaxMin("calOAActualTop", "OutByActAtTopOpenEnd");
        });

        $(".calOAActualBottom").change(function () {
            calculateMaxMin("calOAActualBottom", "OutByActAtBottomOpenEnd");
        });
    });

    $("#btnPrint").click(function () {
        PrintReport("/IPI/Protocol/PROTOCOL050", $('#HeaderId').val());
    });

    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData" + Linkage + "?s=0", userRole, false, LoadSaveAndDraft);
        LoadSaveAndDraft();
    });

    $("#btnSave").click(function () {
        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="PROD"]').not('.islastrow').prop("required", true);</text>
            }else
            {
                <text>$('[role="QC"]').not('.islastrow').prop("required", true);</text>
            }
        SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData" + Linkage + "?s=1", userRole, true, LoadSaveAndDraft);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }

    function SaveProtocolLine(lineId, gridId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine" + gridId + Linkage, "tblProtocolLines" + gridId, "btnNewLines" + gridId);
        if (gridId == 5) {
            outby();
        }
    }

    function SetTableColumns() {
        if (isEdit.toLowerCase() == "true") {
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) {
                $("[role=PROD]").first().focus();
            }

            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) {
                AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'Orientation', ['Orientation'], AddTbl1NewTrRow, true);
                AddNextRow(this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'Location', ['Location'], AddTbl2NewTrRow, true);
                AddNextRow(this, null, false, 3, 'hdGrid3LastRow', 'tblProtocolLines3', 'RequiredValue', ['RequiredValue'], AddTbl3NewTrRow, true);
                notQCLastChild = ":not(:last-child)";
                $("[name=ProtocolNo]").first().focus();
            }
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) { $("[role=PROD]").first().focus(); }
        }
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine";
        window[SaveFunction](lineId, gridId);
    }

    function outby() {
        if (isEdit.toLowerCase() == "true" && userRole.toUpperCase() == 'QC3') {
            $('#OutOfRoundnessOutBy').addClass("EditableTextColor").addClass("QCTextbox");
        }
        else {
            $('#OutOfRoundnessOutBy').prop("disabled", true).addClass("QCTextbox");
        }
    }

    function LoadSaveAndDraft() {
        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "Orientation": $('td.Orientation input', this).val(),
                "ActAtTopOpenEnd": $('td.ActAtTopOpenEnd input', this).val(),
                "ActAtBottomOpenEnd": $('td.ActAtBottomOpenEnd input', this).val(),
            };

            lstProtocolLines1 = JSON.stringify(TableData1);
        });
        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1" + Linkage + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);

        var TableData2 = []; //initialize array;
        var lstProtocolLines2 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines2 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData2[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "Location": $('td.Location input', this).val(),
                "ActIdCf": $('td.ActIdCf input', this).val(),
                "ActOdCf": $('td.ActOdCf input', this).val(),
            };

            lstProtocolLines2 = JSON.stringify(TableData2);
        });
        SaveAsDraftProtocolLine(lstProtocolLines2, ControllerURL + "SaveProtocolLine2" + Linkage + "?HeaderId=" + parseInt($("#HeaderId").val()), 2);

        var TableData3 = []; //initialize array;
        var lstProtocolLines3 = ""; //empty var;
        $("table#tblProtocolLines3 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData3[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "RequiredValue": $('td.RequiredValue input', this).val(),
                "ActualValue": $('td.ActualValue input', this).val(),
            };

            lstProtocolLines3 = JSON.stringify(TableData3);
        });
        SaveAsDraftProtocolLine(lstProtocolLines3, ControllerURL + "SaveProtocolLine3" + Linkage + "?HeaderId=" + parseInt($("#HeaderId").val()), 3);

    }


    function AddTbl1NewTrRow(NewTrRowNum) {
        $("#hdGrid1LastRow").val(NewTrRowNum);
        var strhtml =
        "<tr class=\"islastrow\">" +
        "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
        "<td class=\"LineId\" style=\"display:none;\">0</td>" +
        "<td class=\"Orientation\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','Orientation',['Orientation'],AddTbl1NewTrRow)\" id=\"Orientation_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"Orientation_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" value=\"\" aria-invalid=\"false\"></td>" +
        "<td class=\"ActAtTopOpenEnd\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox calOAActual\"  id=\"ActAtTopOpenEnd_1_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActAtTopOpenEnd_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td class=\"ActAtBottomOpenEnd\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox calOAActual\"  id=\"ActAtBottomOpenEnd_1_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActAtBottomOpenEnd_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td  class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines1')\" style=\"display:none\"></i></td>" +
        "</tr>";

        return strhtml;
    }

    function AddTbl2NewTrRow(NewTrRowNum) {
        $("#hdGrid2LastRow").val(NewTrRowNum);
        var strhtml =
        "<tr class=\"islastrow\">" +
        "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
        "<td class=\"LineId\" style=\"display:none;\">0</td>" +
        "<td class=\"Location\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"AddNextRow(this,null,false,2,'hdGrid2LastRow','tblProtocolLines2','Location',['Location'],AddTbl2NewTrRow)\" id=\"Location_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"Location_2_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" value=\"\" aria-invalid=\"false\"></td>" +
        "<td class=\"ActIdCf\"><input class=\"form-control  NonEditableTextColor islastrow PRODTextbox\"  id=\"ActIdCf_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActIdCf_2_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td class=\"ActOdCf\"><input class=\"form-control  NonEditableTextColor islastrow PRODTextbox\"  id=\"ActOdCf_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActOdCf_2_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td  class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines2')\" style=\"display:none\"></i></td>" +
        "</tr>";

        return strhtml;
    }

    function AddTbl3NewTrRow(NewTrRowNum) {
        var seamfn = "AddNextRow(this,null,false,3,'hdGrid3LastRow','tblProtocolLines3','RequiredValue',['RequiredValue'],AddTbl3NewTrRow)";
        $("#hdGrid3LastRow").val(NewTrRowNum);
        var strhtml = "<tr class=\"islastrow\" >" +
             +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
             + "<td class=\"LineId\" style=\"display:none;\">0</td>"
             + "<td class=\"RequiredValue\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" id=\"RequiredValue_3_" + NewTrRowNum + "\" maxlength=\"10\" name=\"RequiredValue_3_" + NewTrRowNum + "\" role=\"QC\" type=\"text\"  onblur=\"" + seamfn + "\"></td>"
             + "<td class=\"ActualValue center \"><input class=\"form-control islastrow  NonEditableTextColor PRODTextbox\" id=\"ActualValue_3_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue_3_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
             + "<td class=\"DeleteAction\"><i id=\"Delete_3_" + NewTrRowNum + "\" name=\"Delete_3_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\"s title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
             + "</tr>";

        return strhtml;
    }

</script>

