﻿@model IEMQSImplementation.PLN016
@using IEMQSImplementation
@{
    string FileUpload1ID = "fuupload1";
}
<script>
    var isLatest = true;
    var IsDisplayMode = '@ViewBag.IsDisplayMode.ToString().ToLower()';
    $(document).ready(function () {
        GetPDNIdenticalprojectPartial('@Model.Project' );


        //var isLatest = true;
        var isSelected = false;
        var arrayProduct = @Html.Raw(Json.Encode(@ViewBag.Products));
        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });
        var lstDocuments = @Html.Raw(Json.Encode(@ViewBag.Documents));
        var jslstDocuments = JSON.parse(lstDocuments);
        $('#tblAttach').find("tbody").html('');
        if(jslstDocuments != null)
        {
            for (var i = 0; i < jslstDocuments.length; i++) {
                var appendData = '';
                if(jslstDocuments[i].Value.substring(0,3) == 'URL')
                    appendData='<tr><td><a download="'+jslstDocuments[i].Key+'" href="'+jslstDocuments[i].Value.substring(4)+'">' + jslstDocuments[i].Key + '</a></td><td id="valTD">'+jslstDocuments[i].InputElement+'</td><td><span style="cursor:pointer" class="fa fa-trash-o" onclick="$(this).closest(\'tr\').remove()"></span></td></tr>';
                else
                    appendData = '<tr><td>' + jslstDocuments[i].Key + '</td><td id="valTD">'+jslstDocuments[i].InputElement+'</td><td><span style="cursor:pointer" class="fa fa-trash-o" onclick="$(this).closest(\'tr\').remove()"></span></td></tr>';
                $('#tblAttach').find("tbody").append(appendData);
            }
        }

        if (parseInt('@Model.HeaderId') > 0) {
            $("#btnAddLines").show();
            $("#txtRevNo").val("R"+@Model.RevNo);
        }
        if ('@ViewBag.Project' != '' && '@ViewBag.Project' != 'null' && '@ViewBag.Project' != null && '@ViewBag.Project' != undefined) {
            $("#txtProject").val('@ViewBag.Project');
            $("#txtProject").attr('readonly','readonly');
        }
        if ('@ViewBag.ApproverName' != '' && '@ViewBag.ApproverName' != 'null' && '@ViewBag.ApproverName' != null && '@ViewBag.ApproverName' != undefined) {
            $("#txtApprovedBy").val('@ViewBag.ApproverName');
        }
        if ('@ViewBag.customerName' != '' && '@ViewBag.customerName' != 'null' && '@ViewBag.customerName' != null && '@ViewBag.customerName' != undefined) {
            $("#txtCustomer").val('@ViewBag.customerName');
        }

        if ('@Model.Status' == 'Sent for Approval') {
            //$("#btnSendForApproval").hide();
            //$("#btnSaveHeader").hide();
        }
        if ('@Model.Status' == 'Approved') {
            $("#ProcessLicensor").prop('disabled', true);
            $("#Product").prop('disabled', true);
            $("#inpAttach").hide();
            $("#btnfile").hide();

        }

        if ('@Model.Status' == "approved" || '@Model.Status' == "returned" ||'@Model.Status' == "draft") {
            $("#txtRemarks").attr("readonly", true);
        } else if ('@Model.Status' == "sent for approval") {
            $("#txtRemarks").attr("readonly", false);
        }

        $("#Product").autocomplete({
            source: arrayProduct,
            minLength: 0,
            autoFocus: true,
        }).focus(function(){
            var result = $(this).data("uiAutocomplete").search($(this).val());
        });

        $("#Product").blur(function(){
            if($.inArray($(this).val(), arrayProduct) == -1)
            {
                $(this).val('');
            }
        });
        LoadFileUpload1();
        $("#btnSaveHeader").click(function () {
            ChecklistGridValidate();
            if ($("#frmCreateHeader").valid()) {
                var frmSaveHeaderValue = $("#frmCreateHeader").serializeArray();
                var status = $("#Status").val();
                if('@Model.Status.ToLower()' == "approved")
                {
                    bootbox.confirm({
                        message: "Do you want to create new revision?",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-success',
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                SaveHeaderWithReviseCheck(frmSaveHeaderValue);
                            }
                        }

                    });
                }
                else
                {
                    SaveHeaderWithReviseCheck(frmSaveHeaderValue);
                }

            }
        });
        if (IsDisplayMode == "true") {
            $('.form-body :input').attr('disabled', true);         
        }

    });
    function SaveHeaderWithReviseCheck(frmSaveHeaderValue)
    {
        SaveHeader(frmSaveHeaderValue, status);
    }

    function ClearAll() {
        $("#txtProject").val('');
        $("#Project").val('');
        $("#txtCustomer").val('');
        $("#Customer").val('');
        $("#Document").val('');
        $("#CDD").val('');
    }

    function LoadFileUpload1() {
        var showAttachmentbtn = ('@((Model.Status == clsImplementationEnum.CommonStatus.SendForApprovel.GetStringValue()))'.toLowerCase() == 'true');

        @*var objFileUpload1 = new FileUploadEnt('dv@(FileUpload1ID)', '@FileUpload1ID');
        objFileUpload1.ShowDeleteAction = showAttachmentbtn;
        objFileUpload1.ShowAttachmentBtn = showAttachmentbtn;
        if('@Model.HeaderId'>0){
            objFileUpload1.FolderPath="PLN016/" + '@Model.HeaderId' + "/" + '@Model.RevNo';
            objFileUpload1.ShowUploadBtn=true;
        }
        else{
            objFileUpload1.FolderPath="";
            objFileUpload1.ShowUploadBtn=false;
        }*@

        //LoadFileUploadPartialView(objFileUpload1);

        var objFile = {
            TableName: 'PLN016//' + '@Model.HeaderId' + '//' + '@Model.RevNo',
            TableId: '@Model.HeaderId',
            Path: 'PLN016//' + '@Model.HeaderId' + '//' + '@Model.RevNo'+'//1',
            ControlID: '@(FileUpload1ID)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: showAttachmentbtn,
            ShowDownloadBtn: false,
            ShowAttachmentBtn: showAttachmentbtn
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(FileUpload1ID)', false);
    }

    function SaveHeader(strFormData, status) {
        /*var attch = [];
        $('#tblAttach').find(".attach").each(function(){
            attch.push({Key: this.id, Value: $(this).val()})
        });
        var hasAttch=false;
        if(attch.length > 0)
            hasAttch = true;
            */
        var headerid=parseInt('@Model.HeaderId');
        if(headerid > 0)
        {
            var table = 'PLN016';
            var isapprover = true;
            var action = '@clsImplementationEnum.ButtonStatus.Save.GetStringValue()';
            if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                return false;
            }
        }
        $.ajax({
            url: WebsiteURL + "/PLN/ApproveEquipmentJacking/SaveHeader",
            type: "POST",
            //data: formData,
            data:{
                HeaderId:$("#txtHeaderId").val(),
                Project:$("#Project").val(),
                Customer:$("#Customer").val(),
                Document:$("#Document").val(),
                CDD:$("#CDD").val(),
                //RevNo:$("#RevNo").val(),
                ProcessPlan:$("#ProcessPlan").val(),
                ProcessLicensor:$("#ProcessLicensor").val(),
                Product:$("#Product").val(),
                ApprovedBy:$("#ApprovedBy").val(),
                status: $("#spnStatus").val(),
                strIsLatest : isLatest,
                //hasAttachments: getHasAttachmentsForSubmit(),
                //Attach: getAttachmentsFromTable()
            },
            //contentType: false,
            //processData: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    if (parseInt(data.HeaderID) > 0) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        $("#txtHeaderId").val(parseInt(data.HeaderID));
                        $("#spnStatus").text(data.Status);
                        $("#RevNo").val(data.Revision);
                        $("#txtRevNo").val("R"+data.Revision);
                        if(data.Status.toLowerCase() == "draft" || data.Status.toLowerCase() == "returned")
                        {
                            $("#btnSendForApproval").show();
                        }
                        //UpdateFolderPathAndSave@(FileUpload1ID)("PLN016/"+data.HeaderID+"/"+data.Revision);
                        UploadFileToServerFromDropzone('@(FileUpload1ID)', data.HeaderID, "PLN016//"+data.HeaderID+"//"+data.Revision);
                        //clearTable();
                        //setAttachmentsInHeader("PLN016/"+data.HeaderID+"/"+data.Revision);
                        //window.location.href =WebsiteURL + "/PLN/ApproveEquipmentJacking/ApproveEquipmentJacking?HeaderID="+data.HeaderID;
                    }
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

    function UpdateData(objColumn){
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");
        var columnName = $(objColumn).attr("colname");
        var sactualid= $(objColumn).attr("sactualid");
        if (columnName.toLocaleLowerCase() == 'Yes_No'.toLocaleLowerCase() && columnValue == "") {
            $(objColumn).attr("required", "required");
            HighlightInValidControls();
            return false;
        }
        else{
            var headerid = parseInt("@Model.HeaderId");
            if(headerid > 0)
            {
                var table = 'PLN016';
                var action = '@clsImplementationEnum.ButtonStatus.CRUD.GetStringValue()';
                var isapprover = true;
                if (!CheckIsPostValidation(table, action, headerid,isapprover)) {
                    return false;
                }
            }
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/PLN/ApproveEquipmentJacking/UpdateData",
                datatype: 'json',
                async: false,
                data: { id: sactualid, columnName: columnName, columnValue: columnValue },
                success: function (result) {
                    if (result.Key) {
                        DisplayNotiMessage("success", result.Value, "Success");
                    }
                },
                error: function () {
                    DisplayNotiMessage("error", result.Value, "Error");
                }
            });
        }
    }

    @*function checkFileValid(ctrl) {
        var filesize = @(clsUpload.MaxFileSizeInMB*1024*1024);
        var allowedExt = ['@(new HtmlString(string.Join("','", clsUpload.allowedExtensions)))'];
        var fName = $(ctrl).val();
        var filename =  fName.substring(fName.lastIndexOf("\\") + 1);
        var isRepeat = false;
        $('#tblAttach').find('tbody').find('input').each(function(){
            if($(this).attr('id').trim() == filename.trim())
                isRepeat = true;
        });
        var fExt = '.'+filename.split('.').pop().toLowerCase();
        if(ctrl.files[0].size > filesize)
            return 1;
        else if(allowedExt.indexOf(fExt) == -1)
            return 2;
        else if(isRepeat)
            return 3;
        else return 0;
    }

    function getFile(ctrl){
        var url = $(ctrl).attr('tag');
        $(ctrl).attr('href', url);
        $(ctrl).attr('onclick', '');
        $(ctrl).trigger('click');
        $(ctrl).attr('href', '#');
        $(ctrl).attr('onclick', 'getFile(this)');
    }

    function addAttch(ctrl) {
        var fName = $(ctrl).val();
        var ch = checkFileValid(ctrl);
        if(ch == 1)
            DisplayNotiMessage("error", "File size should be less than @(clsUpload.MaxFileSizeInMB)MB", "File Error");
        else if(ch == 2)
            DisplayNotiMessage("error", "File should be one of the following types:\n@(string.Join(",", clsUpload.allowedExtensions))", "File Error");
        else if(ch == 3)
            DisplayNotiMessage("error", "Cannot upload multiple files with same name", "File Error");
        else{
            $('#tblAttach').find("tbody").append('<tr><td>' + fName.substring(fName.lastIndexOf("\\") + 1) + '</td><td id="valTD"><input name="hdFile" type="hidden" id="' + fName.substring(fName.lastIndexOf("\\") + 1) + '" class="attach temp" value=""/></td><td><span style="cursor:pointer" class="fa fa-trash-o" onclick="$(this).closest(\'tr\').remove()"></span></td></tr>');
            getFileData(ctrl);
        }
        $(ctrl).val('');
    }

    function getFileData(ctrl) {
        var files = $(ctrl).file;
        fr = new FileReader();
        fr.onload = function () { $(".temp").val(fr.result); $(".temp").removeClass("temp"); };
        fr.readAsDataURL(document.querySelector('#'+$(ctrl).attr("id")).files[0]);
    }*@

</script>

<style>
    .clsBootBoxWidth {
        width: 70% !important;
        margin: 30px auto !important;
    }

    .alignlft {
        text-align: left !important;
    }
</style>

<div class="form-body">
    <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
        <div class="ribbon ribbon-left" style="background-color:transparent !important;">
            <span class="page-title">Maintain Equipment Jacking</span>
        </div>
        @{
            if (!string.IsNullOrWhiteSpace(Model.Status))
            {
                <div class="ribbon ribbon-right ribbon-color-warning">
                    <span style="font-weight:bolder">
                        Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span>
                    </span>
                </div>
            }
        }
    </div>
    <div id="dvHeader">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader", @enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
            @Html.HiddenFor(m => m.Status)
            <input type="hidden" id="hdHeaderId" name="hdHeaderId" value="" />
            <input type="hidden" id="hdLineId" name="hdLineId" value="" />
            <div class="form-group">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Equipment Jacking Detail</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Project<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Customer</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Customer, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Document</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Document, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">CDD</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.CDD, "{0:dd/MM/yyyy}", new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Rev. No.</label>
                                    <div class="">
                                        <input type="text" id="txtRevNo" name="txtRevNo" class="form-control col-md-3" readonly colname="RevNo" />
                                        @Html.HiddenFor(m => m.RevNo)
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Plan</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ProcessPlan, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Process Licensor</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ProcessLicensor, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Product<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Product, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Approver<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ApprovedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Revise Remark</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ReviseRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Return Remark</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ReturnRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div id="divPDNIdenticalproject" class="form-group"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div id="dv@(FileUpload1ID)"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12" style="text-align:right;margin-top:30px;">
                                    @{
                                        if (Model.Status.ToLower() == clsImplementationEnum.PlanStatus.SendForApproval.GetStringValue().ToLower())
                                        {
                                            <input type="button" class="btn save" id="btnSaveHeader" value="Save" style="margin-right:5px;" />
                                            <button id="btnApprove" type="button" style="margin-right:5px;" class="btn approve">Approve</button>
                                            <button id="btnReturn" type="button" style="margin-right:5px;" class="btn return">Return</button>
                                            @*<button class="btn green" style="display:none;" type="button" id="btnAddLines">Add Line</button>*@
                                        }
                                        <a class="btn back" title="Back To Planning Din" style="margin-right:5px;" href="~/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID">Back</a>

                                        if (Model.Status.ToLower() == clsImplementationEnum.PlanStatus.Approved.GetStringValue().ToLower() && ViewBag.Revoke)
                                        {
                                            <button id="btnRevoke" type="button" class="btn return">Revoke</button>
                                        }
                                        <a  class="btn btnclose" id="btncancel"  style="margin-right:5px;">Close</a>

                                    }
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                Checklist
                            </div>
                            <div class="tools" id="dvExportLines">
                                @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PLN/ApproveEquipmentJacking/GenerateExcel?HeaderId=" + Model.HeaderId, GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLines" })
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblPlanChecklist" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="all" style="width:1px !important">#</th>
                                        <th class="min-phone-l" style="width:60px !important">Related To</th>
                                        <th class="min-phone-l">Check point</th>
                                        <th class="min-phone-l" style="width:60px!important">Y/N</th>
                                        <th class="min-phone-l">Remarks</th>
                                        <th class="none">Created By</th>
                                        <th class="none">Created On</th>
                                        <th class="none">Edited By</th>
                                        <th class="none">Edited On</th>
                                        @*<th class="min-phone-l">Prepared By</th>
                                            <th class="min-phone-l">Checked By</th>
                                            <th class="min-phone-l">Checked On</th>
                                            <th class="min-phone-l">Document No</th>*@
                                        <th style="display:none;">Latest</th>
                                        <th class="" style="display:none;">Line Id</th>
                                        <th class="" style="display:none;">Header Id</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                                        }
    </div>

    <div class="row">
        <div class="col-md-12" style="text-align:right;">
            @*@{
                    if (Model.Status.ToLower() == "sent for approval")
                    {
                        <button id="btnApprove" type="button" class="btn green">Approve</button>
                        <button id="btnReturn" type="button" class="btn red">Return</button>
                    }
                }
                <input type="button" class="btn red" id="btncancel" value="Close" style="margin-right:5px;" />
                <a class="btn blue" href="~/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID">Back</a>*@
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#btnRevoke').click(function(){
            var headerid=parseInt('@Model.HeaderId');
            if(headerid > 0)
            {
                var table = 'PLN016';
                var isapprover = true;
                var action = '@clsImplementationEnum.ButtonStatus.Revoke.GetStringValue()';
                if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                    return false;
                }
            }
            RevokeDoument("/PLN/ApproveEquipmentJacking/RevokeDocument",parseInt('@Model.HeaderId'),parseInt(@ViewBag.PlanningDinID),"/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID")
        });

        var table = $('#tblPlanChecklist');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            //"sAjaxSource": "/PLN/MaintainEquipment/LoadCheckListData",
            "sAjaxSource": WebsiteURL + "/PLN/ApproveEquipmentJacking/LoadCheckListDataNew",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": $("#txtHeaderId").val() }
                            //{ "name": "UserTypeId", "value": $('#ddlUserTypeList').val()}
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        if ('@Model.Status' == 'Sent for Approval' || '@Model.Status' == 'Approved' || $("#spnStatus").text() == 'Approved') {
                            $("#btnSendForApproval").hide();
                        }
                        else if (data.iTotalRecords > 0 && parseInt($("#txtHeaderId").val()) > 0) {
                            $("#btnSendForApproval").show();
                        }
                        else {
                            $("#btnSendForApproval").hide();
                        }
                        $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);
                        fnCallback(data);
                    },
                    'async': false
                });
            },
            "columns": [
               {
                   "bSortable": false,
                   "sClass": "center",
               },
                {
                    "name": "RelatedTo",
                    "bSortable": true,
                    "sClass": "clsCenter",
                },
                {
                    "name": "CheckPoint",
                    "bSortable": true,
                    "sClass": "clsCenter alignlft"
                },
                {
                    "name": "Yes_No",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "Remarks",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "hide"
                },
                {
                    "bSortable": false,
                    "sClass": "hide"
                },
                {
                    "bSortable": false,
                    "sClass": "hide"
                },
                {
                    "bSortable": false,
                    "sClass": "hide"
                },
                //{
                //    "name": "PreparedBy",
                //    "bSortable": true,
                //    "sClass": "clsCenter"
                //},
                //{
                //    "name": "CheckedBy",
                //    "bSortable": true,
                //    "sClass": "center"
                //},
                //{
                //    "name": "CheckedOn",
                //    "bSortable": true,
                //    "sClass": "center"
                //},
                //{
                //    "name": "DocumentNo",
                //    "bSortable": true,
                //    "sClass": "center"
                //},
                {
                    "sClass": "hide"
                },
                 {
                     "sClass": "hide"

                 },

                 {
                     "sClass": "hide"

                 },

            ]
        });

        var strHtml = "<scr" + "ipt>$(document).ready(function(){"
                        + "$('#frmHeaderRemarks').validate({"
                        + " rules: {"
                        + "txtRemarks: {"
                        + "required: true,"
                        + "},"
                        + "messages: {"
                        + "txtRemarks: {"
                        + "required: 'Remark is required'"
                        + "}"
                        + "}"
                         + "}"
                        + "});"
                        + "});</scr" + "ipt>"
                        +" <div>"
                        + "<form method='post' id='frmHeaderRemarks' class='form-horizontal' action=''>"
                        + "<div class='form-group'>"
                        + "<div class='col-md-5'>"
                        + "<label class='control-label'>Remarks<span class='required'> * </span></label>"
                        + "<div class=''>"
                        + "<input type='text' value='' name='txtRemarks' id='txtRemarks' class='form-control col-md-3'>"
                        + "</div>"
                        + "</div>"
                        + "</div>"
                        + "</form>"
                        + "</div>";


        $("#btncancel").click(function () {
            window.location.href = WebsiteURL + '/PLN/ApproveEquipmentJacking/Index';
        });

        $("#btnApprove").click(function () {
            bootbox.confirm({
                message: "Do you want to approve plan?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        var headerid=parseInt('@Model.HeaderId');
                        if(headerid > 0)
                        {
                            var table = 'PLN016';
                            var isapprover = true;
                            var action = '@clsImplementationEnum.ButtonStatus.Approve.GetStringValue()';
                        }
                        if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                            return false;
                        }
                        $.ajax({
                            type: "POST",
                            url: WebsiteURL + "/PLN/ApproveEquipmentJacking/ApproveByApprover",
                            datatype: 'json',
                            async: false,
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            data: { HeaderId: parseInt('@Model.HeaderId')},
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    //$("#divApproveLines").hide();
                                    // window.location.href = '/PLN/ApproveEquipmentJacking/Index';
                                    window.setTimeout('window.location.href = "'+ WebsiteURL + '/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID"', 2000);

                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                            },
                            error: function () {
                            }
                        });
                    }
                }
            });
        });

        $("#btnReturn").click(function () {
            bootbox.confirm({
                message: 'Do you want to returns plan?' + strHtml,
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {

                        if ($('#frmHeaderRemarks').valid()) {
                            var headerid=parseInt('@Model.HeaderId');
                            if(headerid > 0)
                            {
                                var table = 'PLN016';
                                var isapprover = true;
                                var action = '@clsImplementationEnum.ButtonStatus.Return.GetStringValue()';
                            }
                            if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                                return false;
                            }

                            $.ajax({
                                type: "POST",
                                url: WebsiteURL + "/PLN/ApproveEquipmentJacking/ReturnEquipmentJacking",
                                datatype: 'json',
                                async: false,
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                data: { HeaderId: parseInt('@Model.HeaderId'), Remarks: $("#txtRemarks").val() },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        //     window.location.href = '/PLN/ApproveEquipmentJacking/Index';
                                        window.setTimeout('window.location.href = "'+ WebsiteURL + '/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID"', 2000);

                                    }
                                    else {
                                        DisplayNotiMessage("error", data.Value, "Error");
                                    }
                                },
                                error: function () {
                                }
                            });
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                }
            });
        });

    });

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>