﻿@using IEMQSImplementation

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @{
                        string strHeaderTitle = ViewBag.Status + " User Detail";
                    }
                    @strHeaderTitle
                </div>
                <div class="tools" id="dvExportHeader">
                    <div class="btn-group">
                        <a style="margin-left:5px;" id="btnImport" class="btn btn-circle white btn-outline btn-sm">
                            <i class="fa fa-file-excel-o"></i> Import
                        </a>
                    </div>
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/TEMP/CodingStandard/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="tblUserDetail" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="all">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th class="all">Title</th>
                            <th class="min-phone-l">Full Name</th>
                            <th class="min-phone-l">Roles</th>
                            <th class="none">Address</th>
                            <th class="min-phone-l">Birth Date</th>
                            <th class="min-phone-l">Gender</th>
                            <th class="none">Salary</th>
                            <th class="none">Married</th>
                            <th class="min-phone-l">Status</th>
                            <th class="min-phone-l">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="text-align:right;">
        <button id="btnSelectedUser" type="button" class="btn approve" onclick="getSelectedUser()">View Selected User</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        var isVisible = false;

        ImportExcel();

        var table = $('#tblUserDetail');
        //initDataTableFixedColumn({ sTableID: 'tblUserDetail', iLeftCols: 2, iRightCols: 1, bIsWrapHeader: true, bIsFirstColumnCheckbox: true, aColumnDefs: [{ sName: "3", iMinWidth: 200 }, { sName: "_DEF", iMinWidth: 100 }] });
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/TEMP/CodingStandard/LoadDataGridData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Status", "value": '@ViewBag.Status' });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                console.log("xhr",aoData);
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        if (data.iTotalRecords > 0) {
                            if ('@ViewBag.Status'.toLowerCase() == "active") {
                                $("#btnSelectedUser").show();
                            }
                            else {
                                $("#btnSelectedUser").hide();
                            }
                            isVisible = true;
                        }
                        else {
                            $("#btnSelectedUser").hide();
                            isVisible = false;
                        }
                    },
                    'async': false
                });
            },
            "columns": [
                        {
                            'targets': 0,
                            "bSortable": false,
                            "sClass": "center",
                            'render': function (data, type, full, meta) {
                                return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox" name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                            }
                        },
                        {
                            "sClass": "center",
                            "name": "Title"
                        },
                        {
                            "sClass": "center",
                            "name": "FullName",
                            "ColName": "FirstName + ' ' +LastName"
                        },
                        {
                            "sClass": "center",
                            "name": "Roles"
                        },
                        {
                            "sClass": "center",
                            "name": "Address"
                        },
                        {
                            "sClass": "center",
                            "name": "Birthdate"
                        },
                        {
                            "sClass": "center",
                            "name": "Gender"
                        },
                        {
                            "sClass": "center",
                            "name": "Salary"
                        },
                        {
                            "sClass": "center",
                            "name": "Married"
                        },
                        {
                            "sClass": "center",
                            "name": "Status"
                        },
                        {
                            "bSortable": false,
                            "sClass": "center",
                        }
            ],
        /*    "drawCallback": function (settings) {
                console.log('Redraw occurred at: ' + new Date().getTime());
                //alert('DataTables has redrawn the table');
            }*/
        });
        table.dtSearchFilter()



       // table.dtSearchFilter();
        //checkbox column visibility
        if ('@ViewBag.Status'.toLowerCase() == "active" && isVisible == true) {
            oTable.api().column(0).visible(true);
            $("#btnSelectedUser").show();
        }
        else {
            oTable.api().column(0).visible(false);
            $("#btnSelectedUser").hide();
        }

        $('#example-select-all').on('click', function () {
            var rows = oTable.api().rows({ 'search': 'applied' }).nodes();
            $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
        });

        $('#tblUserDetail tbody').on('change', 'input[class="clsCheckbox"]', function () {
            // If checkbox is not checked
            if (!this.checked) {
                var el = $('#example-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if (el && el.checked && ('indeterminate' in el)) {
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });
    });

    function getSelectedUser() {
        var arrayUsers = new Array();
        // Iterate over all checkboxes in the table
        $('input[class="clsCheckbox"]', $('#tblUserDetail_wrapper')).each(function () {
            if (this.checked) {
                arrayUsers.push(this.value);
            }
        });
        if (arrayUsers.length > 0) {
            var strUsers = arrayUsers.join(",");
            alert(strUsers);
        }
        else {
            DisplayNotiMessage("error", "Please select User first", "Error");
        }
    }

    function ImportExcel() {
        $("#btnImport").click(function () {
            $.ajax({
                url: WebsiteURL + "/TEMP/CodingStandard/LoadExcelImportPartial",
                type: "POST",
                dataType: "html",
                success: function (data) {
                    bootbox.confirm({
                        title: "Import User Data",
                        message: data,
                        buttons: {
                            confirm: {
                                label: 'Upload',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'Close',
                                className: 'btn btnclose'
                            }

                        },
                        callback: function (result) {
                            if (result) {
                                if ($('#uploadExcel').valid()) {
                                    var frmHeaderValues = $("#uploadExcel").serializeArray();
                                    var formdata = new FormData();
                                    if (frmHeaderValues != null && frmHeaderValues != undefined) {
                                        $.each(frmHeaderValues, function (key, input) {
                                            formdata.append(input.name, input.value);
                                        });
                                        formdata.append('upload', $('input[type=file]')[0].files[0]);
                                    }

                                    $.ajax({
                                        url: WebsiteURL + "/LTFPS/MaintainLTFPS/ImportExcel",
                                        type: "POST",
                                        datatype: 'json',
                                        //enctype: 'multipart/form-data',
                                        contentType: false,
                                        processData: false,
                                        data: formdata,
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                                $('#tblLTFPSHeader').DataTable().ajax.reload();
                                                $("#dvLTFPSLines").hide();
                                                //QualityProjectChange($("#ddlQualityProject").val());
                                            }
                                            else {
                                                if (data.Value == "Error") {
                                                    window.location = WebsiteURL + '/Utility/General/Download?file=' + data.FileName;
                                                    DisplayNotiMessage("error", "Please check error file", "Error");
                                                }
                                                else {
                                                    DisplayNotiMessage("error", data.Value, "Error");
                                                }
                                            }
                                        },
                                        error: function () {
                                            return false;
                                        }
                                    });

                                }
                            }
                        }
                    });
                }
            });
        });
    }
</script>
