﻿<script>
    $(document).ready(function(){
        $('#uploadExcel').validate({
            rules: {
                upload: {
                    required: true,
                },
                messages: {
                    upload: {
                        required: 'Attachment is required'
                    }
                }
           }
        });
    });
</script>
<div>
    <form method='post' id='uploadExcel' enctype='multipart/form-data' class='form-horizontal' action=''>
        <div class='form-group'>
            <div class='col-md-12'>
                <div class=''>
                    <input type='file' class='btn browsefile' required='required' id='upload' name='upload' />
                </div>
            </div>
        </div>
    </form>
</div>
