﻿@using IEMQSImplementation
<style>
    .center1 {
        text-align:center;
    }
    .bootbox-body {
        overflow:auto;
        max-height:80vh;
    }
</style>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Elmah Error 
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" style="width:100%" id="tblFKMSHeader" cellspacing="0">
            <thead>
                <tr>                    
                    <th class="all"style="width: 140px;">Date Time</th>
                    <th class="all"></th>
                    <th class="all">Type</th>
                    <th class="all">Code</th>
                    <th class="all"></th>
                    <th class="all">Application</th>
                    <th class="all"style="width: 130px;">Host</th>
                    <th class="all">IPAddress</th>
                    <th class="all">Browser</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        var table = $('#tblFKMSHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/Temp/CodingStandard/LoadElmahErrorData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "name": "ColumnInLocalTime",
                    "sClass": "center",
                    "bSortable": true,
                },
                {
                    "name": "AllXml",
                    "sClass": "center1",
                    "bSortable": false,
                },
                {
                    "name": "Type",
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "name": "StatusCode",
                    "sClass": "center1",
                    "bSortable": false,
                },
                {
                    "name": "Message",
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "name": "Application",
                    "sClass": "center",
                    "bSortable": false,
                },                
                {
                    "name": "Host",
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "name": "IPAddress",
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "name": "Browser",
                    "sClass": "center",
                    "bSortable": false,
                },
            ]
        });
        table.dtSearchFilter();
    });
    $(function () {
        $("#fltColumnInLocalTime").datepicker({
            dateFormat: 'dd/mm/yy',
            maxDate: 0,
            onSelect: function (dateText, inst)
            {
                $('#tblFKMSHeader').DataTable().ajax.reload();
            }
        });
    });
    function OpenErrorDetailsPopup(ErrorId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/Temp/CodingStandard/ElmahErrorDetails",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { ErrorId: ErrorId },
            success: function (result) {
                if (result != "")
                {
                    bootbox.dialog({
                        title: 'Error Details',
                        message: result,
                        size: "large",
                        buttons: {
                            'cancel': {
                                label: 'Close',
                                className: 'btn btnclose'
                            }
                        }
                    });                  
                }
            },
            error: function () {
            }
        });
    }
    function OpenMessagePopup(ErrorId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/Temp/CodingStandard/ShowErrorMessage",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { ErrorId: ErrorId },
            success: function (result) {
                if (result != "") {
                    bootbox.dialog({
                        title: 'Message',
                        message: result,
                        size: "medium",
                        buttons: {
                            'cancel': {
                                label: 'Close',
                                className: 'btn btnclose'
                            }
                        }
                    });
                }
            },
            error: function () {
            }
        });
    }
</script>
