﻿@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Datatable/css")

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.dataTables.min.css">


<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />

<link href="~/Content/JqGrid/ui.jqgrid-bootstrap.css" rel="stylesheet" />
@*<link href="~/Content/JqGrid/ui.multiselect.css" rel="stylesheet" />*@

<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>

<script src="~/Scripts/JqGrid/jquery.jqGrid.min.js"></script>
@*<script src="~/Scripts/JqGrid/grid.formedit.js"></script>*@
<script src="~/Scripts/JqGrid/grid.common.js"></script>
<script src="~/Scripts/JqGrid/grid.inlinedit.js"></script>
<script src="~/Scripts/JqGrid/ui.multiselect.js"></script>
<script src="~/Scripts/JqGrid/jquery.fmatter.js"></script>
<script src="~/Scripts/JqGrid/grid.filter.js"></script>
<script src="~/Scripts/JqGrid/jquery.sortable.js"></script>
<script src="~/Scripts/JqGrid/i18n/grid.locale-en.js"></script>

<style>


    /* Code start For Table Header Fix*/
    /*table{
  border-collapse:collapse;
  width:100%;
}

.blue{
  border:2px solid #1ABC9C;
}

.blue thead{
  background:#1ABC9C;
}

.purple{
  border:2px solid #9B59B6;
}

.purple thead{
  background:#9B59B6;
}

thead{
  color:white;
}

th,td{
  text-align:center;
  padding:5px 0;
}

tbody tr:nth-child(even){
  background:#ECF0F1;
}

tbody tr:hover{
background:#BDC3C7;
  color:#FFFFFF;
}

.fixed{
  top:0;
  position:fixed;
  width:auto;
  display:none;
  border:none;
}

.scrollMore{
  margin-top:600px;
}

.up{
  cursor:pointer;
}*/
/*Code End For Header*/




 

    .expandspan {
        transform: rotate(45deg);
    }

    .lefttext {
        text-align: left !important;
    }

    .centertext {
        text-align: center !important;
    }

    .selectdrag {
        background-color: aquamarine !important;
    }

    .childmenus {
        padding-left: 15px;
    }


    .scroll-class
    {
        background-color: #00FFFF;
        width: 100%;
        height: 250px;
        overflow: scroll;
    }
        /*table ,tr td
        {
            border:1px solid red
        } /*jsut for design*/
        /*tbody
        {
            /*display:block;*/
        /*/




    /*div.dataTables_wrapper { min-height: 300px; }*/
</style>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    <input type="hidden" value="" id="hudDataCount" />

                                    Inline Data Grid (Data Table)
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                User Detail ( Client Side Grid with lazy loading )
                            </div>
                            <div class="tools" id="dvExportHeader">
                                <div class="btn-group">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/TEMP/CodingStandard/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                                    <a style="margin-right:5px;margin-left:5px;" id="btnNew" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewRecord(this);">
                                        <i class="fa fa-plus"></i> New
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body " ïd="divTblUserDetail" onscroll="Dave(this)">
                            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmUsers", @class = "form-horizontal" }))
                            {

                                <table class="table-striped table-bordered table-hover dt-responsive blue" id="tblUserDetail" cellspacing="0">

                                    <thead id="tabelhead">

                                        <tr>
                                            <th class="all">UserId</th>
                                            <th class="all">Title <span class="red">*</span></th>
                                            <th class="all">First Name <span class="red">*</span></th>
                                            <th class="all">Last Name <span class="red">*</span></th>
                                            <th class="all">Roles <span class="red">*</span></th>
                                            <th class="all">Address <span class="red">*</span></th>
                                            <th class="all">Birth Date <span class="red">*</span></th>
                                            <th class="all">Gender <span class="red">*</span></th>
                                            <th class="all">Salary <span class="red">*</span></th>
                                            <th class="all">Married</th>
                                            <th class="all">Status</th>
                                            <th class="all">Action</th>
                                        </tr>

                                    </thead>

                                    <tbody id="tblUserDetailBody" class="scroll-class"></tbody>

                                </table>

                            }
                        </div>


                        <div class="portlet-title">
                            <div class="caption">
                                User Detail ( Client Side Grid )
                            </div>
                            <div class="tools" id="dvExportHeader3">
                                <div class="btn-group">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/TEMP/CodingStandard/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader3" })
                                    <a style="margin-right:5px;margin-left:5px;" id="btnNew" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewRecordClientGrid(this);">
                                        <i class="fa fa-plus"></i> New
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div id="divTblClientSideGrid" class="portlet-body ">
                            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmClientSideUsers", @class = "form-horizontal" }))
                            {
                                <table class="table-striped table-bordered table-hover dt-responsive blue" id="tblClientSideGrid" cellspacing="0">

                                    <thead>

                                        <tr>
                                            <th class="all">UserId</th>
                                            <th class="all">Title <span class="red">*</span></th>
                                            <th class="all">First Name <span class="red">*</span></th>
                                            <th class="all">Last Name <span class="red">*</span></th>
                                            <th class="all">Roles <span class="red">*</span></th>
                                            <th class="all">Address <span class="red">*</span></th>
                                            <th class="all">Birth Date <span class="red">*</span></th>
                                            <th class="all">Gender <span class="red">*</span></th>
                                            <th class="all">Salary <span class="red">*</span></th>
                                            <th class="all">Married</th>
                                            <th class="all">Status</th>
                                            <th class="all">Action</th>
                                        </tr>

                                    </thead>

                                    <tbody id="tblClientSideGridBody" class="scroll-class"></tbody>

                                </table>
                            }
                        </div>


                        <div class="portlet-title">
                            <div class="caption">
                                User Detail ( Server Side Grid )
                            </div>
                            <div class="tools" id="dvExportHeader1">
                                <div class="btn-group">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/TEMP/CodingStandard/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader1" })
                                    <a style="margin-right:5px;margin-left:5px;" id="btnNew" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewRecordServerGrid(this);">
                                        <i class="fa fa-plus"></i> New
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="portlet-body" id="divServerSideGrid">
                            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmServerSideUsers", @class = "form-horizontal" }))
                            {
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="tblServerSideGrid" cellspacing="0">
                                    <thead>

                                        <tr>
                                            <th class="all">Title <span class="red">*</span></th>
                                            <th class="all">First Name <span class="red">*</span></th>
                                            <th class="all">Last Name <span class="red">*</span></th>
                                            <th class="all">Roles <span class="red">*</span></th>
                                            <th class="all">Address <span class="red">*</span></th>
                                            <th class="all">Birth Date <span class="red">*</span></th>
                                            <th class="all">Gender <span class="red">*</span></th>
                                            <th class="all">Salary <span class="red">*</span></th>
                                            <th class="all">Married</th>
                                            <th class="all">Status</th>
                                            <th class="all">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    <input type="hidden" value="" id="hudDataCount" />
                                    JQ Data Grid
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                User Detail (Jq Grid)
                            </div>
                            <div class="tools" id="dvExportHeader1">
                                <div class="btn-group">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/TEMP/CodingStandard/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader1" })
                                    <a style="margin-right:5px;margin-left:5px;" id="btnNew" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewRecordServerGrid(this);">
                                        <i class="fa fa-plus"></i> New
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="portlet-body" id="divJqGrid">
                            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmJqUsers", @class = "form-horizontal" }))
                            {
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">                                        
                                        <button id="btnJqAdd" type="button" onclick="refreshJQgrid()" class="btn btn-primary btn-sm btn-circle">Refresh <i class="fa fa-refresh"></i></button>
                                    </div>
                                    <div class="col-md-6 col-sm-12" style="text-align: right;margin-bottom:10px;">
                                        <label for="globalSearchText">Search for:&nbsp;</label>
                                        <input id="globalSearchText" class="form-control input-sm input-small input-inline" type="text">
                                        
                                    </div>
                                </div>
                                <div class="table">
                                    <table class="" id="tblJqGrid" cellspacing="0">
                                        @*<thead>

                                                <tr>
                                                    <th class="all">Title <span class="red">*</span></th>
                                                    <th class="all">First Name <span class="red">*</span></th>
                                                    <th class="all">Last Name <span class="red">*</span></th>
                                                    <th class="all">Roles <span class="red">*</span></th>
                                                    <th class="all">Address <span class="red">*</span></th>
                                                    <th class="all">Birth Date <span class="red">*</span></th>
                                                    <th class="all">Gender <span class="red">*</span></th>
                                                    <th class="all">Salary <span class="red">*</span></th>
                                                    <th class="all">Married</th>
                                                    <th class="all">Status</th>
                                                    <th class="all">Action</th>

                                                </tr>
                                            </thead>
                                            <tbody></tbody>*@
                                    </table>
                                </div>
                                    <div id="jqGridPager"></div>
                                    }
                                </div>
                    </div>
                </div>
            </div>
                </div>
            </div>
            </div>

<script type="text/javascript">


    $.jgrid.defaults.width = 780;
    $.jgrid.defaults.responsive = true;
    $.jgrid.defaults.styleUI = 'Bootstrap';

    function refreshJQgrid(){      
        $("#tblJqGrid").trigger("reloadGrid");
        this.disabled = true;
    }


    $(document).ready(function () {
        datePick = function(elem)
        {
            $(elem).datepicker({
                dateFormat: "dd/mm/yy",
                maxDate: new Date(2020, 0, 1),
                showOn: 'focus'
            });
        }

        var $grid = $("#tblJqGrid");
        $("#tblJqGrid").jqGrid({
            url: WebsiteURL + "/TEMP/CodingStandard/LoadJqGridData",
            editurl: WebsiteURL+"/TEMP/CodingStandard/AddEditDeleteJqGridUserData",
            mtype: "GET",
            async:true,
            styleUI : 'Bootstrap',
            datatype: "json",
            colNames: ['UserId','Edit Actions','FullName','Title','First Name', 'Last Name','Roles','Birthdate','Gender', 'Address','Salary','Married','Status','Action'],
            colModel: [
                {
                    label: 'UserId',
                    name: 'UserId',
                    align:"center",
                    key: true,
                    editable: false,
                    search:false,
                    hidden:true ,
                    frozen:true
                },
                {
                    label: "Edit Actions",
                    name: "actions",
                    width: 100,
                    search:false,
                    sortable:false,
                    frozen:true,
                    formatter: "actions",
                    formatoptions: {
                        keys: true,
                        editformbutton: false,//false for inline and true for form editing                        
                        afterSave: function (rowid, response, postdata, options) {
                            if(response.status==200){                              
                                DisplayNotiMessage("Success", "Updated successfully", "Success");
                            }else{
                                DisplayNotiMessage("Error", "", "error");
                            }
                        }
                    }                   
                },
                {
                    label: 'Full Name',
                    name: 'FullName',
                    align:"center",
                    width:'160px',
                    search:false,
                    frozen : true,
                    editable: false
                },
                {
                    label: 'Title',
                    name: 'Title',
                    align:"center",
                    width:'120px',
                    editable: true,
                    edittype: "text",
                    editoptions: {
                        Class: "autocomplete"
                    },
                    searchoptions: {
                        sopt: ['cn','nc','eq', 'ne','bw','ew', 'en']
                    }
                },
                {
                    label: 'First Name',
                    name: 'FirstName',
                    align:"center",
                    width:'160px',
                    editable: true,
                    edittype: "text",
                    editrules: { required: true},
                    stype:"select",
                    searchoptions: {
                        sopt: ['cn','nc','eq', 'ne','bw','ew', 'en'],
                        value:":All;Rakesh:Rakesh;Divyesh:Divyesh;ANTON:ANTON;AROUT:AROUT;BERGS:BERGS"
                    }},
                {
                    label: 'Last Name',
                    name: 'LastName',
                    align:"center",
                    width:'120px',
                    editable: true,
                    edittype: "text",
                    editrules: { required: true},
                    searchoptions: {
                        sopt: ['cn','nc','eq', 'ne','bw','ew', 'en']
                    }
                },
                {
                    label:'Roles',
                    name: 'Roles',
                    align:"center",
                    width:'300px',
                    editable: true,
                    edittype: "select",                    
                    editoptions: {    
                        "multiple":true,
                        placeholder: "Select Roles",
                        //"value":"50:AUX1;51:AUX2;85:AUX3",
                        dataUrl:"/TEMP/CodingStandard/GetAllRolesHtmlString",
                        dataInit:function(el){                                                       
                                $(el).select2();                            
                        }},                                                             
                    searchoptions: {
                        sopt: ['cn','nc','eq', 'ne','bw','ew', 'en']
                    }
                },
                  {
                      label: 'Birthdate',
                      name: 'Birthdate',
                      align:"center",
                      width:'170px',
                      editable: true,
                      edittype: "text",
                      editoptions: {
                          dataInit: function (element) {
                              $(element).datepicker({
                                  id: 'Birthdate_datePicker',
                                  dateFormat: 'dd/mm/yy',                                  
                                  maxDate: new Date(2020, 0, 1),
                                  showOn: 'focus'
                              });
                          }
                      },
                      searchoptions: {sopt: ['cn'],
                          dataInit: datePick,
                          title: 'Select Date'
                      }
                  },
                    {
                        label: 'Gender',
                        name: 'Gender',
                        align:"center",
                        width:'120px',
                        editable: true,
                        edittype: "custom",
                        editoptions: { custom_element: GenderRadio, custom_value: GenderValue},
                        searchoptions: {
                            sopt: ['cn','nc','eq', 'ne','bw','ew', 'en']
                        }
                    },
                {
                    label:'Address',
                    name: 'Address',
                    align:"center",
                    width:'300px',
                    editable: true,                    
                    edittype: "textarea",
                    editoptions:{size:500,"rows":"1"},
                    searchoptions: {
                        sopt: ['cn','nc','eq', 'ne','bw','ew', 'en']
                    }
                },
                {
                    label: 'Salary',
                    name: 'Salary',
                    align:"center",
                    width:'120px',
                    editable: true,
                    edittype: "text",                   
                    editrules:{required:true, number:true},
                    editoptions:{maxlength:7, size:7},
                    formatoptions: { decimalSeparator: ".", thousandsSeparator: " ", decimalPlaces: 2, defaultValue: '0.00' },
                    searchoptions: {
                        sopt: ['cn','nc','eq', 'ne','bw','ew', 'en']
                    }
                },
                 {
                     label: 'Married',
                     name: 'Married',
                     align:"center",
                     width:'120px',
                     editable: true,
                     edittype: "checkbox",
                     editoptions: {
                         value: "1:Yes;0:No"
                     },
                     formatter: function (cellvalue, options, rowObject) {
                         if (cellvalue == "Yes")
                         { return "Yes"; }
                         else
                         { return "No"; }
                     },
                     searchoptions: {
                         sopt:['cn','nc','eq', 'ne','bw','ew', 'en']
                     }
                 },
                  {
                      label: 'Status',
                      name: 'Status',
                      align:"center",
                      width:'120px',
                      editable: true,
                      edittype: "select",
                      editoptions: {
                          value: "Active:Active;Inactive:Inactive"
                      },
                      searchoptions: {
                          sopt: ['cn','nc','eq', 'ne','bw','ew', 'en']
                      }
                  },
                  {
                      label: "Actions",
                      name: "Actions",
                      width:'120px',
                      align:"center",
                      search:false,
                  }
            ],            
            scroll:false,             // Scroll:false -> required for Frozen coll to be work
            viewrecords: true,
            shrinkToFit: false,
            //onSelectRow: editRow,
            //multiselect: true,
            rowNum: 100,
            height: 400,
            pager: "#jqGridPager",
            rowList: [10, 20, 50, 100, 500],
            emptyrecords: "No records found"

        });            
       
        $('#tblJqGrid').inlineNav('#jqGridPager',             
                {                     
                    add: true,                    
                    del: false, 
                    edit: false, 
                    cancel: true,
                    addParams:{
                        useDefValues:true,
                        addRowParams:{
                            key:true,
                            successfunc:function(val){
                                $('#tblJqGrid').trigger("reloadGrid", [{ page: 1, current: true }]);
                                DisplayNotiMessage("Success", "Added successfully", "Success");
                            }
                        }
                    }
                   
                });

       // $('#tblJqGrid').navGrid('#jqGridPager',
       //{
       //    edit: false,
       //    add: false,
       //    del: false,
       //    search: false,
       //    refresh: true,           
       //}); 

            $('#tblJqGrid').filterToolbar({
                stringResult: true,
                searchOperators: true,
                autosearchDelay:3000,
                ignoreCase: true
            });

            $grid.jqGrid.InitJqColumnSearch('tblJqGrid')
            $('#tblJqGrid').jqGrid('setFrozenColumns');

            var isTyping = false;
            $("#globalSearchText").keyup(function (e) {
                if (this.value.length > 0) {
                    isTyping = true;
                    setTimeout(function () {
                        if (isTyping) {
                            isTyping = false;
                            setTimeout(function () {
                                if (!isTyping) {
                                    isTyping = true;
                                    var searchText = $("#globalSearchText").val();
                                    $('#tblJqGrid').jqGrid.InitJqGlobalSearch(searchText,'tblJqGrid');
                                }
                            }, 1000);
                        }
                    }, 500);
                }
            });

            function getSelectedRow() {
                var grid = $("#tblJqGrid");
                var rowKey = grid.jqGrid('getGridParam',"selrow");

                if (rowKey)
                    return rowKey
                else
                   return 0
            }

            function GenderRadio(value, options) {
                var male = '<span><input type="radio" name="RadioGender" value="Male"';
                var breakline = '/>Male';
                var female = '&nbsp;<input type="radio" name="RadioGender" value="Female"';
                var end = '/>Female</span>';
                var radiohtml;
                if (value == "Male") {
                    radiohtml = male + ' checked="checked"' + breakline + female + end;
                    return radiohtml;
                } else if (value == "Female") {
                    radiohtml = male + breakline + female + ' checked="checked"' + end;
                    return radiohtml;
                } else {
                    return male + breakline + female + end;
                }
            }

            function GenderValue(elem, operation, value) {
                var $elems = $(elem).find("input[name=RadioGender]");
                if (operation === "get") {
                    return $elems.first().is(":checked") ? "Male":"Female";
                } else if (operation === "set") {
                    $elems.val(value);
                }
            }

            /****The following limitations tell you when frozen columns can not be set-up**********/
           /*
            When TreeGrid is enabled
            When SubGrid is enabled
            When cellEdit is enabled
            When inline edit is used - the frozen columns can not be edit.
            When sortable columns are enabled - grid parameter sortable is set to true or is function
            When scroll is set to true or 1
            When Data grouping is enabled
            When footer row (footerrow paremeter) is enabled
            */

    });

    var lastSelection;
    function editRow(id) {
        if (id && id !== lastSelection) {
            var grid = $("#tblJqGrid");
            grid.jqGrid('restoreRow',lastSelection);
            grid.jqGrid('editRow',id, {
                keys: true,
                onEnter : function(rowid, options, event) {
                    if (confirm("Save the row with ID: "+rowid) === true) {
                        saveparameters = {
                            "successfunc" : null,
                            "url" : "/TEMP/CodingStandard/LoadJqGridData",
                            "extraparam" : {},
                            "aftersavefunc" : function( response ) {
                                alert('saved');
                            },
                            "errorfunc": null,
                            "afterrestorefunc" : null,
                            "restoreAfterError" : true,
                            "mtype" : "GET"
                        }
                        $(this).jqGrid("saveRow", rowid,saveparameters);
                    }
                }
            });
            lastSelection = id;
        }
    }

    var lstTitle = @Html.Raw(Json.Encode(@ViewBag.NameTitle));
    $('#tblJqGrid').delegate(".autocomplete", "focusin", function () {
        var element = $(this);
        var hdElement = $(this).attr("rowid");
        if ($(this).attr("name") == "Title") {
            FillInlineAutoComplete(element, lstTitle, null, false);
        }

    });

    // Validate Jq Grid Data
    function UpdateJqData(objColumn,rowID,isValid)
    {
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("name");
        rowID = $(objColumn).attr("rowid");

        //if ($(objColumn).attr('data-name') == "ddlmultiple") {
        //    columnValue = columnValue.join(",");
        //}
        if (columnName == "Married") {
            if($(objColumn).is(':checked'))
            {columnValue=true;}
            else
            {columnValue=false}
        }
        if (isValid && columnValue == "") {
            DisplayNotiMessage("info", columnName + " is required", "Info");
            return false;
        }
        else {
            updateJqValidData(columnName,columnValue,rowID)
        }
    }

    // Update Jq Grid Data
    function updateJqValidData(columnName,columnValue,rowID)
    {
        $.ajax({
            type: "POST",
            url:WebsiteURL + "/TEMP/CodingStandard/UpdateDetails",
            datatype: 'json',
            async: false,
            data: { id: rowID, columnName: columnName, columnValue: columnValue },
            success: function (result) {
                if (!result.Key) {
                    DisplayNotiMessage("error", result.Value, "error");
                }else{
                   //$('#tblJqGrid').trigger("reloadGrid", [{ page: 1, current: true }]);
                    //editRow(rowID);
                }
            },
            error: function () {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            }
        });
    }

</script>
            <script>

                var oTable ="";
                var PreparedData="";
                var StartIndexDataCount = 1;
                var EndIndexDataCount = 0;
                var tblh =350;


                // Code Start For table header


                //;(function($) {
                //    $.fn.fixMe = function()
                //    {
                //        return this.each(function() {
                //            var $this = $(this),
                //               $t_fixed;
                //            function init() {
                //                $this.wrap('<div class="container" />');
                //                $t_fixed = $this.clone();
                //                $t_fixed.find("tbody").remove().end().addClass("fixed").insertBefore($this);
                //                resizeFixed();
                //            }
                //            function resizeFixed() {
                //                $t_fixed.find("th").each(function(index) {
                //                    $(this).css("width",$this.find("th").eq(index).outerWidth()+"px");
                //                });
                //            }
                //            function scrollFixed() {
                //                var offset = $(this).scrollTop(),
                //                tableOffsetTop = $this.offset().top,
                //                tableOffsetBottom = tableOffsetTop + $this.height() - $this.find("thead").height();
                //                if(offset < tableOffsetTop || offset > tableOffsetBottom)
                //                    $t_fixed.hide();
                //                else if(offset >= tableOffsetTop && offset <= tableOffsetBottom && $t_fixed.is(":hidden"))
                //                    $t_fixed.show();
                //            }
                //            $(window).resize(resizeFixed);
                //            $(window).scroll(scrollFixed);
                //            init();
                //        });
                //    };
                //})(jQuery);



                // Code End For table header


                $(document).ready(function ()
                {

                    $(window).resize(function() {
                        //console.log($(window).height());
                        $('.dataTables_scrollBody').css('min-height','100px');
                    });

                    var lstTitle = @Html.Raw(Json.Encode(@ViewBag.NameTitle));
                    var lstGender = @Html.Raw(Json.Encode(@ViewBag.Gender));


                    $('#tblUserDetailBody').on( 'scroll', function(){
                        alert('Event Fired');
                    });

                    $(".dataTables_scrollBody").on("scroll", function()
                    {
                        //var div = document.getElementById("dataTables_scrollBody").scrollTop;
                        alert("hello");
                        //document.getElementById("pos").innerHTML = div;
                    });

                    $('#tblUserDetail').delegate(".autocomplete", "focusin", function () {
                        var element = $(this);
                        var hdElement = $(this).attr("hdElement");
                        if ($(this).attr("colname") == "Title") {
                            FillInlineAutoComplete(element, lstTitle, null, false);
                        }
                        if ($(this).attr("colname") == "Gender") {
                            FillInlineAutoComplete(element, lstGender, null, false);
                        }
                    });

                    $('#tblServerSideGrid').delegate(".autocomplete", "focusin", function () {
                        var element = $(this);
                        var hdElement = $(this).attr("hdElement");
                        if ($(this).attr("colname") == "Title") {
                            FillInlineAutoComplete(element, lstTitle, null, false);
                        }
                        if ($(this).attr("colname") == "Gender") {
                            FillInlineAutoComplete(element, lstGender, null, false);
                        }
                    });

                    $('#tblClientSideGrid').delegate(".autocomplete", "focusin", function () {
                        var element = $(this);
                        var hdElement = $(this).attr("hdElement");
                        if ($(this).attr("colname") == "Title") {
                            FillInlineAutoComplete(element, lstTitle, null, false);
                        }
                        if ($(this).attr("colname") == "Gender") {
                            FillInlineAutoComplete(element, lstGender, null, false);
                        }
                    });

                    $('#frmUsers').validate({
                        rules: {
                            Title0: {required: true,},
                            FirstName0: {required: true,},
                            LastName0: {required: true,},
                            Roles0: {required: true,},
                            Address0: {required: true,},
                            Birthdate0: {required: true,},
                            Gender0: {required: true,},
                            Salary0: {required: true,},
                            // Married0: {required: true,},
                            Status0: {required: true,},
                        },
                        messages: {
                            Title0: {required: "Title is required"},
                            FirstName0: {required: "First Name is required"},
                            LastName0: {required:"Last Name is required"},
                            Roles0: {required: "Roles is required"},
                            Address0: {required: "Address is required"},
                            Birthdate0: {required: "Birthdate is required"},
                            Gender0: {required: "Gender is required"},
                            Salary0: {required:"Salary is required"},
                            //Married0: {required:"Married is required"},
                            Status0: {required: "Status is required"},
                        }
                    });

                    $('#frmServerSideUsers').validate({
                        rules: {
                            Title0: {required: true,},
                            FirstName0: {required: true,},
                            LastName0: {required: true,},
                            Roles0: {required: true,},
                            Address0: {required: true,},
                            Birthdate0: {required: true,},
                            Gender0: {required: true,},
                            Salary0: {required: true,},
                            // Married0: {required: true,},
                            Status0: {required: true,},
                        },
                        messages: {
                            Title0: {required: "Title is required"},
                            FirstName0: {required: "First Name is required"},
                            LastName0: {required:"Last Name is required"},
                            Roles0: {required: "Roles is required"},
                            Address0: {required: "Address is required"},
                            Birthdate0: {required: "Birthdate is required"},
                            Gender0: {required: "Gender is required"},
                            Salary0: {required:"Salary is required"},
                            //Married0: {required:"Married is required"},
                            Status0: {required: "Status is required"},
                        }
                    });

                    $('#frmClientSideUsers').validate({
                        rules: {
                            Title0: {required: true,},
                            FirstName0: {required: true,},
                            LastName0: {required: true,},
                            Roles0: {required: true,},
                            Address0: {required: true,},
                            Birthdate0: {required: true,},
                            Gender0: {required: true,},
                            Salary0: {required: true,},
                            // Married0: {required: true,},
                            Status0: {required: true,},
                        },
                        messages: {
                            Title0: {required: "Title is required"},
                            FirstName0: {required: "First Name is required"},
                            LastName0: {required:"Last Name is required"},
                            Roles0: {required: "Roles is required"},
                            Address0: {required: "Address is required"},
                            Birthdate0: {required: "Birthdate is required"},
                            Gender0: {required: "Gender is required"},
                            Salary0: {required:"Salary is required"},
                            //Married0: {required:"Married is required"},
                            Status0: {required: "Status is required"},
                        }
                    });


                    var table = $('#tblUserDetail');
                    var table2 = $('#tblClientSideGrid');


                    $('#tblUserDetail tbody').on( 'click', 'tr', function () {
                        debugger
                        if ( $(this).hasClass('selected') )
                        {
                            $(this).removeClass('selected');
                        }
                        else {
                            table.$('tr.selected').removeClass('selected');
                            $(this).addClass('selected');


                            //Selection Coading

                            var rowIndex = $(this).closest("tr").index();
                            var dropdownDone = false;
                            $(".editable").each(function(){
                                debugger
                                $this =$(this);
                                if($this.closest("tr").index() !== rowIndex){
                                    var newText = "";
                                    //if($this.find("input")){
                                    var value = $this.val();
                                    var dropdownId=$this.closest("tr").find('select').attr('id');
                                    $this.closest('td').html("<span  data-col='description' data-maxlength='100'>"+value+"</span>");
                                    // }

                                    debugger
                                    if(!dropdownDone){
                                        var selMulti = $.map($('#'+dropdownId + " option:selected"), function (el, i) {
                                            return $(el).text();
                                        });
                                        //$('#'+dropdownId ).text(selMulti.join(", "));
                                        // $("#"+dropdownId).parent('td').html($('#'+dropdownId ).text());
                                        $("#"+dropdownId).parent('td').html(selMulti.join(", "));
                                        dropdownDone = true;
                                    }
                                }
                            });

                            $this2 =$(this);


                            //var firstTextBoxId  =  $(this).closest("tr").find("input:first").attr("id");
                            $.ajax({
                                'dataType': 'json',
                                'type': 'POST',
                                'url': WebsiteURL + "/TEMP/CodingStandard/LoadInlineEditableDataSingleData",
                                'data': {id:$(this).closest("tr").attr("data-id")},
                                //'data': {id:ID},
                                'async': true,
                                'success': function (data) {
                                    oTable.api().row(rowIndex).data( data.aaData[0] );
                                    //$("#"+firstTextBoxId).focusTextToEnd();
                                    EditTableRow();
                                    LoadMultiSelect();
                                }
                            });

                        }
                    } );


                    $('#tblClientSideGrid tbody').on( 'click', 'tr', function () {

                        if ( $(this).hasClass('selected') )
                        {
                            $(this).removeClass('selected');
                        }
                        else {
                            table2.$('tr.selected').removeClass('selected');
                            $(this).addClass('selected');


                            //Selection Coading

                            var rowIndex = $(this).closest("tr").index();
                            var dropdownDone = false;
                            $(".editable").each(function(){

                                $this =$(this);
                                if($this.closest("tr").index() !== rowIndex){
                                    var newText = "";
                                    //if($this.find("input")){
                                    var value = $this.val();
                                    var dropdownId=$this.closest("tr").find('select').attr('id');
                                    $this.closest('td').html("<span  data-col='description' data-maxlength='100'>"+value+"</span>");
                                    // }


                                    if(!dropdownDone){
                                        var selMulti = $.map($('#'+dropdownId + " option:selected"), function (el, i) {
                                            return $(el).text();
                                        });
                                        //$('#'+dropdownId ).text(selMulti.join(", "));
                                        // $("#"+dropdownId).parent('td').html($('#'+dropdownId ).text());
                                        $("#"+dropdownId).parent('td').html(selMulti.join(", "));
                                        dropdownDone = true;
                                    }
                                }
                            });

                            $this2 =$(this);

                            $tblDTFDLeft = $("#tblClientSideGrid_wrapper > .table-scrollable > .DTFC_ScrollWrapper > .DTFC_LeftWrapper > .DTFC_LeftHeadWrapper > table");
                            //var firstTextBoxId  =  $(this).closest("tr").find("input:first").attr("id");
                            $.ajax({
                                'dataType': 'json',
                                'type': 'POST',
                                'url': WebsiteURL + "/TEMP/CodingStandard/LoadInlineEditableDataSingleData",
                                'data': {id:$(this).closest("tr").attr("data-id")},
                                //'data': {id:ID},
                                'async': true,
                                'success': function (data) {
                                    oTable2.api().row(rowIndex).data( data.aaData[0] );

                                    //$("#"+firstTextBoxId).focusTextToEnd();
                                    EditTableRow();
                                    LoadMultiSelect();
                                }
                            });

                        }
                    } );


                    //  initDataTableFixedColumn({ sTableID: 'tblUserDetail', iLeftCols: 2, iRightCols: 1, bIsWrapHeader:true, bIsFirstRowHidden:true, aColumnDefs:[{sName:"_DEF",iMinWidth:200}] });
                    oTable = table.dataTable({
                        "activate": function(event, ui){
                            var selectedTab = ui.newTab.index();

                            if (selectedTab == 0) { //first tab (datatable 1)
                                $dataTable1.columns.adjust().draw();
                            }

                            if (selectedTab == 1) { //second tab (datatable 2)
                                $dataTable2.columns.adjust().draw();
                            }
                        },

                        "language": {
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            },
                            "emptyTable": "No data available in table",
                            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                            "infoEmpty": "No entries found",
                            "infoFiltered": "(filtered1 from _MAX_ total entries)",
                            "lengthMenu": "_MENU_ entries",
                            "search": "Search:",
                            "zeroRecords": "Please wait"
                            //"zeroRecords": "No matching records found"
                        },

                        "bProcessing": true,
                        "bServerSide": true,
                        "stateSave": true,
                        "bDestroy": true,
                        //"bPaginate": false,  //to off pagination
                        //"paging": false,
                        "sDom": "lfrti",
                        "dom": "lfrti",
                        buttons: [],

                        // responsive: false,
                        //autoWidth:true,
                        //"order": [
                        //    [0, 'asc']
                        //],
                        //"lengthMenu": [

                        //    [10,50,100,500,1000,2000],
                        //    [10,50,100,500,1000,2000]
                        //],


                        // Properties for Scroll lazy loading Start
                        scrollX: true,//table.hasHScrollBar(),
                        'scrollY': 500,

                        "scrollCollapse": true,
                        'scroller': {
                            loadingIndicator: true
                        },
                        //  Properties for Scroll lazy loading End

                        "pageLength": 100,
                        "iDisplayLength": 500,

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                        "sAjaxSource":WebsiteURL + "/TEMP/CodingStandard/LoadInlineEditableDataGridData",
                        "fnServerParams": function (aoData) {
                            aoData.push({ "name": "type", "value": "sdf" });
                        },
                        "fnServerData": function (sSource, aoData, fnCallback) {

                            $.ajax({
                                'dataType': 'json',
                                'type': 'POST',
                                'url': sSource,
                                'data': aoData,
                                'success': function (data)
                                {

                                    @*var DuplicateData=@(Array) Session['Data'];*@

                                    fnCallback(data);
                                    $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                                    $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);

                                    $('input[colname="Birthdate"]').each(function () {
                                        $(this).attr('type', 'date');
                                    });
                                    $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true });

                                    $(".numeric").autoNumeric('init', { aSep: '' });

                                    //debugger
                                    PreparedData= data;
                                    EndIndexDataCount = data.aaData.length;

                                    LoadMultiSelect();
                                    ResetAddRow($('#tblUserDetail'));

                                    EditTableRow();

                                },
                                'async': false
                            });

                        },
                        createdRow: function (row, data, dataIndex)
                        {
                            $(row).attr("data-orderno", data[4]);
                            $(row).attr("data-id", data[0]);
                            $(row).attr("data-isparent", data[8]);
                            $(row).attr("data-index", data[0]);
                            $(row).attr("data-parentid", data[10]);
                            $(row).attr("data-parentid", data[10]);

                            if (!$(row).data("isparent"))
                            {
                                $(row).css({ "display": "none" });
                            }
                        },
                        "columns": [

                                    {
                                        "bSortable": "false",
                                        "sClass": "hide"
                                        //"visible":false,
                                        //"name": "UserId",
                                        //"attr":"none"
                                    },
                                    {
                                        "searchable": "false",
                                        "sClass": "center",
                                        "name": "Title"
                                    },
                                    {
                                        "sClass": "center",
                                        "name": "FirstName"
                                    },
                                    {
                                        "sClass": "center",
                                        "name": "LastName"
                                    },
                                    {
                                        "sClass": "center",
                                        "name": "Roles",

                                    },
                                    {
                                        "sClass": "center",
                                        "name": "Address"
                                    },
                                    {
                                        "sClass": "center",
                                        "name": "Birthdate",
                                        "attr": "date"
                                    },
                                    {
                                        "sClass": "center",
                                        "name": "Gender"
                                    },
                                    {
                                        "sClass": "center",
                                        "name": "Salary",
                                        "attr": "numeric"
                                    },
                                    {
                                        "sClass": "center",
                                        "name": "Married"
                                    },
                                    {
                                        "sClass": "center",
                                        "name": "Status"
                                    },
                                    {
                                        "bSortable": false,
                                        "sClass": "center",
                                        "name": "Action"
                                    }
                        ]

                    });
                    table.dtSearchFilter();
                    oTable.fnDraw();


                    //$("#tblUserDetail").fixMe();
                    //$(".up").click(function() {
                    //    $('html, body').animate({
                    //        scrollTop: 0
                    //    }, 2000);
                    //});







                    //$('.portlet-body ').on( 'scroll', function()
                    //{
                    //    debugger
                    //    //alert(" hi");
                    //    var dtHeight =$(".portlet-body").height();
                    //    var dtScrollTop = $(".portlet-body").scrollTop();
                    //    var TblHeight =$("#tblUserDetailBody").height();

                    //    if ($(".portlet-body").height() + $(".portlet-body").scrollTop() < $("#tblUserDetailBody").height())
                    //    {
                    //        $.ajax({
                    //            type: "POST",
                    //            url: WebsiteURL + "/TEMP/CodingStandard/LoadInlineEditableDataGridData",
                    //            data: { orderNo: PreparedData},
                    //            success: function (data) { $('#ProductInformation').html(data); },
                    //            error: function (xhr, status, error) { alert(error); }
                    //        });

                    //        //alert("Hello world !");
                    //    }
                    //});



                    //window.setTimeout(function(){
                    //    //var tr=GenerateGridControl("tblUserDetail");
                    //    //$("#tblUserDetail").closest(".dataTables_scroll").find(".dataTables_scrollHeadInner").find(".no-footer").find("thead").append($(tr));

                    //    //$.each($("#tblUserDetail").DataTable().settings().init().columns, function (idx, col) {
                    //    //    if (typeof (col.ColData) === "string") {
                    //    //        LoadPreValueSelect2(col.ColData, $('#' + FltType + col.name, '#' + table), "Search..", '')
                    //    //    } else if (col.ColData != undefined) {
                    //    //        FillInlineAutoComplete($('#' + FltType + col.name, '#' + table), col.ColData)
                    //    //    }
                    //    //});

                    //    table.dtSearchFilter();
                    //},1000)


                    //$('#tblUserDetail thead tr').clone(true).appendTo( '#tblUserDetail thead' );

                    //$('#tblUserDetail thead tr:eq(1) th').each( function (i)
                    //{
                    //    var title = $(this).text();
                    //    $(this).html( '<input type="text" placeholder="Search '+title+'" />' );

                    //    $( 'input', this ).on( 'keyup change', function ()
                    //    {
                    //        if ( Filtertable.column(i).search() !== this.value ) {
                    //            debugger
                    //            Filtertable
                    //                .column(i)
                    //                .search( this.value )
                    //                .draw();
                    //        }
                    //    } );
                    //} );


                    //var Filtertable =   $('#tblUserDetail').DataTable( {
                    //    orderCellsTop: true,
                    //    fixedHeader: true
                    //} );




                    var oTable1 ="";
                    var table1 = $('#tblServerSideGrid');

                    oTable1 = table1.dataTable({
                        "language": {
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            },
                            "emptyTable": "No data available in table",
                            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                            "infoEmpty": "No entries found",
                            "infoFiltered": "(filtered1 from _MAX_ total entries)",
                            "lengthMenu": "_MENU_ entries",
                            "search": "Search:",

                            "zeroRecords": "No matching records found"
                        },
                        "paging": true,
                        "bProcessing": true,
                        "bServerSide": true,
                        "stateSave": true,
                        "bDestroy": true,
                        buttons: [],
                        // responsive: false,
                        //  scrollX: true,//table.hasHScrollBar(),
                        //autoWidth:true,
                        //"order": [
                        //    [0, 'asc']
                        //],

                        //'scrollY': 500,

                        //"scrollCollapse": true,
                        //'scroller': {
                        //    loadingIndicator: true
                        //},

                        "lengthMenu": [
                             [10, 25, 50, 100],
                             [10, 25, 50, 100]
                        ],
                        "pageLength": 10,
                        'iDisplayLength': 10,

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                        "sAjaxSource":WebsiteURL + "/TEMP/CodingStandard/ServerSideGrid",
                        "fnServerParams": function (aoData) {
                            aoData.push({ "name": "type", "value": "sdf" });
                        },
                        "fnServerData": function (sSource, aoData, fnCallback) {

                            $.ajax({
                                'dataType': 'json',
                                'type': 'POST',
                                'url': sSource,
                                'data': aoData,
                                'success': function (data) {
                                    fnCallback(data);
                                    $(".txtStrWhere", "#dvExportHeader1").val(data.whereCondition);
                                    $(".txtStrSort", "#dvExportHeader1").val(data.strSortOrder);

                                    $('input[colname="Birthdate"]').each(function () {
                                        $(this).attr('type', 'date');
                                    });
                                    $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true });

                                    $(".numeric").autoNumeric('init', { aSep: '' });
                                    LoadMultiSelect();
                                    ResetAddRow($('#tblUserDetail'));

                                },
                                'async': false
                            });

                        },
                        "columns": [
                                     {
                                         "sClass": "center",
                                         "name": "Title"
                                     },
                                     {
                                         "sClass": "center",
                                         "name": "FirstName"
                                     },
                                     {
                                         "sClass": "center",
                                         "name": "LastName"
                                     },
                                     {
                                         "sClass": "center",
                                         "name": "Roles"
                                     },
                                     {
                                         "sClass": "center",
                                         "name": "Address"
                                     },
                                     {
                                         "sClass": "center",
                                         "name": "Birthdate"
                                     },
                                     {
                                         "sClass": "center",
                                         "name": "Gender"
                                     },
                                     {
                                         "sClass": "center",
                                         "name": "Salary"
                                     },
                                     {
                                         "sClass": "center",
                                         "name": "Married"
                                     },
                                     {
                                         "sClass": "center",
                                         "name": "Status"
                                     },
                                     {
                                         "bSortable": false,
                                         "sClass": "center",
                                     }
                        ]

                    });
                    table1.dtSearchFilter();



                    var oTable2 ="";
                    var table2 = $('#tblClientSideGrid');

                    initDataTableFixedColumn({ sTableID: 'tblClientSideGrid', iLeftCols: 3, iRightCols: 1, bIsWrapHeader: false, bIsFirstRowHidden: true, bIsSearchFilter:true });
                    oTable2 = table2.dataTable({
                        "language": {
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            },
                            "emptyTable": "No data available in table",
                            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                            "infoEmpty": "No entries found",
                            "infoFiltered": "(filtered1 from _MAX_ total entries)",
                            "lengthMenu": "_MENU_ entries",
                            "search": "Search:",

                            "zeroRecords": "No matching records found"
                        },
                        "paging": true,
                        "bProcessing": true,
                        "bServerSide": true,
                        "stateSave": true,
                        "bDestroy": true,
                        buttons: [],
                        // responsive: false,
                        //  scrollX: true,//table.hasHScrollBar(),
                        //autoWidth:true,
                        //"order": [
                        //    [0, 'asc']
                        //],

                        //'scrollY': 500,

                        //"scrollCollapse": true,
                        //'scroller': {
                        //    loadingIndicator: true
                        //},

                        "lengthMenu": [
                             [10, 25, 50, 100],
                             [10, 25, 50, 100]
                        ],
                        "pageLength": 10,
                        'iDisplayLength': 10,

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                        "sAjaxSource":WebsiteURL + "/TEMP/CodingStandard/LoadInlineEditableDataGridData",
                        "fnServerParams": function (aoData) {
                            aoData.push({ "name": "type", "value": "sdf" });
                        },
                        "fnServerData": function (sSource, aoData, fnCallback) {

                            $.ajax({
                                'dataType': 'json',
                                'type': 'POST',
                                'url': sSource,
                                'data': aoData,
                                'success': function (data) {
                                    fnCallback(data);
                                    $(".txtStrWhere", "#dvExportHeader3").val(data.whereCondition);
                                    $(".txtStrSort", "#dvExportHeader3").val(data.strSortOrder);

                                    $('input[colname="Birthdate"]').each(function () {
                                        $(this).attr('type', 'date');
                                    });
                                    $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true });

                                    $(".numeric").autoNumeric('init', { aSep: '' });
                                    LoadMultiSelect();
                                    ResetAddRow($('#tblClientSideGrid'));

                                    EditTableRow();

                                },
                                'async': false
                            });

                        },

                        createdRow: function (row, data, dataIndex)
                        {
                            $(row).attr("data-orderno", data[4]);
                            $(row).attr("data-id", data[0]);
                            $(row).attr("data-isparent", data[8]);
                            $(row).attr("data-index", data[0]);
                            $(row).attr("data-parentid", data[10]);
                            $(row).attr("data-parentid", data[10]);

                            if (!$(row).data("isparent"))
                            {
                                $(row).css({ "display": "none" });
                            }
                        },
                        "columns": [

                                    {
                                        "bSortable": "false",
                                        "sClass": "hide"
                                        //"visible":false,
                                        //"name": "UserId",
                                        //"attr":"none"
                                    },
                                    {
                                        "searchable": "false",
                                        "sClass": "center",
                                        "name": "Title"
                                    },
                                    {
                                        "sClass": "center",
                                        "name": "FirstName"
                                    },
                                    {
                                        "sClass": "center",
                                        "name": "LastName"
                                    },
                                    {
                                        "sClass": "center",
                                        "name": "Roles",

                                    },
                                    {
                                        "sClass": "center",
                                        "name": "Address"
                                    },
                                    {
                                        "sClass": "center",
                                        "name": "Birthdate",
                                        "attr": "date"
                                    },
                                    {
                                        "sClass": "center",
                                        "name": "Gender"
                                    },
                                    {
                                        "sClass": "center",
                                        "name": "Salary",
                                        "attr": "numeric"
                                    },
                                    {
                                        "sClass": "center",
                                        "name": "Married"
                                    },
                                    {
                                        "sClass": "center",
                                        "name": "Status"
                                    },
                                    {
                                        "bSortable": false,
                                        "sClass": "center",
                                        "name": "Action"
                                    }
                        ]


                    });
                    //table2.dtSearchFilter();


                });

                function EditTableRow()
                {
                    //debugger
                    $('.editTableRow').click(function (){
                        var rowIndex = $(this).closest("tr").index();
                        var dropdownDone = false;
                        $(".editable").each(function(){
                            //debugger
                            $this =$(this);
                            if($this.closest("tr").index() !== rowIndex){
                                var newText = "";
                                //if($this.find("input")){
                                var value = $this.val();
                                var dropdownId=$this.closest("tr").find('select').attr('id');
                                $this.closest('td').html("<span  data-col='description' data-maxlength='100'>"+value+"</span>");
                                // }

                                //debugger
                                if(!dropdownDone){
                                    var selMulti = $.map($('#'+dropdownId + " option:selected"), function (el, i) {
                                        return $(el).text();
                                    });
                                    //$("#result").text(selMulti.join(", "));
                                    // $("#"+dropdownId).parent('td').html($('#'+dropdownId ).text());
                                    $("#"+dropdownId).parent('td').html(selMulti.join(", "));
                                    dropdownDone = true;
                                }
                            }
                        });

                        $this2 =$(this);


                        var firstTextBoxId  =  $(this).closest("tr").find("input:first").attr("id");
                        $.ajax({
                            'dataType': 'json',
                            'type': 'POST',
                            'url': WebsiteURL + "/TEMP/CodingStandard/LoadInlineEditableDataSingleData",
                            'data': {id:$(this).closest("tr").attr("data-id")},
                            //'data': {id:ID},
                            'async': true,
                            'success': function (data) {
                                oTable.api().row(rowIndex).data( data.aaData[0] );
                                $("#"+firstTextBoxId).focusTextToEnd();
                                EditTableRow();
                                LoadMultiSelect();
                            }
                        });
                    });
                }

                function RemoveEditableTextbox(txt) {
                    $(txt).find('.editable').each(function () {
                        //console.log("RemoveEditableTextbox called");
                        $this = $(this);
                        var newText =  "<span class='editable' data-col='description' data-maxlength='100'>"+$this.find("input").val()+"</span>";
                        var oldText = $this.data("old");
                        var menuId = $this.closest("tr").data("id");
                        var $span = $this.parent();
                        $span.removeClass("isedit");
                        $span.html(newText);
                        //if (oldText != newText) {
                        //    $(span).html(oldText);
                        //    }
                    })
                }

                (function ($) {
                    $.fn.focusTextToEnd = function () {
                        this.focus();
                        var $thisVal = this.val();
                        this.val('').val($thisVal);
                        return this;
                    }
                }(jQuery));

                function ShowNewRecord(obj) {
                    $('#tblUserDetail').find("tbody tr:first").toggle();
                    if ($('#tblUserDetail').find("tbody tr:first").is(":visible")) {
                        $(obj).html('<i class="fa fa-times"></i> Cancel');
                    }
                    else {
                        $(obj).html('<i class="fa fa-plus"></i> New');
                        clearFirstRowLine($('#tblUserDetail').find("tbody tr:first"));
                    }
                }

                function ShowNewRecordServerGrid(obj) {
                    $('#tblServerSideGrid').find("tbody tr:first").toggle();
                    if ($('#tblServerSideGrid').find("tbody tr:first").is(":visible")) {
                        $(obj).html('<i class="fa fa-times"></i> Cancel');
                    }
                    else {
                        $(obj).html('<i class="fa fa-plus"></i> New');
                        clearFirstRowLine($('#tblServerSideGrid').find("tbody tr:first"));
                    }
                }


                function ShowNewRecordClientGrid(obj) {
                    $('#tblClientSideGrid').find("tbody tr:first").toggle();
                    if ($('#tblClientSideGrid').find("tbody tr:first").is(":visible")) {
                        $(obj).html('<i class="fa fa-times"></i> Cancel');
                    }
                    else {
                        $(obj).html('<i class="fa fa-plus"></i> New');
                        clearFirstRowLine($('#tblClientSideGrid').find("tbody tr:first"));
                    }
                }


                function clearFirstRowLine(objFirstLine) {
                    $('input[type!="hidden"]', objFirstLine).val('');
                }

                function ResetAddRow(table) {
                    table.find("tbody tr:first").hide();
                    table.find("tbody tr:first").css("background-color", "#fbffb2");
                    $("#btnNew").html('<i class="fa fa-plus"></i> New');
                    clearFirstRowLine(table.find("tbody tr:first"));
                }

                function SaveNewRecord() {
                    if ($("#frmUsers").valid()) {
                        var formData = new FormData();
                        var frmValues = $('#frmUsers').serializeArray();

                        $.each(frmValues, function (key, input) {
                            var columnValue=false;
                            if (input.name == "Married0") {
                                if($("#" +input.name).is(':checked'))
                                {columnValue=true;}
                                else
                                {columnValue=false}
                                formData.append(input.name, columnValue);
                            }
                            else
                            {
                                formData.append(input.name, input.value);
                            }
                        });
                        $.ajax({
                            url:WebsiteURL + '/TEMP/CodingStandard/SaveNewRecord',
                            data: formData,
                            contentType: false,
                            processData: false,
                            type: 'POST',
                            async: false,
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    $('#tblUserDetail').DataTable().ajax.reload();
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                            }
                        });
                    }
                }

                function SaveNewServerSideRecord() {
                    if ($("#frmServerSideUsers").valid()) {
                        var formData = new FormData();
                        var frmValues = $('#frmServerSideUsers').serializeArray();

                        $.each(frmValues, function (key, input) {
                            var columnValue=false;
                            if (input.name == "Married0") {
                                if($("#" +input.name).is(':checked'))
                                {columnValue=true;}
                                else
                                {columnValue=false}
                                formData.append(input.name, columnValue);
                            }
                            else
                            {
                                formData.append(input.name, input.value);
                            }
                        });
                        $.ajax({
                            url:WebsiteURL + '/TEMP/CodingStandard/SaveNewRecord',
                            data: formData,
                            contentType: false,
                            processData: false,
                            type: 'POST',
                            async: false,
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    $('#tblUserDetail').DataTable().ajax.reload();
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                            }
                        });
                    }
                }

                function UpdateData(objColumn,rowID,isValid)
                {
                    var columnValue = $(objColumn).val();
                    var columnName = $(objColumn).attr("colname");

                    if ($(objColumn).attr('data-name') == "ddlmultiple") {
                        columnValue = columnValue.join(",");
                    }
                    if (columnName == "Married") {
                        if($(objColumn).is(':checked'))
                        {columnValue=true;}
                        else
                        {columnValue=false}
                    }
                    if (isValid && columnValue == "") {
                        DisplayNotiMessage("info", columnName + " is required", "Info");
                        return false;
                    }
                    else {
                        updateValidData(columnName,columnValue,rowID)
                    }
                }

                function updateValidData(columnName,columnValue,rowID)
                {
                    $.ajax({
                        type: "POST",
                        url:WebsiteURL + "/TEMP/CodingStandard/UpdateDetails",
                        datatype: 'json',
                        async: false,
                        data: { id: rowID, columnName: columnName, columnValue: columnValue },
                        success: function (result) {
                            if (!result.Key) {
                                DisplayNotiMessage("error", result.Value, "error");
                                $('#tblUserDetail').DataTable().ajax.reload();
                            }
                        },
                        error: function () {
                            DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                        }
                    });
                }

               

                function DeleteData(rowID)
                {
                    bootbox.dialog({
                        message: "Do you want to delete this record?",
                        buttons: {
                            Yes: {
                                Label: "Yes",
                                className: 'btn green',
                                callback: function () {

                                    $.ajax({
                                        type: "POST",
                                        url:WebsiteURL + "/TEMP/CodingStandard/DeleteDetails",
                                        datatype: 'json',
                                        async: false,
                                        data: { id: rowID },
                                        success: function (result) {
                                            if (result.Key) {
                                                DisplayNotiMessage("success", result.Value, "Success");
                                                $('#tblUserDetail').DataTable().ajax.reload();
                                            }
                                            else
                                            {
                                                DisplayNotiMessage("error", result.Value, "error");
                                                $('#tblUserDetail').DataTable().ajax.reload();
                                            }
                                        },
                                        error: function () {
                                            DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                        }
                                    });
                                }
                            },
                            No: {
                                Label: "No",
                                className: 'btn red',
                                callback: function () { }
                            },
                        }
                    });
                }

                function FillInlineAutoComplete(element, sourceList, hdElement, isEditable) {

                    element.autocomplete({
                        source: function (request, response) {
                            var array = $.map(sourceList, function (item) {
                                return {
                                    label: item.CategoryDescription,
                                    value: item.CategoryDescription,
                                    id: item.Code
                                }
                            });
                            response($.ui.autocomplete.filter(array, request.term));
                        },
                        autoFocus: true,
                        minLength: 0,
                        select: function (event, ui) {
                            $(element).val(ui.item.value);

                        },
                        change: function (event, ui) {
                            if (ui.item == null) {
                                $(this).val('');
                                $(this).focus();

                            }
                        }
                    }).focus(function () {
                        $(this).data("uiAutocomplete").search($(this).val());
                        $(this).autocomplete("search");
                    });
                }

                function LoadMultiSelect() {
                    $("select[data-name='ddlmultiple']").select2({
                        caption: "--Select Roles--",
                        width: '350px'
                    });
                }

                function Load()
                {
                    $.ajax({
                        type: "POST",
                        url: "/CodingStandard/ClientSideGrid",
                        dataType: "json",
                        success: function (result) {
                            var flex = wijmo.Control.getControl("#fg");
                            flex.itemsSource = result;
                        },
                        error: function (err) {

                        }
                    });
                }

                var getCall = true;
                function Dave(e){
                    //        $("#divTblUserDetail").scroll(function(){
                    //   alert();
                    // var tblheight = (tblh==0? $('.dd').height():tblh);



                    // alert(@Session["LastIndexGrid"].ToString());
                    var EndIndexSize= @Session["LastIndexGrid"].ToString();

                    // alert(EndIndexSize);
                    var t = $('#tblUserDetail');

                    var tablegrid = $(t).DataTable();
                    var columns = tablegrid.settings().init().columns;
                    tablegrid.columns().every(function (index)
                    {

                        //console.log(columns[index]);
                    });
                    var Indexes = [tblh, EndIndexSize];
                    //debugger
                    var scroll = $(e).scrollTop();

                    if(tblh <= scroll ){
                        //debugger
                        tblh = tblh +350;
                        var data = {
                            iDisplayStart:EndIndexDataCount,
                            iDisplayLength: 100
                        }

                        if(getCall){
                            $.ajax
                                ({
                                    type: "POST",
                                    url: WebsiteURL + "/TEMP/CodingStandard/LoadInlineEditableDataGridData",
                                    data: {param:data},//{ orderNo: PreparedData,Indexes},
                                    success: function (data) {
                                        //debugger
                                        if(data.aaData!="")
                                        {
                                            for(var i=1;i<data.aaData.length;i++)
                                            {

                                                $(t).children('tbody:last').append("<tr><td>"+data.aaData[i].join("</td><td>")+"</td></tr>");
                                            }
                                        }
                                        //debugger
                                        getCall = true;

                                    },
                                    "columns": [

                                   {
                                       "bSortable": "false",
                                       "sClass": "hide"
                                       //"visible":false,
                                       //"name": "UserId",
                                       //"attr":"none"
                                   },
                                   {
                                       "searchable": "false",
                                       "sClass": "center",
                                       "name": "Title"
                                   },
                                   {
                                       "sClass": "center",
                                       "name": "FirstName"
                                   },
                                   {
                                       "sClass": "center",
                                       "name": "LastName"
                                   },
                                   {
                                       "sClass": "center",
                                       "name": "Roles",

                                   },
                                   {
                                       "sClass": "center",
                                       "name": "Address"
                                   },
                                   {
                                       "sClass": "center",
                                       "name": "Birthdate",
                                       "attr": "date"
                                   },
                                   {
                                       "sClass": "center",
                                       "name": "Gender"
                                   },
                                   {
                                       "sClass": "center",
                                       "name": "Salary",
                                       "attr": "numeric"
                                   },
                                   {
                                       "sClass": "center",
                                       "name": "Married"
                                   },
                                   {
                                       "sClass": "center",
                                       "name": "Status"
                                   },
                                   {
                                       "bSortable": false,
                                       "sClass": "center",
                                       "name": "Action"
                                   }
                                    ],
                                    error: function (xhr, status, error) { alert(error); }
                                });

                            getCall = false;


                        }

                        //console.log(tblh +"||"+scroll);


                    }
                }

                //      });


            </script>
            @*@*<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>*@
            @*<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>*@
            @*<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
                @*<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>*@

            <script src="~/Scripts/bootbox.js"></script>
            @Scripts.Render("~/bundles/datatable/js")


