﻿
@model IEMQSImplementation.NDE019
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script>
    $(document).ready(function () {
        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });

        if ('@ViewBag.location' != null && '@ViewBag.location' != '')
        {
            $("#hdLocation").val('@ViewBag.location');
        }

        $('#frmEquip').validate({
            rules: {
                Location: { required: true },
                TestInstrument: {
                    required: true,
                    remote: {
                        url: WebsiteURL +  "/Authorization/Equip/checkExist",
                        type: "post",
                        async: false,
                        data: {
                            Location: function () {
                                return $("#hdLocation").val();
                            },
                            TestInstrument: function () {
                                return $("#TestInstrument").val();
                            },
                            Id: function () {
                                return $("#Id").val();
                            }
                            
                        }
                    }
                },
                InstrumentSrNo: { required: true },
                Make: { required: true },
                Model: { required: true },
            },
            messages: {
                Location: { required: "Location is required" },
                TestInstrument: {
                    required: "TestInstrument is required",
                    remote:"Data already exist"
                },
                InstrumentSrNo: { required: "InstrumentSrNo is required" },
                Make: { required: "Make is required" },
                Model: { required: "Model is required" },
            }
        });
        @*if ('@ViewBag.Action'.toLowerCase() == "editmode") {
            $('div.dvDisable :input').attr('disabled', true);
        }*@
    });

</script>
<div class="dvDisable">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form ">
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmEquip", @class = "form-horizontal" }))
                    {
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Location
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.Location, new { @class = "form-control", @readonly = "readonly" })
                                            @Html.HiddenFor(model=>model.Location, new { @id="hdLocation"})
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Model
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.Model, new { @class = "form-control", @maxlength = "20", @tooltip = "Maximum character limit is 20" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Instrument Sr No
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.InstrumentSrNo, new { @class = "form-control", @maxlength = "20", @tooltip = "Maximum character limit is 20" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Test Instrument
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.TestInstrument, new { @class = "form-control", @maxlength = "10", @tooltip = "Maximum character limit is 10" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Make
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.Make, new { @class = "form-control", @maxlength = "20", @tooltip = "Maximum character limit is 20" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden">
                                @Html.HiddenFor(model => model.Id)
                            </div>
                    }
                    </div>
                    <!-- END FORM-->
                </div>
            </div>
            <!-- END VALIDATION STATES-->
        </div>
    </div>
</div>

