﻿@using IEMQSImplementation
@model IEMQSImplementation.NDE019
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnAdd").click(function () {
            getEquipData(0, false);
        });

    });
    function getEquipData(Id, IsEdit) {
        var labeltext = "Save";
        if (IsEdit)
        { labeltext = "Update" }
        $.ajax({
            type: "POST",
            url: WebsiteURL +  "/Authorization/Equip/GetDataHtml",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { Id: Id },
            success: function (result) {
                bootbox.dialog({
                    title: 'Equipment Master',
                    message: result,
                    size: 'large',
                    buttons: {
                        'confirm': {
                            label: labeltext,
                            className: 'btn save',
                            callback: function () {
                                if ($("#frmEquip").valid()) {
                                    var formData = new FormData();
                                    var frmValues = $('#frmEquip').serializeArray();

                                    $.each(frmValues, function (key, input) {
                                        formData.append(input.name, input.value);
                                    });
                                    $.ajax({
                                        url: WebsiteURL +  '/Authorization/Equip/SaveEquipment',
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        type: 'POST',
                                        async: false,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                            $('#tblEquip').DataTable().ajax.reload();
                                        }
                                    });
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                    //callback: function (result) {
                    //    debugger
                    //    if (result) {
                    //    }
                    //}
                });
            },
            error: function () {
            }
        });
    }
</script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Maintain Equipments
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="text-align:right">
                                <a id="btnAdd" style="float: right;" class="btn green">Add New</a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Equipment List
                                    </div>
                                    <div class="tools" id="dvExportHeader">
                                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/Authorization/Equip/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblEquip" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="all">Id </th>
                                                <th class="min-phone-l">Location</th>
                                                <th class="min-phone-l">Instrument Sr No</th>
                                                <th class="min-phone-l">Make</th>
                                                <th class="min-phone-l">Model</th>
                                                <th class="min-phone-l">Test Instrument</th>
                                                <th class="min-phone-l">Created By</th>
                                                <th class="min-phone-l">Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#tblEquip');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],

            "lengthMenu": [
                [5,10, 25, 50, 100],
                [5,10, 25, 50, 100] // change per page values here
            ],
            // set the initial value
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/Authorization/Equip/LoadEquipmentData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    //  'success': fnCallback,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "sClass": "hide"

                },
                {
                    "name": "Location",
                    "bSortable": true,
                    "sClass": "center",
                    "ColName": "Location"
                },
                {
                    "name": "InstrumentSrNo",
                    "bSortable": true,
                    "sClass": "center",
                    "ColName": "InstrumentSrNo"
                },
                {
                    "name": "Make",
                    "bSortable": true,
                    "sClass": "center",
                    "ColName": "Make"
                },
                {
                    "name": "Model",
                    "bSortable": true,
                    "sClass": "center",
                    "ColName": "Model"
                },
                {
                    "name": "TestInstrument",
                    "bSortable": true,
                    "sClass": "center",
                    "ColName": "TestInstrument"
                },
                {
                    "name": "CreatedBy",
                    "bSortable": true,
                    "sClass": "center",
                    "ColName": "NDE.CreatedBy +'-'+c32.t_namb",
                },

                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        buttons = '<center><i  data-modal="" id="btnEdit" name="btnAction" style="cursor:pointer;" Title="Edit Record" class="fa fa-pencil-square-o" onClick="getEquipData(' + row[0] + ',true)"></i>&nbsp;&nbsp;<i  data-modal="" id="btnDelete" name="btnAction" style="cursor:pointer;" Title="Delete Record" class="fa fa-trash-o" onClick="DeleteRecord(' + row[0] + ')"></i></center>';
                        return buttons;
                    }
                },
            ]
        });
        table.dtSearchFilter();
    });

    function DeleteRecord(Id) {
        bootbox.dialog({
            message: "Are you sure you want to delete this record?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success',
                    callback: function () {

                        $.ajax({
                            url: WebsiteURL +  '/Authorization/Equip/DeleteEquipment',
                            data: { Id: Id },
                            type: 'POST',
                            async: false,
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    $('#tblEquip').DataTable().ajax.reload();
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                            }
                        });
                    }
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger',
                    callback: function () { }
                }
            },

        });
    }

</script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

