﻿@model IEMQSImplementation.PRO170
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HiddenFor(m => m.HeaderId)
                                <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.ProtocolNo, new { @class = "form-control", @maxLength = "50", @role = "QC" })
                                </div>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span style="float:left; margin-top: 7px;"></span>
                                        </div>
                                        <div class="tools" id="dvExportSubLines">
                                            <div class="btn-group">
                                                @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <a style="margin-right:5px;" id="btnNewLines1" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, 'tblProtocolLines1');">
                                                        <i class="fa fa-plus"></i> New
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <table id="tblProtocolLines1" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="all" style="display:none;" rowspan="2">GridId</th>
                                                    <th class="all" style="display:none;" rowspan="2">HeaderId</th>
                                                    <th class="all" style="display:none;" rowspan="2">LineId</th>
                                                    <th class="all" rowspan="2">SR. NO.</th>
                                                    <th class="all" rowspan="2">NOZZLE NO. </th>
                                                    <th class="all" colspan="2">ELEVATION </th>
                                                    <th class="all" colspan="5">ORIENTATION</th>
                                                    <th class="all" colspan="2">CUT OUT DIA. </th>
                                                    <th class="all" rowspan="2">SEAM NO.</th>
                                                    <th class="all" rowspan="2">REMARKS</th>
                                                    <th class="all" rowspan="2">Action</th>
                                                </tr>
                                                <tr>
                                                    <th class="all">REQUIRED </th>
                                                    <th class="all">ACTUAL </th>
                                                    <th class="all">REQ. DEG </th>
                                                    <th class="all">MAIN ORIENT. </th>
                                                    <th class="all">CLOCK / ANTI -CLOCK WISE </th>
                                                    <th class="all">REQUIRED ARC LENGTH</th>
                                                    <th class="all">ACTUAL </th>
                                                    <th class="all">REQUIRED </th>
                                                    <th class="all" style="border-right: 1px solid #e7ecf1" ;>ACTUAL</th>

                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                                    <div class="col-md-12" style="height: 20px"></div>
                                    <div class="col-md-12">
                                        <table class="FormTable">
                                            <tr>
                                                <td class="title textleft" style="width:2% !important">REFERENCE LINE MARKED AT</td>
                                                <td colspan="5">@Html.TextBoxFor(m => m.ReferenceLineMarked, new { @class = "form-control textleft", @maxlength = "50", @role = "PROD" })</td>
                                            </tr>

                                            <tr>
                                                <td class="title textleft" style="width:2% !important">CIRCUMFERENCE REQUIRED AT TOP</td>
                                                <td colspan="2">@Html.TextBoxFor(m => m.CircumferenceRequiredAtTop, new { @class = "form-control textleft", @maxlength = "50", @role = "QC" })</td>
                                                <td class="title textleft" style="width:2% !important">CIRCUMFERENCE REQUIRED AT BOTTOM</td>
                                                <td colspan="2">@Html.TextBoxFor(m => m.CircumferenceRequiredAtBottom, new { @class = "form-control textleft", @maxlength = "50", @role = "QC" })</td>

                                            </tr>
                                            <tr>
                                                <td class="title textleft" style="width:2% !important">ACTUAL  </td>
                                                <td colspan="2"> @Html.TextBoxFor(m => m.ActualTop, new { @class = "form-control textleft", @maxlength = "200", @role = "PROD" })</td>

                                                <td class="title textleft" style="width:2% !important">ACTUAL</td>
                                                <td colspan="2">@Html.TextBoxFor(m => m.ActualBottom, new { @class = "form-control textleft", @maxlength = "200", @role = "PROD" })</td>
                                            </tr>
                                            <tr>
                                                <td class="title textleft" style="width:2% !important">ARC LENGTH [TOP SIDE] </td>
                                                <td colspan="2"> @Html.TextBoxFor(m => m.ArcLengthTop, new { @class = "form-control textleft", @maxlength = "200", @role = "PROD" })</td>

                                                <td class="title textleft" style="width:2% !important">ARC LENGTH [BOTTOM SIDE]</td>
                                                <td colspan="2">@Html.TextBoxFor(m => m.ArcLengthBottom, new { @class = "form-control textleft", @maxlength = "200", @role = "PROD" })</td>
                                            </tr>

                                            <tr>
                                                <td class="title textleft" style="width:2% !important">DEGREE   </td>
                                                <td class="title textleft" style="width:2% !important">REQUIRED</td>
                                                <td class="title textleft" style="width:2% !important">ACTUAL</td>
                                                <td class="title textleft" style="width:2% !important">DEGREE</td>
                                                <td class="title textleft" style="width:2% !important">REQUIRED</td>
                                                <td class="title textleft" style="width:2% !important">ACTUAL</td>
                                            </tr>
                                            <tr>
                                                <td>0° TO 90°</td>
                                                <td>@Html.TextBoxFor(model => model.TopDegreeReq1, new { @class = "form-control", @maxlength = "50", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.TopDegreeAct1, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                                <td>@Html.TextBoxFor(model => model.BottomDegree1, new { @class = "form-control", @maxlength = "50", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.BottomDegreeReq1, new { @class = "form-control", @maxlength = "50", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.BottomDegreeAct1, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                            </tr>
                                            <tr>
                                                <td>90° 0° TO 180°</td>
                                                <td>@Html.TextBoxFor(model => model.TopDegreeReq2, new { @class = "form-control", @maxlength = "50", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.TopDegreeAct2, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                                <td>@Html.TextBoxFor(model => model.BottomDegree2, new { @class = "form-control", @maxlength = "50", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.BottomDegreeReq2, new { @class = "form-control", @maxlength = "50", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.BottomDegreeAct2, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                            </tr>
                                            <tr>
                                                <td>180° TO 270°</td>
                                                <td>@Html.TextBoxFor(model => model.TopDegreeReq3, new { @class = "form-control", @maxlength = "50", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.TopDegreeAct3, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                                <td>@Html.TextBoxFor(model => model.BottomDegree3, new { @class = "form-control", @maxlength = "50", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.BottomDegreeReq3, new { @class = "form-control", @maxlength = "50", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.BottomDegreeAct3, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                            </tr>
                                            <tr>
                                                <td>270° TO 0° </td>
                                                <td>@Html.TextBoxFor(model => model.TopDegreeReq4, new { @class = "form-control", @maxlength = "50", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.TopDegreeAct4, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                                <td>@Html.TextBoxFor(model => model.BottomDegree4, new { @class = "form-control", @maxlength = "50", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.BottomDegreeReq4, new { @class = "form-control", @maxlength = "50", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.BottomDegreeAct4, new { @class = "form-control", @maxlength = "50", @role = "PROD" })</td>
                                            </tr>
                                            <tr>
                                                <td class="noTopBoder" colspan="11">
                                                    <img src="~/Images/Protocol035_img.png" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                        
                            <div class="form-group">
                                <div class="col-md-12">
                                    <hr />
                                    <div class="col-md-6" style="text-align:left;"></div>
                                    <div class="col-md-6" style="text-align:right;">
                                        <input type="button" class="btn save" id="btnSave" value="Save" />
                                        <a class="btn btnclose" id="btnClose"> Close</a>
                                    </div>
                                </div>
                            </div>
                       </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />

<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script type="text/javascript" src="~/Scripts/protocols.js"></script>
<script>
    var Line1Columns = [];
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var userRole = '@ViewBag.UserRole.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';

    $(document).ready(function () {
        SetTableColumns();
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });

        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });
        LoadProtocolLineTables('tblProtocolLines1', 'btnNewLines1', Line1Columns, ControllerURL + "GetProtocolLines1Data" + Linkage, ["headerId"], setDateTimePicker)

    });
    var lstYesNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoNAEnum))));
    FillProtocolAutoComplete($('#GraphAttached'), lstYesNo, null, false)

    function setDateTimePicker() {
        $('input[colname="CalibrationUpto"]').each(function () {
            $(this).attr('type', 'date');
        });
    }

    function SaveProtocolLine1(lineId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine1" + Linkage, "tblProtocolLines1", "btnNewLines1");
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine" + gridId;
        window[SaveFunction](lineId);
    }

    $("#btnSave").click(function () {
            @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="PROD"]').prop("required", true);</text>
            }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="QC"]').prop("required", true);</text>
            }
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData" + Linkage, userRole);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });
    function SetTableColumns() {
        Line1Columns = [
              {
                  "sClass": "hide",
                  "bSortable": false,
              },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },

                {
                    "sClass": "center width150px",
                    "name": "NozzleNo",
                },
                {
                    "sClass": "center width150px",
                    "name": "ElevationReq",
                },
                {
                    "sClass": "center width150px",
                    "name": "ElevationAct",
                },
               {
                   "sClass": "center width150px",
                   "name": "ReqDeg",
               },
               {
                   "sClass": "center width150px",
                   "name": "MainOrient",
               },
               {
                   "sClass": "center width150px",
                   "name": "ClockAntiClockWise",
               },
                {
                    "sClass": "center width150px",
                    "name": "RequiredArcLength",
                },
                 {
                     "sClass": "center width150px",
                     "name": "ActualArcLength",
                 },
                  {
                      "sClass": "center width150px",
                      "name": "CutReq",
                  },
                  {
                      "sClass": "center width150px",
                      "name": "CutAct",
                  },
                  {
                      "sClass": "center width150px",
                      "name": "SeamNo",
                  },
                  {
                      "sClass": "center width150px",
                      "name": "Remarks",
                  },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
        ];
    }
</script>
