﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/datetimepicker/css")
<style>
    .clsContainer {
        min-height: 125px;
        border: 1px grey dotted !important;
    }

    .btnbackground {
        padding: 10px;
        background-color: rgb(199, 211, 231);
    }

    .clsMouseOver {
        border: 1px solid #ddd !important;
        background-color: rgba(3, 14, 27, 0.03);
    }

    .clsMouseOverElement {
        border: 1px solid #ddd !important;
        background-color: rgba(3, 14, 27, 0.03);
    }

    .hasFocus {
        border: 1px solid #9BBDD8 !important;
    }

    .hoverComponent {
        border: 1px solid #ddd ;
        background-color: rgba(3, 14, 27, 0.03);
    }

    .navbar1 {
        margin-bottom: 0px !important;
        min-height: 40px !important;
    }
    .childdroppable{
        padding:4px;
    }
</style>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-body">
                    <div class="row">
                        <input id="hdnElementID" type="hidden" />
                        <div class="row">
                            <div class="navbar navbar1">
                                <div class="navbar-inner">
                                    <ul class="nav nav-pills" style="margin: 0px;">
                                        <li><a id="dashboard" title="Go to Dashboard" href="/Dashboard/designer"><span class="glyphicon glyphicon-dashboard"></span></a></li>
                                        <li><a id="save" title="Save" data-url="/Dashboard/designer/save" href="#"><span class="glyphicon glyphicon-floppy-disk"></span></a></li>
                                        <li><a id="download" href="#" title="Download HTML"><span class="glyphicon glyphicon-cloud-download"></span></a></li>
                                        <li><a id="preview" title="Preview" data-show="false" href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                                        <li><a id="removeMenu" title="Remove selected component"><i class="glyphicon glyphicon-trash"></i></a></li>
                                        <li><a id="contactus" title="Contact Us" href="/home/contact"><i class="glyphicon glyphicon-send"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><b>Tools:</b></div>
                            <div id="TextBox" class="clsdraggable col-md-2" data-type="textbox">
                                <img src="~/images/devapp/textbox.png" />TextBox
                            </div>
                            <div id="TextArea" class="clsdraggable col-md-2" data-type="textarea">
                                <img src="~/images/devapp/textarea.png" />TextArea
                            </div>
                            <div id="Button" class="clsdraggable col-md-2" data-type="button">
                                <img src="~/images/devapp/but.png" />Button
                            </div>
                            <div id="Dropdown" class="clsdraggable col-md-2" data-type="dropdown">
                                <img src="~/images/devapp/dropdown.png" />Dropdown
                            </div>
                            <div id="Checkbox" class="clsdraggable col-md-2" data-type="checkbox">
                                <img src="~/images/devapp/checkbox.png" />Checkbox
                            </div>
                            <div id="AutoComplete" class="clsdraggable col-md-2" data-type="autocomplete">
                                <img src="~/images/devapp/textbox.png" />AutoComplete
                            </div>
                            <div id="RadioButton" class="clsdraggable col-md-2" data-type="radiobutton">
                                <img src="~/images/devapp/radio.png" />Option
                            </div>
                            <div id="DatePicker" class="clsdraggable col-md-2" data-type="datepicker">
                                <img src="~/images/devapp/radio.png" />Date
                            </div>
                            
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12"><b>Container:</b></div>
                            <div id="1Column" class="clsdraggable col-md-2" data-type="column" data-colSize="1">
                                <img src="~/images/devapp/1col.png" />1 Column
                            </div>
                            <div id="2Column" class="clsdraggable col-md-2" data-type="column" data-colSize="2">
                                <img src="~/images/devapp/2col.png" />2 Column
                            </div>
                            <div id="3Column" class="clsdraggable col-md-2" data-type="column" data-colSize="3">
                                <img src="~/images/devapp/3col.png" />3 Column
                            </div>
                            <div id="4Column" class="clsdraggable col-md-2" data-type="column" data-colSize="4">
                                <img src="~/images/devapp/4col.png" />4 Column
                            </div>
                        </div>
                        <br />

                    </div>
                    <div class="row">
                        <div id="droppable" class="col-md-12  droppable parent" style="min-height:600px;border:1px dotted !important">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var draggedHtml = "";
    var eleId = 1;
    $(document).ready(function () {
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
    });
    $(function () {
        $(".clsdraggable").draggable({
            revert: "valid",
            cursor: "move",
            helper: 'clone',
            start: function (event, ui) {
                console.log()
            },
            drag: function (event, ui) {

            },
            stop: function (event, ui) {

            }
        });
        CreateDroppable();
    });

    function CreateDraggable() {
        $(".childdraggable").draggable();
    }

    function CreateDroppable() {
        $("#droppable,.droppable").droppable({
            helper: 'clone',
            greedy: true,
            tolerance: "pointer",
            drop: function (event, ui) {
                var htmlAppend = '';
                if ($("#hdnElementID").val() != '' && $("#hdnElementID").val() != null && $("#hdnElementID").val() != undefined) {
                    eleId = parseInt($("#hdnElementID").val()) + 1;
                    $("#hdnElementID").val(eleId);
                }
                else { $("#hdnElementID").val(eleId); }

                var type = ui.draggable.attr('data-type');
                if (type != null && type != undefined && type != "") {
                    var colSize = ui.draggable.attr('data-colSize');
                    htmlAppend += CreateDynamicElement(type, colSize);
                }
                else {
                    htmlAppend = ui.draggable.context.outerHTML;
                    $(ui.draggable.remove());
                }
                //console.log(htmlAppend);
                var $element = $(htmlAppend);


                $(this).append($element);
                $element.removeAttr('style');

                CreateDroppable();
                CreateDraggable();
                MakeControlSelectable();

                //if (type == "autocomplete") {
                //    EnabledAutoComplete("txt" + eleId, "datatxt" + eleId, "hdntxt" + eleId);
                //}

                $(".droppable").sortable();
                $(".droppable").disableSelection();
            },
            over: function (event, ui) {
                //console.log(ui);
            }
        });
    }

    function MakeControlSelectable() {
        $('.childdraggable,.childdroppable,.droppable').click(function (e) {
            //console.log($(this));
            $('.childdraggable,.childdroppable,.droppable').removeClass('hasFocus');
            $(this).addClass('hasFocus');
            e.stopPropagation();
        });

        $('.childdraggable').hover(function () {
            $(this).addClass('hoverComponent');
        }, function () {
            $(this).removeClass('hoverComponent');
        });
    }

    function appendTextBox() {
        var htmlAppend = '<div class="col-md-12 childdraggable" data-elemType="textbox">' +
                    '<label class="control-label" id="lbl' + eleId + '">Untitled</label>' +
                    '<div class="">' +
                    '<input type="text" id="txt' + eleId + '" value="" name="txt' + eleId + '" class="form-control" />' +
                    '</div></div>'
        return htmlAppend;
    }

    function appendTextArea() {
        var htmlAppend = '<div class="col-md-12 childdraggable" data-elemType="textbox">' +
                    '<label class="control-label" id="lbl' + eleId + '">Untitled</label>' +
                    '<div class="">' +
                    '<textarea class="form-control" id="txt' + eleId + '" value="" name="txt' + eleId + '" rows="2"></textarea>' +
                    '</div></div>';
        return htmlAppend;
    }

    function appendButton() {
        var htmlAppend = '<div class="col-md-12 childdraggable" data-elemType="button">' +
                        ' <input type="button" class="btn btn-primary" id="btn' + eleId + '" value="Untitled" />' +
                        '</div>';
        return htmlAppend;
    }

    function appendCheckbox() {
        var htmlAppend = '<div class="col-md-12 childdraggable" data-elemType="checkbox">'
                        + '<label class="control-label">Untitled</label>'
                        + '<div class="">'
                        + '<label class="mt-checkbox mt-checkbox-outline" for="chk' + eleId + '">'
                        + '<input class="clsReadOnly" id="chk' + eleId + '" name="chk' + eleId + '" value="true" readonly="readonly" type="checkbox">'
                        + '<input name="hdnchk' + eleId + '" value="false" type="hidden">'
                        + '<span></span>'
                        + '</label></div></div>';
        return htmlAppend;
    }

    function appendRadioButton() {
        var htmlAppend = '<div class="col-md-12 childdraggable" data-elemType="radio">'
                        +'<div class="mt-radio-list">'
                        + '<label class="mt-radio">'
                        + '<input type="radio" name="optionsRadios" id="optionsRadios' + eleId + '" value="optRadio' + eleId + '" checked=""> Option 1'
                        + '<span></span>'
                        + '</label>'
                        + '<label class="mt-radio">'
                        + '<input type="radio" name="optionsRadios" id="optionsRadios' + eleId + '" value="optRadio' + eleId + '" checked=""> Option 2'
                        + '<span></span>'
                        + '</label>'
                        + '<label class="mt-radio">'
                        + '<input type="radio" name="optionsRadios" id="optionsRadios' + eleId + '" value="optRadio' + eleId + '" checked=""> Option 3'
                        + '<span></span>'
                        + '</label>'
                        + '</div>'
                        + '</div>';
        return htmlAppend;
    }

    function appendDatePicker() {
        var htmlAppend = '<div class="col-md-12 childdraggable" data-elemType="datepicker">'
                        + '<div id="dvDatetime' + eleId + '" class="input-group date date-picker" data-date-format="dd/mm/yyyy">'
                        + '<input type="text" class="form-control" readonly="">'
                        //+ '<input class="form-control valid" data-val="true" id="txtDatetime' + eleId + '" name="Datetime" readonly="readonly"  type="text">'
                        + '<span class="input-group-btn">'
                        + '<button class="btn default" id="btncal' + eleId + '" type="button">'
                        + '<i class="fa fa-calendar"></i>'
                        + '</button>'
                        + '</span>'
                        + '</div>'
                        + '</div>';
        return htmlAppend;
    }

    function appendAutoComplete() {
        var htmlAppend = '<div class="col-md-12 childdraggable" data-elemType="autocomplete">' +
                    '<label class="control-label" id="lbl' + eleId + '">Untitled</label>' +
                    '<div class="">' +
                    '<input type="text" id="txt' + eleId + '" value="" name="txt' + eleId + '" class="form-control" />' +
                    '<input id="hdntxt' + eleId + '" name="hdntxt' + eleId + '" value="" type="hidden">' +
                    '</div>';
        htmlAppend += CreateAutoCompleteScript(eleId);
        htmlAppend += "</div>";
        return htmlAppend;
    }

    function CreateAutoCompleteScript(id) {
        var Script = "";
        Script += "<script>var datatxt" + id + "=[{CategoryDescription:'Option1',Value:'Option1'},{CategoryDescription:'Option2',Value:'Option2'},{CategoryDescription:'Option3',Value:'Option3'}];";
        Script += "EnabledAutoComplete" + eleId + "('txt" + eleId + "', 'datatxt" + eleId + "', 'hdntxt" + eleId + "');";
        Script += "function EnabledAutoComplete" + eleId + "(element, sourceList, hdElement) {";
        Script += "var source = eval(sourceList);";
        Script += "$('#' + element).autocomplete({";
        Script += "    source: function (request, response) {";
        Script += "        var array = $.map(source, function (item) {";
        Script += "            return {";
        Script += "                label: item.CategoryDescription,";
        Script += "                value: item.CategoryDescription,";
        Script += "                id: item.Value";
        Script += "            }";
        Script += "        });";
        Script += "        response($.ui.autocomplete.filter(array, request.term));";
        Script += "    },";
        Script += "    autoFocus: true,";
        Script += "    minLength: 0,";
        Script += "    select: function (event, ui) {";
        Script += "        $(this).val(ui.item.id);";
        Script += "        $('#' + hdElement).val(ui.item.id)";
        Script += "    },";
        Script += "    change: function (event, ui) {";
        Script += "        if (ui.item == null) {";
        Script += "            isSelected = false;";
        Script += "            $(this).val('');";
        Script += "            $('#' + hdElement).val('');";
        Script += "            $(this).focus();";
        Script += "        }";
        Script += "    }";
        Script += "}).focus(function () {";
        Script += "    $(this).data('uiAutocomplete').search($(this).val());";
        Script += "    $(this).autocomplete('search');";
        Script += "});";
        Script += "}";
        Script += "<\/script>";
        //console.log(Script);
        return Script;
    }

    //function EnabledAutoComplete(element, sourceList, hdElement) {
    //    var source = eval(sourceList);
    //    $('#' + element).autocomplete({
    //        source: function (request, response) {
    //            var array = $.map(source, function (item) {
    //                return {
    //                    label: item.CategoryDescription,
    //                    value: item.CategoryDescription,
    //                    id: item.Value
    //                }
    //            });
    //            response($.ui.autocomplete.filter(array, request.term));
    //        },
    //        autoFocus: true,
    //        minLength: 0,
    //        select: function (event, ui) {
    //            $(this).val(ui.item.id);
    //            $('#' + hdElement).val(ui.item.id)

    //        },
    //        change: function (event, ui) {
    //            if (ui.item == null) {
    //                isSelected = false;
    //                $(this).val('');
    //                $('#' + hdElement).val('');
    //                $(this).focus();
    //            }
    //        }
    //    }).focus(function () {
    //        $(this).data("uiAutocomplete").search($(this).val());
    //        $(this).autocomplete("search");
    //    });
    //}

    function appendDropdown() {
        var htmlAppend = '<div class="col-md-12 childdraggable" data-elemType="dropdown">' +
                    '<label class="control-label" id="lbl' + eleId + '">Untitled</label>' +
                    '<div class="">' +
                    '<select id="ddl' + eleId + '" name="ddl' + eleId + '" class="form-control">' +
                    '<option value="">Select</option>' +
                    '<option value="1"> Option1</option>' +
                    '<option value="2">Option2</option></select>' +
                    '</div></div>';
        return htmlAppend;
    }

    function GetColumnHtml(noOfCols) {
        var colSize = 12 / noOfCols;
        var htmlAppend = '<div class="row childdroppable" id="dv' + eleId + '">';
        for (var i = 1; i <= noOfCols; i++) {
            //htmlAppend += '<div class="col-md-' + colSize + ' clsContainer droppable"  onmouseover="fnmouseover(event,this)" onmouseout="fnmouseDown(this)"></div>'
            htmlAppend += '<div class="col-md-' + colSize + ' clsContainer droppable" data-colSize="' + colSize + '" data-elemType="div"></div>'
        }
        htmlAppend += '</div>';
        return htmlAppend;
    }

    function CreateDynamicElement(type, noOfCols) {
        if (type == "textbox") {
            return appendTextBox();
        }
        else if (type == "textarea") {
            return appendTextArea();
        }
        else if (type == "button") {
            return appendButton();
        }
        else if (type == "checkbox") {
            return appendCheckbox();
        }
        else if (type == "dropdown") {
            return appendDropdown();
        }
        else if (type == "autocomplete") {
            return appendAutoComplete();
        }
        else if (type == "column") {
            return GetColumnHtml(noOfCols)
        }
        else if (type == "radiobutton") {
            return appendRadioButton();
        }
        else if (type == "datepicker") {
            return appendDatePicker();
        } 
    }

    $('#removeMenu').click(function () {
        var $removeelem = $(".hasFocus", "#droppable");
        var type = $removeelem.attr("data-elemType");
        var newColSize;
        if (type == "div") {
            debugger
            var currentSize = parseInt($removeelem.attr("data-colSize"));
            var $Elem;
            if ($removeelem.next("[data-elemType='div']").length > 0) {
                var $Elem = $removeelem.next("[data-elemType='div']");
            }
            else if ($removeelem.prev("[data-elemType='div']").length > 0) {
                var $Elem = $removeelem.prev("[data-elemType='div']");
            }
        }
        //else if (type == "textbox") {}
        //else if (type == "button") {}
        $removeelem.fadeOut(700, function () {
            $(this).remove();
            if ($Elem != null && $Elem != undefined && $Elem.length > 0) {
                var elemColSize = $Elem.attr("data-colSize");
                if ($Elem.hasClass("col-md-" + elemColSize)) {
                    $Elem.removeClass("col-md-" + elemColSize);
                    newColSize = parseInt(elemColSize) + currentSize;
                    $Elem.attr("data-colSize", newColSize);
                    $Elem.addClass("col-md-" + newColSize);
                }
            }
        });
    });

</script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
