﻿@using IEMQSImplementation
    @model IEMQS.Areas.Utility.Models.TimelineViewModel
    <style>
        .modal-lg {
            width: 80% !important;
            margin: 10px auto;
        }
    </style>
    <div class="form-group">
        <div class="mt-element-step">
            <div class="row step-line">
                <div class="col-md-1"></div>
                <div class="col-md-2 mt-step-col first done">
                    <div class="mt-step-content font-grey-cascade" style="font-size:20px">Offered</div>
                    <div class="mt-step-number bg-white"><li class="fa fa-check"></li></div>
                    <div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.OfferedBy</div>
                    <div class="mt-step-content font-grey-cascade">@Model.OfferedOn</div>
                </div>

                @if (Model.RequestGeneratedBy != null)
            {
                    <div class="col-md-2 mt-step-col done">
                        <div class="mt-step-content font-grey-cascade" style="font-size:20px">Request Generated</div>
                        <div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.RequestGeneratedBy</div><div class="mt-step-content font-grey-cascade">@Model.RequestGeneratedOn</div>
                    </div>
                }
                else
                {
                    <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Request Generated</div><div class="mt-step-number bg-white">2</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Request Generated By</div><div class="mt-step-content font-grey-cascade">Request Generated Date</div></div>
                }

                @if (Model.ConfirmedBy != null)
            {
                    <div class="col-md-2 mt-step-col last done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Confirmed</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.ConfirmedBy</div><div class="mt-step-content font-grey-cascade">@Model.ConfirmedOn</div></div>
                }
                else
                {
                    <div class="col-md-2 mt-step-col last"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Confirmed</div><div class="mt-step-number bg-white">4</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Confirmed By</div><div class="mt-step-content font-grey-cascade">Confirmed Date</div></div>
                }
                <div class="col-md-1"></div>
                <div class="col-md-2 mt-step-col first done">
                    <div class="mt-step-col first done" style="width:50%">
                        <div class="mt-step-content font-grey-cascade" style="font-size:20px">Initiate</div>
                        <div class="mt-step-number bg-white"><li class="fa fa-check"></li></div>
                        <div class="mt-step-title font-grey-cascade" style="font-size:15px">Initiate By : @Model.CreatedBy</div>
                        <div class="mt-step-content font-grey-cascade">Initiate On : @Model.CreatedOn</div>
                    </div>
                </div>
                <div class="col-md-2 mt-step-col">
                    <div class="mt-step-col last @((Model.OfferedOn == null) ? "" : "done")" style="width:50%">
                        <div class="mt-step-content font-grey-cascade" style="font-size:20px">Offered</div>
                        <div class="mt-step-number bg-white">@(new HtmlString((Model.OfferedOn == null) ? "2" : "<li class=\"fa fa-check\"></li>"))</div>
                        <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.ApprovedBy == null) ? "Offered By" : Model.OfferedBy)</div>
                        <div class="mt-step-content font-grey-cascade">@((Model.OfferedOn == null) ? "Offered On" : Model.Offeredby)</div>
                    </div>
                </div>
                <div class="col-md-2 mt-step-col">
                    <div class="mt-step-col @((Model.Status != clsImplementationEnum.TravelerInspectionStatus.Cleared.GetStringValue()) ? "" : "done")" style="width:32%">
                        <div class="mt-step-content font-grey-cascade" style="font-size:20px">@clsImplementationEnum.TravelerInspectionStatus.Cleared.GetStringValue()</div>
                        <div class="mt-step-number bg-white">@(new HtmlString((Model.InspectOn == null) ? "3" : "<li class=\"fa fa-check\"></li>"))</div>
                        <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.InspectBy == null) ? "Inspected By" : Model.InspectBy)</div>
                        <div class="mt-step-content font-grey-cascade">@((Model.InspectOn == null) ? "Inspected On" : Model.InspectOn)</div>
                    </div>
                </div>
                <div class="col-md-2 mt-step-col">
                    <div class="mt-step-col @((Model.Status != clsImplementationEnum.TravelerInspectionStatus.Returned.GetStringValue()) ? "" : "done")" style="width:32%">
                        <div class="mt-step-content font-grey-cascade" style="font-size:20px">@clsImplementationEnum.TravelerInspectionStatus.Returned.GetStringValue()</div>
                        <div class="mt-step-number bg-white">@(new HtmlString((Model.InspectOn == null) ? "4" : "<li class=\"fa fa-check\"></li>"))</div>
                        <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.InspectBy == null) ? "Inspected By" : Model.InspectBy)</div>
                        <div class="mt-step-content font-grey-cascade">@((Model.InspectOn == null) ? "Inspected On" : Model.InspectOn)</div>
                    </div>
                </div>
                <div class="col-md-2 mt-step-col">
                    <div class="mt-step-col @((Model.Status != clsImplementationEnum.TravelerInspectionStatus.Rejected.GetStringValue()) ? "" : "done")" style="width:32%">
                        <div class="mt-step-content font-grey-cascade" style="font-size:20px">@clsImplementationEnum.TravelerInspectionStatus.Rejected.GetStringValue()</div>
                        <div class="mt-step-number bg-white">@(new HtmlString((Model.InspectOn == null) ? "5" : "<li class=\"fa fa-check\"></li>"))</div>
                        <div class="mt-step-title font-grey-cascade" style="font-size:15px">@((Model.InspectBy == null) ? "Inspected By" : Model.InspectBy)</div>
                        <div class="mt-step-content font-grey-cascade">@((Model.InspectOn == null) ? "Inspected On" : Model.InspectOn)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
