﻿@using IEMQSImplementation
<style>
    .left18 {
        padding-left: 18px !important;
    }
</style>
<script type="text/javascript">
    var table = $('#tblMIPHeader');
    var currentMIP = 0;
    var dept = '@ViewBag.UserRole';
    $(document).ready(function () { 

        var lstDocNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.DocNo))));
        var lstType = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.Type))));
        $('#tblMIPHeader').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = element.attr("hdElement");
            if (element.attr("colname") == "txtDocNo") {
                FillMIPAutoComplete(element, lstDocNo, $("#" + hdElement), false);
            }
            else if (element.attr("colname") == "txtMIPType") {
                FillMIPAutoComplete(element, lstType, $("#" + hdElement), false);
            }
        });

        var oTable = table.dataTable({
            "language": oDTDefLanguage,
            "bProcessing": false,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            //"dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/MIP/MaintainMIP/GetMIPHeaderData?qualityProj=" + '@ViewBag.QualityProject' + "&status=" + '@ViewBag.status' + "&location=" + '@ViewBag.location' + "&bu=" + '@ViewBag.bu' + "&indextype=" + '@ViewBag.indextype',
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                    { "name": "bCheckedAll", "value": $('#example-select-all', '#tblMIPHeader_wrapper').is(':checked') });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        ImportExcel();
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        $('#example-select-all', '#tblMIPHeader_wrapper').val(data.checkedIds)
                        if (data.checkedIds)
                            $('input[class="clsCheckbox"]', '#tblMIPHeader_wrapper').prop('checked', true);
                    },
                    'async': false
                });
                $('input[maxlength]').maxlength({
                    alwaysShow: true,
                });
                ResetAddRow($('#tblMIPHeader'));
            },
            "columns": [
                {
                    'targets': 0,
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "left18",
                    'render': function (data, type, full, meta) {
                        return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                    }
                },
                {
                    "sClass": "hide",
                },
                {
                    "sClass": "center",
                    "name": "DocNo",
                },
                {
                    "sClass": "center",
                    "name": "MIPType",
                },

                {
                    "sClass": "center",
                    "name": "PMGReturnRemarks",
                },
                {
                    "sClass": "center",
                    "name": "RevNo",
                    "attr": "numeric"
                },
                {
                    "sClass": "center",
                    "name": "Status",
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                    "sWidth": "12%"
                },
            ]
        });
        table.dtSearchFilter();

        $('#example-select-all').on('click', function () {
            $('#tblMIPHeader').DataTable().ajax.reload(function () {
                var rows = $('#tblMIPHeader').dataTable().api().rows({ 'search': 'applied' }).nodes();
                $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
            });
        });

        $('#tblMIPHeader tbody').on('change', 'input[class="clsCheckbox"]', function () {
            if (!this.checked) {
                var el = $('#example-select-all').get(0);
                if (el && el.checked && ('indeterminate' in el)) {
                    el.indeterminate = true;
                    el.checked = false;
                }
            }
        });

        if ('@ViewBag.status' == "Pending") {
            oTable.api().column(0).visible(true);
        }
        else {
            oTable.api().column(0).visible(false);
        }
        if ('@ViewBag.AccessRole' == '@clsImplementationEnum.UserAccessRole.Approver.GetStringValue()' || IDMNoDisabled == "1") {
            $("#IDMNumber").attr("disabled", "disabled");
        }

        // Code for send for approval
        $("#btnSubmit").click(function () {
            var strHeaderIds = getCheckedFromTable('tblMIPHeader_wrapper', true);


            if (strHeaderIds.length > 0) {
                bootbox.dialog({
                    title: "Submit Confirmation",
                    message: "Do you want to submit?",
                    size: "medium",
                    buttons: {
                        Yes: {
                            Label: "Yes",
                            className: 'btn green',
                            callback: function () {
                                $.ajax({
                                    type: "POST",
                                    url: WebsiteURL + "/MIP/MaintainMIP/SubmitMIPHeader",
                                    datatype: 'json',
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    data: { strHeader: strHeaderIds },
                                    success: function (result) {
                                        if (result.Key) {
                                            if (result.submittedMIP != "" && result.submittedMIP != null)
                                                DisplayNotiMessage("success", result.submittedMIP, "Success");
                                            if (result.pendingMIP != "" && result.pendingMIP != null)
                                                DisplayNotiMessage("error", result.pendingMIP, "Error");

                                            //DisplayNotiMessage("success", result.Value, "Success");
                                            $('#tblMIPHeader').DataTable().ajax.reload();
                                            $("#dvMIPLines").hide();
                                        }
                                    },
                                    error: function () {
                                        alert('error...');
                                    }
                                });
                            }
                        },
                        Cancel: {
                            label: 'No',
                            className: 'btn red',
                            callback: function () { }
                        }
                    }
                });
            }
            else {
                DisplayNotiMessage("error", "Please select atleast one record", "Error");
            }
        });

        // Code for approve
        $("#btnApprove").click(function () {
            var strHeaderIds = getCheckedFromTable('tblMIPHeader_wrapper', true);
            if (strHeaderIds.length > 0) {
                bootbox.dialog({
                    title: "Approve Confirmation",
                    message: "Do you want to approve?",
                    size: "medium",
                    buttons: {
                        Yes: {
                            Label: "Yes",
                            className: 'btn green',
                            callback: function () {
                                $.ajax({
                                    type: "POST",
                                    url: WebsiteURL + "/MIP/MaintainMIP/ApproveMIPHeader",
                                    datatype: 'json',
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    data: { strHeader: strHeaderIds, department: dept },
                                    success: function (result) {
                                        if (result.Key) {
                                            DisplayNotiMessage("success", result.Value, "Success");
                                            $('#tblMIPHeader').DataTable().ajax.reload();
                                            $("#dvMIPLines").hide();
                                        } else {
                                            DisplayNotiMessage("error", result.Value, "Operation Denied");
                                        }
                                    },
                                    error: function () {
                                        alert('error...');
                                    }
                                });
                            }
                        },
                        Cancel: {
                            label: 'No',
                            className: 'btn red',
                            callback: function () { }
                        }
                    }
                });
            }
            else {
                DisplayNotiMessage("error", "Please select atleast one record", "Error");
            }
        });

        // Code for return
        $("#btnReturn").click(function () {

            var arrayHeaderIds = new Array();
            var arrayReturnRemarks = new Array();
            var isCheckedAll = false;
            var strHtml = "";
            if ($('#example-select-all', '#tblMIPHeader_wrapper').is(':checked')) {
                if ($('#example-select-all', '#tblMIPHeader_wrapper').val()) {
                    isCheckedAll = true;
                    arrayHeaderIds = $('#example-select-all', '#tblMIPHeader_wrapper').val().split(',');
                    strHtml = "<scr" + "ipt>$(document).ready(function(){"
                   + "$('input[maxlength],textarea[maxlength]').maxlength({alwaysShow: true,});"
                   + "$('#frmHeaderReturn').validate({"
                   + " rules: {"
                   + "txtReturnRemark: {"
                   + "required: true,"
                   + "},"
                   + "messages: {"
                   + "txtReturnRemark: {"
                   + "required: 'Return Remark is required'"
                   + "}"
                   + "}"
                    + "}"
                   + "});"
                   + "});</scr" + "ipt>"
                   + " <div>"
                   + "<form method='post' id='frmHeaderReturn' class='form-horizontal' action=''>"
                   + "<div class='form-group'>"
                   + "<div class='col-md-12'>"
                   + "<br /><label class='control-label'><b>Return Remark</b><span class='required'> * </span></label>"
                   + "<div class=''>"
                   + "<textarea type='text' value='' style='width:100%' name='txtReturnRemark' id='txtReturnRemark' maxlength='200' class='form-control col-md-3'></textarea>"
                   + "</div>"
                   + "</div>"
                   + "</div>"
                   + "</form>"
                   + "</div>";
                }

            } else {
                var isContinue = true;
                $('input[class="clsCheckbox"]:checked', '#tblMIPHeader tbody').each(function () {
                    var headerId = $(this).val();
                    if (headerId != '') {
                        arrayHeaderIds.push(headerId);
                        var remarkTextbox = $(this).closest("tr").find('input[colname="PMGReturnRemarks"]')[0];
                        $(remarkTextbox).removeClass("red");
                        var remark = $(remarkTextbox).val();
                        if (remark.trim() != '')
                            arrayReturnRemarks.push(remark);
                        else {
                            $(remarkTextbox).addClass("red");
                            isContinue = false;
                        }
                    }
                });

                if (!isContinue) {
                    DisplayNotiMessage("info", "Return Remark is required when MIP return", "info");
                    return false;
                }
            }
            if (arrayHeaderIds.length > 0) {
                bootbox.dialog({
                    title: "Return Confirmation",
                    message: "Do you want to return? " + strHtml,
                    size: "medium",
                    buttons: {
                        Yes: {
                            Label: "Yes",
                            className: 'btn green',
                            callback: function () {
                                if (isCheckedAll) {
                                    if ($('#frmHeaderReturn').valid()) {
                                        for (var i = 0; i < arrayHeaderIds.length; i++) {
                                            arrayReturnRemarks.push($('#txtReturnRemark').val());
                                        }
                                    }
                                    else {
                                        return false;
                                    }
                                }
                                var strHeaderIds = arrayHeaderIds.join(",");
                                var strReturnRemarks = arrayReturnRemarks.join(",");
                                $.ajax({
                                    type: "POST",
                                    url: WebsiteURL + "/MIP/MaintainMIP/ReturnMIPHeader",
                                    datatype: 'json',
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    data: { strHeader: strHeaderIds, strReturnRemarks: strReturnRemarks, department: dept },
                                    success: function (result) {
                                        if (result.Key) {
                                            DisplayNotiMessage("success", result.Value, "Success");
                                            $('#tblMIPHeader').DataTable().ajax.reload();
                                            $("#dvMIPLines").hide();
                                        }
                                    },
                                    error: function () {
                                        alert('error...');
                                    }
                                });
                            }
                        },
                        Cancel: {
                            label: 'No',
                            className: 'btn red',
                            callback: function () { }
                        }
                    }
                });
            }
            else {
                DisplayNotiMessage("error", "Please select atleast one record", "Error");
            }
        });

        // Code for release
        $("#btnRelease").click(function () {
            var strHeaderIds = getCheckedFromTable('tblMIPHeader_wrapper', true);
            if (strHeaderIds.length > 0) {
                bootbox.dialog({
                    title: "Release Confirmation",
                    message: "Do you want to release?",
                    size: "medium",
                    buttons: {
                        Yes: {
                            Label: "Yes",
                            className: 'btn green',
                            callback: function () {
                                $.ajax({
                                    type: "POST",
                                    url: WebsiteURL + "/MIP/MaintainMIP/ReleaseMIPHeader",
                                    datatype: 'json',
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    data: { strHeader: strHeaderIds },
                                    success: function (result) {
                                        if (result.Key) {
                                            DisplayNotiMessage("success", result.Value, "Success");
                                            $('#tblMIPHeader').DataTable().ajax.reload();
                                            $("#dvMIPLines").hide();
                                        }
                                    },
                                    error: function () {
                                        alert('error...');
                                    }
                                });
                            }
                        },
                        Cancel: {
                            label: 'No',
                            className: 'btn red',
                            callback: function () { }
                        }
                    }
                });
            }
            else {
                DisplayNotiMessage("error", "Please select atleast one record", "Error");
            }
        });

        $("#frmMIPHeader").validate({
            rules: {
                txtDocNo0: {
                    required: true
                },
                txtMIPType0: {
                    required: true
                }
            },
            messages: {
                txtDocNo0: {
                    required: "Document No is required"
                },
                txtMIPType0: {
                    required: "MIP Type is required"
                }
            }
        })

        $('#tblMIPHeader tbody').on("click", "tr td:not(:first-child):not(:last-child)", function () {
            var row = $(this).closest('tr');
            var data = $('#tblMIPHeader').dataTable().fnGetData(row);
            var hdrId = $(data[1]).val();//$($(this)).find('td').eq(0).text();

            currentMIP = hdrId;

            $("#tblMIPHeader tr").removeClass("highlight");
            $(this).closest('tr').addClass("highlight");

            $("#tblMIPHeader").find("[type=checkbox]").prop('checked', false);
            $(row).find("[type=checkbox]").prop('checked', true);

            if (hdrId == "") {
                $("#dvMIPLines").hide();
                return;
            }
            if ($("#dvMIPLines").css("display") == "block") { }
                //$('#tblQualitIDLines').DataTable().ajax.reload();
            else {
                $("#dvMIPLines").show();
            }

            GetMIPLinesPartial(hdrId);
        });

        $('.numeric-only').autoNumeric('init', { aPad: "false", vMax: "999999999", aForm: "false" });
    });

    function GetMIPLinesPartial(headerId) {

        $.ajax({
            url: WebsiteURL + "/MIP/MaintainMIP/GetMIPLinesPartial",
            type: "POST",
            data: { headerId: headerId, BU: $("#hdnBU").val(), Loc: $("#hdnLocation").val(), indextype: '@ViewBag.indextype' },
            dataType: "html",
            success: function (data) {
                $("#dvMIPLines").html(data);
            }
        });
    }

    function ResetAddRow(table) {
        table.find("tbody tr:first").hide();
        table.find("tbody tr:first").css("background-color", "#fbffb2");
        $("#btnNew").html('<i class="fa fa-plus"></i> New');
        $("#btnNewLines").html('<i class="fa fa-plus"></i> New');
        clearFirstRow(table.find("tbody tr:first"));
    }

    function clearFirstRow(objFirstLine) {
        $('input[type!="hidden"]', objFirstLine).val('');
    }

    function ShowNewHeaderRecord(obj) {
        $('#tblMIPHeader').find("tbody tr:first").toggle();
        $('#tblMIPHeader').find("tbody tr:first select:first").focus();
        if ($('#tblMIPHeader').find("tbody tr:first").is(":visible")) {
            $(obj).html('<i class="fa fa-times"></i> Cancel');
        }
        else {
            $(obj).html('<i class="fa fa-plus"></i> New');
            clearFirstRow($('#tblMIPHeader').find("tbody tr:first"));
        }
    }

    function UpdateMIPHeader(objColumn, rowID) {

        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");

        var elem = $(objColumn).attr("hdElement");
        if ($(objColumn).attr("id").match("^txt")) {
            hdElement = $("#" + elem);
            columnName = $('#' + elem).attr("colname");
            columnValue = $('#' + elem).val();

            var oldvalue = $(objColumn).attr("data-oldvalue");
            if (oldvalue == columnValue)
                return;
            $(objColumn).attr("data-oldvalue", columnValue);
        }
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/MIP/MaintainMIP/UpdateMIPHeader",
            datatype: 'json',
            async: false,
            data: { headerId: rowID, columnName: columnName, columnValue: columnValue },
            success: function (result) {
                if (result.Key) {
                    if (result.Remarks != "" && result.Remarks != null && result.Remarks != undefined) {
                        DisplayNotiMessage("info", result.Remarks, "Info");
                        $('#tblMIPHeader').DataTable().ajax.reload();
                        $("#dvMIPLines").hide();
                    }
                    //DisplayNotiMessage("success", result.Value, "Success");
                } else {
                    DisplayNotiMessage("info", result.Value, "info");
                }
            },
            error: function () {
                alert('error...');
            }
        });
    }

    function DeleteMIPHeaderWithConfirmation(rowID) {
        bootbox.dialog({
            title: "Delete Confirmation",
            message: "Do you want to delete?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        DeleteMIPHeader(rowID);
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }
            }
        });
    }

    function DeleteMIPHeader(rowID) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/MIP/MaintainMIP/DeleteMIPHeader",
            datatype: 'json',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerId: rowID },
            success: function (result) {
                if (result.Key) {
                    if (result.Value != "" && result.Value != null && result.Value != undefined) {
                        DisplayNotiMessage("success", result.Value, "Success");
                    }
                    if (result.Remarks != "" && result.Remarks != null && result.Remarks != undefined) {
                        DisplayNotiMessage("info", result.Remarks, "Info");
                    }
                    $('#tblMIPHeader').DataTable().ajax.reload();
                    $("#dvMIPLines").hide();
                }
                else {
                    DisplayNotiMessage("error", result.Value, "error");
                }
            },
            error: function () {
                alert('error...');
            }
        });
    }

    function ReviseMIPHeaderWithConfirmation(rowID) {
        bootbox.dialog({
            title: "Revise Confirmation",
            message: "Do you want to revise?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        ReviseMIPHeader(rowID);
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }
            }
        });
    }

    function ReviseMIPHeader(rowID) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/MIP/MaintainMIP/ReviseMIPHeader",
            datatype: 'json',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerId: rowID },
            success: function (result) {
                if (result.Key) {
                    DisplayNotiMessage("success", result.Value, "Success");
                    $('#tblMIPHeader').DataTable().ajax.reload();
                    $("#dvMIPLines").hide();
                    if (result.ActionKey) {
                        $("#IDMNumber").removeAttr("disabled");
                    }
                }
            },
            error: function () {
                alert('error...');
            }
        });
    }

    function SaveMIPHeader() {
        if ($("#frmMIPHeader").valid()) {
            var frmHeaderValues = $("#frmMIPHeader").serializeArray();

            if (frmHeaderValues != null && frmHeaderValues != undefined) {
                var formdata = new FormData();
                $.each(frmHeaderValues, function (key, input) {
                    formdata.append(input.name, input.value);
                });

                $.ajax({
                    url: WebsiteURL + "/MIP/MaintainMIP/SaveMIPHeader",
                    type: "POST",
                    data: formdata,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    success: function (res) {
                        if (res.Key && res.HeaderId > 0) {
                            DisplayNotiMessage("success", res.Value, "Success");

                            if ($("#dvMIPLines").css("display") == "block")
                                $('#tblMIPLines').DataTable().ajax.reload();
                            else 
                                $("#dvMIPLines").show();

                            $('#tblMIPHeader').DataTable().ajax.reload();
                            //ShowNewRecord($('#btnNew'));
                            $("#HeaderId").val(res.HeaderId);
                            if (res.ActionKey) {
                                $("#IDMNumber").removeAttr("disabled");
                            }
                        }
                        else
                            DisplayNotiMessage("error", res.Value, "Error");
                    },
                    error: function (data) { }
                });
            }
        }
    }

    function FillMIPAutoComplete(element, sourceList, hdElement, isEditable) {

        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
                $(".ui-autocomplete").find(".ui-menu-divider").removeClass("ui-widget-content").removeClass("ui-menu-divider").addClass("ui-menu-item");
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(element).val(ui.item.value);
                $(hdElement).val(ui.item.id)
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $(this).focus();
                    $(hdElement).val('')
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }

    function checkExistingRecord(element,rowID, IsUpdateOnChanges ) {
        var hdElement = $("#"+ $(element).attr("hdelement"))
        var colvalue = hdElement.val();
        if (!colvalue) {
            return;
        }
        var colname = hdElement.attr("colname");
        $.ajax({
            url: WebsiteURL + "/MIP/MaintainMIP/checkExistingRecord",
            type: "POST",
            data: { headerid: rowID, colname: colname, colvalue: colvalue, QualityProject: $('#ddlQualityProject').val(), Location: $("#hdnLocation").val(), BU: $("#hdnBU").val() },
            success: function (res) {
                if (res== "True") {
                    DisplayNotiMessage("info", "This " + colname+ " is already being used!", "Info");
                    $(element).val("");
                    hdElement.val("");
                } else if (IsUpdateOnChanges) {
                    UpdateMIPHeader(element,rowID)
                }
            },
            error: function (data) { }
        });
    }
</script>
<div class="row">
    <div class="row">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Document Details
                </div>
                <div class="tools" id="dvExportHeader">
                    @if (!string.Equals(ViewBag.status.ToString(), "all", StringComparison.OrdinalIgnoreCase) && string.Equals(ViewBag.AccessRole.ToString(), clsImplementationEnum.UserAccessRole.Initiator.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                    {
                        <div class="btn-group">
                            <a style="margin-left:5px;" id="btnNew" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewHeaderRecord(this);">
                                <i class="fa fa-plus"></i> New
                            </a> 
                        </div>
                    }
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/MIP/MaintainMIP/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>

            <div class="portlet-body">

                <table id="tblMIPHeader" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th class="min-phone-l" style="display:none;">HeaderId</th>
                            <th class="all">Doc No.<span class="text-danger">*</span></th>
                            <th class="all">MIP Type<span class="text-danger">*</span></th>
                            <th class="all">Return Remark</th>
                            <th class="all">Rev No.</th>
                            <th class="all">Status</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
        <div id="dvMIPLines" class="row"></div>
    </div>

    <div class="col-md-12">
        <div class="col-md-6" style="text-align:left;">
            @*<button class="btn icons hide" title="Copy" type="button" id="btnCopy"><i class="fa fa-files-o"></i></button>*@
        </div>
        <div class="col-md-6" style="text-align:right;">
            @if (ViewBag.status == "Pending" && string.Equals(ViewBag.AccessRole.ToString(), clsImplementationEnum.UserAccessRole.Initiator.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <input type="button" class="btn submit" id="btnSubmit" value="Submit" />
            }
            @if (ViewBag.status == "Pending" && string.Equals(ViewBag.AccessRole.ToString(), clsImplementationEnum.UserAccessRole.Approver.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <input type="button" class="btn approve" id="btnApprove" value="Approve" />
                <input type="button" class="btn return" id="btnReturn" value="Return" />
            }
            <a onclick="RedirectToSpecificIndex()" class="btn btnclose"> Close</a>
        </div>
    </div>
</div>
