﻿@using IEMQSImplementation
<script>
    var strHtml = "<scr" + "ipt>$(document).ready(function(){"
          
                      + "$('#frmHeaderRemarks').validate({"
                      + " rules: {"
                      + "txtRemarks: {"
                      + "required: true,"
                      + "},"
                      + "messages: {"
                      + "txtRemarks: {"
                      + "required: 'Comments is required'"
                      + "}"
                      + "}"
                       + "}"
                      + "});"
                           + "  $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true, })"
                      + "});</scr" + "ipt>"
                      + " <div>"
                      + "<form method='post' id='frmHeaderRemarks' class='form-horizontal' action=''>"
                      + "<div class='form-group'>"
                      + "<div class='col-md-12'>"
                      + "<label class='control-label'>Comments<span class='required'> * </span></label>"
                      + "<div class=''>"
                      + "<textarea type='text' value='' maxlength='100' style='width:100%' name='txtRemarks' id='txtRemarks' class='form-control col-md-3'></textarea>"
                      + "</div>"
                      + "</div>"
                      + "</div>"
                      + "</form>"
                      + "</div>";

    var table = $('#tblRequests');
    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": true,
        "bServerSide": true,
        "stateSave": true,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
            [5, 10, 25, 50, 100],
            [5, 10, 25, 50, 100]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        "sAjaxSource": WebsiteURL + "/PAM/MKT/loadPAMRequestDataTable?status=" + '@ViewBag.status',
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" }
                        //{ "name": "status", "value": '@ViewBag.status' }
                        );
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'async': false,
                'success': function (result) {
                    fnCallback(result);
                    $(".txtStrWhere", "#dvExportHeader").val(result.whereCondition);
                    $(".txtStrSort", "#dvExportHeader").val(result.strSortOrder);
                },
            });
        },
        "columns": [
            {
                "sClass": "center",
                "bSortable": true,
                "name": "ConDesc",
                "ColName": "cont.t_cono +'-'+ cont.t_desc"
            },
             {
                 "sClass": "hide",
                 "attr":"hide"
             },
              {
                  "sClass": "hide",
                  "attr": "hide"
              },
              {
                  "sClass": "center",
                  "bSortable": true,
                  "name": "CustomerDesc",
                  "ColName": "cont.t_ofbp +'-'+ cust.t_nama"
              },
               {
                   "sClass": "center",
                   "bSortable": true,
                   "name": "POExpectedOn",
                   "attr": "date"
               },
              {
                  "sClass": "center",
                  "bSortable": true,
                  "name": "RequestedBy",
              },
              {
                  "sClass": "center",
                  "bSortable": true,
                  "name": "Status",
              },
               {
                   "sClass": "center",
                   "bSortable": true,
                   "name": "Comments",
               },
            {
                "bSortable": false,
                "sClass": "center",
                "sWidth": "15%",
                "render": function (data, type, row, meta) {
                    var buttons = "";
                    var functionCallAllow = "HandleRequest('A'," + row[8] + ")";
                    var functionCallDeny = "HandleRequest('D'," + row[8] + ")";
                    buttons = "<center>" + "<div class=\"btn-group btn-group-circle\"><a class=\"btn btn-outline green btn-sm\" Title=\"Allow\" onclick=\"" + functionCallAllow + "\">Allow</a> <a class=\"btn btn-outline red btn-sm\"  Title=\"Deny\" onclick=\"" + functionCallDeny + "\">Deny</a></div></center>"
                    //buttons = '<center><a class="fa fa-check"  href="javascript:void(O);" Title="Allow" onclick="' + functionCallAllow + '">Allow</a>&nbsp&nbsp<a class="fa fa-close"  href="javascript:void(O);" Title="Deny" onclick="' + functionCallDeny + '">Deny</a></center>';
                    return buttons;
                }
            },
        ]
    });
    table.dtSearchFilter();
    if ('@ViewBag.status' == "Pending")
        oTable.api().column(7).visible(true);
    else {
        setTimeout(function () {
            $('#tblRequests_wrapper thead tr:first th:eq(7)').hide();           
        }, 100);
        oTable.api().column(7).visible(false);
    }
    function HandleRequest(type, id) {
        var buHeadComments = "";
        if (type == "D") {
            bootbox.dialog({
                //title: "Add Checklist Details",
                message: 'Do you want to denied request?' + strHtml,
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            if ($('#frmHeaderRemarks').valid()) {
                                $.ajax({
                                    url: WebsiteURL + "/PAM/MKT/RespondPamRequest",
                                    type: "POST",
                                    datatype: 'json',
                                    data: { type: type, requestId: id, buHeadComments: $('#txtRemarks').val() },
                                    success: function (data) {

                                        if (data.Key) {
                                            DisplayNotiMessage("success", data.Value, "Success");
                                            window.setTimeout('window.location.href = "'+WebsiteURL+'/PAM/MKT/PAMRequestApproveView"', 2000);
                                        }
                                        else {
                                            DisplayNotiMessage("error", data.Value, "Error");
                                        }
                                    },
                                    error: function () {
                                    }
                                });
                                return true;
                            }
                            else {
                                return false;
                            }
                        }
                    },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger',
                            callback: function () { },
                        }
                    }
                });
        }
        else {
            $.ajax({
                url: WebsiteURL + "/PAM/MKT/RespondPamRequest",
                type: "POST",
                datatype: 'json',
                data: { type: type, requestId: id, buHeadComments: buHeadComments },
                success: function (data) {
                    if (data.Key == true) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        window.setTimeout('window.location.href = "'+WebsiteURL+'/PAM/MKT/PAMRequestApproveView"', 2000);
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
    };

</script>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    PAM Generate Requests
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PAM/MKT/GenerateExcel", GridType = clsImplementationEnum.GridType.PAM_REQ_HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblRequests" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">Contract Description</th>
                            <th style="display:none;">Contact No</th>
                            <th style="display:none;">Customer</th>
                            <th class="min-phone-l">Customer Description</th>
                            <th class="min-phone-l">Expected Date of PO</th>
                            <th class="min-phone-l">Requsted By</th>
                            <th class="min-phone-l">Status</th> 
                            <th class="min-phone-l">Comments</th>                              
                            <th class="min-phone-l">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

