﻿@model IEMQSImplementation.PRO315
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0, s2 = 0, s3 = 0, s4 = 0, s5 = 0, s6 = 0;/* for serial number */
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />
<style>
    .clsparent {
        background-color: #fbffb2;
        font-weight: bold;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>

                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">

                        <div class="form-group">

                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="height: 20px"></div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="1">
                                        <div class="portlet-title">
                                            <div class="caption" style="">
                                                <span style="float:left; ">
                                                    <strong>

                                                    </strong>

                                                </span>
                                            </div>
                                            <div class="tools" id="dvExportSubLines" style="padding: 0px !important">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse2" data-target="#div1" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div1">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines1">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th class="">ORIENTATION</th>
                                                            <th>
                                                                OUTSIDE DIAMETER <br />
                                                                REQUIRED : @Html.TextBoxFor(model => model.ReqOutsideDiameter, new { @class = "form-control  tblHeaderTextBox", @style = "display: inline-block;width: 100px; ", @maxlength = "20", @role = "QC" })
                                                            </th>
                                                            <th>
                                                                INSIDE DIAMETER <br />
                                                                REQUIRED : @Html.TextBoxFor(model => model.ReqInsideDiameter, new { @class = "form-control  tblHeaderTextBox", @style = "display: inline-block;width: 100px; ", @maxlength = "20", @role = "QC" })
                                                            </th>
                                                            <th class="btnthAction">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO316 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO316 as List<PRO316>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="Orientation">@Html.TextBox("Orientation_1_" + @s1, @item.Orientation, new { @class = "form-control width125px", @maxlength = "20", @role = "QC" })</td>
                                                                    <td class="ActOutsideDiameter">@Html.TextBox("ActOutsideDiameter_1_" + @s1, @item.ActOutsideDiameter, new { @class = "form-control width125px ", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActInsideDiameter">@Html.TextBox("ActInsideDiameter_1_" + @s1, @item.ActInsideDiameter, new { @class = "form-control width125px ", @maxlength = "10", @role = "PROD" })</td>
                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolLine(this,'tblProtocolLines1')"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>

                                                </table>
                                            </div>
                                            <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="margin-top: 10px;" id="#">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="3">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left;">
                                                    <strong> </strong>
                                                </span>
                                            </div>
                                            <div class="tools" id="dvExportSubLines">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div2', this)" id="btnCollapse2" data-target="#div2" data-original-title="" title=""> </a>

                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div2">
                                            <div class="table-responsive">
                                                <table id="tblProtocolLines2" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">HeaderId</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th class="title" rowspan="3">SEAM NO</th>
                                                            <th class="title" colspan="6">W.E.P. DIMENSIONS</th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <th class="subtitle" style="text-align: center;">DETAILS</th>
                                                            <th class="subtitle" style="text-align: center;">ROOT GAP</th>
                                                            <th class="subtitle" style="text-align: center;">ROOT FACE</th>
                                                            <th class="subtitle" style="text-align: center;">TOP SIDE WEP ANGLE</th>
                                                            <th class="subtitle" style="text-align: center;">BOTTOM SIDE WEP ANGLE</th>
                                                            <th class="subtitle" style="text-align: center;">OFFSET</th>
                                                        </tr>
                                                        <tr>
                                                            <th>REQUIRED</th>
                                                            <td> @Html.TextBoxFor(model => model.ReqRootGap, new { @class = "form-control", @maxlength = "10", @role = "QC" })  </td>
                                                            <td> @Html.TextBoxFor(model => model.ReqRootFace, new { @class = "form-control ", @maxlength = "10", @role = "QC" })  </td>
                                                            <td> @Html.TextBoxFor(model => model.ReqTopSideWepAngle, new { @class = "form-control ", @maxlength = "20", @role = "QC" })  </td>
                                                            <td> @Html.TextBoxFor(model => model.ReqBottomSideWepAngle, new { @class = "form-control ", @maxlength = "20", @role = "QC" })  </td>
                                                            <td> @Html.TextBoxFor(model => model.ReqOffset, new { @class = "form-control ", @maxlength = "10", @role = "QC" })  </td>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO317 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO317 as List<PRO317>)
                                                            {
                                                                <tr class="row_@(s5 = s5 + 1) tab_new_@(s6 = s6 + 1)">
                                                                    <td style="text-align: center;display:none;"># @(s2 = s2 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="SeamNo " rowspan="2">@Html.TextBox("SeamNo_2_" + @s2, @item.SeamNo, new { @class = "form-control", @maxlength = "16", @role = "QC" })</td>
                                                                    <td class="subtitle" style="text-align: center;">ACT. MAX.</td>
                                                                    <td class="ActMaxRootGap">@Html.TextBox("ActMaxRootGap_2_" + @s2, @item.ActMaxRootGap, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActMaxRootFace">@Html.TextBox("ActMaxRootFace_2_" + @s2, @item.ActMaxRootFace, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActMaxTopSideWepAngle">@Html.TextBox("ActMaxTopSideWepAngle_2_" + @s2, @item.ActMaxTopSideWepAngle, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActMaxBottomSideWepAngle">@Html.TextBox("ActMaxBottomSideWepAngle_2_" + @s2, @item.ActMaxBottomSideWepAngle, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActMaxOffset">@Html.TextBox("ActMaxOffset_2_" + @s2, @item.ActMaxOffset, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>


                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_2_@s2" name="Delete_2_@s2" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteNewTable(@s6);"></i></td>
                                                                    }

                                                                </tr>

                                                                <tr class="row_@(s5 = s5 + 1) tab_new_@(s6)">
                                                                    <td style="text-align: center;display:none;"># @(s2 = s2 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="subtitle" style="text-align: center;">ACT. MIN.</td>
                                                                    <td class="ActMinRootGap">@Html.TextBox("ActMinRootGap_2_" + @s2, @item.ActMinRootGap, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActMinRootFace">@Html.TextBox("ActMinRootFace_2_" + @s2, @item.ActMinRootFace, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActMinTopSideWepAngle">@Html.TextBox("ActMinTopSideWepAngle_2_" + @s2, @item.ActMinTopSideWepAngle, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActMinBottomSideWepAngle">@Html.TextBox("ActMinBottomSideWepAngle_2_" + @s2, @item.ActMinBottomSideWepAngle, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActMinOffset">@Html.TextBox("ActMinOffset_2_" + @s2, @item.ActMinOffset, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                </tr>
                                                                <tr></tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>

                                            </div>

                                            <input id="hdGrid2TotalTbody" type="hidden" value="@s5" />
                                            <input id="hdGrid2LastRow" type="hidden" value="@s2" />
                                            <input id="hdGrid2TotalGroup" type="hidden" value="@s6" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <strong>
                                        <span style="float:left;">
                                            <strong>FLATNESS READINGS :</strong>
                                            @Html.DropDownListFor(model => model.FlatnessReadings, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "QC", @onchange = "showCladtripTable($(this).val(), \"dvFlatnessReadings\")" })
                                            <br /><br />
                                        </span>
                                        <br />
                                    </strong>
                                </div>
                            </div>

                            <div class="col-md-12" id="dvFlatnessReadings">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine3" data-gridid="3">
                                        <div class="portlet-title">
                                            <div class="caption">
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div3', this)" id="btnCollapse3" data-target="#div3w" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div3">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines3">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">HeaderId</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th class="title" style="text-align: center;">LOCATION</th>
                                                            <th class="title" style="text-align: center;">1</th>
                                                            <th class="title" style="text-align: center;">2</th>
                                                            <th class="title" style="text-align: center;">3</th>
                                                            <th class="title" style="text-align: center;">4</th>
                                                            <th class="title" style="text-align: center;">5</th>
                                                            <th class="title" style="text-align: center;">6</th>
                                                            <th class="title" style="text-align: center;">7</th>
                                                            <th class="title" style="text-align: center;">8</th>
                                                            <th class="title" style="text-align: center;">9</th>
                                                            <th class="title" style="text-align: center;">10</th>
                                                            <th class="title" style="text-align: center;">11</th>
                                                            <th class="title" style="text-align: center;">12</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO318 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO318 as List<PRO318>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s3 = s3 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="Location"> @Html.TextBox("Location_3_" + @s3, @item.Location, new { @class = "form-control width125px", @maxlength = "20", @role = "QC" })</td>
                                                                    <td class="ActualValue1"> @Html.TextBox("ActualValue1_3_" + @s3, @item.ActualValue1, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                    <td class="ActualValue2"> @Html.TextBox("ActualValue2_3_" + @s3, @item.ActualValue2, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                    <td class="ActualValue3"> @Html.TextBox("ActualValue3_3_" + @s3, @item.ActualValue3, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                    <td class="ActualValue4"> @Html.TextBox("ActualValue4_3_" + @s3, @item.ActualValue4, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                    <td class="ActualValue5"> @Html.TextBox("ActualValue5_3_" + @s3, @item.ActualValue5, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                    <td class="ActualValue6"> @Html.TextBox("ActualValue6_3_" + @s3, @item.ActualValue6, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                    <td class="ActualValue7"> @Html.TextBox("ActualValue7_3_" + @s3, @item.ActualValue7, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                    <td class="ActualValue8"> @Html.TextBox("ActualValue8_3_" + @s3, @item.ActualValue8, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                    <td class="ActualValue9"> @Html.TextBox("ActualValue9_3_" + @s3, @item.ActualValue9, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                    <td class="ActualValue10"> @Html.TextBox("ActualValue10_3_" + @s3, @item.ActualValue10, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                    <td class="ActualValue11"> @Html.TextBox("ActualValue11_3_" + @s3, @item.ActualValue11, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                    <td class="ActualValue12"> @Html.TextBox("ActualValue12_3_" + @s3, @item.ActualValue12, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_3_@s3" name="Delete_3_@s3" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                    <tfooter>
                                                        <tr class="outby">
                                                            <td class="min-phone-l" style="display:none;">HeaderId</td>
                                                            <td class="min-phone-l" style="display:none;">LineId</td>
                                                            <td class="datatableFooter" style="text-align:right"> <b>OUT BY </b> (Allowed : @Html.TextBoxFor(model => model.OutByLocation, new { @class = "form-control inlinetextbox", @maxlength = "20", @role = "QC" })) </td>
                                                            <td class="datatableFooter" colspan="12" style="text-align:center">@Html.TextBoxFor(model => model.OutByLocation1, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                            @*<td class="datatableFooter">@Html.TextBoxFor(model => model.OutByLocation2, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                            <td class="datatableFooter">@Html.TextBoxFor(model => model.OutByLocation3, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                            <td class="datatableFooter">@Html.TextBoxFor(model => model.OutByLocation4, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                            <td class="datatableFooter">@Html.TextBoxFor(model => model.OutByLocation5, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                            <td class="datatableFooter">@Html.TextBoxFor(model => model.OutByLocation6, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                            <td class="datatableFooter">@Html.TextBoxFor(model => model.OutByLocation7, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                            <td class="datatableFooter">@Html.TextBoxFor(model => model.OutByLocation8, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                            <td class="datatableFooter">@Html.TextBoxFor(model => model.OutByLocation9, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                            <td class="datatableFooter">@Html.TextBoxFor(model => model.OutByLocation10, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                            <td class="datatableFooter">@Html.TextBoxFor(model => model.OutByLocation11, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                            <td class="datatableFooter">@Html.TextBoxFor(model => model.OutByLocation12, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>*@
                                                        </tr>
                                                    </tfooter>
                                                </table>
                                                <input id="hdGrid3LastRow" type="hidden" value="@s3" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine4" data-gridid="4">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left;">
                                                    <strong>IDENTIFICATION MARKING</strong>
                                                </span>
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div4', this)" id="btnCollapse4" data-target="#div4" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div4">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines4">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th></th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction"></th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO319 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO319 as List<PRO319>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s4 = s4 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="IdentificationMarking"> @Html.TextArea("IdentificationMarking_4_" + @s4, @item.IdentificationMarking, new { @class = "form-control", @maxlength = "200", @role = "PROD" })</td>
                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_4_@s4" name="Delete_4_@s4" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <input id="hdGrid4LastRow" type="hidden" value="@s4" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                        <tr>
                                            <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                                CHECK POINTS/REMARKS
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                1) SEAM NUMBER PUNCHED AS REQUIRED BY STANDARD PROCEDURE?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint1, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                2) TACKS FREE FROM CRACK ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint2, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                3) GROOVE CLEANED ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint3, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                4) L&T STAMP AVAILABLE ON IDENTIFICATION ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint4, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                5) RUN IN RUN OUT ATTACHED ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint5, new SelectList(@ViewBag.YesNOEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                6) MARKING TO IDENTIFY SHELL SIDE AND CHANNEL SIDE DONE ON TUBESHEET ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint6, new SelectList(@ViewBag.YesNoNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                7) PRINCIPLE ORIENTATION PUNCHING DONE ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint7, new SelectList(@ViewBag.YesNoNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd" colspan="2">
                                                8) PTC REQUIRED ? &nbsp; @Html.DropDownListFor(model => model.CheckPoint8, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new
                                                   {
                                                       @class = "form-control inlinetextbox w100",
                                                       @role = "QC",
                                                       @onchange = "showCladtripTable($(this).val(), \"dvCheckPoint8\")"
                                                   })
                                                <span id="dvCheckPoint8"> IF YES THEN ITEM NO: &nbsp; @Html.TextBoxFor(model => model.CheckPoint8_2, new { @class = "form-control inlinetextbox width250px", @maxlength = "50", @role = "PROD" }) AND HEAT NUMBER &nbsp;  @Html.TextBoxFor(model => model.CheckPoint8_3, new { @class = "form-control inlinetextbox width250px", @maxlength = "50", @role = "PROD" })</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                9) PROCEDURE NO &nbsp; @Html.TextBoxFor(model => model.CheckPoint9, new { @class = "form-control inlinetextbox", @maxlength = "20", @role = "QC" })
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                10) ALL DIMENSIONS ARE IN MM, UNLESS OTHERWISE SPECIFIED.
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="clstd" colspan="2">
                                                11) MEASURING AND TESTING EQUIPMENT SERIAL NUMBER &nbsp;
                                                @Html.TextBoxFor(model => model.CheckPoint11, new { @class = "form-control inlinetextbox width250px", @maxlength = "50", @role = "PROD" })
                                                &nbsp; & CALIBRATION DUE DATE
                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                    @Html.TextBoxFor(m => m.CheckPoint11_2, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;", @role = "PROD" })
                                                    <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                        <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                12)  ADDITIONAL FLATNESS AS REQUIRED BY PLANNING DOCUMENTS TO BE RECORDED AND ATTACHED TO THIS REPORT.
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                QC REMARK: @Html.TextAreaFor(model => model.QCRemarks, new { @class = "form-control", @maxlength = "200", @role = "QC" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                    <input type="button" class="btn submit" id="btnSave" value="Submit" />
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>

<script>
    var notPRODLastChild = "";
    var notQCLastChild = "";

    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';

    $(document).ready(function () {

        SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });
        $("#CheckPoint11_2").change(function () {
            if ($("#CheckPoint11_2").val() != "") {
                $('#btnSaveDraft').focus();
            }
        });

        $('#FlatnessReadings,#CheckPoint1,#CheckPoint2,#CheckPoint3,#CheckPoint4,#CheckPoint5,#CheckPoint6,#CheckPoint7,#CheckPoint8').val('Yes');

        if ('@Model.FlatnessReadings' != "") { $('#FlatnessReadings').val('@Model.FlatnessReadings');}
        if ('@Model.CheckPoint1' != "") {$('#CheckPoint1').val('@Model.CheckPoint1');}
        if ('@Model.CheckPoint2' != "") {$('#CheckPoint2').val('@Model.CheckPoint2');}
        if ('@Model.CheckPoint3' != "") { $('#CheckPoint3').val('@Model.CheckPoint3'); }
        if ('@Model.CheckPoint4' != "") { $('#CheckPoint4').val('@Model.CheckPoint4'); }
        if ('@Model.CheckPoint5' != "") { $('#CheckPoint5').val('@Model.CheckPoint5'); }
        if ('@Model.CheckPoint6' != "") { $('#CheckPoint6').val('@Model.CheckPoint6'); }
        if ('@Model.CheckPoint7' != "") { $('#CheckPoint7').val('@Model.CheckPoint7'); }
        if ('@Model.CheckPoint8' != "") { $('#CheckPoint8').val('@Model.CheckPoint8'); }
        
        showCladtripTable($('#FlatnessReadings').val(), "dvFlatnessReadings");
        showCladtripTable($('#CheckPoint8').val(), "dvCheckPoint8");

    });

    $('#QCRemarks').prop("disabled", true).addClass("NonEditableTextColor");

    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "/SaveProtocolHeaderData", userRole, false, LoadSaveAndDraft);
        //LoadSaveAndDraft();
    });

    $("#btnSave").click(function () {
        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="PROD"]').not('.islastrow').prop("required", true);</text>
            }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="QC"]').not('.islastrow').prop("required", true);</text>
            }
        SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData", userRole, true, LoadSaveAndDraft);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }

    function SaveProtocolLine(lineId, gridId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine" + gridId, "tblProtocolLines" + gridId, "btnNewLines" + gridId);
    }

    function SetTableColumns() {
        if (isEdit.toLowerCase() == "true") {
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) {
                AddNextRow(this, null, false, 4, 'hdGrid4LastRow', 'tblProtocolLines4', 'IdentificationMarking', ['IdentificationMarking'], AddTbl4NewTrRow, true);

                $("[role=PROD]").first().focus();
            }

            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) {

                AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'Orientation', ['Orientation'], AddTbl1NewTrRow, true);
                AddNextRow(this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'SeamNo', ['SeamNo'], AddTbl2NewTrRow, true);
                AddNextRow(this, null, false, 3, 'hdGrid3LastRow', 'tblProtocolLines3', 'Location', ['Location'], AddTbl3NewTrRow, true);

                notQCLastChild = ":not(:last-child)";
                $("[role=QC]").first().focus();
            }
            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) { $("[role=QC]").first().focus(); }
        }
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine";
        window[SaveFunction](lineId, gridId);
    }

    //function outby() {
    //    if (isEdit.toLowerCase() == "true" && userRole.toUpperCase() == 'QC3') {
    //        $('#OutOfRoundnessOutBy').addClass("EditableTextColor").addClass("QCTextbox");
    //    }
    //    else {
    //        $('#OutOfRoundnessOutBy').prop("disabled", true).addClass("QCTextbox");
    //    }
    //}

    function LoadSaveAndDraft() {

        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "Orientation": $('td.Orientation input', this).val(),
                "ActOutsideDiameter": $('td.ActOutsideDiameter input', this).val(),
                "ActInsideDiameter": $('td.ActInsideDiameter input', this).val()
            };
            lstProtocolLines1 = JSON.stringify(TableData1);
        });
        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1" + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);

        var TableData2 = []; //initialize array;
        var lstProtocolLines2 = ""; //empty var;

        var i = 0;

        $("table#tblProtocolLines2 > tbody > tr:not(.islastrow)").each(function (row, tr) {

            if (row % 2 == 0) {
                TableData2[i] = {
                    "LineId": $('tr.row_' + (row + 1) + ' td.LineId input').val(),
                    "HeaderId": $('#HeaderId').val(),
                    "SeamNo": $('tr.row_' + (row + 1) + ' td.SeamNo input').val(),
                    "ActMaxRootGap": $('tr.row_' + (row + 1) + ' td.ActMaxRootGap input').val(),
                    "ActMaxRootFace": $('tr.row_' + (row + 1) + ' td.ActMaxRootFace input').val(),
                    "ActMaxTopSideWepAngle": $('tr.row_' + (row + 1) + ' td.ActMaxTopSideWepAngle input').val(),
                    "ActMaxBottomSideWepAngle": $('tr.row_' + (row + 1) + ' td.ActMaxBottomSideWepAngle input').val(),
                    "ActMaxOffset": $('tr.row_' + (row + 1) + ' td.ActMaxOffset input').val(),
                    "ActMinRootGap": $('tr.row_' + (row + 2) + ' td.ActMinRootGap input').val(),
                    "ActMinRootFace": $('tr.row_' + (row + 2) + ' td.ActMinRootFace input').val(),
                    "ActMinTopSideWepAngle": $('tr.row_' + (row + 2) + ' td.ActMinTopSideWepAngle input').val(),
                    "ActMinBottomSideWepAngle": $('tr.row_' + (row + 2) + ' td.ActMinBottomSideWepAngle input').val(),
                    "ActMinOffset": $('tr.row_' + (row + 2) + ' td.ActMinOffset input').val(),

                };
                i = i + 1;
            }
            lstProtocolLines2 = JSON.stringify(TableData2);
        });
        SaveAsDraftProtocolLine(lstProtocolLines2, ControllerURL + "SaveProtocolLine2" + "?HeaderId=" + parseInt($("#HeaderId").val()), 2);


        var TableData3 = []; //initialize array;
        var lstProtocolLines3 = ""; //empty var;
        $("table#tblProtocolLines3 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData3[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "Location": $('td.Location input', this).val(),
                "ActualValue1": $('td.ActualValue1 input', this).val(),
                "ActualValue2": $('td.ActualValue2 input', this).val(),
                "ActualValue3": $('td.ActualValue3 input', this).val(),
                "ActualValue4": $('td.ActualValue4 input', this).val(),
                "ActualValue5": $('td.ActualValue5 input', this).val(),
                "ActualValue6": $('td.ActualValue6 input', this).val(),
                "ActualValue7": $('td.ActualValue7 input', this).val(),
                "ActualValue8": $('td.ActualValue8 input', this).val(),
                "ActualValue9": $('td.ActualValue9 input', this).val(),
                "ActualValue10": $('td.ActualValue10 input', this).val(),
                "ActualValue11": $('td.ActualValue11 input', this).val(),
                "ActualValue12": $('td.ActualValue12 input', this).val(),
            };
            lstProtocolLines3 = JSON.stringify(TableData3);
        });
        SaveAsDraftProtocolLine(lstProtocolLines3, ControllerURL + "SaveProtocolLine3" + "?HeaderId=" + parseInt($("#HeaderId").val()), 3);

        var TableData4 = []; //initialize array;
        var lstProtocolLines4 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines4 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData4[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "IdentificationMarking": $('td.IdentificationMarking textarea', this).val(),
            };

            lstProtocolLines4 = JSON.stringify(TableData4);
        });
        SaveAsDraftProtocolLine(lstProtocolLines4, ControllerURL + "SaveProtocolLine4" + "?HeaderId=" + parseInt($("#HeaderId").val()), 4);
    }

    function AddTbl1NewTrRow(NewTrRowNum) {
        $("#hdGrid1LastRow").val(NewTrRowNum);
        var strhtml =
        "<tr class=\"islastrow\">" +
        "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
        "<td class=\"LineId\" style=\"display:none;\">0</td>" +
        "<td class=\"Orientation\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','Orientation',['Orientation'],AddTbl1NewTrRow)\" id=\"Orientation_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"Orientation_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" value=\"\" aria-invalid=\"false\"></td>" +
        "<td class=\"ActOutsideDiameter\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox\"  id=\"ActOutsideDiameter_1_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActOutsideDiameter_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td class=\"ActInsideDiameter\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox\"  id=\"ActInsideDiameter_1_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActInsideDiameter_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td  class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines1')\" style=\"display:none\"></i></td>" +
        "</tr>";

        return strhtml;
    }

    function AddTbl2NewTrRow(NewTrRowNum) {
        $("#hdGrid2LastRow").val(NewTrRowNum);
        var TGroup = $("#hdGrid2TotalGroup").val();
        var seamfn = "AddNextRow(this,null,false,2,'hdGrid2LastRow','tblProtocolLines2','SeamNo',['SeamNo'],AddTbl2NewTrRow)";
        var fn = "AddNextRow(this,null,false,2,'hdGrid2LastRow','tblProtocolLines2','SeamNo',['SeamNo'],AddTbl2NewTrRow)";
        var tTbody = 0;

        tTbody = $("#hdGrid2TotalTbody").val();
        var t1 = parseInt(tTbody) + 1;
        var t2 = parseInt(tTbody) + 2;

        var tG = parseFloat(TGroup) + 1;

        var strhtml = "<tr class=\"islastrow row_" + t1 + " \" >" +
            +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
            + "<td class=\"LineId\" style=\"display:none;\">0</td>"
            + "<td class=\"SeamNo center \" rowspan=\"2\"><input class=\"form-control  islastrow EditableTextColor QCTextbox\" id=\"SeamNo_2_" + NewTrRowNum + "\" maxlength=\"16\" name=\"SeamNo_2_" + NewTrRowNum + "\" role=\"QC\" type=\"text\"  onblur=\"" + fn + "\"></td>"
            + "<td style=\"text-align: center;\">ACT. MAX.</td>"
            + "<td class=\"ActMaxRootGap center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMaxRootGap_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMaxRootGap_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ActMaxRootFace center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMaxRootFace_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMaxRootFace_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ActMaxTopSideWepAngle center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMaxTopSideWepAngle_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMaxTopSideWepAngle_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ActMaxBottomSideWepAngle center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMaxBottomSideWepAngle_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMaxBottomSideWepAngle_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ActMaxOffset center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMaxOffset_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMaxOffset_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteNewTable('" + tG + "')\" style=\"display:none\"></i></td>"


            + "</tr>" +
            "<tr class=\"islastrow row_" + t2 + " \" >" +
            +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
            + "<td class=\"LineId\" style=\"display:none;\">0</td>"
            + "<td style=\"text-align: center;\">ACT. MIN.</td>"
            + "<td class=\"ActMinRootGap center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMinRootGap_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMinRootGap_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ActMinRootFace center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMinRootFace_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMinRootFace_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ActMinTopSideWepAngle center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMinTopSideWepAngle_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMinTopSideWepAngle_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ActMinBottomSideWepAngle center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMinBottomSideWepAngle_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMinBottomSideWepAngle_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ActMinOffset center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMinOffset_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMinOffset_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"

            + "<td class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
            + "</tr></tbody>";


        $("#hdGrid2TotalTbody").val(t2);
        $("#hdGrid2TotalGroup").val(tG);

        return strhtml;
    }
    function DeleteNewTable(No) {
        $(".tab_new_" + No).remove();
    }

    function AddTbl3NewTrRow(NewTrRowNum) {
        $("#hdGrid3LastRow").val(NewTrRowNum);
        var seamfn = "AddNextRow(this,'OutByLocation',false,3,'hdGrid3LastRow','tblProtocolLines3','Location',['Location'],AddTbl3NewTrRow)";
        var strhtml = "<tr class=\"islastrow\" >" +
            +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
            + "<td class=\"LineId\" style=\"display:none;\">0</td>"
            + "<td class=\"Location center \"><input class=\"form-control islastrow  QCTextbox EditableTextColor\" id=\"Location_3_" + NewTrRowNum + "\" maxlength=\"20\" name=\"Location_3_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"" + seamfn + "\"></td>"
            + "<td class=\"ActualValue1 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue1_3_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue1_3_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue2 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue2_3_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue2_3_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue3 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue3_3_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue3_3_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue4 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue4_3_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue4_3_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue5 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue5_3_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue5_3_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue6 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue6_3_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue6_3_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue7 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue7_3_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue7_3_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue8 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue8_3_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue8_3_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue9 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue9_3_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue9_3_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue10 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue10_3_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue10_3_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue11 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue11_3_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue11_3_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue12 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue12_3_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue12_3_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"DeleteAction\"><i id=\"Delete_3_" + NewTrRowNum + "\" name=\"Delete_3_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
            + "</tr>";

        return strhtml;
    }

    function AddTbl4NewTrRow(NewTrRowNum) {
        $("#hdGrid4LastRow").val(NewTrRowNum);
        var strhtml =
        "<tr class=\"islastrow\">" +
        "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
        "<td class=\"LineId\" style=\"display:none;\">0</td>" +
        "<td class=\"IdentificationMarking\"><textarea class=\"form-control  clsAddNew EditableTextColor PRODTextbox islastrow valid\" onblur=\"AddNextRow(this,null,false,4,'hdGrid4LastRow','tblProtocolLines4','IdentificationMarking',['IdentificationMarking'],AddTbl4NewTrRow)\" id=\"IdentificationMarking_4_" + NewTrRowNum + "\" maxlength=\"200\" name=\"IdentificationMarking_4_" + NewTrRowNum + "\" role=\"PROD\"  value=\"\" aria-invalid=\"false\"></textarea></td>" +
        "<td  class=\"DeleteAction\"><i id=\"Delete_4_" + NewTrRowNum + "\" name=\"Delete_4_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines4')\" style=\"display:none\"></i></td>" +
        "</tr>";

        return strhtml;
    }


    function funCalLoc1() {
        calculateMaxMin("calloc1", "OutByLocation1");
    }
    //function funCalLoc2() {
    //    calculateMaxMin("calloc2", "OutByLocation2");
    //}
    //function funCalLoc3() {
    //    calculateMaxMin("calloc3", "OutByLocation3");
    //}
    //function funCalLoc4() {
    //    calculateMaxMin("calloc4", "OutByLocation4");
    //}
    //function funCalLoc5() {
    //    calculateMaxMin("calloc5", "OutByLocation5");
    //}
    //function funCalLoc6() {
    //    calculateMaxMin("calloc6", "OutByLocation6");
    //}
    //function funCalLoc7() {
    //    calculateMaxMin("calloc7", "OutByLocation7");
    //}
    //function funCalLoc8() {
    //    calculateMaxMin("calloc8", "OutByLocation8");
    //}
    //function funCalLoc9() {
    //    calculateMaxMin("calloc9", "OutByLocation9");
    //}
    //function funCalLoc10() {
    //    calculateMaxMin("calloc10", "OutByLocation10");
    //}
    //function funCalLoc11() {
    //    calculateMaxMin("calloc11", "OutByLocation11");
    //}
    //function funCalLoc12() {
    //    calculateMaxMin("calloc12", "OutByLocation12");
    //}

</script>