﻿<div style="height: 350px; overflow-y: auto" data-always-visible="1" data-rail-visible="0">
    <ul class="feeds">
        @foreach (var p in ViewBag.LoadData)
        {
        <li  >
            <div class="col1">
                <div class="cont">
                    <div class="cont-col1">
                        <div class="label label-sm label-info">
                            <i class="fa fa-bullhorn"></i>
                        </div>
                    </div>
                    <div class="cont-col2">
                        <div class="desc"> @p.ContractNo - @p.ContractName, @p.CustomerNo - @p.CustomerName, @p.ContractMgrPSNo - @p.ContractMgrName </div>
                    </div>
                </div>
            </div>
            <div class="col2" >
                <div class="date" style="color: @(Convert.ToString(p.CDDText).Contains("Overdue") ? "Red" : "#333" )"> @p.CDDText @*<br /> @p.ContractDeliveryDate.ToShortDateString()*@ </div>
            </div>
        </li>
        }
    </ul>
</div>
