﻿<script>
    $(document).ready(function () {

        GetDispatchData("Overdue");

        $('a[name="tabDispatch"]').click(function () {
            $("#searchDispatch").val("");
            GetDispatchData($(this).attr('spara'));
        });

        $("#searchDispatch").keyup(function (e) {
            if (e.keyCode == 13) {
                    GetDispatchData($('.dispatchtabs li.active a').attr('spara'), $("#searchDispatch").val());
            }
        });

    });

    function GetDispatchData(status, searchText) {
        $("#dispatch_overdue").empty();
        $("#dispatch_week").empty();
        $("#dispatch_month").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/MyDashboard/Dashboard/LoadDispatchPartialView",
            datatype: 'html',
            async: true,
            data: { type: status, term: searchText },
            success: function (result) {
                if (status == "Overdue") {
                    $("#dispatch_overdue").html(result);
                }
                else if (status == "Week") {
                    $("#dispatch_week").html(result);
                }
                else
                {
                    $("#dispatch_month").html(result);
                }
            },
            error: function () {
            }
        });
    }

</script>
<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-globe font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Dispatch</span>
                </div>
                <div class="portlet-input input-inline" style="margin-left: 2%;">
                    <div class="input-icon right">
                        <i class="icon-magnifier"></i>
                        <input type="text" id="searchDispatch" name="searchDispatch" class="form-control input-circle" placeholder="search...">
                    </div>
                </div>
                <ul class="nav nav-tabs dispatchtabs">
                    <li class="active">
                        <a href="#dispatch_overdue" class="active" name="tabDispatch" id="tabOverdue" spara="Overdue" data-toggle="tab"> Overdue </a>
                    </li>
                    <li>
                        <a href="#dispatch_week" name="tabDispatch" id="tabWeek" spara="Week" data-toggle="tab"> This Week </a>
                    </li>
                    <li>
                        <a href="#dispatch_month" name="tabDispatch" id="tabMonth" spara="Month" data-toggle="tab"> This Month </a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <!--BEGIN TABS-->
                <div class="tab-content">
                    <div class="tab-pane active" id="dispatch_overdue">

                    </div>
                    <div class="tab-pane" id="dispatch_week">

                    </div>
                    <div class="tab-pane" id="dispatch_month">

                    </div>
                </div>
                <!--END TABS-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
