﻿
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @*@{
                string strCTQTitle = ViewBag.Status + " CSR_MOM";
            }
            @strCTQTitle*@
            Projects
        </div>
        <div class="tools"> </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblCTQHeader" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">Project</th>
                    <th class="min-phone-l">Equipment No</th>
                    <th class="min-phone-l">Customer</th> 
                    <th class="min-phone-l">PO </th>
                    <th class="min-phone-l">CSR Rev.</th>
                    <th class="min-phone-l">Status</th> 
                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        var table = $('#tblCTQHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/CSR/CreateCSR/LoadCSRHeaderData?" + "Project=" + $("#hdnchkProject").val(),
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'async': false
                });
            },
            "columns": [

               {
                   "bSortable": true,
                   "sClass": "center",
                   "name": "Project"
               },
               {
                   "bSortable": true,
                   "sClass": "center",
                   "name": "Equipment"
               },
               {
                   "bSortable": true,
                   "sClass": "center",
                   "name": "Customer"
               },
               {
                   "bSortable": true,
                   "sClass": "clsCenter",
                   "name": "PO"
               },
               {
                   "bSortable": true,
                   "sClass": "center",
                   "name": "RevNo",
                   "attr": "numeric"
               },
               {
                   "bSortable": true,
                   "sClass": "center",
                   "name": "Status"
               },
               {
                   "bSortable": false,
                   "sClass": "center"
               }
            ]
        });
        table.dtSearchFilter();
    });
    function PrintReport(headerid) {
        bootbox.dialog({
            title: 'CSR Report',
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        url = "/CSR/CSM";
                        var dat = [];
                        dat.push({ Param: "HeaderId", Value: headerid });
                        ShowReport(dat, url, true);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn red'
                }
            }
        });
    }

    function ViewHistoryData(headerId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/CSR/CreateCSR/GetHistoryDetails",
            datatype: 'html',
            async: false,
            data: { headerId: headerId, forAction: 'maintain' },
            success: function (result) {
                bootbox.dialog({
                    title: 'History Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }
</script>
