﻿
@{
    ViewBag.Title = "Maintain CSR";

    if (@ViewBag.chkProject != null && @ViewBag.chkProject != "")
    {
        Layout = "~/Views/Shared/_DESLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<script>
    $(document).ready(function () {
        
        if ($("#hdnExistProject").val() != null && $("#hdnExistProject").val() !="")
        {            
            $('.clsExist').hide();            
        }
        
        GetHeaderGridDataPartial('Pending');

        $('a[name="tabStatus"]').click(function () {
            GetHeaderGridDataPartial($(this).attr('spara'));
        });
    });

    function GetHeaderGridDataPartial(status)
    {
        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/CSR/CreateCSR/GetHeaderGridDataPartial",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { status: status },
            success: function (result) {
                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                }
                else {
                    $("#portlet_comments_2").html(result);
                }
            },
            error: function () {
            }
        });
    }

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnHistory").click(function () {
            $.ajax({
                type: "POST",
                url: WebsiteURL +"/CSR/CreateCSR/GetHistoryDataPartial",
                datatype: 'html',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: {},
                success: function (result) {
                    bootbox.dialog({
                        title: 'History of Contract and Specification Review ',
                        message: result,
                        buttons: {
                            'cancel': {
                                label: 'Cancel',
                                className: 'btn red'
                            }
                        }

                    });
                },
                error: function () {
                }
            });
        });

         @*$("#btnHistory").click(function () {
             alert(1);
             $.ajax({
                 type: "POST",
                 url: "/CSR/CreateCSR/LoadCSRHisotryFormPartial",
                 datatype: 'html',
                 beforeSend: function () {
                     showLoading(true);
                 },
                 complete: function () {
                     showLoading(false);
                 },
                 async: false,
                 data: { HeaderID: $('#txtHeaderId').val()},
                 success: function (result) {
                     bootbox.dialog({
                         title: 'History',
                         message: result,
                         size: 'large',
                     }).find("div.modal-dialog").addClass("clsBootBoxWidth");
                 },
                 error: function () {
                 }
             });
         });*@
    });
</script>

 @*$("#btnHistory").click(function () {
            alert(1);
            $.ajax({
                type: "POST",
                url: "/CSR/CreateCSR/LoadCSRHisotryFormPartial",
                datatype: 'html',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                async: false,
                data: { HeaderID: $('#txtHeaderId').val()},
                success: function (result) {
                    bootbox.dialog({
                        title: 'History',
                        message: result,
                        size: 'large',
                    }).find("div.modal-dialog").addClass("clsBootBoxWidth");
                },
                error: function () {
                }
            });
        });*@

<input type="hidden" id="hdnchkProject" value="@ViewBag.chkProject" />
<input type="hidden" id="hdnExistProject" value="@ViewBag.ExistProject" />
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Maintain CSR@*Contract and Specification Review*@
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="text-align:right">

                                @*<input type="button" class="btn green" id="btnHistory" value="History" style="margin-right:5px;" />*@

                                @if (@ViewBag.chkProject != null && @ViewBag.chkProject != "")
                                {
                                    <a href="~/CSR/CreateCSR/AddUpdateCSR?Project=@ViewBag.chkProject" style="float: right;" class="btn green clsExist">Add New</a>
                                }
                                else
                                {
                                    <a href="~/CSR/CreateCSR/AddUpdateCSR" style="float: right;" class="btn green">Add New</a>
                                }
                                @*<a href="~/CSR/CreateCSR/AddUpdateCSR" style="float: right;" class="btn green">Add New</a>*@
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">
                        </div>
                        <div class="tab-pane" id="portlet_comments_2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

