﻿@using IEMQSImplementation
@model PRO090
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="row col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ProtocolNo, new { @role = "QC", @class = "form-control ", @maxLength = "50" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="divScroll">
                                    <table id="tblovality" class="FormTable">
                                        <tr>
                                            <td class="title" colspan="3">INSPECTION DESCREPTION</td>
                                            <td class="title">REQ. DIMENSION </td>
                                            <td class="title">ACTUAL DIMENSION</td>
                                            <td class="title" colspan="3">APPLICABLE TOLERANCES </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">OUTSIDE  DIAMETER</td>
                                            <td>@Html.TextBoxFor(m => m.ReqDimension1, new { @role = "QC", @class = "form-control", @maxlength = 25 })</td>
                                            <td>@Html.TextBoxFor(m => m.ActDimension1, new { @role = "PROD", @class = "form-control ", @maxlength = 25 }) </td>
                                            <td>@Html.TextBoxFor(m => m.AppTolerance11, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td colspan="2">@Html.TextBoxFor(m => m.AppTolerance21, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">BOLT CIRCLE DIAMETER</td>
                                            <td>@Html.TextBoxFor(m => m.ReqDimension2, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td>@Html.TextBoxFor(m => m.ActDimension2, new { @role = "PROD", @class = "form-control", @maxlength = 25 }) </td>
                                            <td>@Html.TextBoxFor(m => m.AppTolerance12, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td colspan="2">@Html.TextBoxFor(m => m.AppTolerance22, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">INSIDE  DIAMETER</td>
                                            <td>@Html.TextBoxFor(m => m.ReqDimension3, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td>@Html.TextBoxFor(m => m.ActDimension3, new { @role = "PROD", @class = "form-control  ", @maxlength = 25 }) </td>
                                            <td>@Html.TextBoxFor(m => m.AppTolerance13, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td colspan="2">@Html.TextBoxFor(m => m.AppTolerance23, new { @role = "QC", @class = "form-control", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">BOLT HOLE DIAMETER</td>
                                            <td>@Html.TextBoxFor(m => m.ReqDimension4, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td>@Html.TextBoxFor(m => m.ActDimension4, new { @role = "PROD", @class = "form-control ", @maxlength = 25 }) </td>
                                            <td>@Html.TextBoxFor(m => m.AppTolerance14, new { @role = "QC", @class = "form-control", @maxlength = 25 })</td>
                                            <td colspan="2">@Html.TextBoxFor(m => m.AppTolerance24, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">ORIENTATION OF NOTCHES</td>
                                            <td>@Html.TextBoxFor(m => m.ReqDimension5, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td>@Html.TextBoxFor(m => m.ActDimension5, new { @role = "PROD", @class = "form-control ", @maxlength = 25 }) </td>
                                            <td>@Html.TextBoxFor(m => m.AppTolerance15, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td colspan="2">@Html.TextBoxFor(m => m.AppTolerance25, new { @role = "QC", @class = "form-control", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">NO.OF BOLT HOLES</td>
                                            <td>@Html.TextBoxFor(m => m.ReqDimension6, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td>@Html.TextBoxFor(m => m.ActDimension6, new { @role = "PROD", @class = "form-control c", @maxlength = 25 }) </td>
                                            <td>@Html.TextBoxFor(m => m.AppTolerance16, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td colspan="2">@Html.TextBoxFor(m => m.AppTolerance26, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">BOLT HOLE PITCH</td>
                                            <td>@Html.TextBoxFor(m => m.ReqDimension7, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td>@Html.TextBoxFor(m => m.ActDimension7, new { @role = "PROD", @class = "form-control", @maxlength = 25 }) </td>
                                            <td>@Html.TextBoxFor(m => m.AppTolerance17, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td colspan="2">@Html.TextBoxFor(m => m.AppTolerance27, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">THICKNESS OF TEMPLATE RING</td>
                                            <td>@Html.TextBoxFor(m => m.ReqDimension8, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td>@Html.TextBoxFor(m => m.ActDimension8, new { @role = "PROD", @class = "form-control ", @maxlength = 25 }) </td>
                                            <td>@Html.TextBoxFor(m => m.AppTolerance18, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td colspan="2">@Html.TextBoxFor(m => m.AppTolerance28, new { @role = "QC", @class = "form-control", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">HEIGHT OF TEMPLATE </td>
                                            <td>@Html.TextBoxFor(m => m.ReqDimension9, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td>@Html.TextBoxFor(m => m.ActDimension9, new { @role = "PROD", @class = "form-control ", @maxlength = 25 }) </td>
                                            <td>@Html.TextBoxFor(m => m.AppTolerance19, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td colspan="2">@Html.TextBoxFor(m => m.AppTolerance29, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">ALIGNMENT OF HOLES</td>
                                            <td>@Html.TextBoxFor(m => m.ReqDimension10, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td>@Html.TextBoxFor(m => m.ActDimension10, new { @role = "PROD", @class = "form-control c", @maxlength = 25 }) </td>
                                            <td>@Html.TextBoxFor(m => m.AppTolerance110, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td colspan="2">@Html.TextBoxFor(m => m.AppTolerance210, new { @role = "QC", @class = "form-control", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" rowspan="2">FLATNESS OF TEMPLATE(IF APPLICABLE)</td>
                                            <td>@Html.TextBoxFor(m => m.ReqDimension11, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td>@Html.TextBoxFor(m => m.ActDimension11, new { @role = "PROD", @class = "form-control ", @maxlength = 25 }) </td>
                                            <td>@Html.TextBoxFor(m => m.AppTolerance111, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                            <td colspan="2">@Html.TextBoxFor(m => m.AppTolerance211, new { @role = "QC", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">

                                <table id="tblovality" class="FormTable">
                                    <tr>
                                        <td colspan="3" class="title">BOLT CIRCLE DIAMTER</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="subtitle">HOLE TO HOLE</td>
                                        <td class="subtitle">BCD DIM.</td>
                                    </tr>
                                    <tr>
                                        <td>H1</td>
                                        <td>H23</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim1, new { @role = "PROD", @class = "form-control", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H2</td>
                                        <td>H24</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim2, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H3</td>
                                        <td>H25</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim3, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H4</td>
                                        <td>H26</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim4, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H5</td>
                                        <td>H27</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim5, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H6</td>
                                        <td>H28</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim6, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H7</td>
                                        <td>H29</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim7, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H8</td>
                                        <td>H30</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim8, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H9</td>
                                        <td>H31</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim9, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H10</td>
                                        <td>H32</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim10, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H11</td>
                                        <td>H33</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim11, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H12</td>
                                        <td>H34</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim12, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H13</td>
                                        <td>H35</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim13, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H14</td>
                                        <td>H36</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim14, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H15</td>
                                        <td>H37</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim15, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H16</td>
                                        <td>H38</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim16, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H17</td>
                                        <td>H39</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim17, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H18</td>
                                        <td>H40</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim18, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H19</td>
                                        <td>H41</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim19, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H20</td>
                                        <td>H42</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim20, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H21</td>
                                        <td>H43</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim21, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                    <tr>
                                        <td>H22</td>
                                        <td>H44</td>
                                        <td>@Html.TextBoxFor(m => m.BcdDim22, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                    </tr>
                                </table>

                            </div>
                            <div class="col-md-4">
                                <div class="divScroll">
                                    <table id="tblovality" class="FormTable">
                                        <tr>
                                            <td colspan="3" class="title">BOLT HOLE PITCH DIMENSION</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="subtitle">HOLE TO HOLE</td>
                                            <td class="subtitle">PITCH DIM.</td>
                                        </tr>
                                        <tr>
                                            <td>H1</td>
                                            <td>H2</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim1, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H2</td>
                                            <td>H3</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim2, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H3</td>
                                            <td>H4</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim3, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H4</td>
                                            <td>H5</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim4, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H5</td>
                                            <td>H6</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim5, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H6</td>
                                            <td>H7</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim6, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H7</td>
                                            <td>H8</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim7, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H8</td>
                                            <td>H9</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim8, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>

                                        <tr>
                                            <td>H9</td>
                                            <td>H10</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim9, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H10</td>
                                            <td>H11</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim10, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H11</td>
                                            <td>H12</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim11, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H12</td>
                                            <td>H13</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim12, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H13</td>
                                            <td>H14</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim13, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>

                                        <tr>
                                            <td>H14</td>
                                            <td>H15</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim14, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H15</td>
                                            <td>H16</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim15, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H16</td>
                                            <td>H17</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim16, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H17</td>
                                            <td>H18</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim17, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H18</td>
                                            <td>H19</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim18, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H19</td>
                                            <td>H20</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim19, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H20</td>
                                            <td>H21</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim20, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H21</td>
                                            <td>H22</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim21, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H22</td>
                                            <td>H23</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim22, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="divScroll">
                                    <table id="tblovality" class="FormTable">
                                        <tr>
                                            <td colspan="3" class="title">BOLT HOLE PITCH DIMENSION</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="subtitle">HOLE TO HOLE</td>
                                            <td class="subtitle">PITCH DIM.</td>
                                        </tr>
                                        <tr>
                                            <td>H23</td>
                                            <td>H24</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim23, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H24</td>
                                            <td>H25</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim24, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H25</td>
                                            <td>H26</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim25, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H26</td>
                                            <td>H27</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim26, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H27</td>
                                            <td>H28</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim27, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H28</td>
                                            <td>H29</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim28, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H29</td>
                                            <td>H30</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim29, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H30</td>
                                            <td>H31</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim30, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>

                                        <tr>
                                            <td>H31</td>
                                            <td>H32</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim31, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H32</td>
                                            <td>H33</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim32, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H33</td>
                                            <td>H34</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim33, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H34</td>
                                            <td>H35</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim34, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H35</td>
                                            <td>H36</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim35, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>

                                        <tr>
                                            <td>H36</td>
                                            <td>H37</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim36, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H37</td>
                                            <td>H38</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim37, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H38</td>
                                            <td>H39</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim38, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H39</td>
                                            <td>H40</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim39, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H40</td>
                                            <td>H41</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim40, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H41</td>
                                            <td>H42</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim41, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H42</td>
                                            <td>H43</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim42, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H43</td>
                                            <td>H44</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim43, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                        <tr>
                                            <td>H44</td>
                                            <td>H1</td>
                                            <td>@Html.TextBoxFor(m => m.PitchDim44, new { @role = "PROD", @class = "form-control ", @maxlength = 25 })</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="divScroll">
                                    <table id="tblovality" class="FormTable traysupport">
                                        <tr>
                                            <td colspan="12" class="title">HEIGHT OF TEMPLATE&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBoxFor(model => model.HeightReq, new { @class = "form-control numeric-only", @style = "display: inline-block;width: 150px; ", @maxlength = "10", @role = "PROD" })</td>
                                         </tr>
                                        <tr>
                                            <td class="subtitle">ORIENTATION</td>
                                            <td>0&#176;</td>
                                            <td>45&#176;</td>
                                            <td>90&#176;</td>
                                            <td>135&#176;</td>
                                            <td>180&#176;</td>
                                            <td>225&#176;</td>
                                            <td colspan="2">270&#176;</td> 
                                            <td colspan="2">315&#176;</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">ACT.HEIGHT</td>
                                            <td>@Html.TextBoxFor(m => m.HeightAct1, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>@Html.TextBoxFor(m => m.HeightAct2, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>@Html.TextBoxFor(m => m.HeightAct3, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>@Html.TextBoxFor(m => m.HeightAct4, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>@Html.TextBoxFor(m => m.HeightAct5, new { @role = "PROD", @class = "form-control numeric-only ", @maxlength = 10 })</td>
                                            <td>@Html.TextBoxFor(m => m.HeightAct6, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>@Html.TextBoxFor(m => m.HeightAct7, new { @role = "PROD", @class = "form-control numeric-only ", @maxlength = 10 })</td>
                                            <td>@Html.TextBoxFor(m => m.HeightAct8, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>@Html.TextBoxFor(m => m.HeightAct9, new { @role = "PROD", @class = "form-control numeric-only inlinetextbox", @maxlength = 10 })</td>
                                            <td>@Html.TextBoxFor(m => m.HeightAct10, new { @role = "PROD", @class = "form-control numeric-only inlinetextbox", @maxlength = 10 })</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="divScroll">
                                    <table id="tblovality" class="FormTable ">
                                        <tr>
                                            <td colspan="12" class="title">OVALITY READINGS&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBoxFor(model => model.DiameterReq, new { @class = "form-control numeric-only", @style = "display: inline-block;width: 150px; ", @maxlength = "10", @role = "QC" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">ORIENTATION</td>
                                            <td colspan="2">0&#176; - 180&#176;</td>
                                            <td colspan="2">45&#176; - 225&#176;</td>
                                            <td colspan="2">90&#176; - 270&#176;</td>
                                            <td colspan="2">135&#176; - 315&#176;</td>
                                            <td colspan="2">OVALITY </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">ACT. DIAMETER</td>
                                            <td colspan="2">@Html.TextBoxFor(m => m.DiameterAct1, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 }) </td>
                                            <td colspan="2">@Html.TextBoxFor(m => m.DiameterAct2, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 }) </td>
                                            <td colspan="2">@Html.TextBoxFor(m => m.DiameterAct3, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 }) </td>
                                            <td colspan="2">@Html.TextBoxFor(m => m.DiameterAct4, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 }) </td>
                                            <td colspan="2">@Html.TextBoxFor(m => m.DiameterAct5, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 }) </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="divScroll">
                                    <img src="~/Images/PROTOCOL019_img.png" />
                                    <table id="tblovality" class="FormTable">
                                        <tr>
                                            <td class="title" colspan="12">HOLE - A1 </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">HOLE TO HOLE</td>
                                            <td class="subtitle">DIMENSION</td>
                                            <td class="subtitle">HOLE TO HOLE</td>
                                            <td class="subtitle">DIMENSION</td>
                                            <td class="subtitle">HOLE TO HOLE</td>
                                            <td class="subtitle">DIMENSION</td>
                                        </tr>
                                        <tr>
                                            <td>A1 - A2</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA1, new { @role = "PROD", @class = "form-control  numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A17</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA2, new { @role = "PROD", @class = "form-control   numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A32</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA3, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>

                                        </tr>


                                        <tr>
                                            <td>A1 - A3</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA4, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A18</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA5, new { @role = "PROD", @class = "form-control   numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A33</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA6, new { @role = "PROD", @class = "form-control   numeric-only", @maxlength = 10 })</td>

                                        </tr>
                                        <tr>
                                            <td>A1 - A4</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA7, new { @role = "PROD", @class = "form-control  numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A19</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA8, new { @role = "PROD", @class = "form-control   numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A34</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA9, new { @role = "PROD", @class = "form-control  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A1 - A5</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA10, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A20</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA11, new { @role = "PROD", @class = "form-control   numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A35</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA12, new { @role = "PROD", @class = "form-control   numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A1 - A6</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA13, new { @role = "PROD", @class = "form-control numeric-only ", @maxlength = 10 })</td>
                                            <td>A1 - A21</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA14, new { @role = "PROD", @class = "form-control  numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A36</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA15, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A1 - A7</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA16, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A22</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA17, new { @role = "PROD", @class = "form-control  numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A37</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA18, new { @role = "PROD", @class = "form-control  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A1 - A8</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA19, new { @role = "PROD", @class = "form-control  numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A23</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA20, new { @role = "PROD", @class = "form-control   numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A38</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA21, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A1 - A9</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA22, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A24</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA23, new { @role = "PROD", @class = "form-control   numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A39</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA24, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A1 - A10</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA25, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A25</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA26, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A40</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA27, new { @role = "PROD", @class = "form-control   numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A1 - A11</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA28, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A26</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA29, new { @role = "PROD", @class = "form-control   numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A41</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA30, new { @role = "PROD", @class = "form-control   numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A1 - A12</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA31, new { @role = "PROD", @class = "form-control col-md-12 numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A27</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA32, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A42</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA33, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A1 - A13</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA34, new { @role = "PROD", @class = "form-control col-md-12 numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A28</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA35, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A43</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA36, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A1 - A14</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA37, new { @role = "PROD", @class = "form-control col-md-12 numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A29</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA38, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A44</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA39, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A1 - A15</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA40, new { @role = "PROD", @class = "form-control col-md-12 numeric-only", @maxlength = 10 })</td>
                                            <td>A1 - A30</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA41, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A1 - A16</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA42, new { @role = "PROD", @class = "form-control col-md-12 numeric-only ", @maxlength = 10 })</td>
                                            <td>A1 - A31</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA43, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="divScroll">
                                    <table id="tblovality" class="FormTable">
                                        <tr>
                                            <td class="title" colspan="12">HOLE - B1 </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">HOLE TO HOLE</td>
                                            <td class="subtitle">DIMENSION</td>
                                            <td class="subtitle">HOLE TO HOLE</td>
                                            <td class="subtitle">DIMENSION</td>
                                            <td class="subtitle">HOLE TO HOLE</td>
                                            <td class="subtitle">DIMENSION</td>
                                        </tr>
                                        <tr>
                                            <td>B1 - B2</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB1, new { @role = "PROD", @class = "form-control col-md-12 numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B17</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB2, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B32</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB3, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>B1 - B3</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB4, new { @role = "PROD", @class = "form-control col-md-12 numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B18</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB5, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B33</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB6, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>B1 - B4</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB7, new { @role = "PROD", @class = "form-control col-md-12 numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B19</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB8, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B34</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB9, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>B1 - B5</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB10, new { @role = "PROD", @class = "form-control col-md-12 numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B20</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB11, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B35</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB12, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>B1 - B6</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB13, new { @role = "PROD", @class = "form-control col-md-12 numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B21</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB14, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B36</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB15, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>B1 - B7</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB16, new { @role = "PROD", @class = "form-control col-md-12 numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B22</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB17, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B37</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB18, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>

                                        </tr>
                                        <tr>
                                            <td>B1 - B8</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB19, new { @role = "PROD", @class = "form-control col-md-12 numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B23</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB20, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B38</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB21, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>B1 - B9</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB22, new { @role = "PROD", @class = "form-control col-md-12 numeric-only ", @maxlength = 10 })</td>
                                            <td>B1 - B24</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB23, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B39</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB24, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>B1 - B10</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB25, new { @role = "PROD", @class = "form-control col-md-12 numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B25</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB26, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B40</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB27, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>B1 - B11</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB28, new { @role = "PROD", @class = "form-control col-md-12 numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B26</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB29, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B41</td>
                                            <td>@Html.TextBoxFor(m => m.HoleA30, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>B1 - B12</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB31, new { @role = "PROD", @class = "form-control col-md-12 numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B27</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB32, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B42</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB33, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>B1 - B13</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB34, new { @role = "PROD", @class = "form-control col-md-12 numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B28</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB35, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B43</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB36, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>B1 - B14</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB37, new { @role = "PROD", @class = "form-control col-md-12 numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B29</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB38, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B44</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB39, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>B1 - B15</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB40, new { @role = "PROD", @class = "form-control col-md-12 numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B30</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB41, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>B1 - B16</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB42, new { @role = "PROD", @class = "form-control col-md-12 numeric-only", @maxlength = 10 })</td>
                                            <td>B1 - B31</td>
                                            <td>@Html.TextBoxFor(m => m.HoleB43, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="divScroll">
                                    <table id="tblovality" class="FormTable">
                                        <tr>
                                            <td class="title" colspan="12">BOLT HOLE DIAMETER </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">HOLE</td>
                                            <td class="subtitle">DIA.</td>
                                            <td class="subtitle">HOLE</td>
                                            <td class="subtitle">DIA.</td>
                                            <td class="subtitle">HOLE</td>
                                            <td class="subtitle">DIA.</td>
                                            <td class="subtitle">HOLE</td>
                                            <td class="subtitle">DIA.</td>
                                        </tr>
                                        <tr>
                                            <td>A1</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia1, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>A12</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia2, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A23</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia3, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A34</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia4, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>

                                        <tr>
                                            <td>A2</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia5, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>A13</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia6, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A24</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia7, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A35</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia8, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A3</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia9, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>A14</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia10, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A25</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia11, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A36</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia12, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A4</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia13, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>A15</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia14, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A26</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia15, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A37</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia16, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A5</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia17, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>A16</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia18, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A27</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia19, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A38</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia20, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A6</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia21, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>A17</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia22, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A28</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia23, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A39</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia24, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A7</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia25, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>A18</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia26, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A29</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia27, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A40</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia28, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A8</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia29, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>A19</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia30, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A30</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia31, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A41</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia32, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A9</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia33, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>A20</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia34, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A31</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia35, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A42</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia36, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A10</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia37, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>A21</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia38, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A32</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia39, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A43</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia40, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                        <tr>
                                            <td>A11</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia41, new { @role = "PROD", @class = "form-control numeric-only", @maxlength = 10 })</td>
                                            <td>A22</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia42, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A33</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia43, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                            <td>A44</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHoleDia44, new { @role = "PROD", @class = "form-control col-md-12  numeric-only", @maxlength = 10 })</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <table class="FormTable">
                                    <tr>
                                        <td class="title" colspan="2" style="text-align: left;"> Remarks:</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left; width: 90% !important">
                                            1) ALL DIMENSION ARE IN MM
                                        </td>
                                        <td style="text-align: left; width: 10% !important">
                                            @Html.TextBoxFor(m => m.Remark1, new { @class = "form-control col-md-12 w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;"> 2) CALIBRATED TAPE NO.& CAL.DATE:-</td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Remark2, new { @class = "form-control col-md-12 w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">3) HOLE NO.1 (H1) IS STARTED FROM 0º
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Remark3, new { @class = "form-control col-md-12 w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;"> 4) HOLE NO.A1 IS STARTED FROM 0º</td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Remark4, new { @class = "form-control col-md-12 w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">5) VISUAL CHECKED AND FOUND SATISFACTORY</td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Remark5, new { @class = "form-control col-md-12 w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;"> 6) TEMP. ATTACHMENT REMOVED AND SURFACE GROUND SMOOTH </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Remark6, new { @class = "form-control col-md-12 w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;"> 7) GAUGE PLATE MATCHING WITH TEMPLATE VERIFY AND FOUND SATISFACTORY</td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Remark7, new { @class = "form-control col-md-12 w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;"> 8) ALL PART HAS BEEN WELDED AS PER DRG.</td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Remark8, new { @class = "form-control col-md-12 w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;"> 9) IDENTIFICATION MARKING ON  TOP SIDE OF TEMPLATE  IS VERIFIED AS PER DRG. </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Remark9, new { @class = "form-control col-md-12 w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">10) ORIENTATION MARKING AT TOP SIDE OF TEMPLATE IS VERIFIED AS PER DRG.</td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Remark10, new { @class = "form-control col-md-12 w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;"> 11) STENCILLLING DETAIL ON TEMPLATE IS VERIFIED AS PER DRG. </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Remark11, new { @class = "form-control col-md-12 w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;"> 12) NOTCH DIMENSION ARE VERIFIED AS PER DRG.</td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Remark12, new { @class = "form-control col-md-12 w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;"> 13) IF TEMPLATE IN SEGMENT,VERIFY THE MATCH MARKING PUNCHING IS THERE</td>
                                        <td>
                                            @Html.TextBoxFor(m => m.Remark13, new { @class = "form-control col-md-12 w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;"></div>
                                <div class="col-md-6" style="text-align:right;">
                                    <input type="button" class="btn save" id="btnSave" value="Save" />
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<style>
    table.traysupport input {
        width: 110px !important;
    }
</style>
<script type="text/javascript" src="~/Scripts/protocols.js"></script>
<script>

    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';
    $(document).ready(function () {

        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true, });
        var lstYesNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoEnum))));
        var lstYesNoNA = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoNAEnum))));

        FillProtocolAutoComplete($('#Remark1'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark2'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark3'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark4'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark5'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark6'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark7'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark8'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark9'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark10'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark11'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark12'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark13'), lstYesNoNA, null, false);

    });

    $("#btnSave").click(function () {
           @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
           {
               <text>$('[role="PROD"]').prop("required", true);</text>
           }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
           {
               <text>$('[role="QC"]').prop("required", true);</text>
           }
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData" + Linkage, userRole);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

</script>









