﻿@using IEMQSImplementation
<style>
    .scenter {
        text-align: center;
    }

    .w300 {
        width: 300px !important;
    }

    .w150 {
        width: 150px !important;
    }

    .bordernone {
        border-top: none !important;
        background-color: white !important;
    }

    .bgcolor {
        background-color: white !important;
    }

    .hiderow {
    }
</style>

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Projects
        </div>
        <div class="tools" id="dvExportHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PDIN/Maintain/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-bordered table-hover" id="tblDinHeader" cellspacing="0">
            <thead>
                <tr>
                    <th class="hidden">DocumentSrNo</th>
                    <th class="all">#</th>
                    <th class="all">Project</th>
                    <th class="min-phone-l">Customer</th>
                    <th class="min-phone-l">CDD</th>
                    <th class="min-phone-l">Product</th>
                    <th class="none">DocumentName</th>
                    <th class="none">DocumentNo</th>
                    <th class="min-phone-l">Submit Date</th>
                    <th class="min-phone-l">Issue No.</th>
                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    var UtilityParams = undefined;
    $(document).ready(function () {
        var table = $('#tblDinHeader');

        UtilityParams = {
            sUrl: "/PDIN/Approve/LoadDINHeaderData",
            aServerParams: [{ "name": "CTQCompileStatus", "value": '@ViewBag.Status' }],
            bIsPaging: true,
            iPageLength: 10,
            aiLengthMenu: [5, 10, 25, 50, 100, 200, 500],
            bIsLazyLoading: false,
            iScrollY: 450,
            iResponsiveOnWindowWidth: 800,
            bIsResponsive: false,
            bIsSearchFilter: true,
            bBtnMaximize: true,
            bIsWrapHeader: false,
            bIsWrap: false,
            iFCLeft: 4,
            iFCRight: 1,
            sBtnDivSelector: "#dvExportHeader",
            bIsIgnoreHiddenColumns: false,
            fnServerDataCallback: function (aoData, data) {
                if ('@ViewBag.Status' != 'Pending') {
                    //console.log(table.find('.childs'));
                    $('#tblDinHeader_wrapper').find('.childs').hide();
                }
            },
            fnCreateRow: function (row, data, dataIndex) {
                if (parseInt(data[0]) > 0) {
                    $(row).find(".group1").addClass("bordernone");
                    $(row).addClass("childs");
                }
                else {
                    $(row).find(".group1").addClass("bgcolor");
                    $(row).find('td').css("border-top-color", 'lightgray');
                    $(row).addClass("parents");
                }
                if (data[2] != null || data[2] != "") {
                    let ProjectOtherDtl = data[11];
                    let title = "";
                    if (ProjectOtherDtl.length > 0) {
                        let ProjectOtherDtlArray = ProjectOtherDtl.split("#");
                        title += "PDIN Status : " + ProjectOtherDtlArray[0] + "\n";
                        title += "Process Licensor : " + ProjectOtherDtlArray[1] + "\n";
                        title += "Job Description : " + ProjectOtherDtlArray[2] + "\n";
                        title += "Created By : " + ProjectOtherDtlArray[3] + "\n";
                        title += "Created On : " + ProjectOtherDtlArray[4] + "\n";
                        title += "Issue By : " + ProjectOtherDtlArray[5] + "\n";
                        title += "Issue On : " + ProjectOtherDtlArray[6] + "\n";
                        title += "Applicable Projects : " + ProjectOtherDtlArray[7] + "\n";
                    }
                    //console.log(title);
                    //console.log($(row).find("td.clsProject"));
                    $(row).find("td.clsProject").attr('title', title);
                }
                $(row).attr("data-groupid", data[12]).attr("data-docno", data[0])
                //if (parseInt(data[3]) > 1) {
                //    $(row).find(".group2").addClass("bordernone");
                //}
                //else {
                //    $(row).find(".group2").addClass("bgcolor");
                //}
            },
            aoColumns: [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center clsProjecthead group1",
                },
                {
                    "name": "Project",
                    "sClass": "center clsProject group1",
                    "maxlength": 15
                },
                {
                    "name": "Customer",
                    "sClass": "center group1",
                    "maxlength": 15
                },
                {
                    "name": "CDD",
                    "sClass": "scenter group1",
                    "sWidth": "10%"
                },
                {
                    "name": "Product",
                    "sClass": "center group1",
                    "maxlength": 15
                },
                 {
                     "name": "DocumentName",
                     "sClass": "center",
                     "maxlength": 25
                 },
                {
                    "name": "DocumentNo",
                    "sClass": "center",
                },
                {
                    "name": "ModifiedOn",
                    "sClass": "center group1",
                },
                {
                    "name": "IssueNo",
                    "sClass": "center group1",
                },
                 {
                     "bSortable": false,
                     "sClass": "scenter group1",
                     "sWidth": "50px"
                 }
            ]
        };
        $('#tblDinHeader').dtUtility(UtilityParams);
    });

    function ExpandCollapsChild(img) {
        var groupid = $(img).attr("data-gid");
        var isexpand = $(img).attr("data-isexpand");
        console.log(isexpand);
        console.log(groupid);
        if (isexpand == "true") {
            $('#tblDinHeader_wrapper').find("[data-groupid=" + groupid + "]").not('.parents').hide();
            $("[data-gid=" + groupid + "]").attr("src", "/Images/details_open.png");
            $("[data-gid=" + groupid + "]").attr("data-isexpand", "false");
        }
        else {
            $('#tblDinHeader_wrapper').find("[data-groupid=" + groupid + "]").not('.parents').show();
            $("[data-gid=" + groupid + "]").attr("src", "/Images/details_close.png");
            $("[data-gid=" + groupid + "]").attr("data-isexpand", "true");
        }
        $('#tblDinHeader').DataTable().columns.adjust();        
    }

    function PrintPDIN(Project) {
        bootbox.dialog({
            title: 'Planning DIN Print',
            message: "Do you want to print Planning DIN?",
            buttons: {
                'confirm': {
                    label: 'Yes',
                    className: 'btn green',
                    callback: function () {
                        window.open(WebsiteURL + "/PDIN/Maintain/PrintPDIN?Project=" + Project + "&Role=" + '@IEMQS.Areas.PDIN.Controllers.PDINRole.Approver', '_blank');
                    }
                },
                'cancel': {
                    label: 'No',
                    className: 'btn red'
                }
            }
        });
    }
</script>
