﻿@using MvcSiteMapProvider.Web.Html
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title :: IEMQS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    @Styles.Render("~/Content/font-awesome/css")
    @Styles.Render("~/Content/bootstrap/css")
    @Scripts.Render("~/bundles/ThemeJs/js")
    @Scripts.Render("~/bundles/ThemeJsUI/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/jquery-validation/js")
    @Scripts.Render("~/bundles/select2/js")
    <script>
        WebsiteURL = '@System.Configuration.ConfigurationManager.AppSettings["WebsiteURL"]';
    </script>
   

    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/tableHeadFixer.js"></script>
    <script src="~/Scripts/printThis.js"></script>
    <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
</head>
<body>


    <style>
        .clsBootBoxWidth {
            width: 70% !important;
            margin: 30px auto !important;
        }

        /*.srno, .descriptions, .docno, .issueno {
            background-color: cornsilk;
            left: 0;
            position: relative;
        }

        .pdinheader {
            background-color: #c3eef2;
        }*/

        .center {
            text-align: center;
        }

        .table td {
            /*border: 1px solid !important;*/
        }

        .table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        .center.revno {
            background: lightblue none repeat scroll 0 0;
        }

        .selected {
            background-color: antiquewhite;
        }

        .select2-selection__rendered {
            max-height: 90px;
            overflow: auto !important;
        }

        a.disabled {
            pointer-events: none;
            cursor: default;
            color: black;
        }

        #tblDINLinesDetails {
            border-collapse: separate;
            border-spacing: 0;
        }

            #tblDINLinesDetails thead th, #tblDINLinesDetails tbody th, #tblDINLinesDetails tbody td {
                border-bottom-width: 0;
                border-right-width: 0;
            }
    </style>

    <div id="parent">
        <div id="divDINLines" class="table-container" style="width: 100%; overflow: scroll; max-height: none; min-height: 0px; max-width: none; min-width: 0px;">

        </div>
    </div>
    <script src="~/Scripts/ThemeScripts/Plugins/js.cookie.min.js"></script>
    @Scripts.Render("~/bundles/jquery-slimscroll/js")
    @Scripts.Render("~/bundles/jquery.blockui/js")
    @Scripts.Render("~/bundles/bootstrap-switch/js")
    <script src="~/Scripts/ThemeScripts/app.min.js"></script>
    @*<script src="~/Scripts/ThemeScripts/dashboard.js"></script>*@
    <script src="~/Scripts/ThemeScripts/layout.js"></script>
    <script src="~/Scripts/ThemeScripts/demo.js"></script>
    <script src="~/Scripts/ThemeScripts/quick-sidebar.js"></script>
    <script src="~/Scripts/ThemeScripts/quick-nav.js"></script>

</body>
<script>

    var Roles = '@ViewBag.Role';
    var Project = '@ViewBag.Project';

    $(document).ready(function () {
        //BindDINLinesNew("12248B", '@IEMQS.Areas.PDIN.Controllers.PDINRole.Maintainer');
        BindDINLinesNew(Project, Roles);
    });

    function BindDINLinesNew(Project, Role) {
        $('#divDINLines').load(
            $.ajax({
                url: WebsiteURL + "/PDIN/Maintain/GetPDINLinesHTMLNew",
                type: "POST",
                data: { project: Project, Role: Role, ForPrint: true },
                dataType: "html",
                success: function (data) {
                    $('#divDINLines').html(data);
                    //$("#tblDINLinesDetails").tableHeadFixer({ 'left': 4 });
                    $("#tblDINLinesDetails tbody> tr").click(function () {
                        $(this).addClass("selected").siblings().removeClass("selected");
                    });
                    PrintDiv('parent')
                    //$("#tblDINLinesDetails").dataTable({
                    //    "searching": false,
                    //    "ordering": false,
                    //    "paging": false,
                    //});
                }
            })
      );
    }

    function PrintDiv(id) {
        //var data = document.getElementById(id).innerHTML;
        //var myWindow = window.open('', 'PDIN Print', 'height=400,width=600');
        //myWindow.document.write('<html><head><title>my div</title>');
        ///*optional stylesheet*/ //myWindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
        //myWindow.document.write('<style> .clsBootBoxWidth {width: 70% !important;margin: 30px auto !important;}.srno, .descriptions, .docno, .issueno {background-color: cornsilk;        left: 0;position: relative;}.pdinheader {background-color: #c3eef2;}.center {text-align: center;}.table {border-collapse: collapse;border-spacing: 0;}.center.revno {background: lightblue none repeat scroll 0 0;}.selected {background-color: antiquewhite;}.select2-selection__rendered {max-height: 90px;overflow: auto !important;}a.disabled {pointer-events: none;cursor: default;color: black;}</style>');
        //myWindow.document.write('</head><body >');
        //myWindow.document.write(data);
        //myWindow.document.write('</body></html>');
        //myWindow.document.close(); // necessary for IE >= 10

        //myWindow.onload = function () { // necessary if the div contain images

        //    myWindow.focus(); // necessary for IE >= 10
        //    myWindow.print();
        //    myWindow.close();
        //};

        $("#tblDINLinesDetails").printThis({
            debug: false,               // show the iframe for debugging
            importCSS: true,            // import page CSS
            importStyle: false,         // import style tags
            printContainer: true,       // grab outer container as well as the contents of the selector
            loadCSS: "",  // path to additional css file - use an array [] for multiple
            pageTitle: "",              // add title to print page
            removeInline: false,        // remove all inline styles from print elements
            printDelay: 333,            // variable print delay; depending on complexity a higher value may be necessary
            header: null,               // prefix to html
            footer: null,               // postfix to html
            base: true,               // preserve the BASE tag, or accept a string for the URL
            formValues: false,           // preserve input/form values
            canvas: false,              // copy canvas elements (experimental)
            doctypeString: "...",       // enter a different doctype for older markup
            removeScripts: false,       // remove script tags from print content
            copyTagClasses: false       // copy classes from the html & body tag
        });
    }
</script>

</html>
