﻿@using IEMQSImplementation
@model IEMQSImplementation.FKM101
@{
    string status = Model.Status;
    string FileUploadFixtureID = "fuFixture";
}
<style>
    .tdalign {
        text-align: center !important;
    }

    .padding {
        padding: 3px;
    }

    .custom {
        margin-left: 0px;
    }

    #divFixtureDetail .table-scrollable {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        margin: 10px 0 !important;
    }

    .thdisplay {
       display:table-cell !important;
    }
    /*temporary code*/
    #divFixtureDetail .table.dataTable thead th, table.dataTable thead td {
            padding: 10px 5px!important;
    }
    .planner {
        background-color: #ffff79 !important;
    }
    .shop {
        background-color: #ffa500 !important;
    }
    table.dataTable td.sorting_1.planner {
        background-color: #ffff79 !important;
    }
    table.dataTable td.sorting_1.shop {
        background-color: #ffa500 !important;
    }
</style>

<div class="portlet box green" @*style="border-top:1px solid #5cd1db;"*@>
    <div class="portlet-title">
        <div class="caption">
            Fixture List
        </div>

        @if (ViewBag.IsDisplayOnly.ToString().ToLower() != "true")
        {
            if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG3.ToString() && ViewBag.buttonname == "maintain" && (status == clsImplementationEnum.CTQStatus.DRAFT.GetStringValue() || status == clsImplementationEnum.CTQStatus.Returned.GetStringValue() || status == clsImplementationEnum.CTQStatus.Approved.GetStringValue()))
            {
                <div class="tools">
                    <div class="btn-group">
                        <a onclick="AddNewFixture();" id="btnNewFixture" name="btnNewFixture" class="btn btn-circle white btn-outline btn-sm" style="margin-left:10px;">New</a>
                    </div>
                </div>
            }
        }
    </div>
    <div class="portlet-body" id="divFixtureDetail">
        <input type="hidden" id="hdnmaterial" />
        <input type="hidden" id="hdnchktype" />
        <input type="hidden" id="hdNodeId" />
        <table class="table table-striped table-bordered table-hover" id="tblFixtureList" cellspacing="0">
            <thead>
                <tr>
                    <th class="hide">NodeId</th>
                    <th class="hide">RefLineId</th>
                    <th class="all">Fixture <br />No</th>
                    <th class="all">Fixture <br />Name</th>
                    <th class="all">Requ-<br />ired<br/>Qty </th>
                    <th>Rece-<br />ived<br />Qty</th>
                    <th class="all">Allo-<br />cated <br />Qty</th>
                    <th class="hide">Requ-<br />ested <br />Qty</th>
                    <th class="hide">Comp-<br />leted <br />Qty</th>
                    <th class="all">Comp-<br />leted <br />Qty</th>
                    <th class="all">Location</th>
                    <th class="all">Status</th>
                    <th class="all">WCC</th>
                    <th class="all thdisplay">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<input type="hidden" id="hdAdditionalQty" value="0" />
<script type="text/javascript">
    $(document).ready(function () {

    });

    function GetFixtureData(NodeId) {
        $("#hdNodeId").val(NodeId);

        $.ajax({
            url: WebsiteURL + "/FKMS/MaintainFKMS/GetIsAssemblyOrNotCheck",
            type: "POST",
            data: { NodeId: NodeId },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#hdnmaterial").val(NodeId);
                    $("#hdnchktype").val(data.chktype);
                    var project = $("#Project").val();
                    DocumentList(project, data.chktype);
                    ManageFRData(NodeId);
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

    function ManageFRData(NodeId) {

        $("#btnNewFixture,#btnNewDocument").hide();

        if ('@ViewBag.UserRole' == '@clsImplementationEnum.UserRoleName.PLNG3.ToString()' && '@ViewBag.buttonname' == "maintain" &&
           ('@status' == '@clsImplementationEnum.CTQStatus.DRAFT.GetStringValue()' || '@status' == '@clsImplementationEnum.CTQStatus.Returned.GetStringValue()' || '@status' == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()')) {

            $.ajax({
                url: WebsiteURL + "/FKMS/MaintainFKMS/GetKitData",
                type: "POST",
                data: { NodeId: NodeId },
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        if (data.ProductType == '@clsImplementationEnum.NodeTypes.ASM.GetStringValue()' || data.ProductType == '@clsImplementationEnum.NodeTypes.TJF.GetStringValue()') {
                            if (data.Value != '@clsImplementationEnum.ColorFlagForFKMS.Blue.GetStringValue()' && (!data.KitStatus || data.KitStatus== "@clsImplementationEnum.KitStatus.Release.GetStringValue()" || data.KitStatus== "@clsImplementationEnum.KitStatus.Pending.GetStringValue()")) {
                                $("#btnNewFixture,#btnNewDocument").show();
                            }
                        }
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                    GetFixtureList(NodeId);
                }
            });
        }
        else {
            GetFixtureList(NodeId);
        }
    }

    function GetFixtureList(NodeId) {
        var table = $('#tblFixtureList');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            //responsive: true,
            "order": [ [0, 'asc'] ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/FKMS/MaintainFKMS/LoadFixtureDataTable",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Project", "value": $("#Project").val() },
                            { "name": "NodeId", "value": NodeId },
                            { "name": "UserRole", "value": '@ViewBag.UserRole' });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                    },
                });
            },
            "createdRow": function (row, data, dataIndex) {
                if (data[11] == "@clsImplementationEnum.COP_CommonStatus.Co.GetStringValue()" && data[5] == data[8] && data[5] > 0)
                    $(row).addClass("gridrowbggreen");

                if (parseFloat(data[5]) >= parseFloat(data[4])) {
                    $(row).addClass('fontcolorgreen');
                }

            },
            "columns": [
                {
                    "sClass": "hide",
                },
                {
                    "sClass": "hide",
                },
                {
                    "name": "FixtureNo",
                    "sClass": "center",
                    "bSortable": true,
                    "sWidth": "60%",
                },
                {
                    "name": "FixtureName",
                    "sClass": "center",
                    "bSortable": true,
                    "sWidth": "60%",
                },
                {
                    "name": "TotalQty",
                    "sClass": "center",
                    "bSortable": false,
                    "sWidth": "60%",
                },
                {
                    "name": "ReceivedQty",
                    "sClass": "center",
                    "bSortable": false,
                    "sWidth": "60%",
                },
               {
                   "name": "AllocatedQty",
                   "sClass": "center",
                   "bSortable": false,
                   "sWidth": "60%",
               },
               {
                   "name": "RequestedQty",
                   "sClass": "hide",
                   "bSortable": false,
                   "sWidth": "60%",
               },
               {
                   "name": "CompletedQty",
                   "sClass": "hide",
                   "bSortable": false,
                   "sWidth": "60%",
               },
               {
                   "name": "OverallCompletedQty",
                   "sClass": "center",
                   "bSortable": false,
                   "sWidth": "60%",
               },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "name": "WCC",
                    "sClass": "center",
                    "bSortable": false,
                    "sWidth": "60%",
                },
               {
                   "sClass": "center",
                   "bSortable": false,
               },
               ]
        });

        if (IsDisplayOnly) {
            oTable.api().column(8).visible(false);
        }
        //table.dtSearchFilter();
    }

    function AddNewFixture() {
        var NodeId = $("#hdNodeId").val();
        if (NodeId == undefined || NodeId == null || NodeId == "") {
            DisplayNotiMessage("error", "Please select kit to add fixture", "Error");
            return;
        }

        $.ajax({
            type: "POST",
            url: WebsiteURL + '/FKMS/MaintainFKMS/AddFixturePartial',
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { Project: $("#Project").val() },
            success: function (result) {
                bootbox.dialog({
                    title: 'Add Fixture',
                    message: result,
                    size: 'medium',
                    className: "higherzindex clsBootbox",
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn save',
                            callback: function () {
                                if ($("#frmAddFixture").valid()) {

                                    //validation if fixture already added.
                                    var isFixtureExist = false;
                                    var refLineId = $("#FixtureName").val();
                                    $("#tblFixtureList tbody>tr").each(function () {
                                        var id = $(this).children('td:eq(1)').find("[id^=RefLineId]").val();
                                        if (id == refLineId) {
                                            isFixtureExist = true;
                                            DisplayNotiMessage("error", "Fixture already exists", "Error");
                                            return false;
                                        }
                                    });
                                  
                                    if (!isFixtureExist) {

                                        //default - 0
                                        $("#hdAdditionalQty").val('0');

                                        if ($("#txtAvailableQty").val() == "" || parseInt($("#txtAvailableQty").val()) == 0) {
                                            LoadAddAllocatedFixturePartial($("#FixtureName").val(), 0);
                                            return false;
                                        }
                                        else if (parseInt($("#txtRequiredQty").val()) > parseInt($("#txtAvailableQty").val())) {
                                            var autoSelectQty = parseInt($("#txtRequiredQty").val()) - parseInt($("#txtAvailableQty").val());
                                            $("#hdAdditionalQty").val($("#txtAvailableQty").val());
                                            LoadAddAllocatedFixturePartial($("#FixtureName").val(), autoSelectQty);
                                            return false;
                                        }

                                        var formData = new FormData();
                                        var frmValues = $('#frmAddFixture').serializeArray();
                                        $.each(frmValues, function (key, input) {
                                            formData.append(input.name, input.value);
                                        });

                                        formData.append("Project", $("#Project").val());
                                        formData.append("NodeId", $("#hdNodeId").val());

                                        $.ajax({
                                            url: WebsiteURL + '/FKMS/MaintainFKMS/AllocateFixture',
                                            data: formData,
                                            contentType: false,
                                            processData: false,
                                            type: 'POST',
                                            beforeSend: function () {
                                                showLoading(true);
                                            },
                                            complete: function () {
                                                showLoading(false);
                                            },
                                            success: function (data) {
                                                if (data.Key) {
                                                    DisplayNotiMessage("success", data.Value, "Success");
                                                    ResetAddFixture();
                                                }
                                                else {
                                                    DisplayNotiMessage("error", data.Value, "Error");
                                                }
                                                $('#tblFixtureList').DataTable().ajax.reload();
                                            }
                                        });
                                        return false;
                                    }
                                    return false;
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function LoadAddAllocatedFixturePartial(RefLineId, AutoSelectQty) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + '/FKMS/MaintainFKMS/LoadAddAllocatedFixturePartial',
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { RefLineId: RefLineId, AutoSelectQty: AutoSelectQty },
            success: function (result) {
                bootbox.dialog({
                    title: 'Add Fixture',
                    message: result,
                    size: 'medium',
                    className: "higherzindex clsBootbox",
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn save',
                            callback: function () {
                                return SaveAllocatedFixture();
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function SaveAllocatedFixture() {

        var isValid = true;
        var totalQty = parseInt($("#hdAdditionalQty").val());
        var requiredQty = parseInt($("#txtRequiredQty").val());

        $("#tblAllocatedFixtureList  tbody>tr").each(function (i) {
            if (isValid) {
                var allocatedQty = $(this).children("td:eq(4)").html();
                var inputQty = $(this).children("td:eq(5)").find("#txtFRQty" + (i + 1)).val();

                if (inputQty != '' && inputQty != undefined && inputQty != null) {

                    if (parseInt(inputQty) == 0)
                    {
                        totalQty = totalQty + parseInt(inputQty);
                    }
                    else if (parseInt(inputQty) > 0)
                    {
                        if (parseInt(inputQty) > parseInt(allocatedQty)) {
                            isValid = false;
                            DisplayNotiMessage("error", "Required qty should not be greater than allocated qty", "Error");
                        }
                        else
                        {
                            totalQty = totalQty + parseInt(inputQty);
                        }
                    }
                    else
                    {
                        isValid = false;
                        DisplayNotiMessage("error", "Required qty should be greater than 0", "Error");
                    }
                }
            }
        });

        if (isValid) {
            if (totalQty == 0) {
                isValid = false;
                DisplayNotiMessage("error", "Please select required qty", "Error");
            }
            else {
                if (totalQty != requiredQty) {
                    isValid = false;
                    DisplayNotiMessage("error", "Total Qty does not match with actual required qty", "Error");
                }
            }
        }

        if (isValid) {
            var list = [];
            $("#tblAllocatedFixtureList tbody>tr").each(function (i) {
                var NodeId = $(this).children("td:eq(0)").find("#hdNodeId" + (i + 1)).val();
                var inputQty = $(this).children("td:eq(5)").find("#txtFRQty" + (i + 1)).val();

                if (parseInt(inputQty) > 0)
                {
                    var obj = new Object();
                    obj.NodeId = NodeId;
                    obj.RefLineId = $("#FixtureName").val();
                    obj.ReqQty = inputQty;
                    list.push(obj);
                }
            });

            $.ajax({
                type: 'POST',
                url: WebsiteURL + '/FKMS/MaintainFKMS/RequestFixture',
                data: { Project: $("#Project").val(), NodeId: $("#hdNodeId").val(), RefLineId: $("#FixtureName").val(), AdditionalQty: $("#hdAdditionalQty").val(), detailList: list },
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        ResetAddFixture();
                        DisplayNotiMessage("success", data.Value, "Success");
                        $('#tblFixtureList').DataTable().ajax.reload();
                        return true;
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                        return false;
                    }
                }
            });
        }
        else {
            return false;
        }
    }

    function DeAllocateFixture(NodeId, RefLineId, AllocatedQty, RequestedQty, totalAttachedQty) {
        //var totalAttachedQty = AllocatedQty + RequestedQty;

        var strHtml = "<scr" + "ipt>$(document).ready(function(){"
          + "$('#txtDeAllocateQty').autoNumeric('init', {vMin:'0', vMax: '9999', aSep: '' });"
          + "$('#frmDeAllocateFixture').validate({"
          + " rules: {"
          + "txtDeAllocateQty: {"
          + "required: true,"
          + "},"
          + "messages: {"
          + "txtDeAllocateQty: {"
          + "required: 'DeAllocate Qty is required'"
          + "}"
          + "}"
           + "}"
          + "});"
          + "});</scr" + "ipt>"
          + " <div>"
          + "<form method='post' id='frmDeAllocateFixture' class='form-horizontal' action=''>"
          + "<div class='row' style='margin-top: -20px;margin-bottom: 20px;'>"
          + "<div class='col-md-12'>"
          + "<div class='col-md-3'>"
          + "<br /><label class='control-label custom'>Total Qty<span class='required'> * </span></label>"
          + "<div class=''>"
          + "<input type='text' value='" + totalAttachedQty + "' name='txtTotalQty' id='txtTotalQty' class='form-control col-md-3' readonly='readonly'/>"
          + "</div>"
          + "</div>"
          + "<div class='col-md-3'>"
          + "<br /><label class='control-label custom'>DeAllocate Qty<span class='required'> * </span></label>"
          + "<div class=''>"
          + "<input type='text' name='txtDeAllocateQty' id='txtDeAllocateQty' class='form-control col-md-3'/>"
          + "</div>"
          + "</div>"
          + "</div>"
          + "</div>"
          + "</form>"
          + "</div>";

        bootbox.dialog({
            title: 'DeAllocate Qty of Fixture',
            message: strHtml,
            size: "medium",
            buttons: {
                Submit: {
                    Label: "Submit",
                    className: 'btn save',
                    callback: function () {
                        if ($('#frmDeAllocateFixture').valid()) {

                            if (parseInt($("#txtDeAllocateQty").val()) == 0) {
                                DisplayNotiMessage("error", "DeAllocate Qty should be greater than 0", "Error");
                                return false;
                            }

                            if (parseInt($("#txtDeAllocateQty").val()) > parseInt(totalAttachedQty)) {
                                DisplayNotiMessage("error", "DeAllocate Qty should be less than total qty", "Error");
                                return false;
                            }

                            $.ajax({
                                type: "POST",
                                url: WebsiteURL + "/FKMS/MaintainFKMS/DeAllocateFixture",
                                datatype: 'json',
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                data: { NodeId: NodeId, RefLineId: RefLineId, DeAllocateQty: parseInt($("#txtDeAllocateQty").val()) },
                                success: function (result) {
                                    if (result.Key) {
                                        DisplayNotiMessage("success", result.Value, "Success");
                                    }
                                    else {
                                        DisplayNotiMessage("error", result.Value, "Error");
                                    }
                                    $('#tblFixtureList').DataTable().ajax.reload();
                                },
                                error: function () {
                                    alert('error...');
                                }
                            });
                        }
                        else {
                            return false;
                        }
                    }
                },
                Cancel: {
                    label: 'Close',
                    className: 'btn btnclose'
                }
            }
        });
    }

    function GetFixtureAllocatedInKit(RefLineId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/FKMS/MaintainFKMS/LoadFixtureAllocationInKitGridDataPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { RefLineId: RefLineId },
            success: function (result) {
                bootbox.dialog({
                    title: 'Kit List',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function LoadFixtureReOrderGridDataPartial(RefLineId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/FKMS/MaintainFKMS/LoadFixtureReOrderGridDataPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { RefLineId: RefLineId },
            success: function (result) {
                bootbox.dialog({
                    title: 'Drag to Re-Order Kit',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function LoadSendToFullKitArea(NodeId, RefLineId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/FKMS/MaintainFKMS/LoadFixtureSendToFullKitAreaPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { Project: $("#Project").val(), NodeId: NodeId, RefLineId: RefLineId },
            success: function (result) {
                bootbox.dialog({
                    title: 'Send Fixture to FullKit Area',
                    message: result,
                    size: 'large',
                    buttons: {
                        Submit: {
                            Label: "Submit",
                            className: 'btn save',
                            callback: function () {
                                return SubmitFixtureToFullkitArea(NodeId, RefLineId);
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function SubmitFixtureToFullkitArea(NodeId, RefLineId) {
        var list = [];
        var IsError = false;
        $(".fullkitarea", "#tblSendToFullKitArea").each(function () {
            var fullkitarea = $(this).parent().find('.hdFullkitArea').val().trim();
            var refid = $(this).parent().find('.hdrefid').val().trim();

            list.push({ FullkitArea: fullkitarea, Id: refid });

            if (fullkitarea == '') {
                IsError = true;
            }
        });

        if (!IsError) {
            if (list.length > 0) {
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/FKMS/MaintainFKMS/SendToFullkitArea",
                    datatype: 'json',
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    data: { Project: $("#Project").val(), NodeId: NodeId, RefLineId: RefLineId, fixtureList: list },
                    success: function (result) {
                        if (result.Key) {
                            DisplayNotiMessage("success", result.Value, "Success");
                            $('#tblFixtureList').DataTable().ajax.reload();
                            return true;
                        }
                        else {
                            DisplayNotiMessage("error", result.Value, "Error");
                            return false;
                        }
                    },
                    error: function () {
                        alert('error...');
                    }
                });
            }
            else {
                DisplayNotiMessage("error", "No record found", "Error");
                return false;
            }
        }
        else {
            DisplayNotiMessage("error", "Please select Fullkit Area for all fixtures", "Error");

            $(".fullkitarea", "#tblSendToFullKitArea").each(function () {
                if ($(this).val() == '') {
                    $(this).addClass("error");
                }
                else {
                    $(this).removeClass("error");
                }
            });

            return false;
        }
    }

    function highlightRow() {        
        $("#div_Extra_Details@(FileUploadFixtureID)").html("<div class='note note-success'>"
        +"<div class='ribbon-content'>"
        + "<i class='fa fa-circle clsColorIndications' style='color: #ffff79  !important;'></i> Planner documents &nbsp;&nbsp; "
        + "<i class='fa fa-circle clsColorIndications' style='color: #ffa500 !important;'></i> Shop documents"
        + "</div></div>");

        //$("#spnDownloadAll@(FileUploadFixtureID)").remove();

        //$("#tbl_document_list_@(FileUploadFixtureID) tbody tr").each(function () {
        //    if ($(this).attr("data-fp").indexOf("FKM111/") != "-1") {
        //        $(this).children('td:eq(0)').css("background-color", "#ffff79 !important;");
        //    }
        //    else if ($(this).attr("data-fp").indexOf("FKM118/") != "-1") {
        //        $(this).children('td:eq(0)').css("background-color", "#ffa500 !important;");
        //    }
        //});

        var table3 = $("#tbl_document_list_@(FileUploadFixtureID)").DataTable();
        table3.rows().every(function (index, element) {
            var data = this.data();       
            
            var td = $($("#tbl_document_list_@(FileUploadFixtureID) tbody>tr")[index]).find('.Doc_Name');     
            if (data.MainDocumentPath.indexOf("FKM111//") != "-1") {
                td.addClass('planner');
                //td.css("background-color", "#ffff79 !important;");
            }
            else {
                td.addClass('shop');
                //td.css("background-color", "#ffa500 !important;");
            }
        });
    }

    function FixtureDocumentAttachment(Project, NodeId, RefLineId) {
        @*var objFileUploadLine = new FileUploadEnt('dv@(FileUploadFixtureID)', '@FileUploadFixtureID');
        objFileUploadLine.ShowDeleteAction = false;
        objFileUploadLine.ShowAttachmentBtn = false;
        objFileUploadLine.FolderPath = "NA";//as folder path is required to pass in FilesDisplayFromURL
        objFileUploadLine.LoadInPopup = true;
        objFileUploadLine.IsMultipleUploaded = false;
        objFileUploadLine.DocumentLoadCallbackFunction = "highlightRow()";
        objFileUploadLine.FilesDisplayFromURL = "/FKMS/MaintainFKMS/GetFixtureAttachmentFiles?Project=" + Project + "&NodeId=" + NodeId + "&RefLineId=" + RefLineId;
        LoadFileUploadPartialView(objFileUploadLine);*@
        
        var objFile = {
            TableName: 'NA',
            TableId: 0,
            Path: '//1',
            ControlID: '@(FileUploadFixtureID)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: false,
            ShowDownloadBtn: true,
            ShowAttachmentBtn: false,
            SuccessCallbackFunction: "highlightRow()",
            FilesDisplayFromURL: '/FKMS/MaintainFKMS/GetFixtureAttachmentFiles_FCS?Project=' + Project + '&NodeId=' + NodeId + '&RefLineId=' + RefLineId,
            DocumentLoadCallbackFunction: "highlightRow()"
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(FileUploadFixtureID)', true);

    }

    function FixtureItemDetails(parentId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/FKMS/MaintainFR/ItemsDetails",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { parentId: parentId },
            success: function (result) {
                bootbox.dialog({
                    title: 'Item List',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>