﻿<form class="form-horizontal" id="frmPlateDetails">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <div class="form-group">
                    <div class="col-md-5">
                        <label class="control-label">QR Code</label>
                        <input type="text" id="txtQRCode" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Project</label>
                        <input type="text" id="Project" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Find No</label>
                        <input type="text" id="FindNo" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Item ID</label>
                        <input type="text" id="Itemcode" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Receipt No</label>
                        <input type="text" id="ReceiptNo" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Receipt Line No</label>
                        <input type="text" id="ReceiptLineNo" class="form-control" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-12" id="pnlReceipt" hidden>
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Receipt List
                    </div>
                </div>
                <div class="portlet-body">
                    <table id="tblReceipt" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Item Code</th>
                                <th class="hide">Id</th>
                                <th>Project</th>
                                <th>Kit</th>
                                <th>Find No</th>
                                <th>Requested By</th>
                                <th>Required Qty</th>
                                <th>Received Qty</th>
                                <th>To be Received Qty</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $("#txtQRCode").focus();
    var tblReceiptName = "tblReceipt";
    var table = $('#' + tblReceiptName);
    $("#txtQRCode").attr('placeholder', QRCodePattern.NPLT);
    //$('.page-content').click(function (evt) {
    //    $("#txtQRCode").focus();
    //})

    var UtilityParams = null;

    $(document).ready(function () {

        //$("input").click(function (event) {
        //    event.stopPropagation();
        //});

        $("#txtQRCode").change(function () {
            LoadItemData();
        });
        setTimeout(selectQRcode(), 100);


        FillAutoCompleteUsingAjax($("#Project"), "/FKMS/MaintainFKMS/GetApprovedProjectResult", $("#Project"), undefined, [{ id: "search", value: "#Project" }], function () { $("#FindNo").val(''); $("#Itemcode").val(''); $("#ReceiptNo").val(''); $("#ReceiptLineNo").val(''); }, undefined, undefined, function (data) {
            return $.map(data, function (item) {
                return { label: item.text, value: item.id, id: item.id };
            });
        });

        FillAutoCompleteUsingAjax($("#FindNo"), "/FKMS/MaintainFKMS/GetFindNoResult", undefined, undefined, [{ id: "Project", value: "#Project" }], function () { $("#Itemcode").val(''); $("#ReceiptNo").val(''); $("#ReceiptLineNo").val(''); }, undefined, undefined, function (data) {
            return $.map(data, function (item) {
                return { label: item.value, value: item.id, id: item.id };
            });
        });

        FillAutoCompleteUsingAjax($("#Itemcode"), "/FKMS/MaintainFKMS/GetItemCodes", $("#Itemcode"), undefined, [{ id: "Project", value: "#Project" }, { id: "FindNo", value: "#FindNo" }], function () { $("#ReceiptNo").val(''); $("#ReceiptLineNo").val(''); }, undefined, undefined, function (data) {
            return data;
        });

        FillAutoCompleteUsingAjax($("#ReceiptNo"), "/FKMS/MaintainFKMS/GetReceiptNoResult", undefined, undefined, [{ id: "Itemcode", value: "#Itemcode" }], function () { $("#ReceiptLineNo").val(''); }, undefined, undefined, function (data) {
            return data;
        });

        FillAutoCompleteUsingAjax($("#ReceiptLineNo"), "/FKMS/MaintainFKMS/GetReceiptLineNoResult", undefined, undefined, [{ id: "ReceiptNo", value: "#ReceiptNo" }], function () {
            if ($("#ReceiptNo").val() && $("#ReceiptLineNo").val()) {
                LoadReceipt();
            }
        }, undefined, undefined, function (data) {
            return data;
        });
    });

    var txt = "";
    function selectQRcode() {
        if (txt != $("#txtQRCode").val()) {
            txt = $("#txtQRCode").val();
            $("#txtQRCode").select();
            LoadItemData();
        }
        else {
            $("#txtQRCode").select();
            //setTimeout('selectQRcode()', 1500);
        }
    }

    function LoadItemData() {
        if ($("#txtQRCode").val()) {
            var arrayData = $("#txtQRCode").val().split("~");
            if (arrayData.length >= 4) {
                $("#ReceiptNo").val(arrayData[1]);
                $("#ReceiptLineNo").val(arrayData[3]);
                LoadReceipt();
            }
            else {
                DisplayNotiMessage("info", "QR Code is not valid", "Information");
            }
        }
    }

    function LoadReceipt() {
        if (UtilityParams) {
            UtilityParams.dtReload();
            return;
        }
        $('#pnlReceipt').show();
        UtilityParams = {
            iResponsiveOnWindowWidth: 800,
            bIsResponsive: false,
            //iFCRight: 1,
            bIsIgnoreHiddenColumns: true,
            bIsLazyLoading: false,
            //fnServerDataCallback: function () { $(".numeric").autoNumeric('init', { aSep: '' }); },
            sUrl: "/FKMS/MaintainFKMS/LoadItemReceiptGridData",
            aServerParams: [
               { "name": "ReceiptNo", "selector": "#ReceiptNo" },
               { "name": "ReceiptLineNo", "selector": "#ReceiptLineNo" }
            ],
            aoColumns: [
                        {
                            "data": "ItemCode",
                            "sClass": "center",
                            "name": "ltrim(a.t_item)",
                        },
                        {
                            "data": "NodeId",
                            "sClass": "hide",
                            "name": "NodeId",
                            "bSortable": false
                        },
                        {
                            "data": "Project",
                            "sClass": "center",
                            "name": "Project",
                        },
                        {
                            "data": "KitName",
                            "sClass": "center",
                            "name": "KitName",
                        },
                        { 
                            "data": "FindNo",
                            "sClass": "center",
                            "name": "FindNo",
                        },
                        {
                            "data": "DeleverTo",
                            "sClass": "center",
                            "name": "DeleverTo",
                        },
                        {
                            "data": "NoOfPieces",
                            "sClass": "center",
                            "name": "NoOfPieces",
                        },
                        {
                            "data": "ReceivedQty",
                            "sClass": "center",
                            "name": "ReceivedQty",
                        },
                        {
                            "data": "ToBeReceivedQty",
                            "sClass": "center",
                            "name": "ToBeReceivedQty",
                            "render": function (data, type, row, meta) {
                                return '<input type="number" id="ToBeReceivedQty' + row.NodeId + '" name="ToBeReceivedQty' + row.NodeId + '" class="form-control numeric" min="0" value="' + data + '" />';
                            }
                        },
                        {
                            "bSortable": false,
                            "sClass": "left",
                            "sWidth": "10%",
                            "attr": "",
                            "render": function (data, type, row, meta) {
                                var buttons = "";
                                    buttons += '<button type="button" id="btnAccept' + row.NodeId + '" name="btnAccept' + row.NodeId + '" title="Save Changes" class="btn btn-primary" onclick="FKMSSetReceivedQty(\'' + row.NodeId + '\');">Accept</button>';
                                return buttons;
                            }
                        }
            ]
        };

        //UtilityParams.bIsResponsive = false; 
        //UtilityParams.bBtnMaximize = true;
        //UtilityParams.bIsWrapHeader = false;
        //UtilityParams.fnServerDataCallback = tblFRParentKit_ServerDataCallback;
        //UtilityParams.fnCreateRow = tblFRParentKit_CreateRow;
        //UtilityParams.sBtnDivSelector = "#dvExportHeader";
        table.dtUtility(UtilityParams);

        $('#' + tblReceiptName + '_wrapper').click(function (event) {
            event.stopPropagation();
        });
    }

    function FKMSSetReceivedQty(Id) {
        var ToBeReceivedQty = $('#ToBeReceivedQty' + Id).val();
        if (ToBeReceivedQty == "") {
            DisplayNotiMessage("error", "Received Qty is required!!", "Error");
        }
        var formdata = new FormData();
        formdata.append("NodeId", Id);
        formdata.append("ReceivedQty", ToBeReceivedQty);

        $.ajax({
            url: WebsiteURL + "/FKMS/MaintainFKMS/FKMSSetReceivedQty",
            type: "POST",
            data: formdata,
            contentType: false,
            processData: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (res) {
                if (res.Key) {
                    LoadReceipt();
                } else {
                    DisplayNotiMessage("error", res.Value, "Error");
                }
            },
            error: function (data) { }
        });
    }
     
</script>