﻿<form class="form-horizontal" id="frmPlateDetails">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <div class="form-group">
                    <div class="col-md-5">
                        <label class="control-label">QR Code</label>
                        <input type="text" id="txtQRCode" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Project</label>
                        <input type="text" id="Project" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Find No</label>
                        <input type="text" id="FindNo" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Item ID</label>
                        <input type="text" id="Itemcode" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Receipt No</label>
                        <input type="text" id="ReceiptNo" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Receipt Line No</label>
                        <input type="text" id="ReceiptLineNo" class="form-control" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-12" id="pnlReceipt" hidden>
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Receipt List
                    </div>
                </div>
                <div class="portlet-body">
                    <table id="tblReceipt" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Item Code</th>
                                <th>Item Desc.</th>
                                <th class="hide">Id</th>
                                <th class="hide">CWAR</th>
                                <th>Project</th>
                                <th>Find No</th>
                                <th>Kit No</th>
                                <th>Kit Name</th>
                                <th>Requested Qty</th>
                                <th>SOB Key</th>
                                <th>Deliver to</th>
                                <th>LOT</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $("#txtQRCode").focus();
    var tblReceiptName = "tblReceipt";
    var table = $('#' + tblReceiptName);
    $("#txtQRCode").attr('placeholder', QRCodePattern.NPLT);
    //$('.page-content').click(function (evt) {
    //    $("#txtQRCode").focus();
    //})

    var UtilityParams = null;

    $(document).ready(function () {

        //$("input").click(function (event) {
        //    event.stopPropagation();
        //});

        $("#txtQRCode").change(function () {
            LoadItemData();
        });
        setTimeout(selectQRcode(), 100);

        FillAutoCompleteUsingAjax($("#Project"), "/FKMS/MaintainFKMS/GetApprovedProjectResult", $("#Project"), undefined, [{ id: "search", value: "#Project" }], function () { $("#FindNo").val(''); $("#Itemcode").val(''); $("#ReceiptNo").val(''); $("#ReceiptLineNo").val(''); $('#pnlReceipt').hide(); }, undefined, undefined, function (data) {
            return $.map(data, function (item) {
                return { label: item.text, value: item.id, id: item.id };
            });
        });

        FillAutoCompleteUsingAjax($("#FindNo"), "/FKMS/MaintainFKMS/GetFindNoResult", undefined, undefined, [{ id: "Project", value: "#Project" }], function () { $("#Itemcode").val(''); $("#ReceiptNo").val(''); $("#ReceiptLineNo").val(''); $('#pnlReceipt').hide(); }, undefined, undefined, function (data) {
            return $.map(data, function (item) {
                return { label: item.value, value: item.id, id: item.id };
            });
        });

        FillAutoCompleteUsingAjax($("#Itemcode"), "/FKMS/MaintainFKMS/GetItemCodes", $("#Itemcode"), undefined, [{ id: "Project", value: "#Project" }, { id: "FindNo", value: "#FindNo" }], function () { $("#ReceiptNo").val(''); $("#ReceiptLineNo").val(''); $('#pnlReceipt').hide(); }, undefined, undefined, function (data) {
            return data;
        });

        FillAutoCompleteUsingAjax($("#ReceiptNo"), "/FKMS/MaintainFKMS/GetReceiptNoResult", undefined, undefined, [{ id: "Itemcode", value: "#Itemcode" }], function () { $("#ReceiptLineNo").val(''); $('#pnlReceipt').hide(); }, undefined, undefined, function (data) {
            return data;
        });

        FillAutoCompleteUsingAjax($("#ReceiptLineNo"), "/FKMS/MaintainFKMS/GetReceiptLineNoResult", undefined, undefined, [{ id: "ReceiptNo", value: "#ReceiptNo" }], function () {
            if ($("#ReceiptNo").val() && $("#ReceiptLineNo").val()) {
                LoadReceipt();
            }
        }, undefined, undefined, function (data) {
            return data;
        });
    });

    var txt = "";
    function selectQRcode() {
        if (txt != $("#txtQRCode").val()) {
            txt = $("#txtQRCode").val();
            $("#txtQRCode").select();
            LoadItemData();
        }
        else {
            $("#txtQRCode").select();
            //setTimeout('selectQRcode()', 1500);
        }
    }

    function LoadItemData() {
        if ($("#txtQRCode").val()) {
            var arrayData = $("#txtQRCode").val().split("~");
            if (arrayData.length >= 4) {
                $("#ReceiptNo").val(arrayData[1]);
                $("#ReceiptLineNo").val(arrayData[3]);
                LoadReceipt();
            }
            else {
                DisplayNotiMessage("info", "QR Code is not valid", "Information");
            }
        }
    }

    function LoadReceipt() {
        $('#pnlReceipt').show();
        if (UtilityParams) {
            UtilityParams.dtReload();
            return;
        }
        UtilityParams = {
            iResponsiveOnWindowWidth: 800,
            bIsResponsive: false,
            //iFCRight: 1,
            bIsIgnoreHiddenColumns: true,
            bIsLazyLoading: false,
            //fnServerDataCallback: function () { $(".numeric").autoNumeric('init', { aSep: '' }); },
            sUrl: "/FKMS/MaintainFKMS/LoadMainStoreGridData?ReceiptNo=" + $("#ReceiptNo").val() + "&ReceiptLineNo=" + $("#ReceiptLineNo").val(),
            aoColumns: [
                        {
                            "data": "ItemCode",
                            "sClass": "center item",
                            "name": "ItemCode",
                        },
                        {
                            "data": "ItemDesc",
                            "sClass": "center",
                            "name": "ItemDesc",
                        },
                        {
                            "data": "NodeId",
                            "sClass": "hide",
                            "name": "NodeId",
                            "bSortable": false
                        },
                        {
                            "data": "CWAR",
                            "sClass": "hide cwar",
                            "name": "CWAR"
                        },
                        {
                            "data": "Project",
                            "sClass": "center project",
                            "name": "Project",
                        },
                        { 
                            "data": "FindNo",
                            "sClass": "center",
                            "name": "FindNo",
                        },
                        {
                            "data": "KitNo",
                            "sClass": "center kitno",
                            "name": "KitNo",
                        },
                        {
                            "data": "KitName",
                            "sClass": "center kitname",
                            "name": "KitName",
                        },
                        {
                            "data": "NoOfPieces",
                            "sClass": "center noofpieces",
                            "name": "NoOfPieces",
                        },
                        {
                            "data": "SOBKey",
                            "sClass": "center sobkey",
                            "name": "SOBKey",
                        },
                        {
                            "data": "DeleverTo",
                            "sClass": "center",
                            "name": "DeleverTo",
                        },
                        {
                            "data": "LOT",
                            "sClass": "center",
                            "name": "LOT",
                            "sWidth": "100"
                        },
                        {
                            "data": "FullkitNo",
                            "sClass": "hide FullkitNo",
                            "name": "FullkitNo",
                        },
                        {
                            "bSortable": false,
                            "sClass": "left",
                            "sWidth": "10%",
                            "attr": "",
                            "render": function (data, type, row, meta) {
                                var buttons = "";
                                buttons += '<button type="button" id="btnIssue' + row.NodeId + '" name="btnIssue' + row.NodeId + '" class="btn btn-success" onclick="IssueNonPlate(this);">Release Outbound</button>';
                                return buttons;
                            }
                        }
            ]
        };

        //UtilityParams.bIsResponsive = false; 
        //UtilityParams.bBtnMaximize = true;
        //UtilityParams.bIsWrapHeader = false;
        //UtilityParams.fnServerDataCallback = tblFRParentKit_ServerDataCallback;
        //UtilityParams.fnCreateRow = tblFRParentKit_CreateRow;
        //UtilityParams.sBtnDivSelector = "#dvExportHeader";
        table.dtUtility(UtilityParams);

        $('#' + tblReceiptName + '_wrapper').undelegate(".autocomplete", "focusin");
        $('#' + tblReceiptName + '_wrapper').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(element).attr("hdElement");
            var tr = $(element).closest('tr');
            var cwar = tr.find('.cwar').html(), item = tr.find('.item').html();
            var proj = tr.find('.project').html();
            if ($(element).attr("colname") == "txtLOT") {
                FillAutoCompleteUsingAjax(element, "/FKMS/MaintainFKMS/GetLOTData?cwar=" + cwar + "&item=" + item + "&proj=" + proj, $("#" + hdElement),
                true, undefined, undefined, 0, undefined, function (data) { return data; });
            }
        });

        $('#' + tblReceiptName + '_wrapper').click(function (event) {
            event.stopPropagation();
        });
    }

    function IssueNonPlate(elem, item) {
        var tr = $(elem).closest('tr');
        if ($("[colname=LOT]", tr).val()== "") {
            DisplayNotiMessage("error", "LOT is required!", "Error");
            return false;
        }
        var formdata = new FormData();
        formdata.append("fullkitNo", $(".FullkitNo", tr).html());
        formdata.append("lotNo", $("[colname=LOT]", tr).val());
        formdata.append("project", $(".project", tr).html());
        formdata.append("quantity", $(".noofpieces", tr).html());
        formdata.append("sobkey", $(".sobkey", tr).html());
        formdata.append("item", $(".item", tr).html());

        $.ajax({
            url: WebsiteURL + "/FKMS/MaintainFKMS/IssueNonPlate",
            type: "POST",
            data: formdata,
            contentType: false,
            processData: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (res) {
                if (res.Key) {
                    //table.DataTable().ajax.reload();// LoadReceipt();
                    DisplayNotiMessage("success", res.Value, "Success");
                } else {
                    DisplayNotiMessage("error", res.Value, "Error");
                }
                UtilityParams.dtReload();
            },
            error: function (data) { }
        });
    }
     
</script>