﻿@using IEMQSImplementation
@{
    clsBase objBase = new clsBase();
}
<style>
    .textleft {
        float: left !important;
        margin-left: 60px;
    }

    .Mtree-body {
        height: 600px;
        overflow: auto;
    }

    #jstree-marker {
        z-index: 10000;
    }

    .icon-stack-1x {
        line-height: 4.1;
        font-size: 14.5px;
        position: absolute;
        left: -5px;
        width: 100%;
        text-align: right;
    }

    .icon-stack {
        display: inline-block;
        width: 2em;
        height: 5em;
        line-height: 4em;
        left: -10px;
    }

    /*.fa-backcolor {
        background-color: #ffffff !important;
    }*/

    .fa-fontclr {
        color: #000 !important;
    }

    .fa-success {
        color: lawngreen !important;
    }

    .fa-warning {
        color: yellow !important;
    }

    .fa-danger {
        color: red !important;
    }

    .fa-voilet {
        color: #ff02ff !important;
    }

    .fa-gray {
        color: lightgray !important;
    }

    .fa-orange {
        color: orange !important;
    }

    .fa-blue {
        color: blue !important;
    }

    .borderleftsuccess {
        border-left: 5px solid lawngreen;
    }

    .borderleftwarning {
        border-left: 5px solid yellow;
    }

    .borderleftdanger {
        border-left: 5px solid red;
    }

    .borderleftvoilet {
        border-left: 5px solid violet;
    }

    .borderleftgray {
        border-left: 5px solid lightgray;
    }

    .borderleftorange {
        border-left: 5px solid orange;
    }

    .borderleftblue {
        border-left: 5px solid blue;
    }

    .gridrowbggreen {
        background-color: #08ff0814 !important;
    }

    .gridrowbgred {
        background-color: #fffbfb !important;
    }

    .gridrowbgyellow {
        background-color: #ffff0012 !important;
    }

    .gridrowbgvoilet {
        background-color: #f5e9f5 !important;
    }

    .gridrowbgorange {
        background-color: #f3e7d3 !important;
    }

    .gridrowbgblue {
        background-color: rgba(227, 222, 255, 0.48) !important;
    }

    .partseamstage {
        background-color: #08ff084d !important;
    }

    tr.fontcolorgreen > td {
        /*color: #80d82b !important;
        font-weight: bold !important;*/
        background-color: #77e00f !important;
    }
    .tree-disabled {
        pointer-events: none;
    }

</style>
<div class="row">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption" id="caption_work" title="Work Breakdown Structure">Work Break..</div>

            @*Individual refresh and compare*@
            @*<div class="tools textleft">
                    <div id="pulsate-regular" class="btn-group">
                        <label onclick="btnrefreshview()" class="btn white btn-outline btn-sm"><i class="fa fa-refresh"></i></label>
                    </div>
                </div>

                @if (ViewBag.IsCompare)
                {
                    <div class="tools">
                        <div class="btn-group">
                            <label onclick="btnsbstreeview()" class="btn btn-circle white btn-outline btn-sm"><i class="fa fa-sitemap"></i> Compare </label>
                        </div>
                    </div>
                }*@

            <div class="tools">
                <label onclick="LoadTreeView(headerid, 0);" class="btn btn-circle white btn-outline btn-sm" title="Tree Reload"><i class="fa fa-refresh"></i></label>

                @if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.SHOP.ToString() && ViewBag.buttonname == "maintain" && (ViewBag.Status == clsImplementationEnum.CTQStatus.DRAFT.GetStringValue() || ViewBag.Status == clsImplementationEnum.CTQStatus.Returned.GetStringValue() || ViewBag.Status == clsImplementationEnum.CTQStatus.Approved.GetStringValue()))
                {
                    <label onclick="nodeWiseFilter(this);" id="btnnode_filter" class="btn btn-circle white btn-outline btn-sm hidden" title="Tree Filter Node"><i class="fa fa-filter"></i></label>
                }
                <label onclick="PortletMaximize(this);" class="btn btn-circle white btn-outline btn-sm" title="Panel Maximize"><i class="fa fa-expand"></i></label>
                @if (ViewBag.IsDisplayOnly.ToString().ToLower() != "true")
                {
                    if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG3.ToString() && ViewBag.buttonname == "maintain" && ViewBag.Status == clsImplementationEnum.CTQStatus.Approved.GetStringValue())
                    {
                        <div class="btn-group" id="btncom">
                            <label id="btncompare" onclick="btnrefreshview()" class="tree-disabled btn btn-circle white btn-outline btn-sm" title="Compare" disabled><i class="fa fa-balance-scale"></i>  </label>
                        </div>
                    }
                }

                <label id="ShowColorInfo" class="tree-disabled btn btn-circle white btn-outline btn-sm" style="position:sticky" title="Color Legend" disabled>
                    &nbsp; &nbsp;
                    <i class="fa fa-circle" style="color:#ed6b75;position: absolute;font-size: 7.5px;top: 1px;right: 12px;"></i>
                    <i class="fa fa-circle" style="color:#f3a20f;position: absolute;font-size: 7.5px;top: 7px;right: 18px;"></i>
                    <i class="fa fa-circle" style="color:#f1f158;position: absolute;font-size: 7.5px;top: 7px;right: 5px;"></i>
                    <i class="fa fa-circle" style="color:#d28cd2;position: absolute;font-size: 7.5px;top: 15px;right: 15px;"></i>
                    <i class="fa fa-circle" style="color:#04ff04;position: absolute;font-size: 7.5px;top: 15px;right: 7px;"></i>
                    @*<i class="fa fa-circle" style="color:#ed6b75;position: absolute;font-size: 7.5px;top: 6px;right: 23px;"></i>
                        <i class="fa fa-circle" style="color:#f3a20f;position: absolute;font-size: 7.5px;top: 11px;right: 30px;"></i>
                        <i class="fa fa-circle" style="color:#f1f158;position: absolute;font-size: 7.5px;top: 11px;right: 15px;"></i>
                        <i class="fa fa-circle" style="color:#d28cd2;position: absolute;font-size: 7.5px;top: 19px;right: 27px;"></i>
                        <i class="fa fa-circle" style="color:#04ff04;position: absolute;font-size: 7.5px;top: 19px;right: 18px;"></i>*@
                </label>
            </div>
        </div>
        <div class="portlet-body Mtree-body" id="divMtree">
            <div style="display:flex;">
                <div style="margin-top: 9px;padding: 0px;margin-right:5px;color:#05929e;">
                    <i id="colicon" onclick="collopsenodes('colicon', 'Mtree')" title="collapse-expand all" class="fa fa-minus-square-o fa-4x fa-plus-minus-o" style="cursor:pointer;font-size: 25px;"></i>
                </div>
                <div class="input-icon right" style="margin-bottom:5px;width:100%;">
                    <i id="treemagnifier" class="icon-magnifier" style="top: -3px;"></i>
                    <i id="treecloseIcon" class="fa fa-close hidden" style="cursor:pointer;top: -3px;"></i>
                    <input type="text" id="searchNode" name="searchNode" onkeyup="SearchNode('searchNode','Mtree')" class="form-control input-circle valid searchPad" placeholder="search..." aria-invalid="false">
                </div>
            </div>
            <div id="Mtree" class="tree-demo" @*style="height:462px;overflow:auto;"*@> </div>
        </div>
    </div>
</div>

<script src="~/Content/assets/global/plugins/jstree/dist/jstree.min.js"></script>
<script>
    var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()' == "true" ? true : false;
    var newCreatedNodeid;
    var newCreatedNodetext;
    var SearchNo = false;
    var IsFirstLoad = true;
    var arraySplitPartsQty = []; //= ["2","4","6"];
    var arrayCalculateQty = [];
    var headerid = parseInt('@ViewBag.HeaderId');
    var isTreeCreated = false;
    var status = $('#lblStatus').text();

    $(document).ready(function () {
        //LoadTreeView(headerid, 0);
        if (role == '@clsImplementationEnum.UserRoleName.PLNG3') {
            $('#btncompare').removeClass("tree-disabled");
            $('#btncompare').removeAttr("disabled");
        }
        if (role == '@clsImplementationEnum.UserRoleName.SHOP' || status == '@clsImplementationEnum.CTQStatus.SendForApprovel.GetStringValue()') {
            $("#btncom").hide();
            $("#btnnode_filter").removeClass('hidden');
            $('#Mtree').off("contextmenu.jstree", ".jstree-anchor");
        }
        @*else if (role == '@clsImplementationEnum.UserRoleName.PLNG3') {
            $("#btncom").show();
        }*@

        //if Role = PLNG3 and Status = Approved then only context menu come. ObsId # 17610
        if (role == '@clsImplementationEnum.UserRoleName.PLNG3.GetStringValue()' && status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()') {

        }
        else {
            $('#Mtree').off("contextmenu.jstree", ".jstree-anchor");
        }

        if (IsDisplayOnly) {
            $('#Mtree').off("contextmenu.jstree", ".jstree-anchor");
        }

        $("#treecloseIcon").on("click", function () {
            $("#treecloseIcon").addClass('hidden');
            $("#treemagnifier").removeClass('hidden');
            $("#searchNode").val('');
            $('#Mtree').jstree(true).search('');
            $("#Mtree").jstree("open_all");
        });
        //FillAutoCompleteForpartQty();
        $('#ShowColorInfo').click(function (event) {
            event.preventDefault();
            $('.quick-nav-trigger').click();
            return false;
        });
    });

    function FillAutoCompleteForpartQty() {

        $("#txtSplitQty").autocomplete({
            source: arraySplitPartsQty,
            minLength: 0,
            autoFocus: true,
            async: false,
            select: function (event, ui) {
                if (ui.item) {
                    //debugger
                    $(this).val(ui.item);
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $(this).focus();
                }

            }
        }).focus(function () {
            var result = $(this).data("uiAutocomplete").search($(this).val());
        });
    }

    function collopsenodes(colname, treename) {
        if ($('.jstree-open', $("#" + treename)).length) {
            $("#" + treename).jstree('close_all');
            $("#" + colname).removeClass("fa-plus-minus-o");
            $("#" + colname).addClass("fa-plus-square-o");
        } else {
            $("#" + treename).jstree('open_all');
            $("#" + colname).removeClass("fa-plus-square-o");
            $("#" + colname).addClass("fa-plus-minus-o");
        }
    }

    function Rename() {
        currentNode = $("#Mtree").jstree("get_selected");
        var inst = $.jstree.reference(currentNode), obj = inst.get_node(currentNode);
        var nodeid = obj.id.split("#")[0];
        $.ajax({
            url: WebsiteURL + "/FKMS/MaintainFKMS/GetTreeNodeName",
            type: "POST",
            datatype: 'json',
            data: { NodeId: nodeid },
            success: function (data) {
                if (data.Key) {
                    obj.text = data.item;
                    inst.edit(obj);
                }
            }
        });
    }

    function LoadTreeView(headerid, nodeid, isAsync) {
        //console.log("LoadTreeView Called");
        isAsync = isAsync == undefined ? true : isAsync;
        $.ajax({
            url: WebsiteURL + "/FKMS/MaintainFKMS/GetTreeNodes",
            type: "POST",
            datatype: 'json',
            async: isAsync,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { HeaderId: headerid, NodeId: nodeid },
            success: function (data) {
                PlannerGenerateTreeView('@ViewBag.HeaderId');
                if (isTreeCreated) {
                    $("#Mtree").jstree(true).settings.core.data = data;
                    $("#Mtree").jstree(true).refresh();
                }
                else {
                    isTreeCreated = true;
                    $("#Mtree").jstree({
                        "core": {
                            "themes": {
                                "responsive": false
                            },
                            // Disable some nodes
                            'check_callback': function (operation, node, node_parent, node_position, more) {
                                // operation can be 'create_node', 'rename_node', 'delete_node', 'move_node' or 'copy_node'
                                // in case of 'rename_node' node_position is filled with the new node name
                                if (operation === "move_node") {
                                    //return more.ref.li_attr.asmtype === "ASM"; //only allow dropping inside nodes of type 'Parent'
                                    if (status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()') {
                                        if (node.li_attr.asmtype == "PLT") {
                                            if (node_parent.li_attr.asmtype === "ASM" && !node_parent.li_attr.IsRequested) {
                                                if (node_parent.li_attr.qty == "" || node_parent.li_attr.qty == 1) {
                                                    return true;
                                                }
                                                else {
                                                    return false;
                                                }
                                                return true;
                                            }
                                            else {
                                                return false;
                                            }
                                        } else if (node.li_attr.asmtype == "ASM") {
                                            if (more.ref != undefined) {
                                                if (more.ref.li_attr.asmtype === "ASM" && !more.ref.li_attr.IsRequested) {
                                                    return more.ref.li_attr.asmtype === "ASM"
                                                }
                                            } else if (node_parent.li_attr.asmtype === "ASM" && !node_parent.li_attr.IsRequested) {
                                                return node_parent.li_attr.asmtype === "ASM";
                                            }
                                            return false; //only allow dropping inside nodes of type 'Parent' more.ref.li_attr.asmtype
                                        }
                                    } else {
                                        return false;
                                    }
                                }
                                else if (operation === "rename_node") {
                                    if (status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()') {
                                        if (node.li_attr.asmtype === "PLT") {
                                            return false;
                                        } else if (node.li_attr.asmtype === "ASM") {
                                            return true;
                                        }
                                    } else {
                                        return false;
                                    }
                                }
                                return true;
                            },

                            //'check_callback': function(operation, node, node_parent, node_position, more) {
                            //    // operation can be 'create_node', 'rename_node', 'delete_node', 'move_node' or 'copy_node'
                            //    // in case of 'rename_node' node_position is filled with the new node name

                            //    if (operation === "move_node") {
                            //        return node_parent.original.text === "bottom1 Assembly"; //only allow dropping inside nodes of type 'Parent'
                            //    }
                            //    return true;  //allow all other operations
                            //},

                            // so that create works
                            //"check_callback": true,
                            "dblclick_toggle": false,
                            'data': data
                        },
                        "dnd": {
                            is_draggable: function (m) {
                                if (m[0].li_attr.IsRequested) {
                                    //e.preventDefault();
                                    return false;
                                }
                                if (!IsDisplayOnly) {
                                    if (role == '@clsImplementationEnum.UserRoleName.SHOP' || status == '@clsImplementationEnum.CTQStatus.SendForApprovel.GetStringValue()') { return false; } else { return true; }
                                }
                            }
                        },
                        "types": {
                            "default": {
                                "icon": "fa fa-folder icon-state-success icon-lg"
                            },
                            "file": {
                                "icon": "fa fa-file icon-state-success icon-lg"
                            }
                        },
                        "state": { "key": "Mtree", "events": "activate_node.jstree", "ttl": "true", "sec": 0 },
                        //"search": {
                        //"case_insensitive": true,

                        // for parent child view
                        //"show_only_matches": true,
                        //"show_only_matches_children": true,

                        //"search_leaves_only": true,
                        //},
                        //"unique": {
                        //    "case_sensitive":true,
                        //    "trim_whitespace":true,
                        //},
                        "plugins": ["contextmenu", "dnd", "state", "types", "search"],

                        "contextmenu": {
                            "items": function (o, cb) {
                                var tree = $("#tree").jstree(true);
                                return {
                                    "create": {
                                        "separator_before": false,
                                        "separator_after": true,
                                        "_disabled": function (obj) {
                                            if (o.li_attr.IsRequested) {
                                                return true;
                                            }
                                            if (o.li_attr.asmtype === "PLT") {
                                                return true;
                                            } else if (o.li_attr.asmtype === "ASM") {
                                                if (status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()') {
                                                    return false;
                                                } else {
                                                    return true;
                                                }
                                            }
                                            return false;
                                        },
                                        //"_disabled": false, //(this.check("create_node", data.reference, {}, "last")),
                                        "label": "Create",
                                        "action": function (data) {
                                            // action code here
                                            var inst = $.jstree.reference(data.reference), obj = inst.get_node(data.reference);
                                            var nodeid = obj.id.split("#")[0];
                                            if (CheckNodeIsEnable(nodeid)) {
                                                inst.create_node(obj, {}, "last", function (new_node) {
                                                    newCreatedNodeid = new_node.id;
                                                    newCreatedNodetext = new_node.text;
                                                    setTimeout(function () { inst.edit(new_node); }, 0);
                                                });
                                            }
                                        }
                                    },
                                    "Rename": {
                                        "separator_before": false,
                                        "separator_after": false,
                                        "_disabled": function (obj) {
                                            if (o.li_attr.IsRequested) {
                                                return true;
                                            }
                                            if (o.li_attr.asmtype === "PLT") {
                                                return true;
                                            } else if (o.li_attr.asmtype === "ASM") {
                                                if (status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()') {
                                                    return false;
                                                } else {
                                                    return true;
                                                }
                                            }
                                            return false;
                                        },
                                        //"_disabled": false, //(this.check("create_node", data.reference, {}, "last")),
                                        "label": "Rename",
                                        "action": function (data) {
                                            // action code here
                                            var inst = $.jstree.reference(data.reference), obj = inst.get_node(data.reference);
                                            var nodeid = obj.id.split("#")[0];
                                            if (CheckNodeIsEnable(nodeid)) {
                                                $.ajax({
                                                    url: WebsiteURL + "/FKMS/MaintainFKMS/GetTreeNodeName",
                                                    type: "POST",
                                                    datatype: 'json',
                                                    data: { NodeId: nodeid },
                                                    //async: false,
                                                    success: function (data) {
                                                        if (data.Key) {
                                                            obj.text = data.item;
                                                            inst.edit(obj);
                                                        }
                                                    }
                                                });
                                            }
                                            //if (obj.id != null && obj.text != null) {
                                            //    updateNodeid = obj.id;
                                            //    updateNodetext = obj.text;
                                            //}
                                        }
                                    },
                                    "Delete": {
                                        "separator_before": false,
                                        "icon": false,
                                        "separator_after": false,
                                        "_disabled": function (obj) {
                                            if (o.li_attr.IsRequested) {
                                                return true;
                                            }
                                            if (o.li_attr.asmtype === "PLT") {
                                                return true;
                                            } else if (o.li_attr.asmtype === "ASM") {
                                                if (o.li_attr.isplannerasm == 0) {
                                                    return true;
                                                } else if (o.li_attr.isplannerasm == 1) {
                                                    if (status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()') {
                                                        return false;
                                                    } else {
                                                        return true;
                                                    }
                                                }
                                            }
                                            return false;
                                        },
                                        //"_disabled": false, //(this.check("create_node", data.reference, {}, "last")),
                                        "label": "Delete",
                                        "action": function (data) {
                                            // action code here
                                            var inst = $.jstree.reference(data.reference), obj = inst.get_node(data.reference);
                                            if (obj.children.length > 0) {
                                                DisplayNotiMessage("info", "Please remove or move all child node to delete selected node!", "Info");
                                                return false;
                                            }
                                            if (inst.is_selected(obj)) {
                                                inst.delete_node(inst.get_selected());
                                            }
                                            else {
                                                inst.delete_node(obj);
                                            }
                                            deletenode(obj);
                                        }
                                    },
                                    "Move": {
                                        "separator_before": false,
                                        "separator_after": true,
                                        "_disabled": function (obj) {
                                            if (o.li_attr.IsRequested) {
                                                return true;
                                            }
                                            if (o.li_attr.asmtype === "ASM") {
                                                if (status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()') {
                                                    return false;
                                                } else {
                                                    return true;
                                                }
                                            }
                                            return false;
                                        },
                                        //"_disabled": false, //(this.check("create_node", data.reference, {}, "last")),
                                        "label": "Move",
                                        "action": function (data) {
                                            debugger;
                                            var inst = $.jstree.reference(data.reference), obj = inst.get_node(data.reference);
                                            var nodeid = obj.id.split("#")[0];
                                            var SourceNode = myDiagram.findNodesByExample({ key: parseInt(nodeid) }).first();
                                            DiagramMove(SourceNode);
                                        }
                                    },
                                };
                            }
                        }
                    })
                .bind('changed.jstree', function (node, selectedNodes) {
                    //debugger
                    if (selectedNodes.selected.length > 0) {
                        if (selectedNodes.node != null && selectedNodes.node != undefined && selectedNodes.node.a_attr.isinsertedinplm == "false") {
                            $("#btnSeamList").hide(); //kit details not load when click on kit so Id required to seam list not get so this button set as hide
                            if (status == "@clsImplementationEnum.CommonStatus.Approved.GetStringValue()") {
                                LoadNodeNotLinkInPLM();
                            }
                        }
                        else {
                            $("#btnSeamList").show();
                            nodeid = selectedNodes.selected[0].split('#')[0];
                            if (LoadTimeSelectedNodeId != nodeid) {
                                LoadTimeSelectedNodeId = nodeid;

                                GetKitData(nodeid, selectedNodes.instance.get_node(selectedNodes.selected[0]).text);
                                //GetFixtureData(nodeid); GetMaterialData(nodeid);
                                if (ShowFixture == "1") {
                                    GetFixtureData(nodeid);
                                }
                                else {
                                    GetMaterialData(nodeid);
                                }
                            }
                        }
                    }
                    if (localStorage["Mtree"] != null && localStorage["Mtree"] != undefined) {
                        localStorage.removeItem("Mtree");
                    }
                    if (localStorage["demo2"] != null && localStorage["demo2"] != undefined) {
                        localStorage.removeItem("demo2");
                    }
                }).bind('rename_node.jstree', function (node, data) {
                    //console.debug('rename node :', node);
                    //console.debug('rename data :', data);
                    var inst = data.instance;
                    if (newCreatedNodeid != undefined && newCreatedNodeid != null) {
                        if (newCreatedNodeid == data.node.id && newCreatedNodetext == data.node.text) {
                            inst.delete_node(data.node);
                            newCreatedNodeid = null;
                        }
                        else {
                            if (data.node.text.length <= 100) {
                                var objFKM102Ent = new FKM102Ent();
                                objFKM102Ent.HeaderId = data.node.parent.split("#")[1];
                                objFKM102Ent.ParentNodeId = data.node.parent.split("#")[0];
                                objFKM102Ent.NodeName = data.node.text;
                                objFKM102Ent.ParentNodeTypeId = data.node.parent.split("#")[2];
                                objFKM102Ent.Project = $("#Project").val();
                                CreateNewNode(objFKM102Ent);
                            }
                            else {
                                DisplayNotiMessage("info", "Please Enter Max 100 Character Name!", "Information");
                                inst.delete_node(data.node);
                                newCreatedNodeid = null;
                            }
                        }
                        newCreatedNodeid = null;
                        newCreatedNodetext = null;
                    }
                    else {
                        if (data.text != "" && data.text != data.old) {
                            var nodeid = data.node.id.split("#")[0];
                            var nodetext = data.text;
                            UpdateNewNode(nodeid, nodetext);
                        }
                    }

                    //if (updateNodeid != undefined && updateNodetext != null) {
                    //    if (updateNodeid == data.node.id && updateNodetext == data.node.text) {
                    //        //inst.delete_node(data.node);
                    //        //updateNodeid = null;
                    //    }
                    //    else {
                    //        var nodeid = data.node.id.split("#")[0];
                    //        var nodetext = data.node.text;
                    //        UpdateNewNode(nodeid, nodetext);
                    //    }
                    //    nodeid = null;
                    //    nodetext = null;
                    //}
                })
                .bind('move_node.jstree', function (e, data) {
                    DragNDrop(data.parent, data.node.id);
                })
                    //.on('activate_node.jstree', function (e, data) {});
                }

                if (role == '@clsImplementationEnum.UserRoleName.PLNG3') {
                    $('#btncompare').removeClass("tree-disabled");
                    $('#btncompare').removeAttr("disabled");
                }
                $('#ShowColorInfo').removeClass("tree-disabled");
                $('#ShowColorInfo').removeAttr("disabled");
                AutoScrollSource();
            },
            error: function () {
            }
        });
    }

    function deletenode(obj) {
        if (obj.id != null) {
            deleteNodeid = obj.id.split("#")[0];
            headerid = obj.id.split("#")[1];
            DeleteNewNode(deleteNodeid, headerid);
        }
    }

    function DragNDrop(parent, child) {
        var IsMovable = false;
        if (parent != null && child != null) {
            PdndNodeid = parent.split("#")[0];
            CdndNodeid = child.split("#")[0];
            headerid = child.split("#")[1];
            //DNDNewNode(PdndNodeid, CdndNodeid);

            $.ajax({
                type: "POST",
                url: WebsiteURL + "/FKMS/MaintainFKMS/MomentDND",
                datatype: 'html',
                async: false,
                data: { Child: CdndNodeid, Parent: PdndNodeid },
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    var maxvalue = (data.ParentQty * data.Qty)-0.01;
                    if (data.Key) {
                        IsMovable = true;
                        //console.log(data);
                        if (data.ProductType.toUpperCase() == "ASM" || data.ProductType.toUpperCase() == "TJF") {
                            if (data.Value > 1) {

                                // var setDecimalValidation = (data.ParentUOM == '@clsImplementationEnum.UOMEnum.Nos.GetStringValue()' || data.ParentUOM == '@clsImplementationEnum.UOMEnum.KG.GetStringValue()') ? " onkeyup=\"checkDecimal(this);\"" : " onkeypress='return isNumber(event)' maxlength='2' ";

                                bootbox.dialog({
                                    title: "Movement",
                                    message: "<form action='' class='form-horizontal' id='frmCopy' method='post' novalidate='novalidate'><div class='form-group'><div class='col-md-12'><div class='form-group'><div class='col-md-12' style='padding:0px;'><div class='col-md-8' style='padding:0px;'><label class='control-label'>Move Quantity Out Of " + data.Value + " <span class='required'> * </span></label><div></div></div><div class='col-md-4'><input type='hidden' id='mainqty' value='" + data.Value + "'/><input type='text' id='txtIsNoOfPieces' value='' name='txtIsNoOfPieces' class='form-control ui-autocomplete-input checkcls clsqty' placeholder='Qty' onkeypress='return isNumber(event)' maxlength='2'></div></div></div></div></div></form>",
                                    size: 'small',
                                    onEscape: function () {
                                        myDiagram.commandHandler.undo();
                                        GenerateTreeView(headerid);
                                    },
                                    buttons: {
                                        'yes': {
                                            label: 'Save',
                                            className: 'btn btn-primary',
                                            callback: function () {
                                                var check = checkQty();
                                                if (!check) {
                                                    return false;
                                                } else {
                                                    var txtIsNoOfPieces = $("#txtIsNoOfPieces").val();
                                                    DNDNewNode(PdndNodeid, CdndNodeid, txtIsNoOfPieces);
                                                    GenerateTreeView(headerid)
                                                    return true;
                                                }
                                            }
                                        },
                                        'cancel': {
                                            label: 'Cancel',
                                            className: 'btn btnclose',
                                            callback: function () {
                                                myDiagram.commandHandler.undo();
                                                GenerateTreeView(headerid)
                                            }
                                        },
                                    }
                                });
                            } else {
                                DNDNewNode(PdndNodeid, CdndNodeid, data.Value);
                            }
                        }
                        else {

                            var isValidUOM = AllowMovementUOM.indexOf(data.ChildUOM);

                            var TotalQty = parseFloat(data.ParentQty * data.Qty);
                            var ParentQty = parseFloat(data.ParentQty != "" ? data.ParentQty : "0");
                            var Qty = parseFloat(data.Qty != "" ? data.Qty : "0");
                            arraySplitPartsQty = [];
                            arrayCalculateQty = [];
                            var nodeQty = (Qty * ParentQty) / (Qty < 1 ? ParentQty : Qty);
                            var SplitQty = 0;
                            var NoOfPiecesValidation = ""

                            for (var i = nodeQty ; i <= TotalQty ; i = i + nodeQty) {
                                SplitQty = i.toFixed(2);
                                arrayCalculateQty.push(SplitQty);
                            }

                            if (SplitQty < TotalQty) {
                                arrayCalculateQty.push(TotalQty.toFixed(2));
                            }

                            if (isValidUOM != -1 && Qty != "0") {

                                var getHBOM = $.grep(lstHBOMDataByProject, function (v) {
                                    return v.Project == data.Project && v.FindNo == data.SourceFindNo && v.ParentPart == data.ParentNodeKey && v.Part == data.NodeKey;
                                });
                                if (getHBOM.length == 0) {
                                    NoOfPiecesValidation = "Can not move, record not found in H-BOM for this item !"
                                } else {
                                    if (getHBOM[0].NoOfPieces == 0) {
                                        NoOfPiecesValidation = "Can not move, '0' No. of Pieces found in H-BOM for this item !"
                                    } else {
                                        var calValue = 0;
                                        for (var i = 0; i < arrayCalculateQty.length; i++) {
                                            calValue = ((getHBOM[0].Weight / getHBOM[0].NoOfPieces) / arrayCalculateQty[i])
                                            if (calValue <= Qty) {
                                                arraySplitPartsQty.push(calValue.toFixed(4));
                                            }
                                        }
                                        if (arraySplitPartsQty.length == 0) {
                                            arraySplitPartsQty = arrayCalculateQty;
                                        }
                                        arraySplitPartsQty = arraySplitPartsQty.sort();
                                    }
                                }
                            } else {
                                arraySplitPartsQty = arrayCalculateQty;
                            }

                            //var TotalQty = parseFloat(data.ParentQty * data.Qty);
                            //var ParentQty = parseFloat(data.ParentQty != "" ? data.ParentQty : "0");
                            //var Qty = parseFloat(data.Qty != "" ? data.Qty : "0");
                            //arraySplitPartsQty = [];
                            //var nodeQty = (Qty * ParentQty) / (Qty < 1 ? ParentQty : Qty);
                            //var SplitQty = 0;
                            //for (var i = nodeQty ; i <= TotalQty ; i = i + nodeQty) {
                            //    SplitQty = i.toFixed(2);
                            //    arraySplitPartsQty.push(SplitQty);
                            //}
                            //if (SplitQty < TotalQty) {
                            //    arraySplitPartsQty.push(TotalQty.toFixed(2));
                            //}
                            
                            //var inputControl = "<input type='text' id='txtSplitQty' value='' name='txtSplitQty' class='form-control ui-autocomplete-input checkcls clsqty' placeholder='Qty' onkeypress='return isNumber(event)'  maxlength='8' required >"
                            var inputControl = "<input type='number' id='txtSplitQty1' min='0.1' max='"+maxvalue+"' value='' name='txtSplitQty' class='form-control checkcls clsqty' placeholder='Qty'  maxlength='8' required >";

                            if (data.ChildUOM == "nos" || data.ChildUOM == "set") {
                                inputControl = "<input type='text' id='txtSplitQty' value='' name='txtSplitQty' class='form-control ui-autocomplete-input checkcls clsqty' placeholder='Qty' onkeypress='return isNumber(event)'  maxlength='8' required >";
                            }
                            //if (ParentQty > 1) {
                            //    var inputControl = "<input type='text' id='txtSplitQty' value='' name='txtSplitQty' class='form-control ui-autocomplete-input checkcls clsqty' placeholder='Qty' onkeypress='return isNumber(event)' maxlength='8' required >"
                            //} else {
                            //    var inputControl = "<input type='text' id='txtSplitQty' value='' name='txtSplitQty' class='form-control checkcls clsqty' placeholder='Qty' onkeypress='return isNumber(event)' maxlength='8' autocomplete='off' required >"
                            //}

                            var dvPlateSplit = "<div id='dvPlateSplit'><form action='' class='form-horizontal' id='frmSplitPart' method='post' novalidate='novalidate'>" +
                                    "<div class='row'>" +
                                    "<div class='col-md-12' style='padding:0 0 5px 0'>" +
                                    "<div class='col-md-6' style='padding:0px;'>" +
                                    "<label class='control-label' style='font-weight: bold;'>Source Kit</label>" +
                                    "</div>" +
                                    "<div class='col-md-6'>" +
                                     "<label class='control-label' style='margin-left: 0px;font-weight: bold;'>Destination Kit</label>" +
                                    "</div>" +
                                    "</div>";

                            if (NoOfPiecesValidation != "") {
                                dvPlateSplit = dvPlateSplit + "<div class='col-md-12' style='padding:0 0 5px 0;text-align: center'>" +
                                                                "<div class='col-md-12' style='padding:0px;'>" +
                                                                "<label class='control-label' style='color: red'><b>" + NoOfPiecesValidation + "</b>" + "</label>" +
                                                                "</div>" +
                                                                "</div>";
                            }


                            dvPlateSplit = dvPlateSplit +
                            "<div class='col-md-12' style='padding:0 0 5px 0'>" +
                            "<div class='col-md-6' style='padding:0px;'>" +
                            "<label class='control-label'><b>" + data.SourceFindNo + "</b> - " + data.ChildNodeName + "</label>" +
                            "</div>" +
                            "<div class='col-md-6'>" +
                             "<label class='control-label' style='margin-left: 0px;'><b>" + data.DestinationFindNo + "</b> - " + data.ParentNodeName + "</label>" +
                            "</div>" +
                            "</div>" +

                             "<div class='col-md-12' style='padding:0px;'>" +
                            "<div class='col-md-6' style='padding:0px;'>" +
                            "<label class='control-label'>Move Quantity Out Of <span id='spnTotalQty'></span> <span class='required'> * </span></label>" +
                            "</div>" +
                            "<div class='col-md-4'>" +
                            "<input type='hidden' id='hdnParentQty' />" +
                            "<input type='hidden' id='hdnTotalPartQty' />" +
                            "<input type='hidden' id='hdnPartQty' />" + inputControl +
                            "</div>" +
                            "<div class='col-md-2'>" +
                            "</div>" +
                            "</div>" +

                            "</div>" +
                            "</form>" +
                            "</div>";
                            bootbox.dialog({
                                title: "Movement",
                                message: dvPlateSplit,
                                onEscape: function () {
                                    myDiagram.commandHandler.undo();
                                    GenerateTreeView(headerid);
                                },
                                buttons: {
                                    'yes': {
                                        label: 'Save',
                                        className: 'btn btn-primary',
                                        callback: function () {
                                            //var prtQty = 0;
                                            //var chlQty = 0;

                                            //if ($("#txtSplitQty").val()){
                                            //      prtQty = parseFloat($("#txtSplitQty").val());
                                            //    }
                                            //if (data.Qty){
                                            //      chlQty=  parseFloat(data.Qty);
                                            //    }

                                            //if (prtQty > chlQty) {
                                            //    DisplayNotiMessage("error", "You can not move quantity more than available quantity", "Validation");
                                            //    return false;
                                            //}
                                            var splitQty = "";
                                            if (data.ChildUOM == "nos" || data.ChildUOM == "set")
                                                splitQty = $("#txtSplitQty").val();
                                            else
                                                splitQty = $("#txtSplitQty1").val();

                                            if ($("#frmSplitPart").valid()) {
                                                PartSplit(CdndNodeid, PdndNodeid, splitQty, true);
                                               // PartSplit(CdndNodeid, PdndNodeid, $("#txtSplitQty").val(), true);
                                                initDiagram($('#btnShowDiagram'));
                                                initDiagram($('#btnShowDiagram'));  
                                                return true;
                                            }
                                            else {
                                                return false;
                                            }

                                        }
                                    },
                                    'cancel': {
                                        label: 'Cancel',
                                        className: 'btn btnclose',
                                        callback: function () {
                                            myDiagram.commandHandler.undo();
                                            GenerateTreeView(headerid)
                                        }
                                    },
                                }
                            });
                            window.setTimeout(function () {
                                $("#hdnParentQty").val(TotalQty);
                                $("#hdnTotalPartQty").val(TotalQty);
                                $("#hdnPartQty").val(Qty);
                                $("#spnTotalQty").html(data.ParentQty * data.Qty);
                                var setPrtQty = parseFloat(data.ParentQty);
                                FillAutoCompleteForpartQty();
                                //if (setPrtQty > 1) {
                                //    FillAutoCompleteForpartQty();
                                //}
                            }, 500)
                        }
                    }
                    else {
                        bootbox.alert({
                            size: "small",
                            message: data.Value,
                            callback: function () {
                                GenerateTreeView(headerid)
                            }
                        });
                    }
                },
                error: function () {
                }
            });
        }
        return IsMovable;
    }

    function PartSplit(NodeId, ParentNodeId, NoOfPieces, IsCheckExist) {
        $.ajax({
            url: WebsiteURL + "/FKMS/MaintainFKMS/PartSplit",
            type: "POST",
            datatype: 'json',
            //async: true,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { NodeId: NodeId, ParentNodeId: ParentNodeId, NoOfPieces: NoOfPieces, IsCheckExist: IsCheckExist },
            success: function (data) {
                if (data.Key) {
                    if (data.IsNodeExist) {
                        bootbox.dialog({
                            title: "Movement",
                            message: data.Value,
                            onEscape: function () {
                                GenerateTreeView(headerid);
                            },
                            buttons: {
                                'yes': {
                                    label: 'Yes',
                                    className: 'btn btn-primary',
                                    callback: function () {
                                        PartSplit(NodeId, ParentNodeId, NoOfPieces, false);
                                    }
                                },
                                'cancel': {
                                    label: 'No',
                                    className: 'btn btnclose',
                                    callback: function () {
                                        GenerateTreeView(headerid);
                                    }
                                },
                            }
                        });
                    }
                    else {
                        GenerateTreeView(headerid);
                    }
                    return true;
                }
                else {
                    return false;
                }
            },
            error: function () {
                return false;
            }
        });
    }

    function checkQty() {
        var validateform = true;

        if ($("#txtIsNoOfPieces").val() == "" || $("#txtIsNoOfPieces").val() == "0") {
            $("#txtIsNoOfPieces").addClass('error');
            validateform = false;
        }
        else {
            if (parseInt($("#txtIsNoOfPieces").val()) > parseInt($("#mainqty").val())) {
                $("#txtIsNoOfPieces").addClass('error');
                validateform = false;
            }
            else {
                $("#txtIsNoOfPieces").removeClass('error');
                validateform = true;
            }
        }
        return validateform;
    }

    function DNDNewNode(PdndNodeid, CdndNodeid, txtIsNoOfPieces) {

        $.ajax({
            url: WebsiteURL + "/FKMS/MaintainFKMS/DNDNewNode",
            type: "POST",
            datatype: 'json',
            //async: true,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { ParentNodeId: PdndNodeid, ChildNodeId: CdndNodeid, IsNOPs: txtIsNoOfPieces },
            success: function (data) {
                if (data.Key) {
                    ScrollNodeID = CdndNodeid;
                    GenerateTreeView(headerid);
                    //LoadTreeView();
                    //$.ajax({
                    //    url: WebsiteURL + "/FKMS/MaintainFKMS/GetTreeNodes",
                    //    type: "POST",
                    //    datatype: 'json',
                    //    async: true,
                    //    data: { HeaderId: headerid },
                    //    success: function (data) {
                    //        debugger;
                    //        $("#tree_3").jstree(true).core.data = data;
                    //        $("#tree_3").jstree(true).refresh();
                    //        return true;
                    //    },
                    //    error: function () {
                    //        return false;
                    //    }
                    //});
                    return true;
                }
                else {
                    return false;
                }
            },
            error: function () {
                return false;
            }
        });
    }

    function CreateNewNode(objFKM102Ent) {
        $.ajax({
            url: WebsiteURL + "/FKMS/MaintainFKMS/CreateNewNode",
            type: "POST",
            datatype: 'json',
            data: { objFKM102: objFKM102Ent, ParentNodeTypeId: objFKM102Ent.ParentNodeTypeId },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    CreatedNewNodeParentId = objFKM102Ent.ParentNodeId;
                    ScrollNodeID = data.HeaderId;//new node id
                    //$.ajax({
                    //    url: WebsiteURL + "/FKMS/MaintainFKMS/GetTreeNodes",
                    //    type: "POST",
                    //    datatype: 'json',
                    //    data: { HeaderId: headerid, NodeId: 0 },
                    //    success: function (data) {

                    //        GenerateTreeView(headerid);
                    //        //$("#Mtree").jstree(true).settings.core.data = data;
                    //        //$("#Mtree").jstree(true).refresh();
                    //    },
                    //    error: function () {
                    //    }
                    //});
                    GenerateTreeView(headerid);
                    if (myDiagram) loadDiagram();
                }
            },
            error: function () {
            }
        });
    }

    function UpdateNewNode(nodeid, nodetext) {
        $.ajax({
            url: WebsiteURL + "/FKMS/MaintainFKMS/UpdateNewNode",
            type: "POST",
            datatype: 'json',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { ParentNodeId: nodeid, NodeText: nodetext },
            success: function (data) {
                //LoadTreeView();
                ScrollNodeID = nodeid
                GenerateTreeView(headerid)
                if (myDiagram) {
                    myDiagram.model.commit(function (m) {
                        var node = myDiagram.findNodeForKey(nodeid);
                        m.set(node.data, "name", nodetext);
                    }, "change");
                }
            },
            error: function () {
            }
        });
    }

    function DeleteNewNode(deleteNodeid, headerid) {
        $.ajax({
            url: WebsiteURL + "/FKMS/MaintainFKMS/DeleteNewNode",
            type: "POST",
            datatype: 'json',
            data: { DeleteNodeid: deleteNodeid, HeaderId: headerid },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                //LoadTreeView();
                ScrollNodeID = data.HeaderId;//parent node id
                $.ajax({
                    url: WebsiteURL + "/FKMS/MaintainFKMS/GetTreeNodes",
                    type: "POST",
                    datatype: 'json',
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    data: { HeaderId: headerid, NodeId: 0 },
                    success: function (data) {
                        //$("#Mtree").jstree(true).settings.core.data = data;
                        //$("#Mtree").jstree(true).refresh();
                        GenerateTreeView(headerid)
                    },
                    error: function () {
                    }
                });
            },
            error: function () {
            }
        });
    }


    function GetKitData(nodeId, nodeText) {
        nodeText = (nodeText || "").replace("icon-stack-1x", "");
        $.ajax({
            url: WebsiteURL + "/FKMS/MaintainFKMS/GetKitDetails",
            type: "POST",
            data: { NodeId: nodeId },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            //async: false,
            success: function (data) {
                if (data.Key) {
                    $("#text_delivery_status").text(data.DeliverStatus);
                    $("#text_material_status").text(data.MaterialStatus);
                    //Observation 15487 on 04-07-2018
                    if (data.IsSOBGenerated) {
                        $("#SOB_Key_Status").removeClass('hidden');
                    }
                    else {
                        $("#SOB_Key_Status").addClass('hidden');
                    }
                    $("#kitdetails span#kit_name").text(data.KitName);
                    if (!nodeText) {
                        nodeText = setfaicon(nodeText, data.NodeColor);
                    }
                    $("#kitdetails span#kit_num").html(nodeText.replace(data.KitName, " ") + data.KitNumber);
                    if (isApprover == "maintain" && (status == '@clsImplementationEnum.CTQStatus.DRAFT.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Returned.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()')) {
                        $("#btndoc").show();
                        $("#btnenm").show();
                        //$("#text_delivery_status").addClass("hidden");
                        //$("#text_material_status").addClass("hidden");
                        $("#btnnode_filter").removeClass('hidden');
                    }

                    if (data.KitIsAssembly == true) {
                        DeliverTo = data.KitDept;
                        DeliverId = data.DeliverId;
                        $("#Part_Material_Status").removeClass('hidden');
                        $("#release_nodeid").val(data.NodeId);
                        $("#kitdetails input#txtdept").val(data.KitDept);
                        $("#kitdetails input#ddldept").val(data.DeliverId);
                        $("#kitdetails #txttask").val(data.TaskId ? data.TaskId.split(',') : []).trigger('change');
                        $("#kitdetails input#ddltask").val(data.TaskId);
                        //$("#kitdetails #txttask").removeAttr('disabled', 'disabled');
                        //fillTaskToDropdown()
                        //fillTaskToDropdown()
                        if (isApprover == "maintain" && data.DeliverStatus != "@clsImplementationEnum.FKMSMaterialDeliveryStatus.Delivered.GetStringValue()" && (status == '@clsImplementationEnum.CTQStatus.DRAFT.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Returned.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()')) {
                            $("#kitdetails input#txtdept").removeAttr('disabled', 'disabled');
                            $("#kitdetails #txttask").removeAttr('disabled', 'disabled');
                        }
                        fillTaskToDropdown()
                        if (data.releaseKey == 0) {
                            if (isApprover == "maintain" && (status == '@clsImplementationEnum.CTQStatus.DRAFT.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Returned.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()')) {
                                $('#kit_status').addClass("hidden");
                                $('#kit_status').prop('disabled', true);
                            }
                        } else if (data.releaseKey == 1) {
                            if (isApprover == "maintain" && (status == '@clsImplementationEnum.CTQStatus.DRAFT.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Returned.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()')) {
                                $('#kit_status').addClass("hidden");
                                $('#kit_status').prop('disabled', true);
                            }
                        } else if (data.releaseKey == 2) {
                            if (isApprover == "maintain" && data.DeliverStatus != "@clsImplementationEnum.FKMSMaterialDeliveryStatus.Delivered.GetStringValue()" && (status == '@clsImplementationEnum.CTQStatus.DRAFT.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Returned.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()')) {
                                $('#kit_status').addClass("hidden");
                                $('#kit_status').prop('disabled', true);
                                $("#kitdetails #txttask").prop('disabled', true);
                                $("#kitdetails input#txtdept").prop('disabled', true);
                                //$("#btndoc").hide();
                                $("#btnenm").hide();
                                //$("#text_delivery_status").removeClass("hidden");
                                $("#material_status").removeClass('hidden');
                                $('#material_status').prop('disabled', false);
                            }

                            //$("#text_delivery_status").text(data.DeliverStatus);

                        }
                        else if (data.releaseKey == 3) {
                            if (isApprover == "maintain" && data.DeliverStatus != "@clsImplementationEnum.FKMSMaterialDeliveryStatus.Delivered.GetStringValue()" && (status == '@clsImplementationEnum.CTQStatus.DRAFT.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Returned.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()')) {
                                $('#kit_status').addClass("hidden");
                                $('#kit_status').prop('disabled', true);
                                $("#kitdetails #txttask").prop('disabled', true);
                                $("#kitdetails input#txtdept").prop('disabled', true);
                                //$("#btndoc").hide();
                                $("#btnenm").hide();
                                //$("#text_delivery_status").removeClass("hidden");
                                //$("#text_material_status").removeClass("hidden");
                            }
                            //$("#text_delivery_status").text(data.DeliverStatus);
                            //$("#text_material_status").text(data.MaterialStatus);
                        }

                    }
                    else if (data.KitIsAssembly == false) {
                        DeliverTo = "";
                        DeliverId = "";
                        $("#Part_Material_Status").addClass('hidden');
                        $("#kitdetails input#txtdept").val('');
                        $("#kitdetails input#ddldept").val('');
                        if (isApprover == "maintain" && (status == '@clsImplementationEnum.CTQStatus.DRAFT.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Returned.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()')) {
                            $("#kitdetails input#txtdept").attr('disabled', 'disabled');
                            $("#kitdetails #txttask").attr('disabled', 'disabled');
                        }
                        $("#kitdetails #txttask").val('').trigger('change');
                        $("#kitdetails input#ddltask").val('');
                    }
                    else {
                        DeliverTo = "";
                        DeliverId = "";
                        $("#Part_Material_Status").addClass('hidden');
                        $("#kitdetails input#txtdept").val('');
                        $("#kitdetails input#ddldept").val('');
                        $("#kitdetails #txttask").val('').trigger('change');
                        $("#kitdetails input#ddltask").val('');
                        if (isApprover == "maintain" && data.DeliverStatus != "@clsImplementationEnum.FKMSMaterialDeliveryStatus.Delivered.GetStringValue()" && (status == '@clsImplementationEnum.CTQStatus.DRAFT.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Returned.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()')) {
                            $("#kitdetails input#txtdept").removeAttr('disabled', 'disabled');
                            $("#kitdetails #txttask").attr('disabled', 'disabled');
                        }
                    }
                    $("#btnReadyForParent,#btnCompleteKit").addClass('hidden');
                    //for SHOP or FKM3 condition check
                    if (IsDisplayOnly) {
                        $("#kitdetails input#txtdept").prop('disabled', true);
                        $("#kitdetails #txttask").prop('disabled', true);
                    } else {
                        if ((isApprover == "maintain" && (status == '@clsImplementationEnum.CTQStatus.DRAFT.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Returned.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()')) && (role == '@clsImplementationEnum.UserRoleName.SHOP' || role == '@clsImplementationEnum.UserRoleName.FKM3')) {
                            $("#kitdetails input#txtdept").prop('disabled', true);
                            $("#kitdetails #txttask").prop('disabled', true);
                        }
                        if (data.IsReadyForParentKit && (role == "@clsImplementationEnum.UserRoleName.PLNG2.GetStringValue()" || role == "@clsImplementationEnum.UserRoleName.PLNG3.GetStringValue()")) {
                            $("#btnReadyForParent").removeClass('hidden');
                            $('#material_status').addClass("hidden");
                            $('#material_status').prop('disabled', true);
                        }
                        if(data.KitStatus == '@clsImplementationEnum.KitStatus.Request.GetStringValue()' && data.MaterialStatus == '@clsImplementationEnum.FKMSMaterialDeliveryStatus.MaterialReceived.GetStringValue()' && role == "@clsImplementationEnum.UserRoleName.SHOP.GetStringValue()") {
                            $("#btnCompleteKit").removeClass('hidden');
                        }
                    }

                    $('.select2-search__field').css("width", "unset");

                    var currentNode = $("[scrollid=" + nodeId + "]");
                    var kstatus = currentNode > 0 ? currentNode.attr("kstatus") : data.KitStatus;
                    var DStatus = currentNode > 0 ? currentNode.attr("dstatus") : data.DeliverStatus;
                    var ASMType = currentNode > 0 ? currentNode.attr("asmtype") : (data.KitIsAssembly ? "ASM" : "");
                    var mstatus = currentNode > 0 ? currentNode.attr("mstatus") : data.MaterialStatus;

                    var color = currentNode > 0 ? currentNode.find("[scrollid=" + nodeId + "_anchor]").attr("color") : data.NodeColor;
                    if (ASMType != null && (ASMType.toUpperCase() == "ASM" || ASMType.toUpperCase() == "TJF")) {
                        if (kstatus == "@clsImplementationEnum.KitStatus.Release.GetStringValue()" &&
                         DStatus == "@clsImplementationEnum.FKMSMaterialDeliveryStatus.Delivered.GetStringValue()") {
                            $('#material_status').addClass("hidden");
                            $('#material_status').prop('disabled', true);
                            //$("#btnReadyForParent").removeClass('hidden');
                            $("#btnSendToNextKit").addClass('hidden');
                        }
                        else if (kstatus == "@clsImplementationEnum.KitStatus.Release.GetStringValue()" &&
                          color == "@clsImplementationEnum.ColorFlagForFKMS.Green.GetStringValue()") {
                            if (mstatus == "@clsImplementationEnum.KitStatus.Request.GetStringValue()" ||
                                mstatus == "@clsImplementationEnum.FKMSMaterialDeliveryStatus.MaterialReceived.GetStringValue()") {
                                $('#material_status').addClass("hidden");
                                $('#material_status').prop('disabled', true);
                            }
                            else {
                                if (data.IsBelongToShop) {
                                    $('#material_status').prop('disabled', false);
                                    $('#material_status').removeClass("hidden");
                                }
                                else {
                                    $('#material_status').addClass("hidden");
                                    $('#material_status').prop('disabled', true);
                                }
                            }
                            //$("#btnReadyForParent").addClass('hidden');
                            $("#btnSendToNextKit").addClass('hidden');
                        }
                        else if (kstatus == "@clsImplementationEnum.KitStatus.ReadyForParent.GetStringValue()" &&
                            DStatus == "@clsImplementationEnum.FKMSMaterialDeliveryStatus.Delivered.GetStringValue()" &&
                            role == "@clsImplementationEnum.UserRoleName.SHOP.GetStringValue()") {
                            $('#material_status').addClass("hidden");
                            $('#material_status').prop('disabled', true);
                            //$("#btnReadyForParent").addClass('hidden');
                            if (data.DeliverTo == '@objBase.objClsLoginInfo.Department') {
                                $("#btnSendToNextKit").addClass('hidden');
                            }
                            else {
                                $("#btnSendToNextKit").addClass('hidden');
                            }
                        }
                        else if (kstatus == "@clsImplementationEnum.KitStatus.RequestedByParentKit.GetStringValue()" && role == "@clsImplementationEnum.UserRoleName.FKM3.GetStringValue()") {
                            $("#btnSendToNextKitByFKM3").addClass('hidden');
                        }
                        else {
                            $('#material_status').addClass("hidden");
                            $('#material_status').prop('disabled', true);
                            //$("#btnReadyForParent").addClass('hidden');
                            $("#btnSendToNextKit").addClass('hidden');
                            $("#btnSendToNextKitByFKM3").addClass('hidden');
                        }

                        if (color == "@clsImplementationEnum.ColorFlagForFKMS.Orange.GetStringValue()") {
                            $("#kit_status").addClass('hidden');
                            $('#kit_status').prop('disabled', true);
                        }
                        else {
                            $("#kit_status").addClass('hidden');
                            $('#kit_status').prop('disabled', true);
                        }

                        //Logic For Enable Disabled Deliver To
                        if (data.KitIsAssembly == true) {
                            if (!data.IsAllowToChangeDeliverToAndDeAllocate || IsDisplayOnly || DStatus == "@clsImplementationEnum.FKMSMaterialDeliveryStatus.Delivered.GetStringValue()"
                                || ((isApprover == "maintain" && (status == '@clsImplementationEnum.CTQStatus.DRAFT.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Returned.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()')) && (role == '@clsImplementationEnum.UserRoleName.SHOP' || role == '@clsImplementationEnum.UserRoleName.FKM3'))) {
                                $("#kitdetails input#txtdept").prop('disabled', true);
                                $("#kitdetails #txttask").prop('disabled', true);
                            }
                            else {
                                if (isApprover == "maintain" && (status == '@clsImplementationEnum.CTQStatus.DRAFT.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Returned.GetStringValue()' || status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()')) {
                                    $("#kitdetails input#txtdept").removeAttr('disabled', 'disabled');
                                    $("#kitdetails #txttask").removeAttr('disabled', 'disabled');
                                }
                                else {
                                    $("#kitdetails input#txtdept").prop('disabled', true);
                                    $("#kitdetails #txttask").prop('disabled', true);
                                }
                            }
                        }
                        else {
                            $("#kitdetails input#txtdept").prop('disabled', true);
                            $("#kitdetails #txttask").prop('disabled', true);
                        }
                    }
                    else {
                        $('#material_status').addClass("hidden");
                        $('#material_status').prop('disabled', true);
                        //$("#btnReadyForParent").addClass('hidden');
                        $("#btnSendToNextKit").addClass('hidden');
                        $("#kit_status").addClass('hidden');
                        $('#kit_status').prop('disabled', true);
                    }
                    loadKitDetailsData(nodeId);
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

    function setfaicon(nodeText, NodeColor) {
        if (NodeColor == "@clsImplementationEnum.ColorFlagForFKMS.Green.GetStringValue()") {
            nodeText = "<i class='fa fa-circle  fa-success'></i>"
        }
        if (NodeColor == "@clsImplementationEnum.ColorFlagForFKMS.Red.GetStringValue()") {
            nodeText = "<i class='fa fa-circle  fa-danger'></i>"
        }
        if (NodeColor == "@clsImplementationEnum.ColorFlagForFKMS.Yellow.GetStringValue()") {
            nodeText = "<i class='fa fa-circle  fa-warning'></i>"
        }
        if (NodeColor == "@clsImplementationEnum.ColorFlagForFKMS.Violet.GetStringValue()") {
            nodeText = "<i class='fa fa-circle  fa-voilet'></i>"
        }
        if (NodeColor == "@clsImplementationEnum.ColorFlagForFKMS.Orange.GetStringValue()") {
            nodeText = "<i class='fa fa-circle  fa-orange'></i>"
        }
        if (NodeColor == "@clsImplementationEnum.ColorFlagForFKMS.Blue.GetStringValue()") {
            nodeText = "<i class='fa fa-circle  fa-blue'></i>"
        }
        return nodeText;
    }

    function loadKitDetailsData(nodeid) {
        var table = $('#tblKitLinesDetails');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "scrollX": "0px",
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 5,
            'iDisplayLength': 5,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/FKMS/MaintainFKMS/LoadKitListData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Headerid", "value": headerid },
                            { "name": "NodeId", "value": parseInt(nodeid) },
                            { "name": "IsDisplayOnly", "value": IsDisplayOnly }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                    },
                    //'async': false
                });
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                if (aData[2] == "@clsImplementationEnum.ColorFlagForFKMS.Green.GetStringValue()") {
                    $(nRow).addClass('gridrowbggreen');
                    //$(nRow).find('td:last').removeClass('highlightGreen');
                }
                if (aData[2] == "@clsImplementationEnum.ColorFlagForFKMS.Red.GetStringValue()") {
                    $(nRow).addClass('gridrowbgred');
                }
                if (aData[2] == "@clsImplementationEnum.ColorFlagForFKMS.Yellow.GetStringValue()") {
                    $(nRow).addClass('gridrowbgyellow');
                }
                if (aData[2] == "@clsImplementationEnum.ColorFlagForFKMS.Violet.GetStringValue()") {
                    $(nRow).addClass('gridrowbgvoilet');
                }
                if (aData[2] == "@clsImplementationEnum.ColorFlagForFKMS.Orange.GetStringValue()") {
                    $(nRow).addClass('gridrowbgorange');
                }
                if (aData[2] == "@clsImplementationEnum.ColorFlagForFKMS.Blue.GetStringValue()") {
                    $(nRow).addClass('gridrowbgblue');
                }
                if (parseFloat(aData[7]) >= parseFloat(aData[6])) {
                    $(nRow).addClass('fontcolorgreen');
                }
            },
            "columns": [
                {
                    "name": "NodeId",
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "name": "HeaderId",
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "name": "ColorFlag",
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "name": "FindNo",
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "name": "ProductType",
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "name": "TotalBOMQty",
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "name": "NoOfPieces",
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "name": "ReceivedQty",
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "name": "RevNo",
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
            ]
        });
    }

    function GetStagesforFindNo(project, findno) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/FKMS/MaintainFKMS/LoadPartlistFilteredDataPartial",
            datatype: 'html',
            //async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: {
                project: project,
                parentpartno: findno,
            },
            success: function (result) {
                bootbox.dialog({
                    title: "Part Details",
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                }).find("div.modal-dialog").addClass("clsBootBoxWidth");
            },
            error: function () {
            }
        });
    }


    function IsAssemblyOrNot(NodeId, IsAssembly, Id, bomqty) {
        if (IsAssembly == "true") {
            var node = $("#Mtree").jstree(true).get_node(Id);
            $("#Mtree").jstree(true).deselect_node($("#Mtree").jstree("get_selected"));
            $("#Mtree").jstree(true).select_node(node);
            $("#Mtree").jstree(true).open_node(node);
            nodeid = parseInt(NodeId);
            //console.log("IsAssemblyOrNot Called");
            GetKitData(parseInt(NodeId));
        }
        else {
            GetSelectedPartDetails(NodeId, bomqty);
        }
    };

    function GetSelectedPartDetails(NodeId, bomqty) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/FKMS/MaintainFKMS/GetPartDetails",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            //async: false,
            data: { NodeId: NodeId, BomQty: bomqty },
            success: function (result) {

                bootbox.dialog({
                    title: 'Part Details  <label class="btn btn-transparent blue btn-outline btn-circle btn-sm active" title="Login to LN"><a href="https://erp.lthed.com/webui/servlet/login" target="_blank" style="text-shadow: none;color:#fff;">Login to LN </a></label>',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function GetSelectedPartAllocationDetails(NodeId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/FKMS/MaintainFKMS/GetPartAllocationDetails",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            //async: false,
            data: { NodeId: NodeId },
            success: function (result) {
                bootbox.dialog({
                    title: 'Part Allocation Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function LoadNodeNotLinkInPLM() {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/FKMS/MaintainFKMS/GetNodeNotExistInPLMGridDataPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            //async: false,
            data: {},
            success: function (result) {
                bootbox.dialog({
                    title: 'Part List',
                    message: result,
                    size: 'large',
                    buttons: {
                        'Yes': {
                            label: 'Resend',
                            className: 'btn green',
                            callback: function () {
                                $.ajax({
                                    type: "POST",
                                    url: WebsiteURL + "/FKMS/MaintainFKMS/ResendPartsForSaveInPLM",
                                    datatype: 'html',
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    data: { HeaderId: $("#HeaderId").val() },
                                    success: function (result) {
                                        GenerateTreeView($("#HeaderId").val())
                                    },
                                    error: function () {
                                    }
                                });
                            }
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function FKM102Ent() {
        this.NodeId = 0
        this.HeaderId = 0
        this.ParentNodeId = 0
        this.ParentNodeTypeId = 0
        this.NodeTypeId = 0
        this.NodeName = ""
        this.Project = ""
    }

    function FKM102Upd() {
        this.NodeId = 0
        this.HeaderId = 0
        this.ParentNodeId = 0
        this.NodeTypeId = 0
        this.NodeName = ""
    }

    function AutoScrollSource() {
        if (ScrollNodeID != undefined && ScrollNodeID != null && ScrollNodeID != "") {
            //setTimeout(function () {
            //    var nodeid = $("[scrollid=" + ScrollNodeID + "]").attr("id");
            //    var node = $("#Mtree").jstree(true).get_node(nodeid);
            //    $("#Mtree").jstree(true).deselect_node($("#Mtree").jstree("get_selected"));
            //    $("#Mtree").jstree(true).select_node(node);
            //    $("#Mtree").jstree(true).open_node(node);
            //    if (node != null && node != undefined && node.a_attr.isinsertedinplm == "false") {
            //        LoadNodeNotLinkInPLM();
            //    }
            //    else {
            //        nodeid = parseInt(ScrollNodeID);
            //        console.log("AutoScrollSource Called");
            //        GetKitData(parseInt(ScrollNodeID));
            //        GetMaterialData(parseInt(ScrollNodeID));
            //    }
            //    if ($("[scrollid=" + ScrollNodeID + "]") != undefined && $("[scrollid=" + ScrollNodeID + "]") != null) {
            //        $('#divMtree').animate({
            //            scrollTop: $("[scrollid=" + ScrollNodeID + "]").position().top - 340
            //        }, 'slow');
            //    }
            //}, 100);





            setTimeout(function () {
                var ScrollId = ScrollNodeID;
                ScrollNodeID = "";
                //console.log("Scroll Called");
                if ($("#Mtree").jstree(true)) {
                    var nodeid = $("[scrollid=" + ScrollId + "]").attr("id");
                    var node = $("#Mtree").jstree(true).get_node(nodeid);
                    $("#Mtree").jstree(true).deselect_node($("#Mtree").jstree("get_selected"));
                    $("#Mtree").jstree(true).select_node(node);
                    $("#Mtree").jstree(true).open_node(node);
                }
                else {
                    LoadTreeView(headerid, 0, false);
                    if (ShowFixture == "1") {
                        GetFixtureData(ScrollId);
                    } else {
                        GetMaterialData(ScrollId);
                    }
                    GetKitData(ScrollId);
                }

                //console.log("ScrollId : " + ScrollId);
                //console.log($("[scrollid=" + ScrollId + "]"));
                setTimeout(function () {
                    if ($("[scrollid=" + ScrollId + "]").length) {
                        $('#divMtree').animate({
                            scrollTop: $("[scrollid=" + ScrollId + "]").position().top - 340
                        }, 'slow');
                    }
                }, 100);
            }, 100);
        }
    }

</script>
<script src="~/Content/assets/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
<script src="~/Content/assets/pages/scripts/ui-general.min.js"></script>
<script src="~/Content/assets/global/plugins/jquery-bootpag/jquery.bootpag.min.js" type="text/javascript"></script>
<script src="~/Scripts/GoJS/go-2.0.11.js"></script>
<script src="~/Scripts/GoJS/OverviewResizingTool.js"></script>
<script src="~/Scripts/GoJS/go.custom.js"></script>
