﻿@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Datatable/css")

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Kit Item Inventory Status
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="text-align:right">
                            </div>
                        </div>
                    </div>
                </div>
             
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label">Project</label>
                        <select name="Project" id="Project" multiple="multiple" style="width:100%" class="form-control"></select>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Delivery Location</label>
                        <select name="DeliverTo" id="DeliverTo" multiple="multiple" style="width:100%" class="form-control"></select>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Kit</label>
                        <select name="KitName" id="KitName" multiple="multiple" style="width:100%" class="form-control"></select>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Kit Item Owner</label>
                        <input type="text" id="MaterialOwner" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Department</label>
                        <input type="text" id="Department" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Kit Status</label>
                        <input type="text" id="KitStatus" class="form-control" />
                    </div>
                    <div class="col-md-1">
                        <label class="control-label">&nbsp;</label>
                        <input type="button" class="btn green" id="btnSearch" onclick="btnKitItmIsClick()" value="Search" />
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                Kit Item Inventory Status
                            </div>
                            <div class="tools" id="dvExportHeader">
                                @*@Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/FKMS/MaintainFKMS/GenerateExcelForKitItemInventoryStatus", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })*@
                                <input type="hidden" class="txtStrWhere">
                                <input type="hidden" class="txtStrSort">
                                <div class="btn-group">
                                    <a onclick="ExportToExcel();" class="btn btn-circle white btn-outline btn-sm">
                                        <i class="fa fa-file-excel-o"></i> Export
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table id="tblTransactionHistory" class="table table-striped table-bordered table-hover" cellspacing="0" >
                                <thead>
                                    <tr>
                                        <th>Project</th>
                                        <th>Material<br />Owner</th>
                                        <th>Material<br />Type</th>
                                        <th>Department</th>
                                        <th>Item<br/>Code</th>
                                        <th>Fixture<br />/Find No</th>
                                        <th>Stage</th>
                                        <th>Kit Status</th>
                                        <th>Kit No</th>
                                        <th>Avl./Req.<br/>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var tblFKMSKitName = "tblTransactionHistory";
    var table = $('#' + tblFKMSKitName);
    var lstLocation = {};
    var UtilityParams = null;
    $.each(JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.Location)))), function (idx,item) {
        lstLocation[item.CatID] = item.CatDesc;
    })
    $(document).ready(function () {
        LoadSelect2DropDown("/FKMS/MaintainFKMS/GetApprovedProjectResult", $('#Project'), "--Select Project--");
        var lstKitStatus = @Html.Raw(Json.Encode(clsImplementationEnum.GetListOfDescription<clsImplementationEnum.KitStatus>()));
        FillAutoCompleteWithArray($("#KitStatus"), lstKitStatus) ;

        var lstMaterialOwner = @Html.Raw(Json.Encode(clsImplementationEnum.GetListOfDescription<clsImplementationEnum.MaterialOwner>())); //PPS-E, PPS-W, PMG, FKS, Kit-User, Fixture Mfgr.
        FillAutoCompleteWithArray($("#MaterialOwner"), lstMaterialOwner) ;
        LoadSelect2DropDown("/FKMS/MaintainFKMS/GetDepartments", $('#DeliverTo'), "--Select DeliverTo--");
        LoadSelect2DropDownForKit("/FKMS/MaintainFKMS/GetFindNoWithNameResult", $('#KitName'), "--Select Kit--");
        FillAutoCompleteUsingAjax($("#Department"), "/FKMS/MaintainFKMS/GetDepartmentFromTransactionHistoryResult", undefined, undefined, undefined, undefined , 1, undefined, function (data) {
            return $.map(data, function (item) {
                return { label: item.text, value: item.id, id: item.id };
            });
        });
        //$('#Project,#Department,#DeliverTo,#KitName,#MaterialOwner').change(LoadFKMSKitForGenerateQRCode)
        //LoadFKMSKitForGenerateQRCode();
    });
  
    function btnKitItmIsClick() {
        showLoading(true);
        setTimeout(function() {
            LoadFKMSKitForGenerateQRCode();
            showLoading(false);
        }, 100);
    }
    function LoadFKMSKitForGenerateQRCode() {
        if(!$("#Project").val())
            return false;
        if (UtilityParams) {
            UtilityParams.dtReload();
            return;
        }
        UtilityParams = {
            sUrl: "/FKMS/MaintainFKMS/LoadKitItemInventoryStatusGridData",
            aServerParams: [
                { "name": "Projects", "selector": "#Project" },
                { "name": "DeliverTo", "selector": "#DeliverTo" },
                { "name": "MaterialOwner", "selector": "#MaterialOwner" },
                { "name": "Department", "selector": "#Department" },
                { "name": "KitName", "selector": "#KitName" },
                { "name": "KitStatus", "selector": "#KitStatus" },
            ],
            aoColumns: [
                { "data": "Project", "name": "Project", "ColName": "f130.Project" },
                { "data": "MaterialOwner", "name": "MaterialOwner"},
                { "data": "MaterialType", "name": "MaterialType"},
                { "data": "Department", "name": "Department", "ColName": "Department+'-'+c2.t_desc" },
                { "data": "ItemId", "name": "ItemId" },
                { "data": "PosNo_FixNo", "name": "PosNo_FixNo" },
                { "data": "Stage", "name": "Stage" },
                { "data": "KitStatus", "name": "KitStatus", "ColName": "f102.Project" },
                { "data": "KitNo", "name": "KitNo", "ColName": "f130.KitNo" },
                { "data": "Qty", "name": "Qty", "sClass": "text-right", "ColName": "f130.Qty" }
            ]
        };
        UtilityParams.iResponsiveOnWindowWidth = 800;
        UtilityParams.bIsSearchFilter = true;
        UtilityParams.bIsWrapHeader = false;
        UtilityParams.bIsResponsive = false;
        UtilityParams.bIsLazyLoading = false;
        //UtilityParams.fnServerDataCallback = tblFKMSParentKit_ServerDataCallback;
        //UtilityParams.fnCreateRow = tblFKMSParentKit_CreateRow;
        UtilityParams.sBtnDivSelector = "#dvExportHeader";
        table.dtUtility(UtilityParams);
    }

    function LoadSelect2DropDownForKit(url, objControl, placeHolder) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            allowClear: true,
            minimumInputLength: 1,
            ajax: {
                url: WebsiteURL + url,
                type: "POST",
                dataType: 'json',
                data: function (params) {

                    var query = {
                        search: params.term,
                        page: params.page,
                        project: $('#Project').val().join(',')
                    }

                    // Query paramters will be ?search=[term]&page=[page]
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    }

    function ExportToExcel() {

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/FKMS/MaintainFKMS/GenerateExcelForKitItemInventoryStatus",
            datatype: 'json',
            async: false,
            data: { whereCondition:  $(".txtStrWhere", $("#dvExportHeader")).val(), strSortOrder: $(".txtStrSort", $("#dvExportHeader")).val(), Project: $("#Project").val() },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                if (result.Key) {
                    window.location = WebsiteURL + '/Utility/General/Download?file=' + result.Value;
                    DisplayNotiMessage("success", "Excel Generated Successfully", "Success");
                }
                else {
                    DisplayNotiMessage("error", result.Value, "Error");
                }
            },
            error: function () {
            }
        });
    }
</script>

<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")