﻿@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Datatable/css")

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Pending Request 
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="text-align:right">

                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        @*<li class="active">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab" aria-expanded="true">Pending Request</a>
                        </li>*@
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        GetPendingRequestForFullkitStorePartial('Pending')
    });

    function GetPendingRequestForFullkitStorePartial(tab) {
        $("#portlet_comments_1").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/FKMS/MaintainFKMS/GetPendingRequestForFullkitStorePartial",
            datatype: 'html',
            data: { tab: tab },
            success: function (result) {
                $("#portlet_comments_1").html(result);
            },
            beforeSend: () => showLoading(true),
            complete: () => showLoading(false),
            error: (e) => console.log('error: GetPendingRequestForFullkitStorePartial:: ', e)
        });
    }
</script>

<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")