﻿@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Datatable/css")

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Transaction History
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="text-align:right">
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active" id="liPending">
                            <a href="#portlet_comments_1" name="tabMaterialOwner" id="tabPPS" spare="@clsImplementationEnum.MaterialOwner.PPS.GetStringValue()" data-toggle="tab" onclick="">PPS</a>
                        </li>
                        <li>
                            <a href="#portlet_comments_1" name="tabMaterialOwner" id="tabFKS" spare="@clsImplementationEnum.MaterialOwner.FKS.GetStringValue()" data-toggle="tab" onclick="">FKS</a>
                        </li>
                        <li>
                            <a href="#portlet_comments_1" name="tabMaterialOwner" id="tabFMG" spare="@clsImplementationEnum.MaterialOwner.FMG.GetStringValue()" data-toggle="tab" onclick="">FMG</a>
                        </li>
                        <li>
                            <a href="#portlet_comments_1" name="tabMaterialOwner" id="tabKIT" spare="@clsImplementationEnum.MaterialOwner.KIT.GetStringValue()" data-toggle="tab" onclick="">KIT</a>
                        </li>
                    </ul>
                    <input type="hidden" id="tabMaterialOwner" />
                </div>
                <div class="portlet-body">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                Transaction History
                            </div>
                            <div class="tools">
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table id="tblTransactionHistory" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Project</th>
                                        <th>Fixture/<br />Find No</th>
                                        <th>PCL Number</th>
                                        <th>Item Code</th>
                                        <th>Department</th>
                                        <th>Material<br />Owner</th>
                                        <th>Material<br />Type</th>
                                        <th>Trans.<br />Type</th>
                                        <th>Material<br />Location</th>
                                        <th>Material<br />Sub-Location</th>
                                        <th title="Quantity">Qty</th>
                                        <th>Stage</th>
                                        <th>Received<br />from In Kit</th>
                                        <th>Acknowledged</th>
                                        <th>Kit No</th>
                                        <th>Scan By</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var tblFKMSKitName = "tblTransactionHistory";
    var table = $('#' + tblFKMSKitName);
    var lstLocation = {};
    $.each(JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.Location)))), function (idx,item) {
        lstLocation[item.CatID] = item.CatDesc;
    })
    $(document).ready(function () {
        $('#tabMaterialOwner').val('@clsImplementationEnum.MaterialOwner.PPS.GetStringValue()');
        LoadFKMSKitForGenerateQRCode();
        $('[name=tabMaterialOwner]').click(function () {
            $('#tabMaterialOwner').val($(this).attr('spare'))
            LoadFKMSKitForGenerateQRCode();
        });
    });

    function LoadFKMSKitForGenerateQRCode() {
        UtilityParams = {
            sUrl: "/FKMS/MaintainFKMS/LoadTransactionHistoryGridData",
            aServerParams: [{ "name": "MaterialOwner", "selector": "#tabMaterialOwner" }],
            aoColumns: [
                        { "data": "Id", "name": "Id", "sClass": "hide" },
                        { "data": "Project", "name": "Project", "ColName": "f130.Project" },
                        { "data": "PosNo_FixNo", "name": "PosNo_FixNo" },
                        { "data": "PCLNo", "name": "PCLNo" },
                        { "data": "ItemId", "name": "ItemId" },
                        { "data": "Department", "name": "Department", "ColName": "Department+'-'+c2.t_desc" },
                        { "data": "MaterialOwner", "name": "MaterialOwner", "sClass": "hide" },
                        { "data": "MaterialType", "name": "MaterialType" },
                        { "data": "TransactionType", "name": "TransactionType", "sClass": "hide" },
                        {
                            "data": "MaterialLocation", "name": "MaterialLocation",
                            render: function (data) {
                                return lstLocation[data] ? lstLocation[data] : data;
                            }
                        },
                        { "data": "MaterialSubLocation", "name": "MaterialSubLocation" },
                        { "data": "Qty", "name": "Qty", "sClass": "text-right", "ColName": "f130.Qty" },
                        { "data": "Stage", "name": "Stage" },
                        { "data": "ReceivedfromInKit", "name": "ReceivedfromInKit" },
                        {
                            "data": "IsAcknowledged", "name": "IsAcknowledged", "sClass":"hide",
                            render: function (data) {
                                return data ? "Yes" : "No";
                            }
                        },
                        { "data": "KitNo", "name": "KitNo", "ColName": "f130.KitNo" },
                        { "data": "CreatedBy", "name": "CreatedBy", "ColName": "f130.CreatedBy + '-' + b.t_name" }

            ]
        };
        UtilityParams.iResponsiveOnWindowWidth = 800;
        UtilityParams.bIsSearchFilter = true;
        UtilityParams.bIsWrapHeader = false;
        UtilityParams.bIsResponsive = false;
        UtilityParams.bIsLazyLoading = false;
        //UtilityParams.fnServerDataCallback = tblFKMSParentKit_ServerDataCallback;
        //UtilityParams.fnCreateRow = tblFKMSParentKit_CreateRow;
        //UtilityParams.sBtnDivSelector = "#dvExportHeader";
        table.dtUtility(UtilityParams);
    }
</script>

<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")