﻿@model IEMQS.Areas.ESP.Controllers.PLTPartDetail
<style>
    .table-scrollable {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        margin: 10px 0 !important;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 nopad">
            @*<div class="col-md-3 nopad">
                <label class="control-label">
                    <strong>Project : <span class="rmvbold" id="part_project">@Model.Project</span></strong>
                </label>
            </div>*@
            <div class="col-md-4 nopad">
                <label class="control-label">
                    <strong>Part : <span class="rmvbold" id="part_part">@Model.Key</span></strong>
                </label>
            </div>
            <div class="col-md-4 nopad">
                <label class="control-label">
                    <strong>Part/FindNO : <span class="rmvbold" id="part_findno">@Model.Findnumber</span></strong>
                </label>
            </div>
            <div class="col-md-4 nopad">
                <label class="control-label">
                    <strong>Qty On Hand : <span class="rmvbold" id="qty_hand"></span></strong>
                </label>
            </div>
            @*<div class="col-md-2 nopad">
                <label class="control-label">
                    <strong>H-BOM Qty : <span class="rmvbold" id="part_findno">@Model.BomQty</span></strong>
                </label>
            </div>*@
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Part Details
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblDetails" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">Project</th>
                            <th class="all">PPO No</th>
                            @*<th class="all">PPO Line</th>
                            <th class="all">PPO Line Seq</th>*@
                            <th class="all">PPO Qty</th>
                            <th class="all">PO N0</th>
                            @*<th class="all">PO line </th>
                            <th class="all">PO line Seq</th>*@
                            <th class="all">PO Order Qty</th>
                            @*<th class="all">Qty on hand</th>*@
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.IsPLT == true)
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        PLT Details
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblPLTDetails" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="all">PCR Number</th>
                                <th class="all">PCR Position</th>
                                <th class="all">PCR Revision</th>
                                @*<th class="all">PCR St enum</th>*@
                                <th class="all">PCR Status</th>
                                <th class="all">PCL Number</th>
                                @*<th class="all">PCL St Enum</th>*@
                                <th class="all">PCL Status</th>
                                <th class="all">NO of Pieces</th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#tblDetails');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/ESP/MaintainESP/LoadESPData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Headerid", "value": '@ViewBag.HeaderId' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        $("#qty_hand").text(data.QtyonHand);
                        fnCallback(data);
                    },
                    //'async': false
                });
            },
            "columns": [
                {
                    "name": "Project",
                    "sClass": "left",
                },
                {
                    "name": "PPONumber",
                    "sClass": "center",
                },
               //  {
               //      "name": "PPOLine",
               //      "sClass": "center",
               //  },
               //{
               //     "name": "PPOLinesequence",
               //     "sClass": "center",
               // },
                {
                    "name": "PPOQty",
                    "sClass": "center",
                },
                {
                    "name": "PONumber",
                    "sClass": "center",
                },
                //{
                //    "name": "POline",
                //    "sClass": "center",
                //},
                //{
                //    "name": "POlineSequence",
                //    "sClass": "center",
                //},
                {
                    "name": "POOrderQty",
                    "sClass": "center",
                },
                //{
                //    "name": "Qtyonhand",
                //    "sClass": "center",
                //}
            ]
        });

        var PLTtable = $('#tblPLTDetails');
        var oTable = PLTtable.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/ESP/MaintainESP/LoadESPPLTData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Headerid", "value": '@ViewBag.HeaderId' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                    },
                    //'async': false
                });
            },
            "columns": [
                {
                    "name": "PCRNumber",
                    "sClass": "center",
                },
                {
                    "name": "PCRPosition",
                    "sClass": "center",
                },
                {
                    "name": "PCRRevision",
                    "sClass": "center",
                },
                //{
                //    "name": "PCRStenum",
                //    "sClass": "center",
                //},
                {
                    "name": "PCRStatus",
                    "sClass": "center",
                },
                {
                    "name": "PCLNumber",
                    "sClass": "center",
                },
                //{
                //    "name": "PCLStEnum",
                //    "sClass": "center",
                //},
                {
                    "name": "PCLStatus",
                    "sClass": "center",
                },
                {
                    "name": "NumberofPieces",
                    "sClass": "center",
                }

            ]
        });
    });

    function PCLDocumentAttachment(PCLNumber, PCRRevision) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/ESP/MaintainESP/GetPCLAttachments",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { PCLNumber: PCLNumber, PCRRevision: PCRRevision },
            success: function (result) {
                bootbox.dialog({
                    title: 'PCL Attachments',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose',
                            callback: function () {
                            }
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }
</script>