﻿@using IEMQSImplementation
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Projects
        </div>
        @*<div class="tools" id="dvExportHeader">
                @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/ESP/MaintainESP/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
            </div>*@
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" style="width:100%;" id="tblESPHeader" cellspacing="0">
            <thead>
                <tr>
                    <th class="" style="display:none;">HeaderId</th>
                    <th class="all">#</th>
                    <th class="all">Project</th>
                    <th class="all">Kit</th>
                    <th class="all">Shop</th>
                    <th class="all">Location</th>
                    <th class="all">Kit Status</th>
                    <th class="all">Delivery Status</th>
                    <th class="all">Project Status</th>
                    <th class="all">ProductType</th>
                    @*<th class="all">NodeKey</th>*@
                    <th class="all">Action</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        var table = $('#tblESPHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            "bSort" : false,
            buttons: [
            ],
            responsive: true,
            "order": [
                [1, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/ESP/MaintainESP/LoadESPHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Status", "value": '@ViewBag.Status' },
                            { "name": "Department", "value": '@ViewBag.IndexDataFor' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        $('.plusminus').click();
                    },
                });
            },
            "columns": [
                {
                    "name": "HeaderId",
                    "sClass": "hide",
                    "bSortable": false,
                    "attr": ""
                },
                 {
                     "sClass": "clsCenter",
                     "bSortable": false,
                     "attr": "string"
                 },
                {
                    "name": "Project",
                    "sClass": "center",
                    "bSortable": true,
                    "attr": "string"
                },
                {
                    "name": "Kit",
                    "sClass": "center",
                    "bSortable": true,
                    "attr": "string"
                },
                {
                    "name": "DeleverTo",
                    "sClass": "center",
                    "bSortable": true,
                    "attr": "string"
                },
                {
                    "name": "KitLocation",
                    "sClass": "center",
                    "bSortable": true,
                    "attr": "string"
                },
                {
                    "name": "KitStatus",
                    "sClass": "center",
                    "bSortable": true,
                    "attr": "string"
                },
                {
                    "name": "DeleverStatus",
                    "sClass": "center",
                    "bSortable": true,
                    "attr": "string"
                },
                 {
                     "name": "Status",
                     "sClass": "center",
                     "bSortable": true,
                     "attr": "string"
                 },
                  {
                      "name": "ProductType",
                      "sClass": "center",
                      "bSortable": true,
                      "attr": "string"
                  },
                 //{
                 //    "name": "NodeKey",
                 //    "sClass": "center",
                 //    "bSortable": false,
                 //},
                {
                    "sClass": "center",
                    //"bSortable": false,

                },
            ]
        });
        table.dtSearchFilter();
    });
    function HistoryCTQ(HeaderId, fromController) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/CTQ/Maintain/GetCTQHistoryDetails",
            datatype: 'html',
            //async: false,
            data: { HeaderId: HeaderId, _FromController: fromController },
            success: function (result) {
                bootbox.dialog({
                    title: 'Critical to Quality History Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn red'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function ExpandCollapsChild(id, obj) {
        var src = $(obj).attr("src");
        if (src == WebsiteURL + "/Images/details_open.png") {
            $(obj).attr("src", WebsiteURL + "/Images/details_close.png");
        }
        else if (src == WebsiteURL + "/Images/details_close.png") {
            $(obj).attr("src", WebsiteURL + "/Images/details_open.png");
        }
        $('span.' + id).parent().parent().toggle();
    }
</script>
