﻿<style>
    .table-scrollable {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        margin: 10px 0 !important;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 nopad">
            @*<div class="col-md-6 nopad">
                    <label class="control-label">
                        <strong>Project : <span class="rmvbold" id="part_project">@Model.Project</span></strong>
                    </label>
                </div>*@
            <div class="col-md-6 nopad col-md-offset-10">
                <label class="control-label">
                    <strong>Available Qty : <span class="rmvbold" id="qty_hand">@ViewBag.availableQty</span></strong>
                </label>
            </div>
            <input type="hidden" id="hdnAvailQty" name="hdnAvailQty" value="@ViewBag.availableQty" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Part Allocation Details
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblAllowDetails" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">FindNo</th>
                            <th class="all">Project</th>
                            <th class="all">ParentNodeKey</th>
                            <th class="all">NodeKey</th>
                            <th class="all">Req Qty</th>
                            <th class="all">AllocatedQty</th>
                            <th class="all">ProductType</th>
                            <th class="all">Error Msg</th>
                            <th class="all">Action</th>
                            <th class="hide">pclno</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#tblAllowDetails');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [ [0, 'asc'] ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/ESP/MaintainESP/LoadPartAllowcationData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Nodeid", "value": '@ViewBag.NodeId' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $.extend($.fn.autoNumeric.defaults, {
                            aSep: '',
                            aDec: '.'
                        });
                        $(".numeric").autoNumeric('init', { vMin: '0.00', vMax: '999.0000', aSep: '' });
                    },
                    //'async': false
                });
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                if (aData[9] != null || aData[9] != "") {
                    $(nRow).find("td.clsFindNo").attr('title', aData[9]);
                }

            },
            "columns": [
               {//0
                   "name": "FindNo",
                   "sClass": "center clsFindNo",
               },
                {//1
                    "name": "Project",
                    "sClass": "center",
                },
                 {//2
                     "name": "ParentNodeKey",
                     "sClass": "center",
                 },
               {//3
                   "name": "NodeKey",
                   "sClass": "center",
               },
               {//4
                   "name": "NoOfPieces",
                   "sClass": "center",
               },
                {//5
                    "name": "AllocatedQty",
                    "sClass": "center",
                },
               {//6
                   "name": "ProductType",
                   "sClass": "center",
               },
                {//7
                    "name": "ErrorMsg",
                    "sClass": "center",
                },
               {//8
                   "name": "Action",
                   "sClass": "center",
                   "bSortable": false,
               },
                {//9
                    "name": "PCLNo",
                    "sClass": "hide",
                    "bSortable": false,
                },
            ]
        });
    });

    function DeAllocate(NId, reqqty) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/ESP/MaintainESP/DeAllocateplate",
            datatype: 'json',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { NodeId: NId, ReqQty: reqqty },
            success: function (result) {
                if (result.Key) {
                    DisplayNotiMessage("success", result.Value, "Success");
                    GetNodeGridDataPartial(NId)
                } else {
                    ReloadDatatables('tblAllowDetails');
                    DisplayNotiMessage("error", result.Value, "error");
                }
            },
            error: function () {
                alert('error...');
            }
        });
    }
    function ValidateAllocateQty($this, reqQTY, NId)
    {
        var flg = true;
        var hdnAvailQty = parseFloat($("#hdnAvailQty").val());
        var columnValue = parseFloat($("#AllocatedQty" + NId).val());
        if(hdnAvailQty < columnValue)
        { flg = false; $("#AllocatedQty" + NId).val(''); DisplayNotiMessage("info", "Allocated quantity must be less than or equal to Available quantity", "Info"); }
        else if (columnValue < parseFloat(reqQTY))
        { flg = false; $("#AllocatedQty" + NId).val(''); DisplayNotiMessage("info", "Allocated quantity must be gerater than or equal to Required quantity", "Info"); }
        else if ($("#AllocatedQty" + NId).val() == "")
        { flg = false; DisplayNotiMessage("info", "Allocated quantity is required", "Info"); }
        return flg;
    }

    function Allocate(NId, reqqty) {
       
        if (ValidateAllocateQty(null, reqqty, NId)) {
            var AllocatedQty = parseFloat($("#AllocatedQty" + NId).val());
            var avilQty = $("#hdnAvailQty").val();
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/ESP/MaintainESP/Allocateplate",
                datatype: 'json',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: { NodeId: NId, AvailQty: avilQty, ReqQty: reqqty, AllocatedQty: AllocatedQty },
                success: function (result) {
                    if (result.Key) {
                        DisplayNotiMessage("success", result.Value, "Success");
                        GetNodeGridDataPartial(NId)
                    } else {
                        ReloadDatatables('tblAllowDetails');
                        DisplayNotiMessage("error", result.Value, "error");
                    }
                },
                error: function () {
                    alert('error...');
                }
            });
        }
    }

    function ReAllocate(NId, reqqty) {
        var avilQty = $("#hdnAvailQty").val();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/ESP/MaintainESP/ReAllocateplate",
            datatype: 'json',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { NodeId: NId, AvailQty: avilQty, ReqQty: reqqty },
            success: function (result) {
                if (result.Key) {
                    DisplayNotiMessage("success", result.Value, "Success");
                    GetNodeGridDataPartial(NId)
                } else {
                    ReloadDatatables('tblAllowDetails');
                    DisplayNotiMessage("error", result.Value, "error");
                }
            },
            error: function () {
                alert('error...');
            }
        });
    }

</script>