﻿@{ 
    string FileUploadFixtureID = "fuFixture";
}
<style>
    .fa-fontclr {
        color: #000 !important;
    }

    .fa-success {
        color: lawngreen !important;
    }

    .fa-warning {
        color: yellow !important;
    }

    .fa-danger {
        color: red !important;
    }

    .fa-voilet {
        color: #ff02ff !important;
    }

    .fa-gray {
        color: lightgray !important;
    }

    .fa-orange {
        color: orange !important;
    }

    .fa-blue {
        color: blue !important;
    }

    .borderleftsuccess {
        border-left: 5px solid lawngreen;
    }

    .borderleftwarning {
        border-left: 5px solid yellow;
    }

    .borderleftdanger {
        border-left: 5px solid red;
    }

    .borderleftvoilet {
        border-left: 5px solid violet;
    }

    .borderleftgray {
        border-left: 5px solid lightgray;
    }

    .borderleftorange {
        border-left: 5px solid orange;
    }

    .borderleftblue {
        border-left: 5px solid blue;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Search Result
                </div>
                <div class="tools" id="dvExportHeader">
                    <input type="hidden" class="txtStrWhere">
                    <input type="hidden" class="txtStrSort">
                    <div class="btn-group">
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmSummaryData" }))
                {
                    <table class="table table-striped table-bordered table-hover" id="tblSummary" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="hidden">RowNo</th>
                                <th class="hidden">KitGroupNo</th>
                                <th class="hidden">TempNodeGroupNo</th>
                                <th class="hidden">TempMaterialTypeGroupNo</th>
                                <th class="hidden">MaterialTypeGroupNo</th>
                                <th class="hidden">Project</th>
                                <th>Kit No.</th>
                                <th>Description</th>
                                <th>Kit Status</th>
                                <th>Kit Deliver to</th>
                                @*<th class="hidden">CCPM TUID - Description</th>*@
                                <th>Project</th>
                                <th>Kit Material Type</th>
                                <th>Sub Component Type</th>
                                <th>Part No</th>
                                <th>BOM Qty. (Nos.)</th>
                                <th>Required Qty</th>
                                <th>Received Qty</th>
                                <th>Part Description</th>
                                <th>Document No</th>
                                <th class="all">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
<div id="divPartDetails">

</div>
<div id="divSCRDetails">

</div>
<input type="hidden" id="hdSelectedNodeId" />
<input type="hidden" id="hdSelectedFindNo" />

<script type="text/javascript">
    var UtilityParams = undefined;
    $(document).ready(function () {
        UtilityParams = {
            sUrl: "/ESP/MaintainESP/LoadESPSummaryGridData",
            aServerParams: [{ "name": "Project", "value": $("#Project").val() }, { "name": "TaskManager", "value": $("#TaskManager").val() }, { "name": "DeliverTo", "value": $("#DeliverTo").val() }, { "name": "KitStatus", "value": $("#KitStatus").val() }],
            //bIsPaging: true,
            //iPageLength: 50,
            bIsLazyLoading: true,
            iScrollY: 450,
            iResponsiveOnWindowWidth: 800,
            bIsResponsive: false,
            bIsSearchFilter: true,
            bBtnMaximize: true,
            bIsWrapHeader: false,
            //iFCLeft: 5,
            iFCLeft: 5,
            iFCRight: 1,
            sBtnDivSelector: "#dvExportHeader",
            fnServerDataCallback: function (aoData, data) {
            },
            fnCreateRow: function (row, data, dataIndex) {
                if (parseInt(data[2]) > 1) {
                    $(row).find(".group1").addClass("bordernone");
                }
                else {
                    $(row).find(".group1").addClass("bgcolor");
                    $(row).find('td').css("border-top-color", 'lightgray');
                }
                if (parseInt(data[3]) > 1) {
                    $(row).find(".group2").addClass("bordernone");
                }
                else {
                    $(row).find(".group2").addClass("bgcolor");
                }
            },
            aoColumns: [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide center group1",
                    "name": "Project",
                    "bSortable": true,
                },
                {
                    "sClass": "center group1",
                    "name": "FindNo",
                    "bSortable": true,
                },
                {
                    "sClass": "center group1",
                    "name": "NodeName",
                    "bSortable": true,
                    "render": function (data, type, row) {
                        var maxLength = 25;
                        if (data != null && data != undefined && data != '') {
                            var s1 = data.split("</i>")[0];
                            var s2 = data.split("</i>")[1];
                            if (s2 && s2.length > maxLength)
                                return s1 + "</i> <span title='" + s2 + "'>" + s2.substr(0, maxLength - 3) + "..." + "</span>";
                            else
                                return data;
                        }
                        else
                            return data;
                    },
                },
                {
                    "sClass": "center group1",
                    "name": "KitStatus",
                    "bSortable": true,
                },
                {
                    "sClass": "center group1",
                    "name": "KitDeliverTo",
                    "bSortable": true,
                    "maxlength": 25
                },
                {
                    "sClass": "center group1",
                    "name": "Project",
                    "bSortable": false,
                    "maxlength": 25
                },
                {
                    "sClass": "center group2",
                    "name": "MaterialType",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "SubComponentType",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "PartNo",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "BOMQty",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "RequiredQty",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "ReceivedQty",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "PartDescription",
                    "bSortable": false,
                    "maxlength": 30
                },
                {
                    "sClass": "center",
                    "name": "DocumentNo",
                    "bSortable": false,
                },
                {
                    "sClass": "clsnowrap",
                    "name": "Action",
                    "attr": "none",
                    "bSortable": false,
                },
            ]
        };

        UtilityParams.oSRE = {
            sUrl: "/ESP/MaintainESP/GetInlineEditableRow",
            iRowIDAt: 0,
            sCallback: 'CallAfterLoadSRE',
            iSelectedHeight: 68,
            sEditTriggerClass: 'fa-pencil-square-o',
            bIsUpdateFromServer: true,
            bIsAddBtnNew: false
        };

        $('#tblSummary').dtUtility(UtilityParams);
    });

    function CallAfterLoadSRE(RowNo) {
        $('input[maxlength]').maxlength({ alwaysShow: true });
        $('#Edit' + RowNo).click();

        $('#tblSummary_wrapper').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(this).attr("hdElement");

            if ($(this).attr("colname") == "txtDeliverTo") {
                FillAutoCompleteUsingAjax(element, "/ESP/MaintainESP/GetDeliverTo", $("#" + hdElement), false);
            }
        });

        $('#tblSummary_wrapper').delegate(".autocomplete:not(*[colname='PlannedReceipt'])", "focusout", function () {
            var hdElement = $(this).attr("spara");
            if (parseInt(hdElement) > 0) {
                UpdateDeliverTo(parseInt(hdElement));
            }
        });

        OldDeliverTo = $("#DeliverTo" + RowNo).val();
        OldDeliverToDesc = $("#txtDeliverTo" + RowNo).val();
    }
    function CancelEditLine(RowNo) {
        //SREresetRowAll('tblSummary');
        UtilityParams.dtReload();
    }

    function EnabledEditLine(obj, RowNo) {
        $(obj).addClass("hidden");
        $(obj).next().removeClass("hidden");
        //$("#Edit" + RowNo).addClass("hidden");
        //$("#Delete" + RowNo).addClass("hidden");
        //$("#Update" + RowNo).removeClass("hidden");
        //$("#Cancel" + RowNo).removeClass("hidden");
    }

    function EditLine(RowNo, Project) {
        //if (Validation(RowNo)) {
        $('#tblSummary_wrapper').find("thead:eq(1) .dataTables_sizing").html('') // remove copy of new record textbox
        UpdateDeliverTo(RowNo);
        //}
    }

    var OldDeliverTo = "";
    var OldDeliverToDesc = "";
    function UpdateDeliverTo(RowNo) {
        var NodeId = parseInt($("#NodeId" + RowNo).val());
        var DeliverTo = $("#DeliverTo" + RowNo).val();
        $.ajax({
            url: WebsiteURL + '/ESP/MaintainESP/SetDeliverDep',
            data: { NodeId: NodeId, ProjectCode: DeliverTo },
            type: 'POST',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    UtilityParams.dtReload();
                    DisplayNotiMessage("success", "Kit Deliver to updated successfully", "Success");
                }
                else {
                    $("#DeliverTo" + RowNo).val(OldDeliverTo);
                    $("#txtDeliverTo" + RowNo).val(OldDeliverToDesc);

                    bootbox.dialog({
                        title: 'Error',
                        message: data.Value,
                        size: 'large',
                        buttons: {
                            'cancel': {
                                label: 'Close',
                                className: 'btnclose'
                            }
                        }
                    });
                }
            }
        });
    }
    function setReadyForParent(NodeId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + '/ESP/MaintainESP/ReadyForParent',
            datatype: 'html',
            async: false,
            data: { NodeId: parseInt(NodeId) },
            success: function (data) {
                if (data.Key) {
                    UtilityParams.dtReload();
                    DisplayNotiMessage("success", data.Value, "Success");
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            },
            error: function () {
            }
        });
    }

    function materialstatusrequest(Nodeid) {
        $.ajax({
            url: WebsiteURL + '/ESP/MaintainESP/SetMaterialStatus',
            type: 'POST',
            data: { NodeId: Nodeid },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            //async: false,
            success: function (data) {
                if (data.Key) {
                    UtilityParams.dtReload();
                    DisplayNotiMessage("success", data.Value, "Success");
                } else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

    function ShowNodeDetails(NodeId, FindNo) {
        $("#hdSelectedNodeId").val(NodeId);
        $("#hdSelectedFindNo").val(FindNo);

        LoadPartDetails(NodeId);
        LoadSCRDetails(NodeId);
    }

    function LoadPartDetails(NodeId) {
        $("#divPartDetails").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/ESP/MaintainESP/LoadESPSummaryPartDataPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { NodeId: NodeId },
            success: function (result) {
                $("#divPartDetails").html(result);
                $("html, body").animate({
                    scrollTop: $("#divPartDetails").position().top - 50
                }, 'slow');
            },
            error: function () {
            }
        });
    }

    function LoadSCRDetails(NodeId) {
        $("#divSCRDetails").empty();

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/ESP/MaintainESP/LoadESPSummarySCRDataPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { NodeId: NodeId },
            success: function (result) {
                $("#divSCRDetails").html(result);
            },
            error: function () {
            }
        });
    }

    function ShopUserAction(Plan, refHistoryId, RevNo, DocumentNo, RefId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PDIN/ShopSummary/ShopUserAction",
            datatype: 'json',
            data: { PlanName: Plan, RefHistoryId: refHistoryId, RevNo: RevNo, DocumentNo: DocumentNo, RefId: RefId },
            success: function (result) {
                if (result.Key) {
                    if (result.IsShowReport) {
                        console.log(result.listSSRSParam)
                        var url = result.ReportURL;
                        var dat = result.listSSRSParam;
                        ShowReport(dat, url);
                    }
                    else {
                        var atag = result.HistoryURL;
                        var href = $(atag).attr("href");
                        //console.log(href);
                        //window.location.href = href;
                        var win = window.open(href, '_blank');
                        win.focus();
                    }
                }
            },
            error: function (result) {
                DisplayNotiMessage("error", result.Value, "Error");
            }
        });
    }

    function GenQRCode(project,shop, findno,nodename) {
        var Ids = project + "~" + shop + "~" + findno + "~" + nodename;
        console.log(Ids);

        var dat = [];
        var url = "/ESP/Scan QRCode";
        dat.push({ Param: "Asset", Value: Ids });

        ShowReport(dat, url);
    }

    function highlightRow() {
        $("#dvExtraDetails@(FileUploadFixtureID)").html("<div class='note note-success'>"
        + "<div class='ribbon-content'>"
        + "<i class='fa fa-circle clsColorIndications' style='color: #ffff79  !important;'></i> Planner documents &nbsp;&nbsp; "
        + "<i class='fa fa-circle clsColorIndications' style='color: #ffa500 !important;'></i> Shop documents"
        + "</div></div>");

        $("#spnDownloadAll@(FileUploadFixtureID)").remove();

        $("#tblUpload@(FileUploadFixtureID) tbody tr").each(function () {
            debugger
            if ($(this).attr("data-fp").indexOf("ESP111/") != "-1") {
                $(this).children('td:eq(0)').css("background-color", "#ffff79 !important;");
            }
            else if ($(this).attr("data-fp").indexOf("ESP118/") != "-1") {
                $(this).children('td:eq(0)').css("background-color", "#ffa500 !important;");
            }
        });
    }

    function FixtureDocumentAttachment(Project, NodeId, RefLineId) {
        var objFileUploadLine = new FileUploadEnt('dv@(FileUploadFixtureID)', '@FileUploadFixtureID');
        objFileUploadLine.ShowDeleteAction = false;
        objFileUploadLine.ShowAttachmentBtn = false;
        objFileUploadLine.FolderPath = "NA";//as folder path is required to pass in FilesDisplayFromURL
        objFileUploadLine.LoadInPopup = true;
        objFileUploadLine.IsMultipleUploaded = false;
        objFileUploadLine.DocumentLoadCallbackFunction = "highlightRow()";
        objFileUploadLine.FilesDisplayFromURL = "/ESP/MaintainESP/GetFixtureAttachmentFiles?Project=" + Project + "&NodeId=" + NodeId + "&RefLineId=" + RefLineId;
        LoadFileUploadPartialView(objFileUploadLine);
    }
</script>
