﻿@using IEMQSImplementation
@model IEnumerable<IEMQSImplementation.ESP.ESP102>

@if (Model != null)
{
    <div class="row">
        <div class="col-md-12">
            <input type="radio" name="deptnode" value="0" /> All <br />
            @foreach (var item in Model)
            {
                <input type="radio" name="deptnode" value="@item.NodeId" /> @item.NodeName <br />
            }
        </div>
    </div>
}
else
{
    <span style="font-weight:bold">No data found...!</span>
}
