﻿
<style>
    .table-scrollable {
        width: 100%;
        overflow-x: auto !important;
        overflow-y: auto !important;
        margin: 10px 0 !important;
    }
</style>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            SOB Key List
        </div>
        @*<div class="tools">
                <div id="dvExportSubmission">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/FDMS/FDMS/GenerateExcel?headerid=" + Model.HeaderId, GridType = clsImplementationEnum.GridType.FDMSverificationLines.GetStringValue(), dvId = "#dvExportSubmission" })
                </div>
            </div>*@
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" id="tblSOBKeyList" cellspacing="0">
            <thead>
                <tr>
                    <th class="all">#</th>
                    <th class="all">SOBKey</th>
                    <th class="all">Status</th>
                    <th class="all">Error Msg</th>
                    <th class="all">Created On</th>
                    <th class="hide">Id</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $("#tblSOBKeyList");
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/ESP/MaintainESP/LoadSOBKeyListData",
            "fnServerParams": function (aoData) {

                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": '@ViewBag.NodeId' });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        //$(".txtStrWhere", "#dvExportLine").val(data.whereCondition);
                        //$(".txtStrSort", "#dvExportLine").val(data.strSortOrder);
                        fnCallback(data);
                    },
                    //'async': false
                });
            },
            "columns": [
                {
                    "bSortable": false,
                    "sClass": "clsCenter",
                },
                {
                    "name": "SOBKey",
                    "bSortable": true,
                    "sClass": "clsCenter",
                },
                {
                    "name": "Status",
                    "bSortable": true,
                    "sClass": "clsCenter",
                },
                {
                    "name": "ErrorMsg",
                    "bSortable": true,
                    "sClass": "clsCenter",
                },
                {
                    "name": "CreatedOn",
                    "bSortable": false,
                    "sClass": "clsCenter",
                },
                {
                    "sClass": "hide",
                },
            ],
        });
    });
</script>
