﻿@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var imagepath = ViewBag.path + "/" + ViewBag.image;

    clsBase objclsBase = new clsBase();
    bool Isintiator = objclsBase.objClsLoginInfo.GetUserRoleList().Any(x => x.ToString() == clsImplementationEnum.UserRoleName.PLNG3.GetStringValue());
}
@Styles.Render("~/Content/Datatable/css")

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>


<script>
    var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()' == "true" ? true : false;
    $(document).ready(function () {

        if (IsDisplayOnly) {
            GetHeaderGridDataPartial('All');
            $("#liPending").remove();
            $("#liAll").remove();
            $("#spanLabel").html("Display Full Kit Management System ");
            $("#portlet_comments_1").removeClass("active");
            $("#portlet_comments_2").addClass("active");
        }
        else {
            GetHeaderGridDataPartial('Pending');
            $("#portlet_comments_1").addClass("active");
            $("#portlet_comments_2").removeClass("active");
        }

        $('a[name="tabStatus"]').click(function () {
            GetHeaderGridDataPartial($(this).attr('spara'));
        });
    });

    function GetHeaderGridDataPartial(status)
    {
        var title = '@ViewBag.Title';
        var indextype = '@ViewBag.IndexType';

        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/ESP/MaintainESP/GetHeaderGridDataPartial",
            datatype: 'html',
            //async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { status: status, title: title, indextype: indextype, IsDisplayOnly: IsDisplayOnly },
            success: function (result) {
                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                }
                else {
                    $("#portlet_comments_2").html(result);
                }
            },
            error: function () {
            }
        });
    }
    function myFunction() {
        $('#modalAttach').modal('show');
    }

    function ExportDiagramExcelHeader(HeaderId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/ESP/MaintainESP/ExportDiagramExcel",
            datatype: 'json',
            async: false,
            data: { HeaderId: HeaderId },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                if (result.Key) {
                    window.location = WebsiteURL + '/Utility/General/Download?file=' + result.Value;
                    DisplayNotiMessage("success", "Excel Generated Successfully", "Success");
                }
                else {
                    DisplayNotiMessage("error", result.Value, "Error");
                }
            },
            error: function () {
            }
        });
    }

</script>
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    <span id="spanLabel">@Html.Raw((String)ViewBag.Title)</span>
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="text-align:right">
                                @if (ViewBag.IndexType == clsImplementationEnum.WPPIndexType.maintain.GetStringValue() && Isintiator)
                                {
                                    <a href="~/ESP/MaintainESP/ESPDetails/0?urlForm=@(ViewBag.IndexType)" style="float: right;" class="btn green">Add New</a>
                                }


                                @*<div id="modalAttach" class="modal" role="dialog"  data-backdrop="static" data-keyboard="false">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body" style="display:flex; height: 660px;">
                                                    <div class="col-md-12">
                                                        <embed src= @imagepath  width="100%" height="100%">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active" id="liPending">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                        </li>
                        <li id="liAll">
                            <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">
                        </div>
                        <div class="tab-pane" id="portlet_comments_2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/datatable/js")