﻿@using IEMQSImplementation

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @*@{
                        string strWPSTitle = ViewBag.Status + " Project Wise WPS";
                    }
                    @strWPSTitle*@
                    Project Wise WPS List
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/WPS/ProjectwiseWPS/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                @*<table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblWPS" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th class="min-phone-l">Quality Project</th>
                            <th class="min-phone-l">Project</th>
                            <th class="min-phone-l">WPS number</th>                            
                            <th class="min-phone-l">RevNo.</th>
                            <th class="min-phone-l">Joint Type</th>
                            <th class="min-phone-l">Status</th>    
                            <th class="min-phone-l">Location</th>                        
                            <th class="min-phone-l">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>*@

                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblQualityProjectWPS" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">Quality Project</th>
                            <th class="all">Project</th>
                            <th class="all">Location</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    @*<div class="col-md-12" style="text-align:right;">
        <button id="btnApproveSelected" type="button" class="btn approve">Approve</button>
    </div>*@
</div>

<script>

    $(document).ready(function () {
        LoadQualityProjectWPSHeaderData();
    });

    function LoadHeaderData() {
        var table = $('#tblWPS');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/WPS/ApproveProjectwiseWPS/LoadHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        if (data.iTotalRecords > 0) {
                            $("#btnApproveSelected").show();
                            isVisible = true;
                        }
                        else {
                            $("#btnApproveSelected").hide();
                            isVisible = false;

                        }
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                  {
                      'targets': 0,
                      "bSortable": false,
                      "sClass": "center",
                      'render': function (data, type, full, meta) {
                          return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                      }
                  },
                {
                    "sClass": "center",
                    "name": "QualityProject",
                },
                {
                    "name": "Project",
                    "sClass": "center"
                },
                {
                    "name": "WPSNumber",
                    "sClass": "center"
                },

                {
                    "name": "WPSRevNo",
                    "sClass": "center"
                },
                {
                    "name": "Jointtype",
                    "sClass": "center"
                },
                {
                    "name": "Status",
                    "sClass": "center"
                },
                {
                    "name": "Location",
                    "sClass": "center"
                },
                             {
                                 "bSortable": false,
                                 "sClass": "center"
                             },
            ]
        });
    }
    function LoadQualityProjectWPSHeaderData() {
        var table = $('#tblQualityProjectWPS');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/WPS/ApproveProjectwiseWPS/LoadQualityProjectWPSHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [

                {
                    "name": "QualityProject",
                    "sClass": "center",
                },
                {
                    "name": "Project",
                    "sClass": "center"
                },
                {
                    "name": "Location",
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
            ]
        });
    }
</script>
