﻿@using IEMQSImplementation
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @{
                string strTPTitle = "Projects";
            }
            @strTPTitle
        </div>
        @*<div class="tools"> </div>*@
        <div class="tools" id="dvExportHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/JPP/JPPApprove/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblHeader" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input name="select_all" value="1" id="example-select-all" type="checkbox">
                            <span></span>
                        </label>
                    </th>
                    <th class="all">Contract</th>
                    <th class="all">Project</th>
                    <th class="min-phone-l">Customer</th>
                    <th class="min-phone-l">Document</th>
                    <th class="min-phone-l">Status</th>
                    <th class="min-phone-l">CDD</th>
                    <th class="min-phone-l">RevNo</th>
                    <th class="" style="display:none;">Submitted By</th>
                    <th class="" style="display:none;">Submitted On</th>
                    <th class="" style="display:none;">Approved By</th>
                    <th class="" style="display:none;">Approved On</th>
                    <th class="all">Action</th>
                    <th class="hide" style="display:none;">HeaderId</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
    <div class="col-md-12" style="text-align:right; margin-top:5px;">
        <button id="btnApprove" type="button" class="btn green">Approve</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        var isVisible = false;
        $("#btnApprove").click(function () {
            var arrayHeaderIds = new Array();
            // Iterate over all checkboxes in the table
            $('input[class="clsCheckbox"]', $('#tblHeader')).each(function () {
                if (this.checked) {
                    arrayHeaderIds.push(this.value);
                }
            });
            if (arrayHeaderIds.length > 0) {
                var strHeaderIds = arrayHeaderIds.join(",");
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/JPP/JPPApprove/ApproveSelectedJPP",
                    datatype: 'json',
                    async: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    data: { strHeaderIds: strHeaderIds },
                    success: function (data) {
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                            $(".example-select-all").prop('checked', false);
                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                        $('#tblHeader').DataTable().ajax.reload();

                    },
                    error: function () {
                    }
                });
            }
            else {
                DisplayNotiMessage("error", "Please select header first", "Error");
            }
        });
        var tblHeaderLines = $('#tblHeader');
        var oTableHeaderLines = tblHeaderLines.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "searching": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [1, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],
            'columnDefs': [{
                'targets': 0,
                'searchable': false,
                'orderable': false,
                'className': 'dt-body-center',
                'render': function (data, type, full, meta) {
                    return '<input type="checkbox" name="id[]" value="'
                       + $('<div/>').text(data).html() + '">';
                }
            }],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/JPP/JPPApprove/LoadHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                {
                    "name": "CTQCompileStatus", "value": '@ViewBag.Status'
                });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        if (data.iTotalRecords > 0) {
                            $("#btnApprove").show();
                            isVisible = true;
                        }
                        else {
                            $("#btnApprove").hide();
                            isVisible = false;
                        }
                    },
                    'async': false
                });
            },
            "columns": [
                   {
                       'targets': 0,
                       "bSortable": false,
                       "sClass": "center",
                       'render': function (data, type, full, meta) {
                           return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                           //return '<input type="checkbox" name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '">';
                       }
                   },
                    {
                        "sClass": "center",
                        "name": "ContractNo",
                        "ColName": "b.t_cono + '-'+ b.t_desc"
                    },
               {
                   "sClass": "center",
                   "name": "Project"
               },
                {
                    //"bSortable": false,
                    "sClass": "center",
                    "name": "Customer"
                },
                {
                    //"bSortable": false,
                    "sClass": "center",
                    "name": "Document"
                },
                {
                    //"bSortable": false,
                    "sClass": "center",
                    "name": "Status"
                },
                {
                    //"bSortable": false,
                    "sClass": "center",
                    "name": "CDDDate",
                    "attr": "date"
                },
                {
                    //"bSortable": false,
                    "sClass": "center",
                    "name": "RevNo",
                    "attr": "numeric"
                },
                {
                    "name": "SubmittedBy",
                    "sClass": "none"
                },
                {
                    "name": "SubmittedOn",
                    "sClass": "none",
                    "attr": "date"
                },
                {
                    "name": "ApprovedBy",
                    "sClass": "none"
                },
                {
                    "name": "ApprovedOn",
                    "sClass": "none",
                    "attr": "date"
                },

                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                    //"bSortable": false,
                    //"sClass": "center",
                    //"sWidth": "10%",
                    //"render": function (data, type, row, meta) {
                    //    var buttons = "";
                    //    buttons = '<center><a title="View" href="../JPPApprove/JPPApproveDetail?Id=' + row[8] + '"><i style="margin-left:5px;" class="fa fa-eye"></i></a><i style="margin-left:5px;cursor:pointer;" title="Print Report" class="fa fa-print" onClick="PrintReport(' + row[8] + ')"></i></center>';
                    //    return buttons;
                    //}
                },
                 {
                     "sClass": "hide"

                 },
            ]
        });
        tblHeaderLines.dtSearchFilter();
        if ('@ViewBag.Status' == "Pending" && isVisible == true) {
            oTableHeaderLines.api().column(0).visible(true);
            $("#btnApprove").show();
        }
        else {
            oTableHeaderLines.api().column(0).visible(false);
            setTimeout(function () {
                $('#tblHeader_wrapper thead tr:first th:eq(0)').hide();
            }, 100);
            $("#btnApprove").hide();
        }

        $('#example-select-all').on('click', function () {
            var rows = oTableHeaderLines.api().rows({ 'search': 'applied' }).nodes();
            $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
        });

        // Handle click on checkbox to set state of "Select all" control
        $('#tblHeader tbody').on('change', 'input[type="checkbox"]', function () {
            // If checkbox is not checked
            if (!this.checked) {
                var el = $('#example-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if (el && el.checked && ('indeterminate' in el)) {
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });
    });
    function PrintReport(headerid) {
        bootbox.dialog({
            title: 'HTC Report',
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        url = "/JPP/JPP";
                        var dat = [];
                        dat.push({ Param: "HeaderId", Value: headerid });
                        ShowReport(dat, url);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn red'
                }
            }
        });
    }
    /*
        function PrintReport(headerid) {
            bootbox.dialog({
                title: 'Job Planning & Progress Sheet & Line Sketch Report',
                message: "Do You Want To Print Report?",
                buttons: {
                    'confirm': {
                        label: 'Print',
                        className: 'btn green',
                        callback: function () {

                            $.ajax({
                                url: WebsiteURL + "/JPP/JPPHeader/GetHeaderDetailsForPrintReport",
                                type: "POST",
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                data: { HeaderId: headerid },
                                success: function (res) {
                                    $.ajax({
                                        url: WebsiteURL + "/JPP/Print/Index",
                                        type: "POST",
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        data: { HeaderId: headerid },
                                        success: function (res) {
                                            var x = window.open();
                                            if (x == null) {
                                                DisplayNotiMessage('Warning', 'Pop-up blocker has disabled the print window, please allow pop-ups to continue', 'Pop-ups blocked!');
                                                return;
                                            }
                                            x.target = "_blank";
                                            x.document.write(res);
                                        }
                                    });
                                }
                            });

                        }
                    },
                    'cancel': {
                        label: 'Close',
                        className: 'btn red'
                    }
                }
            });
        }
        */
</script>
