﻿@model IEMQSImplementation.NDE001
@using IEMQSImplementation
<style>
    /*#tblPTMTCTQLines th {
        white-space: pre-line !important;
    }*/

    .clsNewBtn {
        height: 20px !important;
        padding: 0px 5px;
    }

    .clsDsiaplyInlineBlock {
        display: inline-block;
    }

    table.dataTable tbody td {
        white-space: nowrap;
    }

    textarea {
        height: 33px !important;
    }
</style>
<script>

    $(document).ready(function () {
        var isSelected = false;
        $('input[maxlength],textarea[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });

        if (('@Model.ReturnRemarks' == null || '@Model.ReturnRemarks' == "") && '@Model.Status' == '@clsImplementationEnum.PTMTCTQStatus.Returned.GetStringValue()') {
            $(".clsReadOnly").attr('readonly', 'readonly');
        }

        $("#txtProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetProjectResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectDescription };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    var spltProjectDesc = strProjectDesc.split("-");
                    var projectcode = spltProjectDesc[0].trim();
                    $("#ddlProject").val(projectcode);
                    GetBUProjectWise(projectcode, false);
                }

            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#txtProject").blur(function () {
            if (!isSelected) {
                ClearAll();
            }
        });

        var lstyesno = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.lstyesno))));
        FillAutoComplete($("#txtNotificationRequired"), lstyesno, $("#NotificationRequired"));

        var NotificationRequired = "@Model.NotificationRequired";
        if (NotificationRequired.toString().toLowerCase() == "true") {
            $("#txtNotificationRequired").val('Yes');
        } else if (NotificationRequired.toString().toLowerCase() == "false") {
            $("#txtNotificationRequired").val('No');
        }

        if (parseInt($('#txtHeaderId').val()) > 0) {
            //$("#btnAddLines").show();
            $("#btnNew").show();
        }
        else { $("#btnNew").hide(); }

        if ('@Model.Project' != '' && '@Model.Project' != 'null' && '@Model.Project' != null) {
            $("#txtProject").attr("disabled", true);
            $("#ddlProject").val('@Model.Project');
            $("#txtProject").val('@ViewBag.Project');
        }

        if ('@Model.ASMECodeStamp' != 'false') {
            $("#ASMECodeStamp").prop("checked", true);
        }

        if ('@Model.Status.ToLower()' == '@clsImplementationEnum.NDETechniqueStatus.SentForApproval.GetStringValue().ToLower()') {
            $("#btnSendForApproval").hide();
            $("#btnSaveHeader").hide();
            $("#btnAddLines").hide();
            $("#btnNew").hide();
        }

        $("#btnAddLines").click(function () {
            if ('@Model.Status.ToLower()' == '@IEMQSImplementation.clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue().ToLower()' ||
                $("#spnStatus").text().toLowerCase() == "@IEMQSImplementation.clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue().ToLower()") {
                GetPTMTCTQReviseLinesForm($("#ddlProject").val(), $("#BU").val(), $("#Location").val(), $("#CTQNo").val(), 0);
            }
            else {
                GetPTMTCTQLinesForm($("#ddlProject").val(), $("#BU").val(), $("#Location").val(), $("#CTQNo").val(), 0, false);
            }

        });

        $('#frmCreateHeader').validate({
            rules: {
                Project: {
                    required: true,
                },
                txtProject: {
                    required: true,
                },
                BU: {
                    required: true,
                },
                ApplicableSpecification: {
                    required: true,
                },
                AcceptanceStandard: {
                    required: true,
                },
                TPIName: {
                    required: true,
                },
                ThicknessOfJob: {
                    required: true,
                },
                SizeDimension: {
                    required: true,
                },
                NDERemarks: {
                    required: true,
                },
                txtNotificationRequired: { required: true, }

            },
            messages: {
                Project: {
                    required: "Project is required"
                },
                txtProject: {
                    required: "Project is required",
                },
                BU: {
                    required: "BU is required"
                },
                ApplicableSpecification: {
                    required: "Applicable Specification is required"
                },
                AcceptanceStandard: {
                    required: "Acceptance Standard is required"
                },
                TPIName: {
                    required: "TPI Name is required"
                },
                ThicknessOfJob: {
                    required: "Thickness of job is required"
                },
                SizeDimension: {
                    required: "Size & Dimension (LxID) of the Job is required"
                },
                NDERemarks: {
                    required: "NDE Remarks is required"
                },
                txtNotificationRequired: { required: "Notification Required is required", }
            }
        });

        $("#btnCopyData").click(function () {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/NDE/MaintainPTMTCTQ/GetCopyDataFormPartial",
                datatype: 'html',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                async: false,
                data: {},
                success: function (result) {
                    bootbox.dialog({
                        title: 'Copy',
                        message: result,
                        size: 'small',
                        buttons: {
                            'confirm': {
                                label: 'Save',
                                className: 'btn save',
                                callback: function () {
                                    if ($("#frmCopyPTMTCTQ").valid()) {
                                        $.ajax({
                                            url: WebsiteURL + '/NDE/MaintainPTMTCTQ/copyPTMTCTQ',
                                            type: "Post",
                                            beforeSend: function () {
                                                showLoading(true);
                                            },
                                            complete: function () {
                                                showLoading(false);
                                            },
                                            dataType: "JSON",
                                            data: { projCode: $("#ddlCopyProject").val(), HeaderId: $("#txtHeaderId").val() },
                                            success: function (data) {
                                                if (data.Key) {
                                                    setTimeout(DisplayNotiMessage("success", data.Value, "Success"), 2000);
                                                    //window.setTimeout('window.location.href = "/NDE/MaintainPTMTCTQ/AddUpdatePTMTCTQ?HeaderID=' + data.HeaderId + '"', 2000)
                                                }
                                                else {
                                                    DisplayNotiMessage("error", data.Value, "Error");
                                                    return false;
                                                }
                                            },
                                            error: function (ex) {
                                                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                                return false;
                                            }
                                        });
                                    }
                                    else {
                                        HighlightInValidControls();
                                        return false;
                                    }
                                }
                            },
                            'cancel': {
                                label: 'Close',
                                className: 'btn btnclose'
                            }
                        }
                    });
                },
                error: function () {
                }
            });
        });

        $("#btnHistoryData").click(function () {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/NDE/MaintainPTMTCTQ/GetHistoryDataPartial",
                datatype: 'html',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: { HeaderID:@*'@Model.HeaderId'*@ $('#txtHeaderId').val() },
                success: function (result) {
                    bootbox.dialog({
                        title: 'History',
                        message: result,
                        size: 'large',
                    }).find("div.modal-dialog").addClass("clsBootBoxWidth");
                },
                error: function () {
                }
            });
        });

        $("#btnSaveHeader").click(function () {
            if ($("#frmCreateHeader").valid()) {
                var frmSaveHeaderValue = $("#frmCreateHeader").serializeArray();
                var status = $("#Status").val();

                //if (status != undefined && status != null && status.toLowerCase() == "approved") {
                if (status != undefined && status != null && status.toLowerCase() == "@IEMQSImplementation.clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue().ToLower()") {
                    bootbox.dialog({
                        title: "Revise confirmation",
                        message: "Do you want to revise?",
                        size: "medium",
                        buttons: {
                            Yes: {
                                Label: "Yes",
                                className: 'btn-success',
                                callback: function () {
                                    SaveHeader(frmSaveHeaderValue, status);
                                    GetPTMTCTQHeaderFormHTML(parseInt($('#txtHeaderId').val() @*'@Model.HeaderId'*@))
                                }
                            },
                            Cancel: {
                                label: 'No',
                                className: 'btn-danger',
                                callback: function () { }
                            }

                        }
                    });
                }
                else {
                    SaveHeader(frmSaveHeaderValue, status);
                }
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });

    });

    function ClearAll() {
        $("#CTQNo").val('');
        $("#BU").val('');
        $("#ddlProject").val('');
        $("#txtProject").val('');
    }


    function GetBUProjectWise(projectcode, isFromEdit) {
        if (projectcode != null && projectcode != '' && projectcode != undefined) {
            if (IfProjectExist(projectcode) && !isFromEdit) {
                bootbox.dialog({
                    title: "Confirmation",
                    message: "This record already exists. Do you want to Continue?",
                    size: "medium",
                    buttons: {
                        Yes: {
                            Label: "Yes",
                            className: 'btn-success',
                            callback: function () {
                                ClearAll();
                            }
                        },
                        Cancel: {
                            label: 'No',
                            className: 'btn-danger',
                            callback: function () {
                                location.href = '@Url.Action("Index","MaintainPTMTCTQ")';
                            }
                        }

                    }
                });
            }
            else {
                $.ajax({
                    url: WebsiteURL + "/NDE/MaintainPTMTCTQ/GetProjectWiseBU",
                    type: 'POST',
                    async: false,
                    data: { projectcode: projectcode },
                    success: function (response) {
                        if (response.BUDescription != null && response.BUDescription != "" && response.BUDescription != undefined) {
                            $("#BU").val(response.BUDescription);
                            $("#ManufacturingCode").val(response.ManufacturingCode);
                        }
                        else {
                            $("#BU").val("");
                        }
                        $("#CTQNo").val(projectcode + "_CTQ_PTMT");
                    }
                });
            }
        }
        else {
            $("#BU").val("");
        }
    }

    function getProjectExists() {
        var Id = $('#Project').val();
        $.ajax({
            url: WebsiteURL + '/CTQ/MaintainPTMTCTQ/getProjectByID',
            type: "Post",
            async: false,
            dataType: "JSON",
            data: { Id: Id },
            success: function (data) {
                if (data.Key) {
                    bootbox.dialog({
                        title: "Confirmation",
                        message: "This record already exists. Do you want to Continue?",
                        size: "medium",
                        buttons: {
                            Yes: {
                                Label: "Yes",
                                className: 'btn-success',
                                callback: function () {
                                    ClearAll();
                                }
                            },
                            Cancel: {
                                label: 'No',
                                className: 'btn-danger',
                                callback: function () {
                                    location.href = '@Url.Action("Index","MaintainPTMTCTQ")';
                                }
                            }

                        }
                    });
                }
            },
            error: function (ex) {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            }
        });
        return false;
    }

    function SaveHeader(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/NDE/MaintainPTMTCTQ/SaveHeader",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    //bootbox.confirm({
                    //    message: data.Value,//+ ",Do you want to add lines?",
                    //    buttons: {
                    //        //confirm: {
                    //        //    label: 'Ok',
                    //        //    className: 'btn-success',
                    //        //},
                    //        //cancel: {
                    //        //    label: 'Ok',
                    //        //    className: 'btn-success'
                    //        //}
                    //    },
                    //    callback: function (result) {
                    //        if (result) {
                    //            //GetPTMTCTQLinesForm($("#ddlProject").val(), $("#BU").val(), $("#Location").val(), $("#CTQNo").val(), 0, false);
                    //        }
                    //    }
                    //});
                    DisplayNotiMessage("success", data.Value, "Success");
                    $("#ReturnRemarks").val(data.Remarks);
                    $("#btnNew").show();
                    //$("#btnAddLines").show();
                    if (parseInt(data.HeaderID) > 0) {
                        $("#txtHeaderId").val(parseInt(data.HeaderID));
                    }
                    setTimeout("$('#tblPTMTCTQLines').DataTable().ajax.reload()", 100, "");
                    //$('#tblPTMTCTQLines').DataTable().ajax.reload();
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

    function GetPTMTCTQLinesForm(projCode, BU, location, ctqNo, LineId, IsFromApproved) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/NDE/MaintainPTMTCTQ/GetPTMTCTQLinesForm",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            async: false,
            data: { projCode: projCode, BU: BU, location: location, ctqNo: ctqNo, LineId: LineId },
            success: function (result) {
                bootbox.dialog({
                    title: 'PT/MT CTQ Lines',
                    message: result,
                    size: 'large',
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn save',
                            callback: function () {
                                if ($("#frmPTMTCTQLines").valid()) {
                                    var formData = new FormData();
                                    var frmValues = $('#frmPTMTCTQLines').serializeArray();
                                    $.each(frmValues, function (key, input) {
                                        formData.append(input.name, input.value);
                                    });
                                    $.ajax({
                                        url: WebsiteURL + '/NDE/MaintainPTMTCTQ/SavePTMTCTQLines',
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        type: 'POST',
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                                if (IsFromApproved) {
                                                    GetPTMTCTQHeaderFormHTML(parseInt($('#txtHeaderId').val() @*'@Model.HeaderId'*@))
                                                }
                                                else {
                                                    $('#tblPTMTCTQLines').DataTable().ajax.reload();
                                                    $('#spnStatus').text(data.Status);

                                                }
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                        }
                                    });
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function GetPTMTCTQReviseLinesForm(projCode, BU, location, ctqNo, LineId) {
        bootbox.dialog({
            title: "Revise confirmation",
            message: "Do you want to revise?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn-success',
                    callback: function () {
                        GetPTMTCTQLinesForm(projCode, BU, location, ctqNo, LineId, true);
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn-danger',
                    callback: function () { }
                }

            }
        });
    }

    function IfProjectExist(projectcode) {
        var returnResponse = false;
        $.ajax({
            url: WebsiteURL + "/NDE/MaintainPTMTCTQ/checkProjectExist",
            type: 'POST',
            async: false,
            data: { projectcode: projectcode },
            success: function (response) {
                if (response.toUpperCase() == "FALSE") {
                    returnResponse = false;
                }
                else {
                    returnResponse = true;
                }
            }
        });
        return returnResponse;
    }


</script>
<style>
    .clsBootBoxWidth {
        width: 70% !important;
        margin: 30px auto !important;
    }
</style>
<div class="form-body">
    <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
        <div class="ribbon ribbon-left" style="background-color:transparent !important;">
            <span class="page-title">Maintain PT/MT Critical To Quality</span>
        </div>
        @{
            if (!string.IsNullOrWhiteSpace(Model.Status))
            {
                <div class="ribbon ribbon-right ribbon-color-warning">
                    <span style="font-weight:bolder">
                        Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span>
                    </span>
                </div>
            }
        }
    </div>
    <div id="dvHeader">

        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
        {
            @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
            @Html.HiddenFor(m => m.Status)
            <div class="form-group">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Project Detail</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Project<span class="required"> * </span></label>
                                    <div class="">
                                        <input type="text" id="txtProject" value="" name="txtProject" class="form-control col-md-3" placeholder="Select" colname="Project" />
                                        @Html.HiddenFor(m => m.Project, new { @id = "ddlProject" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">BU<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Location</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">CTQ No.</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.CTQNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">RevNo.</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.RevNo, "R" + Model.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Manufacturing Code<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ManufacturingCode, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>
                        </div>

                    </fieldset>

                    <fieldset>
                        <legend>PT/MT CTQ Details</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Applicable Specification<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.ApplicableSpecification, new { @class = "form-control col-md-3 clsReadOnly", @maxlength = "100" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Acceptance Standard<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.AcceptanceStandard, new { @class = "form-control col-md-3 clsReadOnly", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">ASME Code Stamp</label>
                                    <div class="">
                                        <label class="mt-checkbox mt-checkbox-outline" for="ASMECodeStamp">
                                            @Html.CheckBox("ASMECodeStamp", false, new { @class = "clsReadOnly" })
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">TPI Name<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.TPIName, new { @class = "form-control col-md-3 clsReadOnly", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Notification Required ?<span class="required"> * </span></label>
                                    <div class="">
                                        <input type="text" id="txtNotificationRequired" name="txtNotificationRequired" placeholder="Select" class="form-control col-md-3" colname="NotificationRequired" />
                                        @Html.HiddenFor(m => m.NotificationRequired)
                                        @*<label class="mt-checkbox mt-checkbox-outline" for="NotificationRequired">
                                                @Html.CheckBox("NotificationRequired", false, new { @class = "clsReadOnly" })
                                                <span></span>
                                            </label>*@
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Max & Min Thickness of the Job<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.ThicknessOfJob, new { @class = "form-control col-md-3 clsReadOnly", @maxlength = "100" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Size & Dimension (LxID) of the Job<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.SizeDimension, new { @class = "form-control col-md-3 clsReadOnly", @maxlength = "100" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">NDE Remarks<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.NDERemarks, new { @class = "form-control col-md-3 clsReadOnly", @maxlength = "100" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Return Remarks</label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.ReturnRemarks, new { @class = "form-control col-md-3", @style = "width: 404px; height: 33px;", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="text-align:right;margin-top:10px;">
                                <button class="btn green" style="display:none;" type="button" id="btnAddLines">Add Line</button>
                                @{

                                    //if (Model.Status.ToLower() == "approved" || Model.RevNo > 0)
                                    if (Model.Status.ToLower() == @IEMQSImplementation.clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue().ToLower() || Model.RevNo > 0)
                                    {
                                        <button title="History" type="button" class="btn icons" id="btnHistoryData"><i class="fa fa-history"></i></button>
                                    }
                                }
                                @*@if (Model.Status.ToLower() == "approved" || (Model.RevNo > 0 && Model.Status.ToLower() == "draft"))*@
                                @if (Model.Status.ToLower() == @IEMQSImplementation.clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue().ToLower() ||
(Model.RevNo > 0 && Model.Status.ToLower() == @IEMQSImplementation.clsImplementationEnum.NDETechniqueStatus.Draft.GetStringValue().ToLower()))
                                {
                                    <button title="Copy" type="button" class="btn icons" id="btnCopyData"><i class="fa fa-files-o"></i></button>
                                }
                            </div>
                        </div>

                    </fieldset>

                </div>
            </div>
                                    }
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        PT/MT CTQ Lines
                    </div>
                    <div class="tools" id="dvExportLines">
                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/NDE/MaintainPTMTCTQ/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLines" })
                        @*<input type="button" id="btnNew" value="New" name="btnNew" style="display:none; width: 55px;margin-right: 10px;" onclick="ShowNewRecord(this);" class="form-control col-md-1 clsNewBtn" />*@
                        <div class="btn-group">
                            <a style="margin-right:5px;" id="btnNew" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewRecord(this);">
                                <i class="fa fa-plus"></i> New
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmCTQLines", @class = "form-horizontal" }))
                    {
                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblPTMTCTQLines" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="all">#</th>
                                    <th class="all">Description</th>
                                    <th class="all">
                                        Applicable
                                        <br /> For PT?
                                        <span style="color:red">*</span>
                                    </th>
                                    <th class="all">
                                        Applicable
                                        <br /> For MT?
                                        <span style="color:red">*</span>
                                    </th>
                                    <th class="all">
                                        Specification No.
                                        <span style="color:red">*</span>
                                    </th>
                                    <th class="all">
                                        Clause No.
                                        <span style="color:red">*</span>
                                    </th>
                                    <th class="all">
                                        To be diss
                                        <br /> KOM / PIM / MCOM
                                    </th>
                                    <th class="all">
                                        Specification/Std
                                        <br />Requirement
                                        <span style="color:red">*</span>
                                    </th>
                                    <th class="all">
                                        To be displayed
                                        <br />in manual request
                                        <span style="color:red">*</span>
                                    </th>
                                    <th class="all">CTQ Requirement</th>
                                    <th class="all">Return Remarks</th>
                                    <th class="all">Status</th>
                                    <th class="all" style="display:none;">Action</th>
                                    <th class="all" style="display:none;">LineID</th>
                                    <th class="all" style="display:none;">HeaderID</th>

                                    @*<th class="all">SR. No.</th>
                                        <th class="min-phone-l">Spec. with Cl. No.</th>
                                        <th class="min-phone-l">Spec. Req.</th>
                                        <th class="min-phone-l">CTQ</th>
                                        <th class="min-phone-l">CTQ Req.</th>
                                        <th class="min-phone-l">Disc.(KOM/PIM/MKOM)</th>
                                        <th class="none">Quali. For Exam</th>
                                        <th class="min-phone-l">Written practice Approval</th>
                                        <th class="min-phone-l">Consumable Selection</th>
                                        <th class="min-phone-l">PT Method</th>
                                        <th class="none">MT Method</th>
                                        <th class="none">MT Par. Types</th>
                                        <th class="none">Ext.of Cust.</th>
                                        <th class="none">PTMT Acc. Std</th>
                                        <th class="none">Dwell Time for PT</th>
                                        <th class="none">MT Tech.</th>
                                        <th class="none">Colour Contrast</th>
                                        <th class="none">PT/MT Inaccessible</th>
                                        <th class="none">Rev. No.</th>
                                        <th class="none">Line Rev. No.</th>
                                        <th class="none">Status</th>
                                        <th class="none">Remark</th>
                                        <th class="min-phone-l">Action</th>
                                        <th class="min-phone-l" style="display:none;">LineID</th>
                                        <th class="min-phone-l" style="display:none;">HeaderID</th>*@
                                </tr>
                            </thead>
                        </table>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-12" style="text-align:right;">
            <input type="button" class="btn save" id="btnSaveHeader" value="Save" />
            <input type="button" class="btn submit" id="btnSendForApproval" value="Submit" />
            <input type="button" class="btn btnclose" id="btncancel" value="Close" />
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var table = $('#tblPTMTCTQLines');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/NDE/MaintainPTMTCTQ/LoadPTMTCTQHeaderLineData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": $("#txtHeaderId").val() },
                         { "name": "CTQCompileStatus", "value": $("#spnStatus").text() }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {

                        @*if ('@Model.Status' == 'Sent for Approval' || $("#spnStatus").text().toLowerCase() == 'approved') {*@
                        if ('@Model.Status.ToLower()' == '@clsImplementationEnum.NDETechniqueStatus.SentForApproval.GetStringValue().ToLower()' ||
                            $("#spnStatus").text().toLowerCase() == '@clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue().ToLower()') {
                            $("#btnSendForApproval").hide();

                        }
                        else if (data.iTotalRecords > 0) {
                            $("#btnSendForApproval").show();
                        }
                        else {
                            $("#btnSendForApproval").hide();
                        }
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);
                    },
                    'async': false
                });
                ResetAddRow();
                $('input[maxlength],textarea[maxlength]').maxlength({
                    alwaysShow: true,
                });
                //$('textarea').each(function () {
                $(":input[type='textarea']").attr('tabindex', '1');
                //});
            },
            "columns": [
                            {
                                "bSortable": false,
                                "sClass": "clsCenter",
                                //"sWidth": "3%",
                            },
                            {
                                "name": "Description",
                                "sClass": "",
                                //"sWidth": "30%",
                            },
                            {
                                "name": "ApplicableForPT",
                                "sClass": "clsCenter",
                                //"sWidth": "30%",
                            },
                            {
                                "name": "ApplicableForMT",
                                "sClass": "clsCenter",
                                //"sWidth": "30%",
                            },
                            {
                                "name": "SpecificationNo",
                                "sClass": "clsCenter",
                                //"sWidth": "30%",
                            }, {
                                "name": "SpecificationWithClauseNo",
                                "sClass": "clsCenter",
                                //"sWidth": "30%",
                            },
                            {
                                "name": "ToBeDiscussed",
                                "sClass": "center",
                                //"sWidth": "20%",
                            },
                            {
                                "name": "SpecificationRequirement",
                                "sClass": "clsCenter",
                                //"sWidth": "20%",
                            },

                            {
                                "name": "CriticalToQuality",
                                "sClass": "center",
                                //"sWidth": "30%",
                            },
                            {
                                "name": "CTQRequirement",
                                "sClass": "clsCenter",
                                //"sWidth": "30%",
                            },
                            {
                                "name": "ReturnRemark",
                                "sClass": "center",
                                //"sWidth": "50%",
                            },
                            {
                                "name": "Status",
                                "sClass": "center status",
                                //"sWidth": "50%",
                            },
                            {
                                "sClass": "center",
                                //"sWidth": "5%",
                            },

                            {
                                "sClass": "hide"
                            },
                            {
                                "sClass": "hide"

                            },
            ]
        });

        $("#btncancel").click(function () {
            window.location.href = WebsiteURL + '/NDE/MaintainPTMTCTQ/Index';
        });

        $('#frmCTQLines').validate({
            rules: {
                Description0: {
                    required: true,
                },
                SpecificationNo0: {
                    required: true
                },
                SpecificationWithClauseNo0: {
                    required: true,
                },
                SpecificationRequirement0: {
                    required: true,
                },
                ApplicableForPT0: {
                    required: true
                },
                ApplicableForMT0: {
                    required: true,
                },
                CriticalToQuality0: { required: true, }
            },
            messages: {
                Description0: {
                    required: "Description is required."
                },
                SpecificationNo0: {
                    required: "Specification No. is required."
                },
                SpecificationWithClauseNo0: {
                    required: "Clause no. is required."
                },
                SpecificationRequirement0: {
                    required: "Specification/Std Requirement is required."
                },
                ApplicableForPT0: {
                    required: "Applicable For PT is required."
                },
                ApplicableForMT0: {
                    required: "Applicable For MT is required.",
                },
                CriticalToQuality0: { required: "CTQ Requirement is required.", }
            }
        });

        //$('[colname="SpecificationNo"]').not('[name="SpecificationNo0"]').each(function () {
        //    $(this).rules("add", {
        //        required: true,
        //        messages: {
        //            required: "Specification No is required"
        //        }
        //    });
        //});

        $("#btnSendForApproval").click(function () {

            bootbox.dialog({
                title: "Submit Confirmation",
                message: "Do you want to submit?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success',
                        callback: function (result) {
                            if (result) {
                                $.ajax({
                                    type: "POST",
                                    url: WebsiteURL + "/NDE/MaintainPTMTCTQ/SendForApproval",
                                    datatype: 'json',
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    data: { HeaderId: parseInt($('#txtHeaderId').val() @*'@Model.HeaderId'*@) },
                                    success: function (data) {
                                        if (data.Key) {
                                            DisplayNotiMessage("success", data.Value, "Success");
                                            window.location.href = WebsiteURL + '/NDE/MaintainPTMTCTQ/Index';
                                        }
                                        else {
                                            if (data.Value == "info") {
                                                DisplayNotiMessage("info", data.Remarks, "Information");
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                        }
                                    },
                                    error: function () {
                                    }
                                });
                            }
                        }
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },

            });
            //}
            //else {
            //    return false;
            //}
        });
    });

    function ShowNewRecord(obj) {
        if ('@Model.Status' == 'Approved') {
            bootbox.dialog({
                title: "Revise confirmation",
                message: "Do you want to revise?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn-success',
                        callback: function () {
                            ReviseHeader('@Model.HeaderId');
                            GetPTMTCTQHeaderFormHTML(parseInt($("#txtHeaderId").val() @*'@Model.HeaderId'*@))
                            InsertNewRecord(obj);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn-danger',
                        callback: function () { }
                    }

                }
            });
        }
        else {
            InsertNewRecord(obj);
        }
    }
    function InsertNewRecord(obj) {
        $('#tblPTMTCTQLines').find("tbody tr:first").toggle();
        $('#tblPTMTCTQLines').find("tbody tr:first select:first").focus();
        if ($('#tblPTMTCTQLines').find("tbody tr:first").is(":visible")) {
            $(obj).html('<i class="fa fa-times"></i> Cancel');
            var delayedFn, blurredFrom;
            $('#tblPTMTCTQLines').find("tbody tr:first").on('blur', 'a', function (event) {
                blurredFrom = event.delegateTarget;
                delayedFn = setTimeout(function () { SaveNewRecord(); }, 0);
            });
            $('#tblPTMTCTQLines').find("tbody tr:first").on('focus', 'a', function (event) {
                if (blurredFrom === event.delegateTarget) {
                    clearTimeout(delayedFn);
                }
            });
        }
        else {
            $(obj).html('<i class="fa fa-plus"></i> New');
            clearFirstRow($('#tblPTMTCTQLines').find("tbody tr:first"));
        }
    }

    function SaveNewRecord() {
        if ($("#frmCTQLines").valid()) {
            var formData = new FormData();
            var frmValues = $('#frmCTQLines').serializeArray();
            $.each(frmValues, function (key, input) {
                formData.append(input.name, input.value);
            });
            $.ajax({
                url: WebsiteURL + '/NDE/MaintainPTMTCTQ/SaveNewLines',
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        $("#ReturnRemarks").val(data.Remarks);
                        DisplayNotiMessage("success", data.Value, "Success");
                        $('#tblPTMTCTQLines').DataTable().ajax.reload();
                        ResetAddRow();
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
    }

    function ResetAddRow() {
        $('#tblPTMTCTQLines').find("tbody tr:first").hide();
        $('#tblPTMTCTQLines').find("tbody tr:first").css("background-color", "#fbffb2");
        $("#btnNew").html('<i class="fa fa-plus"></i> New');
        clearFirstRow($('#tblPTMTCTQLines').find("tbody tr:first"));
    }

    function UpdateData(objColumn, rowID, LineId, IsValidate) {
        var IsAction = false;
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");
        if (IsValidate) {
            if (columnValue == "") {
                DisplayNotiMessage("info", columnName + " is required", "Info");
                return false;
            }
            else {
                IsAction = true;
            }
        }
        else {
            IsAction = true;
        }
        if (IsAction) {

            if ('@Model.Status' == 'Approved') {
                bootbox.dialog({
                    title: "Revise confirmation",
                    message: "Do you want to revise?",
                    size: "medium",
                    buttons: {
                        Yes: {
                            Label: "Yes",
                            className: 'btn-success',
                            callback: function () {
                                ReviseHeader('@Model.HeaderId');
                                GetPTMTCTQHeaderFormHTML(parseInt($("#txtHeaderId").val() @*'@Model.HeaderId'*@))
                                updateLineData(objColumn, rowID, LineId);
                            }
                        },
                        Cancel: {
                            label: 'No',
                            className: 'btn-danger',
                            callback: function () {
                                $('#tblPTMTCTQLines').DataTable().ajax.reload();
                            }
                        }

                    }
                });

            }
            else {
                updateLineData(objColumn, rowID, LineId);

            }
        }
    }

    function updateLineData(objColumn, rowID, LineId) {
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");
        if (columnName == "CTQRequirement") {
            $("#Description" + LineId).prop('disabled', true);
        }
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/NDE/MaintainPTMTCTQ/UpdateData",
            datatype: 'json',
            async: false,
            data: { headerId: rowID, columnName: columnName, columnValue: columnValue, LineId: LineId },
            success: function (result) {
                if (result.Key) {
                    $("#ReturnRemarks").val(result.Remarks);
                    $($(objColumn)).closest('tr').find("td.status").text(result.LineStatus);
                    //  DisplayNotiMessage("success", result.Value, "Success");
                }
                else { DisplayNotiMessage("error", result.Value, "Error"); }

            },
            error: function () {
                DisplayNotiMessage("error", result.Value, "Error");
            }
        });
    }
    function DeleteRecord(LineID) {
        if ('@Model.Status' == 'Approved') {
            bootbox.dialog({
                title: "Revise & Delete confirmation",
                message: "Do you want to revise & delete record?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn-success',
                        callback: function () {
                            ReviseHeader('@Model.HeaderId');
                            GetPTMTCTQHeaderFormHTML(parseInt($("#txtHeaderId").val() @*'@Model.HeaderId'*@))
                            DeleteLine(LineID);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn-danger',
                        callback: function () { }
                    }

                }
            });
        }
        else {
            bootbox.dialog({
                title: "Delete Confirmation",
                message: "Do you want to delete record?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn-success',
                        callback: function () {
                            DeleteLine(LineID);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn-danger',
                        callback: function () { }
                    }

                }
            });
        }
    }

    function DeleteLine(LineID) {
        $.ajax({
            url: WebsiteURL + '/NDE/MaintainPTMTCTQ/DeleteLine',
            data: { LineID: LineID },
            type: 'POST',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    DisplayNotiMessage("success", data.Value, "Success");
                    $('#tblPTMTCTQLines').DataTable().ajax.reload();
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }

            }
        });
    }

    function ReviseHeader(rowID) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/NDE/MaintainPTMTCTQ/ReviseData",
            datatype: 'json',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerId: rowID },
            success: function (result) {
                $("#ReturnRemarks").val(result.Remarks);
                if (result.Key) {
                    //  DisplayNotiMessage("success", result.Value, "Success");
                }
            },
            error: function () {
                DisplayNotiMessage("error", result.Value, "Error");
            }
        });
    }

</script>