﻿@model IEMQSImplementation.GLB001
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("select#ddlCategory").prop('selectedIndex', 0);
        $("#btnGetData").prop("disabled", true);
        $('#frmGDMatrix').validate({
            rules: {
                Category: {
                    required: true
                }
            },
            messages: {
                Category: {
                    required: "Category is required"
                }
            }
        });

        $("#ddlCategory").change(function () {
            $('#tblGlobalData').dataTable().fnDestroy();
            var index = $("#ddlCategory").get(0).selectedIndex;
            if (index == 0) {
                alert("Please select Category");
                $("#btnGetData").prop("disabled", true);
            }
            else {
                loadData($(this).val());
                $("#btnGetData").prop("disabled", false);
            }
         
        });
    });

    function loadData(Id) {
        var table = $('#tblGlobalData');
        var oTable = table.dataTable({
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            // Or you can use remote translation file
            //"language": {
            //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            //},

            // setup buttons extentension: http://datatables.net/extensions/buttons/
            buttons: [
                { extend: 'print', className: 'btn default' },
                { extend: 'pdf', className: 'btn default' },
                { extend: 'csv', className: 'btn default' }
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "order": [
                [0, 'asc']
            ],

            "lengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": "/KeyUser/GlobalData/getData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CategoryId", "value": Id }
                            //{ "name": "UserTypeId", "value": $('#ddlUserTypeList').val()}
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback
                });
            },
          
            "columns": [
                {
                    "sClass": "hide"

                },
                {
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                    "render": function (data, type, row, meta) {
                      
                        var buttons = "";
                        buttons = '<center><i  data-modal="" id="btnUpdate" name="btnUpdate" style="cursor:pointer;" Title="Update Record" class="fa fa-edit" onClick="UpdateRecord(' + row[0] +' )" ></i>';
                        buttons += '&nbsp;<i  data-modal="" id="btnDelete" name="btnDelete" style="cursor:pointer;" class="fa fa-trash-o" onClick="DeleteRecord(' + row[0] + ')"></i></center>';
                        return buttons;
                    }
                },
            ]
            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnGetData").click(function () {
            var sText = $("#ddlCategory option:selected").text();
            var val = $("#ddlCategory").val();
            var passval = val + "-" + sText;
            getAuthorizationForm(0 , passval);
        });
    });
    function getAuthorizationForm(Id, passval) {
        var sText = $("#ddlCategory option:selected").text();
        var val = $("#ddlCategory").val();
        var Passval = val + "-" + sText;
     
        $.ajax({
            type: "POST",
            url: "/KeyUser/GlobalData/GetDataHtml",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { Id: Id, Passval: Passval },
            success: function (result) {
                bootbox.dialog({
                    title: 'Global Data',
                    message: result,
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn green',
                            callback: function () {
                                if ($("#frmGDMatrix").valid()) {
                                    var formData = new FormData();
                                    var frmValues = $('#frmGDMatrix').serializeArray();
                              
                                    $.each(frmValues, function (key, input) {
                                        formData.append(input.name, input.value);
                                     
                                    });
                                    $.ajax({
                                        url: '/KeyUser/GlobalData/SaveGDMatrix',
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        type: 'POST',
                                        async: false,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key) {
                                            }
                                            else {
                                            }
                                            $('#tblGlobalData').DataTable().ajax.reload();
                                        }
                                    });
                                }
                                else {
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Cancel',
                            className: 'btn green'
                        }
                    }
                    //callback: function (result) {
                    //    debugger
                    //    if (result) {
                    //    }
                    //}
                });
            },
            error: function () {
            }
        });
    }
    function DeleteRecord(Id) {
        bootbox.confirm({
            message: "Are you sure you want to delete this record?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: '/KeyUser/GlobalData/DeleteGDMatrix',
                        data: { Id: Id },
                        type: 'POST',
                        async: false,
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        success: function (data) {
                            if (data.Key) {
                            }
                            else {
                            }
                            $('#tblGlobalData').DataTable().ajax.reload();
                        }
                    });
                }
            }
        });
    }
</script>


<script type="text/javascript">
   
    function UpdateRecord(Id) {
        var sText = $("#ddlCategory option:selected").text();
        var val = $("#ddlCategory").val();
        var Passval = val + "-" + sText;

        $.ajax({
            type: "POST",
            url: "/KeyUser/GlobalData/GetDataHtmlUpdate",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { Id: Id,  Passval: Passval },
            success: function (result) {
                bootbox.dialog({
                    title: 'Global Data',
                    message: result,
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn green',
                            callback: function () {
                                if ($("#frmGDMatrix").valid()) {
                                    var formData = new FormData();
                                    var frmValues = $('#frmGDMatrix').serializeArray();

                                    $.each(frmValues, function (key, input) {
                                        formData.append(input.name, input.value);

                                    });
                                    $.ajax({
                                        url: '/KeyUser/GlobalData/UpdateGDMatrix',
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        type: 'POST',
                                        async: false,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key) {
                                            }
                                            else {
                                            }
                                            $('#tblGlobalData').DataTable().ajax.reload();
                                        }
                                    });
                                }
                                else {
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Cancel',
                            className: 'btn green'
                        }
                    }
                    //callback: function (result) {
                    //    debugger
                    //    if (result) {
                    //    }
                    //}
                });
            },
            error: function () {
            }
        });
    }
    
</script>
<div class="page-content">
    <h1 class="page-title">
        Global Data
        <small></small>
    </h1>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form">
                <div class="portlet-body" >
                    <!-- BEGIN FORM-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Select Category<span class="required">*</span></label>
                                    <div class="">
                                        @Html.DropDownList("ddlCategory", (SelectList)@ViewBag.Category, "Select", new { @class = "form-control" })
                                        <br />
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top:7px;">
                                    <br />
                                    <button class="btn green" type="button" id="btnGetData" style="margin-left:10px;" disabled>Add New Data</button>
                                    @*<p style="color:red; font-weight:bold ">@Html.Raw(ViewBag.msg) </p>*@
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END FORM-->

                </div>
            </div>
            <!-- END VALIDATION STATES-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        @*<i class="fa fa-globe"></i>Row & Column Reordering*@
                    </div>
                    <div class="tools"> </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblGlobalData" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="" style="display:none;">ID</th>
                                <th class="min-phone-l">BU</th>
                                <th class="min-phone-l">Location</th>
                                <th class="min-phone-l">Category</th>
                                <th class="min-phone-l">Code</th>
                                <th class="min-phone-l">Description</th>
                                <th class="min-phone-l">Created By</th>
                                <th class="min-phone-l">Created On</th>
                                <th class="min-phone-l">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>