﻿@using IEMQSImplementation
@model IEMQSImplementation.GLB001
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("select#ddlCategory").prop('selectedIndex', 0);
        $("#btnGetData").prop("disabled", true);
        $('#frmGDMatrix').validate({
            rules: {
                Category: {
                    required: true
                }
            },
            messages: {
                Category: {
                    required: "Category is required"
                }
            }
        });

        //$("#ddlCategory").change(function () {
        //    $('#tblGlobalData').dataTable().fnDestroy();
        //    var index = $("#ddlCategory").get(0).selectedIndex;
        //    if (index == 0) {
        //        DisplayNotiMessage("error", "Please select Category", "Error");
        //        $("#btnGetData").prop("disabled", true);
        //    }
        //    else {
        //        $("#dvExportHeader").css("display", 'block');
        //        loadData($(this).val());
        //        $("#btnGetData").prop("disabled", false);
        //    }
        //});
    });

    function loadData(Id) {
        var table = $('#tblGlobalData');
        if(table.find("tr").length > 1) // remove old search filter tr
            table.find("tr:eq(0)").remove();
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            buttons: [ ], 
            responsive: true,
            "order": [ [0, 'asc'] ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            // set the initial value
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/Authorization/GlobalData/getData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CategoryId", "value": Id });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        $(".txtCategoryId", "#dvExportHeader").val(data.categoryId);
                    },
                });
            },
            "columns": [
                {
                    "bSortable": true,
                    "name": "BUDesc",
                    "ColName": "c.t_desc", 
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "LocaDesc",
                    "ColName": "d.t_desc", 
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "CatDesc",
                    "ColName": "b.Description", 
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "Code",
                    "ColName": "a.Code", 
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "Description",
                    "ColName": "a.Description", 
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "CreatedBy",
                    "ColName": "a.CreatedBy + ' - ' + e.t_name", 
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "CreatedOn",
                    "ColName": "a.CreatedOn",
                    "sClass": "center",
                    "attr": "date"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        buttons = '<center><i  data-modal="" id="btnUpdate" name="btnUpdate" style="cursor:pointer;" Title="Update Record" class="fa fa-edit" onClick="UpdateRecord(' + row[8] + ' )" ></i>';
                        buttons += '&nbsp;<i  data-modal="" id="btnDelete" name="btnDelete" style="cursor:pointer;" class="fa fa-trash-o" onClick="DeleteRecord(' + row[8] + ')"></i></center>';
                        return buttons;
                    }
                },
                {
                    "sClass": "hide"
                }
            ]
        });
        table.dtSearchFilter();
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {

        var lstCategory = @Html.Raw(Json.Encode(@ViewBag.Category));
        FillAutoCompleteCategory($("#txtCategory"), lstCategory, $("#Category"));

        $("#btnGetData").click(function () {
            var sText = $("#txtCategory").val();
            var val = $("#Category").val();
            //var sText = $("#ddlCategory option:selected").text();
            //var val = $("#ddlCategory").val();
            var passval = val + "-" + sText;
            getAuthorizationForm(0, passval);
        });

        $("#uploadForm").css("display", "none");

        $("#btnImport").click(function () {
            $("#btnImport").attr("disabled", "disabled");
            $("#uploadForm").css("display", "inline-flex");
        });

        $('#btnUpload').click(function () {
            console.log("called");
            var fileUpload = $("#upload").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            $.ajax({
                url: WebsiteURL +  '/Authorization/GlobalData/ReadExcel',
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                type: 'POST',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                            $("#upload").val('');
                            //$('#tblGlobalData').DataTable().ajax.reload();
                        }
                        else {
                            if (data.FileName != null) {
                                $("#upload").val('');
                                window.location = WebsiteURL + '/Utility/General/Download?file=' + data.FileName;
                            }
                            else {
                                $("#upload").val('');
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                        }
                    }
                }
            });
        });

    });

    function FillAutoCompleteCategory(element, sourceList, hdElement) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CatDesc,
                        value: item.CatDesc,
                        id: item.CatID
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id);

                $('#tblGlobalData').dataTable().fnDestroy();
                $("#dvExportHeader").css("display", 'block');
                loadData(ui.item.id);
                $("#btnGetData").prop("disabled", false);
                HighlightInValidControls();
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $("#btnGetData").prop("disabled", true);
                    element.val('');
                    element.focus();
                    HighlightInValidControls();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }

    function getAuthorizationForm(Id, passval) {
        //var sText = $("#ddlCategory option:selected").text();
        //var val = $("#ddlCategory").val();
        var sText = $("#txtCategory").val();
        var val = $("#Category").val();
        var Passval = val + "-" + sText;

        $.ajax({
            type: "POST",
            url: WebsiteURL +  "/Authorization/GlobalData/GetDataHtml",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { Id: Id, Passval: Passval },
            success: function (result) {
                bootbox.dialog({
                    title: 'Global Data',
                    message: result,
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn save',
                            callback: function () {
                                if ($("#frmGDMatrix").valid()) {
                                    var formData = new FormData();
                                    var frmValues = $('#frmGDMatrix').serializeArray();

                                    $.each(frmValues, function (key, input) {
                                        formData.append(input.name, input.value);

                                    });
                                    $.ajax({
                                        url: WebsiteURL +  '/Authorization/GlobalData/SaveGDMatrix',
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        type: 'POST',
                                        async: false,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                            $('#tblGlobalData').DataTable().ajax.reload();
                                        }
                                    });
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                            }

                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }

                });
            },
            error: function () {
            }
        });
    }
    function DeleteRecord(Id) {
        bootbox.confirm({
            message: "Are you sure you want to delete this record?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: WebsiteURL +  '/Authorization/GlobalData/DeleteGDMatrix',
                        data: { Id: Id },
                        type: 'POST',
                        async: false,
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        success: function (data) {
                            if (data.Key) {
                                DisplayNotiMessage("success", data.Value, "Success");
                            }
                            else {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                            $('#tblGlobalData').DataTable().ajax.reload();
                        }
                    });
                }
            }
        });
    }
</script>


<script type="text/javascript">

    function UpdateRecord(Id) {
        //var sText = $("#ddlCategory option:selected").text();
        //var val = $("#ddlCategory").val();
        var sText = $("#txtCategory").val();
        var val = $("#Category").val();
        var Passval = val + "-" + sText;

        $.ajax({
            type: "POST",
            url: WebsiteURL +  "/Authorization/GlobalData/GetDataHtmlUpdate",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { Id: Id, Passval: Passval },
            success: function (result) {
                bootbox.dialog({
                    title: 'Global Data',
                    message: result,
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn green',
                            callback: function () {
                                if ($("#frmGDMatrix").valid()) {
                                    var formData = new FormData();
                                    var frmValues = $('#frmGDMatrix').serializeArray();

                                    $.each(frmValues, function (key, input) {
                                        formData.append(input.name, input.value);

                                    });
                                    $.ajax({
                                        url: WebsiteURL +  '/Authorization/GlobalData/UpdateGDMatrix',
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        type: 'POST',
                                        async: false,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                            $('#tblGlobalData').DataTable().ajax.reload();
                                        }
                                    });
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Cancel',
                            className: 'btn green'
                        }
                    }

                });
            },
            error: function () {
            }
        });
    }

</script>
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Maintain Global Data
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-group" id="uploader">
                        <div class="col-md-12">
                            <div class="col-md-2" style="text-align:left">
                                <a class="btn green" target="_blank" id="btnDownloadExcel" href="~/Authorization/GlobalData/DownloadSample">Excel Template</a>
                            </div>
                            <div class="col-md-10" style="text-align:right;">
                                <form id="uploadForm" enctype="multipart/form-data" style="display:none;">
                                    <input type="file" class="btn green" id="upload" name="upload" />
                                    <input type="button" id="btnUpload" name="btnUpload" class="btn blue" value="Upload" />
                                </form>
                                <button class="btn green" style="margin-right:5px;" type="button" id="btnImport">Import Excel</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" style="margin-top:5px;">
                            <div class="col-md-4">
                                <label class="control-label">Select Category<span class="required">*</span></label>
                                <div class="">
                                    <input type="text" id="txtCategory" name="txtCategory" class="form-control col-md-3" placeholder="Select" colname= "Category" />
                                    @Html.HiddenFor(m => m.Category)
                                    @*@Html.DropDownList("ddlCategory", (SelectList)@ViewBag.Category, "Select", new { @class = "form-control" })*@
                                    <br />
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top:7px;">
                                <br />
                                <button class="btn green" type="button" id="btnGetData" style="margin-left:10px;" disabled>Add New Data</button>

                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 10px;">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">

                                    </div>
                                    <div class="tools" id="dvExportHeader" style="display:none">
                                        <input type="hidden" class="txtStrWhere">
                                        <input type="hidden" class="txtStrSort">
                                        <input type="hidden" class="txtCategoryId">
                                        <div class="btn-group">
                                            <a onclick="ExportToExcel();" class="btn btn-circle white btn-outline btn-sm">
                                                <i class="fa fa-file-excel-o"></i> Export
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblGlobalData" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="min-phone-l">BU</th>
                                                <th class="min-phone-l">Location</th>
                                                <th class="min-phone-l">Category</th>
                                                <th class="min-phone-l">Code</th>
                                                <th class="min-phone-l">Description</th>
                                                <th class="min-phone-l">Created By</th>
                                                <th class="min-phone-l">Created On</th>
                                                <th class="min-phone-l">Action</th>
                                                <th class="" style="display:none;">ID</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script type="text/javascript">
    function ExportToExcel() {
        debugger;
        var url = "/Authorization/GlobalData/GenerateExcel";
        var WC = $(".txtStrWhere", $("#dvExportHeader")).val();
        var SC = $(".txtStrSort", $("#dvExportHeader")).val();
        var CatId = $(".txtCategoryId", $("#dvExportHeader")).val();

        $.ajax({
            type: "POST",
            url: WebsiteURL +  url,
            datatype: 'json',
            async: false,
            data: { whereCondition: WC, strSortOrder: SC, CategoryId: CatId },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                if (result.Key) {
                    window.location = WebsiteURL + '/Utility/General/Download?file=' + result.Value;
                    DisplayNotiMessage("success", "Excel Generated Successfully", "Success");
                }
                else {
                    DisplayNotiMessage("error", result.Value, "Error");
                }
            },
            error: function () {
            }
        });
    }
</script>

