﻿@using IEMQSImplementation
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<link href="~/Content/assets/global/css/components.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/css/plugins.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*margin: 0px 0px 5px 0px !important;*/
    }

    .select2-search__field {
        width: 100% !important;
    }

    .multiselect {
        /*width: 355px;*/
        text-align: left;
    }



    .multiselect-container {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        width: auto;
    }
</style>

<script>
    $('input[maxlength]').maxlength({
        alwaysShow: true,
    });

    $(document).ready(function () {
        $('.date-picker').datepicker({
            orientation: "bottom auto",
            autoclose: true
        });

        LoadMultiSelect("/NDE/WelderPerformanceReport/GetAllLocation", $('#ddlLocation'), "--Select Location--", '');
        LoadMultiSelect("/NDE/WelderPerformanceReport/GetAllStagesType", $('#ddlStageType'), "--Select Stage Type--", '')
        MultiselectCCss();
        //var lstShops = JSON.parse(JSON.stringify(Html.Raw(Json.Encode(ViewBag.Shops))));
        var lstJointType = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.JointType))));

        LoadAutoCompleteList();

        //FillCategoryAutocomplete($("#txtFromShop"), lstShops, $("#hdFromShop"));
        //FillCategoryAutocomplete($("#txtToShop"), lstShops, $("#hdToShop"));

        //FillAutoCompleteDropdown($("#txtFromWelder"), "/NDE/WelderPerformanceReport/GetFromWelderDetail", $("#hdFromWelder"), $("#txtToWelder"));
        //FillAutoCompleteDropdown($("#txtToWelder"), "/NDE/WelderPerformanceReport/GetWelderDetail", $("#hdToWelder"));

        //FillAutoCompleteDropdown($("#txtFromProcessCluster"), "/NDE/WelderPerformanceReport/GetProcessCluster", $("#hdFromProcessCluster"));
        //FillAutoCompleteDropdown($("#txtToProcessCluster"), "/NDE/WelderPerformanceReport/GetProcessCluster", $("#hdToProcessCluster"));

        FillCategoryAutocomplete($("#txtJointType"), lstJointType, $("#hdJointType"));

        //FillAutoCompleteDropdown($("#txtFromProject"), "/NDE/WelderPerformanceReport/GetAllQualityProject", $("#hdFromProject"));
        //FillAutoCompleteDropdown($("#txtToProject"), "/NDE/WelderPerformanceReport/GetAllQualityProject", $("#hdToProject"));

        $('#frmReport1').validate({
            rules: {
                Inspectionfrom: { required: true },
                Inspectionto: { required: true },
                ddlLocation: { required: true },

                txtFromShop: { required: true },
                txtToShop: { required: true },
                txtFromProject: { required: true },
                txtToProject: { required: true },
                txtFromWelder: { required: true },
                txtToWelder: { required: true },
                ddlStageType: { required: true },
                txtJointType: { required: true }
            },
            messages: {
                Inspectionfrom: { required: "From Date is required" },
                Inspectionto: { required: "To Date is required" },
                ddlLocation: { required: "Location is required" },

                txtFromShop: { required: "From Shop is required" },
                txtToShop: { required: "To Shop is required" },
                txtFromProject: { required: "From Project is required" },
                txtToProject: { required: "To Project is required" },
                txtFromWelder: { required: "Welder Name is required" },
                txtToWelder: { required: "Welder Name is required" },
                ddlStageType: { required: "Stage Type is required" },
                txtJointType: { required: "Joint Type is required" }

            }
        });

        @*$('#btnGenerateReport').click(function () {

            var url = "";
            url = "";
            var dat = [];
            var location = $("#ddlLocation").val();
            if (location != '' && location != null && location != undefined) {
                var lstlocation = location.join(",");
            }
            else {
                var lstlocation = location;
            }

            var Stage = $("#ddlStageType").val();
            if (Stage != '' && Stage != null && Stage != undefined) {
                var lstStage = Stage.join(",");
            }
            else {
                var lstStage = Stage;
            }

            //push common parameters

            dat.push({ Param: "PeriodFrom", Value: ConvertDateToDBDate($("#Inspectionfrom").val()) });
            dat.push({ Param: "PeriodTo", Value: ConvertDateToDBDate($("#Inspectionto").val()) });
            dat.push({ Param: "Location", Value: lstlocation });
            dat.push({ Param: "ProcessClusterFrom", Value: '' });
            dat.push({ Param: "ProcessClusterTo", Value: '' });
            dat.push({ Param: "ShopFrom", Value: $("#hdFromShop").val() });
            dat.push({ Param: "ShopTo", Value: $("#hdToShop").val() });
            dat.push({ Param: "projectFrom", Value: $("#hdFromProject").val() });
            dat.push({ Param: "projectTo", Value: $("#hdToProject").val() });
            dat.push({ Param: "WelderFrom", Value: $("#hdFromWelder").val() });
            dat.push({ Param: "WelderTo", Value: $("#hdToWelder").val() });
            dat.push({ Param: "JointType", Value: $("#hdJointType").val() });
            dat.push({ Param: "StageType", Value: lstStage });

            var report = "";
            //reset validations in everry click

            if ($('#frmReport1').valid()) {

                url = "/NDE/WelderPerformanceAnalysis";
                report = "Welder wise Performance Analysis";

                bootbox.dialog({
                    title: '@ViewBag.Title',
                    message: "Do You Want To Print " + report + "Report?",
                    buttons: {
                        'confirm': {
                            label: 'Print',
                            className: 'btn green',
                            callback: function () {
                                ShowReport(dat, url);
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                })
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });*@

        $("#ddlLocation").change(function () {
            ResetShopControl();
        });
    });

    function PrintReport(LayoutType) {
        var url = "";
        url = "";
        var dat = [];
        var location = $("#ddlLocation").val();
        if (location != '' && location != null && location != undefined) {
            var lstlocation = location.join(",");
        }
        else {
            var lstlocation = location;
        }

        var Stage = $("#ddlStageType").val();
        if (Stage != '' && Stage != null && Stage != undefined) {
            var lstStage = Stage.join(",");
        }
        else {
            var lstStage = Stage;
        }

        //push common parameters

        dat.push({ Param: "PeriodFrom", Value: ConvertDateToDBDate($("#Inspectionfrom").val()) });
        dat.push({ Param: "PeriodTo", Value: ConvertDateToDBDate($("#Inspectionto").val()) });
        dat.push({ Param: "Location", Value: lstlocation });
        dat.push({ Param: "ProcessClusterFrom", Value: '' });
        dat.push({ Param: "ProcessClusterTo", Value: '' });
        dat.push({ Param: "ShopFrom", Value: $("#hdFromShop").val() });
        dat.push({ Param: "ShopTo", Value: $("#hdToShop").val() });
        dat.push({ Param: "projectFrom", Value: $("#hdFromProject").val() });
        dat.push({ Param: "projectTo", Value: $("#hdToProject").val() });
        dat.push({ Param: "WelderFrom", Value: $("#hdFromWelder").val() });
        dat.push({ Param: "WelderTo", Value: $("#hdToWelder").val() });
        dat.push({ Param: "JointType", Value: $("#hdJointType").val() });
        dat.push({ Param: "StageType", Value: lstStage });

        var report = "";
        //reset validations in everry click

        if ($('#frmReport1').valid()) {

            if (LayoutType == "2") {
                url = "/NDE/WelderPerformanceAnalysis_Layout2";
                report = "Do You Want To Print Welder wise Performance Analysis Report Layout 2 ?";
            }
            else {
                url = "/NDE/WelderPerformanceAnalysis_Layout1";
                report = "Do You Want To Print Welder wise Performance Analysis Report Layout 1 ?";
            }

            bootbox.dialog({
                title: '@ViewBag.Title',
                message: report,
                buttons: {
                    'confirm': {
                        label: 'Print',
                        className: 'btn green',
                        callback: function () {
                            ShowReport(dat, url);
                        }
                    },
                    'cancel': {
                        label: 'Close',
                        className: 'btn btnclose'
                    }
                }
            })
        }
        else {
            HighlightInValidControls();
            return false;
        }
    }

    function MultiselectCCss() {
        $(".multiselect").css("width", "100%");
        $(".btn-group").css("width", "100%");
        $(".multiselect").css("overflow", "hidden");

    }
    function LoadMultiSelect(url, objControl, caption, param) {

        objControl.multiselect('destroy');
        $.ajax({
            url: WebsiteURL + url,
            type: "POST",
            data: param,
            async: false,
            dataType: "json",
            success: function (data) {
                var option = "";
                $.each(data, function (index, object) {
                    option += "<option value='" + object.id + "'>" + object.text + "</option>";
                });
                objControl.html(option);

                objControl.multiselect({
                    placeholder: caption,
                    search: true,
                    //selectAll: true,
                    enableFiltering: true,
                    enableCaseInsensitiveFiltering: true,
                    includeSelectAllOption: true,
                });
            }
        })
    };

    function FillAutoCompleteDropdown(element, source, hdElement, disableEle) {
        $(element).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + source,
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term,
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.text, id: item.id };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    $(hdElement).val('')
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    $(hdElement).val(ui.item.id);
                    if (disableEle != null && disableEle != '' && disableEle != undefined) {
                        if (ui.item.id == "ALL") {
                            disableEle.val('').prop("disabled", true);
                        }
                        else { disableEle.val('').prop("disabled", false); }
                    }
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);;
        });
    }

    function FillCategoryAutocomplete(element, source, hdElement) {
        $(element).autocomplete({

            source: function (request, response) {
                var array = $.map(source, function (item) {
                    return {
                        label: item.Description,
                        value: item.Description,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    $(hdElement).val(ui.item.id);
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(hdElement).val('');
                    $(this).focus();
                }
            }
        }).focus(function () {
            $(this).autocomplete('search', $(this).val())
        });
    }

    function ConvertDateToDBDate(inputDate) {
        var resultDate = inputDate;//dd/MM/yyyy
        if (inputDate != '' && inputDate != null && inputDate != undefined) {
            resultDate = inputDate.split('/')[2] + "/" + inputDate.split('/')[1] + "/" + inputDate.split('/')[0];
        }
        return resultDate;
    }

    function LoadAutoCompleteList() {
        var paramShopList = [];
        paramShopList.push({ id: "Location", value: $("#ddlLocation") });

        FillAutoCompleteUsingAjax($("#txtFromShop"), "/NDE/WelderPerformanceReport/GetShopDetailByLocation", $("#hdFromShop"), false, paramShopList, ResetProjectControl);
        FillAutoCompleteUsingAjax($("#txtToShop"), "/NDE/WelderPerformanceReport/GetShopDetailByLocation", $("#hdToShop"), false, paramShopList, ResetProjectControl);

        var paramProjectList = [];
        paramProjectList.push({ id: "FromShop", value: $("#hdFromShop") });
        paramProjectList.push({ id: "ToShop", value: $("#hdToShop") });

        FillAutoCompleteUsingAjax($("#txtFromProject"), "/NDE/WelderPerformanceReport/GetQualityProjectByShop", $("#hdFromProject"), false, paramProjectList, ResetWelderControl);
        FillAutoCompleteUsingAjax($("#txtToProject"), "/NDE/WelderPerformanceReport/GetQualityProjectByShop", $("#hdToProject"), false, paramProjectList, ResetWelderControl);

        var paramWelderList = [];
        paramWelderList.push({ id: "FromProject", value: $("#hdFromProject") });
        paramWelderList.push({ id: "ToProject", value: $("#hdToProject") });

        FillAutoCompleteUsingAjax($("#txtFromWelder"), "/NDE/WelderPerformanceReport/GetFromWelderDetailByProject", $("#hdFromWelder"), false, paramWelderList, DisableToWelder);
        FillAutoCompleteUsingAjax($("#txtToWelder"), "/NDE/WelderPerformanceReport/GetToWelderDetailByProject", $("#hdToWelder"), false, paramWelderList);
    }

    function ResetShopControl() {
        $("#txtFromShop,#txtToShop,#hdFromShop,#hdToShop").val('');
        ResetProjectControl();
    }

    function ResetProjectControl() {
        $("#txtFromProject,#txtToProject,#hdFromProject,#hdToProject").val('');
        ResetWelderControl();
    }

    function ResetWelderControl() {
        $("#txtFromWelder,#txtToWelder,#hdFromWelder,#hdToWelder").val('');
    }

    function DisableToWelder() {
        if ($("#txtToWelder") != null && $("#txtToWelder") != '' && $("#txtToWelder") != undefined) {
            if ($("#hdFromWelder").val() == "ALL") {
                $("#txtToWelder").val('').prop("disabled", true);
                $("#hdToWelder").val('');
            }
            else {
                $("#txtToWelder").val('').prop("disabled", false);
                $("#hdToWelder").val('');
            }
        }
    }
</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Welder Performance Analysis Report
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <!-- Start : Production Detail Report -->
                    <form id="frmReport1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-8">
                                    <label class="control-label">
                                        Inspection Date (From date - To date)<span class="required">*</span>
                                    </label>
                                    <div class="">
                                        <div class="input-group date-picker input-daterange" data-date-format="dd/mm/yyyy">
                                            <input type="text" id="Inspectionfrom" name="Inspectionfrom" placeholder="From date" readonly class="form-control col-md-3" />
                                            <span class="input-group-addon"> to </span>
                                            <input type="text" id="Inspectionto" name="Inspectionto" placeholder="To date" readonly class="form-control col-md-3" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">	Location <span class="required">*</span></label>
                                    <div class="">
                                        <select name="ddlLocation" id="ddlLocation" class="mt-multiselect btn btn-default" multiple="multiple" style="width:100%"></select>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">From Process Cluster <span class="required">*</span></label>
                                        <div class="">
                                            <input type="text" id="txtFromProcessCluster" value="" name="txtFromProcessCluster" class="form-control col-md-3" placeholder="Select" />
                                            <input type="hidden" id="hdFromProcessCluster" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">To Process Cluster <span class="required">*</span></label>
                                        <div class="">
                                            <input type="text" id="txtToProcessCluster" value="" name="txtToProcessCluster" class="form-control col-md-3" placeholder="Select" />
                                            <input type="hidden" id="hdToProcessCluster" />
                                        </div>
                                    </div>
                                </div>*@

                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">From Shop<span class="required"> * </span></label>
                                    <div class="">
                                        <input type="text" id="txtFromShop" value="" name="txtFromShop" class="form-control col-md-3" placeholder="Select" />
                                        <input type="hidden" id="hdFromShop" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">To Shop<span class="required"> * </span></label>
                                    <div class="">
                                        <input type="text" id="txtToShop" value="" name="txtToShop" class="form-control col-md-3" placeholder="Select" />
                                        <input type="hidden" id="hdToShop" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">From Project<span class="required"> * </span></label>
                                    <div class="">
                                        <input type="text" id="txtFromProject" value="" name="txtFromProject" class="form-control col-md-3" placeholder="Select" />
                                        <input type="hidden" id="hdFromProject" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">To Project<span class="required"> * </span></label>
                                    <div class="">
                                        <input type="text" id="txtToProject" value="" name="txtToProject" class="form-control col-md-3" placeholder="Select" />
                                        <input type="hidden" id="hdToProject" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">From Welder<span class="required"> * </span></label>
                                    <div class="">
                                        <input type="text" id="txtFromWelder" value="" name="txtFromWelder" class="form-control col-md-3" placeholder="Select" />
                                        <input type="hidden" id="hdFromWelder" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">To Welder<span class="required"> * </span></label>
                                    <div class="">
                                        <input type="text" id="txtToWelder" value="" name="txtToWelder" class="form-control col-md-3" placeholder="Select" />
                                        <input type="hidden" id="hdToWelder" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Joint Type<span class="required"> * </span></label>
                                    <div class="">
                                        <input type="text" id="txtJointType" value="" name="txtJointType" class="form-control col-md-3" placeholder="Select" />
                                        <input type="hidden" id="hdJointType" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Stage Type<span class="required"> * </span></label>
                                    <div class="">
                                        <select name="ddlStageType" id="ddlStageType" class="mt-multiselect btn btn-default" multiple="multiple" style="width:100%"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr />
                                <div class="col-md-12">
                                    <button class="btn green" type="button" id="btnGenerateReport" name="btnGenerateReport" onclick="PrintReport('1');">Print Layout 1</button>
                                    <button class="btn green" type="button" id="btnLayout2" name="btnLayout2" onclick="PrintReport('2');">Print Layout 2</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End : Production Detail Report -->
            </div>
        </div>
    </div>
</div>

<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Content/assets/pages/scripts/components-bootstrap-multiselect.min.js"></script>