﻿@model IEMQSImplementation.PRO310
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0, s2 = 0, s3 = 0, s4 = 0, s5 = 0;/* for serial number */
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />
<style>
    .clsparent {
        background-color: #fbffb2;
        font-weight: bold;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="height: 20px"></div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left;">
                                                    <strong>MATERIAL IDENTIFICATION</strong>
                                                </span>
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div1">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines1">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th></th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction"></th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO311 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO311 as List<PRO311>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="MaterialIdentification"> @Html.TextArea("MaterialIdentification_1_" + @s3, @item.MaterialIdentification, new { @class = "form-control", @maxlength = "200", @role = "PROD" })</td>
                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-12" style="margin-top: 10px;" id="#">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="3">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left;">
                                                    <strong> </strong>
                                                </span>

                                            </div>
                                            <div class="tools" id="dvExportSubLines">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div2', this)" id="btnCollapse2" data-target="#div2" data-original-title="" title=""> </a>

                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div2">
                                            <div class="table-responsive">
                                                <table id="tblProtocolLines2" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">HeaderId</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th class="title" rowspan="3">SEAM NO</th>
                                                            <th class="title" colspan="6">W.E.P. DIMENSIONS</th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <th class="subtitle" style="text-align: center;">DETAILS</th>
                                                            <th class="subtitle" style="text-align: center;">ROOT GAP</th>
                                                            <th class="subtitle" style="text-align: center;">ROOT FACE</th>
                                                            <th class="subtitle" style="text-align: center;">INSIDE WEP ANGLE</th>
                                                            <th class="subtitle" style="text-align: center;">OUTSIDE WEP ANGLE</th>
                                                            <th class="subtitle" style="text-align: center;">OFFSET</th>
                                                        </tr>
                                                        <tr>
                                                            <th>REQUIRED</th>
                                                            <td> @Html.TextBoxFor(model => model.ReqRootGap, new { @class = "form-control", @maxlength = "20", @role = "QC" })  </td>
                                                            <td> @Html.TextBoxFor(model => model.ReqRootFace, new { @class = "form-control ", @maxlength = "20", @role = "QC" })  </td>
                                                            <td> @Html.TextBoxFor(model => model.ReqInSideWepAngle, new { @class = "form-control ", @maxlength = "20", @role = "QC" })  </td>
                                                            <td> @Html.TextBoxFor(model => model.ReqOutSideWepAngle, new { @class = "form-control ", @maxlength = "20", @role = "QC" })  </td>
                                                            <td> @Html.TextBoxFor(model => model.ReqOffset, new { @class = "form-control ", @maxlength = "20", @role = "QC" })  </td>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO312 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO312 as List<PRO312>)
                                                            {
                                                                <tr class="row_@(s4 = s4 + 1) tab_new_@(s5 = s5 + 1)">
                                                                    <td style="text-align: center;display:none;"># @(s2 = s2 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="SeamNo " rowspan="2">@Html.TextBox("SeamNo_2_" + @s2, @item.SeamNo, new { @class = "form-control", @maxlength = "16", @role = "QC" })</td>
                                                                    <td class="subtitle" style="text-align: center;">ACT. MAX.</td>
                                                                    <td class="ActMaxRootGap">@Html.TextBox("ActMaxRootGap_2_" + @s2, @item.ActMaxRootGap, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActMaxRootFace">@Html.TextBox("ActMaxRootFace_2_" + @s2, @item.ActMaxRootFace, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActMaxInSideWepAngle">@Html.TextBox("ActMaxInSideWepAngle_2_" + @s2, @item.ActMaxInSideWepAngle, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActMaxOutSideWepAngle">@Html.TextBox("ActMaxOutSideWepAngle_2_" + @s2, @item.ActMaxOutSideWepAngle, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActMaxOffset">@Html.TextBox("ActMaxOffset_2_" + @s2, @item.ActMaxOffset, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>


                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_2_@s2" name="Delete_2_@s2" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteNewTable(@s5);"></i></td>
                                                                    }

                                                                </tr>

                                                                <tr class="row_@(s4 = s4 + 1) tab_new_@(s5)">
                                                                    <td style="text-align: center;display:none;"># @(s2 = s2 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="subtitle" style="text-align: center;">ACT. MIN.</td>
                                                                    <td class="ActMinRootGap">@Html.TextBox("ActMinRootGap_2_" + @s2, @item.ActMinRootGap, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActMinRootFace">@Html.TextBox("ActMinRootFace_2_" + @s2, @item.ActMinRootFace, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActMinInSideWepAngle">@Html.TextBox("ActMinInSideWepAngle_2_" + @s2, @item.ActMinInSideWepAngle, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActMinOutSideWepAngle">@Html.TextBox("ActMinOutSideWepAngle_2_" + @s2, @item.ActMinOutSideWepAngle, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActMinOffset">@Html.TextBox("ActMinOffset_2_" + @s2, @item.ActMinOffset, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>

                                                                </tr>

                                                                <tr></tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>

                                            </div>

                                            <input id="hdGrid2TotalTbody" type="hidden" value="@s4" />
                                            <input id="hdGrid2LastRow" type="hidden" value="@s2" />
                                            <input id="hdGrid2TotalGroup" type="hidden" value="@s5" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-5">

                                    <table class="FormTable">
                                        <tr>
                                            <td class="title" colspan="4">
                                                TOTAL LENGTH <br />
                                                (REQUIRED:@Html.TextBoxFor(model => model.ReqTotalLength, new { @class = "form-control inlinetextbox w100", @maxlength = "20", @role = "QC" }))
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">MINIMUM</td>
                                            <td> @Html.TextBoxFor(model => model.MinReqTotalLength, new { @class = "form-control", @maxlength = "10", @role = "PROD" })  </td>
                                            <td class="subtitle">MAXIMUM</td>
                                            <td> @Html.TextBoxFor(model => model.MaxReqTotalLength, new { @class = "form-control", @maxlength = "10", @role = "PROD" })  </td>
                                        </tr>

                                    </table>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-5">

                                    <table class="FormTable">
                                        <tr>
                                            <td class="title" colspan="4">
                                                TOTAL WIDTH<br />
                                                (REQUIRED:@Html.TextBoxFor(model => model.ReqTotalWidth, new { @class = "form-control inlinetextbox w100", @maxlength = "20", @role = "QC" }))
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">MINIMUM</td>
                                            <td> @Html.TextBoxFor(model => model.MinReqTotalWidth, new { @class = "form-control", @maxlength = "10", @role = "PROD" })  </td>
                                            <td class="subtitle">MAXIMUM</td>
                                            <td> @Html.TextBoxFor(model => model.MaxReqTotalWidth, new { @class = "form-control", @maxlength = "10", @role = "PROD" })  </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                        <tr>
                                            <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                                CHECK POINTS/REMARKS
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                1) SEAM NUMBER PUNCHED AS REQUIRED BY STANDARD PROCEDURE?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint1, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                2) TACKS FREE FROM CRACK ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint2, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                3) GROOVE CLEANED ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint3, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                4) L&T STAMP  AVAILABLE ON IDENTIFICATION ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint4, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @maxlength = "10", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                5) RECORD OF TEMPORARY ATTACHMENT PROVIDED ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint5, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                6) RUN IN RUN OUT ATTACHED?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint6, new SelectList(@ViewBag.YesNOEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                7) HEAT NUMBER OF BOTH PTC SEGMENTS VERIFIED AS PER HIGHEST AND LOWEST J FACTOR REQUIREMENTS?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint7, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                8) ALL DIMENSIONS ARE IN MM, UNLESS OTHERWISE SPECIFIED.
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="clstd" colspan="2">
                                                9) MEASURING AND TESTING EQUIPMENT SERIAL NUMBER &nbsp;
                                                @Html.TextBoxFor(model => model.CheckPoint9, new { @class = "form-control inlinetextbox width250px", @maxlength = "20", @role = "PROD" })
                                                &nbsp; & CALIBRATION DUE DATE
                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                    @Html.TextBoxFor(m => m.CheckPoint9_2, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;", @role = "PROD" })
                                                    <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                        <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                QC REMARK: @Html.TextAreaFor(model => model.QCRemarks, new { @class = "form-control", @maxlength = "200", @role = "QC" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                    <input type="button" class="btn submit" id="btnSave" value="Submit" />
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>

<script>
    var notPRODLastChild = "";
    var notQCLastChild = "";

    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';

    $(document).ready(function () {

        SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });
        $("#CheckPoint9_2").change(function () {
            if ($("#CheckPoint9_2").val() != "") {
                $('#btnSaveDraft').focus();
            }
        });

        $('#CheckPoint1,#CheckPoint2 ,#CheckPoint3,#CheckPoint4,#CheckPoint5,#CheckPoint6').val('Yes');

        if ('@Model.CheckPoint1' != "") {$('#CheckPoint1').val('@Model.CheckPoint1');}
        if ('@Model.CheckPoint2' != "") {$('#CheckPoint2').val('@Model.CheckPoint2');}
        if ('@Model.CheckPoint3' != "") { $('#CheckPoint3').val('@Model.CheckPoint3'); }
        if ('@Model.CheckPoint4' != "") { $('#CheckPoint4').val('@Model.CheckPoint4'); }
        if ('@Model.CheckPoint5' != "") { $('#CheckPoint5').val('@Model.CheckPoint5'); }
        if ('@Model.CheckPoint6' != "") { $('#CheckPoint6').val('@Model.CheckPoint6'); }
        if ('@Model.CheckPoint7' != "") { $('#CheckPoint7').val('@Model.CheckPoint7'); }

    });



    $('#QCRemarks').prop("disabled", true).addClass("NonEditableTextColor");

    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "/SaveProtocolHeaderData", userRole, false, LoadSaveAndDraft);
        //LoadSaveAndDraft();
    });

    $("#btnSave").click(function () {
        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="PROD"]').not('.islastrow').prop("required", true);</text>
            }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="QC"]').not('.islastrow').prop("required", true);</text>
            }
        SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData", userRole, true, LoadSaveAndDraft);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }

    function SaveProtocolLine(lineId, gridId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine" + gridId, "tblProtocolLines" + gridId, "btnNewLines" + gridId);
        if (gridId == 5) {
            outby();
        }
    }

    function SetTableColumns() {
        if (isEdit.toLowerCase() == "true") {
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) {
                AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'MaterialIdentification', ['MaterialIdentification'], AddTbl1NewTrRow, true);

                $("[role=PROD]").first().focus();
            }

            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) {

                AddNextRow(this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'SeamNo', ['SeamNo'], AddTbl2NewTrRow, true);

                notQCLastChild = ":not(:last-child)";
                $("[role=QC]").first().focus();
            }

        }
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine";
        window[SaveFunction](lineId, gridId);
    }

    function outby() {
        if (isEdit.toLowerCase() == "true" && userRole.toUpperCase() == 'QC3') {
            $('#OutOfRoundnessOutBy').addClass("EditableTextColor").addClass("QCTextbox");
        }
        else {
            $('#OutOfRoundnessOutBy').prop("disabled", true).addClass("QCTextbox");
        }
    }

    function LoadSaveAndDraft() {

        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "MaterialIdentification": $('td.MaterialIdentification textarea', this).val()
            };

            lstProtocolLines1 = JSON.stringify(TableData1);
        });

        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1" + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);

        var TableData2 = []; //initialize array;
        var lstProtocolLines2 = ""; //empty var;

        var i = 0;

        $("table#tblProtocolLines2 > tbody > tr:not(.islastrow)").each(function (row, tr) {

            if (row % 2 == 0) {
                TableData2[i] = {
                    "LineId": $('tr.row_' + (row + 1) + ' td.LineId input').val(),
                    "HeaderId": $('#HeaderId').val(),
                    "SeamNo": $('tr.row_' + (row + 1) + ' td.SeamNo input').val(),
                    "ActMaxRootGap": $('tr.row_' + (row + 1) + ' td.ActMaxRootGap input').val(),
                    "ActMaxRootFace": $('tr.row_' + (row + 1) + ' td.ActMaxRootFace input').val(),
                    "ActMaxInSideWepAngle": $('tr.row_' + (row + 1) + ' td.ActMaxInSideWepAngle input').val(),
                    "ActMaxOutSideWepAngle": $('tr.row_' + (row + 1) + ' td.ActMaxOutSideWepAngle input').val(),
                    "ActMaxOffset": $('tr.row_' + (row + 1) + ' td.ActMaxOffset input').val(),
                    "ActMinRootGap": $('tr.row_' + (row + 2) + ' td.ActMinRootGap input').val(),
                    "ActMinRootFace": $('tr.row_' + (row + 2) + ' td.ActMinRootFace input').val(),
                    "ActMinInSideWepAngle": $('tr.row_' + (row + 2) + ' td.ActMinInSideWepAngle input').val(),
                    "ActMinOutSideWepAngle": $('tr.row_' + (row + 2) + ' td.ActMinOutSideWepAngle input').val(),
                    "ActMinOffset": $('tr.row_' + (row + 2) + ' td.ActMinOffset input').val(),

                };
                i = i + 1;
            }
            lstProtocolLines2 = JSON.stringify(TableData2);

        });
        SaveAsDraftProtocolLine(lstProtocolLines2, ControllerURL + "SaveProtocolLine2" + "?HeaderId=" + parseInt($("#HeaderId").val()), 2);



    }

    function AddTbl1NewTrRow(NewTrRowNum) {
        $("#hdGrid1LastRow").val(NewTrRowNum);
        var strhtml =
            "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            "<td class=\"LineId\" style=\"display:none;\">0</td>" +
            "<td class=\"MaterialIdentification\"><textarea class=\"form-control  clsAddNew EditableTextColor PRODTextbox islastrow valid\" onblur=\"AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','MaterialIdentification',['MaterialIdentification'],AddTbl1NewTrRow)\" id=\"MaterialIdentification_1_" + NewTrRowNum + "\" maxlength=\"200\" name=\"MaterialIdentification_1_" + NewTrRowNum + "\" role=\"PROD\"  value=\"\" aria-invalid=\"false\"></textarea></td>" +
            "<td  class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines1')\" style=\"display:none\"></i></td>" +

            "</tr>";

        return strhtml;
    }

    function AddTbl2NewTrRow(NewTrRowNum) {
        $("#hdGrid2LastRow").val(NewTrRowNum);
        var TGroup = $("#hdGrid2TotalGroup").val();
        var seamfn = "AddNextRow(this,null,false,2,'hdGrid2LastRow','tblProtocolLines2','SeamNo',['SeamNo'],AddTbl2NewTrRow)";
        var fn = "AddNextRow(this,null,false,2,'hdGrid2LastRow','tblProtocolLines2','SeamNo',['SeamNo'],AddTbl2NewTrRow)";
        var tTbody = 0;

        tTbody = $("#hdGrid2TotalTbody").val();
        var t1 = parseInt(tTbody) + 1;
        var t2 = parseInt(tTbody) + 2;

        var tG = parseFloat(TGroup) + 1;

        var strhtml = "<tr class=\"islastrow row_" + t1 + " \" >" +
            +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
            + "<td class=\"LineId\" style=\"display:none;\">0</td>"
            + "<td class=\"SeamNo center \" rowspan=\"2\"><input class=\"form-control  islastrow EditableTextColor QCTextbox\" id=\"SeamNo_2_" + NewTrRowNum + "\" maxlength=\"16\" name=\"SeamNo_2_" + NewTrRowNum + "\" role=\"QC\" type=\"text\"  onblur=\"" + fn + "\"></td>"
            + "<td style=\"text-align: center;\">ACT. MAX.</td>"
            + "<td class=\"ActMaxRootGap center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMaxRootGap_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMaxRootGap_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ActMaxRootFace center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMaxRootFace_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMaxRootFace_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ActMaxInSideWepAngle center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMaxInSideWepAngle_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMaxInSideWepAngle_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ActMaxOutSideWepAngle center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMaxOutSideWepAngle_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMaxOutSideWepAngle_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ActMaxOffset center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMaxOffset_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMaxOffset_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteNewTable('" + tG + "')\" style=\"display:none\"></i></td>"


            + "</tr>" +
            "<tr class=\"islastrow row_" + t2 + " \" >" +
            +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
            + "<td class=\"LineId\" style=\"display:none;\">0</td>"
            + "<td style=\"text-align: center;\">ACT. MIN.</td>"
            + "<td class=\"ActMinRootGap center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMinRootGap_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMinRootGap_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ActMinRootFace center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMinRootFace_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMinRootFace_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ActMinInSideWepAngle center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMinInSideWepAngle_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMinInSideWepAngle_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ActMinOutSideWepAngle center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMinOutSideWepAngle_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMinOutSideWepAngle_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ActMinOffset center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMinOffset_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMinOffset_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"

            + "<td class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
            + "</tr></tbody>";


        $("#hdGrid2TotalTbody").val(t2);
        $("#hdGrid2TotalGroup").val(tG);

        return strhtml;
    }
    function DeleteNewTable(No) {
        $(".tab_new_" + No).remove();
    }



</script>