﻿@using IEMQSImplementation
<style>
    .clsNoWrape{
        white-space:nowrap;
    }
</style>
<script>

    var table = $('#tblRTTechnique')
    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": true,
        "bServerSide": true,
        "stateSave": false,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
            [5, 10, 25, 50, 100],
            [5, 10, 25, 50, 100]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        "sAjaxSource": WebsiteURL + "/NDE/MaintainRTTechnique/LoadHeaderDataTable?status=" + '@ViewBag.status',
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" }
                        //{ "name": "status", "value": '@ViewBag.status' }
                        );
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': function (data) {
                    fnCallback(data);
                    $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                    $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                },
                'async': false,
            });
        },
        "columns": [
            {
                "sClass": "center",
                "bSortable": true,
                "sWidth": "5%",
                "name": "QualityProject",
                "ColName": "nde9.QualityProject"
            },
            //{
            //    "sClass": "hide",
            //    "bSortable": false,
            //},
            {
                "sClass": "center",
                "bSortable": true,
                "sWidth": "10%",
                "name": "Project",
                "ColName": "nde9.Project+'-'+com1.t_dsca"
            },
            {
                "sClass": "center",
                "bSortable": true,
                "name": "BU",
                "ColName": "nde9.BU+'-'+bcom2.t_desc"
            },
            {
                "sClass": "center",
                "sWidth": "5%",
                "bSortable": true,
                "name": "Location",
                "ColName": "nde9.Location+'-'+lcom2.t_desc"
            },
             {
                 "bSortable": true,
                 "sClass": "center",
                 "sWidth": "5%",
                 "name": "TechniqueSheetNo"
             },
            {
                "sClass": "center",
                "sWidth": "5%",
                "bSortable": true,
                "name": "RTTechNo"
            },
            {
                "sClass": "center",
                "bSortable": true,
                "name": "RevNo",
                "attr":"numeric"
            },
            
            {
                "sClass": "center",
                "name": "CreatedBy",
                "attr": "hide"
            },
            {
                "sClass": "center",
                "name": "CreatedBy",
                "attr": "hide"
            },
            {
                "sClass": "center",
                "name": "Status"
            },
            //{
            //    "sClass": "center",
            //    "bSortable": false,
            //},
            {
                "bSortable": false,
                "sClass": "clsNoWrape",
                "sWidth": "8%",
                @*"render": function (data, type, row, meta) {
                    var buttons = "";
                    buttons = '<center style="display:inline;"><a href="/NDE/MaintainRTTechnique/AddRTTechnique?headerId=' + row[8] + '" title="View" style="cursor:pointer;" name="btnAction" id="btnEdit"><i style="margin-left:5px;" class="fa fa-eye"></i> </a>&nbsp;&nbsp;';

                    if (row[7] == '@IEMQSImplementation.clsImplementationEnum.NDETechniqueStatus.Draft.ToString()' && row[4].toLowerCase() == "r0") {
                        buttons += '&nbsp;&nbsp;<i id="btnDelete" name="btnAction" style="cursor:pointer;" Title="Delete Record" class="fa fa-trash-o" onclick="DeleteHeader(' + row[8] + ')"></i>';
                    }
                    buttons += '</center>';
                    return buttons;
                }*@
            },

        ]
    });
    table.dtSearchFilter();
    function DeleteHeader(headerID) {
        bootbox.dialog({
            title: "Delete",
            message: "Do you Want To Delete This Technique?",
            size: "medium",
            buttons: {
                confirm: {
                    label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        $.ajax({
                            url: WebsiteURL + "/NDE/MaintainRTTechnique/DeleteHeader",
                            type: "POST",
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            data: { headerId: headerID },
                            success: function (res) {
                                if (res.Key == true) {
                                    DisplayNotiMessage("success", res.Value, "Success")
                                }
                                else {
                                    DisplayNotiMessage("error", res.Value, "Error")
                                }
                                $("#tblRTTechnique").DataTable().ajax.reload();
                            }

                        });
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }

            }
        })
    }
    function History(headerId) {
        $.ajax({
            url: WebsiteURL + "/NDE/MaintainRTTechnique/GetHistoryRTTechniquePartial",
            type: "POST",
            data: { headerId: headerId },
            dataType: "html",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                bootbox.dialog({
                    title: "History",
                    message: data,
                    size: "large",
                    buttons: {
                        Cancel: {
                            label: 'Close',
                            className: 'btn btnclose',
                            callback: function () { }
                        }
                    }
                });
            },
            error: function (er)
            { }
        });
    }

</script>



<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    RT Technique List
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/NDE/MaintainRTTechnique/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblRTTechnique" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            
                            @*<th style="display:none;">HeaderId</th>*@
                            <th class="all" style="width:5%;white-space:pre-line;">Quality Project</th>
                            <th class="min-phone-l" style="width:10%;">Project</th>
                            <th class="min-phone-l" style="width:5%;">BU</th>
                            <th class="min-phone-l">Location</th>
                            <th class="min-phone-l">RT Technique No</th>
                            <th class="min-phone-l">Document No</th>
                            <th class="min-phone-l" style="width:5%;white-space:pre-line;">Rev No.</th>
                            <th class="none">Created By</th>
                            <th class="none" style="width:8%;">Created On</th>
                            <th class="min-phone-l" style="width:10%;">Status</th>
                            @*<th class="min-phone-l">Edited By</th>*@
                            <th class="min-phone-l" style="width:5%;">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


