﻿@model List<IEMQSImplementation.clsPTR022>
@using IEMQSImplementation
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0;
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />

<style>
    .w100 {
        width: 100px !important;
    }

    .w150 {
        width: 150px !important;
    }

    .w170 {
        width: 170px !important;
    }

    #tblProtocolLines1 > tbody > tr > td {
        border: 0px solid #fff !important;
    }

    #tblProtocolLines1 > thead > tr > th {
        border-color: #32c5d2;
    }
</style>

@*<div class="page-content">*@
<div class="">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">
                            MECHANICAL TEST REPORT : FLATTENING  TEST
                        </span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <div class="portlet-title tabbable-line" id="tabs">
                        <ul class="nav nav-tabs" id="navTestTypeTabsFlattening">
                            @{int index = 0;}
                            @foreach (var row in Model)
                            {
                                index += 1;
                                <li class="@(index == Model.Count ? "active" : "")"><a name="tabFlatteningTest" class="PTRReport" href="@("#dvFlatteningTest" + index.ToString())" id="@("tabFlatteningTest" + index.ToString())" spara="Flattening Test @index.ToString()" data-toggle="tab" aria-expanded="false" formId="@("frmProtocolHeader" + index.ToString())">Flattening Test @index.ToString()</a></li>
                            }
                            <li class="btn btn-default" style="float: right;background: none;border-radius: unset !important;"><input type="button" class="btn submit btnSaveFlatteningTest" formId="@("frmProtocolHeader" + index.ToString())" tabControlIndex="@index" id="btnSave" value="Save" /></li>
                            <li class="btn btn-default" style="float: right;background: none;border-radius: unset !important;"><button class="btn btn-default add-new-test" onclick="addNewTest();">Add New Test</button></li>
                        </ul>
                    </div>
                    <div class="tab-content portlet" id="tabContent">
                        @{index = 0;}
                        @foreach (var row in Model)
                        {
                            index += 1;
                            <div class="portlet-body tab-pane @(index == Model.Count ? "active" : "")" id="@("dvFlatteningTest" + index.ToString())">
                                <form id="@("frmProtocolHeader" + index.ToString())" class="form-horizontal ProtocolHeaderForm">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <table class="FormTable tblNotes" style="margin-bottom:0px">
                                                <tr>
                                                    <td class="subtitle"  style="width:20% !important"> Report No:</td>
                                                    <td style="width:30%  !important">@Html.TextBoxFor(model => row.ReportNo, new { @class = "form-control validate-onchange ", @maxlength = "50", @Name = "ReportNo",  @Style = "text-align:left" })</td>
                                                    <td class="subtitle"  style="width:20%  !important">SOP No.:</td>
                                                    <td  style="width:30% !important">
                                                        @Html.TextBoxFor(model => row.SOPNo, new { @class = "form-control validate-onchange ", @maxlength = "50", @Style = "text-align:left" })
                                                        @Html.HiddenFor(model => row.PTRHeaderId, new { @Name = "PTRHeaderId" })
                                                        @Html.HiddenFor(model => row.HeaderId, new { @Name = "HeaderId" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="subtitle"> Ref. Std.:</td>
                                                    <td colspan="3">
                                                        <input type="hidden" id="hiddenRefStd" value="@row.RefStd" />
                                                        <select name="RefStd" id="RefStd" multiple="multiple" class="form-control dropdown-refstd" style="width:100%;text-align:left"></select>
                                                        @*@Html.DropDownListFor(model => row.RefStd, new SelectList(@ViewBag._lstReferenceStandards, "Value", "Text"), "Select", new { @class = "form-control validate-onchange EditableTextColor" })*@
                                                    </td>

                                                </tr>
                                            </table>
                                        </div>

                                        <div class="form-group">
                                            @*<div class="col-md-12" style="height: 20px"></div>*@

                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered FormTable" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                                        <thead>
                                                            <tr>
                                                                <th class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                                                    Dimensions
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="clstd subtitle">
                                                                    Length(mm)
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(model => row.Length, new { @Name= "Length", @class = "form-control validate-onchange EditableTextColor", type = "number", @role = "", @onchange = "fnCalculateDistance('frmProtocolHeader" + index.ToString() +"')" })
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="clstd subtitle">
                                                                    Specified wall thickness(mm)
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(model => row.SpecifiedWallThickness, new { @Name = "SpecifiedWallThickness", @class = "form-control validate-onchange EditableTextColor", type = "number", @role = "", @onchange = "fnCalculateDistance('frmProtocolHeader" + index.ToString() + "')" })
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="clstd subtitle">
                                                                    Specified outside diameter (mm)
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(model => row.SpecifiedOutsideDiameter, new { @Name = "SpecifiedOutsideDiameter", @class = "form-control validate-onchange EditableTextColor", type = "number", @role = "", @onchange = "fnCalculateDistance('frmProtocolHeader" + index.ToString() + "')" })
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="clstd subtitle">
                                                                    Constant value '(e)
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(model => row.ConstantValue, new { @Name = "ConstantValue", @class = "form-control validate-onchange EditableTextColor", type = "number", @role = "", @onchange = "fnCalculateDistance('frmProtocolHeader" + index.ToString() + "')" })
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="clstd subtitle">
                                                                    Distance between two flattening plates for 1st step (H) mm
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(model => row.DistanceBet2Flattening, new { @Name= "DistanceBet2Flattening", @class = "form -control validate-onchange EditableTextColor", @role = "", @readonly = "readonly" })
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            @*<div class="col-md-12" style="height: 20px"></div>*@

                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered FormTable" style="margin-bottom:0px">
                                                        <tr>
                                                            <td class="subtitle"> 1st Step</td>
                                                            <td style="text-align:left">
                                                                Pipe flattened up to 'H' Value (distance between two flattening plates.)
                                                                @*@Html.TextBoxFor(model => row.FirstStep, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "200" })*@
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="subtitle"> Acceptance</td>
                                                            <td>@Html.TextBoxFor(model => row.FirstStepAcceptance, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "200", @Style = "text-align:left" })</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-md-12" style="height: 20px"></div>
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered FormTable" style="margin-bottom:0px">
                                                        <tr>
                                                            <td class="subtitle"> 2nd Step</td>
                                                            <td style="text-align:left">
                                                                Tube flattened till opposite wall of sample meet or Breaks.
                                                                @*@Html.TextBoxFor(model => row.SecondStep, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "200" })*@
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="subtitle"> Acceptance</td>
                                                            <td>@Html.TextBoxFor(model => row.SecondStepAcceptance, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "200", @Style = "text-align:left" })</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-md-12" style="height: 20px"></div>
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                <span style="float:left;">
                                                                    <strong></strong>
                                                                </span>
                                                            </div>
                                                            <div class="tools">
                                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body" id="div1">
                                                            <div class="table-responsive">
                                                                <div class="col-md-12">
                                                                    <table class="table" id="tblProtocolLines1">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="display:none;">#</th>
                                                                                <th class="text-center">Sample Id</th>
                                                                                <th class="text-center">1st Step Observation</th>
                                                                                <th class="text-center">2nd Step Observation</th>
                                                                                <th class="text-center">Result</th>
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @if (row.PTR022_Log != null)
                                                                            {
                                                                                foreach (var item in row.PTR022_Log)
                                                                                {
                                                                                    s1 = s1 + 1;
                                                                                    <tr>
                                                                                        <td class="LineId" style="display:none;">@Html.Hidden("LineId_1_" + @s1, @item.LineId, new { @Id = "LineId_1_" + @s1 })</td>
                                                                                        <td class="SampleId">@Html.TextBox("SampleId_1_" + @s1, item.SampleId, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "10" })</td>
                                                                                        <td class="FirstStepObservation">@Html.TextBox("FirstStepObservation_1_" + @s1, item.FirstStepObservation, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "120" })</td>
                                                                                        <td class="SecondStepObservation">@Html.TextBox("SecondStepObservation_1_" + @s1, item.SecondStepObservation, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "120" })</td>
                                                                                        <td class="Result">@Html.TextBox("Result_1_" + @s1, item.Result, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "40" })</td>
                                                                                        <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="delRecord(this)"></i></td>
                                                                                    </tr>
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                    <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                                        <tr>
                                                            <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                                                Notes
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="clstd" style="display: flex;">
                                                                1) Environmental Condition: Temp.:  @Html.TextBoxFor(model => row.TempValue, new { @class = "form-control validate-onchange w100 EditableTextColor InputDecimalValue", @maxlength = "10" }) °C   Humidity: @Html.TextBoxFor(model => row.HumidityValue, new { @class = "form-control validate-onchange w100 EditableTextColor InputDecimalValue", @maxlength = "10" }) %
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                REMARK 1: @Html.TextAreaFor(model => row.Remarks1, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "200", @role = "" })
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                REMARK 2: @Html.TextAreaFor(model => row.Remarks2, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "200", @role = "" })
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="col-md-12">
                                                        <div class="col-md-6" style="text-align:left;">
                                                            <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" title="Print" class="btn icons btnPrint" formId="@("frmProtocolHeader" + index.ToString())"> <i class="fa fa-print"></i></a>
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input NotConsider" id="chkNotTobeConsiderToPrint">
                                                                <label class="form-check-label" for="chkNotTobeConsiderToPrint">Not to be consider to print</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6" style="text-align:right;">
                                                            <input type="button" class="btn submit btnSaveFlatteningTest" id="btnSavebtm" formId="@("frmProtocolHeader" + index.ToString())" value="Save" />
                                                            @*@if (row.HeaderId > 0)
                                                            {*@
                                                                <input type="button" class="btn btn-danger btnDeleteFlatteningTest @(row.HeaderId> 0 ? "btn-visiblity" : "btn-invisiblity")" headerId="@row.HeaderId" id="btnDelete" value="Delete" />
                                                            @*}*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var isEdit = '@ViewBag.isEditable';
    $(document).ready(function () {
        $.each($('.ProtocolHeaderForm'), function (i, v) {
            debugger;
            var id = v.id;
            debugger;
            AddNextRow(id,this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'SampleId', ['SampleId', 'FirstStepObservation', 'SecondStepObservation', 'Result'], AddTbl1NewTrRow, true);
            if (isEdit != "True") {
                $('form#' + id + ' :input').attr('disabled', true);
            }
        });


         var arrayData = @Html.Raw(Json.Encode(@ViewBag.lstReferenceStandards));
        $.each($(".dropdown-refstd"), function (i,v) {
            LoadSelect2usingArray(arrayData, $(v), 'Select Reference Standards');
        });

        $.each($('.ProtocolHeaderForm'), function (i, v) {
            var val = $('#' + v.id + ' #hiddenRefStd').val();
            $('#' + v.id + ' #RefStd').val(LoadMultiSelect2OnEdit(val)).trigger('change');

            if (isEdit != "True") {
                $('form#' + v.id + ' :input').attr('disabled', true);
            }
        });
        var formId = $("ul#navTestTypeTabsFlattening li.active a").attr("formId");
        $("#" + formId + " input[name='ReportNo']").focus();
        $("#" + formId + " input[name='ReportNo']").focus();
    });

    $(".btnPrint").click(function () {
        var dat = []; 
        debugger;
        var formId = $(this).attr("formId");
        var PTRHeaderId = $('#' + formId + ' input[name="HeaderId"]').val();
        dat.push({ Param: "HeaderId", Value: PTRHeaderId });
        ShowReport(dat, "/PTR/Protocol/FLATTENING");
    });

    function LoadSaveAndDraft(formId) {
        var TableData1 = [];
        var lstProtocolLines1 = "";
        debugger;
        var headerId = $('#' + formId + ' input[name="HeaderId"]').val();
        $("#" + formId+" table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": headerId,
                "SampleId": $('td.SampleId input', this).val(),
                "FirstStepObservation": $('td.FirstStepObservation input', this).val(),
                "SecondStepObservation": $('td.SecondStepObservation input', this).val(),
                "Result": $('td.Result input', this).val(),
            };
        });

        lstProtocolLines1 = JSON.stringify(TableData1);
        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "/SaveFlatteningLineTable1?HeaderId=" + parseInt(headerId), 0);
    }

    function SaveAsDraftProtocolLine(data, URL, gridId) {
        $.ajax({
            url: WebsiteURL + URL,
            type: "POST",
            dataType: 'json',
            data: data,
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {

            },
            error: function (data) { showLoading(false);}
        });
    }

    function AddTbl1NewTrRow(formId, NewTrRowNum) {
        debugger;
        $("#" + formId +" #hdGrid1LastRow").val(NewTrRowNum);

        var FirstLine = "AddNextRow('"+ formId +"',this,'TempValue',false,1,'hdGrid1LastRow','tblProtocolLines1','SampleId',['SampleId','FirstStepObservation','SecondStepObservation','Result'],AddTbl1NewTrRow)";
        var LastLine = "AddNextRow('" + formId +"',this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','SampleId',['SampleId','FirstStepObservation','SecondStepObservation','Result'],AddTbl1NewTrRow)";

        var strhtml =
            "<tr class=\"islastrow\"> " +
            "	<td class=\"LineId\" style=\"display:none;\"><input id=\"LineId\" name=\"LineId\" type=\"hidden\">0</td> " +
            "	<td class=\"SampleId\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"SampleId_1_" + NewTrRowNum + "\" maxlength=\"10\" name=\"SampleId_1_" + NewTrRowNum + "\" type=\"text\" onblur=\"" + FirstLine + "\"></td> " +
            "	<td class=\"FirstStepObservation\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"FirstStepObservation_1_" + NewTrRowNum + "\" maxlength=\"120\" name=\"FirstStepObservation_1_" + NewTrRowNum + "\" type=\"text\"></td> " +
            "	<td class=\"SecondStepObservation\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"SecondStepObservation_1_" + NewTrRowNum + "\" maxlength=\"120\" name=\"SecondStepObservation_1_" + NewTrRowNum + "\" type=\"text\"></td> " +
            "	<td class=\"Result\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"Result_1_" + NewTrRowNum + "\" maxlength=\"40\" name=\"Result_1_" + NewTrRowNum + "\" type=\"text\" onblur=\"" + LastLine + "\"></td> " +
            "   <td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"delRecord(this)\" style=\"display:none\"></i></td>" +
            "</tr> ";
        return strhtml;
    }

    function delRecord(obj) {
        var r = confirm("Are you sure you want to delete this item?");
        if (r == true) {
            $(obj).parent().parent().remove();
        }
    }

    $(".btnSaveFlatteningTest").click(function () {
        
        var formId = $("ul#navTestTypeTabsFlattening li.active a").attr("formId");
//        var formId = $(this).attr("formId");
        SaveProtocolHeaderData(formId, 0, ControllerURL + "/SaveFlatteningHeaderData", true, LoadSaveAndDraft);
        IsEdited = false;
    });

    function SaveProtocolHeaderData(frmProtocolHeader, HeaderId, URL, isSubmit, aftercallbackfn) {
        if ($("#" + frmProtocolHeader).valid()) {
            var frmHeaderValues = $("#" + frmProtocolHeader).serializeArray();

            var formdata = new FormData();
            if (frmHeaderValues != null && frmHeaderValues != undefined) {
                $.each(frmHeaderValues, function (key, input) {
                    var name = input.name.replace('row.', '');
                    if (name == "RefStd") {
                        debugger;
                        if ($("#" + frmProtocolHeader + " #" + name).val() != "") {
                            formdata.append(name, $("#" + frmProtocolHeader + " #" + name).val().join(","));
                        } else {                    
                            formdata.append(name, $("#" + frmProtocolHeader + " #" + name).val());
                        }
                    }
                    else
                        formdata.append(name, input.value);
                });
                $.ajax({
                    url: WebsiteURL + URL,
                    type: "POST",
                    data: formdata,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        //showLoading(false);
                    },
                    success: function (res) {
                        if (res.Key && res.HeaderId > 0) {
                            debugger;
                            $("#" + frmProtocolHeader + " input[name='HeaderId']").val(res.HeaderId);
                            $('#' + frmProtocolHeader + ' input[id="btnDelete"]').attr("headerId", res.HeaderId);
                            $('#' + frmProtocolHeader + ' input[id="btnDelete"]').removeClass("btn-invisiblity");
                            $('#' + frmProtocolHeader + ' input[id="btnDelete"]').addClass("btn-visiblity");
                            if (aftercallbackfn != null && aftercallbackfn != undefined) {
                                aftercallbackfn(frmProtocolHeader);
                            }
                            DisplayNotiMessage("success", res.Value, "Success");
                            showLoading(false);
                        }
                        else
                            DisplayNotiMessage("error", res.Value, "Error");
                        showLoading(false);
                    },
                    error: function (data) { showLoading(false); }
                });
            }
        }
        else {
            DisplayNotiMessage("info", "All mandatory (*) fields are required", "Info");
        }
    }

    function AddNextRow(formId, $this, focuscolumn, focuswithintable, gridId, hdnRowID, tblId, $txtfocusColumn, paramList, aftercallbackfn, isnew, beforecallbackfn) {
        var prevRow = parseInt($("#" + formId + " #" + hdnRowID).val());
        var nextRow = parseInt($("#" + formId + " #" + hdnRowID).val()) + 1;
        debugger;
        var flag = true;
        if (isnew != true && ($this != null && $($this).val() != "" && $this != undefined) && (beforecallbackfn != null && beforecallbackfn != undefined)) {
            flag = beforecallbackfn($this); /* before adding new row, execute other call back function*/
        }
        if (flag) {
            if (GetParamCondition(formId, paramList, gridId, prevRow) || isnew == true) {
                $("#" + formId + " #Delete_" + gridId + "_" + prevRow).show();
                if (aftercallbackfn != null && aftercallbackfn != undefined) {
                    $("#" + formId + " #" + tblId).find('select,input').removeClass('islastrow');
                    $("#" + formId + " #" + tblId + " tr").removeClass('islastrow');
                    $("#" + formId + " #" + tblId).append(aftercallbackfn(formId,nextRow));
                }
                $("#" + formId + " #" + $txtfocusColumn + "_" + gridId + "_" + nextRow).focus();
            }
        }
        else {
            if ($this != null && $this != undefined) {
                $($this).focus();
            }
        }
        if (isnew != true && ($this != null && $this != undefined) && (focuscolumn != null && focuscolumn != undefined)) {
            var row_index = $($this).parent().parent().index();
            if ($($this).val() == "") {
                if (focuswithintable) {
                    var cell = focuscolumn.split(',');
                    if ($("#" + formId + " #" + tblId + " tbody>tr:eq(" + (row_index + 1) + ")").find('td.' + cell[0]).has("input[type=text]").length == 0) {
                        if ($("#" + formId + " #" + tblId + " tbody>tr:eq(" + (row_index + 2) + ")").find('td.' + cell[0]).find("input").length > 0) {
                            $("#" + formId + " #" + tblId + " tbody>tr:eq(" + (row_index + 2) + ")").find('td.' + cell[0]).find("input").focus();
                        }
                        else {
                            $("#" + formId + " #" + cell[1]).focus();
                        }
                    }
                    else {
                        $("#" + formId + " #" + tblId + " tbody>tr:eq(" + (row_index + 1) + ")").find('td.' + cell[0]).find("input").focus();
                    }
                }
                else { $("#" + formId + " #" + focuscolumn).focus() }
            }
        }
    }

    function GetParamCondition(formId, list, gridid, rowid, tblId, $this, $appendlocation) {
        debugger;
        var q = true;
        if (($this != null && $this != "" && $this != undefined) && ($appendlocation != "" && $appendlocation != undefined)) {
            $row = $("#" + formId + " #" + tblId).find('tr.' + $appendlocation.split("__")[0]).last();
            $cells = $row.find("td input");
            $cells.each(function () {
                flg = $(this).val();
                if (q == true && (flg == "" || flg == null || flg == undefined || flg.legth == 0)) {
                    q = false;
                    return false;
                }
            });
        }
        else {
            for (var j = 0; j < list.length; j++) {
                var flg = "";
                flg = $("#" + formId + " #" + list[j] + "_" + gridid + "_" + rowid).val();
                if (flg == "" || flg == null || flg == undefined || flg.legth == 0) {
                    q = false;
                    break;
                }
            }
        }
        return q;
    }

    $(function () {
        $(".InputDecimalValue").keydown(function (event) {
            if (event.shiftKey == true) {
                event.preventDefault();
            }
            if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

            } else {
                event.preventDefault();
            }
            if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                event.preventDefault();
        });
    });

    function fnCalculateDistance(formId) {
        debugger;
        var SpecifiedWallThickness = $("#" + formId+" input[name='SpecifiedWallThickness']").val();
        var SpecigiedOutsideDiameter = $("#" + formId +" input[name='SpecifiedOutsideDiameter']").val();
        var ConstantValue = $("#" + formId +" input[name='ConstantValue']").val();

        var v0 = parseInt(1) + parseFloat(ConstantValue);
        var v1 = v0 * parseFloat(SpecifiedWallThickness);
        var v2 = (parseFloat(ConstantValue) + (parseFloat(SpecifiedWallThickness) / parseFloat(SpecigiedOutsideDiameter)));

        var Finalvalue = (v1 / v2);
        $("#" + formId +" input[name='DistanceBet2Flattening']").val(Finalvalue.toFixed(2));
    }
    function addNewTest() {
        $("#btnSubmitAddNewReport").attr("reportType", "Flattening");
        $("#btnSubmitAddNewReport").attr("reportNo", $('input[name="ReportNo"]').val());
        $("#btnSubmitAddNewReport").click();
        $('.add-new-test').hide();
    }

    $('.btnDeleteFlatteningTest').click(function () {
        debugger;
        var Id = $(this).attr("headerId");
        DeleteProtocolHeaderData(ControllerURL + "/DeleteFlatteningHeaderData", Id);
    });
    function DeleteProtocolHeaderData(URL, headerId) {
        if (headerId > 0) {
            $.ajax({
                url: WebsiteURL + URL + "?headerId=" + headerId,
                type: "GET",
                contentType: false,
                processData: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (res) {
                    debugger;
                    if (res.Key) {
                        DisplayNotiMessage("success", res.Value, "Success");
                        setTimeout(function () {
                            LoadReportPartial("Flattening", "");
                        }, 2000);
                    }
                    else
                        DisplayNotiMessage("error", res.Value, "Error");
                },
                error: function (data) { }
            });
        }
        else {
            DisplayNotiMessage("info", "You have no rights to delete hardness test", "Info");
        }
    }
</script>