﻿@model IEMQSImplementation.PTR026
@using IEMQSImplementation
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0;/* for serial number */

    string FileUpload1ControlID = "fuUpload1";

    string strFileType = @clsImplementationEnum.ImageType.SharePoint.GetStringValue();

}

<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>

<style>
    #tblProtocolLines1 > tbody > tr > td {
        border: 0px solid #fff !important;
    }
</style>
@*<div class="page-content">*@
<div class="">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">
                            MECHANICAL TEST REPORT
                        </span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        @Html.HiddenFor(model => model.PTRHeaderId)
                        @Html.HiddenFor(model => model.HeaderId)

                        <div class="form-group">
                            <div class="col-md-12">
                                <div>
                                    <div style="text-align:right;">
                                        <input type="button" class="btn submit" id="btnSave" value="Save" />
                                    </div>
                                </div>
                                <table class="FormTable tblNotes" style="margin-bottom:0px">
                                    <tr>
                                        <td class="subtitle"> Report No:</td>
                                        <td>@Html.TextBoxFor(model => model.ReportNo, new { @class = "form-control validate-onchange textleft", @maxlength = "20" })</td>
                                        <td class="subtitle"> SOP No.</td>
                                        <td>@Html.TextBoxFor(model => model.SopNo, new { @class = "form-control validate-onchange textleft", @maxlength = "30" })</td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> Request Receipt</td>
                                        <td>
                                            <div id="datetime2" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                @Html.TextBoxFor(m => m.ReqReceipt, "{0:dd/MM/yyyy}", new { @class = "form-control validate-onchange textleft", style = "width:200px !important;" })
                                                <span class="input-group-btn" style="top: -5px;float: right;margin-left: -39px !important">
                                                    <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @*@Html.TextBoxFor(model => model.ReqReceipt, new { @class = "form-control validate-onchange", @maxlength = "10" })*@
                                        </td>
                                        <td class="subtitle"> Testing Date:</td>
                                        <td>
                                            <div id="datetime2" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                @Html.TextBoxFor(m => m.TestingDate, "{0:dd/MM/yyyy}", new { @class = "form-control validate-onchange textleft", style = "width:200px !important;" })
                                                <span class="input-group-btn" style="top: -5px;float: right;margin-left: -39px !important">
                                                    <button class="btn default btncalender" id="btncal2" type="button" tabindex="-1">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-md-12" style="height: 20px"></div>

                            <div class="col-md-12">
                                <table class="FormTable tblNotes">
                                    <thead>
                                        <tr>
                                            <td class="subtitle" style="display:none;">HeaderId</td>
                                            <td class="subtitle" style="display:none;">LineId</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="subtitle">Project No.</td>
                                            <td> @Html.TextAreaFor(model => model.ProjectNo, new { @class = "form-control validate-onchange", @maxlength = "9" })  </td>
                                            <td class="subtitle">PTR No.</td>
                                            <td> @Html.TextAreaFor(model => model.PTRNo, new { @class = "form-control validate-onchange", @maxlength = "100" })  </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">Test Coupon </td>
                                            <td> @Html.TextAreaFor(model => model.TestCoupon, new { @class = "form-control validate-onchange", @maxlength = "100" })  </td>
                                            <td class="subtitle">WPS No.</td>
                                            <td> @Html.TextAreaFor(model => model.WPSNo, new { @class = "form-control validate-onchange", @maxlength = "100" })  </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">Material Specification</td>
                                            <td> @Html.TextAreaFor(model => model.MaterialSpecification, new { @class = "form-control validate-onchange", @maxlength = "100" })  </td>
                                            <td class="subtitle">Welder No.</td>
                                            <td> @Html.TextAreaFor(model => model.WelderNo, new { @class = "form-control validate-onchange", @maxlength = "100" })  </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">Thickness</td>
                                            <td> @Html.TextAreaFor(model => model.Thickness, new { @class = "form-control validate-onchange", @maxlength = "100" })  </td>
                                            <td class="subtitle">Process</td>
                                            <td> @Html.TextAreaFor(model => model.Process, new { @class = "form-control validate-onchange", @maxlength = "100" })  </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">Insp. Agency</td>
                                            <td> @Html.TextAreaFor(model => model.InspAgency, new { @class = "form-control validate-onchange", @maxlength = "100" })  </td>
                                            <td class="subtitle">Position</td>
                                            <td> @Html.TextAreaFor(model => model.Position, new { @class = "form-control validate-onchange", @maxlength = "100" })  </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">Sample Id</td>
                                            <td> @Html.TextAreaFor(model => model.SampleId, new { @class = "form-control validate-onchange", @maxlength = "100" })  </td>
                                            <td class="subtitle">Filler Wire</td>
                                            <td> @Html.TextAreaFor(model => model.FillerWire, new { @class = "form-control validate-onchange", @maxlength = "100" })  </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">Code/Specification</td>
                                            <td> @Html.TextAreaFor(model => model.CodeSpec, new { @class = "form-control validate-onchange", @maxlength = "100" })  </td>
                                            <td class="subtitle">WQT No.</td>
                                            <td> @Html.TextAreaFor(model => model.WqtNo, new { @class = "form-control validate-onchange", @maxlength = "100" })  </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">Joint Type</td>
                                            <td> @Html.TextAreaFor(model => model.JointType, new { @class = "form-control validate-onchange", @maxlength = "100" })  </td>
                                            <td class="subtitle">PQR No.</td>
                                            <td> @Html.TextAreaFor(model => model.PqrNO, new { @class = "form-control validate-onchange", @maxlength = "100" })  </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">Magnification</td>
                                            <td> @Html.TextAreaFor(model => model.Magnification, new { @class = "form-control validate-onchange", @maxlength = "100" })  </td>
                                            <td class="subtitle">Etching Reagent</td>
                                            <td> @Html.TextAreaFor(model => model.EtchingReagent, new { @class = "form-control validate-onchange", @maxlength = "100" })  </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-12" style="height: 20px"></div>

                            <div class="col-md-12">
                                <table class="FormTable tblNotes">
                                    <tbody>
                                        <tr>
                                            <td class="subtitle">Type Of Examination</td>
                                            <td> @Html.TextBoxFor(model => model.TypeOfExamination, new { @class = "form-control validate-onchange textleft", @maxlength = "30" })  </td>
                                            <td class="subtitle">No Of Samples</td>
                                            <td>@Html.TextBoxFor(model => model.NosOfSample, new { @class = "form-control validate-onchange textleft", @maxlength = "30" })</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-12" style="height: 20px"></div>

                            <div class="col-md-12">
                                <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span style="float:left;">
                                                <strong>MACRO OBSERVATION</strong>
                                            </span>
                                        </div>
                                        <div class="tools">
                                            <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body" id="div1">
                                        <div class="table-responsive">
                                            <table class="table" id="tblProtocolLines1">
                                                <tbody>
                                                    @if (ViewBag._lstPTR026_Log != null)
                                                    {
                                                        foreach (var item in ViewBag._lstPTR026_Log as List<PTR026_Log>)
                                                        {
                                                            <tr>
                                                                <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                                <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                <td class="ActualValue"> @Html.TextBox("ActualValue_1_" + @s1, @item.ActualValue, new { @class = "form-control validate-onchange", @maxlength = "50" })</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                            <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="height: 20px"></div>

                            <div class="col-md-12">
                                <table class="FormTable">
                                    <tr>
                                        <td>
                                            <button id="btnUploadImage" class="btn icons entQcAttend" title="Attach Sketch" type="button"><i class="fa fa-image"></i></button>
                                            <div class="col-md-12 display-none">
                                                <div id="dv@(FileUpload1ControlID)"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-lg-12 text-center">
                                                <img id="image1" style="height:300px;" src="~/ImageHandler.ashx?type=@clsImplementationEnum.ImageType.FCS.ToString()&fp=@(ViewBag._lstImagePaths)" class="" alt="">
                                            </div>
                                        </td>
                                    </tr>
                                    @*<tr>
                                            <td>
                                                <i id="Delete_Photo_1" name="Delete_Photo_1" title="Delete Sketch" class="iconspace fa fa-trash-o" onclick="DeletePhoto(1)"></i>
                                            </td>
                                        </tr>*@
                                </table>
                            </div>


                            <div class="col-md-12" style="height: 20px"></div>

                            <div class="col-md-12">
                                <table class="FormTable tblNotes">
                                    <tbody>
                                        <tr>
                                            <td class="subtitle">WPQ Result</td>
                                            <td>
                                                @Html.DropDownListFor(model => model.WpqResult, new SelectList(@ViewBag._lstResult, "Value", "Text"), "Select", new { @class = "form-control validate-onchange EditableTextColor" })
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-12">
                                <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                    <tr>
                                        <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                            REMARKS
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clstd" style="display: flex;">
                                            1) Environmental Condition: Temp.:  @Html.TextBoxFor(model => model.TempValue, new { @class = "form-control validate-onchange w100", @maxlength = "10" }) °C   Humidity: @Html.TextBoxFor(model => model.HumidityValue, new { @class = "form-control validate-onchange w100", @maxlength = "10" }) %
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <b>Remark1:</b> @Html.TextAreaFor(model => model.Remarks1, new { @class = "form-control validate-onchange", @maxlength = "200" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <b>Remark2:</b> @Html.TextAreaFor(model => model.Remarks2, new { @class = "form-control validate-onchange", @maxlength = "200" })
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="col-md-6" style="text-align:left;">
                                            <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input NotConsider" id="chkNotTobeConsiderToPrint">
                                                <label class="form-check-label" for="chkNotTobeConsiderToPrint">Not to be consider to print</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="text-align:right;">
                                            <input type="button" class="btn submit" id="btnSavebtm" value="Save" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.Hidden("SavedFilePath" + FileUpload1ControlID, "")
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/datetimepicker/js")

<script>
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var isEdit = '@ViewBag.isEditable';
    $(document).ready(function () {
        AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'ActualValue', ['ActualValue'], AddTbl1NewTrRow, true);
        $("#ReportNo").focus();
        $("#ReportNo").focus();
        //LoadFileUpload1();

        if (isEdit != "True") {
            $('form#frmProtocolHeader :input').attr('disabled', true);
        }

    });

    $("#btnPrint").click(function () {
        var dat = [];
        dat.push({ Param: "HeaderId", Value: $('#PTRHeaderId').val() });
        ShowReport(dat, "/PTR/Protocol/MACROGENERAL",true);
    });

    function LoadSaveAndDraft() {
        var TableData1 = [];
        var lstProtocolLines1 = "";
        $("table#tblProtocolLines1 > tbody > tr").each(function (row, tr) {
            TableData1[row] = {
                "InstrumnetId": $('td.InstrumnetId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "ActualValue": $('td.ActualValue input', this).val(),
            };

            lstProtocolLines1 = JSON.stringify(TableData1);
        });

        $.ajax({
            url: WebsiteURL + ControllerURL + '/SaveMacroGeneralLineTable1?HeaderId=' + parseInt($("#HeaderId").val()),
            type: "POST",
            dataType: 'json',
            data: lstProtocolLines1,
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {

            }
        });
    }

    function AddTbl1NewTrRow(NewTrRowNum) {
        $("#hdGrid1LastRow").val(NewTrRowNum);

        var FirstLine = "AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','ActualValue',['ActualValue'],AddTbl1NewTrRow)";

        var strhtml =
            "<tr class=\"islastrow\"> " +
            "	<td class=\"LineId\" style=\"display:none;\"><input id=\"LineId\" name=\"LineId\" type=\"hidden\">0</td> " +
            "	<td class=\"ActualValue\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"ActualValue_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActualValue_1_" + NewTrRowNum + "\" type=\"text\" onblur=\"" + FirstLine + "\"></td> " +
            "   <td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"delRecord(this)\" style=\"display:none\"></i></td>" +
            "</tr> ";
        return strhtml;
    }

    function delRecord(obj) {
        var r = confirm("Are you sure you want to delete this item?");
        if (r == true) {
            $(obj).parent().parent().remove();
        }
    }

    $("#btnSave,#btnSavebtm").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", 0, ControllerURL + "/SaveMacroGeneralHeaderData", true, LoadSaveAndDraft);
        IsEdited = false;
    });

    function SaveProtocolHeaderData(frmProtocolHeader, HeaderId, URL, isSubmit, aftercallbackfn) {
        if ($("#" + frmProtocolHeader).valid()) {
            var frmHeaderValues = $("#" + frmProtocolHeader).serializeArray();

            var formdata = new FormData();
            if (frmHeaderValues != null && frmHeaderValues != undefined) {
                $.each(frmHeaderValues, function (key, input) {
                    formdata.append(input.name, input.value);
                });
                $.ajax({
                    url: WebsiteURL + URL,
                    type: "POST",
                    data: formdata,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {

                    },
                    success: function (res) {
                        if (res.Key && res.HeaderId > 0) {
                            $('#HeaderId').val(res.HeaderId);
                            //SaveImagesDetails();
                            showLoading(false);
                            if (aftercallbackfn != null && aftercallbackfn != undefined) {
                                aftercallbackfn();
                            }
                            DisplayNotiMessage("success", res.Value, "Success");
                        }
                        else
                            DisplayNotiMessage("error", res.Value, "Error");
                        showLoading(false);
                    },
                    error: function (data) { showLoading(false); }
                });
            }
        }
        else {
            DisplayNotiMessage("info", "All mandatory (*) fields are required", "Info");
        }
    }

    function AddNextRow($this, focuscolumn, focuswithintable, gridId, hdnRowID, tblId, $txtfocusColumn, paramList, aftercallbackfn, isnew, beforecallbackfn) {
        var prevRow = parseInt($("#" + hdnRowID).val());
        var nextRow = parseInt($("#" + hdnRowID).val()) + 1;

        var flag = true;
        if (isnew != true && ($this != null && $($this).val() != "" && $this != undefined) && (beforecallbackfn != null && beforecallbackfn != undefined)) {
            flag = beforecallbackfn($this); /* before adding new row, execute other call back function*/
        }
        if (flag) {
            if (GetParamCondition(paramList, gridId, prevRow) || isnew == true) {
                $("#Delete_" + gridId + "_" + prevRow).show();
                if (aftercallbackfn != null && aftercallbackfn != undefined) {
                    $("#" + tblId).find('select,input').removeClass('islastrow');
                    $("#" + tblId + " tr").removeClass('islastrow');
                    $("#" + tblId).append(aftercallbackfn(nextRow));
                }
                $("#" + $txtfocusColumn + "_" + gridId + "_" + nextRow).focus();
            }
        }
        else {
            if ($this != null && $this != undefined) {
                $($this).focus();
            }
        }
        if (isnew != true && ($this != null && $this != undefined) && (focuscolumn != null && focuscolumn != undefined)) {
            var row_index = $($this).parent().parent().index();
            if ($($this).val() == "") {
                if (focuswithintable) {
                    var cell = focuscolumn.split(',');
                    if ($("#" + tblId + " tbody>tr:eq(" + (row_index + 1) + ")").find('td.' + cell[0]).has("input[type=text]").length == 0) {
                        if ($("#" + tblId + " tbody>tr:eq(" + (row_index + 2) + ")").find('td.' + cell[0]).find("input").length > 0) {
                            $("#" + tblId + " tbody>tr:eq(" + (row_index + 2) + ")").find('td.' + cell[0]).find("input").focus();
                        }
                        else {
                            $("#" + cell[1]).focus();
                        }
                    }
                    else {
                        $("#" + tblId + " tbody>tr:eq(" + (row_index + 1) + ")").find('td.' + cell[0]).find("input").focus();
                    }
                }
                else { $("#" + focuscolumn).focus() }
            }
        }
    }

    function GetParamCondition(list, gridid, rowid, tblId, $this, $appendlocation) {
        var q = true;
        if (($this != null && $this != "" && $this != undefined) && ($appendlocation != "" && $appendlocation != undefined)) {
            $row = $("#" + tblId).find('tr.' + $appendlocation.split("__")[0]).last();
            $cells = $row.find("td input");
            $cells.each(function () {
                flg = $(this).val();
                if (q == true && (flg == "" || flg == null || flg == undefined || flg.legth == 0)) {
                    q = false;
                    return false;
                }
            });
        }
        else {
            for (var j = 0; j < list.length; j++) {
                var flg = "";
                flg = $("#" + list[j] + "_" + gridid + "_" + rowid).val();
                if (flg == "" || flg == null || flg == undefined || flg.legth == 0) {
                    q = false;
                    break;
                }
            }
        }
        return q;
    }

    //File Upload Code
    $("#btnUploadImage").click(function () {
        LoadFileUpload1();
    });

    function LoadFileUpload1() {
        @*var objFileUpload1 = new FileUploadEnt('dv@(FileUpload1ControlID)', '@FileUpload1ControlID');
        if($("#btnUploadImage").hasClass("entQcAttend"))
        {
            objFileUpload1.IsRequired = false;
        }
        else
        {
            objFileUpload1.IsRequired = true;
        }
        objFileUpload1.ShowDeleteAction = false;
        var vHeaderId = $("#HeaderId").val();
        if (parseInt(vHeaderId)>0){
            objFileUpload1.FolderPath = "PTR026/"+vHeaderId+"/1";
        }
        else{
            objFileUpload1.FolderPath = "";
        }
        objFileUpload1.IsMultipleUploaded = false;
        objFileUpload1.SuccessCallbackFunction="SuccessCallFunc()";
        objFileUpload1.AllowFileExtension="jpg,jpeg,png,bmp,jfif";
        LoadFileUploadPartialView(objFileUpload1);*@

        var vHeaderId = $("#PTRHeaderId").val();
        if (vHeaderId != undefined && vHeaderId != '' && vHeaderId != 0) {
            var objFile = {
                TableName: 'PTR026',
                TableId: vHeaderId,
                Path: 'PTR026//' + vHeaderId + '//1',
                ControlID: '@(FileUpload1ControlID)',
                ViewerId: 1,
                IsMultipleUploaded: false,
                ShowDeleteAction: true,
                ShowDownloadBtn: true,
                ShowAttachmentBtn: true,
                SuccessCallbackFunction: "SuccessCallFunc()",
                IsRequired: false,
                AllowFileExtension: ".jpg,.jpeg,.png,.bmp,.jfif",
                DeleteSuccessCallbackFunction: "SuccessCallFunc(1)"
            };

            Load_File_Upload_Partial_View(objFile, 'dv@(FileUpload1ControlID)', true);
        }
        else
            DisplayNotiMessage("Info", "Please first save data then upload image.", "Information");
    }

    function SuccessCallFunc() {
        @*var vHeaderId = $("#HeaderId").val();
        var vUrl1 = "/ImageHandler.ashx?type=@strFileType&fp=PTR026/" + vHeaderId + "/1";*@
        var vPath = $("#SavedFilePath@(FileUpload1ControlID)").val();
        var vUrl = "/ImageHandler.ashx?type=@clsImplementationEnum.ImageType.FCS.ToString()&fp=" + vPath;
        $("#image1").removeAttr("src");
        $("#image1").attr("src", vUrl);
    }

    function DeletePhoto(No) {
        showLoading(true);
        var formData = new FormData();
        formData.append("PhotoNo", No);
        formData.append("Headerid", $('#HeaderId').val());
        formData.append("strTableName", "PTR026");
        $.ajax({
            url: ControllerURL + '/DeletePhoto',
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: formData,
            success: function (result) {
                if (result == true) {
                    toastr.success("Sketch has been deleted.");
                    showLoading(false);
                    if (No == 1) {
                        LoadFileUpload1();
                        SuccessCallFunc();
                    }
                }
                else {
                    toastr.error("Sketch has not been deleted.");
                }
                showLoading(false);
            },
            error: function (err) {
                showLoading(false);
            }
        });
    }

     function SaveImagesDetails() {
        if (!getHasAttachmentsForSubmit('@(FileUpload1ControlID)')) {
            isHeaderSave = false;
        }
        FileCount = $("#filelistholder@(FileUpload1ControlID) .filedetail").length;

        if (FileCount > 0) {
            UpdateFolderPathAndSave@(FileUpload1ControlID)("PTR026/" + $("#HeaderId").val()+"/1");
        }
    }


</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>
