﻿@model List<IEMQSImplementation.clsPTR020>
@using IEMQSImplementation
@{
    int s1 = 0, s2 = 0, s3 = 0;
    string FileUpload1ControlID1 = "fuUpload1";
    string FileUpload1ControlID2 = "fuUpload2";
    string strFileType = @clsImplementationEnum.ImageType.SharePoint.GetStringValue();
}
@{
    List<string> _lstPaths1 = ViewBag._lstImagePaths1 as List<string>;
    List<string> _lstPaths2 = ViewBag._lstImagePaths2 as List<string>;
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<style>
    .w100 {
        width: 100px !important;
    }

    .w150 {
        width: 150px !important;
    }

    .w170 {
        width: 170px !important;
    }

    #tblProtocolLines1 > tbody > tr > td {
        border: 0px solid #fff !important;
    }

    #tblProtocolLines1 > thead > tr > th {
        border-color: #32c5d2;
    }
</style>
<div class="">
    <div class="portlet light">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">
                            MECHANICAL TEST REPORT : MACRO  & MLP
                        </span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <div class="portlet-title tabbable-line" id="tabs">
                        <ul class="nav nav-tabs" id="navTestTypeTabsMicroMLP">
                            @{int index = 0;}
                            @foreach (var row in Model)
                            {
                                index += 1;
                                <li class="@(index == Model.Count ? "active" : "")"><a name="tabMacroMLPTest" class="PTRReport" href="@("#dvMacroMLPTest" + index.ToString())" id="@("tabMacroMLPTest" + index.ToString())" spara="Macro MLP Test @index.ToString()" data-toggle="tab" aria-expanded="false" formId="@("frmProtocolHeader" + index.ToString())">Macro MLP Test @index.ToString()</a></li>
                            }
                            <li class="btn btn-default" style="float: right;background: none;border-radius: unset !important;">
                                <input type="button" class="btn submit btnSaveMacroMLPTest" formId="@("frmProtocolHeader" + index.ToString())" id="btnSave" value="Save" />
                            </li>
                            <li class="btn btn-default" style="float: right;background: none;border-radius: unset !important;"><button class="btn btn-default add-new-test" onclick="addNewTest();">Add New Test</button></li>
                        </ul>
                    </div>
                    <div class="tab-content portlet" id="tabContent">
                        @{index = 0;}
                        @foreach (var row in Model)
                        {
                            index += 1;
                            s1 = 0; s2 = 0; s3 = 0;
                            <div class="portlet-body tab-pane @(index == Model.Count ? "active" : "")" id="@("dvMacroMLPTest" + index.ToString())">
                                <form id="@("frmProtocolHeader" + index.ToString())" class="form-horizontal ProtocolHeaderForm">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <table class="FormTable tblNotes" style="margin-bottom:0px">
                                                <tr>
                                                    <td class="subtitle"> Report No:</td>
                                                    <td>@Html.TextBoxFor(model => row.ReportNo, new { @class = "form-control validate-onchange EditableTextColor textleft", @maxlength = "50", @Name = "ReportNo" })</td>
                                                    <td class="subtitle">SOP No.:</td>
                                                    <td>
                                                        @Html.TextBoxFor(model => row.SOPNo, new { @class = "form-control validate-onchange EditableTextColor textleft", @maxlength = "50" })
                                                        @Html.HiddenFor(model => row.PTRHeaderId, new { @Name = "PTRHeaderId" })
                                                        @Html.HiddenFor(model => row.HeaderId, new { @Name = "HeaderId" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="subtitle"> Ref. Std.:</td>
                                                    <td colspan="3">
                                                        <input type="hidden" id="hiddenRefStd" value="@row.RefStd" />
                                                        <select name="RefStd" id="RefStd" multiple="multiple" class="form-control dropdown-refstd" style="width:100%;text-align:left"></select>
                                                        @*@Html.DropDownListFor(model => row.RefStd, new SelectList(@ViewBag.lstReferenceStandards, "Value", "Text"), "Select", new { @class = "form-control validate-onchange EditableTextColor" })*@
                                                    </td>

                                                </tr>
                                            </table>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-12" style="height: 20px"></div>
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <table class="FormTable tblNotes" style="margin-bottom:0px">
                                                        <tr>
                                                            <td class="subtitle"> Test Remarks</td>
                                                            <td>
                                                                @Html.DropDownList("ddlTestRemarks", new SelectList(@ViewBag._lstTestRemarks, "Value", "Text"), "Select", new { @class = "form-control validate-onchange EditableTextColor ddlTestRemarks textleft", @formId = "frmProtocolHeader" + index.ToString() })
                                                                @Html.TextBoxFor(model => row.TestRemarks, new { @class = "form-control validate-onchange EditableTextColor", @Name = "TestRemarks" })
                                                                @*@Html.DropDownListFor(model => row.TestRemarks, new SelectList(@ViewBag._lstTestRemarks, "Value", "Text"), "Select", new { @class = "form-control validate-onchange EditableTextColor" })*@
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-md-12" style="height: 20px"></div>
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                <span style="float:left;">
                                                                    <strong>Observation</strong>
                                                                </span>
                                                            </div>
                                                            <div class="tools">
                                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body" id="div1">
                                                            <div class="table-responsive">
                                                                <div class="col-md-12">
                                                                    <table class="table" id="tblProtocolLines1">
                                                                        <tbody>
                                                                            @*@if (@ViewBag.lstPTR020_Log_3 != null)*@
                                                                            @if (row.PTR020_Log3 != null)
                                                                            {
                                                                                foreach (var item in row.PTR020_Log3)
                                                                                {
                                                                                    s1 = s1 + 1;
                                                                                    <tr>
                                                                                        <td class="LineId" style="display:none;">@Html.Hidden("LineId_1_" + @s1, @item.LineId, new { @Id = "LineId_1_" + @s1 })</td>
                                                                                        <td class="ActualValue">@Html.TextBox("ActualValue_1_" + @s1, item.ActualValue, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "100" })</td>
                                                                                        <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="delRecord('@("frmProtocolHeader" + index.ToString())',this)"></i></td>
                                                                                    </tr>
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                    <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="2">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                <span style="float:left;">
                                                                    <strong></strong>
                                                                </span>
                                                            </div>
                                                            <div class="tools">
                                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div2', this)" id="btnCollapse2" data-target="#div2" data-original-title="" title=""> </a>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body" id="div2">
                                                            <div class="table-responsive">
                                                                <div class="col-md-12">
                                                                    <table class="table" id="tblProtocolLines2">
                                                                        <thead>
                                                                            <tr>
                                                                                <th colspan="3">LEAK PATH EXAMINATION Acceptance :</th>
                                                                                <th colspan="3">@Html.TextBoxFor(model => row.LeakPathExamination2, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "20" })</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <th class="text-center">TUBE NO.</th>
                                                                                <th class="text-center">FACE A</th>
                                                                                <th class="text-center">FACE B</th>
                                                                                <th class="text-center">FACE C</th>
                                                                                <th class="text-center">FACE D</th>
                                                                                <th class="text-center">MLP (Min.)</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @if (row.PTR020_Log != null)
                                                                            {
                                                                                foreach (var item in row.PTR020_Log)
                                                                                {
                                                                                    s2 = s2 + 1;
                                                                                    <tr>
                                                                                        <td class="LineId" style="display:none;">@Html.Hidden("LineId_2_" + @s2, @item.LineId, new { @Id = "LineId_2_" + @s2 })</td>
                                                                                        <td class="TubeNo"><label id="TubeNo_2_@s2" name="TubeNo_2_@s2">@item.TubeNo</label></td>
                                                                                        <td class="FaceA">@Html.TextBox("FaceA_2_" + @s2, item.FaceA, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "100", @onchange = "fnMinValue('" + "frmProtocolHeader" + index.ToString() + "'," + s2 + ");" })</td>
                                                                                        <td class="FaceB">@Html.TextBox("FaceB_2_" + @s2, item.FaceB, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "100", @onchange = "fnMinValue('" + "frmProtocolHeader" + index.ToString() + "'," + s2 + ");" })</td>
                                                                                        <td class="FaceC">@Html.TextBox("FaceC_2_" + @s2, item.FaceC, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "100", @onchange = "fnMinValue('" + "frmProtocolHeader" + index.ToString() + "'," + s2 + ");" })</td>
                                                                                        <td class="FaceD">@Html.TextBox("FaceD_2_" + @s2, item.FaceD, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "100", @onchange = "fnMinValue('" + "frmProtocolHeader" + index.ToString() + "'," + s2 + ");" })</td>
                                                                                        <td class="MLP">@Html.TextBox("MLP_2_" + @s2, item.MLP, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "100", @readonly = "readonly", @tabindex = "-1" })</td>
                                                                                        <td class="DeleteAction"> <i id="Delete_2_@s2" name="Delete_2_@s2" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="delRecord('@("frmProtocolHeader" + index.ToString())',this)"></i></td>
                                                                                    </tr>
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                    <input id="hdGrid2LastRow" type="hidden" value="@s2" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <div class="portlet box green inlineparentdiv" id="divLine3" data-gridid="3">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                <span style="float:left;">
                                                                    <strong></strong>
                                                                </span>
                                                            </div>
                                                            <div class="tools">
                                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div3', this)" id="btnCollapse3" data-target="#div3" data-original-title="" title=""> </a>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body" id="div3">
                                                            <div class="table-responsive">
                                                                <div class="col-md-12">
                                                                    <table class="table" id="tblProtocolLines3">
                                                                        <thead>
                                                                            <tr>
                                                                                <th colspan="3">AXIAL LENGTH Acceptance :</th>
                                                                                <th colspan="3">@Html.TextBoxFor(model => row.AxialLength2, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "20" })</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <th colspan="3">Maximum Penetration on Tube(MPT) (mm) :</th>
                                                                                <th colspan="3">@Html.TextBoxFor(model => row.MaxPenetrationOnTube, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "20" })</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <th class="text-center">TUBE NO.</th>
                                                                                <th class="text-center">FACE A</th>
                                                                                <th class="text-center">FACE B</th>
                                                                                <th class="text-center">FACE C</th>
                                                                                <th class="text-center">FACE D</th>
                                                                                <th class="text-center">MPT</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @if (row.PTR020_Log2 != null)
                                                                            {
                                                                                foreach (var item in row.PTR020_Log2)
                                                                                {
                                                                                    s3 = s3 + 1;
                                                                                    <tr>
                                                                                        <td class="LineId" style="display:none;">@Html.Hidden("LineId_3_" + @s3, @item.LineId, new { @Id = "LineId_3_" + @s3 })</td>
                                                                                        <td class="TubeNo"><label id="TubeNo_3_@s3" name="TubeNo_3_@s3">@item.TubeNo</label></td>
                                                                                        <td class="FaceA">@Html.TextBox("FaceA_3_" + @s3, item.FaceA, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "100" })</td>
                                                                                        <td class="FaceB">@Html.TextBox("FaceB_3_" + @s3, item.FaceB, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "100" })</td>
                                                                                        <td class="FaceC">@Html.TextBox("FaceC_3_" + @s3, item.FaceC, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "100" })</td>
                                                                                        <td class="FaceD">@Html.TextBox("FaceD_3_" + @s3, item.FaceD, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "100" })</td>
                                                                                        <td class="MaxPenetrationOnTube">@Html.TextBox("MaxPenetrationOnTube_3_" + @s3, item.MaxPenetrationOnTube, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "100" })</td>
                                                                                        <td class="DeleteAction"> <i id="Delete_3_@s3" name="Delete_3_@s3" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="delRecord('@("frmProtocolHeader" + index.ToString())',this)"></i></td>
                                                                                    </tr>
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                    <input id="hdGrid3LastRow" type="hidden" value="@s3" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <table class="table FormTable">
                                                        <tr>
                                                            <td>
                                                                <input type="text" value="MLP Sketch" class="form-control validate-onchange EditableTextColor" style="font-weight:bold" readonly="readonly" />
                                                            </td>
                                                            <td>
                                                                @Html.TextBoxFor(model => row.PhotoHeading2, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "20", style = "font-weight:bold" })
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <button id="btnUploadImage1" class="btn icons entQcAttend btnUploadImage1" title="Attach Sketch" type="button"><i class="fa fa-image"></i></button>
                                                                <div class="col-md-12 display-none">
                                                                    <div id="dv@(FileUpload1ControlID1 + "frmProtocolHeader" + index.ToString())" preview-image-id="image1"></div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <button id="btnUploadImage2" class="btn icons entQcAttend btnUploadImage2" title="Attach Sketch" type="button"><i class="fa fa-image"></i></button>
                                                                <div class="col-md-12 display-none">
                                                                    <div id="dv@(FileUpload1ControlID2+ "frmProtocolHeader" + index.ToString())" preview-image-id="image2"></div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="col-lg-12 text-center">
                                                                    <img id="image1" style="height:300px;width:300px;" src="~/ImageHandler.ashx?type=@clsImplementationEnum.ImageType.FCS.ToString()&fp=@(_lstPaths1[index-1])" class="" alt="">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="col-lg-12 text-center">
                                                                    <img id="image2" style="height:300px;width:300px;" src="~/ImageHandler.ashx?type=@clsImplementationEnum.ImageType.FCS.ToString()&fp=@(_lstPaths2[index-1])" class="" alt="">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        @*<tr>
                                                                <td>
                                                                    <i id="Delete_Photo_1" name="Delete_Photo_1" title="Delete sketch 3" class="iconspace fa fa-trash-o" onclick="@("DeletePhoto('frmProtocolHeader" + index.ToString() + "',1)")"></i>
                                                                </td>
                                                                <td>
                                                                    <i id="Delete_Photo_2" name="Delete_Photo_2" title="Delete sketch 2" class="iconspace fa fa-trash-o" onclick="@("DeletePhoto('frmProtocolHeader" + index.ToString() + "',2)")"></i>
                                                                </td>
                                                            </tr>*@
                                                        @*<tr>
                                                                <td>
                                                                    <button id="btnUploadImage3" class="btn icons entQcAttend" title="Attach Sketch" type="button"><i class="fa fa-image"></i></button>
                                                                    <div class="col-md-12 display-none">
                                                                        <div id="dv@(FileUpload1ControlID3)"></div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <button id="btnUploadImage4" class="btn icons entQcAttend" title="Attach Sketch" type="button"><i class="fa fa-image"></i></button>
                                                                    <div class="col-md-12 display-none">
                                                                        <div id="dv@(FileUpload1ControlID4)"></div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="col-lg-12 text-center">
                                                                        <img id="image3" style="height:300px;width:300px;" src="~/ImageHandler.ashx?type=@clsImplementationEnum.ImageType.SharePoint.GetStringValue()&fp=PTR020/@Model.HeaderId/3" class="" alt="">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="col-lg-12 text-center">
                                                                        <img id="image4" style="height:300px;width:300px;" src="~/ImageHandler.ashx?type=@clsImplementationEnum.ImageType.SharePoint.GetStringValue()&fp=PTR020/@Model.HeaderId/4" class="" alt="">
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <i id="Delete_Photo_3" name="Delete_Photo_3" title="Delete sketch 3" class="iconspace fa fa-trash-o" onclick="DeletePhoto(3)"></i>
                                                                </td>
                                                                <td>
                                                                    <i id="Delete_Photo_4" name="Delete_Photo_4" title="Delete sketch 4" class="iconspace fa fa-trash-o" onclick="DeletePhoto(4)"></i>
                                                                </td>
                                                            </tr>*@
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <table class="FormTable tblNotes" style="margin-bottom:0px">
                                                        <tr>
                                                            <td class="subtitle"> Result</td>
                                                            <td>@Html.DropDownListFor(model => row.Result, new SelectList(@ViewBag._lstResult, "Value", "Text", row.Result), "Select", new { @class = "form-control validate-onchange EditableTextColor" })</td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                                        <tr>
                                                            <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                                                Notes
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="clstd" style="display: flex;">
                                                                1) Environmental Condition: Temp.:  @Html.TextBoxFor(model => row.TempValue, new { @class = "form-control validate-onchange w100 EditableTextColor", @maxlength = "10" }) °C   Humidity: @Html.TextBoxFor(model => row.HumidityValue, new { @class = "form-control validate-onchange w100 EditableTextColor", @maxlength = "10" }) %
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="clstd" style="display: flex;">
                                                                2) All dimension are in mm.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                REMARK 1: @Html.TextAreaFor(model => row.Remarks1, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "200", @role = "" })
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                REMARK 2: @Html.TextAreaFor(model => row.Remarks2, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "200", @role = "" })
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="col-md-12">
                                                        <div class="col-md-6" style="text-align:left;">
                                                            <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" formId="@("frmProtocolHeader" + index.ToString())" title="Print" class="btn icons btnPrint"> <i class="fa fa-print"></i></a>
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input NotConsider" id="chkNotTobeConsiderToPrint">
                                                                <label class="form-check-label" for="chkNotTobeConsiderToPrint">Not to be consider to print</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6" style="text-align:right;">
                                                            <input type="button" class="btn submit btnSaveMacroMLPTest" formId="@("frmProtocolHeader" + index.ToString())" id="btnSavebtm" value="Save" />
                                                            @*@if (row.HeaderId > 0)
                                                            {*@
                                                                <input type="button" class="btn btn-danger btnDeleteMacroMLPTest @(row.HeaderId> 0 ? "btn-visiblity" : "btn-invisiblity")" headerId="@row.HeaderId" id="btnDelete" value="Delete" />
                                                            @*}*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @Html.Hidden("SavedFilePath" + FileUpload1ControlID1, "")
                                    @Html.Hidden("SavedFilePath" + FileUpload1ControlID2, "")
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var isEdit = '@ViewBag.isEditable';
    var vFormId1 = '';
    var vFormId2 = '';
    $(document).ready(function () {
        /*loop for add form wise protocol observation*/
        $.each($('.ProtocolHeaderForm'), function (i, v) {
            var id = v.id;
            AddNextRow(id,this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'ActualValue', ['ActualValue'], AddTbl1NewTrRow, true);
            AddNextRow(id,this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'FaceA', ['FaceA', 'FaceB', 'FaceC', 'FaceD'], AddTbl2NewTrRow, true);
            AddNextRow(id,this, null, false, 3, 'hdGrid3LastRow', 'tblProtocolLines3', 'FaceA', ['FaceA', 'FaceB', 'FaceC', 'FaceD', 'MaxPenetrationOnTube'], AddTbl3NewTrRow, true);
            if (isEdit != "True") {
                $('form#' + id + ' :input').attr('disabled', true);
            }
            /*bind image control to dom element*/
            //LoadFileUpload1(id);
            //LoadFileUpload2(id);
        });

        $(".ddlTestRemarks").change(function () {
            var formId = this.form.id;
            $("#" +formId + " input[name='TestRemarks']").val($(this).val());
        });

        var arrayData = @Html.Raw(Json.Encode(@ViewBag.lstReferenceStandards));
        $.each($(".dropdown-refstd"), function (i, v) {
            LoadSelect2usingArray(arrayData, $(v), 'Select Reference Standards');
        });

        $.each($('.ProtocolHeaderForm'), function (i, v) {
            var val = $('#' + v.id + ' #hiddenRefStd').val();
            $('#' + v.id + ' #RefStd').val(LoadMultiSelect2OnEdit(val)).trigger('change');

            if (isEdit != "True") {
                $('form#' + v.id + ' :input').attr('disabled', true);
            }
        });
        var formId = $("ul#navTestTypeTabsMicroMLP li.active a").attr("formId");
        $("#" + formId + " input[name='ReportNo']").focus();
        $("#" + formId + " input[name='ReportNo']").focus();
    });

    $(".btnPrint").click(function () {
        var dat = [];
        var formId = $(this).attr("formId");
        dat.push({ Param: "HeaderId", Value: $('#' + formId + ' input[name="HeaderId"]').val() });
        ShowReport(dat, "/PTR/Protocol/MACROMLP", true);
    });

    function LoadSaveAndDraft(formId) {
        var TableData1 = [];
        var lstProtocolLines1 = "";
        var headerId = $('#' + formId + ' input[name="HeaderId"]').val();
        $("#" + formId + " table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": headerId,
                "ActualValue": $('td.ActualValue input', this).val(),
            };
        });

        lstProtocolLines1 = JSON.stringify(TableData1);
        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "/SaveMACROMLPLineTable3?HeaderId=" + parseInt(headerId), 0);

        var TableData2 = [];
        var lstProtocolLines2 = "";
        $("#" + formId + " table#tblProtocolLines2 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData2[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": headerId,
                "TubeNo": $('td.TubeNo Label', this).text(),
                "FaceA": $('td.FaceA input', this).val(),
                "FaceB": $('td.FaceB input', this).val(),
                "FaceC": $('td.FaceC input', this).val(),
                "FaceD": $('td.FaceD input', this).val(),
                "MLP": $('td.MLP input', this).val(),
            };
        });

        lstProtocolLines2 = JSON.stringify(TableData2);
        SaveAsDraftProtocolLine(lstProtocolLines2, ControllerURL + "/SaveMACROMLPLineTable1?HeaderId=" + parseInt(headerId), 0);

        var TableData3 = [];
        var lstProtocolLines3 = "";
        $("#" + formId + " table#tblProtocolLines3 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData3[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": headerId,
                "TubeNo": $('td.TubeNo Label', this).text(),
                "FaceA": $('td.FaceA input', this).val(),
                "FaceB": $('td.FaceB input', this).val(),
                "FaceC": $('td.FaceC input', this).val(),
                "FaceD": $('td.FaceD input', this).val(),
                "MaxPenetrationOnTube": $('td.MaxPenetrationOnTube input', this).val(),
            };
        });

        lstProtocolLines3 = JSON.stringify(TableData3);
        SaveAsDraftProtocolLine(lstProtocolLines3, ControllerURL + "/SaveMACROMLPLineTable2?HeaderId=" + parseInt(headerId), 0);

    }

    function SaveAsDraftProtocolLine(data, URL, gridId) {
        $.ajax({
            url: WebsiteURL + URL,
            type: "POST",
            dataType: 'json',
            data: data,
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {

            }
        });
    }

    function AddTbl1NewTrRow(formId, NewTrRowNum) {
        $("#" + formId + " #hdGrid1LastRow").val(NewTrRowNum);
        var FirstLine = "AddNextRow('" + formId +"',this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','ActualValue',['ActualValue'],AddTbl1NewTrRow)";
        var strhtml =
            "<tr class=\"islastrow\"> " +
            "	<td class=\"LineId\" style=\"display:none;\"><input id=\"LineId\" name=\"LineId\" type=\"hidden\">0</td> " +
            "	<td class=\"ActualValue\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"ActualValue_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActualValue_1_" + NewTrRowNum + "\" type=\"text\" onblur=\"" + FirstLine + "\"></td> " +
            "   <td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"delRecord('" + formId +"',this)\" style=\"display:none\"></i></td>" +
            "</tr> ";
        return strhtml;
    }

    function AddTbl2NewTrRow(formId, NewTrRowNum) {
        var row = $("#" + formId + " #tblProtocolLines2 tbody tr:not(.islastrow)").length;
        row = parseInt(row) + 1;
        $("#" + formId + " #hdGrid2LastRow").val(row);
        var FirstLine = "AddNextRow('"+formId + "',this,'AxialLength2',false,2,'hdGrid2LastRow','tblProtocolLines2','FaceA', [ 'FaceA', 'FaceB', 'FaceC', 'FaceD'],AddTbl2NewTrRow)";
        var LastLine = "AddNextRow( '" + formId +"',this,null,false,2,'hdGrid2LastRow','tblProtocolLines2','FaceA', [ 'FaceA', 'FaceB', 'FaceC', 'FaceD'],AddTbl2NewTrRow)";
        var strhtml =
            "<tr class=\"islastrow\"> " +
            "	<td class=\"LineId\" style=\"display:none;\"><input id=\"LineId_2_" + NewTrRowNum + "\" name=\"LineId_2_" + NewTrRowNum +"\" type=\"hidden\">0</td> " +
            "	<td class=\"TubeNo\"><Label id=\"TubeNo_2_" + NewTrRowNum + "\"  name=\"TubeNo_2_" + NewTrRowNum + "\">" + row + "</Label></td> " +
            "	<td class=\"FaceA\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"FaceA_2_" + NewTrRowNum + "\" maxlength=\"100\" name=\"FaceA_2_" + NewTrRowNum + "\" type=\"text\" onblur=\"" + FirstLine + "\" onchange=\"fnMinValue('" + formId + "'," + NewTrRowNum+");\"></td> " +
            "	<td class=\"FaceB\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"FaceB_2_" + NewTrRowNum + "\" maxlength=\"100\" name=\"FaceB_2_" + NewTrRowNum + "\" type=\"text\" onchange=\"fnMinValue('" + formId + "'," + NewTrRowNum +");\"></td> " +
            "	<td class=\"FaceC\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"FaceC_2_" + NewTrRowNum + "\" maxlength=\"100\" name=\"FaceC_2_" + NewTrRowNum + "\" type=\"text\" onchange=\"fnMinValue('" + formId + "'," + NewTrRowNum +");\"></td> " +
            "	<td class=\"FaceD\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"FaceD_2_" + NewTrRowNum + "\" maxlength=\"100\" name=\"FaceD_2_" + NewTrRowNum + "\" type=\"text\" onblur=\"" + LastLine + "\" onchange=\"fnMinValue('" + formId + "'," + NewTrRowNum +");\"></td> " +
            "	<td class=\"MLP\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"MLP_2_" + NewTrRowNum + "\" maxlength=\"100\" name=\"MLP_2_" + NewTrRowNum + "\" type=\"text\" readonly=\"readonly\" tabindex=\"-1\"></td> " +
            "   <td class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"delRecord('" + formId +"',this)\" style=\"display:none\"></i></td>" +
            "</tr> ";
        return strhtml;
    }

    function AddTbl3NewTrRow(formId, NewTrRowNum) {
        var row = $("#" + formId + " #tblProtocolLines3 tbody tr:not(.islastrow)").length;
        row = parseInt(row) + 1;
        $("#" + formId + " #hdGrid3LastRow").val(row);
        var FirstLine = "AddNextRow('" + formId +"',this,'Result',false,3,'hdGrid3LastRow','tblProtocolLines3','FaceA', ['FaceA', 'FaceB', 'FaceC', 'FaceD','MaxPenetrationOnTube'],AddTbl3NewTrRow)";
        var LastLine = "AddNextRow('" + formId +"',this,null,false,3,'hdGrid3LastRow','tblProtocolLines3','FaceA', ['FaceA', 'FaceB', 'FaceC', 'FaceD','MaxPenetrationOnTube'],AddTbl3NewTrRow)";
        var strhtml =
            "<tr class=\"islastrow\">" +
            "	<td class=\"LineId\" style=\"display:none;\"><input id=\"LineId_3_" + NewTrRowNum + "\" name=\"LineId_3_" + NewTrRowNum +"\" type=\"hidden\">0</td> " +
            "	<td class=\"TubeNo\"><Label id=\"TubeNo_3_" + NewTrRowNum + "\"  name=\"TubeNo_3_" + NewTrRowNum + "\">" + row + "</Label></td> " +
            "	<td class=\"FaceA\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"FaceA_3_" + NewTrRowNum + "\" maxlength=\"100\" name=\"FaceA_3_" + NewTrRowNum + "\" type=\"text\" onblur=\"" + FirstLine + "\"></td> " +
            "	<td class=\"FaceB\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"FaceB_3_" + NewTrRowNum + "\" maxlength=\"100\" name=\"FaceB_3_" + NewTrRowNum + "\" type=\"text\"></td> " +
            "	<td class=\"FaceC\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"FaceC_3_" + NewTrRowNum + "\" maxlength=\"100\" name=\"FaceC_3_" + NewTrRowNum + "\" type=\"text\"></td> " +
            "	<td class=\"FaceD\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"FaceD_3_" + NewTrRowNum + "\" maxlength=\"100\" name=\"FaceD_3_" + NewTrRowNum + "\" type=\"text\"></td> " +
            "	<td class=\"MaxPenetrationOnTube\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"MaxPenetrationOnTube_3_" + NewTrRowNum + "\" maxlength=\"100\" name=\"MaxPenetrationOnTube_3_" + NewTrRowNum + "\" type=\"text\" onblur=\"" + LastLine + "\"></td> " +
            "   <td class=\"DeleteAction\"><i id=\"Delete_3_" + NewTrRowNum + "\" name=\"Delete_3_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"delRecord('" + formId +"',this)\" style=\"display:none\"></i></td>" +
            "</tr> ";
        return strhtml;
    }

    function delRecord(formId, obj) {
        var r = confirm("Are you sure you want to delete this item?");
        if (r == true) {
            $(obj).parent().parent().remove();

            var RowCount = $("#" + formId+ " #hdGrid2LastRow").val();
            var iCo = 1;
            if (RowCount > 0) {
                for (var i = 0; i < RowCount; i++) {
                    var iCount = (i + 1);
                    if ($("#" + formId + " #TubeNo_2_" + iCount).length) {
                        $("#" + formId + " #TubeNo_2_" + iCount).html(iCo);
                        //document.getElementById("TubeNo_2_" + iCount).textContent = iCo;
                        iCo = iCo + 1;
                    }
                }
            }

            var RowCount = $("#" + formId + " #hdGrid3LastRow").val();
            var iCo = 1;
            if (RowCount > 0) {
                for (var i = 0; i < RowCount; i++) {
                    var iCount = (i + 1);
                    if ($("#" + formId + " #TubeNo_3_" + iCount).length) {
                        $("#" + formId + " #TubeNo_3_" + iCount).html(iCo);
                        //document.getElementById("TubeNo_3_" + iCount).textContent = iCo;
                        iCo = iCo + 1;
                    }
                }
            }
        }
    }

    $(".btnSaveMacroMLPTest").click(function () {
        var formId = $("ul#navTestTypeTabsMicroMLP li.active a").attr("formId");
        SaveProtocolHeaderData(formId, 0, ControllerURL + "/SaveMacroMLPHeaderData", true, LoadSaveAndDraft);
        IsEdited = false;
    });

    function SaveProtocolHeaderData(frmProtocolHeader, HeaderId, URL, isSubmit, aftercallbackfn) {
        if ($("#" + frmProtocolHeader).valid()) {
            var frmHeaderValues = $("#" + frmProtocolHeader).serializeArray();

            var formdata = new FormData();
            if (frmHeaderValues != null && frmHeaderValues != undefined) {
                $.each(frmHeaderValues, function (key, input) {
                    var name = input.name.replace('row.', '');
                    if (name == "RefStd") {
                        if ($("#" + frmProtocolHeader + " #" + name).val() != "") {
                            formdata.append(name, $("#" + frmProtocolHeader + " #" + name).val().join(","));
                        } else {
                            formdata.append(name, $("#" + frmProtocolHeader + " #" + name).val());
                        }
                    }
                    else
                        formdata.append(name, input.value);
                });
                $.ajax({
                    url: WebsiteURL + URL,
                    type: "POST",
                    data: formdata,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {

                    },
                    success: function (res) {
                        if (res.Key && res.HeaderId > 0) {
                            $('#' + frmProtocolHeader + ' input[name="HeaderId"]').val(res.HeaderId);
                            $('#' + frmProtocolHeader + ' input[id="btnDelete"]').attr("headerId", res.HeaderId);
                            $('#' + frmProtocolHeader + ' input[id="btnDelete"]').removeClass("btn-invisiblity");
                            $('#' + frmProtocolHeader + ' input[id="btnDelete"]').addClass("btn-visiblity");
                            //SaveImagesDetails(frmProtocolHeader);
                            if (aftercallbackfn != null && aftercallbackfn != undefined) {
                                aftercallbackfn(frmProtocolHeader);
                            }
                            DisplayNotiMessage("success", res.Value, "Success");
                            showLoading(false);
                        }
                        else
                            DisplayNotiMessage("error", res.Value, "Error");
                        showLoading(false);
                    },
                    error: function (data) { showLoading(false);}
                });
            }
        }
        else {
            DisplayNotiMessage("info", "All mandatory (*) fields are required", "Info");
        }
    }

    function AddNextRow(formId, $this, focuscolumn, focuswithintable, gridId, hdnRowID, tblId, $txtfocusColumn, paramList, aftercallbackfn, isnew, beforecallbackfn) {
        var prevRow = parseInt($("#" + formId + " #" + hdnRowID).val());
        var nextRow = parseInt($("#" + formId+" #" + hdnRowID).val()) + 1;

        var flag = true;
        if (isnew != true && ($this != null && $($this).val() != "" && $this != undefined) && (beforecallbackfn != null && beforecallbackfn != undefined)) {
            flag = beforecallbackfn($this); /* before adding new row, execute other call back function*/
        }
        if (flag) {
            if (GetParamCondition(formId,paramList, gridId, prevRow) || isnew == true) {
                $("#" + formId+ " #Delete_" + gridId + "_" + prevRow).show();
                if (aftercallbackfn != null && aftercallbackfn != undefined) {
                    $("#"+formId+" #" + tblId).find('select,input').removeClass('islastrow');
                    $("#"+formId+" #" + tblId + " tr").removeClass('islastrow');
                    $("#"+formId+" #" + tblId).append(aftercallbackfn(formId, nextRow));
                }
                $("#" +formId + " #" + $txtfocusColumn + "_" + gridId + "_" + nextRow).focus();
            }
        }
        else {
            if ($this != null && $this != undefined) {
                $($this).focus();
            }
        }
        if (isnew != true && ($this != null && $this != undefined) && (focuscolumn != null && focuscolumn != undefined)) {
            var row_index = $($this).parent().parent().index();
            if ($($this).val() == "") {
                if (focuswithintable) {
                    var cell = focuscolumn.split(',');
                    if ($("#" + formId + " #" + tblId + " tbody>tr:eq(" + (row_index + 1) + ")").find('td.' + cell[0]).has("input[type=text]").length == 0) {
                        if ($("#" +formId + " #" + tblId + " tbody>tr:eq(" + (row_index + 2) + ")").find('td.' + cell[0]).find("input").length > 0) {
                            $("#" + formId + " #" + tblId + " tbody>tr:eq(" + (row_index + 2) + ")").find('td.' + cell[0]).find("input").focus();
                        }
                        else {
                            $("#" + formId + " #" + cell[1]).focus();
                        }
                    }
                    else {
                        $("#" + formId + " #" + tblId + " tbody>tr:eq(" + (row_index + 1) + ")").find('td.' + cell[0]).find("input").focus();
                    }
                }
                else { $("#" + formId + " #" + focuscolumn).focus() }
            }
        }
    }

    function GetParamCondition(formId, list, gridid, rowid, tblId, $this, $appendlocation) {
        var q = true;
        if (($this != null && $this != "" && $this != undefined) && ($appendlocation != "" && $appendlocation != undefined)) {
            $row = $("#" + formId + " #" + tblId).find('tr.' + $appendlocation.split("__")[0]).last();
            $cells = $row.find("td input");
            $cells.each(function () {
                flg = $(this).val();
                if (q == true && (flg == "" || flg == null || flg == undefined || flg.legth == 0)) {
                    q = false;
                    return false;
                }
            });
        }
        else {
            for (var j = 0; j < list.length; j++) {
                var flg = "";
                flg = $("#" + formId + " #" + list[j] + "_" + gridid + "_" + rowid).val();
                if (flg == "" || flg == null || flg == undefined || flg.legth == 0) {
                    q = false;
                    break;
                }
            }
        }
        return q;
    }

    //File Upload Code
    $(".btnUploadImage1").click(function () {
        vFormId1 = this.form.id;
        LoadFileUpload1(vFormId1);
    });
    $(".btnUploadImage2").click(function () {
        vFormId2 = this.form.id;
        LoadFileUpload2(vFormId2);
    });

    function LoadFileUpload1(formId) {

        @*var objFileUpload1 = new FileUploadEnt('dv@(FileUpload1ControlID1)' + formId, '@FileUpload1ControlID1' + formId);
        objFileUpload1.IsRequired = false;
        objFileUpload1.ShowDeleteAction = false;
        var vHeaderId = $('#' + formId + ' input[name="HeaderId"]').val();
        if(vHeaderId>0){
            objFileUpload1.FolderPath = "PTR020/"+vHeaderId+"/1";
        }
        else{
            objFileUpload1.FolderPath = "";
        }
        objFileUpload1.IsMultipleUploaded=false;
        objFileUpload1.SuccessCallbackFunction="SuccessCallFunc(1)";
        objFileUpload1.AllowFileExtension="jpg,jpeg,png,bmp,jfif";
        LoadFileUploadPartialView(objFileUpload1);*@

        var vHeaderId = $('#' + formId + ' input[name="HeaderId"]').val();
        if (vHeaderId != undefined && vHeaderId != '' && vHeaderId != 0) {
            var objFile = {
                TableName: 'PTR020',
                TableId: vHeaderId,
                Path: 'PTR020//' + vHeaderId + '//1',
                ControlID: '@(FileUpload1ControlID1)',
                ViewerId: 1,
                IsMultipleUploaded: false,
                ShowDeleteAction: true,
                ShowDownloadBtn: true,
                ShowAttachmentBtn: true,
                SuccessCallbackFunction: "SuccessCallFunc(1)",
                IsRequired: false,
                AllowFileExtension: ".jpg,.jpeg,.png,.bmp,.jfif",
                DeleteSuccessCallbackFunction: "SuccessCallFunc(1)"
            };

            Load_File_Upload_Partial_View(objFile, 'dv@(FileUpload1ControlID1)', true);
        }
        else
            DisplayNotiMessage("Info", "Please first save data then upload image.", "Information");
    }

    function LoadFileUpload2(formId) {
        @*var objFileUpload1 = new FileUploadEnt('dv@(FileUpload1ControlID2)' + formId, '@FileUpload1ControlID2' + formId);
        objFileUpload1.IsRequired = false;
        objFileUpload1.ShowDeleteAction = false;
        var vHeaderId = $('#' + formId + ' input[name="HeaderId"]').val();
        if(vHeaderId>0){
            objFileUpload1.FolderPath = "PTR020/"+vHeaderId+"/2";
        }
        else{
            objFileUpload1.FolderPath = "";
        }
        objFileUpload1.IsMultipleUploaded = false;
        objFileUpload1.SuccessCallbackFunction="SuccessCallFunc(2)";
        objFileUpload1.AllowFileExtension="jpg,jpeg,png,bmp,jfif";
        LoadFileUploadPartialView(objFileUpload1);*@

        var vHeaderId = $('#' + formId + ' input[name="HeaderId"]').val();
        if (vHeaderId != undefined && vHeaderId != '' && vHeaderId != 0) {
            var objFile = {
                TableName: 'PTR020',
                TableId: vHeaderId,
                Path: 'PTR020//' + vHeaderId + '//2',
                ControlID: '@(FileUpload1ControlID2)',
                ViewerId: 2,
                IsMultipleUploaded: false,
                ShowDeleteAction: true,
                ShowDownloadBtn: true,
                ShowAttachmentBtn: true,
                SuccessCallbackFunction: "SuccessCallFunc(2)",
                IsRequired: false,
                AllowFileExtension: ".jpg,.jpeg,.png,.bmp,.jfif",
                DeleteSuccessCallbackFunction: "SuccessCallFunc(2)"
            };

            Load_File_Upload_Partial_View(objFile, 'dv@(FileUpload1ControlID2)', true);
        }
        else
            DisplayNotiMessage("Info", "Please first save data then upload image.", "Information");
    }

    function SuccessCallFunc(Type) {
        if (Type == 1) {
            var vPath = $("#SavedFilePath@(FileUpload1ControlID1)").val();
            var vUrl = "/ImageHandler.ashx?type=@clsImplementationEnum.ImageType.FCS.ToString()&fp=" + vPath;
            $("#" + vFormId1 + " #image" + Type).removeAttr("src");
            $("#" + vFormId1 + " #image" + Type).attr("src", vUrl);
        }
        else if (Type == 2) {
            var vPath = $("#SavedFilePath@(FileUpload1ControlID2)").val();
            var vUrl = "/ImageHandler.ashx?type=@clsImplementationEnum.ImageType.FCS.ToString()&fp=" + vPath;
            $("#" + vFormId2 + " #image" + Type).removeAttr("src");
            $("#" + vFormId2 + " #image" + Type).attr("src", vUrl);
        }
    }

    function fnMinValue(formId,No) {
        var v1 = $("#" +formId+" #FaceA_2_" + No).val();
        var v2 = $("#" +formId+" #FaceB_2_" + No).val();
        var v3 = $("#" +formId+" #FaceC_2_" + No).val();
        var v4 = $("#" + formId+" #FaceD_2_" + No).val();

        var vArray = [v1, v2, v3, v4];
        var v5 = Math.min.apply(Math, vArray);
        v5 = Math.round(v5 * 100) / 100;
        $("#" + formId +" #MLP_2_" + No).val(v5);
    }
    function addNewTest() {
        var r = $('input[name="ReportNo"]').val();
        $("#btnSubmitAddNewReport").attr("reportType", "MACRO-MLP");
        $("#btnSubmitAddNewReport").attr("reportNo", $('input[name="ReportNo"]').val());
        $("#btnSubmitAddNewReport").click();
    }

    $('.btnDeleteMacroMLPTest').click(function () {
        var Id = $(this).attr("headerId");
        DeleteProtocolHeaderData(ControllerURL + "/DeleteMacroMLPHeaderData", Id);
    });
    function DeleteProtocolHeaderData(URL, headerId) {
        if (headerId > 0) {
            $.ajax({
                url: WebsiteURL + URL + "?headerId=" + headerId,
                type: "GET",
                contentType: false,
                processData: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (res) {
                    if (res.Key) {
                        DisplayNotiMessage("success", res.Value, "Success");
                        setTimeout(function () {
                            LoadReportPartial("MACRO-MLP", "");
                        }, 2000);
                    }
                    else
                        DisplayNotiMessage("error", res.Value, "Error");
                },
                error: function (data) { }
            });
        }
        else {
            DisplayNotiMessage("info", "You have no rights to delete hardness test", "Info");
        }
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>
