﻿@model IEMQSImplementation.PTR024
@using IEMQSImplementation
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0;/* for serial number */
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />

<style>
    .w100 {
        width: 100px !important;
    }

    .w150 {
        width: 150px !important;    
    }

    .w170 {
        width: 170px !important;
    }
</style>

@*<div class="page-content">*@
<div class="">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">
                            MECHANICAL TEST REPORT : PULL OUT / PUSH OUT
                        </span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div>
                                    <div style="text-align:right;">
                                        <input type="button" class="btn submit" id="btnSave" value="Save" />
                                    </div>
                                </div>
                                <table class="FormTable tblNotes" style="margin-bottom:0px">
                                    <tr>
                                        <td class="subtitle" style="width:20% !important"> Report No:</td>
                                        <td style="width:30%  !important">@Html.TextBoxFor(model => model.ReportNo, new { @class = "form-control validate-onchange textleft", @maxlength = "50", @readonly = "readonly" })</td>
                                        <td class="subtitle" style="width:20%  !important">SOP No.:</td>
                                        <td style="width:30%  !important">
                                            @Html.TextBoxFor(model => model.SOPNo, new { @class = "form-control validate-onchange textleft", @maxlength = "50" })
                                            @Html.HiddenFor(model => model.PTRHeaderId)
                                            @Html.HiddenFor(model => model.HeaderId)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> Ref. Std.:</td>
                                        <td colspan="3">@Html.TextBoxFor(model => model.RefStd, new { @class = "form-control textleft" })</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12" style="height: 20px"></div>
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <table class="FormTable tblNotes" style="margin-bottom:0px">
                                            <tr>
                                                <td class="subtitle"> Sample Id</td>
                                                <td>@Html.TextBoxFor(model => model.SampleId, new { @class = "form-control validate-onchange textleft", @maxlength = "20" })</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12" style="height: 20px"></div>
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span style="float:left;">
                                                        <strong></strong>
                                                    </span>
                                                </div>
                                                <div class="tools">
                                                    <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body" id="div1">
                                                <div class="table-responsive">
                                                    <table class="table" id="tblProtocolLines1">
                                                        <thead>
                                                            <tr>
                                                                <td colspan="3">Required Load / Strength</td>
                                                                <td colspan="4">@Html.TextBoxFor(model => model.RequiredLoad, new { @class = "form-control validate-onchange", @maxlength = "50" })</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">Cross-section Area</td>
                                                                <td colspan="4">@Html.TextBoxFor(model => model.CrossSectionArea, new { @class = "form-control validate-onchange", @maxlength = "20" })</td>
                                                            </tr>
                                                            <tr>
                                                                <th style="display:none;">#</th>
                                                                <th style="display:none;">LineId</th>
                                                                <th class="text-center">Sr.No.</th>
                                                                <th class="text-center">Hole\Tube No.</th>
                                                                <th class="text-center">Test type</th>
                                                                <th class="text-center">Final Load in 'N'</th>
                                                                <th class="text-center">Strength (N/MM2)</th>
                                                                <th class="text-center">Fracture Location</th>
                                                                <th class="text-center">Remark</th>
                                                                <th class="btnthAction"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (ViewBag._lstPTR024_Log != null)
                                                            {
                                                                foreach (var item in ViewBag._lstPTR024_Log as List<PTR024_Log>)
                                                                {
                                                                    <tr>
                                                                        <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                                        <td class="LineId" style="display:none;">@Html.Hidden("LineId_1_" + @s1, @item.LineId, new { @Id = "LineId_1_" + @s1 })</td>
                                                                        <td class="SrNo"><Label id="SrNo_1_@s1" name="SrNo_1_@s1">@item.SrNo</Label></td>
                                                                        <td class="HoleTubeNo">@Html.TextBox("HoleTubeNo_1_" + @s1, item.HoleTubeNo, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "20" })</td>
                                                                        <td class="TestType">@Html.TextBox("TestType_1_" + @s1, item.TestType, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "15" })</td>
                                                                        <td class="FinalLoadInN">@Html.TextBox("FinalLoadInN_1_" + @s1, item.FinalLoadInN, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "10" })</td>
                                                                        <td class="Strength">@Html.TextBox("Strength_1_" + @s1, item.Strength, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "10" })</td>
                                                                        <td class="FractureLocation">@Html.TextBox("FractureLocation_1_" + @s1, item.FractureLocation, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "30" })</td>
                                                                        <td class="Remark">@Html.TextBox("Remark_1_" + @s1, item.Remark, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "40" })</td>
                                                                        <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="delRecord(this)"></i></td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                    <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <table class="table table-bordered" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                            <tr>
                                                <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                                    Notes
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="clstd" style="display: flex;">
                                                    1) Environmental Condition: Temp.:  @Html.TextBoxFor(model => model.TempValue, new { @class = "form-control validate-onchange w100", @maxlength = "10" }) °C   Humidity: @Html.TextBoxFor(model => model.HumidityValue, new { @class = "form-control validate-onchange w100", @maxlength = "10" }) %
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    REMARK 1: @Html.TextAreaFor(model => model.Remarks1, new { @class = "form-control validate-onchange QCRemarks", @maxlength = "200", @role = "" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    REMARK 2: @Html.TextAreaFor(model => model.Remarks2, new { @class = "form-control validate-onchange QCRemarks", @maxlength = "200", @role = "" })
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="col-md-6" style="text-align:left;">
                                                <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input NotConsider" id="chkNotTobeConsiderToPrint">
                                                    <label class="form-check-label" for="chkNotTobeConsiderToPrint">Not to be consider to print</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="text-align:right;">
                                                <input type="button" class="btn submit" id="btnSavebtm" value="Save" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>

<script>
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var isEdit = '@ViewBag.isEditable';
    $(document).ready(function () {
        AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'HoleTubeNo', ['HoleTubeNo', 'TestType', 'FinalLoadInN', 'Strength', 'FractureLocation', 'Remark'], AddTbl1NewTrRow, true);
        $("#ReportNo").focus();
        $("#ReportNo").focus();

        if (isEdit != "True") {
            $('form#frmProtocolHeader :input').attr('disabled', true);
        }

    });

    $("#btnPrint").click(function () {
        var dat = [];
        dat.push({ Param: "HeaderId", Value: $('#PTRHeaderId').val() });
        ShowReport(dat, "/PTR/Protocol/PULLOUT");
    });

    function LoadSaveAndDraft() {
        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "SrNo": $('td.SrNo Label', this).text(),
                "HoleTubeNo": $('td.HoleTubeNo input', this).val(),
                "TestType": $('td.TestType input', this).val(),
                "FinalLoadInN": $('td.FinalLoadInN input', this).val(),
                "Strength": $('td.Strength input', this).val(),
                "FractureLocation": $('td.FractureLocation input', this).val(),
                "Remark": $('td.Remark input', this).val(),
            };

            lstProtocolLines1 = JSON.stringify(TableData1);
        });

        $.ajax({
            url: WebsiteURL + ControllerURL + '/SavePullOutLineTable1?HeaderId=' + parseInt($("#HeaderId").val()),
            type: "POST",
            dataType: 'json',
            data: lstProtocolLines1,
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {

            }
        });
    }

    function AddTbl1NewTrRow(NewTrRowNum) {
        $("#hdGrid1LastRow").val(NewTrRowNum);
        var row = $('#tblProtocolLines1 tbody tr:not(.islastrow)').length;
        row = parseInt(row) + 1;

        var FirstLine = "AddNextRow(this,'TempValue',false,1,'hdGrid1LastRow','tblProtocolLines1','HoleTubeNo',['HoleTubeNo', 'TestType', 'FinalLoadInN', 'Strength', 'FractureLocation', 'Remark'],AddTbl1NewTrRow)";
        var LastLine = "AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','HoleTubeNo',['HoleTubeNo', 'TestType', 'FinalLoadInN', 'Strength', 'FractureLocation', 'Remark'],AddTbl1NewTrRow)";

        var strhtml =
            "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            "<td class=\"LineId\" style=\"display:none;\">0</td>" +
            "<td class=\"SrNo\"><Label id=\"SrNo_1_" + NewTrRowNum + "\" name=\"SrNo_1_" + NewTrRowNum + "\">" + row + "</Label></td>" +
            "<td class=\"HoleTubeNo\"><input class=\"form-control validate-onchange clsAddNew EditableTextColor islastrow valid\" onblur=\"" + FirstLine + "\" id=\"HoleTubeNo_1_" + NewTrRowNum + "\" maxlength=\"10\" name=\"HoleTubeNo_1_" + NewTrRowNum + "\" role=\"\"  value=\"\" aria-invalid=\"false\"></input></td>" +
            "<td class=\"TestType\"><input class=\"form-control validate-onchange clsAddNew EditableTextColor islastrow valid\" id=\"TestType_1_" + NewTrRowNum + "\" name=\"TestType_1_" + NewTrRowNum + "\" role=\"\"  value=\"\" aria-invalid=\"false\" maxlength=\"15\"></input></td>" +
            "<td class=\"FinalLoadInN\"><input class=\"form-control validate-onchange clsAddNew EditableTextColor islastrow valid\" id=\"FinalLoadInN_1_" + NewTrRowNum + "\" name=\"FinalLoadInN_1_" + NewTrRowNum + "\" role=\"\"  value=\"\" aria-invalid=\"false\" maxlength=\"10\"></input></td>" +
            "<td class=\"Strength\"><input class=\"form-control validate-onchange clsAddNew EditableTextColor islastrow valid\" id=\"Strength_1_" + NewTrRowNum + "\" name=\"Strength_1_" + NewTrRowNum + "\" role=\"\"  value=\"\" aria-invalid=\"false\" maxlength=\"10\"></input></td>" +
            "<td class=\"FractureLocation\"><input class=\"form-control validate-onchange clsAddNew EditableTextColor islastrow valid\" id=\"FractureLocation_1_" + NewTrRowNum + "\" name=\"FractureLocation_1_" + NewTrRowNum + "\" role=\"\"  value=\"\" aria-invalid=\"false\" maxlength=\"30\"></input></td>" +
            "<td class=\"Remark\"><input class=\"form-control validate-onchange clsAddNew EditableTextColor islastrow valid\" id=\"Remark_1_" + NewTrRowNum + "\" name=\"Remark_1_" + NewTrRowNum + "\" value=\"\" onblur=\"" + LastLine +"\" maxlength=\"40\"></input></td>" +
            "<td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"delRecord(this)\" style=\"display:none\"></i></td>" +
            "</tr>";
        return strhtml;
    }

    function delRecord(obj) {

        var r = confirm("Are you sure you want to delete this item?");
        if (r == true) {
            $(obj).parent().parent().remove();
            var RowCount = $("#hdGrid1LastRow").val();
            var iCo = 1;
            if (RowCount > 0) {
                for (var i = 0; i < RowCount; i++) {
                    var iCount = (i + 1);
                    if ($("#SrNo_1_" + iCount).length) {
                        document.getElementById("SrNo_1_" + iCount).textContent = iCo;
                        iCo = iCo + 1;
                    }
                }
            }
        }
    }

    $("#btnSave,#btnSavebtm").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", 0, ControllerURL + "/SavePullOutHeaderData", true, LoadSaveAndDraft);
        IsEdited = false;
    });

    function SaveProtocolHeaderData(frmProtocolHeader, HeaderId, URL, isSubmit, aftercallbackfn) {
        if ($("#" + frmProtocolHeader).valid()) {
            var frmHeaderValues = $("#" + frmProtocolHeader).serializeArray();

            var formdata = new FormData();
            if (frmHeaderValues != null && frmHeaderValues != undefined) {
                $.each(frmHeaderValues, function (key, input) {
                    formdata.append(input.name, input.value);
                });
                $.ajax({
                    url: WebsiteURL + URL,
                    type: "POST",
                    data: formdata,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        //showLoading(false);
                    },
                    success: function (res) {
                        if (res.Key && res.HeaderId > 0) {
                            $('#HeaderId').val(res.HeaderId);
                            if (aftercallbackfn != null && aftercallbackfn != undefined) {
                                aftercallbackfn();
                            }
                            DisplayNotiMessage("success", res.Value, "Success");
                            showLoading(false);
                        }
                        else
                            DisplayNotiMessage("error", res.Value, "Error");
                        showLoading(false);
                    },
                    error: function (data) { showLoading(false); }
                });
            }
        }
        else {
            DisplayNotiMessage("info", "All mandatory (*) fields are required", "Info");
        }
    }

    function AddNextRow($this, focuscolumn, focuswithintable, gridId, hdnRowID, tblId, $txtfocusColumn, paramList, aftercallbackfn, isnew, beforecallbackfn) {
        var prevRow = parseInt($("#" + hdnRowID).val());
        var nextRow = parseInt($("#" + hdnRowID).val()) + 1;

        var flag = true;
        if (isnew != true && ($this != null && $($this).val() != "" && $this != undefined) && (beforecallbackfn != null && beforecallbackfn != undefined)) {
            flag = beforecallbackfn($this); /* before adding new row, execute other call back function*/
        }
        if (flag) {
            if (GetParamCondition(paramList, gridId, prevRow) || isnew == true) {
                $("#Delete_" + gridId + "_" + prevRow).show();
                if (aftercallbackfn != null && aftercallbackfn != undefined) {
                    $("#" + tblId).find('select,input').removeClass('islastrow');
                    $("#" + tblId + " tr").removeClass('islastrow');
                    $("#" + tblId).append(aftercallbackfn(nextRow));
                }
                $("#" + $txtfocusColumn + "_" + gridId + "_" + nextRow).focus();
            }
        }
        else {
            if ($this != null && $this != undefined) {
                $($this).focus();
            }
        }
        if (isnew != true && ($this != null && $this != undefined) && (focuscolumn != null && focuscolumn != undefined)) {
            var row_index = $($this).parent().parent().index();
            if ($($this).val() == "") {
                if (focuswithintable) {
                    var cell = focuscolumn.split(',');
                    if ($("#" + tblId + " tbody>tr:eq(" + (row_index + 1) + ")").find('td.' + cell[0]).has("input[type=text]").length == 0) {
                        if ($("#" + tblId + " tbody>tr:eq(" + (row_index + 2) + ")").find('td.' + cell[0]).find("input").length > 0) {
                            $("#" + tblId + " tbody>tr:eq(" + (row_index + 2) + ")").find('td.' + cell[0]).find("input").focus();
                        }
                        else {
                            $("#" + cell[1]).focus();
                        }
                    }
                    else {
                        $("#" + tblId + " tbody>tr:eq(" + (row_index + 1) + ")").find('td.' + cell[0]).find("input").focus();
                    }
                }
                else { $("#" + focuscolumn).focus() }
            }
        }
    }

    function GetParamCondition(list, gridid, rowid, tblId, $this, $appendlocation) {
        var q = true;
        if (($this != null && $this != "" && $this != undefined) && ($appendlocation != "" && $appendlocation != undefined)) {
            $row = $("#" + tblId).find('tr.' + $appendlocation.split("__")[0]).last();
            $cells = $row.find("td input");
            $cells.each(function () {
                flg = $(this).val();
                if (q == true && (flg == "" || flg == null || flg == undefined || flg.legth == 0)) {
                    q = false;
                    return false;
                }
            });
        }
        else {
            for (var j = 0; j < list.length; j++) {
                var flg = "";
                flg = $("#" + list[j] + "_" + gridid + "_" + rowid).val();
                if (flg == "" || flg == null || flg == undefined || flg.legth == 0) {
                    q = false;
                    break;
                }
            }
        }
        return q;
    }

    $("body").on("keypress", ".onlyNumeric", function (e) {
        var keyCode = e.which ? e.which : e.keyCode;
        if (!(keyCode >= 48 && keyCode <= 57)) {
            return false;
        }
    });
</script>