﻿@model  IEMQSImplementation.WMI.WMI001
<div class="row">
    <div class="col-md-12">
        <div class="portlet-body">
            <div id="dvHeader" class="form-horizontal">

                <div class="form-group">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>From Project Detail</legend>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Location<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Location, "", new { @class = "form-control col-md-4", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Project<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Project, "", new { @class = "form-control col-md-3", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Project Descirption<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ProjectDesc, "", new { @class = "form-control col-md-4", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-12">
                        <fieldset>
                            <legend>To Project Detail</legend>
                            <form id="formCopy">
                                <div class="col-md-12">
                                    @Html.Hidden("hdnHeaderId", (int)ViewBag.OldId)
                                    <div class="col-md-4">
                                        <label class="control-label">Location<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBox("NewLocation", "", new { @class = "form-control col-md-4", @placeholder = "select" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Project<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBox("NewProject", "", new { @class = "form-control col-md-3", colname = "Project", @maxlength = "50" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Project Descirption<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBox("NewProjectDesc", "", new { @class = "form-control col-md-4", @maxlength = "500" })
                                        </div>
                                    </div>


                                </div>

                            </form>


                        </fieldset>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-8" style="text-align:right;margin-top:3%">
            <input type="button" id="btnSave" class="btn save" value="Save" />
            <input type="button" id="btnCancel" class="btn btnclose" value="Close" />
        </div>
    </div>
</div>

<br />


<script>
    $(document).ready(function () {

        $('#formCopy').validate({
            rules: {
                NewLocation: { required: true },
                NewProject: { required: true },
                NewProjectDesc: { required: true }
            },
            messages: {
                NewLocation: { required: "Location is Required" },
                NewProject: { required: "Project is Required" },
                NewProjectDesc: { required: "Project Description is Required" }
            }
        })

        $("#NewLocation").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/CTQ/DepartmentMaster/GetLocation",
                    dataType: "json",
                    type: "POST",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Value, value: item.Value, id: item.Value };
                        }));
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    $("#NewLocation").val(ui.item.label);
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $("#NewLocation").val('');
                }
                $("#NewProject").val('');
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

    });


    $("#btnSave").click(function () {
        if ($("#formCopy").valid()) {
            SaveNewProject();
        }
        else {
            HighlightInValidControls();
            return false;
        }
    });

    $("#btnCancel").click(function () {
        bootbox.hideAll();
    });

    function SaveNewProject() {
        $.ajax({
            url: WebsiteURL + "/WMI/MaintainWMI/CopyProject",
            type: "POST",
            datatype: "json",
            data: { OldHeaderId: $("#hdnHeaderId").val(), Location: $("#NewLocation").val(), Project: $("#NewProject").val(), Desc: $("#NewProjectDesc").val() },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (res) {
                if (res.Key) {
                    DisplayNotiMessage("success", res.Value, "Success");
                    bootbox.hideAll();
                    window.setTimeout(function () {
                        window.location.href = WebsiteURL + "/WMI/MaintainWMI/Maintain"
                    }, 1000);
                }
                else {
                    DisplayNotiMessage("error", res.Value, "Error");
                    return false;
                }
            },
            error: function (res) {
                showLoading(false);
                response = "";
                return false;
            }
        });
    }
</script>