﻿

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Welding Operator Performance Qualification (WOPQ) Certificate List
        </div>
        <div class="tools"> </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblWOPQCertificate" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">Location</th>
                    <th class="all">Specific Notes</th>
                    <th class="all">WQT No.</th>
                    <th class="all">Stamp No</th>
                    <th class="all">Welder Name</th>
                    <th class="all">Shop</th>
                    <th class="all">Joint Type</th>
                    <th class="all">Welding Process(es)</th>
                    <th class="all">Welding Type</th>
                    <th class="all">Valid upto</th>
                    <th class="all">P No</th>
                    <th class="all">F No</th>
                    <th class="all">Plate/Pipe Dia</th>
                    <th class="all">Deposit thickness(mm)</th>
                    <th class="all">Pos Groove Plate & Pipe >=610</th>
                    <th class="all">Pos Groove Pipe < 610</th>
                    <th class="all">Position of Fillet</th>
                    <th class="all">Base metal thickness in mm</th>
                    <th class="all">Backing</th>
                    <th class="all">Inert gas backing</th>
                    <th class="all">Circ. Weld Ovly</th>
                    <th class="all">Remarks</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var strLocation = '@ViewBag.Location';

        var table = $('#tblWOPQCertificate');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/WQ/WPQCertificate/LoadWMLDataWOPQCertificateData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'async': false
                });
            },
            "columns": [
                { "name": "Location", "sClass": "center", },
                { "name": "SpecificationNotes", "sClass": "center", },
                { "name": "WQTNo", "sClass": "center", },
                { "name": "Welder", "sClass": "center", },
                { "name": "WelderStampNo", "sClass": "center", },
                { "name": "Shop", "sClass": "center", },
                { "name": "TypeOfTestCoupon", "sClass": "center", },
                { "name": "WeldingProcessQualified", "sClass": "center", },
                { "name": "TypeQualified", "sClass": "center", },
                { "name": "ValueUpto", "sClass": "center", },
                { "bSortable": false, "sClass": "center", },
                { "bSortable": false, "sClass": "center", },
                { "name": "PlatePipeQualified", "sClass": "center", },
                { "name": "DepositedThicknessQualified", "sClass": "center", },
                { "name": "PlatePipePositionActual", "sClass": "center", },
                { "name": "PipeWeldingPositionQualified", "sClass": "center", },
                { "name": "PlatePipePositionQualified", "sClass": "center", },
                { "name": "BaseMetalThicknessQualified", "sClass": "center", },
                { "name": "BackingQualified", "sClass": "center", },
                { "name": "InertGasBackingQualified", "sClass": "center", },
                { "name": "CircWeldOvly", "sClass": "center", },
                { "name": "Remarks", "sClass": "center", },
            ]
        });
    });

</script>