﻿@model IEMQSImplementation.WPS010
@using IEMQSImplementation

<script>

    $('input[type="text"],textarea').attr("readonly", "readonly");
    if ('@Model.ShieldingGasGasType1' != '' && '@Model.ShieldingGasGasType1' != "null" && '@Model.ShieldingGasGasType1' != null) { $("#txtShieldingGasGasType1").val('@ViewBag.ShieldingGasGasType1') }
    if ('@Model.ShieldingGasGasType2' != '' && '@Model.ShieldingGasGasType2' != "null" && '@Model.ShieldingGasGasType2' != null) { $("#txtShieldingGasGasType2").val('@ViewBag.ShieldingGasGasType2') }
    if ('@Model.BackingGasGasType1' != '' && '@Model.BackingGasGasType1' != "null" && '@Model.BackingGasGasType1' != null) { $("#txtBackingGasGasType1").val('@ViewBag.BackingGasGasType1') }
    if ('@Model.BackingGasGasType2' != '' && '@Model.BackingGasGasType2' != "null" && '@Model.BackingGasGasType2' != null) { $("#txtBackingGasGasType2").val('@ViewBag.BackingGasGasType2') }
    if ('@Model.TrailingGasGasType1' != '' && '@Model.TrailingGasGasType1' != "null" && '@Model.TrailingGasGasType1' != null) { $("#txtTrailingGasGasType1").val('@ViewBag.TrailingGasGasType1') }
    if ('@Model.TrailingGasGasType2' != '' && '@Model.TrailingGasGasType2' != "null" && '@Model.TrailingGasGasType2' != null) { $("#txtTrailingGasGasType2").val('@ViewBag.TrailingGasGasType2') }
    if ('@Model.Tungsten' != '' && '@Model.Tungsten' != "null" && '@Model.Tungsten' != null) { $("#txtTungsten").val('@ViewBag.TungstenSelected') }
    if ('@Model.Modeofmetaltransfer' != '' && '@Model.Modeofmetaltransfer' != "null" && '@Model.Modeofmetaltransfer' != null) { $("#txtModeofmetaltransfer").val('@ViewBag.ModeofmetaltransferSelected') }
    if ('@Model.Pulsing' != '' && '@Model.Pulsing' != "null" && '@Model.Pulsing' != null) { $("#txtPulsing").val('@ViewBag.PulsingSelected') }

</script>

<div class="row" style="width:100%">
    <div class="col-md-12">
        <form id="frmButteringF3" class="form-horizontal">
            <div class="form-group">
                <fieldset>
                    <legend>Gas (QW-408)</legend>
                </fieldset>
                <fieldset>
                    <legend>Welding Process 1</legend>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Shielding Gas : Gas Type</label>
                            <input type="text" id="txtShieldingGasGasType1" name="txtShieldingGasGasType1" class="form-control col-md-3" />
                            @Html.HiddenFor(m => m.ShieldingGasGasType1)
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">%Composition</label>
                            @Html.TextBoxFor(m => m.ShieldingGasComposition1, new { @class = "form-control col-md-3", @maxlength = "20" })
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Flowrate(LPM)</label>
                            @Html.TextBoxFor(m => m.ShieldingGasFlowRateLPM1, new { @class = "form-control col-md-3", @maxlength = "20" })
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Backing Gas : Gas Type</label>
                            <input type="text" id="txtBackingGasGasType1" name="txtBackingGasGasType1" class="form-control col-md-3" />
                            @Html.HiddenFor(m => m.BackingGasGasType1)
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">%Composition</label>
                            @Html.TextBoxFor(m => m.BackingGasComposition1, new { @class = "form-control col-md-3", @maxlength = "20" })
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Flowrate(LPM)</label>
                            @Html.TextBoxFor(m => m.BackingGasFlowRateLPM1, new { @class = "form-control col-md-3", @maxlength = "20" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Trailing Gas:  Gas Type</label>
                            <input type="text" id="txtTrailingGasGasType1" name="txtTrailingGasGasType1" class="form-control col-md-3" />
                            @Html.HiddenFor(m => m.TrailingGasGasType1)
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">%Composition</label>
                            @Html.TextBoxFor(m => m.TrailingGasComposition1, new { @class = "form-control col-md-3", @maxlength = "20" })
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Flowrate(LPM)</label>
                            @Html.TextBoxFor(m => m.TrailingGasFlowRateLPM1, new { @class = "form-control col-md-3", @maxlength = "20" })
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Welding Process 2</legend>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Shielding Gas : Gas Type</label>
                            <input type="text" id="txtShieldingGasGasType2" name="txtShieldingGasGasType2" class="form-control col-md-3" />
                            @Html.HiddenFor(m => m.ShieldingGasGasType2)
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">%Composition</label>
                            @Html.TextBoxFor(m => m.ShieldingGasComposition2, new { @class = "form-control col-md-3", @maxlength = "20" })
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Flowrate(LPM)</label>
                            @Html.TextBoxFor(m => m.ShieldingGasFlowrateLPM2, new { @class = "form-control col-md-3", @maxlength = "20" })
                        </div>


                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Backing Gas : Gas Type</label>
                            <input type="text" id="txtBackingGasGasType2" name="txtBackingGasGasType2" class="form-control col-md-3" />
                            @Html.HiddenFor(m => m.BackingGasGasType2)
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">%Composition</label>
                            @Html.TextBoxFor(m => m.BackingGasComposition2, new { @class = "form-control col-md-3", @maxlength = "20" })
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Flowrate(LPM)</label>
                            @Html.TextBoxFor(m => m.BackingGasFlowrateLPM2, new { @class = "form-control col-md-3", @maxlength = "20" })
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Trailing Gas:  Gas Type</label>
                            <input type="text" id="txtTrailingGasGasType2" name="txtTrailingGasGasType2" class="form-control col-md-3" />
                            @Html.HiddenFor(m => m.TrailingGasGasType2)
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">%Composition</label>
                            @Html.TextBoxFor(m => m.TrailingGasComposition2, new { @class = "form-control col-md-3", @maxlength = "20" })
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Flowrate(LPM)</label>
                            @Html.TextBoxFor(m => m.TrailingGasFlowrateLPM2, new { @class = "form-control col-md-3", @maxlength = "20" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <label class="control-label">Other</label>
                            @Html.TextBoxFor(m => m.Other6, new { @class = "form-control col-md-3", @maxlength = "150" })
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Electrical Characteristics (QW-409)</legend>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Tungsten</label>
                            <input type="text" id="txtTungsten" name="txtTungsten" class="form-control col-md-3" />
                            @Html.HiddenFor(m => m.Tungsten)
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Tungsten Size(mm)</label>
                            @Html.TextBoxFor(m => m.TungstenSize, new { @class = "form-control col-md-3", @maxlength = "8" })
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Mode of metal transfer(GMAW/FCAW)</label>
                            <input type="text" id="txtModeofmetaltransfer" name="txtModeofmetaltransfer" class="form-control col-md-3" />
                            @Html.HiddenFor(m => m.Modeofmetaltransfer, new { @class = "form-control col-md-3" })
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Pulsing</label>
                            <input type="text" id="txtPulsing" name="txtPulsing" class="form-control col-md-3" />
                            @Html.HiddenFor(m => m.Pulsing, new { @class = "form-control col-md-3" })
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>
