﻿@using IEMQSImplementation
@model FKM006
@{
    ViewBag.Title = "Fullkit Managment System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>

<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<link href="~/Content/ThemeCss/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/select2/js/select2.full.min.js"></script>

<script src="~/Scripts/select2/js/select2.full.min.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/select2/components-select2.min.js"></script>
@*<style>
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            padding-right: 20px;
        }
    </style>*@
<style>
    table.dataTable thead .sorting_asc:after {
        content: "";
        text-align: left;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<script>
    $(document).ready(function () {
        $("#thRemove").removeClass('sorting_asc');
        $("#thRemove").css('width', '7px');

        var isSelected = false;
        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });




        var projectid, BU, location, ctq;
        if ('@ViewBag.Action'.toLowerCase() == "edit") {
            var strFKMS = '@ViewBag.Project';
            $("#thRemove").removeClass('sorting_asc');
            $("#thRemove").css('width', '7px');
            $("#txtProject").val(strFKMS);
            projectid = $('#txtProject').val();
            var Status = $('#FullKit_Status').val();

            $('#txtProject').prop("disabled", true);

            $("#FullKitManager").val('@ViewBag.FkManagerEdit');
            $("#Shop").val('@ViewBag.FkShop');

            LineId = 0;
            loadData($("#HeaderId").val());
            // fnCheckbox();
            $("#divFKMSLine").show();
            $("#btnSubmit").hide();
        }
        else {
            loadData(0);
        }


        $("#btnAdd").bind("click", function () {

            //projectid = $('#txtProject').val();
            //location = $('#lblLoca').html();
            HeaderID = '@Model.HeaderId'
            FKMS = $("#FullKit_No").val();
            LineId = 0;
            getFKMSDetails(FKMS, HeaderID, LineId);

        });

        $("#btnCreateKit").bind("click", function () {

            //projectid = $('#txtProject').val();
            //location = $('#lblLoca').html();
            HeaderID = '@Model.HeaderId'
            FKMS = $("#FullKit_No").val();
            $.ajax({
                type: "POST",
                url: "/FKMS/ManagerFKMS/SaveStatus",
                data: '{ ID: ' + HeaderID + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", "Fullkit has been offered to shop", "Success");
                        window.setTimeout('window.location.href = "/FKMS/ManagerFKMS/Index"', 1000);
                    }

                }
            });
        });

       

        //pop up for add lines




    });
</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body form">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "FKMSCreateForm", @class = "form-horizontal" }))
                        {
                            <div class="mt-element-ribbon bg-grey-steel" style="height:50px;">
                                <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                    <span class="page-title">Fullkit Managment System</span>
                                </div>
                                <div class="ribbon ribbon-right ribbon-color-warning ">
                                    <b>Status: <span id="spnStatus">@Html.DisplayFor(m => m.FullKit_Status)</span></b>
                                </div>
                                <p class="ribbon-content"></p>
                            </div>
                            <fieldset>
                                <legend> Fullkit Detail</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">
                                                Project
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">


                                                <input type="text" id="txtProject" value="" name="txtProject" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.Project)

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">
                                                Task UID
                                            </label>
                                            <div class="">
                                                @if (@ViewBag.Action == "edit")
                                                {
                                                    @Html.TextBoxFor(m => m.TaskID, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                }
                                                else
                                                {
                                                    <select id="TaskID" name="TaskID" class="form-control"></select>
                                                }

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">
                                                Fullkit Manager
                                            </label>
                                            <div class="">

                                                @Html.DropDownList("FullKitManager", (IEnumerable<SelectListItem>)ViewBag.FKManager, new { id = "FullKitManager", @class = "form-control" })


                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">
                                                Shop
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @*@Html.DropDownList("ddlShop", null, new { id = "ddlShop", @class = "form-control col-md-3" })*@
                                                @Html.DropDownList("Shop", (IEnumerable<SelectListItem>)ViewBag.Shop, new { id = "Shop", @class = "form-control" })


                                            </div>
                                        </div>



                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">
                                                FullKit Number
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.FullKit_No, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">
                                                FullKit Desc
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TaskDesc, new { @class = "form-control col-md-3", @readonly = "readonly" })

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">
                                                Item No
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Item, new { @class = "form-control col-md-3", @readonly = "readonly" })


                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="control-label">
                                                Task Manager
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ProjectManager, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">

                                        <div class="col-md-3">
                                            <label class="control-label">
                                                Planned Del Date
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Planned_del_date, new { @class = "form-control col-md-3" , @readonly = "readonly" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="control-label">
                                                CCPM Task Status
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBox("CCPMTaskStatus", (string)@ViewBag.TaskStatus, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>

                                    </div>
                                    <div id="hiddenfields" style="display:none">
                                        <input type="hidden" id="hdnDepartment" />
                                        @Html.HiddenFor(model => model.HeaderId)
                                        @Html.HiddenFor(model => model.FullKit_Status)
                                        @Html.Label("lblLoca", "HZW", new { id = "lblLoca", @class = "form-control col-md-3" })
                                    </div>

                                </div>

                            </fieldset>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4" style="text-align:right;margin-top:30px;">
                                        @*<button class="btn green" type="submit" style="float: right;" id="btnSubmit">Create FullKit</button>*@

                                        @*@{
                                                if (Model.Status.ToLower() == "approved" || Model.CTQRev > 0)
                                                {
                                                    <button class="btn green" style="margin-right:5px;" type="button" id="btnHistoryData">History</button>
                                                }
                                            }
                                            @if (Model.Status == "Approved")
                                            {
                                                <button class="btn green" style="margin-right:5px;" type="button" id="btnCopyData">Copy</button>
                                            }*@
                                    </div>
                                </div>
                            </div>
                        }
                        <hr />
                        <div id="divFKMSLine" style="display:none">

                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                    <div class="portlet box green">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                Fullkit Line Details
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblFKMSDet" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th id="thRemove" class="all">
                                                            <label class="mt-checkbox mt-checkbox-outline">
                                                                <input type='checkbox' id='line_chkAll' class='checkbox_lin' name='chkAll' /> <span></span>
                                                            </label>
                                                        </th>
                                                        <th class="min-phone-l">Type</th>
                                                        <th class="min-phone-l">Part No.</th>
                                                        <th class="min-phone-l">Item Code</th>
                                                        <th class="min-phone-l">
                                                            Child Kit
                                                            <br />Expected End Dt
                                                        </th>
                                                        <th class="min-phone-l">
                                                            Child Kit
                                                            <br />Status
                                                        </th>
                                                        <th class="min-phone-l">
                                                            Total BOM Qty
                                                            <br />(Used Qty)
                                                        </th>
                                                        <th class="min-phone-l">
                                                            Required
                                                            <br />Qty(BOM)
                                                        </th>
                                                        <th class="min-phone-l">Unit</th>
                                                        <th class="min-phone-l">
                                                            Allocated
                                                            <br /> Qty
                                                        </th>
                                                        <th class="min-phone-l">Ava Status</th>
                                                        <th class="min-phone-l">Ava Inventory</th>
                                                        <th class="min-phone-l">Action</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                   
                                    <button class="btn blue " style="float: right;" type="button" id="btnRefresh">Refresh Data</button>
                                    
                                    @if (@Model.FullKit_Status == "READY")
                                    {
                                        <button class="btn green " style="float: right;" type="button" id="btnCreateKit">Offer to Shop</button>
                                    }
                                </div>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>



    


    $(document).ready(function () {
        var Fno = $("#FullKit_No").val();
        if (Fno.indexOf('/') != -1) {
            $("#btnSpliteKit").hide();
        }


        $("#Add").click(function () {
            $("[id*=lblalert]").html("");
        });
    });

    $("body").on("focusout", "#txtProject", function () {
        FillTask();
    });


        


    $("#FullKitManager").change(function () {
        var data = { "ID": $("#HeaderId").val(), "FManager": $("#FullKitManager").val() };
        $.ajax({
            url: "/FKMS/ManagerFKMS/ChangeFManager",
            traditional: true,
            dataType: "html",
            type: 'POST',
            data: data,
            success: function (data) {
                DisplayNotiMessage("success", "Fullkit manager changed successfully", "Success");
            },
            error: function (data) {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            }
        });
    });

    $("#Shop").change(function () {
        var data = { "ID": $("#HeaderId").val(), "Shop": $("#Shop").val() };
        $.ajax({
            url: "/FKMS/ManagerFKMS/ChangeShop",
            traditional: true,
            dataType: "html",
            type: 'POST',
            data: data,
            success: function (data) {
                DisplayNotiMessage("success", "Shop has been changed successfully", "Success");
            },
            error: function (data) {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            }
        });
    });

   
    $("#btnRefresh").click(function () {
        
                        $("#line_chkAll").attr('checked', false);
                        var selectedLines = [];
                        $('input.checkbox_line').each(function () {
                            
                        });
                       
                 });

    function loadData(Id) {

        var oTable = $('#tblFKMSDet').dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,

            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
               [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": "/FKMS/ManagerFKMS/LoadFKMSLinesData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQLineHeaderId", "value": $('#HeaderId').val() });
                //{ "name": "Department", "value": Department });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'async': false
                });
            },
            "columns": [

                {
                    "bSortable": false,
                    "visible": false,
                    "sClass": "center",
                    "sWidth": "3%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        buttons = '<center>  <label class="mt-checkbox mt-checkbox-outline"> <input type="checkbox" id="line_checkbox" class="checkbox_line"  name="chkbox" value="' + row[0] + '"></input> <span></span> </label></center>';
                        return buttons;
                    }
                },
                {
                    "bSortable": false,
                    "sClass": "clsCenter",
                    "sWidth": "3%",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "50px",

                },
                {
                    "bSortable": false,
                    "sClass": "clsCenter"
                },
                {
                    "bSortable": false,
                    "sClass": "clsCenter"
                },
                {
                    "bSortable": false,
                    "sClass": "clsCenter"
                },
                {
                    "bSortable": false,
                    "sClass": "clsCenter"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
               {
                   "bSortable": false,
                   "sClass": "center"
               },

                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";

                        buttons = '<center><i data-modal="" id="btnEdit" name="btnAction" style="cursor:pointer;" Title="Edit Record" class="fa fa-pencil-square-o" onClick="getDetails(' + row[12] + ');"></i></center>';

                        return buttons;
                    }
                },
            ]
        });
    }

    function getDetails(Id) {

        var HeaderID = '@Model.HeaderId'
        var FKMS = $("#FullKit_No").val();
        getFKMSDetails(FKMS, HeaderID, Id)

    }

    function getFKMSDetails(FKMS, Id, LineId) {
        $.ajax({
            type: "POST",
            url: "/FKMS/ManagerFKMS/GetFKMSDetails",
            datatype: 'html',
            async: false,
            data: { FKMS: FKMS, Id: Id, LineId: LineId },
            success: function (result) {
                bootbox.dialog({
                    title: 'Fullkit Line Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn green',
                            callback: function () {
                                if ($("#frmFKMSDeatils").valid()) {
                                    var formData = new FormData();
                                    var frmValues = $('#frmFKMSDeatils').serializeArray();
                                    $.each(frmValues, function (key, input) {
                                        formData.append(input.name, input.value);
                                    });
                                    $.ajax({
                                        url: '/FKMS/ManagerFKMS/SaveFKMSLines',
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        type: 'POST',
                                        async: false,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                                loadData($("#HeaderId").val());
                                                // fnCheckbox();

                                                // ClearAll();
                                            }
                                            else {
                                                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                            }
                                        }
                                    });
                                }
                                else {
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Cancel',
                            className: 'btn green'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function FillTask() {
        var proj = $("#txtProject").val();
        var loc = $("#lblLoca").html();

        $.ajax({
            type: "POST",
            url: "/FKMS/ManagerFKMS/GetTask",
            data: '{ proj: "' + proj + '", loc: "' + loc + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (TaskID) {
                $("#TaskID").empty();
                for (var i = 0; i < TaskID.length; i++) {
                    $("#TaskID").append("<option value= " + TaskID[i].split('~')[0].trim() + "> " + TaskID[i] + "</option>");
                }
            }
        });
    }

    function GetOtherDetail() {
        var proj = $("#txtProject").val();
        var tsk = $("#TaskID").val();

        $.ajax({
            type: "POST",
            url: "/FKMS/ManagerFKMS/GetOtherDetail",
            data: '{ proj: "' + proj + '", tsk: "' + tsk + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (OtherData) {
                for (var i = 0; i < OtherData.length; i++) {
                    $("#Planned_del_date").val(OtherData[i].split('~')[0]);
                    $("#ProjectManager").val(OtherData[i].split('~')[2]);
                    $("#CCPMTaskStatus").val(OtherData[i].split('~')[1]);
                }


            }
        });
    }


    



</script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>









