﻿
@using IEMQSImplementation
    @model QCP001_Log

@{
    ViewBag.Title =Model.DocumentNo+"::"+Model.QCPRev;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 1.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 1px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<script>
    $(document).ready(function () {      
        var tblHeaderLines = $('#tblSublines');
        var oTableHeaderLines = tblHeaderLines.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",

                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            "searching": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]

            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/QCP/Maintain/LoadLinesHistoryData?refId="+@Model.Id ,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                {
                    "name": "id", "value": '@ViewBag.id'
                    //{ "name": "UserTypeId", "value": $('#ddlUserTypeList').val()
                });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHistoryLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHistoryLines").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "aoColumns": [

                {
                    "sClass": "center",
                },
                 {
                     "name" : "ReturnRemark",
                     "sClass": "center",
                 },
                  {
                      "name" : "MainCategory",
                      "sClass": "center",
                  },
                    {
                        "name" : "Activity",
                        "sClass": "center",
                    },
                     {
                         "name" : "ReferenceDoc",
                         "sClass": "center",
                     },
                      {
                          "name" : "Characteristics",
                          "sClass": "center",
                      },
                      {
                          "name" : "AcceptanceCriteria",
                          "sClass": "center",
                      },
                      {
                          "name" : "VerifyingDoc",
                          "sClass": "center",
                      },
                     {
                         "name" : "InitiatorRemark",
                         "sClass": "center",
                     },
                     {
                         "name" : "HeaderNotes",
                         "sClass": "center",
                     },
                     {
                         "name" : "FooterNotes",
                         "sClass": "center",
                     },
                     {
                         "name" : "TPIIntervention",
                         "sClass": "center",
                     },
                     {
                         "name" : "TPIIntervention2",
                         "sClass": "center",
                     },
                     {
                         "name" : "TPIIntervention3",
                         "sClass": "center",
                     },
                     {
                         "name" : "TPIIntervention4",
                         "sClass": "center",
                     },
                     {
                         "name" : "TPIIntervention5",
                         "sClass": "center",
                     },
                     {
                         "name" : "TPIIntervention6",
                         "sClass": "center",
                     },
                     {
                         "name" : "SubLineRev",
                         "sClass": "center",
                     },
                     {
                         "name" : "Status",
                         "sClass": "center",
                     }
            ]
        });
    });    
    
</script>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">

                @*<div class="row">
                    <div class="col-md-9" style="text-align:left">
                        <h1 class="page-title">
                          QCP Subcategory Details
                        </h1>
                    </div>
                    <div class="col-md-3" style="text-align:right">
            <a href="/QCP/Maintain/Index" class="btn green"> <i class="fa fa-angle-left"></i> Header List</a>
        </div>
    </div>*@
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">History Quality Control Plan</span>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>Project Detail</legend>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">Project</label>
                                        <div class="">

                                            @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">BU</label>
                                        <div class="">
                                            <input type="text" id="txtBU" value="@ViewBag.QCPBU" name="txtBU" readonly="readonly" class="form-control" />

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Customer</label>
                                        <div class="">
                                            <input type="text" id="Customer" value="@ViewBag.Customer" name="Customer" readonly="readonly" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Location</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">

                                    <div class="col-md-3">
                                        <label class="control-label">Purchase Order No</label>
                                        <div class="">
                                            <input type="text" id="PurchaseOrdNo" value="@ViewBag.purchaseOrderNo" name="PurchaseOrdNo" readonly="readonly" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Purchase Order Date</label>
                                        <div class="">
                                            <input type="text" class="form-control" value="@ViewBag.purchaseOrderDate" id="PurchaseOrdDate" name="PurchaseOrdDate" readonly="readonly" />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">Consultant</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Consultant, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Is ASME/ Non ASME?</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.ASME, new { @class = "form-control col-md-3 ", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Code Detail</legend>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">Abbreviation Code</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.AbbreviationCode, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Abbreviation Description</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.AbbreviationDesc, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Specification</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Specification, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Code</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>TPI Detail</legend>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">TPI1</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.TP1, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">TPI2</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.TP2, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">TPI3</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.TP3, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">TPI4</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.TP4, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">TPI5</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.TP5, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">TPI6</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.TP6, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-list"></i><span>QCP Details</span>
                                </div>
                                <div class="tools" id="dvExportHistoryLines">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/QCP/Maintain/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYLINES.GetStringValue(), dvId = "#dvExportHistoryLines" })
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover  " id="tblSublines" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="all">#</th>
                                            <th class="all">Remarks</th>
                                            <th class="all">Main Category</th>
                                            @*<th class="min-phone-l" style="display:none;">Sr.No Line</th>*@
                                            <th class="all">Mfg./Quality Activity</th>
                                            <th class="all">Ref.Doc.</th>
                                            <th class="all">Char.To Be Verified</th>
                                            <th class="all">Acceptance Criteria</th>
                                            <th class="all">Verifying Doc.</th>
                                            <th class="all">Init.Remarks</th>
                                            <th class="all">Header Notes</th>
                                            <th class="all">Footer Notes</th>
                                            <th class="all">TPI Intervention 1</th>
                                            <th class="all">TPI Intervention 2</th>
                                            <th class="all">TPI Intervention 3</th>
                                            <th class="all">TPI Intervention 4</th>
                                            <th class="all">TPI Intervention 5</th>
                                            <th class="all">TPI Intervention 6</th>
                                            <th class="all">RevNo.</th>
                                            <th class="all">Status</th>
                                            @*<th class="min-phone-l">Rev.Desc.</th>
                                            <th class="min-phone-l">Created By</th>
                                            <th class="min-phone-l">Created On</th>
                                            <th class="min-phone-l">Rev.No</th>
                                            <th class="min-phone-l">Status</th>
                                            <th class="min-phone-l">TPIIntervention</th>*@                                         
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-11" style="text-align:right">
                        </div>
                        <div class="col-md-1" style="text-align:right;">
                            <a href="~/QCP/Maintain/Index" class="btn red">Close</a>
                        </div>
                        </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>




