﻿@*@model IEMQS.DESCore.Data.SP_DES_GET_SIZE_BY_ID_Result

    <div class="modal-body">
        <table class="table table-bordered table--head-bg-secondary">
            <tbody>
                <tr>
                    <th>Size Code</th>
                    <td>@Html.DisplayFor(m => m.t_size)</td>
                </tr>
                <tr>
                    <th>Product</th>
                    <td>@Html.DisplayFor(m => m.t_prod)</td>
                </tr>
                <tr>
                    <th>Description 1</th>
                    <td>@Html.DisplayFor(m => m.t_dsca)</td>
                </tr>
                <tr>
                    <th>Description 2</th>
                    <td>@Html.DisplayFor(m => m.t_dscb)</td>
                </tr>
                <tr>
                    <th>Description 3</th>
                    <td>@Html.DisplayFor(m => m.t_dscc)</td>
                </tr>
                <tr>
                    <th>Wtft</th>
                    <td>@Html.DisplayFor(m => m.t_wtft)</td>
                </tr>
            </tbody>
        </table>
    </div>*@

<div class="modal-body">
    @*@Html.Hidden("Val", (object)ViewBag.Material)*@
    <div class="table-responsive">
        <table id="tblAllSizeCode" class="table table-hovered table-bordered table--head-bg-secondary "></table>
    </div>
</div>

<script src="~/DESAssets/js/All_SizeCode.js"></script>