﻿@model IEMQS.DESCore.PartGroupModel
@{
    ViewBag.Title = "Copy Part";
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
}



<div class="m-portlet__body">
    <div class="m-portlet m-portlet--mobile ">

        @using (Ajax.BeginForm("AddCopyPartGroup", "Part", new AjaxOptions { HttpMethod = "POST", OnSuccess = "CopyPartSuccess", OnBegin = "CopyPartBegin" }))
        {
            <div class="m-portlet__body">
                <h3 class="m-portlet__head-text">
                    @ViewBag.Title
                </h3>
                <div class="theme-form">
                    <div class="row m-0">
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Source Project <span class="m--font-danger">*</span></label>
                                <div class="col-6 pl-0">
                                    @Html.DropDownListFor(m => m.Project, ViewBag.ProjectList as SelectList, new { @class = "form-control m-input  m-input--square" })
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-6">@Html.ValidationMessageFor(x => x.Project, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Source Manufacture Item<span class="m--font-danger">*</span></label>
                                <div class="col-6 pl-0">
                                    @Html.DropDownListFor(m => m.ManufactureItem, new List<SelectListItem> { }, "Select", new { @class = "form-control m-input  m-input--square" })
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-6">@Html.ValidationMessageFor(x => x.ManufactureItem, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        


                        <table class="table  table-bordered mt-5">
                            <thead>
                                <tr>
                                        <th>Destination Project<span style="color:red;">*</span></th>
                                        <th>Destination Manufacture Item <span style="color:red;">*</span></th>
                                        <th>Actions</th>
                                    </tr>
                            </thead>
                            <tbody id="tbl_CopyPart">
                                @Html.Partial("_partialAddCopyPart", Model)
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <input type="submit" class="btn btn-info" value="Submit">
                        @*<button type="submit" class="btn btn-secondary">Cancel</button>*@
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{

    <script src="~/DESAssets/js/CopyPart.js"></script>
}
