﻿@model IEMQS.DESCore.PartModel
@{
    ViewBag.Title = "Part Detail";
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
}

<div class="m-portlet ">

    <div class="m-portlet__body">
        <div class="row">
            <h4 class="col-6 m-portlet__head-text">
                @Model.ItemKey
            </h4>
            <h4 class="col-6 text-right">
                <a href="#" id="btnPartHistory" class="btn btn-sm btn-success text-right">Part History</a>
                <a href="#" id="btnPartRevision" class="btn btn-sm btn-success text-right">Part Revision</a>
            </h4>
        </div>
        <!-- <div class="m-scrollable" data-scrollable="true" data-height="350" data-mobile-height="200">-->

        <div class="m-portlet m-portlet--mobile">
            @Html.HiddenFor(x => x.ItemId)
            @Html.HiddenFor(x => x.Project)
            @Html.HiddenFor(x => x.ItemKey)
            <div class="m-portlet__body">

                <div class="theme-form">
                    <div class="row m-0">
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Item Id Type </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.ItemKeyType, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Order Policy </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.OrderPolicy, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group m-form__group row">
                                <label class="col-3 col-form-label bg-secondary">Product Form </label>
                                <div class="col-9 pl-0">
                                    @Html.TextBoxFor(model => model.ProductFormCodeName, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Item Id</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.ItemKey, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Type</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.Type, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Policy </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(m => m.Policy, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                    @Html.HiddenFor(m => m.PolicyId)
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">
                                    Rev No
                                </label>
                                <div class="col-6 pl-0">
                                    <input type="text" value="R@(Model.RevNo)" class="form-control m-input  m-input--square" readonly="readonly" tabindex="-1" />
                                    @Html.HiddenFor(m => m.RevNo)
                                </div>
                            </div>
                        </div>





                        <div class="col-md-12">
                            <div class="form-group m-form__group row">
                                <label class="col-3 col-form-label bg-secondary">Material </label>
                                <div class="col-9 pl-0">
                                    <div class="input-group input-group-c">
                                        @Html.TextBoxFor(model => model.MaterialDesc, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                    </div> @*data-toggle="modal" data-target="#m_modal_1_2"*@
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Item Group </label>
                                <div class="col-6 pl-0">
                                    <div class="input-group input-group-c">
                                        @Html.TextBoxFor(model => model.ItemGroupDesc, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Procurement Drg</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.ProcurementDrgDocumentNo, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group m-form__group row">
                                <label class="col-3 col-form-label bg-secondary">	Item Description </label>
                                <div class="col-9 pl-0">
                                    @Html.TextBoxFor(m => m.ItemName, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group m-form__group row">
                                <label class="col-3 col-form-label bg-secondary">	String2 </label>
                                <div class="col-9 pl-0">
                                    @Html.TextBoxFor(m => m.String2, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                    @Html.HiddenFor(m => m.HdnString2)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group m-form__group row">
                                <label class="col-3 col-form-label bg-secondary">	String3 </label>
                                <div class="col-9 pl-0">
                                    @Html.TextBoxFor(m => m.String3, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                    @Html.HiddenFor(m => m.HdnString3)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group m-form__group row">
                                <label class="col-3 col-form-label bg-secondary">	String4 </label>
                                <div class="col-9 pl-0">
                                    @Html.TextBoxFor(m => m.String4, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                    @Html.HiddenFor(m => m.HdnString4)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">	ARM Set</label>
                                <div class="col-6 pl-0">
                                    <div class="input-group input-group-c">
                                        @Html.TextBoxFor(model => model.ARMSetDesc, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">	ARM Rev </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(m => m.ARMRev, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Size Code</label>
                                <div class="col-6 pl-0">
                                    <div class="input-group input-group-c">
                                        @Html.TextBoxFor(model => model.SizeCode, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Thickness </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(m => m.Thickness, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Clad PlatePart Thickness 1 </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(m => m.CladPlatePartThickness1, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Clad Specific Gravity 1</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(m => m.CladSpecificGravity1, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">IsDoubleClad </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.IsDoubleClad, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Clad PlatePart Thickness 2 </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(m => m.CladPlatePartThickness2, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Clad Specific Gravity 2 </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(m => m.CladSpecificGravity2, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Item Weight</label>
                                <div class="col-6 pl-0">
                                    <div class="input-group m-input-group input-group-list classProjectDetailsborder">
                                        @Html.TextBoxFor(m => m.ItemWeight, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                        <div class="input-group-append"><span class="input-group-text" id="basic-addon1">kg</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">
                                    UOM
                                </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(m => m.UOM, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">CRS (Yes/No)</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.CRSYN, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">
                                    Specific Gravity
                                </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(m => m.Density, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">
                                    Weight Factor
                                </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(m => m.WeightFactor, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
            <!-- </div>-->

            <div class="m-portlet__foot">
                <div class="row align-items-center">
                    <div class="col-lg-12 text-right">

                        @if (ViewBag.GetPolicySteps != null)
                        {
                            if (ViewBag.GetPolicySteps.Count > 0 && ViewBag.IsFirstStep == null)
                            {
                                if (Model.IsFromFKMS == false && Model.IsFromLN == false)
                                {
                                    <a href="/DES/Part/BackToReview?Id=@Model.ItemId" class="btn btn-warning backToReview">Return</a>
                                }
                            }

                            foreach (var Policy in ViewBag.GetPolicySteps)
                            {
                                <a href="/DES/Part/ItemLifeCycle?Id=@Policy.ItemId&PolicyOrderId=@Policy.PolicyOrderId&PolicyStep=@Policy.PolicyStep" class="btn text-white" style="background-color:@Policy.ColorCode">@Policy.PolicyStep</a>
                            }
                        }
                    </div>
                </div>
            </div>

            <hr />
            <h4 class="m-portlet__head-text">
                Parent Item List
            </h4>
            <table class="table table-bordered" id="tblParentItemList"></table>
            <hr />
            <h4 class="m-portlet__head-text">
                Child Item List
            </h4>
            <table class="table table-bordered" id="tblChildItemList"></table>
        </div>

    </div>


<div class="modal fade" id="m_modal_1_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100%;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Part History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modelbodyAllHistory"></div>
        </div>       
    </div>
</div>

<div class="modal fade" id="m_modal_1_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100%;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Part Revision</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modelbodyAllRevision"></div>
        </div>
    </div>
</div>



<div class="m-portlet">
    <div class="m-portlet__body">


        @if (ViewBag.GetLifeCycle.Count > 0)
        {
            <h4 class="m-portlet__head-text">
                Lifecycle
            </h4>
            <div class="row bs-wizard justify-content-center">
                @foreach (var Policy in ViewBag.GetLifeCycle)
                {

                    <div class="col-sm bs-wizard-step @(Policy.IsCompleted? " active":"") ">
                        <div class="text-center bs-wizard-stepnum">@Policy.PolicyStep</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>

                        @if (Policy.IsCompleted == true)
                        {
                            <a href="#" class="bs-wizard-dot" style="background-color:@(Policy.ColorCode)66"><span class="bs-wizard-dot-small" style="background-color:@(Policy.ColorCode)"></span></a>
                        }
                        else
                        {
                            <a href="#" class="bs-wizard-dot"><span class="bs-wizard-dot-small"></span></a>
                        }

                        @if (Policy.CreatedBy != null)
                        {
                            <div class="bs-wizard-info text-center">
                                @Policy.PolicyStep  By<br /> <span class="m--font-bold"> @Policy.CreatedBy </span>
                                <br />
                                @if (Policy.CreatedOn != null)
                                {
                                    <span class="m--font-bold"> on @(Policy.CreatedOn != null ? Policy.CreatedOn.ToString("dd/MM/yyyy") : "")</span>
                                }
                            </div>
                        }
                    </div>

                }
            </div>
        }


    </div>
</div>

<script>
    var iIds = $('#ItemId').val();
    $('#btnPartHistory').click(function () {
        PartHistory();
    });

    function PartHistory() {
        var getId = { ItemId: iIds };
        mApp.blockPage();
        $.ajax({
            url: '/DES/Part/GetAllHistory',
            data: JSON.stringify(getId),
            type: 'POST',
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            dataType: "Html",
            success: function (result) {
                mApp.unblockPage();
                $("#modelbodyAllHistory").html(result);
                $("#m_modal_1_3").modal("show");
            },
            error: function (xhr) {
                mApp.unblockPage();
            }
        });
    }
</script>

<script>
    var iIds = $('#ItemKey').val();
    $('#btnPartRevision').click(function () {
        PartRevision();
    });

    function PartRevision() {
        var getId = { ItemKey: iIds };
        mApp.blockPage();
        $.ajax({
            url: '/DES/Part/GetAllRevision',
            data: JSON.stringify(getId),
            type: 'POST',
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            dataType: "Html",
            success: function (result) {
                mApp.unblockPage();
                $("#modelbodyAllRevision").html(result);
                $("#m_modal_1_4").modal("show");
            },
            error: function (xhr) {
                mApp.unblockPage();
            }
        });
    }
</script>

<script src="~/DESAssets/js/Part_Detail.js"></script>
