﻿@model IEMQS.DESCore.PartPowerViewModel
@{
    ViewBag.Title = "Powerview";
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
}
@Html.HiddenFor(x => x.ItemId)

<div class="m-portlet">

    <div class="m-portlet__body">
        <div class="row">
            <div class="col-md-6">
                <h4 class="m-portlet__head-text">
                    BOM PowerView
                </h4>
            </div>
            <div class="col-md-6 text-right">
                <a href="#" id="expandAllTasks" class="btn btn-primary">Expand all</a> &nbsp; &nbsp;
                <a href="#" id="collapseAllTasks" class="btn btn-success">Collapse all</a>&nbsp; &nbsp;
                <a href="/DES/Part/TreeView?q=@Model.QString" class="btn btn-warning">Tree View</a>
            </div>
        </div>


        <div class="table-responsive">
            <table id="tblPowerView" class="table table-bordered table--head-bg-secondary">
                <thead>
                    <tr>
                        <th>Item Key</th>
                        <th>Type</th>
                        <th>Rev</th>
                        <th>Policy</th>
                        <th>Find No</th>
                        <th>Ext Find No</th>
                        <th>Item Name</th>
                        <th>Length</th>
                        <th>Width</th>
                        <th>Number of Pieces</th>
                        <th>Qty</th>
                        <th>UOM</th>
                        <th>Material</th>
                        <th>Status</th>
                        <th>Item Group</th>
                    </tr>
                </thead>

                @{


                    foreach (var item in Model.PowerViewModelList)
                    {


                        <tr data-tt-id="@item.ItemId" data-tt-parent-id="@item.ParentItemId" data-tt-level="@item.ParentItemId">
                            <td>@item.ItemKey</td>
                            <td>@item.Type</td>
                            <td><text>R</text>@item.Rev</td>
                            <td>@item.policy</td>
                            <td>@item.FindNumber</td>
                            <td>@item.ExtFindNumber</td>
                            <td>@item.ItemName</td>
                            <td>@item.Length</td>
                            <td>@item.Width</td>
                            <td>@item.NumberOfPieces</td>
                            <td>@item.Quantity</td>
                            <td>@item.UOM</td>
                            <td>@item.Material</td>
                            <td>@item.State</td>
                            <td>@item.ItemGroup</td>
                        </tr>


                    }
                }

            </table>
        </div>
    </div>
</div>
@*<script src="~/DESAssets/demo/default/custom/components/base/treeview.js"></script>*@
<script src="~/DESAssets/js/jquery.treetable.js"></script>
<script>
    $("#tblPowerView").treetable({
        expandable: true,
        clickableNodeNames: true,
    });
    $('#expandAllTasks').on('click', function (e) {
        e.preventDefault();
        $('#tblPowerView').treetable('expandAll');
    });
    $('#collapseAllTasks').on('click', function (e) {
        e.preventDefault();
        $('#tblPowerView').treetable('collapseAll');
    });
</script>
